<template>
  <div>
    <div @click="!readonly ? proxyEvent($event, 'startEditMode') : () => {}">
      <slot v-if="activatorVisible" name="activator" v-bind:proxyEvent="proxyEvent" />
    </div>

    <div v-if="!showDialog" v-show="editableVisible">
      <slot name="editable" v-bind:proxyEvent="proxyEvent" />
    </div>

    <v-dialog
      v-else
      v-model="dialog"
      width="800"
      @keydown.esc="proxyEvent($event, 'cancelEditMode')"
      scrollable
      persistent
    >
      <v-card>
        <v-card-title class="headline grey lighten-2" v-text="cardTitle" />

        <v-card-text class="py-5">
          <slot name="editable" v-bind:proxyEvent="proxyEventIdle" />
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click="proxyEvent($event, 'cancelEditMode')"
          >
            {{ cancelText }}
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="proxyEvent($event, 'saveEditValue')"
            :disabled="readonly || disableSave"
          >
            {{ saveText }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  /**
   * Properties.
   */
  props: {
    showDialog: {
      type: Boolean,
      required: false,
      default: false
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    },
    title: {
      type: String,
      required: false
    },
    save: {
      type: String,
      required: false,
      default: null
    },
    cancel: {
      type: String,
      required: false,
      default: null
    },
    startEditMode: {
      type: Function,
      required: true
    },
    cancelEditMode: {
      type: Function,
      required: true
    },
    saveEditValue: {
      type: Function,
      required: true
    },
    disableSave: {
      type: Boolean,
      default: false
    }
  },

  /**
   * Data variables.
   *
   * @return {{}}
   */
  data () {
    return {
      dialog: false
    }
  },

  /**
   * Computed variables.
   */
  computed: {
    activatorVisible () {
      return this.showDialog === true || (this.showDialog === false && this.dialog === false)
    },
    cardTitle () {
      return this.title || this.$t('edit')
    },
    editableVisible () {
      return this.showDialog === true || (this.showDialog === false && this.dialog === true)
    },
    cancelText () {
      return this.cancel || this.$t('cancel')
    },
    saveText () {
      return this.save || this.$t('save')
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Proxy event idle.
     */
    proxyEventIdle () {
      // Do nothing.
    },

    /**
     * Proxy event to origin component.
     *
     * @param event
     * @param eventName
     */
    proxyEvent (event, eventName) {
      // Switch event name.
      switch (eventName) {
        case 'startEditMode':
          // Start edit mode and check status.
          if (this.startEditMode(event) === true) {
            // Set dialog to true.
            this.dialog = true
          }

          // Break.
          break

        case 'saveEditValue':
          // Save edit value and check status.
          if (this.saveEditValue(event) === true) {
            // Set dialog to false.
            this.dialog = false
          }

          // Break.
          break

        case 'cancelEditMode':
          // Cancel edit mode.
          this.cancelEditMode(event)
          // Set dialog to false.
          this.dialog = false
          // Break.
          break
      }
    }
  }
}
</script>
