<template>
  <v-dialog
    v-model="dialog"
    width="500"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn class="editable-info-icon-button" :class="activatorClass" v-bind="attrs" v-on="on" icon :disabled="disabled">
        <v-icon :class="warning ? 'orange--text' : 'blue--text'">mdi-information-outline</v-icon>
      </v-btn>
    </template>

    <v-card>
      <AdCardTitle dialog>
        {{ $t('info') }}
      </AdCardTitle>

      <v-card-text class="mt-5" v-html="infoText" />

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="close" @click="dialog = false" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  /**
   * Properties.
   */
  props: {
    activatorClass: {
      type: String,
      required: false,
      default: ''
    },
    infoText: {
      type: [String, Array],
      required: false,
      default: null
    },
    warning: {
      type: Boolean,
      required: false,
      default: false
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  /**
   * Data variables.
   */
  data () {
    return {
      dialog: false
    }
  }
}
</script>

<style lang="scss" scoped>
.editable-info-icon-button {
  position: relative;
  top: -5px;
}
</style>
