<template>
  <div
    class="editable-text-field"
    v-bind:class="{'is-authenticated': isAuthenticated}"
  >
    <v-tooltip :disabled="!parsedTooltip" top>
      <template v-slot:activator="{ on: onTooltip }">
        <v-text-field
          ref="input"
          v-model.lazy="editableValue"
          v-bind="{...$props, ...$attrs}"
          v-on="{...onTooltip, ...$listeners, input: () => {}, change: () => {}}"
          :class="{'required': !!isRequired && !isReadonly, 'language-button-available': !!$scopedSlots['language-button'], 'readonly': !!isReadonly}"
          :error="isEditable && (!editableValue && isRequired)"
          :append-icon="(isEditable && (editableValue || !isRequired) && confirmationRequired) ? appendIcon : null"
          :clearable="isEditable && confirmationRequired ? edit : null"
          :readonly="isReadonly"
          :rules="parsedRules"
          @focus="startEditMode"
          @click:append="saveEditValue"
          @keydown.enter="saveEditValue"
          @click:clear="saveOrCancelEditMode"
          @keydown.esc="saveOrCancelEditMode"
          @blur="saveOrCancelEditMode"
        >
          <template #append><slot name="append"/></template>
          <template v-slot:append-outer>
            <slot name="append-outer">
              <div class="language-button-wrapper">
                <div class="language-button">
                  <slot name="language-button"></slot>
                </div>
              </div>
              <EditableInfoIcon v-if="!!infoText" :infoText="infoText"/>
            </slot>
          </template>
        </v-text-field>
      </template>
      <span>{{ parsedTooltip }}</span>
    </v-tooltip>
  </div>
</template>

<script>
import EditableInfoIcon from '@/components/Utilities/Editable/Helper/EditableInfoIcon'
import AbstractInput from '@/components/Utilities/Editable/Helper/AbstractInput'

export default {
  /**
   * Extends.
   */
  extends: AbstractInput,

  /**
   * Required components.
   */
  components: {
    EditableInfoIcon
  },

  /**
   * Properties.
   */
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },
    locales: {
      type: Array,
      required: false,
      default () {
        return this.$root.langs
      }
    },
    showDeleteIcon: {
      type: Boolean,
      required: false,
      default: false
    },

    // Vuetify props.
    appendOuterIcon: String,
    autofocus: Boolean,
    clearable: Boolean,
    clearIcon: String,
    counter: [Boolean, Number, String],
    counterValue: Promise,
    filled: Boolean,
    flat: Boolean,
    fullWidth: Boolean,
    label: String,
    outlined: Boolean,
    placeholder: String,
    prefix: String,
    prependInnerIcon: String,
    reverse: Boolean,
    rounded: Boolean,
    shaped: Boolean,
    singleLine: Boolean,
    solo: Boolean,
    soloInverted: Boolean,
    suffix: String,
    type: String
  },

  /**
   * Data variables.
   */
  data () {
    return {
      edit: false,
      editableValue: null
    }
  },

  computed: {
    appendIcon () {
      if (!this.editableValue && this.showDeleteIcon) {
        return 'mdi-delete'
      }

      return 'mdi-check'
    }
  },

  /**
   * Watchers.
   */
  watch: {
    /**
     * Watch changes of current value.
     */
    value: {
      immediate: true,
      handler (value) {
        // Set editable value in base of value.
        this.editableValue = this.prepareEditableValue(value)
        // Stop edit mode.
        this.edit = false
      }
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Start edit mode.
     */
    startEditMode () {
      // Check if current user is authenticated.
      if (this.isAuthenticated === true) {
        // Set edit to true.
        this.edit = true
        // Wait for the next tick.
        this.$nextTick(() => {
          // Focus input element.
          this.$refs.input.focus()
        })
      }
    },

    /**
     * Save or cancel edit mode.
     *
     * It forward to the right method depending if
     * confirmation required is true or not.
     */
    saveOrCancelEditMode () {
      // Check if confirmation is required.
      if (this.confirmationRequired === true) {
        // Cancel edit mode.
        this.cancelEditMode()
      } else {
        // Save edit value.
        this.saveEditValue()
      }
    },

    /**
     * Cancel edit mode.
     */
    cancelEditMode () {
      // Check if current user is authenticated.
      if (this.isAuthenticated === true) {
        // Set editable value in base of value.
        this.editableValue = this.prepareEditableValue(this.value)
        // Set edit back to false.
        this.edit = false
        // Blur input element.
        this.$refs.input.blur()
      }
    },

    /**
     * Save edit value.
     */
    saveEditValue () {
      // Prepare storable value.
      const storableValue = this.prepareStorableValue(this.editableValue)

      // Check if current user is authenticated and input is valid.
      if (this.isAuthenticated === true && this.isReadonly === false && this.$refs.input.validate() === true) {
        // Emit current input value.
        this.$emit('input', storableValue)
        // Emit current change value.
        this.$emit('change', storableValue)
        // Blur input element.
        this.$refs.input.blur()
      }

      // Check if value has not changed.
      if (storableValue === this.value) {
        // Set edit back to false.
        this.edit = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}

::v-deep .readonly.v-input--is-focused .v-label:after {
  font-family: 'Material Design Icons';
  -webkit-font-feature-settings: 'liga';
  content: "\F0341";
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.v-input__icon--append .v-btn::before {
  background-color: transparent;
}

.language-button-available ::v-deep .v-input__slot {
  padding-right: 70px;
}

.language-button-wrapper {
  position: relative;
  width: 0;

  .language-button {
    position: absolute;
    right: 10px;
    top: -1px;
  }
}
</style>
