<script>
import AbstractEditableString from '@/components/Utilities/Editable/EditableString/AbstractEditableString'

export default {
  /**
   * Extends.
   */
  extends: AbstractEditableString,

  /**
   * Properties.
   */
  props: {
    short: {
      type: Boolean,
      required: false,
      default: false
    },
    enableCopy: {
      type: Boolean
    },
    allowReservedOID: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  /**
   * Data variables.
   */
  data () {
    return {
      inputEl: null,
      defaultRequired: true
    }
  },

  /**
   * Computed variables.
   */
  computed: {
    /**
     * Return rules in base of short mode is active or not.
     *
     * @return {[]}
     */
    rules () {
      if (this.short) {
        return [v => /^(0|[1-9][0-9]*)$/.test(v) || this.$t('invalid-input')]
      }
      if (this.allowReservedOID) {
        return [v => /^[0-2](\.(0|[1-9][0-9]*))*$/.test(v) || this.$t('invalid-input')]
      }
      return [v => /^[0-2](\.(0|[1-9][0-9]*)){4,}$/.test(v) || this.$t('invalid-input')]
    },

    /**
     * Return tooltip if short mode is active.
     *
     * @return {string|boolean}
     */
    tooltip () {
      return this.short === true
        ? this.value
        : false
    }
  },

  methods: {
    /**
     * Prepare editable value.
     *
     * @param value
     * @return {string}
     */
    prepareEditableValue (value) {
      // Split by dot and get last item if short mode is active.
      return this.short === true
        ? value.split('.').pop() || value
        : value
    },

    /**
     * Prepare storable value.
     *
     * @param value
     * @return {string}
     */
    prepareStorableValue (value) {
      // Replace last split value with new value if short mode is active.
      return this.short === true
        ? `${this.value.split('.').slice(0, -1).join('.')}.${value}`
        : value
    },
    copyToClipboard () {
      if (this.enableCopy && this.isReadonly) {
        navigator.clipboard.writeText(this.value)
        this.$notify(this.$t('copied-to-clipboard'), 'info')
      }
    },
    setCssClasses () {
      if (!this.$el) return
      if (this.enableCopy) {
        this.$el.classList.add('copy')
      } else {
        this.$el.classList.remove('copy')
      }
    }
  },

  watch: {
    enableCopy: {
      immediate: true,
      handler () {
        this.setCssClasses()
      }
    }
  },

  mounted () {
    this.inputEl = this.$el.querySelector('input')
    this.inputEl.addEventListener('click', this.copyToClipboard)
    this.setCssClasses()
  },
  destroyed () {
    this.inputEl.removeEventListener('click', this.copyToClipboard)
  }
}
</script>
<style scoped>
.copy ::v-deep input {
  cursor: copy !important;
}
</style>
