<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-application-brackets">
              {{ $t('ada')}}
            </AdCardTitle>
            <v-card-text class="pt-4">
              <v-data-table
                :items="apps"
                :headers="headers"
                :hide-default-footer="apps.length <= 10"
                :loading="$store.state.project.loadingADA"
              >
                <template v-slot:[`item.app`]="{ item }">
                  <AdButton linkExternal :href="item.url">
                    {{ $filters.getMatchingTranslation({ value: item.app })}}
                  </AdButton>
                </template>
                <template v-slot:[`item.name`]="{ item }">
                  {{ $filters.getMatchingTranslation({ value: item['xformsName'] })}}
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  name: 'ADAPanel',
  computed: {
    breadcrumbs () {
      return [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' }
        },
        {
          text: this.$t('project'),
          disabled: true
        },
        {
          exact: true,
          text: this.$t('ada'),
          to: { name: 'project-ada' }
        }
      ]
    },
    apps () {
      return this.$store.getters['project/ADA'] || []
    },
    headers () {
      return [
        { value: 'app', text: this.$t('application') },
        { value: 'name', text: this.$t('name') }
      ]
    }
  },
  created () {
    this.$store.dispatch('project/getADAList').catch(error => {
      const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
      this.$oops(errorMessage)
    })
  }
}
</script>
