<template>
  <v-dialog :value="value" width="800" persistent>
    <v-card :loading="isLoading">
      <AdCardTitle dialog>
        {{ $t('add-implementation-guide') }}
      </AdCardTitle>

      <v-card-text class="px-0 pt-4">
        <AdInfoOwl inset>{{ $t('add-implementation-guide-hint') }}</AdInfoOwl>
        <ProjectFilter ref="projectFilter"/>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal" :disabled="isLoading"/>
        <AdButton type="add" @click="save" :disabled="isLoading"/>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import ProjectFilter from '@/components/Project/ProjectFilter'

import { cloneDeep } from 'lodash'

export default {
  components: {
    ProjectFilter
  },
  props: {
    value: {
      type: Boolean,
      required: true
    }
  },

  data () {
    return {
      isLoading: false
    }
  },

  methods: {
    closeModal () {
      this.$emit('input', false)
    },
    async save () {
      if (!this.$refs.projectFilter) {
        return
      }

      const selectedFilter = cloneDeep(this.$refs.projectFilter.selectedFilter)

      // prepare payload
      const filters = []

      if (selectedFilter?.length) {
        filters.push({
          filter: 'on',
          filterId: selectedFilter[0].id,
          filters: selectedFilter
        })
      } else {
        filters.push({
          filter: 'off'
        })
      }

      const data = { filters }

      try {
        this.isLoading = true
        await this.$store.dispatch('project/ig/postImplementationGuide', { data })
        this.closeModal()
        this.$notify(this.$t('submission-save-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      } finally {
        this.isLoading = false
      }
    }
  }
}
</script>
