<template>
  <v-layout>
    <v-container fluid>
      <template v-if="!(userIsIssueEditor || userIsDBA) ">
        <v-row>
          <v-col>
          <AdInfoOwl error>{{ $t('available-for-project-authors-only') }}</AdInfoOwl>
          </v-col>
        </v-row>
      </template>
      <template v-else>
        <AdBreadcrumbs :items="breadcrumbs" />
        <!-- Loading? -->
        <PanelLoading :loading="panelLoading" />
        <!--
          Project Author Panel
        -->
        <v-row v-if="!panelLoading">
          <v-col>
            <v-card>
              <AdCardTitle prependicon="mdi-account-multiple">
                <v-row no-gutters>
                <v-col cols="12" sm="6" class="d-flex align-center">{{ $t('project-authors') }}</v-col>
                <v-col cols="12" sm="6" class="d-flex align-center">
                <v-text-field
                    v-model="search"
                    class="mr-2"
                    append-icon="mdi-magnify"
                    :label="$t('search')"
                    single-line
                    hide-details
                    solo
                    dense
                    clearable
                  ></v-text-field>
                  </v-col>
              </v-row>
                <v-dialog
                  v-if="userIsDecorAdmin || userIsDBA"
                  v-model="addUserToProjectDialog"
                  persistent
                  hide-overlay
                  width="800"
                >
                  <template #activator="{ on: addUserToProjectDialog }">
                    <v-tooltip bottom>
                      <template #activator="{ on: tooltip }">
                        <v-btn
                          v-show="addUserToProjectDialog"
                          v-on="{ ...tooltip, ...addUserToProjectDialog }"
                          color="orange"
                          dark
                          fab
                          small
                          depressed
                          class="mx-2"
                        >
                          <v-icon>mdi-plus</v-icon>
                        </v-btn>
                      </template>
                      <span>{{ $t("add-author") }}</span>
                    </v-tooltip>
                  </template>
                  <v-card>
                   <AdCardTitle dialog>
                      {{ $t("add-author") }}
                   </AdCardTitle>
                    <v-card-text class="pa-5">
                      <v-text-field
                        v-model="usersearch"
                        class="mr-2 pb-3"
                        append-icon="mdi-magnify"
                        :label="$t('search')"
                        single-line
                        hide-details
                        solo
                        dense
                        clearable
                      ></v-text-field>
                      <v-form
                        ref="newSystemUserForm"
                        v-model="newProjectUser.valid"
                      >
                        <v-data-table
                          v-model="userSelected"
                          :items="usersList"
                          item-key="name"
                          :headers="headers"
                          :search="usersearch"
                          :custom-filter="searchAuthorAdd"
                          show-select
                          @click:row="(item, {select, isSelected}) => select(!isSelected)"
                          :hide-default-footer="usersList.length <= 10"
                          :footer-props="{ 'items-per-page-options': [5, 10] }"
                          class="elevation-1"
                        >
                          <template #item.#text="{ item }">
                            <strong>{{ item.displayName }}</strong>
                          </template>

                          <template #item.dbactive="{ item }">
                            <v-chip
                              v-if="item.active === 'true'"
                              color="green lighten-4"
                              class="ml-0 mr-2 black--text"
                              label
                              small
                            >
                              {{ $t("account-active") }}
                            </v-chip>
                            <v-chip
                              v-else
                              color="red lighten-4"
                              class="ml-0 mr-2 black--text"
                              label
                              small
                            >
                              {{ $t("account-inactive") }}
                            </v-chip>
                          </template>

                          <template #item.projectActive="{ item }">
                             <v-icon v-if="$filters.isExpired(item.expirationDate)" small>mdi-stop-circle-outline</v-icon>
                             <v-icon v-else-if="item.existing || isUserSelected(item)" small>mdi-check</v-icon>
                          </template>

                          <template #item.username="{ item }">
                            <span
                              v-if="item.name"
                              class="grey--text text-truncate hidden-sm-and-down"
                            >
                              &mdash;
                              {{ item.name }}
                            </span>
                          </template>
                          <template #item.data-table-select="{ item, isSelected, select }">
                            <v-simple-checkbox
                              :value="item.existing || isSelected"
                              :readonly="item.existing"
                              :disabled="item.existing"
                              @input="select($event)"
                              :ripple="false"
                            ></v-simple-checkbox>
                          </template>
                          <template #no-data>
                            <AdInfoOwl chat error>Sorry, you there are no users to add to this project :(</AdInfoOwl>
                          </template>
                        </v-data-table>
                      </v-form>
                    </v-card-text>
                    <v-card-actions class="dialogbottomstrip">
                      <v-spacer></v-spacer>
                      <AdButton
                        type="cancel"
                        @click="addUserToProjectDialog = false"
                      />
                      <div class="pr-3"></div>
                      <AdButton
                        type="add"
                        :disabled="userSelected.length === 0"
                        @click="addProjectUsers"
                      />
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </AdCardTitle>
              <v-card-text class="pt-4" v-if="projectAuthors.length === 0">
                {{ $t("no-authors") }}
              </v-card-text>
              <v-card-text class="pt-4" v-else>
                <v-row>
                  <v-col>
                    <v-data-table
                      v-if="editableAuthors"
                      :items="editableAuthors"
                      :headers="headers"
                      item-key="username"
                      show-expand
                      :search="search"
                      :custom-filter="userSearch"
                      :expanded.sync="expanded"
                      @click:row="(item, {expand, isExpanded}) => expand(!isExpanded)"
                      :hide-default-footer="editableAuthors && editableAuthors.length <= 10"
                    >
                      <template #item.avatar="{ item }">
                        <v-avatar
                          size="36px"
                          :color="item.active === 'true'? 'green lighten-4' : 'grey lighten-2'">
                          <span class="white--text avatartext">
                            {{
                               avatartext(item)
                            }}
                          </span>
                        </v-avatar>
                      </template>

                      <template #item.#text="{ item }">
                        <strong v-if="item['#text'] > ' '"  v-html="item['#text']"></strong>
                        <span v-else v-html="item.username"></span>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                              <v-icon
                                v-if="item.username === currentUsername && userIsDecorAdmin"
                                v-on="on"
                                class="pl-3"
                                color="grey"
                              >mdi-account-supervisor</v-icon>
                            </template>
                          <span>{{ $t('project-administrator') }}</span>
                        </v-tooltip>
                      </template>

                      <template #item.dbactive="{ item }">
                        <v-chip
                          v-if="item.dbactive === 'true'"
                          color="green lighten-4"
                          class="ml-0 mr-2 black--text"
                          label
                          small
                        >
                          {{ $t("account-active") }}
                        </v-chip>
                        <v-chip
                          v-else
                          color="red lighten-4"
                          class="ml-0 mr-2 black--text"
                          label
                          small
                        >
                          {{ $t("account-inactive") }}
                        </v-chip>
                      </template>

                      <template #item.projectActive="{ item }">
                        <v-chip
                          v-if="item.active === 'true' && item.dbactive === 'true'"
                          color="green lighten-4"
                          class="ml-0 mr-2 black--text"
                          label
                          small
                        >
                          {{ $t("active") }}
                        </v-chip>
                        <v-chip
                          v-else-if="item.active === 'false' && !item.expirationDate"
                          color="red lighten-4"
                          class="ml-0 mr-2 black--text"
                          label
                          small
                        >
                          {{ $t("inactive") }}
                        </v-chip>
                        <v-chip
                          v-else-if="$filters.isExpired(item.expirationDate)"
                          color="red lighten-4"
                          class="ml-0 mr-2 black--text"
                          label
                          small
                        >
                          {{ $t('expired') }}
                          {{ $filters.formatDateShort(item.expirationDate) }}
                        </v-chip>
                        <v-chip
                          v-else-if="item.active === 'true' && item.dbactive === 'false'"
                          color="red lighten-4"
                          class="ml-0 mr-2 black--text"
                          label
                          outlined
                          small
                        >
                          {{ $t("disabled") }}
                        </v-chip>
                      </template>

                      <template #item.username="{ item }">
                        <span
                          v-if="item.username"
                          class="grey--text text-truncate hidden-sm-and-down"
                        >
                          &mdash;
                          {{ item.username }}
                        </span>
                      </template>

                      <template #expanded-item="{ headers, item }">
                        <td :colspan="headers.length" class="pa-5 grey lighten-4">
                          <v-row no-gutters>
                            <v-col cols="3" class="pr-5">
                              <EditableEmail
                                v-model="item.email"
                                :label="$t('email')"
                                maxlength="50"
                                confirmation-required
                                :required="false"
                                :loading="loading.email.includes(item.username)"
                                @change="updateAuthor(item, 'email')"
                                :disabled="!decorAdminOrSelf(item)"
                              ></EditableEmail>
                            </v-col>
                            <v-col cols="5" class="pr-5">
                              <v-switch
                                v-model="item.notifier"
                                :label="$t('issue-subscription')"
                                false-value="off"
                                true-value="on"
                                @change="updateAuthor(item, 'notifier')"
                                :loading="loading.notifier.includes(item.username)"
                                :disabled="!decorAdminOrSelf(item)"
                              ></v-switch>
                              <AdInfoOwl>{{ $t('issue-subscription-hint') }}</AdInfoOwl>
                            </v-col>
                            <v-col cols="4" class="pr-5">
                              <EditableDate
                                :value="parsedExpirationDate(item)"
                                :label="$t('expiration-date')"
                                :loading="loading.expirationDate.includes(item.username)"
                                @change="setExpirationDate(item, $event); updateAuthor(item, 'expirationDate')"
                                :clearable="true"
                                @click:clear="setExpirationDate(item, null); updateAuthor(item, 'expirationDate')"
                                :disabled="!userIsDecorAdmin"
                              />
                              <AdInfoOwl v-if="item.dbactive !== 'true'">{{ $t('expired-or-no-system-account-hint') }}</AdInfoOwl>
                              <AdInfoOwl v-else-if="item.active === 'false' && $filters.isExpired(item.expirationDate)" error>{{ $t('project-author-is-expired-hint') }}</AdInfoOwl>
                              <AdInfoOwl v-else-if="item.active === 'false'" error>{{ $t('inactive')}}</AdInfoOwl>
                              <AdInfoOwl v-else-if="userIsDecorAdmin">{{ $t('project-author-set-expire-hint') }}</AdInfoOwl>
                            </v-col>
                          </v-row>
                        </td>
                      </template>

                    </v-data-table>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-container>
  </v-layout>
</template>

<script>
import PanelLoading from '@/components/Utilities/PanelLoading'
import AdCardTitle from '@/components/Utilities/AdCardTitle'
import AdButton from '@/components/Utilities/AdButton'
import { cloneDeep } from 'lodash'

export default {
  name: 'AuthorPanel',
  components: {
    PanelLoading,
    AdCardTitle,
    AdButton
  },
  computed: {
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['project-authors']
        },
        {
          text: this.$t('project'),
          disabled: true,
          show: ['project-authors']
        },
        {
          exact: true,
          text: this.$t('authors'),
          to: { name: 'project-authors' },
          show: ['project-authors']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    decorAdminOrSelf () {
      return author => this.userIsDecorAdmin || author.username === this.$store.getters['authentication/getUsername']
    },
    currentUsername () {
      return this.$store.getters['authentication/getUsername']
    },
    usersList () {
      // Mark all users that are already author in the project
      const users = this.$store.getters['server/users'].map(user => {
        const u = this.$store.getters['project/authors'].find(author => author.username === user.name)
        if (u) {
          user.existing = true
          user.expirationDate = u.expirationDate
        }
        return user
      }) || []
      return users
    },
    headers () {
      return [
        {
          text: '',
          value: 'avatar',
          sortable: false
        },
        {
          text: this.$t('name'),
          value: '#text',
          sortable: true
        },
        {
          text: this.$t('server-account'),
          value: 'dbactive',
          sortable: false
        },
        {
          text: this.$t('project-author'),
          value: 'projectActive',
          sortable: false
        },
        {
          text: this.$t('username'),
          value: 'username',
          sortable: true
        },
        {
          text: '',
          value: 'data-table-expand',
          sortable: false
        }
      ]
    },
    isUserSelected () {
      return item => this.userSelected?.some(user => user.name === item.name)
    },
    parsedExpirationDate () {
      return item => item.expirationDate?.split('T')?.[0]
    },
    projectAuthors () {
      return this.$store.getters['project/authors']
    }
  },

  data () {
    return {
      addUserToProjectDialog: false,
      addUserToProjectForm: null,
      editableAuthors: null,
      expanded: [],
      loading: {
        email: [],
        expirationDate: [],
        notifier: []
      },
      newProjectUser: {
        model: {},
        state: {},
        valid: false
      },
      panelLoading: true,
      search: null,
      userSelected: [],
      usersearch: ''
    }
  },

  watch: {
    /**
     * Watch is user logged in state.
     */
    isUserLoggedIn: {
      immediate: true,
      handler () {
        // Get users list.
        this.getActiveDecorUsersList()
      }
    },
    projectAuthors: {
      deep: true,
      immediate: true,
      handler (authors) {
        this.editableAuthors = cloneDeep(authors)
      }
    }
  },

  methods: {
    async getActiveDecorUsersList () {
      if (this.userIsIssueEditor || this.userIsDBA) {
        this.panelLoading = true
        this.$store.dispatch('server/setUsers', { params: { active: true, groups: 'decor' } })
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || this.$t('error-loading-users')
            this.$alert(errorMessage)
          })
          .finally(() => {
            this.panelLoading = false
          })
      }
    },

    async addProjectUsers () {
      // Create data object for add new author on api.
      const data = {
        parameter: Object.values(this.userSelected || []).map((author) => ({
          op: 'add',
          path: '/author',
          value: {
            author: {
              username: author.name,
              notifier: 'off',
              email: author.email,
              active: 'true',
              '#text': author.displayName
            }
          }
        }))
      }

      this.$store.dispatch('project/patchProject', { data, path: 'author' })
        .then(() => {
          // Emit so other clients can fetch the new authorList based on their own permissions
          const prefix = this.projectInFocus?.prefix
          if (prefix) {
            this.$socket.emit('projectAuthorsUpdated', { prefix, forceApiCall: true })
          }
          return true
        })
        .then(() => {
          return this.$store.dispatch('project/getProjectAuthorList', { prefix: this.projectInFocus?.prefix })
        })
        .then(() => {
          this.$notify(this.$t('submission-update-success-label'), 'success')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })

      this.$nextTick(() => {
        this.addUserToProjectDialog = false
      })
      this.userSelected = []
    },

    searchAuthorAdd (value, search, item) {
      const displayName = item.displayName.toLowerCase()
      const name = item.name.toLowerCase()
      const query = search.toLowerCase()
      return displayName?.includes(query) || name?.includes(query)
    },
    setExpirationDate (item, value) {
      item.expirationDate = value === null ? null : `${value}T00:00:00`

      if (item.expirationDate !== null && this.$filters.isExpired(item.expirationDate)) {
        item.active = 'false'
      } else {
        item.active = 'true'
      }
    },
    async updateAuthor (author, field) {
      try {
        const data = {
          parameter: [
            {
              op: 'replace',
              path: '/author',
              value: {
                author
              }
            }
          ]
        }

        if (Array.isArray(this.loading[field])) {
          this.loading[field].push(author.username)
        }
        await this.$store.dispatch('project/patchProject', { data, path: 'author' })

        // Emit so other clients can fetch the new authorList based on their own permissions
        const prefix = this.projectInFocus?.prefix
        const forceApiCall = field === 'expirationDate'
        if (prefix) {
          this.$socket.emit('projectAuthorsUpdated', { prefix, forceApiCall })
        }

        await this.$store.dispatch('project/getProjectAuthorList', { prefix: this.projectInFocus?.prefix })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)

        if (Array.isArray(this.projectAuthors) && this.projectAuthors.length > 0) {
          this.editableAuthors = cloneDeep(this.projectAuthors)
        } else {
          this.editableAuthors = null
        }
      } finally {
        if (Array.isArray(this.loading[field])) {
          this.loading[field] = this.loading[field].filter(user => user !== author.username)
        }
      }
    },
    avatartext (item) {
      const n = item['#text'] ? item['#text'] : item.username
      const m = n.split(/(\s).+\s/).join('') // first + last part
      const f = m.match(/\b(\w)/g)
      return f.join('').toUpperCase()
    },
    userSearch (value, search, item) {
      const nameMatches = !!item['#text']?.toLowerCase()?.includes(search?.toLowerCase())
      const usernameMatches = !!item.username?.toLowerCase()?.includes(search?.toLowerCase())
      return usernameMatches || nameMatches
    }
  }
}
</script>

<style lang="scss" scoped>
  .avatartext {
    background: transparent;
    font-size: 100% !important;
    font-weight: bold;
  }
  .expanded-closing {
    border-bottom: none !important;
  }
</style>
