<template>
  <v-dialog
    :value="showDialog"
    width="1100"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ $t('compile-development') }}</AdCardTitle>
      <v-card-text class="pa-5">
        <v-card flat class="mb-4">
          <AdInfoOwl warning v-if="labellessTransactions > 0"
            >{{ $t('transaction-label-missing', { missings: labellessTransactions }) }}
          </AdInfoOwl>
          <AdCardTitle inline>
            {{ $t('transactions') }} ({{ parsedTransactionCount }})
            <v-spacer />
            <v-col cols="6">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                :label="$t('search')"
                single-line
                hide-details
                clearable
                class="my-1"
              />
            </v-col>
            <v-col cols="auto">
              <v-menu
                :close-on-content-click="false"
                offset-y
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    :class="{'green': hasActiveFilters}"
                    v-bind="attrs"
                    v-on="on"
                    :color="hasActiveFilters ? 'white' : 'light-green darken-2'"
                    icon
                    outlined
                    small
                  >
                    <v-icon small>mdi-filter</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item-group>
                    <v-list-item
                      v-for="(filter, key) of filters"
                      :key="key"
                      @click="filter.active = !filter.active"
                    >
                      <v-list-item-action>
                        <v-checkbox
                          :input-value="filter.active"
                          color="primary"
                        />
                      </v-list-item-action>
                      <v-list-item-content>
                        <v-list-item-title>{{ transactionTypeName(filter.name) }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-menu>
            </v-col>
          </AdCardTitle>
          <v-card-text class="mt-2">
            <v-data-table
              v-model="selectedTransactions"
              :headers="transactionTableHeaders"
              :items="filteredTransactions"
              item-key="id"
              :loading="$store.state.scenario.loading.scenarioItems"
              show-select
              :items-per-page="5"
              :hide-default-footer="transactions.length <= 5"
              :hide-default-header="!transactions.length"
              :search="search"
              :custom-filter="searchFilter"
            >
              <template v-slot:[`item.name`]="{ item }">
                  <AdStatusDot
                    larger
                    :status="item.statusCode"
                    :icon="$filters.getScenarioIcon(item.type)"
                    tooltip
                    class="mr-1 mb-1"
                  />
                  {{ $filters.getMatchingTranslation({value: item.name}) }}
                  <v-tooltip bottom v-if="item.label === ''">
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon color="warning" dark v-bind="attrs" v-on="on" small class="ml-2">mdi-alert</v-icon>
                    </template>
                    <span>{{$t('no-transaction-label')}}</span>
                  </v-tooltip>
                  <span v-else class="font-italic">({{item.label}})</span>
              </template>
              <template v-slot:[`item.statusCode`]="{ item }">
                <AdStatusDot v-if="item.statusCode" class="pr-1" :status="item.statusCode"  />
                {{ $t(item.statusCode) }}
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
        <v-card flat>
          <AdCardTitle inline>{{ $t('parameters')}}</AdCardTitle>
          <v-card-text>
            <v-row>
              <v-col cols="3">
                <EditableSwitch
                  v-model="selectedParameters.schematronClosed"
                  :label="$t('create-closed-schematron')"
                />
              </v-col>
              <v-col cols="3">
                <EditableSwitch
                  v-model="selectedParameters.explicitIncludes"
                  :label="$t('create-explicit-includes')"
                  :infoText="$t('explicitIncludesHint')"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$emit('cancel')" :disabled="disabled" />
        <AdButton
          type="validate"
          :hint="$t('compile-development')"
          :text="$t('compile-development')"
          depressed
          :disabled="!selectedTransactions.length || disabled"
          @click="confirm"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'CompilationAdd',
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      filters: [
        { name: 'initial', active: false },
        { name: 'back', active: false },
        { name: 'stationary', active: false }
      ],
      selectedTransactions: [],
      selectedParameters: {
        schematronClosed: 'false',
        explicitIncludes: 'false'
      },
      search: ''
    }
  },
  computed: {
    filteredTransactions () {
      const activeFilters = this.filters
        .filter((filter) => filter.active)
        .map((filter) => filter.name)
      if (activeFilters.length) {
        return this.transactions.filter((transaction) => activeFilters.includes(transaction.type)) || []
      }
      return this.transactions
    },
    hasActiveFilters () {
      return this.filters.filter((filter) => filter.active === true).length > 0
    },
    parsedTransactionCount () {
      return this.selectedTransactions.length === this.transactions.length ? this.$t('all') : this.selectedTransactions.length
    },
    labellessTransactions () {
      let miss = 0
      this.transactions.forEach(t => { if (t.label === '') miss = miss + 1 })
      return miss
    },
    transactions () {
      const transactionList = []

      // Get all transactions from scenario list with type 'initial', 'back' or 'stationary'
      if (this.$store.state.scenario.scenarioItems.length > 0) {
        this.$store.state.scenario.scenarioItems.forEach(scenario => {
          if (scenario.transaction) {
            scenario.transaction.forEach((group) => {
              if (group.transaction) {
                group.transaction.forEach((transaction) => {
                  if (['initial', 'back', 'stationary'].includes(transaction.type) && transaction.representingTemplate !== null) {
                    transactionList.push(transaction)
                  }
                })
              }
            })
          }
        })
      }

      return transactionList
    },
    transactionTableHeaders () {
      return [
        { value: 'name', text: this.$t('name') + ' / ' + this.$t('label') },
        { value: 'statusCode', text: this.$t('status') },
        { value: 'id', text: this.$t('id') },
        { value: 'effectiveDate', text: this.$t('version') }
      ]
    },
    transactionTypeName () {
      return type => {
        const types = this.$store.getters['server/getDecorTypes']?.data?.TransactionType?.[0]?.enumeration
        const value = types.find(t => t.value === type)?.label || type
        return this.$filters.getMatchingTranslation({ value, locale: this.$i18n.locale })
      }
    }
  },
  watch: {
    async showDialog (newVal) {
      if (newVal) {
        this.search = ''
        this.selectedParameters.explicitIncludes = 'false'
        this.selectedParameters.schematronClosed = 'false'
        this.selectedTransactions = []
        if (!this.$store.state.scenario.loaded.scenarioItems) {
          await this.fetchTransactions()
        }
        if (this.selectedTransactions.length === 0) {
          this.selectedTransactions = this.transactions
        }
      }
    }
  },
  methods: {
    confirm () {
      const transactions = []
      this.selectedTransactions.forEach(t => {
        transactions.push({
          ref: t.id || t.ref,
          flexibility: t.effectiveDate || t.flexibility,
          statusCode: t.statusCode,
          name: this.$filters.getMatchingTranslation({ value: t.name })
        })
      })
      const payload = {
        transactions,
        parameters: this.selectedParameters
      }
      this.$emit('compile', payload)
    },
    async fetchTransactions () {
      return this.$store.dispatch('scenario/loadScenarioItems')
        .catch((error) => {
          this.$oops(error.message)
        })
    },
    searchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const query = search.toLowerCase()
      return name.includes(query)
    }
  }

}
</script>
