<template>
  <v-dialog
    :value="showDialog"
    width="1200"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ $t('check-decor') }}</AdCardTitle>
      <v-card-text class="pa-0">
        <v-stepper v-model="stepIndex" non-linear>
          <v-stepper-header>
            <v-stepper-step :editable="!noSteppingAllowed" :step="1">
              {{ $t('configuration')}}
            </v-stepper-step>
            <v-divider />
            <v-stepper-step :editable="!noSteppingAllowed" :step="2">
              {{ $t('filter')}}
            </v-stepper-step>
            <v-divider />
            <v-stepper-step :editable="!noSteppingAllowed" :step="3">
              {{ $t('overview')}}
            </v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <!-- Configure optional checks -->
            <v-stepper-content step="1">
              <v-row>
                <v-col cols="6">
                  <v-card flat :loading="optionalCheckParamsLoading">
                    <AdCardTitle inline>{{ $t('optional-checks') }}</AdCardTitle>
                    <v-card-text>
                      <EditableSwitch
                        v-model="optionalChecks['unibid']"
                        :label="$t('unique-base-ids')"
                        :infoText="$t('unique-base-ids-hint')"
                        :disabled="optionalCheckParamsLoading"
                        @change="updateOptionalCheckParams"
                      />
                      <EditableSwitch
                        v-model="optionalChecks['vsreq']"
                        :label="$t('valuesets-required')"
                        :infoText="$t('valuesets-required-hint')"
                        :disabled="optionalCheckParamsLoading"
                        @change="updateOptionalCheckParams"
                      />
                      <EditableSwitch
                        v-model="optionalChecks['maxvsvd']"
                        :label="$t('single-value-domains')"
                        :infoText="$t('single-value-domains-hint')"
                        :disabled="optionalCheckParamsLoading"
                        @change="updateOptionalCheckParams"
                      />
                      <EditableSwitch
                        v-model="optionalChecks['inhres']"
                        :label="$t('resolved-inherits')"
                        :infoText="$t('resolved-inherits-hint')"
                        :disabled="optionalCheckParamsLoading"
                        @change="updateOptionalCheckParams"
                      />
                      <EditableSwitch
                        v-model="optionalChecks['oneinh']"
                        :label="$t('singular-inherit')"
                        :infoText="$t('singular-inherit-hint')"
                        :disabled="optionalCheckParamsLoading"
                        @change="updateOptionalCheckParams"
                      />
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="6">
                  <v-card flat>
                    <AdCardTitle inline>{{ $t('other-settings')}}</AdCardTitle>
                    <v-card-text>
                      <EditableSwitch
                        v-model="compiled"
                        :label="$t('compiled')"
                      />
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-stepper-content>
            <!-- Filters -->
            <v-stepper-content step="2">
              <v-card flat>
                <AdCardTitle inline>
                  {{ $t('select-filter') }}
                  <v-spacer />
                  <AdButton
                    type="add"
                    fab
                    small
                    :hint="$t('add-filter')"
                    @click="startCreateFilter"
                  />
                </AdCardTitle>
                <v-card-text class="pt-5">
                  <v-data-table
                    v-model="selectedFilter"
                    :headers="filterHeaders"
                    :items="fetchedFilters"
                    @item-selected="selectFilter"
                    item-key="label"
                    :loading="loadingFilters"
                    show-select
                    single-select
                    :items-per-page="5"
                    :hide-default-footer="fetchedFilters.length <= 5"
                    :search="filterSearch"
                    :custom-filter="filterSearchFilter"
                    class="transparentBackground"
                    style="min-height: 420px"
                  >
                    <template #item.transactionCount="{ item }">
                      <template v-if="Array.isArray(item.transaction)">{{ item.transaction.length }}</template>
                    </template>
                    <template v-slot:[`item.actions`]="{ item }">
                      <AdSpeedDial direction="left">
                        <AdButton
                          type="edit"
                          list
                          @click="editFilter(item)"
                        />
                        <AdButton
                          type="delete"
                          list
                          @click="patchFilters('remove', item)"
                        />
                      </AdSpeedDial>
                    </template>
                  </v-data-table>
                </v-card-text>
              </v-card>
            </v-stepper-content>
            <!-- Overview -->
            <v-stepper-content step="3" >
              <v-row>
                <v-col>
                  <template v-if="activeOptionalChecks.length">
                    <p class="font-weight-bold mb-2">{{ $t('configuration') }}:</p>
                    <ul class="mb-4">
                      <template v-for="(value, i) in activeOptionalChecks">
                        <li :key="i">{{ getOptionalCheckNameById(value) }}</li>
                      </template>
                    </ul>
                  </template>

                  <p class="font-weight-bold mb-2">{{ $t('filter') }}:</p>
                  <ul class="mb-4">
                      <li>{{ selectedFilter.length ? selectedFilter[0].label : $t('no-filter') }}</li>
                  </ul>

                  <p class="font-weight-bold mb-2">{{ compiled === 'true' ? $t('compiled') : $t('not-compiled') }}</p>
                </v-col>
              </v-row>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card-text>

      <!-- FiltersEdit modal -->
      <FiltersEdit
        v-if="filterToEdit"
        :showDialog="!!filterToEdit"
        @cancel="filterToEdit = null"
        @saveFilter="patchFilters('replace')"
        :filterToEdit="filterToEdit"
        :transactions="transactions"
        :selectedTransactions.sync="selectedTransactions"
      />

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$emit('cancel')" :disabled="disabled" />
        <AdButton v-if="stepIndex === 3" :text="$t('check-decor')" color="green" icon="mdi-check" @click="checkDecor" :disabled="disabled" />
        <AdButton v-else :text="$t('next')" @click="nextStep" :disabled="disabled || noSteppingAllowed || stepIndex === 3" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import ProjectService from '../../services/ProjectService'
import FiltersEdit from './FiltersEdit'

export default {
  components: {
    FiltersEdit
  },
  props: {
    showDialog: {
      type: Boolean,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      stepIndex: 1,
      loadingFilters: false,
      fetchedFilters: [],
      selectedFilter: [],
      filterToEdit: null,
      selectedTransactions: [],
      transactionSearch: '',
      filterSearch: '',
      optionalChecks: {
        unibid: 'false',
        vsreq: 'false',
        maxvsvd: 'false',
        inhres: 'false',
        oneinh: 'false'
      },
      optionalCheckParamsLoading: false,
      compiled: 'true'
    }
  },
  computed: {
    activeOptionalChecks () {
      if (!this.optionalChecks) return []
      return Object.keys(this.optionalChecks).filter(key => this.optionalChecks[key] === 'true')
    },
    filterHeaders () {
      return [
        { value: 'label', text: this.$t('label') },
        { value: 'transactionCount', text: this.$t('transactions') },
        { value: 'actions', align: 'right', sortable: false }
      ]
    },
    noSteppingAllowed () {
      return this.optionalCheckParamsLoading
    },
    transactions () {
      const transactionList = []

      // Get all transactions groups from scenario list
      if (this.$store.state.scenario.scenarioItems.length > 0) {
        this.$store.state.scenario.scenarioItems.forEach(scenario => {
          if (scenario.transaction) {
            scenario.transaction.forEach(group => {
              // Add ref + flexibility prop, to correspond with different data format comming back in filters
              transactionList.push({ ...group, ref: group.id, flexibility: group.effectiveDate })
            })
          }
        })
      }
      return transactionList
    },
    transactionTableHeaders () {
      return [
        { value: 'name', text: this.$t('name') },
        { value: 'statusCode', text: this.$t('status') },
        { value: 'ref', text: this.$t('id') },
        { value: 'flexibility', text: this.$t('version') }
      ]
    }

  },
  methods: {
    checkDecor () {
      const filters = []
      if (this.selectedFilter.length) {
        filters[0] = {
          filter: 'on',
          filterId: this.selectedFilter[0].id,
          filters: this.fetchedFilters
        }
      } else {
        filters[0] = {
          filter: 'off'
        }
      }
      const payload = {
        compile: this.compiled,
        filters
      }
      this.$emit('checkDecor', payload)
    },
    editFilter (filter) {
      this.filterToEdit = filter
      if (!this.$store.state.scenario.loaded.scenarioItems) {
        this.fetchTransactions()
      }
      this.selectedTransactions = this.filterToEdit.transaction || []
    },
    startCreateFilter () {
      this.filterToEdit = {
        id: Date.now().toString(),
        label: null,
        transaction: []
      }
      if (!this.$store.state.scenario.loaded.scenarioItems) {
        this.fetchTransactions()
      }
      this.selectedTransactions = []
    },
    async patchFilters (mode, filterToEdit) {
      const projectPrefix = this.projectInFocus?.prefix
      const { id, label } = filterToEdit || this.filterToEdit || {}

      if (!projectPrefix || !id || !label) {
        return
      }

      try {
        const filterToPatch = {
          id,
          label,
          transaction: []
        }
        this.selectedTransactions.forEach(t => {
          filterToPatch.transaction.push({
            ref: t.id || t.ref,
            flexibility: t.effectiveDate || t.flexibility,
            statusCode: t.statusCode,
            name: this.$filters.getMatchingTranslation({ value: t.name })
          })
        })

        const data = { parameter: [] }

        data.parameter.push({
          op: mode,
          path: '/filters',
          value: {
            filters: filterToPatch
          }
        })

        const response = await ProjectService.patchProjectFilters(projectPrefix, data, { broadcast: `PATCH/${projectPrefix}/filters` })
        this.fetchedFilters = response?.data?.filters || []

        // If a filter is active, set the selectedFilter
        if (response?.data?.filter === 'on') {
          const filterId = response.data.filterId
          const activeFilter = this.fetchedFilters.find(filter => filter.id === filterId)
          if (activeFilter) {
            this.selectedFilter = [activeFilter]
          }
        }
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.filterToEdit = null
    },
    async selectFilter (ev) {
      const { item, value } = ev
      const projectPrefix = this.projectInFocus?.prefix

      if (!projectPrefix) {
        return
      }

      try {
        const data = {
          parameter: [
            {
              op: 'replace',
              path: '/filter',
              value: value ? 'on' : 'off'
            }
          ]
        }

        if (value) {
          data.parameter.push({
            op: 'replace',
            path: '/filterId',
            value: item.id
          })
        }

        const response = await ProjectService.patchProjectFilters(projectPrefix, data, { broadcast: `PATCH/${projectPrefix}/filters` })
        this.fetchedFilters = response?.data?.filters || []
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async fetchFilters () {
      this.loadingFilters = true

      const projectPrefix = this.projectInFocus?.prefix
      if (!projectPrefix) {
        return
      }
      try {
        const response = await ProjectService.getCompilationFilters(projectPrefix)
        this.fetchedFilters = response?.data?.filters || []

        // If a filter is active, set the selectedFilter
        if (response?.data?.filter === 'on') {
          const filterId = response.data.filterId
          const activeFilter = this.fetchedFilters.find(filter => filter.id === filterId)
          if (activeFilter) {
            this.selectedFilter = [activeFilter]
          }
        }
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.loadingFilters = false
    },
    async fetchTransactions () {
      return this.$store.dispatch('scenario/loadScenarioItems')
        .catch((error) => {
          this.$oops(error.message)
        })
    },
    async fetchOptionalCheckParams () {
      const projectPrefix = this.projectInFocus?.prefix
      if (!projectPrefix) {
        return
      }
      this.optionalCheckParamsLoading = true
      try {
        const response = await ProjectService.getProjectExtraChecks(projectPrefix)
        const paramValues = response?.data?.pattern || []
        paramValues.forEach(param => {
          this.optionalChecks[param.id] = param.on
        })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.optionalCheckParamsLoading = false
    },
    getOptionalCheckNameById (key) {
      const nameTable = {
        unibid: 'unique-base-ids',
        vsreq: 'valuesets-required',
        maxvsvd: 'single-value-domains',
        inhres: 'resolved-inherits',
        oneinh: 'singular-inherit'
      }
      return this.$t(nameTable[key]) || key
    },
    async updateOptionalCheckParams (value) {
      const projectPrefix = this.projectInFocus?.prefix
      if (!projectPrefix) {
        return
      }
      this.optionalCheckParamsLoading = true
      try {
        const data = { pattern: [] }
        Object.keys(this.optionalChecks).forEach(key => {
          data.pattern.push({
            on: this.optionalChecks[key],
            id: key
          })
        })

        const response = await ProjectService.updateProjectExtraChecks(projectPrefix, data, { broadcast: `PUT/${projectPrefix}/checkDecor-extraParams` })
        const paramValues = response?.data?.pattern || []
        paramValues.forEach(param => {
          this.optionalChecks[param.id] = param.on
        })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.optionalCheckParamsLoading = false
    },
    filterSearchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const query = search.toLowerCase()
      return name.includes(query)
    },

    toFilters (direction = true) {
      this.fetchFilters()
      direction ? this.stepIndex++ : this.stepIndex--
    },
    nextStep () {
      this.stepIndex++
    }
  },
  watch: {
    showDialog (newVal) {
      const prefix = this.projectInFocus?.prefix
      if (newVal) {
        this.fetchedScenarios = []
        this.fetchedFilters = []
        this.filterSearch = ''
        this.selectedTransactions = []
        this.selectedFilter = []
        this.stepIndex = 1
        this.compiled = 'true'
        this.fetchOptionalCheckParams()

        this.sockets.subscribe(`PUT/${prefix}/checkDecor-extraParams`, data => {
          const { response, request } = data

          if (request.emitter === this.socketId) {
            // Don't handle events that are caused by own HTTP requests
            return
          }

          const paramValues = response.pattern || []
          paramValues.forEach(param => {
            this.optionalChecks[param.id] = param.on
          })
        })
        this.sockets.subscribe(`PATCH/${prefix}/filters`, (data) => {
          const { response, request } = data

          if (request.emitter === this.socketId) {
            // Don't handle events that are caused by own HTTP requests
            return
          }

          this.fetchedFilters = response.filters || []

          // If a filter is active, set the selectedFilter
          this.selectedFilter = []
          if (response.filter === 'on') {
            const filterId = response.filterId
            const activeFilter = this.fetchedFilters.find(filter => filter.id === filterId)
            if (activeFilter) {
              this.selectedFilter = [activeFilter]
            }
          }
        })
      } else {
        this.sockets.unsubscribe(`PUT/${prefix}/checkDecor-extraParams`)
        this.sockets.unsubscribe(`PATCH/${prefix}/filters`)
      }
    },
    stepIndex: {
      immediate: true,
      handler (newVal) {
        if (newVal === 1) {
          this.fetchOptionalCheckParams()
        }
        if (newVal === 2) {
          this.fetchFilters()
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .transparentBackground::v-deep tbody {
     tr {
        background-color: transparent !important;
     }
  }
</style>
