<template>
  <v-dialog
    :value="showDialog"
    width="900"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ $t('edit-filter') }}</AdCardTitle>
      <v-card-text class="pa-5">
        <v-row class="mx-2">
          <v-col cols="2">
            <EditableString
              v-model="filterToEdit.id"
              readonly
              :label="$t('id')"
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              class="required"
              v-model="filterToEdit.label"
              :label="$t('label')"
            />
          </v-col>
        </v-row>
        <v-card flat class="mb-4">
          <AdCardTitle inline>
            {{ $t('transactions') }} ({{ parsedTransactionCount }})
            <v-spacer />
            <v-col cols="6">
              <v-text-field
                v-model="transactionSearch"
                append-icon="mdi-magnify"
                :label="$t('search')"
                single-line
                hide-details
                clearable
                class="my-1"
              />
            </v-col>
          </AdCardTitle>
          <v-card-text class="mt-2 px-0">
            <v-data-table
              v-model="selection"
              :headers="transactionTableHeaders"
              :items="transactions"
              item-key="ref"
              :loading="$store.state.scenario.loading.scenarioItems"
              show-select
              :items-per-page="5"
              :hide-default-footer="transactions.length <= 5"
              :hide-default-header="!transactions.length"
              :search="transactionSearch"
              :custom-filter="transactionSearchFilter"
              style="min-height: 420px"

            >
              <template v-slot:[`item.name`]="{ item }">
                <AdStatusDot
                  larger
                  :status="item.statusCode"
                  :icon="$filters.getScenarioIcon(item.type)"
                  class="mr-2 mb-1"
                  tooltip
                />
                {{ $filters.getMatchingTranslation({value: item.name}) }}
              </template>
              <template v-slot:[`item.statusCode`]="{ item }">
                  <AdStatusDot v-if="item.statusCode" class="pr-1" :status="item.statusCode"  />
                  {{ $t(item.statusCode) }}
              </template>
              <template v-slot:[`item.flexibility`]="{ item }">
                  {{ $filters.formatDate(item.flexibility) }}
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$emit('cancel')" :disabled="disabled" />
        <AdButton
          type="save"
          depressed
          :disabled="disabled || !dataIsValid"
          @click="confirm"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'FiltersEdit',
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    filterToEdit: {
      type: Object,
      default () {
        return {}
      }
    },
    selectedTransactions: {
      type: Array,
      default () {
        return []
      }
    },
    transactions: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      transactionSearch: ''
    }
  },
  computed: {
    dataIsValid () {
      return this.selectedTransactions.length && this.filterToEdit?.label?.length
    },
    parsedTransactionCount () {
      return this.selectedTransactions.length === this.transactions.length ? this.$t('all') : this.selectedTransactions.length
    },
    transactionTableHeaders () {
      return [
        { value: 'name', text: this.$t('name') },
        { value: 'statusCode', text: this.$t('status') },
        { value: 'ref', text: this.$t('id') },
        { value: 'flexibility', text: this.$t('version') }
      ]
    },
    selection: {
      get () {
        return this.selectedTransactions
      },
      set (value) {
        this.$emit('update:selectedTransactions', value)
      }
    }
  },
  watch: {
    showDialog (newVal) {
      if (newVal) {
        this.transactionSearch = ''
      }
    }
  },
  methods: {
    confirm () {
      this.$emit('saveFilter')
    },
    transactionSearchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const query = search.toLowerCase()
      return name.includes(query)
    }
  }

}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
