<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <PanelLoading :loading="panelLoading" />
      <v-dialog
        v-model="addGovernancegroupBtn"
        max-width="750px"
        scrollable
        persistent
      >
        <v-card>
          <AdCardTitle dialog>{{ $t('add-link-to-governance-group') }}</AdCardTitle>
          <v-card-text>
            <v-row>
              <v-col>
                <div v-if="selectedGovernancegroups.length > 0">
                  {{ $t('add-selection') }}
                </div>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  :label="$t('search')"
                ></v-text-field>
                <v-data-table
                  v-model="selectedGovernancegroups"
                  :headers="headers"
                  item-key="id"
                  :items="governancegroupsFiltered"
                  :items-per-page="5"
                  show-select
                  class="elevation-1"
                >
                <template v-slot:[`item.name`]="{ item }">
                  {{$filters.getMatchingTranslation({ value: governancegroup(item.id).name })}}
                </template>
                </v-data-table>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <AdButton type="cancel" @click="addGovernancegroupBtn = false"/>
              <AdButton v-if="governancegroups.length > 0" type="add" @click="addGovernancegroup" :disabled="selectedGovernancegroups.length === 0"/>
            </v-card-actions>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-row v-if="!panelLoading">
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-home-city-outline">
              {{ $t('governance-groups') }}
              <div class="ml-auto" v-if="userIsDecorAdmin">
                <AdButton type="add" :small="true" :fab="true" @click="addGovernancegroupBtn = !addGovernancegroupBtn" />
              </div>
            </AdCardTitle>
            <v-card-text class="pt-5" v-if="project.group == null">{{ $t('no-governance-groups-added-yet') }}</v-card-text>
            <v-card-text class="pa-5" v-else>
              <v-simple-table>
                <thead>
                  <tr>
                    <th>{{ $t('name')}}</th>
                    <th>{{ $t('id')}}</th>
                    <th width="55" v-if="userIsDecorAdmin">{{ $t('actions')}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="group in project.group" :key="group.id">
                    <td>
                      <template v-if="governancegroup(group.id)">
                        <AdButton link :to="{ name: 'server-governancegroup-details', params: { governancegroupId: group.id } }">
                            {{$filters.getMatchingTranslation({ value: governancegroup(group.id).name })}}
                        </AdButton>
                      </template>
                      <span v-else>{{ $t('unknown') }}</span>
                      <v-tooltip bottom v-if="governancegroup(group.id) && $filters.getMatchingTranslation({ value: governancegroup(group.id).desc })">
                        <template v-slot:activator="{ on: tooltip }">
                          <v-btn
                            text
                            x-small
                            v-on="{ ...tooltip }"
                            class="pa-1"
                          >
                            <v-icon>mdi-information-outline</v-icon>
                          </v-btn>
                        </template>
                        <span v-html="$filters.getMatchingTranslation({ value: governancegroup(group.id).desc })"></span>
                      </v-tooltip>
                    </td>
                    <td>{{group.id}}</td>
                    <td v-if="userIsDecorAdmin">
                      <AdButton type="delete" :small="true" @click="removeGovernancegroup(group.id)" />
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import PanelLoading from '@/components/Utilities/PanelLoading'

export default {
  name: 'GovernancegroupPanel',
  components: {
    PanelLoading
  },
  data () {
    return {
      addGovernancegroupBtn: false,
      headers: [
        {
          text: this.$t('display-name'),
          value: 'name',
          sortable: true
        },
        {
          text: this.$t('id'),
          value: 'id',
          sortable: true
        }
      ],
      panelLoading: true,
      search: '',
      selectedGovernancegroups: []
    }
  },
  computed: {
    ...mapGetters({
      getProjectInFocus: ['project/getProjectInFocus'],
      governancegroups: ['server/getGovernancegroups']
    }),
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['project-governance']
        },
        {
          text: this.$t('project'),
          disabled: true,
          show: ['project-governance']
        },
        {
          exact: true,
          text: this.$t('governance-groups'),
          to: { name: 'project-governance' },
          show: ['project-governance']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    governancegroup () {
      return (groupId) => {
        return this.governancegroups.find((g) => g.id === groupId)
      }
    },
    governancegroupsNotSectedYet () {
      if (this.getProjectInFocus && this.getProjectInFocus.group) {
        return this.governancegroups.filter((group) => !this.getProjectInFocus.group.some((g) => g.id === group.id))
      } else {
        return this.governancegroups
      }
    },
    governancegroupsFiltered () {
      if (this.search) {
        return this.governancegroupsNotSectedYet.filter((group) => {
          return group
        })
      } else {
        return this.governancegroupsNotSectedYet
      }
    },
    project () {
      if (this.getProjectInFocus) {
        return this.getProjectInFocus
      } else {
        return {}
      }
    }
  },
  created () {
    this.getGovernancegroups()
  },
  methods: {
    async getGovernancegroups () {
      this.panelLoading = true
      return this.$store.dispatch('server/setGovernancegroups')
        .then(() => {
          this.panelLoading = false
        })
        .catch((error) => {
          this.$alert(error.message)
        })
    },
    async addGovernancegroup () {
      if (this.selectedGovernancegroups.length === 0) {
        this.addGovernancegroupBtn = false
        return false
      }
      try {
        const path = 'group'
        const selectedGovernancegroupsForDb = this.selectedGovernancegroups.map((group) => {
          return {
            op: 'add',
            value: group.id,
            path: `/${path}`
          }
        })
        if (selectedGovernancegroupsForDb.length > 0) {
          const data = {
            parameter: selectedGovernancegroupsForDb
          }
          return this.$store.dispatch('project/patchProject', { data, path })
            .then(() => {
              this.addGovernancegroupBtn = false
              this.$notify(this.$t('submission-insert-success-label'), 'success')
            })
            .catch((error) => {
              this.$alert(this.$t(error.message))
            })
        }
      } catch (error) {
        if (error?.response?.data?.description) {
          this.$alert(error?.response?.data?.description)
        }
      }
    },
    async removeGovernancegroup (governancegroupId) {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        try {
          const path = 'group'
          const data = {
            parameter: [{
              op: 'remove',
              value: governancegroupId,
              path: `/${path}`
            }]
          }
          return this.$store.dispatch('project/patchProject', { data, path })
            .then(() => {
              this.addGovernancegroupBtn = false
              this.$notify(this.$t('submission-update-success-label'), 'success')
            })
            .catch((error) => {
              this.$alert(this.$t(error.message))
            })
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      } else {
        // ignore, no feedback
      }
    }
  }
}
</script>
