<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <!--
        Project History Panel
      -->
      <v-row v-if="projectInFocus">
        <v-col>
          <v-card>
            <AdCardTitle
              prependicon="mdi-history">
              <v-row no-gutters>
                <v-col cols="12" sm="6" class="d-flex align-center">{{ $t("project-history") }}</v-col>
                <v-spacer/>
                <AdButton type="refresh" list @click="getProjectHistory" :spinning="panelLoading" :loading="panelLoading"/>
              </v-row>
            </AdCardTitle>
            <v-card-text class="pt-4">
              <v-data-table
                :headers="headersLog"
                :items="logActionHistoryFiltered"
                :search="search"
                :items-per-page="10"
                :hide-default-footer="logActionHistoryLength <= 10"
                :custom-filter="searchFilter"
                :loading="panelLoading"
              >
                <template #top>
                  <AdTableSearch v-model="search">
                    <template #prepend>
                      <v-col cols="8" class="d-flex justify-end align-center">
                        <AdArtefactFilter v-model="artefactFilters" :filtersToOffer="objectTypesInResources"/>
                      </v-col>
                    </template>
                  </AdTableSearch>
                </template>
                <template v-slot:item="{ item }">
                  <tr>
                    <td>
                      <!-- what is subject to history record -->
                      {{ $filters.getMatchingTranslation({ value: getDecorObjectTypeLabel(item.artefactType) }) }}
                      <span class="font-weight-bold">{{ item.artefactName }}</span>
                      <span class="pl-2">{{ item.artefactId }}</span>
                      <span v-if="item.artefactEffectiveDate" class="text-no-wrap">
                        {{$t('as-of')}}
                        {{ $filters.formatDateShort(item.artefactEffectiveDate)}}
                      </span>
                    </td>
                    <td>
                      <AdStatusDot v-if="item.artefactStatusCode !== ''" :status="item.artefactStatusCode" />
                      {{ item.artefactStatusCode }}
                    </td>
                    <td v-if="userIsEditor" style="font-style: italic">{{ item.author }}</td>
                    <td class="text-no-wrap">
                      <template v-if="item.date">
                        {{ formatDate(item.date) }}
                      </template>
                    </td>
                    <td>{{ $filters.getIntention(item.intention) }}</td>
                  </tr>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import ProjectService from '@/services/ProjectService'
import AdCardTitle from '@/components/Utilities/AdCardTitle'
import AdArtefactFilter from '@/components/Utilities/AdArtefactFilter'
import AdTableSearch from '@/components/Utilities/AdTableSearch'

export default {
  name: 'HistoryPanel',
  components: {
    AdArtefactFilter,
    AdCardTitle,
    AdTableSearch
  },
  computed: {
    ...mapState({
      projectSelected: (state) => state.project.projectSelected
    }),
    logActionHistory () {
      if (typeof this.logActions?.history === 'object' && !Array.isArray(this.logActions.history)) {
        return [this.logActions.history]
      }
      return this.logActions?.history || []
    },
    logActionHistoryFiltered () {
      if (this.artefactFilters.every(item => !item.active)) {
        return this.logActionHistory
      }
      return this.logActionHistory.filter(item => this.artefactFilters.find(filter => filter.name === item.artefactType)?.active)
    },
    logActionHistoryLength () {
      return this.logActions?.history?.length
    },
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['project-history']
        },
        {
          text: this.$t('project'),
          disabled: true,
          show: ['project-history']
        },
        {
          exact: true,
          text: this.$t('history'),
          to: { name: 'project-history' },
          show: ['project-history']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    headersLog () {
      return [
        {
          text: this.$t('Activity'),
          align: 'start',
          sortable: false,
          value: 'artefactName'
        },
        {
          text: this.$t('status'),
          align: 'start',
          sortable: true,
          value: 'artefactStatusCode'
        },
        {
          text: this.$t('Performer'),
          align: 'start',
          sortable: true,
          value: 'author'
        },
        {
          text: this.$t('When'),
          align: 'start',
          sortable: true,
          value: 'date'
        },
        {
          text: this.$t('intention-for-edit'),
          align: 'start',
          sortable: false,
          value: 'intention'
        }
      ].filter(h => this.userIsEditor || !['author'].includes(h.value))
    },
    objectTypesInResources () {
      return [...new Set(this.logActionHistory.map(item => item.artefactType))]
    }
  },
  data () {
    return {
      artefactFilters: [],
      panelLoading: this.projectSelected !== null,
      transition: '',
      search: '',
      logActions: null
    }
  },
  created () {
    this.getProjectHistory()
  },
  methods: {
    async getProjectHistory () {
      this.panelLoading = true
      try {
        this.logActions = (
          await ProjectService.getProjectHistory(
            this.projectSelected.prefix,
            null
          )
        ).data
      } catch (err) {
        this.$notify('History cannot be loaded')
        console.log(err)
      }
      this.panelLoading = false
    },
    getDecorObjectTypeLabel (decorType) {
      const foundDecorType = this.$store.getters['server/getDecorObjectTypes'](decorType)
      if (foundDecorType) return foundDecorType.label
      if (decorType === 'DECOR') return this.$t('project')
      return decorType
    },

    searchFilter (value, search, item) {
      const query = search.toLowerCase()
      const nameMatches = () => item.artefactName?.toLowerCase()?.includes(query)

      const idMatches = () => {
        const searchTextIsOid = /^[0-2](\.(0|[1-9][0-9]*))+$/.test(query)
        const searchTextIsShortOid = /^(0|[1-9][0-9]*)$/.test(query)
        const fullOid = item.artefactId
        const lastPartOfOid = fullOid?.split('.')?.at(-1)

        return (
          (searchTextIsOid && item.artefactId === query) ||
          (searchTextIsShortOid && lastPartOfOid === query)
        )
      }

      return nameMatches() || idMatches()
    }
  },
  watch: {
    userIsEditor (isEditor) {
      if (isEditor) {
        this.getProjectHistory()
      }
    }
  }
}
</script>
