<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <v-row>
        <v-col>
          <!-- Add other id -->
          <v-dialog
            v-model="addOtherBtn"
            max-width="600"
            scrollable
            persistent
          >
            <v-card>
              <AdCardTitle dialog>
                {{$t('add-other-id')}}
              </AdCardTitle>
              <v-card-text class="pa-5">
                <v-container>
                  <v-form
                    v-if="addOtherBtn"
                    ref="formNewOtherId"
                    v-model="valid"
                  >
                    <EditableString
                      v-model="newOtherId.root"
                      :value="newOtherId.root"
                      ref="root"
                      :rules="rulesOtherId.root"
                      :label="$t('id')"
                      :error-messages="idExistsError"
                      @blur="checkIdExists"
                    />
                    <v-select
                      v-model="newOtherId.designation[0].type"
                      :items="designationType"
                      ref="type"
                      :rules="rulesOtherDesignation.type"
                      item-text="#text"
                      item-value="value"
                      :label="$t('type')"
                    ></v-select>
                    <EditableLanguage
                      v-model="newOtherId.designation[0].language"
                      :value="newOtherId.designation[0].language"
                      :rules="rulesOtherDesignation.language"
                      :label="$t('language')"
                    />
                    <EditableString
                      v-model="newOtherId.designation[0].displayName"
                      :value="newOtherId.designation[0].displayName"
                      ref="displayName"
                      :rules="rulesOtherDesignation.displayName"
                      :label="$t('display-name')"
                    />
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions class="dialogbottomstrip">
                <v-spacer></v-spacer>
                <AdButton type="cancel" @click="cancelAddOtherId"/>
                <AdButton type="add" @click="addOtherId"/>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Add designation -->
          <v-dialog
            v-model="addDesignationBtn"
            max-width="600"
            scrollable
            persistent
          >
            <v-card>
              <AdCardTitle dialog>
                {{$t('add-designation')}}
              </AdCardTitle>
              <v-card-text class="pa-5">
                <v-container>
                  <v-form
                    v-if="addDesignationBtn"
                    ref="formNewDesignation"
                  >
                    <v-select
                      v-model="newDesignation.type"
                      :items="designationType"
                      ref="type"
                      :rules="rulesOtherDesignation.type"
                      item-text="#text"
                      item-value="value"
                      :label="$t('type')"
                    ></v-select>
                    <EditableLanguage
                      v-model="newDesignation.language"
                      :value="newDesignation.language"
                      ref="language"
                      :locales="designationLocales"
                      :rules="rulesOtherDesignation.language"
                      :label="$t('language')"
                      :disabled="newDesignation.type === null"
                    />
                    <EditableString
                      v-model="newDesignation.displayName"
                      :value="newDesignation.displayName"
                      ref="displayName"
                      :rules="rulesOtherDesignation.displayName"
                      :label="$t('display-name')"
                    />
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions class="dialogbottomstrip">
                <v-spacer></v-spacer>
                <AdButton type="cancel" @click="cancelAddDesignation"/>
                <AdButton type="add" @click="addDesignation"/>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Edit designation -->
          <v-dialog
            v-model="editDesignationBtn"
            max-width="600"
            scrollable
            persistent
          >
            <v-card>
              <AdCardTitle dialog>
                {{$t('edit-designation')}}
              </AdCardTitle>
              <v-card-text class="pa-5">
                <v-container>
                  <v-form
                    v-if="editDesignationBtn"
                    ref="formEditDesignation"
                  >
                    <v-select
                      v-model="activeDesignation.type"
                      :items="designationType"
                      ref="type"
                      :rules="rulesOtherDesignation.type"
                      item-text="#text"
                      item-value="value"
                      :label="$t('type')"
                    ></v-select>
                    <EditableLanguage
                      v-model="activeDesignation.language"
                      :value="activeDesignation.language"
                      ref="language"
                      :locales="designationLocales"
                      :rules="rulesOtherDesignation.language"
                      :label="$t('language')"
                      :disabled="activeDesignation.type === null"
                    />
                    <EditableString
                      v-model="activeDesignation.displayName"
                      :value="activeDesignation.displayName"
                      ref="displayName"
                      :rules="rulesOtherDesignation.displayName"
                      :label="$t('display-name')"
                    />
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions class="dialogbottomstrip">
                <v-spacer></v-spacer>
                <AdButton type="cancel" @click="cancelEditDesignation"/>
                <AdButton type="save" @click="updateDesignation"/>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Add and edit FHIR System URI -->
          <v-dialog
            v-model="addFhirUriBtn"
            max-width="600"
            scrollable
            persistent
          >
            <v-card >
              <AdCardTitle dialog>
                {{ fhirUriDialogMode === 'add' ? $t('add-fhir-system-uri') : $t('edit-fhir-system-uri') }}
              </AdCardTitle>
              <v-card-text class="pa-5">
                <v-container>
                  <v-form
                    v-if="addFhirUriBtn"
                    ref="formNewFhirUri"
                  >
                    <EditableSwitch
                      v-model="newFhirUri.preferred"
                      :label="$t('preferred')"
                      :infoText="$t('fhir-system-uri-preferred-hint')"
                    />
                    <EditableString
                      ref="fhirUriInput"
                      v-model="newFhirUri['#text']"
                      :label="$t('uri')"
                      required
                    />
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions class="dialogbottomstrip">
                <v-spacer></v-spacer>
                <AdButton type="cancel" @click="cancelAddFhirUri"/>
                <AdButton type="add" @click="addFhirUri"/>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Add base id -->
          <v-dialog
            v-model="addBaseIdBtn"
            max-width="600"
            scrollable
            persistent
          >
            <v-card>
              <AdCardTitle dialog>
                {{$t('add-base-id')}}
              </AdCardTitle>
              <v-card-text class="pa-5">
                <v-container>
                  <v-form
                    v-if="addBaseIdBtn"
                    ref="formAddBaseId"
                  >
                    <EditableString
                      v-model="newBaseId.id"
                      :value="newBaseId.id"
                      ref="id"
                      :rules="rulesBaseId.id"
                      :label="$t('id')"
                      :error-messages="idExists"
                      @blur="checkIfAlreadyExists('id', newBaseId.id)"
                    />
                    <v-select
                      v-model="newBaseId.type"
                      :items="decorObjectTypes"
                      ref="type"
                      :rules="rulesBaseId.type"
                      item-text="#text"
                      item-value="value"
                      :label="$t('type')"
                      @change="checkAndSetType"
                    ></v-select>
                    <EditableString
                      v-model="newBaseId.prefix"
                      :value="newBaseId.prefix"
                      ref="prefix"
                      :rules="rulesBaseId.prefix"
                      :label="$t('prefix')"
                    />
                    <EditableSwitch
                      v-model="newBaseId.default"
                      :value="newBaseId.default"
                      :label="$t('default')"
                    />
                    <v-alert
                      v-if="decorObjectTypeUsedInProjectWithDefault(newBaseId.type) && newBaseId.default === 'true'"
                      text
                      type="info"
                    >{{ $t('this-will-make-another-base-id-with-the-same-type-not-default') }}</v-alert>
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions class="dialogbottomstrip">
                <v-spacer></v-spacer>
                <AdButton type="cancel" @click="cancelAddBaseId"/>
                <AdButton type="add" @click="addBaseId"/>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Edit baseId -->
          <v-dialog
            v-model="editBaseIdBtn"
            max-width="600"
            scrollable
            persistent
          >
            <v-card>
              <AdCardTitle dialog>
                {{$t('edit-base-id')}}
              </AdCardTitle>
              <v-card-text class="pa-5">
                <v-container>
                  <v-form
                    v-if="editBaseIdBtn"
                    ref="formEditDesignation"
                  >
                    <EditableString
                      v-model="activeBaseId.id"
                      :value="activeBaseId.id"
                      ref="id"
                      :rules="rulesBaseId.id"
                      :label="$t('id')"
                    />
                    <v-select
                      v-model="activeBaseId.type"
                      :items="decorObjectTypes"
                      ref="type"
                      :rules="rulesBaseId.type"
                      item-text="#text"
                      item-value="value"
                      :label="$t('type')"
                    ></v-select>
                    <EditableString
                      v-model="activeBaseId.prefix"
                      :value="activeBaseId.prefix"
                      ref="prefix"
                      :rules="rulesBaseId.prefix"
                      :label="$t('prefix')"
                    />
                    <EditableSwitch
                      v-model="activeBaseId.default"
                      :value="activeBaseId.default"
                      :label="$t('default')"
                    />
                  </v-form>
                </v-container>
              </v-card-text>
              <v-card-actions class="dialogbottomstrip">
                <v-spacer></v-spacer>
                <AdButton type="cancel" @click="cancelEditBaseId"/>
                <AdButton type="save" @click="updateBaseId"/>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-card>
            <AdCardTitle prependicon="mdi-numeric">{{ $t('identifiers') }} </AdCardTitle>
            <v-card-text class="pt-8">
              <AdCardTitle inline>
                {{ $t("other-ids") }}
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="searche"
                  append-icon="mdi-magnify"
                  :label="$t('search')"
                  single-line
                  hide-details
                  solo
                  dense
                  clearable
                ></v-text-field>
                <v-btn color="orange lighten-2 ml-4" dark fab small depressed @click="addOtherIdStart" v-if="userIsDecorAdmin">
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </AdCardTitle>
              <v-data-table
                :headers="headerOtherIds"
                :items="otherIdsFiltered"
                :items-per-page="5"
                :hide-default-footer="otherIdsFiltered.length <= 5"
                class="px-4 pb-12"
              >
                <template v-slot:item="{ item, index }">
                  <tr
                    @mouseenter="hoveredRow = index"
                    @mouseleave="hoveredRow = null"
                    :class="hoveredRow === index ? 'grey lighten-3' : ''"
                  >
                    <td style="vertical-align: top; padding-top: 12px" :rowspan="item.designation.length + (item.property ? item.property.length + 1 : 0)  + 1">
                      {{ item.root }}
                    </td>
                    <th class="grey--text text--darken-1">{{ $t('designation')}}</th>
                    <th class="grey--text text--darken-1">{{ $t('type')}}</th>
                    <th class="grey--text text--darken-1">{{ $t('display-name')}}</th>
                    <td class="d-flex align-center justify-end">
                      <AdButton
                        small
                        type="add"
                        :text="$t('designation')"
                        :hint="$t('add-designation')"
                        @click="handleClick('addDesignationStart', item)"
                      />
                      <AdButton
                        v-if="!hasFhirUriProperties(item)"
                        noMarginRight
                        small
                        type="add"
                        :text="$t('uri')"
                        :hint="$t('add-fhir-system-uri')"
                        @click="handleClick('addFhirUriStart', item)"
                      />
                    </td>
                  </tr>
                    <template v-for="(designation, designationIndex) in item.designation">
                      <tr
                        :key="`${index}-${designationIndex}`"
                        @mouseenter="hoveredRow = index"
                        @mouseleave="hoveredRow = null"
                        :class="hoveredRow === index ? 'grey lighten-3' : ''"
                      >
                        <td style="white-space: nowrap; border-bottom: thin solid rgba(0,0,0,0.12)">
                          <flag
                            v-if="designation.language"
                            :squared="false"
                            :iso="designation.language.substring(3, 5)"
                          ></flag>
                        </td>
                        <td style="border-bottom: thin solid rgba(0,0,0,0.12)">{{ getDesignationTypeTranslation(designation.type) }}</td>
                        <td style="border-bottom: thin solid rgba(0,0,0,0.12)">{{ designation.displayName }}</td>
                        <td style="border-bottom: thin solid rgba(0,0,0,0.12)" class="text-right">
                          <AdSpeedDial
                            v-if="userIsDecorAdmin"
                            v-model="item.designation[designationIndex].speeddial"
                            :open-on-hover="true"
                            direction="left"
                          >
                            <AdSpeedOption
                              v-if="item.designation.length > 1"
                              type="delete" :hint="$t('delete-designation')"
                              @click="handleClick('deleteDesignation', item, designationIndex)"
                            />
                            <AdSpeedOption
                              type="edit" :hint="$t('edit-designation')"
                              @click="handleClick('editDesignation', item, designationIndex)"
                            />
                          </AdSpeedDial>
                        </td>
                      </tr>
                    </template>

                    <!-- Properties -->
                    <template v-for="(property, propertyIndex) in item.property">
                      <tr
                        v-if="propertyIndex === 0"
                        :key="`${index}-${propertyIndex}-property-header`"
                        @mouseenter="hoveredRow = index"
                        @mouseleave="hoveredRow = null"
                        :class="hoveredRow === index ? 'grey lighten-3' : ''"
                      >
                        <th colspan="2" class="grey--text text--darken-1">{{ $t('property')}}</th>
                        <th colspan="2" class="grey--text text--darken-1">{{ $t('value')}}</th>
                      </tr>
                      <tr
                        :key="`${index}-${propertyIndex}-property`"
                        @mouseenter="hoveredRow = index"
                        @mouseleave="hoveredRow = null"
                        :class="hoveredRow === index ? 'grey lighten-3' : ''"
                      >
                        <td colspan="2">{{ property.name }}</td>
                        <td colspan="1">{{ property['#text'] }}</td>
                        <td class="text-right">
                          <AdSpeedDial
                            v-if="userIsDecorAdmin && editablePropertyNames.includes(property.name)"
                            direction="left"
                          >
                            <AdSpeedOption
                              type="delete" :hint="$t('delete-uri')"
                              @click="handleClick('deleteFhirUri', item, propertyIndex)"
                            />
                            <AdSpeedOption
                              type="edit" :hint="$t('edit-uri')"
                              @click="handleClick('editFhirUri', item, propertyIndex)"
                            />
                          </AdSpeedDial>
                        </td>
                      </tr>
                    </template>
                </template>
              </v-data-table>

              <AdCardTitle inline class="mt-4">
                {{ $t("Baseids") }}
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="searchi"
                  append-icon="mdi-magnify"
                  :label="$t('search')"
                  single-line
                  hide-details
                  solo
                  dense
                  clearable
                ></v-text-field>
                <v-btn color="orange lighten-2 ml-4" dark fab small depressed @click="addBaseIdStart" v-if="userIsDecorAdmin">
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </AdCardTitle>
              <v-data-table
                :headers="headerBaseIds"
                :items="baseIds"
                :search="searchi"
                :items-per-page="10"
                :hide-default-footer="baseIds.length <= 10"
                class="px-4 mb-12"
              >
                <template v-slot:item="{ item }">
                  <tr>
                    <td v-html="item.id"></td>
                    <td style="font-style: italic">{{ getDecorObjectTypes(item.type, 'label') }}</td>
                    <td class="text-no-wrap">{{ item.prefix }}</td>
                    <td class="text-no-wrap">
                      <v-checkbox
                        disabled
                        dense
                        class="ma-0"
                        :input-value="item.default === 'true' ? true : false"
                      ></v-checkbox>
                    </td>
                    <td>
                      <AdSpeedDial
                        v-if="userIsDecorAdmin"
                        v-model="item.speeddial"
                        :open-on-hover="true"
                        direction="left"
                        transition="slide-y-reverse-transition"
                        style="position: relative;"
                      >
                        <AdSpeedOption
                          style="position:relative;z-index:9;"
                          type="edit" :hint="$t('edit-base-id')"
                          @click="handleClick('editBaseId', item)"
                        />
                      </AdSpeedDial>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
import otherDesignation from '@/models/otherDesignation'
import baseId from '@/models/baseId'
import otherId from '@/models/otherId'
import rulesBaseId from '@/rules/baseId'
import rulesOtherDesignation from '@/rules/otherDesignation'
import rulesOtherId from '@/rules/otherId'

export default {
  name: 'IdentifierPanel',
  data () {
    return {
      activeBaseId: {},
      activeBaseIdBackup: {},
      activeDesignation: {},
      activeOtherId: {},
      addBaseIdBtn: false,
      addDesignationBtn: false,
      addFhirUriBtn: false,
      addOtherBtn: false,
      editablePropertyNames: ['HL7-FHIR-System-URI-Preferred', 'HL7-FHIR-System-URI'],
      editBaseIdBtn: false,
      editDesignationBtn: false,
      fhirUriDialogMode: null,
      hoveredRow: null,
      idExistsError: [],
      idExists: [],
      newBaseId: cloneDeep(baseId),
      newBaseIdError: null,
      newDesignation: {},
      newFhirUri: {
        preferred: 'false',
        '#text': ''
      },
      activeFhirUri: {},
      newDesignationError: null,
      newOtherError: null,
      newOtherId: cloneDeep(otherId),
      rulesBaseId,
      rulesOtherDesignation,
      rulesOtherId,
      searche: '',
      searchi: '',
      valid: true
    }
  },
  computed: {
    ...mapGetters({
      getDecorTypes: ['server/getDecorTypes']
    }),
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['project-identifier']
        },
        {
          text: this.$t('project'),
          disabled: true,
          show: ['project-identifier']
        },
        {
          exact: true,
          text: this.$t('identifiers'),
          to: { name: 'project-identifier' },
          show: ['project-identifier']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    baseIds () {
      return this.projectInFocus?.ids?.[0]?.baseId || []
    },
    baseIdTypeHasAlreayDefault () {
      return (
        this.addBaseIdBtn &&
        this.newBaseId.type &&
        this.baseIds.some((baseId) => baseId.type === this.newBaseId.type && this.newBaseId.default === 'true')
      )
    },
    decorTypes () {
      return this.getDecorTypes?.data
    },
    designationType () {
      return this.decorTypes?.DesignationType?.[0]?.enumeration?.map((e) => {
        const text = this.$filters.getMatchingTranslation({ value: e.label, locale: this.$i18n.locale })
        return {
          '#text': text.charAt(0).toUpperCase() + text.slice(1),
          value: e.value
        }
      }) || []
    },
    getDesignationTypeTranslation () {
      return type => this.designationType.find(d => d.value === type)?.['#text'] || type
    },
    designationLocales () {
      const uniqueLanguageDesignations = ['preferred', 'fsn']
      if (this.addDesignationBtn) {
        if (uniqueLanguageDesignations.includes(this.newDesignation?.type)) {
          return this.$root.langs.filter(locale => !this.activeOtherId.designation.some((d) =>
            d.language === locale &&
            d.type === this.newDesignation?.type
          ))
        } else {
          return this.$root.langs
        }
      } else if (this.editDesignationBtn) {
        if (uniqueLanguageDesignations.includes(this.activeDesignation?.type)) {
          return this.$root.langs.filter(locale => !this.activeOtherId.designation.some((d) =>
            d.language === locale &&
            d.type === this.activeDesignation?.type &&
            this.activeDesignation.language !== locale // allow to see current language (edit)
          ))
        } else {
          return this.$root.langs
        }
      } else {
        return this.$root.langs
      }
    },
    decorObjectTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.DecorObjectType?.[0]?.enumeration?.map((e) => ({
        '#text': this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    },
    getDecorObjectTypes () {
      return (decorType, attribute) => {
        const foundDecorType = this.$store.getters['server/getDecorObjectTypes'](decorType)
        if (foundDecorType) {
          return foundDecorType[attribute].find(v => v.language === this.$i18n.locale)['#text']
        } else {
          return decorType
        }
      }
    },
    hasFhirUriProperties () {
      return item => item.property?.find(prop => ['HL7-FHIR-System-URI-Preferred', 'HL7-FHIR-System-URI'].includes(prop.name))
    },
    headerBaseIds () {
      return [
        {
          text: this.$t('id'),
          align: 'start',
          sortable: false,
          value: 'id'
        },
        {
          text: this.$t('type'),
          align: 'start',
          sortable: true,
          value: 'type'
        },
        {
          text: this.$t('prefix'),
          align: 'start',
          sortable: true,
          value: 'prefix'
        },
        {
          text: this.$t('default'),
          align: 'start',
          sortable: true,
          value: 'default'
        },
        {
          text: '',
          width: '5%',
          align: 'center'
        }
      ]
    },
    headerOtherIds () {
      return [
        {
          text: this.$t('id'),
          align: 'start',
          sortable: false,
          value: 'root'
        },
        {
          width: '10%',
          sortable: false,
          value: 'language'
        },
        {
          sortable: false,
          value: 'type'
        },
        {
          sortable: false,
          value: 'displayName'
        },
        {
          text: '',
          width: '5%',
          align: 'right'
        }
      ]
    },
    decorObjectTypesUsedInProjectWithDefault () {
      return [...new Set(this.baseIds.filter((baseId) => baseId.type && baseId.default === 'true').map((baseId) => baseId.type))]
    },
    decorObjectTypeUsedInProjectWithDefault () {
      return (type) => {
        return this.baseIds.some((baseId) => baseId.type === type && baseId.default === 'true')
      }
    },
    otherIds () {
      return this.projectInFocus?.ids?.[0]?.id || []
    },
    otherIdsFiltered () {
      // special filter function (outside v-data-table) to be able to search on siblings (designation)
      if (this.searche) {
        return this.otherIds.filter((otherId) =>
          (otherId.root && otherId.root.includes(this.searche)) ||
          (
            otherId.designation &&
            otherId.designation.some((d) => d.displayName?.toLowerCase().includes(this.searche.toLowerCase()))
          )
        )
      } else {
        return this.otherIds
      }
    }
  },
  methods: {
    cancelAddFhirUri () {
      this.addFhirUriBtn = false
      this.newFhirUri.preferred = 'false'
      this.newFhirUri['#text'] = ''
    },
    async addFhirUri () {
      if (this.$refs.formNewFhirUri.validate()) {
        try {
          if (!this.activeOtherId.property || !Array.isArray(this.activeOtherId.property)) {
            this.activeOtherId.property = []
          }
          // Prevent multiple insertions with a property name for FHIR system URI
          this.activeOtherId.property = this.activeOtherId.property.filter(prop => !['HL7-FHIR-System-URI-Preferred', 'HL7-FHIR-System-URI'].includes(prop.name))

          this.activeOtherId.property.push({
            name: this.newFhirUri.preferred === 'true' ? 'HL7-FHIR-System-URI-Preferred' : 'HL7-FHIR-System-URI',
            datatype: 'string',
            '#text': this.newFhirUri['#text']
          })
          const data = {
            parameter: [{
              op: 'replace',
              path: '/ids/id',
              value: {
                id: [this.activeOtherId]
              }
            }]
          }

          await this.$store.dispatch('project/patchProject', { data, path: 'ids', checkadram: true })
          this.$notify(this.$t('submission-insert-success-label'), 'success')
          this.cancelAddFhirUri()
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        }
      } else {
        this.$refs.fhirUriInput.focus()
      }
    },
    handleClick (action, item, index) {
      if (this[action]) {
        this[action](item, index)
      } else {
        this.$alert(this.$t('notyetimplemented'))
      }
    },
    /**
     * Other ids related functions
     */
    addOtherIdStart () {
      this.initOtherId()
      this.$nextTick(() => {
        this.addOtherBtn = true
        if (this.$refs.root && this.$refs.root.focus) {
          this.$refs.root.focus()
        }
      })
    },
    checkIdExists () {
      // function to give direct feedback to the user that id is already in use
      if (this.newOtherId.root) {
        const idExists = this.otherIds.some((otherId) => otherId.root === this.newOtherId.root)
        this.idExistsError = (idExists) ? [this.$t('already-exists')] : []
      } else {
        // reset
        this.idExistsError = []
      }
    },
    initOtherId () {
      this.newOtherId = cloneDeep(otherId)
      this.newOtherError = null
      this.$nextTick(() => {
        // reset form validations
        if (this.$refs.formNewOtherId) {
          this.$refs.formNewOtherId.reset()
        }
      })
    },
    cancelAddOtherId () {
      this.addOtherBtn = false
      this.$nextTick(() => {
        this.newOtherId = cloneDeep(otherId)
      })
    },
    async addOtherId () {
      if (this.$refs.formNewOtherId.validate()) {
        if (this.otherIds.some((otherId) => otherId.root === this.newOtherId.root)) {
          const message = `${this.$t('id')} ${this.$t('already-exists')}!`
          this.$alert(message)
          return false
        }
        try {
          const data = {
            parameter: [{
              op: 'add',
              path: '/ids/id',
              value: {
                id: [
                  this.newOtherId
                ]
              }
            }]
          }

          await this.$store.dispatch('project/patchProject', { data, path: 'ids', checkadram: true })
          this.$notify(this.$t('submission-insert-success-label'), 'success')
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
        this.$nextTick(() => {
          this.cancelAddOtherId()
        })
      } else {
        const hasError = rulesOtherId.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$nextTick(() => {
            this.$refs[hasError[0]].focus()
          })
        }
      }
    },
    addDesignationStart (item) {
      this.activeOtherId = cloneDeep(item)
      this.initDesignation()
      this.$nextTick(() => {
        this.addDesignationBtn = true
      })
    },
    addFhirUriStart (item) {
      this.activeOtherId = cloneDeep(item)
      this.addFhirUriBtn = true
      this.fhirUriDialogMode = 'add'
    },
    initDesignation () {
      this.newDesignation = cloneDeep(otherDesignation)
      this.newDesignationError = null
      this.$nextTick(() => {
        if (this.$refs.formNewDesignation) {
          this.$refs.formNewDesignation.reset()
        }
      })
    },
    async addDesignation () {
      if (this.$refs.formNewDesignation.validate()) {
        try {
          this.activeOtherId.designation.push(this.newDesignation)
          const data = {
            parameter: [{
              op: 'add',
              path: '/ids/id',
              value: {
                id: [this.activeOtherId]
              }
            }]
          }
          await this.$store.dispatch('project/patchProject', { data, path: 'ids', checkadram: true })
          this.$notify(this.$t('submission-insert-success-label'), 'success')
          this.cancelAddDesignation()
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      } else {
        // set the focus on the field that has the error
        const hasError = rulesOtherDesignation.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$nextTick(() => {
            this.$refs[hasError[0]].focus()
          })
        }
      }
    },
    cancelAddDesignation () {
      this.addDesignationBtn = false
      this.$nextTick(() => {
        this.newDesignation = {}
      })
    },
    editDesignation (item, index) {
      this.activeOtherId = cloneDeep(item)
      this.activeDesignation = this.activeOtherId.designation[index]
      this.$nextTick(() => {
        this.editDesignationBtn = true
      })
    },
    editFhirUri (item, index) {
      this.activeOtherId = cloneDeep(item)
      if (this.activeOtherId?.property?.[index]) {
        this.newFhirUri = {
          preferred: this.activeOtherId.property[index]?.name === 'HL7-FHIR-System-URI-Preferred' ? 'true' : 'false',
          '#text': this.activeOtherId.property[index]?.['#text'] || ''
        }
      }
      this.fhirUriDialogMode = 'edit'
      this.addFhirUriBtn = true
    },
    async deleteFhirUri (item, index) {
      const message = this.$t('are-you-sure-this-action-cannot-be-undone')
      const agree = await this.$confirm(message)
      if (agree) {
        this.activeOtherId = cloneDeep(item)
        try {
          this.$delete(this.activeOtherId.property, index)
          const data = {
            parameter: [{
              op: 'replace',
              path: '/ids/id',
              value: {
                id: [this.activeOtherId]
              }
            }]
          }
          await this.$store.dispatch('project/patchProject', { data, path: 'ids', checkadram: true })
          this.$notify(this.$t('submission-update-success-label'), 'success')
          this.activeOtherId = {}
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        }
      }
    },
    async updateDesignation () {
      if (this.$refs.formEditDesignation.validate()) {
        //
        try {
          const data = {
            parameter: [{
              op: 'replace',
              path: '/ids/id',
              value: {
                id: [this.activeOtherId]
              }
            }]
          }

          await this.$store.dispatch('project/patchProject', { data, path: 'ids', checkadram: true })
          this.$notify(this.$t('submission-update-success-label'), 'success')
          await this.$nextTick()
          this.cancelEditDesignation()
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      } else {
        // set the focus on the field that has the error
        const hasError = rulesOtherDesignation.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$nextTick(() => {
            this.$refs[hasError[0]].focus()
          })
        }
      }
    },
    cancelEditDesignation () {
      this.editDesignationBtn = false
      this.$nextTick(() => {
        this.activeOtherId = {}
        this.activeDesignation = {}
      })
    },
    async deleteDesignation (item, index) {
      if (item.designation.length > 1) {
        this.activeOtherId = cloneDeep(item)
        const message = `${this.$t('delete')}: '${item.designation[index].displayName}' ${item.root}? <br/> ${this.$t('are-you-sure-this-action-cannot-be-undone')}`
        const agree = await this.$confirm(message)
        if (agree) {
          try {
            this.$delete(this.activeOtherId.designation, index)
            const data = {
              parameter: [{
                op: 'replace',
                path: '/ids/id',
                value: {
                  id: [this.activeOtherId]
                }
              }]
            }
            await this.$store.dispatch('project/patchProject', { data, path: 'ids', checkadram: true })
            this.$notify(this.$t('submission-update-success-label'), 'success')
            this.activeOtherId = {}
          } catch (error) {
            if (error?.response?.data?.description) {
              this.$alert(error?.response?.data?.description)
            }
          }
        } else {
          // ignore
          this.activeOtherId = {}
        }
      } else {
        // should not occur as the button is hidden from the user
        this.$alert(this.$t('prohibited'))
      }
    },
    /**
     * Base ids related functions
     */
    addBaseIdStart () {
      this.initBaseId()
      this.$nextTick(() => {
        this.addBaseIdBtn = true
      })
    },
    checkIfAlreadyExists (attr, val) {
      // function to give direct feedback to the user that combination already exists
      if (attr && val) {
        const idExists = this.baseIds.some((baseId) => baseId[attr] === val)
        if (idExists) {
          const message = this.$t('already-exists')
          this.idExists = (idExists) ? [message] : []
        } else {
          this.idExists = []
        }
      } else {
        // reset
        this.idExists = []
      }
    },
    checkAndSetType () {
      if (this.newBaseId.type) {
        if (!this.decorObjectTypeUsedInProjectWithDefault(this.newBaseId.type)) {
          this.newBaseId.default = 'true'
        } else {
          this.newBaseId.default = 'false'
        }
      }
    },
    async addBaseId () {
      if (this.$refs.formAddBaseId.validate()) {
        // double check if combi already exist, before calling the backend api
        if (this.checkIfAlreadyExists('id', this.newBaseId.id)) {
          this.$alert(this.$t('already-exists'))
          return false
        }
        try {
          const data = {
            parameter: [{
              op: 'add',
              path: '/ids/baseId',
              value: {
                baseId: [
                  this.newBaseId
                ]
              }
            }]
          }
          await this.$store.dispatch('project/patchProject', { data, path: 'ids', checkadram: true })
          this.$notify(this.$t('submission-insert-success-label'), 'success')
          await this.$nextTick()
          this.cancelAddBaseId()
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      } else {
        const hasError = rulesBaseId.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$nextTick(() => {
            this.$refs[hasError[0]].focus()
          })
        }
      }
    },
    cancelAddBaseId () {
      this.addBaseIdBtn = false
      this.$nextTick(() => {
        this.newBaseId = cloneDeep(baseId)
      })
    },
    initBaseId () {
      this.newBaseId = cloneDeep(baseId)
      this.newBaseIdError = null
      this.$nextTick(() => {
        // reset form validations
        if (this.$refs.formAddBaseId) {
          this.$refs.formAddBaseId.reset()
        }
      })
    },
    editBaseId (item) {
      // happy flow
      this.activeBaseId = item
      this.activeBaseIdBackup = cloneDeep(item)
      this.$nextTick(() => {
        this.editBaseIdBtn = true
      })
    },
    async updateBaseId () {
      if (this.$refs.formEditDesignation.validate()) {
        try {
          const foundIndex = this.baseIds.indexOf(this.activeBaseId)
          if (foundIndex > -1) {
            if (Object.prototype.hasOwnProperty.call(this.activeBaseId, 'speeddial')) {
              // because of the speeddial functionality, remove the prop, not part of AD
              delete this.activeBaseId.speeddial
            }
            const data = {
              parameter: [{
                op: 'replace',
                path: '/ids/baseId',
                value: {
                  baseId: [
                    this.activeBaseId
                  ]
                }
              }]
            }
            await this.$store.dispatch('project/patchProject', { data, path: 'ids', checkadram: true })
            this.$notify(this.$t('submission-update-success-label'), 'success')
          }
          this.$nextTick(() => {
            this.editBaseIdBtn = false
          })
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      } else {
        const hasError = rulesBaseId.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$nextTick(() => {
            this.$refs[hasError[0]].focus()
          })
        }
      }
    },
    cancelEditBaseId () {
      const findIndex = this.baseIds.indexOf(this.activeBaseId)
      if (findIndex > -1) {
        // restore previous value
        this.baseIds.splice(findIndex, 1, this.activeBaseIdBackup)
      }
      this.$nextTick(() => {
        this.editBaseIdBtn = false
      })
    }
  }
}
</script>
