<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />

      <v-row class="d-flex flex-row flex-md-nowrap">
        <v-col
          class="flex-grow-0 col-treeview"
          cols="12"
          md="auto"
        >
          <ImplementationGuideTreeviewCard
            :trees="trees"
            :filters="treeFilters"
            :active-tree.sync="activeTree"
          />
        </v-col>
        <v-col cols="12" md="auto" class="flex-grow-1 flex-shrink-1">
          <AdInfoOwl v-if="$route.name === 'project-implementation-guide'">{{ $t('select-implementation-guide') }}</AdInfoOwl>
          <router-view :key="$route.fullPath"/>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import ImplementationGuideTreeviewCard from '@/components/Project/ImplementationGuideTreeviewCard'
import { mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'

export default {
  components: { ImplementationGuideTreeviewCard },

  data () {
    return {
      activeTree: 'guides',
      filters: []
    }
  },

  computed: {
    ...mapGetters('project/ig', [
      'implementationGuides', 'implementationGuideMetaData', 'implementationGuidePageTree', 'isLoading',
      'activeItem', 'implementationGuidesAreEditable', 'implementationGuideIsEditable'
    ]),
    ...mapGetters('server', ['getItemStatuses']),

    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['project-implementation-guide', 'project-implementation-guide-pages', 'project-implementation-guide-page-details']
        },
        {
          text: this.$t('project'),
          disabled: true,
          show: ['project-implementation-guide', 'project-implementation-guide-pages', 'project-implementation-guide-page-details']

        },
        {
          exact: true,
          text: this.$t('implementationguide'),
          to: { name: 'project-implementation-guide' },
          show: ['project-implementation-guide', 'project-implementation-guide-pages', 'project-implementation-guide-page-details']

        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    hasMultipleSubPages () {
      return this.implementationGuidePageTree?.[0]?.page?.reduce((prev, curr) => {
        if (Array.isArray(curr.page)) {
          return prev + 1 + curr.page.length
        }
        return prev + 1
      }, 0) > 1
    },
    isLoadingPages () {
      return this.isLoading('implementationGuidePageTree')
    },
    treeFilters () {
      return this.activeTree === 'guides' ? this.filters : []
    },
    trees () {
      return {
        guides: {
          artefact: 'IG',
          name: this.$t('guides'),
          icon: 'mdi-book-information-variant',
          loading: this.isLoading('implementationGuides'),
          loaded: true,
          menu: this.implementationGuidesAreEditable,
          editable: false,
          insertable: false,
          expandable: false,
          items: this.implementationGuides,
          key: 'id',
          text: (item, returnObject) => this.$filters.getMatchingTranslation({
            value: (item?.title || []).map((name) => ({
              ...name,
              '#text': item?.versionLabel
                ? `${name?.['#text']} (${item?.versionLabel})`
                : name?.['#text']
            })),
            selector: '#text',
            returnObject
          }),
          onSelect: async (activeItem) => {
            this.$store.commit('project/ig/setActiveItem', activeItem)

            await this.$router.push({
              name: 'project-implementation-guide-pages',
              params: {
                igId: activeItem.id,
                igEffectiveDate: activeItem.effectiveDate
              }
            }).catch(() => {})
          },
          onBeforeEdit: () => {
            // Do nothing.
          },
          onAfterEdit: () => {
            // Do nothing.
          },
          onEdit: () => {
            // Do nothing.
          }
        },
        pages: {
          artefact: 'IG',
          name: this.$t('pages'),
          icon: 'mdi-file-document-outline',
          loading: this.isLoading('implementationGuidePageTree'),
          loaded: !!this.implementationGuidePageTree.length,
          menu: this.implementationGuideIsEditable && this.hasMultipleSubPages,
          editable: false, // Add TreeviewEditDialog manually in ImplementationGuideTreeviewCard
          insertable: true,
          expandable: true,
          autoExpand: true,
          items: this.implementationGuidePageTree,
          key: 'id',
          text: 'title.#text',
          children: 'page',
          onSelect: async (activeItem) => {
            this.$store.commit('project/ig/setActiveItem', activeItem)

            await this.$router.push({
              name: 'project-implementation-guide-page-details',
              params: {
                igId: this.implementationGuideMetaData?.id,
                igEffectiveDate: this.implementationGuideMetaData?.effectiveDate,
                pageId: activeItem.id
              }
            }).catch(() => {})
          },
          onBeforeEdit: () => {
            return new Promise(resolve => {
              setTimeout(() => {
                resolve(true)
              }, 0)
            })
          },
          onAfterEdit: () => {
            // Do nothing.
          },
          onEdit: async (subPages) => {
            const oldIndexPage = this.implementationGuidePageTree[0]
            if (!oldIndexPage) {
              this.$oops('submission-save-error-label')
              return
            }

            // Prepare payload
            const newPageStructure = { ...oldIndexPage, page: subPages }
            const data = {
              parameter: [
                {
                  op: 'replace',
                  path: '/definition/pages',
                  value: {
                    page: newPageStructure
                  }
                }
              ]
            }

            const params = { returnmode: 'pages' }
            const { id, effectiveDate } = this.implementationGuideMetaData

            try {
              await this.$store.dispatch('project/ig/patchImplementationGuide', { id, effectiveDate, data, params })
              this.$notify(this.$t('submission-update-success-label'), 'success')
            } catch (error) {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              this.$oops(errorMessage)
            }
          },
          onInsert: async ({ type, mode, item, target }) => {
            const newPageTree = cloneDeep(this.implementationGuidePageTree)

            if (!Array.isArray(newPageTree)) return

            // Get reference of the target page
            const page = this.$filters.listHelper.listHelper({
              items: newPageTree,
              children: 'page',
              handler: match => match.id === item.id
            })?.item

            if (!page) return

            // Construct the empty page
            const emptyPage = { content: [], title: [], id: this.getUuid() }

            const projectLanguages = this.projectInFocus?.name?.map(lang => lang.language) || ['en-US']
            projectLanguages.forEach(lang => {
              emptyPage.content.push({ language: lang, '#text': this.$t('page') })
              emptyPage.title.push({ language: lang, '#text': this.$t('page') })
            })

            // Insert new page in the right position
            if (mode === 'into') {
              if (!page.page) {
                page.page = []
              }
              page.page.push(emptyPage)
            }

            if (['following', 'preceding'].includes(mode)) {
              if (!target.parent) return // Following / preceding not allowed on root index page

              // Get reference of parent
              const parent = this.$filters.listHelper.listHelper({
                items: newPageTree,
                children: 'page',
                handler: match => match.id === target.parent.id
              })?.item

              if (!Array.isArray(parent?.page)) return // a parent should always have subpages

              const index = mode === 'following' ? +target.index + 1 : +target.index
              parent.page.splice(index, 0, emptyPage)
            }

            // Construct payload object
            const data = {
              parameter: [
                {
                  op: 'replace',
                  path: '/definition/pages',
                  value: {
                    page: newPageTree
                  }
                }
              ]
            }

            try {
              const { id, effectiveDate } = this.implementationGuideMetaData

              await this.$store.dispatch('project/ig/patchImplementationGuide', {
                id,
                effectiveDate,
                params: { returnmode: 'pages' },
                data
              })
            } catch (error) {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              return this.$oops(errorMessage)
            }

            // Make the new page active
            const targetItem = this.$filters.listHelper.findItemInList({
              items: this.implementationGuidePageTree,
              children: 'page',
              handler: mode === 'into'
                ? match => match.id === item.id
                : match => match.id === target.parent?.id
            })

            if (!targetItem) return

            if (mode === 'into') {
              const activeItem = targetItem.page?.at(-1)
              if (!activeItem) return
              this.$store.commit('project/ig/setActiveItem', activeItem)
            }

            if (['following', 'preceding'].includes(mode)) {
              const index = mode === 'following' ? +target.index + 1 : +target.index
              const activeItem = targetItem.page?.[index]
              if (!activeItem) return
              this.$store.commit('project/ig/setActiveItem', activeItem)
            }
          }
        }
      }
    },

    watchDataForFilters () {
      return [this.getItemStatuses, this.$i18n.locale]
    }
  },

  watch: {
    isLoadingPages (isLoading) {
      if (!isLoading) {
        // Set activeTree
        const routeName = this.$route.name
        if (['project-implementation-guide-page-details', 'project-implementation-guide-pages'].includes(routeName)) {
          this.activeTree = 'pages'
        } else {
          this.activeTree = 'guides'
        }
      }
    },
    '$route.name': {
      immediate: true,
      handler (routeName) {
        if (routeName === 'project-implementation-guide') {
          // Set activeTree
          this.activeTree = 'guides'

          // Reset state when navigating back to project-implementation-guide route
          if (this.activeItem?.id) {
            const exceptions = ['implementationGuides']
            this.$store.commit('project/ig/initImplementationGuide', exceptions)
          }
        }
      }
    },
    watchDataForFilters: {
      immediate: true,
      deep: true,
      handler () {
        const defaultActive = ['draft', 'pending', 'final', 'new', undefined]

        this.filters = this.getItemStatuses?.map(status => {
          const currentlyActive = this.filters?.find(filter => filter.key === status.value)?.active
          return {
            name: this.$filters.getMatchingTranslation({ value: status.label, locale: this.$i18n.locale }),
            key: status.value,
            active: currentlyActive !== undefined
              ? currentlyActive
              : defaultActive.includes(status.value)
          }
        }) || []

        this.filters.push({
          key: undefined,
          active: true,
          hidden: true
        })
      }
    }
  }
}
</script>
