<template>
  <div class="ig-details-card">
    <v-card v-if="activeItem">
      <div class="ig-details-card-header d-flex flex-row align-center pr-4">
        <div class="d-flex flex-column justify-center flex-grow-1">
          <AdCardTitle>
            <AdStatusDot class="mr-1" :icon="igIcon" larger :status="activeItem.statusCode" darker />
            {{ $filters.getMatchingTranslation({ value: activeItem.title })}}
          </AdCardTitle>

          <v-card-subtitle v-if="isPage && implementationGuideMetaData" class="subtitle-2 pt-2">
            {{ $filters.getMatchingTranslation({ value: implementationGuideMetaData.title })}}
          </v-card-subtitle>
        </div>

        <template v-if="implementationGuideIsEditable">
          <AdButton
            v-if="editMode.page && implementationGuideIsEditable && editable.page && isPage && !isLoading('page')"
            noMarginRight
            type="save"
            :disabled="!(contentHasChanges || titleHasChanges) || saving.pageContent"
            @click="handleClickSave"
          />
          <AdButton
            v-if="editMode.page && implementationGuideIsEditable && editable.page && isPage && !isLoading('page')"
            noMarginRight
            type="save"
            :text="$t('save-and-close')"
            :disabled="!(contentHasChanges || titleHasChanges) || saving.pageContent"
            @click="handleClickSave({ close: true })"
          />
          <template v-if="isPage">
            <AdButton v-if="!editMode.page && !isRootPage" type="delete" @click="deletePage"/>
            <AdButton v-if="!editMode.page" type="edit" @click="startEditMode"/>
            <AdButton v-else type="cancel" @click="cancelEditMode"/>
          </template>
          <template v-if="!isPage">
            <IssueCreationModal :object="activeItem" @create="handleCreateIssue"/>
          </template>
        </template>

      </div>

      <v-card-text>
        <PanelLoading :loading="isLoading('implementationGuideMetaData') || isLoading('page')" />

        <!-- Implementation Guides -->
        <template v-if="implementationGuideMetaData && !isLoading('implementationGuideMetaData') && !isPage">

          <EditableArtefactDetailHeader
            artefact="Implementationguide"
            :item="editable.implementationGuideMetaData"
            :locales="projectLocales"
            :isEditableStatusCode="isEditableStatusCode"
            :readonly="!userIsEditor || !implementationGuideIsEditable"
            :service="patchImplementationGuide"
          >
            <ImplementationGuideMetaInformation :readonly="!userIsEditor || !implementationGuideIsEditable"/>
          </EditableArtefactDetailHeader>

          <v-card class="my-5" outlined>
            <v-card-text class="pa-0 pt-4">
              <ImplementationGuideResources headerClass="px-4" showTitle />
            </v-card-text>
          </v-card>

          <HistorySection
            :objectId="editable.implementationGuideMetaData.id"
            :objectEffectiveDate="editable.implementationGuideMetaData.effectiveDate"
            artefact="IG"
          />

           <IssueAssociationsSection
            ref="issueSection"
            :count="issueAssociations"
            :objectId="editable.implementationGuideMetaData.id"
            :objectEffectiveDate="editable.implementationGuideMetaData.effectiveDate"
          />

        </template>

        <!-- Pages -->
        <EditableTranslationEditor
          v-if="editable.page && isPage && !isLoading('page')"
          v-model="editable.page.title"
          :label="$t('title')"
          :locales="projectLocales"
          confirmation-required
          :readonly="!editMode.page || !implementationGuideIsEditable"
        />

        <!-- This v-show construction is needed to work around a tiptap bug -->
        <p
          v-if="page && isPage && !isLoading('page') && editMode.page"
          class="mb-0"
          :class="{'red--text': contentHasChanges}"
        >
          {{ contentStatusMessage }}
        </p>

        <EditableTranslationEditor
          v-show="page && isPage && !isLoading('page')"
          v-model="pageContent"
          :key="activeItem.id"
          :placeholder="$t('content')"
          :minHeight="400"
          :maxHeight="600"
          :stickyOffset="75"
          editor
          emitOnInput
          :readonly="!editMode.page || !implementationGuideIsEditable"
          class="pa-0 "
        />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import IssueCreationModal from '@/components/Issue/IssueCreationModal'
import IssueAssociationsSection from '@/components/Utilities/IssueAssociationsSection'
import EditableArtefactDetailHeader from '../Utilities/Editable/EditableStructure/EditableArtefactDetailHeader.vue'
import HistorySection from '@/components/Utilities/HistorySection'
import ImplementationGuideMetaInformation from '@/components/Project/ImplementationGuideMetaInformation'
import ImplementationGuideResources from '@/components/Project/ImplementationGuideResources'

import LockService from '@/services/LockService'

import { mapGetters } from 'vuex'
import { cloneDeep, isEqual } from 'lodash'
// import { isCancel } from 'axios'

export default {
  name: 'ImplementationGuideDetailsCard',
  components: {
    EditableArtefactDetailHeader,
    HistorySection,
    ImplementationGuideMetaInformation,
    ImplementationGuideResources,
    IssueCreationModal,
    IssueAssociationsSection
  },
  data () {
    return {
      editable: {
        implementationGuideMetaData: null,
        page: null
      },
      editMode: { page: false },
      saving: {
        pageContent: false
      }
    }
  },

  computed: {
    ...mapGetters('project/ig', [
      'implementationGuides', 'implementationGuideMetaData', 'implementationGuidePageTree',
      'implementationGuideResourceList', 'activeItem', 'page', 'isLoading', 'implementationGuidesAreEditable',
      'implementationGuideIsEditable'
    ]),

    contentHasChanges () {
      if (!this.editable.page?.content || !this.page?.content) {
        return false
      }
      return !isEqual(this.editable.page.content, this.page.content)
    },

    contentStatusMessage () {
      if (this.contentHasChanges) return this.$t('auto-save-unsaved-changes')
      return this.$t('auto-save-no-unsaved')
    },

    igIcon () {
      return this.isPage
        ? 'mdi-file-document-outline'
        : 'mdi-book-information-variant'
    },

    isEditableStatusCode () {
      return this.userIsEditor &&
        this.implementationGuidesAreEditable &&
        this.itemStatusCodeLifeCycle[this.implementationGuideMetaData?.statusCode]?.length > 1
    },

    isPage () {
      return !!this.activeItem && !this.activeItem?.statusCode
    },

    isRootPage () {
      if (!this.isPage) {
        return false
      }
      const currentPageId = this.activeItem.id
      const rootId = this.implementationGuidePageTree?.[0]?.id
      return rootId && rootId === currentPageId
    },

    issueAssociations () {
      return parseInt(this.editable.implementationGuideMetaData?.issueAssociation?.[0]?.count) || 0
    },

    itemStatusCodeLifeCycle () {
      return this.$store.getters['server/decorStatusMaps']?.ItemStatusCodeLifeCycle?.[0] || []
    },

    pageContent: {
      get () {
        return this.editable.page?.content
      },
      set (val) {
        if (this.editable.page?.content) {
          this.editable.page.content = val
        }
      }
    },

    titleHasChanges () {
      if (!this.editable.page?.title || !this.page?.title) {
        return false
      }
      return !isEqual(this.editable.page.title, this.page.title)
    }

  },

  methods: {
    async cancelEditMode () {
      if (this.titleHasChanges || this.contentHasChanges) {
        const confirm = await this.$confirm(this.$t('unsaved-data'))
        if (!confirm) return
      }

      const { id: objectId, effectiveDate } = this.editable.implementationGuideMetaData
      LockService.unlockObjectId({ objectId, effectiveDate })
        .catch(error => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })

      this.restore('page')
      this.editMode.page = false
    },

    cleanUp (to, from) {
      if (to.name === 'project-implementation-guide-pages') {
        this.$store.commit('project/ig/setPage', null)
      }
    },

    async deletePage () {
      const page = this.editable?.page
      if (!page) return

      const confirmed = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (!confirmed) return

      const item = this.editable?.implementationGuideMetaData

      const data = {
        parameter: [
          {
            op: 'remove',
            path: '/definition/page',
            value: {
              page
            }
          }
        ]
      }

      const returnMode = 'pages' // returnmode pages so the tree gets updated

      try {
        await this.patchImplementationGuide(item, data, null, returnMode)
        this.$store.commit('project/ig/setPage', null)
        this.$store.commit('project/ig/setActiveItem', null)
        this.$notify(this.$t('submission-delete-success'), 'success')
      } catch (error) {
        console.error(error)
      }
    },

    async fetchDataBasedOnRouteParams (to, from) {
      const { igId, igEffectiveDate, pageId } = to.params

      if (!(igId && igEffectiveDate)) {
        return
      }

      const igDataIsPresent = this.implementationGuideMetaData?.id === igId &&
        this.implementationGuideMetaData?.effectiveDate === igEffectiveDate

      if (!igDataIsPresent) {
        const actionPayload = { id: igId, effectiveDate: igEffectiveDate }

        // Clear potential old meta data, page tree and resources
        this.$store.commit('project/ig/setImplementationGuideMetaData', null)
        this.$store.commit('project/ig/setImplementationGuidePageTree', null)
        this.$store.commit('project/ig/setImplementationGuideResourceList', null)

        // Fetch Implementation Guide meta data, page tree, resources
        const calls = [
          this.$store.dispatch('project/ig/getImplementationGuideMetaData', actionPayload),
          this.$store.dispatch('project/ig/getImplementationGuidePageTree', actionPayload),
          this.$store.dispatch('project/ig/getImplementationGuideResourceList', actionPayload)
        ]

        try {
          await Promise.all(calls)
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
          this.$oops(errorMessage)

          const exceptions = ['implementationGuides']
          this.$store.commit('project/ig/initImplementationGuide', exceptions)
          this.$router.push({ name: 'project-implementation-guide' }).catch(() => {})
          return
        }

        // Set activeItem
        const activeGuide = this.implementationGuides?.find(guide => guide.id === igId && guide.effectiveDate === igEffectiveDate)
        this.$store.commit('project/ig/setActiveItem', activeGuide)
      }

      if (pageId) {
        // fetch page with content
        this.$store.dispatch('project/ig/getImplementationGuidePage', {
          id: igId,
          effectiveDate: igEffectiveDate,
          pageId
        }).catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })

        // Set activeItem
        const activePage = this.$filters.listHelper.findItemInList({
          items: this.implementationGuidePageTree || [],
          children: 'page',
          handler: match => match.id === pageId
        })

        this.$store.commit('project/ig/setActiveItem', activePage)
      }
    },

    handleClickSave ({ close = false } = {}) {
      this.saving.pageContent = true
      this.savePage().then(() => {
        this.saving.pageContent = false
        if (close) {
          this.editMode.page = false
        }
      })
    },

    handleCreateIssue (issue) {
      this.$store.commit('project/ig/incrementImplementationGuideIssueAssociationCount')
      if (this.$refs?.issueSection?.issueList?.issue) {
        this.$refs.issueSection.issueList.issue.push(issue)
      }
    },

    async patchImplementationGuide (item, data, raw, returnMode = 'metadata') {
      try {
        const { id, effectiveDate } = item

        await this.$store.dispatch('project/ig/patchImplementationGuide', {
          id,
          effectiveDate,
          params: { returnmode: returnMode },
          data
        })
      } catch (error) {
        this.restore('implementationGuideMetaData')
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },

    restore (object) {
      const supported = ['implementationGuideMetaData', 'page']
      if (!supported.includes(object)) {
        console.error(`${object} is not a valid object for restore`)
        return
      }
      this.editable[object] = cloneDeep(this[object])
    },

    savePage () {
      if (!this.editable.page?.id) {
        return this.$oops(this.$t('error'))
      }
      const item = {
        id: this.editable.implementationGuideMetaData?.id,
        effectiveDate: this.editable.implementationGuideMetaData?.effectiveDate
      }
      const returnmode = 'page'
      const data = {
        parameter: [
          {
            op: 'replace',
            path: '/definition/page',
            value: {
              page: this.editable.page
            }
          }
        ]
      }
      return this.patchImplementationGuide(item, data, null, returnmode)
    },

    async startEditMode () {
      const { id, effectiveDate } = this.editable.implementationGuideMetaData
      if (!id || !effectiveDate) {
        this.$oops()
        return
      }

      try {
        await LockService.lockObjectId({ objectId: id, effectiveDate })
        this.editMode.page = true
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    }
  },

  watch: {
    implementationGuideMetaData: {
      immediate: true,
      deep: true,
      handler (data) {
        this.editable.implementationGuideMetaData = cloneDeep(data)
      }
    },
    page: {
      immediate: true,
      deep: true,
      handler (data) {
        this.editable.page = cloneDeep(data)
      }
    }
  },

  beforeRouteEnter (to, from, next) {
    next(async vm => {
      try {
        if (!vm.$store.getters['project/ig/implementationGuides']?.length) {
          await vm.$store.dispatch('project/ig/getImplementationGuideList')
        }
        vm.cleanUp(to, from)
        vm.fetchDataBasedOnRouteParams(to, from)
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        vm.$oops(errorMessage)
      }
    })
  },
  async beforeRouteUpdate (to, from, next) {
    this.cleanUp(to, from)
    this.fetchDataBasedOnRouteParams(to, from)
    next()
  }
}
</script>

<style lang="scss" scoped>

.ig-details-card {
  position: relative;
  top: 0;

  .ig-details-card-header {
    position: sticky;
    top: 48px;
    z-index: 4;

    height: 72px;
    background: var(--v-topbottomstrip-base);

    ::v-deep .v-card__title {
      background: transparent !important;
    }
  }
}

</style>
