<template>
  <div>
    <!-- Modals -->
    <AddImplementationGuide v-model="modals.addImplementationGuide" />

    <TreeviewPanel
      :trees="trees"
      :filters="filters"
      :active-tree="activeTree"
      @update:active-tree="$emit('update:active-tree', $event)"
      :active-item="activeItem"
      indicateNoData
    >
      <template #action-buttons>
        <AdButton
          v-if="activeTree === 'guides'"
          type="add"
          listItem
          @click="modals.addImplementationGuide = true"
          :hint="$t('add-implementation-guide')"
        />
        <TreeviewEditDialog
          v-if="activeTree === 'pages' && true && hasMultiplePages"
          :tree="movableTree"
        />
      </template>
    </TreeviewPanel>
  </div>
</template>

<script>
import TreeviewEditDialog from '@/components/Utilities/Treeview/TreeviewEditDialog'
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'
import AddImplementationGuide from '@/components/Project/AddImplementationGuide'

import { mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'

export default {
  name: 'ImplementationGuideTreeViewCard',
  components: {
    AddImplementationGuide,
    TreeviewEditDialog,
    TreeviewPanel
  },
  props: {
    activeTree: {
      type: String,
      required: true
    },
    trees: {
      type: [Array, Object],
      required: true
    },
    filters: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      modals: {
        addImplementationGuide: false
      }

    }
  },
  computed: {
    ...mapGetters('project/ig', ['implementationGuidePageTree']),

    activeItem: {
      get () {
        return this.$store.getters['project/ig/activeItem']
      },
      set (activeItem) {
        this.$store.commit('project/ig/setActiveItem', activeItem)
      }
    },
    hasMultiplePages () {
      return this.movablePages.reduce((prev, curr) => {
        if (Array.isArray(curr.page)) {
          return prev + 1 + curr.page.length
        }
        return prev + 1
      }, 0) > 1
    },
    movablePages () {
      return cloneDeep(this.implementationGuidePageTree?.[0]?.page)
        ?.map(item => ({ ...item, type: 'group' })) || // type=group is needed so pages can be inserted into other pages
        []
    },
    movableTree () {
      const tree = cloneDeep(this.trees.pages)

      // Prepare tree for moving items
      tree.editable = true
      tree.items = this.movablePages
      tree.text = 'title'
      tree.textI18n = '#text'

      return tree
    }
  }
}
</script>
