<template>
  <v-data-table :items="filteredResources" :headers="headers" item-key="uuid" dense
    :loading="isLoading('implementationGuideResourceList')" :search="search" :custom-filter="searchFilter"
    :footer-props="{ 'items-per-page-options': [5, 10, 25, -1] }" :hide-default-footer="filteredResources.length <= 5">
    <template #top>
      <div :class="headerClass">
        <AdTableSearch v-model.trim="search" :placeholder="`${$t('name')}, ${$t('oid')}`">
          <template #prepend>
            <v-col cols="4">
              <v-card-title v-if="showTitle" class="grey--text pa-0">{{ $t('resources') }}</v-card-title>
            </v-col>
            <v-col cols="4" class="d-flex justify-end align-center">
              <span v-if="updateAlreadyScheduled" class="text--disabled">{{ $t('update-in-progress') }}</span>
              <AdButton v-if="implementationGuideIsEditable" :disabled="!canUpdateResources"
                :loading="updateAlreadyScheduled" type="refresh" color="orange" :hint="$t('update-ig-resources')"
                @click="updateResources" />
              <AdArtefactFilter v-model="artefactFilters" :filtersToOffer="objectTypesInResources" />
            </v-col>
          </template>
        </AdTableSearch>
      </div>
    </template>
    <template #item.id="{ item }">
      <AdShortId :id="item.id" />
    </template>

    <template #item.name="{ item }">
      <AdStatusDot v-if="item.statusCode || item.artefact === 'AC'" class="mr-1" :status="item.statusCode"
        :icon="getIcon(item)" tooltip />
      <span v-if="item.displayName">
        {{ item.displayName }}
        <span class="text--disabled font-italic">{{ $filters.getMatchingTranslation({ value: item.name }) }}</span>
      </span>
      <span v-else>
        {{ $filters.getMatchingTranslation({ value: item.name }) }}
      </span>
      <span v-if="item.versionLabel && item.versionLabel !== ''"> ({{ item.versionLabel }})</span>
      <AdRefChip v-if="item.ident" :ident="item.ident" small />
    </template>

    <template #item.version="{ item }">
      <template v-if="item.effectiveDate">
        {{ $filters.formatDateShort(item.effectiveDate) }}
      </template>
    </template>

    <template #item.artefact="{ item }">
      {{ artefactLabel(item.artefact) }}
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters } from 'vuex'
import AdTableSearch from '../Utilities/AdTableSearch.vue'
import AdArtefactFilter from '../Utilities/AdArtefactFilter.vue'

export default {
  components: { AdTableSearch, AdArtefactFilter },
  name: 'ImplementationGuideResources',
  props: {
    headerClass: {
      type: String,
      required: false
    },
    showTitle: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      artefactFilters: [],
      search: ''
    }
  },
  computed: {
    ...mapGetters('project/ig', [
      'implementationGuideResourceList', 'isLoading', 'implementationGuidesAreEditable',
      'implementationGuideIsEditable', 'implementationGuideMetaData', 'activeItem'
    ]),

    artefactLabel () {
      return artefact => {
        const label = this.decorObjectTypes.find(obj => obj.value === artefact)?.label
        if (!label) {
          return artefact
        }
        return this.$filters.getMatchingTranslation({ value: label, locale: this.$i18n.locale })
      }
    },

    canUpdateResources () {
      return !this.updateAlreadyScheduled && !this.isLoading('implementationGuideResourceList')
    },

    compileTasks () {
      return this.$store.getters['project/scheduledTasks/compileTasks']
    },

    decorObjectTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.DecorObjectType?.[0]?.enumeration || []
    },

    filteredResources () {
      if (this.artefactFilters.every(item => !item.active)) {
        return this.resources
      }
      return this.resources.filter(item => this.artefactFilters.find(filter => filter.name === item.artefact)?.active)
    },

    headers () {
      return [
        { value: 'id', text: this.$t('id'), sortable: false },
        {
          value: 'name',
          text: this.$t('name'),
          sort: (a, b) => {
            if (this.$filters.getMatchingTranslation({ value: a }) > this.$filters.getMatchingTranslation({ value: b })) {
              return 1
            }
            if (this.$filters.getMatchingTranslation({ value: a }) < this.$filters.getMatchingTranslation({ value: b })) {
              return -1
            }
            return 0
          }
        },
        { value: 'version', text: this.$t('version'), sortable: false },
        { value: 'artefact', text: this.$t('resource') }
      ]
    },

    objectTypesInResources () {
      return [...new Set(this.implementationGuideResourceList.map(item => item.artefact))]
    },

    resources () {
      return this.implementationGuideResourceList.map(item => ({ ...item, uuid: this.getUuid() }))
    },

    updateAlreadyScheduled () {
      const { id, effectiveDate } = this.implementationGuideMetaData

      return !!this.$store.getters['project/scheduledTasks/compileTasks']
        .find(task => {
          return task.implementationguideId && task.implementationguideId === id &&
          task.implementationguideEffectiveDate === effectiveDate
        })
    }
  },
  methods: {
    getIcon (resource) {
      switch (resource.artefact) {
        case 'AC':
          return this.$filters.getActorIcon(resource.type)
        case 'CS':
          return 'mdi-format-list-bulleted-type'
        case 'DS':
          return this.$filters.getDatasetIcon(resource)
        case 'SC':
          return this.$filters.getScenarioIcon(resource.type)
        case 'TM':
          return 'mdi-recycle'
        case 'TR':
          return this.$filters.getScenarioIcon(resource.type)
        case 'VS':
          return 'mdi-heart'
      }
    },

    searchFilter (value, search, item) {
      const query = search.toLowerCase()
      const nameMatches = () => item.name?.some(name => name['#text']?.toLowerCase()?.includes(query))

      const idMatches = () => {
        const searchTextIsOid = /^[0-2](\.(0|[1-9][0-9]*))+$/.test(query)
        const searchTextIsShortOid = /^(0|[1-9][0-9]*)$/.test(query)
        const fullOid = item.id || item.ref
        const lastPartOfOid = fullOid?.split('.')?.at(-1)

        return (
          (searchTextIsOid && [item.id, item.ref].includes(query)) ||
          (searchTextIsShortOid && lastPartOfOid === query)
        )
      }

      return nameMatches() || idMatches()
    },

    async updateResources () {
      const agree = await this.$confirm(this.$t('update-ig-resources-hint'))
      if (!agree) {
        return
      }

      const { id, effectiveDate } = this.implementationGuideMetaData
      try {
        await this.$store.dispatch('project/ig/postImplementationGuideRefresh', { id, effectiveDate, data: null })
      } catch (error) {
        console.error(error)
      }
    }
  },

  watch: {
    compileTasks: {
      handler (newTasks, oldTasks) {
        if (!newTasks.length && !oldTasks.length) return
        const { id, effectiveDate } = this.activeItem || {}
        if (!id || !effectiveDate) return

        const newTasksIncludeActiveItem = newTasks.some(task => task.implementationguideId === id && task.implementationguideEffectiveDate === effectiveDate)
        const oldTasksIncludeActiveItem = oldTasks.some(task => task.implementationguideId === id && task.implementationguideEffectiveDate === effectiveDate)

        if (oldTasksIncludeActiveItem && !newTasksIncludeActiveItem) {
          this.$store.dispatch('project/ig/getImplementationGuideResourceList', { id, effectiveDate })
            .catch(error => {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              this.$oops(errorMessage)
            })
        }
      }
    }
  }
}
</script>

<style>

</style>
