<template>
  <div>
    <!-- Modal for adding / editing -->
    <v-dialog
      v-model="modal.state"
      width="800"
      persistent
    >
      <v-card>
        <AdCardTitle dialog>{{ $t(`${modal.mode}-license`) }}</AdCardTitle>
        <v-card-text class="pa-5">
          <v-form ref="form">
            <v-row>
              <v-col cols="12">
                <v-autocomplete :items="licenseTypes" :label="$t('license')" v-model="modal.code" :filter="licenseFilter">
                  <template #selection="{item}">
                    {{ $filters.getMatchingTranslation({value: item.label}) }}
                  </template>
                  <template #item="{item}">
                    {{ $filters.getMatchingTranslation({value: item.label}) }}
                  </template>
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions class="dialogbottomstrip">
          <v-spacer/>
          <AdButton
            :disabled="modal.readonly"
            type="cancel"
            @click="closeModal"
          />
          <AdButton
            :type="'save'"
            :hint="$t('save')"
            @click="modal.mode === 'add' ? addLicense() : editLicense()"
            depressed
            :disabled="modal.readonly || modal.code === null"
          />
       </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- License card -->
    <v-card class="mx-auto">
      <AdCardTitle inline prependicon="mdi-license">
        {{ $t('license') }}
        <template>
          <v-btn
            color="blue lighten-3 elevation-1"
            icon
            x-small
            class="ml-3"
            @click="licenseOwlModal = true"
          >
            <v-icon color="gray darken-1">mdi-owl</v-icon>
          </v-btn>
          <v-dialog v-model="licenseOwlModal" width="700" >
            <v-card class="px-3 py-3">
              <AdCardTitle>
                {{ $t('license-info') }}
                <v-spacer></v-spacer>
                <AdButton type="close" @click="licenseOwlModal = false" />
              </AdCardTitle>
              <v-card-text class="px-3 py-3">
                <span v-html="$t('license-hint')"></span>
              </v-card-text>
            </v-card>
          </v-dialog>
        </template>
        <template v-if="userIsProjectAuthor && !licenseData">
          <v-spacer></v-spacer>
          <AdButton
            type="add"
            small
            @click="startAddLicense()"
            :hint="$t('add-license')"
          />
        </template>
      </AdCardTitle>
      <v-card-text v-if="!licenseData">
        <span class="pl-3">{{ $t('not-specified') }}</span>
      </v-card-text>
      <v-card-text v-else>
        <v-data-table
          dense
          :headers="headers"
          :items="licenseData"
          :hide-default-footer="true"
          class="elevation-1"
        >
          <template #[`item.actions`]="{ item }">
            <AdSpeedDial v-if="userIsProjectAuthor" direction="left">
              <AdButton
                :type="'edit'"
                list
                @click="startEditLicense(item)"
              />
              <AdButton
                type="delete"
                list
                @click="deleteLicense(item)"
              />
            </AdSpeedDial>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModalState = {
  state: false,
  mode: 'add', // can be 'add' or 'edit',
  displayName: null,
  code: null,
  removeOnUpdate: null,
  readonly: false
}
export default {
  name: 'LicenseCard',
  data () {
    return {
      modal: cloneDeep(initialModalState),
      licenseOwlModal: false
    }
  },
  computed: {
    licenseTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.LicenseTypes?.[0]?.enumeration || []
    },
    headers () {
      return [
        {
          text: this.$t('license'),
          value: 'displayName'
        },
        {
          value: 'actions',
          align: 'right',
          sortable: false
        }
      ]
    },
    licenseData () {
      return this.projectInFocus?.license || null
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModalState)
    },
    licenseFilter (item, queryText) {
      const code = item.value.toLowerCase()
      const codeMatches = code.includes(queryText.toLowerCase())
      const codeName = (this.$filters.getMatchingTranslation({ value: item.label }))?.toLowerCase()
      const codeNameMatches = codeName?.includes(queryText.toLowerCase())
      return codeMatches || codeNameMatches
    },
    async deleteLicense (item) {
      try {
        const confirmed = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'), { positive: this.$t('delete'), icon: 'mdi-delete' })
        if (!confirmed) {
          return
        }

        const data = {
          parameter: [
            {
              op: 'remove',
              path: '/license',
              value: {
                license: {
                  displayName: item.displayName,
                  code: item.code
                }
              }
            }
          ]
        }
        await this.$store.dispatch('project/patchProject', { data, path: 'license' })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
        this.$alert(errorMessage)
      }
    },
    async editLicense () {
      try {
        const data = {
          parameter: [
            {
              op: 'replace',
              path: '/license',
              value: {
                license: {
                  displayName: this.modal.displayName,
                  code: this.modal.code
                }
              }
            }
          ]
        }

        this.modal.readonly = true
        await this.$store.dispatch('project/patchProject', { data, path: 'license' })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
        this.$alert(errorMessage)
      }
      this.closeModal()
    },
    async addLicense () {
      try {
        const data = {
          parameter: [
            {
              op: 'add',
              path: '/license',
              value: {
                license: {
                  displayName: this.modal.displayName,
                  code: this.modal.code
                }
              }
            }
          ]
        }

        this.modal.readonly = true
        await this.$store.dispatch('project/patchProject', { data, path: 'license' })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
        this.$alert(errorMessage)
      }
      this.closeModal()
    },
    startAddLicense () {
      this.modal.mode = 'add'
      this.modal.state = true
      this.licenseSearchList = this.licenseTypes
    },
    startEditLicense (item) {
      this.modal.mode = 'edit'
      this.modal.code = item.code
      this.modal.displayName = item.label
      this.modal.removeOnUpdate = cloneDeep(item)
      this.modal.state = true
      this.licenseSearchList = this.licenseTypes
    }
  }
}
</script>
