<template>
  <v-dialog
    :value="showDialog"
    width="800"
    persistent
    eager
  >
    <!-- Internal dialogs -->
    <MyCommunityPrototypeAdd
      v-model="modals.myCommunityPrototypeAdd.open"
      :prototype="modals.myCommunityPrototypeAdd.selected"
      @save="addPrototype"
    />

    <v-card>
      <AdCardTitle dialog>{{ $t('add-my-community') }}</AdCardTitle>
      <v-card-text class="pa-5">
        <v-form ref="form" v-model="formIsValid">
          <v-row>
            <v-col cols="6">
              <EditableString
                v-model.trim="newEnvironment.name"
                :label="$t('name')"
                required
              />
            </v-col>
            <v-col cols="6">
              <EditableString
                v-model.trim="newEnvironment.displayName"
                :label="$t('display-name')"
              />
            </v-col>
          </v-row>
          <EditableTranslationEditor
            v-model="newEnvironment.desc"
            :label="$t('description')"
            editor
            :locales="projectLocales"
            class="mb-4"
          />

          <!-- Authors -->
          <v-fade-transition>
            <AdInfoOwl v-if="!hasAuthorWithWriteRights">
              {{ $t('author-with-write-rights-required') }}
            </AdInfoOwl>
          </v-fade-transition>
          <v-card outlined class="mb-4">
            <AdCardTitle inline>
              <span>{{ $t('authors') }}</span>
              <v-spacer/>
              <v-menu close-on-content-click offset-y>
                <template #activator="{ on, attrs }">
                  <AdButton type="add" list v-on="on" v-bind="attrs" :disabled="!projectAuthorsAvailable.length" :class="{'btn-disabled': !projectAuthorsAvailable.length}"/>
                </template>
                <v-list dense max-height="80vh">
                  <v-list-item-group style="background: #fff">
                    <template v-if="!guestUserIsAdded">
                      <v-list-item @click="addAuthor({username: 'guest'})">
                        <v-list-item-content><v-list-item-title>Guest ({{ $t('public-access') }})</v-list-item-title></v-list-item-content>
                      </v-list-item>
                      <v-divider/>
                    </template>
                    <v-list-item
                      v-for="author in projectAuthorsAvailable"
                      :key="author.id"
                      @click="addAuthor(author)"
                    >
                      <v-list-item-content><v-list-item-title>{{ author['#text'] || author.username }}</v-list-item-title></v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-menu>
            </AdCardTitle>
            <v-data-table
              :items="newEnvironment.access[0].author"
              :headers="headersAuthors"
              dense
              :hide-default-footer="newEnvironment.access[0].author.length <= 5"
              :footer-props="{ 'items-per-page-options': [5, 10] }"
            >
              <template #item.username="{ item }">
                {{ getAuthorByUsername(item.username)?.['#text'] || item.username }}
              </template>
              <template #item.rights="{ item }">
                <v-select
                  v-model="item.rights"
                  :items="['r', 'rw']"
                  dense
                  hide-details
                  style="width: 50px; margin: 0;"
                />
              </template>
              <template #item.actions="{ item }">
                <AdSpeedDial direction="left">
                  <AdButton type="delete" list @click="removeAuthor(item)"/>
                </AdSpeedDial>
              </template>
            </v-data-table>
          </v-card>

          <!-- Prototypes -->
          <v-card outlined>
            <AdCardTitle inline>
              <span>{{ $t('prototypes') }}</span>
              <v-spacer/>
              <AdButton v-if="!isAda" type="add" list @click="startAddPrototype"/>
            </AdCardTitle>

            <!-- ADA exception -->
            <v-fade-transition>
              <EditableString
                v-if="isAda && newEnvironment.prototype?.[0]?.ref"
                v-model.trim="newEnvironment.prototype[0].ref"
                :label="$t('reference')"
                required
                class="mx-5"
              />
            </v-fade-transition>

            <!-- Regular prototypes -->
            <v-data-table
              v-if="!isAda"
              :items="newEnvironment.prototype"
              :headers="headersPrototype"
              dense
              :hide-default-footer="newEnvironment.prototype.length <= 5"
              :footer-props="{ 'items-per-page-options': [5, 10] }"
            >
              <template #item.type="{ item }">
                {{ item.type }}
                <v-tooltip v-if="$filters.htmlHasTextContent($filters.getMatchingTranslation({value: item.desc}))" top content-class="my-community-desc-tooltip">
                  <template #activator="{ on }">
                    <v-icon v-on="on" class="text--disabled">mdi-information</v-icon>
                  </template>
                  <span v-html="getDescriptionHTML(item.desc)"/>
                </v-tooltip>
              </template>
              <template #item.actions="{ item }">
                <AdSpeedDial direction="left">
                  <AdButton type="edit" list @click="startEditPrototype(item)"/>
                  <AdButton type="delete" list @click="removePrototype(item)"/>
                </AdSpeedDial>
              </template>
            </v-data-table>

          </v-card>

        </v-form>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="showDialog = false" />
        <AdButton type="save" @click="saveEnvironment" :disabled="!canSave"/>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import MyCommunityPrototypeAdd from './MyCommunityPrototypeAdd.vue'
import { cloneDeep } from 'lodash'
const environment = {
  access: [{ author: [] }],
  prototype: [],
  displayName: null,
  desc: null,
  name: null
}
export default {
  components: { MyCommunityPrototypeAdd },
  name: 'MyCommunityAdd',
  props: {
    // The open / close state of the dialog
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      formIsValid: false,
      newEnvironment: cloneDeep(environment),
      loading: {
        saveEnvironment: false
      },
      modals: {
        myCommunityPrototypeAdd: {
          open: false,
          selected: null
        }
      }
    }
  },
  computed: {
    canSave () {
      return this.formIsValid && !this.loading.saveEnvironment && this.hasAuthorWithWriteRights && this.newEnvironment.prototype.length > 0
    },
    guestUserIsAdded () {
      return this.newEnvironment.access[0].author.some(author => author.username === 'guest')
    },
    environmentToStore () {
      const environment = cloneDeep(this.newEnvironment)
      for (const key in environment) {
        if (environment[key] === null) {
          delete environment[key]
        }
      }
      const prototype = cloneDeep(this.newEnvironment.prototype)
      prototype.forEach(p => {
        delete p.uuid
      })
      return {
        ...environment,
        prototype: [{ data: prototype }],
        projectId: this.projectInFocus?.id
      }
    },
    hasAuthorWithWriteRights () {
      return this.newEnvironment.access[0].author.some(author => author.rights === 'rw')
    },
    headersAuthors () {
      return [
        { text: this.$t('username'), value: 'username', sortable: false },
        { text: this.$t('rights'), value: 'rights', sortable: false },
        { value: 'actions', sortable: false, align: 'right' }
      ]
    },
    headersPrototype () {
      return [
        { text: this.$t('type'), value: 'type', sortable: false },
        { text: this.$t('datatype'), value: 'datatype', sortable: false },
        { text: this.$t('label'), value: 'label', sortable: false },
        { value: 'actions', sortable: false, align: 'right' }
      ]
    },
    isAda () {
      return this.newEnvironment.name === 'ada'
    },
    projectAuthors () {
      return this.$store.getters['project/authors'] || []
    },
    projectAuthorsAvailable () {
      return this.projectAuthors.filter(author => !this.newEnvironment.access[0].author.some(access => access.username === author.username))
    },
    showDialog: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    addAuthor (author) {
      this.newEnvironment.access[0].author.push({
        username: author.username,
        rights: 'r'
      })
    },
    addPrototype (prototype) {
      const newPrototype = cloneDeep(prototype)
      if (!newPrototype.uuid) {
        newPrototype.uuid = this.getUuid()
        this.newEnvironment.prototype.push(newPrototype)
      } else {
        const index = this.newEnvironment.prototype.findIndex(p => p.uuid === newPrototype.uuid)
        this.newEnvironment.prototype.splice(index, 1, newPrototype)
      }
    },
    getAuthorByUsername (username) {
      const authors = [...this.projectAuthors, { username: 'guest', '#text': 'Guest' }]
      return authors.find(author => author.username === username)
    },
    getDescriptionHTML (desc) {
      const description = this.$filters.getMatchingTranslation({ value: desc })
      return `
      <style>.my-community-desc-tooltip * {margin: 0 !important;}</style>
      <strong>${this.$t('description')}:</strong><br>
      ${description}
      `
    },
    removeAuthor (author) {
      this.newEnvironment.access[0].author.splice(this.newEnvironment.access[0].author.indexOf(author), 1)
    },
    removePrototype (prototype) {
      this.newEnvironment.prototype.splice(this.newEnvironment.prototype.indexOf(prototype), 1)
    },
    async saveEnvironment () {
      this.loading.saveEnvironment = true
      try {
        await this.$store.dispatch('project/myCommunity/postMyCommunity', this.environmentToStore)
        this.showDialog = false
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
        this.$oops(errorMessage)
      }
      this.loading.saveEnvironment = false
    },
    startAddPrototype () {
      this.modals.myCommunityPrototypeAdd.selected = null
      this.modals.myCommunityPrototypeAdd.open = true
    },
    startEditPrototype (prototype) {
      this.modals.myCommunityPrototypeAdd.selected = prototype
      this.modals.myCommunityPrototypeAdd.open = true
    }
  },
  watch: {
    isAda (isAda) {
      if (isAda && !this.newEnvironment.prototype.length) {
        this.newEnvironment.prototype.push({
          ref: 'https://assets.art-decor.org/ADAR/rv/DECOR-communityADA.xml'
        })
      }
    },
    async value (modalIsopen) {
      if (modalIsopen) {
        this.newEnvironment = cloneDeep(environment)

        this.newEnvironment.access[0].author.push({
          username: this.$store.getters['authentication/getUser'].name,
          rights: 'rw'
        })
        await this.$nextTick()
        this.$refs.form.resetValidation()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-disabled {
  cursor: default;
}
</style>
