<template>
  <v-dialog
    :value="showDialog"
    width="800"
    persistent
  >
    <v-card>
      <AdCardTitle dialog>{{ modalTitle }}</AdCardTitle>
      <v-card-text class="pa-5">
        <v-form ref="form" v-model="formIsValid">
          <v-row dense>
            <v-col cols="4">
              <v-select
                v-model="editablePrototype.datatype"
                :items="datatypes"
                :label="$t('datatype')"
                hide-details
                :rules="[v => !!v || $t('required-field')]"
                class="required"
              />
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6">
              <EditableString
                v-model.trim="editablePrototype.type"
                :label="$t('type')"
                required
                :rules="[v => hasLength(1,80)(v) || $t('invalid-input')]"
                hide-details
              />
            </v-col>
            <v-col cols="6">
              <EditableString
                v-model.trim="editablePrototype.label"
                :label="$t('label')"
                required
                hide-details
              />
            </v-col>
          </v-row>
          <v-row v-if="['code', 'enum'].includes(editablePrototype.datatype)" dense>
            <v-col cols="12">
              <v-combobox
                v-model="editablePrototype.enumValue"
                :label="$t('values')"
                :rules="enumValueInputRules"
                multiple
              >
                <template #selection="{ item, attrs, selected, parent }">
                  <v-chip
                    v-if="item !== null"
                    v-bind="attrs"
                    :color="`${enumValueIsValid(item) ? 'green' : 'red'} lighten-3`"
                    :input-value="selected"
                    small
                  >
                    <span class="mr-2">{{ item }}</span>
                    <v-icon small @click="parent.selectItem(item)">$delete</v-icon>
                  </v-chip>
                </template>
              </v-combobox>

            </v-col>
          </v-row>
          <EditableTranslationEditor
            v-model="editablePrototype.desc"
            :label="$t('description')"
            editor
            :locales="projectLocales"
            class="my-4"
          />
        </v-form>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="showDialog = false" />
        <AdButton type="add" :disabled="!canSave" @click="save"/>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
const prototype = {
  type: null,
  label: null,
  datatype: 'text',
  desc: null
}

export default {
  name: 'MyCommunityPrototypeAdd',
  props: {
    // The open / close state of the dialog
    value: {
      type: Boolean,
      default: false
    },
    // Optional: The prototype to edit
    prototype: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      editablePrototype: cloneDeep(prototype),
      enumValueInputRules: [
        v => !!v?.length || this.$t('required-field'),
        v => v?.every(this.enumValueIsValid) || this.$t('invalid-input')
      ],
      formIsValid: false
    }
  },
  computed: {
    canSave () {
      return this.formIsValid
    },
    datatypes () {
      return ['string', 'text', 'integer', 'enum', 'code']
    },
    modalTitle () {
      return this.$t(`${this.mode}-prototype`)
    },
    mode () {
      return this.prototype ? 'edit' : 'add'
    },
    showDialog: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },
  methods: {
    enumValueIsValid (v) {
      return this.isShortFormalName(v) && this.hasLength(1, 80)(v)
    },
    isShortFormalName (v) {
      return /^[A-Za-z]+([A-Za-z0-9,._-])*$/.test(v)
    },
    // Returns a function that checks if the given value has a length between min and max
    hasLength (min, max) {
      return v => (v || '').length >= min && (v || '').length <= max
    },
    save () {
      this.$emit('save', this.editablePrototype)
      this.showDialog = false
    }
  },
  watch: {
    async value (modalIsopen) {
      if (modalIsopen) {
        this.editablePrototype = cloneDeep(this.prototype ?? prototype)

        await this.$nextTick()
        this.$refs.form.resetValidation()
      }
    }
  }
}

</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
