<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" class="mb-3" />

      <v-card :loading="isLoading('environmentItem')">
        <AdCardTitle prependicon="mdi-hammer-wrench">
          {{ $t('mycommunity')}}
          <template v-if="environmentItem && userCanWriteEnvironment(environmentItem.name)">
            <v-spacer/>
            <AdButton v-if="!editMode" type="edit" @click="startEditMode"/>
            <template v-else>
              <AdButton type="cancel" @click="cancelEditMode"/>
              <AdButton type="save" @click="save" />
            </template>
          </template>
        </AdCardTitle>
        <v-card-text class="pt-4">
          <PanelLoading v-if="isLoading('environmentItem') || isLoading('environments')" loading/>
          <AdInfoOwl v-else-if="!environmentItem">
            {{ $t('no-data') }}
          </AdInfoOwl>

          <!-- Details of the current environment -->
          <template v-else>
            <!-- Status when in edit mode -->
            <template v-if="editMode">
              <AdInfoOwl v-if="hasChanges" warning>{{ $t('auto-save-unsaved-changes') }}</AdInfoOwl>
              <AdInfoOwl v-else>{{ $t('auto-save-no-unsaved') }}</AdInfoOwl>
            </template>

            <!-- Tabs and child components -->
            <v-tabs v-model="tabIndex" optional class="mb-5">
              <v-tab v-for="(t, index) in tabs" :key="`tab${index}`" :to="t.to" :tab-value="t.label" exact>{{ $t(t.label)}}</v-tab>
            </v-tabs>
            <router-view :editMode="editMode" :environment.sync="editableEnvironment"/>
          </template>
        </v-card-text>
      </v-card>
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { cloneDeep, isEqual } from 'lodash'
import LockService from '@/services/LockService'
import datasetListeners from '@/listeners/dataset'
import conceptListeners from '@/listeners/concept'

export default {
  name: 'MyCommunityDetails',
  props: {
    // The name of the MyCommunity environment (route param)
    name: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      editableEnvironment: null,
      editMode: false,
      tabs: [
        {
          to: { name: 'project-community-details-associations' },
          label: 'associations'
        },
        {
          to: { name: 'project-community-details-definition' },
          label: 'definition'
        }
      ],
      tabIndex: null
    }
  },
  computed: {
    ...mapGetters('project/myCommunity', ['environmentItem', 'environments', 'isLoading', 'userCanReadEnvironment', 'userCanWriteEnvironment']),
    breadcrumbs () {
      return [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' }
        },
        {
          text: this.$t('project'),
          disabled: true
        },
        {
          text: this.$t('mycommunity'),
          to: { name: 'project-community' },
          exact: true
        },
        {
          text: this.environmentItem?.displayName || this.name,
          disabled: true
        }
      ]
    },
    environmentToStore () {
      const environment = cloneDeep(this.editableEnvironment)

      // Remove empty values
      Object.keys(environment).forEach(key => {
        if (environment[key] === null || environment[key] === '' || environment[key] === undefined) {
          delete environment[key]
        }
      })

      // Remove uuids from prototypes. They are added in the client and should not be stored.
      if (Array.isArray(environment.prototype?.[0]?.data)) {
        environment.prototype[0].data.forEach(prototype => {
          delete prototype.uuid
        })
      }

      // Temp: remove invalid desc from prototypes. The api might return invalid data for community prototypes created with AD2.
      // if (Array.isArray(environment.prototype?.[0]?.data)) {
      //   environment.prototype[0].data.forEach(prototype => {
      //     if (Array.isArray(prototype.desc)) {
      //       prototype.desc = prototype.desc.filter(desc => desc.language && desc['#text'])
      //     }
      //   })
      // }

      return environment
    },
    hasChanges () {
      return !isEqual(this.editableEnvironment, this.environmentItem)
    }
  },
  methods: {
    async cancelEditMode () {
      if (this.hasChanges) {
        const agree = await this.$confirm(`${this.$t('auto-save-unsaved-changes')} ${this.$t('confirm-cancel')}`, { positive: this.$t('yes'), negative: this.$t('no') })
        if (!agree) return
      }
      LockService.unlockObjectId({ objectId: this.environmentItem.name, projectId: this.projectInFocus?.id })
        .catch(error => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
          this.$oops(errorMessage)
        })
      this.editMode = false
      this.setEditableEnvironment(this.environmentItem)
    },
    fetchMyCommunityData (name) {
      return this.$store.dispatch('project/myCommunity/getMyCommunity', { name })
        .catch(error => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
          this.$oops(errorMessage)
        })
    },
    async save () {
      try {
        await this.$store.dispatch('project/myCommunity/putMyCommunity', this.environmentToStore)
        this.editMode = false
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
        this.$oops(errorMessage)
      }
    },
    setEditableEnvironment (environment) {
      this.editableEnvironment = cloneDeep(environment)
    },
    async startEditMode () {
      try {
        await LockService.lockObjectId({ objectId: this.environmentItem.name, projectId: this.projectInFocus?.id })
        this.editMode = true
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
        this.$oops(errorMessage)
      }
    },
    subscribe (prefix) {
      this.sockets.subscribe(`PATCH/${prefix}/concept`, conceptListeners.patchConcept.bind(this, { silent: true }))
      this.sockets.subscribe(`POST/${prefix}/concept`, conceptListeners.postConcept.bind(this, { silent: true }))
      this.sockets.subscribe(`POST/${prefix}/datasetClearLocks`, datasetListeners.postDatasetClearLocks.bind(this, { silent: true }))
      this.sockets.subscribe(`POST/${prefix}/conceptStatus`, conceptListeners.postConceptStatus.bind(this, { silent: true }))

      this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationConcept`, conceptListeners.patchConceptMap.bind(this, { silent: true }))
      this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationValueset`, conceptListeners.patchConceptMap.bind(this, { silent: true, associationType: 'valueset' }))
      this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationIdentifier`, conceptListeners.patchConceptMap.bind(this, { silent: true, associationType: 'identifier' }))
      this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationValuesetCode`, conceptListeners.patchConceptMap.bind(this, { silent: true, associationType: 'valuesetCode' }))
    },
    unsubscribe (prefix) {
      this.sockets.unsubscribe(`PATCH/${prefix}/concept`)
      this.sockets.unsubscribe(`POST/${prefix}/concept`)
      this.sockets.unsubscribe(`POST/${prefix}/datasetClearLocks`)
      this.sockets.unsubscribe(`POST/${prefix}/conceptStatus`)

      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationConcept`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationValueset`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationIdentifier`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationValuesetCode`)
    }
  },
  watch: {
    '$store.state.authentication.token': {
      async handler () {
        this.$store.commit('project/myCommunity/setEnvironments', [])
        try {
          await this.$store.dispatch('project/myCommunity/getMyCommunityList')
          const isAllowedToReadEnvironment = this.userCanReadEnvironment(this.name)
          if (!isAllowedToReadEnvironment) {
            this.$router.push({ name: 'project-community' }).catch(() => {})
          }
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
          this.$oops(errorMessage)
        }
      }
    },
    environmentItem: {
      immediate: true,
      handler () {
        // If locking will not be implemented, this will cause issues. See https://art-decor.atlassian.net/browse/AD30-1180?focusedCommentId=16218
        this.setEditableEnvironment(cloneDeep(this.environmentItem))
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      const promises = []
      if (vm.environmentItem?.name !== to.params.name) {
        promises.push(vm.fetchMyCommunityData(to.params.name))
      }
      if (!vm.$store.getters['project/myCommunity/isLoaded']('environments')) {
        promises.push(vm.$store.dispatch('project/myCommunity/getMyCommunityList'))
      }
      if (!vm.$store.state.dataset.loaded.datasetItems) {
        promises.push(vm.$store.dispatch('dataset/loadDatasetItems'))
      }
      if (!vm.$store.state.scenario.loaded.scenarioItems) {
        promises.push(vm.$store.dispatch('scenario/loadScenarioItems'))
      }

      Promise.all(promises).catch(error => {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
        vm.$oops(errorMessage)
      })
    })
  },
  beforeRouteUpdate (to, from, next) {
    if (from.params.prefix !== to.params.prefix) {
      const prefix = from.params.prefix
      this.unsubscribe(prefix)

      // If the route param prefix changes, route back to the overview
      return next({ name: 'project-community', params: { prefix: to.params.prefix } })
    }

    if (this.environmentItem?.name !== to.params.name) {
      this.fetchMyCommunityData(to.params.name)
    }
    next()
  },
  beforeRouteLeave (to, from, next) {
    const prefix = from.params.prefix
    this.unsubscribe(prefix)

    this.$store.commit('project/myCommunity/setEnvironmentItem', null)

    // Reset the store for datasets
    {
      const initExceptions = ['datasetItems']
      const datasetItemsLoaded = this.$store.state.dataset.loaded.datasetItems
      this.$store.commit('dataset/initDataset', initExceptions)
      this.$store.commit('dataset/setLoaded', { key: 'datasetItems', status: datasetItemsLoaded })
    }

    // Reset the store for scenarios
    {
      const initExceptions = ['scenarioItems', 'actors']
      const scenarioItemsLoaded = this.$store.state.scenario.loaded.scenarioItems
      const actorsLoaded = this.$store.state.scenario.loaded.actors
      this.$store.commit('scenario/initScenario', initExceptions)
      this.$store.commit('scenario/setLoaded', { key: 'scenarioItems', status: scenarioItemsLoaded })
      this.$store.commit('scenario/setLoaded', { key: 'actors', status: actorsLoaded })
    }

    next()
  },
  mounted () {
    const prefix = this.projectInFocus?.prefix
    this.subscribe(prefix)
  }
}
</script>
