<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <MyCommunityAdd v-model="dialogs.myCommunityAdd.open" />
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-account-group">
              {{ $t('mycommunity')}}
              <template v-if="userIsEditor">
                <v-spacer/>
                <AdButton type="add" class="ml-2" @click="startAddMyCommunity"/>
              </template>
            </AdCardTitle>
            <v-card-text class="pt-4">
              <v-data-table
                :items="environments"
                :headers="headers"
                :hide-default-footer="environments.length <= 10"
                :loading="isLoading('environments')"
              >
                <template #item.name="{ item }">
                  <AdButton link :to="{ name: 'project-community-details-associations', params: {name: item.name} }" :disabled="!userCanReadEnvironment(item.name)" :key="item.name + item.read">
                    {{ $filters.getMatchingTranslation({ value: item.displayName }) || item.name }}
                  </AdButton>
                </template>
                <template #item.desc="{ item }">
                  <span class="my-community-desc" :class="{'text--disabled': !userCanReadEnvironment(item.name)}" v-html="$filters.getMatchingTranslation({ value: item.desc })"/>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import MyCommunityAdd from './MyCommunityAdd.vue'
export default {
  components: { MyCommunityAdd },
  name: 'MyCommunityPanel',
  data () {
    return {
      dialogs: {
        myCommunityAdd: {
          open: false
        }
      }
    }
  },
  computed: {
    ...mapGetters('project/myCommunity', ['environments', 'isLoading', 'userCanReadEnvironment']),

    breadcrumbs () {
      return [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' }
        },
        {
          text: this.$t('project'),
          disabled: true
        },
        {
          exact: true,
          text: this.$t('mycommunity'),
          to: { name: 'project-community' }
        }
      ]
    },
    headers () {
      return [
        { value: 'name', text: this.$t('name') },
        { value: 'desc', text: this.$t('description') }
      ]
    }
  },
  methods: {
    startAddMyCommunity () {
      this.dialogs.myCommunityAdd.open = true
    }
  },
  watch: {
    '$store.state.authentication.token': {
      handler () {
        this.$store.commit('project/myCommunity/setEnvironments', [])
        this.$store.dispatch('project/myCommunity/getMyCommunityList').catch(error => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
          this.$oops(errorMessage)
        })
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
.my-community-desc ::v-deep * {
  margin: 0 !important;
}
</style>
