<template>
  <v-dialog
    :value="showDialog"
    width="800"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ modalTitle }}</AdCardTitle>

      <v-card-text class="pa-4">
        <AdInfoOwl v-if="!prototype" error>{{ $t('unknown-error') }}</AdInfoOwl>
        <template v-else>
          <v-form ref="form">

            <v-autocomplete
              v-model="inputs.type"
              :label="$t('type')"
              :items="prototypeTypes"
              return-object
              item-text="type"
              :rules="[v => !!v || $t('required-field')]"
              class="required"
            />

            <component
              :is="valueComponent"
              v-if="inputs.type"
              v-model="inputs.value"
              v-bind="valueComponentProps"
              :label="$t('value')"
            />
          </v-form>
        </template>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer/>
        <AdButton type="cancel" @click="cancel" />
        <AdButton type="save" :disabled="!formIsValid" @click="save"/>
      </v-card-actions>
    </v-card>
    </v-dialog>
</template>

<script>
import { VAutocomplete } from 'vuetify/lib'
export default {
  name: 'MyCommunityAssociationAdd',
  props: {
    // The open / close state of the dialog
    value: Boolean,
    // Optional: The association to edit
    association: {
      type: Object,
      default: null
    },
    // List of already existing associations
    associations: {
      type: Array,
      default: () => []
    },
    environment: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      inputs: {
        type: null,
        value: null
      }
    }
  },
  computed: {
    // Using the form directly to check if the form is valid results in issues with the TextEditor
    formIsValid () {
      const hasType = !!this.inputs.type
      const hasValue = !!this.$filters.htmlHasTextContent(this.inputs.value)
      return hasType && hasValue
    },
    modalTitle () {
      return this.$t(`${this.mode}-association`)
    },
    mode () {
      return this.association ? 'edit' : 'add'
    },
    prototype () {
      return this.environment.prototype?.[0]?.data || null
    },
    prototypeTypes () {
      return this.prototype?.map(p => ({ ...p, disabled: this.prototypeIsAlreadyDefined(p.type) })) || []
    },
    showDialog: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    },
    valueComponent () {
      if (['enum', 'code'].includes(this.inputs.type?.datatype)) return VAutocomplete
      if (this.inputs.type?.datatype === 'text') return 'TextEditor'
      if (this.inputs.type?.datatype === 'integer') return 'EditableCount'
      return 'EditableString'
    },
    valueComponentProps () {
      if (this.valueComponent === VAutocomplete) {
        return {
          items: this.inputs.type.enumValue,
          rules: [v => !!v || this.$t('required-field')],
          class: 'required'
        }
      }
      if (this.valueComponent === 'TextEditor') return { emitOnInput: true, required: true }
      return { required: true }
    }
  },
  methods: {
    cancel () {
      this.inputs.type = null
      this.inputs.value = null
      this.$refs.form.resetValidation()
      this.showDialog = false
    },
    prototypeIsAlreadyDefined (type) {
      return this.associations[0]?.data?.some(ass => ass.type === type) || false
    },
    save () {
      const type = this.inputs.type?.type
      const value = this.inputs.value
      if (!type || !value) return

      const association = { type, '#text': value }
      this.$emit('save', association)
      this.cancel()
    }
  },
  watch: {
    showDialog (showDialog) {
      if (showDialog && this.association) {
        // If there is an association passed, set the input values accordingly
        const { '#text': value, type } = this.association
        const prototype = this.prototypeTypes.find(proto => proto.type === type) || null
        this.inputs.type = prototype
        this.inputs.value = value
      }
    },
    'inputs.type' () {
      // When the valueComponent changes, reset the bound value
      this.inputs.value = null
      this.$refs.form.resetValidation()
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
