<template>
<div v-if="environment">

  <!-- Basic details -->
  <v-card outlined class="mb-4">
    <AdCardTitle inline>{{ $t('mycommunity') }} {{ name }}</AdCardTitle>
    <v-card-text>
      <v-row>
        <v-col cols="4">
          <EditableString :value="editableEnvironment.name" :label="$t('name')" required disabled/>
        </v-col>
        <v-col cols="4">
          <EditableString
            :value="editableEnvironment.displayName"
            @input="handleChange('displayName', $event)"
            :label="$t('display-name')"
            required
            :readonly="!editMode"
          />
        </v-col>
      </v-row>
      <EditableTranslationEditor
        :value="editableEnvironment.desc"
        @input="handleChange('desc', $event)"
        :label="$t('description')"
        editor
        :locales="projectLocales"
        class="mb-4"
        :readonly="!editMode"
        :minHeight="editMode ? 160 : 0"
      />
    </v-card-text>
  </v-card>

  <!-- Authors -->
  <v-card v-if="Array.isArray(editableEnvironment.access?.[0]?.author)" outlined class="mb-4">
    <AdCardTitle inline>
      <span>{{ $t('authors') }}</span>
      <template v-if="editMode">
        <v-spacer/>
        <v-menu close-on-content-click offset-y>
          <template #activator="{ on, attrs }">
            <AdButton type="add" list v-on="on" v-bind="attrs" :disabled="!projectAuthorsAvailable.length" :class="{'btn-disabled': !projectAuthorsAvailable.length}"/>
          </template>
          <v-list dense max-height="80vh">
            <v-list-item-group style="background: #fff">
              <template v-if="!guestUserIsAdded">
                <v-list-item @click="addAuthor({username: 'guest'})">
                  <v-list-item-content><v-list-item-title>Guest ({{ $t('public-access') }})</v-list-item-title></v-list-item-content>
                </v-list-item>
                <v-divider/>
              </template>
              <v-list-item
                v-for="author in projectAuthorsAvailable"
                :key="author.id"
                @click="addAuthor(author)"
              >
                <v-list-item-content><v-list-item-title>{{ author['#text'] || author.username }}</v-list-item-title></v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>
      </template>
    </AdCardTitle>
    <v-card-text class="px-0">
      <v-data-table
        :items="editableEnvironment.access[0].author"
        :headers="headersAuthors"
        dense
        :hide-default-footer="editableEnvironment.access[0].author.length <= 5"
        :footer-props="{ 'items-per-page-options': [5, 10] }"
      >
        <template #item.name="{ item }">
          {{ getAuthorByUsername(item.username)?.['#text'] }}
        </template>
        <template #item.rights="{ item, index }">
          <v-select
            v-if="editMode"
            :value="item.rights"
            @input="handleChange(`access[0].author[${index}].rights`, $event)"
            :items="['r', 'rw']"
            dense
            hide-details
            style="width: 50px; margin: 0;"
          />
          <span v-else>{{ item.rights }}</span>
        </template>
        <template #item.actions="{ item }">
          <AdSpeedDial direction="left">
            <AdButton type="delete" list @click="removeAuthor(item)"/>
          </AdSpeedDial>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>

  <!-- Prototypes -->
  <MyCommunityPrototypeAdd
    v-if="editMode"
    v-model="modals.myCommunityPrototypeAdd.open"
    :prototype="modals.myCommunityPrototypeAdd.selected"
    @save="addPrototype"
  />
  <v-card v-if="editableEnvironment.prototype?.[0] || editMode" outlined>
    <AdCardTitle inline>
      <span>{{ $t('prototypes') }}</span>
      <AdRefChip v-if="editableEnvironment.prototype?.[0]?.ref" :ident="editableEnvironment.prototype[0].ref" :href="editableEnvironment.prototype[0].ref" target="_blank"/>
      <template v-else-if="editMode">
        <v-spacer/>
        <AdButton type="add" list @click="startAddPrototype"/>
      </template>
    </AdCardTitle>
    <v-card-text v-if="Array.isArray(editableEnvironment.prototype?.[0]?.data)" class="px-0">
      <v-data-table
        :items="editableEnvironment.prototype[0].data"
        :headers="headersPrototype"
        dense
        :hide-default-footer="editableEnvironment.prototype[0].data.length <= 5"
        :footer-props="{ 'items-per-page-options': [5, 10] }"
      >
        <template #item.type="{ item }">
          {{ item.type }}
          <v-tooltip v-if="$filters.htmlHasTextContent($filters.getMatchingTranslation({value: item.desc}))" top content-class="my-community-desc-tooltip">
            <template #activator="{ on }">
              <v-icon v-on="on" class="text--disabled">mdi-information</v-icon>
            </template>
            <span v-html="getDescriptionHTML(item.desc)"/>
          </v-tooltip>
        </template>
        <template #item.actions="{ item }">
          <AdSpeedDial direction="left">
            <AdButton type="edit" list @click="startEditPrototype(item)"/>
            <AdButton v-if="numOfPrototypes > 1" type="delete" list @click="removePrototype(item)"/>
          </AdSpeedDial>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</div>

</template>

<script>
import { mapGetters } from 'vuex'
import { cloneDeep, set } from 'lodash'
import MyCommunityPrototypeAdd from './MyCommunityPrototypeAdd.vue'

export default {
  name: 'MyCommunityDefinition',
  components: { MyCommunityPrototypeAdd },
  props: {
    editMode: {
      type: Boolean,
      required: true
    },
    // The environment object that will be edited during edit mode
    environment: {
      type: Object,
      required: true
    },
    // The name of the MyCommunity environment (route param)
    name: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      modals: {
        myCommunityPrototypeAdd: {
          open: false,
          selected: null
        }
      }
    }
  },
  computed: {
    ...mapGetters('project/myCommunity', ['environmentItem', 'isLoading']),

    editableEnvironment: {
      get () {
        const environment = cloneDeep(this.environment)

        // Update the prototype data with UUIDs if not present to ensure uniqueness
        if (Array.isArray(environment.prototype?.[0]?.data)) {
          environment.prototype[0].data = environment.prototype[0].data.map(prototype => {
            if (!prototype.uuid) prototype.uuid = this.getUuid()
            return prototype
          })
        }
        return environment
      },
      set (value) {
        this.$emit('update:environment', value)
      }
    },
    guestUserIsAdded () {
      return this.editableEnvironment.access[0].author.some(author => author.username === 'guest')
    },
    headersAuthors () {
      const headers = [
        { text: this.$t('name'), value: 'name', sortable: false },
        { text: this.$t('username'), value: 'username', sortable: false },
        { text: this.$t('rights'), value: 'rights', sortable: false }
      ]
      if (this.editMode) {
        headers.push({ value: 'actions', sortable: false, align: 'right' })
      }
      return headers
    },
    headersPrototype () {
      const headers = [
        { text: this.$t('type'), value: 'type', sortable: false },
        { text: this.$t('datatype'), value: 'datatype', sortable: false },
        { text: this.$t('label'), value: 'label', sortable: false }

      ]
      if (this.editMode && !this.environmentItem?.prototype?.[0]?.ref) {
        headers.push({ value: 'actions', sortable: false, align: 'right' })
      }
      return headers
    },
    numOfPrototypes () {
      return this.editableEnvironment?.prototype?.[0]?.data?.length || 0
    },
    projectAuthors () {
      return this.$store.getters['project/authors'] || []
    },
    projectAuthorsAvailable () {
      return this.projectAuthors.filter(author => !this.editableEnvironment.access[0].author.some(access => access.username === author.username))
    }
  },
  methods: {
    addAuthor (author) {
      const newEnvironment = cloneDeep(this.editableEnvironment)
      newEnvironment.access[0].author.push({
        username: author.username,
        rights: 'r'
      })
      this.editableEnvironment = newEnvironment
    },
    addPrototype (prototype) {
      const newEnvironment = cloneDeep(this.editableEnvironment)
      if (!newEnvironment.prototype?.[0]?.data) newEnvironment.prototype = [{ data: [] }]
      const newPrototype = cloneDeep(prototype)
      if (!newPrototype.uuid) {
        newPrototype.uuid = this.getUuid()
        newEnvironment.prototype[0].data.push(newPrototype)
      } else {
        const index = newEnvironment.prototype[0].data.findIndex(p => p.uuid === newPrototype.uuid)
        newEnvironment.prototype[0].data.splice(index, 1, newPrototype)
      }
      this.editableEnvironment = newEnvironment
    },
    getAuthorByUsername (username) {
      const authors = [...this.projectAuthors, { username: 'guest', '#text': 'Guest' }]
      return authors.find(author => author.username === username)
    },
    getDescriptionHTML (desc) {
      const description = this.$filters.getMatchingTranslation({ value: desc })
      return `
      <style>.my-community-desc-tooltip * {margin: 0 !important;}</style>
      <strong>${this.$t('description')}:</strong><br>
      ${description}
      `
    },
    // This method updates the editableEnvironment object with the new value.
    // The key parameter is a string that represents the path to the property.
    // The value parameter is the new value that should be set.
    // This method sets the entire editableEnvironment object, so that the update will be emitted to the parent component.
    handleChange (key, value) {
      const newEnvironment = cloneDeep(this.editableEnvironment)
      set(newEnvironment, key, value)
      this.editableEnvironment = newEnvironment
    },
    removeAuthor (author) {
      const newEnvironment = cloneDeep(this.editableEnvironment)
      const authorIndex = newEnvironment.access[0].author.findIndex(a => a.username === author.username)
      newEnvironment.access[0].author.splice(authorIndex, 1)
      this.editableEnvironment = newEnvironment
    },
    removePrototype (prototype) {
      const newEnvironment = cloneDeep(this.editableEnvironment)
      const index = newEnvironment.prototype[0].data.findIndex(p => p.uuid === prototype.uuid)
      newEnvironment.prototype[0].data.splice(index, 1)
      this.editableEnvironment = newEnvironment
    },
    startAddPrototype () {
      this.modals.myCommunityPrototypeAdd.selected = null
      this.modals.myCommunityPrototypeAdd.open = true
    },
    startEditPrototype (prototype) {
      this.modals.myCommunityPrototypeAdd.selected = prototype
      this.modals.myCommunityPrototypeAdd.open = true
    }
  },
  watch: {
    environmentItem: {
      immediate: true,
      handler () {
        this.editableEnvironment = cloneDeep(this.environmentItem)
      }
    }
  }

}
</script>
