<template>
  <div class="associations">
    <MyCommunityAssociationAdd
      v-if="editableEnvironment && editMode"
      v-model="modals.associationAdd.open"
      :environment="editableEnvironment"
      :association="modals.associationAdd.association"
      :associations="associationsForCurrentConceptItem"
      @save="handleSaveAssociation"
    />
    <v-card v-if="activeItem" class="associations-card mb-1">
      <div class="topbottomstrip d-flex flex-row align-center pr-4 backdrop-item" style="position:relative;">
        <div class="d-flex flex-column justify-center flex-grow-1">
          <v-slide-y-transition group leave-absolute>
            <AdCardTitle key="title" class="mb-0">
              {{ $filters.getMatchingTranslation({value: activeItem.name})}}
              <AdAssociationSpecificIcon v-if="transactionId" :transaction="true" />
            </AdCardTitle>
            <v-card-subtitle key="subtitle" class="subtitle-2 pt-1">
              <template v-if="tConceptId">{{ transactionName }}</template>
              <template v-else-if="!isDatasetItem">{{ datasetName }}</template>
            </v-card-subtitle>
          </v-slide-y-transition>
        </div>
      </div>
      <v-card-text class="associations-card-content">
        <PanelLoading v-if="loading" :loading="loading" />

        <template v-else>
          <EditableArtefactDetailHeader
            v-if="showDetailHeader"
            :artefact="isDatasetItem ? 'Dataset' : 'DatasetConcept'"
            :item="activeItem"
            :locales="projectLocales"
            readonly
            :showMore.sync="metadataIsExpanded"
            :service="isDatasetItem ? 'dataset' : 'dataset-concept'"
            class="mb-5"
          >
            <DatasetMetaInformation :value="conceptItem" :locales="projectLocales" readonly class="backdrop-item" />
          </EditableArtefactDetailHeader>

          <!-- Associations -->
          <v-card v-if="conceptItem" class="mb-5 elevation-1" outlined>
            <AdCardTitle inline>
              {{ $t('associations') }}
              <template v-if="editMode">
                <v-spacer></v-spacer>
                <AdButton type="add" small @click="startAddAssociation"/>
              </template>
            </AdCardTitle>
            <MyCommunityAssociationsTable
              v-if="associationsForCurrentConceptItem.length"
              :community="{associations: [{association: associationsForCurrentConceptItem}]}"
              :readonly="!editMode"
              @delete="removeAssociation"
              @edit="startEditAssociation"
            />
            <AdInfoOwl v-else inset>{{ $t('no-associations-yet') }}</AdInfoOwl>
          </v-card>
          <!-- Other sections -->
          <UsageSection
            :key="`usage-section-${activeItem.navkey}`"
            :expanded.sync="usageSectionIsExpanded"
            :objectId="activeItem.id"
            :objectEffectiveDate="activeItem.effectiveDate"
            action="dataset/getConceptUsage"
          />

          <HistorySection
            :key="`history-section-${activeItem.navkey}`"
            :expanded.sync="historySectionIsExpanded"
            :objectId="activeItem.id"
            :objectEffectiveDate="activeItem.effectiveDate"
            artefact="DE"
          />

        </template>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { isCancel } from 'axios'
import { cloneDeep } from 'lodash'

import AdAssociationSpecificIcon from '@/components/Utilities/AdAssociationSpecificIcon'
import DatasetMetaInformation from '@/components/Dataset/DatasetMetaInformation'
import EditableArtefactDetailHeader from '@/components/Utilities/Editable/EditableStructure/EditableArtefactDetailHeader'
import UsageSection from '@/components/Utilities/UsageSection'
import HistorySection from '@/components/Utilities/HistorySection'
import MyCommunityAssociationsTable from '@/components/Project/MyCommunityAssociationsTable'
import MyCommunityAssociationAdd from '@/components/Project/MyCommunityAssociationAdd'

export default {
  name: 'MyCommunityAssociationsDetailsCard',
  components: {
    AdAssociationSpecificIcon,
    MyCommunityAssociationAdd,
    MyCommunityAssociationsTable,
    DatasetMetaInformation,
    EditableArtefactDetailHeader,
    UsageSection,
    HistorySection
  },
  props: {
    editMode: {
      type: Boolean,
      required: true
    },
    // The environment object that will be edited during edit mode
    environment: {
      type: Object,
      required: true
    },
    // Props on route for datasets: datasetId, datasetVersion, conceptId, conceptVersion
    datasetId: {
      type: String
    },
    datasetVersion: {
      type: String
    },
    conceptId: {
      type: String
    },
    conceptVersion: {
      type: String
    },
    // Props on route for scenarios: transactionId, transactionVersion, tConceptId, tConceptVersion
    transactionId: {
      type: String
    },
    transactionVersion: {
      type: String
    },
    tConceptId: {
      type: String
    },
    tConceptVersion: {
      type: String
    }
  },
  data () {
    return {
      modals: {
        associationAdd: {
          association: null,
          open: false
        }
      }
    }
  },
  computed: {
    ...mapGetters('dataset', ['conceptItem', 'datasetItem', 'conceptItems', 'datasetItems']),
    ...mapGetters('project/myCommunity', ['environmentItem', 'userCanWriteEnvironment']),
    abortController: {
      get () {
        return type => this.$store.getters['dataset/abortController'](type)
      },
      set (value) {
        this.$store.commit('dataset/setAbortController', value)
      }
    },
    activeItem () {
      if (this.$route.name.includes('project-community-details-associations-data-set')) {
        return this.$store.state.dataset.activeItem
      }
      if (this.$route.name.includes('project-community-details-associations-transaction')) {
        return this.$store.state.scenario.activeItem
      }
      return null
    },
    associationsForCurrentConceptItem () {
      const allEnvironmentAssociations = this.editableEnvironment?.associations?.[0]?.association || []
      return allEnvironmentAssociations.filter(this.associationBelongsToCurrentConceptItem).map(association => {
        const result = { ...association }
        delete result.object
        return result
      })
    },
    /**
     * Return the community object as defined on the conceptItem, but with the associations as defined in the environment.
     * If there are no associations for the current conceptItem, return null.
     */
    currentCommunityObject () {
      if (!Array.isArray(this.conceptItem?.community)) return null
      if (!this.environmentItem?.name) return null
      const currentCommunity = cloneDeep(this.conceptItem.community.find(community => community.name === this.environmentItem.name))
      if (!currentCommunity) return null

      // Don't read associations from this.conceptItem.community, to simplify the logic when updating the environment
      const associationsForCurrentConceptItem = this.associationsForCurrentConceptItem

      if (!associationsForCurrentConceptItem.length) return null

      currentCommunity.associations = [{ association: associationsForCurrentConceptItem }]
      return currentCommunity
    },
    datasetName () {
      return this.$filters.getMatchingTranslation({
        value: this.datasetItem?.name,
        returnObject: true
      })?.selectorName
    },
    editableEnvironment: {
      get () {
        return this.environment
      },
      set (value) {
        this.$emit('update:environment', value)
      }
    },
    historySectionIsExpanded: {
      get () {
        return this.$store.state.dataset.expandedSections.historySection
      },
      set (value) {
        this.$store.commit('dataset/setExpandedSection', { section: 'historySection', value })
      }
    },
    isDatasetItem () {
      return this.datasetItem?.id === this.activeItem?.id
    },
    isTransactionItem () {
      return this.$store.state.scenario.transactionItem?.id === this.activeItem?.id
    },
    loading () {
      return this.$store.state.dataset.loading.activeItem || this.$store.state.scenario.loading.transactionItem
    },
    metadataIsExpanded: {
      get () {
        const module = this.isTransactionItem ? 'scenario' : 'dataset'
        return this.$store.state[module].expandedSections.metadata
      },
      set (value) {
        const module = this.isTransactionItem ? 'scenario' : 'dataset'
        this.$store.commit(`${module}/setExpandedSection`, { section: 'metadata', value })
      }
    },
    showDetailHeader () {
      return !this.$store.state.dataset.loading.activeItem && !this.$store.state.scenario.loading.activeItem
    },
    transactionName () {
      const activeTransaction = this.$filters.listHelper.findItemInList({
        items: this.$store.state.scenario.scenarioItems || [],
        children: 'transaction',
        handler: match => match.id === this.transactionId && match.effectiveDate === this.transactionVersion
      })
      if (activeTransaction) {
        return `${this.$filters.getMatchingTranslation({ value: activeTransaction.name })} (${activeTransaction.versionLabel || this.$filters.formatDateShort(activeTransaction.effectiveDate)})`
      }
      return this.$t('transaction-specific')
    },
    usageSectionIsExpanded: {
      get () {
        return this.$store.state.dataset.expandedSections.usageSection
      },
      set (value) {
        this.$store.commit('dataset/setExpandedSection', { section: 'usageSection', value })
      }
    }

  },
  methods: {
    /**
     * Check if the association belongs to the current conceptItem
     * @param association Association object as defined in the environment, example: {data: [{...}], object: [{ref: '123', flexibility: '2021-01-01'}]}
     * @returns {boolean} Whether the association belongs to the current conceptItem
     */
    associationBelongsToCurrentConceptItem (association) {
      if (!this.conceptItem?.id || !this.conceptItem.effectiveDate) return false
      return association.object?.some(object => object.ref === this.conceptItem.id && object.flexibility === this.conceptItem.effectiveDate)
    },
    cleanUpBasedOnRouteName (to, from) {
      if (to.name === 'project-community-details-associations') {
        if (from.name.includes('project-community-details-associations-data-set')) {
          this.$store.commit('dataset/setActiveItem', null)
          this.$store.commit('dataset/setDatasetItem', null)
          this.$store.commit('dataset/setConceptItems', null)
          this.$store.commit('dataset/setConceptItem', null)
          this.$store.commit('dataset/setLoaded', { key: 'conceptItems', status: false })
        } else if (from.name.includes('project-community-details-associations-transaction')) {
          this.$store.commit('scenario/setActiveItem', null)
          this.$store.commit('scenario/setTransactionItem', null)
          this.$store.commit('scenario/setTransactionItemConcepts', null)
        }
        return
      }
      if (to.name === 'project-community-details-associations-data-set') {
        this.$store.commit('dataset/setConceptItem', null)
        this.$store.commit('scenario/setActiveItem', null)
        this.$store.commit('dataset/setActiveItem', this.$store.getters['dataset/datasetItem'])
        return
      }
      if (to.name === 'project-community-details-associations-transaction') {
        this.$store.commit('dataset/setConceptItem', null)
        this.$store.commit('dataset/setActiveItem', null)
        this.$store.commit('scenario/setActiveItem', this.$store.state.scenario.transactionItem)
        return
      }
      if (to.name === 'project-community-details-associations-data-set-concept') {
        this.$store.commit('dataset/setConceptItem', null)
        this.$store.commit('scenario/setActiveItem', null)
        return
      }
      if (to.name === 'project-community-details-associations-transaction-concepts') {
        this.$store.commit('dataset/setConceptItem', null)
        this.$store.commit('dataset/setActiveItem', null)
      }
    },
    async fetchDataBasedOnRoute (to, from, next) {
      // Get params from route object
      const {
        datasetId,
        datasetVersion,
        transactionId, transactionVersion,
        conceptId, conceptVersion,
        tConceptId, tConceptVersion
      } = to.params

      try {
      // Check if the datasetItems and scenarioItems are fetched. Always fetch if not present.
        const requiredPromises = []
        if (!this.$store.state.dataset.loaded.datasetItems) {
          if (datasetId && datasetVersion) {
            requiredPromises.push(this.$store.dispatch('dataset/loadDatasetItems'))
          } else {
            this.$store.dispatch('dataset/loadDatasetItems')
          }
        }
        if (!this.$store.state.scenario.scenarioItems?.length) {
          if (transactionId && transactionVersion) {
            requiredPromises.push(this.$store.dispatch('scenario/loadScenarioItems'))
          } else {
            this.$store.dispatch('scenario/loadScenarioItems')
          }
        }
        await Promise.allSettled(requiredPromises)
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }

      // Store references
      const datasetItems = this.$store.state.dataset.datasetItems

      // Id and effectiveDate of the currently fetched dataset or transaction
      const currentTopId = this.$route.name.includes('project-community-details-associations-transaction')
        ? this.$store.state.scenario.transactionItem?.id
        : this.$store.state.dataset.datasetItem?.id
      const currentTopEffectiveDate = this.$route.name.includes('project-community-details-associations-transaction')
        ? this.$store.state.scenario.transactionItem?.effectiveDate
        : this.$store.state.dataset.datasetItem?.effectiveDate

      // Check if the route params match with the currently fetched dataset or transaction. If not, the data will be fetched later on
      const topLevelDataFetched = !!(
        currentTopId &&
        currentTopEffectiveDate && (
          (
            datasetId === currentTopId &&
          datasetVersion === currentTopEffectiveDate &&
          this.$store.state.dataset.conceptItems?.length &&
          !to.params.forceGetConceptList
          ) ||
          (
            transactionId === currentTopId &&
            transactionVersion === currentTopEffectiveDate &&
            this.$store.state.scenario.transactionItemConcepts?.length &&
            !to.params.forceGetTransaction
          )
        )
      )

      // If only top-level data is needed and it is already fetched, stop here.
      if (['project-community-details-associations-data-set', 'project-community-details-associations-transaction'].includes(to.name) && topLevelDataFetched) {
        return next()
      }

      // Handle routes for dataset related mappings
      if (datasetId && datasetVersion) {
      // General lookups and checks
        const matchingDataset = this.$filters.listHelper.findItemInList({
          items: datasetItems,
          children: 'item',
          handler: (match) => match.id === datasetId && match.effectiveDate === datasetVersion
        })
        if (!matchingDataset) {
          this.$store.commit('dataset/setDatasetItem', null)
          this.$store.commit('dataset/setConceptItems', null)
          this.$store.commit('dataset/setActiveItem', null)

          this.$oops(this.$t('dataset-not-found'))
          return next()
        }

        // Set the datasetItem
        this.$store.commit('dataset/setDatasetItem', matchingDataset)
        if (to.name === 'project-community-details-associations-data-set') {
          this.$store.commit('dataset/setActiveItem', matchingDataset)
        }

        if (!topLevelDataFetched) {
          // Fetch concept Items
          try {
            await this.$store.dispatch('dataset/loadConceptItems', { item: matchingDataset })
          } catch (error) {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
            this.$oops(errorMessage)
          }
        }

        if (conceptId && conceptVersion) {
          const matchingConcept = this.$filters.listHelper.findItemInList({
            items: this.$store.state.dataset.conceptItems || [],
            children: 'concept',
            handler: (match) => match.id === conceptId && match.effectiveDate === conceptVersion
          })

          if (!matchingConcept) {
            this.$store.commit('dataset/setConceptItem', null)
            this.$store.commit('dataset/setActiveItem', null)
            this.$oops(this.$t('concepts-not-found'))
            return next()
          }

          const activeItemInStore = this.$store.getters['dataset/activeItem']
          if (!activeItemInStore || matchingConcept.id !== activeItemInStore.id || matchingConcept.effectiveDate !== activeItemInStore.effectiveDate) {
            this.$store.commit('dataset/setActiveItem', matchingConcept)
          }

          // Abort pending request
          if (this.abortController('concept')) {
            this.abortController('concept').abort('New concept selected')
          }

          // Set up abortController
          this.abortController = { type: 'concept', value: new AbortController() }

          try {
            await this.$store.dispatch('dataset/loadConceptItem', {
              activeItem: { id: conceptId, effectiveDate: conceptVersion },
              associations: true,
              abortController: this.abortController('concept')
            }).then(() => {
              this.abortController = { type: 'concept', value: null }
            })
          } catch (error) {
            if (!isCancel(error)) {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
              this.$oops(errorMessage)
            }
          }
        }
        return next()
      }

      // Handle routes for transaction related mappings
      if (transactionId && transactionVersion) {
      // General lookups and checks
        const associatedScenario = this.$filters.listHelper.getRootElementFromListItem({
          items: this.$store.state.scenario.scenarioItems,
          children: 'transaction',
          handler: match => match.id === transactionId && match.effectiveDate === transactionVersion
        })

        if (!associatedScenario) {
          this.$store.commit('scenario/setScenarioItem', null)
          this.$store.commit('scenario/setActiveItem', null)
          this.$store.commit('scenario/setTransactionItem', null)
          this.$store.commit('scenario/setTransactionItemConcepts', null)
          this.$oops(this.$t('transaction-not-found'))

          return next()
        }
        this.$store.commit('scenario/setScenarioItem', associatedScenario)

        const matchingTransaction = this.$filters.listHelper.findItemInList({
          items: [associatedScenario],
          children: 'transaction',
          handler: match => match.id === transactionId && match.effectiveDate === transactionVersion
        })

        if (!matchingTransaction) {
          this.$store.commit('scenario/setTransactionItem', null)
          this.$store.commit('scenario/setActiveItem', null)
          this.$store.commit('scenario/setTransactionItemConcepts', null)
          this.$oops(this.$t('transaction-not-found'))
          return next()
        }
        this.$store.commit('scenario/setTransactionItem', matchingTransaction)
        if (to.name === 'project-community-details-associations-transaction') {
          this.$store.commit('scenario/setActiveItem', matchingTransaction)
        }

        if (!topLevelDataFetched) {
        // Fetch transaction with concept items
          try {
            await this.$store.dispatch('scenario/getTransaction', { item: matchingTransaction, params: { fulltree: false }, setTransactionItem: false })
          } catch (error) {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
            this.$oops(errorMessage)
          }
        }

        if (tConceptId && tConceptVersion) {
          const matchingConcept = this.$filters.listHelper.findItemInList({
            items: this.$store.state.scenario.transactionItemConcepts || [],
            children: 'concept',
            handler: match => match.id === tConceptId && match.effectiveDate === tConceptVersion
          })

          if (!matchingConcept) {
            this.$store.commit('scenario/setActiveItem', null)
            this.$oops(this.$t('concept-not-found'))
            return next()
          }

          // Abort pending request
          if (this.abortController('concept')) {
            this.abortController('concept').abort('New concept selected')
          }

          // Set up abortController
          this.abortController = { type: 'concept', value: new AbortController() }

          // The bottom level data (dataset concept in the context of transaction) should always be fetched
          try {
            // load concept item in transaction context
            await this.$store.dispatch('dataset/loadConceptItem', {
              activeItem: { id: tConceptId, effectiveDate: tConceptVersion },
              associations: true,
              params: {
                transactionId: this.$store.state.scenario.transactionItem?.id,
                transactionEffectiveDate: this.$store.state.scenario.transactionItem?.effectiveDate
              },
              abortController: this.abortController('concept')
            }).then(() => {
              this.abortController = { type: 'concept', value: null }
            })
          } catch (error) {
            if (!isCancel(error)) {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
              this.$oops(errorMessage)
            }
          }

          this.$store.commit('dataset/setActiveItem', null)

          if (!this.$store.state.scenario.activeItem) {
            const conceptToSelect = tConceptId && tConceptVersion
              ? { id: tConceptId, effectiveDate: tConceptVersion, navkey: matchingConcept.navkey }
              : null
            this.$store.commit('scenario/setActiveItem', conceptToSelect)
          }

          return next()
        }
      }

      // Fallback
      return next()
    },
    handleSaveAssociation (association) {
      const environment = cloneDeep(this.editableEnvironment)
      if (!environment) return
      if (!Array.isArray(environment.associations)) environment.associations = [{ association: [] }]
      if (!Array.isArray(environment.associations[0].association)) environment.associations[0] = { association: [] }

      const environmentAssociationObject = environment.associations[0].association.find(association => association.object?.find(object => object.ref === this.conceptItem.id && object.flexibility === this.conceptItem.effectiveDate))
      if (!environmentAssociationObject) {
        const object = [{ ref: this.conceptItem.id, flexibility: this.conceptItem.effectiveDate, type: 'DE' }]
        const data = [association]
        environment.associations[0].association.push({ object, data })
      } else {
        if (!Array.isArray(environmentAssociationObject.data)) environmentAssociationObject.data = []
        const existingIndex = environmentAssociationObject.data.findIndex(data => data.type === association.type)
        if (existingIndex === -1) {
          environmentAssociationObject.data.push(association)
        } else {
          environmentAssociationObject.data.splice(existingIndex, 1, association)
        }
      }
      this.editableEnvironment = environment
    },
    removeAssociation (association) {
      if (!this.conceptItem?.id || !this.conceptItem.effectiveDate) return
      const { type } = association
      const { id: ref, effectiveDate: flexibility } = this.conceptItem

      // Remove the passed association from environment
      const environment = cloneDeep(this.editableEnvironment)
      const environmentAssociationObject = environment?.associations?.[0]?.association?.find(association => association.object?.find(object => object.ref === ref && object.flexibility === flexibility))
      if (!Array.isArray(environmentAssociationObject?.data)) return
      const indexToRemove = environmentAssociationObject.data.findIndex(data => data.type === type)
      environmentAssociationObject.data.splice(indexToRemove, 1)

      // Remove empty associations from the environment that might have been left behind
      environment.associations[0].association = environment.associations[0].association.filter(association => association.data.length)
      if (!environment.associations[0].association.length) delete environment.associations

      this.editableEnvironment = environment
    },
    startAddAssociation () {
      this.modals.associationAdd.association = null
      this.modals.associationAdd.open = true
    },
    startEditAssociation (association) {
      this.modals.associationAdd.association = association
      this.modals.associationAdd.open = true
    }
  },

  beforeRouteEnter (to, from, next) {
    next((vm) => {
      if (from.name) {
        vm.cleanUpBasedOnRouteName(to, from)
      }
      vm.fetchDataBasedOnRoute(to, from, () => false)
    })
  },
  beforeRouteUpdate (to, from, next) {
    // Pass next as a third argument to fetchDataBasedOnRoute to navigate after data fetching
    this.fetchDataBasedOnRoute(to, from, () => false)
    next()
  },
  beforeRouteLeave (to, from, next) {
    this.cleanUpBasedOnRouteName(to, from)
    next()
  }
}
</script>

<style scoped lang="scss">
.associations-card-content {
  overflow: auto;
  width: 100%;
}
</style>
