<template>
  <v-dialog
    :value="showDialog"
    width="800"
    persistent
  >
    <v-card>
      <AdCardTitle dialog>{{ title }}</AdCardTitle>
      <v-card-text class="pa-5">
        <v-form ref="form" v-if="showDialog">
          <v-row>
            <v-col cols="3">
              <EditableString
                :value="inputValue ? inputValue.prefix : null"
                @input="updateNewValue('prefix', $event)"
                :label="$t('prefix')"
                :readonly="readonly"
                required
              />
            </v-col>
            <v-col cols="9">
              <EditableString
                :value="inputValue ? inputValue.uri : null"
                @input="updateNewValue('uri', $event)"
                :label="$t('uri')"
                :readonly="readonly"
                required
                :rules="[isValidUri]"
              />
            </v-col>
          </v-row>
          <v-checkbox
            :value="inputValue ? inputValue.default : null"
            :label="$t('make-it-default-namespace')"
            @change="updateNewValue('default', $event)"
            :ripple="false"
            style="width: fit-content"
          />
        </v-form>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="cancelEdit" :disabled="disabled" />
        <AdButton
          :type="saveButtonType"
          :hint="$t('save')"
          @click="save"
          depressed
          :disabled="disabled || readonly"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
import rulesProject from '@/rules/project'
import isURI from 'validate.io-uri'
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    value: {
      type: Object
    },
    readonly: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      newValue: { prefix: null, uri: null, default: false },
      rulesProject
    }
  },
  computed: {
    saveButtonType () {
      return this.value && this.value !== '' ? 'save' : 'add'
    },
    inputValue: {
      get () {
        return (this.newValue.prefix === null && this.newValue.uri === null)
          ? this.value
          : this.newValue
      }
    }
  },
  methods: {
    cancelEdit () {
      this.newValue = { prefix: null, uri: null, default: false }
      this.$emit('cancelEdit')
    },
    isValidUri (v) {
      return isURI(v) || this.$t('invalid-input')
    },
    save () {
      if (this.$refs.form.validate()) {
        return this.$emit('saveEdit', this.inputValue)
      }
    },
    updateNewValue (path, value) {
      this.newValue[path] = value || null
    }
  },
  watch: {
    value (newVal, oldVal) {
      if (newVal && newVal !== oldVal) {
        this.newValue = cloneDeep(newVal)
      } else {
        this.newValue = { prefix: null, uri: null, default: false }
      }
    }
  }
}
</script>
