<template>
  <v-layout>
    <v-container fluid>
      <!-- Loading? -->
      <PanelLoading :loading="projectIsLoading" />
      <!-- Dialogs -->
      <AdEditURI v-if="userIsDecorAdmin" :showDialog="modal.editURI" :value="publicationLocationURI"
        :readonly="!publicationLocationIsEditable" :title="$t('publication-location')"
        @cancelEdit="toggleModal('editURI')" @saveEdit="updatePublicationLocationURI"></AdEditURI>

      <RepositoryAdd v-if="userIsDecorAdmin" :showDialog="modal.editRepository"
        @cancelEdit="toggleModal('editRepository')" @saveEdit="saveRepository" :disabled="repositoriesUpdating" />

      <NamespaceAdd v-if="userIsDecorAdmin" :showDialog="modal.addNamespace" :value="namespaceToEdit"
        :title="$t('add-namespace')" @cancelEdit="toggleModal('addNamespace')" @saveEdit="saveNamespace"
        :disabled="namespacesUpdating" />
      <!-- we should add an info button with the text add-namespace-declaration-hint -->
      <!--
        Project Overview
      -->
      <template v-if="project && !projectIsLoading">
        <v-row>
          <v-col>
            <v-card class="mx-auto">
              <v-card-text>
                <v-img
                  v-if="project.reference && project.reference.length > 0 && project.reference[0] && project.reference[0].logo"
                  class="mb-3 ml-3" max-height="60px" max-width="350px" position="float right" style="float: right"
                  :src="getProjectIcon(project.prefix, project.reference[0].logo)" contain></v-img>
                <v-img v-else max-height="60px" class="mb-3 ml-3" max-width="350px" position="float right"
                  style="float: right" :src="require('@/assets/art-decor-logo40.png')"></v-img>
                <h2 class="card-title pb-2">{{ $filters.getMatchingTranslation({ value: project.name }) }}</h2>
                <h4 class="pb-2">{{ $t('description') }}</h4>
                <div>
                  <EditableTextArea
                    :value="project.desc"
                    :locales="projectLocales"
                    :validator="validateProjectDescription"
                    @input="updateProjectDescription($event)"
                    show-dialog
                    :readonly="!userIsDecorAdmin">
                    <template #editable:prepend="{value}">
                      <AdInfoOwl v-if="!validateProjectDescription(value)" warning>{{ $t('project-description-warning')
                        }}</AdInfoOwl>
                    </template>
                  </EditableTextArea>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col cols="12" md="2" v-for="stats in statsCards" v-bind:key="stats.title">
            <StatsCard :title="$t(stats.title)" :count="stats.value" :to="stats.to" :icon="stats.icon"
              :color="stats.color" />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-card class="mx-auto">
              <v-card-text>
                <AdCardTitle inline prependicon="mdi-folder-settings-outline">{{ $t('properties') }}</AdCardTitle>
                <v-tabs optional>
                  <v-tab ripple>{{ $t('identifiers') }}</v-tab>
                  <v-tab ripple>{{ $t('project-languages') }}</v-tab>
                  <v-tab ripple>{{ $t('switches') }}</v-tab>
                  <v-tab ripple>{{ $t('publication-location') }}</v-tab>
                  <v-tab-item>
                    <!-- project identifications -->
                    <v-card flat tile>
                      <v-card-text>
                        <v-row dense>
                          <v-col lg="4">
                            <EditableString :label="$t('prefix')" :value="project.prefix" readonly />
                          </v-col>
                          <v-col lg="4">
                            <EditableString :label="$t('id')" :value="project.id" readonly />
                          </v-col>
                          <v-col lg="4">
                            <EditableString :label="$t('lastmodified')" :value="formatDate(project.lastmodified)"
                              readonly />
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <!-- all languages of the project and the default language -->
                    <v-card flat tile>
                      <v-card-text>
                        <v-row>
                          <v-col cols="2">
                            {{ $t('project-languages') }}
                            <EditableInfoIcon :infoText="$t('project-languages-hint')" />
                            <p />
                            {{ $t('project-languages-explanation') }}
                          </v-col>
                          <v-col cols="4">
                            <v-list>
                              <v-list-item v-for="(item, index) in sortedProjectNames" :key="index"
                                :class="index === (sortedProjectNames.length - 1) ? 'mb-8' : ''">
                                <div>{{ item.language.substring(0, 2) }}</div>
                                <flag :squared="Boolean(0)" :iso="item.language.substring(3, 5)" class="ml-2" />
                                <EditableString
                                  :value="projectNameWhileUpdating(item.language) || item['#text']"
                                  :label="$t('project-name')"
                                  class="ml-4 flex-grow-1 flex-shrink-0"
                                  confirmation-required
                                  :readonly="!userIsDecorAdmin"
                                  style="max-width: 500px"
                                  @change="updateProjectName(item.language, $event)"
                                />
                              </v-list-item>
                              <template v-if="userIsDecorAdmin">
                                <v-list-item>
                                  <AdInfoOwl>{{$t('add-language')}}</AdInfoOwl>
                                </v-list-item>
                                <v-list-item>
                                  <EditableTranslationEditor
                                    ref="newLanguageInput"
                                    v-model="newLanguageName"
                                    @change="addProjectName($event)"
                                    :label="$t('project-name')"
                                    :placeholder="$t('project-name')"
                                    :locales="languagesNotInProject"
                                    class="ml-14 flex-grow-1 flex-shrink-0"
                                    style="max-width: 500px"
                                    confirmation-required
                                    addLanguage />
                                </v-list-item>
                              </template>
                            </v-list>
                          </v-col>
                          <v-divider vertical></v-divider>
                          <v-col cols="2" class="ml-5">
                            {{ $t('defaultLanguage') }}
                            <EditableInfoIcon :infoText="$t('defaultLanguage-switch-hint')" />
                            <p />
                            {{ $t('defaultLanguage-switch-explanation') }}
                          </v-col>
                          <v-col cols="2">
                            <v-menu offset-y>
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn text v-bind="attrs" v-on="on">
                                  <div style="width: 24px; float: left">
                                    {{ projectLanguage.substring(0, 2) }}
                                  </div>
                                  <flag :squared="Boolean(0)" :iso="projectLanguage.substring(3, 5)"></flag>
                                </v-btn>
                                <EditableInfoIcon :infoText="$t('defaultLanguage-switch-hint')" />
                              </template>
                              <v-list v-if="userIsDecorAdmin">
                                <v-list-item v-for="(item, index) in projectInFocus.name" :key="index"
                                  @click="updateDefaultLanguage(item.language)">
                                  <div style="width: 24px; float: left">
                                    {{ item.language.substring(0, 2) }}
                                  </div>
                                  <flag :squared="Boolean(0)" :iso="item.language.substring(3, 5)">
                                  </flag>
                                </v-list-item>
                              </v-list>
                            </v-menu>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <!-- switches -->
                    <v-card flat tile>
                      <v-card-text>
                        <v-row class="mt-1">
                          <v-col cols="3">
                            <EditableSwitch :value="projectInFocus.private" :label="$t('Is-private')"
                              :infoText="$t('Is-private-hint') + '<br/><br/>' + $t('private-switch-explanation')"
                              :disabled="!userIsDecorAdmin || projectInFocus.repository === 'true'"
                              @input="updateSwitchValue('private', $event, 'true', 'false')" />
                          </v-col>
                          <v-col cols="3">
                            <EditableSwitch :value="projectInFocus.repository" :label="$t('Is-repository')"
                              :infoText="$t('Is-repository-hint') + '<br/><br/>' + $t('repository-switch-explanation')"
                              :disabled="!userIsDecorAdmin || projectInFocus.repository === 'true' || projectInFocus.private === 'true' || projectInFocus.experimental === 'true'"
                              @input="updateSwitchValue('repository', $event, 'true', 'false')" confirmationRequired />
                          </v-col>
                          <v-col cols="3">
                            <EditableSwitch :value="projectInFocus.experimental" :label="$t('Is-experimental')"
                              :infoText="$t('Is-experimental-hint') + '<br/><br/>' + $t('experimental-switch-explanation')"
                              :disabled="!userIsDecorAdmin || projectInFocus.repository === 'true'"
                              @input="updateSwitchValue('experimental', $event, 'true', 'false')" />
                          </v-col>
                          <v-col cols="3">
                            <EditableSwitch :value="notifierSwitchValue" :label="$t('notifier')"
                              :disabled="!userIsDecorAdmin" :infoText="$t('global-notifier-switch-hint')"
                              @input="updateSwitchValue('notifier', $event, 'true', 'false')" />
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <!-- publication-location -->
                    <v-card flat tile>
                      <v-card-text>
                        <v-card outlined align="left" min-width="500" class="my-5">
                          <AdCardTitle inline>
                            {{ $t('adram') }}
                          </AdCardTitle>
                          <v-card-text>
                            <v-row dense>
                              <v-col cols="6">
                                <ShowAdramDetails :adram="projectAdramStatus" />
                              </v-col>
                              <v-col v-if="publicationLocationURI" cols="6" class="d-flex align-center">
                                <AdButton :key="publicationLocationURI" linkExternal :href="publicationLocationURI"
                                  class="ml-2 mr-4">
                                  {{ publicationLocationURI }}
                                </AdButton>
                                <AdSpeedDial v-if="userIsDecorAdmin" direction="right">
                                  <AdButton :type="'edit'" list @click="toggleModal('editURI')" />
                                  <AdButton v-if="publicationLocationURI" type="delete" list
                                    @click="removeReferenceURL" />
                                </AdSpeedDial>
                              </v-col>
                              <v-col v-else cols="4" class="d-flex align-center">
                                <!-- oofer button to add a publication location -->
                                <AdButton v-if="userIsDecorAdmin" class="ml-2" type="add"
                                  :text="$t('publication-location')" @click="toggleModal('editURI')" />
                              </v-col>
                            </v-row>
                            <v-row dense>
                              <v-col>
                                <AdInfoOwl v-if="publicationLocationURI">
                                  <span v-html="$t('publication-location-hint')" />
                                </AdInfoOwl>
                                <AdInfoOwl v-else>
                                  <span v-html="$t('publication-location-hint-empty')" />
                                </AdInfoOwl>
                              </v-col>
                            </v-row>
                          </v-card-text>
                        </v-card>
                        <v-card outlined align="left" min-width="500" class="my-5">
                          <AdCardTitle inline>
                            {{ $t('adawib-long') }}
                          </AdCardTitle>
                          <v-card-text>
                            <!-- Automated Wiki Bot -->
                            <div class="my-2">
                              <v-btn class="ma-2" small color="grey lighten-1" dark>
                                <v-icon dark right>mdi-circle-outline</v-icon>
                                <div style="padding: 0 0 0 10px">
                                  {{ $t('adawib-notchecked') }}
                                </div>
                              </v-btn>
                            </div>
                          </v-card-text>
                        </v-card>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col sm="12" md="6">
            <v-dialog v-model="activeCopyrightBtn" width="800" scrollable persistent>
              <v-card>
                <AdCardTitle dialog>
                  {{ mode === "create" ? $t("add-copyright") : $t("edit-copyright") }}
                </AdCardTitle>
                <v-card-text class="pa-5">
                  <v-form v-if="activeCopyrightBtn" ref="formNewCopyright" v-model="valid">
                    <EditableString v-model.trim="activeCopyright.by" ref="by" :value="activeCopyright.by"
                      :label="$t('contributor')"
                      :required="rulesProject.requiredAttributes.some((attr) => attr === 'by')" />
                    <EditableDropdown v-model="activeCopyright.type" ref="type" :label="$t('as')"
                      :items="contributortypes" item-text="label.#text"
                      :required="rulesProject.requiredAttributes.some((attr) => attr === 'type')" />
                    <EditableString v-model.trim="activeCopyright.years" ref="years" :value="activeCopyright.years"
                      :rules="rulesProject.years" :label="$t('copyright-years')"
                      :required="rulesProject.requiredAttributes.some((attr) => attr === 'years')" />
                    <EditableFileInput v-model="activeCopyright.logo" icon="mdi-camera" label="copyright-logo"
                      labelBtn="add-change-logo" :getProjectIcon="getProjectIcon"
                      @change="activeCopyright.logo = $event" />
                    <AdCardTitle dialog class="d-flex flex-nowrap mt-5 mb-5">{{ $t('contact-data')}}
                      <div class="ml-auto">
                        <AdButton type="add" :small="true" @click="addAddress" />
                      </div>
                    </AdCardTitle>

                    <template v-if="activeCopyright.addrLine.length > 0">
                      <v-row v-for="(addrLine, addrLineIndex) in activeCopyright.addrLine"
                        :key="`addrLine-${addrLineIndex}`" class="mx-3">
                        <v-col cols="8">
                          <EditableString v-model="addrLine['#text']" :value="addrLine['#text']" required
                            :label="$t('address')" />
                        </v-col>
                        <v-col cols="3">
                          <v-select v-model="addrLine.type" :items="addressLineTypes" item-text="#text"
                            item-value="value" :label="$t('type')"></v-select>
                        </v-col>
                        <v-col cols="1" class="pt-5">
                          <AdButton type="erase" small list @click="deleteAddress(addrLineIndex)" />
                        </v-col>
                      </v-row>
                    </template>
                  </v-form>
                </v-card-text>
                <v-card-actions class="dialogbottomstrip">
                  <v-spacer></v-spacer>
                  <AdButton type="cancel" @click="cancelCopyright" />
                  <AdButton :type="(mode === 'create') ? 'add' : 'save'"
                    :hint="$t((mode === 'create') ? 'add' : 'save')" @click="createOrReplaceCopyright" depressed
                    :disabled="!valid" />
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-card class="mx-auto">
              <!-- copyright -->
              <AdCardTitle inline prependicon="mdi-copyright">
                {{ $t('copyright') }}
                <template v-if="userIsDecorAdmin">
                  <v-spacer></v-spacer>
                  <AdButton type="add" small @click="addCopyrightStart" :hint="$t('add-copyright')" />
                </template>
              </AdCardTitle>
              <v-card-text>
                <v-expansion-panels>
                  <v-expansion-panel v-for="(cc, i) in projectInFocus.copyright" :key="i" hide-actions>
                    <v-expansion-panel-header>
                      <v-row align="center" class="spacer"
                        :class="copyrightPeriodExpired(cc.years) ? 'text--disabled' : ''" no-gutters>
                        <v-col cols="6" class="text-truncate">{{ cc.by }}</v-col>
                        <v-col>
                          {{ $t('as') }}
                          {{ $t(cc.type) }}
                        </v-col>
                        <v-col>{{ cc.years }}</v-col>
                      </v-row>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-row>
                        <v-col :xs="(userIsDecorAdmin) ? 11 : 12" :sm="(userIsDecorAdmin) ? 7 : 8"
                          :md="(userIsDecorAdmin) ? 7 : 8">
                          <span v-if="copyrightPeriodExpired(cc.years) ">({{  $t('is-expired') }})</span>
                          <div v-for="(ad, j) in cc.addrLine" :key="j"
                            hide-actions>
                            <template v-if="['phone', 'fax', 'email'].includes(ad.type)">
                              <v-tooltip left>
                                <template v-slot:activator="{ on, attrs }">
                                  <v-btn icon v-bind="attrs" v-on="on" small>
                                    <v-icon small>mdi-{{ad.type}}</v-icon>
                                  </v-btn>
                                </template>
                                <span>{{ $t(ad.type) }}</span>
                              </v-tooltip>
                              {{ ad['#text'] }}
                            </template>
                            <template v-else-if="['uri', 'twitter', 'x', 'linkedin', 'facebook'].includes(ad.type)">
                              <v-tooltip left>
                                <template v-slot:activator="{ on, attrs }">
                                  <v-btn icon v-bind="attrs" v-on="on" small>
                                    <v-icon v-if="ad.type === 'uri'" small>mdi-web</v-icon>
                                    <v-icon v-else small>mdi-{{ ad.type }}</v-icon>
                                  </v-btn>
                                </template>
                                <span>{{ $t(ad.type) }}</span>
                              </v-tooltip>
                              <a :href="ad['#text']" target="_blank">
                                {{ ad['#text'] }}
                              </a>
                            </template>
                            <template v-else>
                              {{ ad.type }} {{ ad['#text'] }}
                            </template>
                            </div>
                        </v-col>
                        <v-col :xs="(userIsDecorAdmin) ? 11 : 12" sm="4" md="4">
                          <v-img v-if="cc.logo" max-height="60px" max-width="350px" position="right"
                            style="float: right" :src="getProjectIcon(project.prefix, cc.logo)" contain></v-img>
                        </v-col>
                        <v-col xs="1" sm="1" md="1" v-if="userIsDecorAdmin">
                          <AdSpeedDial v-if="userIsDecorAdmin" :open-on-hover="true" direction="bottom">
                            <AdSpeedOption type="edit" @click="editCopyrightStart(cc)"></AdSpeedOption>
                            <AdSpeedOption v-if="projectInFocus.copyright && projectInFocus.copyright.length > 1"
                              type="delete" @click="deleteCopyright(cc)"></AdSpeedOption>
                          </AdSpeedDial>
                        </v-col>
                      </v-row>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>

            <!-- license -->
            <LicenseCard class="mt-3 mx-auto" />

            <!-- scheduled project tasks -->
            <v-card class="mt-3 mx-auto">
              <AdCardTitle inline prependicon="mdi-timetable">
                {{ $t('scheduled-project-tasks') }}
              </AdCardTitle>
              <v-card-text>
                <v-data-table dense :headers="scheduledTasksHeaders" :items="scheduledTasks" key="uuid"
                  :items-per-page="5" :hide-default-footer="scheduledTasks && scheduledTasks.length <= 5"
                  class="elevation-1">
                  <template v-slot:[`item.task`]="{ item }">
                    <span>{{ scheduledTaskLabel (item) }}</span>
                    <div class="font-italic grey--text">{{ item.progress }}</div>
                  </template>
                  <template v-slot:[`item.progress`]="{ item }">
                    <v-progress-linear v-if="!item.error" :value="item['progress-percentage']" color="primary" rounded
                      height="6" />
                    <span v-else color="red lighten-2">
                      <v-icon color="red" small>mdi-alert</v-icon>
                      {{ item.error }}
                    </span>
                  </template>
                  <template v-slot:[`item.date`]="{ item }">
                    {{ formatDate(item.on)}}
                  </template>
                  <template v-slot:[`item.action`]="{ item }">
                    <AdSpeedDial v-if="userIsDecorAdmin && (item.busy !== 'true' || item.error)" direction="left">
                      <AdButton type="erase" list small @click="deleteScheduledTask(item)" />
                    </AdSpeedDial>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
            <!-- Services -->
            <ServicesTable class="mt-3 mx-auto" />
          </v-col>
          <v-col sm="12" md="6">
            <!-- Repositories -->
            <v-card class="mb-3 mx-auto">
              <AdCardTitle inline prependicon="mdi-cloud-outline">
                {{ $t('Repositories') }}
                <template v-if="userIsDecorAdmin">
                  <v-spacer></v-spacer>
                  <AdButton type="add" small @click="toggleModal('editRepository')" :hint="$t('add-repository')" />
                </template>
              </AdCardTitle>
              <v-card-text>
                <v-data-table dense :headers="repositoryHeaders" :items="repositoryData" :items-per-page="5"
                  :hide-default-footer="repositoryData && repositoryData.length <= 5"
                  class="elevation-1"></v-data-table>
              </v-card-text>
            </v-card>
            <!-- Namespaces -->
            <v-card class="mx-auto">
              <AdCardTitle inline prependicon="mdi-music-accidental-double-flat">
                {{ $t('Namespaces') }}
                <template v-if="userIsDecorAdmin">
                  <v-spacer></v-spacer>
                  <AdButton type="add" small @click="toggleModal('addNamespace')" :hint="$t('add-namespace')" />
                </template>
              </AdCardTitle>
              <v-card-text>
                <v-data-table dense :headers="namespaceHeaders" :items="namespaceData" :items-per-page="5"
                  :hide-default-footer="namespaceData && namespaceData.length <= 5" class="elevation-1">
                  <template v-slot:[`item.default`]="{ item }">
                    <v-simple-checkbox :value="item.default === 'true'"
                      @input="updateDefaultElementNamespace(item.prefix)"
                      :disabled="!userIsDecorAdmin || item.default === 'true'" :ripple="false" />
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-container>
  </v-layout>
</template>

<script>
import ProjectService from '@/services/ProjectService'
import StatsCard from '@/components/Utilities/StatsCard'
import PanelLoading from '@/components/Utilities/PanelLoading'
import EditableFileInput from '@/components/Utilities/Editable/EditableFileInput'
import EditableSwitch from '@/components/Utilities/Editable/EditableSwitch'
import EditableTextArea from '@/components/Utilities/Editable/EditableTextArea'
import AdEditURI from '@/components/Utilities/AdEditURI'
import RepositoryAdd from '@/components/Project/RepositoryAdd'
import LicenseCard from '@/components/Project/LicenseCard'
import ServicesTable from '@/components/Project/ServicesTable'
import NamespaceAdd from '@/components/Project/NamespaceAdd'
import ShowAdramDetails from '@/components/Project/ShowAdramDetails'
import copyrightProject from '@/models/copyrightProject'
import rulesProject from '@/rules/project'
import { mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'

// const pause = (ms) => new Promise((resolve) => setTimeout(resolve, ms))

export default {
  name: 'OverviewPanel',
  components: {
    StatsCard,
    EditableFileInput,
    EditableSwitch,
    EditableTextArea,
    PanelLoading,
    AdEditURI,
    RepositoryAdd,
    LicenseCard,
    ServicesTable,
    NamespaceAdd,
    ShowAdramDetails
  },
  data () {
    return {
      activeCopyright: {},
      activeCopyrightBackup: {},
      activeCopyrightBtn: false,
      modal: {
        editURI: false,
        editRepository: false,
        addNamespace: false
      },
      mode: 'create',
      search: '',
      publicationLocationIsUpdating: false,
      repositoriesUpdating: false,
      namespacesUpdating: false,
      namespaceToEdit: null,
      rulesProject,
      updatingProjectName: null,
      newLanguageName: '',
      valid: true
    }
  },
  computed: {
    ...mapGetters('project', ['projectIsLoading']),
    project () {
      return this.projectInFocus
    },
    addressLineTypes () {
      const addressLineTypes = this.$store.getters['server/getDecorTypes']?.data?.AddressLineType?.[0]?.enumeration?.map((e) => ({
        '#text': this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
      const firstType = [
        {
          '#text': '-',
          value: ''
        },
        ...addressLineTypes
      ]
      return firstType
    },
    contributortypes () {
      return [
        { value: 'author', label: this.$t('author') },
        { value: 'contributor', label: this.$t('contributor') },
        { value: 'reviewer', label: this.$t('reviewer') }
      ]
    },
    fhirObjectFormat () {
      return format => this.$store.getters['server/getDecorTypes']?.data?.FhirObjectFormat?.[0]?.enumeration?.find(item => item.value === format)
    },
    languagesNotInProject () {
      return this.$root.langs.filter(lang => !this.projectInFocus?.name.find(name => name.language === lang))
    },
    namespaceHeaders () {
      return [
        {
          text: this.$t('prefix'),
          value: 'prefix'
        },
        {
          text: this.$t('uri'),
          value: 'uri'
        },
        {
          text: this.$t('default'),
          value: 'default'
        }
      ]
    },
    scheduledTasksHeaders () {
      return [
        {
          text: this.$t('task'),
          value: 'task'
        },
        {
          text: this.$t('progress'),
          value: 'progress',
          sortable: false
        },
        {
          text: this.$t('date'),
          value: 'date'
        },
        {
          // text: this.$t('actions'),
          value: 'action',
          align: 'right',
          sortable: false
        }
      ]
    },
    namespaceData () {
      return this.projectInFocus?.ns || []
    },
    scheduledTasks () {
      return this.$store.getters['project/scheduledTasks/taskList']
    },
    notifierSwitchValue () {
      return this.projectInFocus?.issues?.[0].notifier === 'on' ? 'true' : 'false'
    },
    projectAdramStatus () {
      return this.projectInFocus?.service?.find(service => service.type === 'adram') || ''
    },
    projectAdawibStatus () {
      return this.projectInFocus?.service?.find(service => service.type === 'adawib')?.status || ''
    },
    projectNameWhileUpdating () {
      return (language) => this.updatingProjectName?.language === language
        ? this.updatingProjectName?.['#text']
        : false
    },
    publicationLocationIsEditable () {
      return !this.publicationLocationIsUpdating && this.userIsDecorAdmin
    },
    publicationLocationURI () {
      return this.projectInFocus?.reference?.[0]?.url || null
    },
    projectLanguage () {
      return this.projectInFocus?.defaultLanguage
    },
    repositoryData () {
      return this.projectInFocus?.buildingBlockRepository || []
    },
    repositoryHeaders () {
      return [
        {
          text: this.$t('prefix'),
          value: 'ident'
        },
        {
          text: this.$t('URL'),
          value: 'url'
        },
        {
          text: this.$t('type'),
          value: 'format'
        }
      ]
    },
    sortedProjectNames () {
      const names = this.projectInFocus?.name || []
      return [...names].sort((a, b) => {
        if (a.language < b.language) {
          return -1
        }
        if (a.language > b.language) {
          return 1
        }
        return 0
      })
    },
    statsCards () {
      return [
        {
          icon: 'mdi-book-open-blank-variant',
          title: 'datasets',
          to: { name: 'dataset', params: { prefix: this.projectInFocus?.prefix } },
          value: this.project?.statistics?.[0]?.datasets?.[0].count,
          color: 'green lighten-2'
        },
        {
          icon: 'mdi-movie',
          title: 'scenarios',
          to: { name: 'scenarios', params: { prefix: this.projectInFocus?.prefix } },
          value: this.project?.statistics?.[0]?.scenarios?.[0].count,
          color: 'green lighten-2'
        },
        {
          icon: 'mdi-web',
          title: 'terminologies',
          to: { name: 'value-set', params: { prefix: this.projectInFocus?.prefix } },
          value: this.project?.statistics?.[0]?.terminologies?.[0].count,
          color: 'blue lighten-2'
        },
        {
          icon: 'mdi-check-circle',
          title: 'templates',
          to: { name: 'templates', params: { prefix: this.projectInFocus?.prefix } },
          value: this.project?.statistics?.[0]?.profiles?.[0].count,
          color: 'orange lighten-2'
        },
        {
          icon: 'mdi-flag',
          title: 'issues',
          to: { name: 'issues', params: { prefix: this.projectInFocus?.prefix } },
          value: this.project?.statistics?.[0]?.issues?.[0].count.concat(
            ' / ',
            this.project?.statistics?.[0]?.issues?.[0].open
          ),
          color: 'red lighten-2'
        },
        {
          icon: 'mdi-bookshelf',
          title: 'publications',
          to: { name: 'project-publication', params: { prefix: this.projectInFocus?.prefix } },
          value: this.project?.statistics?.[0]?.releases?.[0].count,
          color: 'grey'
        }
      ]
    }
  },
  methods: {
    async deleteScheduledTask (item) {
      const taskId = item.as
      try {
        await this.$store.dispatch('project/scheduledTasks/deleteProjectScheduledTasks', {
          id: taskId
        })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    getProjectIcon (prefix, logo) {
      return ProjectService.getProjectIcon(prefix, logo)
    },
    goToURL (url) {
      window.open(url)
    },
    async removeReferenceURL () {
      this.$confirm(this.$t('delete-publication-location-url'), { positive: this.$t('delete'), icon: 'mdi-delete' })
        .then((confirmed) => {
          if (confirmed) {
            const data = {
              parameter: [
                {
                  op: this.project?.reference?.[0]?.logo ? 'replace' : 'remove',
                  path: '/reference',
                  value: {
                    reference: {
                      logo: this.project?.reference?.[0]?.logo || ''
                    }
                  }
                }
              ]
            }

            this.publicationLocationIsUpdating = true

            this.$store.dispatch('project/patchProject', { data, path: ['reference', 'service'], checkadram: true })
              .catch((error) => {
                const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
                this.$alert(errorMessage)
              })
              .finally(() => {
                this.publicationLocationIsUpdating = false
              })
          }
        })
        .catch(() => {
          // Do nothing
        })
    },
    toggleModal (modal) {
      this.modal[modal] = !this.modal[modal]
    },
    async updateProjectDescription (descriptions) {
      const data = {
        parameter: Object.values(descriptions || []).map((description) => ({
          op: 'replace',
          path: '/desc',
          value: {
            desc: description
          }
        }))
      }

      // Update project on rest api.
      try {
        const updatedProject = await this.$store.dispatch('project/patchProject', { data, path: 'desc' })

        // Check if updated project is not nil.
        if (!!updatedProject?.data === true) {
          // Emit current html input value.
          this.$emit('input', updatedProject?.data)
        }
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    updateDefaultLanguage (language) {
      const data = {
        parameter: [
          {
            op: 'replace',
            path: '/defaultLanguage',
            value: language
          }
        ]
      }

      this.$store.dispatch('project/patchProject', { data, path: 'defaultLanguage' })
        .then(() => {
          this.$notify(this.$t('submission-update-success-label'), 'success')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },
    updateDefaultElementNamespace (prefix) {
      const data = {
        parameter: [
          {
            op: 'replace',
            path: '/defaultElementNamespace',
            value: {
              defaultElementNamespace: {
                ns: prefix + ':'
              }
            }
          }
        ]
      }

      this.$store.dispatch('project/patchProject', { data, path: ['ns', 'defaultElementNamespace'] })
        .then(() => {
          this.$notify(this.$t('submission-update-success-label'), 'success')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },
    validateProjectDescription (descriptions) {
      if (!Array.isArray(descriptions)) return false
      if (descriptions.some(desc => !this.$filters.htmlHasTextContent(desc?.['#text']))) return false
      return true
    },
    addProjectName (name) {
      const data = {
        parameter: [
          {
            op: 'replace',
            path: '/name',
            value: { name }
          }
        ]
      }

      this.$store.dispatch('project/patchProject', { data, path: 'name' })
        .then(() => {
          this.$notify(this.$t('submission-update-success-label'), 'success')
          if (this.$refs.newLanguageInput) {
            this.$refs.newLanguageInput.currentLocale = this.languagesNotInProject?.[0] || 'en-US'
          }
          this.newLanguageName = ''
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },
    updateProjectName (language, projectName) {
      const nameToUpdate = {
        language,
        '#text': projectName
      }

      const data = {
        parameter: [
          {
            op: 'replace',
            path: '/name',
            value: {
              name: nameToUpdate
            }
          }
        ]
      }

      this.updatingProjectName = nameToUpdate

      this.$store.dispatch('project/patchProject', { data, path: 'name' })
        .then(() => {
          this.updatingProjectName = null
          this.$notify(this.$t('submission-update-success-label'), 'success')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },
    async updatePublicationLocationURI (url) {
      const data = {
        parameter: [
          {
            op: 'replace',
            path: '/reference',
            value: {
              reference: {
                logo: this.project?.reference?.[0]?.logo || '',
                url
              }
            }
          }
        ]
      }

      this.publicationLocationIsUpdating = true

      this.$store.dispatch('project/patchProject', { data, path: ['reference', 'service'], checkadram: true })
        .then(() => {
          this.toggleModal('editURI')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
        .finally(() => {
          this.publicationLocationIsUpdating = false
        })
    },
    updateSwitchValue (key, value, valueIfTrue, valueIfFalse) {
      const data = {
        parameter: [
          {
            op: 'replace',
            path: '/' + key,
            value: value === 'true' ? valueIfTrue : valueIfFalse
          }
        ]
      }

      this.$store.dispatch('project/patchProject', { data, path: key })
        .then(() => this.$notify(this.$t('submission-update-success-label'), 'success'))
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },
    addCopyrightStart () {
      this.mode = 'create'
      this.activeCopyrightBtn = true
      this.activeCopyright = cloneDeep(copyrightProject)
    },
    cancelCopyright () {
      this.activeCopyrightBtn = false
      this.$nextTick(() => {
        // reset active with model
        this.activeCopyright = cloneDeep(copyrightProject)
        this.activeCopyrightBackup = {}
      })
    },
    editCopyrightStart (copyright) {
      this.mode = 'replace'
      // merge model and data, as specific attributes could be missing, like addrLine (Array)
      this.activeCopyright = Object.assign(cloneDeep(copyrightProject), cloneDeep(copyright))
      this.activeCopyrightBackup = cloneDeep(copyright)
      this.$nextTick(() => {
        this.activeCopyrightBtn = true
      })
    },
    createOrReplaceCopyright () {
      if (!this.userIsDecorAdmin) {
        this.$alert(this.$t('need-to-be-decor-admin-user'))
        return false
      }
      if (!this.$refs.formNewCopyright.validate()) {
        return
      }

      try {
        const op = (this.mode === 'create') ? 'add' : 'replace'
        const copyright = cloneDeep(this.activeCopyright)
        if (typeof copyright.logo !== 'string' && !copyright.logo?.base64) {
          delete copyright.logo
        }
        const data = {
          parameter: [
            {
              op,
              path: '/copyright',
              value: {
                copyright
              }
            }
          ]
        }
        if (op === 'replace' && this.activeCopyright.by !== this.activeCopyrightBackup.by) {
          data.parameter.push({
            op: 'remove',
            path: '/copyright',
            value: {
              copyright: this.activeCopyrightBackup
            }
          })
        }
        this.$store.dispatch('project/patchProject', { data, path: 'copyright' })
          .catch((error) => {
            if (error?.response?.data?.description) {
              this.$alert(error?.response?.data?.description)
            }
          })
          .finally(() => {
            this.cancelCopyright()
          })
      } catch (error) {
        if (error?.response?.data?.description) {
          this.$alert(error?.response?.data?.description)
        }
      }
    },
    async deleteCopyright (copyright) {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        try {
          const data = {
            parameter: [
              {
                op: 'remove',
                path: '/copyright',
                value: {
                  copyright
                }
              }
            ]
          }
          this.$store.dispatch('project/patchProject', { data, path: 'copyright' })
            .catch((error) => {
              if (error?.response?.data?.description) {
                this.$alert(error?.response?.data?.description)
              }
            })
            .finally(() => {
              this.cancelCopyright()
            })
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      }
    },
    addAddress () {
      this.activeCopyright.addrLine.push({
        '#text': null,
        type: null
      })
    },
    deleteAddress (addrLineIndex) {
      this.activeCopyright.addrLine.splice(addrLineIndex, 1)
    },
    saveRepository (repositorySelection) {
      this.repositoriesUpdating = true
      try {
        const data = { parameter: [] }
        repositorySelection.forEach(repo => {
          data.parameter.push({
            op: 'add',
            path: '/buildingBlockRepository',
            value: {
              buildingBlockRepository: repo
            }
          })
        })
        this.$store.dispatch('project/patchProject', { data, path: 'buildingBlockRepository' })
          .catch((error) => {
            if (error?.response?.data?.description) {
              this.$alert(error?.response?.data?.description)
            }
          })
          .finally(() => {
            this.repositoriesUpdating = false
            this.toggleModal('editRepository')
          })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || this.$t('submission-update-error-label')
        this.$alert(errorMessage)
      }
    },
    saveNamespace (namespace) {
      this.namespacesUpdating = true
      try {
        const data = {
          parameter: [
            {
              op: 'add',
              path: '/ns',
              value: {
                ns: {
                  prefix: namespace.prefix,
                  uri: namespace.uri
                }
              }
            }
          ]
        }
        const pathsToUpdate = ['ns']
        if (namespace.default) {
          data.parameter.push({
            op: 'replace',
            path: '/defaultElementNamespace',
            value: {
              defaultElementNamespace: {
                ns: namespace.prefix + ':'
              }
            }
          })
          pathsToUpdate.push('defaultElementNamespace')
        }

        this.$store.dispatch('project/patchProject', { data, path: pathsToUpdate })
          .catch((error) => {
            if (error?.response?.data?.description) {
              this.$alert(error?.response?.data?.description)
            }
          })
          .finally(() => {
            this.namespacesUpdating = false
            this.namespaceToEdit = {}
            this.toggleModal('addNamespace')
          })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || this.$t('submission-update-error-label')
        this.$alert(errorMessage)
      }
    },
    scheduledTaskLabel (item) {
      if (item.adram) return this.$t('publication') + ' (ADRAM)'
      if (item.taskType === 'publication-request') return this.$t('publication')
      if (item.taskType === 'compile-request') return this.$t('compilation')
      if (item.taskType === 'projectcheck-request') return this.$t('check-decor')
      if (item.taskType === 'questionnaire-transform-request') return this.$t('questionnaire-transform')
      if (item.taskType === 'terminology-report-request') return this.$t('terminology-report')
      if (item.taskType === 'generic-report-request') return this.$t('generic-sanity-report')
      return this.$t('unknown')
    },
    copyrightPeriodExpired (y) {
      // pattern yyyy-yyyy - if last year is less than current year return false else true
      // also works for yyyy or yyyy- as this leaves end date open anyway
      const m = y.match(/[0-9]{4}-([0-9]{4})/i)
      const yl = m === null ? '' : m[1]
      const thisyear = new Date().getFullYear()
      if (parseInt(yl) < thisyear) return Boolean(1) // expired
      // console.log('*' + thisyear)
      // console.log(yl)
      return Boolean(0) // otherwise true
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
