<template>
  <div>
    <v-dialog
      v-model="showDialog"
      width="1000"
      persistent
      scrollable
    >
      <v-card v-if="filterToEdit">

        <AdCardTitle dialog>{{ (addFilterBtn) ? $t('add-filter') : $t('edit-filter') }} {{ filterToEdit.label }}</AdCardTitle>

        <v-card-text class="pa-5">
          <v-form ref="filterRef" v-model="valid" v-if="showDialog">
            <v-row>
              <v-col cols="2">
                <EditableString
                  v-model="filterToEdit.id"
                  readonly
                  :label="$t('id')"
                />
              </v-col>
              <v-col cols="6">
                <EditableString
                  v-model="filterToEdit.label"
                  :confirmation-required="false"
                  :required="true"
                  ref="label"
                  :label="$t('label')"
                />
              </v-col>
            </v-row>
          </v-form>
          <v-card flat class="mb-4">
            <AdCardTitle inline>
              {{ $t('transactions') }} ({{ parsedTransactionCount }})
              <v-spacer />
              <v-col cols="6">
                <v-text-field
                  v-model="transactionSearch"
                  append-icon="mdi-magnify"
                  :label="$t('search')"
                  single-line
                  hide-details
                  clearable
                  class="my-1"
                />
              </v-col>
            </AdCardTitle>
            <v-card-text class="mt-2">
              <v-data-table
                v-model="selectedTransactions"
                :headers="transactionTableHeaders"
                :items="transactions"
                item-key="ref"
                :loading="$store.state.scenario.loading.scenarioItems"
                show-select
                :items-per-page="5"
                :hide-default-footer="transactions.length <= 5"
                :hide-default-header="!transactions.length"
                :search="transactionSearch"
                :custom-filter="transactionSearchFilter"
              >
                <template v-slot:[`item.name`]="{ item }">
                    {{ $filters.getMatchingTranslation({value: item.name}) }}
                </template>
                <template v-slot:[`item.statusCode`]="{ item }">
                  <AdStatusDot v-if="item.statusCode" class="pr-1" :status="item.statusCode"  />
                  {{ $t(item.statusCode) }}
                </template>
                <template v-slot:[`item.flexibility`]="{ item }">
                  {{ $filters.formatDate(item.flexibility) }}
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-card-text>
        <v-card-actions class="dialogbottomstrip">
          <v-spacer/>
          <AdButton type="cancel" @click="closeDialog" />
          <AdButton :type="(addFilterBtn) ? 'add' : 'edit'" @click="patchFilters('filterRef')" />
        </v-card-actions>
      </v-card>
    </v-dialog>

    <AdCardTitle inline>
      {{ $t('select-filter') }}
      <v-spacer />
      <AdButton
        type="add"
          fab
          small
          :hint="$t('add-filter')"
          @click="startCreateFilter"
        />
    </AdCardTitle>
    <v-card-text class="pa-5">
      <v-data-table
        v-model="selectedFilter"
        :headers="filterHeaders"
        :items="$store.getters['project/compilationFilters']"
        @item-selected="selectFilter"
        item-key="label"
        :loading="$store.state.project.loadingCompilationFilters"
        show-select
        single-select
        :items-per-page="5"
        :hide-default-footer="$store.getters['project/compilationFilters'].length <= 5"
        :search="filterSearch"
        :custom-filter="filterSearchFilter"
        class="transparentBackground"
      >
        <template v-slot:[`item.transactionCount`]="{ item }">
          <span v-if="item.transaction && item.transaction.length">{{ item.transaction.length }}</span>
          <span v-else>0</span>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <AdSpeedDial direction="left">
            <AdButton
              type="edit"
              list
              @click="editFilter(item)"
            />
            <AdButton
              type="delete"
              list
              @click="removeFilter(item)"
            />
          </AdSpeedDial>
        </template>
      </v-data-table>
    </v-card-text>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
export default {
  name: 'ProjectFilter',
  data () {
    return {
      addFilterBtn: false,
      editFilterBtn: false,
      filterSearch: '',
      filterToEdit: null,
      selectedFilter: [],
      selectedTransactions: [],
      showDialog: false,
      transactionSearch: '',
      valid: true
    }
  },
  computed: {
    filterHeaders () {
      return [
        { value: 'label', text: this.$t('label') },
        { value: 'transactionCount', text: this.$t('transactions') },
        { value: 'actions', align: 'right', sortable: false }
      ]
    },
    filterSearchFilter () {
      return (value, search, item) => {
        const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
        const query = search.toLowerCase()
        return name.includes(query)
      }
    },
    parsedTransactionCount () {
      return this.selectedTransactions.length === this.transactions.length ? this.$t('all') : this.selectedTransactions.length
    },
    transactions () {
      const transactionList = []

      // Get all transactions groups from scenario list
      if (this.$store.state.scenario.scenarioItems.length > 0) {
        this.$store.state.scenario.scenarioItems.forEach(scenario => {
          if (scenario.transaction) {
            scenario.transaction.forEach(group => {
              // Add ref + flexibility prop, to correspond with different data format comming back in filters
              transactionList.push({ ...group, ref: group.id, flexibility: group.effectiveDate })
            })
          }
        })
      }
      return transactionList
    },
    transactionTableHeaders () {
      return [
        { value: 'name', text: this.$t('name') },
        { value: 'statusCode', text: this.$t('status') },
        { value: 'ref', text: this.$t('id') },
        { value: 'flexibility', text: this.$t('version') }
      ]
    }

  },
  created () {
    return this.$store.dispatch('project/getCompilationFilters')
      .then((response) => {
        if (
          response?.data?.filter === 'on' &&
          this.$store.getters['project/compilationFilters'].length > 0
        ) {
          const filterId = response.data.filterId
          const activeFilter = this.$store.getters['project/compilationFilters'].find(filter => filter.id === filterId)
          this.selectedFilter = [activeFilter]
        }
      })
      .catch((error) => {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      })
  },
  methods: {
    editFilter (filter) {
      this.filterToEdit = cloneDeep(filter)
      if (!this.$store.state.scenario.loaded.scenarioItems) {
        this.fetchTransactions()
      }
      this.showDialog = true
      this.selectedTransactions = this.filterToEdit.transaction || []
    },
    async patchFilters (formName) {
      if (this.$refs[formName].validate()) {
        const { id, label } = this.filterToEdit || {}

        if (!id || !label) {
          return
        }

        try {
          const filterToPatch = {
            id,
            label,
            transaction: []
          }
          this.selectedTransactions.forEach(transaction => {
            filterToPatch.transaction.push({
              ref: transaction.id || transaction.ref,
              flexibility: transaction.effectiveDate || transaction.flexibility,
              statusCode: transaction.statusCode,
              name: this.$filters.getMatchingTranslation({ value: transaction.name })
            })
          })

          const data = { parameter: [] }

          data.parameter.push({
            op: 'replace',
            path: '/filters',
            value: {
              filters: filterToPatch
            }
          })
          this.performPatch(data)
        } catch (error) {
        }
        this.filterToEdit = null
      }
    },
    async startCreateFilter () {
      this.filterToEdit = {
        id: Date.now().toString(),
        label: null,
        transaction: []
      }
      if (!this.$store.state.scenario.loaded.scenarioItems) {
        await this.fetchTransactions()
      }
      this.selectedTransactions = []
      this.addFilterBtn = true
      this.showDialog = true
      this.$nextTick(() => {
        this.$refs.label.focus()
      })
    },
    removeFilter (filter) {
      const { id, label } = filter
      if (id == null || label == null) {
        return false
      }
      const data = { parameter: [] }
      const filterToPatch = {
        id,
        label,
        transaction: []
      }
      data.parameter.push({
        op: 'remove',
        path: '/filters',
        value: {
          filters: filterToPatch
        }
      })
      this.performPatch(data)
    },
    performPatch (data) {
      return this.$store.dispatch('project/patchProjectFilters', data)
        .then((response) => {
          // If a filter is active, set the selectedFilter
          if (
            response?.data?.filter === 'on' &&
            this.$store.getters['project/compilationFilters'].length > 0
          ) {
            const filterId = response.data.filterId
            const activeFilter = this.$store.getters['project/compilationFilters'].find(filter => filter.id === filterId)
            this.selectedFilter = [activeFilter]
          }
          if (this.showDialog) this.showDialog = false
          this.$nextTick(() => {
            if (this.addFilterBtn) this.addFilterBtn = false
            if (this.editFilterBtn) this.editFilterBtn = false
          })
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    },
    closeDialog () {
      if (this.addFilterBtn) this.addFilterBtn = !this.addFilterBtn
      if (this.editFilterBtn) this.editFilterBtn = !this.editFilterBtn
      this.showDialog = false
    },
    selectFilter (ev) {
      const { item, value } = ev
      setTimeout(() => {
        if (!value && this.selectedFilter.length) {
          return
        }
        const data = {
          parameter: [
            {
              op: 'replace',
              path: '/filter',
              value: value ? 'on' : 'off'
            }
          ]
        }
        if (value) {
          data.parameter.push({
            op: 'replace',
            path: '/filterId',
            value: item.id
          })
        }
        return this.$store.dispatch('project/patchProjectFilters', data)
          .then(() => {
            this.$notify(this.$t('submission-update-success-label'), 'success')
          })
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
      }, 0)
    },
    async fetchTransactions () {
      return this.$store.dispatch('scenario/loadScenarioItems')
        .catch((error) => {
          this.$oops(error.message)
        })
    },
    transactionSearchFilter (value, search, item) {
      if (search == null || item == null) {
        return
      }
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const query = search.toLowerCase()
      return name.includes(query)
    }
  },
  watch: {
    'projectInFocus.prefix': {
      handler (newVal, oldVal) {
        this.sockets.unsubscribe(`PATCH/${oldVal}/filters`)
      }
    },
    selectedFilter: {
      immediate: true,
      handler (newVal) {
        this.$emit('filter-change', newVal)
      }
    }
  },
  mounted () {
    const prefix = this.projectInFocus?.prefix

    this.sockets.subscribe(`PATCH/${prefix}/filters`, (data) => {
      const { response, request } = data

      if (request.emitter === this.socketId) {
        // Don't handle events that are caused by own HTTP requests
        return
      }

      const filters = response.filters || []
      this.$store.commit('project/setCompilationFilters', filters)

      // If a filter is active, set the selectedFilter
      this.selectedFilter = []
      if (response.filter === 'on') {
        const filterId = response.filterId
        const activeFilter = filters.find(filter => filter.id === filterId)
        if (activeFilter) {
          this.selectedFilter = [activeFilter]
        }
      }
    })
  },
  beforeDestroy () {
    const prefix = this.projectInFocus?.prefix
    this.sockets.unsubscribe(`PATCH/${prefix}/filters`)
  }
}
</script>
