<template>
  <v-row>
    <v-col>
      <v-data-table
        :headers="headers"
        :items="datasets"
        item-key="uuid"
        :loading="$store.state.dataset.loading.datasetItems || loadingDatasetsForRelease"
        dense
        :search="search"
        :custom-filter="searchFilter"
        :hide-default-footer="datasets.length <= 10"
      >
        <template #top>
          <AdTableSearch v-model="search"/>
        </template>
        <template v-slot:[`item.id`]="{ item }">
          <AdShortId :id="item.id"/>
        </template>
        <template v-slot:[`item.name`]="{ item }">
          <AdButton
            v-if="selectedPublication === 'live'"
            link
            :to="{ name: 'dataset-details', params: { datasetId: item.id, datasetVersion: item.effectiveDate }}"
          >
            <AdStatusDot
              :status="item.statusCode"
              :icon="$filters.getDatasetIcon(item.type)"
              larger
              tooltip
              class="mr-2"
            />
            <div class="text-no-wrap">
              {{ $filters.getMatchingTranslation({ value: item.name }) }}
              <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
            </div>
          </AdButton>
          <div v-else class="d-flex align-center">
            <AdStatusDot
              :status="item.statusCode"
              :icon="$filters.getDatasetIcon(item.type)"
              larger
              tooltip
              class="mr-2"
            />
            {{ $filters.getMatchingTranslation({ value: item.name }) }}
            <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
          </div>
        </template>
        <template v-slot:[`item.effectiveDate`]="{ item }">
          <template v-if="item.effectiveDate">
            <span class="text-no-wrap">{{ $filters.formatDateShort(item.effectiveDate) }}</span>
          </template>
        </template>
        <template v-slot:[`item.decor`]="{ item }">
          <AdGoTo external green :href="extractDataset(item, 'xml', true)">XML</AdGoTo>
          <AdGoTo external green :href="extractDataset(item, 'json', true)">JSON</AdGoTo>
        </template>
        <template v-slot:[`item.fhir`]="{ item }">
          <AdGoTo v-if="projectHasFhirService('1.0')" external green :href="structureDefinition(item, '1.0')">{{ getFhirLabel('1.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('1.0')" external green :href="structureDefinition(item, '1.0', 'json')">{{ getFhirLabel('1.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('3.0')" external green :href="structureDefinition(item, '3.0')">{{ getFhirLabel('3.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('3.0')" external green :href="structureDefinition(item, '3.0', 'json')">{{ getFhirLabel('3.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external green :href="structureDefinition(item, '4.0')">{{ getFhirLabel('4.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external green :href="structureDefinition(item, '4.0', 'json')">{{ getFhirLabel('4.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external green :href="structureDefinition(item, '4.3')">{{ getFhirLabel('4.3') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external green :href="structureDefinition(item, '4.3', 'json')">{{ getFhirLabel('4.3') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external green :href="structureDefinition(item, '5.0')">{{ getFhirLabel('5.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external green :href="structureDefinition(item, '5.0', 'json')">{{ getFhirLabel('5.0') }} - JSON</AdGoTo>
        </template>
        <template v-slot:[`item.html`]="{ item }">
          <AdGoTo external green :href="retrieveDataset(item, 'html', '3456bcdefghijklmnop')">{{ $t('care-view') }}</AdGoTo>
          <AdGoTo external green :href="retrieveDataset(item, 'html', '3456gh')">{{ $t('complete-view') }}</AdGoTo>
        </template>
        <template v-slot:[`item.other`]="{ item }">
          <AdGoTo external green :href="getConceptDiagram(item)" >{{ $t('diagram') }}</AdGoTo>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import AdTableSearch from '../Utilities/AdTableSearch.vue'
import DataSetService from '@/services/DataSetService'

export default {
  components: {
    AdTableSearch
  },
  props: {
    DECOR_SERVICES_BASE_URL: {
      type: String,
      required: true
    },
    fhirObjectFormats: {
      type: Array,
      required: true
    },
    getFhirLabel: {
      type: Function,
      required: true
    },
    getFhirURL: {
      type: Function,
      required: true
    },
    projectHasFhirService: {
      type: Function,
      required: true
    },
    selectedPublication: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      search: '',
      datasetsForRelease: null,
      loadingDatasetsForRelease: false
    }
  },
  computed: {
    datasets () {
      return (
        this.selectedPublication === 'live'
          ? this.$store.getters['dataset/datasetItems']
          : this.datasetsForRelease
      ) || []
    },
    headers () {
      return [
        {
          value: 'id',
          text: this.$filters.nonBreakable(this.$t('short-id')),
          width: '1%',
          sortable: false
        },
        {
          value: 'name',
          text: this.$t('name'),
          sortable: false

        },
        {
          value: 'effectiveDate',
          text: this.$t('version'),
          sortable: false
        },
        {
          value: 'decor',
          text: this.$t('DECOR'),
          sortable: false
        },
        {
          value: 'fhir',
          text: this.$t('FHIR'),
          sortable: false
        },
        {
          value: 'html',
          text: this.$t('HTML'),
          sortable: false
        },
        {
          value: 'other',
          text: this.$t('other'),
          width: '1%',

          sortable: false
        }

      ]
    }
  },
  methods: {
    async fetchDatasets () {
      if (this.selectedPublication === 'live') {
        this.$store.dispatch('dataset/loadDatasetItems')
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
      } else {
        this.loadingDatasetsForRelease = true
        DataSetService.getDataSetList({ prefix: this.projectInFocus?.prefix, release: this.selectedPublication })
          .then(res => {
            this.datasetsForRelease = res.data.dataset || null
          })
          .finally(() => {
            this.loadingDatasetsForRelease = false
          })
      }
    },
    getConceptDiagram (item) {
      const { id, effectiveDate } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      let url = `${this.$store.getters['server/URL_ART_DECOR_API']}/dataset/${id}/${encodeURIComponent(effectiveDate)}/$diagram?language=${projectLanguage}`
      if (this.selectedPublication !== 'live') {
        url += `&release=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    retrieveDataset (item, format, hideColumns) {
      const { id, effectiveDate } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const uiLanguage = this.$i18n.locale
      let url = `${this.DECOR_SERVICES_BASE_URL}/RetrieveDataSet?id=${id}&effectiveDate=${encodeURIComponent(effectiveDate)}&language=${projectLanguage}&ui=${uiLanguage}&format=${format}`
      if (hideColumns) {
        url += `&hidecolumns=${hideColumns}`
      }
      if (this.selectedPublication !== 'live') {
        url += `&version=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    extractDataset (item, format, download = false) {
      const { id, effectiveDate } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      let url = ''
      if (download) {
        url = `${this.$store.getters['server/URL_ART_DECOR_API']}/dataset/${id}/${encodeURIComponent(effectiveDate)}/$extract?language=${projectLanguage}&format=${format}&download=true`
      } else {
        url = `${this.$store.getters['server/URL_ART_DECOR_API']}/dataset/${id}/${encodeURIComponent(effectiveDate)}/$extract?language=${projectLanguage}&format=${format}`
      }
      if (this.selectedPublication !== 'live') {
        url += `&release=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    searchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const versionLabel = item.versionLabel?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query) || versionLabel?.includes(query)
    },
    structureDefinition (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.getFhirURL(fhirFormat)
      const { id, effectiveDate, ident } = item
      const prefix = this.projectInFocus?.prefix
      const parsedVersion = this.selectedPublication === 'live' ? '' : this.selectedPublication.replaceAll(/[-:T]/g, '')
      const parsedEffectiveDate = effectiveDate.replaceAll(/[-:T]/g, '')
      const url = `${BASE_URL}/${fhirFormat}/${ident || prefix}${parsedVersion}/StructureDefinition/${id}--${parsedEffectiveDate}?_format=${dataFormat}`
      return url
    }
  },
  watch: {
    selectedPublication (value) {
      if (value === 'live') {
        this.datasetsForRelease = null

        if (this.$store.state.dataset.loaded.datasetItems) {
          return
        }
      }
      this.fetchDatasets()
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.$store.state.dataset.loaded.datasetItems || !vm.datasets.length) {
        vm.fetchDatasets()
      }
    })
  },
  beforeRouteUpdate (to, from, next) {
    this.fetchDatasets()
    next()
  }
}
</script>
