<template>
  <v-row>
    <v-col>
      <v-data-table
        :headers="headers"
        :items="questionnaires"
        item-key="uuid"
        :loading="$store.state.questionnaire.loading.questionnaires || loadingQuestionnairesForRelease"
        dense
        :search="search"
        :custom-filter="searchFilter"
        :hide-default-footer="questionnaires.length <= 10"
      >
        <template #top>
          <AdTableSearch v-model="search"/>
        </template>
        <template #item.id="{ item }">
          <AdShortId :id="item.id"/>
        </template>
        <template #item.name="{ item }">
          <AdButton
            v-if="selectedPublication === 'live'"
            link
            :to="item.effectiveDate
              ? { name: 'questionnaires-details-id-effectiveDate', params: { id: item.id || item.ref, effectiveDate: item.effectiveDate }}
              : { name: 'questionnaires-details-id', params: { id: item.id || item.ref }}
            "
          >
            <AdStatusDot
              :status="item.statusCode"
              :icon="$filters.getQuestionnaireIcon(item)"
              larger
              tooltip
              class="mr-2"
            />
            <div class="text-no-wrap">
              {{ $filters.getMatchingTranslation({ value: item.name }) }}
              <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
            </div>
          </AdButton>
          <div v-else class="d-flex align-center">
            <AdStatusDot
              :status="item.statusCode"
              :icon="$filters.getQuestionnaireIcon(item)"
              larger
              tooltip
              class="mr-2"
            />
            {{ $filters.getMatchingTranslation({ value: item.name }) }}
            <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
          </div>
        </template>
        <template #item.effectiveDate="{ item }">
          <template v-if="item.effectiveDate">
            <span class="text-no-wrap">{{ $filters.formatDateShort(item.effectiveDate) }}</span>
          </template>
        </template>
        <template #item.fhir="{item}">
          <AdGoTo v-if="projectHasFhirService('4.0')" external red :href="questionnaire(item, '4.0')">{{ getFhirLabel('4.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external red :href="questionnaire(item, '4.0', 'json')">{{ getFhirLabel('4.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external red :href="questionnaire(item, '4.3')">{{ getFhirLabel('4.3') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external red :href="questionnaire(item, '4.3', 'json')">{{ getFhirLabel('4.3') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external red :href="questionnaire(item, '5.0')">{{ getFhirLabel('5.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external red :href="questionnaire(item, '5.0', 'json')">{{ getFhirLabel('5.0') }} - JSON</AdGoTo>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import AdTableSearch from '../Utilities/AdTableSearch.vue'
import QuestionnaireService from '@/services/QuestionnaireService'

export default {
  name: 'ProjectIndexQuestionnaires',
  components: {
    AdTableSearch
  },
  props: {
    // DECOR_SERVICES_BASE_URL: {
    //   type: String,
    //   required: true
    // },
    // fhirObjectFormats: {
    //   type: Array,
    //   required: true
    // },
    getFhirLabel: {
      type: Function,
      required: true
    },
    getFhirURL: {
      type: Function,
      required: true
    },
    projectHasFhirService: {
      type: Function,
      required: true
    },
    selectedPublication: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      search: '',
      questionnairesForRelease: null,
      loadingQuestionnairesForRelease: false
    }
  },
  computed: {
    questionnaires () {
      return (this.selectedPublication === 'live'
        ? this.$store.getters['questionnaire/questionnaires']
        : this.questionnairesForRelease) || []
    },
    headers () {
      return [
        {
          value: 'id',
          text: this.$filters.nonBreakable(this.$t('short-id')),
          width: '1%',
          sortable: false
        },
        {
          value: 'name',
          text: this.$t('name'),
          sortable: false
        },
        {
          value: 'effectiveDate',
          text: this.$t('version'),
          sortable: false
        },
        {
          value: 'fhir',
          text: this.$t('FHIR'),
          sortable: false
        }
      ]
    }
  },
  methods: {
    questionnaire (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.getFhirURL(fhirFormat)
      const { id, effectiveDate, ident } = item
      const prefix = this.projectInFocus?.prefix
      const parsedVersion = this.selectedPublication === 'live' ? '' : this.selectedPublication.replaceAll(/[-:T]/g, '')
      const parsedEffectiveDate = effectiveDate.replaceAll(/[-:T]/g, '')
      const url = `${BASE_URL}/${fhirFormat}/${ident || prefix}${parsedVersion}/Questionnaire/${id}--${parsedEffectiveDate}?_format=${dataFormat}`
      return url
    },
    async fetchQuestionnaires () {
      if (this.selectedPublication === 'live') {
        this.$store.dispatch('questionnaire/getQuestionnaireList')
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
      } else {
        this.loadingQuestionnairesForRelease = true
        QuestionnaireService.getQuestionnaireList({ prefix: this.projectInFocus?.prefix, release: this.selectedPublication })
          .then(res => {
            this.questionnairesForRelease = res.data.questionnaire || null
          })
          .finally(() => {
            this.loadingQuestionnairesForRelease = false
          })
      }
    },

    searchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const versionLabel = item.versionLabel?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query) || versionLabel?.includes(query)
    }
  },
  watch: {
    selectedPublication (value) {
      if (value === 'live') {
        this.questionnairesForRelease = null

        if (this.$store.state.questionnaire.loaded.questionnaires) {
          return
        }
      }
      this.fetchQuestionnaires()
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.$store.state.questionnaire.loaded.questionnaires || !vm.questionnaires.length) {
        vm.fetchQuestionnaires()
      }
    })
  },
  beforeRouteUpdate (to, from, next) {
    this.fetchQuestionnaires()
    next()
  }
}
</script>
