<template>
  <v-row>
    <v-col>
      <v-data-table
        :headers="headers"
        :items="transactions"
        item-key="id"
        :loading="$store.state.scenario.loading.scenarioItems || loadingScenariosForRelease"
        dense
        :search="search"
        :custom-filter="searchFilter"
        :hide-default-footer="transactions.length <= 10"
      >
        <template #top>
          <AdTableSearch v-model="search"/>
        </template>
        <template v-slot:[`item.id`]="{ item }">
          <AdShortId :id="item.id"/>
        </template>
        <template v-slot:[`item.name`]="{ item }">
          <AdButton link :to="{ name: 'scenarios-details', params: { scenarioId: item.id, scenarioVersion: item.effectiveDate }}">
            <AdStatusDot
              :status="item.statusCode"
              :icon="$filters.getScenarioIcon(item.type)"
              larger
              tooltip
              class="mr-1"
            />
            <div class="text-no-wrap">
              {{ $filters.getMatchingTranslation({ value: item.name }) }}
              <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
            </div>
          </AdButton>
        </template>
        <template v-slot:[`item.effectiveDate`]="{ item }">
          <template v-if="item.effectiveDate">
            <span class="text-no-wrap">{{ $filters.formatDateShort(item.effectiveDate) }}</span>
          </template>
        </template>
        <template v-slot:[`item.source`]="{ item }">
          <!-- Dataset -->
          <AdButton
            v-if="item.datasetDetails.id && item.datasetDetails.effectiveDate && item.datasetDetails.name"
            link
            :to="{
              name: 'dataset-details',
              params: {
                datasetId: item.datasetDetails.id,
                datasetVersion: item.datasetDetails.effectiveDate
              }
            }"
            class="d-block my-1"
          >
            <AdStatusDot
              :status="item.datasetDetails.statusCode"
              :icon="$filters.getDatasetIcon()"
              tooltip
              class="mr-2"
            />
            <span class="text-no-wrap">{{ $filters.getMatchingTranslation({ value: item.datasetDetails.name }) }}</span>
          </AdButton>
          <!-- Scenario -->
          <AdButton
            link
            :to="{
              name: 'scenarios-details',
              params: {
                scenarioId: item.scenarioDetails.id,
                scenarioVersion: item.scenarioDetails.effectiveDate
                }
              }"
            class="d-block my-1"
          >
            <AdStatusDot
              :status="item.scenarioDetails.statusCode"
              :icon="$filters.getScenarioIcon()"
              tooltip
              class="mr-2"
            />
            <span class="text-no-wrap">{{ $filters.getMatchingTranslation({ value: item.scenarioDetails.name }) }}</span>
          </AdButton>
        </template>
        <template v-slot:[`item.decor`]="{ item }">
          <AdGoTo external green :href="extractTransaction(item, 'xml', true)">XML</AdGoTo>
          <AdGoTo external green :href="extractTransaction(item, 'json', true)">JSON</AdGoTo>
        </template>
        <!-- <template v-slot:[`item.questionnaires`]="{ item }">
          <AdGoTo external green :href="retrieveQuestionnaire(item, 'xml')">XML</AdGoTo>
          <AdGoTo external green :href="retrieveQuestionnaire(item, 'json')">JSON</AdGoTo>
          <AdGoTo external green :href="retrieveQuestionnaire(item, 'html')">HTML</AdGoTo>
        </template> -->
        <template v-slot:[`item.fhir`]="{ item }">
          <AdGoTo v-if="projectHasFhirService('1.0')" external green :href="structureDefinition(item, '1.0')">{{ getFhirLabel('1.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('1.0')" external green :href="structureDefinition(item, '1.0', 'json')">{{ getFhirLabel('1.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('3.0')" external green :href="structureDefinition(item, '3.0')">{{ getFhirLabel('3.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('3.0')" external green :href="structureDefinition(item, '3.0', 'json')">{{ getFhirLabel('3.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external green :href="structureDefinition(item, '4.0')">{{ getFhirLabel('4.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external green :href="structureDefinition(item, '4.0', 'json')">{{ getFhirLabel('4.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external green :href="structureDefinition(item, '4.3')">{{ getFhirLabel('4.3') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external green :href="structureDefinition(item, '4.3', 'json')">{{ getFhirLabel('4.3') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external green :href="structureDefinition(item, '5.0')">{{ getFhirLabel('5.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external green :href="structureDefinition(item, '5.0', 'json')">{{ getFhirLabel('5.0') }} - JSON</AdGoTo>
        </template>
        <template v-slot:[`item.html`]="{ item }">
          <AdGoTo external green :href="retrieveTransaction(item, 'html', '45ghijklmnop')">{{ $t('care-view') }}</AdGoTo>
          <AdGoTo external green :href="retrieveTransaction(item, 'html', '34567')">{{ $t('complete-view') }}</AdGoTo>
        </template>
        <template v-slot:[`item.other`]="{ item }">
          <AdGoTo external green :href="getTransactionDiagram(item)" >{{ $t('diagram') }}</AdGoTo>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import AdTableSearch from '../Utilities/AdTableSearch.vue'
import { cloneDeep } from 'lodash'
import ScenarioService from '@/services/ScenarioService'

export default {
  components: {
    AdTableSearch
  },
  props: {
    DECOR_SERVICES_BASE_URL: {
      type: String,
      required: true
    },
    fhirObjectFormats: {
      type: Array,
      required: true
    },
    getFhirLabel: {
      type: Function,
      required: true
    },
    getFhirURL: {
      type: Function,
      required: true
    },
    projectHasFhirService: {
      type: Function,
      required: true
    },
    selectedPublication: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      loadingScenariosForRelease: false,
      scenariosForRelease: null,
      search: ''
    }
  },
  computed: {
    transactions () {
      const transactionList = []
      const scenarioItems = (this.selectedPublication === 'live'
        ? cloneDeep(this.$store.state.scenario.scenarioItems)
        : cloneDeep(this.scenariosForRelease)) ||
        []
      scenarioItems.forEach(scenario => {
        if (scenario.transaction) {
          scenario.transaction.forEach((group) => {
            if (group.transaction) {
              group.transaction.forEach((transaction) => {
                if (['initial', 'back', 'stationary'].includes(transaction.type) &&
                transaction.representingTemplate?.some(t => t !== null)
                ) {
                  transaction.scenarioDetails = {
                    name: scenario.name,
                    id: scenario.id,
                    effectiveDate: scenario.effectiveDate,
                    statusCode: scenario.statusCode
                  }
                  const representingTemplate = transaction.representingTemplate.find(t => t !== null)
                  transaction.datasetDetails = {
                    name: representingTemplate.sourceDatasetName,
                    id: representingTemplate.sourceDataset,
                    effectiveDate: representingTemplate.sourceDatasetEffectiveDate,
                    statusCode: representingTemplate.sourceDatasetStatusCode
                  }
                  transactionList.push(transaction)
                }
              })
            }
          })
        }
      })
      return transactionList
    },
    headers () {
      return [
        {
          value: 'id',
          text: this.$filters.nonBreakable(this.$t('short-id')),
          width: '1%',
          sortable: false
        },
        {
          value: 'name',
          text: this.$t('name'),
          sortable: false
        },
        {
          value: 'effectiveDate',
          text: this.$t('version'),
          sortable: false
        },
        {
          value: 'source',
          text: this.$t('source'),
          sortable: false
        },
        {
          value: 'decor',
          text: this.$t('DECOR'),
          sortable: false
        },
        // {
        //   value: 'questionnaires',
        //   text: this.$t('questionnaires'),
        //   sortable: false
        // },
        {
          value: 'fhir',
          text: this.$t('FHIR'),
          sortable: false
        },
        {
          value: 'html',
          text: this.$t('HTML'),
          sortable: false,
          width: '1%'

        },
        {
          value: 'other',
          text: this.$t('other'),
          width: '1%',
          sortable: false
        }

      ]
    }
  },
  methods: {
    async fetchTransactions () {
      if (this.selectedPublication === 'live') {
        this.$store.dispatch('scenario/loadScenarioItems')
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
      } else {
        this.loadingScenariosForRelease = true
        ScenarioService.getScenarioList({ prefix: this.projectInFocus?.prefix, release: this.selectedPublication })
          .then((res) => {
            this.scenariosForRelease = res.data.scenario || null
          })
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
          .finally(() => {
            this.loadingScenariosForRelease = false
          })
      }
    },
    getTransactionDiagram (item) {
      const { id, effectiveDate } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      let url = `${this.$store.getters['server/URL_ART_DECOR_API']}/transaction/${id}/${encodeURIComponent(effectiveDate)}/$diagram?language=${projectLanguage}`
      if (this.selectedPublication !== 'live') {
        url += `&release=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    extractTransaction (item, format, download = false) {
      const { id, effectiveDate } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      let url = ''
      if (download) {
        url = `${this.$store.getters['server/URL_ART_DECOR_API']}/transaction/${id}/${encodeURIComponent(effectiveDate)}/$extract?language=${projectLanguage}&format=${format}&download=true`
      } else {
        url = `${this.$store.getters['server/URL_ART_DECOR_API']}/transaction/${id}/${encodeURIComponent(effectiveDate)}/$extract?language=${projectLanguage}&format=${format}`
      }
      if (this.selectedPublication !== 'live') {
        url += `&release=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    retrieveTransaction (item, format, hideColumns) {
      const { id, effectiveDate } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const uiLanguage = this.$i18n.locale
      let url = `${this.DECOR_SERVICES_BASE_URL}/RetrieveTransaction?id=${id}&effectiveDate=${encodeURIComponent(effectiveDate)}&language=${projectLanguage}&ui=${uiLanguage}&format=${format}`
      if (hideColumns) {
        url += `&hidecolumns=${hideColumns}`
      }
      if (this.selectedPublication !== 'live') {
        url += `&version=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    retrieveQuestionnaire (item, format) {
      const { id, effectiveDate } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const uiLanguage = this.$i18n.locale
      let url = `${this.DECOR_SERVICES_BASE_URL}/RetrieveQuestionnaire?id=${id}&effectiveDate=${encodeURIComponent(effectiveDate)}&language=${projectLanguage}&ui=${uiLanguage}&format=${format}`
      if (this.selectedPublication !== 'live') {
        url += `&version=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    searchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const versionLabel = item.versionLabel?.toLowerCase()
      const datasetName = this.$filters.getMatchingTranslation({ value: item.datasetDetails.name })?.toLowerCase()
      const scenarioName = this.$filters.getMatchingTranslation({ value: item.scenarioDetails.name })?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query) || versionLabel?.includes(query) || datasetName?.includes(query) || scenarioName?.includes(query)
    },
    structureDefinition (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.getFhirURL(fhirFormat)
      const { id, effectiveDate, ident } = item
      const prefix = this.projectInFocus?.prefix
      const parsedVersion = this.selectedPublication === 'live' ? '' : this.selectedPublication.replaceAll(/[-:T]/g, '')
      const parsedEffectiveDate = effectiveDate.replaceAll(/[-:T]/g, '')
      const url = `${BASE_URL}/${fhirFormat}/${ident || prefix}${parsedVersion}/StructureDefinition/${id}--${parsedEffectiveDate}?_format=${dataFormat}`
      return url
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.$store.state.scenario.loaded.scenarioItems || !vm.transactions.length) {
        vm.fetchTransactions()
      }
    })
  },
  beforeRouteUpdate (to, from, next) {
    this.fetchTransactions()
    next()
  },
  watch: {
    selectedPublication (value) {
      if (value === 'live') {
        this.scenariosForRelease = null

        if (this.$store.state.scenario.loaded.scenarioItems) {
          return
        }
      }
      this.fetchTransactions()
    }
  }
}
</script>
