<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-briefcase">
              {{ $t('project-index')}}
              <v-spacer />
              <v-col class="py-0" cols="4">
                <v-select v-model="selectedPublication" :label="$t('publication')" class="my-0" hide-details
                  :items="publications" item-value="date" :loading="$store.state.project.loadingPublications">
                  <template v-slot:[`item`]="{ item, on }">
                    <v-list-item v-on="on" :disabled="item.release !== 'true' && item.date !=='live'">
                      <template v-if="item.date === 'live'">
                        {{ $t('current') }}
                      </template>
                      <template v-else>
                        {{ $filters.formatDateShort(item.date) }}
                        <v-chip v-if="item.versionLabel" color="gray ligthen-2" small class="ml-2">
                          {{ item.versionLabel }}
                        </v-chip>
                        <v-chip v-if="item.release === 'true'" color="red lighten-5" small class="ml-2">
                          {{ $t('release') }}
                        </v-chip>
                        <v-chip v-else color="blue lighten-5" small class="ml-2">
                          {{ $t('version-intermediate') }}
                        </v-chip>
                      </template>
                    </v-list-item>
                  </template>
                  <template v-slot:[`selection`]="{ item, on }">
                    <v-list-item v-on="on">
                      <template v-if="item.date === 'live'">
                        {{ $t('current') }}
                      </template>
                      <template v-else>
                        {{ $filters.formatDateShort(item.date) }}
                        <v-chip v-if="item.versionLabel" color="primary" small class="ml-2">
                          {{ item.versionLabel }}
                        </v-chip>
                      </template>
                    </v-list-item>
                  </template>
                </v-select>

              </v-col>
            </AdCardTitle>
            <v-card-text class="pt-4">
              <v-tabs v-model="tabIndex" class="mb-5">
                <v-tab v-for="(t, index) in tabs" :key="index" :to="{ name: t.name }">{{ $t(t.label)}}</v-tab>
              </v-tabs>
              <router-view :AD2_DEEPLINK_PREFIX="AD2_DEEPLINK_PREFIX" :DECOR_SERVICES_BASE_URL="DECOR_SERVICES_BASE_URL"
                :fhirObjectFormats="fhirObjectFormats" :getFhirLabel="getFhirLabel" :getFhirURL="getFhirURL"
                :projectHasFhirService="projectHasFhirService" :selectedPublication="selectedPublication" />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>

</template>

<script>
export default {
  name: 'ProjectIndexPanel',
  data () {
    return {
      selectedPublication: 'live',
      tabIndex: 0,
      tabs: [
        {
          label: 'datasets',
          name: 'project-index-datasets'
        },
        {
          label: 'transactions',
          name: 'project-index-transactions'
        },
        {
          label: 'valuesets',
          name: 'project-index-valuesets'
        },
        {
          label: 'codesystems',
          name: 'project-index-codesystems'
        },
        {
          label: 'concept-maps',
          name: 'project-index-concept-maps'
        },
        {
          label: 'templates',
          name: 'project-index-templates'
        },
        {
          label: 'questionnaires',
          name: 'project-index-questionnaires'
        }
      ]
    }
  },
  computed: {
    AD2_DEEPLINK_PREFIX () {
      return this.$store.getters['server/AD2_DEEPLINK_PREFIX']
    },
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: [
            'project-index-panel',
            'project-index-datasets',
            'project-index-transactions',
            'project-index-valuesets',
            'project-index-templates',
            'project-index-codesystems',
            'project-index-concept-maps',
            'project-index-questionnaires'
          ]
        },
        {
          text: this.$t('project'),
          disabled: true,
          show: [
            'project-index-panel',
            'project-index-datasets',
            'project-index-transactions',
            'project-index-valuesets',
            'project-index-templates',
            'project-index-codesystems',
            'project-index-concept-maps',
            'project-index-questionnaires'
          ]
        },
        {
          exact: true,
          text: this.$t('project-index'),
          to: { name: 'project-index-panel' },
          show: [
            'project-index-panel',
            'project-index-datasets',
            'project-index-transactions',
            'project-index-valuesets',
            'project-index-templates',
            'project-index-codesystems',
            'project-index-concept-maps',
            'project-index-questionnaires'
          ]
        },
        {
          exact: true,
          text: this.$t(this.$route.name.replace('project-index-', '')),
          show: [
            'project-index-datasets',
            'project-index-transactions',
            'project-index-valuesets',
            'project-index-templates',
            'project-index-codesystems',
            'project-index-concept-maps',
            'project-index-questionnaires'
          ]
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    DECOR_SERVICES_BASE_URL () {
      return this.$store.getters['server/DECOR_SERVICES_BASE_URL']
    },
    fhirObjectFormats () {
      return this.$store.getters['server/fhirObjectFormats']
    },
    getFhirLabel () {
      return this.$store.getters['server/getFhirLabel']
    },
    getFhirURL () {
      return this.$store.getters['project/getFhirURL']
    },
    projectHasFhirService () {
      return this.$store.getters['project/projectHasFhirService']
    },
    publications () {
      const publications = this.$store.getters['project/publications']?.version?.filter(p => !p.progress) || []
      const liveVersion = {
        date: 'live'
      }
      return [liveVersion, ...publications]
    }
  },
  methods: {
    fetchPublications () {
      this.$store.dispatch('project/setProjectPublicationList')
    }
  },
  watch: {
    selectedPublication (newVal, oldVal) {
      const prefix = this.projectInFocus?.prefix

      // Only show notifications of realtime updates when 'live' is selected
      if (oldVal === 'live' && prefix) {
        this.$store.commit('dataset/hideRealtimeUpdateNotifications', { type: 'datasetItems', status: true })
        this.$store.commit('scenario/hideRealtimeUpdateNotifications', { type: 'scenarioItems', status: true })
        this.$store.commit('terminology/hideRealtimeUpdateNotifications', { type: 'valueSet', status: true })
        this.$store.commit('terminology/hideRealtimeUpdateNotifications', { type: 'codeSystemItems', status: true })
        this.$store.commit('rule/template/hideRealtimeUpdateNotifications', { type: 'templates', status: true })
      } else if (newVal === 'live' && prefix) {
        this.$store.commit('dataset/hideRealtimeUpdateNotifications', { type: 'datasetItems', status: false })
        this.$store.commit('scenario/hideRealtimeUpdateNotifications', { type: 'scenarioItems', status: false })
        this.$store.commit('terminology/hideRealtimeUpdateNotifications', { type: 'valueSet', status: false })
        this.$store.commit('terminology/hideRealtimeUpdateNotifications', { type: 'codeSystemItems', status: false })
        this.$store.commit('rule/template/hideRealtimeUpdateNotifications', { type: 'templates', status: false })
      }
    }

  },
  created () {
    this.fetchPublications()
  }
}
</script>
