<template>
  <v-row>
    <v-col>
      <v-data-table
        :headers="headers"
        :items="codesystems"
        item-key="uuid"
        :loading="$store.state.terminology.loading.codeSystemItems || loadingCodesystemsForRelease"
        dense
        :search="search"
        :custom-filter="searchFilter"
        :hide-default-footer="codesystems.length <= 10"
      >
        <template #top>
          <AdTableSearch v-model="search"/>
        </template>
         <template v-slot:[`item.id`]="{ item }">
          <AdShortId :id="item.id || item.ref"/>
        </template>
        <template v-slot:[`item.name`]="{ item }">
          <AdButton v-if="selectedPublication === 'live'" link :to="item.effectiveDate
            ? { name: 'codesystems-details-id-effectiveDate', params: { id: item.id || item.ref, effectiveDate: item.effectiveDate }}
            : { name: 'codesystems-details-id', params: { id: item.id || item.ref }}
          ">
            <AdStatusDot
              :status="item.statusCode"
              :icon="!!item.ref ? 'mdi-link-variant' : 'mdi-format-list-bulleted-type'"
              larger
              tooltip
              class="mr-1"
            />
            <div class="text-no-wrap">
              {{ $filters.getMatchingTranslation({ value: item.displayName }) }}
              <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
            </div>
          </AdButton>
          <div v-else class="d-flex align-center">
            <AdStatusDot
              :status="item.statusCode"
              :icon="!!item.ref ? 'mdi-link-variant' : 'mdi-format-list-bulleted-type'"
              larger
              tooltip
              class="mr-1"
            />
            {{ $filters.getMatchingTranslation({ value: item.displayName }) }}
            <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
          </div>
        </template>
        <template v-slot:[`item.effectiveDate`]="{ item }">
          <template v-if="item.effectiveDate">
            <span class="text-no-wrap">{{ $filters.formatDateShort(item.effectiveDate) }}</span>
          </template>
        </template>

        <template v-slot:[`item.decor`]="{ item }">
          <AdGoTo external blue :href="extractCodeSystem(item, 'xml')">XML</AdGoTo>
          <AdGoTo external blue :href="extractCodeSystem(item, 'json')">JSON</AdGoTo>
        </template>

        <template v-slot:[`item.fhir`]="{ item }">
          <AdGoTo v-if="projectHasFhirService('3.0')" external blue :href="fhirCodeSystem(item, '3.0')">{{ getFhirLabel('3.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('3.0')" external blue :href="fhirCodeSystem(item, '3.0', 'json')">{{ getFhirLabel('3.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external blue :href="fhirCodeSystem(item, '4.0')">{{ getFhirLabel('4.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external blue :href="fhirCodeSystem(item, '4.0', 'json')">{{ getFhirLabel('4.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external blue :href="fhirCodeSystem(item, '4.3')">{{ getFhirLabel('4.3') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external blue :href="fhirCodeSystem(item, '4.3', 'json')">{{ getFhirLabel('4.3') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external blue :href="fhirCodeSystem(item, '5.0')">{{ getFhirLabel('5.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external blue :href="fhirCodeSystem(item, '5.0', 'json')">{{ getFhirLabel('5.0') }} - JSON</AdGoTo>
        </template>
        <template v-slot:[`item.html`]="{ item }">
          <AdGoTo external blue :href="retrieveCodeSystem(item, 'html')">{{ $t('complete-view') }}</AdGoTo>
        </template>
        <template v-slot:[`item.other`]="{ item }">
          <AdGoTo external blue :href="extractCodeSystem(item, 'csv')">CSV</AdGoTo>
          <AdGoTo external blue :href="extractCodeSystem(item, 'sql')">SQL</AdGoTo>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import AdTableSearch from '../Utilities/AdTableSearch.vue'
import TerminologyService from '@/services/TerminologyService'

export default {
  components: {
    AdTableSearch
  },
  props: {
    DECOR_SERVICES_BASE_URL: {
      type: String,
      required: true
    },
    fhirObjectFormats: {
      type: Array,
      required: true
    },
    getFhirLabel: {
      type: Function,
      required: true
    },
    getFhirURL: {
      type: Function,
      required: true
    },
    projectHasFhirService: {
      type: Function,
      required: true
    },
    selectedPublication: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      codesystemsForRelease: null,
      loadingCodesystemsForRelease: false,
      search: ''
    }
  },
  computed: {
    codesystems () {
      const list = []
      const codeSystems = (this.selectedPublication === 'live'
        ? this.$store.getters['terminology/codeSystemItems']
        : this.codesystemsForRelease) ||
        []
      codeSystems.forEach(cs => {
        if (cs.codeSystem?.length) {
          cs.codeSystem.forEach(v => {
            list.push(v)
          })
        } else {
          list.push(cs)
        }
      })
      return list
    },
    headers () {
      return [
        {
          value: 'id',
          text: this.$filters.nonBreakable(this.$t('short-id')),
          width: '1%',
          sortable: false
        },
        {
          value: 'name',
          text: this.$t('name'),
          sortable: false
        },
        {
          value: 'effectiveDate',
          text: this.$t('version'),
          sortable: false
        },
        {
          value: 'decor',
          text: this.$t('DECOR'),
          sortable: false
        },
        {
          value: 'fhir',
          text: this.$t('FHIR'),
          sortable: false
        },
        {
          value: 'html',
          text: this.$t('HTML'),
          sortable: false
        },
        {
          value: 'other',
          text: this.$t('other'),
          sortable: false
        }
      ]
    }
  },
  methods: {
    async fetchCodeSystems () {
      const prefix = this.projectInFocus?.prefix

      if (this.selectedPublication === 'live') {
        this.$store.dispatch('terminology/getCodeSystemList', { prefix })
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
      } else {
        this.loadingCodesystemsForRelease = true
        const release = this.selectedPublication
        TerminologyService.getCodeSystemList({ prefix, release })
          .then((res) => {
            this.codesystemsForRelease = res.data.codeSystem || null
          })
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
          .finally(() => {
            this.loadingCodesystemsForRelease = false
          })
      }
    },
    extractCodeSystem (item, format) {
      const { id, ref, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const projectLanguage = this.$store.getters['app/projectLanguage']
      let url = `${this.$store.getters['server/URL_ART_DECOR_API']}/codesystem/${id || ref}${effectiveDate && !ref ? '/' + encodeURIComponent(effectiveDate) : ''}/$extract?language=${projectLanguage}&format=${format}&project=${prefix}`
      if (this.selectedPublication !== 'live') {
        url += `&release=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    retrieveCodeSystem (item, format, hideColumns) {
      const prefix = this.projectInFocus?.prefix
      const { id, effectiveDate, ref } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const uiLanguage = this.$i18n.locale
      let url = `${this.DECOR_SERVICES_BASE_URL}/RetrieveCodeSystem?id=${id || ref}&prefix=${prefix}&language=${projectLanguage}&ui=${uiLanguage}&format=${format}`
      if (hideColumns) {
        url += `&hidecolumns=${hideColumns}`
      }
      if (effectiveDate && !ref) {
        url += `&effectiveDate=${encodeURIComponent(effectiveDate)}`
      }
      if (format === 'html') {
        url += '&collapsable=true'
      }
      if (this.selectedPublication !== 'live') {
        url += `&version=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    searchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.displayName })?.toLowerCase()
      const versionLabel = item.versionLabel?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query) || versionLabel?.includes(query)
    },
    fhirCodeSystem (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.getFhirURL(fhirFormat)
      const { id, ref, effectiveDate, ident } = item
      const prefix = this.projectInFocus?.prefix
      const parsedVersion = this.selectedPublication === 'live' ? '' : this.selectedPublication.replaceAll(/[-:T]/g, '')
      const parsedEffectiveDate = effectiveDate?.replaceAll(/[-:T]/g, '')
      let url = `${BASE_URL}/${fhirFormat}/${ident || prefix}${parsedVersion}/CodeSystem/${id || ref}`
      if (parsedEffectiveDate) {
        url += `--${parsedEffectiveDate}`
      }
      url += `?_format=${dataFormat}`
      return url
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.$store.state.terminology.loaded.codeSystemItems || !vm.codesystems.length) {
        vm.fetchCodeSystems()
      }
    })
  },
  beforeRouteUpdate (to, from, next) {
    this.fetchCodeSystems()
    next()
  },
  watch: {
    selectedPublication (value) {
      if (value === 'live') {
        this.codesystemsForRelease = null

        if (this.$store.state.terminology.loaded.codeSystemItems) {
          return
        }
      }
      this.fetchCodeSystems()
    }
  }
}
</script>
