<template>
  <v-row>
    <v-col>
      <v-data-table
        :headers="headers"
        :items="conceptMaps"
        item-key="uuid"
        :loading="$store.state.terminology.loading.conceptMapItems || loadingConceptMapsForRelease"
        dense
        :search="search"
        :custom-filter="searchFilter"
        :hide-default-footer="conceptMaps.length <= 10"
      >
        <template #top>
          <AdTableSearch v-model="search"/>
        </template>
        <template #item.id="{ item }">
          <AdShortId :id="item.id"/>
        </template>
        <template #item.name="{ item }">
          <AdButton
            v-if="selectedPublication === 'live'"
            link
            :to="{ name: 'concept-maps-details', params: { conceptMapId: item.id, conceptMapVersion: item.effectiveDate }}"
          >
            <AdStatusDot
              :status="item.statusCode"
              icon="mdi-map-marker-distance"
              larger
              tooltip
              class="mr-2"
            />
            <div class="text-no-wrap">
              {{ item.displayName }}
              <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
            </div>
          </AdButton>
          <div v-else class="d-flex align-center">
            <AdStatusDot
              :status="item.statusCode"
              icon="mdi-map-marker-distance"
              larger
              tooltip
              class="mr-2"
            />
            {{ item.displayName }}
            <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
          </div>
        </template>
        <template #item.effectiveDate="{ item }">
          <template v-if="item.effectiveDate">
            <span class="text-no-wrap">{{ $filters.formatDateShort(item.effectiveDate) }}</span>
          </template>
        </template>
        <template #item.fhir="{item}">
          <AdGoTo v-if="projectHasFhirService('4.0')" external blue :href="conceptMap(item, '4.0')">{{ getFhirLabel('4.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external blue :href="conceptMap(item, '4.0', 'json')">{{ getFhirLabel('4.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external blue :href="conceptMap(item, '4.3')">{{ getFhirLabel('4.3') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external blue :href="conceptMap(item, '4.3', 'json')">{{ getFhirLabel('4.3') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external blue :href="conceptMap(item, '5.0')">{{ getFhirLabel('5.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external blue :href="conceptMap(item, '5.0', 'json')">{{ getFhirLabel('5.0') }} - JSON</AdGoTo>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import AdTableSearch from '../Utilities/AdTableSearch.vue'
import TerminologyService from '@/services/TerminologyService'

export default {
  components: {
    AdTableSearch
  },
  props: {
    // DECOR_SERVICES_BASE_URL: {
    //   type: String,
    //   required: true
    // },
    // fhirObjectFormats: {
    //   type: Array,
    //   required: true
    // },
    getFhirLabel: {
      type: Function,
      required: true
    },
    getFhirURL: {
      type: Function,
      required: true
    },
    projectHasFhirService: {
      type: Function,
      required: true
    },
    selectedPublication: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      search: '',
      conceptMapsForRelease: null,
      loadingConceptMapsForRelease: false
    }
  },
  computed: {
    conceptMaps () {
      const list = []
      const conceptMaps = (
        this.selectedPublication === 'live'
          ? this.$store.getters['terminology/conceptMapItems']
          : this.conceptMapsForRelease
      ) || []

      conceptMaps.forEach((cm) => {
        if (cm.conceptMap?.length) {
          cm.conceptMap.forEach(v => {
            list.push(v)
          })
        } else {
          list.push(cm)
        }
      })

      return list
    },
    headers () {
      return [
        {
          value: 'id',
          text: this.$filters.nonBreakable(this.$t('short-id')),
          width: '1%',
          sortable: false
        },
        {
          value: 'name',
          text: this.$t('name'),
          sortable: false
        },
        {
          value: 'effectiveDate',
          text: this.$t('version'),
          sortable: false
        },
        {
          value: 'fhir',
          text: this.$t('FHIR'),
          sortable: false
        }
      ]
    }
  },
  methods: {
    conceptMap (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.getFhirURL(fhirFormat)
      const { id, ref, effectiveDate, ident } = item
      const prefix = this.projectInFocus?.prefix
      const parsedVersion = this.selectedPublication === 'live' ? '' : this.selectedPublication.replaceAll(/[-:T]/g, '')
      const parsedEffectiveDate = effectiveDate?.replaceAll(/[-:T]/g, '')
      let url = `${BASE_URL}/${fhirFormat}/${ident || prefix}${parsedVersion}/ConceptMap/${id || ref}`
      if (parsedEffectiveDate) {
        url += `--${parsedEffectiveDate}`
      }
      url += `?_format=${dataFormat}`
      return url
    },
    async fetchConceptMaps () {
      if (this.selectedPublication === 'live') {
        this.$store.dispatch('terminology/getConceptMapList', { prefix: this.projectInFocus?.prefix })
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
      } else {
        this.loadingConceptMapsForRelease = true
        TerminologyService.getConceptMapList({ prefix: this.projectInFocus?.prefix, release: this.selectedPublication })
          .then(res => {
            this.conceptMapsForRelease = res.data.conceptMap || null
          })
          .finally(() => {
            this.loadingConceptMapsForRelease = false
          })
      }
    },

    searchFilter (value, search, item) {
      const name = item.displayName?.toLowerCase()
      const versionLabel = item.versionLabel?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query) || versionLabel?.includes(query)
    }
  },
  watch: {
    selectedPublication (value) {
      if (value === 'live') {
        this.conceptMapsForRelease = null

        if (this.$store.state.terminology.loaded.conceptMapItems) {
          return
        }
      }
      this.fetchConceptMaps()
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.$store.state.terminology.loaded.conceptMapItems || !vm.conceptMaps.length) {
        vm.fetchConceptMaps()
      }
    })
  },
  beforeRouteUpdate (to, from, next) {
    this.fetchConceptMaps()
    next()
  }
}
</script>
