<template>
  <v-row>
    <v-col>
      <v-data-table
        :headers="headers"
        :items="templates"
        item-key="uuid"
        :loading="$store.state.rule.template.loading.template || loadingTemplatesForRelease"
        dense
        :search="search"
        :custom-filter="searchFilter"
        :hide-default-footer="templates.length <= 10"
      >
        <template #top>
          <AdTableSearch v-model="search"/>
        </template>
        <template v-slot:[`item.id`]="{ item }">
          <AdShortId :id="item.id || item.ref"/>
        </template>
        <template v-slot:[`item.name`]="{ item }">
          <AdButton
            v-if="selectedPublication === 'live'"
            link
            :to="{
              name: item.effectiveDate ? 'templates-details-id-effectiveDate' : 'templates-details-id',
              params: { id: item.id || item.ref, effectiveDate: item.effectiveDate }
            }"
          >
            <AdStatusDot
              :status="item.statusCode"
              :icon="getIcon(item)"
              larger
              tooltip
              class="mr-2"
            />
            <div class="text-no-wrap">
              {{ $filters.getMatchingTranslation({ value: item.displayName }) }}
              <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
            </div>
          </AdButton>
          <div v-else class="d-flex align-center">
            <AdStatusDot
                :status="item.statusCode"
                :icon="!!item.ref ? 'mdi-link-variant' : 'mdi-recycle'"
                larger
                tooltip
                class="mr-2"
              />
            {{ $filters.getMatchingTranslation({ value: item.displayName }) }}
            <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
          </div>
        </template>
        <template v-slot:[`item.effectiveDate`]="{ item }">
          <template v-if="item.effectiveDate">
            <span class="text-no-wrap">{{ $filters.formatDateShort(item.effectiveDate) }}</span>
          </template>
        </template>
        <template v-slot:[`item.decor`]="{ item }">
          <AdGoTo external red :href="extractTemplate(item, 'xmlnowrapper')">XML</AdGoTo>
        </template>
        <template v-slot:[`item.fhir`]="{ item }">
          <AdGoTo v-if="projectHasFhirService('1.0')" external red :href="structureDefinition(item, '1.0')">{{ getFhirLabel('1.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('1.0')" external red :href="structureDefinition(item, '1.0', 'json')">{{ getFhirLabel('1.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('3.0')" external red :href="structureDefinition(item, '3.0')">{{ getFhirLabel('3.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('3.0')" external red :href="structureDefinition(item, '3.0', 'json')">{{ getFhirLabel('3.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external red :href="structureDefinition(item, '4.0')">{{ getFhirLabel('4.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external red :href="structureDefinition(item, '4.0', 'json')">{{ getFhirLabel('4.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external red :href="structureDefinition(item, '4.3')">{{ getFhirLabel('4.3') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external red :href="structureDefinition(item, '4.3', 'json')">{{ getFhirLabel('4.3') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external red :href="structureDefinition(item, '5.0')">{{ getFhirLabel('5.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external red :href="structureDefinition(item, '5.0', 'json')">{{ getFhirLabel('5.0') }} - JSON</AdGoTo>
        </template>
        <template v-slot:[`item.html`]="{ item }">
          <AdGoTo external red :href="retrieveTemplate(item, 'html')">HTML</AdGoTo>
        </template>
        <template v-slot:[`item.other`]="{ item }">
           <AdGoTo external red :href="getTemplateDiagram(item)">{{ $t('diagram') }}</AdGoTo>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import AdTableSearch from '../Utilities/AdTableSearch.vue'
import TemplateService from '@/services/TemplateService'

export default {
  components: {
    AdTableSearch
  },
  props: {
    DECOR_SERVICES_BASE_URL: {
      type: String,
      required: true
    },
    selectedPublication: {
      type: String,
      required: true
    },
    getFhirURL: {
      type: Function,
      required: true
    },
    projectHasFhirService: {
      type: Function,
      required: true
    },
    fhirObjectFormats: {
      type: Array,
      required: true
    },
    getFhirLabel: {
      type: Function,
      required: true
    }
  },
  data () {
    return {
      loadingTemplatesForRelease: false,
      search: '',
      templatesForRelease: null
    }
  },
  computed: {
    getIcon () {
      return item => {
        if (item.representingTemplate) {
          return 'mdi-inbox-full'
        }
        if (item.ref) {
          return 'mdi-link-variant'
        }
        return 'mdi-recycle'
      }
    },
    templates () {
      const templates = []
      const categories = (this.selectedPublication === 'live'
        ? this.$store.getters['rule/template/templates']
        : this.templatesForRelease) ||
        []
      categories.forEach(c => {
        if (c.template && Array.isArray(c.template)) {
          c.template.forEach(t => {
            if (t.version?.length) {
              t.version.forEach(v => templates.push(v))
            } else {
              templates.push(t)
            }
          })
        }
      })
      return templates
    },
    headers () {
      return [
        {
          value: 'id',
          text: this.$filters.nonBreakable(this.$t('short-id')),
          width: '1%',
          sortable: false
        },
        {
          value: 'name',
          text: this.$t('name'),
          sortable: false
        },
        {
          value: 'effectiveDate',
          text: this.$t('version'),
          sortable: false
        },
        {
          value: 'decor',
          text: this.$t('DECOR'),
          sortable: false
        },
        // Backend is not yet ready, see AD30-1371
        // {
        //   value: 'fhir',
        //   text: this.$t('FHIR'),
        //   sortable: false
        // },
        {
          value: 'html',
          text: this.$t('HTML'),
          sortable: false
        },
        {
          value: 'other',
          text: this.$t('other'),
          sortable: false
        }

      ]
    }
  },
  methods: {
    async fetchTemplates () {
      if (this.selectedPublication === 'live') {
        const params = {
          release: this.selectedPublication !== 'live' ? this.selectedPublication : null
        }
        this.$store.dispatch('rule/template/setTemplateList', params)
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
      } else {
        this.loadingTemplatesForRelease = true
        const release = this.selectedPublication
        const prefix = this.projectInFocus?.prefix
        TemplateService.getTemplateList({ prefix, release })
          .then((res) => {
            this.templatesForRelease = res.data.category || null
          })
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
          .finally(() => {
            this.loadingTemplatesForRelease = false
          })
      }
    },
    getTemplateDiagram (item) {
      const { id, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const projectLanguage = this.$store.getters['app/projectLanguage']
      let url = `${this.$store.getters['server/URL_ART_DECOR_API']}/template/${id}/${encodeURIComponent(effectiveDate)}/$diagram?language=${projectLanguage}&format=hgraph&project=${prefix}`
      if (this.selectedPublication !== 'live') {
        url += `&release=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    extractTemplate (item, format, hideColumns) {
      const { id, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const projectLanguage = this.$store.getters['app/projectLanguage']
      let url = `${this.$store.getters['server/URL_ART_DECOR_API']}/template/${id}/${encodeURIComponent(effectiveDate)}/$extract?language=${projectLanguage}&format=${format}&project=${prefix}`
      if (this.selectedPublication !== 'live') {
        url += `&release=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    retrieveTemplate (item, format, hideColumns) {
      const prefix = this.projectInFocus?.prefix
      const { id, effectiveDate, ref } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const uiLanguage = this.$i18n.locale
      let url = `${this.DECOR_SERVICES_BASE_URL}/RetrieveTemplate?id=${id || ref}&prefix=${prefix}&language=${projectLanguage}&ui=${uiLanguage}&format=${format}`
      if (effectiveDate && !ref) {
        url += `&effectiveDate=${encodeURIComponent(effectiveDate)}`
      }
      if (hideColumns) {
        url += `&hidecolumns=${hideColumns}`
      }
      if (format === 'html') {
        url += '&collapsable=true'
      }
      if (this.selectedPublication !== 'live') {
        url += `&version=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    searchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.displayName })?.toLowerCase()
      const versionLabel = item.versionLabel?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query) || versionLabel?.includes(query)
    },
    structureDefinition (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.getFhirURL(fhirFormat)
      const { id, ref, effectiveDate, ident } = item
      const prefix = this.projectInFocus?.prefix
      const parsedVersion = this.selectedPublication === 'live' ? '' : this.selectedPublication.replaceAll(/[-:T]/g, '')
      const parsedEffectiveDate = effectiveDate?.replaceAll(/[-:T]/g, '')
      let url = `${BASE_URL}/${fhirFormat}/${ident || prefix}${parsedVersion}/StructureDefinition/${id || ref}`
      if (parsedEffectiveDate) {
        url += `--${parsedEffectiveDate}`
      }
      url += `?_format=${dataFormat}`
      return url
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.$store.state.rule.template.loaded.templates || !vm.templates.length) {
        vm.fetchTemplates()
      }
    })
  },
  beforeRouteUpdate (to, from, next) {
    this.fetchTemplates()
    next()
  },
  watch: {
    selectedPublication (value) {
      if (value === 'live') {
        this.templatesForRelease = null

        if (this.$store.state.rule.template.loaded.templates) {
          return
        }
      }
      this.fetchTemplates()
    }
  }
}
</script>
