<template>
  <v-row>
    <v-col>
      <v-data-table
        :headers="headers"
        :items="valuesets"
        item-key="uuid"
        :loading="$store.state.terminology.loading.valueSet || loadingValuesetsForRelease"
        dense
        :search="search"
        :custom-filter="searchFilter"
        :hide-default-footer="valuesets.length <= 10"
      >
        <template #top>
          <AdTableSearch v-model="search"/>
        </template>
        <template v-slot:[`item.id`]="{ item }">
          <AdShortId :id="item.id || item.ref"/>
        </template>
        <template v-slot:[`item.name`]="{ item }">
          <AdButton v-if="selectedPublication === 'live'" link :to="item.effectiveDate
            ? { name: 'terminology-value-set-version', params: { id: item.id || item.ref, version: item.effectiveDate }}
            : { name: 'terminology-value-set', params: { id: item.id || item.ref }}
          ">
            <AdStatusDot
              :status="item.statusCode"
              :icon="!!item.ref ? 'mdi-link-variant' : 'mdi-heart'"
              larger
              tooltip
              class="mr-1"
            />
            <div class="text-no-wrap">
              {{ $filters.getMatchingTranslation({ value: item.displayName }) }}
              <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
            </div>
          </AdButton>
          <div v-else class="d-flex align-center">
            <AdStatusDot
              :status="item.statusCode"
              :icon="!!item.ref ? 'mdi-link-variant' : 'mdi-heart'"
              larger
              tooltip
              class="mr-1"
            />
            {{ $filters.getMatchingTranslation({ value: item.displayName }) }}
            <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
          </div>
        </template>
        <template v-slot:[`item.effectiveDate`]="{ item }">
          <template v-if="item.effectiveDate">
            <span class="text-no-wrap">{{ $filters.formatDateShort(item.effectiveDate) }}</span>
          </template>
        </template>
        <template v-slot:[`item.decor`]="{ item }">
          <AdGoTo external blue :href="extractValueset(item, 'xml')">XML</AdGoTo>
          <AdGoTo external blue :href="extractValueset(item, 'json')">JSON</AdGoTo>
        </template>
        <template v-slot:[`item.fhir`]="{ item }">
          <AdGoTo v-if="projectHasFhirService('1.0')" external blue :href="fhirValueset(item, '1.0')">{{ getFhirLabel('1.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('1.0')" external blue :href="fhirValueset(item, '1.0', 'json')">{{ getFhirLabel('1.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('3.0')" external blue :href="fhirValueset(item, '3.0')">{{ getFhirLabel('3.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('3.0')" external blue :href="fhirValueset(item, '3.0', 'json')">{{ getFhirLabel('3.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external blue :href="fhirValueset(item, '4.0')">{{ getFhirLabel('4.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.0')" external blue :href="fhirValueset(item, '4.0', 'json')">{{ getFhirLabel('4.0') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external blue :href="fhirValueset(item, '4.3')">{{ getFhirLabel('4.3') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('4.3')" external blue :href="fhirValueset(item, '4.3', 'json')">{{ getFhirLabel('4.3') }} - JSON</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external blue :href="fhirValueset(item, '5.0')">{{ getFhirLabel('5.0') }} - XML</AdGoTo>
          <AdGoTo v-if="projectHasFhirService('5.0')" external blue :href="fhirValueset(item, '5.0', 'json')">{{ getFhirLabel('5.0') }} - JSON</AdGoTo>
        </template>
        <template v-slot:[`item.html`]="{ item }">
          <AdGoTo external blue :href="retrieveValueset(item, 'html')">{{ $t('complete-view') }}</AdGoTo>
        </template>
        <template v-slot:[`item.other`]="{ item }">
          <AdGoTo external blue :href="extractValueset(item, 'csv')">CSV</AdGoTo>
          <AdGoTo external blue :href="extractValueset(item, 'sql')">SQL</AdGoTo>
          <AdGoTo external blue :href="extractValueset(item, 'svs')">SVS</AdGoTo>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import AdTableSearch from '../Utilities/AdTableSearch.vue'
import TerminologyService from '@/services/TerminologyService'

export default {
  components: {
    AdTableSearch
  },
  props: {
    DECOR_SERVICES_BASE_URL: {
      type: String,
      required: true
    },
    fhirObjectFormats: {
      type: Array,
      required: true
    },
    getFhirLabel: {
      type: Function,
      required: true
    },
    getFhirURL: {
      type: Function,
      required: true
    },
    projectHasFhirService: {
      type: Function,
      required: true
    },
    selectedPublication: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      loadingValuesetsForRelease: false,
      search: '',
      valuesetsForRelease: null
    }
  },
  computed: {
    valuesets () {
      const list = []
      const valuesets = (this.selectedPublication === 'live'
        ? this.$store.getters['terminology/getValueSet']
        : this.valuesetsForRelease) ||
        []
      valuesets.forEach(vs => {
        if (vs.valueSet?.length) {
          vs.valueSet.forEach(version => {
            list.push(version)
          })
        } else {
          list.push(vs)
        }
      })
      return list
    },
    headers () {
      return [
        {
          value: 'id',
          text: this.$filters.nonBreakable(this.$t('short-id')),
          width: '1%',
          sortable: false
        },
        {
          value: 'name',
          text: this.$t('name'),
          sortable: false
        },
        {
          value: 'effectiveDate',
          text: this.$t('version'),
          sortable: false
        },
        {
          value: 'decor',
          text: this.$t('DECOR'),
          sortable: false
        },
        {
          value: 'fhir',
          text: this.$t('FHIR'),
          sortable: false
        },
        {
          value: 'html',
          text: this.$t('HTML'),
          sortable: false
        },
        {
          value: 'other',
          text: this.$t('other'),
          sortable: false
        }
      ]
    }
  },
  methods: {
    async fetchValuesets () {
      if (this.selectedPublication === 'live') {
        this.$store.dispatch('terminology/getValueSetList', {
          resolveit: true,
          sort: 'displayName'
        }).catch(error => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
      } else {
        this.loadingValuesetsForRelease = true
        const prefix = this.projectInFocus?.prefix
        const sort = 'displayName'
        const language = this.$i18n.locale
        const resolveit = true
        const release = this.selectedPublication
        TerminologyService.getValueSetList(
          prefix,
          resolveit,
          sort,
          language,
          release
        )
          .then((res) => {
            this.valuesetsForRelease = res.data.valueSet || null
          })
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
          .finally(() => {
            this.loadingValuesetsForRelease = false
          })
      }
    },
    extractValueset (item, format) {
      const { id, ref, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const projectLanguage = this.$store.getters['app/projectLanguage']
      let url = `${this.$store.getters['server/URL_ART_DECOR_API']}/valueset/${id || ref}${effectiveDate && !ref ? '/' + encodeURIComponent(effectiveDate) : ''}/$extract?language=${projectLanguage}&format=${format}&project=${prefix}`
      if (this.selectedPublication !== 'live') {
        url += `&release=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    retrieveValueset (item, format, hideColumns) {
      const prefix = this.projectInFocus?.prefix
      const { id, effectiveDate, ref } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const uiLanguage = this.$i18n.locale
      let url = `${this.DECOR_SERVICES_BASE_URL}/RetrieveValueSet?id=${id || ref}&prefix=${prefix}&language=${projectLanguage}&ui=${uiLanguage}&format=${format}`
      if (effectiveDate && !ref) {
        url += `&effectiveDate=${encodeURIComponent(effectiveDate)}`
      }
      if (hideColumns) {
        url += `&hidecolumns=${hideColumns}`
      }
      if (format === 'html') {
        url += '&collapsable=true'
      }
      if (this.selectedPublication !== 'live') {
        url += `&version=${encodeURIComponent(this.selectedPublication)}`
      }
      return url
    },
    searchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.displayName })?.toLowerCase()
      const versionLabel = item.versionLabel?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query) || versionLabel?.includes(query)
    },
    fhirValueset (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.getFhirURL(fhirFormat)
      const { id, ref, effectiveDate, ident } = item
      const prefix = this.projectInFocus?.prefix
      const parsedVersion = this.selectedPublication === 'live' ? '' : this.selectedPublication.replaceAll(/[-:T]/g, '')
      const parsedEffectiveDate = effectiveDate?.replaceAll(/[-:T]/g, '')
      let url = `${BASE_URL}/${fhirFormat}/${ident || prefix}${parsedVersion}/ValueSet/${id || ref}`
      if (parsedEffectiveDate) {
        url += `--${parsedEffectiveDate}`
      }
      url += `?_format=${dataFormat}`
      return url
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.$store.state.terminology.loaded.valueSet || !vm.valuesets.length) {
        vm.fetchValuesets()
      }
    })
  },
  beforeRouteUpdate (to, from, next) {
    this.fetchValuesets()
    next()
  },
  watch: {
    selectedPublication (value) {
      if (value === 'live') {
        this.valuesetsForRelease = null

        if (this.$store.state.terminology.loaded.valueSet) {
          return
        }
      }
      this.fetchValuesets()
    }
  }
}
</script>
