<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <!-- Loading? -->
      <PanelLoading :loading="$store.state.project.loadingPublications" />

      <!-- Modals -->
      <!-- Release notes -->
      <v-dialog
        v-model="activeReleaseNotesBtn"
        max-width="800"
        scrollable
      >
        <v-card v-if="activeReleaseNotesBtn">
          <AdCardTitle dialog>{{ $t('release-notes') }}</AdCardTitle>
          <v-card-text class="pa-5">
            <h3 v-if="activeReleaseNotes.type && activeReleaseNotes && activeReleaseNotes.versionLabel">{{$t(activeReleaseNotes.type)}} {{activeReleaseNotes.versionLabel}}</h3>
            <div v-if="activeReleaseNotes && activeReleaseNotes.desc" v-html="$filters.getMatchingTranslation({ value: activeReleaseNotes.desc })"></div>
          </v-card-text>
          <v-card-actions class="dialogbottomstrip">
            <v-spacer></v-spacer>
            <AdButton type="close" @click="activeReleaseNotesBtn = false"/>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Add publication -->
      <v-dialog
        :value="addPublicationBtn"
        max-width="1100"
        scrollable
        persistent
      >
        <v-card>
          <AdCardTitle dialog>{{ $t('add-publication') }}</AdCardTitle>
          <v-card-text class="pa-0">
            <v-stepper  v-model="stepIndex" non-linear>
              <v-stepper-header>
                <v-stepper-step editable :step="1">
                  {{ $t('general')}}
                </v-stepper-step>
                <v-divider />
                <v-stepper-step editable :step="2">
                  {{ $t('parameters')}}
                </v-stepper-step>
                <v-divider />
                <v-stepper-step editable :step="3">
                  {{ $t('filter')}}
                </v-stepper-step>
                <v-divider />
                <v-stepper-step editable :step="4">
                  {{ $t('overview')}}
                </v-stepper-step>
              </v-stepper-header>

              <v-stepper-items>
                <!-- General -->
                <v-stepper-content step="1" style="min-height:425px;">
                  <v-card outlined>
                    <v-card-text class="pa-5">
                      <v-form v-if="addPublicationBtn" ref="publicationRef" v-model="valid">
                        <div class="d-flex align-center">
                          <v-radio-group v-model="activePublication.type" row mandatory :label="$t('type')" hide-details class="pl-5 mt-0">
                            <v-radio :label="$t('version-intermediate')" value="version" class="pl-5"/>
                            <v-radio :label="$t('release')" value="release"/>
                          </v-radio-group>
                          <AdDocs hintCode="h_publ" external/>
                        </div>

                        <div v-if="activePublication.type === 'release'" class="d-flex align-center mt-5">
                          <EditableSwitch
                            v-model="activePublication.publicationRequest"
                            hide-details
                            class="ml-5 mr-4"
                            :disabled="publicationLocation === '[Unknown]'"
                            :label="$t('publication-request')"
                          />
                          <EditableInfoIcon
                            :warning="publicationLocation === '[Unknown]'"
                            :infoText="publicationLocationHint"
                            activatorClass="infoButton"
                          />
                        </div>

                        <v-slide-y-transition>
                          <v-card
                            outlined
                            class="mt-5 mb-5"
                            :loading="$store.state.project.loadingPublicationNotes"
                            v-if="activePublication.type=='release' && releasesToChooseFrom.length && showSuggestionPreviousReleases"
                          >
                            <v-card-text class="pa-5">
                              <AdInfoOwl class="mb-4">
                                <p>{{ $t('select-for-releases-notes') }}</p>
                                <p class="mb-0">{{ $t('release-or-publication') }}</p>
                              </AdInfoOwl>
                              <EditableDropdown
                                v-model="versionLabel"
                                ref="versionLabel"
                                item-value="value"
                                item-text="text"
                                :items="releasesToChooseFrom"
                                :required="false"
                                :label="$t('release')"
                                hide-details
                                clearable
                                @change="handleChooseRelease($event)"
                              />
                            </v-card-text>
                          </v-card>
                        </v-slide-y-transition>
                        <v-card-text class="pa-5 pb-0">
                          <!-- <EditableString
                            :value="activePublication.by"
                            :label="$t('by')"
                            :required="projectReleaseRules.requiredAttributes.includes('by')"
                            :readonly="true"
                          /> -->
                          <!-- note can be for release or version -->
                          <EditableTranslationEditor
                            v-if="activePublication.type!='implementationguide'"
                            v-model="activePublication.desc"
                            ref="desc"
                            :editor="true"
                            :required="projectReleaseRules.requiredAttributes.includes('desc')"
                            :label="$t('release-notes')"
                            :locales="projectLocales"
                            :readonly="$store.state.project.loadingPublicationNotes"
                            max-height="30vh"
                            class="mb-5"
                          />

                          <v-slide-y-transition leave-absolute>
                            <div v-if="activePublication.type === 'release'">
                              <EditableString
                                v-model="activePublication.versionLabel"
                                :label="$t('release-version-label')"
                                :required="projectReleaseRules.requiredAttributes.includes('versionLabel')"
                                class="mb-5"
                              />
                              <EditableSwitch
                                v-model="activePublication.development"
                                :label="$t('use-development')"
                                :infoText="$t('development-release-help')"
                                hide-details
                                class="mb-5"
                              />
                              <v-combobox
                                v-model="activePublication.compileLanguage"
                                clearable
                                :items="projectLocales"
                                multiple
                                chips
                                deletable-chips
                                :label="$t('compile-save')"
                                hide-details
                                class="mb-5"
                              >
                                <template #item="{ item }">
                                  <div>
                                    <div style="width: 24px; float: left">
                                      {{ item.substring(0, 2) }}
                                    </div>
                                    <flag :squared="false" :iso="item.substring(3, 5)"/>
                                  </div>
                                </template>
                              </v-combobox>
                            </div>
                          </v-slide-y-transition>

                        </v-card-text>
                      </v-form>
                    </v-card-text>
                  </v-card>

                </v-stepper-content>
                <!-- Parameters -->
                <v-stepper-content step="2" style="min-height:425px;">
                  <v-card outlined :loading="$store.state.project.loadingPublicationParameters">
                    <v-card-text v-if="activePublication.type==='implementationguide'" class="pa-5">
                      <EditableSwitch
                        v-model="switchCreateCDAIG"
                        :label="$t('cda-ig')"
                        :infoText="$t('cda-ig')"
                        @change="handleSwitchCreateCDAIG"
                      />
                      <EditableSwitch
                        v-model="switchCreateFHIRIG"
                        :label="$t('fhir-ig')"
                        :infoText="$t('fhir-ig')"
                        @change="handleSwitchCreateFHIRIG"
                      />
                    </v-card-text>
                    <v-card-text v-else-if="activePublication.parameters" class="pa-5">
                      <template v-for="(parameter, key) in publicationParametersFiltered">
                        <v-row :key="key" v-if="key === 'switchCreateDocPDF'">
                          <v-col>
                            <EditableSwitch
                              v-model="switchCreateDocPDF"
                              :label="$t(getDecorParameter('label', key))"
                              :infoText="$t(getDecorParameter('hint', key))"
                              @change="handleSwitchCreateDocPDF"
                            />
                          </v-col>
                          <v-col v-if="switchCreateDocPDF === 'true'">
                            <EditableDropdown
                              v-model="activePublication.parameters[key]"
                              item-value="value"
                              item-text="label"
                              multiple
                              chips
                              deletable-chips
                              :items="pdf"
                              :label="$t('selection')"
                              @change="handleChangePublicationParameter(key)"
                            />
                          </v-col>
                        </v-row>
                        <EditableSwitch
                          v-else
                          :key="key"
                          v-model="activePublication.parameters[key]"
                          :label="$t(getDecorParameter('label', key))"
                          :infoText="$t(getDecorParameter('hint', key))"
                          @change="handleChangePublicationParameter(key)"
                        />
                      </template>
                    </v-card-text>
                  </v-card>
                </v-stepper-content>
                <!-- Filters -->
                <v-stepper-content step="3" style="min-height:425px;">
                  <v-card outlined>
                    <ProjectFilter v-if="addPublicationBtn" @filter-change="selectedFilter = $event"/>
                  </v-card>
                </v-stepper-content>
                <!-- Overview -->
                <v-stepper-content step="4" style="min-height:425px;">
                  <v-card outlined>
                    <v-card-text>
                      <p class="font-weight-bold mb-2">{{ $t('general') }}:</p>
                      <ul class="mb-4">
                        <li>
                          {{ activePublicationType }}
                          <span v-if="activePublication.versionLabel">&nbsp;({{ activePublication.versionLabel }})</span>
                        </li>
                        <li v-if="activePublication">
                          {{ $t('release-notes') }}:
                          <ul>
                            <li v-for="(locale) in projectLocales" :key="locale">
                              {{ locale }}
                              <v-icon v-if="activePublicationHasReleaseNotesInLocale(locale)" color="success" small>mdi-check</v-icon>
                              <template v-else>
                                <v-icon color="warning" small>mdi-alert</v-icon>
                                {{ $t('missing-text')}}
                              </template>
                            </li>
                          </ul>
                        </li>
                        <li v-if="activePublication.development === 'true'">{{ $t('use-development')}}</li>
                        <li v-if="activePublication.compileLanguage?.length">
                          {{ $t('compile-save') }}:
                          <ul>
                            <li v-for="(locale) in activePublication.compileLanguage" :key="locale">{{ locale }}</li>
                          </ul>
                        </li>
                      </ul>

                      <p class="font-weight-bold mb-2">{{ $t('parameters') }}:</p>
                      <ul class="mb-4">
                        <li v-for="(param, i) in activePublicationActiveParameters" :key="i">{{ param }}</li>
                      </ul>

                      <p class="font-weight-bold mb-2">{{ $t('filter') }}:</p>
                      <ul class="mb-4">
                          <li>{{ selectedFilter?.[0]?.label ?? $t('no-filter') }}</li>
                      </ul>
                    </v-card-text>
                  </v-card>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </v-card-text>
          <v-card-actions class="dialogbottomstrip">
            <v-spacer></v-spacer>
            <AdButton type="cancel" @click="actionPublication('cancel')"/>
            <AdButton v-if="stepIndex === 4" :type="(editPublicationBtn) ? 'update' : 'add'" @click="actionPublication('updateOrAdd')"  />
            <AdButton v-else :text="$t('next')" @click="stepIndex++" />
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Edit publication -->
      <v-dialog
        :value="editPublicationBtn"
        max-width="800"
        scrollable
        persistent
      >
        <v-card>
          <AdCardTitle dialog>{{ (editPublicationBtn) ? $t('edit-publication') : $t('add-publication') }}</AdCardTitle>
          <v-card-text class="pa-5">
            <v-form
              v-if="editPublicationBtn"
              ref="publicationRef"
              v-model="valid"
            >
              <EditableString
                :value="activePublication.by"
                :label="$t('by')"
                :readonly="true"
              />
              <EditableString
                :value="$filters.formatDate(activePublication.date)"
                :label="$t('created')"
                :readonly="true"
              />
              <EditableReleaseStatusCode
                v-model="activePublication.statusCode"
                :readonly="false"
                :confirmation-required="false"
                :label="$t('status')"
              />
              <EditableString
                v-model="activePublication.versionLabel"
                :label="$t('release-version-label')"
                :required="projectReleaseRules.requiredAttributes.includes('versionLabel')"
              />
              <AdInfoOwl v-if="editPublicationBtn">{{ $t('edit-publication-notes-hint') }}</AdInfoOwl>
              <EditableTranslationEditor
                v-model="activePublication.desc"
                ref="desc"
                :editor="true"
                :label="$t((activePublication.release === 'true') ? 'release-notes' : 'description')"
                :locales="projectLocales"
              />
            </v-form>
          </v-card-text>
          <v-card-actions class="dialogbottomstrip">
            <v-spacer></v-spacer>
            <AdButton type="cancel" @click="actionPublication('cancel')"/>
            <AdButton :type="(editPublicationBtn) ? 'save' : 'add'" @click="actionPublication('updateOrAdd')" :disabled="!publicationIsEditable(activePublication)"/>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-row v-if="!$store.state.project.loadingPublications">
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-bookshelf">
              {{ $t("publications") }}
              <template v-if="userIsDecorAdmin">
                <v-spacer></v-spacer>
                <AdButton type="add" :small="true" :fab="true" @click="addPublicationStart" :hint="$t('add-publication')" />
                <!-- <AdButton type="compare" :small="true" :fab="true" @click="comparePublicationStart" :hint="$t('compare')" /> -->
              </template>
            </AdCardTitle>
            <v-card-text class="pt-4" v-if="publicationsAndRequests.length === 0">
              {{ $t("no-publications") }}
            </v-card-text>
            <v-card-text v-else class="pt-4">
              <v-data-table
                :items="publicationsAndRequests"
                :headers="headersFiltered"
                item-key="date"
                :hide-default-footer="publications.version && publications.version.length <= 10"
              >
                <!-- Date, has a link if a publication is complete -->
                <template v-slot:[`item.date`]="{ item }">
                  <v-tooltip v-if="publicationIsCompleted(item)" right>
                    <template v-slot:activator="{ on }">
                      <span v-on="on">
                        <AdButton linkExternal :href="getPublicationLocation()">
                          {{ $filters.formatDateShort(item.date) }}
                        </AdButton>
                      </span>
                    </template>
                    <span>{{ $filters.formatDateSeparator(item.date) }}</span>
                  </v-tooltip>
                  <template v-else-if="item.on">
                    {{ $filters.formatDateShort(item.on) }}
                  </template>
                  <template v-else-if="item.date">
                    {{ $filters.formatDateShort(item.date) }}
                  </template>
                </template>
                <template v-slot:[`item.statusCode`]="{ item }">
                  <!--
                    re/ status an item here is either a publication line item
                    or carries a progress indicator from the publication pre-flight
                  -->
                  <template v-if="item.statusCode">
                    <!-- regular status code -->
                    <span class="text-no-wrap">
                      <AdStatusDot :status="item.statusCode" class="pl-2"/>
                      {{ $filters.nonBreakable(releaseStatus(item.statusCode)) }}
                      <span v-if="publicationIsCompleted(item)">
                        <PublicationStatus saved green noMarginRight/>
                        <PublicationStatus available green noMarginRight/>
                      </span>
                      <span v-else-if="item.implementationguide">
                        <PublicationStatus implementationguide green/>
                      </span>
                    </span>
                  </template>
                  <!--
                    If just freshly submitted, there is no statusCode at all,
                    show that the reuqest is processed (publication pre-flight)
                  -->
                  <template v-else-if="item['progress-percentage']">
                    <div class="text-no-wrap">
                      <span v-if="item.adram">
                        <PublicationStatus preparing orange/>
                      </span>
                       <span v-else>
                        <PublicationStatus busy orange/>
                      </span>
                      <span>
                      <span>{{ item.progress }}</span>
                      <v-progress-linear
                        :value="item['progress-percentage']"
                        color="primary"
                        rounded
                        height="6"
                      />
                      </span>
                    </div>
                  </template>
                  <!--
                    In case publication pre-flight is done, the publication still has
                    no statusCode, show that it is waiting for ADRAM
                  -->
                  <template v-else-if="item.publicationrequests > 0">
                    <template v-if="item.publication">
                      <!--
                        ADRAM sets the publicaton.statusCode if processing has started for
                        the actual publication transformation and deployment to 'inprogress'
                        Once finished publicaton.statusCode = completed
                        Show it appropriately
                      -->
                      <span v-if="item.publication[0].statusCode === 'inprogress'">
                        <PublicationStatus preparing orange/>
                        {{ item.publication[0].message }}
                      </span>
                      <span v-else-if="item.publication[0].statusCode === 'deploying'">
                         <PublicationStatus deploying orange/>
                      </span>
                      <span v-else-if="item.publication[0].statusCode === 'completed'">
                         <PublicationStatus completed green/>
                      </span>
                      <span v-else-if="item.publication[0].statusCode === 'failed'">
                         <PublicationStatus failed red :message="item.publication[0].message"/>
                      </span>
                      <span v-else>
                        ADRAM: {{ item.publication[0].statusCode }}
                      </span>
                    </template>
                    <template v-else>
                      <PublicationStatus waiting orange :publicationrequests="item.publicationrequests"/>
                    </template>
                  </template>
                  <template v-else-if="item.implementationguide === 'true'">
                    <PublicationStatus implementationguide orange/>
                  </template>
                  <template v-else-if="item.release === 'false'">
                    <PublicationStatus backuped green/>
                  </template>
                  <template v-else-if="item.release === 'true'">
                    <PublicationStatus saved green/>
                  </template>
                  <template v-else>
                    <template v-if="item.publication">
                      <!--
                        ADRAM sets the publicaton.statusCode if processing has started for
                        the actual publication transformation and deployment to 'inprogress'
                        Once finished publicaton.statusCode = completed
                        Show it appropriately
                      -->
                      <span v-if="item.publication[0].statusCode === 'inprogress'">
                        <PublicationStatus preparing orange/>
                      </span>
                      <span v-else-if="item.publication[0].statusCode === 'deploying'">
                         <PublicationStatus deploying orange/>
                      </span>
                      <span v-else-if="item.publication[0].statusCode === 'completed'">
                         <PublicationStatus completed green/>
                      </span>
                      <span v-else-if="item.publication[0].statusCode === 'failed'">
                         <PublicationStatus failed red/>
                      </span>
                      <span v-else>
                        ADRAM: {{ item.publication[0].statusCode }}
                      </span>
                    </template>
                  </template>
                </template>
                <template v-slot:[`item.release`]="{ item }">
                  {{ itemReleaseOrIntermediateOrIG (item) }}
                </template>
                <template #item.release-notes="{item}">
                  <div
                    v-if="publicationHasReleaseNotes(item)"
                    class="release-notes-cell"
                    @click="showReleaseNotes(item)"
                  >
                    {{ truncatedDesc(item) }}
                  </div>
                </template>
                <template v-slot:[`item.data-table-expand`]="{ item }">
                  <AdSpeedDial v-if="publicationIsEditable(item) || publicationHasReleaseNotes(item)" direction="left">
                    <!--AdSpeedOption v-if="item.release === 'true' && hasPublicationLocation" color="green" icon="mdi-open-in-new" :hint="$t('publication-location')" @click="openPublicationLocation" /-->
                    <AdSpeedOption v-if="publicationHasReleaseNotes(item)" text="view" icon="mdi-eye" :hint="$t('release-notes')" @click="showReleaseNotes(item)"/>
                    <AdSpeedOption type="edit" v-if="publicationIsEditable(item)" @click="editPublicationStart(item)"/>
                  </AdSpeedDial>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import ProjectFilter from '@/components/Project/ProjectFilter'
import PublicationStatus from '@/components/Project/PublicationStatus'
import projectReleaseRules from '@/rules/projectRelease'
import { mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'

export default {
  name: 'PublicationPanel',
  components: {
    ProjectFilter,
    PublicationStatus
  },
  data () {
    return {
      activePublication: {
        compileLanguage: []
      },
      activeReleaseNotes: null,
      activeReleaseNotesBtn: false,
      addPublicationBtn: false,
      editPublicationBtn: false,
      parameterWhitelist: [
        'switchCreateSchematron',
        'switchCreateSchematronClosed',
        'switchCreateSchematronWithWarningsOnOpen',
        'switchCreateSchematronWithExplicitIncludes',
        'switchCreateDocHTML',
        'switchCreateDocPDF'
      ],
      pdf: [
        { label: this.$t('datasets'), value: 'd' },
        { label: this.$t('scenarios'), value: 's' },
        { label: this.$t('identifiers'), value: 'n' },
        { label: this.$t('terminologies'), value: 't' },
        { label: this.$t('templates'), value: 'r' },
        { label: this.$t('issues'), value: 'i' }
      ],
      projectReleaseRules,
      stepIndex: 1,
      switchCreateDocPDF: 'false',
      transition: '',
      valid: true,
      versionLabel: null,
      selectedFilter: null,
      switchCreateCDAIG: false,
      switchCreateFHIRIG: false
    }
  },
  computed: {
    ...mapGetters({
      getDecorTypes: ['server/getDecorTypes'],
      getReleaseStatuses: ['server/getReleaseStatuses'],
      publications: ['project/publications'],
      publicationParameters: ['project/publicationParameters']
    }),

    activePublicationActiveParameters () {
      if (!this.activePublication.parameters) return []
      return Object.entries(this.activePublication.parameters)
        .filter(([key, value]) => value === 'true' || (Array.isArray(value) && value.length))
        .map(([key, value]) => this.getDecorParameter('label', key))
    },
    activePublicationHasReleaseNotesInLocale () {
      return locale => this.$filters.htmlHasTextContent(this.activePublication.desc?.find(_ => _.language === locale)?.['#text'])
    },
    activePublicationType () {
      if (this.activePublication.type === 'version') {
        return this.$t('version-intermediate')
      }
      return this.$t('release')
    },
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['project-publication']
        },
        {
          text: this.$t('project'),
          disabled: true,
          show: ['project-publication']
        },
        {
          exact: true,
          text: this.$t('publications'),
          to: { name: 'project-publication' },
          show: ['project-publication']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    decorTypes () {
      return this.getDecorTypes?.data
    },
    decorParametersByAttribute () {
      return (attribute) => {
        return this.decorTypes?.DecorParameters?.[0]?.enumeration?.map((e) => {
          if (typeof e[attribute] !== 'object' || e[attribute] === null) return null
          return {
            '#text': this.$filters.getMatchingTranslation({ value: e[attribute], locale: this.$i18n.locale }),
            value: e.value
          }
        }).filter(item => item !== null) || []
      }
    },
    getDecorParameter () {
      return (attribute, value) => {
        return this.decorParametersByAttribute(attribute)
          .find((parameter) => parameter?.value === value)['#text'] || ''
      }
    },
    hasPublicationLocation () {
      return !!this.projectInFocus?.reference?.[0]?.url
    },
    publicationHasReleaseNotes () {
      return item => item.desc?.some((desc) => desc['#text'] && desc['#text'] !== '')
    },
    publicationLocation () {
      return this.projectInFocus?.reference?.[0]?.url || `[${this.$t('unknown')}]`
    },
    publicationIsEditable () {
      return item => {
        return item?.statusCode && this.getReleaseStatuses.find(status => status.value === item.statusCode)
      }
    },
    publicationTasks () {
      return this.$store.getters['project/scheduledTasks/publicationTasks']
    },
    publicationsAndRequests () {
      const pubs = this.publications?.version?.filter(pub => !pub.progress) || []
      return [...this.publicationTasks, ...pubs]
    },
    publicationLocationHint () {
      if (this.publicationLocation === '[Unknown]') {
        return this.$t('publication-location-hint-empty')
      }
      return this.$t('publication-will-be', { url: this.publicationLocation })
    },
    headers () {
      return [
        {
          text: this.$t('date'),
          value: 'date',
          sortable: true,
          width: '15%'
        },
        {
          text: this.$t('by'),
          value: 'by',
          sortable: true,
          width: '15%'
        },
        {
          text: this.$t('type'),
          value: 'release',
          sortable: true,
          width: '15%'
        },
        {
          text: this.$t('versionLabel'),
          value: 'versionLabel',
          sortable: true,
          width: '15%'
        },
        {
          text: this.$t('release-notes'),
          value: 'release-notes',
          sortable: false,
          width: '30%'
        },
        {
          text: this.$t('status'),
          value: 'statusCode',
          sortable: true,
          width: '30%'
        },
        {
          value: 'data-table-expand',
          width: 'auto',
          align: 'right',
          condition: 'userIsDecorAdmin',
          sortable: false
        }
      ]
    },
    headersFiltered () {
      return this.headers
        .filter((header) => !Object.prototype.hasOwnProperty.call(header, 'condition') || this?.[header.condition])
    },
    publicationParametersFiltered () {
      // filter what is offered in prapi:getProjectPublicationParameters
      const parameters = {}
      for (const key in this.publicationParameters) {
        if (this.parameterWhitelist.includes(key)) {
          parameters[key] = this.publicationParameters[key]
        }
      }
      /**
       * switchCreateDocPDF
       * not includes in prapi:getProjectPublicationParameters
       * is not a boolean, it's an array with options [ d, s, n, t, r, i ]
       */
      //
      parameters.switchCreateDocPDF = 'false'
      return parameters
    },
    releaseStatus () {
      return (status) => {
        const release = this.getReleaseStatuses.find((s) => s.value === status)
        if (release) {
          return this.$filters.getMatchingTranslation({ value: release?.label })
        } else {
          return status
        }
      }
    },
    releasesToChooseFrom () {
      if (
        this.publications.version != null &&
        this.publications.version?.length > 0
      ) {
        return this.publications.version.filter((version) => version.release === 'true').map((version) => {
          return (
            { text: `${(version.versionLabel != null) ? `${version.versionLabel}, ` : ''}${version.by}, ${version.date}`, value: version.date }
          )
        })
      } else {
        return []
      }
    },
    showSuggestionPreviousReleases () {
      // used for offering the card to choose a release and
      // for handling choose release to fill desc with suggestion
      return (
        this.activePublication.desc == null ||
        this.activePublication.desc.length === 0 ||
        this.activePublication.desc.some((desc) => desc['#text'] === '<p></p>' || desc['#text'] === '<div></div>')
      )
    },

    truncatedDesc () {
      return item => {
        const MAX_LENGTH = 100
        const fullText = this.$filters.getMatchingTranslation({ value: item.desc })

        // remove all html tags
        const doc = new DOMParser().parseFromString(fullText, 'text/html')
        const textContent = doc.body.textContent || ''

        if (textContent.length < MAX_LENGTH) {
          return textContent
        }
        return `${textContent.substring(0, MAX_LENGTH)}...`
      }
    }
  },
  created () {
    this.getProjectPublicationList()
  },
  watch: {
    'activePublication.type': function (type) {
      if (type === 'release' && this.activePublication.compileLanguage.length === 0) {
        this.activePublication.compileLanguage = this.projectLocales
      }
    },
    publicationTasks: {
      handler (newVal, oldVal) {
        if (newVal.length < oldVal.length) {
          this.getProjectPublicationList()
        }
      }
    },
    addPublicationBtn: {
      handler (dialogIsOpen) {
        const prefix = this.projectInFocus?.prefix

        if (dialogIsOpen) {
          this.sockets.subscribe(`PATCH/${prefix}/publicationParameters`, (data) => {
            const { response, request } = data

            if (request.emitter === this.socketId) {
              // Don't handle events that are caused by own HTTP requests
              return
            }

            this.$store.commit('project/setProjectPublicationParameters', response)
            this.activePublication.parameters = cloneDeep(response)
            this.initParameters()
          })
        } else {
          this.sockets.unsubscribe(`PATCH/${prefix}/publicationParameters`)
        }
      }
    }
  },
  methods: {
    async getProjectPublicationList () {
      try {
        await this.$store.dispatch('project/setProjectPublicationList')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async addPublicationStart () {
      this.stepIndex = 1
      if (this.activePublication.compileLanguage == null) {
        this.$set(this.activePublication, 'compileLanguage', [])
      }
      const { id, prefix } = this.projectInFocus
      this.$set(this.activePublication, 'by', this.$store.getters['authentication/getUser'].fullName)
      this.$set(this.activePublication, 'id', id)
      this.$set(this.activePublication, 'prefix', prefix)
      this.$set(this.activePublication, 'publicationRequest', this.hasPublicationLocation === true ? 'true' : 'false')
      await this.$store.dispatch('project/setProjectPublicationParameters')
        .then(() => {
          // ingore
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
      this.initParameters()
      this.$nextTick(() => {
        this.addPublicationBtn = true
      })
    },
    actionPublication (action) {
      if (action === 'cancel') {
        if (this.addPublicationBtn) {
          this.cancelAddPublication()
        } else if (this.editPublicationBtn) {
          this.cancelEditPublication()
        }
      } else if (action === 'updateOrAdd') {
        if (this.addPublicationBtn) {
          this.addPublication('publicationRef')
        } else if (this.editPublicationBtn) {
          this.updatePublication('publicationRef')
        }
      }
    },
    addPublication (formName) {
      if (this.$refs[formName].validate()) {
        const { by, compileLanguage, desc, development, id, prefix, publicationRequest, type, versionLabel } = this.activePublication
        const data = {
          id,
          prefix
        }
        const version = []
        let publication = {}
        const release = (type === 'release') ? 'true' : 'false'
        const pubrequest = publicationRequest || 'false'
        if (type === 'release') {
          publication = {
            by,
            development: (development != null) ? development : 'false',
            'publication-request': pubrequest,
            release: (release != null) ? release : 'false'
          }
        } else if (this.activePublication.type === 'version') {
          publication = {
            by,
            'publication-request': 'false',
            release: 'false'
          }
        } else if (this.activePublication.type === 'implementationguide') {
          publication = {
            by,
            'publication-request': 'false',
            implementationguide: 'true',
            release: 'false'
          }
        }
        // no statusCode if new release/version, check versionLabel, desc etc.
        if (versionLabel != null) {
          publication.versionLabel = versionLabel
        }
        if (desc != null) {
          publication.desc = desc
        }
        if (compileLanguage != null && compileLanguage.length > 0) {
          publication['compile-language'] = compileLanguage
        }
        version.push(publication)
        data.version = version
        return this.$store.dispatch('project/postProjectPublication', data)
          .then((data) => {
            const scheduled = data.version?.filter(item => item.progress != null).map(item => ({
              on: item.date,
              progress: item.progress,
              'progress-percentage': item['progress-percentage']
            }))
            const currentRequests = this.publicationTasks
            const publicationTasks = [...currentRequests, ...scheduled]
            this.$store.commit('project/scheduledTasks/setPublicationTasks', publicationTasks)

            this.$nextTick(() => {
              this.cancelAddPublication()
              this.$notify(this.$t('submission-update-success-label'), 'success')
            })
          })
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$alert(errorMessage)
          })
      }
    },
    updatePublication (formName) {
      if (this.$refs[formName].validate()) {
        const { by, date, desc, release, statusCode, versionLabel } = this.activePublication
        const version = {
          release,
          date,
          by,
          desc,
          statusCode,
          versionLabel
        }

        const parameter = [{
          op: 'replace',
          path: '/',
          value: {
            version: [version]
          }
        }]
        return this.$store.dispatch('project/patchProjectPublication', parameter)
          .then((data) => {
            this.$nextTick(() => {
              this.cancelEditPublication()
              this.$notify(this.$t('submission-update-success-label'), 'success')
            })
          })
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$alert(errorMessage)
          })
      }
    },
    cancelAddPublication () {
      this.addPublicationBtn = false
      this.versionLabel = null
      this.$nextTick(() => {
        this.activePublication = {}
      })
    },
    comparePublicationStart () {
      this.$alert(this.$t('notyetimplemented'))
    },
    editPublicationStart (item) {
      this.activePublication = cloneDeep(item)
      // set statusCode if not present so user can change it to 'draft', otherwise no change is possible at all
      if (this.activePublication.statusCode === undefined) this.activePublication.statusCode = 'draft'
      this.$nextTick(() => {
        this.editPublicationBtn = true
      })
    },
    cancelEditPublication () {
      this.editPublicationBtn = false
      this.$nextTick(() => {
        this.activePublication = {}
      })
    },
    getPublicationLocation () {
      return this.projectInFocus?.reference?.[0]?.url
    },
    showReleaseNotes (item) {
      this.activeReleaseNotes = cloneDeep(item)
      this.$nextTick(() => {
        this.activeReleaseNotesBtn = true
      })
    },
    async handleChooseRelease (release) {
      if (release) {
        if (this.showSuggestionPreviousReleases) {
          this.$set(this.activePublication, 'desc', [])
          await this.$store.dispatch('project/getProjectPublicationNotes', release)
            .then((response) => {
              if (response?.version[0]?.desc) {
                this.activePublication.desc.push(response.version[0].desc[0])
              }
            })
        }
      }
    },
    initParameters () {
      if (this.publicationParameters) {
        Object.keys(this.publicationParameters).forEach((key) => {
          if (this.parameterWhitelist.includes(key)) {
            if (this.activePublication.parameters == null) {
              this.$set(this.activePublication, 'parameters', {})
            }
            if (this.activePublication.parameters[key] == null) {
              this.$set(this.activePublication.parameters, key, this.publicationParameters[key])
            }
            if (key === 'switchCreateDocPDF') {
              if (this.publicationParameters[key] == null) {
                // if the backend has no values for switchCreateDocPDF, init empty array
                this.$set(this.activePublication.parameters, key, [])
                this.switchCreateDocPDF = 'false'
              } else {
                if (this.publicationParameters[key].length > 0) {
                  this.switchCreateDocPDF = 'true'
                } else {
                  this.switchCreateDocPDF = 'false'
                }
              }
            }
          }
        })
      }
    },
    handleChangePublicationParameter (key) {
      let value = this.activePublication.parameters[key]
      if (key === 'switchCreateDocPDF') {
        // other than boolean (string) value
        value = {
          switchCreateDocPDF: this.activePublication.parameters[key]
        }
      }
      const parameter = [{
        op: 'replace',
        path: `/${key}`,
        value
      }]
      if (key === 'switchCreateDocPDF') {
        // remove first
        parameter.unshift({
          op: 'remove',
          path: `/${key}`
        })
      }
      return this.$store.dispatch('project/patchProjectPublicationParameters', parameter)
        .then(() => {
          this.$notify(this.$t('submission-update-success-label'), 'success')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$alert(errorMessage)
        })
    },
    handleSwitchCreateDocPDF () {
      if (this.switchCreateDocPDF === 'false') {
        if (this.activePublication.parameters.switchCreateDocPDF.length > 0) {
          this.activePublication.parameters.switchCreateDocPDF = []
          this.handleChangePublicationParameter('switchCreateDocPDF')
        }
      }
    },
    handleSwitchCreateCDAIG () {

    },
    handleSwitchCreateFHIRIG () {

    },
    itemReleaseOrIntermediateOrIG (item) {
      // if implementationguide is present and true return implementationguide
      // if publication has release=true then return the "release" label,
      // if release=false, and implementationguide is not present/true return intermediate version
      // otherwise return nothing to show here as type as the item may only be the progress indicator
      if (item.implementationguide === 'true') return this.$t('implementationguide')
      if (item.release === 'true') return this.$t('release')
      if (item.release === 'false') return this.$t('version-intermediate')
      if (item.progress) return '(' + this.$t('in-progress') + ')'
      return ' '
    },
    publicationIsCompleted (item) {
      return item.publication?.[0].statusCode === 'completed'
    }
  }

}
</script>

<style lang="scss" scoped>
::v-deep .infoButton {
  margin: 4px;
  top: unset !important;
}

.release-notes-cell {
  cursor: pointer;

  & ::v-deep * {
    font-size: 16px !important;
    margin: 0;
  }

  &:hover {
    color: #ef6c00;
  }
}
</style>
