<template>
  <AdButton
    list
    :color="getColor"
    :icon="getIcon"
    :hint="getHint"
    :noMarginRight="noMarginRight"
  >
  </AdButton>
</template>

<script>

export default {
  name: 'PublicationStatus',
  components: {
  },
  /**
   * Properties.
   */
  props: {
    // type props
    saved: {
      type: Boolean,
      required: false
    },
    backuped: {
      type: Boolean,
      required: false
    },
    implementationguide: {
      type: Boolean,
      required: false
    },
    preparing: {
      type: Boolean,
      required: false
    },
    deploying: {
      type: Boolean,
      required: false
    },
    completed: {
      type: Boolean,
      required: false
    },
    failed: {
      type: Boolean,
      required: false
    },
    available: {
      type: Boolean,
      required: false
    },
    waiting: {
      type: Boolean,
      required: false
    },
    busy: {
      type: Boolean,
      required: false
    },
    // color props
    green: {
      type: Boolean,
      required: false
    },
    orange: {
      type: Boolean,
      required: false
    },
    red: {
      type: Boolean,
      required: false
    },
    message: {
      type: String,
      required: false
    },
    publicationrequests: {
      type: String,
      required: false
    },
    noMarginRight: {
      type: Boolean,
      required: false
    }
  },
  data () {
    return {
    }
  },
  computed: {
    /**
     * Get current matching configuration.
     *
     * @return {{}}
     */
    getColor () {
      // Return color to use
      if (this.green) return 'green lighten-3'
      if (this.orange) return 'orange lighten-3'
      if (this.red) return 'red lighten-3'
      return 'black lighten-4'
    },
    getIcon () {
      if (this.saved) return 'mdi-content-save'
      if (this.backuped) return 'mdi-content-save-outline'
      if (this.implementationguide) return this.orange ? 'mdi-package-variant' : 'mdi-package-variant-closed'
      if (this.preparing) return 'mdi-gondola'
      if (this.deploying) return 'mdi-upload'
      if (this.completed) return 'mdi-bookshelf'
      if (this.failed) return 'mdi-alert'
      if (this.available) return 'mdi-bookshelf'
      if (this.waiting) return 'mdi-clock-outline'
      if (this.busy) return 'mdi-update'
      return 'mdi-web'
    },
    getHint () {
      if (this.saved) return this.$t('project-saved')
      if (this.backuped) return this.$t('project-backuped')
      if (this.preparing) return this.$t('preparing-publication')
      if (this.implementationguide) return this.orange ? this.$t('implementationguide-draft') : this.$t('implementationguide')
      if (this.deploying) return this.$t('deploying-publication')
      if (this.completed) return ''
      if (this.failed) return this.$t('failed-publication', { msg: this.message })
      if (this.available) return this.$t('publication-available')
      if (this.waiting) return this.$t('pending-request-waiting4ADARM', { wait: this.publicationrequests })
      if (this.busy) return this.$t('busy')
      return '?'
    }
  }
}
</script>
