<template>
  <v-dialog
    :value="showDialog"
    width="1100"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ title || $t('add-repository') }}</AdCardTitle>
      <v-card-text class="pa-5">
        <v-row>
          <v-spacer />
          <v-col cols="5">
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              :label="$t('search')"
              single-line
              hide-details
              solo
              dense
              clearable
              class="ma-3"
            />
          </v-col>
        </v-row>
        <v-data-table
          :items="filteredRepositories"
          :headers="repositoryHeaders"
          v-model="selectedRepositories"
          :loading="isLoading"
          show-select
          sele
          item-key="ident"
          :items-per-page="5"
          :hide-default-header="fetchedRepositories.length === 0"
          :hide-default-footer="fetchedRepositories.length <= 5"
          :search="search"
          :custom-filter="searchFilter"
        >
          <template v-slot:[`header.data-table-select`]="{ props, on }">
            <v-simple-checkbox :value="props.value" @input="on.input($event)" :disabled="disabled" :ripple="false" />
          </template>
          <template v-slot:[`item.data-table-select`]="{ isSelected, select }">
            <v-simple-checkbox :value="isSelected" @input="select($event)" :disabled="disabled" :ripple="false" />
          </template>
          <template v-slot:[`item.name`]="{ item }">
            {{$filters.getMatchingTranslation({value: item.name})}}
          </template>

          <template v-slot:no-data>
            <AdInfoOwl v-if="isLoading" chat>{{ $t('Loading')}}</AdInfoOwl>
            <AdInfoOwl v-else chat>{{ $t('no-items')}}</AdInfoOwl>
          </template>
        </v-data-table>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$emit('cancelEdit')" :disabled="disabled" />
        <AdButton
          type="add"
          :hint="$t('save')"
          depressed
          :disabled="selectedRepositories.length === 0 || disabled"
          @click="save"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import ServerService from '@/services/ServerService'
import { matches, find as _find } from 'lodash'

export default {
  name: 'RepositoryAdd',
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    title: {
      type: String
    },
    params: {
      type: Object,
      default () {
        return {}
      }
    },
    filter: {
      type: Function
    }
  },
  data () {
    return {
      fetchedRepositories: [],
      selectedRepositories: [],
      isLoading: false,
      search: ''

    }
  },
  computed: {
    filteredRepositories () {
      const projectRepositories = this.projectInFocus?.buildingBlockRepository
      // If a filter prop is passed, use that function for filtering
      if (this.filter) {
        return this.fetchedRepositories.filter(repo => this.filter(repo))
      }
      // If not, filter out repositories that are already in the project
      return this.fetchedRepositories.filter(repo => {
        return !_find(projectRepositories, matches({ ident: repo.ident }))
      })
    },
    repositoryHeaders () {
      return [
        { text: this.$t('name'), value: 'name' },
        { text: this.$t('URL'), value: 'url' },
        { text: this.$t('prefix'), value: 'ident' },
        { text: this.$t('type'), value: 'type' },
        { text: this.$t('format'), value: 'format' }
      ]
    }
  },
  watch: {
    showDialog (newVal) {
      if (newVal) {
        this.fetchedRepositories = []
        this.search = ''
        this.selectedRepositories = []
        this.fetchRepositories()
      }
    }
  },
  methods: {
    async fetchRepositories () {
      this.isLoading = true
      try {
        const { uri, type } = this.params
        const response = await ServerService.getBuildingBlockRepositories(uri, type)
        this.fetchedRepositories = response.data?.buildingBlockRepository || []
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.isLoading = false
    },
    save () {
      const payload = this.selectedRepositories || []
      if (payload.length > 0) {
        this.$emit('saveEdit', payload)
      }
    },
    searchFilter (value, search, item) {
      const prefix = item.ident?.toLowerCase()
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const query = search.toLowerCase()
      return prefix.includes(query) || name.includes(query)
    }
  }

}
</script>
