<template>
  <div>
    <!-- Modal for adding / editing -->
    <v-dialog
      v-model="modal.state"
      width="800"
      persistent
    >
      <v-card>
        <AdCardTitle dialog>{{ $t(`${modal.mode}-restful-service`) }}</AdCardTitle>
        <v-card-text class="pa-5">
          <v-form ref="form">
            <v-row>
              <v-col cols="2">
                <EditableString
                  disabled
                  value="FHIR"
                  :label="$t('for')"
                />
              </v-col>
              <v-col cols="2">
                <v-select
                  class="required"
                  v-model="modal.format"
                  :items="[...availableFhirFormats, ...disabledFhirFormats]"
                  :label="$t('format')"
                  item-value="value"
                  required
                >
                  <template v-slot:item="{ item }">
                    {{ $filters.getMatchingTranslation({ value: item.label }) }}
                  </template>
                  <template v-slot:selection="{ item }">
                    {{ $filters.getMatchingTranslation({ value: item.label }) }}
                  </template>
                </v-select>
              </v-col>
              <v-col>
                <EditableString
                  :value="parsedFhirURL"
                  :label="$t('URL')"
                  disabled
                />
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions class="dialogbottomstrip">
          <v-spacer/>
          <AdButton type="cancel" @click="closeModal" :disabled="modal.readonly" />
          <AdButton
            :type="'save'"
            :hint="$t('save')"
            @click="saveService"
            depressed
            :disabled="modal.readonly"
          />
       </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Services table -->
    <v-card class="mx-auto">
      <AdCardTitle inline prependicon="mdi-cloud-outline">
        {{ $t('services') }}
        <template v-if="userIsDecorAdmin && availableFhirFormats.length">
          <v-spacer></v-spacer>
          <AdButton
            type="add"
            small
            @click="startAddService"
            :hint="$t('add-restful-service')"
          />
        </template>
      </AdCardTitle>
      <v-card-text>
        <v-data-table
          dense
          :headers="headers"
          :items="services"
          :items-per-page="5"
          :hide-default-footer="services && services.length <= 5"
          class="elevation-1"
        >
          <template v-slot:[`item.format`]="{ item }">
            <div class="d-flex">
              {{ $filters.getMatchingTranslation({ value: getFhirObjectFormat(item.format).label }) }}
              <v-tooltip v-if="!fhirEndpointIsInstalled(item.format)" bottom>
                <template #activator="{ on, attrs }">
                  <v-icon class="ml-2" v-bind="attrs" v-on="on" color="primary" dark small>mdi-alert</v-icon>
                </template>
                <span>{{$t('fhir-endpoint-not-installed')}}</span>
              </v-tooltip>
            </div>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <AdSpeedDial v-if="userIsDecorAdmin" direction="left">
              <AdButton
                :type="'edit'"
                list
                @click="startEditService(item)"
              />
              <AdButton
                type="delete"
                list
                @click="deleteService(item)"
              />
            </AdSpeedDial>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModalState = {
  state: false,
  mode: 'add', // can be 'add' or 'edit',
  format: null,
  readonly: false,
  removeOnUpdate: null
}
export default {
  name: 'ServicesTable',
  data () {
    return {
      modal: cloneDeep(initialModalState)
    }
  },
  computed: {
    availableFhirFormats () {
      if (!this.fhirURL) {
        return []
      }
      const alreadyPresent = this.projectInFocus?.restURI?.filter(item => item.for === 'FHIR').map(item => item.format) || []
      const results = this.fhirObjectFormats
        .filter(item => !alreadyPresent.includes(item.value))
        .filter(item => this.installedFhirServices.some(({ format }) => format === item.value))
      // If mode is edit, also add the format to edit
      if (this.modal.mode === 'edit') {
        const formatOfItemToEdit = this.getFhirObjectFormat(this.modal.format)
        if (formatOfItemToEdit) {
          results.push(formatOfItemToEdit)
        }
      }
      return results
    },
    disabledFhirFormats () {
      if (!this.fhirURL) {
        return []
      }
      const alreadyPresent = this.projectInFocus?.restURI?.filter(item => item.for === 'FHIR').map(item => item.format) || []
      return this.fhirObjectFormats
        .filter(item => !alreadyPresent.includes(item.value))
        .filter(item => !this.installedFhirServices.some(({ format }) => format === item.value))
        .map(item => ({ ...item, disabled: true }))
    },
    fhirObjectFormats () {
      return this.$store.getters['server/getDecorTypes']?.data?.FhirObjectFormat?.[0]?.enumeration || []
    },
    fhirURL () {
      return this.$store.getters['server/serverSettings']?.['url-fhir-services']?.[0]
    },
    getFhirObjectFormat () {
      return format => this.fhirObjectFormats.find(item => item.value === format)
    },
    installedFhirServices () {
      return this.$store.getters['server/installedFhirEndpoints']
    },
    parsedFhirURL () {
      return this.modal.format ? `${this.fhirURL}${this.modal.format}` : ''
    },
    headers () {
      return [
        {
          text: this.$t('URL'),
          value: '#text',
          width: '50%'
        },
        {
          text: this.$t('format'),
          value: 'format',
          width: '20%'
        },
        {
          value: 'actions',
          width: '30%',
          align: 'right',
          sortable: false
        }
      ]
    },
    services () {
      return this.projectInFocus?.restURI?.filter(item => item.for === 'FHIR') || []
    }
  },
  methods: {
    autoSelectFirstInDropdown () {
      if (this.availableFhirFormats.length) {
        this.modal.format = this.availableFhirFormats[0].value
      }
    },
    closeModal () {
      this.modal = cloneDeep(initialModalState)
    },
    async deleteService (item) {
      try {
        const confirmed = await this.$confirm(this.$t('delete-restURI', { url: this.$filters.getMatchingTranslation({ value: item['#text'] }) }), { positive: this.$t('delete'), icon: 'mdi-delete' })
        if (!confirmed) {
          return
        }

        const data = {
          parameter: [
            {
              op: 'remove',
              path: '/restURI',
              value: {
                restURI: item
              }
            }
          ]
        }
        await this.$store.dispatch('project/patchProject', { data, path: 'restURI' })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
        this.$alert(errorMessage)
      }
    },
    fhirEndpointIsInstalled (format) {
      return this.installedFhirServices.some((service) => service.format === format)
    },
    async saveService () {
      try {
        const data = {
          parameter: [
            {
              op: 'replace',
              path: '/restURI',
              value: {
                restURI: {
                  '#text': this.parsedFhirURL,
                  for: 'FHIR',
                  format: this.modal.format
                }
              }
            }
          ]
        }

        if (this.modal.removeOnUpdate) {
          data.parameter.push({
            op: 'remove',
            path: '/restURI',
            value: {
              restURI: this.modal.removeOnUpdate
            }
          })
        }
        this.modal.readonly = true
        await this.$store.dispatch('project/patchProject', { data, path: 'restURI' })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
        this.$alert(errorMessage)
      }
      this.closeModal()
    },
    startAddService () {
      this.modal.mode = 'add'
      this.autoSelectFirstInDropdown()
      this.modal.state = true
    },
    startEditService (item) {
      this.modal.mode = 'edit'
      this.modal.format = item.format
      this.modal.removeOnUpdate = cloneDeep(item)
      this.modal.state = true
    }
  }
}
</script>
<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
