<template>
<v-layout>
  <v-dialog
    v-model="showDialog"
    width="800"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ $t('adram') }}</AdCardTitle>
      <v-card-text class="pa-5">
        <div v-if="adram.status === '200'">
          <h2 class="grey--text lighten-4">OK</h2>
          <div v-if="adram.step === 'halted'" class="pt-3">{{adram.step}}</div>
          <div class="pt-3">{{adram.message}}</div>
        </div>
        <div v-else>
          <h2 class="grey--text lighten-4">Not ok {{adram.step}}</h2>
          <div class="pt-3">{{adram.message}}</div>
        </div>
      </v-card-text>
      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="showDialog = false"/>
      </v-card-actions>
    </v-card>
  </v-dialog>
    <div v-if="adram !== null" class="my-2">
      <div v-if="adram.status === '200'">
        <!-- we got all info ok, maybe running or halted -->
        <v-btn
            v-if="adram.step === 'adram'"
            class="ma-2" small color="green lighten-1" dark
            @click="showDialog = true"
        >
          <v-icon dark right>mdi-checkbox-marked-circle</v-icon>
          <div style="padding: 0 0 0 10px">
            {{ $t('adram-configured') }}
          </div>
        </v-btn>
        <v-btn
            v-if="adram.step === 'halted'"
            class="ma-2" small color="orange lighten-1" dark
            @click="showDialog = true"
        >
          <v-icon dark right>mdi-circle-slice-3</v-icon>
          <div style="padding: 0 0 0 10px">
            {{ $t('adram-halted') }}
          </div>
        </v-btn>
      </div>
      <div v-if="adram.status === '400'">
        <!-- we got a bad request error -->
        <v-btn
            class="ma-2" small color="orange lighten-2" dark
            @click="showDialog = true"
        >
          <v-icon dark right>mdi-alert</v-icon>
          <div style="padding: 0 0 0 10px">
            {{ $t('adram-errors') }}
          </div>
        </v-btn>
      </div>
      <div v-if="adram.status === '404'">
        <!-- we got a not found error -->
        <v-btn
            class="ma-2" small color="orange lighten-2" dark
            @click="showDialog = true"
        >
          <v-icon dark right>mdi-alert</v-icon>
          <div style="padding: 0 0 0 10px">
            {{ $t('adram-errors') }}
          </div>
        </v-btn>
      </div>
      <div v-if="adram.status === '500'">
        <!-- we wern't able to get info properly -->
        <v-btn
            class="ma-2" small color="grey lighten-2" dark
            @click="showDialog = true"
        >
          <v-icon dark right>mdi-close-circle-outline</v-icon>
          <div style="padding: 0 0 0 10px">
            {{ $t('adram-notconfigured') }}
          </div>
        </v-btn>
      </div>
      <div v-if="adram.status === 'unchecked'">
        <v-btn
            class="ma-2" small color="blue lighten-2" dark
            @click="showDialog = true"
        >
          <v-icon dark right>mdi-circle-outline</v-icon>
          <div style="padding: 0 0 0 10px">
            {{ $t('adram-notchecked') }}
          </div>
        </v-btn>
      </div>
    </div>
    <div v-else>
      <v-btn
          class="ma-2"
          small
          color="grey lighten-1"
          dark
      >
        <v-icon dark right>mdi-circle-outline</v-icon>
        <div style="padding: 0 0 0 10px">
          {{ $t('adram-notchecked') }}
        </div>
      </v-btn>
    </div>
  </v-layout>
</template>

<script>

export default {
  name: 'ShowAdramDetails',
  props: {
    adram: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      showDialog: false
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>
