<template>
  <v-dialog :value="showDialog" width="800" persistent scrollable :fullscreen="activeTab === 1 || !disabledTabReport">
    <v-card>
      <AdCardTitle dialog>{{ $t('validate-instance') }}</AdCardTitle>
      <v-card-text class="pa-5">

        <v-card outlined class="mb-5">
          <AdCardTitle inline>{{ $t('compilation') }}</AdCardTitle>
          <v-card-text class="pa-5">
            <span v-if="compilation.on">{{ $filters.formatDate(compilation.on) }}</span>
            <template v-if="compilation.status">
              <AdStatusDot class="pr-1 ml-2" :status="compilation.status" />
              {{ $t(compilation.status) }}
            </template>
            <span v-if="compilation.closed" class="ml-2">{{ $t('schematronclosed') }}</span>
            <span v-if="compilation.explicitIncludes" class="ml-2">{{ $t('explicit-includes') }}</span>
          </v-card-text>
        </v-card>

        <v-tabs v-model="activeTab">
          <v-tab>{{$t('upload')}}</v-tab>
          <v-tab :disabled="disabledTabReport">{{$t('report')}}</v-tab>

          <v-tab-item>
            <!-- upload a new instance -->
            <v-card-text class="pa-5">
              <AdInfoOwl>{{$t('upload-instance')}}</AdInfoOwl>
              <v-form ref="formValidateXml" v-model="valid" persistent>
                <v-file-input v-if="showFileInputBtn" v-model="fileValue" :accept="accept" :label="$t('choose-file')"
                  show-size prepend-icon="mdi-file" :required="true" @change="handleFile"></v-file-input>

                <EditableDropdown v-model="instance.transaction" item-value="ref" item-text="title"
                  :items="transactions" :required="false" :label="$t('select-transaction')" />
              </v-form>
            </v-card-text>
          </v-tab-item>

          <v-tab-item>
            <!-- show validation results -->
            <v-row>
              <v-card-text class="pa-5">
                <v-expansion-panels focusable multiple>
                  <!--
                    W3C Schema validation result
                  -->
                  <v-expansion-panel v-if="responseSchema.length > 0">
                    <v-expansion-panel-header>
                      <span>
                        <v-icon color="red">mdi-emoticon-sad-outline</v-icon>
                        {{ $t('schema') }}
                        <template v-if="responseSchema.length"> ({{responseSchema.length}})</template>
                      </span>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-list>
                        <template v-for="(warning, i) in responseSchema">
                          <v-list-item :key="`warning-${i}`">
                            <v-list-item-icon>
                              <v-icon :color="getDecorCheckMessageColor(warning.level.toLowerCase())">
                                {{ getDecorCheckMessageIcon(warning.level.toLowerCase())}}
                              </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title v-if="warning['#text']">{{$t('location')}}:
                                {{warning['#text']}}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider :key="`divider-${i}`" v-if="(i < (responseSchema.length - 1))" />
                        </template>
                      </v-list>
                    </v-expansion-panel-content>
                    <v-expansion-panel-content>
                      <template v-for="report in responseSchema.length">
                        <template v-for="rep in report">
                          <template v-for="(message, indexMessage) in rep.message">
                            <div :key="`message-${indexMessage}`">
                              <v-alert :color="getDecorCheckMessageColor(message.level.toLowerCase())"
                                :icon="getDecorCheckMessageIcon(message.level.toLowerCase())">{{message['#text'] }}</v-alert>
                            </div>
                          </template>
                        </template>
                      </template>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <!-- alternatively show that there are no schema errors -->
                  <v-expansion-panel v-if="responseSchema.length === 0" disabled readonly>
                    <v-expansion-panel-header>
                      <span>
                        <v-icon color="green">mdi-emoticon-happy-outline</v-icon>
                        {{ $t('schema-errors') }}: {{ $t('none') }}
                      </span>
                    </v-expansion-panel-header>
                  </v-expansion-panel>
                  <!--
                    Schematron validation result
                  -->
                  <v-expansion-panel v-if="responseSchematron.length > 0">
                    <v-expansion-panel-header>
                       <span>
                        <v-icon :color="responseSchematronHighestSeverityColor">mdi-emoticon-sad-outline</v-icon>
                        {{ $t('schematron') }}
                        <template v-if="responseSchematron.length"> ({{responseSchematron.length}})</template>
                      </span>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-combobox v-if="schematronFilterOptions.length > 1"
                        v-model="activeFilters"
                        prepend-inner-icon="mdi-filter"
                        :items="schematronFilterOptions"
                        multiple
                        chips
                        deletable-chips
                        clearable
                        :label="$t('filter')"
                        :readonly="false"></v-combobox>
                      <v-list>
                        <template v-for="(warning, i) in responseSchematronFilter">
                          <v-list-item :key="`warning-${i}`">
                            <v-list-item-icon v-if="warning.role">
                              <v-icon :color="getDecorCheckMessageColor(warning.role)">{{ getDecorCheckMessageIcon(warning.role) }}</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title v-if="warning.location">{{$t('location')}}:
                                {{warning.location}}</v-list-item-title>
                              <v-list-item-subtitle v-if="warning.test">{{$t('test')}}:
                                {{warning.test}}</v-list-item-subtitle>
                              <v-list-item-subtitle v-if="warning.text">{{$t('description')}}:
                                <span v-for="(w, i) in warning.text" :key="i" class="font-weight-bold">{{w}}</span>
                              </v-list-item-subtitle>
                              <v-list-item-subtitle v-if="warning.see"><a :href="warning.see" target="_blank"
                                  :title="warning.see">{{$t('reference')}}</a></v-list-item-subtitle>
                            </v-list-item-content>
                          </v-list-item>
                          <v-divider :key="`divider-${i}`" v-if="(i < (responseSchematron.length - 1))" />
                        </template>
                      </v-list>
                      <AdInfoOwl outlined v-if="responseSchematron.length > 0 && responseSchematronFilter.length === 0">
                        {{ $t('no-items-no-matches') }}</AdInfoOwl>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <!--
                    error during transform to validation scripts
                  -->
                  <v-expansion-panel v-else-if="responseSchematronInError.length > 0">
                    <v-expansion-panel-header>
                      <span>
                        <v-icon color="red">mdi-emoticon-sad-outline</v-icon>
                        {{ $t('schematron-processing-errors') }}
                      </span>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="ma-3">
                        {{ $t('schematron-processing-errors-hint') }}
                      </div>
                      <v-list-item v-for="(errmsg, i) in responseSchematronInError" :key="`err-${i}`">
                        <v-list-item-icon>
                          <v-icon color="red">mdi-alert</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          {{ errmsg }}
                        </v-list-item-content>
                      </v-list-item>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <!-- alternatively show that there are no schematron errors -->
                  <v-expansion-panel v-else-if="responseSchematron.length === 0" readonly>
                    <v-expansion-panel-header>
                      <span>
                        <v-icon color="green">mdi-emoticon-happy-outline</v-icon>
                        {{ $t('schematron-errors') }}: {{ $t('none') }}
                      </span>
                    </v-expansion-panel-header>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-row>
          </v-tab-item>
        </v-tabs>
      </v-card-text>
      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton :type="(disabledTabReport) ? 'cancel' : 'close'" @click="$emit('cancel')" />
        <AdButton
          v-if="activeTab === 0"
          type="validate"
          :hint="$t('validate-instance')"
          :text="$t('validate-instance')"
          depressed
          :loading="loading.validateInstance"
          :disabled="disabledBtnValidXml"
          @click="validate" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import ProjectService from '../../services/ProjectService'
import compilationInstance from '@/models/compilationInstance'
import { cloneDeep } from 'lodash'
import { Buffer } from 'buffer'

export default {
  name: 'ValidationPanel',
  props: {
    compilation: {
      type: Object,
      required: true
    },
    showDialog: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      accept: 'application/xml',
      activeFilters: [],
      activeTab: 0,
      instance: cloneDeep(compilationInstance),
      fileValue: null,
      headers: [ // not used (in case the errors should be presented in table)
        { text: this.$t('level'), value: 'role' },
        { text: this.$t('location'), value: 'location' },
        { text: this.$t('reference'), value: 'see' },
        { text: this.$t('description'), value: 'test' },
        { text: this.$t('test'), value: 'text' }
      ],
      loading: {
        validateInstance: false
      },
      response: null,
      showFileInputBtn: true,
      valid: true
    }
  },
  computed: {
    disabledBtnValidXml () {
      return (
        this.compilation == null ||
        this.instance.file.base64 == null ||
        this.instance.transaction == null
      )
    },
    disabledTabReport () {
      return this.response === null
    },
    responseSchema () {
      if (this.response?.schema?.[0]?.report?.[0]?.message) {
        return this.response.schema[0].report[0].message
      } else {
        return []
      }
    },
    responseSchematron () {
      if (this.response?.schematron?.[0]?.report?.[0]?.message?.[0]?.['schematron-output']?.[0]?.['failed-assert']) {
        const fa = this.response.schematron[0].report[0].message[0]['schematron-output'][0]['failed-assert']
        // add item.role = error if no role object found, ie assume an error
        for (let i = 0; i < fa.length; i++) {
          if (fa[i].role === undefined) fa[i].role = 'error'
        }
        return fa
      } else {
        return []
      }
    },
    responseSchematronHighestSeverityColor () {
      if (this.responseSchematron.some((item) => item.role === 'error')) return 'red'
      if (this.responseSchematron.some((item) => item.role === 'warning')) return 'orange'
      return 'yellow'
    },
    responseSchematronInError () {
      if (this.response?.schematron?.[0]?.report?.[0]?.status?.[0] === 'invalid') {
        return this.response?.schematron?.[0]?.report?.[0]?.error || []
      } else {
        return []
      }
    },
    responseSchematronFilter () {
      if (this.responseSchematron.length) {
        return this.responseSchematron.filter((item) => item.role && this.activeFilters.includes(item.role))
      } else {
        return []
      }
    },
    schematronFilterOptions () {
      if (this.responseSchematron.length > 0) {
        return [...new Set(this.responseSchematron.map((item) => item.role))]
      } else {
        return []
      }
    },
    transactions () {
      if (this.compilation?.dir?.[0]?.resource) {
        return this.compilation.dir[0].resource
      } else {
        return []
      }
    }
  },
  methods: {
    base64encode (str) {
      return Buffer.from(str, 'utf8').toString('base64')
    },
    base64decode (str) {
      return Buffer.from(str, 'base64').toString('utf8')
    },
    handleFile (file) {
      if (file != null) {
        const { name, size, type } = file
        this.instance.file.name = name
        this.instance.file.size = size
        this.instance.file.type = type
        const reader = new FileReader()
        reader.readAsText(file)
        reader.onloadend = () => {
          this.instance.file.base64 = this.base64encode(reader.result)
        }
      }
    },
    async validate () {
      if (this.$refs.formValidateXml.validate()) {
        const { prefix } = this.projectInFocus
        if (!prefix) {
          throw new Error('Project Prefix is missing')
        }
        try {
          const data = {
            transaction: this.instance.transaction,
            file: [this.instance.file]
          }
          this.loading.validateInstance = true
          const response = await ProjectService.projectInstanceValidation(prefix, data)
          if (response?.data) {
            this.response = response.data
            // switch to tab report
            if (this.schematronFilterOptions.length) {
              this.activeFilters = cloneDeep(this.schematronFilterOptions)
            }
            this.activeTab = 1
          }
          this.initInstance()
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        }
        this.loading.validateInstance = false
      }
    },
    initInstance () {
      this.instance = cloneDeep(compilationInstance)
      this.fileValue = null
    }
  }
}
</script>
