<template>
  <div>
    <AdBreadcrumbs class="pb-4" :items="breadcrumbs"></AdBreadcrumbs>
    <v-card :loading="loading">
      <AdCardTitle class="issue-title" prependicon="mdi-flag">
        {{ $t('issue') }}
        <v-spacer></v-spacer>
        <AdButton
          darker
          type="back2list"
          :to="{name: 'issues'}"
        />
      </AdCardTitle>
      <v-card-text v-if="!loading">
        <IssueItemPanel
          v-if="issue"
          :datasets="datasets"
          :project="searchValues.project"
          :getParsedLabels="getParsedLabels"
          :getDatasetTranslation="getDatasetTranslation"
          slot="expanded"
        >
          <div class="d-flex flex-row" slot="event-title-right">
            <IssueAddAssignmentModal
              v-model="issue"
              :project="searchValues.project"
              :datasets="datasets"/>
            <span class="pr-2"></span>
            <IssueAddTrackingModal
              v-model="issue"
              :project="searchValues.project"
              :datasets="datasets"/>
          </div>
        </IssueItemPanel>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import IssueAddAssignmentModal from '@/components/Issue/IssueAddAssignmentModal'
import IssueAddTrackingModal from '@/components/Issue/IssueAddTrackingModal'
import IssueItemPanel from '@/components/Issue/IssueItemPanel'

export default {
  name: 'IssueDetails',
  components: {
    IssueAddAssignmentModal,
    IssueAddTrackingModal,
    IssueItemPanel
  },
  props: {
    breadcrumbs: {
      type: Array,
      required: true
    },
    datasets: {
      type: Object,
      required: true
    },
    getParsedLabels: {
      type: Function,
      required: true
    },
    getDatasetTranslation: {
      type: Function,
      required: true
    },
    issueId: {
      type: String,
      required: true
    },
    issues: {
      type: Array,
      required: true
    },
    searchValues: {
      type: Object,
      required: true
    }
  },
  computed: {
    issue: {
      get () {
        return this.$store.getters['issues/issue']
      },
      set (value) {
        this.$store.commit('issues/setIssue', value)
      }
    },
    loading () {
      return this.$store.getters['issues/loadingIssue']
    }
  },
  async beforeMount () {
    const id = this.issueId
    if (this.issueId == null) {
      return
    }
    try {
      await this.$store.dispatch('issues/getIssue', { id })
    } catch (error) {
      const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
      this.$oops(errorMessage)
    }
  }
}
</script>
<style scoped>
.issue-title {
  position: relative;
}
</style>
