<template>
  <AdPageUnavailable :path="['decor.issues', 'decor.issues.issues']">
    <v-layout>
      <v-flex>
        <IssuePanel></IssuePanel>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import IssuePanel from '@/components/Issue/IssuePanel'

export default {
  name: 'AdIssue',
  components: {
    IssuePanel
  }
}
</script>
