<template>
  <AdPageUnavailable :path="['decor.issues', 'decor.issues.labels']">
    <v-layout>
      <v-flex>
        <LabelPanel></LabelPanel>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import LabelPanel from '@/components/Issue/LabelPanel'

export default {
  name: 'AdLabel',
  components: {
    LabelPanel
  }
}
</script>
