<template>
<v-dialog :value="value" width="fit-content" max-width="1000px" persistent @close="closeModal">
  <v-card>
    <AdCardTitle dialog>{{ title || $t('downloads') }}</AdCardTitle>

    <v-card-text class="pa-4">
      <v-card outlined>

        <v-simple-table>
          <tbody>
            <tr v-for="(row, i) in downloadData" :key="`${row.categoryTitle}-${i}`">
              <th>{{ row.categoryTitle }}</th>
              <td>
                <template v-for="(link, j) in row.links">
                  <AdGoTo
                    v-if="showLink(link.condition)"
                    :key="`${link.text}-${i}-${j}`"
                    external
                    v-bind="{red: row.color === 'red', green: row.color === 'green', blue: row.color === 'blue', ...link.props}"
                    :href="link.href">{{ link.text }}</AdGoTo>
                </template>
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-card>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <slot name="actions" :closeModal="closeModal">
        <AdButton type="cancel" @click="closeModal"/>
      </slot>
    </v-card-actions>
  </v-card>
</v-dialog>

</template>

<script>
export default {
  name: 'AdArtefactDownloads',
  props: {
    // Data structure for offering download links
    // [
    //     {
    //       categoryTitle: 'FHIR',
    //       color: 'red',    // red, green, blue. Color of the AdGoTo component.
    //       links: [
    //         {
    //           text: 'dstu2 - XML',
    //           href: 'https://link-to-fhir-service.com',
    //           condition: () => true, // function to determine if link is visible
    //           props: {}   // optional props to pass to AdGoTo component.
    //         },
    //       ]
    //     }
    //   ]
    downloadData: {
      type: Array,
      default: () => []
    },
    // Alternative modal title
    title: {
      type: String,
      required: false
    },
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    closeModal () {
      this.$emit('input', false)
    },
    showLink (condition) {
      if (typeof condition === 'function') return condition()
      if (condition === undefined) return true
      return !!condition
    }
  }
}
</script>
