<template>
  <v-dialog :value="value" width="800" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <!-- Test -->
            <v-col cols="12">
              <v-textarea
                v-model="modal.inputs.test"
                class="required"
                :label="$t('test')"
                :rows="1"
                auto-grow
                :rules="rules.test"
              />
            </v-col>
            <!-- Type -->
            <v-col cols="4">
              <EditableDropdown
                v-model="modal.inputs.is"
                :items="assertionTypes"
                :label="$t('type')"
                required
                disabled
              />
            </v-col>
            <!-- Role -->
            <v-col cols="4">
              <EditableDropdown
                v-model="modal.inputs.role"
                :items="assertRoles"
                :label="$t('role')"
                required
              />
            </v-col>
            <!-- Flag -->
            <v-col cols="4">
              <EditableString v-model="modal.inputs.flag" :label="$t('flag')" :rules="rules.flag"/>
            </v-col>

            <!-- See -->
            <v-col cols="12">
              <EditableString v-model="modal.inputs.see" :label="$t('reference')" :rules="rules.see"/>
            </v-col>

            <!-- #text -->
            <v-col cols="12">
                <v-textarea
                  v-model="modal.inputs['#text']"
                  :rows="1"
                  auto-grow
                  :label="$t('description')"
                />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="selected ? 'save' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: false,
  inputs: {
    '#text': null,
    flag: null,
    role: null,
    see: null,
    test: null,
    is: null
  }
}
export default {
  name: 'AddTemplateBodyAssertReport',
  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The selected assertion
    selected: {
      type: Object,
      required: false,
      default: null
    },
    mode: {
      type: String,
      required: false,
      default: 'assert',
      validator: v => ['assert', 'report'].includes(v)
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      rules: {
        flag: [
          v => !v || v.trim().length >= 1 || this.$t('invalid-input')
        ],
        see: [
          v => !v || v.trim().length >= 1 || this.$t('invalid-input')
        ],
        test: [
          v => !!v || this.$t('required-field'),
          v => v?.trim().length >= 1 || this.$t('invalid-input')

        ]
      }
    }
  },
  computed: {
    assertionTypes () {
      return [
        {
          value: 'assert',
          text: this.$filters.getMatchingTranslation({ value: this.$t('assert'), locale: this.$i18n.locale })
        },
        {
          value: 'report',
          text: this.$filters.getMatchingTranslation({ value: this.$t('report'), locale: this.$i18n.locale })
        }
      ]
    },
    assertRoles () {
      return this.$store.getters['server/getDecorTypes']?.data?.AssertRole?.[0]?.enumeration?.map(role => ({
        value: role.value,
        text: this.$filters.getMatchingTranslation({ value: role.label, locale: this.$i18n.locale })
      })) || []
    },
    modalTitle () {
      const op = this.selected ? 'edit' : 'add'
      return this.$t(`${op}-${this.mode}`)
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    save () {
      const assertion = cloneDeep(this.modal.inputs)
      this.$emit('add', assertion)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        if (this.selected !== null) {
          this.modal.inputs = cloneDeep(this.selected)
          return
        }
        // If no assertion is available for edit, set the type
        this.modal.inputs.is = this.mode
      }

    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base)
}
</style>
