<template>
  <v-dialog :value="value" width="600" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form">
          <v-row dense>
            <!-- value -->
            <v-col cols="12">
              <EditableString
                v-model="modal.inputs.value"
                :label="$t('value')"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="selected ? 'edit' : 'add'" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  inputs: {
    value: null
  }
}
export default {
  name: 'AddTemplateBodyFixedValue',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The item to edit
    selected: {
      type: String,
      required: false,
      default: null
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    modalTitle () {
      const op = this.selected ? 'edit' : 'add'
      return this.$t(`${op}-fixed-value`)
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    save () {
      const newValue = this.modal.inputs.value
      this.$emit('add', newValue)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        if (this.selected !== null) {
          this.modal.inputs.value = this.selected || null
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
