<template>
  <v-dialog :value="value" width="600" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
          <v-spacer/>
          <v-menu left offset-x>
            <template #activator="{on, attrs}">
              <AdButton icon="mdi-cog-outline" :hint="$t('menu')"  v-on="on" v-bind="attrs" list />
            </template>
            <v-list>
                <v-list-item link dense @click="addBinding">
                  <v-list-item-icon><v-icon color="green">mdi-plus</v-icon></v-list-item-icon>
                  <v-list-item-title >{{ $t('new-binding') }}</v-list-item-title>
                </v-list-item>

                <v-list-item v-if="modal.inputs.length" link dense @click="removeCurrentBinding">
                  <v-list-item-icon><v-icon color="red">mdi-delete</v-icon></v-list-item-icon>
                  <v-list-item-title >{{ $t('remove') }} ({{ $t('binding') }} {{ modal.tab + 1 }})</v-list-item-title>
                </v-list-item>

                <v-list-group
                  v-if="offeredAttributesAvailable.length"
                  class="v-list-item--dense"
                  link
                  :value="false"
                  no-action
                  @click.stop
                >
                  <template #activator>
                      <v-list-item-title >{{ $t('new-attribute')}}</v-list-item-title>
                  </template>

                  <template #prependIcon>
                    <v-icon color="orange">mdi-plus</v-icon>
                  </template>

                  <v-list-item
                    v-for="(item, i) in offeredAttributesAvailable"
                    :key="i"
                    link
                    dense
                    @click="addInput(item)"
                  >
                    <v-list-item-title >@{{ item.name }}</v-list-item-title>
                  </v-list-item>
                </v-list-group>
            </v-list>
          </v-menu>
      </AdCardTitle>

      <v-card-text>
        <v-tabs v-model="modal.tab" class="mb-4">
          <v-tab v-for="(binding, i) in modal.inputs" :key="`binding-tab${i}`">{{ $t('binding') }} {{ i + 1 }}</v-tab>
        </v-tabs>

        <v-form ref="form" v-model="modal.formIsValid">
          <v-tabs-items v-model="modal.tab">
            <v-tab-item v-for="(binding, bi) in modal.inputs" :key="`binding-content${bi}`" eager>
              <v-row>
                <v-col cols="12">
                  <template v-for="(attribute, i) in modal.inputConfigurations[bi]">
                    <component
                      :key="`${i}-${attribute.name}`"
                      :is="getComponent(attribute.datatype)"
                      v-model="modal.inputs[bi][attribute.name]"
                      :label="`@${attribute.name}`"
                      :required="!attribute.isOptional === 'true'"
                      :rules="getRules(attribute.datatype)"
                    />
                  </template>
                </v-col>
              </v-row>
            </v-tab-item>
          </v-tabs-items>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="attributes ? 'save' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
import singleCodeValidation from '@/rules/singleCodeValidation'

const initialModal = {
  formIsValid: true,
  inputs: [],
  inputConfigurations: []
}
export default {
  name: 'AddTemplateBodyCodeBinding',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // Datatype of the template body item
    datatype: {
      type: String,
      required: false,
      default: 'ANY'
    },
    // The codes to edit
    attributes: {
      type: Array,
      required: false,
      default: null
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      possibleAttributes: [
        'code',
        'codeSystem',
        'displayName',
        'codeSystemName',
        'domain'
      ]
    }
  },
  computed: {
    offeredAttributes () {
      const datatype = this.datatype || 'ANY'
      const datatypeInfo = this.$store.getters['rule/template/datatypes']?.type?.find(type => type.name === datatype)
      return datatypeInfo?.attribute?.filter(attr => this.possibleAttributes.includes(attr.name)) || []
    },
    offeredAttributesAvailable () {
      const binding = this.modal.inputs[this.modal.tab]
      if (!binding) {
        return this.offeredAttributes
      }
      return this.offeredAttributes.filter(attr => binding[attr.name] === undefined)
    },
    modalTitle () {
      const op = this.attributes ? 'edit' : 'add'
      return this.$t(`${op}-code-binding`)
    }
  },
  methods: {
    addBinding () {
      this.modal.inputConfigurations.push(cloneDeep(this.offeredAttributes))

      const inputValues = {}
      this.offeredAttributes.forEach(attr => {
        inputValues[attr.name] = ''
      })

      this.modal.inputs.push(inputValues)

      this.modal.tab = this.modal.inputs.length - 1
    },
    addInput (attribute) {
      this.$set(this.modal.inputs[this.modal.tab], attribute.name, '')
      this.modal.inputConfigurations[this.modal.tab].push(attribute)
    },
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    getComponent (datatype) {
      if (['oid'].includes(datatype)) {
        return 'EditableOID'
      }
      return 'EditableString'
    },
    getRules (datatype) {
      if (datatype === 'int') {
        return [
          v => /^[0-9]*$/.test(v) || this.$t('invalid-input')
        ]
      }
      if (datatype === 'cs') {
        return singleCodeValidation
      }
      return []
    },
    async removeCurrentBinding () {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (!agree) {
        return
      }

      this.modal.inputs.splice(this.modal.tab, 1)
      this.modal.inputConfigurations.splice(this.modal.tab, 1)

      if (this.modal.inputs.length) {
        this.modal.tab = 0
      } else {
        this.modal.tab = null
      }
    },
    save () {
      const attributes = this.modal.inputs
      this.$emit('add', attributes)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      async handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        // Get template datatypes if not present
        if (!this.$store.getters['rule/template/datatypes']) {
          await this.$store.dispatch('rule/template/getTemplateDatatypes')
        }

        // Configure modal if there are code bindings passed to edit
        if (Array.isArray(this.attributes)) {
          this.modal.inputs = cloneDeep(this.attributes)

          const inputConfigurations = []
          this.modal.inputs.forEach(input => {
            const conf = []
            Object.keys(input).forEach(key => {
              const configuration = this.offeredAttributes.find(offAtt => offAtt.name === key)
              if (configuration) {
                conf.push(configuration)
              }
            })
            inputConfigurations.push(conf)
          })
          this.modal.inputConfigurations = inputConfigurations
          return
        }
        // Configure modal for adding new code bindings
        this.modal.inputConfigurations = [cloneDeep(this.offeredAttributes)]
        this.modal.inputConfigurations.forEach((conf, confIndex) => {
          conf.forEach(input => {
            this.modal.inputs[confIndex].push({ [input.name]: '' })
          })
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}

.v-list-item--dense > .v-list-group__header {
  min-height: 40px;
}
</style>
