<template>
  <v-dialog :value="value" width="800" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row>
            <v-col>
              <v-autocomplete
                v-model="modal.inputs.element"
                :items="elementsToChooseFrom"
                :label="$t('elements')"
                multiple
                chips
                small-chips
                deletable-chips
                item-text="name"
                item-value="uuid"
                return-object
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="selected ? 'edit' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: true,
  inputs: {
    element: []
  }
}
export default {
  name: 'AddTemplateBodyChoice',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The selected assertion
    selected: {
      type: Object,
      required: false,
      default: null
    },
    parent: {
      type: Object,
      required: false,
      default: null
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    elementsToChooseFrom () {
      if (this.parent === null) {
        return []
      }
      return this.parent.items?.filter(item => item.is === 'element' && item.selector === true) || []
    },
    modalTitle () {
      const op = this.selected ? 'edit' : 'add'
      return this.$t(`${op}-choice`)
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    save () {
      const elements = cloneDeep(this.modal.inputs.element)
      this.$emit('add', elements)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        if (this.selected !== null) {
          this.modal.inputs.element = cloneDeep(this.selected.element)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
