<template>
  <v-dialog :value="value" width="600" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <!-- Name -->
            <v-col cols="12">
              <EditableShortFormalName v-model="modal.inputs.name" :label="$t('name')"/>
            </v-col>
            <!-- value -->
            <v-col cols="12">
              <v-textarea
                v-model="modal.inputs.value"
                class="required"
                :label="$t('value')"
                :rows="1"
                auto-grow
                :rules="rules.value"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="selected ? 'edit' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: false,
  inputs: {
    name: null,
    value: null
  }
}
export default {
  name: 'AddTemplateBodyLet',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The selected assertion
    selected: {
      type: Object,
      required: false,
      default: null
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      rules: {
        value: [
          v => !!v || this.$t('required-field'),
          v => v?.trim().length >= 1 || this.$t('invalid-input')
        ]
      }
    }
  },
  computed: {
    modalTitle () {
      const op = this.selected ? 'edit' : 'add'
      return this.$t(`${op}-let`)
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    save () {
      const newLet = cloneDeep(this.modal.inputs)
      this.$emit('add', newLet)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        if (this.selected !== null) {
          this.modal.inputs.name = this.selected.name || null
          this.modal.inputs.value = this.selected.value || null
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
