<template>
  <v-dialog :value="value" width="500" persistent>
      <v-card>
        <AdCardTitle dialog>
            {{ modalTitle }}
        </AdCardTitle>

        <v-card-text>
          <v-form ref="form" v-model="modal.formIsValid">
            <v-row>
              <v-col cols="4">
                <EditableDropdown
                  :items="namespaces"
                  v-model="modal.ns"
                  :label="$t('namespace')"
                  required
                />
              </v-col>
              <v-col cols="8">
                <EditableShortFormalName :label="$t('name')" v-model="modal.name" />
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="closeModal"/>
          <AdButton type="add" :disabled="!modal.formIsValid" @click="save" />
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
const initialModal = {
  formIsValid: false,
  ns: null,
  name: null

}
export default {
  name: 'AddTemplateBodyElement',
  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    defaultNamespace () {
      return this.projectInFocus?.ns?.find(ns => ns.default === 'true')?.prefix
    },
    modalTitle () {
      return this.$t('add')
    },
    namespaces () {
      return this.projectInFocus?.ns?.map(ns => ns?.prefix) || []
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    save () {
      this.$emit('add', {
        ns: this.modal.ns,
        name: this.modal.name
      })
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (modalIsOpen) {
          this.modal.ns = this.defaultNamespace || null
        }
      }
    }
  }
}
</script>

<style>

</style>
