<template>
  <v-dialog :value="value" width="600" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <!-- Text -->
            <v-col cols="12">
              <v-combobox
                v-model="modal.inputs.text"
                class="required"
                multiple
                chips
                deletable-chips
                :label="$t('text')"
                :rules="[v => v.length > 0 || $t('required-field')]"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="selected ? 'edit' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: false,
  inputs: {
    text: []
  }
}
export default {
  name: 'AddTemplateBodyText',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The selected text array
    selected: {
      type: Array,
      required: false,
      default: null
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    modalTitle () {
      const op = this.selected ? 'edit' : 'add'
      return this.$t(`${op}-text`)
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    save () {
      const newText = cloneDeep(this.modal.inputs.text)
      this.$emit('add', newText)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        if (this.selected !== null) {
          this.modal.inputs.text = cloneDeep(this.selected) || null
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
