<template>
  <v-dialog :value="value" width="500" persistent>
      <v-card>
        <AdCardTitle dialog>{{ $t('new-attribute') }}</AdCardTitle>

        <v-card-text class="pa-5">
          <v-combobox
            v-model="modal.selectedAttribute"
            :items="availableAttributes"
            :search-input.sync="modal.customAttribute"
            item-text="name"
            item-value="name"
            :label="$t('name')"
            class="required"
            small-chips
            hide-selected
            @change="handleChangeSelectedAttribute"
          >
            <template #no-data>
              <v-list-item v-if="modal.customAttribute">
                <v-list-item-content>
                  <v-list-item-title><div v-html="$t('press-enter-to-add-new-item')"/></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <template #append-item>
              <v-list-item v-if="showAppendedMenuItem">
                <v-list-item-content>
                  <v-list-item-title><div v-html="$t('press-enter-to-add-new-item')"/></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-combobox>
          <v-autocomplete
            v-model="modal.selectedDatatype"
            :disabled="!modal.selectedAttribute"
            :items="availableAttributeDatatypes"
            :label="$t('datatype')"
            clearable
          />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="closeModal"/>
          <AdButton type="add" :disabled="!modal.selectedAttribute" @click="save" />
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import { cloneDeep, isString } from 'lodash'
const initialModal = {
  customAttribute: null,
  selectedAttribute: null,
  selectedDatatype: null
}
export default {
  name: 'AddTemplateBodyAttribute',
  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      default: false
    },
    // The element that the attribute will be added to
    parentElement: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    availableAttributes () {
      const elementsForDatatype = this.resolvedElementDatatype?.attribute ?? []
      return elementsForDatatype.filter((_) => !this.elementAttributes.includes(_.name))
    },
    availableAttributeDatatypes () {
      if (!this.modal.selectedAttribute) return []
      const { datatype } = this.modal.selectedAttribute
      if (!datatype) return this.defaultAttributeDatatypes
      return this.datatypes.find(type => type.name === datatype)?.item?.map(({ name }) => name) || []
    },
    datatypes () {
      return this.$store.getters['rule/template/datatypes']?.type ?? []
    },
    defaultAttributeDatatypes () {
      return this.datatypes.filter(type => type.type === 'simpletype').map(({ name }) => name)
    },
    // Get the names of the attributes that are already present in the parent element
    elementAttributes () {
      if (!Array.isArray(this.parentElement?.items)) return []
      return this.parentElement.items.filter((_) => _.is === 'attribute').map((_) => _.name)
    },
    // Get the datatype of the parent element
    elementDatatype () {
      return this.parentElement?.datatype
    },
    resolvedElementDatatype () {
      if (!this.elementDatatype) return null
      return this.datatypes.find(type => type.name === this.elementDatatype)
    },
    showAppendedMenuItem () {
      return this.modal.customAttribute && this.availableAttributes.filter(_ => _.name?.includes(this.modal.customAttribute)).length
    }

  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    async handleChangeSelectedAttribute (value) {
      // Make sure that if the user types a recognized attribute name (instead of selecting it from the list), the attribute object is set.
      if (isString(value)) {
        const attribute = this.availableAttributes.find(attr => attr.name === value)
        if (attribute) {
          this.modal.selectedAttribute = attribute
        }
      }

      // Set the datatype based on the selected attribute
      this.modal.selectedDatatype = this.modal.selectedAttribute?.datatype ?? null
    },
    save () {
      const attribute = isString(this.modal.selectedAttribute)
        ? this.modal.selectedAttribute
        : this.modal.selectedAttribute?.name ?? null
      const datatype = this.modal.selectedDatatype
      this.$emit('add', {
        attribute,
        datatype
      })
      this.closeModal()
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
