<template>
  <v-dialog :value="value" width="1000" persistent>
    <v-card :loading="modal.loading.postExample">
      <AdCardTitle dialog>
          {{ modalTitle }}
          <v-spacer/>
          <v-menu left offset-x >
            <template #activator="{on, attrs}">
              <AdButton icon="mdi-cog-outline" v-on="on" v-bind="attrs" list :disabled="modal.loading.postExample"/>
            </template>
            <v-list>
                <v-list-item
                  v-if="!singleMode"
                  link
                  dense
                  @click="newExample()"
                >
                  <v-list-item-icon><v-icon color="orange">mdi-plus</v-icon></v-list-item-icon>
                  <v-list-item-title >{{ $t('add-example') }}</v-list-item-title>
                </v-list-item>
                <v-list-item
                  v-if="!singleMode"
                  link
                  dense
                  @click="deleteExample"
                >
                  <v-list-item-icon><v-icon color="orange">mdi-delete</v-icon></v-list-item-icon>
                  <v-list-item-title >{{ $t('delete-example') }}</v-list-item-title>
                </v-list-item>
                <v-list-item
                  link
                  dense
                  @click="autoGenerateExample"
                >
                  <v-list-item-icon><v-icon color="orange">mdi-auto-fix</v-icon></v-list-item-icon>
                  <v-list-item-title >{{ $t('generate-example') }}</v-list-item-title>
                </v-list-item>
            </v-list>
          </v-menu>
      </AdCardTitle>

      <v-card-text>
        <v-tabs v-if="!singleMode" v-model="modal.tab">
          <v-tab v-for="(example, i) in modal.inputs.examples" :key="`example-tab${i}`">{{ $t('example') }} {{ i + 1 }}</v-tab>
        </v-tabs>

        <component :is="singleMode ? 'div' : 'v-tabs-items'" v-model="modal.tab">
          <component :is="singleMode ? 'div' : 'v-tab-item'" v-for="(example, i) in modal.inputs.examples" :key="`example-content${i}`">
            <v-form>
              <v-row>
                <v-col cols="9">
                  <EditableString
                    v-model="modal.inputs.examples[i].caption"
                    :label="$t('title')"
                    hide-details
                    :disabled="modal.loading.postExample"
                  />
                </v-col>
                <v-col cols="3">
                  <EditableDropdown
                  v-model="modal.inputs.examples[i].type"
                  :items="exampleTypes"
                  :label="$t('type')"
                  :disabled="modal.loading.postExample"
                />
                </v-col>

                <v-col style="position: relative">
                  <AdButton type="copy" list  class="example-copy-btn" @click="copyCodeToClipboard(modal.inputs.examples[i]['#text'])"/>
                  <CodeMirror
                    :ref="`codeMirror-${example.id}`"
                    :key="example.id"
                    :class="$filters.getExampleBackgroundColor(example.type)"
                    :code="modal.inputs.examples[i]['#text']"
                    language="application/xml"
                    :readOnly="false"
                    @change="handleChange($event, i)"
                    @click="focusOnExampleText(example.id)"
                    class="codemirror-examples"
                  ></CodeMirror>
                </v-col>
              </v-row>
            </v-form>
          </component>
        </component>
        <v-row v-if="!modal.inputs.examples.length">
          <v-col class="d-flex justify-center">
            <AdButton type="add" :text="$t('add-example')" @click="newExample()"/>
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer/>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="examples ? 'save' : 'add'" :disabled="!modal.formIsValid || modal.loading.postExample" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
import CodeMirror from '@/components/Utilities/CodeMirror'
import TemplateService from '@/services/TemplateService'
import vkbeautify from 'vkbeautify'

import { VTabsItems, VTabItem } from 'vuetify/lib'

const initialModal = {
  formIsValid: true,
  inputs: {
    examples: []
  },
  tab: 0,
  loading: {
    postExample: false
  }
}
export default {
  name: 'AddTemplateBodyExample',
  components: {
    CodeMirror,
    VTabsItems,
    VTabItem
  },

  props:
     {
       // Open/close state of the modal
       value: {
         type: Boolean,
         required: false,
         default: false
       },
       // The selected examples
       examples: {
         type: Array,
         required: false,
         default: null
       },
       //  Provide an element id to enable automatic example generation based on this element
       elementId: {
         type: String,
         required: false,
         default: null
       },
       //  The full template, needed for automatic example generation
       template: {
         type: Object,
         required: false,
         default: null
       },
       singleMode: {
         type: Boolean,
         required: false,
         default: false
       }
     },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    exampleTypes () {
      return this.$store.getters['server/getExampleTypes'].map(type => ({
        text: this.$filters.getMatchingTranslation({ value: type.label }),
        value: type.value
      }))
    },
    modalTitle () {
      const op = this.examples ? 'edit' : 'add'
      return this.$t(`${op}-example`)
    }
  },
  methods: {
    async autoGenerateExample () {
      const selectedExampleIsEmpty = this.modal.inputs.examples?.[this.modal.tab]?.['#text']?.trim() === '' && this.modal.inputs.examples[this.modal.tab].caption?.trim() === ''

      if (this.singleMode && !selectedExampleIsEmpty) {
        const agree = await this.$confirm('generate-example-warning')
        if (!agree) {
          return
        }
      }
      try {
        const data = { projectPrefix: this.projectInFocus?.prefix, ...this.template }
        const params = {
          elementId: this.elementId,
          serialized: true
        }
        this.modal.loading.postExample = true
        const res = await TemplateService.postTemplateExample(data, params)
        const generated = res.data
        const mode = this.singleMode || (selectedExampleIsEmpty)
          ? 'replace'
          : 'add'
        this.newExample(generated, { mode })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.modal.loading.postExample = false
    },
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    async copyCodeToClipboard (text) {
      const indentPattern = 2 // number of white spaces
      const beautifulCode = vkbeautify.xml(text, indentPattern)

      await navigator.clipboard.writeText(beautifulCode)
      this.$notify(this.$t('copied-to-clipboard'), 'info')
    },
    async deleteExample () {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        this.modal.inputs.examples.splice(this.modal.tab, 1)
      }
    },
    focusOnExampleText (exampleId) {
      const ref = `codeMirror-${exampleId}`
      if (this.$refs[ref]?.[0]?.codeMirrorInstance) {
        this.$refs[ref][0].codeMirrorInstance.focus()
      }
    },
    handleChange (newVal, exampleIndex) {
      this.modal.inputs.examples[exampleIndex]['#text'] = newVal
    },
    /**
     * First param: object with type, #text and caption for the example to be created
     * Second param: options.
     *                mode: not specified will add the example to the end
     *                      'replace' to replace the currently selected example
     */
    async newExample ({ type = 'neutral', '#text': text = '', caption = '' } = {}, { mode } = {}) {
      const newExample = {
        id: this.getUuid(),
        type,
        '#text': text,
        caption
      }

      if (mode === 'replace') {
        this.modal.inputs.examples.splice(this.modal.tab, 1, newExample)
      } else {
        this.modal.inputs.examples.push(newExample)
        await this.$nextTick()
        this.modal.tab = this.modal.inputs.examples.length - 1
      }
    },
    save () {
      const examples = cloneDeep(this.modal.inputs.examples)
      examples.forEach(ex => delete ex.id)
      this.$emit('add', examples)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        if (this.examples !== null) {
          this.modal.inputs.examples = cloneDeep(this.examples).map(example => ({
            id: this.getUuid(),
            ...example
          }))
          return
        }
        this.newExample()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
.codemirror-examples {
  min-height: 5rem !important;
}
.example-copy-btn {
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 30px;
}
</style>
