<template>
  <v-dialog :value="value" width="600" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <!-- Label -->
            <v-col cols="12">
              <EditableString v-model="modal.inputs.label" :label="$t('label')" required />
            </v-col>
            <!-- desc -->
            <v-col cols="12">
              <EditableTranslationEditor
                v-model="modal.inputs.desc"
                :label="$t('description')"
                :locales="projectLocales"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="selected ? 'edit' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: false,
  inputs: {
    label: null,
    desc: null
  }
}
export default {
  name: 'AddTemplateBodyReference',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The selected assertion
    selected: {
      type: Object,
      required: false,
      default: null
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    modalTitle () {
      const op = this.selected ? 'edit' : 'add'
      return this.$t(`${op}-reference`)
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    save () {
      const newReference = cloneDeep(this.modal.inputs)
      this.$emit('add', newReference)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        if (this.selected !== null) {
          this.modal.inputs.label = this.selected.label || null
          this.modal.inputs.desc = cloneDeep(this.selected.labeldesc) || null
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
