<template>
  <v-dialog :value="value" width="600" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <v-col cols="12">
              <v-text-field
                v-model="modal.inputs.predicate"
                :label="$t('predicate-slice')"
                :rules="[v => isValidPredicate(v) || $t('invalid-input')]"
                class="required"
                hide-details
                clearable
              />
            </v-col>
          </v-row>
          <v-row dense>
            <v-col>
              <span>{{ $t('preview') }}: </span>
              <span v-if="modal.formIsValid" class="text--disabled font-italic">{{ nameWithNewPredicate }}</span>
              <span v-else class="font-italic error--text">{{ $t('invalid-input') }}</span>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="confirmButtonType" :disabled="confirmButtonDisabled" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: false,
  inputs: {
    predicate: ''
  }
}
const PREDICATE_REGEX = /\[.*\]$/
export default {
  name: 'AddTemplateBodyPredicate',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The name of the element, that might include a predicate
    name: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    confirmButtonDisabled () {
      return !this.modal.formIsValid || this.name === this.nameWithNewPredicate
    },
    confirmButtonType () {
      if (this.nameWithoutPredicate !== this.name && !this.modal.inputs.predicate) {
        return 'remove'
      }
      return this.nameHasPredicate ? 'save' : 'add'
    },
    modalTitle () {
      const op = this.nameHasPredicate ? 'edit' : 'add'
      return this.$t(`${op}-predicate-slice`)
    },
    nameHasPredicate () {
      return PREDICATE_REGEX.test(this.name)
    },
    nameWithoutPredicate () {
      return this.name?.replace(PREDICATE_REGEX, '') || ''
    },

    nameWithNewPredicate () {
      return this.modal.inputs.predicate?.length
        ? `${this.nameWithoutPredicate}${this.modal.inputs.predicate}`
        : this.nameWithoutPredicate
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    erasePredicate () {
      this.modal.inputs.predicate = ''
    },
    isValidPredicate (str) {
      return !str || PREDICATE_REGEX.test(str)
    },
    save () {
      const newName = this.nameWithNewPredicate
      this.$emit('add', newName)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      async handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }

        if (this.nameHasPredicate) {
          this.modal.inputs.predicate = this.name.replace(this.nameWithoutPredicate, '')
        }

        await this.$nextTick()
        this.modal.formIsValid = this.$refs.form.validate()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
