<template>
  <v-dialog :value="value" width="800" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <!-- :: {{ JSON.stringify(selected) }} :: -->
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row>
            <!-- Type of Binding Strength -->
            <v-col cols="8">
              <EditableDropdown
                v-model="modal.inputs.strength"
                :items="bindingTypes"
                :label="$t('binding-strength')"
              />
            </v-col>
            <v-col cols="4">
              <AdButton
                :disabled="modal.inputs.strength === null ? true : false"
                type="erase"
                class="topmargin"
                list
                @click="eraseStrength"/>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="selected ? 'save' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: true,
  inputs: {
    strength: null
  }
}
export default {
  name: 'AddTemplateBodyAssertReport',
  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The selected coded element to edit
    selected: {
      type: String,
      required: false,
      default: null
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      rules: {
      }
    }
  },
  computed: {
    bindingTypes () {
      return [
        {
          value: 'required',
          text: this.$t('required') + ' (required)'
        },
        {
          value: 'extensible',
          text: this.$t('extensible') + ' (extensible)'
        },
        {
          value: 'example',
          text: this.$t('example') + ' (example)'
        },
        {
          value: 'preferred',
          text: this.$t('preferred') + ' (preferred)'
        }
      ]
    },
    modalTitle () {
      const op = this.selected ? 'edit' : 'add'
      return this.$t(`${op}-binding-strength`)
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    save () {
      const strength = cloneDeep(this.modal.inputs)
      this.$emit('add', strength)
      this.closeModal()
    },
    eraseStrength () {
      this.modal.inputs.strength = null
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        if (this.selected !== null) {
          this.modal.inputs.strength = cloneDeep(this.selected)
        }
      }

    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
::v-deep .topmargin {
  padding-top: 20px !important;
}
</style>
