<template>
  <v-dialog :value="value" width="600" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <v-col>
              <template v-for="prop in allowedProperties">
                  <component
                  :key="prop.name"
                    :is="getComponent(prop.name)"
                    v-model="modal.inputs[prop.name]"
                    :label="`@${prop.name}`"
                    :required="false"
                  />
              </template>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="property ? 'save' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: true,
  inputs: {

  }
}
export default {
  name: 'AddTemplateBodyProperty',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The properties to edit
    property: {
      type: Object,
      required: false,
      default: null
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      rules: {

      }
    }
  },
  computed: {
    allowedProperties () {
      return this.$store.getters['server/getDecorTypes']?.data?.property?.[0]?.attribute || []
    },
    modalTitle () {
      const op = this.property ? 'edit' : 'add'
      return this.$t(`${op}-properties`)
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    getComponent (prop) {
      if (['minInclude', 'maxInclude', 'fractionDigits', 'minLength', 'maxLength'].includes(prop)) {
        return 'EditableCount'
      }
      return 'EditableString'
    },
    save () {
      const properties = cloneDeep(this.modal.inputs)
      this.$emit('add', properties)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          return
        }
        if (this.property !== null) {
          this.modal.inputs = cloneDeep(this.property)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
