<template>
  <div class="associations-mappings-wrapper"
    :class="{'is-droppable': !!activeDatasetScenarioItem, 'drag-over': isDragOver}" @dragover="onDragOver({ $event })"
    @drop="onDrop({ $event })">
    <div class="mb-5">
      <AdInfoOwl v-if="!activeDatasetScenarioItem">
        {{ `${$t('select-dataset')} ${$t('or')} ${$t('select-scenario')}` }}
      </AdInfoOwl>
      <v-card v-else class="associations-details-card">
        <div class="associations-details-card-header d-flex flex-row align-center pr-4 backdrop-item">
          <div class="d-flex flex-column justify-center flex-grow-1">
            <v-slide-y-transition group leave-absolute>
              <AdCardTitle key="title">
                <AdStatusDot darker larger :status="activeDatasetScenarioItem.statusCode"
                  :icon="$filters.getDatasetIcon(activeDatasetScenarioItem)" class="mr-2 mb-1" />
                <span>{{ $filters.getMatchingTranslation({ value: activeDatasetScenarioItem.name }) }}</span>
              </AdCardTitle>
              <v-card-subtitle key="subtitle" class="subtitle-2 pt-2">{{ conformanceAndCardinality }}
              </v-card-subtitle>
            </v-slide-y-transition>
          </div>
        </div>

        <v-card-text>
          <EditableArtefactDetailHeader :artefact="'Dataset'" :item="this.activeDatasetScenarioItem"
            :locales="projectLocales" :readonly="true" :has-details="false" />
        </v-card-text>
      </v-card>
    </div>

    <div class="mb-5">
      <AdInfoOwl v-if="!$filters.get(activeTemplateItem, 'items.0')">
        {{ $t('select-template-profile') }}
      </AdInfoOwl>
      <div v-else>
        <TemplateDesignBody :template="activeTemplateItem" :editable="false" class="template-design-body">
          <template v-slot:card-title>
            <AdCardTitle key="title" class="mb-3">
              <AdStatusDot darker tooltip larger :status="activeTemplateItem.statusCode"
                :icon="$filters.getTemplateIcon(activeTemplateItem)" class="mr-2 mb-1" />
              <span>{{ activeTemplateItem.name }}</span>
            </AdCardTitle>
          </template>
        </TemplateDesignBody>
      </div>
    </div>

    <div v-if="(activeDatasetScenarioItem && activeDatasetScenarioUsage)" class="mb-5">
      <v-card class="associations-mappings-card">
        <AdCardTitle key="title" class="mb-3">
          <AdStatusDot darker larger status="pending" icon="mdi-map-legend" class="mr-2 mb-1" />
          <span>{{ $t('template-mapping') }}</span>
        </AdCardTitle>

        <v-card-text class="pb-2">
          <div v-if="$filters.get(activeDatasetScenarioUsage, 'templateAssociation', []).length === 0">
            <AdInfoOwl v-if="!isLoadingActiveDatasetScenarioUsage" class="mb-1">
              {{ $t('no-template-mapping-so-far-hint') }}
            </AdInfoOwl>
            <v-skeleton-loader v-else class="mx-auto" type="list-item-two-line" />
          </div>
          <div v-else>
            <AdInfoOwl>{{ $t('template-mapping-add-hint') }}</AdInfoOwl>
            <template
              v-for="(association, index) of $filters.get(activeDatasetScenarioUsage, 'templateAssociation', [])">
              <div :key="index" class="associations-mappings-item grey lighten-4 overflow-auto">
                <div class="d-flex flex-row align-stretch">
                  <div class="associations-mappings-item-left">
                    <div class="mb-2">
                      <v-icon v-if="activeRootDatasetScenarioType === 'dataset'" color="primary">
                        mdi-book-open-blank-variant
                      </v-icon>
                      <v-icon v-else-if="activeRootDatasetScenarioType === 'scenario'" color="primary">
                        mdi-movie
                      </v-icon>
                    </div>
                    <div>
                      <TreeviewIcon v-if="activeRootDatasetScenarioType === 'dataset'"
                        :active-item="activeDatasetScenarioItem" artefact="DE" />
                      <TreeviewIcon v-if="activeRootDatasetScenarioType === 'scenario'"
                        :active-item="activeDatasetScenarioItem" artefact="DE" />
                    </div>
                  </div>
                  <div class="associations-mappings-item-center flex-grow-1 pl-3 pr-6">
                    <div
                      class="associations-mappings-arrow-wrapper"
                      :style="isTemplateAssociationWritable ? 'height: 38px' : 'height:24px'"
                    >
                      <div class="associations-mappings-arrow">
                        <div v-if="isTemplateAssociationWritable" class="associations-mappings-delete-wrapper">
                          <AdButton type="lighterase" fab x-small @click.prevent.stop="onDelete(association)" />
                        </div>
                      </div>
                    </div>

                    <!-- show the template association -->
                    <div class="d-flex flex-grow-1 d-flex" @click="onClick(association)">
                      <div class="pr-3 font-weight-bold">
                        <!-- the data set item source -->
                        {{ $filters.getMatchingTranslation({ value: activeDatasetScenarioItem.name }) }}
                      </div>
                      <div class="pr-3">&#8594;</div>
                      <!-- the template target -->
                      <div class="pr-3 ">
                        <span class="font-weight-bold">{{ getLinkedPath(association) }}</span>
                        <div>
                          <span class="font-italic">{{ association.targetDisplayName }}</span>
                          {{ $t('as-of') }}
                          {{ $filters.formatDateShort(association.targetEffectiveDate) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="associations-mappings-item-right">
                    <div class="mb-2">
                      <v-icon color="primary">mdi-recycle</v-icon>
                    </div>
                    <div>
                      <TreeviewIcon :active-item="getLinkedAssociationItem(association)" artefact="TI" />
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </v-card-text>
      </v-card>
    </div>

    <div class="associations-mappings-drag-over-layer" @dragleave="onDragLeave({ $event })">
      <v-icon class="mr-2" large>mdi-inbox-arrow-down</v-icon>
      <span class="text-h5">DROP HERE</span>
    </div>
  </div>
</template>

<script>
import EditableArtefactDetailHeader from '@/components/Utilities/Editable/EditableStructure/EditableArtefactDetailHeader'
import TemplateDesignBody from '@/components/Rule/TemplateDesignBody'
import TemplateService from '@/services/TemplateService'
import TreeviewIcon from '@/components/Utilities/Treeview/TreeviewIcon'

export default {
  components: {
    TreeviewIcon,
    TemplateDesignBody,
    EditableArtefactDetailHeader
  },

  props: {
    activeRootDatasetScenarioType: {
      type: String,
      required: false,
      default: undefined
    },
    activeRootDatasetScenarioItem: {
      type: Object,
      required: false,
      default: undefined
    },
    activeDatasetScenarioItem: {
      type: Object,
      required: false,
      default: () => ({})
    },
    activeTemplateItem: {
      type: Object,
      required: false,
      default: () => ({})
    }
  },

  data () {
    return {
      isDragOver: false,
      activeDatasetScenarioUsage: null,
      isLoadingActiveDatasetScenarioUsage: false
    }
  },

  computed: {
    conformanceAndCardinality () {
      if (this.activeRootDatasetScenarioType !== 'scenario') {
        return
      }

      return [
        this.$filters.getCardinality(this.activeDatasetScenarioItem),
        this.conformance(this.activeDatasetScenarioItem)
      ]
        .filter((value) => !!value)
        .join(' / ')
    },

    /**
     * Get conformance for an item.
     * Has to be a computed variable to make it work with dynamic translations.
     * @returns {(function(*): (*|null))|*}
     */
    conformance () {
      return (item) => {
        if (item?.isMandatory !== 'true') {
          const { conformance } = item
          if (conformance != null) {
            const conformanceType = this.conformanceTypes.find((type) => type.value === conformance)
            if (conformanceType) {
              return conformanceType.text
            } else if (conformance === 'O') {
              // optional?
              return this.$t('optional')
            } else {
              // in case the conformanceType is not offered in getDecorTypes,
              // fallback to value in offered by api
              return conformance
            }
          } else {
            return null
          }
        } else {
          // return translation for mandatory
          return this.$t('mandatory')
        }
      }
    },

    /**
     * Get conformance types.
     * @returns {*}
     */
    conformanceTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.ConformanceType?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    },

    /**
     * Check if template association is writable.
     * @returns {false|*}
     */
    isTemplateAssociationWritable () {
      return !!this.serverFeature({
        path: 'decor.rules.associations',
        crudAction: 'write'
      }) && this.userIsEditor
    }
  },

  mounted () {
    // Get prefix.
    const prefix = this.projectInFocus?.prefix
    // Unsubscribe to socket events.
    this.sockets.unsubscribe(`PATCH/${prefix}/templateAssociation`)
    // Subscribe to socket events.
    this.sockets.subscribe(`PATCH/${prefix}/templateAssociation`, (data) => {
      // Get request data.
      const { request } = data
      // Check if emitter is socket id.
      if (request.emitter === this.socketId) {
        // Don't handle events that are caused by own HTTP requests
        return
      }

      // Load active dataset scenario usage.
      this.loadActiveDatasetScenarioUsage(true)
      // Reload template associations.
      this.reloadTemplateAssociations()
    })
  },

  watch: {
    /**
     * Watch active dataset scenario item to load usage data.
     */
    activeDatasetScenarioItem: {
      immediate: true,
      deep: true,
      handler () {
        // Load active dataset scenario usage.
        this.loadActiveDatasetScenarioUsage()
      }
    }
  },

  methods: {
    /**
     * Get linked association item.
     * @param object
     * @returns {*}
     */
    getLinkedAssociationItem (object) {
      return {
        is: object?.path?.[0]?.type
      }
    },

    /**
     * Get linked path.
     * @param object
     * @returns {*}
     */
    getLinkedPath (object) {
      const path = String(object?.path?.[0]?.['#text'] || '').split('/')
      const firstPath = path?.[0].replace(/\W\([^)]*\)\W?$/, '')
      const lastPath = path?.[path.length - 1].replace(/\W\([^)]*\)\W?$/, '')

      return path.length > 1
        ? `${firstPath} / ${lastPath}`
        : firstPath
    },

    /**
     * Load active dataset scenario usage.
     */
    loadActiveDatasetScenarioUsage (silentReload = false) {
      // Check if silent reload is false.
      if (!silentReload) {
        // Set is loading state to true.
        this.isLoadingActiveDatasetScenarioUsage = true
        // Reset active dataset scenario usage.
        this.activeDatasetScenarioUsage = []
      }
      // Prepare payload.
      const payload = {
        id: this.activeDatasetScenarioItem?.id,
        effectiveDate: this.activeDatasetScenarioItem?.effectiveDate,
        params: {}
      }

      // Stop execution if payload data is missing.
      if (!payload.id || !payload.effectiveDate) {
        // Set is loading state to false.
        this.isLoadingActiveDatasetScenarioUsage = false
        // Return.
        return
      }

      // Get concept usage.
      this.$store.dispatch('dataset/getConceptUsage', payload).then((usage) => {
        // Set active dataset scenario usage.
        this.activeDatasetScenarioUsage = usage
      }).finally(() => {
        // Set is loading state to false.
        this.isLoadingActiveDatasetScenarioUsage = false
      })
    },

    /**
     * On click event.
     */
    onClick (association) {
      // Update active template item.
      this.$emit('update:active-template-item', {
        ...this.activeTemplateItem,
        forceLazyLoad: true,
        id: association?.targetId,
        effectiveDate: association?.targetEffectiveDate,
        elementId: association?.elementId
      })
    },

    /**
     * On drag over event.
     * @param $event
     */
    onDragOver ({ $event }) {
      // Prevent default.
      $event.preventDefault()
      // Set is drag over to true.
      this.isDragOver = true
      // Emit on drag over event.
      this.$emit('onDragOver')
    },

    /**
     * On drag leave event.
     * @param $event
     */
    onDragLeave ({ $event }) {
      // Prevent default.
      $event.preventDefault()
      // Set is drag over to false.
      this.isDragOver = false
      // Emit on drag leave event.
      this.$emit('onDragLeave')
    },

    /**
     * On drop event.
     * @param $event
     */
    async onDrop ({ $event }) {
      // Check if server feature for write is active.
      if (!this.isTemplateAssociationWritable) {
        return
      }

      // Prevent default.
      $event.preventDefault()
      this.isDragOver = false
      // Set is drag over to false.
      // Emit on drag leave event.
      this.$emit('onDragLeave')

      const dataTransfer = JSON.parse($event.dataTransfer.getData('text/plain'))
      if (!dataTransfer?.id) {
        return
      }

      // Define parameter.
      const parameter = {
        parameter: [{
          op: 'add',
          path: '/concept',
          value: {
            concept: {
              ref: this.activeDatasetScenarioItem?.id,
              effectiveDate: this.activeDatasetScenarioItem?.effectiveDate,
              elementId: dataTransfer?.id
            }
          }
        }]
      }

      // Patch template association.
      await TemplateService.patchTemplateAssociation(
        this.activeTemplateItem?.id,
        this.activeTemplateItem?.effectiveDate,
        this.projectSelected.prefix,
        parameter,
        { broadcast: `PATCH/${this.activeTemplateItem?.ident}/templateAssociation` }
      )

      // Load active dataset scenario usage.
      this.loadActiveDatasetScenarioUsage(true)
      // Reload template associations.
      this.reloadTemplateAssociations()
    },

    /**
     * On delete event.
     * @param association
     * @returns {Promise<void>}
     */
    async onDelete (association) {
      // Check if server feature for write is active.
      if (!this.isTemplateAssociationWritable) {
        return
      }

      if (!association?.elementId) {
        return
      }

      const confirmed = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'), {
        positive: this.$t('delete'),
        icon: 'mdi-delete'
      })
      if (!confirmed) {
        return
      }

      // Define parameter.
      const parameter = {
        parameter: [{
          op: 'remove',
          path: '/concept',
          value: {
            concept: {
              ref: this.activeDatasetScenarioItem?.id,
              effectiveDate: this.activeDatasetScenarioItem?.effectiveDate,
              elementId: association?.elementId
            }
          }
        }]
      }

      await TemplateService.patchTemplateAssociation(
        association?.targetId,
        association?.targetEffectiveDate,
        this.projectSelected.prefix,
        parameter,
        { broadcast: `PATCH/${this.projectSelected.prefix}/templateAssociation` }
      )

      // Load active dataset scenario usage.
      this.loadActiveDatasetScenarioUsage(true)
      // Reload template associations.
      this.reloadTemplateAssociations()
    },

    /**
     * Reload template associations.
     */
    reloadTemplateAssociations () {
      // Get mapped template associations.
      this.$store.dispatch('rule/template/getTemplateAssociations')
    }
  }
}
</script>

<style lang="scss" scoped>
.associations-details-card {
  position: relative;
  top: 0;

  .associations-details-card-header {
    height: 72px;
    background: var(--v-topbottomstrip-base);

    ::v-deep .v-card__title {
      background: transparent !important;
    }
  }
}

.associations-mappings-wrapper {
  position: relative;
  left: 0;
  top: 0;
  min-height: 0;
  transition: min-height 0.25s ease-in-out;

  .associations-mappings-drag-over-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out;
    z-index: 10;
  }

  &.is-droppable.drag-over {
    .associations-mappings-drag-over-layer {
      background-color: #d5e0ff;
      visibility: visible;
      opacity: 0.5;
    }
  }
}

.page-drag-over {
  .is-droppable .associations-mappings-drag-over-layer {
    visibility: visible;
    opacity: 0.5;
  }
}

.associations-mappings-item {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;

  &:not(:last-child) {
    margin: 0 0 8px 0;
  }
}

.relative {
  position: relative;
}

.associations-mappings-arrow-wrapper {
  position: relative;
  left: 0;
  top: 0;
  height: 24px;

  .associations-mappings-arrow {
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    height: 5px;
    background-color: #f68809;
    z-index: 1;
    text-align: center;

    .associations-mappings-delete-wrapper {
      position: absolute;
      left: 0;
      top: -12px;
      width: 100%;
      text-align: center;

      .artdecorbutton {
        background-color: white !important;
        border: 1px solid #f68809;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: -10px;
      top: -5px;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 16px solid #f68809;
      border-bottom: 8px solid transparent;
    }
  }
}

.associations-mappings-item-left {
  background-color: #dbe8d3;
  width: 40px;
  padding: 12px 8px;
}

.associations-mappings-item-center {
  background-color: #f5f5f5;
  padding: 8px;
}

.associations-mappings-item-right {
  background-color: #fff7e5;
  width: 40px;
  padding: 12px 8px;
}

.template-design-body ::v-deep .tree-table-toggle-content-value{
  white-space: nowrap;
}
</style>
