<template>
  <div style="position: sticky; top: 72px; left: 0;">
    <TreeviewPanel
      :filters="filters"
      :trees="trees"
      :active-item.sync="activeItem"
      :active-tree.sync="activeTree"
    >
      <template v-slot:tree.datasetConcepts.before-search>
        <v-card-text
          class="slot-tree-before-search"
          :class="{'pb-0': !!selectedDatasetItem}"
        >
          <v-autocomplete
            v-model="selectedDatasetItem"
            :items="datasetItems"
            item-value="uuid"
            :label="$t('dataset')"
            return-object
            clearable
            open-on-clear
            hide-details
            outlined
            dense
            :filter="datasetFilter"
            @focus="keepHorizontalScrollFocus"
          >
            <template v-slot:[`item`]="{ item }">
              <AdStatusDot larger class="mr-3" :status="item.statusCode" tooltip icon="mdi-book-open-blank-variant"/>
              {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
            <template v-slot:[`selection`]="{ item }">
              <AdStatusDot class="mr-2" :status="item.statusCode" tooltip icon="mdi-book-open-blank-variant"/>
              {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
          </v-autocomplete>
        </v-card-text>
      </template>

      <template v-slot:tree.scenarioConcepts.before-search>
        <v-card-text
          class="slot-tree-before-search pb-0"
          :class="{'pb-0': !!selectedTransactionItem, 'pb-4': !selectedTransactionItem}"
        >
          <v-autocomplete
            v-model="selectedScenarioItem"
            :items="scenarioItems"
            item-value="id"
            :label="$t('scenario')"
            class="mb-4"
            return-object
            clearable
            open-on-clear
            hide-details
            outlined
            dense
            :filter="scenarioFilter"
            @focus="keepHorizontalScrollFocus"
            @change="resetTransactionConceptItems"
          >
            <template v-slot:[`item`]="{ item }">
              <AdStatusDot larger tooltip class="mr-3" :status="item.statusCode" icon="mdi-book-open-blank-variant"/>
              {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
            <template v-slot:[`selection`]="{ item }">
              <AdStatusDot class="mr-2" tooltip :status="item.statusCode" icon="mdi-book-open-blank-variant"/>
              {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
          </v-autocomplete>

          <!-- Select transaction -->
          <v-autocomplete
            v-model="selectedTransactionItem"
            :items="transactionsWithRepresentingTemplate"
            item-value="id"
            :label="$t('transaction')"
            return-object
            clearable
            open-on-clear
            hide-details
            outlined
            dense
            @focus="keepHorizontalScrollFocus"
            @change="loadScenarioTransactionConceptItems"
          >
            <template v-slot:[`item`]="{ item }">
              <AdStatusDot larger tooltip class="mr-3" :status="item.statusCode" :icon="$filters.getScenarioIcon(item.type)"/>
              {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
            <template v-slot:[`selection`]="{ item }">
              <AdStatusDot class="mr-2" tooltip :status="item.statusCode" :icon="$filters.getScenarioIcon(item.type)"/>
              {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
          </v-autocomplete>
        </v-card-text>
      </template>

      <template v-slot:tree.datasetConcepts.label="{item, label}">
        <strong v-if="conceptIdsWhichContainTemplate.includes(item.id)">{{ label['#text'] }}</strong>
        <span v-else>{{ label['#text'] }}</span>
      </template>

      <template v-slot:tree.scenarioConcepts.label="{item, label}">
        <strong v-if="conceptIdsWhichContainTemplate.includes(item.id)">{{ label }}</strong>
        <span v-else>{{ label }}</span>
      </template>
    </TreeviewPanel>
  </div>
</template>
<script>
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'
import { mapGetters, mapState } from 'vuex'

export default {
  components: {
    TreeviewPanel
  },

  props: {
    activeRootDatasetScenarioType: {
      type: String,
      required: false,
      default: 'dataset'
    },
    activeRootDatasetScenarioItem: {
      type: Object,
      required: false,
      default: () => ({})
    },
    activeDatasetScenarioItem: {
      type: Object,
      required: false,
      default: () => ({})
    }
  },

  data () {
    return {
      selectedDatasetItem: null,
      selectedScenarioItem: null,
      selectedTransactionItem: null,
      activeItem: null,
      activeTree: null,
      filters: []
    }
  },

  computed: {
    ...mapState('dataset', ['datasetItems']),
    ...mapState('scenario', ['scenarioItems', 'transactionItemConcepts']),
    ...mapState('rule/template', ['templateAssociations']),
    ...mapGetters('server', ['getItemStatuses']),

    /**
     * Get all concept which contain a template.
     * @returns {FlatArray<*[][], 1>[]}
     */
    conceptIdsWhichContainTemplate () {
      return (this.templateAssociations || []).map((templateAssociation) => {
        return (templateAssociation?.concept || []).map((concept) => {
          return concept?.ref
        })
      })
        .flat()
        .filter((value, index, self) => self.indexOf(value) === index)
    },

    /**
     * Tree structure for treeview.
     */
    trees () {
      return {
        datasetConcepts: {
          artefact: 'DE',
          name: this.$t('datasets'),
          icon: 'mdi-book-open-blank-variant',
          loading: this.$store.state.dataset.loading.conceptItems,
          loaded: true,
          items: this.selectedDatasetItem ? this.$store.state.dataset.conceptItems : [],
          hideTreeviewOptions: !this.selectedDatasetItem,
          menu: false,
          insertable: false,
          editable: false,
          expandable: true,
          notDroppable: true,
          key: 'id',
          text: 'name.#text',
          children: 'concept',
          onSelect: (activeItem) => {
            // Set selected transaction item to null.
            this.selectedTransactionItem = null
            // Set active item.
            this.activeItem = activeItem
            // Emit variables.
            this.emitVariables('dataset')
          }
        },
        scenarioConcepts: {
          artefact: 'DE',
          name: this.$t('scenarios'),
          icon: 'mdi-movie',
          loading: this.$store.state.scenario.loading.conceptItems,
          loaded: true,
          items: this.selectedTransactionItem ? (this.transactionItemConcepts || []) : [],
          hideTreeviewOptions: !this.selectedTransactionItem,
          menu: this.menuIsVisible,
          insertable: false,
          editable: true,
          expandable: true,
          notDroppable: true,
          key: 'id',
          text: (item) => {
            let name = this.$filters.getMatchingTranslation({ value: item.name })
            if (item.absent) {
              return name
            }
            const card = this.$filters.getCardinality(item)
            const conf = this.conformance(item)
            if (card) {
              name += ` (${card}`
            }
            if (conf) {
              name += ` / ${conf})`
            } else {
              name += ')'
            }

            return name
          },
          children: 'concept',
          onSelect: (activeItem) => {
            // Set active item.
            this.activeItem = activeItem
            // Emit variables.
            this.emitVariables('scenario')
          }
        }
      }
    },

    /**
     * Get all scenario transaction items.
     * @returns {*|*[]}
     */
    scenarioTransactionItems () {
      return this.selectedScenarioItem?.transaction || []
    },
    transactionsWithRepresentingTemplate () {
      const transactionList = []
      const scenario = this.selectedScenarioItem
      if (scenario?.transaction) {
        scenario.transaction.forEach((group) => {
          if (group.transaction) {
            group.transaction.forEach((tr) => {
              const transaction = { ...tr }
              if (['initial', 'back', 'stationary'].includes(transaction.type) &&
                transaction.representingTemplate?.some(t => t !== null)
              ) {
                transaction.scenarioDetails = {
                  name: scenario.name,
                  id: scenario.id,
                  effectiveDate: scenario.effectiveDate,
                  statusCode: scenario.statusCode
                }
                const representingTemplate = transaction.representingTemplate.find(t => t !== null)
                transaction.datasetDetails = {
                  name: representingTemplate.sourceDatasetName,
                  id: representingTemplate.sourceDataset,
                  effectiveDate: representingTemplate.sourceDatasetEffectiveDate,
                  statusCode: representingTemplate.sourceDatasetStatusCode
                }
                transactionList.push(transaction)
              }
            })
          }
        })
      }
      return transactionList
    },

    /**
     * Get conformance for an item.
     * Has to be a computed variable to make it work with dynamic translations.
     * @returns {(function(*): (*|null))|*}
     */
    conformance () {
      return (item) => {
        if (item?.isMandatory !== 'true') {
          const { conformance } = item
          if (conformance != null) {
            const conformanceType = this.conformanceTypes.find((type) => type.value === conformance)
            if (conformanceType) {
              return conformanceType.text
            } else if (conformance === 'O') {
              // optional?
              return this.$t('optional')
            } else {
              // in case the conformanceType is not offered in getDecorTypes,
              // fallback to value in offered by api
              return conformance
            }
          } else {
            return null
          }
        } else {
          // return translation for mandatory
          return this.$t('mandatory')
        }
      }
    },

    /**
     * Get conformance types.
     * @returns {*}
     */
    conformanceTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.ConformanceType?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    },

    /**
     * Watched variables.
     * @returns {(*|string)[]}
     */
    watchedVariables () {
      return [this.getItemStatuses, this.$i18n.locale]
    }
  },

  watch: {
    /**
     * Watch active root dataset scenario type.
     * Little helper for setting current active tree.
     */
    activeRootDatasetScenarioType: {
      immediate: true,
      handler (activeRootDatasetScenarioType) {
        this.activeTree = activeRootDatasetScenarioType === 'scenario'
          ? 'scenarioConcepts'
          : 'datasetConcepts'
      }
    },

    /**
     * Watch active root dataset scenario item.
     * Reset the selected dataset and scenario item when root item is null.
     */
    activeRootDatasetScenarioItem: {
      immediate: false,
      deep: true,
      handler (activeRootDatasetScenarioItem) {
        if (activeRootDatasetScenarioItem === null) {
          this.selectedDatasetItem = null
          this.selectedScenarioItem = null
        }
      }
    },

    /**
     * Watch selected dataset item.
     * Reset items and load concept items for dataset.
     */
    selectedDatasetItem: {
      immediate: false,
      deep: false,
      handler (selectedDatasetItem) {
        // Set selected transaction item to null.
        this.selectedTransactionItem = null
        // Set active item to null.
        this.activeItem = null
        // Emit variables.
        this.emitVariables('dataset')

        // Load concept items.
        this.loadConceptItems(selectedDatasetItem)
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            // Show error message on alert dialog.
            this.$oops(errorMessage)
          })
      }
    },

    /**
     * Watch selected scenario item.
     * Reset items.
     */
    selectedScenarioItem: {
      immediate: false,
      deep: false,
      handler () {
        // Set active item to null.
        this.activeItem = null
        // Emit variables.
        this.emitVariables('scenario')
      }
    },

    /**
     * Watch item status codes.
     */
    watchedVariables: {
      immediate: true,
      deep: true,
      handler () {
        // Define filters.
        const filters = []
        // Define default actives.
        const defaultActive = ['draft', 'pending', 'final', 'new']
        // Loop each item status code.
        for (const itemStatusCode of this.getItemStatuses) {
          // Push new filter.
          filters.push({
            name: this.$filters.getMatchingTranslation({ value: itemStatusCode.label, locale: this.$i18n.locale }),
            key: itemStatusCode.value,
            active: defaultActive.includes(itemStatusCode.value)
          })
        }

        // Apply filters.
        this.filters = filters
      }
    }
  },

  created () {
    // Load template associations.
    this.loadTemplateAssociations()
      .catch((error) => {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        // Show error message on alert dialog.
        this.$oops(`Woops, ${errorMessage}`)
      })

    // Load dataset items.
    if (this.$store.state.dataset.loaded.datasetItems) {
      // Setting selectedDatasetItem results in fetching conceptItems
      const { rootDatasetScenarioType, rootDatasetScenarioId, rootDatasetScenarioEffectiveDate } = this.$route.params
      this.selectedDatasetItem = this.$filters.listHelper.findItemInList({
        items: this.$store.getters['dataset/datasetItems'],
        children: 'item',
        handler: (match) => rootDatasetScenarioType === 'dataset' &&
              rootDatasetScenarioId === match.id &&
              rootDatasetScenarioEffectiveDate === match.effectiveDate
      })
    } else {
      this.loadDatasetItems()
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          // Show error message on alert dialog.
          this.$oops(errorMessage)
        })
    }

    // Load scenario items.
    if (this.$store.state.scenario.loaded.scenarioItems) {
      const { rootDatasetScenarioType, rootDatasetScenarioId, rootDatasetScenarioEffectiveDate } = this.$route.params
      this.selectedScenarioItem = this.$filters.listHelper.findItemInList({
        items: this.$store.getters['scenario/scenarioItems'],
        children: 'transaction',
        handler: (match) => rootDatasetScenarioType === 'scenario' &&
              rootDatasetScenarioId === match.id &&
              rootDatasetScenarioEffectiveDate === match.effectiveDate
      })
    } else {
      this.loadScenarioItems()
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          // Show error message on alert dialog.
          this.$oops(errorMessage)
        })
    }
  },

  methods: {
    /**
     * Emit variable to parent component.
     * @param type
     */
    emitVariables (type = null) {
      // Get parsed type.
      const parsedType = type || this.activeRootDatasetScenarioType
      // Emit update of active type.
      this.$emit('update:active-root-dataset-scenario-type', parsedType)
      // Emit update of active item.
      this.$emit('update:active-dataset-scenario-item', this.activeItem)
      // Emit update of active transaction item.
      this.$emit('update:active-transaction-item', this.selectedTransactionItem)
      // Emit update of active root item.
      this.$emit(
        'update:active-root-dataset-scenario-item',
        parsedType === 'dataset'
          ? this.selectedDatasetItem
          : this.selectedScenarioItem
      )
    },

    /**
     * Get filter for dataset.
     * @param item
     * @param queryText
     * @returns {boolean}
     */
    datasetFilter (item, queryText) {
      const name = this.$filters.getMatchingTranslation({ value: item.name }).toLowerCase()
      const search = queryText.toLowerCase()
      return name.includes(search)
    },

    /**
     * Get filter for scenarios.
     * @param item
     * @param queryText
     * @returns {boolean}
     */
    scenarioFilter (item, queryText) {
      const name = this.$filters.getMatchingTranslation({ value: item.name }).toLowerCase()
      const search = queryText.toLowerCase()
      return name.includes(search)
    },

    /**
     * Keep horizontal scroll focus.
     *
     * This method is required for custom select with chips layout. After
     * focusing a select box the content is scrolled in a wrong way. This
     * functions is fixing the wrong scroll behavior.
     */
    keepHorizontalScrollFocus () {
      // Try to get selections.
      const selections = this.$el.querySelectorAll('.v-select__selections')
      // Check if selection are available.
      if (selections.length > 0) {
        // Wait for next tick.
        this.$nextTick(() => {
          // Loop each selection.
          selections.forEach(selection => {
            // Scroll to start.
            selection.scrollTo(0, 0)
          })
        })
      }
    },

    /**
     * Reset transaction concept items.
     */
    resetTransactionConceptItems () {
      this.$store.commit('scenario/setTransactionItemConcepts', null)
    },

    /**
     * Load dataset items.
     */
    async loadDatasetItems () {
      // Return new promise.
      return new Promise((resolve, reject) => {
        // Get route params.
        const { rootDatasetScenarioType, rootDatasetScenarioId, rootDatasetScenarioEffectiveDate } = this.$route.params

        // Get dataset items from service via vuex store.
        this.$store.dispatch('dataset/loadDatasetItems').then((datasetItems) => {
          // Get matching dataset.
          this.selectedDatasetItem = this.$filters.listHelper.findItemInList({
            items: datasetItems,
            children: 'item',
            handler: (match) => rootDatasetScenarioType === 'dataset' &&
              rootDatasetScenarioId === match.id &&
              rootDatasetScenarioEffectiveDate === match.effectiveDate
          })

          // Check if matching dataset is nil.
          if (!this.selectedDatasetItem) {
            // Set ready to true.
            this.ready = true
            // Return and stop execution.
            return resolve(null)
          }

          // Set dataset item
          this.$store.commit('dataset/setDatasetItem', this.selectedDatasetItem)
          // Generate active dataset item.
          this.activeItem = {
            id: rootDatasetScenarioId,
            effectiveDate: rootDatasetScenarioEffectiveDate
          }

          // Resolve matching dataset.
          return resolve(this.selectedDatasetItem)
        }).catch((error) => reject(error))
      })
    },

    /**
     * Load concept items.
     */
    async loadConceptItems (datasetItem) {
      // Check if no dataset item is defined.
      if (!datasetItem) {
        // Stop execution.
        return
      }

      // Return new promise.
      return new Promise((resolve, reject) => {
        // Get route params.
        const { datasetScenarioId, datasetScenarioEffectiveDate } = this.$route.params

        // Get dataset items from service via vuex store.
        this.$store.dispatch('dataset/loadConceptItems', { item: datasetItem }).then((conceptItems) => {
          // Get matching concept.
          const matchingConcept = this.$filters.listHelper.findItemInList({
            items: conceptItems,
            children: 'concept',
            handler: (match) => datasetScenarioId === match.id && datasetScenarioEffectiveDate === match.effectiveDate
          })

          // Check if matching concept is nil.
          if (!matchingConcept) {
            // Set ready to true.
            this.ready = true
            // Return and stop execution.
            return resolve()
          }

          // Set dataset item
          this.$store.commit('dataset/setConceptItem', matchingConcept)
          // Generate active dataset item.
          this.activeItem = {
            id: datasetScenarioId,
            effectiveDate: datasetScenarioEffectiveDate
          }

          // Set ready to true.
          this.ready = true

          // Resolve matching concept.
          return resolve(matchingConcept)
        }).catch((error) => reject(error))
      })
    },

    /**
     * Load scenario items.
     */
    async loadScenarioItems () {
      // Return new promise.
      return new Promise((resolve, reject) => {
        // Get route params.
        const {
          rootDatasetScenarioType,
          rootDatasetScenarioId,
          rootDatasetScenarioEffectiveDate,
          datasetScenarioId,
          datasetScenarioEffectiveDate,
          transactionId,
          transactionEffectiveDate
        } = this.$route.params

        // Get scenario items from service via vuex store.
        this.$store.dispatch('scenario/loadScenarioItems').then(async (scenarioItems) => {
          // Get matching scenario.
          this.selectedScenarioItem = this.$filters.listHelper.findItemInList({
            items: scenarioItems,
            children: 'transaction',
            handler: (match) => rootDatasetScenarioType === 'scenario' &&
              rootDatasetScenarioId === match.id &&
              rootDatasetScenarioEffectiveDate === match.effectiveDate
          })

          // Check if matching scenario is nil.
          if (!this.selectedScenarioItem) {
            // Set ready to true.
            this.ready = true
            // Return and stop execution.
            return resolve(null)
          }

          // Get matching scenario.
          this.selectedTransactionItem = this.$filters.listHelper.findItemInList({
            items: this.selectedScenarioItem?.transaction || [],
            children: 'transaction',
            handler: (match) => transactionId === match.id &&
              transactionEffectiveDate === match.effectiveDate
          })

          // Check if matching transaction is not nil.
          if (this.selectedTransactionItem) {
            // Load scenario transaction concept items.
            await this.loadScenarioTransactionConceptItems()
          }

          // Set scenario item
          this.$store.commit('scenario/setScenarioItem', this.selectedScenarioItem)
          // Generate active scenario item.
          this.activeItem = {
            id: datasetScenarioId || transactionId || rootDatasetScenarioId,
            effectiveDate: datasetScenarioEffectiveDate || transactionEffectiveDate || rootDatasetScenarioEffectiveDate
          }

          // Set ready to true.
          this.ready = true

          // Resolve matching scenario.
          return resolve(this.selectedScenarioItem)
        }).catch((error) => reject(error))
      })
    },

    /**
     * Load scenario transaction concepts items.
     * @param activeItem
     */
    async loadScenarioTransactionConceptItems (activeItem) {
      // Set active item to null.
      this.activeItem = null
      // Emit variables.
      this.emitVariables('scenario')
      // Reset transaction concept items first.
      this.resetTransactionConceptItems()
      // Load transaction if available.
      if (this.selectedTransactionItem) {
        await this.$store.dispatch('scenario/getTransaction', {
          item: this.selectedTransactionItem,
          params: { fulltree: false }
        })
      }
    },

    /**
     * Load template associations.
     */
    async loadTemplateAssociations () {
      // Get mapped template associations.
      return this.$store.dispatch('rule/template/getTemplateAssociations')
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .treeview-panel-item {
  border-left: 8px solid #dbe8d3;
  padding-left: 24px;

  .v-treeview {
    padding-left: 0;
  }
}

.slot-tree-before-search ::v-deep {
  .v-select__selections {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 2px;
      bottom: 2px;
      width: 20px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      z-index: 1;
    }
  }
}
</style>
