<template>
  <v-layout
    class="component-template-panel"
    :class="{'page-drag-over': isDraggedOver}"
    @dragover="isDraggedOver = true"
    @dragleave="isDraggedOver = false"
  >
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs"/>

      <v-row class="d-flex flex-row flex-md-nowrap">
        <v-col class="flex-grow-0 col-treeview" md="auto">
          <AssociationDatasetScenarioCard
            :active-root-dataset-scenario-type.sync="activeRootDatasetScenarioType"
            :active-root-dataset-scenario-item.sync="activeRootDatasetScenarioItem"
            :active-dataset-scenario-item.sync="activeDatasetScenarioItem"
            :active-transaction-item.sync="activeTransactionItem"
          />
        </v-col>

        <v-col class="flex-grow-1 overflow-hidden">
          <AssociationDetailsCard
            :active-root-dataset-scenario-type.sync="activeRootDatasetScenarioType"
            :active-root-dataset-scenario-item.sync="activeRootDatasetScenarioItem"
            :active-dataset-scenario-item.sync="activeDatasetScenarioItem"
            :active-template-item.sync="activeTemplateItem"
            @onDragOver="isDraggedOver = true"
            @onDragLeave="isDraggedOver = false"
          />
        </v-col>

        <v-col class="flex-grow-0 col-treeview" md="auto">
          <AssociationTemplateCard
            :active-template-item.sync="activeTemplateItem"
            @onDrop="isDraggedOver = false"
          />
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>
<script>
import AssociationDatasetScenarioCard from '@/components/Rule/AssociationDatasetScenarioCard'
import AssociationDetailsCard from '@/components/Rule/AssociationDetailsCard'
import AssociationTemplateCard from '@/components/Rule/AssociationTemplateCard'

export default {
  components: {
    AssociationTemplateCard,
    AssociationDetailsCard,
    AssociationDatasetScenarioCard
  },

  data () {
    return {
      isDraggedOver: false,
      activeRootDatasetScenarioType: 'dataset',
      activeRootDatasetScenarioItem: null,
      activeDatasetScenarioItem: null,
      activeTransactionItem: null,
      activeTemplateItem: null,
      currentRouteName: null
    }
  },

  computed: {
    /**
     * Get breadcrum structure.
     */
    breadcrumbs () {
      // Define main breadcrumb structure.
      const breadcrumbs = [{
        text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
        to: { name: 'project-overview' }
      }, {
        text: this.$t('associations'),
        disabled: true
      }]

      if (this.activeRootDatasetScenarioType) {
        breadcrumbs.push({
          exact: true,
          disabled: true,
          text: this.activeRootDatasetScenarioType === 'dataset'
            ? this.$t('dataset')
            : this.$t('scenario'),
          to: {
            name: 'templateAssociation',
            params: {
              rootDatasetScenarioType: this.activeRootDatasetScenarioType
            }
          }
        })
      }

      if (this.activeRootDatasetScenarioType && this.activeRootDatasetScenarioItem) {
        breadcrumbs.push({
          exact: true,
          disabled: true,
          text: this.$filters.getMatchingTranslation({
            value: this.activeRootDatasetScenarioItem?.name
          }) || this.$route.params?.rootDatasetScenarioId,
          to: {
            name: 'templateAssociation-root',
            params: {
              rootDatasetScenarioType: this.activeRootDatasetScenarioType,
              rootDatasetScenarioId: this.activeRootDatasetScenarioItem?.id || null,
              rootDatasetScenarioEffectiveDate: this.activeRootDatasetScenarioItem?.effectiveDate || null
            }
          }
        })
      }

      if (this.activeRootDatasetScenarioType && this.activeRootDatasetScenarioItem && this.activeTransactionItem) {
        breadcrumbs.push({
          exact: true,
          disabled: true,
          text: this.$filters.getMatchingTranslation({
            value: this.activeTransactionItem?.name
          }) || this.$route.params?.transactionId,
          to: {
            name: 'templateAssociation-root-transaction',
            params: {
              rootDatasetScenarioType: this.activeRootDatasetScenarioType,
              rootDatasetScenarioId: this.activeRootDatasetScenarioItem?.id || null,
              rootDatasetScenarioEffectiveDate: this.activeRootDatasetScenarioItem?.effectiveDate || null,
              transactionId: this.activeTransactionItem?.id || null,
              transactionEffectiveDate: this.activeTransactionItem?.effectiveDate || null
            }
          }
        })
      }

      if (this.activeRootDatasetScenarioType && this.activeRootDatasetScenarioItem && this.activeDatasetScenarioItem) {
        breadcrumbs.push({
          exact: true,
          disabled: true,
          text: this.$filters.getMatchingTranslation({
            value: this.activeDatasetScenarioItem?.name
          }) || this.$route.params?.datasetScenarioId,
          to: {
            name: 'templateAssociation-root-transaction-concept',
            params: {
              rootDatasetScenarioType: this.activeRootDatasetScenarioType,
              rootDatasetScenarioId: this.activeRootDatasetScenarioItem?.id || null,
              rootDatasetScenarioEffectiveDate: this.activeRootDatasetScenarioItem?.effectiveDate || null,
              transactionId: this.activeTransactionItem?.id || null,
              transactionEffectiveDate: this.activeTransactionItem?.effectiveDate || null,
              datasetScenarioId: this.activeDatasetScenarioItem?.id || null,
              datasetScenarioEffectiveDate: this.activeDatasetScenarioItem?.effectiveDate || null
            }
          }
        })
      }

      if (this.activeTemplateItem) {
        breadcrumbs.push({
          exact: true,
          disabled: true,
          text: this.$filters.getMatchingTranslation({
            value: this.activeTemplateItem?.displayName
          }) || this.$route.params?.templateId,
          to: {
            name: 'templateAssociation-root-transaction-concept-template',
            params: {
              rootDatasetScenarioType: this.activeRootDatasetScenarioType,
              rootDatasetScenarioId: this.activeRootDatasetScenarioItem?.id || null,
              rootDatasetScenarioEffectiveDate: this.activeRootDatasetScenarioItem?.effectiveDate || null,
              transactionId: this.activeTransactionItem?.id || null,
              transactionEffectiveDate: this.activeTransactionItem?.effectiveDate || null,
              datasetScenarioId: this.activeDatasetScenarioItem?.id || null,
              datasetScenarioEffectiveDate: this.activeDatasetScenarioItem?.effectiveDate || null,
              templateId: this.activeTemplateItem?.id || null,
              templateEffectiveDate: this.activeTemplateItem?.effectiveDate || null
            }
          }
        })
      }

      // Return breadcrumbs.
      return breadcrumbs
    },

    /**
     * Watched variables.
     */
    watchedVariables () {
      return {
        routeName: this.$route.name,
        rootDatasetScenarioType: this.activeRootDatasetScenarioType,
        rootDatasetScenarioId: this.activeRootDatasetScenarioItem?.id,
        rootDatasetScenarioEffectiveDate: this.activeRootDatasetScenarioItem?.effectiveDate,
        datasetScenarioId: this.activeDatasetScenarioItem?.id,
        datasetScenarioEffectiveDate: this.activeDatasetScenarioItem?.effectiveDate,
        transactionId: this.activeTransactionItem?.id,
        transactionEffectiveDate: this.activeTransactionItem?.effectiveDate,
        templateId: this.activeTemplateItem?.id,
        templateEffectiveDate: this.activeTemplateItem?.effectiveDate
      }
    }
  },

  watch: {
    /**
     * Watch variables.
     * This will change the current route if some params has changed.
     */
    watchedVariables: {
      immediate: false,
      deep: true,
      handler (newVariables, oldVariables) {
        // Get current route name.
        const currentRouteName = this.currentRouteName
        // Set current route name.
        this.currentRouteName = this.$route.name
        // Check if route is template association.
        if (
          currentRouteName === 'templateAssociation-details' &&
          this.$route.name === 'templateAssociation'
        ) {
          // Reset all data.
          return this.resetAllData()
        }

        // Get route params.
        const {
          rootDatasetScenarioType,
          rootDatasetScenarioId,
          rootDatasetScenarioEffectiveDate,
          datasetScenarioId,
          datasetScenarioEffectiveDate,
          transactionId,
          transactionEffectiveDate,
          templateId,
          templateEffectiveDate
        } = this.$route.params

        // Helper for getting current value.
        const getCurrentValue = (key, fallback) => {
          return !(!newVariables?.[key] && oldVariables?.[key])
            ? newVariables?.[key] || fallback
            : null
        }

        // Change current route.
        this.changeCurrentRoute({
          rootDatasetScenarioType: getCurrentValue('rootDatasetScenarioType', rootDatasetScenarioType) || 'dataset',
          rootDatasetScenarioId: getCurrentValue('rootDatasetScenarioId', rootDatasetScenarioId),
          rootDatasetScenarioEffectiveDate: getCurrentValue('rootDatasetScenarioEffectiveDate', rootDatasetScenarioEffectiveDate),
          datasetScenarioId: getCurrentValue('datasetScenarioId', datasetScenarioId),
          datasetScenarioEffectiveDate: getCurrentValue('datasetScenarioEffectiveDate', datasetScenarioEffectiveDate),
          transactionId: getCurrentValue('transactionId', transactionId),
          transactionEffectiveDate: getCurrentValue('transactionEffectiveDate', transactionEffectiveDate),
          templateId: getCurrentValue('templateId', templateId),
          templateEffectiveDate: getCurrentValue('templateEffectiveDate', templateEffectiveDate)
        })
      }
    }
  },

  mounted () {
    // Get route params.
    const { rootDatasetScenarioType } = this.$route.params
    // Set active root dataset scenario type.
    this.activeRootDatasetScenarioType = rootDatasetScenarioType || 'dataset'
  },

  methods: {
    /**
     * Reset all data.
     * Will clear all defined variable of this component.
     */
    resetAllData () {
      this.activeRootDatasetScenarioType = 'dataset'
      this.activeRootDatasetScenarioItem = null
      this.activeDatasetScenarioItem = null
      this.activeTransactionItem = null
      this.activeTemplateItem = null
    },

    /**
     * Change current route.
     * Will accept params and push to template associations details.
     * @param params
     */
    changeCurrentRoute (params) {
      // Define route name.
      let routeName = 'templateAssociation'

      // Apply root suffix.
      if (params.rootDatasetScenarioId && params.rootDatasetScenarioEffectiveDate) {
        routeName += '-root'
      }

      // Apply transaction suffix.
      if (params.transactionId && params.transactionEffectiveDate) {
        routeName += '-transaction'
      }

      // Apply concept suffix.
      if (params.datasetScenarioId && params.datasetScenarioEffectiveDate) {
        routeName += '-concept'
      }

      // Apply template suffix.
      if (params.templateId && params.templateEffectiveDate) {
        routeName += '-template'
      }

      // Push router url.
      this.$router.push({
        name: routeName,
        params: {
          rootDatasetScenarioType: params.rootDatasetScenarioType || 'dataset',
          rootDatasetScenarioId: params.rootDatasetScenarioId || null,
          rootDatasetScenarioEffectiveDate: params.rootDatasetScenarioEffectiveDate || null,
          datasetScenarioId: params.datasetScenarioId || null,
          datasetScenarioEffectiveDate: params.datasetScenarioEffectiveDate || null,
          transactionId: params.transactionId || null,
          transactionEffectiveDate: params.transactionEffectiveDate || null,
          templateId: params.templateId || null,
          templateEffectiveDate: params.templateEffectiveDate || null
        }
      }).catch(() => {
        // Do nothing.
      })
    }
  }
}
</script>
