<template>
  <div style="position: sticky; top: 72px; left: 0;">
    <TreeviewPanel
      :trees="trees"
      :active-item.sync="activeItem"
      :active-tree.sync="activeTree"
      @onDrop="$emit('onDrop')"
      mirror-resize
      editable
    >
      <template v-slot:tree.template.before-search>
        <v-card-text class="slot-tree-before-search pb-0">
          <v-btn class="mb-4" depressed block @click="goBackToList">
            <v-icon>mdi-chevron-left</v-icon>
            {{ $t('back-to-list') }}
          </v-btn>

          <!-- Select version -->
          <v-autocomplete
            v-model="selectedVersion"
            :items="templateVersions"
            item-value="uuid"
            :label="$t('version')"
            return-object
            open-on-clear
            hide-details
            outlined
            dense
            @focus="keepHorizontalScrollFocus"
            @change="selectTemplateVersion"
          >
            <template v-slot:[`item`]="{ item }">
              <AdStatusDot larger tooltip class="mr-3" :status="item.statusCode" :icon="$filters.getScenarioIcon(item.type)"/>
              {{ $filters.getMatchingTranslation({ value: item.displayName, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
            <template v-slot:[`selection`]="{ item }">
              <AdStatusDot class="mr-2" tooltip :status="item.statusCode" :icon="$filters.getScenarioIcon(item.type)"/>
              {{ $filters.getMatchingTranslation({ value: item.displayName, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
          </v-autocomplete>
        </v-card-text>
      </template>
    </TreeviewPanel>
  </div>
</template>
<script>
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'
import { mapGetters } from 'vuex'

export default {
  components: {
    TreeviewPanel
  },

  props: {
    activeTemplateItem: {
      type: Object,
      required: false,
      default: () => ({})
    }
  },

  data () {
    return {
      activeItem: null,
      activeTree: null,
      selectedTemplateItem: null,
      selectedVersion: null
    }
  },

  computed: {
    ...mapGetters('rule/template', ['templates', 'templateItem', 'isLoading', 'isLoaded']),

    /**
     * Get all template version in base of selected template.
     * @returns {*|*[]}
     */
    templateVersions () {
      return this.selectedTemplateItem?.version || []
    },

    /**
     * Trees structure for treeview.
     */
    trees () {
      return {
        templates: {
          artefact: 'TM',
          name: this.$t('templates'),
          icon: 'mdi-check-circle',
          loading: this.isLoading('templates'),
          loaded: this.isLoaded('templates'),
          items: this.templates || [],
          menu: false,
          insertable: false,
          editable: false,
          notDroppable: true,
          expandable: true,
          key: 'uuid',
          text: (item) => {
            const text = [item?.displayName
              ? item?.displayName
              : this.$filters.getMatchingTranslation({
                value: (item?.name || [])
              })]

            if (item?.versionLabel) {
              text.push(`(${item?.versionLabel})`)
            } else if (item?.version?.[0]?.effectiveDate) {
              text.push(`(${item?.version?.[0]?.effectiveDate.substr(0, 10)})`)
            }

            return text.join(' ')
          },
          children: 'template',
          onSelect: (activeItem) => {
            // Select active item.
            this.selectActiveItem(activeItem)
          }
        },
        template: {
          artefact: 'TI',
          name: this.$t('template'),
          icon: 'mdi-check-circle',
          loading: this.isLoading('templateItem'),
          loaded: this.isLoaded('templateItem'),
          items: this.filteredTemplateItems,
          hideTab: true,
          menu: false,
          insertable: false,
          editable: this.isTemplateAssociationWritable,
          notDroppable: true,
          expandable: true,
          autoExpand: true,
          key: 'customKey',
          text: (item) => {
            if (item?.is === 'include') {
              return `${this.$t('include')} ${item.ref}`
            } else {
              return item?.name
                ? item?.name
                : this.$filters.getMatchingTranslation({
                  value: (item?.name || item?.is || [])
                })
            }
          },
          children: 'items',
          onSelect: (activeItem) => {
            // Do nothing.
          }
        }
      }
    },

    /**
     * Get filtered template items.
     * @returns {*|*[]}
     */
    filteredTemplateItems () {
      const addCustomKey = (items) => items.map((item) => ({
        ...item,
        items: addCustomKey(item?.items || []),
        customKey: !this.isTemplateAssociationWritable
          ? item?.customKey || item?.uuid || this.getUuid()
          : item?.id
      }))

      return this.$filters.listHelper.filterList({
        items: addCustomKey(this.templateItem?.items || []),
        children: 'items',
        handler: (item) => ['choice', 'element', 'attribute', 'include'].includes(item?.is)
      })
    },

    /**
     * Check if template association is writable.
     * @returns {false|*}
     */
    isTemplateAssociationWritable () {
      return !!this.serverFeature({
        path: 'decor.rules.associations',
        crudAction: 'write'
      }) && this.userIsEditor
    }
  },

  watch: {
    /**
     * Watch active template item to handle selection.
     */
    activeTemplateItem: {
      immediate: true,
      deep: true,
      handler (activeTemplateItem) {
        // Check if active template item is not null.
        if (activeTemplateItem === null) {
          // Set active tree to templates.
          this.activeTree = 'templates'
          // Reset active item.
          this.activeItem = null
        } else if (activeTemplateItem?.forceLazyLoad === true && activeTemplateItem?.id) {
          // Select active item.
          this.selectActiveItem(activeTemplateItem)
        }
      }
    }
  },

  created () {
    // Load template items.
    if (!this.$store.state.rule.template.loaded.templates) {
      this.loadTemplateItems().catch((error) => this.$confirm(this.$t(error.message)))
    }
  },

  methods: {
    /**
     * Go back to list.
     */
    goBackToList () {
      // Set active tree to templates.
      this.activeTree = 'templates'
      // Emit update of active template item.
      this.$emit('update:active-template-item', null)
    },

    /**
     * Select template version
     */
    selectTemplateVersion (version) {
      // Select active item.
      this.selectActiveItem(this.selectedTemplateItem, version.effectiveDate)
    },

    /**
     * Select active item.
     * @param activeItem
     * @param effectiveDate
     */
    selectActiveItem (activeItem, effectiveDate = null) {
      if ((activeItem?.id || activeItem?.ref) && activeItem?.effectiveDate) {
        // Get selected template item.
        this.selectedTemplateItem = this.$filters.listHelper.findItemInList({
          items: this.templates,
          children: 'template',
          handler: (item) => item?.id === activeItem?.id
        })

        // Check if no effective date is defined.
        if (effectiveDate === null) {
          // Select first version by default.
          this.selectedVersion = this.selectedTemplateItem.version?.[0] || null
        }

        // Load template.
        this.$store.dispatch('rule/template/getTemplate', {
          id: activeItem.id || activeItem.ref,
          effectiveDate: effectiveDate || activeItem.effectiveDate
        })
          .then(() => {
            // Emit update of active template item.
            this.$emit('update:active-template-item', this.templateItem || null)
            // Set active tree to template.
            this.activeTree = 'template'
            // Check if element id is available.
            if (activeItem?.elementId) {
              // Wait for next tick.
              this.$nextTick(() => {
                // Set active item to auto select item.
                this.activeItem = { id: activeItem?.elementId }
              })
            }
          })
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            // Show error message on alert dialog.
            this.$oops(errorMessage)
          })
      }
    },

    /**
     * Keep horizontal scroll focus.
     *
     * This method is required for custom select with chips layout. After
     * focusing a select box the content is scrolled in a wrong way. This
     * functions is fixing the wrong scroll behavior.
     */
    keepHorizontalScrollFocus () {
      // Try to get selections.
      const selections = this.$el.querySelectorAll('.v-select__selections')
      // Check if selection are available.
      if (selections.length > 0) {
        // Wait for next tick.
        this.$nextTick(() => {
          // Loop each selection.
          selections.forEach(selection => {
            // Scroll to start.
            selection.scrollTo(0, 0)
          })
        })
      }
    },

    /**
     * Load template items.
     */
    async loadTemplateItems () {
      // Return new promise.
      return new Promise((resolve, reject) => {
        // Get route params.
        const { templateId } = this.$route.params

        // Get template items from service via vuex store.
        this.$store.dispatch('rule/template/setTemplateList').then((templateItems) => {
          // Get matching template.
          this.selectedTemplateItem = this.$filters.listHelper.findItemInList({
            items: templateItems,
            children: 'template',
            handler: (match) => match.id === templateId
          })

          // Check if matching template is nil.
          if (!this.selectedTemplateItem) {
            // Set ready to true.
            this.ready = true
            // Return and stop execution.
            return resolve(null)
          }

          // Set template item
          this.$store.commit('rule/template/setTemplateItem', this.selectedTemplateItem)
          // Generate active template item.
          this.activeItem = { id: templateId }

          // Resolve matching template.
          return resolve(this.selectedTemplateItem)
        }).catch((error) => reject(error))
      })
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .treeview-panel-item {
  border-left: 8px solid #fff7e5;
  padding-left: 24px;

  .v-treeview {
    padding-left: 0;
  }

  .v-treeview-node__toggle {
    background-color: transparent !important;
  }
}

::v-deep .slot-tree-before-search {
  .v-select__selections {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 2px;
      bottom: 2px;
      width: 20px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      z-index: 1;
    }
  }
}
</style>
