<template>
  <div v-if="value" class="d-flex align-center" style="gap: 4px">
    <v-tooltip data-test="tooltip" v-for="flag in presentFhirFlags" :key="flag.value" top open-delay="300">
      <template #activator="{on}">
        <v-chip data-test="chip" :disabled="disabled" v-on="on" small :color="flag.color" :close="editable" @click:close="unsetFlag(flag.attribute)">{{flag.value}}</v-chip>
      </template>
      {{ typeof flag.description === 'function' ? flag.description() : flag.description }}
    </v-tooltip>

    <v-menu v-if="editable && availableFhirFlags.length" offset-y top>
      <template #activator="{on, attrs}">
        <AdButton data-test="add-btn" v-on="on" v-bind="attrs" type="add" small list :hint="$t('add-fhir-flag')" style="order: 99"></AdButton>
      </template>
      <v-list dense class="d-flex">
        <v-list-item dense v-for="flag in nonPresentFhirFlags" :key="flag.value">
          <v-tooltip top open-delay="300">
            <template #activator="{on}">
              <v-chip
                v-on="on"
                small
                :color="flag.color"
                @click="handleClickAddFlag($event, flag)"
                :disabled="flag.disabled"
                style="pointer-events: auto"
              >
                {{flag.value}}
              </v-chip>
            </template>
            {{ typeof flag.description === 'function' ? flag.description() : flag.description }}
          </v-tooltip>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
export default {
  name: 'FhirFlags',
  data () {
    return {
      editableItem: null,
      FhirFlags: [
        {
          value: '?!',
          attribute: 'isModifier',
          description: () => this.$t('fhir-is-modifier-desc'),
          color: 'red lighten-5'
        },
        {
          value: 'S',
          attribute: 'mustSupport',
          description: () => this.$t('fhir-must-support-desc'),
          color: 'red lighten-4'
        },
        {
          value: '∑',
          attribute: 'isSummary',
          description: () => this.$t('fhir-is-summary-desc'),
          color: 'green lighten-5'
        },
        {
          value: 'C',
          attribute: 'hasConstraint',
          description: () => this.$t('fhir-has-constraint-desc'),
          color: 'yellow'
        },
        {
          value: 'NE',
          attribute: 'noExtensions',
          description: () => this.$t('fhir-no-extensions-desc'),
          color: 'red lighten-5'
        },
        {
          value: 'TU',
          attribute: 'isTrialUse',
          description: () => this.$t('fhir-is-trial-use-desc'),
          disabled: true,
          color: 'red lighten-5'
        },
        {
          value: 'N',
          attribute: 'isNormative',
          description: () => this.$t('fhir-is-normative-desc'),
          disabled: true,
          color: 'green lighten-4'
        },
        {
          value: 'D',
          attribute: 'isDraft',
          description: () => this.$t('fhir-is-draft-desc'),
          disabled: true,
          color: 'gray'
        }
      ]
    }
  },
  props: {
    // The chips are disabled
    disabled: {
      type: Boolean
    },
    // Edit functionality is shown
    editable: {
      type: Boolean
    },
    // The FHIR meta object
    value: {
      type: Object,
      default: null
    }
  },
  computed: {
    availableFhirFlags () {
      return this.nonPresentFhirFlags.filter(flag => !flag.disabled)
    },
    nonPresentFhirFlags () {
      return this.FhirFlags.filter(flag => !this.editableItem?.[flag.attribute])
    },
    presentFhirFlags () {
      return this.FhirFlags.filter(flag => this.editableItem?.[flag.attribute] === 'true')
    }
  },
  methods: {
    emitChanges () {
      this.$emit('input', this.editableItem)
    },
    handleClickAddFlag (ev, flag) {
      if (flag.disabled) {
        ev.stopImmediatePropagation()
        return
      }
      this.setFlag(flag.attribute, 'true')
    },
    setFlag (key, value) {
      this.$set(this.editableItem, key, value)
      this.emitChanges()
    },
    unsetFlag (key) {
      this.$delete(this.editableItem, key)
      this.emitChanges()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler () {
        this.editableItem = cloneDeep(this.value)
      }
    }
  }
}
</script>
