<template>
  <Underconstruction/>
</template>

<script>
import Underconstruction from '../../views/Art/Underconstruction.vue'

export default {
  name: 'IdentifiersProfile',
  components: {
    Underconstruction
  }
}
</script>

<style>

</style>
