<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-numeric">
              {{ cardTitle }}
            </AdCardTitle>
            <v-card-text class="pa-5">
              <v-tabs v-model="tabIndex" optional class="mb-5">
                <v-tab
                  v-for="(t, index) in tabs"
                  :key="`term-ident-tab${index}`"
                  :to="{ name: t.name }"
                  :disabled="t.disabled"
                >
                  {{ $t(t.label)}}
                </v-tab>
              </v-tabs>

              <router-view />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  name: 'IdentifiersPanel',
  data () {
    return {
      tabs: [
        {
          name: 'rule-identifiers-template',
          label: 'templates'
        },
        {
          name: 'rule-identifiers-profile',
          label: 'Profiles',
          disabled: true
        }
      ],
      tabIndex: null
    }
  },
  computed: {
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['rule-identifiers', 'rule-identifiers-template', 'rule-identifiers-profile']
        },
        {
          text: this.$t('rules'),
          disabled: true,
          show: ['rule-identifiers', 'rule-identifiers-template', 'rule-identifiers-profile']
        },
        {
          text: this.$t('identifiers'),
          disabled: true,
          show: ['rule-identifiers', 'rule-identifiers-template', 'rule-identifiers-profile']
        },
        {
          exact: true,
          text: this.$t('templates'),
          disabled: true,
          show: ['rule-identifiers-template']
        },
        {
          exact: true,
          text: this.$t('Profiles'),
          disabled: true,
          show: ['rule-identifiers-profile']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    cardTitle () {
      if (this.$route.name === 'rule-identifiers-template') {
        return this.$t('menu_templateids')
      }
      if (this.$route.name === 'rule-identifiers-profile') {
        return this.$t('menu_profileids')
      }
      return this.$t('identifiers')
    }
  }
}
</script>
