<template>
<section v-if="profile" class="details">
  <v-text-field
    v-model="search"
    class="details__search"
    append-icon="mdi-magnify"
    :label="$t('search')"
    single-line
    hide-details
    solo
    dense
    clearable
  />
  <div class="details__content">
    <v-card v-for="element in filteredProfileItems" :key="element.uuid" class="details__card">
      <AdCardTitle>{{ getFid(element) }}</AdCardTitle>
      <v-card-text class="pa-0">
        <v-simple-table dense>
          <tbody>
            <tr v-for="detail in getElementDetailItems(element)" :key="element.uuid + detail.label">
              <th style="width: 100px">{{ $t(detail.label) }}</th>
              <td >{{ detail.value }}</td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</section>
</template>

<script>
import { debounce } from 'lodash'
export default {
  name: 'ProfileDesignBodyDetailsSection',
  props: {
    profile: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      search: '',
      searchDebounced: ''
    }
  },
  computed: {
    filteredProfileItems () {
      if (this.searchDebounced) {
        return this.flattenedProfileItems.filter(item => this.getFid(item)?.toLowerCase()?.includes(this.searchDebounced?.toLowerCase()))
      }
      return this.flattenedProfileItems
    },
    flattenedProfileItems () {
      return this.getFlatArrayOfElements(this.profile.items)
    }
  },
  methods: {
    getElementDetailItems (el) {
      const fhir = el.fhir?.[0] || {}
      // Use i18n tags as object keys
      const details = {
        'element-id': fhir.fid,
        definition: fhir.definition,
        cardinality: this.$filters.getCardinality(el),
        type: fhir.type?.map(t => t.value).join(', '),
        'is-modifier': fhir.isModifier,
        'meaning-if-missing': undefined, // NOT AVAILABLE IN FHIR DATA RETURNED FROM API
        requirements: fhir.requirements,
        summary: fhir.isSummary,
        comments: fhir.comment
      }
      return Object.keys(details).map(key => ({ label: key, value: details[key] })).filter(obj => ![null, undefined].includes(obj.value))
    },
    getFid (el) {
      return el?.fhir?.[0]?.fid
    },
    getFlatArrayOfElements (items) {
      if (!Array.isArray(items)) return []
      let results = []
      items.forEach(item => {
        if (item.is === 'element') {
          results.push(item)
        }
        if (Array.isArray(item.items)) {
          results = [...results, ...this.getFlatArrayOfElements(item.items)]
        }
      })
      return results
    },
    setSearch (id) {
      this.search = id || ''
      this.searchDebounced = id || ''
    },
    setSearchDebounced: debounce(function () {
      this.searchDebounced = this.search
    }, 300)
  },
  watch: {
    search () {
      this.setSearchDebounced()
    }
  }
}
</script>

<style lang="scss" scoped>
.details {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  &__search {
    max-width: 400px;
    margin: 0 0 1rem auto;
  }

  &__content {
    height: calc(var(--max-height-table-layer) + 16px);
    overflow: auto;
    padding: 0.5rem;
  }

  &__card {
    margin-bottom: 1rem;
  }

}
</style>
