<template>

  <div>
    <div v-if="!!editMode" class="backdrop-layer"></div>

    <v-card class="backdrop-item profile-card" :elevation="editMode ? 7 : 2" :class="{fullScreen: fullScreen}">
       <!-- Items title bar for full screen mode -->
      <AdCardTitle v-if="fullScreen">
        <div class="d-flex">
          <AdStatusDot
            darker
            tooltip
            larger
            :status="template.statusCode"
            :icon="$filters.getTemplateIcon(template)"
          />
          <span class="pl-2">{{ $filters.getMatchingTranslation({ value: template.name }) }}</span>
          <AdRefChip
            v-if="template.ref && template.ident"
            class="d-inline mt-1"
            :ident="template.ident"
            darker
            small
          />
          <span class="ml-2 text--disabled">({{ $t('items') }})</span>
          <MessageSnackbar/>

        </div>
        <v-spacer/>
        <div class="ml-auto">
          <AdButton
            type="exit-fullscreen"
            list
            @click="fullScreen = !fullScreen"
          />
        </div>
      </AdCardTitle>
      <!-- Items title bar for regular mode -->
      <div v-else class="d-flex align-center">
        <AdCardTitle inline>{{ $t('items') }}</AdCardTitle>
        <v-spacer/>
        <AdButton
          type="fullscreen"
          list
          @click="fullScreen = !fullScreen"
        />
      </div>
      <v-card-text>
        <v-tabs v-model="activeTab">
          <v-tab ripple>{{$t('content')}}</v-tab>
          <v-tab ripple>{{$t('details')}}</v-tab>
          <v-tab ripple>{{$t('mappings')}}</v-tab>
        </v-tabs>
        <v-tabs-items v-model="activeTab">
          <!-- Content tab -->
          <v-tab-item>
            <TreeTable
              ref="treeTable"
              :headers="filteredHeaders"
              :items="items"
              item-key="uuid"
              item-children="items"
            >
              <template #buttons>
                <UndoRedo
                  ref="undoRedo"
                  v-model="items"
                  :keepTrack="!!editMode"
                />
                <AdButton
                  v-if="isEditable && !editMode"
                  type="edit"
                  @click="startEditMode()"
                />
                <AdButton
                  v-if="isEditable && editMode"
                  type="save"
                  @click="saveEditedValues()"
                />
                <AdButton
                  v-if="isEditable && editMode"
                  type="cancel"
                  @click="cancelEditMode()"
                />
              </template>

              <template #no-data >
                <span>{{ $t('no-items') }}</span>
              </template>

              <!-- Name -->
              <template #item.name="{ item }">
                <template v-if="!['example', 'vocabulary'].includes(item.is)">
                  <v-icon class="pr-2" :color="getProfileItemIconColor(item)">
                    {{ getProfileItemIcon(item) }}
                  </v-icon>
                  <span class="font-weight-bold" :class="{'text--disabled': !itemSelected(item)}">
                    {{ item.name }}
                  </span>
                  <AdButton v-if="!isPolymorphicSubElement(item)" type="view-details" small list @click="goToElementDetails(item)"/>
                </template>
              </template>

              <!-- Actions regarding Structural Context Menu -->
              <template #item.actionStructuralContext="{ item: row }">
                <v-menu
                  v-if="!structuralContextMenuIsDisabled(row)"
                  v-model="menuIsOpen.structuralContext[row.uuid]"
                  bottom
                  origin="center center"
                  transition="scale-transition"
                  :z-index="fullScreen ? 10000 : 5"
                  allow-overflow
                >
                  <template #activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on"><v-icon>mdi-table-of-contents</v-icon></v-btn>
                  </template>
                  <v-list dense :key="row.uuid">
                    <template v-for="(item, i) in structuralContextMenuItems">
                      <!-- If item has subitems -->
                      <v-menu
                        v-if="showMenuItem(item, row) && item.sub && item.sub.length"
                        :key="i"
                        right
                        offset-x
                        origin="center center"
                        transition="slide-x-transition"
                        :z-index="fullScreen ? 10000 : 4"
                        nudge-top="8px"
                      >
                        <template #activator="{ on, attrs }">
                          <v-list-item v-bind="attrs" v-on="on" @click.stop="item.action ? executeMenuAction(item, row) : null" :ripple="false">
                            <v-list-item-icon v-if="item.icon">
                              <v-icon>{{ getMenuItemIcon(item, row) }}</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>
                              {{ getMenuItemTitle(item, row) }}
                            </v-list-item-title>
                            <v-list-item-action>
                              <v-icon>mdi-chevron-right</v-icon>
                            </v-list-item-action>
                          </v-list-item>
                        </template>
                        <v-list dense>
                          <template v-for="(sub, j) in item.sub" >
                            <v-list-item v-if="showMenuItem(sub, row)" :key="j" link @click="closeStructuralContextMenu(row); sub.action ? executeMenuAction(sub, row) : null;">
                              <v-list-item-icon v-if="sub.icon">
                                <v-icon>{{ sub.icon }}</v-icon>
                              </v-list-item-icon>
                              <v-list-item-title>
                                {{ $t(sub.title) }}
                              </v-list-item-title>
                            </v-list-item>
                          </template>
                        </v-list>
                      </v-menu>
                      <!-- If item does not have subitems -->
                      <v-list-item v-else-if="showMenuItem(item, row)" :key="i" link @click="item.action ? executeMenuAction(item, row) : null">
                        <v-list-item-icon v-if="item.icon">
                          <v-icon>{{ getMenuItemIcon(item, row) }}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>
                              {{ getMenuItemTitle(item, row) }}
                        </v-list-item-title>
                      </v-list-item>
                    </template>
                  </v-list>
                </v-menu>
              </template>

              <!-- Flags -->
              <template #item.flags="{ item }">
                <FhirFlags
                  v-if="item.fhir && item.fhir[0]"
                  v-model="item.fhir[0]"
                  :editable="editMode && itemSelected(item)"
                  :disabled="editMode && !itemSelected(item)"
                />
              </template>

              <!-- Cardinality -->
              <template #item.card="{ item }">
                <div v-if="editMode && itemSelected(item) && !isPolymorphicSubElement(item)" :id="`card${item.uuid}`" class="d-flex align-center">
                  <EditableCardinality
                    :ref="`inlineCard-${item.uuid}`"
                    :value="item.card"
                    @input="trackState(); item.card = $event;"
                    hide-details
                    :allow-null="false"
                    dense
                    :dialogProps="{attach: fullScreen ? '.profile-card' : undefined}"
                  />
                  <v-tooltip bottom v-if="!hasValidCardinalityChange(item)">
                    <template #activator="{ on, attrs }">
                      <v-icon
                        style="margin: 0 0 -4px 8px;"
                        v-bind="attrs"
                        v-on="on"
                        color="warning"
                        dark
                        small
                      >
                        mdi-alert
                      </v-icon>
                    </template>
                    <span>{{$t('uncommon-cardinality-change-hint', {from: item.initialCard, to: item.card})}}</span>
                  </v-tooltip>
                </div>
                <template v-else-if="item.card">
                  <span :class="{'text--disabled': !itemSelected(item)}">
                    {{ $filters.nonBreakable(item.card.replace('..', ' .. ')) }}
                  </span>
                </template>
              </template>

              <!-- Datatype -->
              <template #item.type="{ item }">
                <span :class="{'text--disabled': !itemSelected(item)}">{{ getFhirTypes(item, 1) }}</span>
              </template>

              <!-- Description and constraints -->
              <template #item.description="{ item }">
                <template v-if="item.desc != null">
                  <div v-if="itemSelected(item)" class="my-2" v-html="$filters.getMatchingTranslation({ value: item.desc })"></div>
                </template>
                  <span v-for="(v, ix) in fhirElementBindings(item)" v-bind:key="ix">
                    <div>
                      <span class="font-weight-bold">{{ $t('binding') }} </span>
                      <span v-if="v.strength">({{ v.strength }})</span>
                      <span>
                        <AdButton
                          v-if="v.valueSet"
                          link
                          :to="v.to"
                        >
                          <span class="ml-1">{{ v.displayName || v.name }}</span>
                        </AdButton>
                        <span v-else>{{ v.displayName || v.name }}</span>
                        <span v-if="v.description">: {{ v.description }}</span>
                      </span>
                    </div>
                  </span>
              </template>

              <!-- Actions regarding properties of the item -->
              <template #item.actionPropertyContext="{ item: row }">
                <v-menu bottom origin="center center" transition="scale-transition">
                  <template #activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on" :disabled="!itemSelected(row)"><v-icon>mdi-dots-vertical</v-icon></v-btn>
                  </template>

                  <v-list dense>
                    <template v-for="(item, i) in propertyContextMenuItems">
                      <v-list-item
                        v-if="showMenuItem(item, row)"
                        :key="i"
                        link
                        @click="item.action ? executeMenuAction(item, row) : null"
                      >
                        <v-list-item-icon v-if="item.icon">
                          <v-icon>{{ getMenuItemIcon(item, row) }}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>
                          {{ getMenuItemTitle(item, row) }}
                        </v-list-item-title>
                      </v-list-item>
                    </template>
                  </v-list>
                </v-menu>
              </template>
            </TreeTable>
          </v-tab-item>

          <!-- Details tab -->
          <v-tab-item>
            <ProfileDesignBodyDetailsSection ref="detailsSection" :profile="template"/>
          </v-tab-item>

          <!-- Mappings tab -->
          <v-tab-item>
            <ProfileDesignBodyMappingsSection :profile="template"/>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
     </v-card>
  </div>
</template>

<script>
import LockService from '@/services/LockService'
import { cloneDeep } from 'lodash'
import UndoRedo from '@/components/Utilities/UndoRedo'
import FhirFlags from '@/components/Rule/FhirFlags'
import ProfileDesignBodyDetailsSection from '@/components/Rule/ProfileDesignBodyDetailsSection'
import ProfileDesignBodyMappingsSection from '@/components/Rule/ProfileDesignBodyMappingsSection'
import MessageSnackbar from '@/components/Utilities/MessageSnackbar'
export default {
  name: 'ProfileDesignBody',
  components: {
    MessageSnackbar,
    UndoRedo,
    FhirFlags,
    ProfileDesignBodyDetailsSection,
    ProfileDesignBodyMappingsSection
  },
  props: {
    template: {
      type: Object,
      required: true
    },
    editable: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return {
      activeTab: 0,
      editMode: false,
      fullScreen: false,
      items: [],
      menuIsOpen: {
        structuralContext: {} // gets mapped by uuid, e.g. { someId: true }
      },
      modals: { },
      originalProfile: null, // used to restore state when canceling editMode
      search: '',

      /** *********************** structuralContextMenuItems & propertyContextMenuItems *********************
       * Array of objects (menu items)
       * item.title       string OR function that returns a string (item is passed)
       * item.icon        string OR function that returns a string (item is passed)
       * item.action      function (e.g. this.sampleAction). (item and menu-item are passed)
       * item.mutation    boolean
       *                  In combination with action. Set to true if action directly mutates the item to enable undo/redo the action
       * this.showItem    boolean OR function (item is passed) OR [function, function, ...]
       *                  OR omitted (defaults to true)
       * sub              array of objects (menu items)
       *
       * Additional properties can be added, which can be used in the handler for item.action
       *****************************************************************************************************/
      structuralContextMenuItems: [
        {
          title: 'slice',
          icon: 'mdi-arrow-decision',
          action: () => {},
          mutation: true,
          showItem: (item) => !this.isPolymorphicSubElement(item)
        },
        {
          title: item => this.itemSelected(item) ? 'unselect' : 'select',
          icon: item => this.itemSelected(item) ? 'mdi-checkbox-marked-circle-outline' : 'mdi-checkbox-marked-circle',
          action: this.toggleSelectorProfileItem,
          mutation: true,
          showItem: true
        }
      ],
      propertyContextMenuItems: [
        {
          title: item => /\[.*\]$/.test(item.name) ? 'edit-predicate-slice' : 'add-predicate-slice',
          action: () => {},
          showItem: true
        },
        {
          title: 'remove-predicate-slice',
          action: () => {},
          showItem: item => true
        },
        {
          title: item => item.desc ? 'edit-description' : 'add-description',
          action: () => {},
          showItem: item => true
        },
        {
          title: 'remove-description',
          action: () => {},
          showItem: item => true,
          mutation: true
        },
        {
          title: item => item.constraint ? 'edit-constraint' : 'add-constraint',
          action: () => {},
          showItem: item => true
        },
        {
          title: 'remove-constraint',
          action: () => {},
          showItem: item => true,
          mutation: true
        },
        {
          title: 'add-datatype',
          action: () => {},
          showItem: item => true,
          mutation: true
        },
        {
          title: 'remove-datatype',
          action: () => {},
          showItem: item => true,
          mutation: true
        },
        {
          title: 'insert-reference',
          action: () => {},
          showItem: item => true
        },
        {
          title: 'edit-reference',
          action: () => {},
          showItem: item => true
        },
        {
          title: 'delete-reference',
          action: () => {},
          showItem: item => true,
          mutation: true
        },
        {
          title: 'add-valueset-binding',
          action: () => {},
          showItem: item => true
        },
        {
          title: 'edit-valueset-binding',
          action: () => {},
          showItem: item => true
        },
        {
          title: 'add-binding-strength',
          action: () => {},
          showItem: item => true
        },
        {
          title: 'edit-binding-strength',
          action: () => {},
          showItem: item => true
        }
      ]
    }
  },
  computed: {
    filteredHeaders () {
      return this.headers.filter(h => typeof h.visible === 'function' ? h.visible() : true)
    },
    headers () {
      return [
        {
          text: this.$t('item'),
          value: 'name',
          width: '30%'
        },
        {
          text: this.$t('actions'),
          value: 'actionStructuralContext',
          width: '1%',
          visible: () => this.editMode && this.isEditable
        },
        {
          text: this.$t('flags'),
          value: 'flags',
          width: '1%'
        },

        {
          text: this.$t('card'),
          value: 'card',
          width: '1%'
        },
        {
          text: this.$t('type'),
          value: 'type',
          width: '1%'
        },
        {
          text: `${this.$t('description')} / ${this.$t('constraints')}`,
          value: 'description',
          width: '50%'
        },
        {
          text: this.$t('actions'),
          value: 'actionPropertyContext',
          width: '1%',
          visible: () => this.editMode && this.isEditable
        }
      ]
    },
    isEditable () {
      return this.editable && this.$store.getters['rule/profile/profileItemIsEditable']
    },
    profileDefaultReferenceLabel () {
      return this.template?.item?.[0].label || this.template?.name
    },
    fhirElementBindings () {
      return item => {
        return item?.fhir?.[0].binding || []
      }
    }
  },
  methods: {
    async cancelEditMode () {
      try {
        const objectId = this.template.id || this.template.ref
        const effectiveDate = this.template.effectiveDate
        this.$store.commit('rule/profile/setProfileItem', cloneDeep(this.originalProfile))
        this.originalProfile = null
        this.editMode = false
        this.$refs.treeTable.expandAll()

        await LockService.unlockObjectId({ objectId, effectiveDate })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    closeStructuralContextMenu (item) {
      this.menuIsOpen.structuralContext[item.uuid] = false
    },
    /**
     * Execute menu item action. Track state if opted
     * @param {Object} item - The menu item containing the action
     * @param {...*} args
     * @return void
     */
    executeMenuAction (item, row) {
      if (typeof item.action !== 'function') {
        return
      }
      if (item.mutation === true) {
        this.trackState()
      }
      item.action(row, item)
    },
    getFhirTypes (item, max) {
      const types = item.fhir?.[0]?.type
      if (!Array.isArray(types)) return null

      const shownTypes = types.map(t => t.value).slice(0, max)
      const totalNumOfTypes = types.length
      let result = shownTypes.join(', ')
      if (typeof max === 'number' && totalNumOfTypes > max) {
        result += `, ... (${totalNumOfTypes})`
      }
      return result
    },
    getMenuItemIcon (item, row) {
      if (typeof item.icon === 'string') return item.icon
      if (typeof item.icon === 'function') return item.icon(row)
      return ''
    },
    getMenuItemTitle (item, row) {
      if (typeof item.title === 'string') return this.$t(item.title)
      if (typeof item.title === 'function') return this.$t(item.title(row))
      return ''
    },
    getProfileItemIcon (item) {
      const type = item?.fhir?.[0]?.type?.[0]?.value
      const isPolymorph = this.isPolymorphicElement(item)

      if (isPolymorph) return 'mdi-arrow-decision'
      if (item?.items?.length) return 'mdi-folder-multiple'
      if (!type) return 'mdi-help-circle-outline'
      if (type === 'Reference') return 'mdi-link-variant'
      if (type[0] === type[0].toUpperCase()) return 'mdi-cube'
      return 'mdi-form-textbox'
    },
    getProfileItemIconColor (item) {
      return this.itemSelected(item) ? 'grey darken-1' : 'grey lighten-2'
    },
    async goToElementDetails (el) {
      const id = el?.fhir?.[0]?.fid || ''
      this.activeTab = 1
      await this.$nextTick()
      await this.$nextTick()
      this.$refs.detailsSection.setSearch(id)
    },
    hasValidCardinalityChange (item) {
      const { card, initialCard } = item || {}
      // Always valid
      if (!(card && initialCard)) return true
      if (card === initialCard) return true

      // Cases where initialCard contains a *
      if (initialCard === '0..*') return true
      if (initialCard === '1..*') return /^1\.\.[1-9]+[\d]?$/.test(card)

      // Cases where initialCard is explicit
      const explicitToExplicitRegex = /^([\d]+)\.\.([\d]+)$/
      if (explicitToExplicitRegex.test(initialCard)) {
        const { 1: initialMin, 2: initialMax } = initialCard.match(explicitToExplicitRegex)
        const { 1: newMin, 2: newMax } = card.match(explicitToExplicitRegex) || []
        // If card does not match the explicitToExplicitRegex, it means it contains non-digits (e.g. 1..*)
        // If initialCard is explicit, the newCard can not have 'wildcards'
        if (!newMin || !newMax) return false
        return +newMin >= +initialMin && +newMax <= +initialMax && +newMin <= +newMax
      }

      return true
    },
    /**
     * Adds an item to the template body in the specified position.
     * Updates the order property of other items in the list.
     * @param {Object} newItemRef - Reference to the new item. Gets mutated
     * @param {Object} originalItemRef - Reference to the original item (starting point). Gets mutated
     * @param {String} position - Shall be one of: 'into', 'below', 'above'
     */
    insertItem ({ newItemRef, originalItemRef, position }) {
      // Handle 'into' insertion
      if (position === 'into') {
        newItemRef.parentId = originalItemRef.uuid
        newItemRef.order = (originalItemRef.items.length + 1).toString()
        originalItemRef.items.push(newItemRef)
        return
      }

      // Handle above/below insertion on the root level
      if (['above', 'below'].includes(position) && !originalItemRef.parentId) {
        return handleAboveBelowInsertion(this.items, newItemRef)
      }

      // Handle above/below insertion on higher level
      if (['above', 'below'].includes(position)) {
        // Get the parent item
        const parent = this.$filters.listHelper.findItemInList({
          items: this.items,
          children: 'items',
          handler: match => match.uuid === originalItemRef.parentId
        })
        if (!parent || !Array.isArray(parent.items)) {
          return
        }
        newItemRef.parentId = originalItemRef.parentId
        const newParentItems = handleAboveBelowInsertion(parent.items, newItemRef)
        parent.items = newParentItems
        const updatedList = this.$filters.listHelper.replaceItemInList({
          items: this.items,
          item: parent,
          children: 'items',
          handler: match => match.uuid === parent.uuid
        })
        this.items = updatedList
      }

      /**
       * Helper that updates order of sibblings and inserts the newItem
       * Function mutates passed arguments
       * @return Array - The updated parent
       */
      function handleAboveBelowInsertion (parent = [], newItem) {
        const originalOrder = originalItemRef.order
        const originalItemIndex = +originalOrder - 1
        // Change order of all the other items that are present
        parent.forEach(item => {
          if (position === 'above' && +item.order >= originalOrder) {
            item.order = (+item.order + 1).toString()
          } else if (position === 'below' && +item.order > originalOrder) {
            item.order = (+item.order + 1).toString()
          }
        })
        // Add order to the new item
        newItem.order = position === 'above'
          ? originalOrder
          : (+originalOrder + 1).toString()

        // Add item to items array
        const insertPosition = position === 'above' ? originalItemIndex : originalItemIndex + 1
        parent.splice(insertPosition, 0, newItem)
        return parent
      }
    },
    isPolymorphicElement (item) {
      return /\[.*\]$/.test(item?.name) || item?.fhir?.[0]?.type?.length > 1
    },
    isPolymorphicSubElement (item) {
      // Quick check
      if (item.initialCard !== null) return false // Polymorphic sub-elements don't have a cardinality

      // Thorough check
      const parent = !!item.parentId && this.$filters.listHelper.listHelper({
        items: this.items || [],
        children: 'items',
        handler: match => match.uuid === item.parentId
      })?.item
      return parent?.is === 'choice'
    },
    itemSelected (item) {
      return !this.editMode || item?.selector
    },
    /**
     * Helper to maintain a correct sequence of order properties
     * @param {Object[]} list
     * @returns {Object[]} The mutated list
     */
    normalizeOrderSequence (list) {
      if (!Array.isArray(list)) {
        return
      }
      list.forEach((item, index) => {
        item.order = (index + 1).toString()
      })
      return list
    },
    polymorphicSubElementIsSelectable (item) {
      const parent = this.$filters.listHelper.listHelper({
        items: this.items,
        children: 'items',
        handler: match => match.uuid === item.parentId
      })?.item

      if (!this.isPolymorphicElement(parent)) {
        if (process.env.NODE_ENV === 'development') console.error(`Parent of ${item.name} is not a polymorphic element.`)
        return false
      }
      return !!parent?.selector
    },
    prepareProfileBodyForApi (items, { preserveIds = false } = {}) {
      // TODO
      return items
    },
    prepareProfileBodyForTreeView ({ items, parentId }) {
      if (!Array.isArray(items)) {
        console.error('Expected items to be an array')
        return
      }

      const preparedItems = []

      items.forEach((item) => {
        const uuid = this.getUuid()
        if (typeof item !== 'object' || item === null) return

        const min = item.minimumMultiplicity ?? null
        const max = item.maximumMultiplicity ?? null

        // Reference items
        if (item.is === 'item') {
          // Skip empty or default labels
          if ([this.profileDefaultReferenceLabel, ''].includes(item?.label)) return
          return preparedItems.push({
            uuid,
            parentId,
            selector: true,
            ...item
          })
        }

        // Other items (elements, choices, ...)
        const data = {
          uuid,
          parentId,
          selector: ['', 'original'].includes(item?.selected) || true,
          card: min !== null && max !== null ? `${min}..${max}` : null,
          initialCard: min !== null && max !== null ? `${min}..${max}` : null,
          ...item
        }

        data.items = data.items ?? []

        // Handle potential sub-items
        if (Array.isArray(item.items)) {
          data.items = this.prepareProfileBodyForTreeView({
            items: item.items,
            parentId: uuid
          })
        }

        preparedItems.push(data)
      })

      return preparedItems
    },

    /**
     * Save all edits from edit phase of the Template Design Body
     */
    async saveEditedValues () {
      try {
        // If an inline input has an error, scroll into view
        if (this.$refs) {
        // Expand the tree, so all inputs are rendered
          this.$refs.treeTable.expandAll()
          await this.$nextTick()

          const inlineInputRefs = Object.keys(this.$refs).filter((key) => key.startsWith('inlineCard-'))
          const firstError = inlineInputRefs.find(key => this.$refs[key] && !this.$refs[key].inputIsValid)
          if (firstError) {
            return this.scrollToElement(firstError)
          }

          const data = cloneDeep(this.$store.getters['rule/profile/profileItem'])
          data.items = this.prepareProfileBodyForApi(this.items)

          // await this.$store.dispatch('rule/profile/putProfile', { data })
          // this.$notify(this.$t('submission-save-success-label'), 'success')
          this.$notify(this.$t('notyetimplemented'), 'info')

          this.editMode = false
          this.$refs.treeTable.expandAll()
        }
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
        this.cancelEditMode()
      }
    },
    scrollToElement (keyOn$refs) {
      if (!keyOn$refs) {
        return
      }
      const elementToScrollTo = this.$refs[keyOn$refs]?.$el
      if (!elementToScrollTo) {
        return
      }
      const offset = -200
      const top = elementToScrollTo.getBoundingClientRect().top + window.pageYOffset + offset
      return window.scrollTo({ top, behavior: 'smooth' })
    },
    showMenuItem (item, row) {
      if (item.showItem === undefined) return true
      if (typeof item.showItem === 'boolean') return item.showItem
      if (typeof item.showItem === 'function') return item.showItem(row)
      if (Array.isArray(item.showItem)) return item.showItem.every(condition => condition(row) === true)
      return false
    },
    async startEditMode () {
      try {
        // TODO Check what is needed here. Probably don't need the datatypes. Do we need something like getTemplateForEdit? Results in HTTP 500 now (9/10/2023)
        // const { id, effectiveDate } = this.template
        this.originalProfile = cloneDeep(this.template)

        // Get template ready for edit and fetch datatypes
        const editModePromises = []
        // editModePromises.push(this.$store.dispatch('rule/template/getTemplateForEdit', { id, effectiveDate }))
        if (!this.$store.getters['rule/template/datatypes']) {
          // editModePromises.push(this.$store.dispatch('rule/template/getTemplateDatatypes'))
        }
        await Promise.all(editModePromises)

        this.editMode = true
        if (this.$refs.treeTable) {
          this.$refs.treeTable.expandAll()
        }
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    structuralContextMenuIsDisabled (item) {
      if (this.isPolymorphicSubElement(item)) {
        return item.selector === false && !this.polymorphicSubElementIsSelectable(item)
      }
      return false
    },
    toggleSelectorProfileItem (item, { forcedValue } = {}) {
      item.selector = typeof forcedValue === 'boolean' ? forcedValue : !item?.selector

      // Auto-select potential child items
      if (this.isPolymorphicElement(item) && item.selector === true) return
      if (Array.isArray(item?.items)) {
        item.items.forEach(i => {
          this.toggleSelectorProfileItem(i, { forcedValue: item.selector })
        })
      }
    },
    // Call before each edit to facilitate undo/redo functionality
    trackState () {
      if (this.$refs.undoRedo) {
        this.$refs.undoRedo.trackState()
      }
    }
  },
  watch: {
    template: {
      immediate: true,
      handler: function (template) {
        // Render element
        this.items = this.prepareProfileBodyForTreeView({
          items: cloneDeep(template.items || [])
        })
      }
    },
    activeTab (newTab, oldTab) {
      if (oldTab === 1) {
        // The user navigated away from the Details tab.
        this.$refs.detailsSection.setSearch('')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.backdrop-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.backdrop-item {
  position: relative;
  z-index: 3;
}

::v-deep .v-data-table td {
  p, h1, h2, h3 {
    margin: 0;
  }
  p:first-child {
    display: inline-block;
  }
  li p:first-child {
    display: inline !important;
  }
}

.fullScreen {
    transition: all 1s;
    z-index: 9999;
    position: fixed;
    inset: 0;
    margin: 0 !important;
    & ::v-deep .v-data-table--fixed-height .v-data-table__wrapper  {
      overflow-y: hidden;
    }
  }

.profile-card {
  --max-height-table-layer: calc(100vh - 220px);
  & ::v-deep div.table-layer {
    min-width: min(800px, 50%);
  }

  & ::v-deep div.active-item-layer .cardContent,
    ::v-deep div.table-layer {
      max-height: var(--max-height-table-layer) !important;
      overflow: auto;
  }

  &:not(.fullScreen) {
    --max-height-table-layer: calc(100vh - 320px);
    & ::v-deep div.active-item-layer .cardContent {
      max-height: 600px;
    }
  }
}
</style>
