<template>
<section v-if="profile" class="mappings">
  <v-text-field
    v-model="search"
    class="mappings__search"
    append-icon="mdi-magnify"
    :label="$t('search')"
    single-line
    hide-details
    solo
    dense
    clearable
  />
  <div class="mappings__content">
    <template v-for="(group, groupKey) in filteredGroupedMappings">
      <v-card v-if="group.length" :key="groupKey" class="mappings__card">
        <AdCardTitle>{{ groupKey }}</AdCardTitle>
        <v-card-text class="pa-0">
          <v-simple-table dense>
            <tbody>
              <template v-for="(mapping) in group">
                <!-- If parents are missing, inject them before the actual mapping -->
                <tr v-if="hasMissingParent({mapping, group})" :key="groupKey + mapping.fid + mapping.map + 'parent'">
                  <th :style="getTableHeaderStyle({mapping, group, isInjectedParent: true })">
                    {{ getElementLabel( {mapping: {fid: getInjectedParentFid(mapping)} }) }}
                  </th>
                  <td>&nbsp;</td>
                </tr>
                <!-- The actual mapping -->
                <tr :key="groupKey + mapping.fid + mapping.map">
                  <th :style="getTableHeaderStyle({mapping, group})">
                    {{ getElementLabel({mapping}) }}
                  </th>
                  <td >{{ mapping.map }}</td>
                </tr>
              </template>
            </tbody>
          </v-simple-table>
        </v-card-text>
      </v-card>
    </template>
  </div>
</section>
</template>

<script>
import { mapValues, debounce } from 'lodash'
export default {
  name: 'ProfileDesignBodyMappingsSection',
  props: {
    profile: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      search: '',
      searchDebounced: ''
    }
  },
  computed: {
    filteredGroupedMappings () {
      if (this.searchDebounced) {
        return mapValues(this.groupedMappings, mapping => mapping.filter(mapping => {
          // Search on full fid
          // return mapping.fid?.toLowerCase()?.includes(this.searchDebounced?.toLowerCase())
          // Search only on last part of fid
          return mapping.fid?.split('.').at(-1)?.toLowerCase()?.includes(this.searchDebounced?.toLowerCase())
          // Or for exact search:
          // return mapping.fid?.split('.').map(idPart => idPart.toLowerCase()).includes(this.searchDebounced?.toLowerCase())
        }))
      }
      return this.groupedMappings
    },
    groupedMappings () {
      const results = {}
      this.flattenedProfileItems.forEach((item, i) => {
        if (!Array.isArray(item.fhir?.[0]?.mapping)) return
        item.fhir[0].mapping.forEach((mapping, j) => {
          if (!results[mapping.identity]) {
            results[mapping.identity] = []
          }
          results[mapping.identity].push({ ...mapping, fid: item.fhir[0].fid })
        })
      })
      return results
    },
    flattenedProfileItems () {
      return this.getFlatArrayOfElements(this.profile.items)
    }
  },
  methods: {
    getElementLabel ({ mapping }) {
      return mapping?.fid?.split('.').at(-1) || null
    },
    getInjectedParentFid (mapping) {
      return mapping?.missingParent || mapping?.fid?.split('.').slice(0, -1).join('.')
    },
    getTableHeaderStyle ({ mapping, group, isInjectedParent }) {
      let indents = mapping.fid?.split('.').length || 0

      // Subtract indents for every part of the fid of the first group item.
      const fidLengthOfFirstItem = group?.[0]?.fid?.split('.').length || 0
      if (fidLengthOfFirstItem > 0) {
        indents -= fidLengthOfFirstItem
      }
      // If this row is injected, because the next row is missing a parent, subtract indent
      if (isInjectedParent) {
        indents -= 1
      }
      // If first in the group has a missing parent, add indent
      const firstIsMissinngParent = this.hasMissingParent({ mapping: group?.[0], group })
      if (firstIsMissinngParent) {
        indents += 1
      }
      return `padding-left: ${(indents + 1) * 16}px; width: 100px;`
    },
    getFlatArrayOfElements (items) {
      if (!Array.isArray(items)) return []
      let results = []
      items.forEach(item => {
        if (item.is === 'element') {
          results.push(item)
        }
        if (Array.isArray(item.items)) {
          results = [...results, ...this.getFlatArrayOfElements(item.items)]
        }
      })
      return results
    },
    hasMissingParent ({ mapping, group }) {
      const currentIndex = group.indexOf(mapping)
      const prevIndex = (currentIndex - 1) < 0 ? null : currentIndex - 1

      const currentFidArr = mapping.fid?.split('.') || []

      // When there is no previous item and the fid has mulitple parts, a parent is missing.
      if (prevIndex === null) return currentFidArr.length > 1

      // In other cases, check if the previous item is a parent by comparing the fid's.
      const prevFidArr = group[prevIndex].fid?.split('.') || []
      const parentShouldContain = currentFidArr.slice(0, -1)
      const prevIsNotParent = currentFidArr.length > prevFidArr.length && prevFidArr.join('.') !== parentShouldContain.join('.')
      return prevIsNotParent
    },
    setSearch (id) {
      this.search = id || ''
      this.searchDebounced = id || ''
    },
    setSearchDebounced: debounce(function () {
      this.searchDebounced = this.search
    }, 300)
  },
  watch: {
    search () {
      this.setSearchDebounced()
    }
  }
}
</script>

<style lang="scss" scoped>
.mappings {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;

  &__search {
    max-width: 400px;
    margin: 0 0 1rem auto;
  }

  &__content {
    height: calc(var(--max-height-table-layer) + 16px);
    overflow: auto;
    padding: 0.5rem;
  }

  &__card {
    margin-bottom: 1rem;
  }

}
</style>
