<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <v-row class="d-flex flex-row flex-md-nowrap">
        <v-col cols="12" md="auto" class="flex-grow-0 col-treeview">
          <TreeviewPanel
            :trees="trees"
            :filters="treeFilters"
          >
            <template #action-buttons>
              <AdButton type="add" :text="$t('new')" :hint="$t('new')" list-item @click="$notify($t('notyetimplemented'))" />
              <AdButton type="clone" :text="$t('from-prototype')" :hint="$t('from-prototype-hint')" list-item @click="$notify($t('notyetimplemented'))" />
              <AdButton type="inherit" :text="$t('new-reference')" :hint="$t('new-reference')" list-item @click="$notify($t('notyetimplemented'))" />
              <AdButton type="clone" list-item @click="$notify($t('notyetimplemented'))" />
            </template>
          </TreeviewPanel>
        </v-col>
        <v-col cols="12" md="auto" class="flex-grow-1 flex-shrink-1">
          <!-- Used to display details of a normal template -->
          <router-view :key="$route.fullPath"/>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'
import { mapGetters } from 'vuex'

export default {
  name: 'ProfilePanel',
  components: {
    TreeviewPanel
  },
  data () {
    return {
      treeFilters: []
    }
  },
  computed: {
    ...mapGetters('server', ['getTemplateStatuses', 'getDecorTypes']),
    ...mapGetters('rule/profile', ['profiles', 'profileItem', 'profileActive', 'isLoading', 'isLoaded', 'profilesAreEditable']),

    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['profiles', 'profiles-details-id', 'profiles-details-id-effectiveDate']
        },
        {
          text: this.$t('rules'),
          disabled: true,
          show: ['profiles', 'profiles-details-id', 'profiles-details-id-effectiveDate']
        },
        {
          exact: true,
          text: this.$t('Profiles'),
          to: { name: 'profiles' },
          show: ['profiles', 'profiles-details-id', 'profiles-details-id-effectiveDate']

        },
        {
          text: this.$filters.getMatchingTranslation({
            value: this.$store.getters['rule/profile/profileActive']?.displayName
          }) || this.$route.params?.id,
          to: {
            name: 'profiles-details-id',
            params: {
              id: this.$route.params?.id
            }
          },
          show: ['profiles-details-id', 'profiles-details-id-effectiveDate']

        },
        {
          text: this.$route.params?.effectiveDate ? this.$filters.formatDateShort(this.$route.params?.effectiveDate) : '',
          to: {
            name: 'profiles-details-id-effectiveDate',
            params: {
              id: this.$route.params?.id,
              effectiveDate: this.$route.params?.effectiveDate
            }
          },
          show: ['profiles-details-id-effectiveDate']

        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    trees () {
      return {
        templateList: {
          artefact: 'TM',
          name: this.$t('profiles'),
          icon: 'mdi-check-circle',
          loading: this.isLoading('profiles'),
          loaded: this.isLoaded('profiles'),
          menu: this.profilesAreEditable,
          editable: false,
          expandable: false,
          items: this.$store.getters['rule/profile/profiles'] || [],
          key: 'uuid',
          text: (item) => {
            const post = item.versionLabel ? ` (${item.versionLabel})` : ''
            return (item.displayName || this.$filters.getMatchingTranslation({ value: item.name })) + post
          },
          onSelect: (activeItem) => {
            this.$store.commit('rule/profile/setProfileActive', activeItem)

            if (!this.$store.getters['rule/profile/preserveProfileItemOnSelect']) {
              this.$store.commit('rule/profile/setProfileItem', null)
            }

            // Workaround to route to the correct version when te page is loaded.
            let preferredEffectiveDate = null
            if (this.onSelectIsNeverCalled) {
              const preferredVersionIndex = this.$store.getters['rule/profile/profileVersionIndex']
              preferredEffectiveDate = activeItem?.version?.[preferredVersionIndex]?.effectiveDate || null
              this.onSelectIsNeverCalled = false
            }

            if (activeItem.id || activeItem.ref) {
              const routeName = 'profiles-details-id' + (activeItem.effectiveDate ? '-effectiveDate' : '')
              this.$router.push({ name: routeName, params: { id: activeItem.id || activeItem.ref, effectiveDate: preferredEffectiveDate || activeItem.effectiveDate } }).catch(() => {})
            }
          }
        }
      }
    },
    watchDataForFilters () {
      return [this.getTemplateStatuses, this.$i18n.locale]
    }
  },
  watch: {
    watchDataForFilters: {
      immediate: true,
      deep: true,
      handler () {
        const defaultActive = ['active', 'draft', 'pending']
        this.treeFilters = this.getTemplateStatuses?.map(status => {
          const currentlyActive = this.treeFilters?.find(filter => filter.key === status.value)?.active
          return {
            name: this.$filters.getMatchingTranslation({ value: status.label, locale: this.$i18n.locale }),
            key: status.value,
            active: currentlyActive !== undefined
              ? currentlyActive
              : defaultActive.includes(status.value)
          }
        }) || ['']
      }
    }
  }
}
</script>
