<template>
  <div v-if="fhirMeta" class="meta-items pr-3">
    <v-chip color="red lighten-2" class="pr-0">
      <span class="white--text">{{ $t('fhir-base-resource-type') }}</span>
      <v-chip color="red lighten-4" class="ml-4 pr-1">
        <span class="mr-1">{{ baseResourceTypeLabel }}</span>
        <EditableInfoIcon :infoText="baseResourceTypeHint"/>
      </v-chip>
    </v-chip>
    <v-chip color="red lighten-2" class="pr-0">
      <span class="white--text">{{ $t('fhir-version') }}</span>
      <v-chip color="red lighten-4" class="ml-4">
        <span class="mr-1">{{ fhirVersion }}</span>
      </v-chip>
    </v-chip>
  </div>
</template>

<script>
export default {
  props: {
    fhirMeta: {
      type: Object,
      default: null
    }
  },
  computed: {
    baseResourceTypeHint () {
      if (!this.fhirMeta?.type) return null
      const value = this.decorTypes.FHIRResourceType?.[0]?.enumeration?.find(item => item.value === this.fhirMeta.type)
        ?.hint || null
      return this.$filters.getMatchingTranslation({ value })
    },
    baseResourceTypeLabel () {
      if (!this.fhirMeta?.type) return null
      const value = this.decorTypes.FHIRResourceType?.[0]?.enumeration?.find(item => item.value === this.fhirMeta.type)
        ?.label || this.fhirMeta.type
      return this.$filters.getMatchingTranslation({ value })
    },
    decorTypes () {
      return this.$store.getters['server/getDecorTypes']?.data
    },
    fhirVersion () {
      return this.fhirMeta?.fhirVersion
    }
  }
}
</script>

<style lang="scss" scoped>
.meta-items {
  display: flex;
  gap: 1rem;
  & ::v-deep .editable-info-icon-button {
    top: 0px;
  }
}

</style>
