<template>
  <div v-if="profileActive" class="profile-details-card">
    <v-card>
      <div class="profile-details-card-header d-flex flex-row align-center pr-4 backdrop-item">
        <div class="d-flex flex-column justify-center flex-grow-1">
          <v-slide-y-transition group leave-absolute>
            <AdCardTitle key="title">
              <v-fade-transition group leave-absolute>
                <div key="profileItemName" class="d-flex flex-row">
                  <AdStatusDot darker larger :status="profileActive.statusCode"
                    :icon="profileActive.ref ? 'mdi-link-variant' : 'mdi-recycle'" />
                  <span class="pl-2">{{ profileDisplayName }}</span>
                  <AdRefChip v-if="profileActive.ref && profileActive.ident" class="d-inline mt-1"
                    :ident="profileActive.ident" :to="refChipLinkTarget" target="_blank" darker small />
                </div>
              </v-fade-transition>
            </AdCardTitle>
          </v-slide-y-transition>
        </div>
        <v-spacer />
        <AdButton v-if="userIsEditor && profileActive.ref" type="erase" :text="$t('reference')"
          :hint="$t('delete-reference')" @click="deleteProfileReference" />
        <IssueCreationModal v-if="userIsIssueEditor" :object="profileActive" @create="handleCreateIssue" />
      </div>
      <v-card-text>
        <PanelLoading :loading="isLoading('profileItem')" />
        <template v-if="!isLoading('profileItem')">
          <AdVersionHistoryStepper v-if="profileActive.effectiveDate" :versions="profileActive.version || []"
            :value="selectedVersion" @input="handleSwitchVersion" />
          <TemplateMetaDataAndBody isProfile :editable="true" />
        </template>
        <IssueAssociationsSection v-if="profileItem && (profileItem.id || profileItem.ref)" ref="issueSection"
          :count="issueAssociations" :objectId="profileItem.id || profileItem.ref"
          :objectEffectiveDate="profileItem.effectiveDate || null" />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { isCancel } from 'axios'
import IssueCreationModal from '@/components/Issue/IssueCreationModal'
import IssueAssociationsSection from '@/components/Utilities/IssueAssociationsSection'
import TemplateMetaDataAndBody from '@/components/Rule/TemplateMetaDataAndBody'

export default {
  name: 'ProfileDetailCard',
  components: {
    TemplateMetaDataAndBody,
    IssueCreationModal,
    IssueAssociationsSection
  },
  computed: {
    ...mapGetters('rule/profile', ['profiles', 'profileItem', 'profileActive', 'isLoading', 'isLoaded', 'profileItemIsEditable']),

    abortController: {
      get () {
        return this.$store.getters['rule/profile/abortController']
      },
      set (value) {
        this.$store.commit('rule/profile/setAbortController', value)
      }
    },
    categoryName () {
      return this.$filters.getMatchingTranslation({
        value: this.profileActive?.name
      })
    },
    issueAssociations () {
      return parseInt(this.profileItem?.issueAssociation?.[0]?.count) || 0
    },
    refChipLinkTarget () {
      const { ident, ref } = this.profileActive
      if (!ident || !ref) return

      // Check if project exists
      const projectList = this.$store.getters['project/getProjects']
      if (!projectList.some(proj => proj.prefix === ident)) {
        return
      }

      return {
        name: 'profiles-details-id',
        params: {
          id: ref,
          prefix: ident
        }
      }
    },
    selectedVersion: {
      get () {
        return this.$store.getters['rule/profile/profileVersionIndex']
      },
      set (index) {
        this.$store.commit('rule/profile/setProfileVersionIndex', index)
      }
    },
    profileDisplayName () {
      return this.profileActive?.displayName
    }

  },
  methods: {
    async deleteProfileReference () {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (!agree) {
        return
      }
      const template = this.profileActive

      try {
        await this.$store.dispatch('rule/template/deleteTemplate', { template })
        this.$notify(this.$t('submission-delete-success'), 'success')
        this.$router.push({ name: 'profiles' })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    fetchProfileByRouteParams () {
      // Set profileActive based on the route params
      const { id, effectiveDate } = this.$route.params
      if (!id) {
        return
      }
      const activeProfile = this.$filters.listHelper.findItemInList({
        items: this.$store.getters['rule/profile/profiles'] || [],
        handler: match => match.id === id || match.ref === id
      })
      if (!activeProfile) {
        return
      }
      const version = activeProfile.version?.find(t => t.effectiveDate === effectiveDate)
      const versionIndex = activeProfile.version?.filter(item => item.effectiveDate)?.findIndex(t => t.id === id && t.effectiveDate === effectiveDate)
      if (effectiveDate && versionIndex < 0) {
        return
      }

      this.$store.commit('rule/profile/setProfileItem', null)
      this.$store.commit('rule/profile/setProfileVersionIndex', effectiveDate ? versionIndex : 0)
      this.$store.commit('rule/profile/setProfileActive', activeProfile)

      // Abort pending request
      if (this.abortController) {
        this.abortController.abort('New template selected')
      }

      // Set up abortController
      this.abortController = new AbortController()

      this.$store.dispatch('rule/profile/getProfile', {
        id: version ? (version.id || version.ref) : (activeProfile.id || activeProfile.ref),
        effectiveDate: version ? version.effectiveDate : activeProfile.effectiveDate,
        params: {
          prefix: this.projectInFocus?.prefix
        },
        abortController: this.abortController
      })
        .then(() => {
          this.abortController = null
        })
        .catch(error => {
          if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
            return
          }
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    },
    handleCreateIssue (issue) {
      this.$store.commit('rule/profile/incrementProfileIssueAssociationCount')
      if (this.$refs?.issueSection?.issueList?.issue) {
        this.$refs.issueSection.issueList.issue.push(issue)
      }
    },
    async handleSwitchVersion (versionIndex) {
      const selectedVersion = this.profileActive?.version?.filter(item => item.effectiveDate)?.[versionIndex]
      if (selectedVersion) {
        this.$router.push({ name: 'profiles-details-id-effectiveDate', params: { id: selectedVersion.id, effectiveDate: selectedVersion.effectiveDate } }).catch(() => {})
      }
    }
  },
  watch: {
    profiles (newVal) {
      if (newVal) {
        const { id, effectiveDate } = this.$route.params
        const template = this.$filters.listHelper.findItemInList({
          items: this.profiles || [],
          handler: match => match.id === id || match.ref === id
        })
        const versionIndex = template?.version?.filter(item => item.effectiveDate)?.findIndex(tm => tm.id === id && tm.effectiveDate === effectiveDate)
        if (versionIndex > -1) {
          this.selectedVersion = versionIndex
        }
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(async vm => {
      try {
        if (vm.$store.getters['rule/profile/profiles'] === null) {
          await vm.$store.dispatch('rule/profile/getProfiles')
        }
        vm.fetchProfileByRouteParams()
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        vm.$oops(errorMessage)
      }
    })
  },
  async beforeRouteUpdate (to, from, next) {
    // Check if the profileList is fetched
    if (this.$store.getters['rule/profile/profiles'] === null) {
      await this.$store.dispatch('rule/profile/getProfiles').catch(error => {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      })
    }
    const currentId = this.profileItem?.id || this.profileItem?.ref
    const currentEffectiveDate = this.profileItem?.effectiveDate

    // Check if the route params match with the currently fetched profileItem. If not, another profile should be fetched
    if (to.params.id === currentId && to.params.effectiveDate === currentEffectiveDate) {
      return next()
    }

    // Look for the requested profile based on the route params
    const profile = this.$filters.listHelper.findItemInList({
      items: this.profiles || [],
      handler: t => t.id === to.params.id || t.ref === to.params.id
    })
    if (!profile) {
      this.$store.commit('rule/profile/setProfileActive', null)
      this.$store.commit('rule/profile/setProfileItem', null)
      return next()
    }

    // Set version index
    const versionIndex = profile.version?.filter(item => item.effectiveDate)?.findIndex(profile => profile.id === to.params.id && profile.effectiveDate === to.params.effectiveDate)
    this.selectedVersion = versionIndex >= 0 ? versionIndex : 0

    // If id in route doesnt't match with profileItem and profileActive, set profileActive
    if (to.params.id !== currentId && to.params.id !== this.profileActive?.id) {
      this.$store.commit('rule/profile/setProfileActive', profile)
    }

    // Find the version specified in the route
    const version = profile.version?.find(t => t.effectiveDate === to.params.effectiveDate)
    if (!version) {
      this.$store.commit('rule/profile/setProfileActive', null)
      this.$store.commit('rule/profile/setProfileItem', null)
      return next()
    }

    // Abort pending request
    if (this.abortController) {
      this.abortController.abort('New profile selected')
    }

    // Set up abortController
    this.abortController = new AbortController()

    // Fetch the profile
    this.$store.dispatch('rule/profile/getProfile', {
      id: version.id || version.ref,
      effectiveDate: version.effectiveDate,
      params: {
        prefix: this.projectInFocus?.prefix
      },
      abortController: this.abortController
    })
      .then(() => {
        this.abortController = null
      })
      .catch(error => {
        if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
          return
        }
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      })

    next()
  }
}
</script>

<style lang="scss" scoped>
.xv-stepper {
  height: 50px;
}

.xv-stepper__step {
  height: 30px;
}

.profile-details-card {
  position: relative;
  top: 0;

  .profile-details-card-header {
    position: sticky;
    top: 48px;
    z-index: 4;

    height: 72px;
    background: var(--v-topbottomstrip-base);

    .header-actions {
      background-color: rgba(255, 255, 255, 0.3);
      height: 100%;
      z-index: 10;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 10px;
    }

    // &:before {
      // content: "";
      // position: absolute;
      // left: 0;
      // top: 0;
      // width: 100%;
      // height: 10px;
      // background-color: var(--v-background-base);
      // outline: 3px solid var(--v-background-base);
      // margin-top: -12px;
    // }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 10px;
    //   z-index: 0;
    //   background-color: var(--v-topbottomstrip-base);
    //   border-radius: 4px;
    // }

    ::v-deep .v-card__title {
      background: transparent !important;
    }
  }
}
</style>
