<template>
  <v-dialog :value="value" width="1400" persistent>
    <v-card :loading="loading.postTemplate">
      <AdCardTitle dialog>
        {{ refOnlyMode ? $t('new-reference') : $t('from-prototype-hint') }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <!-- Template search and selection -->
          <v-row dense class="mb-2">
            <v-col>
              <v-data-table
                v-model="modal.inputs.selectedPrototype"
                :headers="headers"
                :items="filteredFetchedTemplates"
                item-key="uuid"
                :loading="loading.getTemplates"
                show-select
                single-select
                :items-per-page="5"
                :hide-default-footer="filteredFetchedTemplates <= 5"
                :footer-props="{ 'items-per-page-options': [5] }"
                @click:row="selectItem"
              >
                <!-- Search and filter -->
                <template #top>
                  <v-row class="my-2">
                    <v-spacer />
                    <!-- Object search -->
                    <v-col cols="6">
                      <v-text-field
                        v-model.trim="modal.search"
                        :label="$t('search')"
                        @click:append="fetchTemplates"
                        @keydown.enter.prevent="fetchTemplates"
                        @input="performDebouncedSearch"
                        append-icon="mdi-magnify"
                        single-line
                        dense
                        solo
                        hide-details
                      />
                    </v-col>
                    <!-- Filter for project idents -->
                    <v-col cols="auto" class="d-flex align-center">
                      <v-menu
                        :close-on-content-click="false"
                        offset-y
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            v-on="on"
                            :class="{'green': hasActiveProjectFilters}"
                            :color="hasActiveProjectFilters ? 'white' : 'light-green darken-2'"
                            icon
                            outlined
                            small
                            :disabled="!modal.projectFilters.length"
                          >
                            <v-icon small>mdi-filter</v-icon>
                          </v-btn>
                        </template>
                        <v-list v-if="modal.projectFilters.length">
                          <v-list-item-group>
                            <v-list-item
                              v-for="(filter, key) of modal.projectFilters"
                              :key="key"
                              @click="filter.active = !filter.active"
                            >
                              <v-list-item-action>
                                <v-checkbox
                                  :input-value="filter.active"
                                  color="primary"
                                />
                              </v-list-item-action>

                              <v-list-item-content>
                                <v-list-item-title>{{ filter.name }}</v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list-item-group>
                        </v-list>
                      </v-menu>
                    </v-col>
                  </v-row>
                </template>
                <!-- Select radio button -->
                <template #[`item.data-table-select`]="{isSelected, select, item }">
                  <v-radio-group :value="isSelected ? item.uuid : null">
                    <v-radio :value="item.uuid" @input="select(!isSelected)"></v-radio>
                  </v-radio-group>
                </template>
                <!-- Item fields -->
                <template v-slot:[`item.displayName`]="{ item }">
                  <div class="d-flex">
                    <AdStatusDot
                      :status="item.statusCode"
                      icon="mdi-recycle"
                      tooltip
                      larger
                      class="mr-2"
                    />
                    <div>
                      {{ $filters.getMatchingTranslation({ value: item.displayName }) }}
                      <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
                    </div>
                  </div>
                </template>
                <template v-slot:[`item.effectiveDate`]="{ item }">
                  {{ refOnlyMode ? $t('dynamic') : $filters.formatDateShort(item.effectiveDate) }}
                </template>
                <template v-slot:[`item.classification`]="{ item }">
                  {{ getClassificationLabel(item) }}
                </template>
                <template v-slot:[`item.project`]="{ item }">
                  {{ item.ident || item.project }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal" :disabled="loading.postTemplate"/>
        <AdButton
          type="add"
          :disabled="!modal.formIsValid || !modal.inputs.selectedPrototype.length || loading.postTemplate"
          @click="save"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep, debounce } from 'lodash'
import TemplateService from '@/services/TemplateService'

const initialModal = {
  fetchedTemplates: [],

  formIsValid: true,
  inputs: {
    selectedPrototype: []
  },
  search: '',
  lastSearch: '',
  projectFilters: []
}
export default {
  name: 'TemplateAddFromPrototype',
  components: {
  },
  props: {
    refOnlyMode: {
      type: Boolean,
      required: false,
      default: false
    },
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      loading: {
        getTemplates: false,
        postTemplate: false
      }
    }
  },
  computed: {
    filteredFetchedTemplates () {
      if (this.hasActiveProjectFilters) {
        return this.modal.fetchedTemplates
          .filter(tm => this.refOnlyMode ? tm.ident !== this.projectInFocus?.prefix : true)
          .filter(tm => this.modal.projectFilters.find(filter => [tm.ident, tm.project].includes(filter.name) && filter.active))
      }
      return this.modal.fetchedTemplates
        .filter(tm => this.refOnlyMode ? tm.ident !== this.projectInFocus?.prefix : true)
    },
    getClassificationLabel () {
      return item => {
        const type = item.classification?.[0]?.type?.[0]?.type || item.class
        const label = this.$store.getters['server/getTemplateTypes'](type)?.label || ''
        return this.$filters.getMatchingTranslation({ value: label, locale: this.$i18n.locale })
      }
    },
    hasActiveProjectFilters () {
      return !!this.modal.projectFilters.find(f => f.active)
    },
    headers () {
      return [
        { value: 'id', text: this.$t('id'), sortable: false },
        { value: 'displayName', text: this.$t('display-name'), sortable: true },
        { value: 'effectiveDate', text: this.$t('version'), sortable: true },
        {
          value: 'classification',
          text: this.$t('classification'),
          sortable: true,
          sort: (a, b) => {
            a = { classification: a }
            b = { classification: b }
            if (this.getClassificationLabel(a) > this.getClassificationLabel(b)) {
              return 1
            }
            if (this.getClassificationLabel(a) < this.getClassificationLabel(b)) {
              return -1
            }
            return 0
          }
        },
        { value: 'project', text: this.$t('prefix'), sortable: true, width: '150px' },
        { value: 'projectName', text: this.$t('project-name'), sortable: true }
      ]
    },
    templateTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.TemplateTypes?.[0].enumeration
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    async fetchTemplates () {
      try {
        const search = this.modal.search
        if (!search.length || search === this.modal.lastSearch) {
          return
        }
        this.modal.lastSearch = search

        this.loading.getTemplates = true
        const params = {
          prefix: this.projectInFocus?.prefix,
          search: this.modal.search
        }
        const list = await TemplateService.getTemplateList(params).then(res => res.data?.category) || []
        if (this.refOnlyMode) {
          const result = []
          // If only dynamic / latest versions should be shown, use:
          list.forEach(cat => {
            if (Array.isArray(cat.template)) {
              cat.template.forEach(tm => {
                result.push(tm)
              })
            }
          })
          this.modal.fetchedTemplates = result
        } else {
          this.modal.fetchedTemplates = this.$store.getters['rule/template/fullTemplateList']({ initialList: list })
        }

        // Set projectFilters without duplicates
        const projects = [...new Map(this.modal.fetchedTemplates.map(obj => [obj.prefix || obj.ident, obj])).values()]
        this.modal.projectFilters = projects.map(obj => ({ name: obj.prefix || obj.ident, active: false }))
          .filter(obj => obj.name !== undefined)
          .filter(obj => this.refOnlyMode ? obj.name !== this.projectInFocus?.prefix : true)
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      this.loading.getTemplates = false
    },

    performDebouncedSearch: debounce(function () {
      if (this.modal.search?.length >= 3) {
        this.fetchTemplates()
      }
    }, 500),

    async save () {
      try {
        this.loading.postTemplate = true
        const params = {
          sourceId: this.modal.inputs.selectedPrototype[0]?.id,
          sourceEffectiveDate: this.modal.inputs.selectedPrototype[0]?.effectiveDate,
          refOnly: this.refOnlyMode
        }
        const templateForList = this.refOnlyMode ? this.modal.inputs.selectedPrototype[0] : null
        await this.$store.dispatch('rule/template/createTemplate', { params, templateForList })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      this.loading.postTemplate = false
      this.closeModal()
    },
    selectItem (item, { select, isSelected }) {
      select(!isSelected)
    }
  }

}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}

::v-deep .v-data-table tbody tr {
  cursor: pointer;
}
</style>
