<template>
  <div v-if="templateItem">
    <EditableArtefactDetailHeader
      :item="templateItem"
      :locales="projectLocales"
      artefact="Templates"
      :service="patchMetaData"
      :readonly="!templateItemIsEditable"
      :isEditableStatusCode="statusCodeIsEditable"
      :hasDetails="!isProfile"
      :showMore.sync="metadataIsExpanded"
    >
      <TemplateMetaInformation v-if="!isProfile" :readonly="!templateItemIsEditable" />
    </EditableArtefactDetailHeader>
    <!-- official canonicalUri (on profiles) -->
    <v-row dense v-if="templateItem.canonicalUri">
      <v-col cols="12">
        <EditableString
          v-model="templateItem.canonicalUri"
          :label="$t('canonicalUri')"
          @change="updateString('canonicalUri')"
          show-delete-icon
          confirmation-required
        />
      </v-col>
    </v-row>

    <!-- FHIR Profile, uses profile panel components here -->
    <div v-if="isProfile">
      <v-row>
        <v-col cols="12">
          <!-- Profile FHIR meta -->
          <ProfileFhirMetaSection :fhirMeta="fhirMeta" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <ProfileDesignBody :template="templateItem" />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <TemplateUsageSection
            v-if="templateItem.id || templateItem.ref"
            :expanded.sync="usageSectionIsExpanded"
            :objectId="templateItem.id"
            :objectEffectiveDate="templateItem.effectiveDate"
          />
          <HistorySection
            v-if="templateItem.id || templateItem.ref"
            :expanded.sync="historySectionIsExpanded"
            :objectId="templateItem.id"
            :objectEffectiveDate="templateItem.effectiveDate"
            artefact="TM"
          />
          <RelationshipSection
            :expanded.sync="relationshipSectionIsExpanded"
            :item="templateItem"
            objectType="template"
            :readonly="!templateItemIsEditable"
          />
        </v-col>
      </v-row>
    </div>

    <!-- Template -->
    <div v-else>
      <v-row>
        <v-col cols="12">
          <TemplateStaticAssociationSection
            v-if="Array.isArray(templateItem.staticAssociations) && templateItem.staticAssociations.length"
            :associations="templateItem.staticAssociations || []"
          />
          <TemplateUsageSection
            v-if="templateItem.id || templateItem.ref"
            :expanded.sync="usageSectionIsExpanded"
            :objectId="templateItem.id"
            :objectEffectiveDate="templateItem.effectiveDate"
          />
          <HistorySection
            v-if="templateItem.id || templateItem.ref"
            :expanded.sync="historySectionIsExpanded"
            :objectId="templateItem.id"
            :objectEffectiveDate="templateItem.effectiveDate"
            artefact="TM"
          />
          <RelationshipSection
            :expanded.sync="relationshipSectionIsExpanded"
            :item="templateItem"
            objectType="template"
            :readonly="!templateItemIsEditable"
          />

          <!--
            overall global example(s)
          -->
          <AddTemplateBodyExample
            v-model="modals.templateExample.open"
            :examples="templateItem.example"
            :template="templateItem"
            @add="handleAddExample"
          />
          <v-sheet v-if="(!templateItem.example || !templateItem.example.length) && templateItemIsEditable" width="100%"
            rounded elevation="2">
            <div class="d-flex justify-space-between align-center">
              <span class="v-expansion-panel-header">{{ $t('example') }}</span>
              <AdButton type="add" @click="modals.templateExample.open = true" />
            </div>
          </v-sheet>
          <AdExample v-else :examples="templateItem.example">
            <template #actions>
              <div v-if="templateItemIsEditable" class="flex-grow-0">
                <AdButton type="edit" list @click.stop="modals.templateExample.open = true" />
              </div>
            </template>
          </AdExample>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <TemplateDesignBody :template="templateItem">
            <template #card-title="{fullscreen}">
              <AdCardTitle v-show="fullscreen" key="title" class="mb-3">
                <AdStatusDot darker tooltip larger :status="templateItem.statusCode"
                  :icon="$filters.getTemplateIcon(templateItem)" class="mr-2 mb-1" />
                <span>{{ templateItem.name }}</span>
              </AdCardTitle>
            </template>
          </TemplateDesignBody>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex'
import TemplateMetaInformation from '@/components/Rule/TemplateMetaInformation'
import TemplateDesignBody from '@/components/Rule/TemplateDesignBody'
import ProfileDesignBody from '@/components/Rule/ProfileDesignBody'
import EditableArtefactDetailHeader from '@/components/Utilities/Editable/EditableStructure/EditableArtefactDetailHeader'
import TemplateUsageSection from '@/components/Rule/TemplateUsageSection'
import TemplateStaticAssociationSection from '@/components/Rule/TemplateStaticAssociationSection'
import RelationshipSection from '@/components/Utilities/RelationshipSection'
import HistorySection from '@/components/Utilities/HistorySection'
import AddTemplateBodyExample from '@/components/Rule/AddTemplateBodyExample'
import ProfileFhirMetaSection from '@/components/Rule/ProfileFhirMetaSection'

export default {
  name: 'TemplateMetaDataAndBody',
  components: {
    AddTemplateBodyExample,
    TemplateMetaInformation,
    TemplateDesignBody,
    ProfileDesignBody,
    EditableArtefactDetailHeader,
    TemplateUsageSection,
    TemplateStaticAssociationSection,
    RelationshipSection,
    HistorySection,
    ProfileFhirMetaSection
  },
  props: {
    isProfile: {
      type: Boolean
    }
  },
  data () {
    return {
      modals: {
        templateExample: {
          open: false
        }
      }
    }
  },
  computed: {
    baseResourceTypeHint () {
      if (!this.fhirMeta?.type) return null
      const value = this.decorTypes.FHIRResourceType?.[0]?.enumeration?.find(item => item.value === this.fhirMeta.type)
        ?.hint || null
      return this.$filters.getMatchingTranslation({ value })
    },
    baseResourceTypeLabel () {
      if (!this.fhirMeta?.type) return null
      const value = this.decorTypes.FHIRResourceType?.[0]?.enumeration?.find(item => item.value === this.fhirMeta.type)
        ?.label || this.fhirMeta.type
      return this.$filters.getMatchingTranslation({ value })
    },
    decorTypes () {
      return this.$store.getters['server/getDecorTypes']?.data
    },
    fhirMeta () {
      return this.templateItem.fhirmeta?.[0] || null
    },
    fhirVersion () {
      return this.fhirMeta?.fhirVersion
    },
    metadataIsExpanded: {
      get () {
        const subModule = this.isProfile ? 'profile' : 'template'
        return this.$store.state.rule[subModule].expandedSections.metadata
      },
      set (value) {
        const subModule = this.isProfile ? 'profile' : 'template'
        this.$store.commit(`rule/${subModule}/setExpandedSection`, { section: 'metadata', value })
      }
    },
    historySectionIsExpanded: {
      get () {
        const subModule = this.isProfile ? 'profile' : 'template'
        return this.$store.state.rule[subModule].expandedSections.historySection
      },
      set (value) {
        const subModule = this.isProfile ? 'profile' : 'template'
        this.$store.commit(`rule/${subModule}/setExpandedSection`, { section: 'historySection', value })
      }
    },
    relationshipSectionIsExpanded: {
      get () {
        const subModule = this.isProfile ? 'profile' : 'template'
        return this.$store.state.rule[subModule].expandedSections.relationshipSection
      },
      set (value) {
        const subModule = this.isProfile ? 'profile' : 'template'
        this.$store.commit(`rule/${subModule}/setExpandedSection`, { section: 'relationshipSection', value })
      }
    },
    usageSectionIsExpanded: {
      get () {
        const subModule = this.isProfile ? 'profile' : 'template'
        return this.$store.state.rule[subModule].expandedSections.usageSection
      },
      set (value) {
        const subModule = this.isProfile ? 'profile' : 'template'
        this.$store.commit(`rule/${subModule}/setExpandedSection`, { section: 'usageSection', value })
      }
    },
    templateItem () {
      if (this.isProfile) return this.$store.getters['rule/profile/profileItem']
      return this.$store.getters['rule/template/templateItem']
    },
    templateItemIsEditable () {
      if (this.isProfile) return this.$store.getters['rule/profile/profileItemIsEditable']
      return this.$store.getters['rule/template/templateItemIsEditable']
    },
    statusCodeIsEditable () {
      return this.userIsEditor &&
      this.$store.getters['server/getServerFunction']({ path: 'decor.rules.templates', crudAction: 'write' }) &&
      this.templateStatusCodeLifeCycle[this.templateItem?.statusCode].length > 1
    },
    templateStatusCodeLifeCycle () {
      return this.$store.getters['server/decorStatusMaps']?.TemplateStatusCodeLifeCycle?.[0]
    }

  },
  methods: {
    handleAddExample (examples) {
      const data = {
        parameter: [
          {
            op: 'replace',
            path: '/example',
            value: {
              example: examples
            }
          }
        ]
      }
      const action = this.isProfile ? 'rule/profile/patchProfile' : 'rule/template/patchTemplate'
      this.$store.dispatch(action, { item: this.templateItem, data })
        .catch(error => {
          console.log(error)
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
          this.$oops(errorMessage)
        })
    },
    patchMetaData (item, data) {
      const action = this.isProfile ? 'rule/profile/patchProfile' : 'rule/template/patchTemplate'
      return this.$store.dispatch(action, { item, data, metadata: true })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
          this.$oops(errorMessage)
        })
    }
  }

}
</script>
