<template>
  <v-autocomplete
    v-bind="$attrs"
    :items="availableDatatypes"
    item-text="name"
    item-value="name"
    :value="value"
    @input="$emit('input', $event)"
  >

  </v-autocomplete>
</template>

<script>
export default {
  name: 'TemplateDatatypeSelector',
  props: {
    value: {
      type: String
    },
    // The datatype as stored in the template
    initialDatatype: {
      type: String
    },
    type: {
      type: String,
      validator: v => ['element', 'attribute'].includes(v)
    }
  },
  computed: {
    availableDatatypes () {
      const datatypes = this.$store.getters['rule/template/datatypes']?.type || []
      if (this.initialDatatype) {
        return datatypes.find(type => type.name === this.initialDatatype)?.item || []
      }
      const filter = this.type === 'attribute'
        ? v => v.type === 'simpletype'
        : v => v.type !== 'simpletype'
      return datatypes.filter(v => this.type ? filter(v) : true)
    }
  }
}
</script>

<style>

</style>
