<template>
  <v-layout class="component-template-panel">
    <TemplateAdd v-model="modals.templateAdd" />
    <TemplateClone v-model="modals.templateClone" />
    <TemplateAddFromPrototype
      v-model="modals.templateAddFromPrototype.state"
      :refOnlyMode="modals.templateAddFromPrototype.refOnlyMode"
    />
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <v-row class="d-flex flex-row flex-md-nowrap">
        <v-col class="flex-grow-0 col-treeview">
          <TemplateTreeViewCard
            :trees="trees"
            :filters="filters"
          >
            <template #action-buttons>
              <AdButton type="add" :text="$t('new')" :hint="$t('new')" list-item @click="modals.templateAdd = true;" />
              <AdButton type="clone" :text="$t('from-prototype')" :hint="$t('from-prototype-hint')" list-item @click="startAddFromPrototype()" />
              <AdButton type="inherit" :text="$t('new-reference')" :hint="$t('new-reference')" list-item @click="startAddFromPrototype({ refOnly: true })" />
              <AdButton type="clone" list-item @click="modals.templateClone = true;" />
            </template>
          </TemplateTreeViewCard>
        </v-col>
        <v-col class="flex-grow-1 flex-shrink-1">
          <!-- Used to display details of a normal template -->
          <router-view :key="$route.fullPath"/>
          <!-- Used to display details of a template class -->
          <!-- <TemplateDetailCard v-if="templateActive && !templateActive.id && !templateActive.ref" /> -->
          <TemplateDetailCard v-if="templateActive && templateActive.type" />

          <v-card v-if="!templateActive">
            <AdInfoOwl v-if="$route.name === 'templates'">
              {{ $t('select-template-profile') }}
            </AdInfoOwl>
            <AdInfoOwl v-else-if="!templateItem && !isLoading('templates') && !isLoading('templateItem')">
              {{$t('template-not-found')}}
            </AdInfoOwl>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import TemplateTreeViewCard from '@/components/Rule/TemplateTreeViewCard'
import TemplateDetailCard from '@/components/Rule/TemplateDetailCard'
import TemplateAdd from '@/components/Rule/TemplateAdd'
import TemplateAddFromPrototype from '@/components/Rule/TemplateAddFromPrototype'
import TemplateClone from '@/components/Rule/TemplateClone'

export default {
  name: 'TemplatePanel',
  components: {
    TemplateTreeViewCard,
    TemplateDetailCard,
    TemplateAdd,
    TemplateAddFromPrototype,
    TemplateClone
  },
  data () {
    return {
      filters: [],
      onSelectIsNeverCalled: true,
      modals: {
        templateAdd: false,
        templateClone: false,
        templateAddFromPrototype: { state: false, refOnlyMode: false }
      }
    }
  },
  computed: {
    ...mapGetters('server', ['getTemplateStatuses', 'getDecorTypes']),
    ...mapGetters('rule/template', ['templates', 'templateItem', 'templateActive', 'isLoading', 'isLoaded', 'templatesAreEditable']),
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['templates', 'templates-details-id', 'templates-details-id-effectiveDate']
        },
        {
          text: this.$t('rules'),
          disabled: true,
          show: ['templates', 'templates-details-id', 'templates-details-id-effectiveDate']
        },
        {
          exact: true,
          text: this.$t('templates'),
          to: { name: 'templates' },
          show: ['templates', 'templates-details-id', 'templates-details-id-effectiveDate']

        },
        {
          text: this.$filters.getMatchingTranslation({
            value: this.$store.getters['rule/template/templateActive']?.displayName
          }) || this.$route.params?.id,
          to: {
            name: 'templates-details-id',
            params: {
              id: this.$route.params?.id
            }
          },
          show: ['templates-details-id', 'templates-details-id-effectiveDate']

        },
        {
          text: this.$route.params?.effectiveDate ? this.$filters.formatDateShort(this.$route.params?.effectiveDate) : '',
          to: {
            name: 'templates-details-id-effectiveDate',
            params: {
              id: this.$route.params?.id,
              effectiveDate: this.$route.params?.effectiveDate
            }
          },
          show: ['templates-details-id-effectiveDate']

        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    decorTypes () {
      return this.getDecorTypes?.data
    },
    decorTemplateTypes () {
      return this.decorTypes.TemplateTypes?.[0]?.enumeration.map((e) => e.value)
    },
    trees () {
      return {
        templateList: {
          artefact: 'TM',
          name: this.$t('templates'),
          icon: 'mdi-check-circle',
          loading: this.isLoading('templates'),
          loaded: this.isLoaded('templates'),
          menu: this.templatesAreEditable,
          editable: false,
          expandable: true,
          items: this.$store.getters['rule/template/templates'] || [],
          key: 'uuid',
          text: (item) => {
            const post = item.versionLabel ? ` (${item.versionLabel})` : ''
            return (item.displayName || this.$filters.getMatchingTranslation({ value: item.name })) + post
          },
          searchableText: (item) => item.displayName || item.name,
          children: 'template',
          onSelect: (activeItem) => {
            this.$store.commit('rule/template/setTemplateActive', activeItem)

            if (!this.$store.getters['rule/template/preserveTemplateItemOnSelect']) {
              this.$store.commit('rule/template/setTemplateItem', null)
            }

            // Workaround to route to the correct version when te page is loaded.
            let preferredEffectiveDate = null
            if (this.onSelectIsNeverCalled) {
              const preferredVersionIndex = this.$store.getters['rule/template/templateVersionIndex']
              preferredEffectiveDate = activeItem?.version?.filter(item => item.effectiveDate)?.[preferredVersionIndex]?.effectiveDate || null
              this.onSelectIsNeverCalled = false
            }

            if (activeItem.id || activeItem.ref) {
              // A normal template is selected
              const routeName = 'templates-details-id' + (activeItem.effectiveDate ? '-effectiveDate' : '')
              this.$router.push({ name: routeName, params: { id: activeItem.id || activeItem.ref, effectiveDate: preferredEffectiveDate || activeItem.effectiveDate } }).catch(() => {})
            } else if (this.$route.name !== 'templates') {
              // A template category is selected
              this.$router.push({ name: 'templates' })
            }
          },
          onBeforeEdit: () => {
            // Do nothing.
          },
          onAfterEdit: () => {
            // Do nothing.
          },
          onEdit: () => {
            // Do nothing.
          }
        }
      }
    },
    watchDataForFilters () {
      return [this.getTemplateStatuses, this.$i18n.locale]
    }
  },
  methods: {
    startAddFromPrototype (options = {}) {
      this.modals.templateAddFromPrototype.refOnlyMode = options.refOnly
      this.modals.templateAddFromPrototype.state = true
    }
  },
  watch: {
    '$route.name': {
      handler (value) {
        // Reset templateItem and templateActive when navigating back to 'templates' route
        if (value === 'templates' && (this.templateActive?.id || this.templateActive?.ref)) {
          this.$store.commit('rule/template/initTemplate')
        }
      }
    },
    watchDataForFilters: {
      immediate: true,
      deep: true,
      handler () {
        const defaultActive = ['active', 'draft', 'pending']
        this.filters = this.getTemplateStatuses?.map(status => {
          const currentlyActive = this.filters?.find(filter => filter.key === status.value)?.active
          return {
            name: this.$filters.getMatchingTranslation({ value: status.label, locale: this.$i18n.locale }),
            key: status.value,
            active: currentlyActive !== undefined
              ? currentlyActive
              : defaultActive.includes(status.value)
          }
        }) || ['']
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .component-template-panel {
    table {
      tr {
        td {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &:not(.v-data-table__mobile-row) {
            max-width: 0;
          }
        }
      }
    }
  }
</style>
