<template>
  <div v-if="templateActive" class="template-details-card">
    <v-card>
      <div class="template-details-card-header d-flex flex-row align-center pr-4 backdrop-item">
        <div class="d-flex flex-column justify-center flex-grow-1">
          <v-slide-y-transition group leave-absolute>
            <template v-if="!isCategory">
              <!-- A normal template is selected -->
              <AdCardTitle key="title">
                <v-fade-transition group leave-absolute>
                  <div key="templateItemName" class="d-flex flex-row">
                    <AdStatusDot
                      darker
                      larger
                      :status="templateActive.statusCode"
                      :icon="templateActive.ref ? 'mdi-link-variant' : 'mdi-recycle'"
                    />
                    <span class="pl-2">{{ templateDisplayName }}</span>
                    <AdRefChip
                      v-if="templateActive.ref && templateActive.ident"
                      class="d-inline mt-1"
                      :ident="templateActive.ident"
                      :to="refChipLinkTarget"
                      target="_blank"
                      darker
                      small
                    />
                  </div>
                </v-fade-transition>
              </AdCardTitle>
            </template>
            <template v-else>
              <!-- A template category is selected -->
              <AdCardTitle key="title">
                {{ $t('class') }}
                {{ categoryName }}
              </AdCardTitle>
            </template>
          </v-slide-y-transition>
        </div>
        <v-spacer/>
        <AdArtefactDownloads v-model="modals.artefactDownload" :title="`${$t('downloads')} - ${templateDisplayName}`" :downloadData="templateDownloadData"/>
        <AdButton
          type="downloads"
          @click="modals.artefactDownload = true"
        />
        <AdTempleButton
          v-if="showTempleButton"
          :id="templateActive.id || templateActive.ref"
          :effectiveDate="templateActive.effectiveDate || templateItem.effectiveDate"
          :isEditable="templateItemIsEditable && !templateActive.ref"
        />
        <AdButton
          v-if="userIsEditor && templateActive.ref"
          type="erase"
          :text="$t('reference')"
          :hint="$t('delete-reference')"
          @click="deleteTemplateReference"
        />
        <IssueCreationModal v-if="userIsIssueEditor" :object="templateActive" @create="handleCreateIssue"/>
      </div>
      <v-card-text>
        <PanelLoading :loading="isLoading('templateItem')"/>
        <template v-if="isCategory">
          {{ $t('templates')}}: {{templateActive.template.length}}
        </template>
        <template v-else-if="!isLoading('templateItem')" >
          <AdVersionHistoryStepper
              v-if="templateActive.effectiveDate"
              :versions="templateActive.version || []"
              :value="selectedVersion"
              @input="handleSwitchVersion"
            />
          <TemplateMetaDataAndBody />
        </template>
        <IssueAssociationsSection
          v-if="templateItem && (templateItem.id || templateItem.ref)"
          ref="issueSection"
          :count="issueAssociations"
          :objectId="templateItem.id || templateItem.ref"
          :objectEffectiveDate="templateItem.effectiveDate || null"
        />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import { isCancel } from 'axios'
import AdArtefactDownloads from '@/components/Rule/AdArtefactDownloads'
import IssueCreationModal from '@/components/Issue/IssueCreationModal'
import IssueAssociationsSection from '@/components/Utilities/IssueAssociationsSection'
import AdTempleButton from '@/components/Utilities/AdTempleButton'
import TemplateMetaDataAndBody from '@/components/Rule/TemplateMetaDataAndBody'

export default {
  name: 'TemplateDetailCard',
  components: {
    AdArtefactDownloads,
    AdTempleButton,
    TemplateMetaDataAndBody,
    IssueCreationModal,
    IssueAssociationsSection
  },
  data () {
    return {
      modals: {
        artefactDownload: false
      }
    }
  },
  computed: {
    ...mapGetters('rule/template', ['templates', 'templateItem', 'templateActive', 'isLoading', 'isLoaded', 'templateItemIsEditable']),
    ...mapState({
      projectPrefix: (state) => state.project.projectSelected?.prefix
    }),
    abortController: {
      get () {
        return this.$store.getters['rule/template/abortController']
      },
      set (value) {
        this.$store.commit('rule/template/setAbortController', value)
      }
    },
    categoryName () {
      return this.$filters.getMatchingTranslation({
        value: this.templateActive?.name
      })
    },
    isCategory () {
      // return !(this.templateActive?.id || this.templateActive?.ref)
      return !!this.templateActive?.type
    },
    issueAssociations () {
      return parseInt(this.templateItem?.issueAssociation?.[0]?.count) || 0
    },
    refChipLinkTarget () {
      const { ident, ref } = this.templateActive
      if (!ident || !ref) return

      // Check if project exists
      const projectList = this.$store.getters['project/getProjects']
      if (!projectList.some(proj => proj.prefix === ident)) {
        return
      }

      return {
        name: 'templates-details-id',
        params: {
          id: ref,
          prefix: ident
        }
      }
    },
    selectedVersion: {
      get () {
        return this.$store.getters['rule/template/templateVersionIndex']
      },
      set (index) {
        this.$store.commit('rule/template/setTemplateVersionIndex', index)
      }
    },
    showTempleButton () {
      return this.userIsEditor && !this.isCategory && (this.templateActive?.id || this.templateActive?.ref) && (this.templateActive.effectiveDate || this.templateItem?.effectiveDate)
    },
    templateDisplayName () {
      return this.templateActive?.displayName
    },
    templateDownloadData () {
      if (!this.templateActive) return []
      return [
        {
          categoryTitle: this.$t('DECOR'),
          color: 'red',
          links: [
            {
              text: 'XML',
              href: this.getExtractTemplateDownloadLink(this.templateActive, 'xmlnowrapper')
            }
          ]
        }
        // Backend is not yet ready, see AD30-1371
        // {
        //   categoryTitle: this.$t('FHIR'),
        //   color: 'red',
        //   links: ['1.0', '3.0', '4.0', '4.3', '5.0'].flatMap(format => ([
        //     {
        //       text: `${this.$store.getters['server/getFhirLabel'](format)} - XML`,
        //       condition: () => this.$store.getters['project/projectHasFhirService'](format),
        //       href: this.getTemplateFhirDownloadLink(this.templateActive, format)
        //     },
        //     {
        //       text: `${this.$store.getters['server/getFhirLabel'](format)} - JSON`,
        //       condition: () => this.$store.getters['project/projectHasFhirService'](format),
        //       href: this.getTemplateFhirDownloadLink(this.templateActive, format, 'json')
        //     }
        //   ]))
        // }
      ]
    }

  },
  methods: {
    async deleteTemplateReference () {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (!agree) {
        return
      }
      const template = this.templateActive

      try {
        await this.$store.dispatch('rule/template/deleteTemplate', { template })
        this.$notify(this.$t('submission-delete-success'), 'success')
        this.$router.push({ name: 'templates' })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    fetchTemplateByRouteParams () {
      // Set templateActive based on the route params
      const { id, effectiveDate } = this.$route.params
      if (!id) {
        return
      }
      const activeTemplate = this.$filters.listHelper.findItemInList({
        items: this.$store.getters['rule/template/templates'] || [],
        children: 'template',
        handler: match => match.id === id || match.ref === id
      })
      if (!activeTemplate) {
        return
      }
      const version = activeTemplate.version?.find(t => t.effectiveDate === effectiveDate)
      const versionIndex = activeTemplate.version?.filter(item => item.effectiveDate)?.findIndex(t => t.id === id && t.effectiveDate === effectiveDate)
      if (effectiveDate && versionIndex < 0) {
        return
      }

      this.$store.commit('rule/template/setTemplateItem', null)
      this.$store.commit('rule/template/setTemplateVersionIndex', effectiveDate ? versionIndex : 0)
      this.$store.commit('rule/template/setTemplateActive', activeTemplate)

      // Abort pending request
      if (this.abortController) {
        this.abortController.abort('New template selected')
      }

      // Set up abortController
      this.abortController = new AbortController()

      this.$store.dispatch('rule/template/getTemplate', {
        id: version ? (version.id || version.ref) : (activeTemplate.id || activeTemplate.ref),
        effectiveDate: version ? version.effectiveDate : activeTemplate.effectiveDate,
        params: {
          prefix: this.projectInFocus?.prefix
        },
        abortController: this.abortController
      })
        .then(() => {
          this.abortController = null
        })
        .catch(error => {
          if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
            return
          }
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    },
    getTemplateFhirDownloadLink (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.$store.getters['project/getFhirURL'](fhirFormat)
      const { id, ref, effectiveDate, ident } = item
      const prefix = this.projectInFocus?.prefix
      const parsedEffectiveDate = effectiveDate?.replaceAll(/[-:T]/g, '')
      let url = `${BASE_URL}/${fhirFormat}/${ident || prefix}/StructureDefinition/${id || ref}`
      if (parsedEffectiveDate) {
        url += `--${parsedEffectiveDate}`
      }
      url += `?_format=${dataFormat}`
      return url
    },
    getExtractTemplateDownloadLink (item, format, hideColumns) {
      const { id, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const url = `${this.$store.getters['server/URL_ART_DECOR_API']}/template/${id}/${encodeURIComponent(effectiveDate)}/$extract?language=${projectLanguage}&format=${format}&project=${prefix}`
      return url
    },
    handleCreateIssue (issue) {
      // Count will work when backend returns issueAssociation.count
      this.$store.commit('rule/template/incrementTemplateIssueAssociationCount')
      if (this.$refs?.issueSection?.issueList?.issue) {
        this.$refs.issueSection.issueList.issue.push(issue)
      }
    },
    async handleSwitchVersion (versionIndex) {
      const selectedVersion = this.templateActive?.version?.filter(item => item.effectiveDate)?.[versionIndex]
      if (selectedVersion) {
        this.$router.push({ name: 'templates-details-id-effectiveDate', params: { id: selectedVersion.id, effectiveDate: selectedVersion.effectiveDate } }).catch(() => {})
      }
    }
  },
  watch: {
    templates (newVal) {
      if (newVal) {
        const { id, effectiveDate } = this.$route.params
        const template = this.$filters.listHelper.findItemInList({
          items: this.templates || [],
          children: 'template',
          handler: match => match.id === id || match.ref === id
        })
        const versionIndex = template?.version?.filter(item => item.effectiveDate)?.findIndex(tm => tm.id === id && tm.effectiveDate === effectiveDate)
        if (versionIndex > -1) {
          this.selectedVersion = versionIndex
        }
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(async vm => {
      try {
        if (vm.$store.getters['rule/template/templates'] === null) {
          await vm.$store.dispatch('rule/template/setTemplateList')
        }
        vm.fetchTemplateByRouteParams()
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        vm.$oops(errorMessage)
      }
    })
  },
  async beforeRouteUpdate (to, from, next) {
    // Check if the templateList is fetched
    if (this.$store.getters['rule/template/templates'] === null) {
      await this.$store.dispatch('rule/template/setTemplateList')
    }
    const currentId = this.templateItem?.id || this.templateItem?.ref
    const currentEffectiveDate = this.templateItem?.effectiveDate

    // Check if the route params match with the currently fetched templateItem. If not, another template should be fetched
    if (to.params.id === currentId && to.params.effectiveDate === currentEffectiveDate) {
      return next()
    }

    // Look for the requested template based on the route params
    const template = this.$filters.listHelper.findItemInList({
      items: this.templates || [],
      children: 'template',
      handler: t => t.id === to.params.id || t.ref === to.params.id
    })
    if (!template) {
      this.$store.commit('rule/template/initTemplate')
      return next()
    }

    // Set version index
    const versionIndex = template.version?.filter(item => item.effectiveDate)?.findIndex(template => template.id === to.params.id && template.effectiveDate === to.params.effectiveDate)
    this.selectedVersion = versionIndex >= 0 ? versionIndex : 0

    // If id in route doesnt't match with templateItem and templateActive, set templateActive
    if (to.params.id !== currentId && to.params.id !== this.templateActive?.id) {
      this.$store.commit('rule/template/setTemplateActive', template)
    }

    // Find the version specified in the route
    const version = template.version?.find(t => t.effectiveDate === to.params.effectiveDate)
    if (!version) {
      this.$store.commit('rule/template/initTemplate')
      return next()
    }

    // Abort pending request
    if (this.abortController) {
      this.abortController.abort('New codeSystem selected')
    }

    // Set up abortController
    this.abortController = new AbortController()

    // Fetch the template
    this.$store.dispatch('rule/template/getTemplate', {
      id: version.id || version.ref,
      effectiveDate: version.effectiveDate,
      params: {
        prefix: this.projectInFocus?.prefix
      },
      abortController: this.abortController
    })
      .then(() => {
        this.abortController = null
      })
      .catch(error => {
        if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
          return
        }
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      })

    next()
  }
}
</script>

<style lang="scss" scoped>
.xv-stepper {
  height: 50px;
}

.xv-stepper__step {
  height: 30px;
}

.template-details-card {
  position: relative;
  top: 0;

  .template-details-card-header {
    position: sticky;
    top: 48px;
    z-index: 4;

    height: 72px;
    background: var(--v-topbottomstrip-base);

    .header-actions {
      background-color: rgba(255, 255, 255, 0.3);
      height: 100%;
      z-index: 10;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 10px;
    }

    // &:before {
      // content: "";
      // position: absolute;
      // left: 0;
      // top: 0;
      // width: 100%;
      // height: 10px;
      // background-color: var(--v-background-base);
      // outline: 3px solid var(--v-background-base);
      // margin-top: -12px;
    // }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 10px;
    //   z-index: 0;
    //   background-color: var(--v-topbottomstrip-base);
    //   border-radius: 4px;
    // }

    ::v-deep .v-card__title {
      background: transparent !important;
    }
  }
}
</style>
