<template>
  <div v-if="editableItem">
    <div v-if="editingCopyrightCrud" class="backdrop-layer"></div>

    <!-- Context and isClosed -->
    <v-row dense>
      <v-col cols="5">
        <EditableDropdown
          v-model="context.type"
          :items="contextItems"
          :label="$t('context')"
          :readonly="readonly"
          :loading="loading.context"
          :disabled="loading.context"
          @change="handleChangeContextType"
        >
          <template #item="{ item }">
            {{ $t(item.text)}}
          </template>
          <template #selection="{ item }">
            {{ $t(item.text)}}
          </template>
        </EditableDropdown>
      </v-col>
      <v-col cols="5" class="pl-8">
        <v-slide-y-reverse-transition hide-on-leave>
          <EditableOID
            v-show="['*', '**'].includes(context.type)"
            ref="contextID"
            class="flex-grow-1 flex-shrink-0"
            :value="editableItem.id"
            :label="$t('id')"
            :required="false"
            disabled
          />
        </v-slide-y-reverse-transition>
        <v-slide-y-reverse-transition hide-on-leave>
          <EditableString
            v-show="context.type === 'path'"
            ref="contextURI"
            class="flex-grow-1 flex-shrink-0"
            v-model="context.path"
            :label="$t('pathname')"
            confirmation-required
            @change="updateContext('path')"
            :required="true"
            :readonly="readonly"
            :loading="loading.context"
            :disabled="loading.context"
          />
        </v-slide-y-reverse-transition>
      </v-col>
      <v-col cols="2" class="d-flex justify-end pr-4">
        <EditableSwitch
          v-model="editableItem.isClosed"
          :label="$t('closed')"
          @change="updateSwitchValue('isClosed', $event)"
          :loading="loading.isClosed"
          :disabled="loading.isClosed"
          :readonly="readonly"
        />
      </v-col>
    </v-row>
    <!-- Reference item, default or editable COMES HERE -->
    <v-row dense>
      <v-col cols="1" class="pt-7 pr-4">
        {{ $t('reference') }}
      </v-col>
      <v-col cols="4" class="pt-2 pr-4">
        <EditableString
          v-model="referenceLabel"
          :label="$t('label')"
          @change="updateObject('item')"
          confirmation-required
          :loading="loading.item"
          :disabled="loading.item"
          :readonly="readonly"
          required

        />
      </v-col>
      <v-col cols="7" class="pt-2 pr-4">
         <EditableTranslationEditor
          v-model="referenceDescription"
          confirmation-required
          :label="$t('description')"
          @change="updateObject('item')"
          :loading="loading.item"
          :disabled="loading.item"
          :readonly="readonly"
          :locales="projectLocales"
         />
      </v-col>
    </v-row>
    <!-- Classification, tags -->
    <v-row dense>
      <v-col cols="12" class="pt-2 pr-4">
        <v-autocomplete
          ref="typeInput"
          v-model="classificationTypes"
          :items="templateTypes"
          multiple
          dense
          :label="$t('classification')"
          :readonly="readonly"
          :disabled="loading.classification.type || loading.classification.tag"
          :loading="loading.classification.type"
          @blur="handleBlurTypesInput"
          :filter="classificationTypesSearchFilter"
        >
          <template #item="{ item, on }">
            <v-simple-checkbox
              :value="classificationTypeIsSelected(item.value)"
              :ripple="false"
              @input="on.click($event)"
              class="mr-4"
            />
            {{ $filters.getMatchingTranslation({ value: item.label, locale: $i18n.locale })}}
          </template>
          <template #selection="{ item, index }">
            <v-chip
              :close="!readonly"
              class="my-1"
              @click.stop
              @click:close="unselectClassificationType(item.value)"
              :outlined="index > 0"
              :disabled="readonly || loading.classification.type || loading.classification.tag"
            >
              {{ $filters.getMatchingTranslation({ value: item.label, locale: $i18n.locale })}}
            </v-chip>
          </template>
          <template v-slot:append>
            <AdButton
              v-if="!readonly && classificationTypesChanged && classificationTypes.length"
              icon="mdi-check"
              list
              noMarginRight
              @click="updateClassification('type', $event)"
            />
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="12" class="pt-2 pr-4">
        <v-combobox
          ref="tagInput"
          v-model="classificationTags"
          multiple
          chips
          deletable-chips
          dense
          :label="$t('tags')"
          :readonly="readonly"
          :disabled="loading.classification.tag || loading.classification.type"
          :loading="loading.classification.tag"
          @blur="handleBlurTagInput"
        >
          <template v-slot:append>
            <AdButton v-if="!readonly && classificationTagsChanged" icon="mdi-check" list noMarginRight @click="updateClassification('tag')" />
          </template>
        </v-combobox>
      </v-col>
    </v-row>
    <!-- Official release date, expiration date -->
    <v-row dense>
      <v-col cols="4">
        <EditableDate
          v-model="officialReleaseDate"
          :label="$t('official-release-date')"
          @change="updateString('officialReleaseDate')"
          :loading="loading.officialReleaseDate"
          :disabled="loading.officialReleaseDate"
          :readonly="readonly"
          :clearable="true"
          @click:clear="officialReleaseDate = null; updateString('officialReleaseDate', 'remove')"
        />
      </v-col>
      <v-col cols="4" class="pl-8">
        <EditableDate
          v-model="expirationDate"
          :label="$t('expiration-date')"
          @change="updateString('expirationDate')"
          :loading="loading.expirationDate"
          :disabled="loading.expirationDate"
          :readonly="readonly"
          :clearable="true"
          @click:clear="expirationDate = null; updateString('expirationDate', 'remove')"
        />
      </v-col>
    </v-row>
    <!-- Purpose -->
    <v-row dense>
      <v-col cols="12">
        <v-progress-linear :active="loading.purpose" indeterminate color="primary" class="mb-2"/>
        <EditableTextArea
          v-model="purpose"
          :label="$t('purpose')"
          :locales="projectLocales"
          :readonly="readonly || loading.purpose"
          @change="updateObject('purpose')"
          show-dialog
          showLabelWhenReadOnly
        />
      </v-col>
    </v-row>
    <!-- Copyright and authority -->
    <v-row>
      <v-col>
        <AdCopyrightCrud
          v-model="editableItem"
          :style="{ position: 'relative', zIndex: editingCopyrightCrud ? 3 : 1}"
          :publishingAuthority="templateItem.publishingAuthority"
          :showRouterlinkToPublishingAuthority="false"
          :enableAddCopyright="userIsEditor"
          :enableEditCopyright="userIsEditor"
          :enableRemoveCopyright="userIsEditor"
          :enableAddPublishingAuthority="userIsEditor"
          :enableEditPublishingAuthority="userIsEditor"
          :enableRemovePublishingAuthority="userIsEditor"
          :readonly="readonly || !editingCopyrightCrud || loading.copyrightCrud"
          :loading="loading.copyrightCrud"
        >
          <template #header>
            <AdCardTitle inline>
              {{ $t('copyright-and-authorities') }}
              <v-spacer />
              <AdButton type="edit" v-if="!readonly && !editingCopyrightCrud" @click="editingCopyrightCrud = true"/>
              <AdButton type="cancel" v-if="editingCopyrightCrud" @click="handleCancelCopyrightCrud"/>
              <AdButton type="save"
                v-if="editingCopyrightCrud & (copyrightChanged || publishingAuthorityChanged)"
                @click="handleSaveCopyrightCrud"
              />
            </AdCardTitle>
          </template>
        </AdCopyrightCrud>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { cloneDeep, xor, xorWith, isEqual } from 'lodash'
import AdCopyrightCrud from '@/components/Utilities/AdCopyrightCrud'

export default {
  name: 'TemplateMetaInformation',
  components: {
    AdCopyrightCrud
  },
  props: {
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      context: { type: null, path: '' },
      contextItems: [
        { text: 'none', value: 'none' },
        { text: 'parentcontext', value: '*' },
        { text: 'siblingcontext', value: '**' },
        { text: 'pathname', value: 'path' }
      ],
      editableItem: null,
      editingCopyrightCrud: false,
      loading: {
        classification: {
          type: false,
          tag: false
        },
        context: false,
        copyrightCrud: false,
        expirationDate: false,
        isClosed: false,
        officialReleaseDate: false,
        purpose: false,
        item: false
      }
    }
  },
  computed: {
    ...mapGetters('rule/template', ['templateItem', 'templateActive', 'templates']),
    classificationTags: {
      get () {
        return this.editableItem.classification?.[0]?.tag || []
      },
      set (value) {
        if (!this.editableItem.classification?.[0]) {
          this.$set(this.editableItem, 'classification', [{ tag: value }])
        } else if (!this.editableItem.classification[0].tag) {
          this.$set(this.editableItem.classification[0], 'tag', value)
        } else {
          this.editableItem.classification[0].tag = value
        }
      }
    },
    classificationTagsChanged () {
      const originalTags = this.templateItem?.classification?.[0]?.tag || []
      const editedTags = this.classificationTags
      return !!xor(originalTags, editedTags).length
    },
    classificationTypesChanged () {
      const originalTypes = this.templateItem?.classification?.[0]?.type || []
      const editedTypes = this.classificationTypes
      return !isEqual(originalTypes, editedTypes)
    },
    classificationTypes: {
      get () {
        // if (!this.editableItem.classification?.[0]?.type?.length) {
        //   return ['notype']
        // }
        return this.editableItem.classification?.[0]?.type || []
      },
      set (value) {
        if (!this.editableItem.classification?.[0]) {
          this.editableItem.classification = [
            {
              item: [{ label: this.editableItem.name }],
              type: value
            }
          ]
        } else {
          this.editableItem.classification[0].type = value
        }
      }
    },
    classificationTypeIsSelected () {
      return input => {
        return this.classificationTypes?.includes(input)
      }
    },
    copyrightChanged () {
      const originalCopyrightData = this.templateItem?.copyright?.map(copyright => ({ '#text': copyright['#text'], language: copyright.language })) || []
      const editedCopyrightData = this.editableItem?.copyright?.map(copyright => ({ '#text': copyright['#text'], language: copyright.language })) || []
      return !!xorWith(originalCopyrightData, editedCopyrightData, isEqual).length
    },
    templateDefaultReferenceLabel () {
      return this.templateItem?.item?.[0].label || this.templateItem?.name
    },
    publishingAuthorityChanged () {
      const originalPubAuthData = this.templateItem?.publishingAuthority?.map(pa => ({ addrLine: pa.addrLine, id: pa.id, name: pa.name })) || []
      const editedPubAuthData = this.editableItem?.publishingAuthority?.map(pa => {
        const result = { addrLine: pa.addrLine, id: pa.id, name: pa.name }
        if (pa.op === 'remove') {
          result.op = 'remove'
        }
        return result
      }) || []

      return !!xorWith(originalPubAuthData, editedPubAuthData, isEqual).length
    },
    expirationDate: {
      get () {
        return this.editableItem.expirationDate?.split('T')?.[0] || null
      },
      set (value) {
        const dateTime = value === null ? null : `${value}T00:00:00`
        this.editableItem.expirationDate = dateTime
      }
    },
    officialReleaseDate: {
      get () {
        return this.editableItem.officialReleaseDate?.split('T')?.[0] || null
      },
      set (value) {
        const dateTime = value === null ? null : `${value}T00:00:00`
        this.editableItem.officialReleaseDate = dateTime
      }
    },
    purpose: {
      get () {
        return this.editableItem.purpose
      },
      set (value) {
        if (!this.editableItem.purpose) {
          return this.$set(this.editableItem, 'purpose', value)
        }
        this.editableItem.purpose = value
      }
    },
    templateTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.TemplateTypes?.[0].enumeration
    },
    itemContextType () {
      if (!this.editableItem.context) {
        return 'none'
      }
      if (this.editableItem.context?.[0]?.path) {
        return 'path'
      }
      return this.editableItem.context?.[0]?.id
    },
    referenceDescription: {
      get () {
        if (this.editableItem.items?.[0]?.is === 'item' && this.editableItem.items[0].desc) {
          return this.editableItem.items[0].desc
        }
        return null
      },
      set (value) {
        if (!Array.isArray(this.editableItem.items)) {
          this.$set(this.editableItem, 'items', [])
        }
        if (this.editableItem.items[0]?.is !== 'item') {
          this.editableItem.items.unshift({ desc: value, label: this.templateDefaultReferenceLabel, is: 'item' })
        } else {
          this.editableItem.items[0].desc = value
        }
      }
    },
    referenceLabel: {
      get () {
        if (this.editableItem.items?.[0]?.is === 'item' && this.editableItem.items[0].label) {
          return this.editableItem.items[0].label
        }
        return this.templateDefaultReferenceLabel
      },
      set (value) {
        if (!Array.isArray(this.editableItem.items)) {
          this.$set(this.editableItem, 'items', [])
        }
        if (this.editableItem.items[0]?.is !== 'item') {
          this.editableItem.items.unshift({ label: value, is: 'item' })
        } else {
          this.editableItem.items[0].label = value
        }
      }
    }
  },
  methods: {
    classificationTypesSearchFilter (item, queryText) {
      const label = this.$filters.getMatchingTranslation({ value: item?.label })?.toLowerCase()
      const search = queryText?.toLowerCase()
      return label?.includes(search)
    },
    async handleBlurTagInput () {
      if (this.classificationTagsChanged && !this.loading.classification.tag) {
        const agree = await this.$confirm(`${this.$t('save-changes')}?`)
        if (agree) {
          // Save changes
          return this.updateClassification('tag')
        }
        // Reset the tags on the input
        this.restoreEditableItem()
      }
    },
    async handleBlurTypesInput () {
      // Restore if no classification type is selected
      if (!this.classificationTypes.length) {
        return this.restoreEditableItem()
      }

      if (this.classificationTypesChanged && !this.loading.classification.type) {
        const agree = await this.$confirm(`${this.$t('save-changes')}?`)
        if (agree) {
          // Save changes
          return this.updateClassification('type')
        }
        // Reset the tags on the input
        this.restoreEditableItem()
      }
    },
    handleCancelCopyrightCrud () {
      this.restoreEditableItem()
      this.editingCopyrightCrud = false
    },
    restoreEditableItem () {
      this.$nextTick(() => {
        this.editableItem = cloneDeep(this.templateItem)
      })
    },
    handleChangeContextType () {
      if (this.context.type === 'path') {
        this.$nextTick(() => {
          return this.$refs.contextURI.focus()
        })
      }
      if (['*', '**'].includes(this.context.type)) {
        return this.updateContext('id')
      }
      if (this.context.type === 'none' && this.editableItem.context) {
        return this.deleteContext()
      }
    },
    async handleSaveCopyrightCrud () {
      try {
        const data = { parameter: [] }
        // updates all languages of the copyright
        if (this.copyrightChanged && this.editableItem.copyright) {
          this.editableItem.copyright.forEach((copyright) => {
            if (!this.$filters.htmlHasTextContent(copyright['#text'])) {
              const copyrightToRemove = this.templateItem?.copyright?.find(item => item.language === copyright.language)
              if (copyrightToRemove) {
                data.parameter.push({
                  op: 'remove',
                  path: '/copyright',
                  value: {
                    copyright: copyrightToRemove
                  }
                })
              }
            } else {
              data.parameter.push({
                op: 'replace',
                path: '/copyright',
                value: {
                  copyright
                }
              })
            }
          })
        }
        // Handle changes to publishingAuthority
        if (this.publishingAuthorityChanged && this.editableItem.publishingAuthority) {
          this.editableItem.publishingAuthority.filter((pa) => Object.prototype.hasOwnProperty.call(pa, 'op'))
            .forEach(pa => {
              data.parameter.push({
                op: pa.op,
                path: '/publishingAuthority',
                value: {
                  publishingAuthority: pa
                }
              })
            })
        }

        if (!data.parameter.length) {
          return this.handleCancelCopyrightCrud()
        }
        this.loading.copyrightCrud = true
        await this.$store.dispatch('rule/template/patchTemplate', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
        this.editingCopyrightCrud = false
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.loading.copyrightCrud = false
    },
    unselectClassificationType (value) {
      const indexToRemove = this.classificationTypes?.findIndex(type => type === value)
      if (indexToRemove > -1) {
        this.classificationTypes.splice(indexToRemove, 1)
      }
      if (this.$refs.typeInput) {
        this.$refs.typeInput.activateMenu()
      }
    },
    // General method for patching (switch values)
    async updateSwitchValue (key, value, valueIfTrue = 'true', valueIfFalse = 'false') {
      try {
        const data = {
          parameter: [
            {
              op: 'replace',
              path: '/' + key,
              value: value === 'true' ? valueIfTrue : valueIfFalse
            }
          ]
        }
        if (this.loading[key] !== undefined) {
          this.loading[key] = true
        }
        await this.$store.dispatch('rule/template/patchTemplate', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      if (this.loading[key] !== undefined) {
        this.loading[key] = false
      }
    },
    // General method for patching string values
    async updateString (key, op = 'replace') {
      try {
        const data = {
          parameter: [
            {
              op,
              path: `/${key}`,
              value: this.editableItem[key]
            }
          ]
        }
        if (this.loading[key] !== undefined) {
          this.loading[key] = true
        }

        await this.$store.dispatch('rule/template/patchTemplate', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      if (this.loading[key] !== undefined) {
        this.loading[key] = false
      }
    },
    // General method for patching array & object values
    async updateObject (key) {
      try {
        const data = {
          parameter: []
        }
        // exception for key 'item'
        if (key === 'item' && this.editableItem.items?.[0]?.is === 'item') {
          this.editableItem.item = this.editableItem.items[0]
        } else {
          return
        }

        if (Array.isArray(this.editableItem[key])) {
          this.editableItem[key].forEach(item => {
            data.parameter.push({
              op: 'replace',
              path: `/${key}`,
              value: {
                [key]: item
              }
            })
          })
        } else if (typeof this.editableItem[key] === 'object') {
          data.parameter.push({
            op: 'replace',
            path: `/${key}`,
            value: {
              [key]: this.editableItem[key]
            }
          })
        } else {
          throw new Error(`editableItem.${key} is not an object`)
        }
        if (this.loading[key] !== undefined) {
          this.loading[key] = true
        }

        await this.$store.dispatch('rule/template/patchTemplate', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      if (this.loading[key] !== undefined) {
        this.loading[key] = false
      }
    },
    async updateClassification (mode) {
      try {
        if (!['type', 'tag'].includes(mode)) {
          throw new Error('please provide mode, should be "tag" or "type"')
        }
        const data = { parameter: [] }
        data.parameter.push({
          op: 'replace',
          path: '/classification',
          value: {
            classification: this.editableItem.classification
          }
        })

        this.loading.classification[mode] = true
        const originalClassification = cloneDeep(this.templateItem.classification)
        await this.$store.dispatch('rule/template/patchTemplate', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')

        if (mode === 'tag' && this.$refs.tagInput) {
          this.$refs.tagInput.blur()
        }

        const firstCategoryChanged = this.classificationTypes?.[0] !== originalClassification?.[0]?.type?.[0]
        if (mode === 'type' && firstCategoryChanged) {
          // Move the updated template to the correct 'template category' in the tree
          const itemInList = this.$filters.listHelper.findItemInList({
            items: this.templates,
            children: 'template',
            handler: match => match.id === this.templateItem.id && match.effectiveDate === this.templateItem.effectiveDate
          })

          if (itemInList !== null) {
            // Get the list without the updated template and empty categories.
            const newList = this.$filters.listHelper.removeItemFromList({
              items: this.templates,
              children: 'template',
              handler: match => match.id === this.templateItem.id && match.effectiveDate === this.templateItem.effectiveDate
            })?.filter(cat => cat.template?.length > 0)

            // Construct updated templateActive (with the new class property)
            const newTemplateActive = { ...cloneDeep(this.templateActive), class: this.classificationTypes?.[0] }
            // Get the index of the new category
            const categoryIndex = newList.findIndex(cat => cat.type === this.classificationTypes?.[0])
            // If category doesn't exist yet
            if (categoryIndex < 0) {
              // Add it to the list
              newList.push({
                name: this.$store.getters['server/getTemplateTypes'](this.classificationTypes?.[0])?.label,
                template: [newTemplateActive],
                type: this.classificationTypes?.[0],
                uuid: this.getUuid()
              })
              newList.sort((a, b) => {
                if (this.$filters.getMatchingTranslation({ value: a.name }) < this.$filters.getMatchingTranslation({ value: b.name })) {
                  return -1
                }
                if (this.$filters.getMatchingTranslation({ value: a.name }) > this.$filters.getMatchingTranslation({ value: b.name })) {
                  return 1
                }
                return 0
              })
            } else {
              // If the category is already present, check that category has a template array
              if (!newList[categoryIndex].template) {
                newList[categoryIndex].template = []
              }
              // Add the template to the new category
              newList[categoryIndex].template.push(newTemplateActive)
              newList[categoryIndex].template.sort((a, b) => {
                if (a.displayName < b.displayName) {
                  return -1
                }
                if (a.displayName > b.displayName) {
                  return 1
                }
                return 0
              })
            }
            this.$store.commit('rule/template/setTemplateList', newList)
          }
        }
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      this.loading.classification[mode] = false
    },
    async updateContext (mode) {
      try {
        if (!mode) {
          throw new Error('updateContext called without mode specified (id or path)')
        }
        const data = { parameter: [] }
        if (mode === 'id') {
          data.parameter.push({
            op: 'replace',
            path: '/context',
            value: {
              context: {
                item: [{ label: this.editableItem.name }],
                id: this.context.type
              }
            }
          })
        }
        if (mode === 'path') {
          data.parameter.push({
            op: 'replace',
            path: '/context',
            value: {
              context: {
                item: [{ label: this.editableItem.name }],
                path: this.context.path
              }
            }
          })
        }
        this.loading.context = true
        await this.$store.dispatch('rule/template/patchTemplate', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      this.loading.context = false
    },
    async deleteContext () {
      try {
        if (!this.editableItem.context) {
          return
        }
        const data = { parameter: [] }
        data.parameter.push({
          op: 'remove',
          path: '/context',
          value: {
            context: this.editableItem.context
          }
        })
        this.loading.context = true

        await this.$store.dispatch('rule/template/patchTemplate', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        this.restoreEditableItem()
        this.$nextTick(() => {
          this.context.type = this.itemContextType
          this.context.path = this.editableItem.context?.[0].path || ''
        })
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      this.loading.context = false
    }
  },
  watch: {
    templateItem: {
      immediate: true,
      deep: true,
      handler (newVal, oldVal) {
        this.editableItem = cloneDeep(newVal)
        this.context.type = this.itemContextType
        this.context.path = this.editableItem.context?.[0].path || ''
      }
    }
  }

}
</script>

<style lang="scss" scoped>

.backdrop-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
}

</style>
