<template>
    <TreeviewPanel
      :trees="trees"
      :filters="filters"
      :open-id="defaultOpenId"
      :active-item="templateActive"
      v-on="$listeners"
      indicateNoData
    >
      <template #action-buttons>
        <slot name="action-buttons"></slot>
      </template>
    </TreeviewPanel>
</template>

<script>
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'

export default {
  name: 'TemplateTreeViewCard',
  components: {
    TreeviewPanel
  },
  props: {
    trees: {
      type: [Array, Object],
      required: true
    },
    filters: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      defaultOpenId: null
    }
  },
  computed: {
    templateActive: {
      get () {
        return this.$store.getters['rule/template/templateActive']
      }
    }
  },

  watch: {
    trees: {
      immediate: true,
      deep: true,
      handler (trees) {
        // Set default open id.
        this.defaultOpenId = trees?.templateList?.items?.[0]?.uuid
      }
    }
  }
}
</script>
