<template>
  <v-dialog :value="value" width="1000" persistent>
    <v-card :loading="isLoading">
      <AdCardTitle dialog>
        {{ $t('new-template') }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <!-- Name -->
            <v-col cols="6">
              <EditableShortFormalName
                v-model="modal.inputs.name"
                :label="$t('name')"
              />
            </v-col>
            <!-- Display name -->
            <v-col cols="6">
              <EditableString
                v-model.trim="modal.inputs.displayName"
                :label="$t('display-name')"
              />
            </v-col>
            <!-- Classification -->
            <v-col cols="6">
              <v-autocomplete
                class="required"
                v-model="modal.inputs.classification[0].type[0]"
                :items="templateTypes"
                :label="$t('classification')"
              >
                <template #item="{ item }">
                  {{ $filters.getMatchingTranslation({ value: item.label, locale: $i18n.locale })}}
                </template>
                <template #selection="{ item }">
                  {{ $filters.getMatchingTranslation({ value: item.label, locale: $i18n.locale })}}
                </template>
              </v-autocomplete>
            </v-col>
            <!-- Description -->
            <v-col cols="12">
              <EditableTranslationEditor
                editor
                :locales="projectLocales"
                :label="$t('description')"
                v-model="modal.inputs.desc"
              />

            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal" :disabled="isLoading"/>
        <AdButton
          type="add"
          :disabled="!modal.formIsValid || isLoading"
          @click="save"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: false,
  inputs: {
    name: null,
    displayName: null,
    desc: null,
    statusCode: 'draft',
    classification: [
      { type: ['notype'] }
    ]
  }
}
export default {
  name: 'TemplateAdd',
  components: {
  },
  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      isLoading: false
    }
  },
  computed: {
    templateTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.TemplateTypes?.[0].enumeration
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    async save () {
      try {
        this.isLoading = true
        const data = {
          ...this.modal.inputs
        }
        await this.$store.dispatch('rule/template/createTemplate', { data })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      this.isLoading = false
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (modalIsOpen) {
          // Set the classification of the new template to the classification type of the current active template
          const classification = [
            {
              type: [
                this.$store.getters['rule/template/templateActive']?.class ||
                this.$store.getters['rule/template/templateActive']?.type ||
                'notype'
              ]
            }
          ]
          this.modal.inputs.classification = classification
        }
      }
    }
  }

}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
