<template>
  <v-expansion-panels v-model="panelIsExpanded" class="my-5">
    <v-expansion-panel @change="fetchUsageList">
        <v-expansion-panel-header>
          {{$t('usage')}}
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <PanelLoading linear :loading="loadingUsage"/>
          <template v-for="table in tables" >
            <v-card v-if="tableItemsFor(table).length" outlined class="mb-5" :key="table">
               <v-data-table
                :headers="headers"
                :items="tableItemsFor(table)"
                :items-per-page="5"
                :hide-default-footer="tableItemsFor(table).length <= 5"
                sort-by="id"
                class="elevation-1"
              >
                <template v-slot:[`header.id`]="{}">
                    {{ $t(table) }}
                </template>
                <template v-slot:[`item.id`]="{ item }">
                  <AdShortId :id="item.id || item.targetId"/>
                </template>
                <template v-slot:[`item.type`]="{ item }">
                  {{ itemType(item) }}
                </template>
                <template v-slot:[`item.name`]="{ item }">
                  <div class="text-no-wrap">
                    <AdStatusDot
                      darker
                      tooltip
                      :status="item.statusCode || item.targetStatusCode"
                      class="mr-2 mb-1"
                    />
                    <AdButton v-if="getRouteObject(item)" link :to="getRouteObject(item)">
                      {{ $filters.getMatchingTranslation({value: item.displayName || item.name}) }}
                      <span v-if="item.versionLabel">&nbsp;({{ item.versionLabel }})</span>
                    </AdButton>
                    <template v-else>
                      {{ $filters.getMatchingTranslation({value: item.displayName || item.name}) }}
                    </template>
                  </div>
                </template>
                <template v-slot:[`item.version`]="{ item }">
                  {{
                    item.flexibility === 'dynamic' || item.objectFlexibility === 'dynamic'
                      ? $t('dynamic')
                      : $filters.formatDateShort(item.flexibility || item.objectFlexibility)
                  }}
                </template>
               </v-data-table>
            </v-card>
          </template>
        </v-expansion-panel-content>
      </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
export default {
  name: 'TemplateUsageSection',
  props: {
    expanded: {
      type: Boolean,
      default: false
    },
    // Id of the associated object
    objectId: {
      type: String,
      required: true
    },
    // Effective date of the associated object
    objectEffectiveDate: {
      type: String,
      default: null
    },
    // Name of the vuex store action (including namespace)
    action: {
      type: String,
      required: false,
      default: 'rule/template/getTemplateUsage'
    }
  },
  data () {
    return {
      loadingUsage: false,
      fetchedUsage: null,
      tables: ['usedby', 'uses']
    }
  },
  computed: {
    headers () {
      return [
        { value: 'id', sortable: true, width: '15%', sort: this.$filters.numericStringComparator },
        { value: 'name', text: this.$t('name'), sortable: false },
        { value: 'type', text: this.$t('type'), sortable: false, width: '20%' },
        { value: 'version', text: this.$t('version'), sortable: false, width: '20%' }
      ]
    },
    itemType () {
      return item => {
        if (item.type === 'include') {
          return this.$t('include')
        }
        if (item.type === 'contains') {
          return this.$t('containment')
        }
        return this.$t('transaction')
      }
    },
    panelIsExpanded: {
      get () {
        return this.expanded ? 0 : null
      },
      set (value) {
        const expanded = value === 0
        this.$emit('update:expanded', expanded)
      }
    },
    tableItemsFor () {
      return table => {
        if (table === 'uses') {
          return this.usesList
        }
        if (table === 'usedby') {
          return this.usedByList
        }
        return []
      }
    },
    usesList () {
      return this.fetchedUsage?.uses || []
    },
    usedByList () {
      const transactionAssociations = this.fetchedUsage?.transactionAssociation || []
      const refs = this.fetchedUsage?.ref || []
      return [...transactionAssociations, ...refs]
    }
  },
  methods: {
    async fetchUsageList ({ refresh = false } = {}) {
      if (this.panelIsExpanded === 0 && !refresh) {
        return
      }
      try {
        const prefix = this.projectInFocus?.prefix
        this.loadingUsage = true
        this.fetchedUsage = await this.$store.dispatch(this.action, {
          id: this.objectId,
          effectiveDate: this.objectEffectiveDate,
          params: {
            prefix
          }
        })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.loadingUsage = false
    },
    getRouteObject (item) {
      if (item.type) {
        return {
          name: 'templates-details-id-effectiveDate',
          params: {
            id: item.id,
            effectiveDate: item.effectiveDate,
            prefix: item.ident
          }
        }
      }
      if (item.targetId && item.targetEffectiveDate && item.ident) {
        return {
          name: 'scenarios-details',
          params: {
            scenarioId: item.targetId,
            scenarioVersion: item.targetEffectiveDate,
            prefix: item.ident
          }
        }
      }
      return null
    }
  },
  created () {
    if (this.expanded) {
      this.fetchUsageList({ refresh: true })
    }
  }
}
</script>
