<template>
  <v-dialog
    :value="value"
    width="800"
    persistent
    scrollable
  >
    <v-card :loading="isCloning">
      <AdCardTitle dialog>{{ $t('clone-template') }}</AdCardTitle>
      <v-card-text >
        <v-form v-model="modal.formIsValid" ref="form">
          <v-container>
            <!-- Template selection -->
            <v-row dense>
              <v-col cols="12">
                <AdInfoOwl>{{ $t('clone-template-hint') }}</AdInfoOwl>
                <v-autocomplete
                  class="required"
                  v-model="modal.inputs.template"
                  :items="templates"
                  item-value="uuid"
                  :label="$t('template')"
                  return-object
                  clearable
                  open-on-clear
                  :filter="templateFilter"
                  :rules="[v => !!v || $t('required-field')]"
                >
                  <template v-slot:[`item`]="{ item }">
                    <AdStatusDot larger tooltip class="mr-3" :status="item.statusCode" icon="mdi-book-open-blank-variant" />
                    {{ $filters.getMatchingTranslation({ value: item.displayName, locale: $i18n.locale })}}
                    <span v-if="item.versionLabel || item.effectiveDate" style="white-space: break-spaces"> ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})</span>
                  </template>
                  <template v-slot:[`selection`]="{ item }">
                    <AdStatusDot class="mr-2" tooltip :status="item.statusCode" icon="mdi-book-open-blank-variant" />
                    {{ $filters.getMatchingTranslation({ value: item.displayName, locale: $i18n.locale })}}
                    <span v-if="item.versionLabel || item.effectiveDate" style="white-space: break-spaces"> ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})</span>
                  </template>
                </v-autocomplete>
              </v-col>
            </v-row>
            <!-- Keep IDs -->
            <v-row dense>
              <v-col cols="auto">
                <EditableSwitch
                  v-model="modal.inputs.keepIds"
                  :label="$t('keep-id')"
                />
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="1" class="d-flex justify-end align-center" >
                <EditableInfoIcon :infoText="$t('keep-id-template-hint')" />
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal" :disabled="disabled || isCloning" />
        <AdButton type="clone" @click="handleClone" :disabled="disabled || !modal.formIsValid || isCloning" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  inputs: {
    template: null,
    keepIds: 'true'
  },
  formIsValid: false

}
export default {
  name: 'TemplateClone',
  props: {
    value: {
      type: Boolean,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      isCloning: false
    }
  },
  computed: {
    // canCloneWithTargetDate () {
    //   const selectedId = this.modal.inputs.template?.id
    //   if (!selectedId) {
    //     return false
    //   }
    //   const targetDate = new Date().toISOString().split('T')[0] + 'T00:00:00'
    //   const templateAlreadyExists = this.templates.find(tm => tm.id === selectedId && tm.effectiveDate === targetDate)
    //   return !templateAlreadyExists
    // },
    templates () {
      return this.$store.getters['rule/template/fullTemplateList']()
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    templateFilter (item, queryText, itemText) {
      const displayName = this.$filters.getMatchingTranslation({ value: item.displayName }).toLowerCase()
      const name = this.$filters.getMatchingTranslation({ value: item.name }).toLowerCase()
      const search = queryText.trim().toLowerCase()
      return name?.includes(search) || displayName?.includes(search)
    },
    async handleClone () {
      try {
        this.isCloning = true
        const { keepIds } = this.modal.inputs
        const sourceId = this.modal.inputs.template?.id
        const sourceEffectiveDate = this.modal.inputs.template?.effectiveDate

        const params = {
          keepIds,
          sourceId,
          sourceEffectiveDate
        }
        this.$store.commit('rule/template/preserveTemplateItemOnSelect', true)

        const clonedTemplate = await this.$store.dispatch('rule/template/cloneTemplate', params)
        this.$router.push({
          name: 'templates-details-id-effectiveDate',
          params: {
            id: clonedTemplate.id,
            effectiveDate: clonedTemplate.effectiveDate
          }

        }).then(() => this.$store.commit('rule/template/preserveTemplateItemOnSelect', false))
          .catch(() => {})
        this.closeModal()
      } catch (error) {
        this.closeModal()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      this.isCloning = false
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (modalIsOpen) {
          this.modal = cloneDeep(initialModal)
          // Find the template that corresponds with the selected template by the user
          const id = this.$store.getters['rule/template/templateActive']?.id ||
                this.$store.getters['rule/template/templateActive']?.ref
          const effectiveDate = this.$store.getters['rule/template/templateItem']?.effectiveDate ||
                           this.$store.getters['rule/template/templateActive']?.effectiveDate
          const selectedTemplate = this.templates.find(tm => (tm.id === id || tm.ref === id) && tm.effectiveDate === effectiveDate)

          // Reset forminputs
          this.modal.inputs.template = (this.$store.getters['rule/template/templateActive'])
            ? selectedTemplate
            : this.templates?.[0] || null
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
