<template>
  <v-expansion-panels v-model="openPanel" class="my-5">
    <v-expansion-panel>
        <v-expansion-panel-header>
          {{$tc('associated-with-n-concepts', conceptAssociations.length, {n: conceptAssociations.length })}}
        </v-expansion-panel-header>
        <v-expansion-panel-content>
            <v-card v-if="conceptAssociations.length" outlined class="mb-5">
               <v-data-table
                :headers="headers"
                :items="conceptAssociations"
                :items-per-page="5"
                :hide-default-footer="conceptAssociations.length <= 5"
                sort-by="id"
                class="elevation-1"
              >
                <template #item.id="{ item }">
                  <AdShortId :id="item.id || item.ref"/>
                </template>
                <template #item.name="{ item }">
                  <div class="text-no-wrap">
                    <AdStatusDot
                      darker
                      tooltip
                      :status="item.conceptStatusCode"
                      class="mr-2 mb-1"
                    />
                    <AdButton v-if="getRouteObjectConcept(item)" link :to="getRouteObjectConcept(item)">
                      {{ $filters.getMatchingTranslation({value: item.displayName || item.name}) }}
                      <span v-if="item.versionLabel">&nbsp;({{ item.versionLabel }})</span>
                    </AdButton>
                    <template v-else>
                      {{ $filters.getMatchingTranslation({value: item.displayName || item.name}) }}
                    </template>
                  </div>
                </template>
                <template #item.dataset="{ item }">
                  <div class="text-no-wrap">
                    <AdStatusDot
                      darker
                      tooltip
                      :status="item.datasetStatusCode"
                      class="mr-2 mb-1"
                    />
                    <AdButton v-if="getRouteObjectDataset(item)" link :to="getRouteObjectDataset(item)">
                      {{ item.datasetName }}
                    </AdButton>
                    <template v-else>
                      {{ item.datasetName }}
                    </template>
                  </div>
                </template>
               </v-data-table>
            </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
export default {
  name: 'TemplateStaticAssociationSection',
  props: {
    // Array with the static associations
    associations: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      openPanel: null
    }
  },
  computed: {
    headers () {
      return [
        { value: 'id', sortable: true, width: '15%', sort: this.$filters.numericStringComparator },
        { value: 'name', text: this.$t('name'), sortable: false },
        { value: 'dataset', text: this.$t('dataset'), sortable: false, width: '20%' },
        { value: 'path', text: this.$t('path'), sortable: false, width: '20%' }
      ]
    },
    conceptAssociations () {
      if (!Array.isArray(this.associations[0]?.concept)) return []
      return this.associations[0].concept
    }
  },
  methods: {
    getRouteObjectConcept (item) {
      if (item.datasetId && item.datasetEffectiveDate && item.ref && item.effectiveDate && item.ident) {
        return {
          name: 'dataset-details-version',
          params: {
            datasetId: item.datasetId,
            datasetVersion: item.datasetEffectiveDate,
            conceptId: item.ref,
            conceptVersion: item.effectiveDate,
            prefix: item.ident
          }
        }
      }
      return null
    },
    getRouteObjectDataset (item) {
      if (item.datasetId && item.datasetEffectiveDate && item.ident) {
        return {
          name: 'dataset-details',
          params: {
            datasetId: item.datasetId,
            datasetVersion: item.datasetEffectiveDate,
            prefix: item.ident
          }
        }
      }
      return null
    }
  }
}
</script>
