<template>
  <v-layout>
    <v-container fluid>

      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-wikipedia">
              ADAWIB Overview
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                class="mr-2"
                append-icon="mdi-magnify"
                :label="$t('search')"
                single-line
                hide-details
                solo
                dense
                clearable
              ></v-text-field>
              <AdButton
               type="refresh"
               @click="getAdawibInfo()"
              />
            </AdCardTitle>
            <v-card-text v-if="adawibStatus == 'unavailable'">
              <AdInfoOwl warning chat class="mx-5 mt-5">
                ADAWIB currently not available: {{ adawibInfo.adawib.error }}
              </AdInfoOwl>
            </v-card-text>
             <v-card-text v-else-if="adawibStatus == 'notconfigured'">
              ADAWIB not configured
            </v-card-text>
             <v-card-text v-else-if="adawibStatus == 'noprojectsundersurveillance'">
              No projects under ADAWIB surveillance
            </v-card-text>
            <v-card-text v-else>
              {{ action }}
              <v-data-table
                dense
                :headers="headers"
                :items="adawibInfo"
                loading="panelLoading"
                :search="search"
                :items-per-page="20"
                class="elevation-1 mt-3"
              >
                <template v-slot:item="{ item }">
                  <tr>
                    <td class="text-no-wrap">
                      {{ item.name }}
                      <AdButton
                        v-if="item.error"
                        icon="mdi-alert"
                        :hint="item.error"
                        color="red lighten-1"
                        small
                        text=""
                        >.</AdButton
                      >
                      <AdStatusDot
                        v-if="item.progress && !item.error"
                        icon="mdi-progress-clock"
                        status="pending"
                        tooltip
                        class="pl-3"
                      ></AdStatusDot>
                      <!--
                      <span class="pl-3" v-if="item.error">
                        <br />
                        <div style="color: red; font-style: italic">{{ item.error }}</div>
                      </span>
                      -->
                    </td>
                    <td style="font-style: italic">
                      <span>{{ item.id }}</span>
                    </td>
                    <td>{{ formatDate(item.laststart) }}</td>
                    <td align="right">
                      <span v-if="item.since < 1400">{{ $t("today") }}</span>
                      <span v-else>{{ daysFromMinutes(item.since) }} d</span>
                      <span class="pl-3">
                        <AdStatusDot
                          v-if="item.since <= 10080"
                          icon="mdi-clock"
                          status="active"
                          tooltip
                        ></AdStatusDot>
                        <AdStatusDot
                          v-if="item.since > 10080 && item.since <= 40320"
                          icon="mdi-clock"
                          status="pending"
                          tooltip
                        ></AdStatusDot>
                        <AdStatusDot
                          v-if="item.since > 40320"
                          icon="mdi-clock"
                          status="deferred"
                          tooltip
                        ></AdStatusDot>
                      </span>
                    </td>
                    <template v-if="item.success">
                      <td align="right">
                        {{ minutesFromSeconds(item.success.elapsed) }} min
                      </td>
                      <td align="right">{{ item.success.seen }}</td>
                      <td align="right">{{ item.success.checked }}</td>
                      <td align="right">{{ item.success.updated }}</td>
                      <td align="right">{{ item.success.errors }}</td>
                      <td align="right">{{ item.success.total }}</td>
                      <td class="text-no-wrap">
                        <v-progress-linear
                          v-if="item.progress"
                          v-model="item.progress.percent"
                          color="amber lighten-2"
                          height="16"
                          ><template v-slot:default="{ value }">
                            {{ Math.ceil(value) }}%
                          </template>
                        </v-progress-linear>
                        <v-progress-linear
                          v-else
                          v-model="item.success.percent"
                          color="green lighten-3"
                          height="16"
                          ><template v-slot:default="{ value }">
                            {{ Math.ceil(value) }}%
                          </template>
                        </v-progress-linear>
                      </td>
                      <td>
                        <v-menu>
                          <template #activator="{ on: menu, attrs }">
                            <v-tooltip bottom>
                              <template #activator="{ on: tooltip }">
                                <v-btn
                                  color="primary"
                                  dark
                                  icon
                                  v-bind="attrs"
                                  v-on="{ ...tooltip, ...menu }"
                                  ><v-icon>mdi-cog</v-icon>
                                </v-btn>
                              </template>
                              <span>Actions on this item</span>
                            </v-tooltip>
                          </template>
                          <v-list>
                            <v-list-item
                              v-for="(menuitem, index) in actionItems"
                              :key="index"
                              @click="
                                doAction(menuitem.action, item.success.name)
                              "
                            >
                              <v-list-item-title>
                                <strong>{{ menuitem.title }}</strong>
                                {{ item.success.name }}</v-list-item-title
                              >
                            </v-list-item>
                          </v-list>
                        </v-menu>
                      </td>
                    </template>
                    <template v-else>
                      <td colspan="8"> </td>
                    </template>
                  </tr>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
          <!--
          <span>INFO: {{ adawibInfo }}</span>
           <span>Uptimes: {{ uuu }}</span>
           -->
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import ServerService from '@/services/ServerService'

export default {
  name: 'AdawibAdminPanel',
  components: {
  },
  data () {
    return {
      panelLoading: true,
      search: null,
      transition: '',
      headers: [
        {
          text: this.$t('project'),
          align: 'start',
          sortable: true,
          value: 'success.name'
        },
        {
          text: this.$t('id'),
          align: 'start',
          sortable: true,
          value: 'project'
        },
        {
          text: this.$t('Laststart'),
          align: 'start',
          sortable: true,
          value: 'laststart'
        },
        {
          text: this.$t('since'),
          align: 'end',
          sortable: true,
          value: 'since'
        },
        {
          text: this.$t('Elapsed'),
          align: 'end',
          sortable: true,
          value: 'success.elapsed'
        },
        {
          text: this.$t('Seen'),
          align: 'end',
          sortable: false,
          value: 'success.seen'
        },
        {
          text: this.$t('checked'),
          align: 'end',
          sortable: false,
          value: 'success.checked'
        },
        {
          text: this.$t('Updated'),
          align: 'end',
          sortable: false,
          value: 'success.updated'
        },
        {
          text: this.$t('errors'),
          align: 'end',
          sortable: false,
          value: 'success.errors'
        },
        {
          text: this.$t('Total'),
          align: 'end',
          sortable: true,
          value: 'success.total'
        },
        {
          text: this.$t('Completed'),
          align: 'start',
          sortable: false,
          value: 'success.percent'
        },
        {
          text: this.$t('actions'),
          align: 'start',
          sortable: false
        }
      ],
      adawibInfo: [],
      uuu: null,
      action: '',
      actionItems: [
        { title: 'Start', action: 'START' },
        { title: 'Suspend', action: 'SUSPEND' },
        { title: 'Reactivate', action: 'REACTIVATE' }
      ]
    }
  },
  mounted () {
    this.getAdawibInfo()
    this.panelLoading = false
  },
  watch: {
    isUserLoggedIn: {
      immediate: true,
      handler: async function () {
        // Set panel loading to true.
        this.panelLoading = true
        // Get adawib information.
        /*
        await this.getAdawibInfo();
        */
        // Set panel loading to false.
        this.panelLoading = false
      }
    }
  },
  methods: {
    /**
     * Get users list.
     */
    async getAdawibInfo () {
      this.panelLoading = true
      // Check if user is dba.
      if (this.userIsDBA) {
        // Load adawib info
        try {
          this.adawibInfo = (await ServerService.getAdawibInfo(
            'https://serviceapi.art-decor.org/adawib',
            this.$store.state.authentication.token
          )).data
          this.$notify('ADAWIB loaded', 'success')
        } catch (err) {
          this.$notify('ADAWIB cannot be loaded')
          console.log(err)
        }
      }
      this.panelLoading = false
    },
    async getUptimes () {
      // Check if user is dba.
      if (this.userIsDBA) {
        // Load adawib info
        try {
          this.uuu = (await ServerService.getServerUptimes('https://serviceapi.art-decor.org/uptimes')).data
        } catch (err) {
          console.log(err)
        }
      }
    },
    daysFromMinutes (m) {
      // return days from minutes = minutes div 24*60
      return parseInt(m / 1440)
    },
    minutesFromSeconds (s) {
      // return days from minutes = minutes div 24*60
      return parseInt(s / 60)
    },
    doAction (a, whom) {
      this.action = a + ': ' + whom
      if (a === 'START' && whom === 'eImpfpass') { this.adawib[2].progress.percent = 50 }
    }
  },
  computed: {
    adawibStatus () {
      return (this.adawibInfo.adawib?.status) ? this.adawibInfo.adawib.status : false
    }
  }

}
</script>
