<template>
  <v-layout>
    <v-container fluid>
      <PanelLoading :loading="panelLoading" />

      <!-- Dialogs -->
      <AdEditURI
        v-if="userIsDBA"
        :showDialog="modal.editURI"
        :value="externalRepositoryServerToEdit"
        @cancelEdit="cancelEditExternalRepositoryServer"
        @saveEdit="addExternalRepositoryServer"
        :title="externalRepositoryServerToEdit ? $t('edit-external-repository-server') : $t('add-external-repository-server')"
        :readonly="repositoriesUpdating"
      />

      <RepositoryAdd
        v-if="userIsDBA"
        :showDialog="modal.selectExternalRepositories"
        :title="$t('select-repository')"
        :params="fetchBBRListParams"
        @cancelEdit="toggleModal('selectExternalRepositories')"
        @saveEdit="saveExternalRepository"
        :disabled="repositoriesUpdating"
        :filter="filterOutReposOnServer"
      />

      <RepositoryEditModal
        v-if="userIsDBA"
        :showDialog="modal.editRepositoryFields"
        :value="externalRepositoryToEdit"
        :title="externalRepositoryToEdit ? $t('edit-external-repository') : $t('add-external-repository')"
        @cancelEdit="cancelEditExternalRepository"
        @saveEdit="saveExternalRepository"
        :readonly="repositoriesUpdating"
      />

      <v-row v-if="!panelLoading">
        <v-col>
          <v-card>
            <AdCardTitle class="d-flex flex-nowrap" prependicon="mdi-card-bulleted-settings-outline">
              <div>{{ $t('art-settings') }}</div>
            </AdCardTitle>
            <v-card-text class="pa-5">
              <!-- General -->
              <v-card outlined class="mb-5">
                <AdCardTitle class="d-flex flex-nowrap"><div>{{ $t('general') }}</div></AdCardTitle>
                <v-form>
                  <v-card-text>
                    <v-row>
                      <v-col cols="12" md="4">
                        <EditableLanguage
                          v-if="get(editableServerSettings, 'defaultLanguage.0') !== undefined"
                          v-model="editableServerSettings.defaultLanguage[0]"
                          :label="$t('defaultLanguage')"
                          @change="handleChange('defaultLanguage', $event)"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <EditableString
                          v-if="get(editableServerSettings, 'url-art-decor-deeplinkprefix.0') !== undefined"
                          v-model="editableServerSettings['url-art-decor-deeplinkprefix'][0]"
                          ref="url-art-decor-deeplinkprefix"
                          :label="`${$t('server-deeplinkprefix')} (AD2)`"
                          confirmation-required
                          @change="handleChange('url-art-decor-deeplinkprefix', $event.trim())"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <EditableString
                          v-if="get(editableServerSettings, 'url-art-decor3-deeplinkprefix.0') !== undefined"
                          v-model="editableServerSettings['url-art-decor3-deeplinkprefix'][0]"
                          ref="url-art-decor3-deeplinkprefix"
                          :label="`${$t('server-deeplinkprefix')} (AD3)`"
                          confirmation-required
                          @change="handleChange('url-art-decor3-deeplinkprefix', $event.trim())"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <EditableString
                          v-if="get(editableServerSettings, 'url-art-decor-services.0') !== undefined"
                          v-model="editableServerSettings['url-art-decor-services'][0]"
                          ref="url-art-decor-services"
                          :label="$t('server-servicesprefix')"
                          confirmation-required
                          @change="handleChange('url-art-decor-services', $event.trim())"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <EditableString
                          v-if="get(editableServerSettings, 'url-art-decor-api.0') !== undefined"
                          v-model="editableServerSettings['url-art-decor-api'][0]"
                          ref="server-art-decor-api"
                          :label="$t('server-artdecorapi')"
                          confirmation-required
                          @change="handleChange('url-art-decor-api', $event.trim())"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <EditableString
                          :value="get(editableServerSettings, 'url-fhir-services.0')"
                          ref="url-fhir-services"
                          :label="$t('server-fhirservicesprefix')"
                          confirmation-required
                          @change="handleChange('url-fhir-services', $event.trim())"
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <EditableString
                          :value="get(editableServerSettings, 'url-fhir-canonical-base.0') || get(editableServerSettings, 'url-fhir-services.0')"
                          :label="$t('server-fhir-canonical-base')"
                          :infoText="$t('server-fhir-canonical-base-hint')"
                          disabled
                        />
                      </v-col>
                      <v-col cols="12" md="4">
                        <v-select
                          v-if="get(editableServerSettings, 'default-fhir-version.0') !== undefined"
                          :v-model="editableServerSettings['default-fhir-version'][0]"
                          :items="InstalledFhirEndpointsLov"
                          clearable
                          :label="$t('fhir-servicesdefault')"
                          @change="handleChange('default-fhir-version', $event)"
                        >
                          <template #append-outer>
                            <EditableInfoIcon v-if="InstalledFhirEndpointsHint" :infoText="InstalledFhirEndpointsHint"/>
                          </template>
                        </v-select>
                      </v-col>
                    </v-row>

                    <!-- Logo -->
                    <v-row>
                      <v-col cols="12" md="4">
                        <EditableString
                          v-if="get(editableServerSettings, 'art-server-logo.0.#text')"
                          v-model="editableServerSettings['art-server-logo'][0]['#text']"
                          ref="server-logo"
                          :label="$t('server-logo')"
                          confirmation-required
                          :class="{'mr-5': get(editableServerSettings, 'art-server-logo.0.#text') !== defaultArtServerLogo['#text']}"
                          @change="handleChange('art-server-logo.#text', $event.trim())"
                        >
                          <template #append-outer>
                            <v-tooltip v-if="get(editableServerSettings, 'art-server-logo.0.#text') !== defaultArtServerLogo['#text']" top>
                              <template #activator="{on}">
                                <v-btn
                                  v-on="on"
                                  icon
                                  small
                                  color="primary"
                                  @click="restoreArtServerLogo('art-server-logo.#text')"
                                >
                                  <v-icon>mdi-undo</v-icon>
                                </v-btn>
                              </template>
                              {{ $t('reset-default') }}: {{ defaultArtServerLogo['#text'] }}
                            </v-tooltip>
                          </template>
                        </EditableString>
                      </v-col>
                      <v-col cols="12" md="4">
                        <EditableString
                          v-if="get(editableServerSettings, 'art-server-logo.0.href')"
                          v-model="editableServerSettings['art-server-logo'][0]['href']"
                          ref="server-logo-url"
                          :label="$t('server-logo-url')"
                          confirmation-required
                          :class="(serverSettings['art-server-logo'][0]['href'] !== defaultArtServerLogo['href']) ? 'mr-5' : ''"
                          @change="handleChange('art-server-logo.href', $event.trim())"
                        >
                        <template #append-outer>
                          <v-tooltip v-if="get(editableServerSettings, 'art-server-logo.0.href') !== defaultArtServerLogo['href']" top>
                            <template #activator="{on}">
                              <v-btn
                                v-on="on"
                                icon
                                small
                                color="primary"
                                @click="restoreArtServerLogo('art-server-logo.href')"
                              >
                                <v-icon>mdi-undo</v-icon>
                              </v-btn>
                            </template>
                            {{ $t('reset-default') }}: {{ defaultArtServerLogo['href'] }}
                          </v-tooltip>
                        </template>
                        </EditableString>
                      </v-col>
                    </v-row>

                    <v-card v-if="get(editableServerSettings, 'terminology-browser-languages.0') != null" outlined class="mb-5">
                      <AdCardTitle class="d-flex flex-nowrap"><div>{{ $t('terminology-languages') }}</div></AdCardTitle>
                      <v-card-text>
                        <v-row>
                          <v-col>
                            <EditableLanguage
                              :value="editableServerSettings['terminology-browser-languages'][0].preferred"
                              :locales="terminologyBrowserLocales"
                              disabled
                              :label="$t('preferred')"
                            />
                          </v-col>
                          <v-col>
                            <EditableLanguage
                              :value="editableServerSettings['terminology-browser-languages'][0].selected"
                              :locales="terminologyBrowserLocales"
                              disabled
                              :label="$t('selected')"
                            />
                            {{editableServerSettings['terminology-browser-languages'][0].selected}}
                          </v-col>
                          </v-row>
                      </v-card-text>
                    </v-card>

                  </v-card-text>
                </v-form>
              </v-card>

              <!-- Id's -->
              <v-card outlined class="mb-5" v-if="get(editableServerSettings, 'ids.0')">
                <AdCardTitle class="d-flex flex-nowrap"><div>{{ $t('ids') }}</div></AdCardTitle>
                <v-card-text>
                  <v-row class="d-flex align-center">
                    <v-col v-for="(type, i) in editableServerSettings.ids[0].type" :key="`${i}-${type.code}`" cols="6" md="3">
                      <v-switch
                        v-if="get(editableServerSettings, `ids.0.baseId.${i}`)"
                        v-model="editableServerSettings.ids[0].baseId[i].default"
                        false-value="false"
                        true-value="true"
                        class="mr-5"
                        disabled
                        :label="type.displayName"
                      />
                    </v-col>
                  </v-row>

                </v-card-text>
              </v-card>

              <!-- Repository servers -->
              <v-row class="mb-5">
                <v-col cols="12" xl="6">
                  <!-- External repository servers -->
                  <v-card outlined>
                    <AdCardTitle>
                      {{ $t('server-repository-servers') }}
                      <v-spacer></v-spacer>
                      <AdButton
                        type="add"
                        small
                        @click="toggleModal('editURI')"
                        :hint="$t('add-external-repository-server')"
                      />
                    </AdCardTitle>
                    <v-card-text class="pa-5">
                      <v-data-table
                        dense
                        :headers="externalRepositoryServersHeaders"
                        :items="externalBuildingBlockRepositoryServers"
                        :items-per-page="5"
                        :hide-default-footer="externalBuildingBlockRepositoryServers && externalBuildingBlockRepositoryServers.length <= 5"
                        class="elevation-1 transparentBackground"
                      >
                        <template #item.actions="{ item }">
                          <AdSpeedDial direction="left">
                            <AdButton
                              type="view-table"
                              list
                              :hint="$t('select')"
                              @click="browseExternalRepositoryServer(item.url)"
                            />
                            <AdButton
                              :type="'edit'"
                              list
                              @click="editExternalRepositoryServer(item.url)"
                            />
                            <AdButton
                              type="delete"
                              list
                              @click="removeExternalRepositoryServer(item.url)"
                            />
                          </AdSpeedDial>
                        </template>
                      </v-data-table>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="12" xl="6">
                  <!-- External repositories -->
                  <v-card outlined>
                    <AdCardTitle>
                      {{ $t('server-external-bbrs') }}
                      <v-spacer></v-spacer>
                      <AdButton
                        type="add"
                        small
                        @click="toggleModal('editRepositoryFields')"
                        :hint="$t('add-external-repository')"
                      />
                    </AdCardTitle>
                    <v-card-text class="pa-5">
                      <v-data-table
                        dense
                        :headers="externalRepositoryHeaders"
                        :items="externalBuildingBlockRepositories"
                        :items-per-page="5"
                        :hide-default-footer="externalBuildingBlockRepositories && externalBuildingBlockRepositories.length <= 5"
                        class="elevation-1 transparentBackground"
                      >
                        <template #item.name="{ item }">
                          {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale })}}
                        </template>

                        <template #item.actions="{item}">
                          <AdSpeedDial direction="left">
                            <AdButton
                              :type="'edit'"
                              list
                              @click="editExternalRepository(item)"
                            />
                            <AdButton
                              type="delete"
                              list
                              @click="removeExternalRepository(item)"
                            />
                          </AdSpeedDial>
                        </template>
                      </v-data-table>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>

            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { cloneDeep, get, matches, find as _find } from 'lodash'
import EditableLanguage from '@/components/Utilities/Editable/EditableDropdown/EditableLanguage'
import PanelLoading from '@/components/Utilities/PanelLoading'
import AdEditURI from '@/components/Utilities/AdEditURI'
import RepositoryAdd from '@/components/Project/RepositoryAdd'
import RepositoryEditModal from '@/components/ServerAdmin/RepositoryEditModal'
import { mapGetters } from 'vuex'

export default {
  name: 'ArtSettingsAdminPanel',
  components: {
    EditableLanguage,
    PanelLoading,
    AdEditURI,
    RepositoryAdd,
    RepositoryEditModal
  },
  data () {
    return {
      defaultArtServerLogo: {
        '#text': 'art-decor-logo40.png',
        href: 'https://art-decor.org'
      },
      editableServerSettings: null,
      externalRepositoryServerToEdit: null,
      externalRepositoryToEdit: null,
      fetchBBRListParams: {},
      repositoriesUpdating: false,
      modal: {
        editURI: false,
        selectExternalRepositories: false,
        editRepositoryFields: false
      },
      panelLoading: true,
      terminologyBrowserLocales: ['en-GB', 'en-US', 'de-DE', 'it-IT', 'fr-FR', 'pl-PL']
    }
  },
  computed: {
    ...mapGetters({
      getDecorTypes: ['server/getDecorTypes'],
      serverSettings: ['server/serverSettings']
    }),
    decorTypes () {
      return this.getDecorTypes?.data
    },
    externalBuildingBlockRepositoryServers () {
      return this.serverSettings?.externalBuildingBlockRepositoryServers?.[0]?.buildingBlockServer || []
    },
    externalBuildingBlockRepositories () {
      return this.serverSettings?.externalBuildingBlockRepositories?.[0]?.buildingBlockRepository || []
    },
    externalRepositoryServersHeaders () {
      return [
        { value: 'url', text: this.$t('URL') },
        { value: 'actions', width: '150px', align: 'right' }
      ]
    },
    externalRepositoryHeaders () {
      return [
        { value: 'name', text: this.$t('name'), width: '30%' },
        { value: 'ident', text: this.$t('identifier'), width: '15%' },
        { value: 'url', text: this.$t('URL'), width: '55%' },
        { value: 'actions', width: '150px', align: 'right' }
      ]
    },
    InstalledFhirEndpointsLov () {
      return this.decorTypes?.InstalledFhirEndpoints?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label, locale: this.$i18n.locale }),
        value: e.name
      })
      ) || []
    },
    InstalledFhirEndpointsHint () {
      return this.decorTypes?.InstalledFhirEndpoints?.[0]?.hint.find((h) => h.language === this.$i18n.locale)?.['#text'] || null
    }
  },
  created () {
    this.getServerSettings()
  },
  methods: {
    addExternalRepositoryServer (value) {
      const data = {
        parameter: [
          {
            op: 'add',
            path: '/buildingBlockServer',
            value
          }
        ]
      }
      if (this.externalRepositoryServerToEdit && this.externalRepositoryServerToEdit !== value) {
        data.parameter.push({
          op: 'remove',
          path: '/buildingBlockServer',
          value: this.externalRepositoryServerToEdit
        })
      }

      this.repositoriesUpdating = true

      this.$store.dispatch('server/patchServerSettings', { data })
        .then(() => {
          this.$notify(this.$t('submission-update-success-label'), 'success')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
        .finally(() => {
          this.cancelEditExternalRepositoryServer()
          this.repositoriesUpdating = false
        })
    },
    browseExternalRepositoryServer (url) {
      this.toggleModal('selectExternalRepositories')
      this.fetchBBRListParams.uri = url
    },
    saveExternalRepository (value) {
      const data = { parameter: [] }
      if (Array.isArray(value)) {
        value.forEach(repo => {
          data.parameter.push({
            op: 'replace',
            path: '/buildingBlockRepository',
            value: {
              buildingBlockRepository: repo
            }
          })
        })
      } else {
        const payload = { ...value, type: 'external' }
        data.parameter.push({
          op: 'replace',
          path: '/buildingBlockRepository',
          value: {
            buildingBlockRepository: payload
          }
        })
      }

      this.repositoriesUpdating = true

      this.$store.dispatch('server/patchServerSettings', { data })
        .then(() => {
          this.$notify(this.$t('submission-update-success-label'), 'success')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
        .finally(() => {
          this.cancelEditExternalRepository()
          this.modal.selectExternalRepositories = false
          this.repositoriesUpdating = false
        })
    },
    async removeExternalRepositoryServer (url) {
      const confirmed = await this.$confirm(this.$t('delete-external-repository-reference', { url }), { positive: this.$t('delete'), icon: 'mdi-delete' })
      if (!confirmed) {
        return
      }

      const data = {
        parameter: [
          {
            op: 'remove',
            path: '/buildingBlockServer',
            value: url
          }
        ]
      }

      this.$store.dispatch('server/patchServerSettings', { data })
        .then(() => {
          this.$notify(this.$t('submission-update-success-label'), 'success')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },
    async removeExternalRepository (item) {
      const confirmed = await this.$confirm(this.$t('delete-external-repository', { name: this.$filters.getMatchingTranslation({ value: item.name, locale: this.$i18n.locale }) }), { positive: this.$t('delete'), icon: 'mdi-delete' })
      if (!confirmed) {
        return
      }

      const data = {
        parameter: [
          {
            op: 'remove',
            path: '/buildingBlockRepository',
            value: {
              buildingBlockRepository: item
            }
          }
        ]
      }

      this.$store.dispatch('server/patchServerSettings', { data })
        .then(() => {
          this.$notify(this.$t('submission-update-success-label'), 'success')
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },
    editExternalRepositoryServer (value) {
      this.externalRepositoryServerToEdit = value
      this.modal.editURI = true
    },
    editExternalRepository (item) {
      this.externalRepositoryToEdit = cloneDeep(item)
      this.modal.editRepositoryFields = true
    },
    cancelEditExternalRepository () {
      this.externalRepositoryToEdit = null
      this.modal.editRepositoryFields = false
    },
    cancelEditExternalRepositoryServer () {
      this.externalRepositoryServerToEdit = null
      this.modal.editURI = false
    },
    async getServerSettings () {
      this.panelLoading = true
      try {
        await this.$store.dispatch('server/setServerSettings')
        this.panelLoading = false
      } catch (error) {
        this.$notify(error)
      }
    },
    /**
     * Single function that handles the update based on the path needed updating
     * In case of the logo, the path is two levels deep
     */
    async handleChange (path, value) {
      if (!value || !path) {
        return
      }

      const prop = path.split('.')[0]
      const attribute = path.split('.')[1]

      const currentValue = attribute ? this.serverSettings?.[prop]?.[0]?.[attribute] : this.serverSettings?.[prop]?.[0]
      if (currentValue?.trim() === value?.trim()) return

      const payload = (attribute !== undefined)
        ? { [prop]: { ...cloneDeep(this.serverSettings[prop][0]), [attribute]: value } }
        : value
      try {
        const data = {
          parameter: [
            {
              op: 'replace',
              path: `/${prop}`,
              value: payload
            }
          ]
        }
        const updatedServerSetting = await this.$store.dispatch('server/patchServerSettings', { data })
        if (updatedServerSetting) {
          this.$notify(this.$t('submission-update-success-label'), 'success')
        }
      } catch (error) {
        this.restoreEditableServerSettings()
        const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
        this.$alert(errorMessage)
      }
    },
    restoreArtServerLogo (path) {
      const attribute = path.split('.')[1]
      if (attribute && this.defaultArtServerLogo[attribute] !== undefined) {
        this.handleChange(path, this.defaultArtServerLogo[attribute])
      }
    },
    restoreEditableServerSettings () {
      const editableServerSettings = cloneDeep(this.serverSettings)
      if (typeof editableServerSettings === 'object' && editableServerSettings !== null) {
        Object.keys(editableServerSettings).forEach(key => {
          // The API wraps everything in an array, except null. Consistency makes it easier to deal with.
          if (editableServerSettings[key] === null) {
            editableServerSettings[key] = [null]
          }
        })
      }
      this.editableServerSettings = editableServerSettings
    },
    toggleModal (path) {
      this.modal[path] = !this.modal[path]
    },
    filterOutReposOnServer (repo) {
      const serverRepositories = this.externalBuildingBlockRepositories
      return !_find(serverRepositories, matches({ ident: repo.ident }))
    },
    get
  },
  watch: {
    serverSettings: {
      immediate: true,
      deep: true,
      handler () {
        this.restoreEditableServerSettings()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .transparentBackground::v-deep tbody {
     tr:hover {
        background-color: transparent !important;
     }
  }
  ::v-deep .text-start.sortable {
    white-space: nowrap;
  }
</style>
