<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs v-if="$route.name === 'project-decor-locks-panel'" :items="breadcrumbs" />
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle class="d-flex flex-nowrap"
              prependicon="mdi-lock">
              <div>{{ $t('decor-locks') }}</div>
              <v-spacer/>
              <AdButton
                list
                type="refresh"
                @click="getDecorLocks"
                :disabled="loading"
                :loading="loading"
              >
                <template v-slot:loader>
                  <span class="custom-loader">
                    <v-icon light>mdi-cached</v-icon>
                  </span>
                </template>
              </AdButton>
            </AdCardTitle>
            <v-card-text class="pt-4">
              <v-data-table
                :headers="headers"
                :items="userLocks"
                item-key="user"
                show-expand
                single-expand
                single-select
                :loading="loading"
              >
                <template v-slot:[`item.lock`]="{ item }">
                  <v-chip color="primary" size="25" v-if="item.lock">
                    <span class="white--text">{{ item.lock.length }}</span>
                  </v-chip>
                </template>
                <template v-slot:[`item.actions`]="{ item }">
                  <AdButton
                    v-if="isAllowedToDelete(item)"
                    type="delete"
                    small
                    :hint="`${$t('clear-all-user-locks')} (${item.userName})`"
                    @click="removeLock(item)"
                  />
                </template>
                <template v-slot:expanded-item="{ headers, item }">
                  <td :colspan="headers.length">
                    <v-data-table
                      class="ma-2 grey lighten-3"
                      :headers="headersLock"
                      :items="item.lock"
                    >
                      <template v-slot:[`item.type`]="{ item }">
                        <span>{{getDecorObjectTypes(item.type, 'label')}}</span>
                      </template>
                      <template v-slot:[`item.displayName`]="{ item }">
                        <span>{{ item.displayName }} ({{ item.ref }} - {{ item.effectiveDate }})</span>
                      </template>
                      <template v-slot:[`item.since`]="{ item }">
                        <v-chip :color="(dateTime(item.since) <= 1) ? 'red' : 'green'" class="white--text">{{ dateTime(item.since) }}</v-chip>
                      </template>
                      <template v-slot:[`item.actions`]="{ item }">
                        <AdButton
                          v-if="isAllowedToDelete(item)"
                          type="delete"
                          small
                          @click="removeLock(item)"
                          :hint="$t('clear-lock')"
                        />
                      </template>
                    </v-data-table>
                  </td>
                </template>
              </v-data-table>

            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import LockService from '@/services/LockService'
import { differenceInHours } from 'date-fns'

export default {
  name: 'DecorLocksPanel',
  data () {
    return {
      loading: true,
      decorLocks: [],
      headers: [
        { text: this.$t('user'), value: 'user' },
        { text: this.$t('username'), value: 'userName' },
        { text: this.$t('decor-locks'), value: 'lock' },
        { text: '', value: 'actions', width: '35px' }
      ],
      headersLock: [
        { text: this.$t('type'), value: 'type' },
        { text: `${this.$t('name')} (${this.$t('reference')} - ${this.$t('effectiveDate')})`, value: 'displayName' },
        { text: this.$t('prefix'), value: 'prefix' },
        { text: this.$t('days-ago'), value: 'since' },
        { text: '', value: 'actions', width: '35px' }
      ],
      messageSnackbar: {
        on: false,
        text: 'Panel is for Administrators only!'
      },
      search: '',
      speeddial: false
    }
  },
  computed: {
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['project-decor-locks-panel']
        },
        {
          text: this.$t('project'),
          disabled: true,
          show: ['project-decor-locks-panel']
        },
        {
          exact: true,
          text: this.$t('decor-locks'),
          to: { name: 'project-decor-locks-panel' },
          show: ['project-decor-locks-panel']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    dateTime () {
      return (d) => {
        return (Math.round(differenceInHours(new Date(), new Date(d)) / 24 * 10) / 10)
      }
    },
    getDecorObjectTypes () {
      return (decorType, attribute) => {
        const foundDecorType = this.$store.getters['server/getDecorObjectTypes'](decorType)
        if (foundDecorType) {
          return foundDecorType[attribute].find(v => v.language === this.$i18n.locale)['#text']
        } else {
          return decorType
        }
      }
    },
    isAllowedToDelete () {
      return (item) => {
        if (this.$route.name === 'decor-locks-panel') return this.userIsDBA
        if (this.$route.name === 'project-decor-locks-panel') return this.userIsEditor
        return false
      }
    },
    userLocks () {
      return this.decorLocks?.userLocks
    }
  },
  created () {
    if (this.$route.name === 'project-decor-locks-panel') {
      if (!this.$store.getters['project/userIsProjectAuthor']) {
        this.$router.push({ name: 'home' }).catch(() => {})
        return false
      }
    } else if (this.$route.name === 'decor-locks-panel') {
      if (!this.userIsDBA) {
        this.$router.push({ name: 'home' }).catch(() => {})
        return false
      }
    }
    this.getDecorLocks()
  },
  methods: {
    async getDecorLocks () {
      this.loading = true
      try {
        if (this.$route.name === 'project-decor-locks-panel' && this.userIsEditor) {
          this.decorLocks = (await LockService.getLocksListForProject(this.projectInFocus?.prefix)).data
        } else if (this.$route.name === 'decor-locks-panel') {
          this.decorLocks = (await LockService.getLocksList()).data
        }
      } catch (err) {
        // ignore err, no locks found
      }
      this.loading = false
    },
    async removeLock (item) {
      if (!this.isAllowedToDelete(item)) {
        this.$alert(this.$t('prohibited'))
        return
      }
      if (Object.prototype.hasOwnProperty.call(item, 'lock')) {
        // remove all locks of the user (user has property lock)
        const message = `${this.$t('clear-all-user-locks')} ${item.userName}?`
        const agree = await this.$confirm(message)
        if (agree) {
          // remove
          try {
            const prefix = (this.$route.name === 'project-decor-locks-panel')
              ? this.$store.getters['project/getProjectSelected'].prefix
              : null
            const result = (this.$route.name === 'project-decor-locks-panel' && prefix)
              ? await LockService.unlockUsernameAndPrefix(item.user, prefix)
              : await LockService.unlockUsername(item.user)

            if (result?.data === '') {
              const indexUser = this.userLocks.findIndex(u => u.user === item.user)
              if (indexUser !== -1) {
                this.userLocks.splice(indexUser, 1)
              }
              this.$notify(this.$t('submission-update-success-label'), 'info')
            }
          } catch (error) {
            this.$notify(error, 'error')
          }
        } else {
          // ignore, cancel
        }
      } else {
        // remove only a specific lock (of the user)
        const message = `${this.$t('clear')} ${this.$t('lock')} ${item?.displayName}. ${this.$t('are-you-sure-this-action-cannot-be-undone')}`
        const agree = await this.$confirm(message)
        if (agree) {
          // remove
          try {
            const result = await LockService.unlockPrefix(item)
            const { ref, user, prefix, effectiveDate } = item
            if (result?.data === '') {
              const indexUser = this.userLocks.findIndex(u => u.user === item.user)
              if (indexUser !== -1) {
                // remove all the locks of a selected prefix (database removes all the locks of the project)
                this.userLocks[indexUser].lock.filter((i) => i.prefix === prefix).forEach((l) => {
                  if (l.ref === ref && l.user === user && l.effectiveDate === effectiveDate) {
                    const index = this.userLocks[indexUser].lock.indexOf(l)
                    if (index !== -1) {
                      this.userLocks[indexUser].lock.splice(index, 1)
                    }
                  }
                })
              }
              if (
                !Object.prototype.hasOwnProperty.call(this.userLocks[indexUser], 'lock') ||
                this.userLocks[indexUser].lock.length === 0
              ) {
                // user had no locks, remove
                this.userLocks.splice(indexUser, 1)
              }
              this.$notify(this.$t('submission-update-success-label'), 'info')
            } else {
              this.$notify(this.$t('submission-update-error-label'), 'error')
            }
          } catch (error) {
            this.$notify(error, 'error')
          }
        } else {
          // ignore, cancel
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
::v-deep .custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
