<template>
  <v-layout>
    <v-container fluid>
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle class="d-flex flex-nowrap" prependicon="mdi-server">
              <div>{{ $t('server-management') }}</div>
            </AdCardTitle>
            <v-card-text class="pa-5" v-if="userIsDBA">
              <v-card v-for="choice in btnChoices" :key="choice.label" class="mb-5" outlined>
                <AdCardTitle class="d-flex flex-nowrap">
                  <div>{{ $t(choice.label) }}</div>
                  <div v-if="choice.hint">
                    <AdDocs :hintCode="choice.hint"/>
                  </div>
                </AdCardTitle>
                <v-card-text class="pa-5">
                  <v-row>
                    <v-col cols="9">
                      <div v-if="choice.intro" class="pb-3">
                        <div v-for="(t, i) in choice.intro" v-bind:key="i" v-html="t"> </div>
                      </div>
                      <v-alert v-if="choice.alert" type="info" dense text class="mb-5">
                        {{ choice.alert }}
                      </v-alert>
                      <v-form
                        v-if="choice.fnc"
                        :ref="`${choice.fnc}Ref`"
                      >
                        <template v-for="(input, inputKey) in choice.inputs">

                          <EditableDropdown
                            v-model="input.value"
                            :items="input.items"
                            item-value="value"
                            item-text="text"
                            :label="$t(inputKey)"
                            clearable
                            :key="inputKey"
                            :infoText="input.alert ? input.alert : ''"
                            class="col-6"
                            />

                        </template>
                      </v-form>
                      <AdButton
                        v-if="choice.fnc"
                        type="refresh"
                        color="orange"
                        small
                        :loading="(loadingBtn && loadingBtnFnc === choice.fnc)"
                        @click="makeChoice(choice)"
                        :admin="true"
                        :disabled="choice.disabled"
                        :text="$t(choice.label)"
                        :label="$t(choice.label)"
                        :hint="$t(choice.label)"
                      />
                    </v-col>
                    <v-col cols="3" v-if="choice.functionResultInfo != null">
                      {{ $t('results') }}
                      <hr/>
                      <div v-for="(ri, i) in choice.functionResultInfo" v-bind:key="i">
                        <span>
                          <v-icon v-if="ri.color" :color="ri.color" class="pr-3">
                            {{ ri.status != 'OK' ? 'mdi-cancel' : 'mdi-check' }}
                          </v-icon>
                          <span v-html="ri.text"> </span>
                        </span>
                      </div>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import ServermgmtService from '@/services/ServermgmtService'
import AdButton from '../Utilities/AdButton.vue'

export default {
  components: { AdButton },
  name: 'FunctionsAdminPanel',
  data () {
    return {
      // deprecated: refresh-menu and fixObjectHistory
      btnChoices: [
        {
          fnc: 'codesystemGenerateIndex',
          label: 'update-codesystem-index',
          hint: 'h_adm',
          disabled: false,
          functionResultInfo: null
        },
        {
          fnc: 'resetArtPermissions',
          label: 'fix-art-permissions',
          hint: 'h_adm',
          disabled: false,
          functionResultInfo: null
        },
        {
          fnc: 'cleanUpDecor',
          label: 'clean-up-decor',
          hint: 'h_adm',
          disabled: false,
          functionResultInfo: null
        },
        {
          fnc: 'resetTerminologyPermissions',
          label: 'fix-terminology-permissions',
          hint: 'h_adm',
          disabled: false,
          functionResultInfo: null
        },
        {
          fnc: 'resetFhirPermissions',
          label: 'fix-fhir-permissions',
          inputs: {
            version: {
              alert: 'FHIR version (all versions if not supplied)',
              items: [],
              value: null
            },
            type: {
              alert: 'Type of the operation (if not supplied, reset permissions to default)',
              items: [
                { text: 'capabilitystatement', value: 'capabilitystatement' },
                { text: 'conformance', value: 'conformance' },
                { text: 'cleanup', value: 'cleanup' }
              ],
              value: null
            }
          },
          hint: 'h_adm',
          disabled: false,
          functionResultInfo: null
        },
        {
          fnc: 'oidsGenerateLookups',
          label: 'refresh-oid-lookups',
          hint: 'h_adm',
          disabled: false,
          functionResultInfo: null
        },
        {
          fnc: 'decorCacheUpdate',
          label: 'refresh-cache',
          inputs: {
            statusonly: {
              alert: 'Either the status can be looked up and shown (no refresh) or a true refresh is performed',
              items: [
                { text: 'Status only', value: 'true' },
                { text: 'Truely refresh', value: 'false' }
              ],
              value: 'false'
            },
            cacheformat: {
              alert: 'The cache format, if not supplied, <b>decor</b> is the default',
              items: [
                { text: 'decor', value: 'decor' },
                { text: 'fhir', value: 'fhir' }
              ],
              value: 'decor'
            }
          },
          hint: 'h_adm',
          disabled: false,
          intro: [
            this.$t('server-management-cache-intro')
          ],
          alert: this.$t('server-management-cache-alert'),
          functionResultInfo: null
        },
        {
          fnc: 'emitForRealtimeUpdates',
          label: 'Realtime Updates',
          inputs: {
            type: {
              items: [
                { text: 'Server Info', value: 'refresh-server-info' },
                { text: 'Server Functions', value: 'refresh-server-functions' }
              ],
              value: 'refresh-server-info'
            }
          },
          hint: 'h_adm',
          disabled: false,
          intro: [
            this.$t('server-management-refresh-intro')
          ]
        }

      ],
      loadingBtn: false,
      loadingBtnFnc: null
    }
  },
  computed: {
    decorTypes () {
      return this.$store.getters['server/getDecorTypes']?.data
    },
    fhirObjectFormat () {
      return this.decorTypes?.FhirObjectFormat?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    }
  },
  created () {
    if (this.fhirObjectFormat.length > 0) {
      // hard coded btnChoices array index [4] for the FHIR permissions
      this.btnChoices[4].inputs.version.items = this.fhirObjectFormat
    }
  },
  methods: {
    makeChoice (action) {
      if (this[action?.fnc]) {
        this[action.fnc](action)
      } else {
        this.$alert(this.$t('notyetimplemented'))
      }
    },
    async codesystemGenerateIndex () {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        try {
          this.loadingBtn = true
          this.loadingBtnFnc = 'codesystemGenerateIndex'
          const status = await ServermgmtService.codesystemGenerateIndex()
          if (status) {
            this.loadingBtn = false
            this.loadingBtnFnc = null
            const options = {
              buttonTrueText: 'OK',
              buttonFalseText: '',
              title: 'Success',
              color: (status.status === 200) ? 'green' : 'warning',
              icon: (status.status === 200) ? 'mdi-check' : 'mdi-close-circle-outline'
            }
            this.$confirm(`${status.statusText} (${status.status})`, options)
          }
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      }
    },
    async resetArtPermissions () {
      try {
        this.loadingBtn = true
        this.loadingBtnFnc = 'resetArtPermissions'
        const status = await ServermgmtService.resetArtPermissions()
        if (status) {
          this.$notify(`${status.statusText} (${status.status})${(status?.data?.dateTime) ? ` - ${this.$filters.formatDate(status.data.dateTime)}` : ''}`, 'success')
        }
      } catch (error) {
        if (error?.response?.data?.description) {
          this.$alert(error?.response?.data?.description)
        }
      } finally {
        this.loadingBtn = false
        this.loadingBtnFnc = null
      }
    },
    async cleanUpDecor () {
      try {
        this.loadingBtn = true
        this.loadingBtnFnc = 'cleanUpDecor'
        const status = await ServermgmtService.cleanUpDecor()
        if (status) {
          this.$notify(`${status.statusText} (${status.status})${(status?.data?.dateTime) ? ` - ${this.$filters.formatDate(status.data.dateTime)}` : ''}`, 'success')
        }
      } catch (error) {
        if (error?.response?.data?.description) {
          this.$alert(error?.response?.data?.description)
        }
      } finally {
        this.loadingBtn = false
        this.loadingBtnFnc = null
      }
    },
    async resetTerminologyPermissions () {
      this.loadingBtn = true
      this.loadingBtnFnc = 'resetTerminologyPermissions'
      try {
        const status = await ServermgmtService.resetTerminologyPermissions()
        if (status) {
          this.$notify(`${status.statusText} (${status.status})${(status?.data?.dateTime) ? ` - ${this.$filters.formatDate(status.data.dateTime)}` : ''}`, 'success')
        }
      } catch (error) {
        if (error?.response?.data?.description) {
          this.$alert(error?.response?.data?.description)
        }
      } finally {
        this.loadingBtn = false
        this.loadingBtnFnc = null
      }
    },
    async resetFhirPermissions (action) {
      const type = action.inputs.type.value
      const version = action.inputs.version.value
      this.loadingBtn = true
      this.loadingBtnFnc = 'resetFhirPermissions'
      const data = {
        type: `${(type) ? `type=${type}` : ''}`,
        version: `${(version) ? `version=${version}` : ''}`
      }
      try {
        const status = await ServermgmtService.resetFhirPermissions(data)
        if (status) {
          this.$notify(`${status.statusText} (${status.status})${(status?.data?.dateTime) ? ` - ${status.data.dateTime}` : ''}`, 'success')
        }
      } catch (error) {
        if (error?.response?.data?.description) {
          this.$alert(error?.response?.data?.description)
        }
      } finally {
        this.loadingBtn = false
        this.loadingBtnFnc = null
      }
    },
    async oidsGenerateLookups () {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        this.loadingBtn = true
        this.loadingBtnFnc = 'oidsGenerateLookups'
        try {
          const status = await ServermgmtService.oidsGenerateLookups()
          if (status) {
            this.loadingBtn = false
            this.loadingBtnFnc = null
            const options = {
              buttonTrueText: 'OK',
              buttonFalseText: '',
              title: 'Success',
              color: (status.status === 200) ? 'green' : 'warning',
              icon: (status.status === 200) ? 'mdi-check' : 'mdi-close-circle-outline'
            }
            this.$confirm(`${status.statusText} (${status.status})${(status?.data?.dateTime) ? ` - ${status.data.dateTime}` : ''}`, options)
          }
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      }
    },
    async decorCacheUpdate (action) {
      const statusonly = action.inputs.statusonly.value
      const cacheformat = action.inputs.cacheformat.value
      const agree = statusonly ? 'true' : await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        this.$set(action, 'functionResultInfo', 'Please wait...')
        this.loadingBtn = true
        this.loadingBtnFnc = 'decorCacheUpdate'
        let bbrsok = null
        let bbrsunreachable = null
        const data = {
          statusonly: `${(statusonly) ? `statusonly=${statusonly}` : ''}`,
          cacheformat: `${(cacheformat) ? `cacheformat=${cacheformat}` : ''}`
        }
        try {
          const status = await ServermgmtService.decorCacheUpdate(data)
          if (![true, 'true'].includes(statusonly)) {
            this.$socket.emit('refresh-server-info')
          }
          if (status) {
            this.loadingBtn = false
            this.loadingBtnFnc = null
            if (status?.data.ok && status?.data.ok.length > 0) {
              bbrsok = `Cache refreshed:<ul><li>${status.data.ok.map((ok) => ok.ident).join('<li>')}</ul>`
            }
            if (status?.data.unreachable) {
              bbrsunreachable = `Unreachable <ul><li>${status.data.unreachable.map((unreachable) => unreachable.ident).join('<li>')}</ul>`
            }
            const feedback =
              [
                {
                  text: 'Date: ' + this.$filters.formatDate(status?.data?.time)
                },
                {
                  color: (status.status === 200) ? 'green' : 'orange',
                  status: 'OK',
                  text: bbrsok
                },
                {
                  color: 'red',
                  status: 'unreachable',
                  text: bbrsunreachable
                }
              ]
            this.$set(action, 'functionResultInfo', feedback)
          }
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$set(action, 'functionResultInfo', error?.response?.data?.description)
            this.$alert(error?.response?.data?.description)
          }
        }
      }
    },
    emitForRealtimeUpdates (action) {
      const eventName = action.inputs.type.value
      if (!eventName) {
        return this.$oops('Please select the data to update in the dropdown.')
      }
      action.disabled = true
      this.$socket.emit(eventName, (answer) => {
        if (answer.status !== 200) {
          this.$notify('An error occured. Please check the WebSocket server logs.', 'error', { stay: true })
        }
        // When event is acknowledged, enable button again
        action.disabled = false
      })
      this.$notify('WebSocket Server will take care of updating all the connected clients.', 'success', { long: true })
    }
  }
}
</script>
