<template>
  <v-layout>
    <v-container fluid>
      <PanelLoading v-if="$store.state.oidregistry.loading.registries" loading />
      <v-card v-else>
        <AdCardTitle prependicon="mdi-palm-tree">{{ $t('index-of-oids')}}</AdCardTitle>
        <v-card-text class="pa-5">
          <!-- Header with query param filters -->
          <v-row dense>
            <v-col cols="12" sm="6" md="4" lg="3" class="mb-5">
              <v-text-field
                v-model="id"
                class="mr-2"
                :label="$t('oid')"
                solo
                hide-details
                dense
                clearable
                @keyup.native.enter="getOids"
              />
            </v-col>
            <v-col cols="12" sm="6" md="4" lg="3" class="mb-5">
              <v-text-field
                v-model="name"
                class="mr-2"
                :label="`${$t('name')} / ${$t('description')}`"
                solo
                hide-details
                dense
                clearable
                @keyup.native.enter="getOids"
              />
            </v-col>
            <v-col cols="12" sm="6" md="4" lg="3" class="mb-5">
              <v-text-field
                v-model="responsibleAuthority"
                class="mr-2"
                :label="$t('iso13582-oid-responsibleAuthority')"
                solo
                hide-details
                dense
                clearable
                @keyup.native.enter="getOids"
              />
            </v-col>
            <v-col cols="12" sm="6" md="4" lg="3" class="mb-5">
              <v-autocomplete
                v-model="prefix"
                :items="registries"
                item-text="displayName"
                item-value="name"
                :label="$t('iso13582-oid-registrationAuthority')"
                solo
                dense
                clearable
                hide-details
                style="margin-right: 8px"
              >
              </v-autocomplete>
            </v-col>
            <v-col cols="12" sm="6" md="4" lg="3" class="mb-5">
              <v-select
                v-model="hasFhirProperty"
                :label="$t('oidregistry-label-has-fhir-property')"
                :items="hasFhirPropertyItems"
                item-value="value"
                item-text="label"
                solo
                dense
                clearable
                hide-details
                style="margin-right: 8px"
              />
            </v-col>
            <v-col cols="12" sm="6" md="4" lg="3" class="mb-5">
              <AdButton :text="$t('search')" color="green" admin @click="getOids"/>
              <AdButton :text="$t('reset')" color="grey" admin @click="resetParams"/>
            </v-col>
          </v-row>

          <v-data-table
            :loading="$store.state.oidregistry.loading.oids"
            :headers="headers"
            :items="oids"
            class="elevation-1"
          >
            <template #item="{ item }">
              <tr>
                <td>
                  <template v-if="item.dotNotation && item.dotNotation[0]">
                    {{ item.dotNotation[0].value }}
                  </template>
                </td>
                <td>
                  <template v-if="item.status && item.status[0]">{{ item.status[0].code }}</template>
                </td>
                <td>
                  <template v-if="item.realm && item.realm[0]">{{ item.realm[0].code }}</template>
                </td>
                <td>
                  <template v-if="item.symbolicName && item.symbolicName[0]">
                    {{ item.symbolicName[0].value }}
                  </template>
                </td>
                <td>
                  <div v-if="item.description && item.description[0]" v-html="item.description[0].value"/>
                </td>
                <td>
                  <template v-if="
                    item.responsibleAuthority &&
                    item.responsibleAuthority[0] &&
                    item.responsibleAuthority[0].scopingOrganization &&
                    item.responsibleAuthority[0].scopingOrganization[0] &&
                    item.responsibleAuthority[0].scopingOrganization[0].name &&
                    item.responsibleAuthority[0].scopingOrganization[0].name[0] &&
                    item.responsibleAuthority[0].scopingOrganization[0].name[0].part &&
                    item.responsibleAuthority[0].scopingOrganization[0].name[0].part[0]
                    "
                  >
                    {{ item.responsibleAuthority[0].scopingOrganization[0].name[0].part[0].value }}
                  </template>
                </td>
                <td>
                  <template v-if="
                    item.registrationAuthority &&
                    item.registrationAuthority[0] &&
                    item.registrationAuthority[0].scopingOrganization &&
                    item.registrationAuthority[0].scopingOrganization[0] &&
                    item.registrationAuthority[0].scopingOrganization[0].name &&
                    item.registrationAuthority[0].scopingOrganization[0].name[0] &&
                    item.registrationAuthority[0].scopingOrganization[0].name[0].part &&
                    item.registrationAuthority[0].scopingOrganization[0].name[0].part[0]
                    "
                  >
                    {{ item.registrationAuthority[0].scopingOrganization[0].name[0].part[0].value }}
                  </template>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-container>
  </v-layout>
</template>

<script>
import PanelLoading from '@/components/Utilities/PanelLoading'
import { mapGetters } from 'vuex'

export default {
  name: 'OidRegistryListPanel',
  components: {
    PanelLoading
  },
  data () {
    return {
      hasFhirProperty: null,
      id: null,
      name: null,
      prefix: null,
      responsibleAuthority: null
    }
  },
  computed: {
    ...mapGetters('oidregistry', ['oids', 'registries']),

    hasFhirPropertyItems () {
      return [
        {
          value: true,
          label: 'true'
        },
        {
          value: false,
          label: 'false'
        },
        {
          value: null,
          label: this.$t('no-filter')
        }
      ]
    },
    headers () {
      return [
        {
          text: this.$t('oid'),
          value: 'dotNotation',
          sort: (a, b) => {
            const valueA = a?.[0]?.value
            const valueB = b?.[0]?.value
            return this.$filters.numericStringComparator(valueA, valueB)
          }
        },
        {
          text: this.$t('iso13582-oid-status'),
          value: 'status',
          sort: (a, b) => {
            const valueA = a?.[0]?.code
            const valueB = b?.[0]?.code
            if (valueA > valueB) return 1
            if (valueA < valueB) return -1
            return 0
          }
        },
        {
          text: this.$t('iso13582-oid-realm'),
          value: 'realm',
          sort: (a, b) => {
            const valueA = a?.[0]?.code
            const valueB = b?.[0]?.code
            if (valueA > valueB) return 1
            if (valueA < valueB) return -1
            return 0
          }
        },
        {
          text: this.$t('name'),
          value: 'symbolicName',
          sort: (a, b) => {
            const valueA = a?.[0]?.value
            const valueB = b?.[0]?.value
            if (valueA > valueB) return 1
            if (valueA < valueB) return -1
            return 0
          }
        },
        { text: this.$t('iso13582-oid-description'), value: 'description', sortable: false },
        {
          text: this.$t('iso13582-oid-responsibleAuthority'),
          value: 'responsibleAuthority',
          sort: (a, b) => {
            const valueA = a?.[0]?.scopingOrganization?.[0]?.name?.[0]?.part?.[0]?.value
            const valueB = b?.[0]?.scopingOrganization?.[0]?.name?.[0]?.part?.[0]?.value
            if (valueA > valueB) return 1
            if (valueA < valueB) return -1
            return 0
          }
        },
        {
          text: this.$t('iso13582-oid-registrationAuthority'),
          value: 'registrationAuthority',
          sort: (a, b) => {
            const valueA = a?.[0]?.scopingOrganization?.[0]?.name?.[0]?.part?.[0]?.value
            const valueB = b?.[0]?.scopingOrganization?.[0]?.name?.[0]?.part?.[0]?.value
            if (valueA > valueB) return 1
            if (valueA < valueB) return -1
            return 0
          }
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('oidregistry/setRegistries')
      .catch((error) => {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      })
  },
  methods: {
    resetParams () {
      this.hasFhirProperty = null
      this.name = null
      this.id = null
      this.responsibleAuthority = null
      this.prefix = null
    },
    getOids () {
      const parametersFiltered = ['hasFhirProperty', 'name', 'id', 'responsibleAuthority', 'prefix']
        .filter((param) => this[param] !== null)
        .map((param) => {
          return { [param]: this[param] }
        })
      return this.$store.dispatch('oidregistry/setOids', parametersFiltered)
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep th {
  white-space: nowrap;
}
</style>
