<template>
  <v-layout>
    <v-container fluid>
      <!-- Loading? -->
      <PanelLoading :loading="panelLoading" />

      <v-dialog
        v-model="addProjectBtn"
        max-width="800"
        scrollable
        persistent
      >
        <v-card>
          <AdCardTitle dialog>
            {{ $t('create-project') }}
          </AdCardTitle>
          <v-card-text class="pa-5">
            <v-container>
              <v-form
                v-if="addProjectBtn"
                ref="formNewProject"
                v-model="valid"
              >
                <EditableString
                  v-model="newProject.package"
                  :value="newProject.package"
                  ref="package"
                  :rules="rulesProject.package"
                  :label="$t('package')"
                  readonly
                />
                <v-row>
                  <v-col cols="12" sm="8">
                    <EditableString
                      v-model="newProject.name"
                      :value="newProject.name"
                      ref="name"
                      :rules="rulesProject.name"
                      :label="$t('name')"
                    />
                  </v-col>
                  <v-col cols="12" sm="4">
                    <EditableLanguage
                      v-model.trim="newProject.defaultLanguage"
                      :value="newProject.defaultLanguage"
                      :rules="rulesProject.defaultLanguage"
                      :label="$t('defaultLanguage')"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="8">
                    <EditableString
                      v-model.trim.lazy="newProject.id"
                      :value="newProject.id"
                      ref="id"
                      :error-messages="projectIdExistsError"
                      :rules="rulesProject.id"
                      :label="$t('oid')"
                      @blur="checkProjectAttributeExists('id')"
                    />
                  </v-col>
                  <v-col cols="12" sm="4">
                    <EditableString
                      v-model="newProject.prefix"
                      :value="newProject.prefix"
                      ref="prefix"
                      :error-messages="projectPrefixExistsError"
                      :rules="rulesProject.prefix"
                      :label="$t('prefix')"
                      @blur="checkProjectAttributeExists('prefix')"
                    />
                  </v-col>
                </v-row>
                <v-card outlined class="mb-4">
                  <AdCardTitle>{{ $t('properties')}}</AdCardTitle>
                  <v-card-text>
                    <v-row dense>
                      <v-col cols="12" sm="6">
                        <EditableSwitch
                          v-model="newProject.repository"
                          :value="newProject.repository"
                          :label="$t('Is-repository')"
                        />
                      </v-col>
                      <v-col cols="12" sm="6">
                        <EditableSwitch
                          v-model="newProject.private"
                          :value="newProject.private"
                          :label="$t('Is-private')"
                        />
                      </v-col>
                      <v-col cols="12" sm="6">
                        <EditableSwitch
                          v-model="newProject.experimental"
                          :value="newProject.experimental"
                          :label="$t('Is-experimental')"
                        />
                      </v-col>
                      <v-col cols="12" sm="6">
                        <EditableSwitch
                          v-model="newProject.notifier"
                          :value="newProject.notifier"
                          :label="$t('notifier')"
                        />
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
                <v-card outlined class="mb-4">
                  <AdCardTitle>{{ $t('copyright')}}</AdCardTitle>
                  <v-card-text>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <EditableString
                          v-model.trim="newProject.copyright.by"
                          :value="newProject.copyright.by"
                          :label="$t('contributor')"
                        />
                      </v-col>
                      <v-col cols="12" sm="3">
                        <EditableDropdown
                          v-model="newProject.copyright.type"
                          :label="$t('as')"
                          :items="contributortypes"
                          item-text="label.#text"
                        />
                      </v-col>
                      <v-col cols="12" sm="3">
                        <EditableString
                          v-model.trim="newProject.copyright.years"
                          :value="newProject.copyright.years"
                          :rules="rulesProject.years"
                          :label="$t('copyright-years')"
                        />
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
                <v-card outlined class="mb-4">
                  <v-card-text>
                    <TextEditor
                      v-model.trim="newProject.desc"
                      :value="newProject.desc"
                      editor
                      :label="$t('description')"
                    />
                  </v-card-text>
                </v-card>
                <v-card outlined class="mb-4">
                  <AdCardTitle class="d-flex flex-nowrap">
                    {{ $t('authors')}}
                    <div class="ml-auto">
                      <AdButton type="add" :small="true" :hint="$t('add-author')" :fab="true" @click="startAddAuthor" />
                    </div>
                  </AdCardTitle>
                  <v-card-text class="pa-5">
                    <PanelLoading :loading="panelLoadingUsers" />
                    <v-dialog
                      v-model="addAuthorBtn"
                      max-width="750px"
                      scrollable
                      persistent
                    >
                      <v-card>
                        <AdCardTitle dialog>
                          {{ $t('select-user') }}
                        </AdCardTitle>
                        <v-card-text>
                          <v-row>
                            <v-col>
                              <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                :label="$t('search')"
                              ></v-text-field>
                              <v-data-table
                                v-model="selectedAuthors"
                                :headers="headersUsers"
                                item-key="name"
                                :items="users"
                                :items-per-page="5"
                                :loading="panelLoadingUsers"
                                :search="search"
                                show-select
                                class="elevation-1"
                              >
                                <template v-for="role in relevantRoles" v-slot:[`item.${role}`]="{ item }">
                                  <v-icon :key="role" v-if="item.groups && item.groups.includes(role)">mdi-check</v-icon>
                                </template>
                              </v-data-table>
                            </v-col>
                          </v-row>
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <AdButton type="close" @click="addAuthorBtn = false"/>
                          <AdButton
                             v-if="selectedAuthors.length > 0"
                             type="add"
                             :hint="$t('add-selection')" @click="addAuthors"/>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                    <v-simple-table v-if="newProject.author.length > 0">
                      <thead>
                        <tr>
                          <th>{{ $t('display-name') }}</th>
                          <th>{{ $t('name') }}</th>
                          <th>{{ $t('notifier') }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="author in newProject.author" :key="author.name">
                          <td>{{author['#text']}}</td>
                          <td>{{author.username}}</td>
                          <td>
                            <v-switch
                              v-model="author.notifier"
                              false-value="off"
                              true-value="on"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </v-simple-table>
                    <v-alert
                      v-else
                      text
                      class="mx-3"
                      type="info"
                    >{{ $t('add-first-authors') }}</v-alert>
                    <v-alert
                      v-if="newProject.author.length > 0 && newProjectHasAdministrator === false"
                      text
                      class="mx-3"
                      type="error"
                    >{{ $t('need-at-least-one-decor-admin-user') }}</v-alert>
                  </v-card-text>
                </v-card>
                <v-alert
                  v-if="newProjectError"
                  class="ml-4 mr-4"
                  type="error"
                >
                  {{newProjectError}}
                </v-alert>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <AdButton type="cancel" @click="cancelAddProject"/>
            <AdButton type="add" @click="addProject"/>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-row v-if="userIsDBA && !panelLoading">
        <v-col>
          <v-card v-if="projects != null">
            <AdCardTitle class="d-flex flex-nowrap" prependicon="mdi-briefcase">
              <v-row no-gutters>
                <v-col cols="12" sm="6" class="d-flex align-center">{{ $t('projects') }}                </v-col>
                <v-col cols="12" sm="6" class="d-flex align-center">
                  <v-text-field
                    v-model="tableSearch"
                    class="mr-2"
                    append-icon="mdi-magnify"
                    :label="$t('search')"
                    single-line
                    hide-details
                    solo
                    dense
                    clearable
                  />
                  <AdButton type="add" :small="true" :fab="true" @click="addProjectStart" />
                </v-col>
              </v-row>

            </AdCardTitle>
            <v-card-text class="pt-4">
              <v-data-table
                :headers="headers"
                :items="projects"
                item-key="id"
                :search="debouncedTableSearch"
                :custom-filter="tableSearchFilter"
                class="elevation-1"
              >
                <template #item.name="{item}">
                  <div>
                    {{ $filters.getMatchingTranslation({value: item.name, locale: $i18n.locale}) }}
                    <AdGoTo :href="getProjectUrl(item.prefix)" external blue>{{ $t('Overview') }}</AdGoTo>
                  </div>
                </template>
                <template #item.lastmodified="{item}">
                  {{ formatDate(item.lastmodified) }}
                </template>
                <template #item.ageInDays="{item}">
                  <v-chip :color="getColorForDate(item.lastmodified)" dark>{{ daysAgoLastAccessed(item.lastmodified) }}</v-chip>
                </template>
                <template #item.experimental="{item}">
                  <v-icon v-if="item.experimental === 'true'" right>mdi-test-tube</v-icon>
                </template>
                <template #item.defaultLanguage="{item}">
                  <flag
                    :squared="false"
                    :iso="item.defaultLanguage.substring(3, 5)"
                  />
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { cloneDeep, debounce } from 'lodash'
import { mapGetters } from 'vuex'
import ServerService from '@/services/ServerService'
import ProjectService from '@/services/ProjectService'
import AdCardTitle from '@/components/Utilities/AdCardTitle'
import PanelLoading from '@/components/Utilities/PanelLoading'
import EditableDropdown from '@/components/Utilities/Editable/EditableDropdown/EditableDropdown'
import EditableLanguage from '@/components/Utilities/Editable/EditableDropdown/EditableLanguage'

import { differenceInCalendarDays } from 'date-fns'
import project from '@/models/project'
import rulesProject from '@/rules/project'

export default {
  name: 'ProjectAdminPanel',
  components: {
    PanelLoading,
    AdCardTitle,
    EditableDropdown,
    EditableLanguage
  },
  data () {
    return {
      addAuthorBtn: false,
      addProjectBtn: false,
      dialog: false,
      headers: [
        {
          text: this.$t('name'),
          align: 'left',
          value: 'name',
          sort: (a, b) => {
            if (this.$filters.getMatchingTranslation({ value: a, locale: this.$i18n.locale }) > this.$filters.getMatchingTranslation({ value: b, locale: this.$i18n.locale })) {
              return 1
            }
            if (this.$filters.getMatchingTranslation({ value: a, locale: this.$i18n.locale }) < this.$filters.getMatchingTranslation({ value: b, locale: this.$i18n.locale })) {
              return -1
            }
            return 0
          }
        },
        {
          text: 'ID',
          value: 'id',
          sort: this.$filters.numericStringComparator
        },
        {
          text: this.$t('prefix'),
          value: 'prefix',
          sort: this.$filters.numericStringComparator
        },
        {
          text: this.$t('lastmodified'),
          value: 'lastmodified'
        },
        {
          text: this.$t('age-d'),
          value: 'ageInDays',
          sortable: false
        },
        {
          text: this.$t('experimental'),
          value: 'experimental'
        },
        {
          text: this.$t('defaultLanguage'),
          value: 'defaultLanguage'
        }
      ],
      headersUsers: [
        {
          text: this.$t('display-name'),
          align: 'start',
          value: 'displayName',
          sortable: true
        },
        {
          text: 'decor-admin',
          align: 'center',
          filterable: false,
          value: 'decor-admin',
          sortable: false
        },
        {
          text: 'decor',
          align: 'center',
          filterable: false,
          value: 'decor',
          sortable: false
        },
        {
          text: 'editor',
          align: 'center',
          filterable: false,
          value: 'editor',
          sortable: false
        },
        {
          text: 'issues',
          align: 'center',
          filterable: false,
          value: 'issues',
          sortable: false
        }
      ],
      panelLoading: true,
      panelLoadingUsers: false,
      newProject: cloneDeep(project),
      newProjectError: null,
      projectIdExistsError: [],
      projectPrefixExistsError: [],
      rulesProject,
      search: '',
      usersList: null,
      selectedAuthors: [],
      relevantRoles: ['decor-admin', 'decor', 'editor', 'issues'],
      valid: true,
      tableSearch: '',
      debouncedTableSearch: ''
    }
  },
  computed: {
    ...mapGetters({
      projects: ['project/getProjects']
    }),
    contributortypes () {
      return [
        { value: 'author', label: this.getTranslatedTextInAllLocales('author') },
        { value: 'contributor', label: this.getTranslatedTextInAllLocales('contributor') },
        { value: 'reviewer', label: this.getTranslatedTextInAllLocales('reviewer') }
      ]
    },
    getTranslatedTextInAllLocales () {
      // Returns the text, based on the name (path) in all app languages
      return (path) => {
        return this.$root.langs.map((locale) => {
          return {
            language: locale,
            '#text': (
              this.$i18n.messages[locale] !== undefined &&
              this.$i18n.messages[locale][path] !== undefined
            )
              ? this.$i18n.messages[locale][path]
              : path
          }
        })
      }
    },
    newProjectHasAdministrator () {
      return this.newProject.author.length > 0 && this.newProject.author.some((author) => this.users.some((user) => user.name === author.username && user?.groups.includes('decor-admin'))) === true
    },
    users () {
      return this.usersList?.user || []
    }
  },
  created () {
    this.getProjectsList()
  },
  methods: {
    daysAgoLastAccessed (d) {
      return differenceInCalendarDays(new Date(), new Date(d))
    },
    getColorForDate (d) {
      // get colors depening on days ago last accessed
      if (this.daysAgoLastAccessed(d) < 360) return 'green'
      if (this.daysAgoLastAccessed(d) < 500) return 'orange'
      if (this.daysAgoLastAccessed(d) < 700) return 'red'
      return 'pink'
    },
    async getProjectsList () {
      this.panelLoading = true
      return this.$store.dispatch('project/setProjects')
        .then(() => {
          this.panelLoading = false
        })
        .catch((error) => {
          this.panelLoading = false
          this.$notify(error.message)
        })
    },
    async addProjectStart () {
      this.initProject()
      await this.getUsersList()
      this.addProjectBtn = true
    },
    cancelAddProject () {
      // Close dialog
      this.addProjectBtn = false
      this.$nextTick(() => {
        this.initProject()
      })
    },
    async addProject () {
      if (!this.newProjectHasAdministrator) {
        this.$alert(this.$t('need-at-least-one-decor-admin-user'))
        return false
      }
      if (this.$refs.formNewProject.validate()) {
        try {
          const project = cloneDeep(this.newProject)
          const name = this.newProject.name
          project.name = [{
            language: this.newProject.defaultLanguage,
            '#text': name
          }]
          const desc = this.newProject.desc
          project.desc = [{
            language: this.newProject.defaultLanguage,
            '#text': desc
          }]
          return this.$store.dispatch('project/addProject', project)
            .then(() => {
              this.addProjectBtn = false
              this.$notify(this.$t('submission-insert-success-label'), 'success')
              this.$nextTick(() => {
                this.initProject()
              })
            })
            .catch((error) => {
              this.$notify(error.message, 'error')
            })
        } catch (error) {
          if (error?.response?.data?.description) {
            this.newProjectError = error?.response?.data?.description
          }
        }
      } else {
        // set the focus on the field that has the error
        const hasError = rulesProject.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          console.log(this.$refs[hasError[0]])
          this.$refs[hasError[0]].focus()
        }
      }
    },
    initProject () {
      this.newProject = cloneDeep(project)
      this.newProject.copyright.years = this.currentYear()
      this.selectedAuthors = []
      this.newProjectError = null
      this.$nextTick(() => {
        // reset form validations
        if (this.$refs.formNewProject) {
          this.$refs.formNewProject.reset()
        }
      })
    },
    async checkProjectAttributeExists (attribute) {
      if (attribute && this.newProject[attribute] !== undefined) {
        try {
          const projectAttributeValue = this.newProject[attribute]
          const projectExist = (await ProjectService.checkProjectAttribute(projectAttributeValue)).data
          if (projectExist) {
            if (attribute === 'id') {
              this.projectIdExistsError = [this.$t('already-exists')]
            } else if (attribute === 'prefix') {
              this.projectPrefixExistsError = [this.$t('already-exists')]
            }
          } else {
            // remove errors, if there are any
            // maybe future will respond with 200 and null
            if (attribute === 'id') {
              this.projectIdExistsError = []
            } else if (attribute === 'prefix') {
              this.projectPrefixExistsError = []
            }
          }
        } catch (error) {
          // ignore, does not exist so ok
          // remove errors, if there are any
          if (attribute === 'id') {
            this.projectIdExistsError = []
          } else if (attribute === 'prefix') {
            this.projectPrefixExistsError = []
          }
        }
      }
    },
    deleteChip (itemNeedToRemove, array) {
      for (let i = 0; i < array.length; i += 1) {
        if (array[parseInt(i, 10)] === itemNeedToRemove) {
          array.splice(i, 1)
        }
      }
    },
    startAddAuthor () {
      this.addAuthorBtn = true
    },
    async getUsersList () {
      this.panelLoadingUsers = true
      // Check if user is dba.
      if (this.userIsDBA === true) {
        // Load users list.
        this.usersList = (await ServerService.getUsersList()).data
      }
      this.panelLoadingUsers = false
    },
    addAuthors () {
      // add authors, as this is an initial set use the position in the array as i + 1
      // note: js arrays start with 0 which is not good for a valid author id
      this.newProject.author = []
      this.selectedAuthors.forEach((author, i) => {
        const newAuthor = {
          id: i + 1,
          username: author.name,
          notifier: 'on',
          '#text': author.displayName
        }
        if (author.email != null) {
          newAuthor.email = author.email
        }
        this.newProject.author.push(newAuthor)
      })
      this.addAuthorBtn = false
    },
    getProjectUrl (prefix) {
      const routeData = this.$router.resolve({ name: 'project-overview', params: { prefix } })
      return routeData.href
    },
    setDebouncedTableSearch: debounce(function () {
      this.debouncedTableSearch = this.tableSearch
    }, 300),
    tableSearchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.name, locale: this.$i18n.locale })?.toLowerCase()
      const prefix = item.prefix?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query) || prefix?.includes(query)
    }
  },
  watch: {
    tableSearch () {
      this.setDebouncedTableSearch()
    }
  }
}
</script>

<style lang="scss" scoped>
.headline {
  background: var(--v-topbottomstrip-base);
}
</style>
