<template>
    <v-dialog
      :value="showDialog"
      width="800"
      persistent
    >
      <v-card>
        <AdCardTitle dialog>{{ title }}</AdCardTitle>
        <v-card-text class="pa-5">
          <v-form ref="form" v-if="showDialog">
            <EditableString
                :disabled="!!value"
                :value="inputValue ? inputValue.url : null"
                @input="updateNewValue('url', $event)"
                :label="$t('URL')"
                :readonly="!!value || readonly"
            />
            <EditableString
                :disabled="!!value"
                :value="inputValue ? inputValue.ident : null"
                @input="updateNewValue('ident', $event)"
                :label="$t('identifier')"
                :readonly="!!value || readonly"
            />
            <EditableTranslationEditor
                :value="inputValue ? inputValue.name : null"
                @input="updateNewValue('name', $event)"
                :label="$t('name')"
                :readonly="readonly"
            />
          </v-form>
        </v-card-text>

        <v-card-actions class="dialogbottomstrip">
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="cancelEdit" />
          <AdButton
            :type="saveButtonType"
            :hint="$t('save')"
            @click="save"
            depressed
            :disabled="readonly"
          />
       </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    value: {
      type: Object
    },
    readonly: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      newValue: { name: null, ident: null, url: null }
    }
  },
  computed: {
    saveButtonType () {
      return this.value && this.value !== '' ? 'save' : 'add'
    },
    inputValue: {
      get () {
        return (this.newValue.name === null && this.newValue.ident === null && this.newValue.url === null)
          ? this.value
          : this.newValue
      }
    }
  },
  methods: {
    cancelEdit () {
      this.newValue = { name: null, ident: null, url: null }
      this.$emit('cancelEdit')
    },
    save () {
      if (this.$refs.form.validate()) {
        return this.$emit('saveEdit', this.inputValue)
      }
    },
    updateNewValue (path, value) {
      this.newValue[path] = value || null
    }
  },
  watch: {
    value (newVal, oldVal) {
      if (newVal && newVal !== oldVal) {
        this.newValue = cloneDeep(newVal)
      }
    }
  }
}
</script>
