<template>
  <div>
    <v-card class="elevation-3">
      <AdCardTitle dialog>{{ $t('artefact-statistics-for-this-governance-group') }}</AdCardTitle>
      <v-card-text class="pa-5">
        <v-row>
          <!--
            statistics cards
          -->
          <v-col
            cols="12"
            md="2"
            v-for="stats in artefactStatsCards"
            v-bind:key="stats.title"
          >
            <StatsCard
              :title="$t(stats.title)"
              :count="getArtefactCount(stats.title)"
              :icon="stats.icon"
              :color="stats.color"
              :status="stats.status"
            />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import StatsCard from '@/components/Utilities/StatsCard'

export default {
  name: 'ServerGovernancegroupAdminPanelDetailsDashboard',

  components: {
    StatsCard
  },

  props: {
    governancegroups: {
      type: Array
    },
    governancegroupId: {
      type: String
    }
  },

  data () {
    return {
      artefactStatsCards: [
        {
          icon: 'mdi-briefcase',
          title: 'projects',
          color: 'pink lighten-2'
        },
        {
          icon: 'mdi-heart',
          title: 'valuesets',
          color: 'blue lighten-2'
        },
        {
          icon: 'mdi-recycle',
          title: 'templates',
          color: 'orange lighten-2'
        }
      ]
    }
  },

  computed: {
    ...mapGetters({
      governancegroup: ['server/getGovernancegroup']
    })
  },

  methods: {
    getArtefactCount (a) {
      if (a === 'projects') return this.governancegroup?.project?.length
      if (a === 'templates') {
        const templates = []
        if (this.governancegroup.project) {
          this.governancegroup.project.forEach((project) => {
            if (project.template) {
              return project.template.forEach((template) => {
                templates.push({
                  id: (template?.template?.[0]?.id) ? template.template[0].id : ''
                })
              })
            }
          })
        }
        return templates.length
      }
      if (a === 'valuesets') {
        const valuesets = []
        if (this.governancegroup.project) {
          this.governancegroup.project.forEach((project) => {
            if (project.valueSet) {
              return project.valueSet.forEach((valueSet) => {
                valuesets.push({
                  id: (valueSet?.valueSet?.[0]?.id) ? valueSet.valueSet[0].id : ''
                })
              })
            }
          })
        }
        return valuesets.length
      }
      return 0
    }
  }
}
</script>
