<template>
  <div>
    <PanelLoading :loading="loading"/>
    <v-card class="elevation-3" v-if="!loading">
      <v-card-text class="pa-5">
        <v-text-field
          v-if="codeSystemItems.length > 9"
          v-model="searchCodeSystemItems"
          append-icon="mdi-magnify"
          single-line
          hide-details
          clearable
          :label="$t('search')"
          class="ml-3 mr-7 mb-5"
        ></v-text-field>
        <v-data-table
          :headers="headersCodeSystemItems"
          :items="codeSystemItems"
          :search="searchCodeSystemItems"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td>
                <AdButton
                  link
                  :hint="$t('go-to-codesystems')"
                  :to="{ name: item.effectiveDate ? 'codesystems-details-id-effectiveDate' : 'codesystems-details-id', params: { prefix: item.project, id: item.id, effectiveDate: item.effectiveDate } }"
                >{{ item.id }}
                </AdButton>
              </td>
              <td>{{ item.displayName }}</td>
              <td nowrap>
                <template v-if="item.effectiveDate">
                  <AdButton
                    link
                    type="new"
                    :hint="$t('go-to-codesystems')"
                    :to="{ name: item.effectiveDate ? 'codesystems-details-id-effectiveDate' : 'codesystems-details-id', params: { prefix: item.project, id: item.id, effectiveDate: item.effectiveDate } }"
                    small
                  >
                    {{ $filters.formatDateShort(item.effectiveDate) }}
                  </AdButton>
                  <AdStatusDot class="pa-3" :status="item.statusCode"/>
                  <span>{{ item.statusCode }}</span>
                </template>
              </td>
              <td>{{ item.project }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import TerminologyService from '@/services/TerminologyService'

export default {
  name: 'ServerGovernancegroupAdminPanelDetailsCodesystems',

  props: {
    governancegroupId: {
      type: String
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      headersCodeSystemItems: [
        { text: this.$t('id'), sortable: true, value: 'id', sort: this.$filters.numericStringComparator },
        { text: this.$t('display-name'), sortable: true, value: 'displayName' },
        { text: `${this.$t('versions')} / ${this.$t('status')}`, sortable: true, value: 'effectiveDate' },
        { text: this.$t('project'), sortable: true, value: 'project' }
      ],
      searchCodeSystemItems: null,
      codeSystemItems: null,
      loading: true
    }
  },

  mounted () {
    this.loadCodeSystemList()
  },

  methods: {
    loadCodeSystemList () {
      TerminologyService.getCodeSystemList({
        governanceGroupId: this.governancegroupId,
        sort: 'displayName'
      }).then((response) => {
        this.codeSystemItems = response?.data?.codeSystem
        this.loading = false
      })
    }
  }
}
</script>
