<template>
  <div>
    <PanelLoading :loading="$store.state.server.questionnaireLoading" />
    <v-card class="elevation-3" v-if="!$store.state.server.questionnaireLoading">
      <v-card-text class="pa-5">
        <v-text-field
          v-if="questionnaires.length > 9"
          v-model="searchQuestionnaires"
          append-icon="mdi-magnify"
          single-line
          hide-details
          clearable
          :label="$t('search')"
          class="ml-3 mr-7 mb-5"
        ></v-text-field>
        <v-data-table
          :headers="headersQuestionnaires"
          :items="questionnaires"
          :search="searchQuestionnaires"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td>
                <AdButton
                  link
                  :hint="$t('go-to-questionnaire')"
                  :to="{ name: item.effectiveDate ? 'questionnaires-details-id-effectiveDate' : 'questionnaires-details-id', params: { prefix: item.ident, id: item.id, effectiveDate: item.effectiveDate } }"
                >{{item.id}}</AdButton>
              </td>
              <td>{{ $filters.getMatchingTranslation({ value: item.name }) }}</td>
              <td nowrap>
                <template v-if="item.effectiveDate">
                  <AdButton
                    link
                    type="new"
                    :hint="$t('go-to-questionnaire')"
                    :to="{ name: item.effectiveDate ? 'questionnaires-details-id-effectiveDate' : 'questionnaires-details-id', params: { prefix: item.ident, id: item.id, effectiveDate: item.effectiveDate } }"
                    small
                  >
                    {{ $filters.formatDateShort(item.effectiveDate) }}
                  </AdButton>
                  <AdStatusDot class="pa-3" :status="item.statusCode" />
                  <span>{{item.statusCode}}</span>
                </template>
              </td>
              <td>{{item.ident}}</td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ServerGovernancegroupAdminPanelDetailsQuestionnaires',

  props: {
    governancegroupId: {
      type: String
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      headersQuestionnaires: [
        { text: this.$t('id'), sortable: true, value: 'id', sort: this.$filters.numericStringComparator },
        { text: this.$t('display-name'), sortable: true, value: 'name' },
        { text: `${this.$t('versions')} / ${this.$t('status')}`, sortable: true, value: 'effectiveDate' },
        { text: this.$t('project'), sortable: true, value: 'project' }
      ],
      searchQuestionnaires: null
    }
  },

  computed: {
    ...mapGetters({
      governancegroup: ['server/getGovernancegroup'],
      questionnaires: ['server/questionnaires']
    })
  },

  mounted () {
    this.$store.dispatch('server/setQuestionnaire', {
      governanceGroupId: this.governancegroupId
    })
  }
}
</script>
