<template>
  <div>
    <PanelLoading :loading="$store.state.server.valuesetLoading" />
    <v-card class="elevation-3" v-if="!$store.state.server.valuesetLoading">
      <v-card-text class="pa-5">
        <v-text-field
          v-if="valueSets.length > 9"
          v-model="searchValueSets"
          append-icon="mdi-magnify"
          single-line
          hide-details
          clearable
          :label="$t('search')"
          class="ml-3 mr-7 mb-5"
        ></v-text-field>
        <v-data-table
          :headers="headersValueSets"
          :items="valueSets"
          :search="searchValueSets"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td>
                <AdButton
                  link
                  :hint="$t('go-to-valueset')"
                  :to="{ name: item.effectiveDate ? 'terminology-value-set-version' : 'terminology-value-set', params: { prefix: item.project, id: item.id, version: item.effectiveDate } }"
                >{{item.id}}</AdButton>
              </td>
              <td>{{item.displayName}}</td>
              <td nowrap>
                <template v-if="item.effectiveDate">
                  <AdButton
                    link
                    type="new"
                    :hint="$t('go-to-valueset')"
                    :to="{ name: item.effectiveDate ? 'terminology-value-set-version' : 'terminology-value-set', params: { prefix: item.project, id: item.id, version: item.effectiveDate } }"
                    small
                  >
                    {{ $filters.formatDateShort(item.effectiveDate) }}
                  </AdButton>
                  <AdStatusDot class="pa-3" :status="item.statusCode" />
                  <span>{{item.statusCode}}</span>
                </template>
              </td>
              <td>{{item.project}}</td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ServerGovernancegroupAdminPanelDetailsValuesets',

  props: {
    governancegroupId: {
      type: String
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      headersValueSets: [
        { text: this.$t('id'), sortable: true, value: 'id', sort: this.$filters.numericStringComparator },
        { text: this.$t('display-name'), sortable: true, value: 'displayName' },
        { text: `${this.$t('versions')} / ${this.$t('status')}`, sortable: true, value: 'effectiveDate' },
        { text: this.$t('project'), sortable: true, value: 'project' }
      ],
      searchValueSets: null
    }
  },

  computed: {
    ...mapGetters({
      governancegroup: ['server/getGovernancegroup'],
      valueSets: ['server/valuesets']
    })
    // valueSets deprecated, replaced by a Api call,
    // responsible for getting the valuesets in the right sort order
    // valueSets () {
    //   const valueSets = []
    //   if (this.governancegroup.project) {
    //     this.governancegroup.project.forEach((project) => {
    //       if (project.valueSet) {
    //         return project.valueSet.forEach((vS) => {
    //           if (vS.valueSet) {
    //             // exclude the valueSets with no id and version
    //             vS.valueSet.filter((valueSet) => Object.prototype.hasOwnProperty.call(valueSet, 'effectiveDate')).forEach((valueSet) => {
    //               valueSets.push({
    //                 id: (valueSet?.id) ? valueSet.id : '',
    //                 uuid: (valueSet?.uuid) ? valueSet.uuid : '',
    //                 displayName: (valueSet?.displayName) ? valueSet.displayName : '',
    //                 effectiveDate: (valueSet?.effectiveDate) ? valueSet.effectiveDate : '',
    //                 statusCode: (valueSet?.statusCode) ? valueSet.statusCode : '',
    //                 from: (valueSet?.referencedFrom) ? valueSet.referencedFrom : '',
    //                 ident: (valueSet?.ident) ? valueSet.ident : '',
    //                 versionLabel: (valueSet?.versionLabel) ? valueSet.versionLabel : '',
    //                 prefix: (Object.prototype.hasOwnProperty.call(project, 'prefix')) ? project.prefix : '',
    //                 projectId: (project?.id) ? project.id : '',
    //                 projectDefaultLanguage: (project?.defaultLanguage) ? project.defaultLanguage : '',
    //                 projectName: (project?.name) ? this.$filters.getMatchingTranslation({ value: project.name }) : ''
    //               })
    //             })
    //           }
    //         })
    //       }
    //     })
    //   }
    //   return valueSets
    // }
  }
}
</script>
