<template>
  <div>
    <AdBreadcrumbs :items="breadcrumbsItems()"></AdBreadcrumbs>

    <v-dialog
      v-model="addAddressBtn"
      max-width="800"
      scrollable
      persistent
    >
      <v-card>
        <AdCardTitle dialog>{{ $t("contact-data") }}</AdCardTitle>
        <v-card-text class="pa-5">
          <v-container>
            <v-form
              v-if="addAddressBtn"
              ref="formNewAddress"
            >
              <EditableString
                v-model="newAddress['#text']"
                :value="newAddress['#text']"
                ref="#text"
                :label="$t('address')"
                :required="rulesGovernanceGroupsAddress.requiredAttributes.includes('#text')"
                :rules="rulesGovernanceGroupsAddress['#text']"
              />
              <EditableDropdown
                v-model="newAddress.type"
                :items="addressLineTypes"
                ref="type"
                item-text="#text"
                item-value="value"
                :label="$t('type')"
                :required="rulesGovernanceGroupsAddress.requiredAttributes.includes('type')"
                :rules="rulesGovernanceGroupsAddress['type']"
              />
            </v-form>
          </v-container>
          <AdButton
            type="add"
            admin
            @click="addAddress"
          />
          <AdButton
            type="cancel"
            admin
            @click="cancelAddAddress"
          />
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="editAddressBtn"
      max-width="800"
      scrollable
      persistent
    >
      <v-card>
        <AdCardTitle dialog>{{ $t("contact-data") }}</AdCardTitle>
        <v-card-text class="pa-5">
          <v-container>
            <v-form
              v-if="editAddressBtn"
              ref="formEditAddress"
            >
              <EditableString
                v-model="activeAddress['#text']"
                :value="activeAddress['#text']"
                ref="#text"
                :label="$t('address')"
                :required="rulesGovernanceGroupsAddress.requiredAttributes.includes('#text')"
                :rules="rulesGovernanceGroupsAddress['#text']"
              />
              <EditableDropdown
                v-model="activeAddress.type"
                :items="addressLineTypes"
                ref="type"
                item-text="#text"
                item-value="value"
                :label="$t('type')"
                :required="rulesGovernanceGroupsAddress.requiredAttributes.includes('type')"
                :rules="rulesGovernanceGroupsAddress['type']"
              />
            </v-form>
          </v-container>
          <AdButton
            type="save"
            admin
            @click="updateAddress"
          />
          <AdButton
            type="cancel"
            admin
            @click="cancelEditAddress"
          />
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-tabs v-model="tab.index" class="mb-5">
      <v-tabs-slider></v-tabs-slider>
      <v-tab v-for="t in tabs" :key="t.route" :disabled="editGovernancegroupBtn">{{ $t(t.label)}}</v-tab>
    </v-tabs>

    <PanelLoading :loading="$store.state.server.governancegroupLoading" />

    <div v-if="(!isEmpty(governancegroup) && (isCurrentGovernanceGroupRoute('server-governancegroup-details') || isCurrentGovernanceGroupRoute('server-governancegroup-details-edit')))" class="mb-5">
      <v-row v-if="!readonly" dense class="pb-5">
        <v-col cols="12">
          <AdButton
            v-if="userIsDBA && !editGovernancegroupBtn"
            type="edit"
            admin
            @click="$router.push({ name: getGovernanceGroupRoute('server-governancegroup-details-edit') }).catch(() => {})"
            :hint="$t('edit-governance-group')"
          />
          <AdButton
            v-if="userIsDBA && !editGovernancegroupBtn"
            type="delete"
            admin
            @click="deleteGovernancegroup"
            :hint="$t('delete-governance-group')"
          />
          <AdButton
            v-if="userIsDBA && editGovernancegroupBtn"
            type="cancel"
            :text="$t('ok')"
            :hint="$t('ok')"
            admin
            @click="$router.push({ name: getGovernanceGroupRoute('server-governancegroup-details') }).catch(() => {})"
          />
        </v-col>
      </v-row>

      <v-card class="pa-5 elevation-3">
        <v-card-text>
          <v-row dense>
            <v-col cols="8" class="mr-auto">
              <EditableTranslationEditor
                v-model="governancegroup.name"
                :value="governancegroup.name"
                ref="name"
                confirmationRequired
                :locales="$root.availableLocales"
                :rules="rulesGovernancegroup.name"
                :label="$t('name')"
                :readonly="!editGovernancegroupBtn"
                @change="saveEditedValue('name', $event)"
              />
              <div class="mb-1" v-if="languagesUsedInAttributes('name').length > 0">
                <span class="mr-2">{{$t('text-available-in-language')}}:</span>
                <flag
                  v-for="locale in languagesUsedInAttributes('name')"
                  :key="locale"
                  :squared="false"
                  :iso="locale.substring(3, 5)"
                  class="mr-1"
                ></flag>
              </div>
            </v-col>
            <v-col cols="4" class="mr-auto">
              <EditableLanguage
                v-model="governancegroup.defaultLanguage"
                :value="governancegroup.defaultLanguage"
                ref="defaultLanguage"
                :confirmationRequired="true"
                :rules="rulesGovernancegroup.defaultLanguage"
                :label="$t('defaultLanguage')"
                :readonly="!editGovernancegroupBtn"
                @change="saveEditedValue('defaultLanguage', $event)"
              />
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6" class="mr-auto">
              <EditableOID
                v-model.trim="governancegroup.id"
                :value="governancegroup.id"
                ref="id"
                :error-messages="governancegroupIdExistsError"
                :rules="rulesGovernancegroup.id"
                :confirmationRequired="true"
                :label="$t('id')"
                readonly
              />
            </v-col>
            <v-col cols="6" class="mr-auto">
              <EditableString
                v-if="governancegroup.copyright && governancegroup.copyright && governancegroup.copyright[0]"
                :value="governancegroup.copyright[0].years"
                ref="copyright"
                confirmationRequired
                :rules="rulesGovernancegroup.copyright"
                :label="$t('copyright-years')"
                :readonly="!editGovernancegroupBtn"
                @change="saveEditedValue('copyright', $event)"
              />
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12" class="mr-auto">
              <EditableTextArea
                v-if="governancegroup.desc || editGovernancegroupBtn"
                v-model="governancegroup.desc"
                class="pa-3 green lighten-5"
                :locales="$root.availableLocales"
                :label="$t('description')"
                :readonly="!editGovernancegroupBtn"
                :rules="rulesGovernancegroup.desc"
                @change="saveEditedValue('desc', $event)"
              />
              <div class="mt-3 mb-5" v-if="languagesUsedInAttributes('desc').length > 0">
                <span class="mr-2">{{$t('text-available-in-language')}}:</span>
                <flag
                  v-for="locale in languagesUsedInAttributes('desc')"
                  :key="locale"
                  :squared="false"
                  :iso="locale.substring(3, 5)"
                  class="mr-1"
                ></flag>
              </div>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="12" class="mr-auto">
              <AdCardTitle dialog class="d-flex flex-nowrap mb-5">{{ $t('contact-data')}}
                <div class="ml-auto" v-if="editGovernancegroupBtn">
                  <AdButton
                    type="add"
                    small
                    fab
                    @click="addAddressStart"
                  />
                </div>
              </AdCardTitle>

              <v-simple-table v-if="addressLines.length > 0" dense>
                <tbody>
                  <tr v-for="(addressLine, addressLineIndex) in addressLines" :key="`addressLine-${addressLineIndex}`">
                    <td>
                      <span v-if="anchorTypes.includes(addressLine.type)">
                        <a
                          :href="addressLine['#text']"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {{addressLine['#text']}}
                        </a>
                      </span>
                      <span  v-else-if="addressLine.type === 'email'">
                        <a
                          :href="`mailto:${addressLine['#text']}`"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          {{addressLine['#text']}}
                        </a>
                      </span>
                      <template v-else-if="addressLine['#text']">
                        {{ addressLine['#text'] }}
                      </template>
                      <span v-if="addressLine.type">
                          <span class="ml-1">({{$t(addressLine.type)}})</span>
                      </span>
                    </td>
                    <td width="5%" v-if="editGovernancegroupBtn">
                      <AdSpeedDial v-if="userIsDBA && editGovernancegroupBtn" direction="left">
                        <AdSpeedOption
                          type="edit"
                          :hint="$t('edit')"
                          @click="handleClick('editAddress', addressLine)"
                        />
                        <AdSpeedOption
                          type="delete"
                          :hint="$t('delete')"
                          @click="handleClick('deleteAddress', addressLineIndex)"
                        />
                      </AdSpeedDial>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-col>
          </v-row>

        </v-card-text>
      </v-card>
    </div>

    <!-- router-view will show projects, valuesets and templates -->
    <router-view
      v-else-if="!$store.state.server.governancegroupLoading"
      :tab="tab"
      :tabs="tabs"
      :key="$route.fullPath"
      :governancegroups="governancegroups"
    ></router-view>

  </div>
</template>

<script>
import { cloneDeep, isEmpty } from 'lodash'
import EditableLanguage from '@/components/Utilities/Editable/EditableDropdown/EditableLanguage'
import governanceGroupsAddress from '@/models/addrLine'
import rulesGovernancegroup from '@/rules/governancegroup'
import rulesGovernanceGroupsAddress from '@/rules/governanceGroupsAddress'
import ServerService from '@/services/ServerService'
import { mapGetters } from 'vuex'
import governanceGroupRouteHelper from '@/filters/governanceGroupRouteHelper'

export default {
  name: 'ServerGovernancegroupAdminPanelDetails',

  components: {
    EditableLanguage
  },

  props: {
    governancegroups: {
      type: Array,
      required: true
    },
    governancegroupId: {
      type: String
    },
    tab: {
      type: Object,
      required: true
    },
    tabs: {
      type: Array,
      required: true
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      activeAddress: {},
      activeAddressBackup: {},
      addAddressBtn: false,
      editAddressBtn: false,
      governancegroup: {},
      governancegroupIdExistsError: [],
      isEmpty,
      newAddress: cloneDeep(governanceGroupsAddress),
      rulesGovernancegroup,
      rulesGovernanceGroupsAddress,
      updateGovernancegroupError: null
    }
  },

  computed: {
    ...mapGetters({
      anchorTypes: ['app/anchorTypes']
    }),
    addressLineTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.AddressLineType?.[0]?.enumeration?.map((e) => ({
        '#text': this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    },
    addressLines () {
      if (this.governancegroup?.copyright?.[0]?.addrLine) {
        return this.governancegroup.copyright[0].addrLine
      } else {
        return []
      }
    },
    languagesUsedInAttributes () {
      return (attr) => {
        if (this.governancegroup[attr] !== undefined) {
          return this.governancegroup?.[attr]
            .filter((name) => name['#text'] && name['#text'] !== '')
            .map((name) => name.language)
        } else {
          return []
        }
      }
    },
    breadcrumbsItems () {
      return () => {
        return [
          {
            text: this.$t('governance-groups'),
            disabled: false,
            exact: true,
            to: { name: this.getGovernanceGroupRoute('server-governancegroup-panel') }
          },
          {
            text: (this.governancegroup && Object.prototype.hasOwnProperty.call(this.governancegroup, 'id')) ? this.$filters.getMatchingTranslation({ value: this.governancegroup.name }) : '',
            disabled: true
          }
        ]
      }
    },
    editGovernancegroupBtn () {
      return this.isCurrentGovernanceGroupRoute('server-governancegroup-details-edit')
    },
    tabItems () {
      return this.tabs.map((tab) => tab.label)
    }
  },

  beforeMount () {
    if (this.isCurrentGovernanceGroupRoute('server-governancegroup-details')) {
      // make the first tab active, on enter details
      this.tab.index = 0
    }
    this.determineIfApiGetGovernancegroupShouldBeCalled()
    if (this.isCurrentGovernanceGroupRoute('server-governancegroup-details-edit') && !this.userIsDBA) {
      this.$router.push({ name: this.getGovernanceGroupRoute('server-governancegroup-details') }).catch(() => {})
      return false
    }
    if (this.editGovernancegroupBtn) {
      this.keepLanguageAttributesAvailable()
    }
  },

  methods: {
    ...governanceGroupRouteHelper,

    async determineIfApiGetGovernancegroupShouldBeCalled () {
      /**
       * Call the Api in case
       * 1. Governancegroup is empty,
       * 2. Governancegroup in store is different (based on governancegroupId) or
       * 3. details are needed
       */
      const detailsNeededForRoute = this.tabs.filter((tab) => tab.details).map((tab) => tab.name)
      const details = detailsNeededForRoute.includes(this.$route.name)
      if (
        (
          isEmpty(this.$store.getters['server/getGovernancegroup']) ||
          this.$store.getters['server/getGovernancegroup'].id !== this.$route.params.governancegroupId
        ) ||
        details
      ) {
        await this.getGovernancegroup(details)
      } else {
        this.governancegroup = cloneDeep(this.$store.getters['server/getGovernancegroup'])
      }
    },
    async getGovernancegroup (details) {
      /**
       * Get the Governancegroup detais,
       * without the 'details': projects, valuesets and templates
       * Details are registered in the tabs object in ServerGovernancegroupAdminPanel
       */
      if (this.governancegroupId != null) {
        if (this.isCurrentGovernanceGroupRoute('server-governancegroup-details-valuesets')) {
          // In case of route valuesets, get the setGovernancegroup, without the details
          return this.$store.dispatch('server/setGovernancegroup', { id: this.governancegroupId })
            .then(() => {
              // [Vue warn]: "Error: [vuex] do not mutate vuex store state outside mutation handlers."
              this.governancegroup = cloneDeep(this.$store.getters['server/getGovernancegroup'])
              const params = {
                governanceGroupId: this.governancegroupId
              }
              return this.$store.dispatch('server/setValueset', params)
                .then(() => {
                  // ignore
                })
                .catch((error) => this.$alert(error.message))
            })
            .catch((error) => {
              this.$alert(this.$t(error.message))
              this.$router.push({ name: this.getGovernanceGroupRoute('server-governancegroup-panel') }).catch(() => {})
            })
        } else {
          return this.$store.dispatch('server/setGovernancegroup', { id: this.governancegroupId, details })
            .then(() => {
              // [Vue warn]: "Error: [vuex] do not mutate vuex store state outside mutation handlers."
              this.governancegroup = cloneDeep(this.$store.getters['server/getGovernancegroup'])
            })
            .catch((error) => {
              this.$alert(this.$t(error.message))
              this.$router.push({ name: this.getGovernanceGroupRoute('server-governancegroup-panel') }).catch(() => {})
            })
        }
      }
    },
    addAddressStart () {
      this.initGovernanceGroupsAddress()
      this.$nextTick(() => {
        this.addAddressBtn = true
      })
    },
    cancelAddAddress () {
      this.addAddressBtn = false
      this.$nextTick(() => {
        this.newAddress = cloneDeep(governanceGroupsAddress)
      })
    },
    async addAddress () {
      if (this.$refs.formNewAddress.validate()) {
        try {
          if (this.governancegroup.copyright[0].addrLine === undefined) {
            this.$set(this.governancegroup.copyright[0], 'addrLine', [])
          }
          this.governancegroup.copyright[0].addrLine.push(this.newAddress)
          const value = {
            copyright: this.governancegroup.copyright[0]
          }
          const data = {
            parameter: [{
              op: 'replace',
              value,
              path: '/copyright'
            }]
          }
          const governancegroupsPatched = await ServerService.patchGovernancegroup(this.governancegroup.id, data)
          if (governancegroupsPatched.data !== null) {
            this.$notify(this.$t('submission-insert-success-label'), 'success')
          }
          this.$nextTick(() => {
            this.cancelAddAddress()
          })
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      } else {
        const hasError = rulesGovernanceGroupsAddress.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$nextTick(() => {
            this.$refs[hasError[0]].focus()
          })
        }
      }
    },
    initGovernanceGroupsAddress () {
      this.newAddress = cloneDeep(governanceGroupsAddress)
      this.$nextTick(() => {
        if (this.$refs.formNewAddress) {
          this.$refs.formNewAddress.reset()
        }
      })
    },
    async saveEditedValue (path, value) {
      if (!this.editGovernancegroupBtn) {
        return false
      }
      try {
        alert(JSON.stringify(value))
        let changedValuesForDb = []
        if (typeof value === 'object') {
          changedValuesForDb = value.filter((item) => item?.['#text'] !== '').map((item) => {
            return {
              op: 'replace',
              value: {
                [path]: item
              },
              path: `/${path}`
            }
          })
        } else {
          if (path === 'copyright') {
            // exception because of nested years in copyright
            this.governancegroup.copyright[0].years = value
            changedValuesForDb = [{
              op: 'replace',
              value: [{
                copyright: [this.governancegroup.copyright[0]]
              }],
              path: `/${path}`
            }]
          } else {
            changedValuesForDb = [{
              op: 'replace',
              value,
              path: `/${path}`
            }]
          }
        }
        const data = {
          parameter: changedValuesForDb
        }
        return this.$store.dispatch('server/patchGovernancegroup', { id: this.governancegroup.id, data, path })
          .then(() => {
            this.$notify(this.$t('submission-update-success-label'), 'success')
          })
          .catch((error) => {
            this.$alert(error.message)
          })
      } catch (error) {
        if (error?.response?.data?.description) {
          this.$alert(error?.response?.data?.description)
        }
      }
    },
    handleClick (action, addressLine) {
      if (this[action]) {
        this[action](addressLine)
      } else {
        this.$alert(this.$t('implemented'))
      }
    },
    editAddress (addressLine) {
      this.activeAddress = addressLine
      this.activeAddressBackup = cloneDeep(addressLine)
      this.$nextTick(() => {
        this.editAddressBtn = true
      })
    },
    cancelEditAddress () {
      const index = this.governancegroup.copyright[0].addrLine.indexOf(this.activeAddress)
      if (index > -1) {
        this.governancegroup.copyright[0].addrLine.splice(index, 1, this.activeAddressBackup)
      }
      this.$nextTick(() => {
        this.editAddressBtn = false
        this.activeAddress = {}
        this.activeAddressBackup = {}
      })
    },
    async updateAddress () {
      if (this.$refs.formEditAddress.validate()) {
        try {
          this.governancegroup.copyright[0].addrLine.forEach((a) => {
            if (Object.prototype.hasOwnProperty.call(a, 'speeddial')) {
              delete a.speeddial
            }
          })
          const value = {
            copyright: this.governancegroup.copyright[0]
          }
          const data = {
            parameter: [{
              op: 'replace',
              value,
              path: '/copyright'
            }]
          }
          const governancegroupsPatched = await ServerService.patchGovernancegroup(this.governancegroup.id, data)
          if (governancegroupsPatched.data !== null) {
            this.$notify(this.$t('submission-update-success-label'), 'success')
          }
          this.$nextTick(() => {
            this.editAddressBtn = false
            this.activeAddress = {}
            this.activeAddressBackup = {}
          })
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      } else {
        const hasError = rulesGovernanceGroupsAddress.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$nextTick(() => {
            this.$refs[hasError[0]].focus()
          })
        }
      }
    },
    async deleteAddress (addressLineIndex) {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        this.governancegroup.copyright[0].addrLine.splice(addressLineIndex, 1)
        try {
          this.governancegroup.copyright[0].addrLine.forEach((a) => {
            if (Object.prototype.hasOwnProperty.call(a, 'speeddial')) {
              delete a.speeddial
            }
          })
          const value = {
            copyright: this.governancegroup.copyright[0]
          }
          const data = {
            parameter: [{
              op: 'replace',
              value,
              path: '/copyright'
            }]
          }
          const governancegroupsPatched = await ServerService.patchGovernancegroup(this.governancegroup.id, data)
          if (governancegroupsPatched.data !== null) {
            this.$notify(this.$t('submission-update-success-label'), 'success')
          }
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      } else {
        // ignore
      }
    },
    keepLanguageAttributesAvailable () {
      /**
       * When opening the details of the Governancegroup, only the available locales are loaded
       * To be able to edit the attributes needed, the locales need to be there in the array.
       */
      const languageAttributes = ['name', 'desc']
      languageAttributes.forEach((attr) => {
        if (Object.prototype.hasOwnProperty.call(this.governancegroup, attr)) {
          this.$root.langs.forEach((locale) => {
            if (!this.governancegroup[attr].some((v) => v.language === locale)) {
              this.governancegroup[attr].push({
                language: locale,
                '#text': ''
              })
            }
          })
        }
      })
    },
    async deleteGovernancegroup () {
      const agree = await this.$confirm(this.$t('delete-governance-group-warning'))
      if (agree) {
        try {
          await this.$store.dispatch('server/deleteGovernancegroup', { id: this.governancegroup.id })

          this.$notify(this.$t('submission-update-success-label'), 'success')
          this.$nextTick(() => {
            this.$router.push({ name: this.getGovernanceGroupRoute('server-governancegroup-panel') }).catch(() => {})
          })
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      } else {
        // ignore
      }
    }
  }
}
</script>

<style lang="scss">
.submenu a {
  text-decoration: none;
  &:hover, &:focus, &:active, &.active {
    color: #000000;
  }
}
</style>
