<template>
  <div>
    <v-card class="elevation-3">
      <v-card-text class="pa-5">
        <v-data-table
          :headers="headers"
          :items="governancegroup.project"
          sort-by="name"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td>{{item.id}}</td>
              <td>
                <AdButton
                  v-if="item.name"
                  link
                  :hint="$t('go-to-project')"
                  :to="{name: 'project-overview', params: { prefix: item.prefix } }"
                >{{$filters.getMatchingTranslation({ value: item.name })}}</AdButton>
              </td>
              <td>{{item.prefix}}</td>
              <td>
                <span style="width:24px;">
                  {{ item.defaultLanguage.substring(0, 2) }}
                </span>
                <flag
                  :squared="false"
                  :iso="item.defaultLanguage.substring(3, 5)"
                ></flag>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ServerGovernancegroupAdminPanelDetailsProjects',

  props: {
    governancegroups: {
      type: Array
    },
    governancegroupId: {
      type: String
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      headers: [
        {
          text: this.$t('id'),
          sortable: true,
          value: 'id',
          sort: this.$filters.numericStringComparator
        },
        {
          text: this.$t('name'),
          value: 'name',
          sort: (a, b) => {
            if (this.$filters.getMatchingTranslation({ value: a }) > this.$filters.getMatchingTranslation({ value: b })) {
              return 1
            }
            if (this.$filters.getMatchingTranslation({ value: a }) < this.$filters.getMatchingTranslation({ value: b })) {
              return -1
            }
            return 0
          }
        },
        { text: this.$t('project'), value: 'prefix' },
        { text: this.$t('defaultLanguage'), value: 'defaultLanguage' }
      ]
    }
  },

  computed: {
    ...mapGetters({
      governancegroup: ['server/getGovernancegroup']
    })
  }
}
</script>
