<template>
  <div>
    <v-card class="elevation-3">
      <v-card-text class="pa-5">
        <v-text-field
          v-if="templates.length > 9"
          v-model="searchTemplates"
          append-icon="mdi-magnify"
          single-line
          hide-details
          clearable
          :label="$t('search')"
          class="ml-3 mr-7 mb-5"
        ></v-text-field>
        <v-data-table
          :headers="headersTemplates"
          :items="templates"
          :search="searchTemplates"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td>
                <AdButton
                  link
                  :hint="$t('go-to-template')"
                  :to="{ name: 'profiles', params: { prefix: item.prefix }}"
                >{{item.id}}</AdButton>
              </td>
              <td>{{item.displayName}}</td>
              <td nowrap>
                <template v-if="item.effectiveDate">
                  <AdButton
                    v-if="item.effectiveDate"
                    link
                    type="new"
                    :hint="$t('go-to-template')"
                    :to="{ name: 'profiles', params: { prefix: item.prefix }}"
                    small
                  >
                    {{ $filters.formatDateShort(item.effectiveDate) }}
                  </AdButton>
                  <AdStatusDot class="pa-3" :status="item.statusCode" />
                  <span>{{item.statusCode}}</span>
                </template>
              </td>
              <td>
                <AdRefChip v-if="item.ident" :ident="item.ident"/>
              </td>
              <td>{{item.type}}</td>
              <td>{{item.projectName}}</td>
            </tr>
          </template>
        </v-data-table>
        <!-- <v-card outlined v-if="userIsDBA">
          <v-card-text class="pa-5">
            <h3>Debug (userIsDBA)</h3>
            <pre>governancegroupId {{governancegroupId}}</pre>
            <pre>valuesetcount {{governancegroup.valuesetcount}}</pre>
            <pre>templatecount {{governancegroup.templatecount}}</pre>
            <pre>keys governancegroup: {{Object.keys(governancegroup)}}</pre>
          </v-card-text>
        </v-card> -->
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ServerGovernancegroupAdminPanelDetailsTemplates',

  props: {
    governancegroupId: {
      type: String
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      headersTemplates: [
        {
          text: this.$t('id'),
          sortable: true,
          value: 'id',
          sort: this.$filters.numericStringComparator
        },
        { text: this.$t('display-name'), sortable: true, value: 'displayName' },
        { text: `${this.$t('versions')} / ${this.$t('status')}`, sortable: true, value: 'effectiveDate' },
        { text: this.$t('Repository'), sortable: true, value: 'from' },
        { text: this.$t('type'), sortable: true, value: 'type' },
        { text: this.$t('project'), sortable: true, value: 'projectName' }
      ],
      searchTemplates: null
    }
  },

  computed: {
    ...mapGetters({
      governancegroup: ['server/getGovernancegroup']
    }),
    templateTypes () {
      return (templateType, attribute) => {
        const foundTemplateType = this.$store.getters['server/getTemplateTypes'](templateType)
        if (foundTemplateType) {
          return foundTemplateType[attribute].find(v => v.language === this.$i18n.locale)['#text']
        } else {
          return templateType
        }
      }
    },
    templates () {
      const templates = []
      if (this.governancegroup.project) {
        this.governancegroup.project.forEach((project) => {
          if (project.template) {
            return project.template.forEach((template) => {
              templates.push({
                id: (template?.template?.[0]?.id) ? template.template[0].id : '',
                displayName: (template?.template?.[0]?.displayName) ? template.template[0].displayName : '',
                effectiveDate: (template?.template?.[0]?.effectiveDate) ? template.template[0].effectiveDate : '',
                statusCode: (template?.template?.[0]?.statusCode) ? template.template[0].statusCode : '',
                from: (template?.template?.[0]?.referencedFrom) ? template.template[0].referencedFrom : '',
                type: (template?.template?.[0]?.classification?.[0]?.type) ? this.templateTypes(template.template[0].classification[0].type, 'label') : '',
                ident: (template?.template?.[0]?.ident) ? template.template[0].ident : '',
                versionLabel: (template?.template?.[0]?.versionLabel) ? template.template[0].versionLabel : '',
                uuid: (template?.template?.[0]?.uuid) ? template.template[0].uuid : '',
                prefix: (Object.prototype.hasOwnProperty.call(project, 'prefix')) ? project.prefix : '',
                projectId: (project?.id) ? project.id : '',
                projectDefaultLanguage: (project?.defaultLanguage) ? project.defaultLanguage : '',
                projectName: (project?.name) ? this.$filters.getMatchingTranslation({ value: project.name }) : ''
              })
            })
          }
        })
      }
      return templates
    }
  },

  methods: {
    goToTemplateVersion (item) {
      this.$confirm(this.$t('notyetimplemented'))
    },
    goToTemplate (template) {
      this.$confirm(this.$t('notyetimplemented'))
    }
  }
}
</script>
