<template>
  <v-layout>
    <v-container fluid>

      <PanelLoading :loading="panelLoading" />

      <v-dialog
        v-model="addGovernancegroupBtn"
        max-width="800"
        scrollable
        persistent
      >
        <v-card>
          <AdCardTitle dialog>{{ $t("create-governancegroup") }}</AdCardTitle>
          <v-card-text class="pa-5">
            <v-container>
              <v-form
                v-if="addGovernancegroupBtn"
                ref="formNewGovernancegroup"
                class="pb-5"
              >
                <EditableLanguage
                  v-model="newGovernancegroup.defaultLanguage"
                  :value="newGovernancegroup.defaultLanguage"
                  :rules="rulesGovernancegroup.defaultLanguage"
                  :label="$t('defaultLanguage')"
                />

                <EditableTranslationEditor
                  v-model="newGovernancegroup.name"
                  :value="newGovernancegroup.name"
                  ref="name"
                  :locales="$root.availableLocales"
                  :rules="rulesGovernancegroup.name"
                  :label="$t('name')"
                ></EditableTranslationEditor>

                <EditableString
                  v-model.trim="newGovernancegroup.id"
                  :value="newGovernancegroup.id"
                  ref="id"
                  :error-messages="governancegroupIdExistsError"
                  :rules="rulesGovernancegroup.id"
                  :label="$t('oid')"
                  @blur="checkGovernancegroupAttributeExists('id')"
                />

                <EditableString
                  v-model.trim="newGovernancegroup.copyright.years"
                  :value="newGovernancegroup.copyright.years"
                  ref="copyright"
                  :rules="rulesGovernancegroup.copyright"
                  :label="$t('copyright-years')"
                />

                <EditableTranslationEditor
                  v-model="newGovernancegroup.desc"
                  :value="newGovernancegroup.desc"
                  ref="desc"
                  :editor="true"
                  :locales="$root.availableLocales"
                  :rules="rulesGovernancegroup.desc"
                  :label="$t('description')"
                  :placeholder="$t('description')"
                ></EditableTranslationEditor>

                <AdCardTitle dialog>
                  {{ $t("contact-data") }}
                  <div class="ml-auto">
                    <AdButton type="add" :small="true" :fab="true" @click="addAddress" />
                  </div>
                </AdCardTitle>

                <template v-if="newGovernancegroup.copyright.addrLine.length > 0">
                  <v-row
                    v-for="(addrLine, addrLineIndex) in newGovernancegroup.copyright.addrLine"
                    :key="`addrLine-${addrLineIndex}`"
                    class="pl-5"
                  >
                    <v-col cols="8">
                      <EditableString
                        v-model="addrLine['#text']"
                        :value="addrLine['#text']"
                        :required="rulesGovernanceGroupsAddress.requiredAttributes.includes('#text')"
                        :label="$t('contact-data')"
                        :rules="rulesGovernanceGroupsAddress['#text']"
                      />
                    </v-col>
                    <v-col cols="3">
                      <v-select
                        v-model="addrLine.type"
                        :items="addressLineTypes"
                        :required="rulesGovernanceGroupsAddress.requiredAttributes.includes('type')"
                        item-text="#text"
                        item-value="value"
                        :label="$t('type')"
                      ></v-select>
                    </v-col>
                    <v-col cols="1" class="pt-5">
                      <AdButton
                        type="erase"
                        small
                        list
                        @click="deleteAddress(addrLineIndex)"
                      />
                    </v-col>
                  </v-row>
                </template>
              </v-form>
            </v-container>
            <AdButton
              type="add"
              admin
              @click="addGovernancegroup"
              class="pl-5"
            />
            <AdButton
              type="cancel"
              admin
              @click="cancelAddGovernancegroup"
            />
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-row v-if="!panelLoading">
        <v-col>
          <v-card>
            <AdCardTitle class="d-flex flex-nowrap" prependicon="mdi-home-city-outline">
              {{$t('governance-groups')}}
              <div class="ml-auto" v-if="userIsDBA && !readonly">
                <AdButton type="add" :small="true" :fab="true" @click="addGovernancegroupStart" :disabled="isCurrentGovernanceGroupRoute('server-governancegroup-panel')"/>
              </div>
            </AdCardTitle>
            <v-card-text class="pa-5">
              <v-data-table
                v-if="isCurrentGovernanceGroupRoute('server-governancegroup-panel')"
                :headers="headers"
                :items="governancegroups"
                :items-per-page="10"
                class="elivation-1 mb-5"
              >
                <template v-slot:[`item.name`]="{ item }">
                  <!--
                  <router-link :to="{ name: 'server-governancegroup-details', params: { governancegroupId: item.id } }" style="white-space:nowrap;">
                    {{$filters.getMatchingTranslation({ value: item.name })}}
                  </router-link>
                  -->
                  <AdButton link :to="`governancegroups/${item.id}`">
                    {{$filters.getMatchingTranslation({ value: item.name })}}
                  </AdButton>
                  <v-tooltip bottom v-if="$filters.getMatchingTranslation({ value: item.desc })">
                    <template v-slot:activator="{ on: tooltip }">
                      <v-btn
                        text
                        x-small
                        v-on="{ ...tooltip }"
                        class="pa-1"
                      >
                        <v-icon>mdi-information-outline</v-icon>
                      </v-btn>
                    </template>
                    <span v-html="$filters.getMatchingTranslation({ value: item.desc })"></span>
                  </v-tooltip>
                </template>
                <template v-slot:[`item.copyright`]="{ item }">
                  <div
                    style="white-space:nowrap;"
                    v-if="item.copyright && item.copyright[0] && item.copyright[0].years"
                  >{{item.copyright[0].years}}</div>
                </template>
                <template v-slot:[`item.defaultLanguage`]="{ item }">
                  <div style="width: 24px; float: left">
                    {{ item.defaultLanguage.substring(0, 2) }}
                  </div>
                  <flag
                    :squared="false"
                    :iso="item.defaultLanguage.substring(3, 5)"
                  ></flag>
                </template>
              </v-data-table>

              <router-view
                :key="$route.fullPath"
                :governancegroups="governancegroups"
                :tab="tab"
                :tabs="tabs"
              ></router-view>

            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import EditableLanguage from '@/components/Utilities/Editable/EditableDropdown/EditableLanguage'
import EditableTranslationEditor from '@/components/Utilities/Editable/EditableTranslationEditor'
import PanelLoading from '@/components/Utilities/PanelLoading'
import governancegroup from '@/models/governancegroup'
import rulesGovernancegroup from '@/rules/governancegroup'
import rulesGovernanceGroupsAddress from '@/rules/governanceGroupsAddress'
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'
import governanceGroupRouteHelper from '@/filters/governanceGroupRouteHelper'

export default {
  name: 'ServerGovernancegroupAdminPanel',

  components: {
    EditableTranslationEditor,
    EditableLanguage,
    PanelLoading
  },

  props: {
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      addGovernancegroupBtn: false,
      governancegroupIdExistsError: [],
      headers: [
        {
          text: this.$t('name'),
          value: 'name',
          sortable: true
        },
        // {
        //   text: this.$t('description'),
        //   value: 'desc',
        //   sortable: false
        // },
        {
          text: this.$t('copyright-years'),
          value: 'copyright',
          sortable: false
        },
        {
          text: this.$t('defaultLanguage'),
          value: 'defaultLanguage',
          sortable: false
        },
        {
          text: this.$t('id'),
          value: 'id',
          sortable: false
        }
      ],
      newGovernancegroup: {},
      panelLoading: false,
      rulesGovernancegroup,
      rulesGovernanceGroupsAddress,
      tab: {
        index: 0
      },
      tabs: [
        {
          label: 'details',
          name: this.getGovernanceGroupRoute('server-governancegroup-details')
        },
        {
          label: 'dashboard',
          name: this.getGovernanceGroupRoute('server-governancegroup-details-dashboard'),
          details: true // details will call Api (getGovernancegroup) with params details === true
        },
        {
          label: 'projects',
          name: this.getGovernanceGroupRoute('server-governancegroup-details-projects'),
          details: true // details will call Api (getGovernancegroup) with params details === true
        },
        {
          label: 'valuesets',
          name: this.getGovernanceGroupRoute('server-governancegroup-details-valuesets'),
          details: true // details will call Api (getGovernancegroup) with params details === true
        },
        {
          label: 'codesystems',
          name: this.getGovernanceGroupRoute('server-governancegroup-details-codesystems'),
          details: true // details will call Api (getGovernancegroup) with params details === true
        },
        {
          label: 'concept-maps',
          name: this.getGovernanceGroupRoute('server-governancegroup-details-conceptmaps'),
          details: true // details will call Api (getGovernancegroup) with params details === true
        },
        {
          label: 'templates',
          name: this.getGovernanceGroupRoute('server-governancegroup-details-templates'),
          details: true // details will call Api (getGovernancegroup) with params details === true
        },
        {
          label: 'questionnaires',
          name: this.getGovernanceGroupRoute('server-governancegroup-details-questionnaires'),
          details: true // details will call Api (getGovernancegroup) with params details === true
        }
      ]
    }
  },

  computed: {
    ...mapGetters({
      governancegroups: ['server/getGovernancegroups']
    }),
    addressLineTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.AddressLineType?.[0]?.enumeration?.map((e) => ({
        '#text': this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    }
  },

  watch: {
    'tab.index': function (newValue, oldValue) {
      /**
       * Watcher function that makes the route change based on the active tab
       */
      if (newValue > -1) {
        const { name } = this.tabs[newValue]
        if (name) {
          this.$router.push({ name }).catch(() => {})
        }
      }
    }
  },

  created () {
    this.getGovernancegroups()
    const tabIndexCurrentRoute = this.tabs.findIndex((tab) => tab.name === this.$route.name)
    if (tabIndexCurrentRoute === -1) {
      this.tab.index = 0
      return false
    }
    if (tabIndexCurrentRoute !== 0) {
      // if not the default (first) tab, activate the correct tab
      this.tab.index = tabIndexCurrentRoute
    }
  },

  methods: {
    ...governanceGroupRouteHelper,

    async getGovernancegroups () {
      this.panelLoading = true
      return this.$store.dispatch('server/setGovernancegroups')
        .then(() => {
          this.panelLoading = false
        })
        .catch(error => {
          this.$alert(error.message)
        })
    },
    addAddress () {
      this.newGovernancegroup.copyright.addrLine.push({
        '#text': null,
        type: null
      })
    },
    deleteAddress (addrLineIndex) {
      this.newGovernancegroup.copyright.addrLine.splice(addrLineIndex, 1)
    },
    addGovernancegroupStart () {
      this.initGovernancegroup()
      // set the default language to the current app language
      this.newGovernancegroup.defaultLanguage = this.$i18n.locale
      this.addGovernancegroupBtn = true
    },
    cancelAddGovernancegroup () {
      this.addGovernancegroupBtn = false
      this.$nextTick(() => {
        this.initGovernancegroup()
      })
    },
    addGovernancegroup () {
      if (this.$refs.formNewGovernancegroup.validate()) {
        const governancegroup = cloneDeep(this.newGovernancegroup)
        // store id for redirect to route details
        const governancegroupId = this.newGovernancegroup.id
        return this.$store.dispatch('server/addGovernancegroup', governancegroup)
          .then(() => {
            this.$notify(this.$t('submission-insert-success-label'), 'success')
            this.cancelAddGovernancegroup()
            this.$nextTick(() => {
              this.$router.push({ name: this.getGovernanceGroupRoute('server-governancegroup-details'), params: { governancegroupId } }).catch(() => {})
            })
          })
          .catch(error => {
            this.$alert(error.message)
          })
      } else {
        // set the focus on the field that has the error
        const hasError = rulesGovernancegroup.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$refs[hasError[0]].focus()
        }
      }
    },
    initGovernancegroup () {
      this.newGovernancegroup = cloneDeep(governancegroup)
      this.$root.availableLocales.forEach((locale, i) => {
        // name and descriptions need translations
        this.$set(this.newGovernancegroup.name, i, { '#text': null, language: locale })
        this.$set(this.newGovernancegroup.desc, i, { '#text': null, language: locale })
      })
    },
    checkGovernancegroupAttributeExists (attribute) {
      if (attribute && this.newGovernancegroup[attribute] !== undefined) {
        if (this.governancegroups.length > 0 && this.governancegroups.some((gg) => gg[attribute] === this.newGovernancegroup[attribute])) {
          this.governancegroupIdExistsError = [this.$t('already-exists')]
        } else {
          this.governancegroupIdExistsError = []
        }
      } else {
        this.governancegroupIdExistsError = []
      }
    }
  }
}
</script>
