<template>
  <v-layout>
    <v-container fluid>

      <v-row v-if="!userIsDBA">
        <v-alert :value="true" color="error" icon="mdi-alert">
          Panel is for Administrators only
        </v-alert>
      </v-row>

      <v-row v-else>
        <v-col>
          <v-card>
            <AdCardTitle>
              {{ $t("scheduled-tasks") }}
              <v-spacer></v-spacer>
              <AdButton type="refresh" list @click="getServerSchedulers" :spinning="panelLoading" :loading="panelLoading"/>
            </AdCardTitle>
            <v-card-text class="pa-5">

              <!-- PROJECT TASKS -->
              <div class="task-type-title">
                {{ $t("project-scheduler") }}
              </div>
              <div class="pb-5">{{ $t('project-scheduler-description') }}</div>
              <v-data-table
                :headers="headersProjectTasks"
                :items="itemsProjectTasks"
                single-select
                :items-per-page="10"
                class="elevation-1"
                :no-data-text="$t('no-items')"
              >
               <template v-slot:item="{ item }">
                  <tr>
                    <td>
                      {{ item.name }}
                    </td>
                    <td>
                      {{ item.for }}
                    </td>
                    <td>
                      {{ formatDateEvenIfMissing(item.on) }}
                    </td>
                    <td>
                      <v-chip
                        v-if="secondsAgoLastExecuted(item.on) > 3600"
                        color="orange lighten-2"
                      >
                        {{ hoursAgoLastExecuted(item.on) }}
                        {{ $tc("hours", hoursAgoLastExecuted(item.on)) }}
                      </v-chip>
                      <v-chip
                        v-else
                        color="green lighten-2"
                      >
                       {{ secondsAgoLastExecuted(item.on)}} sec ago
                      </v-chip>
                    </td>
                     <td>
                      {{ item.by }}
                    </td>
                    <td>
                      {{ item.progress }}
                    </td>
                  </tr>
               </template>
              </v-data-table>

                            <!-- SERVER TASKS-->
              <div class="task-type-title pt-7">
                {{ $t("server-scheduler") }}
              </div>
              <div>{{ $t('server-scheduler-description') }}</div>
              <v-data-table
                :headers="headersServerTasks"
                :items="itemsServerTasks"
                single-select
                :items-per-page="10"
                class="elevation-1"
                :no-data-text="$t('no-items')"
              >
               <template v-slot:item="{ item }">
                  <tr>
                    <td>
                      {{ item.name }}
                    </td>
                    <td>
                      {{ item.trigger.state }}
                    </td>
                    <td>
                      {{ formatDateEvenIfMissing(item.trigger.previous) }}
                    </td>
                    <td>
                      <v-chip
                        v-if="secondsAgoLastExecuted(item.trigger.previous) > 3600"
                        color="orange lighten-2"
                      >
                        {{ hoursAgoLastExecuted(item.trigger.previous) }}
                        {{ $tc("hours", hoursAgoLastExecuted(item.trigger.previous)) }}
                      </v-chip>
                      <v-chip
                        v-else
                        color="green lighten-2"
                      >
                       {{ secondsAgoLastExecuted(item.trigger.previous)}} sec ago
                      </v-chip>
                    </td>
                    <td>
                      {{ formatDateEvenIfMissing(item.trigger.next) }}
                    </td>
                    <td>
                      {{ formatSchedulerExpression(item.trigger.expression) }}
                    </td>
                  </tr>
               </template>
              </v-data-table>

            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { differenceInSeconds } from 'date-fns'

export default {
  name: 'ServerScheduler',
  components: {
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters({
      serverSchedulerList: ['server/getServerSchedulers']
    }),
    /**
     * Get table header structure.
     *
     * The table structure defines which field should shown
     * and in base of which key they are sortable. The fix width
     * for the columns can also defined here.
     *
     * @returns {[*]}
     */
    headersServerTasks () {
      return [
        {
          text: this.$t('name'),
          sortable: false
        },
        {
          text: this.$t('status'),
          sortable: false
        },
        {
          text: this.$t('previous'),
          sortable: false
        },
        {
          text: this.$t('ago'),
          sortable: false
        },
        {
          text: this.$t('Next'),
          sortable: false
        },
        {
          text: this.$t('timing'),
          sortable: false
        }
      ]
    },
    headersProjectTasks () {
      return [
        {
          text: this.$t('name'),
          sortable: true
        },
        {
          text: this.$t('project'),
          sortable: true
        },
        {
          text: this.$t('date'),
          sortable: false
        },
        {
          text: this.$t('Elapsed'),
          sortable: false
        },
        {
          text: this.$t('User'),
          sortable: false
        },
        {
          text: this.$t('progress'),
          sortable: false
        }
      ]
    },
    secondsAgoLastExecuted () {
      return (d) => {
        if (!isNaN(Date.parse(d))) return differenceInSeconds(new Date(), new Date(d))
        return '-'
      }
    },
    hoursAgoLastExecuted () {
      return (d) => {
        return Math.round(this.secondsAgoLastExecuted(d) / 3600)
      }
    },
    formatSchedulerExpression () {
      return (e) => {
        if (isNaN(Number(e))) return e // non-periodic, return as is
        return this.$t('periodic') + ': ' + Number(e) / 1000 + ' s' // return as periodic in seconds
      }
    },
    /**
     * Get table items for server tasks
     * @returns {[*]}
     */
    itemsServerTasks () {
      return this.serverSchedulerList?.artdecorjob || []
    },
    /**
     * Get table items for server tasks
     * @returns {[*]}
     */
    itemsProjectTasks () {
      return this.serverSchedulerList?.projectjob || []
    }
  },
  created () {
    this.getServerSchedulers()
  },
  methods: {
    async getServerSchedulers () {
      // Load server's scheduler list.
      return this.$store.dispatch('server/setServerSchedulers')
        .then(() => {
          // ignore
        })
        .catch((error) => {
          this.$notify(error)
        })
    },
    formatDateEvenIfMissing (d) {
      if (!isNaN(Date.parse(d))) return this.formatDate(d)
      return '-'
    }
  }
}
</script>

<style lang="scss">
  .task-type-title {
    padding-bottom: 7px;
    font-size: 18px;
    font-weight: 600;
    color: gray;
    i {
      margin: 3px;
    }
  }
</style>
