<template>
  <v-layout>
    <v-container fluid>
      <!-- Loading? -->
      <PanelLoading :loading="panelLoading" />
      <!--
        Server Admin Overview area
      -->
      <template v-if="userIsDBA && !panelLoading">
        <v-row v-if="!isEmpty(serverInfo) && users.length > 0">
          <!--
            statistics cards
          -->
          <v-col
            cols="12"
            md="2"
            v-for="stats in artefactStatsCards"
            v-bind:key="stats.title"
          >
            <StatsCard
              :title="$t(stats.title)"
              :count="stats.value || 0"
              :to="stats.href"
              :icon="stats.icon"
              :color="stats.color"
              :status="stats.status"
            />
          </v-col>
        </v-row>
        <v-row>
          <!--
            detail entry cards
          -->
          <v-col class="col-8 col-md-4">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-chart-timeline-variant">
                {{ $t("server-uptime") }}
              </AdCardTitle>
              <v-card-text class="pa-4">
                <v-expansion-panels
                  v-if="serverInfo.packages[0] !== null"
                >
                  <v-expansion-panel
                    v-for="(item, i) in chartdata"
                    :key="i"
                  >
                    <v-expansion-panel-header>
                      <v-icon class="mr-2">mdi-server-network</v-icon>
                      <div>
                        {{ item.datasets[0].server }}
                      </div>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-sheet
                        class="v-sheet--offset mx-auto"
                        color="orange lighten-5"
                        elevation="5"
                        max-width="calc(100% - 32px)"
                      >
                        <LineChart
                          v-if="item.datasets[0].data"
                          :data="item"
                          :styles="styles"
                          :options="options"
                        ></LineChart>
                      </v-sheet>
                      <div class="heading font-weight-light pt-3">
                        {{ $t("server-uptime30", [item.datasets[0].uptimepct30median]) }}
                      </div>
                      <v-icon class="mr-2" small>mdi-clock-outline</v-icon>
                      <span class="subheading font-weight-light">
                        {{ $t("last-poll", [item.datasets[0].lastPollMinutesAgo]) }}
                      </span>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-8 col-md-4">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-stethoscope">
                Server Sanity
              </AdCardTitle>
              <v-card-text class="pa-4">
                <v-card
                  class="mx-auto"
                  max-width="100%"
                  tile
                >
                <v-list dense>
                  <v-subheader>REPORT</v-subheader>
                  <v-list-item-group v-if="false">
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon>mdi-alert</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        OID 12.3.4.5.6.23 is illegal in project aktin-
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon>mdi-clock</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        Value Set loading in project aktin- takes longer than expected: 14.000 ms for 100 value sets<br/>
                        Chache configured? Cache refreshed?
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon>mdi-flag</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        There is an issue with the cache
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
                </v-card>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-8 col-md-4">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-animation-outline">
                Installed Packages
              </AdCardTitle>
              <v-card-text class="pa-4">
                <v-expansion-panels v-if="serverInfo.packages[0] !== null">
                  <v-expansion-panel>
                    <v-expansion-panel-header>{{
                      $t("configuration")
                    }}</v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <ul
                        v-for="p in serverInfo.packages[0].package"
                        v-bind:key="p.abbrev"
                      >
                        <li>
                          <span v-if="p.title">{{ p.title }}</span>
                          <span v-else>{{ p.abbrev }}</span>
                          {{ p.version }}
                        </li>
                      </ul>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="col-10 col-md-3">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-account-tie">
                Server Admin List
              </AdCardTitle>
              <v-card-text class="pa-4">
                <v-expansion-panels v-if="users.length > 0">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      {{ $t("Server Admin List") }}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-data-table
                        :items="dbausers"
                        :headers="sysAdminHeader"
                        hide-default-header
                        hide-default-footer
                        class="elevation-1"
                      >
                        <!--template v-slot:[`item.name`]="{ item }">
                          {{ item.name }}
                        </template-->
                      </v-data-table>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-10 col-md-3">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-cloud-print">
                ADRAM Overview
              </AdCardTitle>
              <v-card-text class="pa-4"> tbd </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-10 col-md-3">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-wikipedia">
                ADAWIB Overview
              </AdCardTitle>
              <v-card-text class="pa-4">
                <AdButton
                  type="view-table"
                  to="adawib"
                />
              </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-10 col-md-3">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-function"> Functions </AdCardTitle>
              <v-card-text class="pa-4"> tbd </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-10 col-md-3">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-tune"> {{ $t('art-settings') }} </AdCardTitle>
              <v-card-text class="pa-4">
                <AdButton
                  type="view-table"
                  to="art-settings"
                />
              </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-10 col-md-3">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-lock"> {{ $t('Locks') }} </AdCardTitle>
              <v-card-text class="pa-4">
                <AdButton
                  type="view-table"
                  to="decor-locks"
                />
              </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-10 col-md-3">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-radio-tower"> {{ $t('News') }} </AdCardTitle>
              <v-card-text class="pa-4">
                <AdButton
                  type="view-table"
                  to="news"
                />
              </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-10 col-md-3">
            <v-card class="mx-auto" width="auto">
              <AdCardTitle prependicon="mdi-timetable"> {{ $t('scheduled-tasks') }} </AdCardTitle>
              <v-card-text class="pa-4">
                <AdButton
                  type="view-table"
                  to="server-scheduler-panel"
                />
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <!-- Server: {{ serverInfo }}<p/> -->
        <!-- Uptimes: {{ uptimes }}
        Server: {{ serverInfo }}
        <p />
        Users: {{ users }}
        <p />
        -->
        <!-- testing the server scheduler panel.... -->
        <ServerScheduler v-if="false"/>
      </template>
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { isEmpty } from 'lodash'
import ServerService from '@/services/ServerService'
import StatsCard from '@/components/Utilities/StatsCard'
import LineChart from '@/components/Charts/LineChart'
import PanelLoading from '@/components/Utilities/PanelLoading'
import ServerScheduler from '@/components/ServerAdmin/ServerSchedulerPanel'

export default {
  name: 'ServerAdminPanel',
  components: {
    StatsCard,
    LineChart,
    PanelLoading,
    ServerScheduler
  },
  computed: {
    ...mapGetters({
      artefactStatsCards: ['server/artefactStatsCards'],
      projectInFocus: ['project/getProjectInFocus'],
      serverInfo: ['server/serverInfo'],
      users: ['server/users']
    }),
    dbausers () {
      return this.users.filter(n => n.groups?.includes('dba'))
    }
  },
  data () {
    return {
      search: '',
      panelLoading: true,
      chartdata: [],
      datasetPrefill: {
        label: this.$t('server-uptime', ''),
        borderColor: '#ff9924',
        borderWidth: 1,
        fill: false,
        lineTension: 0,
        pointRadius: 1,
        data: null,
        server: '',
        uptimepct30median: 0,
        lastPollMinutesAgo: 0
      },
      isEmpty,
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [
            {
              type: 'time',
              time: {
                unit: 'day',
                displayFormats: {
                  day: 'DD'
                }
              }
            }
          ],
          yAxes: [
            {
              ticks: {
                suggestedMin: 90,
                min: 90,
                suggestedMax: 100,
                stepSize: 2
              }
            }
          ]
        }
      },
      styles: {
        height: '150px'
      },
      sysAdminHeader: [
        {
          text: 'name',
          align: 'start',
          value: 'name'
        }
      ]
    }
  },
  methods: {
    async getUsersList () {
      this.panelLoading = true
      return this.$store.dispatch('server/setUsers')
        .then(() => {
          this.panelLoading = false
        })
        .catch((error) => {
          this.$notify(error.message, 'error')
        })
    },
    async getServerUptimes () {
      // updates this.chartdata with chart data of uptimes of servers specified in local const servers
      // local const servers 2TO shall be a parameter somewhere later
      const servers = [
        {
          url: 'https://serviceapi.art-decor.org/uptimes',
          name: 'art-decor.org'
        }
      ]
      for (let i = 0; i < servers.length; i++) {
        let uptimes = null
        const ds = JSON.parse(JSON.stringify(this.datasetPrefill))
        try {
          uptimes = (
            await ServerService.getServerUptimes(
              servers[i].url
            )
          ).data
          ds.data = uptimes === null ? null : JSON.parse(JSON.stringify(uptimes.data))
          ds.server = servers[i].name
          ds.uptimepct30median = uptimes.uptimepct30median
          ds.lastPollMinutesAgo = uptimes.lastPollMinutesAgo
          this.chartdata.push(
            {
              datasets: Array(ds)
            }
          )
        } catch (err) {
          console.log(err)
        }
      }
    }
  },
  created () {
    this.getUsersList()
    this.getServerUptimes()
    this.panelLoading = false
  },
  mounted () {
    if (this.userIsDBA !== true) {
      this.$notify('Panel is for Administrators only!')
      return
    }
    if (this.renderChart) {
      this.renderChart(this.chartdata.dataset, this.options)
    }
  }
}
</script>
