<template>
  <div>
    <PanelLoading :loading="$store.state.server.conceptmapLoading"/>
    <v-card class="elevation-3" v-if="!$store.state.server.conceptmapLoading">
      <v-card-text class="pa-5">
        <v-text-field
          v-if="conceptMaps.length > 9"
          v-model="searchConceptMaps"
          append-icon="mdi-magnify"
          single-line
          hide-details
          clearable
          :label="$t('search')"
          class="ml-3 mr-7 mb-5"
        ></v-text-field>
        <v-data-table
          :headers="headersConceptMaps"
          :items="conceptMaps"
          :search="searchConceptMaps"
        >
          <template v-slot:item="{ item }">
            <tr>
              <td>
                <AdButton
                  link
                  :hint="$t('go-to-conceptmap')"
                  :to="{ name: 'concept-maps-details', params: { prefix: item.project, conceptMapId: item.id, conceptMapVersion: item.effectiveDate } }"
                >{{ item.id }}
                </AdButton>
              </td>
              <td>{{ item.displayName }}</td>
              <td nowrap>
                <template v-if="item.effectiveDate">
                  <AdButton
                    link
                    type="new"
                    :hint="$t('go-to-conceptmap')"
                    :to="{ name: 'concept-maps-details', params: { prefix: item.project, conceptMapId: item.id, conceptMapVersion: item.effectiveDate } }"
                    small
                  >
                    {{ $filters.formatDateShort(item.effectiveDate) }}
                  </AdButton>
                  <AdStatusDot class="pa-3" :status="item.statusCode"/>
                  <span>{{ item.statusCode }}</span>
                </template>
              </td>
              <td>{{ item.project }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ServerGovernancegroupAdminPanelDetailsConceptmaps',

  props: {
    governancegroupId: {
      type: String
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      headersConceptMaps: [
        { text: this.$t('id'), sortable: true, value: 'id', sort: this.$filters.numericStringComparator },
        { text: this.$t('display-name'), sortable: true, value: 'displayName' },
        { text: `${this.$t('versions')} / ${this.$t('status')}`, sortable: true, value: 'effectiveDate' },
        { text: this.$t('project'), sortable: true, value: 'project' }
      ],
      searchConceptMaps: null
    }
  },

  computed: {
    ...mapGetters({
      governancegroup: ['server/getGovernancegroup'],
      conceptMaps: ['server/conceptmaps']
    })
  },

  mounted () {
    this.$store.dispatch('server/setConceptmap', {
      governanceGroupId: this.governancegroupId
    })
  }
}
</script>
