<template>
  <v-layout>
    <v-container fluid>
      <!-- Loading? -->
      <PanelLoading :loading="$store.getters['news/loadingNews']" />

      <v-row v-if="!userIsDBA">
        <v-alert :value="true" color="error" icon="mdi-alert">
          Panel is for Administrators only
        </v-alert>
      </v-row>

      <v-row v-else-if="$store.getters['news/loadingNews']">
      </v-row>

      <v-row v-else>
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-radio-tower">
              {{ $t("Urgentnews") }}
              <v-spacer></v-spacer>
              <UrgentNewsFormDialog ref="UrgentNewsFormDialog" :newsList="news" />
            </AdCardTitle>
            <v-card-text class="pa-5">
              <v-data-table
                :headers="headers"
                :items="news"
                single-select
                :items-per-page="10"
                class="elevation-1"
              >
                <template v-slot:item="{ item }">
                  <tr>
                    <td>
                      <div class="pt-3" v-html="item.text[0]['#text']" />
                    </td>
                    <td align="center">
                      <flag
                        v-for="(n, ix) in item.text"
                        class="mr-3"
                        :key="ix"
                        :squared="Boolean(0)"
                        :iso="n.language.substring(3, 5)"
                      ></flag>
                    </td>
                    <td align="left">
                      <v-tooltip bottom>
                          <template #activator="{ on }">
                            <v-icon :color="$filters.getUrgentNewsColor(item.type)" class="mr-1" v-on="on">mdi-circle</v-icon>
                          </template>
                          <span>{{ item.type ? item.type : "message" }}</span>
                        </v-tooltip>
                    </td>
                    <td nowrap>{{ formatDate(item.showuntil) }}</td>
                    <td>
                      <v-speed-dial
                        v-if="userIsDBA"
                        :value="item.speeddial"
                        :open-on-hover="true"
                        direction="left"
                        transition="slide-y-reverse-transition"
                        style="position: relative;"
                      >
                        <template v-slot:activator>
                          <v-btn icon>
                            <v-icon>mdi-dots-vertical</v-icon>
                          </v-btn>
                        </template>
                        <v-card elevation="2" class="d-flex">
                          <AdButton
                            :small="true"
                            type="edit"
                            :text="$t('edit')"
                            @click="editNewsItem(item)"
                            style="position:relative;z-index:9;"
                          />
                          <AdButton
                            :small="true"
                            type="delete"
                            :text="$t('delete')"
                            @click="deleteNewsItem(item)"
                            style="position:relative;z-index:9;"
                          />
                        </v-card>
                      </v-speed-dial>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import UrgentNewsFormDialog from '@/components/ServerAdmin/UrgentNewsFormDialog'
import { mapGetters } from 'vuex'

export default {
  name: 'UrgentNewsPanel',
  components: {
    UrgentNewsFormDialog
  },
  data () {
    return {
      search: null,
      dialogDelete: false,
      transition: null,
      item: null,
      // news: null,
      text: null,
      newsList: null,
      newsItem: {
        text: 'item.text',
        '#text': 'item.text.#text',
        showuntil: 'formatDate(item.showuntil)'
      }
    }
  },
  computed: {
    ...mapGetters({
      news: ['news/getNews']
    }),
    /**
     * Get table header structure.
     *
     * The table structure defines which field should shown
     * and in base of which key they are sortable. The fix width
     * for the columns can also defined here.
     *
     * @returns {[*]}
     */
    headers () {
      return [
        {
          text: this.$t('Urgentnews'),
          value: 'text',
          sortable: false
        },
        {
          text: this.$t('languages'),
          value: 'languages',
          sortable: false,
          align: 'center'
        },
        {
          text: this.$t('type'),
          value: 'type',
          sortable: false
        },
        {
          text: this.$t('Showuntil'),
          value: 'showuntil',
          sortable: true
        },
        {
          text: '',
          width: '5%',
          value: 'id',
          align: 'center'
        }
      ]
    },

    /**
     * Get all table items.
     *
     * @returns {[*]}
     */
    items () {
      return this.newsList || []
    }
  },
  created () {
    this.getNews()
    /*
    this.newsList = {
      artefact: "NEWS",
      current: "1",
      total: "1",
      all: "1",
      time: "2021-04-08T21:44:29.008+02:00",
      news: [
        {
          showuntil: "2021-05-27T16:48:00",
          type: "warning",
          id: "9879fb9c-1261-4a5e-b9fb-9c12612a5ffd",
          text: [
            { language: "en-US", "#text": "This is a Test Message 3" },
            { language: "nl-NL", "#text": "Dit is een testbericht 3" },
            { language: "de-DE", "#text": "Dies ist eine Testnachricht 3" },
          ],
        },
      ],
    };
    */
  },
  methods: {
    async getNews () {
      // Load news list.
      return this.$store.dispatch('news/setNews')
        .then(() => {
          // ignore
        })
        .catch((error) => {
          this.$notify(error)
        })
    },
    async editNewsItem (item) {
      this.$refs.UrgentNewsFormDialog.open(item)
    },
    async deleteNewsItem (item) {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        this.$store.dispatch('news/deleteNewsItem', item)
          .then(() => {
            this.$notify(this.$t('submission-update-success-label'), 'success')
          })
          .catch((error) => this.$confirm(error))
      }
    }
  }
}
</script>

<style lang="scss">
.component-server-admin-user-admin-panel {
  table {
    tr {
      cursor: pointer;

      td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:not(.v-data-table__mobile-row) {
          max-width: 0;
        }

        .v-data-table__expand-icon {
          float: right;
        }
      }

      &.v-data-table__expanded .v-data-table__expand-icon {
        transform: rotate(180deg);
      }
    }
  }
}
</style>
