<template>
  <div>
    <v-tooltip bottom>
      <template v-slot:activator="{ on: tooltip }">
        <v-btn
          color="orange lighten-2"
          dark
          v-on="tooltip"
          @click="openEmpty"
          fab
          small
          depressed
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <span>{{ $t("add-news") }}</span>
    </v-tooltip>

    <v-dialog v-model="dialog" width="800" persistent>
      <v-card>
        <AdCardTitle dialog>
          {{ mode === "create" ? $t("create-news") : $t("edit-news") }}
        </AdCardTitle>
        <v-card-text class="pa-5" v-if="thisItem !== null">
          <v-form>
            <v-row>
              <v-col cols="12">
                <EditableTranslationEditor
                  v-model="thisItem.text"
                  :locales="$root.availableLocales"
                  :label="$t('message')"
                  editor
                  :emitOnInput="true"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <EditableDropdown
                  v-model="thisItem.type"
                  :label="$t('type')"
                  :items="newsTypes"
                  item-value="value"
                  item-text="text"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6" v-if="thisItem.showuntil">
                <v-menu
                  ref="dateMenu"
                  v-model="showUntilDateActive"
                  :close-on-content-click="false"
                  :nudge-right="270"
                  transition="scale-transition"
                  max-width="50%"
                  offset-y
                  :return-value.sync="showUntilDate"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="showUntilDate"
                      :label="$t('Showuntil')"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="showUntilDate"
                    @input="showUntilDateActive !== true"
                    :locale="$i18n.locale"
                  >
                    <v-spacer></v-spacer>
                    <AdButton
                      type="cancel"
                      @click="showUntilDateActive = false"
                    />
                    <AdButton
                      type="ok"
                      @click="
                        $refs.dateMenu.save(showUntilDate);
                        setDateTimeFromPicker();
                        showUntilDateActive = false;
                      "
                    />
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="6" v-if="thisItem.showuntil">
                <v-menu
                  ref="timeMenu"
                  v-model="showUntilTimeActive"
                  :close-on-content-click="false"
                  :nudge-right="-10"
                  transition="scale-transition"
                  offset-y
                  :return-value.sync="showUntilTime"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="showUntilTime"
                      :label="$t('time')"
                      :value="showUntilTime"
                      prepend-icon="mdi-clock-outline"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-model="showUntilTime"
                    @input="showUntilTimeActive !== true"
                    :locale="$i18n.locale"
                    format="24hr"
                  >
                    <v-spacer></v-spacer>
                    <AdButton
                      type="cancel"
                      @click="showUntilTimeActive = false"
                    />
                    <AdButton
                      type="ok"
                      @click="
                        $refs.timeMenu.save(showUntilTime);
                        setDateTimeFromPicker();
                        showUntilTimeActive = false;
                      "
                    />
                  </v-time-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions class="dialogbottomstrip">
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="close" />
          <AdButton
            type="save"
            :hint="$t('save-news')"
            @click="saveOrUpdateNews"
            depressed
            :disabled="!newsEntryComplete"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import EditableTranslationEditor from '@/components/Utilities/Editable/EditableTranslationEditor'
import EditableDropdown from '@/components/Utilities/Editable/EditableDropdown/EditableDropdown'

export default {
  name: 'UrgentNewsFormDialog',
  components: {
    EditableTranslationEditor,
    EditableDropdown
  },
  data () {
    return {
      dialog: false,
      thisItem: null,
      showUntilDateActive: false,
      showUntilDate: null,
      showUntilTimeActive: false,
      showUntilTime: null,
      emptyNews: {
        showuntil: this.currentDate(),
        type: 'error',
        id: null,
        text: []
      },
      newsTypes: [
        { text: this.$t('error'), value: 'error' },
        { text: this.$t('warning'), value: 'warning' },
        { text: this.$t('Info'), value: 'info' }
      ]
    }
  },
  watch: {
    value: {
      immediate: true,
      handler: function () {
        // Perform reset.
        this.reset()
      }
    }
  },
  computed: {
    mode () {
      // new newsItem has no id
      return this.thisItem?.id === null ? 'create' : 'edit'
    },
    newsEntryComplete () {
      return this.thisItem.showuntil !== null &&
        this.thisItem.text.length > 0
    }
  },
  methods: {
    /**
     * Reset the creation form.
     */
    reset () {
      // Rest item in base of default item.
      this.thisItem = JSON.parse(JSON.stringify(this.emptyNews))
    },

    /**
     * Close the dialog.
     */
    close () {
      // Close dialog.
      this.dialog = false
      // Perform reset.
      this.reset()
    },

    /**
     * Open the dialog to create news item
     *
     */
    openEmpty () {
      // Clone item.
      this.thisItem = JSON.parse(JSON.stringify(this.emptyNews))
      this.getPickerDateTime()
      this.dialog = true
    },

    /**
     * get /set split date and time variables based on thisItem date/time
     */
    getPickerDateTime () {
      this.showUntilDate = this.thisItem.showuntil.substring(0, 10)
      this.showUntilTime = this.thisItem.showuntil.substring(11, 16)
    },
    setDateTimeFromPicker () {
      this.thisItem.showuntil = this.showUntilDate.concat(
        'T',
        this.showUntilTime.substring(0, 5),
        ':00'
      )
    },

    /**
     * Open the dialog to edit news item
     *
     * @param item
     */
    open (item) {
      // Clone item.
      this.thisItem = JSON.parse(JSON.stringify(item))
      this.getPickerDateTime()
      this.dialog = true
    },

    /**
     * Save or update the item
     */
    async saveOrUpdateNews () {
      // Update news on rest api.
      try {
        if (this.mode === 'create') {
          return this.$store.dispatch('news/postNewsItem', this.thisItem)
            .then(() => {
              // Close dialog.
              this.close()
            })
            .catch((error) => this.$confirm(error))
        } else {
          return this.$store.dispatch('news/putNewsItem', this.thisItem)
            .then(() => {
              this.close()
            })
            .catch((error) => this.$confirm(error))
        }
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn.v-btn--disabled {
  background-color: initial;
}
</style>
