<template>
  <v-layout class="component-server-admin-user-admin-panel">

    <!-- Add USER dialog -->
    <v-dialog
      v-model="addUserBtn"
      max-width="600"
      scrollable
      persistent
    >
      <v-card>
        <AdCardTitle dialog>{{ $t('add-user') }}</AdCardTitle>
        <v-card-text>
          <v-form
            v-if="addUserBtn"
            ref="formNewUser"
            v-model="valid"
          >
            <v-text-field
              v-model.trim.lazy="newUser.name"
              :rules="(rulesUser.username != null) ? rulesUser.username : []"
              ref="name"
              :label="$t('username')"
              prepend-icon="mdi-account"
              :error-messages="userExistError"
              :required="rulesUser.requiredAttributes.includes('name')"
              @blur="checkUserNameExists(newUser.name)"
            ></v-text-field>
            <EditableString
              v-model.trim="newUser.displayName"
              ref="displayName"
              :required="rulesUser.requiredAttributes.includes('displayName')"
              :rules="(rulesUser.displayName != null) ? rulesUser.displayName : []"
              :label="$t('display-name')"
            />
            <EditableSwitch
              v-model="newUser.active"
              :value="newUser.active"
              label="Is user active?"
            />
            <EditableShortDescriptiveName
              v-model.trim="newUser.organization"
              :required="rulesUser.requiredAttributes.includes('organization')"
              :label="$t('organization')"
            />
            <EditableShortDescriptiveName
              v-model.trim="newUser.description"
              :required="rulesUser.requiredAttributes.includes('description')"
              :label="$t('description')"
            />
            <EditableEmail
              v-model.trim="newUser.email"
              ref="email"
              :label="$t('email')"
            />
            <EditableDropdown
              v-model="newUser.defaultLanguage"
              :items="$root.langs"
              :label="$t('preferred-user-language')"
              :required="rulesUser.requiredAttributes.includes('defaultLanguage')"
            />
            <EditableSwitch
              v-model="newUser.resetnotify"
              :value="newUser.resetnotify"
              :label="$t('automatic-passwd-notify')"
              :infoText="$t('automatic-passwd-notify-hint')"
            />
            <span v-if="newUser.resetnotify !== 'true'">
              <PasswordStrengthMeter
                v-model="newUser.password"
                ref="password"
                :label="$t('password')"
                @generated="newUser.confirmPassword = $event"
                :required="rulesUser.requiredAttributes.includes('password')"
                generation
              />
              <PasswordStrengthMeter
                v-model="newUser.confirmPassword"
                ref="confirmPassword"
                :match="newUser.password"
                :required="rulesUser.requiredAttributes.includes('confirmPassword')"
                :label="$t('password-repeat')"
              />
            </span>
            <v-row no-gutters>
                <v-col cols="10">
                  <EditableDropdown
                    v-if="groups"
                    v-model="newUser.groups"
                    item-value="#text"
                    item-text="#text"
                    :items="groups"
                    :label="$t('groups')"
                    :required="rulesUser.requiredAttributes.includes('groups')"
                    multiple
                    chips
                  />
                </v-col>
                <v-col cols="2">
                  <AdButton
                    type="add"
                    text=" "
                    larger
                    class="mt-5"
                    icon="mdi-account-multiple-plus"
                    :hint="$t('add-default-groups')"
                    @click="addDefaultGroupsToUser()"
                  />
                </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions class="dialogbottomstrip">
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="cancelAddUser"/>
          <AdButton type="add" @click="addUser"/>
        </v-card-actions>
        <v-alert
          v-if="newUserError"
          class="ml-4 mr-4"
          type="error"
        >
          {{newUserError}}
        </v-alert>
      </v-card>
    </v-dialog>

    <v-container fluid>

      <PanelLoading :loading="panelLoading" />

      <v-row v-if="userIsDBA">
        <v-col>
          <v-card v-if="usersList !== null">
            <AdCardTitle prependicon="mdi-account-multiple">
              <v-row no-gutters>
                <v-col cols="12" sm="6" class="d-flex align-center">{{ $t('users') }}</v-col>
                <v-col cols="12" sm="6" class="d-flex align-center">
                  <v-text-field
                    v-model="search"
                    class="mr-2"
                    append-icon="mdi-magnify"
                    :label="$t('search')"
                    single-line
                    hide-details
                    solo
                    dense
                    clearable
                  ></v-text-field>
                  <AdButton v-if="userIsDBA" type="add" small fab @click="addUserStart" />
                </v-col>
              </v-row>
            </AdCardTitle>
            <v-card-text class="pt-4">
              <v-data-table
                :headers="headers"
                :items="users"
                :expanded="expanded"
                :search="search"
                @click:row="selectRow"
                item-key="name"
                show-expand
                single-expand
                single-select
              >
                <template v-slot:[`item.displayName`]="{ item }">
                  <div
                    :id="'user-admin-' + item.name"
                    class="d-flex align-center flex-row flex-grow-1 py-2"
                  >
                    <v-avatar size="36" color="orange lighten-3 mr-2">
                      <span class="white--text subtitle-1">
                        {{
                          item.displayName
                            .split(" ", 1)
                            .map((n) => n[0])
                            .join("").toLowerCase()
                        }}
                      </span>
                    </v-avatar>
                    <strong v-html="item.displayName"></strong>
                  </div>
                </template>

                <template v-slot:[`item.name`]="{ item }">
                  <span class="grey--text text-truncate hidden-sm-and-down">
                    {{ item.name }}
                  </span>
                </template>

                <template v-slot:[`item.active`]="{ item }">
                  <v-chip
                    v-if="item.active"
                    v-bind:color="
                      item.active === 'true' ? 'green lighten-4' : 'red lighten-4'
                    "
                    class="ml-0 mr-2 black--text"
                    label
                    small
                  >
                    <span v-if="item.active === 'true'">{{ $t("active") }}</span>
                    <span v-else>{{ $t("inactive") }}</span>
                  </v-chip>
                </template>

                <template v-slot:[`item.groups`]="{ item }">
                  <v-chip
                    class="orange--text orange lighten-5 text-truncate hidden-sm-and-down mr-2"
                    v-for="(g, key) in item.groups.slice(0, 2)"
                    :key="key"
                    small
                  >
                    {{ g }}
                  </v-chip>
                  <v-icon v-if="item.groups.length >= 3" class="orange--text"
                    >mdi-dots-horizontal</v-icon
                  >
                </template>

                <template v-slot:[`item.data-table-expand`]>
                  <button class="v-icon notranslate mdi mdi-chevron-down theme--light v-data-table__expand-icon v-icon--link"></button>
                </template>

                <template v-slot:expanded-item="{ headers }">
                  <td :colspan="headers.length">
                    <v-simple-table style="margin: 20px 0;">
                      <template v-slot:default>
                        <tbody>
                          <tr v-if="userDetail.description">
                            <th width="150">Description</th>
                            <td>{{ userDetail.description }}</td>
                          </tr>
                          <tr v-if="userDetail.email">
                            <th width="150">E-mail</th>
                            <td>{{ userDetail.email }}</td>
                          </tr>
                          <tr v-if="userDetail.organization">
                            <th width="150">Organization</th>
                            <td>{{ userDetail.organization }}</td>
                          </tr>
                          <tr v-if="userDetail.primarygroup">
                            <th width="150">Primary group</th>
                            <td>{{ userDetail.primarygroup }}</td>
                          </tr>
                          <tr v-if="userDetail.groups">
                            <th width="150">Groups</th>
                            <td>
                              <v-chip
                                class="lighten-5 text-truncate hidden-sm-and-down mr-2"
                                :class="(g === userDetail.primarygroup) ? 'red--text red' : 'orange--text orange'"
                                v-for="(g, i) in userDetail.groups"
                                :key="`group-${i}`"
                                small
                              >{{ g }}</v-chip>
                            </td>
                          </tr>
                          <tr v-if="userDetail.project">
                            <th width="150">Projects</th>
                            <td>
                              <v-chip
                                class="orange--text orange lighten-5 text-truncate hidden-sm-and-down mr-2"
                                v-for="(p, i) in userDetail.project"
                                :key="`project-${i}`"
                                small
                              >{{ p.prefix }}</v-chip>
                            </td>
                          </tr>
                          <tr v-if="userDetail.lastlogin">
                            <th width="150">Last Login</th>
                            <td>
                              {{ $filters.formatDateShort(userDetail.lastlogin) }}
                              <v-chip
                                :color="getColorForDate(userDetail.lastlogin)"
                                dark
                                class="ml-4"
                              >
                                {{ daysAgoLastLogin(userDetail.lastlogin) }}
                                {{ $t('days-ago')}}
                              </v-chip>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="2">
                              <AdButton
                                type="edit"
                                :small="true"
                                admin
                                @click="editUser"
                                class="mr-3"/>
                              <AdButton
                                type="edit"
                                :small="true"
                                admin
                                @click="editUserPassword"
                                :text="$t('password')"
                                :hint="$t('reassign-password')"
                                class="mr-3"/>
                              <AdButton
                                type="notify"
                                :small="true"
                                admin
                                :disabled="userDetail.active !== 'true'"
                                @click="notifyThisUser(userDetail.name)"
                                :text="$t('notify')"
                                :hint="$t('notify')"/>
                              <v-dialog
                                v-model="editUserPasswordBtn"
                                scrollable
                                max-width="600"
                                transition="dialog-bottom-transition"
                              >
                                <v-card>
                                  <AdCardTitle dialog>{{ $t('edit-password') }}</AdCardTitle>
                                  <v-card-text class="pt-5">
                                    <v-form
                                      v-if="editUserPasswordBtn"
                                      ref="form"
                                      v-model="valid"
                                      lazy-validation
                                    >
                                      <PasswordStrengthMeter
                                        v-model="userDetailEdit.password"
                                        :label="$t('password')"
                                        @generated="userDetailEdit.confirmPassword = $event"
                                        generation
                                      />
                                      <PasswordStrengthMeter
                                        v-model="userDetailEdit.confirmPassword"
                                        :match="userDetailEdit.password"
                                        :label="$t('password-repeat')"
                                      />
                                    </v-form>
                                  </v-card-text>
                                  <v-card-actions class="dialogbottomstrip">
                                    <v-spacer></v-spacer>
                                    <AdButton type="cancel" @click="editUserPasswordBtn = false"/>
                                    <AdButton type="save" @click="updateUserPassword"/>
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>
                              <v-dialog
                                v-model="editUserBtn"
                                scrollable
                                max-width="600"
                              >
                                <v-card>
                                  <AdCardTitle dialog>{{ $t('edit') }} {{ $t('user') }}</AdCardTitle>
                                  <v-card-text class="pt-5">
                                    <v-form
                                      ref="form"
                                      v-model="valid"
                                    >
                                      <EditableString
                                        v-model.trim="userDetailEdit.displayName"
                                        ref="displayName"
                                        :rules="(rulesUser.displayName != null) ? rulesUser.displayName : []"
                                        :required="rulesUser.requiredAttributes.includes('displayName')"
                                        :label="$t('display-name')"
                                      />
                                      <EditableSwitch
                                        v-model="userDetailEdit.active"
                                        :value="userDetailEdit.active"
                                        label="Is user active?"
                                      />
                                      <EditableShortDescriptiveName
                                        v-model.trim="userDetailEdit.organization"
                                        :required="rulesUser.requiredAttributes.includes('organization')"
                                        :label="$t('organization')"
                                      />
                                      <EditableShortDescriptiveName
                                        v-model.trim="userDetailEdit.description"
                                        :required="rulesUser.requiredAttributes.includes('description')"
                                        :label="$t('description')"
                                      />
                                      <EditableEmail
                                        v-model.trim="userDetailEdit.email"
                                        ref="email"
                                        :label="$t('email')"
                                        :required="false"
                                      />
                                      <EditableDropdown
                                        v-if="groups"
                                        v-model="userDetailEdit.groups"
                                        item-value="#text"
                                        item-text="#text"
                                        :items="groups"
                                        :label="$t('groups')"
                                        multiple
                                        chips
                                      />
                                      <EditableDropdown
                                        v-model="userDetailEdit.primarygroup"
                                        :items="userDetailEdit.groups"
                                        :required="rulesUser.requiredAttributes.includes('email')"
                                        :label="$t('primarygroup')"
                                      />
                                    </v-form>
                                  </v-card-text>
                                  <v-card-actions class="dialogbottomstrip">
                                    <v-spacer></v-spacer>
                                    <AdButton type="cancel" @click="editUserBtn = false"/>
                                    <AdButton type="save" @click="updateUser"/>
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>
                            </td>
                          </tr>
                        </tfoot>
                      </template>
                    </v-simple-table>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <!-- User {{ usersList }} -->

    </v-container>
  </v-layout>
</template>

<script>
import ServerService from '@/services/ServerService'
import user from '@/models/user'
import rulesUser from '@/rules/user'

import { differenceInCalendarDays } from 'date-fns'

export default {
  components: { },
  name: 'UserAdminPanel',
  data () {
    return {
      addUserBtn: false,
      dialog: null,
      editUserBtn: false,
      editUserPasswordBtn: false,
      expanded: [],
      groups: [],
      loading: true,
      newUser: { ...user },
      newUserError: null,
      panelLoading: true,
      rulesUser,
      search: null,
      tooltip: null, // What should be the source?
      transition: '',
      userExistError: [],
      usersList: null,
      userDetail: null,
      userDetailEdit: {},
      valid: true
    }
  },
  computed: {
    /**
     * Get table header structure.
     *
     * The table structure defines which field should shown
     * and in base of which key they are sortable. The fix width
     * for the columns can also defined here.
     *
     * @returns {[*]}
     */
    headers () {
      return [
        {
          text: this.$t('display-name'),
          value: 'displayName',
          sortable: true,
          width: '30%'
        },
        { text: this.$t('user'), value: 'name', sortable: true, width: '20%' },
        {
          text: this.$t('status'),
          value: 'active',
          sortable: true,
          width: '20%'
        },
        {
          text: this.$t('groups'),
          value: 'groups',
          sortable: true,
          width: '25%'
        },
        {
          text: '',
          value: 'data-table-expand',
          width: '48px'
        }
      ]
    },

    users () {
      if (this.query && this.usersList.user) {
        return this.usersList.user.filter((user) =>
          (user.email && user.email.toLowerCase().includes(this.query.toLowerCase)) ||
          (user.dispayName && user.dispayName.toLowerCase().includes(this.query.toLowerCase)) ||
          (user.name && user.name.toLowerCase().includes(this.query.toLowerCase))
        )
      } else {
        return this.usersList.user || []
      }
    },

    daysAgoLastLogin () {
      return (d) => {
        return differenceInCalendarDays(new Date(), new Date(d))
      }
    },

    getColorForDate () {
      return (d) => {
        // get colors depening on days ago last login
        if (this.daysAgoLastLogin(d) < 1) return 'green lighten-2'
        if (this.daysAgoLastLogin(d) < 7) return 'orange lighten-2'
        if (this.daysAgoLastLogin(d) < 30) return 'red lighten-2'
        return 'pink lighten-2'
      }
    }
  },
  watch: {
    isUserLoggedIn: {
      immediate: true,
      handler: async function () {
        // Set panel loading to false.
        this.loading = true
        // Get users list.
        await this.getUsersList()
        // Set panel loading to false.
        this.loading = false
      }
    }
  },
  methods: {
    /**
     * Get users list.
     */
    async getUsersList () {
      // Check if user is dba.
      this.panelLoading = true
      if (this.userIsDBA === true) {
        // Load users list.
        this.usersList = (await ServerService.getUsersList()).data
      }
      this.panelLoading = false
    },

    /**
     * Get user detail.
     */
    async getUserDetail (name) {
      // Check if user is dba.
      if (this.userIsDBA === true) {
        // Load user detail.
        this.userDetail = (await ServerService.getUser(name)).data
      }
    },

    /**
     * Select row.
     *
     * @param item
     * @param row
     */
    async selectRow (item, row) {
      // Check if name of item is not matching with loaded item.
      if (item.name !== this.userDetail?.name) {
        // Select current row.
        row.select(true)
        // Get user detail.
        await this.getUserDetail(item.name)
        // Set expanded item.
        this.expanded = [item]
        // Wait for next tick.
        this.$nextTick(() => {
          // Perform smooth scroll to issue panel.
          this.$vuetify.goTo('#user-admin-' + item?.name, {
            duration: 500,
            offset: 50,
            easing: 'easeInOutCubic'
          })
        })
      } else {
        // Unselect current row.
        row.select(false)
        // Unset user detail.
        this.userDetail = null
        // Set expanded item.
        this.expanded = []
      }
    },
    /**
     * Get groups
     * Call on editUser
     */
    async getGroupsList () {
      // exclude userGroup
      this.groups = (await ServerService.getGroupsList())?.data?.group.filter((g) => g?.userGroup === 'false')
    },
    /**
     * Create user related functions
     */
    async addUserStart () {
      await this.getGroupsList()
      this.initUser()
      this.$nextTick(() => {
        this.addUserBtn = true
      })
    },
    async checkUserNameExists (name) {
      if (name) {
        try {
          const userExist = (await ServerService.getUser(name)).data
          this.userExistError = (userExist) ? [this.$t('already-exists')] : []
        } catch (error) {
          // ignore, no user found, so ok for new user
          this.userExistError = []
        }
      }
    },
    async addUser () {
      if (
        this.newUser.primarygroup &&
        this.newUser.groups.indexOf(this.newUser.primarygroup) < 0
      ) {
        // in case the user has set a primary group and removed it from the selection
        this.newUser.primarygroup = null
      }
      if (this.newUser.password !== this.newUser.confirmPassword) {
        this.newUser.confirmPassword = null
      }
      // user shall be notified? Then add a random password, the real one is later sent out
      if (this.newUser.resetnotify === 'true') {
        const tp = 'T-' + this.getUuid()
        this.newUser.password = tp
        this.newUser.confirmPassword = tp
      }
      if (this.$refs.formNewUser.validate()) {
        try {
          const userCreated = await ServerService.addUser(
            this.newUser
          )
          if (userCreated?.data !== null) {
            if (this.usersList.user === undefined) {
              // first user in the app
              this.$set(this.usersList, 'user', [])
            }
            this.usersList.user.push(userCreated?.data)
            this.addUserBtn = false
            this.$notify(this.$t('submission-insert-success-label'), 'success')
            // notify user if requested
            try {
              ServerService.notifyUser(this.newUser.name)
              this.$notify('User notification initiated...', 'success')
            } catch {
              this.$notify('Problem to initiate user notifcation...', 'error')
            }
            this.$nextTick(() => {
              this.initUser()
            })
          }
        } catch (error) {
          if (error?.response?.data?.description) {
            this.newUserError = error?.response?.data?.description
          }
        }
      } else {
        // set the focus on the field that has the error
        const hasError = rulesUser.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$refs[hasError[0]].focus()
        }
      }
    },
    cancelAddUser () {
      // Close dialog
      this.addUserBtn = false
      this.$nextTick(() => {
        this.initUser()
      })
    },
    /**
     * initiate a user notification
     */
    async notifyThisUser (name) {
      // verify request
      const agree = await this.$confirm(this.$t('really-notify-user'))
      if (agree) {
        try {
          ServerService.notifyUser(name)
          this.$notify('User notification initiated...', 'success')
        } catch {
          this.$notify('Problem to initiate user notifcation...', 'error')
        }
      }
    },
    initUser () {
      this.newUser = { ...user }
      this.newUserError = null
    },
    /**
     * Update user related functions
     * Copy userDetails in new userDetailEdit object, so cancel leaves original untouched
     */
    async editUser () {
      await this.getGroupsList()
      // copy, so that on change and cancel (by the user) the original data (in the view) is not changed
      this.userDetailEdit = { ...this.userDetail }
      this.$nextTick(() => {
        this.editUserBtn = true
      })
    },
    async updateUser () {
      if (this.$refs.form.validate()) {
        try {
          const updatedUser = await ServerService.updateUser(
            this.userDetailEdit.name,
            this.userDetailEdit
          )
          if (updatedUser?.data !== null) {
            // get the index of the matching user
            const index = this.usersList.user.findIndex(user => user.name === this.userDetailEdit.name)
            if (index !== -1) {
              // update the data in the details table
              this.userDetail = updatedUser?.data
              this.userDetailEdit = updatedUser?.data
              // replace user in the list
              this.usersList.user.splice(index, 1, updatedUser?.data)
            }
          }
          this.$notify(this.$t('submission-save-success-label'), 'success')
          // Close dialog
          this.editUserBtn = false
        } catch (error) {
          if (error?.response?.data?.description) {
            this.$alert(error?.response?.data?.description)
          }
        }
      }
    },
    async editUserPassword () {
      this.userDetailEdit = { ...this.userDetail }
      this.$nextTick(() => {
        this.editUserPasswordBtn = true
      })
    },
    async updateUserPassword () {
      if (this.$refs.form.validate()) {
        const { password, confirmPassword } = this.userDetailEdit
        const updatedUser = await ServerService.updateUserPassword({
          username: this.userDetailEdit.name,
          password,
          confirmPassword
        })
        if (updatedUser?.data !== null) {
          this.userDetailEdit.password = null
          this.userDetailEdit.confirmPassword = null
          this.$notify(this.$t('submission-save-success-label'), 'success')
        }
        // Close dialog
        this.editUserPasswordBtn = false
      }
    },
    addDefaultGroupsToUser () {
      ['decor', 'editor', 'issues', 'terminology'].forEach((g, i) => {
        if (!this.newUser.groups.includes(g)) {
          if (!this.groups.includes(g)) {
            this.newUser.groups.push(g)
          }
        }
      })
    }
  }
}
</script>

<style lang="scss">
.component-server-admin-user-admin-panel {
  table {
    tr {
      cursor: pointer;

      td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:not(.v-data-table__mobile-row) {
          max-width: 0;
        }

        .v-data-table__expand-icon {
          float: right;
        }
      }

      &.v-data-table__expanded .v-data-table__expand-icon {
        transform: rotate(180deg);
      }
    }
  }
}
</style>
