<template>
  <AdPageUnavailable :path="['decor.datasets', 'decor.datasets.dataset']">
    <v-layout>
      <v-flex>
        <DatasetPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import DatasetPanel from '@/components/Dataset/DatasetPanel'
import datasetListeners from '@/listeners/dataset'
import conceptListeners from '@/listeners/concept'

export default {
  name: 'AdDataset',
  components: {
    DatasetPanel
  },
  beforeRouteUpdate (to, from, next) {
    if (from.params.prefix !== to.params.prefix) {
      const prefix = from.params.prefix

      this.sockets.unsubscribe(`PATCH/${prefix}/concept`)
      this.sockets.unsubscribe(`POST/${prefix}/concept`)
      this.sockets.unsubscribe(`POST/${prefix}/datasetClearLocks`)
      this.sockets.unsubscribe(`POST/${prefix}/conceptDeInherit`)
      this.sockets.unsubscribe(`POST/${prefix}/conceptStatus`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationConcept`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationConceptValueset`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationIdentifier`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationValuesetCode`)
    }
    next()
  },
  beforeRouteLeave (to, from, next) {
    const prefix = from.params.prefix

    this.sockets.unsubscribe(`PATCH/${prefix}/concept`)
    this.sockets.unsubscribe(`POST/${prefix}/concept`)
    this.sockets.unsubscribe(`POST/${prefix}/datasetClearLocks`)
    this.sockets.unsubscribe(`POST/${prefix}/conceptDeInherit`)
    this.sockets.unsubscribe(`POST/${prefix}/conceptStatus`)
    this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationConcept`)
    this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationValueset`)
    this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationIdentifier`)
    this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationValuesetCode`)

    if (to.name === 'terminology-associations' && from.params.datasetId && from.params.datasetVersion && from.params.conceptId && from.params.conceptVersion) {
      next({
        name: 'terminology-associations-data-set-concept',
        params: from.params
      })
    }
    if (to.name === 'terminology-associations' && from.params.datasetId && from.params.datasetVersion) {
      next({
        name: 'terminology-associations-data-set',
        params: from.params
      })
    }
    // do not clear store if LOINC panel import is active
    if (!(to.name === 'browser-project' && this.$store.getters['dataset/loincImportActive'])) {
      const initExceptions = ['datasetItems']
      const datasetItemsLoaded = this.$store.state.dataset.loaded.datasetItems

      this.$store.commit('dataset/initDataset', initExceptions)
      this.$store.commit('dataset/setLoaded', { key: 'datasetItems', status: datasetItemsLoaded })
    }
    next()
  },
  mounted () {
    const prefix = this.projectInFocus?.prefix

    this.sockets.subscribe(`PATCH/${prefix}/concept`, conceptListeners.patchConcept.bind(this, { silent: false }))
    this.sockets.subscribe(`POST/${prefix}/concept`, conceptListeners.postConcept.bind(this, { silent: false }))
    this.sockets.subscribe(`POST/${prefix}/conceptStatus`, conceptListeners.postConceptStatus.bind(this, { silent: false }))
    this.sockets.subscribe(`POST/${prefix}/datasetClearLocks`, datasetListeners.postDatasetClearLocks.bind(this, { silent: false }))
    this.sockets.subscribe(`POST/${prefix}/conceptDeInherit`, conceptListeners.postConceptDeInherit.bind(this, { silent: false }))
    this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationConcept`, conceptListeners.patchConceptMap.bind(this, { silent: false }))
    this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationValueset`, conceptListeners.patchConceptMap.bind(this, { silent: false, associationType: 'valueset' }))
    this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationIdentifier`, conceptListeners.patchConceptMap.bind(this, { silent: false, associationType: 'identifier' }))
    this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationValuesetCode`, conceptListeners.patchConceptMap.bind(this, { silent: false, associationType: 'valuesetCode' }))
  }
}
</script>
