<template>
  <AdPageUnavailable :path="['decor.terminology', 'decor.terminology.mappings']">
    <v-layout>
      <v-flex>
        <AssociationsPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import AssociationsPanel from '@/components/Terminology/AssociationsPanel'
import datasetListeners from '@/listeners/dataset'
import conceptListeners from '@/listeners/concept'

export default {
  name: 'TerminologyAssociations',
  components: {
    AssociationsPanel
  },
  methods: {
    unsubscribe (prefix) {
      this.sockets.unsubscribe(`PATCH/${prefix}/concept`)
      this.sockets.unsubscribe(`POST/${prefix}/concept`)
      this.sockets.unsubscribe(`POST/${prefix}/datasetClearLocks`)
      this.sockets.unsubscribe(`POST/${prefix}/conceptStatus`)

      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationConcept`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationValueset`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationIdentifier`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationValuesetCode`)
    }
  },
  beforeRouteEnter (to, from, next) {
    if (to.name === 'terminology-associations') {
      return next(async vm => {
        if (!vm.$store.state.dataset.loaded.datasetItems) {
          vm.$store.dispatch('dataset/loadDatasetItems')
        }
        if (!vm.$store.state.scenario.loaded.scenarioItems) {
          vm.$store.dispatch('scenario/loadScenarioItems')
        }
      })
    }
    next()
  },
  async beforeRouteUpdate (to, from, next) {
    if (from.params.prefix !== to.params.prefix) {
      const prefix = from.params.prefix
      this.unsubscribe(prefix)
    }

    if (!this.$store.state.dataset.loaded.datasetItems) {
      this.$store.dispatch('dataset/loadDatasetItems')
    }
    if (!this.$store.state.scenario.scenarioItems?.length) {
      this.$store.dispatch('scenario/loadScenarioItems')
    }
    next()
  },
  beforeRouteLeave (to, from, next) {
    const prefix = from.params.prefix
    this.unsubscribe(prefix)

    if (to.name === 'dataset' && from.params.datasetId && from.params.datasetVersion && from.params.conceptId && from.params.conceptVersion) {
      next({
        name: 'dataset-details-version',
        params: from.params
      })
    }
    if (to.name === 'dataset' && from.params.datasetId && from.params.datasetVersion) {
      next({
        name: 'dataset-details',
        params: from.params
      })
    }

    const ignoreRoutesForInitDataset = ['browser-project', 'browser-project-concept']
    if (!(ignoreRoutesForInitDataset.includes(to.name) && this.$store.getters['dataset/activeAssociationId'])) {
      // reset dataset in store,
      // but not in case the user navigates to Terminology Browser
      {
        const initExceptions = ['datasetItems']
        const datasetItemsLoaded = this.$store.state.dataset.loaded.datasetItems
        this.$store.commit('dataset/initDataset', initExceptions)
        this.$store.commit('dataset/setLoaded', { key: 'datasetItems', status: datasetItemsLoaded })
      }

      {
        const initExceptions = ['scenarioItems', 'actors']
        const scenarioItemsLoaded = this.$store.state.scenario.loaded.scenarioItems
        const actorsLoaded = this.$store.state.scenario.loaded.actors
        this.$store.commit('scenario/initScenario', initExceptions)
        this.$store.commit('scenario/setLoaded', { key: 'scenarioItems', status: scenarioItemsLoaded })
        this.$store.commit('scenario/setLoaded', { key: 'actors', status: actorsLoaded })
      }

      // if conceptAssociation is still active but the user wants to leave,
      // remove the context
      if (
        ['conceptAssociation', 'transactionConceptAssociation'].includes(this.$store.getters['dataset/activeAssociationType']) &&
        this.$store.getters['dataset/activeAssociationDatasetId'] &&
        this.$store.getters['dataset/activeAssociationDatasetVersion'] &&
        this.$store.getters['dataset/activeAssociationId'] &&
        this.$store.getters['dataset/activeAssociationVersion']
      ) {
        this.$store.dispatch('dataset/changeActiveAssociationType', null)
      }
    }
    next()
  },
  mounted () {
    const prefix = this.projectInFocus?.prefix

    this.sockets.subscribe(`PATCH/${prefix}/concept`, conceptListeners.patchConcept.bind(this, { silent: true }))
    this.sockets.subscribe(`POST/${prefix}/concept`, conceptListeners.postConcept.bind(this, { silent: true }))
    this.sockets.subscribe(`POST/${prefix}/datasetClearLocks`, datasetListeners.postDatasetClearLocks.bind(this, { silent: true }))
    this.sockets.subscribe(`POST/${prefix}/conceptStatus`, conceptListeners.postConceptStatus.bind(this, { silent: true }))

    this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationConcept`, conceptListeners.patchConceptMap.bind(this, { silent: false }))
    this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationValueset`, conceptListeners.patchConceptMap.bind(this, { silent: false, associationType: 'valueset' }))
    this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationIdentifier`, conceptListeners.patchConceptMap.bind(this, { silent: false, associationType: 'identifier' }))
    this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationValuesetCode`, conceptListeners.patchConceptMap.bind(this, { silent: false, associationType: 'valuesetCode' }))
  }
}
</script>
