<template>
  <AdPageUnavailable :path="['decor.terminology', 'decor.terminology.browser']">
    <v-layout>
      <v-container fluid>
        <AdBreadcrumbs :items="breadcrumbs" />
        <AdInfoOwl
          v-if="$store.state.terminology.startShopping &&
            $store.getters['terminology/shoppingCart'].length === 0 &&
            !$store.getters['dataset/activeAssociationType']"
          inset
        >
          {{$t('start-new-valueset-hint')}}
        </AdInfoOwl>

        <AdInfoOwl v-if="$store.getters['dataset/activeAssociationType'] === 'conceptAssociation'" inset>
          {{$t('concept-association-mappings-instruction')}}
        </AdInfoOwl>

        <AdInfoOwl v-if="$store.getters['dataset/loincImportActive']" inset>
          {{$t('import-loinc-panel-instruction')}}
        </AdInfoOwl>

        <AdInfoOwl v-if="$store.state.terminology.editValueSetBtn" class="mt-5">
          {{
            $t('start-search-for-valueset-hint', { vs: $store.state.terminology.valueSetItem.displayName } )
          }}
        </AdInfoOwl>

        <TerminologyBrowserSearchPanel/>
        <TerminologyBrowserIndexPanel v-if="['browser', 'browser-project'].includes($route.name) && $store.getters['terminology/shoppingCart'].length === 0" class="mt-1"/>
        <TerminologyBrowserConceptPanel v-if="!['browser', 'browser-project'].includes($route.name)" class="mt-1"/>
        <TerminologyAssociationsCart v-if="userIsEditor && $store.getters['dataset/activeAssociationType'] !== null" />
        <ValueSetCompositionCard v-else-if="userIsEditor && ($store.state.terminology.editValueSetBtn || $store.state.terminology.startShopping) && (!['browser', 'browser-concept'].includes($route.name) || $store.getters['terminology/shoppingCart'].length > 0)"/>
        <TerminologyLoincImportPanel v-if="userIsEditor && $store.getters['dataset/loincImportActive']" />
      </v-container>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import TerminologyBrowserSearchPanel from '@/components/Terminology/TerminologyBrowserSearchPanel'
import TerminologyBrowserIndexPanel from '@/components/Terminology/TerminologyBrowserIndexPanel'
import TerminologyBrowserConceptPanel from '@/components/Terminology/TerminologyBrowserConceptPanel'
import TerminologyAssociationsCart from '@/components/Terminology/TerminologyAssociationsCart'
import ValueSetCompositionCard from '@/components/Terminology/ValueSetCompositionCard.vue'
import TerminologyLoincImportPanel from '@/components/Terminology/TerminologyLoincImportPanel.vue'

export default {
  name: 'BrowserIndex',
  components: {
    TerminologyBrowserSearchPanel,
    TerminologyBrowserIndexPanel,
    TerminologyBrowserConceptPanel,
    TerminologyAssociationsCart,
    ValueSetCompositionCard,
    TerminologyLoincImportPanel
  },
  computed: {
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$t('home'),
          to: { name: 'home' },
          show: ['browser', 'browser-concept']
        },
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['browser-project', 'browser-project-concept']
        },
        {
          text: this.$t('terminology'),
          disabled: true,
          show: ['browser', 'browser-concept', 'browser-project', 'browser-project-concept']
        },
        {
          exact: true,
          text: this.$t('browser'),
          to: { name: this.$route.params.prefix ? 'browser-project' : 'browser' },
          show: ['browser', 'browser-concept', 'browser-project', 'browser-project-concept']
        },
        {
          exact: true,
          text: this.$route.params?.codeSystemId,
          to: {
            name: this.$route.params.prefix ? 'browser-project-concept' : 'browser-concept',
            params: {
              codeSystemId: this.$route.params?.codeSystemId,
              conecptId: this.$route.params?.conecptId
            }
          },
          show: ['browser-concept', 'browser-project-concept']
        },
        {
          text: this.$t('concept'),
          disabled: true,
          show: ['browser-concept', 'browser-project-concept']
        },
        {
          exact: true,
          text: this.$route.params?.conceptId,
          to: {
            name: this.$route.params.prefix ? 'browser-project-concept' : 'browser-concept',
            params: {
              codeSystemId: this.$route.params?.codeSystemId,
              conecptId: this.$route.params?.conecptId
            }
          },
          show: ['browser-concept', 'browser-project-concept']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    }
  },
  async beforeRouteLeave (to, from, next) {
    // Keep params for adding codes to a questionnaire item
    if (from.params.questionnairePanel) {
      to.params.questionnairePanel = from.params.questionnairePanel
    }

    // Check if the user should be warned that undhandled stuff needs to be dealed with first
    // Only needed in case of Terminology Mappings, where the browser is visitted to collect codes
    if (
      ['conceptAssociation', 'transactionConceptAssociation'].includes(this.$store.getters['dataset/activeAssociationType']) &&
      this.$store.getters['dataset/activeAssociationDatasetId'] &&
      this.$store.getters['dataset/activeAssociationDatasetVersion'] &&
      this.$store.getters['dataset/activeAssociationId'] &&
      this.$store.getters['dataset/activeAssociationVersion']
    ) {
      const allowedRoutes = ['concept', 'browser-concept', 'browser-project-concept']

      if (allowedRoutes.includes(to.name)) {
        return next()
      }

      const agree = await this.$confirm(this.$t('confirm-cancel'))
      if (agree) {
        this.$store.commit('terminology/emptyCartWithAssociations')
        await this.$store.dispatch('terminology/setStartShopping', false)
        if (to.name === 'terminology-associations') {
          const routeName = this.$store.getters['dataset/activeAssociationType'] === 'transactionConceptAssociation'
            ? 'terminology-associations-transaction-concepts'
            : 'terminology-associations-data-set-concept'
          const params = this.$store.getters['dataset/activeAssociationType'] === 'transactionConceptAssociation'
            ? {
                transactionId: this.$store.getters['dataset/activeAssociationDatasetId'],
                transactionVersion: this.$store.getters['dataset/activeAssociationDatasetVersion'],
                tConceptId: this.$store.getters['dataset/activeAssociationId'],
                tConceptVersion: this.$store.getters['dataset/activeAssociationVersion']
              }
            : {
                datasetId: this.$store.getters['dataset/activeAssociationDatasetId'],
                datasetVersion: this.$store.getters['dataset/activeAssociationDatasetVersion'],
                conceptId: this.$store.getters['dataset/activeAssociationId'],
                conceptVersion: this.$store.getters['dataset/activeAssociationVersion']
              }
          await this.$store.dispatch('dataset/changeActiveAssociationType', null)
          return next({ name: routeName, params })
        }
        await this.$store.dispatch('dataset/changeActiveAssociationType', null)
        // Clear dataset store
        const initExceptions = ['datasetItems']
        const datasetItemsLoaded = this.$store.state.dataset.loaded.datasetItems
        this.$store.commit('dataset/initDataset', initExceptions)
        this.$store.commit('dataset/setLoaded', { key: 'datasetItems', status: datasetItemsLoaded })
        next()
      }
    } else if (this.$store.state.terminology.editValueSetBtn) {
      // user navigates away from the edit composition route
      const allowedRoutes = ['concept', 'browser-concept', 'browser-project-concept']
      if (!allowedRoutes.includes(to.name)) {
        const agree = await this.$confirm(this.$t('confirm-cancel'))
        if (agree) {
          // user wants to quit the edit proces for the valueset
          this.$store.dispatch('terminology/startEditComposition', { start: false })
            .then(() => {
              this.$store.commit('terminology/backupCompleteCodeSystemPath', null)

              if (!to.name === 'value-set') {
                // Clear Terminology store
                const exceptions = ['valueSet', 'codeSystemItems', 'conceptMapItems']
                const valueSetListLoaded = this.$store.state.terminology.loaded.valueSet
                const codeSystemListLoaded = this.$store.state.terminology.loaded.codeSystemItems
                const conceptMapListLoaded = this.$store.state.terminology.loaded.conceptMapItems
                this.$store.commit('terminology/initTerminology', exceptions)
                this.$store.commit('terminology/setLoaded', { key: 'valueSet', status: valueSetListLoaded })
                this.$store.commit('terminology/setLoaded', { key: 'codeSystemItems', status: codeSystemListLoaded })
                this.$store.commit('terminology/setLoaded', { key: 'conceptMapItems', status: conceptMapListLoaded })
              }
              next()
            })
        }
      } else {
        next()
      }
    } else if (this.$store.state.terminology.startShopping) {
      // The process of creating a new valueSet is about to be cancelled
      const allowedRoutes = ['concept', 'browser-concept', 'browser-project-concept']
      if (!allowedRoutes.includes(to.name)) {
        const agree = await this.$confirm(this.$t('confirm-cancel'))
        if (agree) {
          this.$store.commit('terminology/emptyShoppingCart')

          if (this.$store.state.terminology.createValuesetFrom !== null) {
            this.$store.commit('terminology/setOpenAddValuesetAssociationModalOnEnter', true)
            this.$store.commit('terminology/setCreateValuesetFrom', null)
          }
          this.$store.dispatch('terminology/setStartShopping', false)
            .then(() => next())
        }
      } else {
        next()
      }
    } else {
      next()
    }
  },
  beforeRouteUpdate (to, from, next) {
    // Keep params for adding codes to a questionnaire item
    if (from.params.questionnairePanel) { to.params.questionnairePanel = from.params.questionnairePanel }
    next()
  }
}
</script>
