<template>
  <AdPageUnavailable :path="['decor.terminology', 'decor.terminology.codesystems']">
    <v-layout>
      <v-flex>
        <CodeSystemsPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import CodeSystemsPanel from '@/components/Terminology/CodeSystemsPanel'

export default {
  name: 'CodeSystems',
  components: {
    CodeSystemsPanel
  },

  beforeRouteEnter (to, from, next) {
    if (to.name === 'codesystems') {
      return next(async vm => {
        if (!vm.$store.state.terminology.loaded.codeSystemItems) {
          await vm.$store.dispatch('terminology/getCodeSystemList', { prefix: vm.projectInFocus?.prefix })
            .catch(error => {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              vm.$oops(errorMessage)
            })
        }
      })
    }
    next()
  },
  async beforeRouteUpdate (to, from, next) {
    if (!this.$store.state.terminology.loaded.codeSystemItems) {
      await this.$store.dispatch('terminology/getCodeSystemList', { prefix: this.projectInFocus?.prefix })
        .catch(error => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    }
    next()
  },

  beforeRouteLeave (to, from, next) {
    // Clear the Terminology store
    const exceptions = ['valueSet', 'codeSystemItems', 'conceptMapItems']
    const valueSetListLoaded = this.$store.state.terminology.loaded.valueSet
    const codeSystemListLoaded = this.$store.state.terminology.loaded.codeSystemItems
    const conceptMapListLoaded = this.$store.state.terminology.loaded.conceptMapItems
    this.$store.commit('terminology/initTerminology', exceptions)
    this.$store.commit('terminology/setLoaded', { key: 'valueSet', status: valueSetListLoaded })
    this.$store.commit('terminology/setLoaded', { key: 'codeSystemItems', status: codeSystemListLoaded })
    this.$store.commit('terminology/setLoaded', { key: 'conceptMapItems', status: conceptMapListLoaded })
    next()
  }

}
</script>
