<template>
  <v-layout>
    <v-flex>
      <ConceptMapEditorPanel />
    </v-flex>
  </v-layout>
</template>

<script>

import ConceptMapEditorPanel from '@/components/Terminology/ConceptMapEditorPanel.vue'

export default {
  name: 'ConceptMapEditor',

  components: {
    ConceptMapEditorPanel
  }
}
</script>
