<template>
  <v-layout>
    <v-flex>
      <ConceptMapOverviewPanel/>
    </v-flex>
  </v-layout>
</template>

<script>

import ConceptMapOverviewPanel from '@/components/Terminology/ConceptMapOverviewPanel.vue'
import { isCancel } from 'axios'
import { mapGetters } from 'vuex'

export default {
  name: 'ConceptMap',

  components: {
    ConceptMapOverviewPanel
  },

  data () {
    return {
      abortController: null
    }
  },

  computed: {
    ...mapGetters('terminology', ['conceptMapItem', 'conceptMapItems', 'conceptMapActive'])
  },

  methods: {
    fetchConceptMapByRouteParams () {
      // Set conceptMapActive based on the route params
      const { conceptMapId: id, conceptMapVersion: effectiveDate } = this.$route.params

      if (!id) {
        return
      }
      const activeConceptMap = this.$store.getters['terminology/conceptMapItems']
        ?.find(cm => cm.id === id)
      if (!activeConceptMap) {
        return
      }

      const version = activeConceptMap.conceptMap?.find(cm => cm.effectiveDate === effectiveDate)
      const versionIndex = activeConceptMap.conceptMap?.findIndex(cm => cm.effectiveDate === effectiveDate)
      if (effectiveDate && versionIndex < 0) {
        return
      }

      this.$store.commit('terminology/setConceptMapItem', null)
      this.$store.commit('terminology/changeConceptMapVersionIndex', effectiveDate ? versionIndex : 0)
      this.$store.commit('terminology/setConceptMapActive', activeConceptMap)

      // Abort pending request
      if (this.abortController) {
        this.abortController.abort('New conceptmap selected')
      }

      // Set up abortController
      this.abortController = new AbortController()

      this.$store.dispatch('terminology/getConceptMapItem', {
        id: version ? (version.id || version.ref) : (activeConceptMap.id || activeConceptMap.ref),
        effectiveDate: version ? version.effectiveDate : activeConceptMap.effectiveDate,
        prefix: this.projectInFocus?.prefix,
        abortController: this.abortController
      })
        .then(() => {
          this.abortController = null
        })
        .catch(error => {
          if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
            return
          }
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
          this.$oops(errorMessage)
        })
    }
  },

  beforeRouteEnter (to, from, next) {
    next(async vm => {
      try {
        if (vm.$store.getters['terminology/conceptMapItems'] === null) {
          await vm.$store.dispatch('terminology/getConceptMapList', { prefix: vm.projectInFocus?.prefix })
        }
        vm.fetchConceptMapByRouteParams()
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        vm.$oops(errorMessage)
      }
    })
  },
  async beforeRouteUpdate (to, from, next) {
    // Check if the conceptmap list is fetched
    if (this.$store.getters['terminology/conceptMapItems'] === null) {
      try {
        await this.$store.dispatch('terminology/getConceptMapList', { prefix: this.projectInFocus?.prefix })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        return this.$oops(errorMessage)
      }
    }
    const currentId = this.conceptMapItem?.id || this.conceptMapItem?.ref
    const currentEffectiveDate = this.conceptMapItem?.effectiveDate

    // Check if the route params match with the currently fetched conceptMapItem. If not, another conceptMap should be fetched
    if (to.params.conceptMapId === currentId && to.params.conceptMapVersion === currentEffectiveDate) {
      return next()
    }

    // Look for the requested conceptMap based on the route params
    const conceptMap = this.conceptMapItems.find(cm => cm.id === to.params.conceptMapId || cm.ref === to.params.conceptMapId)
    if (!conceptMap) {
      this.$store.commit('terminology/setConceptMapActive', null)
      this.$store.commit('terminology/setConceptMapItem', null)
      return next()
    }

    // Set version index
    const versionIndex = conceptMap.conceptMap
      ?.findIndex(cm => cm.id === to.params.conceptMapId && cm.effectiveDate === to.params.conceptMapVersion)
    this.$store.commit('terminology/changeConceptMapVersionIndex', versionIndex >= 0 ? versionIndex : 0)

    // If id in route doesnt't match with conceptMapItem  and conceptMapActive, set conceptMapActive
    if (to.params.id !== currentId && to.params.id !== this.conceptMapActive?.id) {
      this.$store.commit('terminology/setConceptMapActive', conceptMap)
    }

    // Find the version specified in the route
    const version = conceptMap.conceptMap?.find(cm => cm.effectiveDate === to.params.conceptMapVersion)
    if (!version) {
      this.$store.commit('terminology/setConceptMapActive', null)
      this.$store.commit('terminology/setConceptMapItem', null)
      return next()
    }

    // Abort pending request
    if (this.abortController) {
      this.abortController.abort('New conceptMap selected')
    }

    // Set up abortController
    this.abortController = new AbortController()

    // Fetch the concept map
    this.$store.dispatch('terminology/getConceptMapItem', {
      id: version.id || version.ref,
      effectiveDate: version.effectiveDate,
      prefix: this.projectInFocus?.prefix,
      abortController: this.abortController
    })
      .then(() => {
        this.abortController = null
      })
      .catch(error => {
        if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
          return
        }
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
        this.$oops(errorMessage)
      })

    next()
  }
}
</script>
