<template>
  <AdPageUnavailable :path="['decor.terminology', 'decor.terminology.identifiers']">
    <v-layout>
      <v-flex>
        <IdentifiersPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>

import IdentifiersPanel from '@/components/Terminology/IdentifiersPanel'

export default {
  name: 'TerminologyIdentifiers',
  components: {
    IdentifiersPanel
  }
}
</script>
