<template>
  <AdPageUnavailable :path="['decor.terminology', 'decor.terminology.valuesets']">
    <v-layout>
      <v-flex>
        <TerminologyPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import TerminologyPanel from '@/components/Terminology/TerminologyPanel'

export default {
  name: 'AdTerminology',
  components: {
    TerminologyPanel
  },
  beforeRouteEnter (to, from, next) {
    if (to.name === 'value-set') {
      return next(async vm => {
        if (!vm.$store.state.terminology.loaded.valueSet) {
          await vm.$store.dispatch('terminology/getValueSetList', { resolveit: true, sort: 'displayName' })
            .catch(error => {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              vm.$oops(errorMessage)
            })
        }
      })
    }
    next()
  },
  async beforeRouteUpdate (to, from, next) {
    if (!this.$store.state.terminology.loaded.valueSet) {
      await this.$store.dispatch('terminology/getValueSetList', { resolveit: true, sort: 'displayName' })
        .catch(error => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    }
    next()
  },
  beforeRouteLeave (to, from, next) {
    if (to.name !== 'browser-project') {
      const exceptions = ['valueSet', 'codeSystemItems', 'conceptMapItems']
      const valueSetListLoaded = this.$store.state.terminology.loaded.valueSet
      const codeSystemListLoaded = this.$store.state.terminology.loaded.codeSystemItems
      const conceptMapListLoaded = this.$store.state.terminology.loaded.conceptMapItems
      this.$store.commit('terminology/initTerminology', exceptions)
      this.$store.commit('terminology/setLoaded', { key: 'valueSet', status: valueSetListLoaded })
      this.$store.commit('terminology/setLoaded', { key: 'codeSystemItems', status: codeSystemListLoaded })
      this.$store.commit('terminology/setLoaded', { key: 'conceptMapItems', status: conceptMapListLoaded })
    }
    next()
  }
}
</script>
