<template>
  <server-governancegroup-admin-panel-details
    v-bind="$props"
    readonly
  />
</template>

<script>

import ServerGovernancegroupAdminPanelDetails from '@/components/ServerAdmin/ServerGovernancegroupAdminPanelDetails.vue'

export default {
  components: {
    ServerGovernancegroupAdminPanelDetails
  },

  props: {
    governancegroups: {
      type: Array,
      required: true
    },
    governancegroupId: {
      type: String
    },
    tab: {
      type: Object,
      required: true
    },
    tabs: {
      type: Array,
      required: true
    }
  }
}
</script>
