<template>
  <server-governancegroup-admin-panel-details-templates
    v-bind="$props"
    readonly
  />
</template>

<script>

import ServerGovernancegroupAdminPanelDetailsTemplates from '@/components/ServerAdmin/ServerGovernancegroupAdminPanelDetailsTemplates.vue'

export default {
  components: {
    ServerGovernancegroupAdminPanelDetailsTemplates
  },

  props: {
    governancegroupId: {
      type: String
    }
  }
}
</script>
