<template>
  <server-governancegroup-admin-panel-details-projects
    v-bind="$props"
    readonly
  />
</template>

<script>

import ServerGovernancegroupAdminPanelDetailsProjects from '@/components/ServerAdmin/ServerGovernancegroupAdminPanelDetailsProjects.vue'

export default {
  components: {
    ServerGovernancegroupAdminPanelDetailsProjects
  },

  props: {
    governancegroups: {
      type: Array
    },
    governancegroupId: {
      type: String
    }
  }
}
</script>
