<template>
  <server-governancegroup-admin-panel-details-dashboard
    v-bind="$props"
    readonly
  />
</template>

<script>

import ServerGovernancegroupAdminPanelDetailsDashboard from '@/components/ServerAdmin/ServerGovernancegroupAdminPanelDetailsDashboard.vue'

export default {
  components: {
    ServerGovernancegroupAdminPanelDetailsDashboard
  },

  props: {
    governancegroups: {
      type: Array
    },
    governancegroupId: {
      type: String
    }
  }
}
</script>
