<template>
  <server-governancegroup-admin-panel-details-questionnaires
    v-bind="$props"
    readonly
  />
</template>

<script>

import ServerGovernancegroupAdminPanelDetailsQuestionnaires from '@/components/ServerAdmin/ServerGovernancegroupAdminPanelDetailsQuestionnaires.vue'

export default {
  components: {
    ServerGovernancegroupAdminPanelDetailsQuestionnaires
  },

  props: {
    governancegroupId: {
      type: String
    }
  }
}
</script>
