<template>
  <server-governancegroup-admin-panel-details-conceptmaps
    v-bind="$props"
    readonly
  />
</template>

<script>

import ServerGovernancegroupAdminPanelDetailsConceptmaps from '@/components/ServerAdmin/ServerGovernancegroupAdminPanelDetailsConceptmaps.vue'

export default {
  components: {
    ServerGovernancegroupAdminPanelDetailsConceptmaps
  },

  props: {
    governancegroupId: {
      type: String
    }
  }
}
</script>
