<template>
  <server-governancegroup-admin-panel-details-codesystems
    v-bind="$props"
    readonly
  />
</template>

<script>

import ServerGovernancegroupAdminPanelDetailsCodesystems from '@/components/ServerAdmin/ServerGovernancegroupAdminPanelDetailsCodesystems.vue'

export default {
  components: {
    ServerGovernancegroupAdminPanelDetailsCodesystems
  },

  props: {
    governancegroupId: {
      type: String
    }
  }
}
</script>
