<template>
  <server-governancegroup-admin-panel-details-valuesets
    v-bind="$props"
    readonly
  />
</template>

<script>

import ServerGovernancegroupAdminPanelDetailsValuesets from '@/components/ServerAdmin/ServerGovernancegroupAdminPanelDetailsValuesets.vue'

export default {
  components: {
    ServerGovernancegroupAdminPanelDetailsValuesets
  },

  props: {
    governancegroupId: {
      type: String
    }
  }
}
</script>
