<template>
  <server-governancegroup-admin-panel
    v-bind="$props"
    readonly
  />
</template>

<script>
import ServerGovernancegroupAdminPanel from '@/components/ServerAdmin/ServerGovernancegroupAdminPanel.vue'

export default {
  components: {
    ServerGovernancegroupAdminPanel
  }
}
</script>
