<template>
  <div
    class="editable-dropdown"
    v-bind:class="{'is-authenticated': isAuthenticated}"
  >
    <v-select
      ref="input"
      v-model.lazy="editableValue"
      v-bind="{...$props, ...$attrs}"
      v-on="{...$listeners, input: () => handleInputEvent('input'), change: () => handleInputEvent('change')}"
      :class="{'required': !!isRequired && !isReadonly, 'readonly': !!isReadonly}"
      :items="parsedItems"
      :readonly="isReadonly"
      :append-icon="!isEditable ? null : undefined"
      :item-value="itemValue"
      :item-text="itemText"
      :rules="parsedRules"
      @focus="startEditMode"
      @click:clear="clear"
      @keydown.esc="cancelEditMode"
      @blur="saveEditValue"
    >
      <template v-slot:prepend-inner>
        <slot name="prepend-inner"/>
      </template>

      <template v-if="!!infoText" v-slot:append-outer>
        <EditableInfoIcon :infoText="infoText"/>
      </template>

      <template v-if="$props.multiple" v-slot:item="{ active, item, attrs, on }">
        <slot name="item" v-bind="{ active, item, attrs, on }">
          <v-list-item v-on="on" v-bind="attrs" v-slot:default="{ active }">
            <v-list-item-action>
              <v-checkbox :input-value="active"></v-checkbox>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="d-flex align-center">
                <v-icon v-if="getItemIcon(item)" class="mr-1" color="gray lighten-1" v-text="getItemIcon(item)"/>
                <span v-if="getItemText(item)" v-text="getItemText(item)"/>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </slot>
      </template>

      <template v-else v-slot:item="{ item, on, attrs }">
        <slot name="item" v-bind="{ item, on, attrs }">
          <v-icon v-if="getItemIcon(item)" class="mr-1" color="gray lighten-1" v-text="getItemIcon(item)"/>
          <span v-text="getItemText(item)"/>
        </slot>
      </template>

      <template v-slot:selection="{ item }">
        <slot name="selection" v-bind="{ item, label: getItemText(item, true) }">
          <v-icon v-if="getItemIcon(item)" class="mr-1" color="gray lighten-1" v-text="getItemIcon(item)"/>

          <span v-if="!$props.chips" v-text="getItemText(item)"/>
          <v-chip
            v-else
            class="mr-1"
            v-text="getItemText(item)"
            label
            small
          />
        </slot>
      </template>
    </v-select>
  </div>
</template>

<script>
import EditableInfoIcon from '@/components/Utilities/Editable/Helper/EditableInfoIcon'
import AbstractInput from '@/components/Utilities/Editable/Helper/AbstractInput'

export default {
  /**
   * Extends.
   */
  extends: AbstractInput,

  /**
   * Required components.
   */
  components: {
    EditableInfoIcon
  },

  /**
   * Properties.
   */
  props: {
    value: {
      type: [String, Array, Object],
      required: false,
      default: ''
    },
    itemText: {
      type: [String, Function],
      required: false,
      default: 'text'
    },
    itemValue: {
      type: String,
      required: false,
      default: 'value'
    },
    itemIcon: {
      type: String,
      required: false,
      default: 'icon'
    },
    locale: {
      type: String,
      required: false
    },

    // Vuetify props.
    appendIcon: String,
    attach: Promise,
    cacheItems: Boolean,
    chips: Boolean,
    clearable: Boolean,
    deletableChips: Boolean,
    disableLookup: Boolean,
    eager: Boolean,
    hideSelected: Boolean,
    itemColor: String,
    itemDisabled: [String, Array, Function],
    menuProps: [String, Array, Object],
    multiple: Boolean,
    openOnClear: Boolean,
    returnObject: Boolean,
    smallChips: Boolean
  },

  /**
   * Data variables.
   */
  data () {
    return {
      editableValue: null
    }
  },

  /**
   * Computed variables.
   */
  computed: {
    /**
     * Get parsed items.
     */
    parsedItems () {
      // Get parsed items.
      const parsedItems = this?.items || this?.$props?.items || this?.$attrs?.items || []

      // Return object if value is null.
      return parsedItems.map((item) => {
        return item === null
          ? { value: null, text: '' }
          : item
      })
    }
  },

  /**
   * Watchers.
   */
  watch: {
    /**
     * Watch changes of current value.
     */
    value: {
      immediate: true,
      handler (value) {
        // Set editable value in base of value.
        this.editableValue = value
      }
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Get item text
     *
     * @param item
     * @param returnObject
     * @return string
     */
    getItemText (item, returnObject) {
      // Check if item text is function.
      if (this.itemText instanceof Function) {
        // Call function directly and return value.
        return this.itemText(item, returnObject)
      }

      // Get split text value.
      const splitTextValue = this.itemText.split('.')
      // Get text key.
      const textKey = (splitTextValue?.[0] || 'text')
      // Get i18n key.
      const i18nKey = (splitTextValue?.[1] || null)

      // Check if item value is not an array.
      if (Array.isArray(item?.[textKey]) === false) {
        // Return the item.
        return ['string', 'number'].includes(typeof item?.[textKey])
          ? item?.[textKey]
          : item ?? ''
      }
      // Return matching translation.
      return this.$filters.getMatchingTranslation({
        value: item?.[textKey],
        selector: i18nKey,
        locale: this.locale || this.$i18n.locale,
        returnObject: !!returnObject || false
      })
    },

    /**
     * Get item icon.
     *
     * @param item
     * @return string
     */
    getItemIcon (item) {
      // Return item icon.
      return item?.[this.itemIcon] ?? undefined
    },

    /**
     * Handle input event.
     */
    handleInputEvent (type) {
      // Check if multiple mode is true.
      if (!!this.$props.multiple === true) {
        // Return null.
        return null
      }

      // Call save edit value.
      this.saveEditValue(type)
    },

    /**
     * Start edit mode.
     */
    async startEditMode (ev) {
      // Check if current user is authenticated.
      if (this.isAuthenticated === true) {
        // Wait for the next tick.
        await this.$nextTick()
        this.$refs.input.focus()

        // setTimeout to prevent immediate blur issue
        setTimeout(() => {
          this.$refs.input.activateMenu()
        }, 100)
      }
    },

    /**
     * Clear event.
     */
    clear () {
      // Call cancel edit mode.
      this.cancelEditMode()
      this.$emit('clear')
    },

    /**
     * Cancel edit mode.
     */
    cancelEditMode () {
      // Check if current user is authenticated.
      if (this.isAuthenticated === true) {
        // Set editable value in base of value.
        this.editableValue = this.value
        // Blur input element.
        this.$refs.input.blur()
      }
    },

    /**
     * Save edit value.
     */
    saveEditValue (type) {
      // Check if event is blur event.
      const isBlur = this.$props.multiple === true && type.type === 'blur'
      // Check if current user is authenticated.
      if (this.isAuthenticated === true && this.isReadonly === false && this.$refs.input.validate() === true) {
        // Check if type is blur or input.
        if (isBlur === true || (this.$props.multiple === false && type === 'input')) {
          // Emit current input value.
          this.$emit('input', this.editableValue)
        }

        // Check if type is blur or change.
        if (isBlur === true || (this.$props.multiple === false && type === 'change')) {
          // Emit current change value.
          this.$emit('change', this.editableValue)
        }

        // Blur input element.
        this.$refs.input.blur()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}

::v-deep .readonly.v-input--is-focused .v-label:after {
  font-family: 'Material Design Icons';
  -webkit-font-feature-settings: 'liga';
  content: "\F0341";
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}
</style>
