<template slot="asd">
  <AbstractEditableDropdown
    v-model="editableValue"
    v-bind="{...$props, ...$attrs}"
    v-on="{...$listeners }"
    :required="isRequired"
    :items="items"
  >
    <template #item="{item}">
      <span class="mr-2">{{ item.text }}</span>
      <flag :squared="false" :iso="item.icon"></flag>
    </template>

    <template #selection="{item}">
      <span class="mr-2">{{ item.text }}</span>
      <flag :squared="false" :iso="item.icon"></flag>
    </template>
  </AbstractEditableDropdown>
</template>

<script>
import AbstractEditableDropdown from '@/components/Utilities/Editable/EditableDropdown/AbstractEditableDropdown'

export default {
  /**
   * Extends.
   */
  extends: AbstractEditableDropdown,

  /**
   * Required components.
   */
  components: {
    AbstractEditableDropdown
  },

  /**
   * Properties.
   */
  props: {
    value: {
      type: [String, Array],
      required: false,
      default: ''
    },
    locales: {
      required: false,
      type: Array,
      default () {
        return this.$root.langs
      }
    }
  },

  /**
   * Data variables.
   */
  data () {
    return {
      defaultRequired: true
    }
  },

  /**
   * Computed variables.
   */
  computed: {
    /**
     * Get dropdown items.
     *
     * @return {*[]}
     */
    items () {
      return this.locales.map((locale) => {
        return {
          value: locale,
          text: String((locale || '').split('-')?.[0]).toUpperCase(),
          icon: String((locale || '').split('-')?.[1]).toUpperCase()
        }
      })
    }
  }
}
</script>
