<template>
  <div>
    <component :is="dialogWrapperComponent" :value="modal.open" >
      <v-dialog v-if="modal.open" :value="modal.open" width="350" :hide-overlay="dialogIsAttached" persistent v-bind="dialogProps">
        <v-card>
          <AdCardTitle dialog>
            {{ $t('cardinality') }}
          </AdCardTitle>

          <v-card-text>
            <v-form ref="form" v-model="modal.formIsValid">
              <v-row>
                <v-col cols="6">
                  <v-text-field
                    :value="modal.min"
                    @input="handleInput('min', $event)"
                    :rules="[rules.required, rules.onlyIntegers]"
                    class="required"
                    type="number"
                    min="0"
                    :label="$t('minimum')"
                  />
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    :value="modal.max"
                    @input="handleInput('max', $event)"
                    :rules="[rules.required, rules.onlyIntegers, rules.validMax]"
                    class="required"
                    type="number"
                    min="0"
                    :label="$t('maximum')"
                  />
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <AdButton type="cancel" @click="closeModal"/>
            <AdButton type="add" :disabled="!modal.formIsValid" @click="addCustomCardinality"/>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </component>

    <AbstractEditableDropdown
      v-bind="{...$props, ...$attrs}"
      v-on="{...$listeners, input: (ev) => $emit('input', ev)}"
      :items="filteredItems"
      :error="!inputIsValid"
      :disabled="conformance === 'NP'"
    >
      <template #item="{ item, on }">
        <v-list-item v-if="item.value === 'other'" v-on="on" class="pa-0">
          <AdButton :text="$t('other')" noMarginRight @click.stop="prepareModal(); openModal();"/>
        </v-list-item>
        <span v-else>{{ item.value }}</span>
      </template>
    </AbstractEditableDropdown>
  </div>
</template>

<script>
import AbstractEditableDropdown from '@/components/Utilities/Editable/EditableDropdown/AbstractEditableDropdown'
import { cloneDeep } from 'lodash'
import { VOverlay } from 'vuetify/lib'

const initialModalState = {
  open: false,
  formIsValid: false,
  min: '',
  max: ''
}

export default {
  name: 'EditableCardinality',
  components: {
    AbstractEditableDropdown
  },
  props: {
    dialogProps: {
      type: Object,
      default: null
    },
    disableCustomCardinality: Boolean,
    value: {
      type: String
    },
    allowNull: {
      type: Boolean,
      default: true
    },
    conformance: {
      type: String,
      validator: val => [' ', 'M', 'R', 'O', 'NP', 'C', 'F'].includes(val)
    },
    isAttribute: {
      type: Boolean,
      default: false
    },
    items: {
      type: Array,
      default: () => [
        { value: null, text: '' },
        { value: '0..0', text: '0..0' },
        { value: '0..1', text: '0..1' },
        { value: '0..1', text: '0..1' },
        { value: '0..*', text: '0..*' },
        { value: '1..1', text: '1..1' },
        { value: '1..*', text: '1..*' }
      ]
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModalState),
      rules: {
        required: val => (val && val !== '') || this.$t('required-field'),
        onlyIntegers: val => /^(?:\d*)$/.test(val) || this.$t('invalid-input'),
        validMax: val => +val >= +this.modal.min || this.$t('invalid-input')
      }
    }
  },
  computed: {
    dialogIsAttached () {
      return this.dialogProps?.attach !== undefined
    },
    dialogWrapperComponent () {
      if (this.dialogIsAttached) return VOverlay
      return 'div'
    },
    filteredItems () {
      let items = this.items
      if (this.isAttribute) {
        items = items.filter(item => [null, '0..1', '1..1'].includes(item.value))
      }
      if (!this.allowNull) {
        items = items.filter(item => item.value !== null)
      }

      const valueIsAvailable = this.items.find(item => item.value === this.value)
      if (!valueIsAvailable) {
        items.push({ value: this.value, text: this.value })
      }
      if (!this.disableCustomCardinality) {
        items.push({ value: 'other', text: this.$t('other') })
      }
      return items
    },
    inputIsValid () {
      const { 0: min, 1: max } = this.value?.split('..') || [null, null]
      // Invalid values
      if (min && max && max !== '*' && min > max) {
        return false
      }
      // Mandatory
      if (this.conformance === 'M') {
        return +min >= 1 && (max === '*' || +max >= 1)
      }
      // Not permitted
      if (this.conformance === 'NP') {
        return this.value === null
      }
      // Optional, Required, Fixed
      if (['O', 'R', 'F'].includes(this.conformance)) {
        return +min >= 0 && (max === '*' || +max >= 1)
      }
      // Conditional
      if (this.conformance === 'C') {
        return this.value === null || (+min >= 0 && (max === '*' || +max >= 1))
      }
      // Attributes without cardinality and conformance
      if (this.isAttribute && !this.conformance && !this.value) {
        return false
      }
      return true
    }

  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModalState)
    },
    handleInput (type, value) {
      this.modal[type] = value
      if (this.$refs.form && this.modal.max !== '' && this.modal.min !== '') {
        this.$refs.form.validate()
      }
    },
    openModal () {
      this.modal.open = true
    },
    prepareModal () {
      const [min, max] = this.value?.split('..') || []
      this.modal.min = isNaN(min) ? '' : min
      this.modal.max = isNaN(max) ? '' : max
    },
    addCustomCardinality () {
      const customCardinality = `${this.modal.min}..${this.modal.max}`
      this.$emit('input', customCardinality)
      this.closeModal()
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
