<template>
  <EditableDropdown
    v-bind="{...$attrs, ...$props}"
    v-on="$listeners"
    :items="items"
    :itemText="itemText"
    :item-disabled="itemDisabled"
  >
    <template #item="{item}">
      <div :class="{'ml-7': !['question', 'display', 'group'].includes(item.value)}">
        <v-icon>
          {{ getIcon(item) }}
        </v-icon>
        <span class="mr-2 pl-3">{{ itemText(item) }}</span>
      </div>
    </template>
  </EditableDropdown>
</template>

<script>
import EditableDropdown from '@/components/Utilities/Editable/EditableDropdown/EditableDropdown'

export default {
  components: {
    EditableDropdown
  },
  computed: {
    items () {
      let items = this.$store.getters['server/getDecorTypes']?.data?.QuestionnaireTypeOfItemType?.[0]?.enumeration || []
      if (this.$attrs.value !== 'group') {
        items = items.filter(item => item.value !== 'group')
      }
      return items.map(item => ({ ...item, icon: this.getIcon(item) }))
    }
  },
  methods: {
    getIcon (item) {
      if (item.value === 'group') return 'mdi-folder'
      if (item.value === 'display') return 'mdi-tag-text-outline'
      if (item.value === 'question') return 'mdi-map-marker-question-outline'
      return this.$filters.getValueDomainTypeIcon(item.value)
    },
    itemText (item) {
      if (item.value === 'question') return this.$t('question-select-type-below')
      return this.$filters.getMatchingTranslation({ value: item.label })
    },
    itemDisabled (item) {
      return ['question', 'group'].includes(item.value)
    }
  }
}
</script>
