<template>
  <AdPageUnavailable path="design">
    <v-layout>
      <v-flex>
        <ButtonsDesignPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import ButtonsDesignPanel from '@/components/Designs/ButtonsDesignPanel'

export default {
  name: 'buttons-design-panel',
  components: {
    ButtonsDesignPanel
  }
}
</script>
