<template>
  <AdPageUnavailable path="design">
    <v-layout>
      <v-flex>
        <DialogsDesignPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import DialogsDesignPanel from '@/components/Designs/DialogsDesignPanel'

export default {
  name: 'dialogs-design-panel',
  components: {
    DialogsDesignPanel
  }
}
</script>
