<template>
  <AdPageUnavailable path="design">
    <v-layout>
      <v-flex>
        <FormDesignPanel />
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>

import FormDesignPanel from '@/components/Designs/FormDesignPanel'

export default {
  name: 'form-design',
  components: {
    FormDesignPanel
  }
}
</script>
