<template>
  <AdPageUnavailable path="design">
    <v-layout>
      <v-flex>
        <GraphicsDesignPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>

import GraphicsDesignPanel from '@/components/Designs/GraphicsDesignPanel'

export default {
  name: 'graphics-design-panel',
  components: {
    GraphicsDesignPanel
  }
}
</script>
