<template>
  <AdPageUnavailable path="design">
    <v-layout>
      <v-flex>
        <IconsDesignPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import IconsDesignPanel from '@/components/Designs/IconsDesignPanel'

export default {
  name: 'icons-design-panel',
  components: {
    IconsDesignPanel
  }
}
</script>
