<template>
  <AdPageUnavailable path="design">
    <v-layout>
      <v-flex>
        <TreetableDesignPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>

import TreetableDesignPanel from '@/components/Designs/TreetableDesignPanel'

export default {
  name: 'treetable-design-panel',
  components: {
    TreetableDesignPanel
  }
}
</script>
