<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.ada']">
    <v-layout>
      <v-flex>
        <ADAPanel />
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import ADAPanel from '@/components/Project/ADAPanel'

export default {
  name: 'ADA',
  components: {
    ADAPanel
  }
}
</script>
