<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.authors']">
    <v-layout>
      <v-flex>
        <ProjectAuthorPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import ProjectAuthorPanel from '@/components/Project/AuthorPanel'

export default {
  name: 'ProjectAuthor',
  components: {
    ProjectAuthorPanel
  }
}
</script>
