<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.development']">
    <v-layout>
      <v-flex>
        <ProjectDevelopmentPanel
          v-if="userIsDecorAdmin"
          :waitingForCheckUpdate.sync="waitingForCheckUpdate"
          :waitingForCompileUpdate.sync="waitingForCompileUpdate"
          :waitingForTerminologyReportUpdate.sync="waitingForTerminologyReportUpdate"
        />
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import ProjectDevelopmentPanel from '@/components/Project/DevelopmentPanel'

export default {
  name: 'ProjectDevelopment',
  components: {
    ProjectDevelopmentPanel
  },
  data () {
    return {
      waitingForCheckUpdate: false,
      waitingForCompileUpdate: false,
      waitingForTerminologyReportUpdate: false
    }
  },
  beforeRouteLeave (to, from, next) {
    const prefix = from.params.prefix
    this.sockets.unsubscribe(`GET/${prefix}/scheduled`)

    next()
  },
  beforeRouteUpdate (to, from, next) {
    if (from.params.prefix !== to.params.prefix) {
      const prefix = from.params.prefix
      this.sockets.unsubscribe(`GET/${prefix}/scheduled`)
    }

    next()
  },
  mounted () {
    const prefix = this.projectInFocus?.prefix

    this.sockets.subscribe(`GET/${prefix}/scheduled`, (data) => {
      const newProjectCheckRequests = data['projectcheck-request'] || null
      const currentProjectCheckRequests = this.$store.getters['project/scheduledTasks/projectCheckTasks']
      const shouldUpdateProjectCheckRequests = !(newProjectCheckRequests === null && currentProjectCheckRequests.length === 0)

      const newCompileRequests = data['compile-request'] || null
      const currentCompileRequests = this.$store.getters['project/scheduledTasks/compileTasks']
      const shouldUpdateCompileRequests = !(newCompileRequests === null && currentCompileRequests.length === 0)

      const newTerminologyReportRequests = data['terminology-report-request'] || null
      const currentTerminologyReportRequests = this.$store.getters['project/scheduledTasks/terminologyReportTasks']
      const shouldUpdateTerminologyReportRequests = !(newTerminologyReportRequests === null && currentTerminologyReportRequests.length === 0)

      const newGenericReportRequests = data['generic-report-request'] || null
      const currentGenericReportRequests = this.$store.getters['project/scheduledTasks/genericReportTasks']
      const shouldUpdateGenericReportRequests = !(newGenericReportRequests === null && currentGenericReportRequests?.length === 0)

      const currentTimestamp = this.$store.getters['project/scheduledTasks/currentTimestamp']
      const newTimestamp = new Date(data.lastModifiedDate).getTime()
      const updateIsObsolete = newTimestamp <= currentTimestamp

      if (!(
        (shouldUpdateProjectCheckRequests || this.waitingForCheckUpdate) ||
        (shouldUpdateCompileRequests || this.waitingForCompileUpdate) ||
        (shouldUpdateTerminologyReportRequests || this.waitingForTerminologyReportUpdate) ||
        (shouldUpdateGenericReportRequests || this.waitingForGenericReportUpdate)
      ) ||
        updateIsObsolete) {
        return
      }

      this.$store.dispatch('project/scheduledTasks/setScheduledTasks', data)
    })
  }
}
</script>
