<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.history']">
    <v-layout>
      <v-flex>
        <ProjectHistoryPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import ProjectHistoryPanel from '@/components/Project/HistoryPanel'

export default {
  name: 'ProjectHistory',
  components: {
    ProjectHistoryPanel
  }
}
</script>
