<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.identifiers']">
    <v-layout>
      <v-flex>
        <ProjectIdentifierPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import ProjectIdentifierPanel from '@/components/Project/IdentifierPanel'

export default {
  name: 'ProjectIdentifier',
  components: {
    ProjectIdentifierPanel
  }
}
</script>
