<template>
  <v-layout>
    <v-flex>
      <ImplementationGuidePanel />
    </v-flex>
  </v-layout>
</template>

<script>
import ImplementationGuidePanel from '@/components/Project/ImplementationGuidePanel'
import projectListeners from '@/listeners/project'

export default {
  components: {
    ImplementationGuidePanel
  },
  beforeRouteEnter (to, from, next) {
    if (to.name === 'project-implementation-guide') {
      return next(async vm => {
        if (!vm.$store.state.project.ig.loaded.implementationGuides) {
          await vm.$store.dispatch('project/ig/getImplementationGuideList')
        }
      })
    }
    next()
  },
  beforeRouteLeave (to, from, next) {
    const prefix = from.params.prefix
    this.sockets.unsubscribe(`GET/${prefix}/scheduled`)
    this.sockets.unsubscribe(`DELETE/${prefix}/scheduled`)

    const initExceptions = ['implementationGuides']
    const implementationGuideItemsLoaded = this.$store.state.project.ig.loaded.implementationGuides
    this.$store.commit('project/ig/initImplementationGuide', initExceptions)
    this.$store.commit('project/ig/setLoaded', { key: 'implementationGuides', status: implementationGuideItemsLoaded })

    next()
  },
  async beforeRouteUpdate (to, from, next) {
    if (from.params.prefix !== to.params.prefix) {
      const prefix = from.params.prefix
      this.sockets.unsubscribe(`GET/${prefix}/scheduled`)
      this.sockets.unsubscribe(`DELETE/${prefix}/scheduled`)

      if (!this.$store.getters['project/ig/implementationGuides']?.length) {
        await this.$store.dispatch('project/ig/getImplementationGuideList')
      }
    }

    next()
  },

  mounted () {
    const prefix = this.projectInFocus?.prefix

    this.sockets.subscribe(`GET/${prefix}/scheduled`, projectListeners.getScheduled.bind(this, { silent: false }))

    this.sockets.subscribe(`DELETE/${prefix}/scheduled`, projectListeners.deleteScheduled.bind(this, { silent: false }))
  }
}
</script>
