<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.my-community']">
    <v-layout>
      <v-flex>
        <MyCommunityPanel />
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import MyCommunityPanel from '@/components/Project/MyCommunityPanel'

export default {
  name: 'MyCommunity',
  components: {
    MyCommunityPanel
  }
}
</script>
