<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.overview']">
    <v-layout>
      <v-flex>
        <ProjectOverviewPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import ProjectOverviewPanel from '@/components/Project/OverviewPanel'
import projectListeners from '@/listeners/project'

export default {
  name: 'ProjectOverview',
  components: {
    ProjectOverviewPanel
  },
  beforeRouteLeave (to, from, next) {
    const prefix = from.params.prefix
    this.sockets.unsubscribe(`GET/${prefix}/scheduled`)
    this.sockets.unsubscribe(`DELETE/${prefix}/scheduled`)
    this.sockets.unsubscribe(`POST/${prefix}/checkDecor`)
    this.sockets.unsubscribe(`POST/${prefix}/runtimeCompilation`)

    next()
  },
  beforeRouteUpdate (to, from, next) {
    if (from.params.prefix !== to.params.prefix) {
      const prefix = from.params.prefix
      this.sockets.unsubscribe(`GET/${prefix}/scheduled`)
      this.sockets.unsubscribe(`DELETE/${prefix}/scheduled`)
      this.sockets.unsubscribe(`POST/${prefix}/checkDecor`)
      this.sockets.unsubscribe(`POST/${prefix}/runtimeCompilation`)
    }

    next()
  },
  mounted () {
    const prefix = this.projectInFocus?.prefix

    this.sockets.subscribe(`GET/${prefix}/scheduled`, projectListeners.getScheduled.bind(this, { silent: false }))

    this.sockets.subscribe(`DELETE/${prefix}/scheduled`, projectListeners.deleteScheduled.bind(this, { silent: false }))

    this.sockets.subscribe(`POST/${prefix}/checkDecor`, projectListeners.postCheckDecor.bind(this, { silent: false }))

    this.sockets.subscribe(`POST/${prefix}/runtimeCompilation`, projectListeners.postRuntimeCompilation.bind(this, { silent: false }))
  }
}
</script>
