<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.locks']">
    <v-layout>
      <v-flex>
        <decor-locks-panel></decor-locks-panel>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import DecorLocksPanel from '@/components/ServerAdmin/DecorLocksPanel'

export default {
  name: 'ProjectDecorLocks',
  components: {
    DecorLocksPanel
  }
}
</script>
