<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.project-index']">
    <v-layout>
      <v-flex>
        <ProjectIndexPanel />
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import ProjectIndexPanel from '@/components/Project/ProjectIndexPanel'

export default {
  components: {
    ProjectIndexPanel
  }
}
</script>
