<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.governance-groups']">
    <v-layout>
      <v-flex>
        <governancegroup-panel></governancegroup-panel>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import GovernancegroupPanel from '@/components/Project/GovernancegroupPanel'
export default {
  name: 'ProjectGovernancegroup',
  components: {
    GovernancegroupPanel
  }
}
</script>
