<template>
  <AdPageUnavailable :path="['decor.project', 'decor.project.publications']">
    <v-layout>
      <v-flex>
        <PublicationPanel />
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import PublicationPanel from '@/components/Project/PublicationPanel'
import projectListeners from '@/listeners/project'

export default {
  name: 'AdPublication',
  components: {
    PublicationPanel
  },
  beforeRouteLeave (to, from, next) {
    const prefix = from.params.prefix
    this.sockets.unsubscribe(`GET/${prefix}/scheduled`)
    this.sockets.unsubscribe(`PATCH/${prefix}/publication`)
    this.sockets.unsubscribe(`POST/${prefix}/publication`)

    next()
  },
  beforeRouteUpdate (to, from, next) {
    if (from.params.prefix !== to.params.prefix) {
      const prefix = from.params.prefix
      this.sockets.unsubscribe(`GET/${prefix}/scheduled`)
      this.sockets.unsubscribe(`PATCH/${prefix}/publication`)
      this.sockets.unsubscribe(`POST/${prefix}/publication`)
    }

    next()
  },
  mounted () {
    const prefix = this.projectInFocus?.prefix

    this.sockets.subscribe(`GET/${prefix}/scheduled`, (data) => {
      const newPublicationRequests = data['publication-request'] || null
      const currentPublicationRequests = this.$store.getters['project/scheduledTasks/publicationTasks']
      const shouldUpdatePublicationRequests = !(newPublicationRequests === null && currentPublicationRequests.length === 0)

      const currentTimestamp = this.$store.getters['project/scheduledTasks/currentTimestamp']
      const newTimestamp = new Date(data.lastModifiedDate).getTime()
      const updateIsObsolete = newTimestamp <= currentTimestamp

      if (!shouldUpdatePublicationRequests || updateIsObsolete) {
        return
      }

      this.$store.dispatch('project/scheduledTasks/setScheduledTasks', data)
    })

    this.sockets.subscribe(`PATCH/${prefix}/publication`, projectListeners.patchPublication.bind(this, { silent: false }))

    this.sockets.subscribe(`POST/${prefix}/publication`, projectListeners.postPublication.bind(this, { silent: false }))
  }
}
</script>
