<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="art-decor-appversion" content="<%- VUE_APP_VERSION %>">
    <meta name="art-decor-buildnumber" content="<%- VUE_APP_BUILDNUMBER %>">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>ART-DECOR®</title>
    <!--<%= htmlWebpackPlugin.options.title %>-->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
