<template>
  <v-layout>
    <v-flex>
      <governancegroup-panel/>
    </v-flex>
  </v-layout>
</template>

<script>
import GovernancegroupPanel from '@/components/GovernanceGroup/GovernancegroupPanel.vue'

export default {
  name: 'ServerGovernancegroupAdmin',
  components: {
    GovernancegroupPanel
  }
}
</script>
