<template>
  <v-layout>
    <v-container fluid>
      <!--
        Home Page
      -->
      <template>
        <v-row :style="cssHomeProps" class="py-0">
          <v-col class="col-6 col-md-4">
            <!-- TITLE PAGE -->
            <v-img width="100%" :src="require('../../assets/titlepage.png')"></v-img>
          </v-col>
          <v-col class="col-6 col-md-4">
            <!--
              WELCOME card (if logged in)
            -->
            <v-card class="mx-auto mb-4" width="auto" v-if="isUserLoggedIn">
              <AdCardTitle appendicon="mdi-hand">
                {{ $t("welcome") }} {{ currentUserFullName }}
              </AdCardTitle>
              <v-card-text class="pa-3"
                v-if="projectInFocus && serverFeature({ path: 'decor.project', crudAction: 'read' })">
                <div class="px-1 pb-1">
                  <b>{{ $filters.getMatchingTranslation({value: projectInFocus.name, locale: $i18n.locale }) }} </b>
                  – {{ $t('quicklinks') }}
                </div>
                <v-row dense class="pb-1">
                  <v-col cols="2">
                    <AdButton :to="{ name: 'dataset', params: { prefix: projectInFocus.prefix }}" color="grey lighten-1"
                      icon="mdi-book-open-blank-variant" text=" " list :hint="$t('datasets')" />
                  </v-col>
                  <v-col cols="2">
                    <AdButton :to="{ name: 'scenarios', params: { prefix: projectInFocus.prefix }}"
                      color="grey lighten-1" icon="mdi-movie" text=" " list :hint="$t('scenarios')" />
                  </v-col>
                  <v-col cols="2">
                    <AdButton :to="{ name: 'value-set', params: { prefix: projectInFocus.prefix }}"
                      color="grey lighten-1" icon="mdi-web" text=" " list :hint="$t('valuesets')" />
                  </v-col>
                  <v-col cols="2">
                    <AdButton :to="{ name: 'templates', params: { prefix: projectInFocus.prefix }}"
                      color="grey lighten-1" icon="mdi-check-circle" text=" " list :hint="$t('templates')" />
                  </v-col>
                  <v-col cols="2">
                    <AdButton :to="{ name: 'issues', params: { prefix: projectInFocus.prefix }}" color="grey lighten-1"
                      icon="mdi-flag" text=" " list :hint="$t('issues')" />
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-text class="pt-3 pb-1" v-else>
                <AdInfoOwl v-if="serverFeature({ path: 'decor.project', crudAction: 'read' })">{{ $t('select-project')
                  }}</AdInfoOwl>
              </v-card-text>
            </v-card>
            <!--
              PROJECT CHOICE CARD
              disabled if $feature('testingTerminologyOnly') = true with alternative card then
            -->
            <v-card class="mx-auto mb-4" width="auto"
              v-if="!isEmpty(serverInfo) && $feature('testingTerminologyOnly') === false && serverFeature({ path: 'decor.project', crudAction: 'read' })">
              <AdCardTitle appendicon="mdi-briefcase">
                {{ $t("projects") }}
              </AdCardTitle>
              <v-card-text>
                <div class="pt-3 pb-3" v-if="!projectInFocus">
                  {{ $t("choose-project") }}
                </div>
                <div class="pt-3 pb-3" v-else>
                  {{ $t("current") }}: <b>{{ $filters.getMatchingTranslation({value: projectInFocus.name, locale:
                    $i18n.locale }) }} </b>
                </div>
                <v-divider></v-divider>
                <v-container>
                  <v-row>
                    <v-col class="pb-0 pl-0 pr-0 pt-5">
                      <v-autocomplete v-model="SearchProjectChoice" :items="projectChoiceItems" dense clearable
                        prepend-icon="mdi-briefcase-search-outline" item-text="name" item-value="prefix"
                        :no-data-text="$t('no-matches')" :label="$t('search')" :filter="filterProjects"
                        :loading="projectIsLoading" :disabled="projectIsLoading" @change="handleSearchProjectChoice">
                        <template v-slot:selection="{ item }">
                          {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale })}}
                        </template>
                        <template v-slot:item="{ item }">
                          {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale })}}
                        </template>
                      </v-autocomplete>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
            <!--
              Terminology Card (if testingTerminologyOnly)
            -->
            <v-card class="mx-auto mb-4" width="auto"
              v-if="!isEmpty(serverInfo) && $feature('testingTerminologyOnly') === true">
              <AdCardTitle appendicon="mdi-web">
                {{ $t("Terminologies") }}
              </AdCardTitle>
              <v-card-text class="pa-3">
                <h2 class="pb-2">Explore with us!</h2>
                <p>
                  We invite you to visit our new Terminology Panel, part of our
                  new <strong>Centralized ART-DECOR Terminology Services (CADTS)</strong>. At
                  this stage you can browse across terminologies such as
                  SNOMED-CT, LOINC and others.
                </p>
                <v-row dense class="mt-5">
                  <v-col>
                    <img :src="require('@/assets/snomed-logo40.png')" />
                  </v-col>
                  <v-col>
                    <img :src="require('@/assets/regenstrief-logo40.png')" />
                  </v-col>
                </v-row>
                <v-row dense class="mb-4">
                  <v-col>
                    <img :src="require('@/assets/who-logo40.png')" />
                  </v-col>
                  <v-col>
                    <img :src="require('@/assets/rsna-logo40.png')" />
                  </v-col>
                </v-row>
                <p><strong>Here is the <a href="#/terminology/codesystem">direct link to the panel</a>.</strong></p>
                <p>Please provide feedback via email to our <a
                    :href="$root.mailtoPrefix + $root.suggestionsAddress">suggestion mailbox</a> at any time. We
                  appreciate your feedback.</p>
                <div>In the meantime, we are working on further developement regarding ART-DECOR 3, see our <a
                    href="https://art-decor.org/mediawiki/index.php?title=Roadmap">roadmap</a>.</div>
              </v-card-text>
            </v-card>
            <!--
              App Info Card
            -->
            <v-card class="mx-auto mb-4" width="auto" v-if="!isEmpty(serverInfo)">
              <AdCardTitle>
                {{ $root.apptitle }}
              </AdCardTitle>
              <v-card-text class="pa-3">
                <v-row dense>
                  <v-col>
                    <!-- show major and minor 1 revision number only for ART-DECOR version -->
                    <b>{{ $t("version") }} {{ $root.appversion }}</b>
                    • {{ $t("buildnumber") }} {{ $root.buildNumber }}
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col>
                    {{ artpackageversion }} • {{ apipackageversion }} • {{ decorpackageversion }}
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col>
                    {{ $t("database") }} v{{ existDatabaseVersion }} – {{ existDatabaseBuild }}
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col>
                    {{ serverInfo.defaultLanguage }}
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col> {{ $t("internet") }}: {{ $root.appinternetmain }} </v-col>
                </v-row>
              </v-card-text>
            </v-card>
            <!--
              Hosts Info Card
            -->
            <v-card class="mx-auto mb-4" width="auto">
              <AdCardTitle>
                {{ $t("hostedby") }}
              </AdCardTitle>
              <v-card-text class="pa-3">
                <v-img width="400px" :src="require('../../assets/hoster.png')"></v-img>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col class="col-6 col-md-4" v-if="true">
            <!--
              Service Info Card
            -->
            <v-card class="mx-auto mb-4" width="auto">
              <AdCardTitle>
                {{ $t("services") }}
              </AdCardTitle>
              <v-card-text>
                <div class="pt-3 pb-3">
                  <v-icon class="mr-2">mdi-newspaper-variant-multiple-outline
                  </v-icon>
                  <span v-html="$t('subscribe-to-newsletter', { url: $root.ADnewsletterURL })" />
                </div>
                <div class="pt-3 pb-3">
                  <v-icon class="mr-2">mdi-wrench </v-icon>
                  <span v-html="$t('Plannedmaintenance', { url: $root.appplannedmaintenance })" />
                </div>
                <div class="pt-3 pb-3">
                  <v-icon class="mr-2">mdi-lightbulb-outline</v-icon>
                  <span v-html="$t('feedbackfeaturerequests', { url: $root.mailtoPrefix + $root.feedbackAddress })" />
                </div>
                <div class="pt-3 pb-3">
                  <v-icon class="mr-2">mdi-email-check-outline </v-icon>
                  <span v-html="$t('support-hint', { url: $root.mailtoPrefix + $root.supportAddress })" />
                </div>
                <div class="pt-3 pb-3">
                  <v-icon class="mr-2">mdi-owl </v-icon>
                  <span v-html="$t('docs-hint', { url: $root.appinternetdocs })" />
                </div>
                <div class="pt-3 pb-3">
                  <!-- will get a new route that point to the new read-only governance group panel -->
                  <v-icon class="mr-2">mdi-home-city-outline</v-icon>
                  <span
                    v-html="$t('governance-groups-hosted-here', { url: $router.resolve({ name: 'governancegroup-panel' }).href })" />
                </div>
              </v-card-text>
            </v-card>
            <!--
              Server Info Card
            -->
            <v-card class="mx-auto" width="auto" v-if="!$feature('testingTerminologyOnly')">
              <AdCardTitle appendicon="mdi-server">
                {{ $t('this-server') }}
              </AdCardTitle>
              <v-card-text class="pa-3">
                <div v-if="!isEmpty(serverInfo)" class="mb-4">
                  <v-icon class="mr-2">mdi-cloud-check-outline</v-icon>
                  <b cloass="pr-2 pb-2"> {{ $t("cache-status") }} </b>
                  <div v-if="serverInfo.cache[0].cache !== 'true'" style="display: inline">

                    <AdStatusDot status="supended" tooltip />
                    {{ $t("cache-notconfigured") }}
                  </div>
                  <div v-else style="display: inline">
                    <!--
                      label cache freshness
                      - if up to 1440 minutes it is labeled as 'dynamic' = fresh
                      - else if 1440 .. 2880 minutes it is labeled as 'static'
                      - if more than 2880 minutes it is labeled as 'withered'
                    -->
                    <span v-if="cacheFreshnessMinutes <= 1440">
                      <AdStatusDot status="active" tooltip />
                      {{ $t("cache-dynamic") }}
                      ({{ serverInfo.cache[0].repos }} {{ $t('repositories')}})
                    </span>
                    <span v-if="
                        cacheFreshnessMinutes > 1440 &&
                        cacheFreshnessMinutes <= 2880
                      ">
                      <AdStatusDot status="pending" tooltip />
                      {{ $t("cache-static") }}
                      ({{ serverInfo.cache[0].repos }} {{ $t('repositories')}})
                    </span>
                    <span v-if="cacheFreshnessMinutes > 2880">
                      <AdStatusDot status="retired" tooltip />
                      {{ $t("cache-withered") }}
                      ({{ serverInfo.cache[0].repos }} {{ $t('repositories')}})
                    </span>
                    <br />
                    <span class="pl-9">
                      <!-- display the minutes as such or transform to hours or even days -->
                      <v-icon class="mr-2" small>mdi-clock-outline</v-icon>
                      <span class="caption grey--text" v-if="cacheFreshnessMinutes < 60">
                        {{
                        $t("last-refresh", [
                        cacheFreshnessMinutes,
                        $tc("minutes", cacheFreshnessMinutes),
                        ])
                        }}
                      </span>
                      <span class="caption grey--text" v-else-if="cacheFreshnessMinutes < 1440">
                        {{
                        $t("last-refresh", [
                        cacheFreshnessHours,
                        $tc("hours", cacheFreshnessHours),
                        ])
                        }}
                      </span>
                      <span class="caption grey--text" v-else>
                        {{
                        $t("last-refresh", [
                        cacheFreshnessDays,
                        $tc("days", cacheFreshnessDays),
                        ])
                        }}
                      </span>
                    </span>
                  </div>
                </div>

                <v-divider class="mb-4"></v-divider>

                <div v-if="serverInfo &&
                  serverInfo.serviceservers &&
                  serverInfo.serviceservers[0] &&
                  Object.prototype.hasOwnProperty.call(serverInfo.serviceservers[0], 'server')" class="mt-5 mb-4">
                  <v-card v-for="srsvc in serverInfo.serviceservers[0].server" :key="srsvc.name">
                    <pre> srsvc.name {{srsvc.name}}</pre>
                    <v-card-text class="pt-0" v-if="(r = getServerUptimes(srsvc.apiurl)) !== null">
                      <v-row dense>
                        <v-col>
                          <v-layout>
                            <v-icon class="mr-2">mdi-server-network</v-icon>
                            <div class="title font-weight-light">
                              {{ srsvc.name }}
                            </div>
                            <v-spacer></v-spacer>
                          </v-layout>
                        </v-col>
                      </v-row>
                      <div class="subheading font-weight-light grey--text">
                        {{
                        $t("server-uptime30", [r.uptimepct30median ? 1 : 2])
                        }}
                      </div>
                      <v-icon class="mr-2" small>mdi-clock-outline</v-icon>
                      <span class="caption grey--text font-weight-light">
                        {{ $t("last-poll", [r.lastPollMinutesAgo]) }}
                      </span>
                    </v-card-text>
                  </v-card>
                </div>

                <v-expansion-panels v-if="!isEmpty(serverInfo)" class="mb-4">
                  <v-expansion-panel>
                    <v-expansion-panel-header>{{ $t('artefact-statistics-for-this-server') }}</v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-row dense v-for="stats in this.statsDataArtefacts" :key="stats.title">
                        <v-col cols="2" class="d-flex justify-end ml-7 mr-3">
                          <span class="font-weight-bold">{{ (isNaN(stats.value) ? stats.value : $n(stats.value))
                            }}</span>
                        </v-col>
                        <v-col cols="1" class="d-flex justify-center mr-3">
                          <v-icon :color="stats.color">{{ stats.icon }}</v-icon>
                        </v-col>
                        <v-col cols="5">
                          {{ $t(stats.title) }}
                        </v-col>
                      </v-row>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
                <v-expansion-panels v-if="!isEmpty(serverInfo)">
                  <v-expansion-panel>
                    <v-expansion-panel-header>{{ $t('configuration') }}</v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <ul v-for="p in serverInfo.packages[0].package" :key="`${p.abbrev}-${p.version}`">
                        <li>
                          <span v-if="p.title">{{ p.title }}</span>
                          <span v-else>{{ p.abbrev }}</span>
                          {{ p.version }}
                        </li>
                      </ul>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </template>

      <!--
      <b>projectInFocus@store:</b> {{ projectInFocus }}<p></p>
      <b>projectSelected@store:</b> {{ projectSelected }}<p></p>
      Server Info {{ serverInfo }}
      -->
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { cloneDeep, isEmpty } from 'lodash'
import ServerService from '@/services/ServerService'

export default {
  name: 'AdHome',
  data () {
    return {
      isEmpty,
      search: '',
      SearchProjectChoice: null
    }
  },
  computed: {
    ...mapGetters({
      artefactStatsCards: ['server/artefactStatsCards'],
      artpackageversion: ['server/artpackageversion'],
      apipackageversion: ['server/apipackageversion'],
      projectIsLoading: ['project/projectIsLoading'],
      decorpackageversion: ['server/decorpackageversion'],
      serverInfo: ['server/serverInfo']
    }),
    cssHomeProps () {
      return {
        '--primary-color': this.$vuetify.theme.themes.light.primary
      }
    },
    currentUsername () {
      return this.$store.getters['authentication/getUsername']
    },
    currentUserFullName () {
      return this.$store.getters['authentication/getFullName']
    },
    existDatabaseVersion () {
      return this.serverInfo?.database?.[0].version
    },
    existDatabaseBuild () {
      const dbb = this.serverInfo?.database?.[0].build || null
      return dbb ? dbb.substr(0, 10) : ''
    },
    projectChoiceItems () {
      const projects = cloneDeep(this.$store.getters['project/getProjects']) || []
      return projects.sort((a, b) => {
        const nameA = this.$filters.getMatchingTranslation({ value: a.name, locale: this.$i18n.locale }).toLowerCase()
        const nameB = this.$filters.getMatchingTranslation({ value: b.name, locale: this.$i18n.locale }).toLowerCase()
        if (nameA < nameB) {
          return -1
        }
        if (nameA > nameB) {
          return 1
        }
        return 0
      })
    },
    statsDataArtefacts () {
      // get package versions to display them, only flagged with home === true
      return this.artefactStatsCards.filter((af) => af.home)
    },
    cacheFreshnessMinutes () {
      return this.serverInfo?.cache?.[0].fresh
    },
    cacheFreshnessHours () {
      return Math.round(this.serverInfo?.cache?.[0].fresh / 60)
    },
    cacheFreshnessDays () {
      return Math.round(this.serverInfo?.cache?.[0].fresh / 1440)
    }
  },
  methods: {
    filterProjects (item, queryText, itemText) {
      const prefix = item.prefix.toLowerCase()
      const name = this.$filters.getMatchingTranslation({ value: item.name, locale: this.$i18n.locale })?.toLowerCase()
      const query = queryText.toLowerCase()
      return name?.includes(query) || prefix?.includes(query)
    },
    handleSearchProjectChoice () {
      const { prefix, name } = this.projectChoiceItems.find((project) => project.prefix === this.SearchProjectChoice)
      if (prefix && name) {
        const projectCandidate = {
          prefix,
          name: this.$filters.getMatchingTranslation({ value: name, locale: this.$i18n.locale })
        }
        this.setProjectFromCandidate(projectCandidate)
      }
    },
    setProjectFromCandidate (projectCandidate) {
      this.$router.push({ name: 'project-overview', params: { prefix: projectCandidate.prefix } })
        .then(() => {
          this.SearchProjectChoice = null
        })
        .catch(() => {})
    },
    async getServerUptimes (url) {
      let res = null
      try {
        res = (await ServerService.getServerUptimes(url + '/uptimes')).data
      } catch (err) {
        console.log(err)
      }
      return res
    }
  }
}
</script>

<style lang="scss">
.quick-card {
  .quick-card-icon {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
</style>

<style lang="css">
.v-sheet--offset {
  top: -18px;
  position: relative;
}
.v-treeview-node__root {
  margin: 0 0 0 -15px !important;
}
.v-treeview-node__root::before .v-treeview-node--active {
  margin: 0px !important;
}
.v-treeview--dense .v-treeview-node__root {
  min-height: 27px !important;
}
.v-treeview-node__toggle {
  font-size: 12px;
}
div.concept {
  box-shadow: none;
  -webkit-box-shadow: none;
  -mozbox-box-shadow: none;
  border: none;
}
</style>
