<template>
  <v-layout>
    <v-container fluid>
      <!--
        Under Construction Page
      -->
      <v-alert
        text
        icon="mdi-hammer-wrench"
        type="warning"
      >{{ $t("still-in-development") }}</v-alert>
    </v-container>
  </v-layout>
</template>

<script>
/*
const pause = (ms) => new Promise((resolve) => setTimeout(resolve, ms));
*/

export default {
  name: 'UnderConstruction'
}
</script>
