<template>
  <v-layout>
    <v-flex>
      <adawib-admin-panel></adawib-admin-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import AdawibAdminPanel from '@/components/ServerAdmin/AdawibAdminPanel'

export default {
  name: 'adawib-admin',
  components: {
    AdawibAdminPanel
  }
}
</script>
