<template>
  <v-layout>
    <v-flex>
      <art-settings-admin-panel></art-settings-admin-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import ArtSettingsAdminPanel from '@/components/ServerAdmin/ArtSettingsAdminPanel'

export default {
  name: 'ArtSettingsAdmin',
  components: {
    ArtSettingsAdminPanel
  }
}
</script>
