<template>
  <v-layout>
    <v-flex>
      <decor-locks-panel></decor-locks-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import DecorLocksPanel from '@/components/ServerAdmin/DecorLocksPanel'

export default {
  name: 'DecorLocks',
  components: {
    DecorLocksPanel
  }
}
</script>
