<template>
  <v-layout>
    <v-flex>
      <functions-admin-panel></functions-admin-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import FunctionsAdminPanel from '@/components/ServerAdmin/FunctionsAdminPanel'

export default {
  name: 'FunctionsAdmin',
  components: {
    FunctionsAdminPanel
  }
}
</script>
