<template>
  <v-layout>
    <v-flex>
      <oid-registry-list-panel></oid-registry-list-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import OidRegistryListPanel from '@/components/ServerAdmin/OidRegistryListPanel'

export default {
  name: 'OidRegistryList',
  components: {
    OidRegistryListPanel
  }
}
</script>
