<template>
  <v-layout>
    <v-flex>
      <project-admin-panel></project-admin-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import ProjectAdminPanel from '@/components/ServerAdmin/ProjectAdminPanel'

export default {
  name: 'project-admin',
  components: {
    ProjectAdminPanel
  }
}
</script>
