<template>
  <v-layout>
    <v-flex>
      <server-governancegroup-admin-panel></server-governancegroup-admin-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import ServerGovernancegroupAdminPanel from '@/components/ServerAdmin/ServerGovernancegroupAdminPanel'

export default {
  name: 'ServerGovernancegroupAdmin',
  components: {
    ServerGovernancegroupAdminPanel
  }
}
</script>
