<template>
  <v-layout>
    <v-flex>
      <server-scheduler-panel></server-scheduler-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import ServerSchedulerPanel from '@/components/ServerAdmin/ServerSchedulerPanel'

export default {
  name: 'ServerScheduler',
  components: {
    ServerSchedulerPanel
  }
}
</script>
