<template>
  <v-layout>
    <v-flex>
      <server-admin-panel></server-admin-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import ServerAdminPanel from '@/components/ServerAdmin/ServerAdminPanel'

export default {
  name: 'server-admin',
  components: {
    ServerAdminPanel
  }
}
</script>
