<template>
  <v-layout>
    <v-flex>
      <urgent-news-panel></urgent-news-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import UrgentNewsPanel from '@/components/ServerAdmin/UrgentNewsPanel'

export default {
  name: 'urgent-news-admin',
  components: {
    UrgentNewsPanel
  }
}
</script>
