<template>
  <v-layout>
    <v-flex>
      <user-admin-panel></user-admin-panel>
    </v-flex>
  </v-layout>
</template>

<script>
import UserAdminPanel from '@/components/ServerAdmin/UserAdminPanel'

export default {
  name: 'user-admin',
  components: {
    UserAdminPanel
  }
}
</script>
