<template>
  <div
    class="editable-status-code"
    v-bind:class="{ 'is-authenticated': isAuthenticated }"
  >
    <v-select
      ref="input"
      v-model.lazy="editableValue"
      v-bind="{...$props, ...$attrs}"
      v-on="{...$listeners, input: () => {}, change: () => {}}"
      :class="{'required': !!isRequired && !isReadonly, 'readonly': !!isReadonly}"
      :items="parsedStatuses"
      :readonly="isReadonly"
      :append-icon="!isEditable ? null : undefined"
      :rules="parsedRules"
      item-value="value"
      item-text="translatedLabel"
      item-disabled="disabled"
      @focus="startEditMode"
      @change="saveEditValue"
      @click:clear="cancelEditMode"
      @keydown.esc="cancelEditMode"
      @blur="cancelEditMode"
    >
      <template v-if="!!infoText" v-slot:append-outer>
        <EditableInfoIcon :infoText="infoText" />
      </template>

      <template v-slot:item="{ item, attrs, on }">
        <v-list-item v-on="on" v-bind="attrs">
          <v-list-item-content>
            <v-list-item-title class="d-flex align-center">
              <AdStatusDot class="mr-1" :status="item.value"></AdStatusDot>
              <span v-text="item.translatedLabel"></span>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>

      <template v-slot:selection="{ item }">
        <div class="text-truncate">
          <AdStatusDot class="mr-1" :status="item.value"></AdStatusDot>
          <span v-text="item.translatedLabel"></span>
        </div>
      </template>
    </v-select>
  </div>
</template>

<script>
import AdStatusDot from '@/components/Utilities/AdStatusDot'
import EditableInfoIcon from '@/components/Utilities/Editable/Helper/EditableInfoIcon'
import AbstractInput from '@/components/Utilities/Editable/Helper/AbstractInput'

export default {
  /**
   * Extends.
   */
  extends: AbstractInput,

  /**
   * Properties.
   */
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },

    // Vuetify props.
    appendIcon: String,
    attach: Promise,
    cacheItems: Boolean,
    chips: Boolean,
    clearable: Boolean,
    deletableChips: Boolean,
    disableLookup: Boolean,
    eager: Boolean,
    hideSelected: Boolean,
    items: Array,
    itemColor: String,
    itemDisabled: [String, Array, Function],
    itemText: [String, Array, Function],
    itemValue: [String, Array, Function],
    menuProps: [String, Array, Object],
    multiple: Boolean,
    openOnClear: Boolean,
    returnObject: Boolean,
    smallChips: Boolean
  },

  /**
   * Components.
   */
  components: {
    EditableInfoIcon,
    AdStatusDot
  },

  /**
   * Data variables.
   */
  data () {
    return {
      editableValue: null
    }
  },

  /**
   * Computed variables.
   */
  computed: {
    /**
     * Get parsed statuses.
     *
     * @return []
     */
    parsedStatuses () {
      // Define statuses.
      const statuses = []
      // Try to get current setting.
      const currentSetting = this.settings.find(
        (setting) => setting.value === this.editableValue
      )
      // Loop each available status.
      for (const status of this.statuses) {
        // Try to get setting.
        const setting = this.settings.find(
          (setting) => setting.value === status.value
        )
        // Check if setting is not nil.
        if (!!setting === true) {
          // Add disabled state to status.
          status.disabled =
            !!currentSetting === true
              ? (currentSetting?.allow || []).includes(status.value) === false
              : false

          // Push status to status array.
          statuses.push(status)
        }
      }

      return statuses
    }
  },

  /**
   * Watchers.
   */
  watch: {
    /**
     * Watch changes of current value.
     */
    value: {
      immediate: true,
      handler (value) {
        // Set editable value in base of value.
        this.editableValue = value
      }
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Start edit mode.
     */
    startEditMode () {
      // Check if status is editable.
      if (this.isEditable === true) {
        // Wait for the next tick.
        this.$nextTick(() => {
          // Focus input element.
          this.$refs.input.activateMenu()
          // Focus input element.
          this.$refs.input.focus()
        })
      }
    },

    /**
     * Cancel edit mode.
     */
    cancelEditMode () {
      // Check if status is editable.
      if (this.isEditable === true) {
        // Set editable value in base of value.
        this.editableValue = this.value
      }
    },

    /**
     * Save edit value.
     */
    async saveEditValue () {
      // Check if status is editable and valid.
      if (this.isEditable === true && this.isReadonly === false && this.$refs.input.validate() === true) {
        // Get new value.
        const newValue = String(this.editableValue)
        // Check if confirmation is required and get status of agree.
        const agree = this.confirmationRequired
          ? await this.$confirm(this.$t('status-final-issaved'))
          : true

        // Check if agree is true.
        if (agree) {
          // Emit current input value.
          this.$emit('input', newValue)
          // Emit current change value.
          this.$emit('change', newValue)
          // Blur input element.
          this.$refs.input.blur()
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}

::v-deep .readonly.v-input--is-focused .v-label:after {
  font-family: 'Material Design Icons';
  -webkit-font-feature-settings: 'liga';
  content: "\F0341";
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

 .editable-status-code ::v-deep .v-select__selections {
  flex-wrap: nowrap;
}
</style>
