<template>
  <div v-if="editableItem">
    <RecursiveStatusChange
      v-model="showRecursiveStatusDialog"
      :status="editableItem.statusCode"
      :statusInput="parsedArtefact === 'Templates' ? 'EditableTemplateStatusCode' : 'EditableItemStatusCode'"
      :onSave="handleSaveRecursiveStatus"
      @close="handleCloseRecursiveStatusModal"
    />
    <v-row dense v-if="!((readonly || !isEditableDesc) && !editableItem.desc)">
      <v-col cols="12">
        <EditableTextArea
          v-model="editableItem.desc"
          :locales="locales"
          :label="$t('description')"
          :readonly="readonly || !isEditableDesc"
          show-dialog
          :truncated.sync="descriptionTruncated"
          :validator="parsedArtefact === 'Dataset' ? datasetDescriptionIsValid : null"
          @change="saveEditedValue('desc', $event)"
        >
          <template #editable:prepend="{value}">
            <AdInfoOwl v-if="parsedArtefact === 'Dataset' && !datasetDescriptionIsValid(value)" warning>
              {{ $t('description-in-default-language-required') }}
            </AdInfoOwl>
          </template>
        </EditableTextArea>
      </v-col>
    </v-row>

    <v-row class="d-flex align-center" dense>
      <v-col cols="1" v-if="isOID(editableItem.id || editableItem.ref)">
        <EditableOID
          :value="editableItem.id || editableItem.ref"
          :label="$t('id')"
          readonly
          enableCopy
          short
        />
      </v-col>
      <v-col cols="4" v-else>
        <EditableString
          :value="editableItem.id || editableItem.ref"
          :label="$t('id')"
          readonly
        />
      </v-col>

      <v-col class="flex-grow-1">
        <EditableTranslationEditor
          v-if="parsedArtefact === 'Implementationguide'"
          v-model="editableItem.title"
          :readonly="readonly || !isEditableName"
          :label="$t('title')"
          confirmation-required
          @change="saveEditedValue('title', $event)"
        />
        <EditableString
          v-else-if="nameInArtefacts.includes(parsedArtefact) && (!isEditableName || isInheritedOrContained)"
          :value="$filters.getMatchingTranslation({ value: editableItem.name })"
          readonly
          :label="$t('name')"
        />
        <EditableTranslationEditor
          v-else-if="nameInArtefacts.includes(parsedArtefact)"
          v-model="editableItem.name"
          :locales="locales"
          :label="$t('name')"
          :readonly="readonly || !isEditableName"
          confirmation-required
          @change="saveEditedValue('name', $event)"
        />
        <EditableString
          v-if="displayNameInArtefacts.includes(parsedArtefact)"
          v-model="editableItem.displayName"
          :locales="locales"
          :label="$t('display-name')"
          :readonly="readonly || !isEditableName"
          confirmation-required
          @change="saveEditedValue('displayName', $event)"
        />
      </v-col>

      <v-col v-if="editableItem.statusCode || !readonly" cols="2" >
        <component
          :is="statusCodeComponent"
          ref="statusInput"
          v-model="editableItem.statusCode"
          :readonly="!isEditableStatusCode"
          :label="$t('status')"
          @input="handleStatusChange($event)"
          :confirmation-required="confirmStatusChange"
        />
      </v-col>

      <v-col v-if="editableItem.effectiveDate || !readonly" cols="2">
        <EditableEffectiveDate
          v-model="editableItem.effectiveDate"
          :label="$t('version')"
          readonly
        />
      </v-col>

      <v-col cols="2" v-if="!(parsedArtefact === 'Issue' || ((readonly || !isEditableVersionLabel) && !editableItem.versionLabel))">
        <EditableString
          v-model="editableItem.versionLabel"
          :label="$t('versionLabel')"
          :placeholder="$t('none')"
          :readonly="readonly || !isEditableVersionLabel"
          confirmation-required
          show-delete-icon
          @change="saveEditedValue('versionLabel', $event)"
        />
      </v-col>

      <v-col v-if="hasDetails" class="flex-grow-0 flex-shrink-1">
        <AdButton
          :type="showMoreMetaData ? 'less' : 'moremeta'"
          medium
          list
          @click="handleToggleShowMoreMetaData"
        />
      </v-col>
    </v-row>

    <div v-if="hasDetails">
      <v-slide-y-transition hide-on-leave>
        <div v-if="!!showMoreMetaData || !!showMore">
          <slot/>
        </div>
      </v-slide-y-transition>
    </div>
  </div>
</template>

<script>
import RecursiveStatusChange from '@/components/Utilities/RecursiveStatusChange'
import LockService from '@/services/LockService'
import { cloneDeep } from 'lodash'

export default {
  name: 'EditableArtefactDetailHeader',
  components: {
    RecursiveStatusChange
  },
  props: {
    // artefact needed to determine to show
    // name (displayNameInArtefacts) and
    // displayName (nameInArtefacts)
    artefact: {
      type: String,
      default: 'Dataset',
      required: true
    },
    item: {
      type: Object,
      required: false,
      default: () => {
      }
    },
    isEditableStatusCode: {
      type: Boolean,
      required: false,
      default: false
    },
    isEditableName: {
      type: Boolean,
      required: false,
      default: true
    },
    isEditableDesc: {
      type: Boolean,
      required: false,
      default: true
    },
    isEditableVersionLabel: {
      type: Boolean,
      required: false,
      default: true
    },
    locales: {
      type: Array,
      required: false,
      default: () => []
    },
    service: {
      type: [String, Function],
      required: false,
      default: undefined
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    },
    hasDetails: {
      type: Boolean,
      required: false,
      default: true
    },
    showMore: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      // Purpose: conditionally check EditableString
      displayNameInArtefacts: [
        'ValueSet',
        'CodeSystem',
        'Templates',
        'Profiles',
        'Issue',
        'ConceptMap'
      ],
      // Purpose: conditionally check EditableTranslationEditor
      // Note for name (nameInArtefacts)
      // There is no displayName for these artefacts,
      // but a description in element desc that goes to the multilingual text area
      // above the Detail Header.
      nameInArtefacts: [
        'Dataset',
        'DatasetConcept',
        'Scenario',
        'Transaction',
        'Questionnaire',
        'QuestionnaireResponse'
      ],
      editableItem: {},
      showMoreMetaData: false,
      showRecursiveStatusDialog: false

    }
  },
  watch: {
    item: {
      immediate: true,
      deep: true,
      handler (item) {
        // Clone item.
        this.editableItem = JSON.parse(JSON.stringify(item)) || {}
      }
    },
    showMore: {
      immediate: true,
      handler () {
        // Only set if the user set the prop, not the default value.
        if (typeof this.$options.propsData.showMore === 'boolean') {
          this.showMoreMetaData = this.$options.propsData.showMore
        }
      }
    }
  },
  computed: {
    confirmStatusChange () {
      return !(
        (this.parsedArtefact === 'DatasetConcept' && this.editableItem.type === 'group') ||
        this.parsedArtefact === 'Dataset' ||
        this.parsedArtefact === 'Scenario' ||
        (this.parsedArtefact === 'Transaction' && this.editableItem.type === 'group')
      )
    },
    descriptionTruncated: {
      get () {
        if (['Dataset', 'DatasetConcept'].includes(this.parsedArtefact)) {
          return !this.$store.state.dataset.expandedSections.description
        }
        if (['Scenario', 'Transaction'].includes(this.parsedArtefact)) {
          return !this.$store.state.scenario.expandedSections.description
        }
        if (this.parsedArtefact === 'ValueSet') {
          return !this.$store.state.terminology.expandedSections.valueSet.description
        }
        if (this.parsedArtefact === 'CodeSystem') {
          return !this.$store.state.terminology.expandedSections.codeSystem.description
        }
        if (this.parsedArtefact === 'Templates') {
          return !this.$store.state.rule.template.expandedSections.description
        }
        if (['Questionnaire', 'QuestionnaireResponse'].includes(this.parsedArtefact)) {
          return !this.$store.state.questionnaire.expandedSections.description
        }
        return undefined
      },
      set (value) {
        if (['Dataset', 'DatasetConcept'].includes(this.parsedArtefact)) {
          return this.$store.commit('dataset/setExpandedSection', { section: 'description', value: !value })
        }
        if (['Scenario', 'Transaction'].includes(this.parsedArtefact)) {
          return this.$store.commit('scenario/setExpandedSection', { section: 'description', value: !value })
        }
        if (this.parsedArtefact === 'ValueSet') {
          return this.$store.commit('terminology/setExpandedSection', { panel: 'valueSet', section: 'description', value: !value })
        }
        if (this.parsedArtefact === 'CodeSystem') {
          return this.$store.commit('terminology/setExpandedSection', { panel: 'codeSystem', section: 'description', value: !value })
        }
        if (this.parsedArtefact === 'Templates') {
          return this.$store.commit('rule/template/setExpandedSection', { section: 'description', value: !value })
        }
        if (['Questionnaire', 'QuestionnaireResponse'].includes(this.parsedArtefact)) {
          return this.$store.commit('questionnaire/setExpandedSection', { section: 'description', value: !value })
        }
      }
    },
    isInheritedOrContained () {
      return !!(this.editableItem.inherit || this.editableItem.contains)
    },
    parsedArtefact () {
      switch (this.artefact) {
        case 'DS':
          return 'Dataset'
        case 'DE':
          return 'DatasetConcept'
        case 'SC':
          return 'Scenario'
        case 'TR':
          return 'Transaction'
        case 'VS':
          return 'ValueSet'
        case 'TM':
          return 'Templates'
        case 'CS':
          return 'CodeSystem'
        case 'IG':
          return 'Implementationguide'
        case 'IS':
          return 'Issue'
        case 'QQ':
          return 'Questionnaire'
        case 'QR':
          return 'QuestionnaireResponse'
        case 'QE':
          return 'Questionnaire'
        case 'MP':
          return 'ConceptMap'
        default:
          return this.artefact
      }
    },
    statusCodeComponent () {
      if (this.parsedArtefact === 'Templates') {
        return 'EditableTemplateStatusCode'
      }
      if (this.parsedArtefact === 'Issue') {
        return 'EditableIssueStatusCode'
      }
      if (this.parsedArtefact === 'QuestionnaireResponse') {
        return 'EditableQuestionnaireResponseStatusCode'
      }
      return 'EditableItemStatusCode'
    }

  },

  methods: {
    async handleCloseRecursiveStatusModal (withSuccess) {
      try {
        if (!withSuccess) {
          this.restoreEditableItem()
        }

        if (this.parsedArtefact === 'Dataset') {
          const datasetId = this.editableItem.id
          const datasetEffectiveDate = this.editableItem.effectiveDate
          LockService.unlockObjectId({ objectId: datasetId, effectiveDate: datasetEffectiveDate })
            .catch(error => {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              this.$oops(errorMessage)
            })
        }

        await this.$nextTick()
        this.$refs.statusInput.$refs.input.blur()
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },

    async handleSaveRecursiveStatus (data) {
      try {
        // If not recursive, use default update method
        if (data.recurse !== 'true') {
          await this.saveEditedValue('statusCode', data.statusCode)
          return
        }

        const { id, effectiveDate } = this.editableItem

        if (this.parsedArtefact === 'DatasetConcept') {
          await this.$store.dispatch('dataset/postConceptStatus', { id, effectiveDate, params: { ...data, treeonly: true } })
          return
        }
        if (this.parsedArtefact === 'Dataset') {
          await this.$store.dispatch('dataset/postDatasetStatus', { id, effectiveDate, params: { ...data } })
          return
        }
        if (this.parsedArtefact === 'Scenario') {
          await this.$store.dispatch('scenario/postScenarioStatus', { id, effectiveDate, params: { ...data } })
          return
        }
        if (this.parsedArtefact === 'Transaction') {
          await this.$store.dispatch('scenario/postTransactionStatus', { id, effectiveDate, params: { ...data } })
        }
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },

    async handleStatusChange (data) {
      if (this.parsedArtefact === 'Dataset') {
        // Lock the dataset
        try {
          const { id: objectId, effectiveDate } = this.editableItem
          await LockService.lockObjectId({ objectId, effectiveDate })
        } catch (error) {
          this.restoreEditableItem()
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
          return
        }
      }

      // Show dialog or patch directly
      if (
        (this.parsedArtefact === 'DatasetConcept' && this.editableItem.type === 'group') ||
        (this.parsedArtefact === 'Dataset') ||
        (this.parsedArtefact === 'Scenario') ||
        (this.parsedArtefact === 'Transaction' && this.editableItem.type === 'group')
      ) {
        this.showRecursiveStatusDialog = true
      } else {
        this.saveEditedValue('statusCode', data)
      }
    },

    handleToggleShowMoreMetaData () {
      this.showMoreMetaData = !this.showMoreMetaData
      this.$emit('update:showMore', this.showMoreMetaData)
    },

    isOID (v) {
      return /^[0-2](\.(0|[1-9][0-9]*))*$/.test(v)
    },

    restoreEditableItem () {
      this.editableItem = cloneDeep(this.item)
    },

    /**
     * Save edit changes.
     *
     * @param type
     * @param value
     */
    async saveEditedValue (type, value) {
      // Define data.
      const data = {
        parameter: []
      }

      // Check if value is not an array.
      if (Array.isArray(value) === false) {
        // Check if operation is deleted.
        const isDeleted = type === 'versionLabel' && !value
        // Push parameter.
        data.parameter.push({
          op: isDeleted ? 'remove' : 'replace',
          path: `/${type}`,
          value
        })
      }

      // Check if value is an array.
      if (Array.isArray(value) === true) {
        // Push parameter.
        data.parameter.push(
          ...Object.values(value)
            .filter((currentValue) => currentValue?.['#text'] && currentValue?.language)
            .map((currentValue) => {
              // Remove descriptions with no content
              if (type === 'desc' && !this.$filters.htmlHasTextContent(currentValue['#text'])) {
                const originalItem = this.item?.[type]?.find(
                  value => value.language === currentValue.language
                )
                return {
                  op: 'remove',
                  path: `/${type}`,
                  value: { [type]: originalItem }
                }
              }
              return {
                op: (this.item?.[type] || []).find(
                  (value) => value.language === currentValue.language
                ) !== undefined
                  ? 'replace'
                  : 'add',
                path: `/${type}`,
                value: { [type]: currentValue }
              }
            })
        )
      }

      // Check if parameter exists.
      if (data.parameter.length > 0) {
        // Check if service is dataset.
        if (this.service === 'dataset') {
          // Patch dataset.
          return this.$store.dispatch('dataset/patchDatasetItem', { item: this.item, data })
            .catch((error) => {
              this.restoreEditableItem()
              // Get error message.
              const errorMessage = error?.response?.data?.description || error.message || error?.response?.statusText || 'Error'
              // Show error message on alert dialog.
              this.$oops(errorMessage)
            })
        }

        // Check if service is dataset concept.
        if (this.service === 'dataset-concept') {
          // Patch dataset concept.
          return this.$store.dispatch('dataset/patchConceptItem', { item: this.item, data, params: { associations: true } })
            .catch((error) => {
              this.restoreEditableItem()
              // Get error message.
              const errorMessage = error?.response?.data?.description || error.message || error?.response?.statusText || 'Error'
              // Show error message on alert dialog.
              this.$oops(errorMessage)
            })
        }

        // Check if service is a callable function.
        if (this.service instanceof Function) {
          // Call the service.
          this.service(this.item, data, { type, value })
        }
      }
    },
    datasetDescriptionIsValid (value) {
      if (!Array.isArray(value)) {
        return false
      }
      const isValid = value.some(desc => desc.language === this.projectInFocus?.defaultLanguage && this.$filters.htmlHasTextContent(desc['#text']))
      return isValid
    }
  }
}
</script>
