<template>
  <div class="scenario-treeview-card">
    <TreeviewPanel
        :trees="trees"
        :filters="filters"
        v-on="$listeners" />
  </div>
</template>
<script>
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'

export default {
  name: 'ScenarioTreeViewCard',
  components: {
    TreeviewPanel
  },
  props: {
    trees: {
      type: [Array, Object],
      required: true
    },
    filters: {
      type: Array,
      required: false,
      default: () => []
    }
  }
}
</script>
