<template>
  <div v-if="showMoreMetaData">
    <v-row dense>
      <v-col cols="3" v-if="isTransactionLeaf()">
        <v-text-field
          :value="scenarioItem.model"
          :label="$t('model')"
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="3" v-if="isTransactionLeaf()">
        <v-text-field
          :value="scenarioItem.label"
          :label="$t('label')"
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field
          :value="scenarioItem.officialReleaseDate"
          :label="$t('official-release-date')"
          readonly
        >
        </v-text-field>
      </v-col>
      <v-col cols="3">
        <v-text-field
          :value="scenarioItem.expirationDate"
          :label="$t('expiration-date')"
          readonly
        >
        </v-text-field>
      </v-col>
    </v-row>
    <!--
      MISSING FIELDS: trigger, condition, dependencies
      here is the start
    <v-row dense>
      <v-col cols="11" class="py-2">
        <div v-if="scenarioItem.trigger === undefined">
          <span class="valueDomainLabel">{{ $t("trigger") }}</span>
          <AdButton
            type="add"
            small
            list
            @click="addMetaItem('trigger', [])"
          />
        </div>
        <div v-else>
          <EditableTranslationEditor
            v-model="scenarioItem.trigger"
            :label="$t('trigger')"
            dense
          />
        </div>
      </v-col>
    </v-row>
    -->
    <v-row v-if="isTransactionLeaf()" dense>
      <v-col cols="3">
        <AdButton
          type="edit"
          :text="$t('template')"
        />
      </v-col>
      <v-col cols="9">
        <AdArtefactDetailsCard v-if="representingTemplateInfo[0].id" :object="representingTemplateInfo[0]" />
      </v-col>
    </v-row>
    <v-row v-if="isTransactionLeaf()" dense class="pb-3">
      <v-col cols="3">
        <AdButton
          type="edit"
          :text="$t('source-dataset')"
        />
      </v-col>
      <v-col cols="9">
        <AdArtefactDetailsCard v-if="sourceDatasetInfo[0].id" :object="sourceDatasetInfo[0]" />
      </v-col>
    </v-row>
    <v-row v-if="isTransactionLeaf()" dense>
      <v-col cols="12">
        <v-card>
          <AdCardTitle inline>{{ $t('actors') }}</AdCardTitle>
          <v-card-text>
            <v-data-table
              :headers="actorHeaders"
              :items="thisTransactionActorList"
              item-key="id"
              :no-data-text="$t('no-actors')"
              single-select
              dense
            >
              <template v-slot:[`item.type`]="{ item }">
                <v-icon
                  v-if="item.type === 'organization'"
                >mdi-hospital-building
                </v-icon
                >
                <v-icon v-if="item.type === 'person'">mdi-doctor</v-icon>
                <v-icon v-if="item.type === 'device'">mdi-monitor</v-icon>
              </template>

              <template v-slot:[`item.name`]="{ item }">
                {{
                  $filters.getMatchingTranslation({
                    value: item.name
                  })
                }}
              </template>

              <template v-slot:[`item.desc`]="{ item }">
                {{
                  $filters.getMatchingTranslation({
                    value: item.desc
                  })
                }}
              </template>

              <template v-slot:[`item.data-actions`]="{ item }">
                <div v-if="isEditable" class="text-no-wrap">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                      <AdButton
                        type="edit"
                        list
                        v-on="tooltip"
                        class="mr-2"
                        @click="editActorItem(item)"
                      />
                    </template>
                    <span>{{ $t('edit') }}</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                      <AdButton
                        type="delete"
                        list
                        v-on="tooltip"
                        class="mr-2"
                        @click="deleteActorItem(item)"
                      />
                    </template>
                    <span>{{ $t('delete') }}</span>
                  </v-tooltip>
                </div>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {}
</script>
