<template>
  <AdPageUnavailable :path="['decor.rules', 'decor.rules.associations']">
    <v-layout>
      <v-flex>
        <AssociationPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>
import AssociationPanel from '@/components/Rule/AssociationPanel'

export default {
  name: 'RuleAssociation',

  components: {
    AssociationPanel
  },

  beforeRouteUpdate (to, from, next) {
    if (from.params.prefix !== to.params.prefix) {
      const prefix = from.params.prefix
      this.sockets.unsubscribe(`PATCH/${prefix}/templateAssociation`)
    }

    next()
  },

  beforeRouteLeave (to, from, next) {
    const prefix = from.params.prefix
    this.sockets.unsubscribe(`PATCH/${prefix}/templateAssociation`)

    next()
  }
}
</script>
