<template>
  <AdPageUnavailable :path="['decor.rules', 'decor.rules.identifiers']">
    <v-layout>
      <v-flex>
        <IdentifiersPanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>

import IdentifiersPanel from '@/components/Rule/IdentifiersPanel'

export default {
  name: 'RuleIdentifiers',
  components: {
    IdentifiersPanel
  }
}
</script>
