<template>
  <AdPageUnavailable :path="['decor.rules', 'decor.rules.profiles]']">
    <v-layout>
      <v-flex>
        <ProfilePanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>

import ProfilePanel from '@/components/Rule/ProfilePanel'

export default {
  name: 'AdProfile',
  components: {
    ProfilePanel
  },
  beforeRouteEnter (to, from, next) {
    if (to.name === 'profiles') {
      return next(async vm => {
        if (!vm.$store.state.rule.profile.loaded.profiles) {
          await vm.$store.dispatch('rule/profile/getProfiles')
            .catch(error => {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              vm.$oops(errorMessage)
            })
        }
      })
    }
    next()
  },
  async beforeRouteUpdate (to, from, next) {
    if (!this.$store.state.rule.profile.loaded.profiles) {
      await this.$store.dispatch('rule/profile/getProfiles')
        .catch(error => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    }
    next()
  },
  beforeRouteLeave (to, from, next) {
    const exceptions = ['profiles']
    const profilesLoaded = this.$store.state.rule.profile.loaded.profiles
    this.$store.commit('rule/profile/initProfiles', exceptions)
    this.$store.commit('rule/profile/setLoaded', { key: 'profiles', status: profilesLoaded })
    next()
  }
}
</script>
