<template>
  <AdPageUnavailable :path="['decor.rules', 'decor.rules.templates']">
    <v-layout>
      <v-flex>
        <TemplatePanel/>
      </v-flex>
    </v-layout>
  </AdPageUnavailable>
</template>

<script>

import TemplatePanel from '@/components/Rule/TemplatePanel'

export default {
  name: 'AdTemplate',
  components: {
    TemplatePanel
  },
  beforeRouteEnter (to, from, next) {
    if (to.name === 'templates') {
      return next(async vm => {
        if (!vm.$store.state.rule.template.loaded.templates) {
          await vm.$store.dispatch('rule/template/setTemplateList')
        }
      })
    }
    next()
  },
  async beforeRouteUpdate (to, from, next) {
    if (!this.$store.state.rule.template.loaded.templates) {
      await this.$store.dispatch('rule/template/setTemplateList')
    }
    next()
  },
  beforeRouteLeave (to, from, next) {
    const exceptions = ['templates']
    const templatesLoaded = this.$store.state.rule.template.loaded.templates
    this.$store.commit('rule/template/initProfiles', exceptions)
    this.$store.commit('rule/template/setLoaded', { key: 'templates', status: templatesLoaded })
    next()
  }
}
</script>
