<template>
  <v-menu
    v-if="conceptTreeProperties.length"
    :close-on-content-click="false"
    offset-y
  >
    <template #activator="{ on, attrs }">
      <v-btn
        class="order-0"
        v-bind="attrs"
        v-on="on"
        :class="{'green': activeKeywords.length, 'mr-2': true}"
        :color="activeKeywords.length ? 'white' : 'light-green darken-2'"
        icon
        outlined
        small
      >
        <v-icon small>mdi-tag-outline</v-icon>
      </v-btn>
    </template>
    <v-card outlined>
      <v-card-text class="pa-5">
        <v-combobox
          :value="activeKeywords"
          @input="$emit('update:activeKeywords', $event)"
          item-text="#text"
          prepend-inner-icon="mdi-tag-outline"
          :clearable="true"
          :items="conceptTreeProperties"
          hide-selected
          multiple
          chips
          :label="$t('keywords')"
          :readonly="false"
        />
      </v-card-text>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  name: 'DatasetConceptPropertyFilter',
  props: {
    activeKeywords: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    conceptTreeProperties () {
      return this.$store.state.dataset.tree.concepts.property || []
    }
  }
}
</script>
