<template>
  <v-dialog v-model="$store.state.dataset.showNewDatasetDialog" width="900" persistent scrollable>
    <v-card>
      <AdCardTitle dialog>{{ $t('add-dataset') }}</AdCardTitle>
      <v-card-text class="pa-5">
        <div v-if="projectSelected" class="mb-5">
          <v-icon color="orange darken-1" class="pr-2">mdi-briefcase</v-icon>
          {{$filters.getMatchingTranslation({value: projectInFocus.name }) || projectSelected.name}} ({{projectInFocus.prefix}})
        </div>

        <v-form ref="valusetRef" v-model="formIsValid">
          <EditableTranslationEditor
            v-model="newDataset.name"
            ref="name"
            :rules="[...rulesDataset.name, nameInDefaultLanguageHasContent]"
            :requiredLocales="requiredLocales"
            :label="$t('name')"
            :locales="projectLocales"
          />
          <EditableTranslationEditor
            v-model="newDataset.desc"
            editor
            ref="desc"
            :label="$t('description')"
            :locales="projectLocales"
            emitOnInput
          />
        </v-form>
      </v-card-text>
      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeDialog" />
        <AdButton
          type="add"
          :hint="$t('add-dataset')"
          @click="addDataset(false)"
          depressed
          :disabled="!descInDefaultLanguageHasContent || !formIsValid"
        />
        <AdButton
          type="add"
          :hint="$t('add-dataset-and-open')"
          :text="$t('add-and-open')"
          @click="addDataset(true)"
          depressed
          :disabled="!descInDefaultLanguageHasContent || !formIsValid"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
import dataset from '@/models/dataset'
import rulesDataset from '@/rules/dataset'
import { mapGetters } from 'vuex'

export default {
  name: 'DatasetAdd',
  data () {
    return {
      dataset: cloneDeep(dataset),
      idExistsError: [],
      newDataset: {},
      rulesDataset,
      formIsValid: false,
      initialProjectLanguage: null
    }
  },
  computed: {
    ...mapGetters({
      getItemStatuses: ['server/getItemStatuses']
    }),
    descInDefaultLanguageHasContent () {
      return this.newDataset?.desc?.some(desc => desc.language === this.projectInFocus?.defaultLanguage && this.$filters.htmlHasTextContent(desc['#text']))
    },
    nameInDefaultLanguageHasContent () {
      return this.newDataset?.name?.some(name => name.language === this.projectInFocus?.defaultLanguage && this.$filters.htmlHasTextContent(name['#text'])) || this.$t('required-field')
    },
    requiredLocales () {
      return [this.projectInFocus?.defaultLanguage]
    }
  },
  created () {
    if (this.projectInFocus) {
      this.initialProjectLanguage = this.$store.getters['app/projectLanguage']
      this.$store.commit('app/setProjectLanguage', this.projectInFocus.defaultLanguage)
    }
    this.initValueSet()
  },
  methods: {
    closeDialog () {
      this.$store.commit('app/setProjectLanguage', this.initialProjectLanguage)
      this.$store.dispatch('dataset/setShowNewDatasetDialog', false)
    },
    initValueSet () {
      for (const key in dataset) {
        if (this.newDataset[key] === undefined) {
          if (key === 'statusCode') {
            // Status code of the value set
            // Initially populated: set to "new"
            this.$set(this.newDataset, key, 'new')
          } else if (['desc', 'name'].includes(key)) {
            const value = [{
              '#text': '',
              language: this.$store.getters['app/projectLanguage']
            }]
            this.$set(this.newDataset, key, value)
          } else {
            this.$set(this.newDataset, key, cloneDeep(dataset[key]))
          }
        }
      }
      this.$nextTick(() => {
        // set focus on first attribute in the form
        if (this.$refs.name != null) {
          this.$refs.name.focus()
        }
      })
    },
    addDataset (open) {
      if (this.$refs.valusetRef.validate()) {
        return this.$store.dispatch('dataset/createDatasetItem', this.newDataset)
          .then((newDataset) => {
            if (newDataset) {
              this.$store.commit('app/setProjectLanguage', this.initialProjectLanguage)
              this.$store.dispatch('dataset/setShowNewDatasetDialog', false)
              this.$emit('addDatasetFinish', (open) ? newDataset : null)
            }
          })
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            // Show error message on alert dialog.
            this.$oops(errorMessage)
          })
      } else {
        // set the focus on the field that has the error
        const hasError = rulesDataset.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$refs[hasError[0]].focus()
        }
      }
    }
  }
}
</script>
