<template>
  <v-layout>
    <!-- Modals -->
    <NewConceptAdd
      v-if="conceptToCreateSkeleton"
      :showDialog="modals.newConceptAdd"
      @cancel="modals.newConceptAdd = false"
      :skeleton="conceptToCreateSkeleton"
    />
    <DatasetClone
      :showDialog="modals.datasetClone"
      @cancel="modals.datasetClone = false"
    />
    <DatasetAdd
      v-if="$store.state.dataset.showNewDatasetDialog"
      @addDatasetFinish="addDatasetFinish"
    />

    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <PanelLoading :loading="!ready" />

      <v-row v-if="ready" class="d-flex flex-row flex-md-nowrap">
        <v-col
          class="flex-grow-0 col-treeview"
          cols="12"
          md="auto"
        >
          <TreeviewPanel
            :filters="filters"
            :trees="trees"
            :active-item.sync="activeItem"
            :active-tree.sync="activeTree"
            :disable-animation="!ready"
            indicateNoData
          >
            <template #action-buttons>
              <AdButton
                v-if="userIsProjectAuthor && activeTree === 'datasets' && serverFeature({ path: 'decor.datasets.concept', crudAction: 'write' })"
                type="add"
                :hint="$t('add-dataset')"
                list-item
                @click="$store.dispatch('dataset/setShowNewDatasetDialog', true)"
              />
              <AdButton
                v-if="userIsProjectAuthor && activeTree === 'datasets' && serverFeature({ path: 'decor.datasets.concept', crudAction: 'write' })"
                type="clone"
                :hint="$t('clone-dataset')"
                list-item
                @click="modals.datasetClone = true"
              />
              <template v-if="activeTree === 'concepts'">
                <template v-if="hasConceptItems">
                  <AdButton
                    type="diagram"
                    :text="$t('diagram-entire-dataset')"
                    list-item
                    @click="startShowDatasetDiagram('dataset')"
                  />
                  <AdButton
                    v-if="!isDatasetItem"
                    type="diagram"
                    :text="diagramButtonText"
                    list-item
                    @click="startShowDatasetDiagram('concept')"
                  />
                  <AdButton
                    type="add"
                    :text="$t('import-loinc-panel')"
                    list-item
                    @click="startTerminologyBrowser()"
                  />
                </template>
                <template v-else>
                  <AdButton
                    type="add"
                    :text="$t('add-group')"
                    listItem
                    @click="addConceptItem('group')"
                  />
                  <AdButton
                    type="add"
                    :text="$t('add-concept')"
                    listItem
                    @click="addConceptItem('item')"
                  />
                </template>
              </template>
            </template>

            <template #extend-filters="{ activeTree }">
              <DatasetConceptPropertyFilter
                v-if="activeTree === 'concepts'"
                :activeKeywords.sync="activeKeywords"
              />
            </template>
          </TreeviewPanel>
        </v-col>

        <v-col
          class="flex-grow-1 flex-shrink-1"
          cols="12"
          md="auto"
        >

          <template v-if="datasetItemFull && showDatasetDiagram !== null">
            <DatasetDiagram
              :showDialog="showDatasetDiagram !== null"
              :wholeDataset="showDatasetDiagram === 'dataset'"
              :dataset="datasetItemFull"
              :concept="fullConceptItem"
              @close="stopShowDatasetDiagram()"
            />
          </template>

          <template v-else>
            <router-view
              :activeTree="activeTree"
              :key="`${$route.params.prefix}${$route.name}`"
              @routeUpdate="handleRouteUpdate"
            />
            <v-card v-if="$route.name === 'dataset'">
              <AdInfoOwl>{{ $t('select-dataset') }}</AdInfoOwl>
            </v-card>
          </template>

        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import DatasetAdd from '@/components/Dataset/DatasetAdd'
import NewConceptAdd from '@/components/Dataset/NewConceptAdd'
import DatasetClone from '@/components/Dataset/DatasetClone'
import LockService from '@/services/LockService'
import TreeviewPanel from '../Utilities/Treeview/TreeviewPanel'
import DatasetDiagram from '@/components/Dataset/DatasetDiagram'
import DatasetConceptPropertyFilter from '@/components/Dataset/DatasetConceptPropertyFilter'

import { mapGetters, mapState } from 'vuex'
import { isCancel } from 'axios'

export default {
  name: 'DatasetPanel',

  components: {
    DatasetAdd,
    TreeviewPanel,
    NewConceptAdd,
    DatasetClone,
    DatasetConceptPropertyFilter,
    DatasetDiagram
  },

  data () {
    return {
      activeKeywords: [],
      ready: false,
      activeTree: null,
      // conceptDetailLoading: false,
      // ignoreActiveTreeSwitch: false,
      // selectedItem: null,
      modals: {
        newConceptAdd: false,
        datasetClone: false
      },
      conceptToCreateSkeleton: null,
      filters: [],
      showDatasetDiagram: null
    }
  },

  computed: {
    ...mapGetters('server', ['getItemStatuses']),
    ...mapState({
      datasetItems: (state) => state.dataset.datasetItems,
      datasetItem: (state) => state.dataset.datasetItem,
      datasetItemFull: (state) => state.dataset.datasetItemFull,
      conceptItems: (state) => state.dataset.conceptItems,
      conceptItem: (state) => state.dataset.conceptItem
    }),

    abortController: {
      get () {
        return type => this.$store.getters['dataset/abortController'](type)
      },
      set (value) {
        this.$store.commit('dataset/setAbortController', value)
      }
    },

    /**
     * Active item.
     */
    activeItem: {
      // Getter.
      get () {
        // Read from state.
        return this.$store.state.dataset.activeItem
      },
      // Setter.
      set (activeItem) {
        // Commit set active item mutation.
        this.$store.commit('dataset/setActiveItem', activeItem)
      }
    },
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['dataset', 'dataset-details', 'dataset-details-version']
        },
        {
          text: this.$t('datasets'),
          disabled: true,
          show: ['dataset', 'dataset-details', 'dataset-details-version']
        },
        {
          exact: true,
          text: this.$t('dataset'),
          to: { name: 'dataset' },
          show: ['dataset', 'dataset-details', 'dataset-details-version']
        },
        {
          exact: true,
          text: this.$filters.getMatchingTranslation({
            value: this.$store.getters['dataset/datasetItem']?.name
          }) || this.$route.params?.datasetId,
          to: {
            name: 'dataset-details',
            params: {
              datasetId: this.$route.params?.datasetId,
              datasetVersion: this.$route.params?.datasetVersion
            }
          },
          show: ['dataset-details', 'dataset-details-version']
        },
        {
          exact: true,
          text: this.$route.params?.datasetVersion ? this.$filters.formatDateShort(this.$route.params?.datasetVersion) : '',
          to: {
            name: 'dataset-details',
            params: {
              datasetId: this.$route.params?.datasetId,
              datasetVersion: this.$route.params?.datasetVersion
            }
          },
          show: ['dataset-details', 'dataset-details-version']
        },
        {
          exact: true,
          text: this.$filters.getMatchingTranslation({
            value: this.$store.getters['dataset/activeItem']?.name
          }) || this.$route.params?.conceptId,
          to: {
            name: 'dataset-details-version',
            params: {
              conceptId: this.$route.params?.conceptId,
              conceptVersion: this.$route.params?.conceptVersion
            }
          },
          show: ['dataset-details-version']
        },
        {
          exact: true,
          text: this.$route.params?.conceptVersion ? this.$filters.formatDateShort(this.$route.params?.conceptVersion) : '',
          to: {
            name: 'dataset-details-version',
            params: {
              conceptId: this.$route.params?.conceptId,
              conceptVersion: this.$route.params?.conceptVersion
            }
          },
          show: ['dataset-details-version']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },

    fullConceptItem () {
      if (!this.activeItem) {
        return null
      }
      const { id, effectiveDate } = this.activeItem
      return this.$filters.listHelper.findItemInList({
        items: this.datasetItemFull?.concept || [],
        handler: match => match.id === id && match.effectiveDate === effectiveDate
      })
    },

    hasConceptItems () {
      return this.conceptItems?.length > 0
    },

    isDatasetItem () {
      return this.datasetItem?.id === this.activeItem?.id
    },

    /**
     * Contains tree structure.
     * @returns {{}}
     */
    trees () {
      return {
        datasets: {
          artefact: 'DS',
          name: this.$t('datasets'),
          icon: 'mdi-book-open-blank-variant',
          loading: this.$store.state.dataset.loading.datasetItems,
          loaded: this.$store.state.dataset.loaded.datasetItems,
          items: this.$store.state.dataset.datasetItems,
          menu: this.menuIsVisible,
          insertable: false,
          editable: false,
          expandable: false,
          key: 'uuid',
          text: 'name.selectorName',
          onSelect: (activeItem) => {
            // Check if ready is true.
            if (this.ready === true) {
              // Set active item.
              this.$store.commit('dataset/setActiveItem', activeItem)
              // Set dataset item.
              this.$store.commit('dataset/setDatasetItem', activeItem)
              // Push router url.
              this.$router.push({
                name: 'dataset-details',
                params: {
                  datasetId: activeItem?.id,
                  datasetVersion: activeItem?.effectiveDate
                }
              }).catch(() => {})

              // Abort pending request
              if (this.abortController('dataset')) {
                this.abortController('dataset').abort('New dataset selected')
              }

              // Set up abortController
              this.abortController = { type: 'dataset', value: new AbortController() }

              // Load concept items.
              this.loadConceptItems(activeItem, this.abortController('dataset'))
                .then(() => {
                  this.abortController = { type: 'dataset', value: null }
                  // Set active tree.
                  this.activeTree = 'concepts'
                })
                .catch(error => {
                  if (isCancel(error)) {
                    return
                  }
                  const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
                  this.$oops(errorMessage)
                })
            }
          }
        },
        concepts: {
          artefact: 'DE',
          name: this.$t('details'),
          icon: 'mdi-order-bool-ascending',
          loading: this.$store.state.dataset.loading.conceptItems,
          loaded: this.$store.state.dataset.loaded.conceptItems,
          items: this.$store.state.dataset.conceptItems,
          menu: this.menuIsVisible,
          insertable: this.userIsEditor,
          editable: this.hasConceptItems,
          expandable: true,
          filterCallback: ({ item, children }) => {
            // // Check for property Keyword and collect them in the tree
            if (Array.isArray(item.property)) {
              this.$store.dispatch('dataset/addKeywordPropertiesToTree', { properties: item.property, type: 'concepts' })
            }

            // Add properties to children, needed for managing inherits and contains
            children.forEach(child => {
              child.parentIsInherited = !!item.inherit
              child.parentIsContained = !!item.contains
            })

            // Check if active Keyword is set.
            if (this.activeKeywords.length) {
              const isVisible =
                Array.isArray(item.property) &&
                this.activeKeywords.some(
                  (keyword) => item.property.some(
                    (property) => property['#text'] === keyword['#text'] && property.name === keyword.name
                  )
                )
              return isVisible
            }
          },
          key: 'id',
          text: 'name.#text',
          children: 'concept',
          onSelect: async (activeItem) => {
            // Check if ready is true.
            if (this.ready === true) {
              // Set active item.
              this.$store.commit('dataset/setActiveItem', activeItem)
              // Load concept items.
              this.$store.commit('dataset/setConceptItem', null)

              // Abort pending request
              if (this.abortController('concept')) {
                this.abortController('concept').abort('New concept selected')
              }

              // Set up abortController
              this.abortController = { type: 'concept', value: new AbortController() }

              // Load concept items.
              this.$store.dispatch('dataset/loadConceptItem', {
                activeItem,
                associations: true,
                abortController: this.abortController('concept')
              })
                .then(() => {
                  this.abortController = { type: 'concept', value: null }
                })
                .catch(error => {
                  if (isCancel(error)) {
                    return
                  }
                  const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
                  this.$oops(errorMessage)
                })

              // Push router url.
              this.$router.push({
                name: 'dataset-details-version',
                params: {
                  conceptId: activeItem?.id,
                  conceptVersion: activeItem?.effectiveDate
                }
              }).catch(() => {
                // Do nothing.
              })
            }
          },
          onBeforeEdit: async () => {
            // Define status.
            let status = false
            // Get object id.
            const objectId = this.datasetItem?.id || null
            const effectiveDate = this.datasetItem?.effectiveDate || null
            // Check if object id is not null.
            if (objectId !== null) {
              // Lock object id.
              await LockService.lockObjectId({ objectId, effectiveDate }).then(() => {
                status = true
              })
            }

            // Return status.
            return status
          },
          onAfterEdit: async () => {
            // Define status.
            let status = false
            // Get object id.
            const objectId = this.datasetItem?.id || null
            const effectiveDate = this.datasetItem?.effectiveDate || null
            // Check if object id is not null.
            if (objectId !== null) {
              // Unlock object id.
              status = !!(await LockService.unlockObjectId({ objectId, effectiveDate }))
            }

            // Return status.
            return status
          },
          onEdit: async (items) => {
            // Get dataset item.
            const { id, effectiveDate } = this.datasetItem
            const item = this.datasetItems?.find(dataset => dataset.id === id && dataset.effectiveDate === effectiveDate)
            // Get data.
            const data = { ...this.datasetItem, concept: items }

            const params = {
              treeonly: true
            }
            // Create new concept item.
            return this.$store.dispatch('dataset/updateDatasetItem', { item, data, params }).catch((error) => {
              // Get error message.
              const errorMessage = error.message || error?.response?.data?.description || error?.response?.statusText || 'Error'
              // Show error message on alert dialog.
              this.$oops(errorMessage)
            })
          },
          onInsert: async ({ type, mode, item, target }) => {
            // Create new concept item.
            return this.$store.dispatch('dataset/createConceptItem', { type, mode, item, target })
              .then(newConceptItem => {
                this.modals.newConceptAdd = true
                this.conceptToCreateSkeleton = newConceptItem
              })
              .catch((error) => {
              // Get error message.
                const errorMessage = error.message || error?.response?.data?.description || error?.response?.statusText || 'Error'
                // Show error message on alert dialog.
                this.$oops(errorMessage)
              })
          }
        }
      }
    },
    menuIsVisible () {
      const datasetIsEditable = ['draft', 'new'].includes(this.$store.getters['dataset/datasetItem']?.statusCode)
      const datasetTreeActive = this.activeTree === 'datasets'
      return this.userIsEditor && (datasetIsEditable || datasetTreeActive)
    },
    watchedVariables () {
      return [this.getItemStatuses, this.$i18n.locale]
    },
    diagramButtonText () {
      return (this.activeItem?.name)
        ? this.$t('diagram') + ': ' + this.$filters.getMatchingTranslation({ value: this.activeItem.name })
        : this.$t('diagram')
    }
  },

  watch: {
    /**
     * Watch item status codes.
     */
    watchedVariables: {
      immediate: true,
      deep: true,
      handler () {
        // Define filters.
        const filters = []
        // Define default actives.
        const defaultActive = ['draft', 'pending', 'final', 'new']
        // Loop each item status code.
        for (const itemStatusCode of this.getItemStatuses) {
          // Push new filter.
          filters.push({
            name: this.$filters.getMatchingTranslation({ value: itemStatusCode.label, locale: this.$i18n.locale }),
            key: itemStatusCode.value,
            active: defaultActive.includes(itemStatusCode.value)
          })
        }

        // Apply filters.
        this.filters = filters
      }
    }
  },

  created () {
    if (this.$store.state.dataset.loaded.datasetItems) {
      const { datasetId, datasetVersion } = this.$route.params
      const datasetItem = this.$filters.listHelper.findItemInList({
        items: this.$store.state.dataset.datasetItems || [],
        handler: match => match.id === datasetId && match.effectiveDate === datasetVersion
      })
      if (datasetItem) {
        this.$store.commit('dataset/setDatasetItem', datasetItem)
        this.activeItem = { ...datasetItem }
        this.loadConceptItems(datasetItem)
        return
      }
    }
    // Load dataset items.
    this.loadDatasetItems().then((datasetItem) => {
      // Load concept items and inject current matching dataset item.
      this.loadConceptItems(datasetItem)
        .catch((error) => this.$confirm(this.$t(error.message)))
    }).catch((error) => this.$confirm(this.$t(error.message)))
  },

  methods: {
    async addConceptItem (type) {
      if (!['group', 'item'].includes(type)) return

      try {
        const newItem = await this.$store.dispatch('dataset/createConceptItem', { type, mode: 'into' })
        this.$store.commit('dataset/setActiveItem', newItem)
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    handleRouteUpdate ({ to, from }) {
      if (to.name === 'dataset') {
        this.activeTree = 'datasets'
      }
    },
    /**
     * Load dataset items.
     */
    async loadDatasetItems () {
      // Return new promise.
      return new Promise((resolve, reject) => {
        // Get route params.
        const { datasetId, datasetVersion } = this.$route.params

        // Get dataset items from service via vuex store.
        this.$store.dispatch('dataset/loadDatasetItems').then((datasetItems) => {
          // Get matching dataset.
          const matchingDataset = this.$filters.listHelper.findItemInList({
            items: datasetItems,
            children: 'item',
            handler: (match) => match.id === datasetId && match.effectiveDate === datasetVersion
          })

          // Check if matching dataset is nil.
          if (!matchingDataset) {
            // Set ready to true.
            this.ready = true
            // Return and stop execution.
            return resolve(null)
          }

          // Set dataset item
          this.$store.commit('dataset/setDatasetItem', matchingDataset)
          // Generate active dataset item.
          // selectedOnCreate property prevents duplicate api calls when page is first loaded
          this.activeItem = { ...matchingDataset, selectedOnCreate: true }

          // Resolve matching dataset.
          return resolve(matchingDataset)
        }).catch((error) => reject(error))
      })
    },

    /**
     * Load concept items.
     */
    async loadConceptItems (datasetItem, abortController) {
      // Check if no dataset item is defined.
      if (!datasetItem) {
        // Stop execution.
        return
      }

      // Return new promise.
      return new Promise((resolve, reject) => {
        // Get route params.
        const { conceptId, conceptVersion } = this.$route.params

        // Get dataset items from service via vuex store.
        this.$store.dispatch('dataset/loadConceptItems', { item: datasetItem, abortController }).then((conceptItems) => {
          // Get matching concept.
          const matchingConcept = this.$filters.listHelper.findItemInList({
            items: conceptItems,
            children: 'concept',
            handler: (match) => match.id === conceptId && match.effectiveDate === conceptVersion
          })

          // Check if matching concept is nil.
          if (!matchingConcept) {
            // Set ready to true.
            this.ready = true
            // Return and stop execution.
            return resolve()
          }

          // Set dataset item
          this.$store.commit('dataset/setConceptItem', matchingConcept)
          // Set active tree.
          this.activeTree = 'concepts'
          // Generate active dataset item.
          this.activeItem = { id: conceptId, effectiveDate: conceptVersion }
          // Set ready to true.
          this.ready = true

          // Resolve matching concept.
          return resolve(matchingConcept)
        }).catch((error) => reject(error))
      })
    },

    /**
     * Add dataset finish event.
     * @param activeItem
     * @returns {Promise<void>}
     */
    async addDatasetFinish (activeItem) {
      // If the activeItem is parsed, the user wants to open the newly added dataset.
      if (activeItem) {
        // Set active item.
        this.activeItem = { id: activeItem?.id, effectiveDate: activeItem.effectiveDate }
      }
    },
    async startShowDatasetDiagram (mode) {
      if (!this.datasetItem) {
        return
      }
      const { id, effectiveDate } = this.datasetItem
      if (!this.$store.state.dataset.loaded.datasetItemFull) {
        try {
          await this.$store.dispatch('dataset/getFullDataset', { id, effectiveDate })
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        }
      }
      this.showDatasetDiagram = mode
    },
    stopShowDatasetDiagram () {
      this.showDatasetDiagram = null
    },
    startTerminologyBrowser () {
      // goto terminology browser to select LOINC panel for import
      this.$store.dispatch('dataset/setLoincImportActive', true)
      this.$store.commit('terminology/updateSearchContext', 'external/regenstrief')
      this.$router.push({ name: 'browser-project' }).catch(() => {})
    }
  }

}
</script>

<style lang="scss" scoped>
::v-deep .treeview-panel-item-not-yet-used {
  border-left: 8px solid #dbe8d3;
  padding-left: 24px;

  .v-treeview {
    padding-left: 0;
  }
}
</style>
