<template>
  <div v-if="value" class="dataset-concept-details">
    <v-row dense v-if="value.inherit" class="align-center pb-2">
      <v-col class="flex-grow-0 text-no-wrap mr-3">
        <span>{{ $t('inherited-from') }}</span>
      </v-col>
      <v-col class="flex-grow-1">
        <AdArtefactDetailsCard :object="value.inherit[0]" />
      </v-col>
    </v-row>
    <v-row dense v-if="value.contains" class="align-center pb-2">
      <v-col class="flex-grow-0 text-no-wrap mr-3">
        <span>{{ $t('reference') }}</span>
      </v-col>
      <v-col class="flex-grow-1">
        <AdArtefactDetailsCard :object="value.contains[0]" />
      </v-col>
    </v-row>

    <!-- Terminology association -->
    <TerminologyAssociationCard v-if="terminologyAssociation.length > 0" :associations="terminologyAssociation" />

    <!-- Identifier Associations -->
    <IdentifierAssociationCard v-if="identifierAssociations.length" :associations="identifierAssociations" />

    <v-row dense>
      <v-col>
        <v-expansion-panels v-model="openPanels" multiple>
          <v-expansion-panel v-if="valueDomain">
            <v-expansion-panel-header>
              <AdCardTitle inline style="padding: 0 !important">
                {{ $t('value') }}
                <v-icon v-if="!openPanels.includes(0)" class="pl-3" style="justify-content: left">
                  {{ $filters.getValueDomainTypeIcon(value.valueDomain[0].type) }}
                </v-icon>
              </AdCardTitle>
              <v-spacer></v-spacer>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <EditableValueDomain v-model="value.valueDomain[0].type" :label="$t('type')" :readonly="readonly" />

              <!-- Valueset Association -->
              <ValuesetAssociationCard
                v-if="valueSetAssociation.length"
                ref="valuesetAssociationCard"
                :associations="valueSetAssociation"
                :showSelect="valueConcepts.length === 0"
                :onSelect="valueSetSelectionHandler"
              />

              <!--
                Properties
                  string, text, identifier, blob
                    => minLength, maxLength
                  decimal
                    => minInclude, maxInclude, fractionDigits
                  date, datetime, time
                    => timeStampPrecision (time stamp precision for dates or times)
                  quantity, duration
                    => unit, minInclude, maxInclude, fractionDigits
                  count
                    => minInclude, maxInclude
                  code, ordinal
                    => conceptList with level/type, concept, synonyms, exceptions, descriptions
                  boolean
                    => no extras
                  ALL above:      default fixed

                  binary, collection
                    => none extra
              -->
              <v-row dense>
                <v-col>
                  <!-- code, ordinal -->
                  <template v-if="['code', 'ordinal'].includes(valueDomain.type)">
                    <v-row dense class="mb-2">
                      <v-col cols="12">
                        <v-dialog :value="editableConceptListConceptBtn || addConceptListConceptBtn" max-width="800"
                          scrollable persistent>
                          <v-card>
                            <AdCardTitle dialog>{{ (editableConceptListConceptBtn) ? $t('edit-concept') :
                              $t('add-concept') }}</AdCardTitle>
                            <v-card-text class="pa-5">
                              <v-form v-if="editableConceptListConceptBtn || addConceptListConceptBtn"
                                ref="formConceptListConcept" v-model="valid">
                                <EditableTranslationEditor
                                  v-model="editableConceptListConcept.name"
                                  ref="name"
                                  :required="conceptListConceptRules.requiredAttributes.includes('name')"
                                  :label="$t('display-name')"
                                  :locales="projectLocales"
                                />
                                <EditableLevel
                                  v-model="editableConceptListConcept.level"
                                  :required="conceptListConceptRules.requiredAttributes.includes('level')"
                                  :rules="conceptListConceptRules.level"
                                  :label="$t('level')"
                                />
                                <EditableDropdown
                                  v-model="editableConceptListConcept.type"
                                  item-value="value"
                                  item-text="text"
                                  :items="vocabTypes"
                                  :required="conceptListConceptRules.requiredAttributes.includes('type')"
                                  :label="$t('type')"
                                />
                                <v-slide-y-transition leave-absolute>
                                  <v-combobox
                                    v-if="(addConceptListConceptBtn || editableConceptListConceptBtn) && (editableConceptListConcept.synonym == null || editableConceptListConcept.synonym.length === 0)"
                                    v-model="conceptListConceptSynonyms" :label="$t('synonyms')" multiple chips>
                                    <template v-slot:selection="data">
                                      <v-chip :key="JSON.stringify(data.item)" v-bind="data.attrs"
                                        :input-value="data.selected" :disabled="data.disabled" close
                                        @click:close="data.parent.selectItem(data.item)">{{ data.item }}</v-chip>
                                    </template>
                                    <template v-slot:append>
                                      <AdButton type="add" small v-if="conceptListConceptSynonyms.length > 0"
                                        @click="addConceptListConceptSynonyms" />
                                    </template>
                                  </v-combobox>
                                  <v-card outlined v-else class="mb-5">
                                    <AdCardTitle inline>
                                      {{ $t('synonyms') }}
                                      <v-spacer></v-spacer>
                                      <AdButton v-if="!readonly && quickChoiceList.length === 0" type="quickadd"
                                        @click="addConceptListConcepSynonymtBtn = !addConceptListConcepSynonymtBtn" />
                                    </AdCardTitle>
                                    <v-card-text class="pt-5 pb-5">
                                      <v-slide-y-transition leave-absolute>
                                        <v-row v-if="addConceptListConcepSynonymtBtn">
                                          <v-col class="ml-4 mr-4">
                                            <v-combobox v-model="conceptListConceptSynonyms" :label="$t('synonyms')"
                                              multiple chips>
                                              <template v-slot:selection="data">
                                                <v-chip :key="JSON.stringify(data.item)" v-bind="data.attrs"
                                                  :input-value="data.selected" :disabled="data.disabled" close
                                                  @click:close="data.parent.selectItem(data.item)">{{ data.item
                                                  }}</v-chip>
                                              </template>
                                              <template v-slot:append>
                                                <AdButton type="add" small v-if="conceptListConceptSynonyms.length > 0"
                                                  @click="addConceptListConceptSynonyms" />
                                              </template>
                                            </v-combobox>
                                          </v-col>
                                        </v-row>
                                      </v-slide-y-transition>
                                      <v-simple-table>
                                        <tbody>
                                          <template v-for="(synonym, i) in editableConceptListConcept.synonym">
                                            <tr :key="`synonym-${i}`">
                                              <td>
                                                <EditableTranslationEditor
                                                  :value="editableConceptListConcept.synonym[i]"
                                                  ref="synonym"
                                                  :required="conceptListConceptRules.requiredAttributes.includes('synonym')"
                                                  :label="$t('synonym')"
                                                  :locales="projectLocales"
                                                  @input="updateSynonym(i, $event)" />
                                              </td>
                                              <td width="35px">
                                                <AdButton type="delete" small
                                                  @click="removeConceptListConceptSynonym(i)" />
                                              </td>
                                            </tr>
                                          </template>
                                        </tbody>
                                      </v-simple-table>
                                    </v-card-text>
                                  </v-card>
                                </v-slide-y-transition>
                                <EditableTranslationEditor
                                  v-model="editableConceptListConcept.desc"
                                  editor
                                  ref="desc"
                                  :required="conceptListConceptRules.requiredAttributes.includes('desc')"
                                  :label="$t('description')"
                                  :locales="projectLocales"
                                />
                              </v-form>
                            </v-card-text>
                            <v-card-actions class="dialogbottomstrip">
                              <v-spacer></v-spacer>
                              <AdButton type="cancel" @click="actionConceptListConcept('cancel')" />
                              <AdButton :type="(editableConceptListConceptBtn) ? 'update' : 'add'"
                                @click="actionConceptListConcept('updateOrAdd')" />
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                        <v-card outlined>
                          <AdCardTitle inline>
                            {{ $t('concepts') }}
                            <v-spacer></v-spacer>
                            <AdButton v-if="!readonly && !quickChoiceListOpenBtn" type="add"
                              @click="addConceptListConceptStart" />
                            <AdButton v-if="!readonly" :type="quickChoiceListOpenBtn ? 'cancel' : 'quickadd'"
                              @click="openQuickAddChoiceList" />
                          </AdCardTitle>

                          <v-card-text class="px-0">
                            <!-- Quick Add Choice List -->
                            <v-slide-y-transition leave-absolute>
                              <v-combobox v-if="quickChoiceListOpenBtn && !readonly" class="mx-4"
                                v-model="quickChoiceList" :label="$t('choice-list-items')" multiple chips>
                                <template v-slot:selection="data">
                                  <v-chip :key="JSON.stringify(data.item)" v-bind="data.attrs"
                                    :input-value="data.selected" :disabled="data.disabled" close
                                    @click:close="data.parent.selectItem(data.item)">{{ data.item }}</v-chip>
                                </template>
                                <template v-slot:append>
                                  <AdButton type="add" small v-if="quickChoiceList.length > 0"
                                    @click="saveQuickAddChoiceList" />
                                </template>
                              </v-combobox>
                            </v-slide-y-transition>

                            <!-- Datatable for concepts in valueDomain.conceptList.concept -->
                            <v-data-table v-if="valueConcepts.length > 0" :headers="filteredConceptListHeaders"
                              :items="valueConcepts" item-key="id" :no-data-text="$t('no-items')" single-select
                              :items-per-page="10" disable-sort :hide-default-footer="valueConcepts.length <= 10" dense>
                              <template v-slot:item="{item, index}">
                                <template
                                  v-if="Array.isArray(item.terminologyAssociation) && item.terminologyAssociation.length">
                                  <template v-for="(association, i) in item.terminologyAssociation">
                                    <template v-if="item.terminologyAssociation.length > 1">
                                      <template v-if="i === 0">
                                        <tr :key="`l-${item.id}-${index}-${i}`" @mouseenter="hoveredTr = item.id"
                                          @mouseleave="hoveredTr = null" :data-tr-mark="hoveredTr === item.id">
                                          <td
                                            v-if="showConceptListConceptTd('type', {root: true}) || showConceptListConceptTd('level', {root: true})"
                                            :rowspan="item.terminologyAssociation.length + 1" class="py-2"
                                            :class="'pl-'.concat(new Number(item.level) * 3 + 5)">{{
                                            parsedLevelType(item) }}</td>
                                          <td v-if="showConceptListConceptTd('name', {root: true})"
                                            :rowspan="item.terminologyAssociation.length + 1" class="py-2"
                                            :class="conceptTypeStyling(item)">
                                            {{ $filters.getMatchingTranslation({ value: item.name }) }}
                                            <div v-for="(sy, i) in item.synonym" class="text--disabled font-italic"
                                              :key="i">
                                              {{ $t('synonym') }}: {{ $filters.getMatchingTranslation({ value: Array(sy)
                                              }) }}
                                            </div>
                                          </td>
                                        </tr>
                                      </template>
                                      <tr :key="`${item.id}-${index}-${i}`" :data-tr-mark="hoveredTr === item.id"
                                        @mouseenter="hoveredTr = item.id" @mouseleave="hoveredTr = null">
                                        <template
                                          v-for="header in filteredConceptListHeaders.filter(h => !['name', 'level', 'actions'].includes(h.value))">
                                          <td :key="header.value" class="py-2" :class="conceptTypeStyling(item)">
                                            {{association[header.value]}}</td>
                                        </template>
                                        <td v-if="i === 0 && !readonly && userIsEditor"
                                          :key="`a-${item.id}-${index}-${i}`"
                                          :rowspan="item.terminologyAssociation.length">
                                          <AdSpeedDial direction="left">
                                            <AdSpeedOption type="edit"
                                              @click="actionConceptListConcept('edit', item)" />
                                            <AdSpeedOption type="erase"
                                              @click="actionConceptListConcept('delete', item)" />
                                          </AdSpeedDial>
                                        </td>

                                      </tr>
                                    </template>
                                    <tr v-else :key="`${item.id}-${index}-${i}`">
                                      <template v-for="header in filteredConceptListHeaders">
                                        <td v-if="header.value === 'level'" :key="header.value" class="py-2"
                                          :class="'pl-'.concat(new Number(item.level) * 3 + 5)">
                                          {{ parsedLevelType(item) }}
                                        </td>
                                        <td v-else-if="header.value === 'name'" :key="header.value" class="py-2"
                                          :class="conceptTypeStyling(item)">
                                          {{ $filters.getMatchingTranslation({ value: item.name }) }}
                                          <div v-for="(sy, i) in item.synonym" class="text--disabled font-italic"
                                            :key="i">
                                            {{ $t('synonym') }}: {{ $filters.getMatchingTranslation({ value: Array(sy)
                                            }) }}
                                          </div>
                                          <TextEditorRenderer v-if="item.desc && item.desc.length > 0">
                                            <truncate :text="$filters.getMatchingTranslation({ value: item.desc })"
                                              :length="200" :clamp="$t('seemore')" :less="$t('showless')" type="html"
                                              class="text--disabled" />
                                          </TextEditorRenderer>
                                        </td>
                                        <!-- Fallback for if codeSystemName is not provided -->
                                        <td v-else-if="header.value === 'codeSystemName' && !association.codeSystemName"
                                          :key="header.value" :class="conceptTypeStyling(item)">
                                          {{ getCodeSystemName(association.codeSystem) }}
                                        </td>
                                        <!-- Actions for edit mode -->
                                        <td v-else-if="header.value === 'actions' && !readonly && userIsEditor"
                                          :key="header.value">
                                          <AdSpeedDial direction="left">
                                            <AdSpeedOption type="edit"
                                              @click="actionConceptListConcept('edit', item)" />
                                            <AdSpeedOption type="erase"
                                              @click="actionConceptListConcept('delete', item)" />
                                          </AdSpeedDial>
                                        </td>
                                        <td v-else :key="header.value" class="py-2" :class="conceptTypeStyling(item)">
                                          {{association[header.value]}}
                                        </td>
                                      </template>
                                    </tr>
                                  </template>
                                </template>
                                <template v-else>
                                  <tr>
                                    <td v-if="showConceptListConceptTd('level', {root: true})" class=""
                                      :class="`pl-${+item.level * 3 + 5}`">
                                      {{ parsedLevelType(item) }}
                                    </td>
                                    <td v-if="showConceptListConceptTd('name', {root: true})" class="py-2"
                                      :class="conceptTypeStyling(item)">
                                      {{ $filters.getMatchingTranslation({ value: item.name }) }}
                                      <div v-for="(sy, i) in item.synonym" class="text--disabled font-italic" :key="i">
                                        {{ $t('synonym') }}: {{ $filters.getMatchingTranslation({ value: Array(sy) }) }}
                                      </div>
                                      <TextEditorRenderer v-if="item.desc && item.desc.length > 0">
                                        <truncate :text="$filters.getMatchingTranslation({ value: item.desc })"
                                          :length="200" :clamp="$t('seemore')" :less="$t('showless')" type="html"
                                          class="text--disabled" />
                                      </TextEditorRenderer>
                                    </td>
                                    <td v-if="showConceptListConceptTd('ordinal', {root: true})" class="py-2"
                                      :class="conceptTypeStyling(item)">{{ item.ordinal }}</td>
                                    <td v-if="showConceptListConceptTd('code')" class="py-2" colspan="3">&nbsp;</td>
                                    <td v-if="!readonly && userIsProjectAuthor" class="py-2">
                                      <AdSpeedDial direction="left">
                                        <AdSpeedOption type="edit" @click="actionConceptListConcept('edit', item)" />
                                        <AdSpeedOption type="erase" @click="actionConceptListConcept('delete', item)" />
                                      </AdSpeedDial>
                                    </td>
                                  </tr>
                                </template>
                              </template>
                            </v-data-table>

                            <!-- Datatable for fetched concepts from value set specified in valueDomain.conceptList.terminologyAssociation -->
                            <v-data-table v-else-if="valueSetAssociation && fetchedCompleteCodeSystems.length === 0"
                              :headers="filteredValueSetConceptHeaders" :items="fetchedValueSetConcepts" item-key="id"
                              :no-data-text="$t('no-items')" single-select disable-sort :items-per-page="10"
                              :hide-default-footer="fetchedValueSetConcepts.length <= 10" dense>
                              <template v-slot:[`item.level`]="{ item }">
                                <div v-if="item.level && item.type"
                                  :class="'pl-'.concat(new Number(item.level) * 3 + 5)">
                                  {{ parsedLevelType(item) }}
                                </div>
                              </template>
                              <template v-slot:[`item.name`]="{ item }">
                                <div :class="conceptTypeStyling(item)">
                                  {{ $filters.getMatchingTranslation({ value: item.name }) }}
                                  <div v-for="(sy, i) in item.synonym" class="text--disabled font-italic" :key="i">
                                    {{ $t('synonym') }}: {{ $filters.getMatchingTranslation({ value: Array(sy) }) }}
                                  </div>
                                  <TextEditorRenderer v-if="item.desc && item.desc.length > 0">
                                    <truncate :text="$filters.getMatchingTranslation({ value: item.desc })"
                                      :length="200" :clamp="$t('seemore')" :less="$t('showless')" type="html"
                                      class="text--disabled" />
                                  </TextEditorRenderer>
                                </div>
                              </template>
                              <template v-slot:[`item.ordinal`]="{ item }">
                                <div :class="conceptTypeStyling(item)">{{item.ordinal}}</div>
                              </template>
                              <template v-slot:[`item.codeSystem`]="{ item }">
                                <div :class="conceptTypeStyling(item)">
                                  {{ getCodeSystemName(item.codeSystem) }}
                                </div>
                              </template>
                              <template v-slot:no-data>
                                <div class="pt-5 text-left">
                                  <AdInfoOwl v-if="fetchedValueSetError" error>
                                    <span v-if="fetchedValueSetError.message">{{ $t('error') }}: {{
                                      fetchedValueSetError.message }}</span>
                                    <span v-else>{{ $t('unknown-error') }}</span>
                                  </AdInfoOwl>
                                  <AdInfoOwl v-else>{{$t('add-concepts-or-select-valueset')}}</AdInfoOwl>
                                </div>
                              </template>
                            </v-data-table>

                            <!-- Data table for fetched completeCodeSystems -->
                            <v-data-table v-else :headers="filteredCompleteCodeSystemHeaders"
                              :items="fetchedCompleteCodeSystems" item-key="id" :no-data-text="$t('no-items')"
                              single-select :items-per-page="10"
                              :hide-default-footer="fetchedValueSetConcepts.length <= 10" dense>
                              <template v-slot:[`item.displayName`]="{}">
                                <span class="grey--text">{{ $t('complete-codesystem') }}</span>
                              </template>
                              <template v-slot:[`item.code`]="{ item }">
                                {{ item.codeSystem }}
                              </template>
                              <template v-slot:[`item.codeSystem`]="{ item }">
                                {{ item.codeSystemName }}
                              </template>
                              <template v-slot:no-data>
                                <div class="pa-5">
                                  <AdInfoOwl inset>
                                    {{$t('please-select-a-valueset')}}
                                  </AdInfoOwl>
                                </div>
                              </template>
                            </v-data-table>
                          </v-card-text>
                        </v-card>
                      </v-col>
                    </v-row>
                  </template>

                  <!-- string, text, identifier, blob -->
                  <template v-if="['string', 'text', 'identifier', 'blob'].includes(valueDomain.type)">
                    <div class="d-flex">
                      <span class="valueDomainLabel">{{ $t('properties') }}</span>
                      <AdButton v-if="!readonly" type="add" small list @click="
                          addValueDomainProperty({
                            minLength: '',
                            maxLength: '',
                            default: '',
                            fixed: '',
                          })
                        " />
                    </div>

                    <v-row dense v-for="(pp, i) in valueDomainProperties" class="valueDomainMargin"
                      :class="i === 0 ? 'pt-3' : 'pt-1'" :key="i"
                      style="padding-left: 2ex; border-left: 3px solid #ccc">
                      <v-col cols="2">
                        <EditableCount v-model="pp.minLength" :label="$t('minimum-length')" :readonly="readonly"
                          :required="false" dense />
                      </v-col>
                      <v-col cols="2">
                        <EditableCount v-model="pp.maxLength" :label="$t('maximum-length')" :readonly="readonly"
                          :required="false" dense />
                      </v-col>
                      <v-spacer />
                      <v-col cols="8" class="mt-3">
                        <div style="margin-left: auto; width: fit-content">
                          <AdButton v-if="!readonly" type="erase" small list noMarginRight @click="deleteProperty(i)" />
                        </div>
                      </v-col>
                      <v-col cols="6">
                        <v-textarea v-model="pp.default" :label="$t('default')" :readonly="readonly" dense rows="3" />
                      </v-col>
                      <v-col cols="6">
                        <v-textarea v-model="pp.fixed" :label="$t('fixed')" :readonly="readonly" dense rows="3" />
                      </v-col>
                    </v-row>
                  </template>

                  <!-- decimal -->
                  <template v-if="['decimal'].includes(valueDomain.type)">
                    <div class="d-flex">
                      <span class="valueDomainLabel">{{ $t('properties') }}</span>
                      <AdButton v-if="!readonly" type="add" small list @click="
                          addValueDomainProperty({
                            minInclude: '',
                            maxInclude: '',
                            default: '',
                            fixed: '',
                          })
                        " />
                    </div>
                    <v-row dense v-for="(pp, i) in valueDomainProperties" :key="i">
                      <v-col cols="2">
                        <EditableCount v-model="pp.minInclude" :label="$t('minimum')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableCount v-model="pp.maxInclude" :label="$t('maximum')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableCount v-model="pp.default" :label="$t('default')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableCount v-model="pp.fixed" :label="$t('fixed')" :readonly="readonly" :required="false" />
                      </v-col>
                      <v-col cols="1" v-if="!edit">
                        <span v-if="i === 0">{{ $t('properties') }}</span>
                        <AdButton v-if="i + 1 === valueDomainProperties.length" type="add" no-icon small list />
                      </v-col>
                    </v-row>
                  </template>

                  <!-- quantity, duration -->
                  <template v-if="['quantity', 'duration'].includes(valueDomain.type)">
                    <div class="d-flex">
                      <span class="valueDomainLabel">{{ $t('properties') }}</span>
                      <AdButton v-if="!readonly" type="add" small list @click="
                          addValueDomainProperty({
                            unit: '',
                            minInclude: '',
                            maxInclude: '',
                            fractionDigits: '',
                            default: '',
                            fixed: '',
                          })
                        " />
                    </div>
                    <v-row dense class="valueDomainMargin" :class="i === 0 ? 'pt-3' : 'pt-1'"
                      v-for="(pp, i) in valueDomainProperties" :key="i">
                      <v-col cols="1" class="pl-3" style="border-left: 3px solid #ddd">
                        <EditableString v-model="pp.unit" :label="$t('unit')" :readonly="readonly" :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableDecimal v-model="pp.minInclude" :label="$t('minimum')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableDecimal v-model="pp.maxInclude" :label="$t('maximum')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableCount v-model="pp.fractionDigits" :label="$t('decimals')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableDecimal v-model="pp.default" :label="$t('default')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableDecimal v-model="pp.fixed" :label="$t('fixed')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="1" class="mt-3" v-if="!edit">
                        <AdButton v-if="!readonly" type="erase" small list @click="deleteProperty(i)" />
                      </v-col>
                    </v-row>
                  </template>

                  <!-- count -->
                  <template v-if="['count'].includes(valueDomain.type)">
                    <div class="d-flex">
                      <span class="valueDomainLabel">{{ $t('properties') }}</span>
                      <AdButton v-if="!readonly" type="add" small list @click="
                          addValueDomainProperty({
                            minInclude: '',
                            maxInclude: '',
                            default: '',
                            fixed: ''
                          })
                        " />
                    </div>
                    <v-row dense v-for="(pp, i) in valueDomainProperties" class="valueDomainMargin"
                      :class="i === 0 ? 'pt-3' : 'pt-1'" :key="i">
                      <v-col cols="2">
                        <EditableCount v-model="pp.minInclude" :label="$t('minimum')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableCount v-model="pp.maxInclude" :label="$t('maximum')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableCount v-model="pp.default" :label="$t('default')" :readonly="readonly"
                          :required="false" />
                      </v-col>
                      <v-col cols="2">
                        <EditableCount v-model="pp.fixed" :label="$t('fixed')" :readonly="readonly" :required="false" />
                      </v-col>
                      <v-col cols="1" class="mt-3" v-if="!edit">
                        <AdButton v-if="!readonly" type="erase" small list @click="deleteProperty(i)" />
                      </v-col>
                    </v-row>
                  </template>

                  <!-- date, datetime, time -->
                  <template v-if="['date', 'datetime', 'time'].includes(valueDomain.type)">
                    <div class="d-flex">
                      <span class="valueDomainLabel">{{ $t('properties') }}</span>
                      <AdButton v-if="!readonly" type="add" small list @click="
                          addValueDomainProperty({
                            timeStampPrecision: '',
                          })
                        " />
                    </div>
                    <v-row dense v-for="(pp, i) in valueDomainProperties" class="valueDomainMargin" :key="i">
                      <v-col cols="12" class="pa-3 pl-3 valueDomainBorder">
                        <EditableDropdown v-model="pp.timeStampPrecision" :label="$t('timestamp-precision')"
                          :items="['date', 'datetime'].includes(valueDomain.type) ? timeStampDatePrecisionValues : timeStampTimePrecisionValues"
                          :readonly="readonly" :required="false" />
                      </v-col>
                    </v-row>
                  </template>
                </v-col>
              </v-row>

              <!-- do the examples -->
              <v-row v-if="(Array.isArray(valueDomainExamples) && valueDomainExamples.length) || !readonly" dense>
                <v-col>
                  <div class="d-flex">
                    <span class="valueDomainLabel">{{ $t('examples') }}</span>
                    <AdButton v-if="!readonly" type="add" small list @click="addExample()" />
                  </div>

                  <template v-if="Array.isArray(valueDomainExamples) && valueDomainExamples.length > 0">
                    <v-row dense v-for="(ee, i) in valueDomainExamples" class="valueDomainMargin" :key="i">
                      <v-col v-if="ee.edit" cols="9" class="valueDomainBorder"
                        :class="$filters.getExampleBackgroundColor(ee.type)">
                        <v-row dense>
                          <v-col cols="12" class="ml-3">
                            <!-- edit the example -->
                            <v-row dense>
                              <v-col cols="6" class="pt-3">
                                <EditableString v-model="ee.caption" :label="$t('caption')" :readonly="readonly"
                                  :required="false" dense />
                              </v-col>
                              <v-col cols="1"></v-col>
                              <v-col cols="5">
                                <v-radio-group v-model="ee.type" row dense>
                                  <v-radio v-for="n in getExampleTypes" :key="n.value"
                                    :label="$filters.getMatchingTranslation({value: n.label})"
                                    :value="n.value"></v-radio>
                                </v-radio-group>
                              </v-col>
                            </v-row>
                            <v-row dense>
                              <v-col cols="10">
                                <EditableShortDescriptiveName v-model="ee['#text']" :label="$t('example')"
                                  :readonly="readonly" dense />
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col>
                                <v-spacer></v-spacer>
                                <AdButton v-if="!readonly" type="cancel" small @click="cancelExample(i)" />
                                <AdButton v-if="!readonly" type="save" small @click="saveExample(i)" />
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col v-else cols="11" class="valueDomainBorder">
                        <v-row dense>
                          <v-col cols="10" class="ml-3" :class="$filters.getExampleBackgroundColor(ee.type)">
                            <div class="px-2 text-caption font-weight-light">
                              {{ ee.caption }}
                            </div>
                            <div class="px-2">{{ ee['#text'] }}</div>
                          </v-col>
                          <v-col cols="1" class="pt-3">
                            <div>
                              <AdSpeedDial v-if="!readonly" direction="left">
                                <AdSpeedOption v-if="!readonly" type="edit" @click="editExample(i)" />
                                <AdSpeedOption v-if="!readonly" type="erase" @click="deleteExample(i)" />
                              </AdSpeedDial>
                            </div>
                          </v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </template>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <!-- Search Terms Expansion Panel -->
          <v-expansion-panel :key="value.id" v-if="value.type === 'item' && (hasKeywordProperties || !readonly)">
            <v-expansion-panel-header>
              <AdCardTitle inline style="padding: 0 !important">
                {{$t('keywords')}}
                <v-icon v-if="
                      valueDomain
                        ? !openPanels.includes(1)
                        : !openPanels.includes(0)
                    " class="pl-3" style="justify-content: left">mdi-tag-outline</v-icon>
              </AdCardTitle>
              <v-spacer></v-spacer>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-combobox
                :value="(value.property instanceof Array) ? value.property.filter((property) => property.name === 'Keyword'): []"
                item-text="#text" @input="addKeywordsToConcept" prepend-inner-icon="mdi-tag-outline"
                :clearable="!readonly" :items="$store.state.dataset.tree[activeTree].property" hide-selected multiple
                chips deletable-chips :label="$t('keywords')" :readonly="readonly"></v-combobox>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>

        <v-card v-if="$store.getters['app/debugMode']" outlined class="mt-5">
          <v-card-text class="pa-5">
            DEBUG
            <div><b>value:</b> {{ value }}</div>
            <div><b>valueDomain:</b> {{ valueDomain }}</div>
            <div><b>edit:</b> {{ edit }}</div>
            <div><b>openPanels:</b> {{ openPanels }}</div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import truncate from 'vue-truncate-collapsed'
import { cloneDeep, isEmpty } from 'lodash'
import conceptListConcept from '@/models/conceptListConcept'
import conceptListConceptRules from '@/rules/conceptListConcept'
import EditableLevel from '@/components/Utilities/Editable/EditableString/EditableLevel'
import IdentifierAssociationCard from '@/components/Dataset/IdentifierAssociationCard'
import ValuesetAssociationCard from '@/components/Dataset/ValuesetAssociationCard'
import TerminologyAssociationCard from '@/components/Dataset/TerminologyAssociationCard'

export default {
  name: 'DatasetConceptDetails',
  components: {
    EditableLevel,
    IdentifierAssociationCard,
    truncate,
    ValuesetAssociationCard,
    TerminologyAssociationCard
  },
  props:
    {
      activeTree: {
        type: String,
        required: false,
        default: undefined
      },
      value: {
        type: Object,
        required: false,
        default: null
      },
      readonly: {
        type: Boolean,
        required: false,
        default: false
      }
    },
  data () {
    return {
      addConceptListConceptBtn: false,
      addConceptListConcepSynonymtBtn: false,
      conceptListConceptRules,
      conceptListConceptSynonyms: [],
      edit: false,
      editableItem: null,
      editableConceptListConcept: {},
      editableConceptListConceptBtn: false,
      fetchedValueSet: null,
      fetchedValueSetError: null,
      hoveredTr: null,
      openPanels: [],
      selectedValueSet: [],
      showMoreMetaData: true,
      quickChoiceList: [],
      quickChoiceListOpenBtn: false,
      valid: true
    }
  },
  computed: {
    ...mapGetters({
      getCodeSystemName: ['terminology/getCodeSystemName']
    }),

    // getCodingStrengthLabel () {
    //   return strength => {
    //     const match = this.decorTypes?.CodingStrengthType?.[0]?.enumeration?.find((s) => s.value === strength)
    //     return match
    //       ? this.$filters.getMatchingTranslation({ value: match.label, locale: this.$i18n.locale })
    //       : strength
    //   }
    // },
    projectLanguage () {
      return this.$store.getters['app/projectLanguage']
    },
    decorTypes () {
      return this.$store.getters['server/getDecorTypes']?.data
    },
    vocabTypes () {
      return this.decorTypes?.VocabType?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    },
    completeCodeSystemHeaders () {
      return [
        {
          text: this.$t('concept'),
          value: 'displayName',
          width: '40%',
          class: 'blue lighten-5'
        },
        {
          text: this.$t('code'),
          value: 'code',
          width: '20%',
          class: 'blue lighten-5'
        },
        {
          text: this.$t('codesystem'),
          value: 'codeSystem',
          width: '40%',
          class: 'blue lighten-5'
        }
      ]
    },
    conceptListHeaders () {
      return [
        {
          text: `${this.$t('level')}/${this.$t('type')}`,
          value: 'level',
          width: '5%',
          class: 'green lighten-5'
        },
        {
          text: this.$t('concept'),
          value: 'name',
          class: 'green lighten-5'
        },
        {
          text: this.$t('code'),
          value: 'code',
          width: '10%',
          class: 'blue lighten-5'
        },
        {
          text: this.$t('ordinal'),
          value: 'ordinal',
          width: '5%',
          class: 'blue lighten-5'
        },
        {
          text: this.$t('display-name'),
          value: 'displayName',
          width: '25%',
          class: 'blue lighten-5'
        },
        {
          text: this.$t('codesystem'),
          value: 'codeSystemName',
          width: '20%',
          class: 'blue lighten-5'
        },
        {
          text: '',
          value: 'actions',
          width: '35px',
          class: 'green lighten-5',
          condition: 'userIsProjectAuthor' // condition is a custom property
        }
      ]
    },
    conceptTypeStyling () {
      return item => this.$filters.getConceptTypeStyling(item.type)
    },
    fetchedValueSetConcepts () {
      return this.fetchedValueSet?.items || []
    },
    fetchedCompleteCodeSystems () {
      return this.fetchedValueSet?.completeCodeSystem || []
    },
    filteredCompleteCodeSystemHeaders () {
      if (this.fetchedCompleteCodeSystems.length === 0) {
        return []
      }
      return this.completeCodeSystemHeaders
    },
    filteredConceptListHeaders () {
      const headersToHide = []
      const displayLevelHeader = this.valueConcepts?.find(concept => concept.level || concept.type)
      const displayOrdinalHeader = this.valueConcepts?.find(concept => concept.ordinal)
      const displayTerminologyAssociationRelatedHeaders = this.valueConcepts?.find(concept =>
        concept.terminologyAssociation?.find(association =>
          association.code || association.displayName || association.codeSystemName)
      )
      const actionHeader = this.readonly || !this.userIsEditor

      if (!displayLevelHeader) {
        headersToHide.push('level')
      }
      if (!displayOrdinalHeader) {
        headersToHide.push('ordinal')
      }
      if (!displayTerminologyAssociationRelatedHeaders) {
        headersToHide.push('code')
        headersToHide.push('displayName')
        headersToHide.push('codeSystemName')
      }
      if (actionHeader) {
        headersToHide.push('actions')
      }
      return this.conceptListHeaders.filter(header => !headersToHide.includes(header.value))
    },
    filteredValueSetConceptHeaders () {
      if (this.fetchedValueSetConcepts.length === 0) {
        return []
      }
      const headersToHide = []
      const displayLevelHeader = this.fetchedValueSet?.conceptList?.[0]?.concept?.find(concept => concept.level || concept.type)
      const displayOrdinalHeader = this.fetchedValueSet?.conceptList?.[0]?.concept?.find(concept => concept.ordinal)
      if (!displayLevelHeader) {
        headersToHide.push('level')
      }
      if (!displayOrdinalHeader) {
        headersToHide.push('ordinal')
      }
      return this.valueSetConceptHeaders.filter(header => !headersToHide.includes(header.value))
    },
    getExampleTypes () {
      return this.$store.getters['server/getExampleTypes']
    },
    hasKeywordProperties () {
      return this.value?.property?.filter(prop => prop.name === 'Keyword')?.length
    },
    identifierAssociations () {
      return this.$store.getters['dataset/conceptItem']?.identifierAssociation || []
    },
    parsedLevelType () {
      return item => {
        if (!item.level && !item.type) {
          return String.fromCharCode(8211) // &ndash;
        }
        return `${item.level ?? ''}-${item.type ?? ''}`
      }
    },
    showConceptListConceptTd () {
      return (attribute, options = {}) => {
        if (attribute === 'actions') {
          return !this.readonly
        }
        return this.valueConcepts.some((concept) => {
          if (!options.root && concept.terminologyAssociation) {
            return concept.terminologyAssociation
              .some((association) => Object.prototype.hasOwnProperty.call(association, attribute))
          } else {
            return concept?.[attribute] != null
          }
        })
      }
    },
    timeStampDatePrecisionValues () {
      return [
        { value: 'Y', text: this.$t('timestamp-precision-values.Y') },
        { value: 'Y!', text: this.$t('timestamp-precision-values.Y!') },
        { value: 'YM', text: this.$t('timestamp-precision-values.YM') },
        { value: 'YM!', text: this.$t('timestamp-precision-values.YM!') },
        { value: 'YMD', text: this.$t('timestamp-precision-values.YMD') },
        { value: 'YMD!', text: this.$t('timestamp-precision-values.YMD!') },
        { value: 'YMDHM', text: this.$t('timestamp-precision-values.YMDHM') }
      ]
    },
    timeStampTimePrecisionValues () {
      return [
        { value: 'H', text: this.$t('timestamp-precision-values.H') },
        { value: 'H!', text: this.$t('timestamp-precision-values.H!') },
        { value: 'HM', text: this.$t('timestamp-precision-values.HM') },
        { value: 'HM!', text: this.$t('timestamp-precision-values.HM!') },
        { value: 'HMS!', text: this.$t('timestamp-precision-values.HMS!') }
      ]
    },
    terminologyAssociation () {
      return this.$store.getters['dataset/conceptItem']?.terminologyAssociation || []
    },
    terminologyAssociationHeaders () {
      return [
        {
          text: this.$t('code'),
          value: 'code',
          width: '8%'
        },
        {
          text: this.$t('display-name'),
          value: 'displayName',
          width: '30%'
        },
        {
          text: this.$t('codesystem'),
          value: 'codeSystemName',
          width: '25%'
        },
        {
          text: this.$t('association-equivalence'),
          value: 'equivalence',
          width: '10%'
        }
      ]
    },
    valueDomain () {
      return this.value?.valueDomain?.[0]
    },
    valueSetAssociation () {
      return this.$store.getters['dataset/conceptItem']?.valueDomain?.[0]?.conceptList?.[0]?.terminologyAssociation || []
    },
    // valueSetAssociationHeaders () {
    //   return [
    //     {
    //       text: this.$t('name'),
    //       value: 'valueSetName',
    //       width: '40%'
    //     },
    //     {
    //       text: this.$t('status'),
    //       value: 'valueSetStatusCode',
    //       width: '15%'
    //     },
    //     {
    //       text: this.$t('flexibility'),
    //       value: 'flexibility',
    //       width: '20%'
    //     },
    //     { text: this.$t('coding-strength'), value: 'strength', sortable: true }
    //   ]
    // },
    valueSetConceptHeaders () {
      return [
        {
          text: `${this.$t('level')}/${this.$t('type')}`,
          value: 'level',
          width: '5%',
          class: 'blue lighten-5'
        },
        {
          text: this.$t('display-name'),
          value: 'displayName',
          width: '35%',
          class: 'blue lighten-5'
        },
        {
          text: this.$t('code'),
          value: 'code',
          width: '10%',
          class: 'blue lighten-5'
        },
        {
          text: this.$t('ordinal'),
          value: 'ordinal',
          width: '5%',
          class: 'blue lighten-5'
        },
        {
          text: this.$t('codesystem'),
          value: 'codeSystem',
          width: '40%',
          class: 'blue lighten-5'
        }
      ]
    },
    valueType () {
      return this.valueDomain?.type
    },
    valueConcepts () {
      return this.valueDomain?.conceptList?.[0]?.concept || []
    },
    valueDomainProperties () {
      return this.valueDomain?.property
    },
    valueDomainExamples () {
      return this.valueDomain?.example
    }
  },

  watch: {
    value: {
      immediate: true,
      deep: true,
      handler (value) {
        this.openPanels = [0]
        if (this.value.property || !this.readonly) {
          // open the panel for the keywords
          this.openPanels = [0, 1]
        }
        if (this.readonly) {
          if (this.quickChoiceList.length > 0) {
            // empty the quickChoiceList if user press cancel btn (parent)
            this.quickChoiceList = []
          }
          if (this.quickChoiceListOpenBtn) {
            this.quickChoiceListOpenBtn = false
          }
          if (!isEmpty(this.editableConceptListConcept)) {
            this.editableConceptListConcept = {}
          }
        }
        this.editableItem = JSON.parse(JSON.stringify(value))
      }
    },
    valueSetAssociation: {
      immediate: true,
      async handler (associations) {
        if (this.valueConcepts?.length) return

        if (associations?.length === 1) {
          await this.$nextTick()
          const firstValueSet = associations[0]
          this.$refs.valuesetAssociationCard.setSelectedValueSet(firstValueSet)
          this.fetchedValueSet = null
          this.valueSetSelectionHandler({ item: firstValueSet, value: true })
        }
      }
    }
  },
  methods: {
    openQuickAddChoiceList () {
      this.quickChoiceList = [] // start with empty add list
      this.quickChoiceListOpenBtn = !this.quickChoiceListOpenBtn // toggle
    },
    lastShortConceptId () {
      let lastShortConceptId = 0 // assume that 0 is the one as there is no conceptList yet
      if (
        this.valueDomain?.conceptList?.[0]?.concept != null &&
        this.valueDomain?.conceptList?.[0]?.concept.length > 0
      ) {
        // find the max shortId in the list
        const clist = JSON.parse(JSON.stringify(this.valueDomain.conceptList[0].concept))
        const lc = clist.sort(
          function (a, b) {
            return a.id > b.id ? -1 : (b.id > a.id ? 1 : 0)
          })
        lastShortConceptId = this.shortId(lc[0].id)
      }
      return lastShortConceptId
    },
    saveQuickAddChoiceList () {
      // first get the hosting concept id and date
      const hostingConceptId = this.value.id
      const hostingConceptEffectiveDateStamp = this.shortenTimeStamp(this.value.effectiveDate)
      let lastShortConceptId = this.lastShortConceptId()
      this.quickChoiceList.forEach((qq) => {
        const q = {
          id:
            hostingConceptId + '.' +
            hostingConceptEffectiveDateStamp + '.' +
            ++lastShortConceptId, // shall be a new OID based on last one in this list.
          exception: 'false',
          name: [
            {
              language: this.projectLanguage,
              '#text': qq
            }
          ]
        }
        if (this.valueDomain.conceptList[0].concept == null) {
          this.$set(this.valueDomain.conceptList[0], 'concept', [])
        }
        this.valueDomain.conceptList[0].concept.push(q)
      })
      this.quickChoiceListOpenBtn = false
      this.quickChoiceList = [] // empty the list
    },
    matchingTranslation (value, selector) {
      return this.$filters.getMatchingTranslation({
        value: value?.[selector]
      })
    },
    addValueDomainProperty (p) {
      if (this.valueDomainProperties === undefined) {
        this.$set(this.valueDomain, 'property', [])
      }
      this.valueDomainProperties.push(p)
    },
    deleteProperty (i) {
      this.valueDomainProperties.splice(i, 1)
    },
    addExample () {
      if (this.valueDomainExamples === undefined) {
        this.$set(this.valueDomain, 'example', [])
      }

      this.valueDomainExamples.push({
        type: 'neutral',
        '#text': '',
        edit: true
      })
    },
    editExample (i) {
      if (this.valueDomainExamples[i].edit === undefined) {
        this.$set(this.valueDomainExamples[i], 'edit', true)
      } else {
        this.valueDomainExamples[i].edit = true
      }
    },
    saveExample (i) {
      this.valueDomainExamples[i].edit = false
    },
    cancelExample (i) {
      this.valueDomainExamples[i].edit = false
      if (this.valueDomainExamples[i]['#text'].length === 0) {
        this.deleteExample(i)
      }
    },
    deleteExample (i) {
      this.valueDomainExamples.splice(i, 1)
    },
    addMetaItem (i, v) {
      this.$set(this.value, i, v)
    },
    addKeywordsToConcept (value) {
      const keywordProps = []
      value.forEach((prop) => {
        if (typeof prop === 'string') {
          keywordProps.push({ name: 'Keyword', '#text': prop })
        } else {
          keywordProps.push(prop)
        }
      })
      if (this.editableItem.property == null) {
        this.$set(this.editableItem, 'property', [])
      }
      const nonKeywordProps = this.editableItem.property.filter(prop => prop.name !== 'Keyword')
      this.editableItem.property = [...nonKeywordProps, ...keywordProps]
      this.$emit('input', this.editableItem)
    },
    valueSetSelectionHandler ({ item, value: itemSelected }) {
      this.fetchedValueSetError = null
      if (!itemSelected) {
        this.fetchedValueSet = null
      } else {
        this.getValueDomainAssociatedValueSetList(item.valueSet, item.flexibility)
      }
    },
    async getValueDomainAssociatedValueSetList (id, effectiveDate) {
      try {
        const valueSet = await this.$store.dispatch('terminology/getValueSet', { id, effectiveDate, prefix: null })
        this.fetchedValueSet = valueSet || null
      } catch (error) {
        this.fetchedValueSetError = error
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async actionConceptListConcept (action, item) {
      if (action === 'delete') {
        const message = this.$t('remove') + ' ' + this.$filters.getMatchingTranslation({ value: item.name }) + '?'
        const agree = await this.$confirm(message)
        if (agree) {
          const index = this.valueDomain.conceptList[0].concept.indexOf(item)
          if (index > -1) {
            this.valueDomain.conceptList[0].concept.splice(index, 1)
          }
        }
      } else if (action === 'edit') {
        this.editableConceptListConcept = cloneDeep(item)
        this.editableConceptListConceptBtn = true
      } else if (action === 'updateOrAdd') {
        if (this.$refs.formConceptListConcept.validate()) {
          if (this.editableConceptListConceptBtn) {
            /**
             * Update conceptList concept
             */
            const index = this.valueConcepts.findIndex((concept) => concept.id === this.editableConceptListConcept.id)
            const concept = this.editableConceptListConcept
            if (index > -1) {
              if (this.conceptListConceptSynonyms.length > 0) {
                this.conceptListConceptSynonyms.forEach((synonym) => {
                  if (concept.synonym == null) {
                    concept.synonym = []
                  }
                  concept.synonym.push({
                    language: this.projectLanguage,
                    '#text': synonym
                  })
                })
              }
              this.valueConcepts.splice(index, 1, concept)
            }
            this.editableConceptListConceptBtn = !this.editableConceptListConceptBtn
            this.$nextTick(() => {
              if (this.conceptListConceptSynonyms.length) {
                this.conceptListConceptSynonyms = []
              }
              this.editableConceptListConcept = cloneDeep(conceptListConcept)
            })
          } else if (this.addConceptListConceptBtn) {
            /**
             * Add conceptList concept
             */
            const concept = cloneDeep(this.editableConceptListConcept)
            const hostingConceptId = this.value.id
            const hostingConceptEffectiveDateStamp = this.shortenTimeStamp(this.value.effectiveDate)
            let lastShortConceptId = this.lastShortConceptId()
            concept.id = `${hostingConceptId}.${hostingConceptEffectiveDateStamp}.${(++lastShortConceptId)}`
            if (this.valueDomain?.conceptList == null) {
              this.$set(this.valueDomain, 'conceptList', [])
            }
            if (this.valueDomain?.conceptList?.[0]?.concept == null) {
              this.$set(this.valueDomain.conceptList[0], 'concept', [])
            }
            // check conceptListConceptSynonyms
            if (this.conceptListConceptSynonyms.length > 0) {
              this.conceptListConceptSynonyms.forEach((synonym) => {
                if (concept.synonym == null) {
                  concept.synonym = []
                }
                concept.synonym.push({
                  language: this.projectLanguage,
                  '#text': synonym
                })
              })
            }
            this.valueDomain.conceptList[0].concept.push(concept)
            this.addConceptListConceptBtn = !this.addConceptListConceptBtn
            this.$nextTick(() => {
              if (this.conceptListConceptSynonyms.length) {
                this.conceptListConceptSynonyms = []
              }
              this.editableConceptListConcept = cloneDeep(conceptListConcept)
            })
          }
        }
      } else if (action === 'cancel') {
        // cancel update
        if (this.editableConceptListConceptBtn) {
          this.editableConceptListConceptBtn = !this.editableConceptListConceptBtn
        } else if (this.addConceptListConceptBtn) {
          this.addConceptListConceptBtn = !this.addConceptListConceptBtn
        }
      }
    },
    addConceptListConceptStart () {
      this.editableConceptListConcept = cloneDeep(conceptListConcept)
      this.$nextTick(() => {
        this.addConceptListConceptBtn = true
      })
    },
    addConceptListConceptSynonyms () {
      if (this.conceptListConceptSynonyms.length > 0) {
        this.conceptListConceptSynonyms.forEach((synonym) => {
          if (this.editableConceptListConcept.synonym == null) {
            this.$set(this.editableConceptListConcept, 'synonym', [])
          }
          this.editableConceptListConcept.synonym.push({
            language: this.projectLanguage,
            '#text': synonym
          })
        })
        this.addConceptListConcepSynonymtBtn = false
        this.conceptListConceptSynonyms = []
      }
    },
    removeConceptListConceptSynonym (index) {
      if (this.editableConceptListConcept.synonym[index] != null) {
        this.editableConceptListConcept.synonym.splice(index, 1)
      }
    },
    updateSynonym (i, value) {
      if (this.editableConceptListConcept?.synonym?.[i] != null) {
        this.editableConceptListConcept.synonym.splice(i, 1, value[0])
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.dataset-concept-details .v-data-table tr {
  &[data-tr-mark="true"] {
    background-color: #eee !important;
  }
}

.valueDomainLabel {
  background-color: #ddd;
  padding: 6px 12px 6px 12px;
  float: left;
  width: 200px;
}

.valueDomainMargin {
  margin-left: 1px !important;
}

.valueDomainBorder {
  border-left: 3px solid #ccc;
}
</style>
