<template>
  <div class="dataset-details-card">
    <v-card v-if="activeItem">
      <div v-if="!!edit || !!editDataset" class="backdrop-layer"></div>

      <div class="dataset-details-card-header d-flex flex-row align-center pr-4 backdrop-item">
        <div class="d-flex flex-column justify-center flex-grow-1">
          <v-slide-y-transition group leave-absolute>
            <AdCardTitle key="title">
              <AdStatusDot
                darker
                larger
                :status="itemstatuscode"
                :icon="$filters.getDatasetIcon(activeItem)"
                class="mr-2 mb-1"
              />
              <v-fade-transition group leave-absolute>
                <span v-if="isDatasetItem" key="datasetItemName">{{ datasetName() }}</span>
                <span v-else key="valuesName">{{ conceptItemName }}</span>
              </v-fade-transition>
            </AdCardTitle>
            <v-card-subtitle
              v-if="!isDatasetItem"
              key="subtitle"
              class="subtitle-2 pt-2"
            >{{ $t('dataset') }}: {{ datasetName({selectorName: true}) }}
            </v-card-subtitle>
          </v-slide-y-transition>
        </div>

        <template v-if="isDatasetItem">
          <AdArtefactDownloads
            v-model="modals.artefactDownload"
            :title="`${$t('downloads')} - ${datasetName()}`"
            :downloadData="datasetDownloadData"
          />
          <AdButton
            type="downloads"
            @click="modals.artefactDownload = true"
          />
        </template>

        <div v-if="isDeletable && isEditable && !isDatasetItem">
          <v-slide-x-reverse-transition group leave-absolute>
            <div v-if="!edit" key="edit-false">
              <AdButton type="delete" @click="handleRemoveNewConcept"/>
            </div>
          </v-slide-x-reverse-transition>
        </div>
        <div v-if="isEditable && !isDatasetItem">
          <v-slide-x-reverse-transition group leave-absolute>
            <div v-if="!edit" key="edit-false">
              <AdButton type="edit" @click="startEditMode"/>
            </div>
            <div v-else key="edit-true">
              <AdButton type="cancel" @click="cancelEditMode"/>
              <AdButton type="save" @click="saveEditedValues"/>
            </div>
          </v-slide-x-reverse-transition>
        </div>
        <div v-if="isEditable && isDatasetItem">
          <v-slide-x-reverse-transition group leave-absolute>
            <div v-if="!editDataset" key="edit-false">
              <AdButton type="edit" @click="startEditModeDataset"/>
            </div>
            <div v-else key="edit-true">
              <AdButton type="cancel" @click="cancelEditModeCopyright"/>
              <AdButton type="save" @click="handleChangesCopyrightAndPublishAuthority"/>
            </div>
          </v-slide-x-reverse-transition>
        </div>
        <div v-if="userIsEditor && isInherited && !parentIsInherited">
          <AdButton type="de-inherit" @click="handleDeReference('to-copy')"/>
        </div>
        <div v-if="userIsEditor && isContained">
          <AdButton type="de-inherit" :text="$t('de-contain')" :hint="$t('de-contain')" @click="handleDeReference('to-designcopy')"/>
        </div>

        <div v-if="userIsEditor && conceptItem && false">
          <AdButton darker type="new-map"/>
        </div>

        <IssueCreationModal
          v-if="!isRecycleBin"
          :object="activeItem"
          @create="handleNewIssueCreated"
        />

      </div>

      <v-card-text>
        <PanelLoading v-if="$store.state.dataset.loading.activeItem" :loading="$store.state.dataset.loading.activeItem"/>

        <template v-else-if="(isDatasetItem && datasetItem) || conceptItem">

          <EditableArtefactDetailHeader
            v-if="!isRecycleBin"
            :artefact="this.isDatasetItem ? 'Dataset' : 'DatasetConcept'"
            :item="editableItem"
            :locales="projectLocales"
            :readonly="!isEditable"
            :isEditableStatusCode="isEditableStatusCode"
            :showMore.sync="showMoreMetaData"
            :hasDetails="true"
            :service="this.isDatasetItem ? 'dataset' : 'dataset-concept'"
          >
            <v-row dense>
              <v-col cols="6">
                <EditableString
                  v-if="isDatasetItem"
                  v-model="editableItem.canonicalUri"
                  :label="$t('canonicalUri')"
                  @change="updateString('canonicalUri')"
                  show-delete-icon
                  :loading="loading.canonicalUri"
                  :disabled="loading.canonicalUri"
                  confirmation-required
                  :readonly="!isEditable || loading.canonicalUri"
                />
              </v-col>
            </v-row>

            <DatasetMetaInformation
              v-model="editableItem"
              :isDataset="isDatasetItem"
              :locales="projectLocales"
              :readonly="isDatasetItem ? !editDataset : !edit"
              class="backdrop-item"
            />

            <AdCopyrightCrud
              v-if="datasetItem && isDatasetItem"
              v-model="editableItem"
              :publishingAuthority="datasetItem.publishingAuthority"
              :showRouterlinkToPublishingAuthority="false"
              :enableAddCopyright="userIsProjectAuthor"
              :enableEditCopyright="userIsProjectAuthor"
              :enableRemoveCopyright="userIsProjectAuthor"
              :enableAddPublishingAuthority="userIsProjectAuthor"
              :enableEditPublishingAuthority="userIsProjectAuthor"
              :enableRemovePublishingAuthority="userIsProjectAuthor"
              :readonly="!editDataset"
              class="backdrop-item"
            />

          </EditableArtefactDetailHeader>

          <div v-if="isRecycleBin">
            <AdInfoOwl>
              <span v-html="$t('recyclebin-info')"></span>
            </AdInfoOwl>
          </div>

          <DatasetConceptDetails
            v-if="conceptItem && !isRecycleBin"
            :activeTree="activeTree"
            v-model="editableItem"
            :readonly="!edit"
            class="backdrop-item"
          />

          <RelationshipSection
            v-if="!isRecycleBin"
            :item="editableItem"
            :objectType="isDatasetItem ? 'dataset' : 'concept'"
            :readonly="!isEditable"
            :expanded.sync="relationshipSectionIsExpanded"
          />

          <UsageSection
            v-if="!isRecycleBin"
            :key="`usage-section-${activeItem.navkey}`"
            :expanded.sync="usageSectionIsExpanded"
            :objectId="activeItem.id"
            :objectEffectiveDate="activeItem.effectiveDate"
            :action="isDatasetItem ? 'dataset/getDatasetUsage' : 'dataset/getConceptUsage' "
          />

          <HistorySection
            v-if="!isRecycleBin"
            :key="`history-section-${activeItem.navkey}`"
            :expanded.sync="historySectionIsExpanded"
            :objectId="activeItem.id"
            :objectEffectiveDate="activeItem.effectiveDate"
            :artefact="isDatasetItem ? 'DS' : 'DE' "
          />

          <CommunitySection
            v-if="!isDatasetItem && !isRecycleBin"
            :item="editableItem"
          />

          <IssueAssociationsSection
             v-if="!isRecycleBin"
            ref="issueSection"
            :count="associatedIssuesCount"
            :objectId="activeItem.id"
            :objectEffectiveDate="activeItem.effectiveDate"
          />

        </template>

      </v-card-text>
    </v-card>

    <v-card v-else>
      <AdInfoOwl>{{ $t('select-dataset') }}</AdInfoOwl>
    </v-card>

  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import { isEqual } from 'lodash'
import AdArtefactDownloads from '@/components/Rule/AdArtefactDownloads'
import LockService from '@/services/LockService'
import DataSetService from '@/services/DataSetService'
import DatasetConceptDetails from '@/components/Dataset/DatasetConceptDetails'
import EditableArtefactDetailHeader from '@/components/Utilities/Editable/EditableStructure/EditableArtefactDetailHeader'
import DatasetMetaInformation from '@/components/Dataset/DatasetMetaInformation'
import IssueCreationModal from '@/components/Issue/IssueCreationModal'
import AdCopyrightCrud from '@/components/Utilities/AdCopyrightCrud'
import UsageSection from '@/components/Utilities/UsageSection'
import HistorySection from '@/components/Utilities/HistorySection'
import CommunitySection from '@/components/Utilities/CommunitySection'
import RelationshipSection from '@/components/Utilities/RelationshipSection'
import IssueAssociationsSection from '@/components/Utilities/IssueAssociationsSection'

export default {
  name: 'DatasetDetailsCard',

  components: {
    AdArtefactDownloads,
    AdCopyrightCrud,
    IssueCreationModal,
    DatasetMetaInformation,
    EditableArtefactDetailHeader,
    DatasetConceptDetails,
    UsageSection,
    HistorySection,
    CommunitySection,
    RelationshipSection,
    IssueAssociationsSection
  },

  props: {
    activeTree: {
      type: String,
      required: false,
      default: undefined
    },
    datasetId: {
      type: String
    },
    datasetVersion: {
      type: String
    },
    conceptId: {
      type: String
    },
    conceptVersion: {
      type: String
    },
    itemKey: {
      type: String,
      required: false,
      default: 'id'
    },
    itemText: {
      type: String,
      required: false,
      default: 'name'
    },
    conceptDetailLoading: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      edit: false,
      editDataset: false,
      editableItem: null,
      originalItem: null,
      rules: {},
      loading: {
        canonicalUri: false
      },
      modals: { artefactDownload: false }
    }
  },

  computed: {
    ...mapGetters({
      decorStatusMaps: ['server/decorStatusMaps']
    }),
    ...mapState({
      conceptItem: (state) => state.dataset.conceptItem,
      datasetItem: (state) => state.dataset.datasetItem,
      activeItem: (state) => state.dataset.activeItem
    }),
    associatedIssuesCount () {
      const activeItemType = this.isDatasetItem ? 'datasetItem' : 'conceptItem'
      return parseInt(this[activeItemType]?.issueAssociation?.[0]?.count) || 0
    },
    datasetDownloadData () {
      if (!this.isDatasetItem) return []
      return [
        {
          categoryTitle: this.$t('DECOR'),
          color: 'green',
          links: [
            {
              text: 'XML',
              href: this.getExtractDatasetDownloadLink(this.activeItem, 'xml')
            },
            {
              text: 'JSON',
              href: this.getExtractDatasetDownloadLink(this.activeItem, 'json')
            }
          ]
        },
        {
          categoryTitle: this.$t('FHIR'),
          color: 'green',
          links: ['1.0', '3.0', '4.0', '4.3', '5.0'].flatMap(format => ([
            {
              text: `${this.$store.getters['server/getFhirLabel'](format)} - XML`,
              condition: () => this.$store.getters['project/projectHasFhirService'](format),
              href: this.getDatasetFhirDownloadLink(this.activeItem, format)
            },
            {
              text: `${this.$store.getters['server/getFhirLabel'](format)} - JSON`,
              condition: () => this.$store.getters['project/projectHasFhirService'](format),
              href: this.getDatasetFhirDownloadLink(this.activeItem, format, 'json')
            }
          ]))
        }
      ]
    },
    isDatasetItem () {
      return this.datasetItem?.id === this.activeItem?.id
    },
    isInherited () {
      return !!this.activeItem?.inherit
    },
    isContained () {
      return !!this.activeItem?.contains
    },
    parentIsInherited () {
      return !!this.activeItem?.parentIsInherited
    },
    isDeletable () {
      return (
        this.serverFeature({ path: 'decor.datasets.concept', crudAction: 'write' }) &&
        this.userIsProjectAuthor === true &&
        ['new'].includes(this.activeItem?.statusCode) &&
        this.isDatasetItem === false
      )
    },
    isEditable () {
      return (
        this.serverFeature({ path: 'decor.datasets.concept', crudAction: 'write' }) &&
        this.userIsProjectAuthor === true &&
        !this.isRecycleBin &&
        ['draft', 'new'].indexOf(this.activeItem?.statusCode) >= 0 && (
          (this.isDatasetItem === false && !this.activeItem?.inherit && !this.activeItem?.contains) ||
          (this.isDatasetItem === true)
        )
      )
    },
    isRecycleBin () {
      return this.activeItem?.recycleBin
    },
    isEditableStatusCode () {
      /**
       * AD30-259 / AD-178
       * (accepted) Proposal: canceled drafts may be drafted again as long
       * as the dataset is still draft.
       * Realization would save dataset designers time.
       */
      return (
        this.userIsProjectAuthor === true &&
        this.itemStatusCodeLifeCycle[this.activeItem?.statusCode] != null &&
        this.itemStatusCodeLifeCycle[this.activeItem?.statusCode].includes(this.activeItem?.statusCode) &&
        (
          (!this.isDatasetItem && this.datasetItem?.statusCode === 'draft') ||
          (this.isDatasetItem)
        )
      )
    },
    itemStatusCodeLifeCycle () {
      return this.decorStatusMaps.ItemStatusCodeLifeCycle[0]
    },

    datasetName () {
      return (options) => {
        // Get dataset text.
        const datasetText = this.$filters.getMatchingTranslation({
          value: this.datasetItem?.name,
          returnObject: true
        })

        return options?.selectorName
          ? datasetText?.selectorName || datasetText?.['#text']
          : datasetText?.['#text']
      }
    },

    itemstatuscode () {
      if (this.activeItem?.recycleBin) return 'cancelled'
      return this.activeItem?.statusCode
    },

    conceptItemName () {
      return this.$filters.getMatchingTranslation({
        value:
          this.conceptItem?.name || this.activeItem?.name,
        returnObject: true
      })?.['#text']
    },
    relationshipSectionIsExpanded: {
      get () {
        return this.$store.state.dataset.expandedSections.relationshipSection
      },
      set (value) {
        this.$store.commit('dataset/setExpandedSection', { section: 'relationshipSection', value })
      }
    },
    usageSectionIsExpanded: {
      get () {
        return this.$store.state.dataset.expandedSections.usageSection
      },
      set (value) {
        this.$store.commit('dataset/setExpandedSection', { section: 'usageSection', value })
      }
    },
    historySectionIsExpanded: {
      get () {
        return this.$store.state.dataset.expandedSections.historySection
      },
      set (value) {
        this.$store.commit('dataset/setExpandedSection', { section: 'historySection', value })
      }
    },
    metadataIsExpanded: {
      get () {
        return this.$store.state.dataset.expandedSections.metadata
      },
      set (value) {
        this.$store.commit('dataset/setExpandedSection', { section: 'metadata', value })
      }
    },
    showMoreMetaData: {
      get () {
        return this.metadataIsExpanded || !!this.edit || !!this.editDataset
      },
      set (value) {
        if (!this.edit && !this.editDataset) {
          this.metadataIsExpanded = value
        }
      }
    },
    watchedVariables () {
      return [this.activeItem, this.conceptItem, this.datasetItem]
    }
  },

  watch: {
    watchedVariables: {
      immediate: true,
      deep: true,
      handler: function () {
        // Clone current item.
        this.editableItem = this.isDatasetItem === true
          ? this.$filters.clone({ ...this.activeItem, ...this.datasetItem })
          : this.$filters.clone({ ...this.activeItem, ...this.conceptItem })
      }
    }
  },

  methods: {
    getDatasetFhirDownloadLink (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.$store.getters['project/getFhirURL'](fhirFormat)
      const { id, effectiveDate, ident } = item
      const prefix = this.projectInFocus?.prefix
      const parsedEffectiveDate = effectiveDate.replaceAll(/[-:T]/g, '')
      const url = `${BASE_URL}/${fhirFormat}/${ident || prefix}/StructureDefinition/${id}--${parsedEffectiveDate}?_format=${dataFormat}`
      return url
    },
    getExtractDatasetDownloadLink (item, format) {
      const { id, effectiveDate } = item
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const url = `${this.$store.getters['server/URL_ART_DECOR_API']}/dataset/${id}/${encodeURIComponent(effectiveDate)}/$extract?language=${projectLanguage}&format=${format}&download=true`
      return url
    },
    /**
     * Start edit mode.
     *
     * @return {Promise<void>}
     */
    async startEditMode () {
      // Check if current edit mode is false.
      if (this.edit === false) {
        // Get object id.
        const objectId = this.activeItem?.id || null
        // Get effective date.
        const effectiveDate = this.activeItem?.effectiveDate || null
        // Check if object id is not null.
        if (objectId !== null) {
          // Try to lock object by id and get response.
          await DataSetService.getEditableDatasetConcept(objectId, effectiveDate, null, { associations: true })
            .then((response) => {
              // Get editable item from response data.
              this.editableItem = response?.data
              // Save original item.
              this.originalItem = this.$filters.clone(this.editableItem)
              // Set edit mode in base of status.
              this.edit = !!this.editableItem === true
            })
            .catch((error) => {
              // Get error message.
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              // Show error message on alert dialog.
              this.$oops(errorMessage)
            })
        }
      }
    },

    /**
     * Cancel edit mode.
     *
     * @return {Promise<void>}
     */
    async cancelEditMode () {
      // Check if edit mode is already true.
      if (this.edit === true) {
        // Get object id.
        const objectId = this.activeItem?.id || null
        const effectiveDate = this.activeItem?.effectiveDate || null
        // Check if object id is not null.
        if (objectId !== null) {
          // Unlock object id.
          await LockService.unlockObjectId({ objectId, effectiveDate })
          // Recover original item.
          this.restoreEditableItem()
        }
      }

      // Set edit to false.
      this.edit = false
    },
    restoreEditableItem () {
      this.editableItem = this.isDatasetItem === true
        ? this.$filters.clone({ ...this.activeItem, ...this.datasetItem })
        : this.$filters.clone({ ...this.activeItem, ...this.conceptItem })
    },
    handleNewIssueCreated (issue) {
      const activeItemType = this.isDatasetItem ? 'datasetItem' : 'conceptItem'
      this.$store.commit('dataset/incrementIssueAssociation', activeItemType)

      if (this.$refs?.issueSection?.issueList?.issue) {
        this.$refs.issueSection.issueList.issue.push(issue)
      }
    },
    /**
     * Save edit changes.
     */
    saveEditedValues () {
      // Define data.
      const data = { parameter: [] }
      // Define multilingual values.
      const multilingualValues = [
        'operationalization',
        'source',
        'rationale'
      ]

      // Loop each multilingual value.
      for (const multilingualValue of multilingualValues) {
        // Check if multilingual value has changed.
        if (
          this.editableItem?.[multilingualValue] &&
          this.editableItem?.[multilingualValue] !== this.originalItem?.[multilingualValue]
        ) {
          (this.editableItem[multilingualValue] || []).forEach(mv => {
            if (!this.$filters.htmlHasTextContent(mv['#text'])) {
              const itemToRemove = this.originalItem?.[multilingualValue]?.find(item => item.language === mv.language)
              if (itemToRemove) {
                data.parameter.push({
                  op: 'remove',
                  path: `/${multilingualValue}`,
                  value: { [multilingualValue]: itemToRemove }
                })
              }
            } else {
              data.parameter.push({
                op:
                  (this.originalItem?.[multilingualValue] || []).find(
                    (item) => item.language === mv.language
                  ) !== undefined
                    ? 'replace'
                    : 'add',
                path: `/${multilingualValue}`,
                value: { [multilingualValue]: mv }
              })
            }
          })
        }
      }

      // Check if value domain has changed.
      if (
        this.editableItem?.valueDomain &&
        !isEqual(this.editableItem.valueDomain, this.originalItem?.valueDomain)
      ) {
        data.parameter.push({
          op: 'replace',
          path: '/valueDomain',
          value: { valueDomain: this.editableItem.valueDomain }
        })
      }

      // Check if synonyms have changed
      if (
        this.editableItem?.synonym &&
        !isEqual(this.editableItem.synonym, this.originalItem?.synonym)
      ) {
        // Remove deleted synonyms
        const synsToDelete = this.originalItem?.synonym?.filter(originalSynonym => !this.editableItem.synonym
          .some(editableSynonym => {
            return editableSynonym.language === originalSynonym.language &&
                  editableSynonym['#text'] === originalSynonym['#text']
          })) || []

        synsToDelete.forEach((synonym) => {
          data.parameter.push({
            op: 'remove',
            path: '/synonym',
            value: { synonym }
          })
        })

        // Add specified synonyms
        this.editableItem.synonym
          .forEach((synonym) => {
            data.parameter.push({
              op: 'replace',
              path: '/synonym',
              value: { synonym }
            })
          })
      }

      // Check if comment has changed
      if (this.editableItem?.comment && !isEqual(this.editableItem.comment, this.originalItem?.comment)) {
        // Remove old comments
        if (Array.isArray(this.originalItem?.comment)) {
          this.originalItem.comment.forEach(comment => {
            data.parameter.push({
              op: 'remove',
              path: '/comment',
              value: { comment }
            })
          })
        }
        // Add edited comments
        this.editableItem.comment
          .forEach((comment) => {
            data.parameter.push({
              op: 'replace',
              path: '/comment',
              value: { comment }
            })
          })
      }

      // Check if property has changed
      if (
        this.editableItem?.property &&
        !isEqual(this.editableItem.property, this.originalItem?.property)
      ) {
        // Remove deleted properties
        const propsToDelete = this.originalItem?.property?.filter(originalProp => !this.editableItem.property
          .some(editableProp => {
            return editableProp.name === originalProp.name &&
                  editableProp['#text'] === originalProp['#text']
          })) || []

        propsToDelete.forEach((property) => {
          data.parameter.push({
            op: 'remove',
            path: '/property',
            value: { property }
          })
        })

        // Add specified properties
        this.editableItem.property
          .forEach((property) => {
            data.parameter.push({
              op: 'replace',
              path: '/property',
              value: { property }
            })
          })
      }

      // Check if parameter exists.
      if (data.parameter.length > 0) {
        // Patch dataset concept.
        return this.$store.dispatch('dataset/patchConceptItem', { item: this.activeItem, data, params: { associations: true } })
          .then((response) => {
            // Set edit back to false if everything is okay.
            this.edit = !response?.id
          })
          .catch((error) => {
            // Get error message.
            const errorMessage = error?.response?.data?.description || error.message || error?.response?.statusText || 'Error'
            // Show error message on alert dialog.
            this.$oops(errorMessage)
          })
      } else {
        // Set edit back to false.
        this.edit = false
      }
    },
    startEditModeDataset () {
      // No need to lock the object for Copyright (and PublishingAuthority)
      this.originalItem = this.$filters.clone(this.editableItem)
      this.editDataset = true
    },
    cancelEditModeCopyright () {
      // Check if edit mode is already true.
      if (this.editDataset === true) {
        // Get object id.
        const objectId = this.activeItem?.id || null
        // Check if object id is not null.
        if (objectId !== null) {
          // Recover original item.
          this.editableItem = this.isDatasetItem === true
            ? this.$filters.clone({ ...this.activeItem, ...this.datasetItem })
            : this.$filters.clone({ ...this.activeItem, ...this.conceptItem })
        }
      }
      this.editDataset = false
    },
    async handleChangesCopyrightAndPublishAuthority () {
      try {
        const data = { parameter: [] }
        // updates all languages of the copyright
        if (this.editableItem?.copyright) {
          this.editableItem.copyright.forEach((copyright) => {
            if (!this.$filters.htmlHasTextContent(copyright['#text'])) {
              const copyrightToRemove = this.originalItem?.copyright?.find(item => item.language === copyright.language)
              if (copyrightToRemove) {
                data.parameter.push({
                  op: 'remove',
                  path: '/copyright',
                  value: {
                    copyright: copyrightToRemove
                  }
                })
              }
            } else {
              data.parameter.push({
                op: 'replace',
                path: '/copyright',
                value: {
                  copyright
                }
              })
            }
          })
        }
        // Handle changes to publishingAuthority
        if (this.editableItem?.publishingAuthority) {
          this.editableItem.publishingAuthority.filter((pa) => Object.prototype.hasOwnProperty.call(pa, 'op'))
            .forEach(pa => {
              data.parameter.push({
                op: pa.op,
                path: '/publishingAuthority',
                value: {
                  publishingAuthority: pa
                }
              })
            })
        }

        // Check if property has changed
        if (
          this.editableItem?.property &&
          !isEqual(this.editableItem.property, this.originalItem?.property)
        ) {
        // Remove deleted properties
          const propsToDelete = this.originalItem?.property?.filter(originalProp => !this.editableItem.property
            .some(editableProp => {
              return editableProp.name === originalProp.name &&
                  editableProp['#text'] === originalProp['#text']
            })) || []

          propsToDelete.forEach((property) => {
            data.parameter.push({
              op: 'remove',
              path: '/property',
              value: { property }
            })
          })

          // Add specified properties
          this.editableItem.property
            .forEach((property) => {
              data.parameter.push({
                op: 'replace',
                path: '/property',
                value: { property }
              })
            })
        }

        if (!data.parameter.length) {
          return
        }

        const updatedDatasetItem = await this.$store.dispatch('dataset/patchDatasetItem', { item: this.editableItem, data })
        this.editDataset = false
        this.editableItem = this.$filters.clone(updatedDatasetItem)
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async handleDeReference (mode) {
      if (mode !== 'to-copy' && mode !== 'to-designcopy') {
        return
      }
      const confirmationMessage = mode === 'to-copy' ? 'confirm-de-inherit-concept' : 'confirm-de-contain-concept'
      const agree = await this.$confirm(this.$t(confirmationMessage))
      if (agree) {
        try {
          await this.$store.dispatch('dataset/handleReference', { source: this.activeItem, mode, associations: true })
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        }
      } else {
        this.$notify('No action taken (yet)', 'success')
      }
    },

    async handleRemoveNewConcept () {
      const datasetItem = this.$store.getters['dataset/datasetItem']
      await this.$store.dispatch('dataset/clearDatasetLocks', datasetItem)

      // Remove deleted concept skeleton from the treeview
      const item = this.activeItem
      this.$store.commit('dataset/removeConceptItem', item)

      // Clear active item
      this.$store.commit('dataset/setActiveItem', null)
    },

    async updateString (key, op = 'replace') {
      try {
        const data = {
          parameter: [
            {
              op: !this.editableItem[key] ? 'remove' : op,
              path: `/${key}`,
              value: this.editableItem[key]
            }
          ]
        }
        if (this.loading[key] !== undefined) {
          this.loading[key] = true
        }

        const service = this.isDatasetItem ? 'dataset/patchDatasetItem' : 'dataset/patchConceptItem'

        await this.$store.dispatch(service, { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      if (this.loading[key] !== undefined) {
        this.loading[key] = false
      }
    }
  },
  beforeRouteLeave (to, from, next) {
    if (to.name === 'dataset') {
      this.$store.commit('dataset/setDatasetItem', null)
      this.$store.commit('dataset/setConceptItems', [])
      this.$store.commit('dataset/setConceptItem', null)
      this.$store.commit('dataset/setActiveItem', null)
      this.$store.commit('dataset/setLoaded', { key: 'conceptItems', status: false })
      this.$emit('routeUpdate', { to, from })
    } else if (to.name === 'dataset-details') {
      this.$store.commit('dataset/setConceptItem', null)
      this.$store.commit('dataset/setActiveItem', this.$store.getters['dataset/datasetItem'])
      this.$emit('routeUpdate', { to, from })
    }
    next()
  },
  beforeRouteUpdate (to, from, next) {
    if (from.params.prefix !== to.params.prefix) {
      return next()
    }

    const currentDatasetId = this.$store.getters['dataset/datasetItem']?.id
    const currentDatasetEffectiveDate = this.$store.getters['dataset/datasetItem']?.effectiveDate
    const currentConceptId = this.$store.getters['dataset/conceptItem']?.id
    const currentConceptEffectiveDate = this.$store.getters['dataset/conceptItem']?.effectiveDate

    // Handle dataset changes
    if (to.params.datasetId !== currentDatasetId || to.params.datasetVersion !== currentDatasetEffectiveDate) {
      // Reset the store for concept items
      this.$store.commit('dataset/setConceptItems', [])
      this.$store.commit('dataset/setConceptItem', null)

      // Set active item and dataset item
      const dataset = this.$store.getters['dataset/datasetItems']?.find(ds => ds.id === to.params.datasetId && ds.effectiveDate === to.params.datasetVersion)
      this.$store.commit('dataset/setDatasetItem', dataset)
      if (!to.params.conceptId) {
        this.$store.commit('dataset/setActiveItem', dataset)
      } else {
        // fetch concept Items
        this.$store.dispatch('dataset/loadConceptItems', { item: dataset })
          .then(conceptItems => {
            // Handle concept changes
            if (to.params.conceptId !== currentConceptId || (to.params.conceptVersion !== currentConceptEffectiveDate)) {
              const conceptItem = this.$filters.listHelper.findItemInList({
                items: this.$store.getters['dataset/conceptItems'],
                children: 'concept',
                handler: c => c.id === to.params.conceptId && c.effectiveDate === to.params.conceptVersion
              })
              if (conceptItem) {
                this.$store.commit('dataset/setActiveItem', conceptItem)
              }
            }
          })
      }
    }

    next()
  }
}
</script>

<style lang="scss" scoped>
.dataset-details-card {
  position: relative;
  top: 0;

  .dataset-details-card-header {
    position: sticky;
    top: 48px;
    z-index: 4;

    height: 72px;
    background: var(--v-topbottomstrip-base);

    ::v-deep .v-card__title {
      background: transparent !important;
    }
  }
}

.backdrop-layer,
.backdrop-layer-helper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.backdrop-layer-helper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.22);
}

.backdrop-item {
  position: relative;
  z-index: 3;
}
</style>
