<template>
  <v-dialog
    :value="showDialog"
    width="800"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ $t('clone-dataset') }}</AdCardTitle>
      <v-card-text >
        <v-form v-model="formIsValid" ref="form">
          <v-container>
            <v-row dense>
              <!-- Dataset -->
              <v-col cols="12">
                <AdInfoOwl>{{ $t('clone-dataset-hint') }}</AdInfoOwl>
                <v-autocomplete
                  v-model="formInputs.dataset"
                  :items="datasets"
                  item-value="uuid"
                  :rules="rules.id"
                  :label="$t('dataset')"
                  return-object
                  clearable
                  open-on-clear
                  :filter="datasetFilter"
                >
                  <template v-slot:[`item`]="{ item }">
                    <AdStatusDot larger class="mr-3" :status="item.statusCode" icon="mdi-book-open-blank-variant" tooltip key=""/>
                    {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale })}} ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
                  </template>
                  <template v-slot:[`selection`]="{ item }">
                    <AdStatusDot class="mr-2" :status="item.statusCode" icon="mdi-book-open-blank-variant" tooltip />
                    {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale })}} ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
                  </template>
                </v-autocomplete>
              </v-col>
              <!-- Skip deprecated -->
              <v-col cols="9">
                <EditableSwitch
                  v-model="formInputs.skipDeprecated"
                  :label="$t('skip-deprecated')"
                />
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="1" align-self="center">
                <EditableInfoIcon :infoText="$t('skip-deprecated-hint')" />
              </v-col>
              <!-- Keep IDs -->
              <v-col cols="9">
                <EditableSwitch
                  v-model="formInputs.keepIds"
                  :label="$t('keep-ids')"
                />
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="1" align-self="center">
                <EditableInfoIcon :infoText="$t('keep-ids-dataset-hint')" />
              </v-col>
              <!-- Dataset ID root -->
              <v-col cols="9">
                <v-autocomplete
                  v-model="formInputs.baseDatasetId"
                  :items="datasetBaseIds"
                  :label="$t('dataset-base-id')"
                  item-value="id"
                  :disabled="formInputs.keepIds === 'true'"
                  clearable
                  :filter="baseIdFilter"
                >
                  <template v-slot:[`item`]="{ item }">
                    <span>{{item.id}}</span>
                    <v-chip
                      class="ml-2"
                      :color="item.default === 'true' ? 'primary' : ''"
                    >
                      {{ item.prefix }}
                    </v-chip>
                  </template>
                  <template v-slot:[`selection`]="{ item }">
                    <span>{{item.id}}</span>
                    <v-chip
                      small
                      class="ml-2"
                      :color="item.default === 'true' ? 'primary' : ''"
                      :disabled="formInputs.keepIds === 'true'"
                    >
                      {{ item.prefix }}
                    </v-chip>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="1" align-self="center">
                <EditableInfoIcon :infoText="$t('dataset-base-id')" />
              </v-col>
              <!-- Concept ID root -->
              <v-col cols="9">
                <v-autocomplete
                  v-model="formInputs.baseConceptId"
                  :items="conceptBaseIds"
                  :label="$t('concept-base-id')"
                  item-text="id"
                  item-value="id"
                  :disabled="formInputs.keepIds === 'true'"
                  clearable
                  :filter="baseIdFilter"
                >
                  <template v-slot:[`item`]="{ item }">
                    <span>{{item.id}}</span>
                    <v-chip
                      class="ml-2"
                      :color="item.default === 'true' ? 'primary' : ''"
                    >
                      {{ item.prefix }}
                    </v-chip>
                  </template>
                  <template v-slot:[`selection`]="{ item }">
                    <span>{{item.id}}</span>
                    <v-chip
                      small
                      class="ml-2"
                      :color="item.default === 'true' ? 'primary' : ''"
                      :disabled="formInputs.keepIds === 'true'"
                    >
                      {{ item.prefix }}
                    </v-chip>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="1" align-self="center">
                <EditableInfoIcon :infoText="$t('concept-base-id-hint')" />
              </v-col>
              <!-- EffectiveDate format -->
              <v-col cols="9">
                <EditableSwitch
                  v-model="formInputs.targetDate"
                  :label="$t('short-effectiveDate')"
                />
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="1" align-self="center">
                <EditableInfoIcon :infoText="$t('short-effectiveDate-hint')" />
              </v-col>
              <!-- Template associations -->
              <v-col cols="9">
                <EditableSwitch
                  v-model="formInputs.templateAssociations"
                  :label="$t('commit-template-associations')"
                />
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="1" align-self="center">
                <EditableInfoIcon :infoText="$t('commit-template-associations-hint')" />
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$emit('cancel')" :disabled="disabled || isCloning" />
        <AdButton type="clone" @click="handleClone" :disabled="disabled || !formIsValid || isCloning" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { isEmpty } from 'lodash'

export default {
  props: {
    showDialog: {
      type: Boolean,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      formIsValid: false,
      formInputs: {
        dataset: null,
        skipDeprecated: 'false',
        keepIds: 'false',
        baseDatasetId: null,
        baseConceptId: null,
        targetDate: 'false',
        templateAssociations: 'false'
      },
      isCloning: false,
      rules: {
        id: [
          v => !!v?.id || this.$t('required-field'),
          v => /^[0-2](\.(0|[1-9][0-9]*))*$/.test(v?.id) || 'id must be valid'
        ]
      }
    }
  },
  computed: {
    conceptBaseIds () {
      return this.projectInFocus?.ids?.[0]?.baseId?.filter(baseId => baseId.type === 'DE') || []
    },
    datasetBaseIds () {
      return this.projectInFocus?.ids?.[0]?.baseId?.filter(baseId => baseId.type === 'DS') || []
    },
    datasets () {
      return this.$store.getters['dataset/datasetItems'] || []
    }
  },
  methods: {
    baseIdFilter (item, queryText, itemText) {
      const prefix = item.prefix.toLowerCase()
      const id = item.id
      const search = queryText.toLowerCase()
      return prefix.includes(search) || id.includes(search)
    },
    datasetFilter (item, queryText, itemText) {
      const name = this.$filters.getMatchingTranslation({ value: item.name }).toLowerCase()
      const search = queryText.toLowerCase()
      return name.includes(search)
    },
    async handleClone () {
      if (this.$refs.form.validate()) {
        try {
          this.isCloning = true
          const {
            targetDate,
            keepIds,
            baseDatasetId,
            baseConceptId,
            templateAssociations,
            skipDeprecated
          } = this.formInputs
          const sourceId = this.formInputs.dataset?.id
          const sourceEffectiveDate = this.formInputs.dataset?.effectiveDate

          const params = {
            targetDate,
            keepIds,
            baseDatasetId,
            baseConceptId,
            templateAssociations,
            skipDeprecated,
            prefix: this.projectInFocus?.prefix,
            sourceId,
            sourceEffectiveDate
          }

          await this.$store.dispatch('dataset/cloneDatasetItem', params)
          this.$emit('cancel')
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        }
        this.isCloning = false
      }
    }
  },
  watch: {
    showDialog: {
      immediate: true,
      handler (newVal) {
        if (newVal) {
          // Reset forminputs
          this.formInputs.dataset = (!isEmpty(this.$store.state.dataset.activeItem))
            ? this.$store.state.dataset.activeItem
            : this.datasets?.[0] || null
          this.formInputs.skipDeprecated = 'false'
          this.formInputs.keepIds = 'false'
          this.formInputs.baseDatasetId = null
          this.formInputs.baseConceptId = null
          this.formInputs.targetDate = 'false'
          this.formInputs.templateAssociations = 'false'
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .transparentBackground::v-deep tbody {
     tr {
        background-color: transparent !important;
     }
  }
</style>
