<template>
  <div v-if="showDialog">
    <div class="diagram-details-card">
      <v-card>
        <AdCardTitle>
          <span>Diagram</span>
          <v-spacer></v-spacer>
          <AdButton style="float:right" type="download"/>
          <AdButton style="float:right" type="cancel" @click="handleCancel"/>
        </AdCardTitle>
        <AdMermaid
          :value="datasetDiagram"
          @node-click="onNodeClick"
        >
          <template>
            <div v-if="error">{{ error }}</div>
            <self v-else value="foo" @parse-error="error = $event" />
          </template>
        </AdMermaid>
      </v-card>
    </div>
  </div>
  <!--
  <v-dialog
    v-model="showDialog"
    width="1300"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ $t('diagram') }}</AdCardTitle>
      <v-card-text>
        <AdMermaid :value="diagram"/>
        <v-row>
          <v-col>
            <AdMermaid :value="datasetDiagram"/>
          </v-col>
        </v-row>
        <v-row class="pt-7">
          <v-col>
            {{datasetDiagram}}
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="handleCancel"/>
      </v-card-actions>
    </v-card>
  </v-dialog>
  -->
</template>

<script>

import AdMermaid from '@/components/Utilities/AdMermaid'

import endent from 'endent'

export default {
  props: {
    showDialog: {
      type: Boolean,
      required: true
    },
    wholeDataset: {
      type: Boolean,
      required: false,
      default: false
    },
    dataset: {
      type: Object,
      required: true
    },
    concept: {
      type: Object,
      required: false
    }
  },
  name: 'DatasetDiagram',
  components: {
    AdMermaid
  },
  data () {
    return {
      error: undefined
    }
  },
  computed: {
    testdiagram: () => endent`
      classDiagram
        A --> B
        click A
        callback B "rehang"
        click B

    `,
    // classDiagram, default direction TD, alterbatively for large sets LR
    preamble: () => `
      %%{init: 
        'securityLevel': 'loose',
        "logLevel": 2,
        { 'themeVariables': 
          { 
            'primaryColor': '#eeffff'
          }
        }
      }%%
      classDiagram
      direction LR
    `,
    datasetDiagram () {
      // init the MERMAID graph and allow click on classes (securityLevel)
      return this.preamble + this.datasetDiagramData()
      // return this.preamble2
    }
  },
  methods: {
    onNodeClick (id) {
      console.log(id)
    },
    /**
     * Create a MERMAID class of a class diagram reflecting the dataset group concept
     * and include all dataset item concepts, run then through child dataset group concepts
     * and retrun the MERMAID string to be rendered as the class diagram
     *
     * investigate note for className "line1\nline2"
     */
    datasetDiagramGroupClass (cg, parent) {
      const res = []
      // create the proper class names
      // create a unique addition to the class name to prevent problems with non-unique class name
      // const idf = cg?.id.split('.').reduce((pre, curr) => parseInt(pre) + parseInt(curr), 0)
      const idf = cg?.id.split('.').slice(-1)
      // get the concept name embedded in backticks
      // const tmpn = this.$filters.getMatchingTranslation({ value: cg?.name }).replace(/[ /(),’'?-]/g, '_')
      const cname = this.$filters.getMatchingTranslation({ value: cg?.name }).replace(/,/g, '_')
      const tmpn = '`'.concat(cname, ' ', idf, '`')
      // console.log(tmpn)
      // const cn = tmpn.replace(/\./g, '_') + '_' + idf
      const cn = tmpn
      const l = ' class ' + cn + (cg.contains ? ':::containment ' : '') + (cg.inherit ? ':::inheritance ' : '')
      res.push(l)
      // add all dataset item concepts
      // sub concepts present?
      if (cg.concept) {
        res.push(' {\n')
        cg.concept.filter(c => c.type === 'item').forEach((c) => {
        // then name of this item
          const n = this.$filters.nonBreakable(this.$filters.getMatchingTranslation({ value: c?.name })).replace(/[ /()]/g, '-')
          // special symbols
          // #128279; breakColor 1..3 ~delft~ -chain symbol
          // &#8592; swim() -left arrow (inheritance)
          // &#8656; quack() -double left arrow (containment)
          const clc = c.contains ? '#8656; ' : ''
          const cli = c.inherit ? '#8592; ' : ''
          res.push(clc + cli + n)
          // cardinality (scenario transaction leaves only)
          const ca = this.cardinalityString(c)
          if (ca !== null) res.push(ca)
          const vd = (c.valueDomain?.[0].type) ? ' ~' + c.valueDomain?.[0].type + '~' : ''
          // const m = ' [0..*] ~' + 'string' + '~'
          res.push(vd)
          res.push('\n')
        })
        // class def ends here
        res.push('}\n')
        // allow a direct link to somewhere, not used here
        // const k = 'link Person "http://localhost:8080/#/design/treetable" "This is a link to the person"\n'
        // res.push(k)
        // add a clickable area to the class just created and call the corresponding callback funcction
        // idea is that when clicking on a class this class becomes the "root" for the graph and the diagram is
        // re-rendered with that class as the root
        // const k = 'click ' + cn + ' call callbackFunction(' + cg.id + ') "This is a link to ' + cn + '"\n'
        const k = 'callback ' + cn + ' "rehang"\n'
        res.push(k)
        // hush now through all child dataset group concepts recursively
        cg.concept.filter(c => c.type === 'group').forEach((c) => {
          // console.log('GROUP: ' + c.id)
          res.push(this.datasetDiagramGroupClass(c, cn))
        })
      } else {
        res.push('\n')
      }
      // add the link to the parent
      const r = parent === '' ? '' : parent + ' --* ' + cn + '\n'
      res.push(r)

      return res.join(' ')
    },
    datasetDiagramData () {
      // get dataset concepts
      // const datasetId = this.dataset.id
      // const datasetVersion = this.dataset.effectiveDate
      // const dataset = this.$store.getters['dataset/datasetItems']?.find(ds => ds.id === datasetId && ds.effectiveDate === datasetVersion)

      const ts = []
      // hush now through all concepts recursively, either the whole dataset or just one concept group
      if (this.wholeDataset === true && Array.isArray(this.dataset?.concept)) {
        this.dataset.concept.filter(c => c.type === 'group').forEach((c) => {
          ts.push(this.datasetDiagramGroupClass(c, this.$t('dataset')))
        })
      } else {
        // show the diagram based on a concept submitted as parameter, cave if it is a group or an item
        // console.log('concept')
        const gpr = this.concept
        if (gpr?.type === 'group') {
          // console.log('group')
          ts.push(this.datasetDiagramGroupClass(gpr, ''))
        } else {
          // console.log('item')
          // gpr.filter(c => c.type === 'group').forEach((c) => {
          // ts.push(this.datasetDiagramGroupClass(c, 'ITEM'))
          // })
        }
      }
      return ts.join(' ')
    },
    handleCancel () {
      this.$emit('close')
    },
    nodeClick: nodeId => {
      const svg = document.getElementById(nodeId)
      console.log(svg)
    },
    /**
     * Get cardinality based on item.
     * @returns String
     */
    cardinalityString (c) {
      if (c?.minimumMultiplicity && c?.maximumMultiplicity) return `${c.minimumMultiplicity}..${c.maximumMultiplicity}`
      if (c?.minimumMultiplicity) return `${c.minimumMultiplicity}..`
      if (c?.maximumMultiplicity) return `..${c.maximumMultiplicity}`
      return null
    }
  },
  watch: {
  },
  created () {
    // this is a design start of the callback function that is called upon clicking
    // on a class diagram class of a dataset/scenario
    // idea is to re-build the graph using id as the "root" of the graoh
    // id shall be the navkey returned by the API (not yet implemented) rather then id or ref of the concept...
    window.rehang = (args) => {
      console.log(args)
      this.nodeClick(args)
    }
    // add the javascript that changes title of classes to purified readable strings
    /*
    if (document.getElementById('myScript')) { return }
    const src = '../js/classtitles.js'
    const script = document.createElement('script')
    script.setAttribute('src', src)
    script.setAttribute('type', 'text/javascript')
    script.setAttribute('id', 'myScript')
    document.head.appendChild(script)
    */
  }
}
</script>

<style lang="scss">
  .diagram-details-card {
    position: relative;
    top: 0;

    .dataset-details-card-header {
      position: sticky;
      top: 48px;
      z-index: 4;

      height: 72px;
      background: var(--v-topbottomstrip-base);

      ::v-deep .v-card__title {
        background: transparent !important;
      }
    }
  }
  .containment .classTitle  {
    font-style: italic;
  }
  .containment .classTitle .nodeLabel  {
    color: rgb(223, 100, 100) !important;
  }
  .inheritance .classTitle  {
    font-style: italic;
  }
  .inheritance .classTitle .nodeLabel  {
    color: rgb(100, 123, 223) !important;
  }
  foreignobject .classTitle {
    border: 8px solid #FF0000;
  }
  foreignobject.classTitle > div > span.nodeLabel {
    color:#FF0000;
    font-size: 18px;
  }
  svg222 {
    max-width: 100% !important
  }
</style>
