<template>
  <v-dialog
    :value="showDialog"
    width="1300"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ $t('add-concept') }}</AdCardTitle>
      <v-card-text class="pa-0">
        <v-stepper  v-model="stepIndex" non-linear>
          <v-stepper-header>
            <v-stepper-step :editable="canSwitchSteps" :step="1">
              {{ $t('name')}}
            </v-stepper-step>
            <v-divider />
            <v-stepper-step :editable="canSwitchSteps" :step="2">
              {{ $t('additional-details')}}
            </v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <!-- STEP 1 : name and search / offers for references -->
            <v-stepper-content step="1">
              <v-row dense class="pr-4">
                <v-col cols="3">
                  <v-select
                    v-model="concept.type"
                    :label="$t('type')"
                    :items="['group', 'item']"
                    @change="handleSelectGroupChange"
                  >
                    <template #selection="{item}">
                      <v-icon class="mr-1">{{ $filters.getDatasetIcon({type: concept.type}) }}</v-icon>
                      {{ $t(item)}}
                    </template>
                    <template #item="{item}">
                      <v-icon class="mr-1">{{ $filters.getDatasetIcon({type: concept.type}) }}</v-icon>
                      {{ $t(item)}}
                    </template>
                  </v-select>

                </v-col>
                <v-col cols="9" class="pr-4">
                  <v-text-field
                    ref="nameInput"
                    v-model.trim="conceptName"
                    :label="$t('name')"
                    @click:append="handleNameInput"
                    @keydown.enter.prevent="handleNameInput"
                    @input="performDebouncedSearch"
                    append-icon="mdi-magnify"
                    class="required"
                    :rules="[v => !!v || $t('required-field'), v => v.trim().length > 0 || $t('invalid-input')]"
                  />
                </v-col>
              </v-row>
              <v-card flat>
                <AdCardTitle inline>
                  {{ $t('related-concepts') }}
                  <template v-if="fetchedConcepts.length">
                    <v-row class="align-center">
                      <v-spacer />
                      <v-col cols="auto">
                        <v-switch
                          v-model="originalOnly"
                          :label="$t('original-only')"
                          @change="fetchConcepts"
                        />
                      </v-col>

                      <!-- Search -->
                      <v-col cols="5">
                        <v-text-field
                          v-model="conceptSearch"
                          append-icon="mdi-magnify"
                          :label="$t('search')"
                          single-line
                          hide-details
                          clearable
                          class="mt-1 mb-2 py-0"
                        />
                      </v-col>

                      <!-- Status code filter -->
                      <v-col cols="auto">
                        <v-menu
                          :close-on-content-click="false"
                          offset-y
                        >
                          <template #activator="{ on, attrs }">
                            <v-btn
                              :class="{'green': hasActiveFilters}"
                              v-bind="attrs"
                              v-on="on"
                              :color="hasActiveFilters ? 'white' : 'light-green darken-2'"
                              icon
                              outlined
                              small
                            >
                              <v-icon small>mdi-filter</v-icon>
                            </v-btn>
                          </template>
                          <v-list>
                            <v-list-item-group>
                              <v-list-item
                                v-for="(filter, key) of filters.status"
                                :key="key"
                                :disabled=!statusFilterIsRelevant(filter)
                                @click="filter.active = !filter.active"
                              >
                                <v-list-item-action>
                                  <v-checkbox
                                    :input-value="filter.active"
                                    color="primary"
                                  />
                                </v-list-item-action>

                                <v-list-item-content>
                                  <v-list-item-title>{{ $t(filter.name) }}</v-list-item-title>
                                </v-list-item-content>
                              </v-list-item>
                            </v-list-item-group>
                          </v-list>
                        </v-menu>
                      </v-col>

                      <!-- Project filter -->
                      <v-col cols="auto">
                        <v-menu
                          :close-on-content-click="false"
                          offset-y
                        >
                          <template #activator="{ on, attrs }">
                            <v-btn
                              :class="{'orange': hasActiveProjectFilters}"
                              v-bind="attrs"
                              v-on="on"
                              :color="hasActiveProjectFilters ? 'white' : 'orange darken-2'"
                              icon
                              outlined
                              small
                            >
                              <v-icon small>mdi-briefcase</v-icon>
                            </v-btn>
                          </template>
                          <v-list max-height="80vh">
                            <v-list-item-group style="background: #fff">
                              <v-list-item
                                v-for="(filter, key) of filters.project"
                                :key="key"
                                @click="filter.active = !filter.active"
                              >
                                <v-list-item-action>
                                  <v-checkbox
                                    :input-value="filter.active"
                                    color="primary"
                                  />
                                </v-list-item-action>

                                <v-list-item-content>
                                  <v-list-item-title>{{ $t(filter.name) }}</v-list-item-title>
                                </v-list-item-content>
                              </v-list-item>
                            </v-list-item-group>
                          </v-list>
                        </v-menu>
                      </v-col>

                      <!-- Dataset filter -->
                      <v-col cols="auto">
                        <v-menu
                          :close-on-content-click="false"
                          offset-y
                        >
                          <template #activator="{ on, attrs }">
                            <v-btn
                              :class="{'black': hasActiveDatasetFilters}"
                              v-bind="attrs"
                              v-on="on"
                              :color="hasActiveDatasetFilters ? 'white' : 'black'"
                              icon
                              outlined
                              small
                            >
                              <v-icon small>mdi-book-open-blank-variant</v-icon>
                            </v-btn>
                          </template>
                          <v-list max-height="80vh">
                            <v-list-item-group style="background: #fff">
                              <v-list-item
                                v-for="(filter, key) of filters.dataset"
                                :key="key"
                                @click="filter.active = !filter.active"
                              >
                                <v-list-item-action>
                                  <v-checkbox
                                    :input-value="filter.active"
                                    color="primary"
                                  />
                                </v-list-item-action>

                                <v-list-item-content>
                                  <v-list-item-title>{{ $filters.getMatchingTranslation({value: filter.name}) }}</v-list-item-title>
                                </v-list-item-content>
                              </v-list-item>
                            </v-list-item-group>
                          </v-list>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </template>
                </AdCardTitle>
                <v-card-text class="pl-0">
                  <v-data-table
                    :headers="conceptHeaders"
                    :items="filteredConcepts()"
                    :items-per-page="5"
                    :search="conceptSearch"
                    :custom-filter="conceptSearchFilter"
                    :loading="isFetchingConcepts"
                    style="min-height: 350px"
                    :footer-props="{ 'items-per-page-options': [5, 10] }"
                    :hide-default-header="!fetchedConcepts.length"
                    :hide-default-footer="fetchedConcepts.length <= 5"
                    item-key="uuid"
                  >
                    <template #item.name="{ item }">
                      <div class="text-no-wrap">
                        <AdStatusDot v-if="item.statusCode" class="pr-1" :status="item.statusCode" tooltip />
                        {{$filters.getMatchingTranslation({value: item.name, locale: initialProjectLanguage})}}
                      </div>

                    </template>

                    <template #item.effectiveDate="{ item }">
                      {{ $filters.formatDateShort(item.effectiveDate) }}
                    </template>
                    <template #item.path="{ item }">
                      <span v-if="item.path">
                        <v-icon color="grey lighten-1" class="mr-2">mdi-file-tree-outline</v-icon>
                        <span>{{$filters.getMatchingTranslation({value: item.path, locale: initialProjectLanguage })}}</span>
                      </span>
                    </template>
                    <template #item.datasetproject="{ item }">
                      {{$filters.getMatchingTranslation({value: item.datasetName, locale: initialProjectLanguage })}}
                      <span v-if="item.datasetVersionLabel">({{ item.datasetVersionLabel }})</span>
                      <br/>
                      <span class="font-italic">{{$filters.getMatchingTranslation({value: item.projectName, locale: initialProjectLanguage })}}</span>
                    </template>
                    <template #item.actions="{ item }">
                      <AdSpeedDial direction="left">
                        <AdButton v-if="concept.type === 'group'" list icon="mdi-share-all" :hint="$t('select-concept-as-reference')" @click="handleReference(item, 'containment')" />
                        <AdButton v-if="item.contextParent !== 'true'" list icon="mdi-link-variant" :hint="$t('select-concept-as-designcopy')" @click="handleReference(item, 'designcopy')" />
                      </AdSpeedDial>
                    </template>
                    <template #no-data>
                      <AdInfoOwl chat>{{ $t('no-items') }}</AdInfoOwl>
                    </template>
                  </v-data-table>
                </v-card-text>
              </v-card>
            </v-stepper-content>

            <!-- STEP 2 : description and datatype (items) -->
            <v-stepper-content step="2" >
              <v-row dense class="pr-4">
                <v-col cols="8">
                  <EditableTranslationEditor
                    v-model="concept.name"
                    :label="$t('name')"
                    :locales="projectLocales"
                    :requiredLocales="requiredLocales"
                  />
                </v-col>
                <v-col cols="4">
                  <EditableString v-model="concept.versionLabel" :label="$t('versionLabel')" />
                </v-col>
                <v-col v-if="concept.type === 'item'" cols="8">
                  <EditableValueDomain
                    v-model="concept.valueDomain[0].type"
                    :label="$t('type')"
                  />
                </v-col>
                <v-col cols="12">
                  <EditableTranslationEditor
                    editor
                    v-model="concept.description"
                    :label="$t('description')"
                    :locales="projectLocales"
                    :requiredLocales="requiredLocales"
                    emitOnInput
                  />
                </v-col>
              </v-row>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="handleCancel" :disabled="disabled || isLoading" />
        <AdButton v-if="stepIndex === 2" type="add" @click="handleCreate" :disabled="disabled || isLoading || !hasRequiredData" />
        <AdButton v-else :text="$t('next')" @click="stepIndex++" :disabled="!canSwitchSteps" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import DatasetService from '../../services/DataSetService'
import { debounce } from 'lodash'
import { isCancel } from 'axios'

export default {
  props: {
    showDialog: {
      type: Boolean,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    skeleton: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      concept: {
        type: null,
        creationMode: null,
        name: [],
        description: [],
        versionLabel: null,
        reference: [],
        valueDomain: [{ type: 'string' }]
      },
      conceptSearch: '',
      fetchedConceptData: null,
      filters: { status: [], project: [], dataset: [] },
      initialProjectLanguage: null,
      isFetchingConcepts: false,
      isLoading: false,
      lastFetch: null,
      originalOnly: true,
      stepIndex: 1
    }
  },
  computed: {
    canSwitchSteps () {
      return !!(!this.disabled && !this.isLoading && this.concept.name?.length)
    },
    conceptName: {
      get () {
        return this.$filters.getMatchingTranslation({ value: this.concept.name }) || ''
      },
      set (value) {
        this.concept.name = [{
          '#text': value,
          language: this.projectInFocus.defaultLanguage
        }]
      }
    },
    conceptHeaders () {
      return [
        {
          value: 'name',
          text: this.$t('name'),
          sort: (a, b) => {
            if (this.$filters.getMatchingTranslation({ value: a }) > this.$filters.getMatchingTranslation({ value: b })) {
              return 1
            }
            if (this.$filters.getMatchingTranslation({ value: a }) < this.$filters.getMatchingTranslation({ value: b })) {
              return -1
            }
            return 0
          }
        },
        { value: 'effectiveDate', text: this.$t('version') },
        {
          value: 'path',
          text: this.$t('path'),
          sort: (a, b) => {
            if (this.$filters.getMatchingTranslation({ value: a }) > this.$filters.getMatchingTranslation({ value: b })) {
              return 1
            }
            if (this.$filters.getMatchingTranslation({ value: a }) < this.$filters.getMatchingTranslation({ value: b })) {
              return -1
            }
            return 0
          }
        },
        { value: 'datasetproject', text: this.$t('dataset') + ' / ' + this.$t('project'), sortable: false },
        { value: 'actions', align: 'right', sortable: false }
      ]
    },
    conceptReferenceName () {
      return this.concept?.reference?.[0]?.name
    },
    conceptReferenceDatasetName () {
      return this.concept?.reference?.[0]?.datasetName
    },
    fetchedConcepts () {
      return this.fetchedConceptData?.concept || []
    },
    itemStatusCodeLifeCycle () {
      return this.$store.getters['server/decorStatusMaps']?.ItemStatusCodeLifeCycle?.[0] || {}
    },
    filteredConcepts () {
      return ({ project = true, status = true, dataset = true } = {}) => {
        const statusFilters = []
        const projectFilters = []
        const datasetFilters = []
        if (status) {
          this.filters.status.forEach(filter => {
            if (filter.active) {
              statusFilters.push(filter.name)
            }
          })
        }
        if (project) {
          this.filters.project.forEach(filter => {
            if (filter.active) {
              projectFilters.push(filter.name)
            }
          })
        }
        if (dataset) {
          this.filters.dataset.forEach(filter => {
            if (filter.active) {
              datasetFilters.push(filter.id)
            }
          })
        }

        let results = this.fetchedConcepts || []
        if (statusFilters.length) {
          results = results.filter(concept => statusFilters.includes(concept.statusCode))
        }
        if (projectFilters.length) {
          results = results.filter(concept => projectFilters.includes(concept.ident))
        }
        if (datasetFilters.length) {
          results = results.filter(concept => datasetFilters.includes(`${concept.datasetId}//${concept.datasetEffectiveDate}`))
        }
        return results
      }
    },
    hasActiveFilters () {
      return this.filters.status.filter(filter => filter.active === true).length > 0
    },
    hasActiveProjectFilters () {
      return this.filters.project.filter(filter => filter.active === true).length > 0
    },
    hasActiveDatasetFilters () {
      return this.filters.dataset.filter(filter => filter.active === true).length > 0
    },
    hasRequiredData () {
      const projectDefaultLanguage = this.projectInFocus?.defaultLanguage
      if (!projectDefaultLanguage) {
        return false
      }
      // A name is provided in the project default language
      const hasName = this.concept.name.find(name => name.language === projectDefaultLanguage && name['#text']?.trim()?.length)

      // A desc is provided in the project default language
      const hasDesc = this.concept.description.find(desc => desc.language === projectDefaultLanguage && this.$filters.htmlHasTextContent(desc['#text']))

      return hasName && hasDesc
    },
    requiredLocales () {
      const defaultLanguage = this.projectInFocus?.defaultLanguage
      return [defaultLanguage]
    },
    statusFilterIsRelevant () {
      return filter => this.filteredConcepts({ status: false }).some(concept => concept.statusCode === filter.name)
    }
  },
  methods: {
    conceptSearchFilter (value, search, item) {
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const datasetName = this.$filters.getMatchingTranslation({ value: item.datasetName })?.toLowerCase()
      const projectName = this.$filters.getMatchingTranslation({ value: item.projectName })?.toLowerCase()
      const path = this.$filters.getMatchingTranslation({ value: item.path })?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query) || datasetName?.includes(query) || projectName?.includes(query) || path?.includes(query)
    },
    async fetchConcepts () {
      const prefix = this.projectInFocus?.prefix || null
      const search = this.$filters.getMatchingTranslation({ value: this.concept.name })?.toLowerCase() || null
      const type = this.concept.type || null
      const conceptId = this.skeleton?.id || null
      const conceptEffectiveDate = this.skeleton?.effectiveDate || null

      try {
        // Abort pending request
        if (this.abortController) {
          this.abortController.abort('A new search is performed')
        }

        this.isFetchingConcepts = true

        // Set up abortController
        this.abortController = new AbortController()

        const response = await DatasetService.getDatasetConceptList({ prefix, search, type, conceptId, conceptEffectiveDate, originalonly: `${this.originalOnly}` }, this.abortController)
        this.fetchedConceptData = response?.data || []
        this.isFetchingConcepts = false

        this.setProjectFilters()
        this.setDatasetFilters()
      } catch (error) {
        if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
          return
        }
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async handleCancel () {
      const datasetItem = this.$store.getters['dataset/datasetItem']
      await this.$store.dispatch('dataset/clearDatasetLocks', datasetItem)

      // Remove deleted concept skeleton from the treeview
      const item = this.skeleton
      this.$store.commit('dataset/removeConceptItem', item)

      this.$emit('cancel')
    },
    async handleCreate () {
      try {
        this.isLoading = true

        const data = { parameter: [] }
        this.concept.name.forEach(name => {
          if (name['#text']?.trim()?.length) {
            data.parameter.push({
              op: 'add',
              path: '/name',
              value: {
                name
              }
            })
          }
        })

        if (this.concept.description.length) {
          this.concept.description.forEach(desc => {
            if (this.$filters.htmlHasTextContent(desc['#text'])) {
              data.parameter.push({
                op: 'add',
                path: '/desc',
                value: {
                  desc
                }
              })
            }
          })
        } else {
          data.parameter.push({
            op: 'add',
            path: '/desc',
            value: {
              desc: {
                language: this.projectInFocus.defaultLanguage,
                '#text': `<p>${this.$filters.getMatchingTranslation({ value: this.concept.name })}</p>`
              }
            }
          })
        }

        if (this.concept.versionLabel) {
          data.parameter.push({
            op: 'replace',
            path: '/versionLabel',
            value: this.concept.versionLabel
          })
        }

        data.parameter.push({
          op: this.concept.type === 'item' ? 'replace' : 'remove',
          path: '/valueDomain',
          value: {
            valueDomain: this.concept.valueDomain
          }
        })

        data.parameter.push({
          op: 'replace',
          path: '/type',
          value: this.concept.type
        })

        const item = this.skeleton

        const newConcept = await this.$store.dispatch('dataset/patchConceptItem', { item, data })

        this.$store.commit('dataset/setActiveItem', newConcept)
        this.$store.commit('dataset/setConceptItem', newConcept)

        this.isLoading = false
        this.$emit('cancel')
      } catch (error) {
        this.isLoading = false
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async handleReference (object, mode) {
      try {
        this.isLoading = true
        const updatedConceptItem = await this.$store.dispatch('dataset/handleReference', { source: this.skeleton, target: object, mode })

        // Update URL
        this.$router.push({
          name: 'dataset-details-version',
          params: {
            conceptId: updatedConceptItem?.id,
            conceptVersion: updatedConceptItem?.effectiveDate
          }
        }).catch(() => {
          // Do nothing
        })

        this.isLoading = false
        this.$emit('cancel')
      } catch (error) {
        this.isLoading = false
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async handleNameInput (value) {
      const search = this.conceptName
      if (!search.length || search === this.lastFetch) {
        return
      }
      this.lastFetch = search

      // Fetch related concepts to display in table
      await this.fetchConcepts()
    },
    handleSelectGroupChange () {
      this.fetchedConceptData = null
      if (this.$filters.getMatchingTranslation({ value: this.concept.name })) {
        this.fetchConcepts()
      }
    },
    performDebouncedSearch: debounce(function () {
      if (this.conceptName?.length >= 3) {
        this.handleNameInput()
      }
    }, 500),
    setDatasetFilters () {
      // Set datasetFilters without duplicates
      const datasets = [...new Map(this.fetchedConcepts.map(obj => [`${obj.datasetId}//${obj.datasetEffectiveDate}`, obj])).values()]
      this.filters.dataset = datasets.map(obj => ({
        name: obj.datasetName,
        active: false,
        id: `${obj.datasetId}//${obj.datasetEffectiveDate}`,
        project: obj.prefix || obj.ident
      }))
        .filter(obj => !!obj.name)
    },
    setProjectFilters () {
      // Set projectFilters without duplicates
      const projects = [...new Map(this.fetchedConcepts.map(obj => [obj.prefix || obj.ident, obj])).values()]
      this.filters.project = projects.map(obj => ({ name: obj.prefix || obj.ident, active: false }))
        .filter(obj => obj.name !== undefined)
    }
  },
  watch: {
    showDialog: {
      immediate: true,
      handler (newVal) {
        if (newVal) {
          this.stepIndex = 1
          this.concept = {
            type: this.skeleton.type,
            creationMode: null,
            name: [],
            versionLabel: null,
            description: [],
            reference: [],
            valueDomain: [{ type: 'string' }]
          }
          this.conceptSearch = ''
          this.originalOnly = true
          this.lastFetch = null
          this.fetchedConceptData = null
          this.filters.status = Object.keys(this.itemStatusCodeLifeCycle).map(filter => { return { name: filter, active: false } })

          // Set project language to project default
          if (this.projectInFocus) {
            this.initialProjectLanguage = this.$store.getters['app/projectLanguage']
            this.$store.commit('app/setProjectLanguage', this.projectInFocus.defaultLanguage)
          }

          // Focus on name input
          this.$nextTick().then(() => {
            if (this.$refs.nameInput) {
              this.$refs.nameInput.resetValidation()
              this.$refs.nameInput.focus()
            }
          })
        } else {
        // Reset project language
          this.$store.commit('app/setProjectLanguage', this.initialProjectLanguage)
        }
      }
    },
    'filters.project': {
      deep: true,
      handler () {
        const activeDatasetFilters = this.filters.dataset.filter(filter => filter.active).map(filter => filter.id)
        this.setDatasetFilters()

        // Filter out only datasets of the selected project(s)
        if (this.hasActiveProjectFilters) {
          this.filters.dataset = this.filters.dataset
            .filter(filter => this.filters.project.some(pf => pf.name === filter.project && pf.active === true))
        }

        // Keep selected dataset filter if still available
        this.filters.dataset = this.filters.dataset.map(filter => ({ ...filter, active: activeDatasetFilters.includes(filter.id) }))
      }
    },
    conceptName (newVal) {
      if (this.stepIndex !== 1) return
      this.concept.description = [{
        '#text': newVal,
        language: this.projectInFocus.defaultLanguage
      }]
    }
  }
}
</script>
<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
