<template>
  <div
    class="editable-time-field"
    v-bind:class="{'is-authenticated': isAuthenticated}"
  >
    <v-menu
      v-model="edit"
      :close-on-content-click="false"
      :disabled="!isAuthenticated"
      transition="scale-transition"
      min-width="auto"
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          ref="input"
          v-model.lazy="editableValue"
          v-bind="{...attrs, ...$props, ...$attrs}"
          v-on="isReadonly ? {} : {...on, ...$listeners, input: () => {}, change: () => {}}"
          :class="{'required': !!isRequired && !isReadonly}"
          :error="edit && !editableValue"
          :rules="parsedRules"
          prepend-icon="mdi-clock-outline"
          readonly
        >
          <template v-if="!!infoText" v-slot:append-outer>
            <EditableInfoIcon :infoText="infoText" />
          </template>
        </v-text-field>
      </template>
      <v-time-picker
        v-model="editableValue"
        :use-seconds="useSeconds"
        @change="saveEditValue"
        @blur="cancelEditMode"
      ></v-time-picker>
    </v-menu>
  </div>
</template>

<script>
import EditableInfoIcon from '@/components/Utilities/Editable/Helper/EditableInfoIcon'
import AbstractInput from '@/components/Utilities/Editable/Helper/AbstractInput'

export default {
  /**
   * Extends.
   */
  extends: AbstractInput,

  /**
   * Required components.
   */
  components: {
    EditableInfoIcon
  },

  /**
   * Properties.
   */
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },
    locales: {
      type: Array,
      required: false,
      default () {
        return this.$root.langs
      }
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },
    useSeconds: {
      type: Boolean,
      default: false
    }
  },

  /**
   * Data variables.
   */
  data () {
    return {
      edit: false,
      editableValue: null,
      menu: false
    }
  },

  /**
   * Watchers.
   */
  watch: {
    /**
     * Watch changes of current value.
     */
    value: {
      immediate: true,
      handler (value) {
        // Set editable value in base of value.
        this.editableValue = this.prepareEditableValue(value)
        // Stop edit mode.
        this.edit = false
      }
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Cancel edit mode.
     */
    cancelEditMode () {
      // Check if current user is authenticated.
      if (this.isAuthenticated === true) {
        // Set editable value in base of value.
        this.editableValue = this.prepareEditableValue(this.value)
        // Set edit back to false.
        this.edit = false
      }
    },

    /**
     * Save edit value.
     */
    saveEditValue () {
      // Prepare storable value.
      const storableValue = this.prepareStorableValue(this.editableValue)

      // Check if current user is authenticated and input is valid.
      if (this.isAuthenticated === true && this.isReadonly === false && this.$refs.input.validate() === true) {
        // Emit current input value.
        this.$emit('input', storableValue)
        // Emit current change value.
        this.$emit('change', storableValue)
        // Blur input element.
        this.$refs.input.blur()
      }

      // Check if value has not changed.
      if (storableValue === this.value) {
        // Set edit back to false.
        this.edit = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  ::v-deep .required .v-label:after {
    content: "*";
    font-weight: bold;
    color: var(--v-error-base);
  }
</style>
