<template>
  <div
    class="editable-date-field"
    v-bind:class="{'is-authenticated': isAuthenticated}"
  >
    <v-menu
      v-model="edit"
      :close-on-content-click="false"
      :disabled="!isAuthenticated"
      transition="scale-transition"
      min-width="auto"
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
          ref="input"
          v-model.lazy="editableValue"
          v-bind="{...attrs, ...$props, ...$attrs}"
          v-on="isReadonly ? {} : {...on, ...$listeners, input: () => {}, change: () => {}}"
          :class="{'required': !!isRequired && !isReadonly, 'readonly': !!isReadonly}"
          :error="edit && !editableValue"
          :rules="parsedRules"
          prepend-icon="mdi-calendar"
          :append-icon="(isEditable && (editableValue || !isRequired) && confirmationRequired) ? 'mdi-check' : null"
          @click:append="saveEditValue(false)"
          @keydown.enter="saveEditValue(false)"
          @keydown.esc="cancelEditMode"
        >
          <template v-if="!!infoText" v-slot:append-outer>
            <EditableInfoIcon :infoText="infoText"/>
          </template>
        </v-text-field>
      </template>
      <v-date-picker
        v-model="pickerValue"
        @change="saveEditValue(true)"
        @blur="cancelEditMode"
      ></v-date-picker>
    </v-menu>
  </div>
</template>

<script>
import EditableInfoIcon from '@/components/Utilities/Editable/Helper/EditableInfoIcon'
import AbstractInput from '@/components/Utilities/Editable/Helper/AbstractInput'

export default {
  /**
   * Extends.
   */
  extends: AbstractInput,

  /**
   * Required components.
   */
  components: {
    EditableInfoIcon
  },

  /**
   * Properties.
   */
  props: {
    value: {
      type: String,
      required: false,
      default: ''
    },
    locales: {
      type: Array,
      required: false,
      default () {
        return this.$root.langs
      }
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  /**
   * Data variables.
   */
  data () {
    return {
      edit: false,
      editableValue: null,
      pickerValue: null,
      menu: false
    }
  },

  /**
   * Watchers.
   */
  watch: {
    /**
     * Watch changes of current value.
     */
    value: {
      immediate: true,
      handler (value) {
        // Set editable value in base of value.
        this.editableValue = this.prepareEditableValue(value)
        // Stop edit mode.
        this.edit = false
      }
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Prepare editable value.
     *
     * @param value
     * @return {string}
     */
    prepareEditableValue (value) {
      const date = new Date(value)
      if (isNaN(date.getDate())) {
        return ''
      }

      date.setUTCHours(date.getHours())
      const isoDate = date.toISOString()
      return `${isoDate.substr(0, 10)} ${isoDate.substr(11, 8)}`
    },

    /**
     * Prepare storable value.
     *
     * @param value
     * @return {string}
     */
    prepareStorableValue (value) {
      const date = new Date(value)
      date.setUTCHours(date.getHours())
      const isoDate = date.toISOString()
      return `${isoDate.substr(0, 10)}T${isoDate.substr(11, 8)}`
    },

    /**
     * Cancel edit mode.
     */
    cancelEditMode () {
      // Check if current user is authenticated.
      if (this.isAuthenticated === true) {
        // Set editable value in base of value.
        this.editableValue = this.prepareEditableValue(this.value)
        // Set edit back to false.
        this.edit = false
      }
    },

    /**
     * Save edit value.
     */
    saveEditValue (isPicker) {
      // noinspection ExceptionCaughtLocallyJS
      try {
        // Check if value is from picker.
        if (isPicker) {
          // Define iso string.
          let isoString = 'xxxx-xx-xx 00:00:00'
          const date = new Date(this.editableValue)
          if (!isNaN(date.getDate())) {
            date.setUTCHours(date.getHours())
            isoString = date.toISOString()
          }

          this.editableValue = `${this.pickerValue.substr(0, 10)} ${isoString.substr(11, 8)}`
        }

        if (!/^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$/.test(this.editableValue)) {
          // noinspection ExceptionCaughtLocallyJS
          throw new Error('error')
        }

        // Prepare storable value.
        const storableValue = this.prepareStorableValue(this.editableValue)

        // Check if current user is authenticated and input is valid.
        if (this.isAuthenticated === true && this.isReadonly === false && this.$refs.input.validate() === true) {
          // Emit current input value.
          this.$emit('input', storableValue)
          // Emit current change value.
          this.$emit('change', storableValue)
          // Blur input element.
          this.$refs.input.blur()
        }

        // Check if value has not changed.
        if (storableValue === this.value) {
          // Set edit back to false.
          this.edit = false
        }
      } catch (exception) {
        // Cancel edit mode.
        this.cancelEditMode()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}

::v-deep .readonly.v-input--is-focused .v-label:after {
  font-family: 'Material Design Icons';
  -webkit-font-feature-settings: 'liga';
  content: "\F0341";
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}
</style>
