<template>
  <div>
    <AdButton v-if="userIsIssueEditor" type="new-event" darker @click="dialog=true"/>
    <v-dialog v-model="dialog" width="800" persistent>
      <v-card>
      <AdCardTitle dialog>
          {{ $t('new-event') }}
      </AdCardTitle>

        <v-card-text>
          <v-form>
            <v-row>
              <v-col cols="12">
                <TextEditor v-model="description" emitOnInput :placeholder="$t('description')" />
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="close"/>
          <AdButton type="new-event" @click="createTracking" :disabled="!(data)"/>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import IssueService from '@/services/IssueService'

export default {
  name: 'IssueAddTrackingModal',
  props: {
    value: {
      required: true,
      type: Object
    },
    project: {
      required: true,
      type: String
    },
    datasets: {
      required: true,
      type: Object
    }
  },
  data () {
    return {
      dialog: false,
      description: null
    }
  },
  computed: {
    /**
     * Get the current authenticated user.
     *
     * @return {*}
     */
    currentUser () {
      return JSON.parse(JSON.stringify(this.$store.getters['authentication/getUser']))
    },

    /**
     * Check if current user is authenticated.
     *
     * @return boolean
     */
    isAuthenticated () {
      return this.currentUser !== null
    },

    /**
     * Get data structure.
     *
     * This is required to create a new issue via api.
     * @returns {*}
     */
    data () {
      // Get matching current user information.
      const matchingCurrentUser = this.datasets.assignees.find(user => user.username === this.currentUser?.name)

      // Check if matching current user or description does not exists.
      if (!matchingCurrentUser || this.description === null || ['<p></p>', '<div></div>'].includes(this.description) || String(this.description).length === 0) {
        // Return null.
        return null
      }

      // Return issue.
      return {
        parameter: [{
          op: 'add',
          path: '/',
          value: {
            tracking: {
              statusCode: this.value?.currentStatusCode || '',
              labels: this.value?.currentLabels || '',
              desc: [
                {
                  language: this.$i18n.locale,
                  '#text': this.description
                }
              ]
            }
          }
        }]
      }
    }
  },
  methods: {
    /**
     * Reset the creation form.
     */
    reset () {
      // Set default type.
      this.type = 'RFC'
      // Set default priority.
      this.priority = 'N'
      // Reset labels.
      this.labels = []
      // Reset assignee.
      this.assignee = null
      // Reset title.
      this.title = null
      // Reset description
      this.description = null
    },

    /**
     * Close the dialog.
     */
    close () {
      // Close dialog.
      this.dialog = false
      // Perform reset.
      this.reset()
    },

    /**
     * Create the issue via api.
     *
     * @return {Promise<void>}
     */
    async createTracking () {
      const prefix = this.projectInFocus?.prefix
      // Update issue on rest api.
      const updatedIssue = await IssueService.patchIssue(this.project, this.value.id, this.data, { broadcast: `PATCH/${prefix}/issue` })
      // Check if updated issue is not nil.
      if (!!updatedIssue?.data === true) {
        // Emit current html input value.
        this.$emit('input', updatedIssue?.data)
        // Close dialog.
        this.close()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn.v-btn--disabled {
  background-color: initial;
}

.headline {
  background: var(--v-topbottomstrip-base);
}
</style>
