<template>
  <v-dialog v-if="userIsIssueEditor" :value="value" width="800" persistent>
    <v-card :loading="isLoading">
    <AdCardTitle dialog>
        {{ $t('edit-assignment') }}
    </AdCardTitle>
      <v-card-text class="py-4">
        <v-form v-if="editableAssignment && editableAssignment[assignmentIndex]">
          <v-row>
            <v-col cols="12">
              <EditableString
                :value="editableAssignment[assignmentIndex].name"
                :label="$t('assigned-to')"
                disabled
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <EditableTranslationEditor
                editor
                v-model="editableAssignment[assignmentIndex].desc"
                emitOnInput
                :locales="projectLocales"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="close"/>
        <AdButton type="save" @click="save" :disabled="isLoading"/>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import EditableTranslationEditor from '../Utilities/Editable/EditableTranslationEditor.vue'

import { cloneDeep } from 'lodash'

export default {
  components: { EditableTranslationEditor },
  name: 'IssueEditAssignmentModal',
  props: {
    // Open/close state of the modal
    value: {
      required: true,
      type: Boolean
    },
    // Index of the assignment to edit
    assignmentIndex: {
      type: Number
    },
    // The complete issue the assignment belongs to
    issue: {
      required: true,
      type: Object
    }
  },
  data () {
    return {
      editableAssignment: null,
      isLoading: false
    }
  },

  computed: {
    assignment () {
      return this.issue?.assignment?.[this.assignmentIndex] || null
    }
  },
  methods: {

    /**
     * Reset the creation form.
     */
    reset () {
      this.editableAssignment = cloneDeep(this.issue.assignment)
    },

    close () {
      this.$emit('input', false)
      this.reset()
    },

    async save () {
      if (!Array.isArray(this.editableAssignment)) {
        return
      }
      const data = {
        parameter: [
          {
            op: 'add',
            path: '/',
            value: {
              assignment: this.editableAssignment[this.assignmentIndex]
            }
          }
        ]
      }

      const issue = this.issue

      try {
        this.isLoading = true
        await this.$store.dispatch('issues/updateIssueAttribute', { value: issue, data })
        this.close()
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      } finally {
        this.isLoading = false
      }
    }

  },

  watch: {
    issue: {
      immediate: true,
      deep: true,
      handler () {
        this.reset()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn.v-btn--disabled {
  background-color: initial;
}

.headline {
  background: var(--v-topbottomstrip-base);
}
</style>
