<template>
  <div v-if="userIsIssueEditor">
    <AdButton type="new-issue" darker @click="dialog=true"/>
    <v-dialog v-model="dialog" width="800" persistent scrollable>
      <v-card>
        <AdCardTitle dialog>
          {{ $t('new-issue') }}
        </AdCardTitle>

        <v-card-text>
          <div v-if="object" class="pt-3">
            {{ $t('concerns')}}:
            <b>
              {{ object.name instanceof Array ?
                $filters.getMatchingTranslation({
                  value:
                  object.name,
                  returnObject: true
                })['#text'] : object.name}}
              </b>
            ({{ object.id }})
          </div>
          <v-form
            v-if="dialog"
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-row>
              <v-col cols="12">
                <EditableString
                  v-model="issue.title"
                  :rules="validationRules.issueTitle"
                  :label="$t('title')"
                />
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="6">
                <EditableDropdown
                  v-model="issue.type"
                  :rules="validationRules.issueType"
                  item-value="value"
                  item-text="label"
                  :items="datasets.types"
                  :label="$t('type')"
                />
              </v-col>

              <v-col cols="6">
                <EditableDropdown
                  v-model="issue.priority"
                  :rules="validationRules.issuePriority"
                  item-value="value"
                  item-text="label"
                  :items="datasets.priorities"
                  :label="$t('priority')"
                />
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="6">
                <EditableDropdown
                  v-model="issue.labels"
                  :rules="validationRules.issueLabels"
                  item-value="code"
                  item-text="name"
                  :items="labels"
                  :label="$t('label')"
                  multiple
                >
                  <template v-slot:item="{ item, attrs, on }">
                    <v-list-item v-on="on" v-bind="attrs" v-slot:default="{ active }">
                      <v-list-item-action>
                        <v-checkbox :input-value="active"></v-checkbox>
                      </v-list-item-action>
                      <v-list-item-content>
                        <v-list-item-title class="d-flex align-center">
                          <v-chip
                            class="mr-1"
                            :color="item.color"
                            :text-color="$filters.getDarkOrLightFontColor(item.color)"
                            v-text="item.code"
                            label
                            small
                          ></v-chip>
                          <span v-text="item.name"></span>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </template>

                  <template v-slot:selection="{ item }">
                    <v-chip
                      class="mr-1"
                      :color="item.color"
                      :text-color="$filters.getDarkOrLightFontColor(item.color)"
                      v-text="item.code"
                      label
                      small
                    ></v-chip>
                  </template>
                </EditableDropdown>
              </v-col>

              <v-col cols="6">
                <EditableDropdown
                  v-model="issue.assignee"
                  :rules="validationRules.issueAssignee"
                  item-value="id"
                  item-text="#text"
                  :items="datasets.assignees"
                  :label="$t('assigned-to')"
                />
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <TextEditor
                  v-model="issue.description"
                  :rules="validationRules.issueDescription"
                  :placeholder="$t('description')"
                />
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-card-actions class="dialogbottomstrip">
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="close" />
          <AdButton type="new-issue" @click="createIssue" />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ValidationRules from '@/components/Utilities/ValidationRules'
import issueModel from '@/models/issue'
import { cloneDeep } from 'lodash'

export default {
  name: 'IssueCreationModal',
  mixins: [
    ValidationRules
  ],
  props: {
    object: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  data () {
    return {
      dialog: false,
      valid: true,
      issue: cloneDeep(issueModel)
    }
  },
  watch: {
    /**
     * Watch datasets changes.
     */
    datasets: {
      immediate: true,
      handler: function () {
        // Perform reset.
        this.reset()
      }
    }
  },
  computed: {
    labels () {
      return this.$store.getters['issues/labels']
    },
    project () {
      return this.$store.getters['project/getProjectInFocus']
    },
    /**
     * Get datasets.
     *
     * This computed object contains all datasets which will
     * used for search selection elements and translation
     * handling.
     *
     * @returns {*}
     */
    datasets () {
      // Return list of all datasets.
      return {
        statuses: this.$store.getters['server/getIssueStatuses'],
        types: this.$store.getters['server/getIssueTypes'],
        priorities: this.$store.getters['server/getIssuePriorities'],
        assignees: this.$store.getters['project/authors'] ?? []
      }
    },

    /**
     * Get the current authenticated user.
     *
     * @return {*}
     */
    currentUser () {
      return JSON.parse(JSON.stringify(this.$store.getters['authentication/getUser']))
    },

    /**
     * Get data structure.
     *
     * This is required to create a new issue via api.
     * @returns {*}
     */
    data () {
      // Get current date.
      const currentDate = new Date()

      // Get matching current user information.
      const matchingCurrentUser = this.datasets.assignees.find(user => user.username === this.currentUser?.name)
      // Get matching assignee user information.
      const matchingAssigneeUser = this.datasets.assignees.find(user => user.id === this.issue.assignee)

      // Check if matching current user does not exists.
      if (!this.issue.title || !matchingCurrentUser) {
        // Return null.
        return null
      }

      // Generate data.
      const data = {
        priority: this.issue.priority,
        displayName: this.issue.title,
        type: this.issue.type,
        tracking: [{
          effectiveDate: currentDate.toISOString(),
          statusCode: 'open',
          labels: this.issue.labels.join(' '),
          author: [
            {
              id: matchingCurrentUser.id,
              '#text': matchingCurrentUser['#text']
            }
          ],
          desc: [
            {
              language: this.$i18n.locale,
              '#text': this.issue.description
            }
          ]
        }]
      }

      // Check if matching assignee user is not nil.
      if (!!matchingAssigneeUser === true) {
        data.assignment = [
          {
            to: matchingAssigneeUser.id,
            name: matchingAssigneeUser['#text'],
            effectiveDate: currentDate.toISOString(),
            labels: this.issue.labels.join(' '),
            author: [
              {
                id: matchingCurrentUser.id,
                '#text': matchingCurrentUser['#text']
              }
            ]
          }
        ]
      }

      // Check if object id is defined.
      if (!!this.object?.id === true) {
        // Apply object to data.
        data.object = [{
          id: this.object?.id,
          effectiveDate: this.object?.effectiveDate
        }]
      }

      // Return data.
      return data
    }
  },

  methods: {

    reset () {
      this.issue = cloneDeep(issueModel)
    },
    close () {
      // Close dialog.
      this.dialog = false
      // Perform reset.
      this.reset()
    },
    /**
     * Create the issue via api.
     *
     * @return {Promise<void>}
     */
    async createIssue () {
      if (this.$refs.form.validate() === true) {
        return this.$store.dispatch('issues/createIssue', this.data)
          .then((response) => {
            this.$emit('create', response.data)
            this.$notify(this.$t('submission-save-success-label'), 'success')
            this.close()
          })
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
            this.$alert(errorMessage)
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn.v-btn--disabled {
  background-color: initial;
}
</style>
