<template>
  <v-card class="component-issue-list-panel">
   <AdCardTitle prependicon="mdi-flag">
      {{ $t('results') }} ({{ issues.length + ' / ' + issuesTotal }})
      <v-spacer></v-spacer>
      <slot name="title-right" />
   </AdCardTitle>

    <v-data-table
      :headers="headers"
      :items="issues"
      :options.sync="datasets.options"
      :custom-sort="sort"
      :loading="issuesLoading"
      class="issue-list-table"
      :hide-default-footer="issues.length <= 10"
      :no-data-text="$t('no-items-no-matches')"
    >

      <template v-slot:[`item.id`]="{ item }">
        {{$filters.getShortId(item.id)}}
      </template>

      <template v-slot:[`item.displayName`]="{ item }">
        <AdButton
          link
          :to="{ name: 'issue', params: { issueId: item.id } }"
          @click.stop
        >
          {{ item.displayName }}
        </AdButton>
      </template>

      <template v-slot:[`item.currentStatusCode`]="{ item }">
        <AdStatusDot :status="item.currentStatusCode"/>
        {{ getDatasetTranslation('statuses', item.currentStatusCode) }}
      </template>

      <template v-slot:[`item.priority`]="{ item }">
        {{ getDatasetTranslation('priorities', item.priority) }}
      </template>

      <template v-slot:[`item.type`]="{ item }">
        {{ getDatasetTranslation('types', item.type) }}
      </template>

      <template v-slot:[`item.lastDate`]="{ item }">
        {{ $filters.formatDate(item.lastDate) }}
      </template>

      <template v-slot:[`item.currentLabels`]="{ item }">
        <div class="no-ellipsis">
          <template v-for="label of getParsedLabels(item.currentLabels)">
            <v-chip
              class="mx-1"
              :key="label.code"
              :color="label.color"
              :text-color="$filters.getDarkOrLightFontColor(label.color)"
              v-text="label.code"
              label
              small></v-chip>
          </template>
        </div>
      </template>

    </v-data-table>

  </v-card>
</template>

<script>
export default {
  name: 'IssueListPanel',
  props: {
    issues: {
      required: true,
      type: Array
    },
    datasets: {
      required: true,
      type: Object
    },
    issuesLoading: {
      required: false,
      type: Boolean
    },
    issuesTotal: {
      required: false,
      type: Number
    },
    headers: {
      required: false,
      type: Array
    },
    searchValues: {
      required: false,
      type: Object
    },
    getParsedLabels: {
      required: true,
      type: Function
    },
    getDatasetTranslation: {
      required: true,
      type: Function
    }
  },
  methods: {
    sort (data) {
      // Tell search values new sorting options.
      this.searchValues.options.sortBy = this.datasets?.options?.sortBy?.[0]
      this.searchValues.options.sortDesc = this.datasets?.options?.sortDesc?.[0]
      // Return data.
      return data
    }
  }
}
</script>
