<template>
  <v-layout>
    <v-container fluid>
      <template v-if="$route.name === 'issues'">
        <AdBreadcrumbs class="pb-4" :items="breadcrumbs"></AdBreadcrumbs>
        <div>
          <IssueSearchPanel
            :loading="$store.state.issues.loadingLabels"
            v-model="searchValues"
            :datasets="datasets"
            class="mb-5"
            @loadIssueList="loadIssueList"
           />
          <IssueListPanel
            :datasets="datasets"
            :headers="headers"
            :issues="issues"
            :issuesLoading="$store.state.issues.loadingIssues"
            :issuesTotal="issuesTotal"
            :searchValues="searchValues"
            :getDatasetTranslation="getDatasetTranslation"
            :getParsedLabels="getParsedLabels">
            <IssueCreationModal slot="title-right"/>
          </IssueListPanel>
        </div>
      </template>
      <router-view
        v-else
        :key="$route.fullPath"
        :breadcrumbs="breadcrumbs"
        :issues="issues"
        :datasets="datasets"
        :searchValues="searchValues"
        :getParsedLabels="getParsedLabels"
        :getDatasetTranslation="getDatasetTranslation"
      ></router-view>
    </v-container>
  </v-layout>
</template>

<script>
import IssueCreationModal from '@/components/Issue/IssueCreationModal'
import IssueSearchPanel from '@/components/Issue/IssueSearchPanel'
import IssueListPanel from '@/components/Issue/IssueListPanel'
import { mapGetters } from 'vuex'
import { isCancel } from 'axios'

export default {
  name: 'IssuePanel',
  components: {
    IssueCreationModal,
    IssueSearchPanel,
    IssueListPanel
  },
  data () {
    return {
      abortController: null,
      searchValues: {
        options: { sortBy: null, sortDesc: null },
        statuses: ['open', 'inprogress', 'feedback'],
        types: ['RFC', 'INC'],
        priorities: [],
        labels: [],
        assignees: [],
        project: this.$parent?.projectSelected?.prefix ?? 'aktin-',
        search: '',
        sort: null,
        order: null,
        max: 75,
        lastModified: '',
        lastModifiedDateActive: false,
        lastModifiedTimeActive: false,
        lastModifiedDate: null,
        lastModifiedTime: '00:00'
      }
    }
  },
  computed: {
    ...mapGetters({
      issues: ['issues/issues'],
      labels: ['issues/labels'],
      issuesTotal: ['issues/issuesTotal']
    }),
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['issues', 'issue']
        },
        {
          exact: true,
          text: this.$t('issues'),
          disabled: false,
          to: { name: 'issues' },
          show: ['issues', 'issue']
        },
        {
          exact: true,
          text: `${this.$t('issue')} ` + this.$filters.getShortId(this.$route.params.issueId),
          disabled: true,
          to: { name: 'issue', params: { issueId: this.$route.params.issueId } },
          show: ['issue']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    /**
     * Get table header structure.
     *
     * The table structure defines which field should shown
     * and in base of which key they are sortable. The fix width
     * for the columns can also defined here.
     *
     * @returns {[*]}
     */
    headers () {
      return [
        { text: this.$t('id'), value: 'id', sortable: false, width: '6%' },
        { text: this.$t('issue'), value: 'displayName', sortable: true, sortBy: 'issue', width: '30%' },
        { text: this.$t('status'), value: 'currentStatusCode', sortable: true, sortBy: 'status', width: '10%' },
        { text: this.$t('priority'), value: 'priority', sortable: true, sortBy: 'priority', width: '10%' },
        { text: this.$t('type'), value: 'type', sortable: true, sortBy: 'type', width: '10%' },
        { text: this.$t('date'), value: 'lastDate', sortable: true, sortBy: 'date', width: '10%' },
        { text: this.$t('assignment'), value: 'lastAssignment', sortable: true, sortBy: 'assigned-to', width: '10%' },
        { text: this.$t('label'), value: 'currentLabels', sortable: true, sortBy: 'label', width: '12%' },
        { text: '', value: 'data-table-expand', width: '48px' }
      ]
    },
    /**
     * Get datasets.
     *
     * This computed object contains all datasets which will
     * used for search selection elements and translation
     * handling.
     *
     * @returns {*}
     */
    datasets () {
      // Return list of all datasets.
      return {
        statuses: this.prepareDataset(this.$store.getters['server/getIssueStatuses']),
        types: this.prepareDataset(this.$store.getters['server/getIssueTypes']),
        priorities: this.prepareDataset(this.$store.getters['server/getIssuePriorities']),
        labels: this.prepareDataset(this.labels ?? []),
        assignees: this.prepareDataset(this.$store.getters['project/authors'] ?? [])
      }
    },
    /**
     * Get prepared filter object.
     *
     * This computed filter object is used for rest api call. It
     * contains all filters parameter in required format.
     *
     * @returns {*}
     */
    filters () {
      // Return all filters for search request.
      return {
        project: this.searchValues.project,
        search: this.searchValues.search,
        max: parseInt(this.searchValues.max) > 0 ? this.searchValues.max : 75,
        sort: this.headers.find(header => {
          return header.value === (this.searchValues.options?.sortBy ?? null)
        })?.sortBy ?? null,
        order: (this.searchValues.options?.sortDesc ? 'descending' : 'ascending'),
        status: this.searchValues.statuses.join(','),
        type: this.searchValues.types.join(','),
        priority: this.searchValues.priorities.join(','),
        label: this.searchValues.labels.join(','),
        assignee: this.searchValues.assignees.join(','),
        changedAfter: this.searchValues.lastModifiedDate !== null
          ? this.searchValues.lastModifiedDate + 'T' + this.searchValues.lastModifiedTime + ':00'
          : null
      }
    }
  },
  mounted () {
    this.loadIssueList()
  },
  methods: {
    async loadIssueList () {
      // Abort pending request
      if (this.abortController) {
        this.abortController.abort('Re-fetching issue list')
      }

      // Set up abortController
      this.abortController = new AbortController()
      return this.$store.dispatch('issues/setIssues', { filters: this.filters, abortController: this.abortController })
        .then(() => {
          this.abortController = null
        })
        .catch((error) => {
          if (!isCancel(error)) {
            this.$alert(error.message)
          }
        })
    },
    prepareDataset (dataset) {
      const clonedDataset = JSON.parse(JSON.stringify(dataset))
      if (clonedDataset instanceof Array) {
        // Map cloned dataset.
        clonedDataset.map(item => {
          if (!!item.label === true) {
            item.translatedLabel = this.$filters.getMatchingTranslation({ value: item.label, locale: this.$i18n.locale })
          }
          return item
        })
      }
      return clonedDataset
    },

    /**
     * Get dataset translation.
     *
     * In base of the given value the perfect matching localized entry
     * in the dataset array will returned.
     *
     * @param scope
     * @param value
     * @returns {*}
     */
    getDatasetTranslation (scope, value) {
      // Try to find matching dataset.
      const matchingDataset = (this.datasets?.[scope] ?? [])
        .find(status => status.value === value)
      // Try to get matching label in base of current locale.
      const matchingLabel = (matchingDataset?.label ?? [])
        .find(label => label.language === this.$i18n.locale)
      // Return text.
      return matchingLabel?.['#text'] ?? value
    },

    /**
     * Get parsed labels.
     *
     * The labels will split by whitespace and the matching
     * label object from dataset will put to labels array return
     * value.
     *
     * @param labels
     * @returns {[]|*[]}
     */
    getParsedLabels (labels) {
      // Check if labels is not type of string.
      if (typeof labels !== 'string') {
        // Return empty array.
        return []
      }
      // Define matching labels.
      const matchingLabels = []
      // Split labels.
      const splitLabels = labels.split(' ')
      // Loop each split label.
      for (const splitLabel of splitLabels) {
        // Try to find matching label.
        const matchingLabel = (this.datasets?.labels ?? [])
          .find(label => label?.code === splitLabel)
        if (!!matchingLabel === true) {
          matchingLabels.push(matchingLabel)
        }
      }
      return matchingLabels
    }
  }
}
</script>
