<template>
  <div v-if="userIsIssueEditor">
    <AdButton type="new-assignment" darker @click="dialog=true"/>
    <v-dialog v-model="dialog" width="800" persistent>

      <v-card>
      <AdCardTitle dialog>
          {{ $t('new-assignment') }}
      </AdCardTitle>
        <v-card-text>
          <v-form>
            <v-row>
              <v-col cols="12">
                <v-select
                    v-model="assignee"
                    item-value="id"
                    item-text="#text"
                    :items="datasets.assignees"
                    :label="$t('assigned-to')">
                  <template v-slot:selection="{ item, index }">
                    <span v-if="index !== 0">, </span>
                    <span>{{ item['#text'] }}</span>
                  </template>
                </v-select>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="close"/>
          <AdButton type="new-assignment" @click="createAssignment" :disabled="!(data)"/>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
</template>

<script>
import IssueService from '@/services/IssueService'

export default {
  name: 'IssueAddAssignmentModal',
  props: {
    value: {
      required: true,
      type: Object
    },
    project: {
      required: true,
      type: String
    },
    datasets: {
      required: true,
      type: Object
    }
  },
  data () {
    return {
      dialog: false,
      type: 'RFC',
      title: null,
      priority: 'N',
      labels: [],
      assignee: this.value.lastAssignmentId,
      description: null
    }
  },
  watch: {
    value: {
      immediate: true,
      handler: function () {
        // Perform reset.
        this.reset()
      }
    },
    datasets: {
      immediate: true,
      handler: function () {
        // Perform reset.
        this.reset()
      }
    }
  },
  computed: {
    /**
     * Get the current authenticated user.
     *
     * @return {*}
     */
    currentUser () {
      return JSON.parse(JSON.stringify(this.$store.getters['authentication/getUser']))
    },

    /**
     * Check if current user is authenticated.
     *
     * @return boolean
     */
    isAuthenticated () {
      return this.currentUser !== null
    },

    /**
     * Get data structure.
     *
     * This is required to create a new issue via api.
     * @returns {*}
     */
    data () {
      // Get matching current user information.
      const matchingCurrentUser = this.datasets.assignees.find(user => user.username === this.currentUser?.name)
      // Get matching assignee user information.
      const matchingAssigneeUser = this.datasets.assignees.find(user => user.id === this.assignee)

      // Check if matching current user or matching assignee user does not exists or assigne has not changed.
      if (!matchingCurrentUser || !matchingAssigneeUser || this.value?.lastAssignmentId === matchingAssigneeUser?.id) {
        // Return null.
        return null
      }

      // Return issue.
      return {
        parameter: [{
          op: 'add',
          path: '/',
          value: {
            assignment: {
              to: matchingAssigneeUser.id,
              name: matchingAssigneeUser['#text'],
              labels: this.value?.currentLabels || ''
            }
          }
        }]
      }
    }
  },
  methods: {
    /**
     * Reset the creation form.
     */
    reset () {
      // Set default type.
      this.type = 'RFC'
      // Set default priority.
      this.priority = 'N'
      // Reset labels.
      this.labels = []
      // Reset assignee.
      this.assignee = this.value?.lastAssignmentId || null
      // Reset title.
      this.title = null
      // Reset description
      this.description = null
    },

    /**
     * Close the dialog.
     */
    close () {
      // Close dialog.
      this.dialog = false
      // Perform reset.
      this.reset()
    },

    /**
     * Create the issue via api.
     *
     * @return {Promise<void>}
     */
    async createAssignment () {
      const prefix = this.projectInFocus?.prefix
      // Update issue on rest api.
      const updatedIssue = await IssueService.patchIssue(this.project, this.value.id, this.data, { broadcast: `PATCH/${prefix}/issue` })
      // Check if updated issue is not nil.
      if (!!updatedIssue?.data === true) {
        // Emit current html input value.
        this.$emit('input', updatedIssue?.data)
        // Close dialog.
        this.close()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn.v-btn--disabled {
  background-color: initial;
}

.headline {
  background: var(--v-topbottomstrip-base);
}
</style>
