<template>
  <v-card class="component-issue-search-panel">
    <AdCardTitle prependicon="mdi-flag">
      {{ $t('search') }}
    </AdCardTitle>

    <v-card-text>
      <v-row>
        <v-col cols="3">
          <v-select
            v-model="value.statuses"
            @change="handleChange"
            item-value="value"
            item-text="translatedLabel"
            :items="datasets.statuses"
            :label="$t('status')"
            hide-details
            multiple
            clearable
            small-chips
            @focus="keepHorizontalScrollFocus">
          </v-select>
        </v-col>

        <v-col cols="3">
          <v-select
            v-model="value.types"
            @change="handleChange"
            item-value="value"
            item-text="translatedLabel"
            :items="datasets.types"
            :label="$t('type')"
            hide-details
            multiple
            clearable
            small-chips
            @focus="keepHorizontalScrollFocus">
          </v-select>
        </v-col>

        <v-col cols="3">
          <v-select
            v-model="value.priorities"
            @change="handleChange"
            item-value="value"
            item-text="translatedLabel"
            :items="datasets.priorities"
            :label="$t('priority')"
            hide-details
            multiple
            clearable
            small-chips
            @focus="keepHorizontalScrollFocus">
          </v-select>
        </v-col>

        <v-col cols="3">
          <v-select
            v-model="value.labels"
            @change="handleChange"
            item-value="code"
            item-text="name"
            :items="datasets.labels"
            :label="$t('label')"
            hide-details
            multiple
            clearable
            small-chips
            @focus="keepHorizontalScrollFocus"
          >
            <template v-slot:item="{ item, attrs, on }">
              <v-list-item v-on="on" v-bind="attrs" v-slot:default="{ active }">
                <v-list-item-action>
                  <v-checkbox :input-value="active"></v-checkbox>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title class="d-flex align-center">
                    <v-chip
                        class="mr-1"
                        :color="item.color"
                        :text-color="$filters.getDarkOrLightFontColor(item.color)"
                        v-text="item.code"
                        label
                        small></v-chip>
                    <span v-text="item.name"></span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>

            <template v-slot:selection="{ item }">
              <v-chip
                  class="mr-1"
                  :color="item.color"
                  :text-color="$filters.getDarkOrLightFontColor(item.color)"
                  v-text="item.code"
                  label
                  small></v-chip>
            </template>
          </v-select>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="3">
          <v-text-field
              v-model="value.search"
              @change="handleChange"
              :label="$t('search-by-term')"
              hide-details
              clearable></v-text-field>
        </v-col>

        <v-col cols="3">
          <v-text-field
              v-model="value.max"
              @change="handleChange"
              :label="$t('maximum')"
              placeholder="75"
              hide-details
              clearable></v-text-field>
        </v-col>

        <v-col class="py-0" cols="3">
          <v-flex class="ma-0" row>
            <v-col
                v-bind:cols="value.lastModifiedDate ? 7 : 12"
                class="px-0">
              <v-menu
                  v-model="value.lastModifiedDateActive"
                  @change="handleChange"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  max-width="50%"
                  offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                      v-model="value.lastModifiedDate"
                      @change="handleChange"
                      :label="$t('date')"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      clearable
                      hide-details
                  ></v-text-field>
                </template>
                <v-date-picker
                    v-model="value.lastModifiedDate"
                    @change="handleChange"
                    @input="value.lastModifiedDateActive !== true"
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col
                v-if="value.lastModifiedDate"
                class="pr-0"
                cols="5">
              <v-menu
                  v-model="value.lastModifiedTimeActive"
                  @change="handleChange"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                      v-model="value.lastModifiedTime"
                      @change="handleChange"
                      :label="$t('time')"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      hide-details
                  ></v-text-field>
                </template>
                <v-time-picker
                    v-model="value.lastModifiedTime"
                    @change="handleChange"
                    @input="value.lastModifiedTimeActive !== true"
                ></v-time-picker>
              </v-menu>
            </v-col>
          </v-flex>
        </v-col>

        <v-col cols="3">
          <v-select
              v-model="value.assignees"
              @change="handleChange"
              item-value="id"
              item-text="#text"
              :items="datasets.assignees"
              :label="$t('assigned-to')"
              hide-details
              multiple
              clearable
              small-chips
              @focus="keepHorizontalScrollFocus">
          </v-select>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'IssueSearchPanel',
  props: {
    value: {
      type: Object,
      required: true
    },
    datasets: {
      type: Object,
      required: true
    }
  },
  methods: {
    /**
     * Keep horizontal scroll focus.
     *
     * This method is required for custom select with chips layout. After
     * focusing a select box the content is scrolled in a wrong way. This
     * functions is fixing the wrong scroll behavior.
     */
    keepHorizontalScrollFocus () {
      // Try to get selections.
      const selections = this.$el.querySelectorAll('.v-select__selections')
      // Check if selection are available.
      if (selections.length > 0) {
        // Wait for next tick.
        this.$nextTick(() => {
          // Loop each selection.
          selections.forEach(selection => {
            // Scroll to start.
            selection.scrollTo(0, 0)
          })
        })
      }
    },
    handleChange () {
      // emit loadIssueList to parent,
      // as the filters in the parent contains last minute changes (value)
      // dispatch('issues/setIssues' here will have previous values
      this.$emit('loadIssueList')
    }
  }
}
</script>

<style lang="scss">
.component-issue-search-panel {
  .v-select__selections {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      z-index: 1;
    }
  }

  .v-data-table tr {
    td {
      width: 30%;
    }

    td:nth-child(1),
    td:nth-child(3) {
      width: 20% !important;
      background: var(--v-topbottomstrip-base);
    }

    &:hover {
      background-color: inherit !important;
    }
  }
}
</style>
