<template>
  <v-row class="issue-item-panel">
    <v-col cols="12">
      <v-card flat tile>
        <v-card-text class="mt-5 mb-5 px-0">
          <v-row v-if="editableIssue">
            <v-col cols="4">
              <EditableString
                v-model="editableIssue.displayName"
                :label="$t('title')"
                @input="updateItemValue('displayName', $event)"
                confirmation-required
                :readonly="!userIsIssueEditor"
              />
            </v-col>

            <v-col cols="2">
              <EditableString
                :value="id"
                :label="$t('id')"
                readonly
              />
            </v-col>

            <v-col cols="2">
              <EditableIssueStatusCode
                v-model="editableIssue.currentStatusCode"
                :label="$t('status')"
                @input="updateStatusCode($event)"
                confirmation-required
                :readonly="!userIsIssueEditor"
              />
            </v-col>

            <v-col cols="2">
              <EditableDropdown
                v-model="editableIssue.priority"
                :label="$t('priority')"
                :items="datasets.priorities"
                item-value="value"
                item-text="translatedLabel"
                @input="updateItemValue('priority', $event)"
                confirmation-required
                :readonly="!userIsIssueEditor"
              />
            </v-col>

            <v-col cols="2">
              <EditableDropdown
                v-model="editableIssue.type"
                :label="$t('type')"
                :items="datasets.types"
                item-value="value"
                item-text="translatedLabel"
                @input="updateItemValue('type', $event)"
                confirmation-required
                :readonly="!userIsIssueEditor"
              />
            </v-col>

            <v-col cols="4">
              <EditableString
                :value="lastTrackingValue"
                :label="$t('current-last-tracking')"
                readonly
              />
            </v-col>

            <v-col cols="3">
              <EditableString
                :value="lastAssignment || $t('none')"
                :label="$t('current-assignment')"
                readonly
              />
            </v-col>

            <v-col cols="3">
              <EditableColorLabels
                :value="getParsedLabels(currentLabels)"
                :label="$t('current-labels')"
                :items="datasets.labels"
                item-color="color"
                item-value="code"
                item-text="name"
                @input="updateLabels($event)"
                confirmation-required
                :readonly="!userIsIssueEditor"
              />
            </v-col>
            <v-col v-if="isUserLoggedIn" cols="2">
              <EditableSwitch
                v-model="editableIssue.currentUserIsSubscribed"
                :label="$t('subscribe')"
                :disabled="!userIsIssueEditor"
                @input="updateIssueSubscribtion(editableIssue, $event)"
              />
            </v-col>
          </v-row>
          <v-row dense >
            <SelectIssueObject
              v-model="modals.selectIssueObject.open"
              :artefact="modals.selectIssueObject.artefact"
              :exclude="editableIssue.object || []"
              @add="saveIssueConcersObjects"
              :loading="modals.selectIssueObject.loading"
            />

            <v-col cols="auto" class="pl-2 d-flex align-center">
              {{ $t("concerns") }}
              <v-menu v-if="userIsIssueEditor" offset-x>
                <template #activator="{ on, attrs }">
                  <AdButton
                    type="add"
                    list
                    noMarginRight
                    v-on="on"
                    v-bind="attrs"
                  />
                </template>
                <v-list flat dense>
                  <v-list-item-group>
                    <v-list-item
                      v-for="option of issueObjectTypes"
                      :key="option.value"
                      @click="startAddConcernsObject(option.value)"
                    >
                      <v-list-item-content>
                        <v-list-item-title>{{ $filters.getMatchingTranslation({ value: option.label, locale: $i18n.locale }) }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-menu>
            </v-col>
            <v-col v-if="hasIssueConcernsObject">
              <span v-for="co in issueConcernsObject" :key="co.uuid" class="pr-3">
                <AdArtefactDetailsCard
                  :object="co"
                  showTypeInName
                  :disabled="isRemovingConcernsObject(co)"
                >
                  <template #activator.append>
                    <AdButton
                      v-if="userIsIssueEditor"
                      type="erase"
                      small
                      list
                      noMarginRight
                      @click.stop="removeConcernsObject(co)"
                    />
                  </template>
                </AdArtefactDetailsCard>
              </span>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>

      <v-card class="my-5 elevation-3">
        <AdCardTitle inline prependicon="mdi-clock-alert">
          {{ $t("events") }}
          <v-spacer></v-spacer>
          <slot name="event-title-right" />
        </AdCardTitle>

        <v-card-text class="mt-5 mb-5 px-0">
          <v-timeline align-top dense>
            <IssueEditAssignmentModal
              v-model="modals.issueEditAssignmentModal.open"
              :issue="editableIssue"
              :assignmentIndex="assignmentIndex(modals.issueEditAssignmentModal.assignment)"
            />
            <IssueEditTrackingModal
              v-model="modals.issueEditTrackingModal.open"
              :issue="editableIssue"
              :trackingIndex="trackingIndex(modals.issueEditTrackingModal.tracking)"
            />
            <template v-for="(event, index) of events">
              <AdIssueTimelineEvent
                :event="event"
                :eventList="events"
                :key="`timelineEvent-${index}`"
                :showEditButton="userIsIssueEditor"
                @edit="handleEditTimelineEvent"
              />
            </template>
          </v-timeline>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import EditableDropdown from '@/components/Utilities/Editable/EditableDropdown/EditableDropdown'
import EditableColorLabels from '@/components/Utilities/Editable/EditableColorLabels'
import EditableIssueStatusCode from '@/components/Utilities/Editable/EditableStatusCode/EditableIssueStatusCode'
import EditableString from '@/components/Utilities/Editable/EditableString/EditableString'
import AdIssueTimelineEvent from '@/components/Issue/AdIssueTimelineEvent'
import IssueEditAssignmentModal from '@/components/Issue/IssueEditAssignmentModal'
import IssueEditTrackingModal from '@/components/Issue/IssueEditTrackingModal'

import SelectIssueObject from '@/components/Issue/SelectIssueObject'
import { cloneDeep } from 'lodash'
/**
 * Issue item panel component.
 *
 * This component shows details of a specific issue.
 */
export default {
  name: 'IssueItemPanel',
  props: {
    datasets: {
      required: true,
      type: Object
    },
    project: {
      required: true,
      type: String
    },
    getParsedLabels: {
      required: true,
      type: Function
    },
    getDatasetTranslation: {
      required: true,
      type: Function
    }
  },
  components: {
    AdIssueTimelineEvent,
    EditableDropdown,
    EditableColorLabels,
    EditableIssueStatusCode,
    EditableString,
    IssueEditAssignmentModal,
    IssueEditTrackingModal,
    SelectIssueObject
  },
  data () {
    return {
      editableIssue: null,
      modals: {
        issueEditAssignmentModal: {
          open: false
        },
        issueEditTrackingModal: {
          open: false
        },
        selectIssueObject: {
          open: false,
          artefact: 'DE',
          loading: false
        }
      },
      removingConcernsObject: []
    }
  },
  computed: {
    assignmentIndex () {
      return assignment => this.editableIssue?.assignment?.indexOf(assignment)
    },
    isRemovingConcernsObject () {
      return obj => {
        return this.removingConcernsObject.indexOf(obj) !== -1
      }
    },
    hasIssueConcernsObject () {
      return !!this.editableIssue?.object?.length
    },
    issueConcernsObject () {
      return this.editableIssue?.object?.map(obj => ({ ...obj, uuid: this.getUuid() })) || []
    },

    // The issue in scope
    issueItem () {
      return this.$store.getters['issues/issue']
    },

    issueObjectTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.IssueObjectType?.[0]?.enumeration
        ?.filter(type => !['MP', 'SD', 'QE', 'QR'].includes(type.value)) || []
    },

    /**
     * Get tracking list.
     *
     * The tracking is sort by effective date.
     *
     * @returns {[]}
     */
    tracking () {
      // Define tracking.
      const tracking = []
      // Check if tracking is instance of array.
      if (Array.isArray(this.editableIssue?.tracking)) {
        // Push all tracking entries to tracking array.
        tracking.push(...this.editableIssue.tracking)
      }

      // Apply tracking type.
      tracking.map((tracking) => (tracking.type = 'tracking'))
      // Sort events.
      tracking.sort((a, b) => (a.effectiveDate > b.effectiveDate ? -1 : 1))

      // Return tracking.
      return tracking
    },

    trackingIndex () {
      return tracking => this.editableIssue?.tracking?.indexOf(tracking)
    },

    /**
     * Get assignment list.
     *
     * The assignment is sort by effective date.
     *
     * @returns {[]}
     */
    assignment () {
      // Define assignment.
      const assignment = []
      // Check if assignment is instance of array.
      if (Array.isArray(this.editableIssue?.assignment)) {
        // Push all assignment entries to assignment array.
        assignment.push(...this.editableIssue.assignment)
      }

      // Apply assignment type.
      assignment.map((assignment) => (assignment.type = 'assignment'))
      // Sort events.
      assignment.sort((a, b) => (a.effectiveDate > b.effectiveDate ? -1 : 1))

      // Return assignment.
      return assignment
    },

    /**
     * Get event list.
     *
     * The events are sort by effective date.
     *
     * @returns {[]}
     */
    events () {
      // Define events and push tracking and assignment to it.
      const events = [...this.tracking, ...this.assignment]
      // Sort events.
      events.sort((a, b) => (a.effectiveDate > b.effectiveDate ? -1 : 1))

      // Return events.
      return events
    },

    /**
     * Get issue id.
     *
     * @returns {string}
     */
    id () {
      // Return last part of the issue id.
      return String(this.editableIssue?.id ?? '').replace(/(\S+\.)+?/g, '')
    },

    /**
     * Get issue status code.
     *
     * @returns {string}
     */
    statusCode () {
      // Return status code.
      return this.editableIssue?.currentStatusCode
    },

    /**
     * Get last date.
     *
     * @returns {string}
     */
    lastDate () {
      // Return last date.
      return this.editableIssue?.lastDate
    },

    /**
     * Get last author.
     *
     * @returns {string}
     */
    lastAuthor () {
      // Return last author.
      return this.editableIssue?.lastAuthor
    },

    /**
     * Get last assignment.
     *
     * @returns {string}
     */
    lastAssignment () {
      // Return latest assignment.
      return this.editableIssue?.lastAssignment
    },

    lastTrackingValue () {
      return `${this.$filters.formatDate(this.lastDate)} ${this.$t('action-by')} ${this.lastAuthor}`
    },

    /**
     * Get current labels.
     *
     * @returns {string}
     */
    currentLabels () {
      // Return current labels.
      return this.editableIssue?.currentLabels
    }
  },
  methods: {
    handleEditTimelineEvent (event) {
      if (event.type === 'assignment') {
        this.modals.issueEditAssignmentModal.assignment = event
        this.modals.issueEditAssignmentModal.open = true
        return
      }
      if (event.type === 'tracking') {
        this.modals.issueEditTrackingModal.tracking = event
        this.modals.issueEditTrackingModal.open = true
      }
    },
    async saveIssueConcersObjects (objects) {
      const data = {
        parameter: objects.map(obj => ({
          op: 'add',
          path: '/',
          value: {
            object: obj
          }
        }))
      }

      const issue = this.$store.getters['issues/issue']

      try {
        this.modals.selectIssueObject.loading = true
        await this.$store.dispatch('issues/updateIssueAttribute', { value: issue, data })
        this.modals.selectIssueObject.open = false
        this.modals.selectIssueObject.artefact = undefined
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      } finally {
        this.modals.selectIssueObject.loading = false
      }
    },
    startAddConcernsObject (type) {
      this.modals.selectIssueObject.artefact = type
      this.modals.selectIssueObject.open = true
    },
    /**
     * Update item value.
     *
     * @param key
     * @param value
     * @return {Promise<void>}
     */
    async updateItemValue (key, value) {
      // Define data for update.
      const data = {
        parameter: [
          {
            op: 'replace',
            path: '/' + key,
            value
          }
        ]
      }
      return this.$store.dispatch('issues/updateIssueAttribute', { value: this.editableIssue, data })
        .then(() => {
          this.$notify(this.$t('submission-save-success-label'), 'success')
        })
        .catch((error) => {
          this.editableIssue = cloneDeep(this.issueItem)
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },
    async updateIssueSubscribtion (issue, value) {
      return this.$store.dispatch('issues/updateIssueSubscribtion', { id: issue.id, value })
        .then(() => {
          this.$notify(this.$t('submission-save-success-label'), 'success')
        })
        .catch((error) => {
          this.editableIssue = cloneDeep(this.issueItem)
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },

    /**
     * Update status code.
     *
     * @param statusCode
     * @return {Promise<void>}
     */
    async updateStatusCode (statusCode) {
      // Define data for update.
      const data = {
        parameter: [
          {
            op: 'add',
            path: '/',
            value: {
              tracking: {
                statusCode,
                labels: this.editableIssue?.currentLabels || '',
                desc: [
                  {
                    language: this.$i18n.locale,
                    '#text':
                      (this.issueItem?.currentStatusCode || '') + ' -> ' + statusCode
                  }
                ]
              }
            }
          }
        ]
      }
      return this.$store.dispatch('issues/updateIssueAttribute', { value: this.editableIssue, data })
        .then(() => {
          // ignore
          this.$notify(this.$t('submission-save-success-label'), 'success')
        })
        .catch((error) => {
          this.editableIssue = cloneDeep(this.issueItem)
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },

    /**
     * Update labels.
     *
     * @param labels
     * @return {Promise<void>}
     */
    async updateLabels (labels) {
      // Get parsed labels.
      const parsedLabels = labels.map((label) => label?.code).join(' ')
      // Define data for update.
      const data = {
        parameter: [
          {
            op: 'add',
            path: '/',
            value: {
              tracking: {
                statusCode: this.editableIssue?.currentStatusCode || '',
                labels: parsedLabels,
                desc: [
                  {
                    language: this.$i18n.locale,
                    '#text': (this.issueItem?.currentLabels || '') + ' -> ' + parsedLabels
                  }
                ]
              }
            }
          }
        ]
      }

      return this.$store.dispatch('issues/updateIssueAttribute', { value: this.editableIssue, data })
        .then(() => {
          // ignore
          this.$notify(this.$t('submission-save-success-label'), 'success')
        })
        .catch((error) => {
          this.editableIssue = cloneDeep(this.issueItem)
          const errorMessage = error?.response?.data?.description || this.$t('submission-save-error-label')
          this.$alert(errorMessage)
        })
    },
    async removeConcernsObject (obj) {
      const data = {
        parameter: [
          {
            op: 'remove',
            path: '/',
            value: {
              object: obj
            }
          }
        ]
      }

      const issue = this.$store.getters['issues/issue']
      this.removingConcernsObject.push(obj)
      try {
        await this.$store.dispatch('issues/updateIssueAttribute', { value: issue, data })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      } finally {
        this.removingConcernsObject = this.removingConcernsObject.filter(co => co !== obj)
      }
    }
  },
  watch: {
    issueItem: {
      immediate: true,
      deep: true,
      handler () {
        this.editableIssue = cloneDeep(this.issueItem)
      }
    }
  }
}
</script>

<style lang="scss">
.issue-item-panel {
  .v-data-table {
    table {
      table-layout: fixed;
    }

    tr {
      td {
        width: 70%;
        max-width: 70%;
        padding: 13px 16px !important;
        vertical-align: top;
      }

      td:nth-child(1) {
        width: 30%;
        min-width: 30%;
        background: var(--v-topbottomstrip-base);
      }

      pre {
        width: 100%;
        max-width: 100%;
        overflow: auto;
      }

      &:hover {
        background-color: inherit !important;
      }
    }
  }

  .v-expansion-panel {
    .v-expansion-panel-header {
      min-height: 22px !important;
      padding: 0 !important;
    }

    .v-expansion-panel-content__wrap {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }
}
</style>
