<template>
  <div>
    <v-tooltip bottom>
      <template v-slot:activator="{ on: tooltip }">
        <v-btn
          v-show="userIsEditor"
          color="orange lighten-2"
          dark
          v-on="tooltip"
          @click="open"
          fab
          small
          depressed
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <span>{{ $t("new-label") }}</span>
    </v-tooltip>

    <v-dialog v-model="dialog" width="800" persistent>
      <v-card>
        <v-card-title class="headline">
          {{ mode === "create" ? $t("new-label") : $t("label") }}
        </v-card-title>

        <v-card-text>
          <v-form
            ref="formLabel"
            v-model="valid"
            v-if="dialog"
          >
            <v-row>
              <v-col cols="6">
                <EditableString
                  v-model="item.name"
                  :label="$t('name')"
                  ref="name"
                  :required="issueLabel.requiredAttributes.includes('name')"
                />
                <EditableShortFormalName
                  v-model="item.code"
                  ref="code"
                  :label="$t('code')"
                  :disabled="mode !== 'create'"
                  :required="issueLabel.requiredAttributes.includes('code')"
                  :error-messages="labelIdExistsError"
                  @blur="checkLabelAttributeExists('code')"
                />
                <EditableTranslationEditor
                  v-model="item.desc"
                  :locales="locales"
                  :rules="issueLabel.rules"
                  :required="issueLabel.requiredAttributes.includes('desc')"
                  :label="$t('description')"
                />

                <v-card
                  v-if="item.name && item.code && item.color"
                  color="grey lighten-4"
                  flat
                >
                  <v-card-text>
                    <div class="subtitle-2 mb-2">{{ $t("preview") }}</div>
                    <v-chip
                      class="mr-1"
                      :color="item.color"
                      :text-color="$filters.getDarkOrLightFontColor(item.color)"
                      v-text="item.code"
                      label
                      small
                    ></v-chip>
                    <span v-text="item.name"></span>
                  </v-card-text>
                </v-card>
              </v-col>

              <v-col ref="colorLayer" cols="6">
                <EditableString
                  :value="item.color"
                  :label="$t('html-color')"
                  :rules="issueLabel.code"
                  :required="issueLabel.requiredAttributes.includes('color')"
                  @change="item.color = $event"
                  maxlength="7"
                />
                <v-color-picker v-model="item.color" width="388" hide-inputs />
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <AdButton type="cancel" color="grey" @click="close" />
          <AdButton
            type="save"
            :disabled="!valid"
            :text="mode === 'create' ? $t('new-label') : $t('save')"
            @click="save"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
import issueLabelModel from '@/models/issueLabel'
import issueLabel from '@/rules/issueLabel'

export default {
  name: 'LabelFormDialog',
  props: {
    labels: {
      required: true,
      type: Array
    },
    project: {
      required: true,
      type: String
    },
    locales: {
      required: true,
      type: Array
    }
  },
  data () {
    return {
      dialog: false,
      mode: 'create',
      item: cloneDeep(issueLabelModel),
      initialItem: null,
      labelIdExistsError: [],
      issueLabel,
      valid: true
    }
  },
  methods: {
    checkLabelAttributeExists (attribute) {
      // only used for code (at the moment)
      if (this.item[attribute] != null) {
        try {
          if (this.mode === 'create') {
            if (this.labels.some((label) => label[attribute] === this.item[attribute])) {
              this.labelIdExistsError = [this.$t('already-exists')]
            } else {
              this.labelIdExistsError = []
            }
          }
        } catch (error) {
          this.labelIdExistsError = []
          this.$alert(error.message)
        }
      }
    },
    /**
     * Reset the creation form.
     */
    reset () {
      // Rest item in base of default item.
      this.item = cloneDeep(issueLabelModel)
    },
    close () {
      // Close dialog.
      this.dialog = false
      // Perform reset.
      this.reset()
    },
    open (item) {
      // Set mode.
      this.mode = !item?.code ? 'create' : 'edit'

      // Set initial item.
      this.initialItem = !item?.code ? cloneDeep(issueLabelModel) : item

      // Check if no description is available.
      if (!this.initialItem?.desc) {
        // Add description array.
        this.initialItem.desc = []
      }

      // Clone item.
      this.item = JSON.parse(JSON.stringify(this.initialItem))
      // Open dialog.
      this.dialog = true
    },
    async save () {
      if (this.$refs.formLabel.validate()) {
        if (this.mode === 'create') {
          return this.$store.dispatch('issues/createIssueLabel', this.item)
            .then(() => {
              this.$notify(this.$t('submission-save-success-label'), 'success')
              this.close()
            })
            .catch((error) => {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              this.$oops(errorMessage)
            })
        } else {
          return this.$store.dispatch('issues/updateIssueLabel', { initialItem: this.initialItem, label: this.item })
            .then(() => {
              this.$notify(this.$t('submission-save-success-label'), 'success')
              this.close()
            })
            .catch((error) => {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              this.$oops(errorMessage)
            })
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn.v-btn--disabled {
  background-color: initial;
}

.headline {
  background: var(--v-topbottomstrip-base);
}
</style>
