<template>
  <v-layout class="component-issue-label-panel">
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle
              prependicon="mdi-tag-text"
             >
              <v-row no-gutters>
                <v-col cols="12" sm="6" class="d-flex align-center">
                  {{ $t('labels') }}
                </v-col>
                <v-col cols="12" sm="6" class="d-flex align-center">
                  <v-text-field
                    v-model="search"
                    class="mr-2"
                    append-icon="mdi-magnify"
                    :label="$t('search')"
                    single-line
                    hide-details
                    solo
                    dense
                    clearable
                  ></v-text-field>

                  <LabelFormDialog
                    v-if="projectPrefix"
                    ref="labelFormDialog"
                    :labels="labels"
                    :project="projectPrefix"
                    :locales="projectLocales" />
                </v-col>
              </v-row>
            </AdCardTitle>
            <v-card-text class="pt-4">
              <v-data-table
                :headers="headers"
                :items="labels"
                :search="search"
                item-key="code"
                :loading="$store.state.issues.loadingLabels"
                :no-data-text="$t('no-labels')"
                single-select>

                <template v-slot:[`item.code`]="{ item }">
                  <v-chip
                    :color="item.color"
                    :text-color="$filters.getDarkOrLightFontColor(item.color)"
                    v-text="item.code"
                    label
                    small></v-chip>
                </template>

                <template v-slot:[`item.desc`]="{ item }">
                  {{ $filters.getMatchingTranslation({ value: item.desc }) }}
                </template>

                <template v-slot:[`item.data-actions`]="{ item }">
                  <AdSpeedDial
                    v-if="userIsEditor"
                    v-model="item.speeddial"
                    :open-on-hover="true"
                    direction="left"
                  >
                    <AdSpeedOption
                      type="delete" :hint="$t('delete')"
                      @click="deleteLabelItem(item)"
                    />
                    <AdSpeedOption
                      type="edit" :hint="$t('edit')"
                      @click="editLabelItem(item)"
                    />
                  </AdSpeedDial>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import LabelFormDialog from '@/components/Issue/LabelFormDialog'

export default {
  name: 'LabelPanel',
  components: {
    LabelFormDialog
  },
  data () {
    return {
      search: null,
      dialogDelete: false,
      transition: '',
      labelItem: {
        code: '',
        name: '',
        color: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      labels: ['issues/labels']
    }),
    ...mapState({
      projectPrefix: (state) => state.project.projectSelected?.prefix
    }),
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['labels']
        },
        {
          text: this.$t('issues'),
          disabled: true,
          show: ['labels']
        },
        {
          exact: true,
          text: this.$t('labels'),
          to: { name: 'labels' },
          show: ['labels']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    /**
     * Get table header structure.
     *
     * The table structure defines which field should shown
     * and in base of which key they are sortable. The fix width
     * for the columns can also defined here.
     *
     * @returns {[*]}
     */
    headers () {
      return [
        { text: this.$t('name'), value: 'name', sortable: true, width: '25%' },
        { text: this.$t('code'), value: 'code', sortable: true, width: '15%' },
        { text: this.$t('html-color'), value: 'color', sortable: true, width: '15%' },
        { text: this.$t('description'), value: 'desc', sortable: true, width: '40%' },
        { text: (this.userIsEditor ? this.$t('actions') : ''), value: 'data-actions', width: '100px', hidden: false }
      ]
    }
  },
  methods: {
    /**
     * Edit label item.
     *
     * @param item
     * @return {Promise<void>}
     */
    async editLabelItem (item) {
      this.$refs.labelFormDialog.open(item)
    },
    /**
     * Delete label item.
     *
     * @param item
     * @return {Promise<void>}
     */
    async deleteLabelItem (item) {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        return this.$store.dispatch('issues/deleteIssueLabel', item)
          .then(() => {
            this.$notify(this.$t('submission-update-success-label'), 'success')
          })
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.component-issue-label-panel {
  table {
    tr {
      td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:not(.v-data-table__mobile-row) {
          max-width: 0;
        }
      }
    }
  }
}
</style>
