<template>
  <AdArtefactSelection
    v-if="artefact && treeviewData"
    :value="value"
    :tree="treeviewData"
    :addButtonType="addButtonType"
    :dialogWidth="dialogWidth"
    :treeFilters="filters"
    :selectedItemTitle="detailCardTitle"
    :nothingSelectedText="nothingSelected"
    :exclude="exclude"
    :versionProperty="versionProp"
    noDynamicVersions
    :selectionCols="selectionCols"
    :title="title"
    @input="$emit('input', $event)"
    @selected="save"
    @search="handleSearch"
  >
    <template #title:append>({{ objectTypeLabel }})</template>
    <template #tree.search:before>
      <!-- Selection for dataset -->
      <v-autocomplete
        v-if="artefact === 'DE'"
        v-model="selectedDataset"
        class="mx-4 mt-1"
        :items="$store.state.dataset.datasetItems"
        :label="$t('dataset')"
        @change="handleSelectDataset"
        return-object
        clearable
        outlined
        dense
        hide-details
        open-on-clear
        item-value="uuid"
        single-line
        :disabled="loadingObjects"
        :loading="$store.state.dataset.loading.datasetItems"
      >
        <template #item="{ item }">
          <AdStatusDot larger class="mr-3" :status="item.statusCode" icon="mdi-book-open-blank-variant" tooltip />
          {{ $filters.getMatchingTranslation({ value: item.name }) }}
          ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
        </template>
        <template #selection="{ item }">
          <div class="text-truncate">
            <AdStatusDot class="mr-2" :status="item.statusCode" icon="mdi-book-open-blank-variant" tooltip />
            {{ $filters.getMatchingTranslation({ value: item.name }) }}
            ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
          </div>
        </template>
      </v-autocomplete>
    </template>
    <template #details.header:prepend="{ item }">
      <AdStatusDot
        v-if="item.statusCode"
        :status="item.statusCode"
        :icon="getIcon(item)"
        larger
        class="mr-2"
      />
    </template>

    <template #details.content:append="{ selectedVersion }">
      <!-- Additional details for Issues -->
      <v-row v-if="artefact === 'IS'">
        <v-col>
          <EditableString
            readonly
            :value="getIssueTypeLabel(selectedVersion.type)"
            :label="$t('type')"
          />
        </v-col>
        <v-col>
          <EditableString
            readonly
            :value="getIssuePriorityLabel(selectedVersion.priority)"
            :label="$t('priority')"
          />
        </v-col>
        <v-col>
          <EditableString
            readonly
            :value="getIssuePriorityLabel(selectedVersion.priority)"
            :label="$t('assignment')"
          />
        </v-col>
      </v-row>
    </template>
    <template #details.content:after="props"><slot name="details.content:after" v-bind="props"/></template>
    <template #actions="props"><slot name="actions" v-bind="props"/></template>
  </AdArtefactSelection>
</template>

<script>
import DataSetService from '@/services/DataSetService'
import IssueService from '@/services/IssueService'
import AdArtefactSelection from '@/components/Utilities/AdArtefactSelection'

import { mapGetters } from 'vuex'
import { debounce } from 'lodash'

export default {
  name: 'SelectIssueObject',
  components: {
    AdArtefactSelection
  },
  props: {
    artefact: {
      type: String
    },
    addButtonType: {
      type: String,
      default: 'add'
    },
    dialogWidth: {
      type: [String, Number],
      required: false
    },
    selectionCols: {
      type: [String, Number],
      required: false
    },
    exclude: {
      type: Array,
      default: () => []
    },
    loading: {
      type: Boolean,
      default: false
    },
    title: {
      type: String
    },
    // Open/close state
    value: {
      required: true,
      type: Boolean
    }
  },
  data () {
    return {
      filters: [],
      loadingObjects: false,
      objects: [],
      search: '',
      selectedDataset: null
    }
  },

  computed: {
    ...mapGetters('server', ['getItemStatuses', 'getTemplateStatuses', 'getIssueStatuses', 'getIssuePriorities']),

    detailCardTitle () {
      if (this.artefact === 'IG') {
        return selectedTreeviewItem => this.$filters.getMatchingTranslation({ value: selectedTreeviewItem.title })
      }
      return undefined
    },
    getIssueTypeLabel () {
      return type => {
        const typeObj = this.issueTypes.find(obj => obj.value === type)
        if (typeObj) {
          return this.$filters.getMatchingTranslation({ value: typeObj.label })
        }
        return type
      }
    },
    getIssuePriorityLabel () {
      return type => {
        const typeObj = this.getIssuePriorities.find(obj => obj.value === type)
        if (typeObj) {
          return this.$filters.getMatchingTranslation({ value: typeObj.label })
        }
        return type
      }
    },
    issueObjectTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.IssueObjectType?.[0]?.enumeration
        ?.filter(type => !['MP', 'SD', 'QE'].includes(type.value)) || []
    },
    issueTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.IssueType?.[0]?.enumeration || []
    },
    objectTypeLabel () {
      return this.$filters.getMatchingTranslation({
        value: this.issueObjectTypes.find(type => type.value === this.artefact)?.label,
        locale: this.$i18n.locale
      })
    },
    nothingSelected () {
      if (this.artefact === 'TR') {
        return this.$t('no-transaction-selected')
      }
      if (this.artefact === 'SC') {
        return this.$t('no-scenario-selected')
      }
      if (this.artefact === 'VS') {
        return this.$t('no-valueset-selected')
      }
      if (this.artefact === 'TM') {
        return this.$t('no-template-selected')
      }
      if (this.artefact === 'DS') {
        return this.$t('no-dataset-selected')
      }
      if (this.artefact === 'IS') {
        return this.$t('no-issue-selected')
      }
      if (this.artefact === 'CS') {
        return this.$t('no-codesystem-selected')
      }
      if (this.artefact === 'DE') {
        return this.$t('no-concept-selected')
      }
      if (this.artefact === 'IG') {
        return this.$t('no-implementationguide-selected')
      }
      if (this.artefact === 'MP') {
        return this.$t('no-conceptmap-selected')
      }
      if (['QQ', 'QE', 'QR'].includes(this.artefact)) {
        return this.$t('no-questionnaire-selected')
      }
      return ''
    },
    treeviewData () {
      // Scenarios and transactions
      if (['TR', 'SC'].includes(this.artefact)) {
        const items = this.$store.getters['scenario/scenarioItems']?.map(sc => {
          if (this.artefact === 'TR') {
            // return with scenarios disabled for selection
            return ({ ...sc, disabled: true })
          } else {
            // return with transactions disabled for selection
            return {
              ...sc,
              transaction: sc.transaction?.map(tr =>
                ({
                  ...tr,
                  disabled: true,
                  transaction: tr.transaction?.map(tr =>
                    ({ ...tr, disabled: true }))
                })) || null
            }
          }
        }) || []
        return {
          artefact: 'SC',
          loading: this.$store.state.scenario.loading.scenarioItems,
          loaded: this.$store.state.scenario.loaded.scenarioItems,
          items,
          menu: false,
          insertable: false,
          editable: false,
          expandable: true,
          key: 'id',
          text: (item, returnObject) => this.$filters.getMatchingTranslation({
            value: (item?.name || []).map((name) => ({
              ...name,
              '#text': item?.versionLabel
                ? `${name?.['#text']} (${item?.versionLabel})`
                : name?.['#text']
            })),
            selector: '#text',
            returnObject
          }),
          children: 'transaction'
        }
      }
      // Questionnaire(responses)
      if (['QQ', 'QE', 'QR'].includes(this.artefact)) {
        return {
          artefact: 'QQ',
          loading: this.$store.getters['questionnaire/isLoading']('questionnaires'),
          loaded: this.$store.getters['questionnaire/isLoaded']('questionnaires'),
          menu: false,
          editable: false,
          expandable: true,
          items: this.$store.getters['questionnaire/questionnaires'] || [],
          key: 'uuid',
          text: (item, returnObject) => this.$filters.getMatchingTranslation({
            value: (item?.name || []).map((name) => ({
              ...name,
              '#text': item?.versionLabel
                ? `${name?.['#text']} (${item?.versionLabel})`
                : name?.['#text']
            })),
            selector: '#text',
            returnObject
          }),
          children: 'questionnaireresponse'
        }
      }
      // Valuesets
      if (this.artefact === 'VS') {
        return {
          artefact: 'VS',
          loading: this.$store.state.terminology.loading.valueSet,
          loaded: this.$store.state.terminology.loaded.valueSet,
          menu: false,
          insertable: false,
          editable: false,
          items: this.$store.state.terminology.valueSet || [],
          key: 'uuid',
          text: (item) => item.versionLabel ? `${item.displayName} (${item.versionLabel})` : item.displayName,
          children: null
        }
      }
      if (this.artefact === 'MP') {
        return {
          artefact: 'MP',
          name: this.$t('concept-maps'),
          icon: 'mdi-map-marker-distance',
          loading: this.$store.state.terminology.loading.conceptMapItems,
          loaded: true,
          items: this.$store.state.terminology.conceptMapItems || [],
          menu: false,
          insertable: false,
          editable: false,
          expandable: false,
          notDroppable: true,
          key: 'id',
          text: (item) => item?.displayName,
          children: null
        }
      }
      // Templates
      if (this.artefact === 'TM') {
        return {
          artefact: 'TM',
          loading: this.$store.getters['rule/template/isLoading']('templates'),
          loaded: this.$store.getters['rule/template/isLoaded']('templates'),
          menu: false,
          editable: false,
          expandable: true,
          items: this.$store.getters['rule/template/templates']?.map(cat => ({ ...cat, disabled: true })) || [],
          key: 'uuid',
          text: (item) => {
            const post = item.versionLabel ? ` (${item.versionLabel})` : ''
            return (item.displayName || this.$filters.getMatchingTranslation({ value: item.name })) + post
          },
          children: 'template'
        }
      }
      // Datasets
      if (this.artefact === 'DS') {
        return {
          artefact: 'DS',
          loading: this.$store.state.dataset.loading.datasetItems,
          loaded: this.$store.state.dataset.loaded.datasetItems,
          items: this.$store.state.dataset.datasetItems || [],
          menu: false,
          insertable: false,
          editable: false,
          expandable: false,
          key: 'uuid',
          text: 'name.selectorName'
        }
      }
      // Issues
      if (this.artefact === 'IS') {
        return {
          artefact: 'IS',
          loading: this.loadingObjects,
          items: this.objects?.map(is => ({ ...is, statusCode: is.currentStatusCode })),
          menu: false,
          insertable: false,
          editable: false,
          expandable: false,
          key: 'uuid',
          text: 'displayName'
        }
      }
      // Codesystems
      if (this.artefact === 'CS') {
        return {
          artefact: 'CS',
          loading: this.$store.getters['terminology/isLoading']('codeSystemItems'),
          loaded: this.$store.getters['terminology/isLoaded']('codeSystemItems'),
          editable: false,
          menu: false,
          items: this.$store.getters['terminology/codeSystemItems'] || [],
          key: 'uuid',
          text: (item) => item.versionLabel ? `${item.displayName} (${item.versionLabel})` : item.displayName,
          children: null
        }
      }
      // Dataset concepts
      if (this.artefact === 'DE') {
        return {
          artefact: 'DE',
          loading: this.loadingObjects,
          items: this.objects || [],
          menu: false,
          insertable: false,
          editable: false,
          expandable: true,
          key: 'navkey',
          text: 'name.#text',
          children: 'concept'
        }
      }
      // Implementation guides
      if (this.artefact === 'IG') {
        return {
          artefact: 'IG',
          loading: this.$store.getters['project/ig/isLoading']('implementationGuides'),
          menu: false,
          editable: false,
          insertable: false,
          expandable: false,
          items: this.$store.getters['project/ig/implementationGuides'] || [],
          key: 'id',
          text: (item, returnObject) => this.$filters.getMatchingTranslation({
            value: (item?.title || []).map((name) => ({
              ...name,
              '#text': item?.versionLabel
                ? `${name?.['#text']} (${item?.versionLabel})`
                : name?.['#text']
            })),
            selector: '#text',
            returnObject
          })
        }
      }
      return null
    },
    versionProp () {
      switch (this.artefact) {
        case 'VS':
          return 'valueSet'
        case 'CS':
          return 'codeSystem'
        case 'TM':
          return 'version'
        case 'MP':
          return 'conceptMap'
        default:
          return undefined
      }
    },
    watchDataForFilters () {
      if (this.artefact === 'TM') {
        return this.getTemplateStatuses
      }
      if (this.artefact === 'IS') {
        return this.getIssueStatuses
      }
      return this.getItemStatuses
    },
    watchDataForRefetch () {
      if (this.artefact === 'IS') {
        return [this.filters, this.search]
      }
      return false
    }
  },

  methods: {
    getArtefactForSave (obj) {
      if (this.artefact === 'QQ' && this.$filters.isQuestionnaireResponse(obj)) {
        return 'QR'
      }
      if (this.artefact === 'QQ' && obj.enhanced === 'true') {
        return 'QE'
      }

      return this.artefact
    },
    async getCS () {
      try {
        await this.$store.dispatch('terminology/getCodeSystemList', { prefix: this.projectInFocus?.prefix })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async getDE () {
      const { id, effectiveDate } = this.selectedDataset || {}
      try {
        const response = await DataSetService.getDataSetTree(id, effectiveDate)
        this.objects = response.data.concept || []
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async getDS () {
      try {
        await this.$store.dispatch('dataset/loadDatasetItems')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    getIcon (obj) {
      switch (this.artefact) {
        case 'CS':
          return 'mdi-format-list-bulleted-type'
        case 'DS':
          return this.$filters.getDatasetIcon(obj)
        case 'DE':
          return this.$filters.getDatasetIcon(obj)
        case 'SC':
          return this.$filters.getScenarioIcon(obj.type)
        case 'QQ':
          return this.$filters.getQuestionnaireIcon(obj)
        case 'QR':
          return this.$filters.getQuestionnaireIcon(obj)
        case 'TM':
          return 'mdi-recycle'
        case 'TR':
          return this.$filters.getScenarioIcon(obj.type)
        case 'VS':
          return 'mdi-heart'
      }
    },
    async getIG () {
      try {
        await this.$store.dispatch('project/ig/getImplementationGuideList')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async getIS () {
      const response = await IssueService.getIssueList({
        project: this.projectInFocus?.prefix,
        status: this.filters.filter(item => item.active).map(item => item.key).join(','),
        search: this.search,
        max: '75'
      })
      const issues = response.data.issue || []
      this.objects = issues.map(issue => ({ ...issue, uuid: this.getUuid() }))
    },
    async getObjects () {
      this.loadingObjects = true
      try {
        switch (this.artefact) {
          case 'CS':
            if (!this.$store.state.terminology.loaded.codeSystemItems) {
              await this.getCS()
            }
            break
          case 'DE':
            if (!this.$store.state.dataset.loaded.datasetItems) {
              this.loadingObjects = false
              await this.getDS()
            }
            break
          case 'DS':
            if (!this.$store.state.dataset.loaded.datasetItems) {
              await this.getDS()
            }
            break
          case 'IG':
            if (!this.$store.state.project.ig.loaded.implementationGuides) {
              await this.getIG()
            }
            break
          case 'IS':
            await this.getIS()
            break
          case 'TM':
            if (!this.$store.state.rule.template.loaded.templates) {
              await this.getTM()
            }
            break
          case 'QQ':
            if (!this.$store.state.questionnaire.loaded.questionnaires) {
              await this.getQQ()
            }
            break
          case 'QR':
            if (!this.$store.state.questionnaire.loaded.questionnaires) {
              await this.getQQ()
            }
            break
          case 'QE':
            if (!this.$store.state.questionnaire.loaded.questionnaires) {
              await this.getQQ()
            }
            break
          case 'SC':
            if (!this.$store.state.scenario.loaded.scenarioItems) {
              await this.getSC()
            }
            break
          case 'TR':
            if (!this.$store.state.scenario.loaded.scenarioItems) {
              await this.getSC()
            }
            break
          case 'VS':
            if (!this.$store.state.terminology.loaded.valueSet) {
              await this.getVS()
            }
            break
          case 'MP':
            if (!this.$store.state.terminology.loaded.conceptMapItems) {
              await this.getMP()
            }
            break
          default:
            this.$oops('Not implemented')
        }
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      } finally {
        this.loadingObjects = false
      }
    },
    getObjectsDebounced: debounce(function () {
      this.getObjects()
    }, 500),
    async getMP () {
      const conceptMaps = await this.$store.dispatch('terminology/getConceptMapList', { prefix: this.projectInFocus?.prefix })
      this.objects = conceptMaps || []
    },
    async getQQ () {
      const questionnaires = await this.$store.dispatch('questionnaire/getQuestionnaireList', {
        params: {
          prefix: this.projectInFocus?.prefix
        }
      })
      this.objects = questionnaires || []
    },
    async getSC () {
      try {
        await this.$store.dispatch('scenario/loadScenarioItems')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async getTM () {
      try {
        await this.$store.dispatch('rule/template/setTemplateList')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async getVS () {
      try {
        await this.$store.dispatch('terminology/getValueSetList', { resolveit: true })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }
    },
    handleSearch (search) {
      this.search = search || ''
    },
    async handleSelectDataset (dataset) {
      if (!dataset) {
        this.objects = []
        return
      }
      this.loadingObjects = true
      try {
        await this.getDE()
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.loadingObjects = false
    },
    save (selectedVersion) {
      const selectedObjects = Array.isArray(selectedVersion)
        ? selectedVersion
        : [selectedVersion]
      const objects = selectedObjects.map(obj => {
        return {
          id: obj.id || obj.ref,
          effectiveDate: obj.effectiveDate,
          type: this.getArtefactForSave(obj)
        }
      })
      this.$emit('add', objects)
    }
  },

  watch: {
    async value (isOpen) {
      if (isOpen) {
        await this.$nextTick()
        this.getObjects()
      } else {
        this.objects = []
        this.selectedDataset = null
        this.search = ''
      }
    },
    watchDataForFilters: {
      immediate: true,
      deep: true,
      handler (getItemStatuses) {
        let defaultActive
        switch (this.artefact) {
          case 'TM':
            defaultActive = ['active', 'draft', 'pending']
            break
          case 'IS':
            defaultActive = ['new', 'open', 'inprogress', 'feedback']
            break
          case 'CS':
            defaultActive = ['new', 'draft', 'pending', 'final', 'undefined']
            break
          default:
            defaultActive = ['new', 'draft', 'pending', 'final']
        }
        this.filters = getItemStatuses?.map(status => {
          const currentlyActive = this.filters?.find(filter => filter.key === status.value)?.active
          return {
            name: this.$filters.getMatchingTranslation({ value: status.label, locale: this.$i18n.locale }),
            key: status.value,
            active: currentlyActive !== undefined
              ? currentlyActive
              : defaultActive.includes(status.value)
          }
        }) || ['']
        const referenceFilterActive = this.filters.find(filter => filter.key === undefined)?.active
        this.filters.push({
          name: this.$t('none'),
          key: undefined,
          active: referenceFilterActive !== undefined
            ? referenceFilterActive
            : defaultActive.includes('undefined')
        })
      }
    },

    watchDataForRefetch: {
      deep: true,
      handler (data, prevdata) {
        if (data !== false && prevdata !== false) {
          this.objects = []
          this.getObjectsDebounced()
        }
      }
    }
  }

}
</script>
