<template>
  <v-dialog :value="value" width="600" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <!-- Property definition selection -->
            <v-col cols="12">
              <v-autocomplete
                v-model="modal.inputs.code"
                :label="$t('definition')"
                class="required"
                :items="propertyDefinitions"
                item-value="code"
                item-text="code"
                :rules="[v => !!v || $t('required-field')]"
                return-object
              >
                <template #item="{ item }">
                  {{ item.code }}
                  <v-chip class="ml-2" small >{{ item.type }}</v-chip>
                </template>
              </v-autocomplete>
            </v-col>

            <template v-if="selectedDefinitionType === 'Coding'">
              <v-col cols="6">
                <EditableString
                  v-model="modal.inputs.valueCoding.code"
                  :label="$t('code')"
                  required
                  :rules="rules.singleCodeValidation"
                />
              </v-col>
              <v-col cols="6">
                <EditableOID
                  v-model="modal.inputs.valueCoding.codeSystem"
                  :label="$t('codesystem')"
                />
              </v-col>
              <v-col>
                <EditableString
                  v-model="modal.inputs.valueCoding.canonicalUri"
                  :label="$t('canonicalUri')"
                />
              </v-col>
            </template>

            <template v-else-if="selectedDefinitionType === 'dateTime'">
              <v-col cols="6">
                <EditableDate
                  v-model="dateInput"
                  :label="$t('date')"
                  class="required"
                />
              </v-col>
              <v-col cols="6">
                <EditableTime
                  v-model="timeInput"
                  :label="$t('time')"
                  class="required"
                />
              </v-col>
            </template>

            <v-col v-else-if="selectedDefinitionType" cols="12">
              <component
                :is="valueComponent"
                v-model="modal.inputs.value"
                :label="valueComponentLabel"
                :rules="valueComponentRules"
                required
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton :type="selected ? 'save' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
import singleCodeValidation from '@/rules/singleCodeValidation'

const initialModal = {
  formIsValid: false,
  inputs: {
    uuid: null,
    value: null,
    code: null,
    valueCoding: {
      code: null,
      codeSystem: null,
      canonicalUri: null
    }
  }
}
export default {
  name: 'AddCodePropertyModal',
  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The selected property
    selected: {
      type: Object,
      required: false,
      default: null
    },
    // Property definitions defined on the code system.
    propertyDefinitions: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      rules: {
        singleCodeValidation
      }

    }
  },
  computed: {
    dateInput: {
      get () {
        return this.modal.inputs.value?.split('T')?.[0] || null
      },
      set (date) {
        this.modal.inputs.value = `${date}T${this.timeInput}`
      }
    },
    modalTitle () {
      const op = this.selected ? 'edit' : 'add'
      return this.$t(`${op}-code-property`)
    },
    selectedDefinitionType () {
      return this.modal.inputs.code?.type || null
    },
    timeInput: {
      get () {
        return this.modal.inputs.value?.split('T')?.[1] || null
      },
      set (time) {
        this.modal.inputs.value = `${this.dateInput}T${time}:00`
      }
    },
    valueComponent () {
      if (this.selectedDefinitionType === 'boolean') {
        return 'EditableSwitch'
      }
      // if (this.selectedDefinitionType === 'dateTime') {
      //   return 'EditableDateTime'
      // }
      if (this.selectedDefinitionType === 'integer') {
        return 'EditableCount'
      }
      if (this.selectedDefinitionType === 'decimal') {
        return 'EditableDecimal'
      }
      return 'EditableString'
    },
    valueComponentLabel () {
      return this.selectedDefinitionType === 'code' ? this.$t('code') : this.$t('value')
    },
    valueComponentRules () {
      return this.selectedDefinitionType === 'code' ? this.rules.singleCodeValidation : []
    }

  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    convertInputToApiFormat () {
      const newProperty = cloneDeep(this.modal.inputs)

      if (this.selectedDefinitionType !== 'Coding') {
        delete newProperty.valueCoding
        const valueProp = `value${this.selectedDefinitionType[0].toUpperCase() + this.selectedDefinitionType.substring(1)}`
        const key = this.selectedDefinitionType === 'code' ? 'code' : 'value' // valueCode uses a different key
        newProperty[valueProp] = [{ [key]: newProperty.value }]
      } else {
        newProperty.valueCoding = [newProperty.valueCoding]
      }

      delete newProperty.value
      newProperty.code = newProperty.code.code

      if (!newProperty.uuid) {
        newProperty.uuid = this.getUuid()
      }
      return newProperty
    },
    save () {
      if (!this.selectedDefinitionType) {
        return
      }
      const newProperty = this.convertInputToApiFormat()

      this.$emit('save', newProperty)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          if (this.$refs.form) {
            this.$refs.form.reset()
          }
          return
        }
        if (this.selected !== null) {
          this.modal.inputs.uuid = this.selected.uuid || null

          const code = this.propertyDefinitions.find(def => def.code === this.selected.code) || null
          this.modal.inputs.code = code

          if (Array.isArray(this.selected.valueCoding)) {
            this.modal.inputs.valueCoding.code = this.selected.valueCoding?.[0]?.code || null
            this.modal.inputs.valueCoding.codeSystem = this.selected.valueCoding?.[0]?.codeSystem || null
            this.modal.inputs.valueCoding.canonicalUri = this.selected.valueCoding?.[0]?.canonicalUri || null
          } else {
            // property name that holds the value could be valueCode, valueString, valueBoolean, etc.
            const valueProp = Object.keys(this.selected).find(key => /^value[A-Z][a-zA-Z]+$/.test(key))
            this.modal.inputs.value = this.selected[valueProp]?.[0]?.value || this.selected[valueProp]?.[0]?.code || null
          }
        }
      }
    },
    selectedDefinitionType (newVal, oldVal) {
      if (newVal === 'boolean' && this.modal.inputs.value === null) {
        this.modal.inputs.value = 'false'
        return
      }
      if (newVal === 'dateTime' && this.modal.inputs.value === null) {
        // set current date&time in format YYYY-MM-DDThh:mm:ss
        this.modal.inputs.value = new Date().toISOString().split('.')[0]
        return
      }
      if (oldVal) {
        this.modal.inputs.value = null
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
