<template>
  <v-dialog :value="value" width="600" persistent>
    <v-card>
      <AdCardTitle dialog>
        {{ modalTitle }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <!-- Code -->
            <v-col cols="12">
              <EditableShortFormalName v-model="modal.inputs.code" :label="$t('code')" :disabled="!!selected" required
                :additionalRules="rules.code" />
            </v-col>
            <!-- URI -->
            <v-col cols="12">
              <EditableURI v-model="modal.inputs.uri" :label="$t('uri')" />
            </v-col>
            <!-- type -->
            <v-col cols="12">
              <EditableDropdown v-model="modal.inputs.type" :items="codeSystemPropertyDefinitionType"
                :label="$t('type')" required />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal" />
        <AdButton :type="selected ? 'edit' : 'add'" :disabled="!modal.formIsValid" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: false,
  inputs: {
    code: null,
    uri: null,
    type: null
  }
}
export default {
  name: 'AddPropertyDefinitionModal',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The selected assertion
    selected: {
      type: Object,
      required: false,
      default: null
    },
    // Pass code names that are already in use for validation of the "code" input.
    // Format: ['code1', 'code2']
    codeNamesInUse: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      rules: {
        code: [
          v => this.selected ? true : !this.codeNamesInUse.includes(v) || this.$t('already-exists')
        ]
      }
    }
  },
  computed: {
    codeSystemPropertyDefinitionType () {
      return this.$store.getters['server/getDecorTypes']?.data?.CodedConceptPropertyDefinitionType?.[0]?.enumeration?.map(type => type.value)
    },
    modalTitle () {
      const op = this.selected ? 'edit' : 'add'
      return this.$t(`${op}-property-definition`)
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    save () {
      const newDefnition = cloneDeep(this.modal.inputs)
      this.$emit('save', newDefnition)
      this.closeModal()
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          if (this.$refs.form) {
            this.$refs.form.reset()
          }
          return
        }
        if (this.selected !== null) {
          this.modal.inputs.code = this.selected.code
          this.modal.inputs.type = this.selected.type
          this.modal.inputs.uri = this.selected.uri
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
