<template>
  <div id="associations-card">
    <PanelLoading
      :loading="$store.state.dataset.loading.activeItem && $store.state.dataset.loading.conceptItems && $store.state.dataset.loading.datasetItems" />

    <!-- Modals -->
    <AdAssociationAdd v-if="activeAssociationType" :showDialogBtn="addAssociationBtn"
      :associationTypesSupport="associationTypesSupport" @cancelAddAssociation="cancelAddConceptAssociation"
      @addAssociation="addConceptAssociation" :key="addAssociationBtn" :selectedAssociation="selectedAssociation" />

    <AdArtefactSelection v-if="artefactSelectionModal.tree" v-model="artefactSelectionModal.open"
      :tree="artefactSelectionModal.tree" :exclude="artefactSelectionModal.selected"
      :versionProperty="artefactSelectionModal.versionProp" :treeFilters="artefactSelectionModal.filters"
      :multiple="artefactSelectionModal.multiple" :treeSelectOnOpen="artefactSelectionModal.treeSelectOnOpen"
      :addButtonType="artefactSelectionModal.addButtonType"
      :noDynamicVersions="artefactSelectionModal.disableDynamicVersions"
      :title="artefactSelectionModal.title ? artefactSelectionModal.title : undefined"
      @selected="artefactSelectionModal.selectHandler" @unselect="artefactSelectionModal.unselectHandler"
      @close="resetArtefactSelectionModal">
      <template #title:append v-if="artefactSelectionModal.titleAppend.includes('createMenu')">
        <v-spacer />
        <v-menu offset-y>
          <template #activator="{ on, attrs }">
            <v-btn v-if="valueSetsAreEditable" v-bind="attrs" v-on="on" color="grey" small dark icon outlined>
              <v-icon> mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list>
            <AdButton type="inherit" :text="$t('new-valueset-ref')" :hint="$t('new-valueset-ref')" list-item
              @click="addValuesetModals.valuesetNewReference = true" />
            <AdButton type="add" :text="$t('add-valueset')" :hint="$t('add-valueset')" list-item
              @click="startAddNewValueset" />
            <AdButton type="clone" :text="$t('clone-valueset')" :hint="$t('clone-valueset')" list-item
              @click="addValuesetModals.valuesetClone = true" />
          </v-list>
        </v-menu>
      </template>

      <template #details.content:append="{ selectedVersion }"
        v-if="artefactSelectionModal.detailsAppend.includes('strength')">
        <v-autocomplete v-if="!selectedVersion.disabled" v-model="selectedVersion.strength"
          :label="$t('coding-strength')" :items="getCodingStrengthOptions(selectedVersion)" clearable />
      </template>
    </AdArtefactSelection>

    <IdentifierAssociationAdd :showDialog="addAssociationIdentifierBtn" @cancel="cancelAddIdentifierAssociation"
      @save="addIdentifierAssociation" :loading="identifierAssociationIsUpdating"
      :associations="identifierAssociations" />

    <ChoicesCodedConceptAssociationEditor :showDialog="addAssociationValueSetCodeBtn"
      :associatedValueSets="valueSetAssociations" :conceptItem="conceptItem"
      :pendingUpdate="valueSetCodeAssociationIsUpdating" @cancel="addAssociationValueSetCodeBtn = false"
      @createMapping="addValueSetCodeAssociation" @deleteMapping="removeValueSetCodeAssociation"
      @restoreMapping="restoreInheritedValueSetCodeAssociation" />

    <ValueSetClone :showDialog="addValuesetModals.valuesetClone" @cancel="addValuesetModals.valuesetClone = false"
      :autoSelect="false" />
    <ValueSetAddReference v-model="addValuesetModals.valuesetNewReference" :autoSelect="false" />

    <v-card v-if="activeItem">
      <div class="topbottomstrip d-flex flex-row align-center pr-4 backdrop-item" style="position:relative;">
        <div class="d-flex flex-column justify-center flex-grow-1">
          <v-slide-y-transition group leave-absolute>
            <AdCardTitle key="title" class="mb-0">
              {{ $filters.getMatchingTranslation({value: activeItem.name})}}
              <AdAssociationSpecificIcon v-if="transactionId" :transaction="true" />
            </AdCardTitle>
            <v-card-subtitle key="subtitle" class="subtitle-2 pt-1">
              <template v-if="tConceptId">{{ transactionName }}</template>
              <template v-else-if="!isDatasetItem">{{ datasetName }}</template>
            </v-card-subtitle>
          </v-slide-y-transition>
        </div>
      </div>

      <v-card-text>
        <PanelLoading
          :loading="$store.state.dataset.loading.activeItem || $store.state.scenario.loading.transactionItem" />

        <EditableArtefactDetailHeader v-if="showDetailHeader" :artefact="isDatasetItem ? 'Dataset' : 'DatasetConcept'"
          :item="activeItem" :locales="projectLocales" :readonly="true" :showMore.sync="metadataIsExpanded"
          :service="isDatasetItem ? 'dataset' : 'dataset-concept'" class="mb-5">
          <DatasetMetaInformation :value="conceptItem" :locales="projectLocales" :readonly="true"
            class="backdrop-item" />
        </EditableArtefactDetailHeader>

        <template v-if="conceptItem && !$store.state.dataset.loading.conceptItem">
          <AdInfoOwl v-if="hasWriteAccess && transactionId">
            {{ $t('associations-on-transaction-hint') }}
          </AdInfoOwl>

          <!-- Associations between Dataset Concepts and Coded Concepts-->
          <v-card v-if="showConceptAssociations" class="mb-5 elevation-1" outlined
            :loading="$store.state.dataset.loading.activeItem">
            <AdInfoOwl v-if="hasWriteAccess && !transactionId">
              {{ $t('add-terminology-association-1') }}
            </AdInfoOwl>

            <AdCardTitle inline>
              {{ $t('concept-associations') }}
              <template v-if="hasWriteAccess">
                <v-spacer></v-spacer>
                <AdButton v-if="conceptAssociationsAreRestorable" type="undo" :text="$t('restore')"
                  :hint="$t('restore-association')" small @click="restoreInheritedConceptAssociation" />
                <AdButton type="add" :text="$t('code')" small
                  @click="addConceptAssociationStart(tConceptId ? 'transactionConceptAssociation': 'conceptAssociation')"
                  :hint="$t('add-coded-concept')" />
                <AdButton type="add" :text="$t('search')" small
                  @click="startTerminologyBrowser(tConceptId ? 'transactionConceptAssociation': 'conceptAssociation')"
                  :hint="$t('terminology-browser')" />
              </template>
            </AdCardTitle>

            <v-card-text class="pa-0" v-if="conceptAssociations.length > 0">
              <v-data-table :items="conceptAssociations" :headers="headers('conceptAssociationHeaders')"
                :hide-default-footer="conceptAssociations.length <= 5"
                :footer-props="{ 'items-per-page-options': [5,10] }">
                <template #item.code="{ item }">
                  <div class="d-flex align-center" :class="conceptAssociationItemClass(item)">
                    {{ item.code }}
                    <AdAssociationSpecificIcon v-if="transactionId" :transaction="!!item.transactionId" small />
                  </div>
                </template>

                <template #item.displayName="{ item }">
                  <span :class="conceptAssociationItemClass(item)">{{ item.displayName }}</span>
                </template>

                <template #item.codeSystemName="{ item }">
                  <div :class="conceptAssociationItemClass(item)">
                    <template v-if="item.codeSystemName != null">{{item.codeSystemName}}</template>
                    <div v-else-if="item.codeSystem" class="d-flex align-center">
                      {{item.codeSystem}}
                      <v-tooltip bottom>
                        <template #activator="{ on, attrs }">
                          <v-icon class="ml-2" v-bind="attrs" v-on="on" color="primary" dark small>
                            mdi-alert
                          </v-icon>
                        </template>
                        <span>{{$t('codesystem-not-found')}}</span>
                      </v-tooltip>
                    </div>
                  </div>
                </template>

                <template #item.equivalence="{ item }">
                  <span :class="conceptAssociationItemClass(item)">{{ getEquivalenceLabel(item.equivalence) }}</span>
                </template>

                <template #item.actions="{ item }">
                  <AdSpeedDial v-if="hasWriteAccess && item.active !== 'false'" direction="left">
                    <AdSpeedOption
                      v-if="!item.active || !inheritsAssociationFromDatasetConcept(item)"
                      type="edit"
                      @click="editConceptAssociationStart(tConceptId ? 'transactionConceptAssociation': 'conceptAssociation', item)" />
                    <AdSpeedOption type="delete"
                      @click="shouldRestoreConceptAssociationsOnDelete(item) ? restoreInheritedConceptAssociation() : removeConceptAssociation(item)" />
                  </AdSpeedDial>
                </template>
              </v-data-table>
            </v-card-text>

            <AdInfoOwl v-else inset>
              {{ hasWriteAccess ? $t('add-first-association') : $t('no-associations-yet') }}
            </AdInfoOwl>
          </v-card>

          <!-- Associations between Choice Lists and Value Sets -->
          <v-card v-if="showValueSetAssociations" class="mb-5 elevation-1" outlined
            :loading="$store.state.dataset.loading.activeItem">
            <AdInfoOwl v-if="hasWriteAccess && !transactionId">
              {{ $t('add-terminology-association-2') }}
            </AdInfoOwl>

            <AdCardTitle inline>
              {{ $t('valueset-associations') }}
              <template v-if="hasWriteAccess">
                <v-spacer></v-spacer>
                <AdButton v-if="valueSetAssociationsAreRestorable" type="undo" :text="$t('restore')"
                  :hint="$t('restore-association')" small @click="restoreInheritedValueSetAssociation" />
                <AdButton type="add" small :hint="$t('add-valueset')"
                  @click="startAddValuesetAssociation({showCreateMenu: true})" />
              </template>
            </AdCardTitle>

            <v-card-text class="pa-0" v-if="valueSetAssociations.length > 0">
              <v-data-table :items="valueSetAssociations" :headers="headers('valueSetAssociationHeaders')"
                :hide-default-footer="valueSetAssociations.length <= 5"
                :footer-props="{ 'items-per-page-options': [5,10] }">
                <template #item.valueSetName="{ item }">
                  <div :class="conceptAssociationItemClass(item)">
                    <AdStatusDot v-if="item.valueSetStatusCode" :status="item.valueSetStatusCode" class="pr-2">
                    </AdStatusDot>
                    <AdButton v-if="item.valueSet && item.flexibility" link :to="getValueSetRouteObject(item)">
                      <span :style="item.active === 'false' ? { opacity: '0.6' } : {}"
                        :class="{'text-decoration-line-through': item.active === 'false'}">{{ item.valueSetName
                        }}</span>
                    </AdButton>
                    <template v-else>
                      {{ item.name }}
                    </template>
                    <AdAssociationSpecificIcon v-if="transactionId" :transaction="!!item.transactionId" small />
                  </div>
                </template>

                <template #item.valueSet="{ item }">
                  <span :class="conceptAssociationItemClass(item)">{{ item.valueSet }}</span>
                </template>

                <template #item.flexibility="{ item }">
                  <div v-if="item.flexibility" :class="conceptAssociationItemClass(item)">
                    {{ item.flexibility === 'dynamic' ? $t('dynamic') : $filters.formatDate(item.flexibility) }}
                  </div>
                </template>

                <template #item.strength="{ item }">
                  <span :class="conceptAssociationItemClass(item)">{{ getCodingStrengthLabel(item.strength) }}</span>
                </template>

                <template #item.actions="{ item }">
                  <AdSpeedDial v-if="hasWriteAccess && item.active !== 'false'" direction="left">
                    <AdSpeedOption
                      v-if="!item.active || !inheritsAssociationFromDatasetConcept(item)"
                      type="edit" @click="startAddValuesetAssociation({ selectOnOpen: onOpenObject(item) })" />
                    <AdSpeedOption type="delete"
                      @click="shouldRestoreValuesetAssociationsOnDelete(item) ? restoreInheritedValueSetAssociation() : removeValuesetAssociation(item)" />
                  </AdSpeedDial>
                </template>
              </v-data-table>
            </v-card-text>

            <AdInfoOwl v-else inset>
              {{ hasWriteAccess ? $t('add-first-association') : $t('no-associations-yet') }}
            </AdInfoOwl>
          </v-card>

          <!-- Associations between Choice List Elements and Codes in a Value Set  -->
          <v-card v-if="showValueSetCodeAssociations" class="mb-5 elevation-1" outlined
            :loading="$store.state.dataset.loading.activeItem">
            <AdInfoOwl v-if="hasWriteAccess && !transactionId">
              {{ $t('add-terminology-association-3') }}
              <span v-if="valueSetAssociations.length === 0">{{ $t('add-terminology-association-4') }}</span>
            </AdInfoOwl>

            <AdCardTitle inline>
              {{ $t('conceptlist-concept-associations') }}
              <template v-if="hasWriteAccess">
                <v-spacer></v-spacer>
                <AdButton type="association" small :disabled="valueSetAssociations.length === 0"
                  @click="addAssociationValueSetCodeBtn = true" :hint="$t('add-choices-coded-concept-associations')" />
              </template>
            </AdCardTitle>

            <v-card-text class="pa-0">
              <ChoicesAssociationsTable v-if="conceptList.length > 0" :conceptList="conceptList" disableDropzone
                @createMapping="addValueSetCodeAssociation" @deleteMapping="removeValueSetCodeAssociation"
                @restoreMapping="restoreInheritedValueSetCodeAssociation" />

              <AdInfoOwl v-else inset>
                {{ hasWriteAccess ? $t('add-first-association') : $t('no-associations-yet') }}
              </AdInfoOwl>
            </v-card-text>
          </v-card>

          <!-- Associations between Dataset Concepts and Identifiers -->
          <v-card v-if="showIdentifierAssociations" class="mb-5 elevation-1" outlined
            :loading="$store.state.dataset.loading.activeItem">
            <AdInfoOwl v-if="hasWriteAccess && !transactionId">
              {{ $t('add-identifier-association-4') }}
            </AdInfoOwl>

            <AdCardTitle inline>
              {{ $t('identifier-associations') }}
              <template v-if="hasWriteAccess">
                <v-spacer></v-spacer>
                <AdButton v-if="identifierAssociationsAreRestorable" type="undo" :text="$t('restore')"
                  :hint="$t('restore-association')" small @click="restoreInheritedIdentifierAssociation" />
                <AdButton type="association" small @click="addAssociationIdentifierBtn = true" />
              </template>
            </AdCardTitle>

            <v-card-text v-if="identifierAssociations.length" class="pa-0">
              <v-data-table :items="identifierAssociations" :headers="identifierAssociationHeaders" dense
                :footer-props="{ 'items-per-page-options': [5, 10] }" :items-per-page="5"
                :hide-default-footer="identifierAssociations.length <= 5">
                <template #item.ref="{ item }">
                  <div class="d-flex align-center" :class="conceptAssociationItemClass(item)">
                    {{ item.ref }}
                    <AdAssociationSpecificIcon v-if="transactionId" :transaction="!!item.transactionId" small />
                  </div>
                </template>

                <template #item.refdisplay="{ item }">
                  <span :class="conceptAssociationItemClass(item)">{{ item.refdisplay }}</span>
                </template>

                <template #item.actions="{ item }">
                  <AdSpeedDial v-if="hasWriteAccess && item.active !== 'false'" direction="left">
                    <AdSpeedOption type="delete" @click="removeIdentifierAssociation(item)" />
                  </AdSpeedDial>
                </template>
              </v-data-table>
            </v-card-text>

            <AdInfoOwl v-else inset>
              {{ hasWriteAccess ? $t('add-first-association') : $t('no-associations-yet') }}
            </AdInfoOwl>
          </v-card>

          <UsageSection :key="`usage-section-${activeItem.navkey}`" :expanded.sync="usageSectionIsExpanded"
            :objectId="activeItem.id" :objectEffectiveDate="activeItem.effectiveDate"
            action="dataset/getConceptUsage" />
          <HistorySection :key="`history-section-${activeItem.navkey}`" :expanded.sync="historySectionIsExpanded"
            :objectId="activeItem.id" :objectEffectiveDate="activeItem.effectiveDate" artefact="DE" />
          <CommunitySection v-if="conceptItem" :item="conceptItem" />
        </template>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { isCancel } from 'axios'
import { isEmpty } from 'lodash'

import AdAssociationAdd from '@/components/Utilities/AdAssociationAdd'
import AdAssociationSpecificIcon from '@/components/Utilities/AdAssociationSpecificIcon'
import ChoicesCodedConceptAssociationEditor from '@/components/Terminology/ChoicesCodedConceptAssociationEditor'
import ChoicesAssociationsTable from '@/components/Terminology/ChoicesAssociationsTable'
import DatasetMetaInformation from '@/components/Dataset/DatasetMetaInformation'
import EditableArtefactDetailHeader from '@/components/Utilities/Editable/EditableStructure/EditableArtefactDetailHeader'
import IdentifierAssociationAdd from '@/components/Terminology/IdentifierAssociationAdd'
import ValueSetClone from '@/components/Terminology/ValueSetClone'
import ValueSetAddReference from '@/components/Terminology/ValueSetAddReference'
import AdArtefactSelection from '@/components/Utilities/AdArtefactSelection'
import UsageSection from '@/components/Utilities/UsageSection'
import HistorySection from '@/components/Utilities/HistorySection'
import CommunitySection from '@/components/Utilities/CommunitySection'

export default {
  name: 'AssociationsDetailsCard',
  components: {
    AdArtefactSelection,
    AdAssociationAdd,
    AdAssociationSpecificIcon,
    CommunitySection,
    ChoicesCodedConceptAssociationEditor,
    ChoicesAssociationsTable,
    DatasetMetaInformation,
    EditableArtefactDetailHeader,
    HistorySection,
    IdentifierAssociationAdd,
    UsageSection,
    ValueSetClone,
    ValueSetAddReference
  },
  props: {
    // Props on route for datasets: datasetId, datasetVersion, conceptId, conceptVersion
    datasetId: {
      type: String
    },
    datasetVersion: {
      type: String
    },
    conceptId: {
      type: String
    },
    conceptVersion: {
      type: String
    },
    // Props on route for scenarios: transactionId, transactionVersion, tConceptId, tConceptVersion
    transactionId: {
      type: String
    },
    transactionVersion: {
      type: String
    },
    tConceptId: {
      type: String
    },
    tConceptVersion: {
      type: String
    }
  },
  data () {
    return {
      addAssociationBtn: false,
      addAssociationIdentifierBtn: false,
      addAssociationSearchBtn: false,
      addAssociationValueSetBtn: false,
      addAssociationValueSetCodeBtn: false,
      artefactSelectionModal: {
        addButtonType: null,
        title: null,
        open: false,
        selected: null,
        disableDynamicVersions: false,
        tree: null,
        multiple: false,
        selectHandler: null,
        filters: [],
        titleAppend: [],
        detailsAppend: [],
        treeSelectOnOpen: null,
        items: []
      },
      addValuesetModals: {
        valuesetClone: false,
        valuesetNewReference: false
      },
      associationTypesSupport: ['conceptAssociation', 'transactionConceptAssociation'],
      identifierAssociationIsUpdating: false,
      selectedAssociation: null,
      valueSetAssociationIsUpdating: false,
      valueSetCodeAssociationIsUpdating: false
    }
  },
  computed: {
    ...mapGetters('dataset', ['conceptItem', 'datasetItem', 'conceptItems', 'datasetItems', 'activeAssociationType']),
    ...mapGetters('server', ['getDecorTypes', 'getItemStatuses']),
    ...mapGetters({ valueSetsAreEditable: ['terminology/valueSetsAreEditable'] }),

    abortController: {
      get () {
        return type => this.$store.getters['dataset/abortController'](type)
      },
      set (value) {
        this.$store.commit('dataset/setAbortController', value)
      }
    },
    shouldRestoreConceptAssociationsOnDelete () {
      return item => (
        !!item.active &&
        !!item.transactionId &&
        this.numberOfConceptAssociationOverwrites === 1 &&
        this.numberOfConceptAssociationsDefinedInOriginalDataset === 0
      )
    },
    shouldRestoreValuesetAssociationsOnDelete () {
      return item => (
        !!item.active &&
        !!item.transactionId &&
        this.numberOfValuesetAssociationOverwrites === 1 &&
        this.numberOfValuesetAssociationsDefinedInOriginalDataset === 0
      )
    },
    activeItem () {
      if (this.$route.name.includes('terminology-associations-data-set')) {
        return this.$store.state.dataset.activeItem
      }
      if (this.$route.name.includes('terminology-associations-transaction')) {
        return this.$store.state.scenario.activeItem
      }
      return null
    },
    codingStrengthOptions () {
      return this.$store.getters['server/getDecorTypes']?.data?.CodingStrengthType?.[0]?.enumeration?.map(cst => {
        return {
          text: this.$filters.getMatchingTranslation({ value: cst.label, locale: this.$i18n.locale }),
          value: cst.value,
          disabled: ['CNE', 'CWE'].includes(cst.value),
          hint: this.$filters.getMatchingTranslation({ value: cst.hint, locale: this.$i18n.locale })
        }
      }) || []
    },
    conceptAssociationHeaders () {
      return [
        { text: this.$t('code'), value: 'code', sortable: true },
        { text: this.$t('display-name'), value: 'displayName', sortable: true },
        { text: this.$t('codesystem'), value: 'codeSystemName', sortable: true },
        { text: this.$t('association-equivalence'), value: 'equivalence', sortable: true },
        { value: 'actions', width: '15%', align: 'right', sortable: false, condition: 'userIsEditor' } // condition is a custom property
      ]
    },
    conceptAssociationItemClass () {
      return item => item.active === 'false' ? 'text--disabled text-decoration-line-through' : ''
    },
    conceptAssociations () {
      const activeTransactionAssociations = this.conceptItem?.terminologyAssociation
        ?.filter(ass => ass.code && ass.active === 'true') || []

      return this.conceptItem?.terminologyAssociation?.filter(ass => ass.code && (
        ass.active !== 'false' ||
            !activeTransactionAssociations.some(actAss => actAss.code === ass.code && actAss.flexibility === ass.flexibility)
      )) || []
    },
    conceptItemName () {
      return this.$filters.getMatchingTranslation({
        value: this.activeItem?.name,
        returnObject: true
      })?.['#text']
    },
    conceptList () {
      return this.conceptItem?.valueDomain?.[0]?.conceptList?.[0]?.concept || []
    },
    decorTypes () {
      return this.getDecorTypes?.data
    },
    inheritsAssociationFromDatasetConcept () {
      return item => item.active === 'true' && !item.transactionId
    },
    isDatasetItem () {
      return this.datasetItem?.id === this.activeItem?.id
    },
    isTransactionItem () {
      return this.$store.state.scenario.transactionItem?.id === this.activeItem?.id
    },
    numberOfConceptAssociationOverwrites () {
      return this.conceptItem?.terminologyAssociation
        ?.filter(ass => ass.code && ass.active === 'true' && ass.transactionId)
        ?.length ?? 0
    },
    numberOfConceptAssociationsDefinedInOriginalDataset () {
      return this.conceptItem?.terminologyAssociation
        ?.filter(ass => ass.code && !ass.transactionId)
        ?.length ?? 0
    },
    numberOfValuesetAssociationsDefinedInOriginalDataset () {
      return this.conceptItem?.valueDomain?.[0]?.conceptList?.[0]?.terminologyAssociation
        ?.filter(ass => ass.code && !ass.transactionId)
        ?.length ?? 0
    },
    numberOfValuesetAssociationOverwrites () {
      return this.conceptItem?.valueDomain?.[0]?.conceptList?.[0]?.terminologyAssociation
        ?.filter(ass => ass.valueSet && ass.active === 'true' && ass.transactionId)
        ?.length ?? 0
    },
    datasetName () {
      return this.$filters.getMatchingTranslation({
        value: this.datasetItem?.name,
        returnObject: true
      })?.selectorName
    },
    getCodingStrengthLabel () {
      return strength => {
        const match = this.decorTypes?.CodingStrengthType?.[0]?.enumeration?.find((s) => s.value === strength)
        return match
          ? this.$filters.getMatchingTranslation({ value: match.label, locale: this.$i18n.locale })
          : strength
      }
    },
    getEquivalenceLabel () {
      return equivalence => {
        const match = this.decorTypes?.EquivalencyType?.[0]?.enumeration?.find((e) => e.value === equivalence)
        return match
          ? this.$filters.getMatchingTranslation({ value: match.label, locale: this.$i18n.locale })
          : equivalence
      }
    },
    hasWriteAccess () {
      return this.userIsEditor &&
      (!this.activeItem?.inherit || !!this.transactionId) && // Dont allow editing of inherited items, unless it is on transaction level
      this.serverFeature({ path: 'decor.terminology.mappings', crudAction: 'write' })
    },
    headers () {
      return headers => this[headers]?.filter((h) => !h.condition || this[h.condition]) || []
    },
    identifierAssociationHeaders () {
      return [
        { value: 'ref', text: this.$t('id') },
        { value: 'refdisplay', text: this.$t('display-name') },
        { value: 'actions', align: 'right', sortable: false }
      ]
    },
    identifierAssociations () {
      const activeTransactionAssociations = this.conceptItem?.identifierAssociation?.filter(ass => ass.ref && ass.active === 'true') || []

      return this.conceptItem?.identifierAssociation?.filter(ass => ass.ref && (
        ass.active !== 'false' ||
            !activeTransactionAssociations.some(actAss => actAss.ref === ass.ref && actAss.flexibility === ass.flexibility)
      )) || []
    },
    metadataIsExpanded: {
      get () {
        const module = this.isTransactionItem ? 'scenario' : 'dataset'
        return this.$store.state[module].expandedSections.metadata
      },
      set (value) {
        const module = this.isTransactionItem ? 'scenario' : 'dataset'
        this.$store.commit(`${module}/setExpandedSection`, { section: 'metadata', value })
      }
    },
    usageSectionIsExpanded: {
      get () {
        return this.$store.state.dataset.expandedSections.usageSection
      },
      set (value) {
        this.$store.commit('dataset/setExpandedSection', { section: 'usageSection', value })
      }
    },
    historySectionIsExpanded: {
      get () {
        return this.$store.state.dataset.expandedSections.historySection
      },
      set (value) {
        this.$store.commit('dataset/setExpandedSection', { section: 'historySection', value })
      }
    },
    onOpenObject () {
      return item => {
        const onOpen = {
          tree: { id: item.valueSet },
          version: { [item.flexibility === 'dynamic' ? 'flexibility' : 'effectiveDate']: item.flexibility }
        }

        if (item.flexibility !== 'dynamic') {
          onOpen.version.flexibility = undefined // Make sure the correct version will be selected
        }
        return onOpen
      }
    },
    showConceptAssociations () {
      return (
        (this.conceptId != null && this.conceptVersion != null) ||
       (this.tConceptId != null && this.tConceptVersion != null)
      ) && this.activeItem
    },
    showDetailHeader () {
      return !this.$store.state.dataset.loading.activeItem && !this.$store.state.scenario.loading.activeItem
    },
    showIdentifierAssociations () {
      return (
        ((this.conceptId != null && this.conceptVersion != null) ||
        (this.tConceptId != null && this.tConceptVersion != null)) &&
        this.activeItem?.type === 'item' &&
        ['identifier'].includes(this.conceptItem.valueDomain?.[0]?.type)
      )
    },
    showValueSetAssociations () {
      return (
        ((this.conceptId != null && this.conceptVersion != null) ||
        (this.tConceptId != null && this.tConceptVersion != null)) &&
        this.activeItem?.type === 'item' &&
        this.conceptItem?.valueDomain?.[0] &&
        ['code', 'ordinal'].includes(this.conceptItem.valueDomain[0].type)
      )
    },
    showValueSetCodeAssociations  () {
      return (
        ((this.conceptId != null && this.conceptVersion != null) ||
        (this.tConceptId != null && this.tConceptVersion != null)) &&
        this.activeItem?.type === 'item' &&
        this.conceptItem?.valueDomain?.[0] &&
        ['code', 'ordinal'].includes(this.conceptItem.valueDomain[0].type)
      )
    },
    transactionName () {
      const activeTransaction = this.$filters.listHelper.findItemInList({
        items: this.$store.state.scenario.scenarioItems || [],
        children: 'transaction',
        handler: match => match.id === this.transactionId && match.effectiveDate === this.transactionVersion
      })
      if (activeTransaction) {
        return `${this.$filters.getMatchingTranslation({ value: activeTransaction.name })} (${activeTransaction.versionLabel || this.$filters.formatDateShort(activeTransaction.effectiveDate)})`
      }
      return this.$t('transaction-specific')
    },
    treeValuesets () {
      return {
        artefact: 'VS',
        name: this.$t('valuesets'),
        icon: 'mdi-heart',
        loading: this.$store.state.terminology.loading.valueSet,
        loaded: this.$store.state.terminology.loaded.valueSet,
        menu: false,
        insertable: false,
        editable: false,
        items: this.artefactSelectionModal.items,
        key: 'uuid',
        text: (item) => item.versionLabel ? `${item.displayName} (${item.versionLabel})` : item.displayName,
        children: null
      }
    },
    valueSetAssociationHeaders () {
      return [
        { text: this.$t('name'), value: 'valueSetName', sortable: true, hidden: true },
        { text: this.$t('id'), value: 'valueSet', sortable: false },
        { text: this.$t('flexibility'), value: 'flexibility', sortable: true },
        { text: this.$t('coding-strength'), value: 'strength', sortable: true },
        { value: 'actions', align: 'right', width: '15%', sortable: false, condition: 'userIsEditor' } // condition is a custom property
      ]
    },
    valueSetAssociations () {
      const activeTransactionAssociations = this.conceptItem?.valueDomain?.[0]?.conceptList?.[0]?.terminologyAssociation
        ?.filter(ass => ass.valueSet && ass.active === 'true') || []

      return this.conceptItem?.valueDomain?.[0]?.conceptList?.[0]?.terminologyAssociation
        ?.filter(ass => ass.valueSet && (
          ass.active !== 'false' ||
            !activeTransactionAssociations.some(actAss => actAss.valueSet === ass.valueSet && actAss.flexibility === ass.flexibility)
        )
        ) || []
    },
    conceptAssociationsAreRestorable () {
      return this.conceptAssociations.some(ass => ass.active === 'false' || !!ass.transactionId)
    },
    valueSetAssociationsAreRestorable () {
      return this.valueSetAssociations.some(ass => ass.active === 'false' || !!ass.transactionId)
    },
    identifierAssociationsAreRestorable () {
      return this.identifierAssociations.some(ass => ass.active === 'false' || !!ass.transactionId)
    },
    watchDataForValueSetFilters () {
      return [this.getItemStatuses, this.$i18n.locale]
    }
  },

  methods: {
    async addConceptAssociation (association, notification = 'submission-insert-success-label') {
      const params = {
        transactionId: this.transactionId || null,
        transactionEffectiveDate: this.transactionVersion || null
      }

      try {
        await this.$store.dispatch('dataset/addAssociationToConcept', { association, params })
        this.cancelAddConceptAssociation()
        this.$notify(this.$t(notification), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
    },
    addConceptAssociationStart (associationType) {
      return this.$store.dispatch('dataset/changeActiveAssociationType', associationType)
        .then(() => {
          this.addAssociationBtn = true
        })
    },
    async addIdentifierAssociation (associations, notification = 'submission-insert-success-label') {
      const params = {
        transactionId: this.transactionId,
        transactionEffectiveDate: this.transactionVersion
      }

      this.identifierAssociationIsUpdating = true

      try {
        await this.$store.dispatch('dataset/addIdentifierAssociationToConcept', { associations, params })
        this.cancelAddIdentifierAssociation()
        this.$notify(this.$t(notification), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }

      this.identifierAssociationIsUpdating = false
    },
    async addValueSetAssociation (valueSet, notification = 'submission-insert-success-label') {
      const association = !isEmpty(valueSet)
        ? {
            valueSet: valueSet.id || valueSet.ref || null,
            flexibility: valueSet.flexibility === 'dynamic' ? 'dynamic' : valueSet.effectiveDate,
            valueSetName: valueSet.name
          }
        : {}
      if (valueSet.strength) {
        association.strength = valueSet.strength
      }

      const params = {
        transactionId: this.transactionId,
        transactionEffectiveDate: this.transactionVersion
      }

      this.valueSetAssociationIsUpdating = true

      try {
        await this.$store.dispatch('dataset/addValueSetAssociationToConcept', { association, params })
        this.cancelAddValuesetAssociation()
        this.$notify(this.$t(notification), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
        this.$oops(errorMessage)
      }

      this.valueSetAssociationIsUpdating = false
    },
    async addValueSetCodeAssociation ({ item, codedConcept }, notification = 'submission-insert-success-label') {
      const association = { ...codedConcept, conceptId: item.id }
      const params = {
        transactionId: this.transactionId,
        transactionEffectiveDate: this.transactionVersion
      }
      this.valueSetCodeAssociationIsUpdating = true

      try {
        await this.$store.dispatch('dataset/addvalueSetCodeAssociationToConcept', { association, params })
        this.$notify(this.$t(notification), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }

      this.valueSetCodeAssociationIsUpdating = false
    },
    cancelAddConceptAssociation () {
      return this.$store.dispatch('dataset/changeActiveAssociationType', null)
        .then(() => {
          this.addAssociationBtn = false
          this.selectedAssociation = null
        })
    },
    cancelAddValuesetAssociation () {
      this.addAssociationValueSetBtn = false
      this.selectedAssociation = null
    },
    cancelAddIdentifierAssociation () {
      this.addAssociationIdentifierBtn = false
    },
    cleanUpBasedOnRouteName (to, from) {
      if (to.name === 'terminology-associations') {
        if (from.name.includes('terminology-associations-data-set')) {
          this.$store.commit('dataset/setActiveItem', null)
          this.$store.commit('dataset/setDatasetItem', null)
          this.$store.commit('dataset/setConceptItems', null)
          this.$store.commit('dataset/setConceptItem', null)
          this.$store.commit('dataset/setLoaded', { key: 'conceptItems', status: false })
        } else if (from.name.includes('terminology-associations-transaction')) {
          this.$store.commit('scenario/setActiveItem', null)
          this.$store.commit('scenario/setTransactionItem', null)
          this.$store.commit('scenario/setTransactionItemConcepts', null)
        }
        return
      }
      if (to.name === 'terminology-associations-data-set') {
        this.$store.commit('dataset/setConceptItem', null)
        this.$store.commit('scenario/setActiveItem', null)
        this.$store.commit('dataset/setActiveItem', this.$store.getters['dataset/datasetItem'])
        return
      }
      if (to.name === 'terminology-associations-transaction') {
        this.$store.commit('dataset/setConceptItem', null)
        this.$store.commit('dataset/setActiveItem', null)
        this.$store.commit('scenario/setActiveItem', this.$store.state.scenario.transactionItem)
        return
      }
      if (to.name === 'terminology-associations-data-set-concept') {
        this.$store.commit('dataset/setConceptItem', null)
        this.$store.commit('scenario/setActiveItem', null)
        return
      }
      if (to.name === 'terminology-associations-transaction-concepts') {
        this.$store.commit('dataset/setConceptItem', null)
        this.$store.commit('dataset/setActiveItem', null)
      }
    },
    editConceptAssociationStart (associationType, association) {
      return this.$store.dispatch('dataset/changeActiveAssociationType', associationType)
        .then(() => {
          this.selectedAssociation = association
          this.addAssociationBtn = true
        })
    },
    editValuesetAssociationStart (association) {
      this.selectedAssociation = association
      this.addAssociationValueSetBtn = true
    },
    excludePresentValueSetsFilter (vs) {
      const presentValueSets = this.valueSetAssociations.map(item => item.valueSet)
      return !presentValueSets.includes(vs.id || vs.ref)
    },
    async fetchDataBasedOnRoute (to, from, next) {
      // Get params from route object
      const {
        datasetId,
        datasetVersion,
        transactionId, transactionVersion,
        conceptId, conceptVersion,
        tConceptId, tConceptVersion
      } = to.params

      try {
      // Check if the datasetItems and scenarioItems are fetched. Always fetch if not present.
        const requiredPromises = []
        if (!this.$store.state.dataset.loaded.datasetItems) {
          if (datasetId && datasetVersion) {
            requiredPromises.push(this.$store.dispatch('dataset/loadDatasetItems'))
          } else {
            this.$store.dispatch('dataset/loadDatasetItems')
          }
        }
        if (!this.$store.state.scenario.scenarioItems?.length) {
          if (transactionId && transactionVersion) {
            requiredPromises.push(this.$store.dispatch('scenario/loadScenarioItems'))
          } else {
            this.$store.dispatch('scenario/loadScenarioItems')
          }
        }
        await Promise.allSettled(requiredPromises)
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }

      // Store references
      const datasetItems = this.$store.state.dataset.datasetItems

      // Id and effectiveDate of the currently fetched dataset or transaction
      const currentTopId = this.$route.name.includes('terminology-associations-transaction')
        ? this.$store.state.scenario.transactionItem?.id
        : this.$store.state.dataset.datasetItem?.id
      const currentTopEffectiveDate = this.$route.name.includes('terminology-associations-transaction')
        ? this.$store.state.scenario.transactionItem?.effectiveDate
        : this.$store.state.dataset.datasetItem?.effectiveDate

      // Check if the route params match with the currently fetched dataset or transaction. If not, the data will be fetched later on
      const topLevelDataFetched = !!(
        currentTopId &&
        currentTopEffectiveDate && (
          (
            datasetId === currentTopId &&
          datasetVersion === currentTopEffectiveDate &&
          this.$store.state.dataset.conceptItems?.length &&
          !to.params.forceGetConceptList
          ) ||
          (
            transactionId === currentTopId &&
            transactionVersion === currentTopEffectiveDate &&
            this.$store.state.scenario.transactionItemConcepts?.length &&
            !to.params.forceGetTransaction
          )
        )
      )

      // If only top-level data is needed and it is already fetched, stop here.
      if (['terminology-associations-data-set', 'terminology-associations-transaction'].includes(to.name) && topLevelDataFetched) {
        return next()
      }

      // Handle routes for dataset related mappings
      if (datasetId && datasetVersion) {
      // General lookups and checks
        const matchingDataset = this.$filters.listHelper.findItemInList({
          items: datasetItems,
          children: 'item',
          handler: (match) => match.id === datasetId && match.effectiveDate === datasetVersion
        })
        if (!matchingDataset) {
          this.$store.commit('dataset/setDatasetItem', null)
          this.$store.commit('dataset/setConceptItems', null)
          this.$store.commit('dataset/setActiveItem', null)

          this.$oops(this.$t('dataset-not-found'))
          return next()
        }

        // Set the datasetItem
        this.$store.commit('dataset/setDatasetItem', matchingDataset)
        if (to.name === 'terminology-associations-data-set') {
          this.$store.commit('dataset/setActiveItem', matchingDataset)
        }

        if (!topLevelDataFetched) {
          // Fetch concept Items
          try {
            await this.$store.dispatch('dataset/loadConceptItems', { item: matchingDataset })
          } catch (error) {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
            this.$oops(errorMessage)
          }
        }

        if (conceptId && conceptVersion) {
          const matchingConcept = this.$filters.listHelper.findItemInList({
            items: this.$store.state.dataset.conceptItems || [],
            children: 'concept',
            handler: (match) => match.id === conceptId && match.effectiveDate === conceptVersion
          })

          if (!matchingConcept) {
            this.$store.commit('dataset/setConceptItem', null)
            this.$store.commit('dataset/setActiveItem', null)
            this.$oops(this.$t('concepts-not-found'))
            return next()
          }

          const activeItemInStore = this.$store.getters['dataset/activeItem']
          if (!activeItemInStore || matchingConcept.id !== activeItemInStore.id || matchingConcept.effectiveDate !== activeItemInStore.effectiveDate) {
            this.$store.commit('dataset/setActiveItem', matchingConcept)
          }

          // Abort pending request
          if (this.abortController('concept')) {
            this.abortController('concept').abort('New concept selected')
          }

          // Set up abortController
          this.abortController = { type: 'concept', value: new AbortController() }

          try {
            await this.$store.dispatch('dataset/loadConceptItem', {
              activeItem: { id: conceptId, effectiveDate: conceptVersion },
              associations: true,
              abortController: this.abortController('concept')
            }).then(() => {
              this.abortController = { type: 'concept', value: null }
            })
          } catch (error) {
            if (!isCancel(error)) {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
              this.$oops(errorMessage)
            }
          }
        }
        return next()
      }

      // Handle routes for transaction related mappings
      if (transactionId && transactionVersion) {
      // General lookups and checks
        const associatedScenario = this.$filters.listHelper.getRootElementFromListItem({
          items: this.$store.state.scenario.scenarioItems,
          children: 'transaction',
          handler: match => match.id === transactionId && match.effectiveDate === transactionVersion
        })

        if (!associatedScenario) {
          this.$store.commit('scenario/setScenarioItem', null)
          this.$store.commit('scenario/setActiveItem', null)
          this.$store.commit('scenario/setTransactionItem', null)
          this.$store.commit('scenario/setTransactionItemConcepts', null)
          this.$oops(this.$t('transaction-not-found'))

          return next()
        }
        this.$store.commit('scenario/setScenarioItem', associatedScenario)

        const matchingTransaction = this.$filters.listHelper.findItemInList({
          items: [associatedScenario],
          children: 'transaction',
          handler: match => match.id === transactionId && match.effectiveDate === transactionVersion
        })

        if (!matchingTransaction) {
          this.$store.commit('scenario/setTransactionItem', null)
          this.$store.commit('scenario/setActiveItem', null)
          this.$store.commit('scenario/setTransactionItemConcepts', null)
          this.$oops(this.$t('transaction-not-found'))
          return next()
        }
        this.$store.commit('scenario/setTransactionItem', matchingTransaction)
        if (to.name === 'terminology-associations-transaction') {
          this.$store.commit('scenario/setActiveItem', matchingTransaction)
        }

        if (!topLevelDataFetched) {
        // Fetch transaction with concept items
          try {
            await this.$store.dispatch('scenario/getTransaction', { item: matchingTransaction, params: { fulltree: false }, setTransactionItem: false })
          } catch (error) {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
            this.$oops(errorMessage)
          }
        }

        if (tConceptId && tConceptVersion) {
          const matchingConcept = this.$filters.listHelper.findItemInList({
            items: this.$store.state.scenario.transactionItemConcepts || [],
            children: 'concept',
            handler: match => match.id === tConceptId && match.effectiveDate === tConceptVersion
          })

          if (!matchingConcept) {
            this.$store.commit('scenario/setActiveItem', null)
            this.$oops(this.$t('concept-not-found'))
            return next()
          }

          // Abort pending request
          if (this.abortController('concept')) {
            this.abortController('concept').abort('New concept selected')
          }

          // Set up abortController
          this.abortController = { type: 'concept', value: new AbortController() }

          // The bottom level data (dataset concept in the context of transaction) should always be fetched
          try {
            // load concept item in transaction context
            await this.$store.dispatch('dataset/loadConceptItem', {
              activeItem: { id: tConceptId, effectiveDate: tConceptVersion },
              associations: true,
              params: {
                transactionId: this.$store.state.scenario.transactionItem?.id,
                transactionEffectiveDate: this.$store.state.scenario.transactionItem?.effectiveDate
              },
              abortController: this.abortController('concept')
            }).then(() => {
              this.abortController = { type: 'concept', value: null }
            })
          } catch (error) {
            if (!isCancel(error)) {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
              this.$oops(errorMessage)
            }
          }

          this.$store.commit('dataset/setActiveItem', null)

          if (!this.$store.state.scenario.activeItem) {
            const conceptToSelect = tConceptId && tConceptVersion
              ? { id: tConceptId, effectiveDate: tConceptVersion, navkey: matchingConcept.navkey }
              : null
            this.$store.commit('scenario/setActiveItem', conceptToSelect)
          }

          return next()
        }
      }

      // Fallback
      return next()
    },
    getCodingStrengthOptions (item) {
      // CWE and CNE are deprecated values. They should not be selectable.
      // They are only added to the list if the current strength is CWE or CNE (backward compatibility).
      const options = this.codingStrengthOptions
      if (item?.strength === 'CNE') return options.filter(option => option.value !== 'CWE')
      if (item?.strength === 'CWE') return options.filter(option => option.value !== 'CNE')
      return options.filter(option => option.value !== 'CNE' && option.value !== 'CWE')
    },
    getStrength (item) {
      const strength = this.valueSetAssociations.find(ass => ass.valueSet === item.id && (
        ass.flexibility === (item.flexibility || item.effectiveDate)
      ))?.strength
      return strength || null
    },
    getValueSetRouteObject (item) {
      return {
        name: item.flexibility !== 'dynamic'
          ? 'terminology-value-set-version'
          : 'terminology-value-set',
        params: {
          id: item.valueSet,
          version: item.flexibility !== 'dynamic' ? item.flexibility : null
        }
      }
    },
    async removeConceptAssociation (item) {
      const message = `${this.$t('remove-association')}?`
      const agree = await this.$confirm(message)

      if (!agree) {
        return
      }

      const params = {
        transactionId: this.transactionId || null,
        transactionEffectiveDate: this.transactionVersion || null
      }

      try {
        await this.$store.dispatch('dataset/removeConceptAssociation', { association: item, params })
        this.$notify(this.$t('submission-delete-success'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }
    },
    async removeIdentifierAssociation (item) {
      const message = `${this.$t('remove-association')}?`
      const agree = await this.$confirm(message)
      if (!agree) {
        return
      }

      const params = {
        transactionId: this.transactionId || null,
        transactionEffectiveDate: this.transactionVersion || null
      }

      try {
        await this.$store.dispatch('dataset/removeIdentifierAssociation', { association: item, params })
        this.$notify(this.$t('submission-delete-success'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }
    },
    async removeValuesetAssociation (item) {
      const message = `${this.$t('remove-association')}?`
      const agree = await this.$confirm(message)
      if (!agree) {
        return
      }

      const params = {
        transactionId: this.transactionId || null,
        transactionEffectiveDate: this.transactionVersion || null
      }

      try {
        await this.$store.dispatch('dataset/removeValuesetAssociation', { association: item, params })
        this.$notify(this.$t('submission-delete-success'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
        this.$oops(errorMessage)
      }
    },
    async removeValueSetCodeAssociation ({ item, mapping }) {
      const agree = await this.$confirm(`${this.$t('remove-association')}?`)
      if (!agree) {
        return
      }

      const association = { ...mapping, conceptId: item.id }
      const params = {
        transactionId: this.transactionId || null,
        transactionEffectiveDate: this.transactionVersion || null
      }

      this.valueSetCodeAssociationIsUpdating = true

      try {
        await this.$store.dispatch('dataset/removeValuesetCodeAssociation', { association, params })
        this.$notify(this.$t('submission-delete-success'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }

      this.valueSetCodeAssociationIsUpdating = false
    },
    resetArtefactSelectionModal () {
      this.artefactSelectionModal.tree = null
      this.artefactSelectionModal.title = null
      this.artefactSelectionModal.selected = null
      this.artefactSelectionModal.multiple = false
      this.artefactSelectionModal.disableDynamicVersions = false
      this.artefactSelectionModal.versionProp = null
      this.artefactSelectionModal.selectHandler = null
      this.artefactSelectionModal.treeSelectOnOpen = null
      this.artefactSelectionModal.addButtonType = null
      this.artefactSelectionModal.titleAppend = []
      this.artefactSelectionModal.detailsAppendContent = []
    },
    async restoreInheritedConceptAssociation () {
      const agree = await this.$confirm(this.$t('restore-association'))

      if (!agree) {
        return
      }

      const params = {
        transactionId: this.transactionId || null,
        transactionEffectiveDate: this.transactionVersion || null
      }

      try {
        await this.$store.dispatch('dataset/removeConceptAssociation', { association: {}, params })
        this.$notify(this.$t('submission-insert-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }
    },
    async restoreInheritedIdentifierAssociation () {
      const agree = await this.$confirm(this.$t('restore-association'))
      if (!agree) {
        return
      }

      const params = {
        transactionId: this.transactionId || null,
        transactionEffectiveDate: this.transactionVersion || null
      }
      const { id: conceptId, effectiveDate: conceptFlexibility } = this.conceptItem || {}

      try {
        await this.$store.dispatch('dataset/removeIdentifierAssociation', { association: { conceptId, conceptFlexibility }, params })
        this.$notify(this.$t('submission-insert-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }
    },
    async restoreInheritedValueSetAssociation () {
      const agree = await this.$confirm(this.$t('restore-association'))
      if (!agree) {
        return
      }

      const params = {
        transactionId: this.transactionId || null,
        transactionEffectiveDate: this.transactionVersion || null
      }
      const conceptId = this.conceptItem?.valueDomain?.[0]?.conceptList?.[0]?.id || null

      try {
        await this.$store.dispatch('dataset/removeValuesetAssociation', { association: { conceptId }, params })
        this.$notify(this.$t('submission-insert-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }
    },
    async restoreInheritedValueSetCodeAssociation ({ item }) {
      const agree = await this.$confirm(this.$t('restore-association'))
      if (!agree) {
        return
      }

      const params = {
        transactionId: this.transactionId || null,
        transactionEffectiveDate: this.transactionVersion || null
      }
      const conceptId = item.id || null

      this.valueSetCodeAssociationIsUpdating = true

      try {
        await this.$store.dispatch('dataset/removeValuesetCodeAssociation', { association: { conceptId }, params })
        this.$notify(this.$t('submission-insert-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }

      this.valueSetCodeAssociationIsUpdating = false
    },
    startAddNewValueset () {
      const { name, params } = this.$route
      this.$store.commit('terminology/setCreateValuesetFrom', { name, params })
      this.$store.commit('terminology/setStartShopping', true)

      this.$router.push({ name: 'browser-project' })
        .catch(() => {})
    },
    async startAddValuesetAssociation ({ selectOnOpen, showCreateMenu } = {}) {
      if (!this.$store.getters['terminology/isLoaded']('valueSet')) {
        try {
          await this.$store.dispatch('terminology/getValueSetList', { resolveit: true, sort: 'displayName' })
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        }
      }

      const parsedItems = this.$store.state.terminology.valueSet?.map(item => {
        const newItem = { ...item }
        const strength = this.getStrength({ ...item, flexibility: 'dynamic' })
        newItem.valueSet = item.valueSet?.map(version => {
          const newVersion = { ...version }
          const vStrength = this.getStrength(newVersion)
          if (vStrength) {
            newVersion.strength = vStrength
          }
          return newVersion
        }) || []
        if (strength) {
          newItem.strength = strength
        }
        newItem.disabled = (
          (selectOnOpen && item.id !== selectOnOpen.tree.id) ||
          (!selectOnOpen && this.valueSetAssociations.some(ass => ass.valueSet === newItem.id && ass.active !== 'false'))
        )
        return newItem
      })

      this.artefactSelectionModal.items = parsedItems
      this.artefactSelectionModal.title = selectOnOpen ? this.$t('edit-valueset-association') : this.$t('select-valueset')
      this.artefactSelectionModal.disableDynamicVersions = selectOnOpen && selectOnOpen.version.flexibility !== 'dynamic'
      this.artefactSelectionModal.tree = this.treeValuesets
      this.artefactSelectionModal.versionProp = 'valueSet'
      this.artefactSelectionModal.addButtonType = selectOnOpen ? 'save' : 'add'
      if (selectOnOpen) {
        this.artefactSelectionModal.treeSelectOnOpen = selectOnOpen
        this.artefactSelectionModal.selected = this.$store.getters['terminology/getFullValueSetList']({ includeDynamic: true })?.filter(item => {
          return (
            item.id !== selectOnOpen.tree.id ||
            (
              (selectOnOpen.version.effectiveDate && item.effectiveDate !== selectOnOpen.version.effectiveDate) ||
              (!selectOnOpen.version.effectiveDate && selectOnOpen.version.flexibility && item.flexibility !== selectOnOpen.version.flexibility)
            )
          )
        })
      } else {
        this.artefactSelectionModal.selected = this.$store.getters['terminology/getFullValueSetList'](
          { includeDynamic: true }
        )?.filter(item => this.valueSetAssociations.some(ass => ass.valueSet === item.id && ass.active !== 'false'))
      }
      if (showCreateMenu) {
        this.artefactSelectionModal.titleAppend = ['createMenu']
      }
      this.artefactSelectionModal.detailsAppend = ['strength']
      this.artefactSelectionModal.selectHandler = this.addValueSetAssociation
      this.artefactSelectionModal.unselectHandler = () => {

      }
      this.artefactSelectionModal.open = true
    },
    startTerminologyBrowser (associationType) {
      if (this.associationTypesSupport.includes(associationType)) {
        return this.$store.dispatch('dataset/changeActiveAssociationType', associationType)
          .then(async () => {
            await this.$store.dispatch('terminology/setStartShopping', true)
            this.$router.push({ name: 'browser-project' }).catch(() => {})
          })
      } else {
        this.$alert(this.$t('notyetimplemented'))
      }
    }
  },

  watch: {
    watchDataForValueSetFilters: {
      immediate: true,
      deep: true,
      handler () {
        const defaultActive = ['new', 'draft', 'pending', 'final', 'undefined']
        this.artefactSelectionModal.filters = this.getItemStatuses?.map(status => {
          const currentlyActive = this.filters?.find(filter => filter.key === status.value)?.active
          return {
            name: this.$filters.getMatchingTranslation({ value: status.label, locale: this.$i18n.locale }),
            key: status.value,
            active: currentlyActive !== undefined
              ? currentlyActive
              : defaultActive.includes(status.value)
          }
        }) || ['']
        const referenceFilterActive = this.artefactSelectionModal.filters.find(filter => filter.key === undefined)?.active
        this.artefactSelectionModal.filters.push({
          name: this.$t('none'),
          key: undefined,
          active: referenceFilterActive !== undefined
            ? referenceFilterActive
            : defaultActive.includes('undefined')
        })
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      if (from.name) {
        vm.cleanUpBasedOnRouteName(to, from)
      }
      vm.fetchDataBasedOnRoute(to, from, () => false)
        .then(() => {
          if (
            vm.$store.state.terminology.openAddValuesetAssociationModalOnEnter &&
            vm.showValueSetAssociations
          ) {
            vm.addAssociationValueSetBtn = true
            vm.$store.commit('terminology/setOpenAddValuesetAssociationModalOnEnter', false)
          }
        })
    })
  },
  beforeRouteUpdate (to, from, next) {
    // Pass next as a third argument to fetchDataBasedOnRoute to navigate after data fetching
    this.fetchDataBasedOnRoute(to, from, () => false)
    next()
  },
  beforeRouteLeave (to, from, next) {
    this.cleanUpBasedOnRouteName(to, from)
    next()
  }
}
</script>
