<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs"></AdBreadcrumbs>

      <v-row class="d-flex flex-row flex-md-nowrap">
        <v-col class="flex-grow-0 col-treeview" cols="12" md="auto">
          <TreeviewPanel
            ref="treeview"
            :filters="filters"
            :trees="trees"
            :active-item.sync="activeItem"
            :active-tree.sync="activeTree"
          >
            <template #tree.datasetConcepts.before-search>
              <v-card-text class="pb-0 slot-tree-before-search">
                <!-- Select dataset -->
                <v-autocomplete
                  v-model="selectedDataset"
                  :items="$store.state.dataset.datasetItems"
                  :label="$t('dataset')"
                  @change="handleSelectDataset"
                  return-object
                  clearable
                  outlined
                  dense
                  hide-details
                  open-on-clear
                  item-value="uuid"
                  single-line
                  :disabled="$store.state.dataset.loading.conceptItems"
                  :loading="$store.state.dataset.loading.conceptItems"
                >
                  <template #item="{ item }">
                    <AdStatusDot larger class="mr-3" tooltip :status="item.statusCode" icon="mdi-book-open-blank-variant"/>
                    {{ $filters.getMatchingTranslation({ value: item.name }) }}
                    ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
                  </template>
                  <template #selection="{ item }">
                    <div class="text-truncate">
                      <AdStatusDot class="mr-2" tooltip :status="item.statusCode" icon="mdi-book-open-blank-variant"/>
                      {{ $filters.getMatchingTranslation({ value: item.name }) }}
                      ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
                    </div>
                  </template>
                </v-autocomplete>
              </v-card-text>
            </template>
            <template #tree.transactions.before-search>
              <v-card-text class="pb-0 slot-tree-before-search">
                <!-- Select scenario -->
                <v-autocomplete
                  v-model="selectedScenario"
                  class="mb-4"
                  :items="$store.state.scenario.scenarioItems"
                  :label="$t('scenario')"
                  @change="handleSelectScenario"
                  return-object
                  clearable
                  outlined
                  dense
                  hide-details
                  open-on-clear
                  single-line
                  item-value="id"
                >
                  <template #item="{ item }">
                    <AdStatusDot larger tooltip class="mr-3" :status="item.statusCode" :icon="$filters.getScenarioIcon(item.type)"/>
                    {{ $filters.getMatchingTranslation({ value: item.name }) }}
                    ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
                  </template>
                  <template #selection="{ item }">
                    <div class="text-truncate">
                      <AdStatusDot class="mr-2" tooltip :status="item.statusCode" :icon="$filters.getScenarioIcon(item.type)"/>
                      {{ $filters.getMatchingTranslation({ value: item.name }) }}
                      ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
                    </div>
                  </template>
                </v-autocomplete>

                <!-- Select transaction -->
                <v-autocomplete
                  v-model="selectedTransaction"
                  :items="transactionsWithRepresentingTemplate"
                  :label="$t('transaction')"
                  @change="handleSelectTransaction"
                  return-object
                  clearable
                  outlined
                  dense
                  hide-details
                  open-on-clear
                  single-line
                  item-value="id"
                  :disabled="!selectedScenario || $store.state.scenario.loading.transactionItem"
                  :loading="$store.state.scenario.loading.transactionItem"
                >
                  <template #item="{ item }">
                      <AdStatusDot larger tooltip class="mr-3" :status="item.statusCode" :icon="$filters.getScenarioIcon(item.type)"/>
                      {{ $filters.getMatchingTranslation({ value: item.name }) }}
                      ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
                  </template>
                  <template #selection="{ item }">
                    <div class="text-truncate">
                      <AdStatusDot class="mr-2" tooltip :status="item.statusCode" :icon="$filters.getScenarioIcon(item.type)"/>
                      {{ $filters.getMatchingTranslation({ value: item.name }) }}
                      ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
                    </div>
                  </template>
                </v-autocomplete>
              </v-card-text>
            </template>
            <template #extend-filters>
              <DatasetConceptPropertyFilter
                :activeKeywords.sync="activeKeywords"
              />
            </template>
          </TreeviewPanel>
        </v-col>
        <v-col  class="flex-grow-1 flex-shrink-1" cols="12" md="auto">
          <PanelLoading :loading="!ready" />

          <template>
            <router-view :key="$route.fullPath"></router-view>

            <div>
              <template v-if="activeTree === 'datasetConcepts' && ['terminology-associations', 'terminology-associations-data-set', 'terminology-associations-data-set-concept'].includes($route.name)">
                <AdInfoOwl v-if="!selectedDataset && !$store.state.dataset.loading.datasetItems">{{ $t('select-dataset') }}</AdInfoOwl>
                <AdInfoOwl v-else-if="trees.datasetConcepts.items.length === 0 && $store.state.dataset.loaded.conceptItems" class="mt-2">{{ $t('no-items') }}</AdInfoOwl>
              </template>
              <template v-if="activeTree === 'transactions' && !$store.state.scenario.loading.scenarioItems && ['terminology-associations', 'terminology-associations-transaction', 'terminology-associations-transaction-concepts'].includes($route.name)">
                <AdInfoOwl v-if="!selectedScenario ">{{ $t('select-scenario') }}</AdInfoOwl>
                <AdInfoOwl v-else-if="!selectedTransaction">{{ $t('select-transaction') }}</AdInfoOwl>
                <AdInfoOwl v-else-if="trees.transactions.items.length === 0 && !$store.state.scenario.loading.transactionItem" class="mt-2">{{ $t('no-items') }}</AdInfoOwl>
              </template>
            </div>
          </template>

        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import TreeviewPanel from '../Utilities/Treeview/TreeviewPanel'
import DatasetConceptPropertyFilter from '@/components/Dataset/DatasetConceptPropertyFilter'

export default {
  name: 'AssociationsPanel',
  components: {
    TreeviewPanel,
    DatasetConceptPropertyFilter
  },
  data () {
    return {
      activeKeywords: [],
      activeTree: 'datasetConcepts',
      filters: []
    }
  },
  computed: {
    ...mapGetters('server', ['getItemStatuses']),
    ...mapState({
      conceptItem: (state) => state.dataset.conceptItem,
      conceptItems: (state) => state.dataset.conceptItems,
      datasetItem: (state) => state.dataset.datasetItem,
      datasetItems: (state) => state.dataset.datasetItems
    }),

    activeItem: {
      get () {
        if (this.$route.name.includes('terminology-associations-data-set')) {
          return this.$store.state.dataset.activeItem
        }
        if (this.$route.name.includes('terminology-associations-transaction')) {
          return this.$store.state.scenario.activeItem
        }
        return null
      },
      set (activeItem) {
        if (this.$route.name.includes('terminology-associations-data-set')) {
          this.$store.commit('dataset/setActiveItem', activeItem)
        }
        if (this.$route.name.includes('terminology-associations-transaction')) {
          this.$store.commit('scenario/setActiveItem', activeItem)
        }
      }
    },
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['terminology-associations', 'terminology-associations-data-set', 'terminology-associations-transaction', 'terminology-associations-data-set-concept', 'terminology-associations-transaction-concepts']
        },
        {
          text: this.$t('terminology'),
          disabled: true,
          show: ['terminology-associations', 'terminology-associations-data-set', 'terminology-associations-transaction', 'terminology-associations-data-set-concept', 'terminology-associations-transaction-concepts']
        },
        {
          exact: true,
          text: this.$t('associations'),
          to: { name: 'terminology-associations' },
          show: ['terminology-associations', 'terminology-associations-data-set', 'terminology-associations-transaction', 'terminology-associations-data-set-concept', 'terminology-associations-transaction-concepts']
        },
        {
          exact: true,
          text: this.datasetName || this.$route.params?.datasetId,
          to: {
            name: 'terminology-associations-data-set',
            params: {
              datasetId: this.$route.params?.datasetId,
              datasetVersion: this.$route.params?.datasetVersion
            }
          },
          show: ['terminology-associations-data-set', 'terminology-associations-data-set-concept']
        },
        {
          exact: true,
          text: this.transactionName || this.$route.params?.transactionId,
          to: {
            name: 'terminology-associations-transaction',
            params: {
              transactionId: this.$route.params?.transactionId,
              transactionVersion: this.$route.params?.transactionVersion
            }
          },
          show: ['terminology-associations-transaction', 'terminology-associations-transaction-concepts']
        },
        {
          exact: true,
          text: this.$route.params?.datasetVersion ? this.$filters.formatDateShort(this.$route.params?.datasetVersion) : '',
          to: {
            name: 'terminology-associations-data-set',
            params: {
              datasetId: this.$route.params?.datasetId,
              datasetVersion: this.$route.params?.datasetVersion
            }
          },
          show: ['terminology-associations-data-set', 'terminology-associations-data-set-concept']
        },
        {
          exact: true,
          text: this.$route.params?.transactionVersion ? this.$filters.formatDateShort(this.$route.params.transactionVersion) : '',
          to: {
            name: 'terminology-associations-transaction',
            params: {
              transactionId: this.$route.params?.transactionId,
              transactionVersion: this.$route.params.transactionVersion
            }
          },
          show: ['terminology-associations-transaction', 'terminology-associations-transaction-concepts']
        },
        {
          exact: true,
          text: this.datasetConceptName || this.$route.params?.conceptId,
          to: {
            name: 'terminology-associations-data-set-concept',
            params: {
              conceptId: this.$route.params?.conceptId,
              conceptVersion: this.$route.params?.conceptVersion
            }
          },
          show: ['terminology-associations-data-set-concept']
        },
        {
          exact: true,
          text: this.$route.params?.conceptVersion ? this.$filters.formatDateShort(this.$route.params?.conceptVersion) : '',
          to: {
            name: 'terminology-associations-data-set-concept',
            params: {
              conceptId: this.$route.params?.conceptId,
              conceptVersion: this.$route.params?.conceptVersion
            }
          },
          show: ['terminology-associations-data-set-concept']
        },
        {
          exact: true,
          text: this.transactionConceptName || this.$route.params?.tConceptId,
          to: {
            name: 'terminology-associations-transaction-concepts',
            params: {
              tConceptId: this.$route.params?.tConceptId,
              tConceptVersion: this.$route.params?.tConceptVersion
            }
          },
          show: ['terminology-associations-transaction-concepts']
        },
        {
          exact: true,
          text: this.$route.params?.tConceptVersion ? this.$filters.formatDateShort(this.$route.params?.tConceptVersion) : '',
          to: {
            name: 'terminology-associations-transaction-concepts',
            params: {
              tConceptId: this.$route.params?.tConceptId,
              tConceptVersion: this.$route.params?.tConceptVersion
            }
          },
          show: ['terminology-associations-transaction-concepts']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    conformance () {
      return (item) => {
        if (item?.isMandatory !== 'true') {
          const { conformance } = item
          if (conformance != null) {
            if (this.conformanceType(conformance)) {
              const result = this.conformanceType(conformance)
              return result.text
            } else if (conformance === 'O') {
              // optional?
              return this.$t('optional')
            } else {
              // in case the conformanceType is not offered in getDecorTypes,
              // fallback to value in offered by api
              return conformance
            }
          } else {
            return null
          }
        } else {
          // return translation for mandatory
          return this.$t('mandatory')
        }
      }
    },
    conformanceType () {
      return (value) => {
        return this.conformanceTypes.find((type) => type.value === value)
      }
    },
    conformanceTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.ConformanceType?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    },
    datasetConceptName () {
      return this.$filters.getMatchingTranslation({
        value: this.$store.state.dataset.activeItem?.name,
        returnObject: true
      })?.['#text']
    },
    datasetName () {
      return this.$filters.getMatchingTranslation({
        value: this.$store.state.dataset.datasetItem?.name,
        returnObject: true
      })?.['#text']
    },
    datasetsReady () {
      return this.$store.state.dataset.loaded.datasetItems
    },
    mappingContext () {
      if (this.$route.name.includes('terminology-associations-data-set')) {
        return 'DATASET'
      }
      if (this.$route.name.includes('terminology-associations-transaction')) {
        return 'SCENARIO'
      }
      return null
    },
    projectName () {
      return this.$filters.getMatchingTranslation({
        value: this.projectInFocus.name
      })
    },
    ready () {
      if (!this.mappingContext) {
        // The panel starts with datasets as active tree by default
        return this.datasetsReady
      }
      return this.mappingContext === 'DATASET' ? this.datasetsReady : this.scenariosReady
    },
    scenariosReady () {
      return this.$store.state.scenario.loaded.scenarioItems
    },
    transactionName () {
      return this.$filters.getMatchingTranslation({
        value: this.$store.state.scenario.scenarioItem?.name,
        returnObject: true
      })?.['#text']
    },
    transactionConceptName () {
      return this.$filters.getMatchingTranslation({
        value: this.$store.state.scenario.activeItem?.name,
        returnObject: true
      })?.['#text']
    },
    transactionTreeItems () {
      return this.$filters.listHelper.filterList({
        items: this.$store.state.scenario.transactionItemConcepts || [],
        children: 'concept',
        handler: match => match.absent !== 'true'
      })
    },
    transactionsWithRepresentingTemplate () {
      const transactionList = []
      const scenario = this.selectedScenario
      if (scenario?.transaction) {
        scenario.transaction.forEach((group) => {
          if (group.transaction) {
            group.transaction.forEach((tr) => {
              const transaction = { ...tr }
              if (['initial', 'back', 'stationary'].includes(transaction.type) &&
                transaction.representingTemplate?.some(t => t !== null)
              ) {
                transaction.scenarioDetails = {
                  name: scenario.name,
                  id: scenario.id,
                  effectiveDate: scenario.effectiveDate,
                  statusCode: scenario.statusCode
                }
                const representingTemplate = transaction.representingTemplate.find(t => t !== null)
                transaction.datasetDetails = {
                  name: representingTemplate.sourceDatasetName,
                  id: representingTemplate.sourceDataset,
                  effectiveDate: representingTemplate.sourceDatasetEffectiveDate,
                  statusCode: representingTemplate.sourceDatasetStatusCode
                }
                transactionList.push(transaction)
              }
            })
          }
        })
      }
      return transactionList
    },
    trees () {
      return {
        datasetConcepts: {
          artefact: 'DE',
          name: this.$t('datasets'),
          icon: 'mdi-book-open-blank-variant',
          loading: this.$store.state.dataset.loading.datasetItems || this.$store.state.dataset.loading.conceptItems,
          loaded: this.$store.state.dataset.loaded.datasetItems,
          hideTreeviewOptions: !this.selectedDataset,
          items: this.selectedDataset ? this.$store.state.dataset.conceptItems || [] : [],
          menu: false,
          insertable: false,
          editable: false,
          expandable: true,
          filterCallback: this.treeFilterCallback,
          key: 'navkey',
          text: 'name.#text',
          children: 'concept',
          onSelect: (activeItem) => {
            this.$router.push({
              name: 'terminology-associations-data-set-concept',
              params: {
                datasetId: this.selectedDataset?.id,
                datasetVersion: this.selectedDataset?.effectiveDate,
                conceptId: activeItem?.id,
                conceptVersion: activeItem?.effectiveDate
              }
            }).catch(() => {})
          }
        },
        transactions: {
          artefact: 'DE',
          name: this.$t('scenarios'),
          icon: 'mdi-movie',
          loading: this.$store.state.scenario.loading.scenarioItems || this.$store.state.scenario.loading.transactionItem,
          loaded: this.$store.state.scenario.loaded.scenarioItems,
          items: this.selectedTransaction ? this.transactionTreeItems : [],
          hideTreeviewOptions: !this.selectedTransaction,
          menu: false,
          insertable: false,
          editable: false,
          expandable: true,
          filterCallback: this.treeFilterCallback,
          key: 'navkey',
          text: (item) => {
            let name = this.$filters.getMatchingTranslation({ value: item.name })
            if (item.absent) {
              return name
            }
            const card = this.$filters.getCardinality(item)
            const conf = this.conformance(item)
            if (card) {
              name += ` (${card}`
            }
            if (conf) {
              name += ` / ${conf})`
            } else {
              name += ')'
            }

            return name
          },
          children: 'concept',
          onSelect: async (activeItem) => {
            this.$router.push({
              name: 'terminology-associations-transaction-concepts',
              params: {
                transactionId: this.selectedTransaction?.id,
                transactionVersion: this.selectedTransaction?.effectiveDate,
                tConceptId: activeItem.id,
                tConceptVersion: activeItem.effectiveDate
              }
            }).catch(() => {
              // Do nothing.
            })
          }
        }
      }
    },
    selectedDataset: {
      get () {
        const { id, effectiveDate } = this.$store.state.dataset.datasetItem || {}
        return this.$store.state.dataset.datasetItems?.find(ds => ds.id === id && ds.effectiveDate === effectiveDate)
      },
      set (value) {
        this.$store.commit('dataset/setDatasetItem', value)
      }
    },
    selectedScenario: {
      get () {
        const { id, effectiveDate } = this.$store.state.scenario.scenarioItem || {}
        return this.$store.state.scenario.scenarioItems?.find(sc => sc.id === id && sc.effectiveDate === effectiveDate)
      },
      set (value) {
        this.$store.commit('scenario/setScenarioItem', value)
      }
    },
    selectedTransaction: {
      get () {
        const { id, effectiveDate } = this.$store.state.scenario.transactionItem || {}
        return this.transactionsWithRepresentingTemplate?.find(sc => sc.id === id && sc.effectiveDate === effectiveDate)
      },
      set (value) {
        this.$store.commit('scenario/setTransactionItem', value || null)
      }
    },
    watchedVariables () {
      return [this.getItemStatuses, this.$i18n.locale]
    }
  },
  methods: {
    handleSelectDataset (activeItem) {
      if (!activeItem) {
        // The dataset select input is cleared
        this.$store.commit('dataset/setActiveItem', null)
        this.$router.push({ name: 'terminology-associations' }).catch(() => {})
        return
      }

      this.$router.push({
        name: 'terminology-associations-data-set',
        params: {
          datasetId: activeItem?.id,
          datasetVersion: activeItem?.effectiveDate,
          forceGetConceptList: true

        }
      }).catch(() => {})
    },
    handleSelectScenario (activeItem) {
      if (!activeItem) {
        // The scenario select input is cleared
        this.$store.commit('scenario/setActiveItem', null)
        this.$store.commit('scenario/setScenarioItem', null)
        this.$store.commit('scenario/setTransactionItem', null)
        this.$store.commit('scenario/setTransactionItemConcepts', null)
        this.$router.push({ name: 'terminology-associations' }).catch(() => {})
      }
    },
    handleSelectTransaction (activeItem, conceptToSelect = null) {
      if (!activeItem) {
        // The transaction select input is cleared
        this.$store.commit('scenario/setActiveItem', null)
        this.$store.commit('scenario/setTransactionItem', null)
        this.$store.commit('scenario/setTransactionItemConcepts', null)
        this.$router.push({ name: 'terminology-associations' }).catch(() => {})
        return
      }

      this.$router.push({
        name: 'terminology-associations-transaction',
        params: {
          transactionId: activeItem?.id,
          transactionVersion: activeItem?.effectiveDate,
          forceGetTransaction: true
        }
      }).catch(() => {})
    },
    treeFilterCallback ({ item, children }) {
      // Check for property Keyword and collect them in the tree
      if (Array.isArray(item.property)) {
        this.$store.dispatch('dataset/addKeywordPropertiesToTree', { properties: item.property, type: 'concepts' })
      }

      // Check if active Keyword is set.
      if (this.activeKeywords.length) {
        const isVisible =
                Array.isArray(item.property) &&
                this.activeKeywords.some(
                  (keyword) => item.property.some(
                    (property) => property['#text'] === keyword['#text'] && property.name === keyword.name
                  )
                )
        return isVisible
      }
    }
  },
  watch: {
    watchedVariables: {
      immediate: true,
      deep: true,
      handler () {
        // Define filters.
        const filters = []
        // Define default actives.
        const defaultActive = ['draft', 'pending', 'final', 'new']
        // Loop each item status code.
        for (const itemStatusCode of this.getItemStatuses) {
          // Push new filter.
          filters.push({
            name: this.$filters.getMatchingTranslation({ value: itemStatusCode.label, locale: this.$i18n.locale }),
            key: itemStatusCode.value,
            active: defaultActive.includes(itemStatusCode.value)
          })
        }

        // Apply filters.
        this.filters = filters
      }
    },
    mappingContext: {
      immediate: true,
      handler (newValue, oldValue) {
        if (newValue === 'DATASET') {
          this.activeTree = 'datasetConcepts'
        } else if (newValue === 'SCENARIO') {
          this.activeTree = 'transactions'
        }
      }
    }
  }
}
</script>
