<template>
  <v-data-table
    :headers="headersToShow"
    :items="filteredConceptList"
    show-expand
    single-expand
    :class="{ 'dropzone': showDropzone}"
    :loading="loading"
    :footer-props="{ 'items-per-page-options': [5,10] }"
    :search="search"
    :custom-filter="searchFilter"
    :hide-default-footer="conceptList.length <= 5"
  >
    <template #top>
      <AdTableSearch v-model.trim="search" class="mr-1">
        <template #prepend>
          <v-switch v-model="noMappingsOnly" class="ml-6" :label="$t('no-mappings-only')"/>
        </template>
      </AdTableSearch>
    </template>
    <template #item.levelType="{ item }">
      <span v-if="item.level && item.type" :class="`pl-${+item.level * 3 + 5}`">
        {{ `${item.level}-${item.type}` }}
      </span>
    </template>

    <template #item="{ item, expand, isExpanded }">
      <tr
        @dragover.prevent="!disableDropzone ? handleDragOver($event, item) : () => {}"
        @dragenter.prevent="!disableDropzone ? handleDragEnter($event) : () => {}"
        @dragleave="!disableDropzone ? handleDragLeave($event) : () => {}"
        @drop="!disableDropzone ? handleDrop($event, item) : () => {}"
        :class="{'no-drop': !allowMapping(item)}"
      >
        <!-- Leven / type -->
        <td v-if="showLevelTypeHeader" :class="`pl-${+item.level * 3 + 5}`">
          <span v-if="item.level && item.type">{{ `${item.level}-${item.type}` }}</span>
        </td>

        <!-- Name -->
        <td>
          {{ $filters.getMatchingTranslation({ value: item.name }) }}
        </td>

        <!-- Synonyms -->
        <td v-if="!hideSynonyms">
          {{ synonyms(item.synonym) }}
        </td>

        <!-- Mappings -->
        <td>
          <div
            v-if="Array.isArray(item.terminologyAssociation) && item.terminologyAssociation.length"
            class="text-no-wrap"
          >
            <v-chip small color="blue lighten-5" :disabled="firstMapping(item).active === 'false'">
              {{ firstMapping(item).displayName }}
              <AdAssociationSpecificIcon v-if="isTransactionContext" :transaction="!!firstMapping(item).transactionId" small/>
            </v-chip>
            <v-chip
              v-if="relevantMappingCount(item) > 1"
              small
              class="ml-1"
            >
              + {{ relevantMappingCount(item) - 1 }}
            </v-chip>
          </div>
        </td>

        <!-- Expand icon -->
        <td>
          <v-btn :class="{'expanded': isExpanded}" icon @click="expand(!isExpanded)"><v-icon>$expand</v-icon></v-btn>
        </td>
      </tr>
    </template>

    <template #expanded-item="{ item, headers }">
      <td :colspan="headers.length" class="px-0 pl-3">
        <AdInfoOwl
          v-if="!Array.isArray(item.terminologyAssociation) || !item.terminologyAssociation.length"
          class="ma-0"
        >
          {{$t('no-associations-yet')}}
        </AdInfoOwl>
        <template v-if="Array.isArray(item.terminologyAssociation)">
          <div
            v-for="(mapping, i) in mappings(item.terminologyAssociation)"
            :key="`${item.id}-mapping-${i}`"
            class="d-flex blue lighten-5 px-4 py-1 mapping-box"
            :style="i < (item.terminologyAssociation.length) ? 'margin-bottom: 1px;' : ''"
          >
            <span
              class="d-flex align-center"
              :class="conceptAssociationItemClass(mapping)"
            >
              {{ mapping.displayName }} ({{ mapping.code }}) from {{ mapping.codeSystemName }}
            </span>
            <AdAssociationSpecificIcon v-if="isTransactionContext" :transaction="!!mapping.transactionId" small />

            <template v-if="hasWriteAccess">
              <v-spacer/>
              <AdButton
                v-if="mapping.active === 'false'"
                list
                type="add"
                @click="$emit('restoreMapping', { item, mapping })"
              />
              <AdButton v-else type="delete" list @click="$emit('deleteMapping', { item, mapping })"/>
            </template>
          </div>
        </template>
      </td>
    </template>
  </v-data-table>
</template>

<script>
import AdAssociationSpecificIcon from '@/components/Utilities/AdAssociationSpecificIcon'
import AdTableSearch from '../Utilities/AdTableSearch.vue'

export default {
  components: {
    AdAssociationSpecificIcon,
    AdTableSearch
  },
  props: {
    conceptList: {
      type: Array,
      default: () => ([])
    },
    disableDropzone: {
      type: Boolean,
      default: false
    },
    dragging: {
      type: Object,
      default: null
    },
    loading: {
      type: Boolean,
      deafult: false
    },
    showDropzone: {
      type: Boolean,
      defaul: false
    },
    hideSynonyms: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dragCounter: 0,
      noMappingsOnly: false,
      search: ''
    }
  },
  computed: {
    allowMapping () {
      return item => this.dragging === null || !item.terminologyAssociation?.some(ass => ass.code === this.dragging?.code)
    },
    conceptAssociationItemClass () {
      return item => {
        if (item.active === 'false') {
          return 'text--disabled text-decoration-line-through'
        }
        return ''
      }
    },
    filteredConceptList () {
      if (this.noMappingsOnly) {
        return this.conceptList
          .filter(item => (
            !item.terminologyAssociation?.length ||
            (this.isTransactionContext && !item.terminologyAssociation?.some(ass => ass.active === 'true' && !!ass.code))
          ))
      }
      return this.conceptList
    },
    firstMapping (item) {
      return item => {
        const firstActiveAssociation = this.mappings(item.terminologyAssociation).find(ass => ass.active === 'true')
        return firstActiveAssociation || item.terminologyAssociation[0]
      }
    },
    hasWriteAccess () {
      return this.userIsEditor && this.serverFeature({ path: 'decor.terminology.mappings', crudAction: 'write' })
    },
    headers () {
      // level, type, name, ordinal, synonyms, description
      return [
        {
          value: 'levelType',
          text: `${this.$t('level')}/${this.$t('type')}`,
          class: 'green lighten-5',
          width: 1,
          sortable: false
        },
        { value: 'name', text: this.$t('name'), class: 'green lighten-5' },
        {
          value: 'synonym',
          text: this.$t('synonyms'),
          class: 'green lighten-5',
          width: '20%',
          sortable: false
        },
        {
          value: 'mappings',
          text: this.$t('mappings'),
          class: 'blue lighten-5',
          width: 1,
          sortable: false
        },
        { value: 'data-table-expand', class: 'blue lighten-5' }
      ]
    },
    headersToShow () {
      const headersToExclude = []

      if (this.hideSynonyms) {
        headersToExclude.push('synonym')
      }

      if (!this.showLevelTypeHeader) {
        headersToExclude.push('levelType')
      }

      return this.headers.filter(h => !headersToExclude.includes(h.value))
    },
    isTransactionContext () {
      return this.$route.name.includes('transaction')
    },
    mappings () {
      return list => {
        const activeTransactionAssociations = list
          ?.filter(ass => ass.code && ass.active === 'true') || []

        return list?.filter(ass => !!ass.code && (
          ass.active !== 'false' ||
          !activeTransactionAssociations.some(actAss => actAss.code === ass.code && actAss.flexibility === ass.flexibility)
        )) || []
      }
    },
    relevantMappingCount (item) {
      return item => this.mappings(item.terminologyAssociation).filter(ass => ass.active === 'true').length || this.mappings(item.terminologyAssociation).length || 0
    },
    showLevelTypeHeader () {
      return this.conceptList.some(item => item.level && item.type)
    },
    synonyms () {
      const locale = this.$store.getters['app/projectLanguage']
      return list => list?.filter(s => s.language === locale).map(s => s['#text']).join(', ') || ''
    }

  },
  methods: {
    clearSearchInput () {
      this.search = ''
    },
    handleDragEnter (ev) {
      this.dragCounter++

      document.querySelectorAll('.over').forEach(el => {
        el.classList.remove('over')
      })

      ev.target.closest('tr').classList.add('over')
    },
    handleDragOver (ev, item) {
      if (ev.target.closest('tr').classList.contains('no-drop')) {
        ev.dataTransfer.dropEffect = 'none'
      }
    },
    handleDragLeave (ev) {
      this.dragCounter--

      if (this.dragCounter === 0) {
        ev.target.closest('tr').classList.remove('over')
      }
    },
    async handleDrop (ev, item) {
      ev.preventDefault()
      this.dragCounter--

      ev.target.closest('tr').classList.remove('over')

      try {
        const codedConcept = JSON.parse(ev.dataTransfer.getData('text/plain'))
        if (codedConcept) {
          this.$emit('createMapping', { item, codedConcept })
        }
      } catch (error) {
        this.$oops(this.$t('invalid-input'))
      }
    },
    searchFilter (value, search, item) {
      const query = search.toLowerCase()
      const nameMatches = () => item.name?.some(name => name['#text']?.toLowerCase()?.includes(query))
      const synomymMatches = () => item.synonym?.some(name => name['#text']?.toLowerCase()?.includes(query))

      return nameMatches() || synomymMatches()
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep tr.over:not(.no-drop) {
  background-color: #d5e0ff !important;
}

.dropzone ::v-deep .v-data-table__wrapper tbody tr:not(.v-data-table__expanded__content):not(.no-drop) {
  background-color: #f5f5f5;
  opacity: .5;

}

.mapping-box {
  min-height: 45px;
}

.expanded {
  transform: rotate(-180deg);
}
</style>
