<template>
  <v-dialog :value="value" width="800" persistent>
    <v-card :loading="isLoading">
      <AdCardTitle dialog>
        {{ $t('new-codesystem') }}
      </AdCardTitle>

      <v-card-text>
        <v-form ref="form" v-model="modal.formIsValid">
          <v-row dense>
            <!-- Name -->
            <v-col cols="6">
              <EditableShortFormalName
                v-model="modal.inputs.name"
                :label="$t('name')"
              />
            </v-col>
            <!-- Display name -->
            <v-col cols="6">
              <EditableString
                v-model.trim="modal.inputs.displayName"
                :label="$t('display-name')"
              />
            </v-col>
            <!-- Description -->
            <v-col cols="12">
              <EditableTranslationEditor
                editor
                :locales="projectLocales"
                :label="$t('description')"
                v-model="modal.inputs.desc"
              />

            </v-col>
          </v-row>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal" :disabled="isLoading"/>
        <AdButton
          type="add"
          :disabled="!modal.formIsValid || isLoading"
          @click="save"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  formIsValid: false,
  inputs: {
    name: null,
    displayName: null,
    desc: null,
    statusCode: 'draft'
  }
}
export default {
  name: 'CodeSystemAdd',
  components: {
  },
  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      isLoading: false
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    async save () {
      try {
        this.isLoading = true
        const data = {
          ...this.modal.inputs
        }
        await this.$store.dispatch('terminology/createCodeSystem', { data })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      this.isLoading = false
      this.closeModal()
    }
  }
}
</script>
