<template>
  <v-layout>
    <v-container fluid>
      <!-- Modals -->
      <CodeSystemClone
        :showDialog="modals.codeSystemClone"
        @cancel="modals.codeSystemClone = false"
      />
      <CodeSystemAddReference
        v-model="modals.codeSystemAddReference"
      />
      <CodeSystemAdd
        v-model="modals.codeSystemAdd"
      />

      <AdBreadcrumbs :items="breadcrumbs" />
      <v-row class="d-flex flex-row flex-md-nowrap">
        <v-col
          class="flex-grow-0 col-treeview"
          cols="12"
          md="auto"
        >
          <TreeviewPanel
            :filters="filters"
            :trees="trees"
            :active-item="codeSystemActive"
            indicateNoData
          >
            <template v-slot:action-buttons>
              <div>
                <AdButton
                  v-if="codeSystemsAreEditable"
                  type="add"
                  :hint="$t('add-codesystem')"
                  list-item
                  @click="modals.codeSystemAdd = true"
                />
                <AdButton
                  v-if="codeSystemsAreEditable"
                  type="clone"
                  :hint="$t('clone-codesystem')"
                  list-item
                  @click="modals.codeSystemClone = true"
                />
                <AdButton
                  v-if="codeSystemsAreEditable"
                  type="inherit"
                  :hint="$t('new-reference')"
                  :text="$t('new-reference')"
                  list-item
                  @click="modals.codeSystemAddReference = true"
                />
              </div>
            </template>
          </TreeviewPanel>
        </v-col>
        <v-col cols="12" md="auto" class="flex-grow-1 flex-shrink-1">
          <router-view :key="$route.fullPath"/>
          <v-card v-if="$route.name === 'codesystems'">
            <AdInfoOwl>{{$t('select-codesystem')}}</AdInfoOwl>
          </v-card>
          <v-card v-else-if="!codeSystemItem && !codeSystemActive && !isLoading('codeSystemItems') && !isLoading('codeSystemItem')">
            <AdInfoOwl error>{{$t('codesystem-not-found')}}</AdInfoOwl>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'
import CodeSystemClone from '@/components/Terminology/CodeSystemClone'
import CodeSystemAddReference from '@/components/Terminology/CodeSystemAddReference'
import CodeSystemAdd from '@/components/Terminology/CodeSystemAdd'

import { mapGetters } from 'vuex'
export default {
  components: {
    TreeviewPanel,
    CodeSystemClone,
    CodeSystemAddReference,
    CodeSystemAdd
  },
  data () {
    return {
      filters: [],
      modals: {
        codeSystemClone: false,
        codeSystemAddReference: false,
        codeSystemAdd: false
      },
      onSelectIsNeverCalled: true
    }
  },
  computed: {
    ...mapGetters('server', ['getItemStatuses']),
    ...mapGetters('terminology', ['codeSystemItems', 'codeSystemActive', 'codeSystemItem', 'isLoading', 'codeSystemsAreEditable', 'preserveCodeSystemItemOnSelect']),
    watchDataForFilters () {
      return [this.getItemStatuses, this.$i18n.locale]
    },
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['codesystems', 'codesystems-details-id', 'codesystems-details-id-effectiveDate']
        },
        {
          text: this.$t('terminology'),
          disabled: true,
          show: ['codesystems', 'codesystems-details-id', 'codesystems-details-id-effectiveDate']
        },
        {
          exact: true,
          text: this.$t('codesystems'),
          to: { name: 'codesystems' },
          show: ['codesystems', 'codesystems-details-id', 'codesystems-details-id-effectiveDate']
        },
        {
          text: this.$filters.getMatchingTranslation({
            value: this.$store.getters['terminology/codeSystemActive']?.displayName
          }) || this.$route.params?.id,
          to: {
            name: 'codesystems-details-id',
            params: {
              id: this.$route.params?.id
            }
          },
          show: ['codesystems-details-id', 'codesystems-details-id-effectiveDate']
        },
        {
          text: this.$route.params?.effectiveDate ? this.$filters.formatDateShort(this.$route.params?.effectiveDate) : '',
          to: {
            name: 'codesystems-details-id-effectiveDate',
            params: {
              id: this.$route.params?.id,
              effectiveDate: this.$route.params?.effectiveDate
            }
          },
          show: ['codesystems-details-id-effectiveDate']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    trees () {
      return {
        codeSystemsList: {
          artefact: 'CS',
          name: this.$t('codesystems'),
          icon: 'mdi-format-list-bulleted-type',
          loading: this.isLoading('codeSystemItems'),
          loaded: !this.isLoading('codeSystemItems'),
          editable: false,
          menu: this.codeSystemsAreEditable,
          items: this.codeSystemItems,
          key: 'uuid',
          text: (item) => item.versionLabel ? `${item.displayName} (${item.versionLabel})` : item.displayName,
          children: null,
          onSelect: (activeItem) => {
            this.$store.commit('terminology/setCodeSystemActive', activeItem)
            if (!this.preserveCodeSystemItemOnSelect) {
              this.$store.commit('terminology/setCodeSystemItem', null)
            }

            // Workaround to route to the correct version when te page is loaded.
            let preferredEffectiveDate = null
            if (this.onSelectIsNeverCalled) {
              const preferredVersionIndex = this.$store.getters['terminology/codeSystemVersionIndex']
              preferredEffectiveDate = activeItem?.codeSystem?.[preferredVersionIndex]?.effectiveDate || null
              this.onSelectIsNeverCalled = false
            }
            const routeName = 'codesystems-details-id' + (activeItem.effectiveDate ? '-effectiveDate' : '')
            this.$router.push({ name: routeName, params: { id: activeItem.id || activeItem.ref, effectiveDate: preferredEffectiveDate || activeItem.effectiveDate } }).catch(() => {})
          },
          onBeforeEdit: () => {
          // Do nothing.
          },
          onAfterEdit: () => {
          // Do nothing.
          },
          onEdit: () => {
          // Do nothing.
          }
        }
      }
    }
  },
  watch: {
    watchDataForFilters: {
      immediate: true,
      deep: true,
      handler () {
        const defaultActive = ['new', 'draft', 'pending', 'final', 'undefined']
        this.filters = this.getItemStatuses?.map(status => {
          const currentlyActive = this.filters?.find(filter => filter.key === status.value)?.active
          return {
            name: this.$filters.getMatchingTranslation({ value: status.label, locale: this.$i18n.locale }),
            key: status.value,
            active: currentlyActive !== undefined
              ? currentlyActive
              : defaultActive.includes(status.value)
          }
        }) || ['']
        const referenceFilterActive = this.filters.find(filter => filter.key === undefined)?.active
        this.filters.push({
          name: this.$t('none'),
          key: undefined,
          active: referenceFilterActive !== undefined
            ? referenceFilterActive
            : defaultActive.includes('undefined')
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>

::v-deep .treeview-panel-item-not-yet-used {
  border-left: 8px solid #d3e2e8;
  padding-left: 24px;

  .v-treeview {
    padding-left: 0;
  }
}
</style>
