<template>
  <v-dialog :value="value" width="1100" persistent>
    <v-card>
      <AdCardTitle dialog>
          {{ $t('add-parents') }}
      </AdCardTitle>

      <v-card-text>
        <v-data-table
          v-if="codedConcept"
          :value="modal.selectedParents"
          class="elevation-0"
          :item-class="getItemClass"
          :headers="conceptListHeaders"
          :items="filteredConceptListItems"
          :hide-default-footer="conceptListItems.length <= 10"
          :hide-default-header="!conceptListItems.length"
          dense
          disable-sort
          :search="modal.searchConcepts"
          :custom-filter="conceptListFilter"
          show-select
          item-key="code"
          selectable-key="selectable"
          :footer-props="{ 'items-per-page-options': [5, 10, 15] }"
          @item-selected="selectCode"

        >
          <template v-slot:top>
            <v-row no-gutters class="pb-3">
              <v-col>
                <EditableSwitch
                  v-model="modal.showAll"
                  :label="$t('show-unselectable-coded-concepts')"
                />
              </v-col>
              <v-col>
                <v-text-field
                  v-model="modal.searchConcepts"
                  append-icon="mdi-magnify"
                  :label="$t('search')"
                  single-line
                  hide-details
                  solo
                  dense
                  clearable
                  class="ma-3"
                  :disabled="!conceptListItems.length"
                />
              </v-col>
            </v-row>
          </template>

          <template v-slot:[`item.levelType`]="{ item }">
            <div v-if="item.level && item.type" :class="'pl-'.concat(new Number(item.level) * 3 + 5)" class="text-no-wrap">
              {{ item.level + "-" + item.type }}
            </div>
          </template>

          <template v-slot:[`item.code`]="{ item }">
            <div :class="conceptTypeStyling(item)" class="text-no-wrap">
              {{ item.code }}
            </div>
          </template>

          <template v-slot:[`item.designation`]="{ item }">
            <div v-for="(dsg, ix) in getMatchingDesignations(item)" :key="ix">
              <span :class="conceptTypeStyling(item)">{{ dsg.displayName }}</span>
              <v-chip v-if="dsg.type" small class="ml-2 my-1" :disabled="!item.selectable">
                {{ $t(dsg.type) }}
                <flag v-if="dsg.language" :squared="Boolean(0)" :iso="dsg.language.substring(3, 5)" class="ml-2" />
              </v-chip>
            </div>
            <div v-if="item.desc" class="text--disabled">
              <EditableTextArea
                  :value="item.desc"
                  :locales="projectLocales"
                  readonly
                  :only="String(100)"
                />
            </div>
          </template>

          <template v-slot:[`item.statusCode`]="{ item }">
            <span style="white-space: nowrap;" class="pr-7">
              <AdStatusDot v-if="item.statusCode" class="pr-1" :status="item.statusCode"/>
              {{ $t(item.statusCode) }}
            </span>
          </template>

        </v-data-table>

        <AdInfoOwl v-else class="mt-4" error>No active coded concept.</AdInfoOwl>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal"/>
        <AdButton type="save" :disabled="!codedConcept || modal.selectedParents.length < 1" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  searchConcepts: '',
  showAll: 'false',
  selectedParents: []
}
export default {
  name: 'CodedConceptParentSelectionDialog',

  props: {
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // The active codedConcept
    codedConcept: {
      type: Object,
      required: false,
      default: null
    },
    conceptList: {
      type: Array,
      required: false,
      default: () => ([])
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    availableConceptListItems () {
      const blacklistedCodes = [this.codedConcept.code, ...this.getAllCodedConceptChildren()]
      const blacklistedStatusCodes = ['retired', 'cancelled', 'rejected', 'deprecated']

      return this.conceptListItems.map(item => ({
        ...item,
        selectable: !(blacklistedCodes.includes(item.code) || blacklistedStatusCodes.includes(item.statusCode))
      }))
    },
    conceptListHeaders () {
      return [
        { value: 'levelType', text: `${this.$t('level')}/${this.$t('type')}`, width: '1' },
        { value: 'code', text: this.$t('code'), width: '1' },
        { value: 'designation', text: `${this.$t('designation')}/${this.$t('description')}` },
        { value: 'statusCode', text: this.$t('status'), width: '1', align: 'top' }
      ]
    },
    conceptListItems () {
      const list = []
      const addToList = code => {
        list.push(code)
        if (Array.isArray(code.child)) {
          code.child.forEach(child => addToList(child))
        }
      }
      this.conceptList.forEach(code => addToList(code))
      return list
    },
    conceptTypeStyling () {
      return item => this.$filters.getConceptTypeStyling(item.type)
    },
    filteredConceptListItems () {
      if (this.modal.showAll === 'true') {
        return this.availableConceptListItems
      }
      return this.availableConceptListItems.filter(item => item.selectable)
    },
    getDesignation () {
      return item => this.$filters.getDesignation({ value: item.designation })?.displayName || ''
    },
    getMatchingDesignations () {
      return item => this.$filters.getMatchingDesignations({ value: item.designation })
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
    },
    conceptListFilter (value, search, item) {
      const query = search.toLowerCase()
      const code = item?.code?.toLowerCase()
      const name = this.getDesignation(item)?.toLowerCase()
      return code?.includes(query) || name?.includes(query)
    },
    getAllCodedConceptChildren (arr = this.codedConcept.child) {
      if (!Array.isArray(arr)) {
        return []
      }
      let result = []

      arr.forEach(item => {
        result.push(item.code)
        if (Array.isArray(item.child)) {
          result = result.concat(this.getAllCodedConceptChildren(item.child))
        }
      })

      return result
    },
    getItemClass (item) {
      return !item.selectable ? 'text--disabled' : ''
    },
    save () {
      const parents = cloneDeep(this.modal.selectedParents)
      this.$emit('save', { parents })
      this.closeModal()
    },
    selectCode ({ item, value }) {
      if (value) {
        this.modal.selectedParents.push({ code: item.code })
      } else {
        this.modal.selectedParents = this.modal.selectedParents.filter(parent => parent.code !== item.code)
      }
    }

  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (modalIsOpen && Array.isArray(this.codedConcept.parent)) {
          this.modal.selectedParents = this.codedConcept.parent.map(item => ({ code: item.code }))
        }
      }
    }
  }
}
</script>
