<template>
  <div class="cs-editor">
    <!-- Modals -->
    <AddPropertyDefinitionModal
      v-model="modals.propertyDefinition.open"
      :selected="modals.propertyDefinition.selected"
      @save="handleAddPropertyDefinition"
      :codeNamesInUse="codeNamesInUse"
    />
    <AddCodePropertyModal
      v-model="modals.codeProperty.open"
      :selected="modals.codeProperty.selected"
      @save="handleAddCodeProperty"
      :propertyDefinitions="propertyDefinitions"
    />
    <CodedConceptParentSelectionDialog
      v-if="modals.parentSelection.open"
      v-model="modals.parentSelection.open"
      :codedConcept="activeConcept"
      :conceptList="conceptListItems"
      @save="handleSaveParentSelection"
    />

    <!-- Editor -->
    <v-tabs v-model="tabIndex">
      <v-tab ripple>{{ $t('conceptlist') }}</v-tab>
      <v-tab ripple>{{ $t('property-definitions') }}</v-tab>
      <div class="align-self-center">
        <AdButton class="pl-5" type="save" @click="save()"/>
        <AdButton type="cancel" @click="cancelEditConceptList()"/>
        <AdButton
          v-if="!fullscreen && !editorFullscreen"
          type="fullscreen"
          list
          @click="onEmitFullscreen('fullscreen')"
        />
        <AdButton
          v-if="fullscreen || editorFullscreen"
          type="exit-fullscreen"
          list
          @click="onEmitFullscreen('closeFullscreen')"
        />
      </div>
    </v-tabs>
    <v-tabs-items v-model="tabIndex">
      <!-- Concept List -->
      <v-tab-item>
        <v-row no-gutters class="pb-3">
          <v-col cols="12">
            <TreeTable
              ref="treeTable"
              class="tree-table"
              :fixedHeader="true"
              tableHeight="650px"
              :select-mode="true"
              :items="conceptListItems"
              :headers="conceptListHeaders"
              item-key="navkey"
              item-children="child"
              item-text="code"
              @selected="activeConcept = $event"
            >
              <template #buttons>
                <v-menu offset-y>
                  <template #activator="{ on, attrs }">
                    <AdButton
                      v-bind="attrs"
                      v-on="on"
                      color="grey"
                      medium
                      list
                      icon="mdi-dots-vertical"
                      outlined
                    />
                  </template>
                  <v-list>
                    <AdButton
                      type="add"
                      :hint="$t('add-coded-concept')"
                      list-item
                      @click="addNewCodedConcept()"
                    />
                    <AdButton
                      type="add"
                      :text="$t('insert')"
                      :hint="$t('insert-item-into')"
                      list-item
                      @click="addNewCodedConcept('into')"
                      v-show="codedConceptIsEditable"
                    />
                  </v-list>
                </v-menu>
              </template>

              <template #item.code="{ item }">
                <span class="pr-7 text-no-wrap">
                  <v-icon class="pr-2" :color="$filters.getStatusColor(item.statusCode)">
                    {{ isActive(item) || ['draft', 'experimental'].includes(item.statusCode) ? 'mdi-circle' : 'mdi-circle-outline' }}
                  </v-icon>
                  <span class="font-weight-bold" :class="item.type==='A' ? ' text--disabled' : ''">
                    {{ item.code }}
                  </span>
                </span>
              </template>

              <template #item.designation="{ item }">
                {{getDesignation(item)}}
              </template>

              <template #no-data >
                <AdButton class="mt-4" type="add" :text="$t('add-coded-concept')" @click="addNewCodedConcept()" />
              </template>

              <template #active-item>
                <AdInfoOwl v-if="!activeConcept" class="my-4" inset>
                  {{ $t('select-concept' )}}
                </AdInfoOwl>

                <template v-else>
                  <AdCardTitle inline>
                    {{ $t('concept-details') }}
                  </AdCardTitle>

                  <v-timeline align-top dense>
                    <!-- Parent(s) -->
                    <v-timeline-item
                      v-if="parentConcepts.length"
                      small
                      icon="mdi-arrow-top-left"
                      fill-dot
                      color="orange lighten-3"
                    >
                      <v-card class="mx-auto px-3" width="90%" transition="expand-y-transition">
                        <v-data-table
                          :headers="parentHeaders"
                          :items="parentConcepts"
                          class="clickable-rows"
                          dense
                          @click:row="selectForTreeTable"
                          :items-per-page="5"
                          :hide-default-footer="parentConcepts.length <= 5"
                          :footer-props="{ 'items-per-page-options': [5, 10, 15] }"
                        >
                          <template #item.designation="{ item }">
                            {{getDesignation(item)}}
                          </template>
                          <template #item.actions="{ item }">
                            <AdButton
                              v-if="codedConceptIsEditable"
                              @click.stop="handleDeleteParent(item)"
                              type="erase"
                              icon="mdi-vector-polyline-remove"
                              list
                              :hint="$t('delete-parent-relationship')"
                            />
                          </template>
                        </v-data-table>
                      </v-card>
                    </v-timeline-item>

                    <!-- Currently active item -->
                    <v-timeline-item icon="mdi-bullseye-arrow" fill-dot color="orange lighten-2">
                      <v-card class="elevation-7 " width="auto" transition="expand-y-transition">
                        <AdCardTitle>
                          <v-chip
                            v-if="activeConcept.statusCode === 'deprecated'"
                            color="headline red lighten-3"
                            class="font-weight-bold white--text py-2 mr-3"
                            :class="activeConcept.type==='A' ? ' text--lighten-2' : ' text--darken-3'"
                          >
                            {{ activeConcept.code }} – {{ $t('deprecated') }}
                          </v-chip>
                          <v-chip
                            v-else
                            outlined
                            color="headline orange darken-3"
                            class="font-weight-bold py-2 mr-3"
                            :class="activeConcept.type==='A' ? ' grey--text text--lighten-1' : ' orange--text text--darken-3'"
                          >
                            {{ activeConcept.code }}
                          </v-chip>
                          {{getDesignation(activeConcept)}}
                          <template v-if="codedConceptIsEditable">
                            <v-spacer></v-spacer>
                            <!-- Moving concepts isn´t allowed when  multiple parents are declared -->
                            <AdButton
                              list
                              type="moveConceptDown"
                              @click="moveActiveConcept('down')"
                              :disabled="parentConcepts.length > 1 || activeConceptIsLastChild"
                            />
                            <AdButton
                              list
                              type="moveConceptUp"
                              @click="moveActiveConcept('up')"
                              :disabled="parentConcepts.length > 1 || activeConceptIsFirstChild"
                            />
                            <AdButton
                              type="add"
                              icon="mdi-vector-polyline-plus"
                              list
                              :hint="$t('add-parent-relationship')"
                              @click="modals.parentSelection.open = true"/>
                          </template>
                        </AdCardTitle>
                        <v-card-text class="pt-3">
                          <v-row dense>
                            <v-col cols="12">
                              <!-- Code -->
                              <EditableString
                                v-model="activeConcept.code"
                                ref="codeInput"
                                :label="$t('code')"
                                :rules="[...singleCodeValidation, isUniqueCode]"
                                required
                                :readonly="!codedConceptIsEditable"
                                :disabled="activeConcept.nonExistent !== true"
                              />
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="12">
                              <!-- Designations -->
                              <v-expansion-panels accordion>
                                <v-expansion-panel ref="designation-panel">
                                  <v-expansion-panel-header>
                                    <AdCardTitle inline small class="text-subtitle-1">
                                      {{ $t('designations') }}
                                    </AdCardTitle>
                                  </v-expansion-panel-header>
                                  <v-expansion-panel-content>
                                    <CodedConceptDesignations v-model="activeConcept" :readonly="!codedConceptIsEditable"/>
                                    <div v-if="activeConcept.designation && activeConcept.designation.length >= 3" class="d-flex justify-end">
                                      <AdButton
                                        small
                                        :text="$t('scroll-to-top')"
                                        icon="mdi-arrow-up"
                                        noMarginRight
                                        @click="scrollToElement('designation-panel')"
                                      />
                                    </div>
                                  </v-expansion-panel-content>
                                </v-expansion-panel>
                              </v-expansion-panels>
                            </v-col>
                          </v-row>
                          <v-row dense>
                            <v-col cols="6" class="mt-4">
                              <!-- Status code - shall be from decor types for code system status -->
                              <EditableCodedConceptStatusCode
                                v-model="activeConcept.statusCode"
                                :initialValue="activeConcept.initialStatusCode"
                                :label="$t('status')"
                              />
                            </v-col>
                            <v-col cols="6" class="mt-4" >
                              <EditableDropdown
                                v-model="activeConcept.type"
                                item-value="value"
                                item-text="text"
                                :items="availableVocabTypes"
                                :label="$t('type')"
                                :readonly="!codedConceptIsEditable"
                              />
                            </v-col>
                            <v-col cols="12">
                              <!-- Description -->
                              <EditableTranslationEditor
                                v-model.trim="activeConcept.desc"
                                :locales="projectLocales"
                                :value="activeConcept.desc"
                                :label="$t('description')"
                                :readonly="!codedConceptIsEditable"
                                editor
                              />
                            </v-col>
                          </v-row>

                          <!-- Properties -->
                          <v-expansion-panels accordion class="mt-4 mb-4">
                            <v-expansion-panel>
                              <v-expansion-panel-header>
                                <AdCardTitle inline small class="text-subtitle-1">
                                  {{ $t('properties') }}
                                </AdCardTitle>
                              </v-expansion-panel-header>
                                <v-expansion-panel-content>
                                  <AdButton v-if="propertyDefinitions.length && codedConceptIsEditable" type="add" small @click="editCodeProperty(null)"/>
                                  <AdInfoOwl v-else-if="!propertyDefinitions.length" info>{{ $t('no-property-definitions') }}</AdInfoOwl>
                                  <v-card outlined class="mt-4 elevation-2">
                                    <v-card-text class="px-5">
                                      <v-data-table
                                        :headers="propertyHeaders"
                                        :items="codeProperties"
                                        item-key="uuid"
                                        dense
                                        :items-per-page="5"
                                        :hide-default-footer="codeProperties.length <= 5"
                                        :hide-default-header="!codeProperties.length"
                                      >
                                        <template #item.code="{ item }">
                                          {{ item.code }}
                                        </template>

                                        <template #item.value="{ item }">
                                          <div v-if="item.valueCoding">
                                            {{ item.valueCoding[0].code }}
                                            <span class="font--italic">{{ item.valueCoding[0].displayName }}</span>
                                            <span>(</span>
                                            <span>{{ $t('system') }}: </span>
                                            <span>{{ item.valueCoding[0].codeSystem}}</span>
                                            <span v-if="item.valueCoding[0].canonicalUri">
                                              / {{ item.valueCoding[0].canonicalUri }}
                                              </span>
                                            <span>)</span>
                                          </div>
                                          <template v-else-if="item.valueCode">
                                            {{ item.valueCode[0].code }}
                                          </template>
                                          <template v-else-if="item.valueString">
                                              {{ item.valueString[0].value }}
                                          </template>
                                          <template v-else-if="item.valueInteger">
                                              {{ item.valueInteger[0].value }}
                                          </template>
                                          <template v-else-if="item.valueDecimal">
                                              {{ item.valueDecimal[0].value }}
                                          </template>
                                          <template v-else-if="item.valueBoolean">
                                            <v-simple-checkbox :value="item.valueBoolean[0].value === 'true'" :ripple="false" disabled/>
                                          </template>
                                          <template v-else-if="item.valueDateTime">
                                              {{ $filters.formatDate(item.valueDateTime[0].value) }}
                                          </template>
                                        </template>

                                        <template #item.type="{ item }">
                                          <template v-if="getPropertyTypeFromDefinition(item)">
                                            {{ getPropertyTypeFromDefinition(item) }}
                                          </template>
                                          <v-tooltip v-else bottom>
                                            <template #activator="{ on, attrs }">
                                              <v-icon color="primary" dark v-bind="attrs" v-on="on">mdi-alert</v-icon>
                                            </template>
                                            <span>{{$t('no-property-definition')}}</span>
                                          </v-tooltip>
                                        </template>

                                        <template #item.action="{ item }">
                                            <AdSpeedDial v-if="codedConceptIsEditable" direction="left" :disabled="true">
                                              <AdSpeedOption type="edit" @click="editCodeProperty(item)"/>
                                              <AdSpeedOption type="erase" @click="removeCodeProperty(item)"/>
                                            </AdSpeedDial>
                                        </template>
                                      </v-data-table>
                                    </v-card-text>
                                  </v-card>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                          </v-expansion-panels>
                        </v-card-text>
                      </v-card>
                    </v-timeline-item>

                    <!-- Children -->
                    <v-timeline-item
                      v-if="childConcepts.length"
                      small
                      icon="mdi-arrow-bottom-right"
                      fill-dot
                      color="orange lighten-3">
                      <v-card class="mx-auto px-3" width="90%" transition="expand-y-transition">
                        <v-data-table
                          :headers="childHeaders"
                          :items="childConcepts"
                          class="clickable-rows"
                          dense
                          @click:row="selectForTreeTable"
                          :items-per-page="5"
                          :hide-default-footer="childConcepts.length <= 5"
                          :footer-props="{ 'items-per-page-options': [5, 10, 15] }"
                        >
                          <template #item.designation="{ item }">
                            {{getDesignation(item)}}
                          </template>
                        </v-data-table>
                      </v-card>
                      </v-timeline-item>
                  </v-timeline>
                </template>
              </template>

            </TreeTable>
          </v-col>
        </v-row>
      </v-tab-item>
      <!-- Property Definition -->
      <v-tab-item>
        <div class="pa-3">
          <AdInfoOwl>{{ $t('edit-property-definitions-hint') }}</AdInfoOwl>
          <v-data-table
            :headers="propertyDefinitionHeaders"
            :items="propertyDefinitions"
            item-key="code"
            :no-data-text="$t('no-properties-defined')"
            :hide-default-footer="propertyDefinitions.length <= 5"
            single-select
          >
            <template #top>
              <AdCardTitle inline>
                {{ $t('property-definitions') }}
                <v-spacer/>
                <AdButton v-if="codeSystemItemIsEditable" type="add" @click="editPropertyDefinition(null)"/>
              </AdCardTitle>
            </template>

            <template #item.code="{ item }">
              {{ item.code }}
            </template>

            <template #item.uri="{ item }">
                {{ item.uri }}
            </template>

            <template #item.type="{ item }">
                {{ item.type }}
            </template>

            <template #item.action="{ item }">
              <template v-if="codeSystemItemIsEditable">
                <AdSpeedDial v-if="!propertyDefinitionIsUsed(item)" direction="left">
                  <AdSpeedOption type="edit" @click="editPropertyDefinition(item)"/>
                  <AdSpeedOption type="erase" @click="removePropertyDefinition(item)"/>
                </AdSpeedDial>
                <span v-else class="orange--text">{{ $t('in-use') }}</span>
              </template>
            </template>

          </v-data-table>
        </div>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'

import AddPropertyDefinitionModal from '@/components/Terminology/AddPropertyDefinitionModal'
import AddCodePropertyModal from '@/components/Terminology/AddCodePropertyModal'
import CodedConceptParentSelectionDialog from '@/components/Terminology/CodedConceptParentSelectionDialog'
import CodedConceptDesignations from '@/components/Terminology/CodedConceptDesignations'
import EditableCodedConceptStatusCode from '@/components/Utilities/Editable/EditableStatusCode/EditableCodedConceptStatusCode'

import singleCodeValidation from '@/rules/singleCodeValidation'
import LockService from '@/services/LockService'

export default {
  name: 'CodeSystemsEditor',
  components: {
    AddPropertyDefinitionModal,
    AddCodePropertyModal,
    CodedConceptDesignations,
    EditableCodedConceptStatusCode,
    CodedConceptParentSelectionDialog
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    editorFullscreen: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      activeConcept: null,
      editableCodeSystemItem: null,
      fullscreen: false,
      modals: {
        propertyDefinition: {
          open: false,
          selected: null
        },
        codeProperty: {
          open: false,
          selected: null
        },
        parentSelection: {
          open: false
        }
      },
      tabIndex: 0,
      touchedPropertyDefinitions: false,
      singleCodeValidation
    }
  },
  computed: {
    ...mapGetters('terminology', ['codeSystemItem', 'isLoading', 'codeSystemItemIsEditable']),

    activeConceptIsFirstChild () {
      const childList = this.activeConcept?.parent?.[0]?.child || this.conceptListItems
      const index = childList.indexOf(this.activeConcept)
      return index === 0
    },
    activeConceptIsLastChild () {
      const childList = this.activeConcept?.parent?.[0]?.child || this.conceptListItems
      const index = childList.indexOf(this.activeConcept)
      return index === childList.length - 1
    },
    availableVocabTypes () {
      if (this.activeConcept?.child?.length && this.activeConcept?.type !== 'L') {
        return this.vocabTypes.filter(item => item.value !== 'L')
      }
      return this.vocabTypes
    },
    childConcepts () {
      return this.activeConcept?.child || []
    },
    childHeaders () {
      return [
        { value: 'code', text: this.$filters.nonBreakable(this.$t('childcode')), width: '150px' },
        { value: 'designation', text: this.$t('designation') }
      ]
    },
    codedConceptIsEditable () {
      return this.codeSystemItemIsEditable && ['draft', 'experimental'].includes(this.activeConcept?.statusCode)
    },
    codedConceptStatusCodes () {
      return this.$store.getters['server/getCodedConceptStatuses']
    },
    codeNamesInUse () {
      return this.propertyDefinitions.map(def => def.code)
    },
    codeProperties () {
      return this.activeConcept.property || []
    },
    conceptListItems: {
      get () {
        return this.editableCodeSystemItem?.conceptList?.[0]?.codedConcept || []
      },
      set (value) {
        if (!Array.isArray(this.editableCodeSystemItem.conceptList)) {
          this.$set(this.editableCodeSystemItem, 'conceptList', [{ codedConcept: value }])
        } else {
          this.editableCodeSystemItem.conceptList = [{ codedConcept: value }]
        }
      }
    },
    conceptListHeaders () {
      return [
        { value: 'code', text: this.$t('code'), width: '1' },
        { value: 'designation', text: this.$t('designation') }
      ]
    },
    getDesignation () {
      return item => this.$filters.getDesignation({ value: item.designation })?.displayName || ''
    },
    getPropertyTypeFromDefinition () {
      return item => this.editableCodeSystemItem?.property?.find(x => x.code === item.code)?.type || null
    },

    isActive () {
      return item => item?.statusCode === 'active'
    },
    parentConcepts () {
      return this.activeConcept?.parent || []
    },
    parentHeaders () {
      return [
        { value: 'code', text: this.$filters.nonBreakable(this.$t('parentcode')), width: '150px' },
        { value: 'designation', text: this.$t('designation') },
        { value: 'actions', text: this.$t('actions') }
      ]
    },
    propertyDefinitionIsUsed () {
      return item => {
        const code = item.code
        const isUsed = !!this.$filters.listHelper.listHelper({
          items: this.conceptListItems,
          children: 'item',
          handler: match => !!match.property?.find(prop => prop.code === code)
        }).item

        return isUsed
      }
    },
    propertyDefinitions () {
      return this.editableCodeSystemItem.property || []
    },
    propertyDefinitionHeaders () {
      return [
        { value: 'code', text: this.$t('code'), width: '100px' },
        { value: 'uri', text: this.$t('uri') },
        { value: 'type', text: this.$t('type') },
        { value: 'action', align: 'right', width: '150px', sortable: false }
      ]
    },
    propertyHeaders () {
      return [
        { value: 'code', text: this.$t('code'), width: '100px' },
        { value: 'value', text: this.$t('value') },
        { value: 'type', text: this.$t('type') },
        { value: 'action', align: 'right', width: '150px', sortable: false }
      ]
    },
    vocabTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.VocabType?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label, locale: this.$i18n.locale }),
        value: e.value
      })
      ) || []
    }
  },
  methods: {
    onEmitFullscreen (value) {
      if (value === 'fullscreen') {
        this.$emit('clicked', 'emitFullscreen')
        this.fullscreen = true
      } else {
        this.$emit('clicked', 'emitCloseFullscreen')
        this.fullscreen = false
      }
    },
    async addNewCodedConcept (mode = 'bottom') {
      if (!Array.isArray(this.editableCodeSystemItem.conceptList)) {
        this.$set(this.editableCodeSystemItem, 'conceptList', [{ codedConcept: [] }])
      }
      const count = this.$refs.treeTable?.flattenItems?.length + 1 || 0
      const newItem = {
        code: `code-${count}`,
        desc: [],
        designation: [],
        level: '0',
        navkey: this.getUuid(),
        statusCode: 'draft',
        type: 'L',
        parent: [],
        child: [],
        nonExistent: true // code is not yet persisted in db
      }
      if (mode === 'bottom') {
        this.editableCodeSystemItem.conceptList[0].codedConcept.push(newItem)
      } else if (mode === 'into') {
        // Handle parent and child references
        newItem.parent = [this.activeConcept]
        if (!Array.isArray(this.activeConcept.child)) {
          this.$set(this.activeConcept, 'child', [])
        }

        // Set correct level
        newItem.level = (+this.activeConcept.level + 1).toString()

        // Set type for parent
        if (this.activeConcept.type === 'L') {
          this.activeConcept.type = 'S'
        }

        this.activeConcept.child.push(newItem)
      }

      await this.$nextTick()
      this.selectForTreeTable(newItem)

      await this.$nextTick()
      if (this.$refs.codeInput) {
        this.$refs.codeInput.focus()
      }
    },
    cancelEditConceptList () {
      this.$emit('input', false)
      this.editableCodeSystemItem = null
      const objectId = this.codeSystemItem.id
      const effectiveDate = this.codeSystemItem.effectiveDate
      LockService.unlockObjectId({ objectId, effectiveDate }).catch(error => {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      })
      this.$emit('clicked', 'emitCloseFullscreen')
      this.fullscreen = false
    },
    editCodeProperty (item) {
      this.modals.codeProperty.selected = item
      this.modals.codeProperty.open = true
    },
    editPropertyDefinition (item) {
      this.modals.propertyDefinition.selected = item
      this.modals.propertyDefinition.open = true
    },
    handleAddCodeProperty (property) {
      if (!this.activeConcept.property) {
        this.$set(this.activeConcept, 'property', [])
      }

      if (this.modals.codeProperty.selected !== null) {
        // Update existing definition
        this.activeConcept.property = this.$filters.listHelper.replaceItemInList({
          items: this.activeConcept.property,
          item: property,
          handler: match => match.uuid === property.uuid
        })
      } else {
        // Add a new definition
        this.activeConcept.property.push(property)
      }
    },
    handleAddPropertyDefinition (definition) {
      this.touchedPropertyDefinitions = true

      if (!this.editableCodeSystemItem.property) {
        this.$set(this.editableCodeSystemItem, 'property', [])
      }

      if (this.modals.propertyDefinition.selected !== null) {
        // Update existing definition
        this.editableCodeSystemItem.property = this.$filters.listHelper.replaceItemInList({
          items: this.propertyDefinitions,
          item: definition,
          handler: match => match.code === definition.code
        })
      } else {
        // Add a new definition
        this.editableCodeSystemItem.property.push(definition)
      }
    },
    async handleDeleteParent (parent) {
      const agree = await this.$confirm(this.$t('coded-concept-remove-parent-warning'))
      if (agree) {
        parent.child = parent.child.filter(child => child.code !== this.activeConcept.code)
        if (!parent.child.length && parent.type === 'S') {
          parent.type = 'L'
        }
        this.activeConcept.parent = this.activeConcept.parent.filter(item => item.code !== parent.code)

        // If the last parent just was removed, bring the activeConcept to the root level (no parents)
        if (!this.activeConcept.parent.length) {
          this.activeConcept.level = '0'
          this.conceptListItems.push(this.activeConcept)
        }
      }
    },
    handleSaveParentSelection ({ parents }) {
      parents.forEach(({ code }) => {
        const codedConcept = this.$filters.listHelper.listHelper({
          items: this.conceptListItems,
          children: 'child',
          handler: match => match.code === code
        })?.item || null

        if (!codedConcept) {
          return
        }

        // Add activeConcept as a child to parent codedConcept
        if (!codedConcept.child.some(child => child.code === this.activeConcept.code)) {
          codedConcept.child.push(this.activeConcept)
          if (codedConcept.type === 'L') {
            codedConcept.type = 'S'
          }
        }

        // If activeConcept had no parents before (and was at root level), remove it there
        if (!this.activeConcept.parent.length) {
          this.activeConcept.level = (+codedConcept.level + 1).toString()
          this.conceptListItems = this.conceptListItems.filter(item => item.code !== this.activeConcept.code)
        }
        // Add parent to activeConcept
        if (!this.activeConcept.parent.some(parent => parent.code === codedConcept.code)) {
          this.activeConcept.parent.push(codedConcept)
        }
      })
    },
    isUniqueCode (newCode) {
      const hit = this.codeSystemItem?.conceptList?.[0]?.codedConcept?.find(item => item.code === newCode && item.code !== this.activeConcept.code)
      return hit ? this.$t('already-exists') : true
    },
    moveActiveConcept (direction) {
      if (!['up', 'down'].includes(direction)) {
        return
      }

      const item = this.activeConcept
      if (!item) {
        return
      }

      const childList = item.parent?.[0]?.child || this.conceptListItems
      const oldIndex = childList.indexOf(item)
      const indexMutation = direction === 'up' ? -1 : 1
      const newIndex = oldIndex + indexMutation

      if (!childList?.length || oldIndex < 0 || newIndex < 0 || newIndex > childList.length - 1) {
        return
      }
      childList.splice(newIndex, 0, childList.splice(oldIndex, 1)[0])
    },
    prepareConceptList4Tree (arr) {
      // create an code map
      const arrMap = new Map(arr.map(item => [item.code, item]))
      // resulting tree
      const tree = []

      for (let i = 0; i < arr.length; i++) {
        const item = arr[i] // pointer to this array element
        item.navkey = this.getUuid() // add a navigation key for tree view
        item.initialStatusCode = item.statusCode

        if (Array.isArray(item.property)) {
          item.property.forEach(property => {
            property.uuid = this.getUuid() // add a unique identifier for property items
          })
        }

        item.child = item.child?.filter(child => child.navkey) || [] // accept only children defined by prepareConceptList4Tree

        if (Array.isArray(item.parent)) {
          item.parent.forEach((parent, index, arr) => {
            const parentItem = arrMap.get(parent.code)
            if (parentItem) {
              arr[index] = parentItem // replace the parent code with a reference to the full parentItem

              // store a reference to the item in the parent
              if (Array.isArray(parentItem.child)) {
                parentItem.child.push(item)
              } else {
                parentItem.child = [item]
              }
            }
          })
        } else {
          item.parent = []
          tree.push(item)
        }
      }
      return cloneDeep(tree)
    },
    prepareConceptList4Api (arr) {
      if (!Array.isArray(arr)) {
        throw new Error('Value passed to prepareConceptList4Api is not an array')
      }
      let result = []

      // Create a flat list and remove circular parent / child references
      arr.forEach(item => {
        const newItem = { ...item }
        delete newItem.initialStatusCode
        delete newItem.nonExistent
        delete newItem.navkey

        if (Array.isArray(item.parent)) {
          newItem.parent = item.parent.map(parent => ({ code: parent.code }))
        }
        let children = []
        if (Array.isArray(item.child)) {
          children = this.prepareConceptList4Api(item.child)
          newItem.child = item.child.map(child => ({ code: child.code }))
        }
        result = result.concat([newItem], children)
      })
      const alreadyIncluded = new Set()
      const withoutDuplicates = result.filter(codedConcept => !alreadyIncluded.has(codedConcept.code) && alreadyIncluded.add(codedConcept.code))
      return withoutDuplicates
    },
    removeCodeProperty (item) {
      const index = this.activeConcept?.property?.indexOf(item)
      if (index > -1) {
        this.activeConcept.property.splice(index, 1)
      }
    },
    removePropertyDefinition (item) {
      this.touchedPropertyDefinitions = true
      const index = this.propertyDefinitions?.indexOf(item)
      if (index > -1) {
        this.propertyDefinitions.splice(index, 1)
      }
    },
    async save () {
      //  edited conceptlist to store, emit to exit edit mode
      try {
        const conceptList = this.prepareConceptList4Api(this.conceptListItems)
        const { id, effectiveDate } = this.editableCodeSystemItem || {}

        const data = {
          parameter: [{
            path: '/conceptList',
            op: 'replace',
            value: {
              conceptList: [
                { codedConcept: conceptList }
              ]
            }
          }]
        }

        if (this.touchedPropertyDefinitions) {
          const newPropertyDefinitions = cloneDeep(this.editableCodeSystemItem.property || [])
          const oldPropertyDefinitions = this.codeSystemItem.property || []

          newPropertyDefinitions.forEach(newDef => {
            data.parameter.push({
              path: '/property',
              op: 'replace',
              value: {
                property: newDef
              }
            })
          })

          oldPropertyDefinitions.forEach(oldDef => {
            if (!newPropertyDefinitions.find(def => def.code === oldDef.code)) {
              data.parameter.push({
                path: '/property',
                op: 'remove',
                value: {
                  property: oldDef
                }
              })
            }
          })
        }

        await this.$store.dispatch('terminology/patchCodeSystem', { id, effectiveDate, data })
        this.cancelEditConceptList()
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
    },
    scrollToElement (keyOn$refs) {
      if (!keyOn$refs) {
        return
      }
      const elementToScrollTo = this.$refs?.[keyOn$refs]?.$el
      if (!elementToScrollTo) {
        return
      }
      const offset = -200
      const top = elementToScrollTo.getBoundingClientRect().top + window.pageYOffset + offset
      return window.scrollTo({ top, behavior: 'smooth' })
    },
    selectForTreeTable (item) {
      const selectedCode = item.code
      const selectedNavkey = item.navkey || null
      const treeTable = this.$refs.treeTable
      if (!(selectedCode || selectedNavkey) || !treeTable) {
        return
      }
      // Get reference to the concept to be selected
      const { item: conceptToSelect } = this.$filters.listHelper.listHelper({
        items: this.conceptListItems,
        children: 'child',
        handler: match => selectedNavkey ? match.navkey === selectedNavkey : match.code === selectedCode
      })

      treeTable.selectActiveItem({ data: conceptToSelect })
    }

  },
  watch: {
    value: {
      immediate: true,
      handler (val) {
        if (val) {
          this.touchedPropertyDefinitions = false
          this.editableCodeSystemItem = cloneDeep(this.codeSystemItem)
          this.conceptListItems = this.prepareConceptList4Tree(this.conceptListItems)
        }
      }

    }
  }
}
</script>
<style lang="scss" scoped>
.text-subtitle-1 {
  padding: 0 0 0 0 !important;
}

::v-deep .clickable-rows tbody tr {
  cursor: pointer;
}

.cs-editor ::v-deep .active-item-layer{
max-height: 650px;
overflow-y: auto;
}
</style>
