<template>
  <div v-if="activeItem">
    <div v-if="!readonly" class="d-flex flex-wrap">
      <template v-for="dType in designationType">
        <AdButton
          v-if="!activeItem.designation || projectLocalesAvailable(dType.value).length > 0"
          :key="dType.value"
          :class="dType.value === 'fsn' ? 'order-0' : 'order-1'"
          type="add"
          small
          @click="addDesignation(dType.value)"
        >{{ dType['#text'] }}
        </AdButton>
      </template>
    </div>
    <v-form v-model="formIsValid">
      <template v-for="(designation, i) in activeItem.designation">
        <v-card outlined :key="`designation-${i}`" class="mt-4 elevation-2">
          <v-card-text class="px-5">
            <v-row dense>
              <v-col cols="4">
                <v-select
                  v-model="designation.type"
                  :class="{'required': !readonly, 'readonly': readonly}"
                  :items="designationType"
                  item-text="#text"
                  item-value="value"
                  :label="$t('type')"
                  :item-disabled="item => !designationTypeSelectable(designation, item)"
                  :rules="requiredField"
                  :readonly="readonly"
                />
              </v-col>
              <v-col cols="4">
                <v-select
                  v-model="designation.language"
                  :class="{'required': !readonly, 'readonly': readonly}"
                  :label="$t('language')"
                  :items="projectLocales.map(value => ({value}))"
                  item-value="value"
                  item-text="value"
                  :disabled="projectLocales.length <= 1 && !!designation.language"
                  :item-disabled="language => !languageSelectable(designation, language)"
                  :rules="requiredField"
                  :readonly="readonly"
                >
                  <template #selection="{ item }">
                    <div>
                      <div style="width: 24px; float: left">
                        {{ item.value.substring(0, 2) }}
                      </div>
                      <flag
                        :squared="false"
                        :iso="item.value.substring(3, 5)"
                      ></flag>
                    </div>
                  </template>
                  <template #item="{ item }">
                    <div>
                      <div style="width: 24px; float: left">
                        {{ item.value.substring(0, 2) }}
                      </div>
                      <flag
                        :squared="false"
                        :iso="item.value.substring(3, 5)"
                      ></flag>
                    </div>
                  </template>
                </v-select>
              </v-col>
              <v-col cols="4" class="text-right">
                <AdButton
                  v-if="!readonly"
                  type="delete"
                  small
                  noMarginRight
                  @click="removeDesignation(designation)"
                />
              </v-col>
            </v-row>
            <v-row dense>
              <v-col>
                <EditableString
                  v-model="designation.displayName"
                  :label="$t('display-name')"
                  required
                  :readonly="readonly"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </template>
    </v-form>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default: null
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      formIsValid: false,
      requiredField: [
        v => !!v || this.$t('required-field')
      ]
    }
  },
  computed: {
    activeItem () {
      return this.value
    },
    designationType () {
      return this.$store.getters['server/getDecorTypes']?.data?.DesignationType?.[0]?.enumeration
        ?.map((e) => ({
          '#text': this.$filters.getMatchingTranslation({ value: e.label, locale: this.$i18n.locale }),
          value: e.value
        })
        ) || []
    },
    designationTypeSelectable () {
      return (designation, item) => {
        return !(
          item.value === 'fsn' &&
          this.activeItem?.designation?.some(d => d.type === 'fsn' && d.language === designation.language)
        ) || designation.type === item.value
      }
    },
    languageSelectable () {
      return (designation, language) => {
        return !(
          designation.type === 'fsn' &&
          this.activeItem?.designation?.some(d => d.type === designation.type && d.language === language.value)
        ) || designation.language === language.value
      }
    },
    projectLocalesAvailable () {
      // return avaiable locale per type of designation
      // only needed for fully specified name (fsn)
      return (type) => {
        return this.projectLocales.filter((locale) => !this.activeItem?.designation || !this.activeItem?.designation?.some((designation) => type === 'fsn' && designation.type === type && designation.language === locale))
      }
    }

  },
  methods: {
    addDesignation (type) {
      if (this.activeItem?.designation == null) {
        this.$set(this.activeItem, 'designation', [])
      }
      const language = this.projectLocalesAvailable(type)?.[0] || this.projectInFocus?.defaultLanguage || null
      this.activeItem.designation.push({
        displayName: null,
        language,
        type
      })
    },
    removeDesignation (designation) {
      const index = this.activeItem.designation.indexOf(designation)
      if (index > -1) {
        this.activeItem.designation.splice(index, 1)
      }
    }

  }
}
</script>

<style lang="scss" scoped>

  ::v-deep .required .v-label:after {
    content: "*";
    font-weight: bold;
    color: var(--v-error-base);
  }

  ::v-deep .readonly.v-input--is-focused .v-label:after {
  font-family: 'Material Design Icons';
  -webkit-font-feature-settings: 'liga';
  content: "\F0341";
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}
</style>
