<template>
  <span>
    <v-chip
      v-bind="$attrs"
      v-on="$listeners"
      class="mx-1 mb-1 black--text"
      @click="showDetails = true"
    >
      {{ code.displayName || $filters.getMatchingTranslation({ value: code.name })}}
      <v-tooltip v-if="code.transactionId" bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-icon v-bind="attrs" v-on="on" class="ml-2" color="primary" dark small>
            mdi-movie
          </v-icon>
        </template>
        <span>{{$t('transaction-specific')}}</span>
      </v-tooltip>
    </v-chip>

    <v-dialog v-model="showDetails" width="700" persistent>
      <v-card>
        <AdCardTitle dialog>
          {{ code.displayName }}
          <v-tooltip v-if="code.transactionId" bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon v-bind="attrs" v-on="on" class="ml-2" color="primary" dark>
                mdi-movie
              </v-icon>
            </template>
            <span>{{$t('transaction-specific')}}</span>
          </v-tooltip>
        </AdCardTitle>

        <v-card-text class="pt-4">
          <v-row dense>
            <v-col>
              <v-text-field :value="code.code" :label="$t('code')" readonly />
            </v-col>
            <v-col>
              <v-text-field :value="code.displayName" :label="$t('display-name')" readonly />
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6">
              <v-text-field :value="code.codeSystemName || code.codeSystem" :label="$t('codesystem')" readonly />
            </v-col>
            <v-col v-if="code.equivalence" cols="6">
              <v-text-field :value="equivalence(code.equivalence)" :label="$t('association-equivalence')" readonly />
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions class="dialogbottomstrip">
            <v-spacer/>
            <AdButton type="close" @click="showDetails = false" />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>
export default {
  name: 'CodeDetailsChip',
  props: {
    code: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      showDetails: false
    }
  },
  computed: {
    equivalence () {
      return eq => {
        const equivalence = this.$store.getters['server/getDecorTypes']?.data?.EquivalencyType?.[0]?.enumeration?.find(type => type.value === eq)
        if (equivalence) {
          return this.$filters.getMatchingTranslation({ value: equivalence.label, locale: this.$i18n.locale })
        }
        return eq
      }
    }
  }
}
</script>

<style>

</style>
