<template>
  <div class="codesystems-details-card" :class="{ fullscreen: fullscreen }">
    <v-card v-if="codeSystemActive">
      <div v-if="!!editMode" class="backdrop-layer"></div>

      <div class="codesystems-details-card-header d-flex align-center flex-row backdrop-item">
        <v-slide-y-transition group leave-absolute>
          <AdCardTitle key="title" class="flex-grow-1">
            <v-fade-transition group leave-absolute>
              <span key="codeSystemItemName">
              <AdStatusDot :status="codeSystemActive.statusCode" tooltip larger darker v-if="codeSystemActive && codeSystemActive.statusCode"/>
              <AdStatusDot icon="mdi-circle-outline" larger darker v-else/>
              <span class="pl-2" v-if="codeSystemActive">{{ codeSystemActive.displayName }}</span>
              <AdRefChip
                v-if="codeSystemActive.ref && codeSystemItem"
                :ident="codeSystemItem.ident || codeSystemItem.id"
                darker
                small/>
              </span>
            </v-fade-transition>
          </AdCardTitle>
        </v-slide-y-transition>

        <v-spacer/>

         <AdButton
          v-if="userIsEditor && codeSystemActive.ref"
          type="erase"
          :text="$t('reference')"
          :hint="$t('delete-reference')"
          @click="deleteCodeSystemReference"
        />

        <AdArtefactDownloads v-model="modals.artefactDownload" :title="`${$t('downloads')} - ${codeSystemActive.displayName}`" :downloadData="codeSystemDownloadData"/>
        <AdButton
          type="downloads"
          @click="modals.artefactDownload = true"
        />

        <IssueCreationModal :object="codeSystemActive" @create="handleCreateIssue" />
      </div>

      <v-card-text>
        <PanelLoading v-if="isLoading('codeSystemItem') || !codeSystemItem" :loading="isLoading('codeSystemItem')" />
        <template v-else>
          <template v-if="codeSystemItem.ref">
            <AdInfoOwl v-if="codeSystemItem.external !== 'true'" error>{{ $t('codesystem-not-found') }}</AdInfoOwl>
            <AdInfoOwl v-else >
              {{ $t('codesystem-external-hint') }} <br/>
              {{ $t('go-to') }}
              <AdButton class="" link :to="{ name: 'browser'}">{{ $t('terminology-browser')}}</AdButton>

            </AdInfoOwl>
          </template>

          <AdVersionHistoryStepper
            v-if="codeSystemActive.effectiveDate"
            :versions="codeSystemActive.codeSystem || []"
            :value="selectedVersion"
            @input="handleSwitchVersion"
          />

          <EditableArtefactDetailHeader
            artefact="CodeSystem"
            :item="codeSystemItem"
            :locales="projectLocales"
            :isEditableStatusCode="isEditableStatusCode"
            :service="codeSystemPatchService"
            :readonly="!codeSystemItemIsEditable || !!codeSystemActive.ref"
            :hasDetails="!!codeSystemItem.statusCode"
            :showMore.sync="metadataIsExpanded"
          >
            <CodeSystemsMetaInformation :readonly="!codeSystemItemIsEditable || !!codeSystemActive.ref"/>
          </EditableArtefactDetailHeader>

          <!-- Concept List, if the code system is not a ref only -->
          <v-card
            v-if="!(codeSystemActive.ref && codeSystemItem)"
            class="backdrop-item">
            <v-card-text v-if="!editMode">
              <!-- the read card for concepts -->
              <v-data-table
                class="elevation-0"
                :headers="conceptListHeaders"
                :items="conceptListItems"
                :hide-default-footer="conceptListItems.length <= 10"
                :hide-default-header="!conceptListItems.length"
                dense
                disable-sort
                :search="searchConcepts"
                :custom-filter="conceptListFilter"
                :footer-props="{ 'items-per-page-options': [5, 10, 15] }"

              >
                <template v-slot:top>
                  <v-row no-gutters class="pb-3">
                    <v-col>
                      <AdCardTitle inline>
                        {{ $t('conceptlist') }}
                        <AdButton v-if="codeSystemItemIsEditable" class="pl-5" type="edit" @click="startEditMode"/>
                        <AdButton
                          v-if="!fullscreen"
                          type="fullscreen"
                          list
                          @click="fullscreen = true"
                        />
                        <AdButton
                          v-if="fullscreen"
                          type="exit-fullscreen"
                          list
                          @click="fullscreen = false"
                        />
                      </AdCardTitle>
                    </v-col>
                    <v-col>
                      <v-text-field
                        v-model="searchConcepts"
                        append-icon="mdi-magnify"
                        :label="$t('search')"
                        single-line
                        hide-details
                        solo
                        dense
                        clearable
                        class="ma-3"
                        :disabled="!conceptListItems.length"
                      />
                    </v-col>
                  </v-row>
                </template>

                <template v-slot:[`item.code`]="{ item }">
                  <div :class="conceptTypeStyling(item)" class="text-no-wrap">
                    {{ item.code }}
                  </div>
                </template>

                <template v-slot:[`item.designation`]="{ item }">
                  <div v-for="(dsg, ix) in getMatchingDesignations(item)" :key="ix">
                    <span :class="conceptTypeStyling(item)">{{ dsg.displayName }}</span>
                    <v-chip v-if="dsg.type" small class="ml-2 my-1">
                      {{ $t(dsg.type) }}
                      <flag v-if="dsg.language" :squared="Boolean(0)" :iso="dsg.language.substring(3, 5)" class="ml-2" />
                    </v-chip>
                  </div>
                  <div v-if="item.desc" class="text--disabled">
                    <EditableTextArea
                        :value="item.desc"
                        :locales="projectLocales"
                        readonly
                        :only="String(100)"
                      />
                  </div>
                </template>

                <template v-slot:[`item.statusCode`]="{ item }">
                  <span style="white-space: nowrap;" class="pr-7">
                    <AdStatusDot v-if="item.statusCode" class="pr-1" :status="item.statusCode"/>
                    {{ $t(item.statusCode) }}
                  </span>
                </template>

                <template v-slot:[`item.parents`]="{ item }">
                  <template v-if="Array.isArray(item.parent)">
                    <v-chip v-for="parent in item.parent" :key="parent.code" small class="ml-2 my-1" @click="searchConceptExact(parent.code)">
                      {{ $t(parent.code) }}
                    </v-chip>
                  </template>
                </template>

              </v-data-table>
            </v-card-text>
            <v-card-text v-else>
              <!-- we are in edit mode, show columns for concept list and property definition -->
              <CodeSystemsEditor v-model="editMode" @clicked="onClickedFullscreen" :editorFullscreen="fullscreen" />
            </v-card-text>
          </v-card>
          <div v-else class="px-1">
             {{ $t('no-conceptlist-for-ref-codesystems') }}
          </div>
          <UsageSection
            v-if="!fullscreen && !codeSystemActive.ref"
            :expanded.sync="usageSectionIsExpanded"
            :objectId="codeSystemItem.id"
            :objectEffectiveDate="codeSystemItem.effectiveDate"
            action="terminology/getCodeSystemUsage"
          />

          <HistorySection
            v-if="!fullscreen && !codeSystemActive.ref"
            :expanded.sync="historySectionIsExpanded"
            :objectId="codeSystemItem.id"
            :objectEffectiveDate="codeSystemItem.effectiveDate"
            artefact="CS"
          />

           <IssueAssociationsSection
            v-if="!fullscreen && (codeSystemItem.id || codeSystemItem.ref)"
            ref="issueSection"
            :count="issueAssociations"
            :objectId="codeSystemItem.id || codeSystemItem.ref"
            :objectEffectiveDate="codeSystemItem.effectiveDate || null"
          />

        </template>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import AdArtefactDownloads from '@/components/Rule/AdArtefactDownloads'
import EditableArtefactDetailHeader from '@/components/Utilities/Editable/EditableStructure/EditableArtefactDetailHeader'
import IssueCreationModal from '@/components/Issue/IssueCreationModal'
import IssueAssociationsSection from '@/components/Utilities/IssueAssociationsSection'
import UsageSection from '@/components/Utilities/UsageSection'
import HistorySection from '@/components/Utilities/HistorySection'
import CodeSystemsEditor from '@/components/Terminology/CodeSystemsEditor'
import CodeSystemsMetaInformation from '@/components/Terminology/CodeSystemsMetaInformation'
import LockService from '@/services/LockService'

import { mapGetters } from 'vuex'
import { isCancel } from 'axios'

export default {
  name: 'CodeSystemsDetailsCard',
  components: {
    AdArtefactDownloads,
    EditableArtefactDetailHeader,
    HistorySection,
    IssueCreationModal,
    IssueAssociationsSection,
    UsageSection,
    CodeSystemsMetaInformation,
    CodeSystemsEditor
  },
  data () {
    return {
      searchConcepts: '',
      editMode: false,
      ready: false,
      filters: [],
      fullscreen: false,
      modals: {
        artefactDownload: false
      }
    }
  },

  computed: {
    ...mapGetters('terminology', ['codeSystemItems', 'codeSystemActive', 'codeSystemItem', 'isLoading', 'codeSystemItemIsEditable', 'codeSystemsAreEditable']),

    abortController: {
      get () {
        return this.$store.getters['terminology/abortController']
      },
      set (value) {
        this.$store.commit('terminology/setAbortController', value)
      }
    },
    issueAssociations () {
      return parseInt(this.codeSystemItem?.issueAssociation?.[0]?.count) || 0
    },
    codeSystemDownloadData () {
      if (!this.codeSystemActive) return []
      return [
        {
          categoryTitle: this.$t('DECOR'),
          color: 'blue',
          links: [
            {
              text: 'XML',
              href: this.getExtractCodeSystemDownloadLink(this.codeSystemActive, 'xml')
            },
            {
              text: 'JSON',
              href: this.getExtractCodeSystemDownloadLink(this.codeSystemActive, 'json')
            }
          ]
        },
        {
          categoryTitle: this.$t('FHIR'),
          color: 'blue',
          links: ['3.0', '4.0', '4.3', '5.0'].flatMap(format => ([
            {
              text: `${this.$store.getters['server/getFhirLabel'](format)} - XML`,
              condition: () => this.$store.getters['project/projectHasFhirService'](format),
              href: this.getCodeSystemFhirDownloadLink(this.codeSystemActive, format)
            },
            {
              text: `${this.$store.getters['server/getFhirLabel'](format)} - JSON`,
              condition: () => this.$store.getters['project/projectHasFhirService'](format),
              href: this.getCodeSystemFhirDownloadLink(this.codeSystemActive, format, 'json')
            }
          ]))
        },
        {
          categoryTitle: this.$t('other'),
          color: 'blue',
          links: [
            {
              text: 'CSV',
              href: this.getExtractCodeSystemDownloadLink(this.codeSystemActive, 'csv')
            },
            {
              text: 'SQL',
              href: this.getExtractCodeSystemDownloadLink(this.codeSystemActive, 'sql')
            }
          ]
        }
      ]
    },
    conceptListHeaders () {
      return [
        { value: 'code', text: this.$t('code'), width: '1' },
        { value: 'designation', text: `${this.$t('designation')}/${this.$t('description')}` },
        { value: 'statusCode', text: this.$t('status'), width: '1', align: 'top' },
        { value: 'parents', text: this.$t('parentcode'), align: 'top' }
      ]
    },
    conceptListItems () {
      return this.codeSystemItem?.conceptList?.[0]?.codedConcept || []
    },
    conceptTypeStyling () {
      return item => this.$filters.getConceptTypeStyling(item.type)
    },
    getDesignation () {
      return item => this.$filters.getDesignation({ value: item.designation })?.displayName || ''
    },
    getMatchingDesignations () {
      return item => this.$filters.getMatchingDesignations({ value: item.designation })
    },
    isEditableStatusCode () {
      return this.userIsProjectAuthor === true &&
        this.codeSystemsAreEditable &&
        this.itemStatusCodeLifeCycle[this.codeSystemActive?.statusCode] != null &&
        this.itemStatusCodeLifeCycle[this.codeSystemActive?.statusCode].includes(this.codeSystemActive?.statusCode)
    },
    itemStatusCodeLifeCycle () {
      return this.$store.getters['server/decorStatusMaps']?.ItemStatusCodeLifeCycle?.[0] || []
    },
    selectedVersion: {
      get () {
        return this.$store.getters['terminology/codeSystemVersionIndex']
      },
      set (index) {
        this.$store.commit('terminology/setCodeSystemVersionIndex', index)
      }
    },
    usageSectionIsExpanded: {
      get () {
        return this.$store.state.terminology.expandedSections.codeSystem.usageSection
      },
      set (value) {
        this.$store.commit('terminology/setExpandedSection', { panel: 'codeSystem', section: 'usageSection', value })
      }
    },
    historySectionIsExpanded: {
      get () {
        return this.$store.state.terminology.expandedSections.codeSystem.historySection
      },
      set (value) {
        this.$store.commit('terminology/setExpandedSection', { panel: 'codeSystem', section: 'historySection', value })
      }
    },
    metadataIsExpanded: {
      get () {
        return this.$store.state.terminology.expandedSections.codeSystem.metadata
      },
      set (value) {
        this.$store.commit('terminology/setExpandedSection', { panel: 'codeSystem', section: 'metadata', value })
      }
    }
  },
  methods: {
    onClickedFullscreen (value) {
      if (value === 'emitFullscreen') {
        this.fullscreen = true
      } else {
        this.fullscreen = false
      }
    },
    async codeSystemPatchService (item, data, raw) {
      try {
        const { id, effectiveDate } = item

        await this.$store.dispatch('terminology/patchCodeSystem', {
          id,
          effectiveDate,
          data,
          metaData: true
        })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    conceptListFilter (value, search, item) {
      const query = search.toLowerCase()
      const code = item?.code?.toLowerCase()
      const name = this.getDesignation(item)?.toLowerCase()

      if (query[0] === ':') {
        const exactQuery = query.substring(1)
        return exactQuery.length === 0 || code === exactQuery || name === exactQuery
      }

      return code?.includes(query) || name?.includes(query)
    },
    async deleteCodeSystemReference () {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (!agree) {
        return
      }
      const codesystem = this.codeSystemActive

      try {
        await this.$store.dispatch('terminology/deleteCodeSystem', { codesystem })
        this.$notify(this.$t('submission-delete-success'), 'success')
        this.$router.push({ name: 'codesystems' })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    fetchCodeSystemByRouteParams () {
      // Set codeSystemActive based on the route params
      const { id, effectiveDate } = this.$route.params
      if (!id) {
        return
      }
      const activeCodeSystem = this.codeSystemItems?.find(cs => cs.id === id || cs.ref === id)

      if (!activeCodeSystem) {
        return
      }
      const version = activeCodeSystem.codeSystem?.find(cs => cs.effectiveDate === effectiveDate)
      const versionIndex = activeCodeSystem.codeSystem?.findIndex(cs => cs.effectiveDate === effectiveDate)
      if (effectiveDate && versionIndex < 0) {
        return
      }

      this.$store.commit('terminology/setCodeSystemItem', null)
      this.$store.commit('terminology/setCodeSystemVersionIndex', effectiveDate ? versionIndex : 0)
      this.$store.commit('terminology/setCodeSystemActive', activeCodeSystem)

      // Abort pending request
      if (this.abortController) {
        this.abortController.abort('New codeSystem selected')
      }

      // Set up abortController
      this.abortController = new AbortController()

      this.$store.dispatch('terminology/getCodeSystem', {
        id: version ? version.id : activeCodeSystem.id,
        ref: version ? version.ref : activeCodeSystem.ref,
        effectiveDate: version ? version.effectiveDate : activeCodeSystem.effectiveDate,
        params: {
          prefix: this.projectInFocus?.prefix
        },
        abortController: this.abortController
      })
        .then(() => {
          this.abortController = null
        })
        .catch(error => {
          if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
            return
          }
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    },
    getCodeSystemFhirDownloadLink (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.$store.getters['project/getFhirURL'](fhirFormat)
      const { id, ref, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const parsedEffectiveDate = effectiveDate?.replaceAll(/[-:T]/g, '')
      let url = `${BASE_URL}/${fhirFormat}/${prefix}/CodeSystem/${id || ref}`
      if (parsedEffectiveDate) {
        url += `--${parsedEffectiveDate}`
      }
      url += `?_format=${dataFormat}`
      return url
    },
    getExtractCodeSystemDownloadLink (item, format) {
      const { id, ref, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const url = `${this.$store.getters['server/URL_ART_DECOR_API']}/codesystem/${id || ref}${effectiveDate && !ref ? '/' + encodeURIComponent(effectiveDate) : ''}/$extract?language=${projectLanguage}&format=${format}&project=${prefix}`
      return url
    },
    handleCreateIssue (issue) {
      this.$store.commit('terminology/incrementCodeSystemIssueAssociationCount')
      if (this.$refs?.issueSection?.issueList?.issue) {
        this.$refs.issueSection.issueList.issue.push(issue)
      }
    },
    handleSwitchVersion (versionIndex) {
      const selectedVersion = this.codeSystemActive?.codeSystem?.[versionIndex]
      if (selectedVersion) {
        this.$router.push({ name: 'codesystems-details-id-effectiveDate', params: { id: selectedVersion.id, effectiveDate: selectedVersion.effectiveDate } }).catch(() => {})
      }
    },
    searchConceptExact (code) {
      this.searchConcepts = `:${code}`
    },
    async startEditMode () {
      try {
        await LockService.lockObjectId({ objectId: this.codeSystemItem.id, effectiveDate: this.codeSystemItem.effectiveDate })
        this.editMode = true
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      if (!this.fullscreen) {
        this.fullscreen = true
      }
    }
  },
  watch: {
    codeSystemItems (newVal) {
      if (newVal) {
        const { id, effectiveDate } = this.$route.params
        const codeSystem = newVal.find(cs => cs.id === id || cs.ref === id)
        const versionIndex = codeSystem?.codeSystem.findIndex(cs => cs.id === id && cs.effectiveDate === effectiveDate)
        if (versionIndex > -1) {
          this.selectedVersion = versionIndex
        }
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(async vm => {
      try {
        if (vm.$store.getters['terminology/codeSystemItems'] === null) {
          await vm.$store.dispatch('terminology/getCodeSystemList', { prefix: vm.projectInFocus?.prefix })
        }
        vm.fetchCodeSystemByRouteParams()
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        vm.$oops(errorMessage)
      }
    })
  },
  async beforeRouteUpdate (to, from, next) {
    // Check if the codeSystemList is fetched
    if (this.codeSystemItems === null) {
      await this.$store.dispatch('terminology/getCodeSystemList', { prefix: this.projectInFocus?.prefix })
    }
    const currentId = this.codeSystemItem?.id || this.codeSystemItem?.ref
    const currentEffectiveDate = this.codeSystemItem?.effectiveDate

    // Check if the route params match with the currently fetched codeSystemItem. If not, another codeSystem should be fetched
    if (to.params.id === currentId && to.params.effectiveDate === currentEffectiveDate) {
      return next()
    }

    // Look for the requested codesystem based on the route params
    const codeSystem = this.codeSystemItems?.find(cs => cs.id === to.params.id || cs.ref === to.params.id)

    if (!codeSystem) {
      this.$store.commit('terminology/initCodeSystem')
      return next()
    }

    // Set version index
    const versionIndex = codeSystem.codeSystem?.findIndex(cs => cs.id === to.params.id && cs.effectiveDate === to.params.effectiveDate)
    this.selectedVersion = versionIndex >= 0 ? versionIndex : 0

    // If id in route doesnt't match with codeSystemItem and codeSystemActive, set codeSystemActive
    if (to.params.id !== currentId && to.params.id !== this.codeSystemActive?.id) {
      this.$store.commit('terminology/setCodeSystemActive', codeSystem)
    }

    // Find the version specified in the route
    const version = codeSystem.codeSystem?.find(cs => cs.effectiveDate === to.params.effectiveDate)
    if (!version) {
      this.$store.commit('terminology/initCodeSystem')
      return next()
    }

    // Abort pending request
    if (this.abortController) {
      this.abortController.abort('New codeSystem selected')
    }

    // Set up abortController
    this.abortController = new AbortController()

    // Fetch the codeSystem
    this.$store.dispatch('terminology/getCodeSystem', {
      id: version.id,
      ref: version.ref,
      effectiveDate: version.effectiveDate,
      params: {
        prefix: this.projectInFocus?.prefix
      },
      abortController: this.abortController
    })
      .then(() => {
        this.abortController = null
      })
      .catch(error => {
        if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
          return
        }
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      })

    next()
  }
}
</script>

<style lang="scss" scoped>

.codesystems-details-card {
  position: relative;
  top: 0;

  .codesystems-details-card-header {
    position: sticky;
    top: 48px;
    z-index: 4;

    height: 72px;
    background: var(--v-topbottomstrip-base);

    ::v-deep .v-card__title {
      background: transparent !important;
    }
  }

}
.backdrop-layer,
.backdrop-layer-helper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.backdrop-layer-helper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.22);
}

.backdrop-item {
  position: relative;
  z-index: 3;
}

.fullscreen {
  transition: all 1s;
  z-index: 8;
  position: fixed;
  inset: 0;
  margin: 0 !important;
  max-width: 100vw;
  .backdrop-layer,
  .backdrop-layer-helper {
    background-color: white;
  }
  &.codesystems-details-card .codesystems-details-card-header {
    top: 0;
  }
  .card-backdrop {
    position: relative;
    top: -48px;
  }
  .backdrop-item {
    top: -100px;
  }
  & .v-card:first-child {
    height: 100vh;
    overflow-y: auto;
  }

}
</style>
