<template>
  <v-dialog
    :value="showDialog"
    width="800"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ $t('clone-codesystem') }}</AdCardTitle>
      <v-card-text >
        <v-form v-model="formIsValid" ref="form">
          <v-container>
            <v-row dense>
              <v-col cols="12">
                <AdInfoOwl>{{ $t('clone-codesystem-hint') }}</AdInfoOwl>
                <v-autocomplete
                  v-model="formInputs.codeSystem"
                  :items="codeSystems"
                  item-value="uuid"
                  :label="$t('codesystem')"
                  return-object
                  clearable
                  open-on-clear
                  :filter="codeSystemFilter"
                >
                  <template v-slot:[`item`]="{ item }">
                    <AdStatusDot larger tooltip class="mr-3" :status="item.statusCode" icon="mdi-format-list-bulleted-type" />
                    {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale })}}
                    <span v-if="item.versionLabel || item.effectiveDate" style="white-space: break-spaces"> ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})</span>
                  </template>
                  <template v-slot:[`selection`]="{ item }">
                    <AdStatusDot class="mr-2" tooltip :status="item.statusCode" icon="mdi-format-list-bulleted-type" />
                    {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale })}}
                    <span v-if="item.versionLabel || item.effectiveDate" style="white-space: break-spaces"> ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})</span>
                  </template>
                </v-autocomplete>
              </v-col>
              <!-- Keep IDs -->
              <v-col cols="9">
                <EditableSwitch
                  v-model="formInputs.keepIds"
                  :label="$t('keep-ids')"
                />
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="1" align-self="center">
                <EditableInfoIcon :infoText="$t('keep-ids-codesystem-hint')" />
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$emit('cancel')" :disabled="disabled || isCloning" />
        <AdButton type="clone" @click="handleClone" :disabled="disabled || !formIsValid || isCloning" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  name: 'CodeSystemClone',
  props: {
    showDialog: {
      type: Boolean,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      formIsValid: false,
      formInputs: {
        codeSystem: null,
        keepIds: 'false'
      },
      isCloning: false
    }
  },
  computed: {
    codeSystems () {
      return this.$store.getters['terminology/getFullCodeSystemList']()
    }
  },
  methods: {
    codeSystemFilter (item, queryText, itemText) {
      const name = this.$filters.getMatchingTranslation({ value: item.name }).toLowerCase()
      const search = queryText.toLowerCase()
      return name.includes(search)
    },
    async handleClone () {
      if (this.$refs.form.validate()) {
        try {
          this.isCloning = true
          const { keepIds } = this.formInputs
          const sourceId = this.formInputs.codeSystem?.id
          const sourceEffectiveDate = this.formInputs.codeSystem?.effectiveDate

          const params = {
            keepIds,
            prefix: this.projectInFocus?.prefix,
            sourceId,
            sourceEffectiveDate
          }
          this.$store.commit('terminology/preserveCodeSystemItemOnSelect', true)
          const clonedCodeSystem = await this.$store.dispatch('terminology/cloneCodeSystem', { params })
          this.$router.push({
            name: 'codesystems-details-id-effectiveDate',
            params: {
              id: clonedCodeSystem.id,
              version: clonedCodeSystem.effectiveDate
            }
          })
            .then(() => this.$store.commit('terminology/preserveCodeSystemItemOnSelect', false))
            .catch(() => {})
          this.$emit('cancel')
        } catch (error) {
          this.$emit('cancel')
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
          this.$oops(errorMessage)
        }
        this.isCloning = false
      }
    }
  },
  watch: {
    showDialog: {
      immediate: true,
      handler (newVal) {
        if (newVal) {
          // Find the codeSystem that corresponds with the selected codeSystem by the user
          const id = this.$store.getters['terminology/codeSystemActive']?.id ||
                this.$store.getters['terminology/codeSystemActive']?.ref
          const effectiveDate = this.$store.getters['terminology/codeSystemItem']?.effectiveDate ||
                           this.$store.getters['terminology/codeSystemActive']?.effectiveDate
          const selectedCodeSystem = this.codeSystems.find(cs => (cs.id === id || cs.ref === id) && cs.effectiveDate === effectiveDate)

          // Reset forminputs
          this.formInputs.codeSystem = (this.$store.state.terminology.codeSystemActive !== null)
            ? selectedCodeSystem
            : this.codeSystems?.[0] || null
          this.formInputs.keepIds = 'true'
        }
      }
    }
  }
}
</script>
