<template>
  <v-card
    class="concept-map-mappings-wrapper"
    :class="{'is-droppable': !!activeSourceConceptItem, 'drag-over': isDragOver}"
    @dragover="onDragOver({ $event })"
    @drop="onDrop({ $event })"
  >
    <ConceptMapEditorRelationDialog ref="relationDialog" :mapping-types="mappingTypes"/>

    <EditableRichText
      :showDialog="modals.comments.open"
      :mode="modals.comments.selected ? 'edit' : 'add'"
      @cancel="onCancelCommentsEditor"
      :value="modals.comments.selected"
      @input="modals.comments.onSave"
      editorType="input"
    />

    <div class="concept-map-details-card-header d-flex flex-row align-center pr-4 backdrop-item">
      <div class="d-flex flex-column justify-center flex-grow-1">
        <v-slide-y-transition group leave-absolute>
          <AdCardTitle key="title">
            <span class="text-no-wrap">{{ $t('concept-map') }}</span>
          </AdCardTitle>
        </v-slide-y-transition>
      </div>

      <template v-if="isUserLoggedIn && editable">
        <AdButton type="cancel" @click="cancelEditMode"/>
        <AdButton type="save" @click="saveEditedValues"/>
      </template>
    </div>

    <v-card-text>
      <EditableSwitch
        v-if="editable"
        v-model="removableMapping"
        :disabled="isRemovableMappingDisabled"
        :label="$t('concept-maps-remove-all-mappings')"
      />

      <AdInfoOwl v-if="!activeSourceConceptItem">{{ $t('select-source-concept') }}</AdInfoOwl>

      <template v-if="editable">
        <AdInfoOwl
          v-if="activeSourceConceptItem && !hasUnmatchedConceptMapRelation(activeSourceConceptItem)"
          class="pt-4"
        >
          <div class="d-flex justify-space-between">
            <div>{{ $t('concept-maps-create-unmatched-text') }}</div>
            <AdButton class="ml-4" @click="onAddUnmatchedConceptMapRelation">
              {{ $t('concept-maps-create-unmatched-button') }}
            </AdButton>
          </div>
        </AdInfoOwl>

        <AdInfoOwl v-if="activeSourceConceptItem">{{ $t('select-target-concept') }}</AdInfoOwl>
      </template>

      <AdInfoOwl v-if="!mappedElements.length && !isRemovableMappingDisabled" class="mb-0">{{
          $t('no-matches')
        }}
      </AdInfoOwl>
      <template v-else>
        <v-divider v-if="editable" class="mb-4"/>
        <div
          v-for="(mapping, index) of mappedElements"
          :key="index"
          class="concept-mappings-item"
        >
          <div
            class="d-flex flex-row align-center py-1 px-2 mx-n2 rounded-lg"
            :class="getColorForConceptMapping(mapping)"
          >
            <div class="concept-mappings-item-left fill-height">
              <span>{{ mapping.code }}</span>
              <v-btn
                v-if="editable"
                x-small
                icon
                text
                @click="onDeleteConceptMapRelation(mapping)"
              >
                <v-icon size="medium" color="red">close</v-icon>
              </v-btn>
            </div>

            <div class="concept-mappings-item-center flex-grow-1 pl-3 pr-6">
              <div
                class="concept-mappings-arrow-wrapper"
                :class="{ 'concept-mappings-arrow-wrapper-unmatched': !mapping.target[0].code }"
              >
                <div class="concept-mappings-arrow"/>
              </div>
            </div>

            <div
              v-if="mapping.target[0].code"
              class="concept-mappings-item-right fill-height"
            >
              <span>{{ mapping.target[0].code }}</span>
              <v-btn
                v-if="editable"
                :disabled="hasUnmatchedConceptMapRelation(mapping)"
                x-small
                icon
                text
                @click="onSetUnmatchedConceptMapRelation(mapping)"
              >
                <v-icon size="medium" color="red">close</v-icon>
              </v-btn>
            </div>
            <div v-else class="concept-mappings-item-right-unmapped"/>

            <div class="concept-mappings-item-button">
              <v-menu :disabled="!editable" offset-y>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="info" fab x-small v-bind="attrs" v-on="on">
                    <v-icon>{{ $filters.get(mappingTypes, mapping.target[0].relationship) }}</v-icon>
                  </v-btn>
                </template>

                <v-list dense>
                  <v-subheader class="grey lighten-3">{{ $t('relationship-kind') }}</v-subheader>
                  <v-list-item-group>
                    <v-list-item
                      v-for="(icon, type) of mappingTypes"
                      :key="type"
                      :disabled="!mapping.target[0].code || hasUnmatchedConceptMapRelation(mapping)"
                      @click="onChangeConceptMapRelation(mapping, type)"
                    >
                      <v-list-item-icon>
                        <v-icon>{{ icon }}</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>{{ $t(`mapping-type-${type}`)}}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>

                  <v-subheader class="grey lighten-3">{{ $t('other-actions') }}</v-subheader>
                  <v-list-item-group>
                    <v-list-item @click="startEditComments(mapping)">
                      <v-list-item-icon>
                        <v-icon>mdi-comment-text</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>{{ $t(`${mappingHasComment(mapping) ? 'edit' : 'add'}-comment`) }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item v-if="mappingHasComment(mapping)" @click="deleteComments(mapping)">
                      <v-list-item-icon>
                        <v-icon>mdi-comment-remove-outline</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>{{ $t('delete-comment') }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item class="red--text" @click="onDeleteConceptMapRelation(mapping)">
                      <v-list-item-icon>
                        <v-icon color="red">delete</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>{{ $t('delete') }} </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item
                      v-if="!hasUnmatchedConceptMapRelation(mapping) && mapping.target[0].code"
                      class="red--text"
                      @click="onSetUnmatchedConceptMapRelation(mapping)"
                    >
                      <v-list-item-icon>
                        <v-icon color="red">mdi-link-variant-off</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>{{ $t('unmatch') }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item
                      v-if="isRevertableConceptMapping(mapping)"
                      class="orange--text"
                      @click="onRevertConceptMapRelation(mapping)"
                    >
                      <v-list-item-icon>
                        <v-icon color="orange">undo</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>{{ $t('revert') }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-menu>
            </div>
          </div>
        </div>
      </template>

      <div
        class="concept-map-mappings-drag-over-layer"
        @dragleave="onDragLeave({ $event })"
      >
        <v-icon class="mr-2" large>mdi-inbox-arrow-down</v-icon>
        <span class="text-h5">DROP HERE</span>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import LockService from '@/services/LockService'
import ConceptMapEditorRelationDialog from '@/components/Terminology/ConceptMapEditorRelationDialog.vue'
import EditableRichText from '@/components/Utilities/Editable/EditableRichText'

const mappingTypes = {
  equivalent: 'mdi-approximately-equal',
  unmatched: 'mdi-not-equal-variant',
  equal: 'mdi-equal',
  wider: 'mdi-greater-than',
  narrower: 'mdi-less-than',
  relatedto: 'mdi-dots-horizontal'
}

export default {
  components: {
    ConceptMapEditorRelationDialog,
    EditableRichText
  },
  props: {
    activeSourceValueSetItem: {
      type: Object,
      required: false
    },
    activeSourceConceptItem: {
      type: Object,
      required: false
    },
    activeTargetValueSetItem: {
      type: Object,
      required: false
    },
    activeTargetConceptItem: {
      type: Object,
      required: false
    },
    activeConceptMapItem: {
      type: Object,
      required: false
    },
    editable: {
      type: Boolean,
      required: false,
      default: true
    }
  },

  data () {
    return {
      removableMappings: {},
      editableConceptMapItem: null,
      isDragOver: false,
      mappingTypes,
      modals: {
        comments: {
          open: false,
          selected: null,
          onSave: () => {}
        }
      }
    }
  },

  computed: {
    mappedElements () {
      let conceptMapItems = (this.editableConceptMapItem?.group || [])
        .map((group) => group?.element || [])
        .flat()

      if (this.activeSourceConceptItem) {
        conceptMapItems = conceptMapItems.filter((conceptMapItem) => conceptMapItem.code === this.activeSourceConceptItem.code)
      }

      if (this.removableMapping === 'true') {
        conceptMapItems = conceptMapItems.filter((conceptMapItem) => !!conceptMapItem.__meta?.unsaved)
      }

      return conceptMapItems
    },

    parentKey () {
      return '__ALL__'
    },

    isRemovableMappingDisabled () {
      return !!this.activeSourceConceptItem?.code && this.removableMappings?.[this.parentKey] === 'true'
    },

    removableMapping: {
      get () {
        return this.removableMappings?.[this.parentKey]
          ? String(this.removableMappings?.[this.parentKey])
          : String(!!this.removableMappings?.[this.activeSourceConceptItem?.code])
      },

      set (state) {
        const key = this.activeSourceConceptItem?.code || this.parentKey
        if (String(state) === 'true') {
          this.$set(this.removableMappings, key, state)
        } else {
          this.$delete(this.removableMappings, key)
        }
      }
    }
  },

  watch: {
    activeConceptMapItem: {
      immediate: true,
      deep: true,
      handler (activeConceptMapItem) {
        this.editableConceptMapItem = JSON.parse(JSON.stringify(activeConceptMapItem))
        this.startEditMode()
      }
    },

    editableConceptMapItem: {
      immediate: true,
      deep: true,
      handler (editableConceptMapItem) {
        this.$emit('update:editableConceptMapItem', editableConceptMapItem)
      }
    }
  },

  methods: {
    getColorForConceptMapping (mapping) {
      if (mapping?.__meta?.unsaved && mapping?.__meta?.action === 'delete') {
        return 'red lighten-4'
      }

      if (mapping?.__meta?.unsaved && mapping?.__meta?.action === 'add') {
        return 'green lighten-4'
      }

      if (mapping?.__meta?.unsaved && mapping?.__meta?.action === 'edit') {
        return 'orange lighten-4'
      }

      return ''
    },

    hasUnmatchedConceptMapRelation (mapping) {
      const mappedElements = this.mappedElements.filter((mappedElement) => mappedElement?.code === mapping?.code)
      return !mappedElements.every((mappedElement) => mappedElement?.target?.[0]?.code)
    },

    hasNewConceptMapRelation (mapping) {
      return this.mappedElements.filter((mappedElement) => {
        return mappedElement?.code === mapping?.code &&
          !!mappedElement?.__meta?.unsaved &&
          !mappedElement?.__meta?.original
      }).length > 0
    },

    isRevertableConceptMapping (mapping) {
      if (!mapping?.__meta?.unsaved || !mapping?.__meta?.original) {
        return false
      }

      const hasUnmatchedConceptMapRelation = this.hasUnmatchedConceptMapRelation(mapping)
      if (hasUnmatchedConceptMapRelation && mapping?.target?.[0]?.relationship !== 'unmatched') {
        return false
      }

      const hasNewConceptMapRelation = this.hasNewConceptMapRelation(mapping)
      if (hasNewConceptMapRelation && mapping?.target?.[0]?.relationship === 'unmatched') {
        return false
      }

      return true
    },

    mappingHasComment (mapping) {
      return Array.isArray(mapping?.target?.[0]?.comment) && !!mapping.target[0].comment.length
    },

    /**
     * On drag over event.
     * @param $event
     */
    onDragOver ({ $event }) {
      // Prevent default.
      $event.preventDefault()
      // Set is drag over to true.
      this.isDragOver = true
      // Emit on drag over event.
      this.$emit('onDragOver')
    },

    /**
     * On drag leave event.
     * @param $event
     */
    onDragLeave ({ $event }) {
      // Prevent default.
      $event.preventDefault()
      // Set is drag over to false.
      this.isDragOver = false
      // Emit on drag leave event.
      this.$emit('onDragLeave')
    },

    /**
     * On drop event.
     * @param $event
     */
    async onDrop ({ $event }) {
      // Prevent default.
      $event.preventDefault()
      // Set is drag over to false.
      this.isDragOver = false
      // Emit on drag leave event.
      this.$emit('onDragLeave')

      // Get data transfer.
      const dataTransfer = JSON.parse($event.dataTransfer.getData('text/plain'))
      // Check if data transfer has no code.
      if (!dataTransfer?.code) {
        return
      }

      const matchingItems = this.editableConceptMapItem.group[0].element.filter((item) => {
        return item?.code === this.activeSourceConceptItem?.code &&
          item?.target?.[0]?.code === dataTransfer.code
      })

      if (!this.activeSourceConceptItem?.code || matchingItems.length) {
        return
      }

      this.$refs.relationDialog.openDialog((relationship) => {
        // Emit update for active target concept item.
        this.$emit('update:activeTargetConceptItem', dataTransfer)
        this.hasUnmatchedConceptMapRelation(this.activeSourceConceptItem)
        const newConceptMapItem = {
          code: this.activeSourceConceptItem.code,
          displayName: this.activeSourceConceptItem.displayName,
          target: [
            {
              code: dataTransfer.code,
              relationship,
              displayName: dataTransfer.displayName
            }
          ],
          __meta: {
            action: 'add',
            unsaved: true
          }
        }

        this.editableConceptMapItem.group[0].element.push(newConceptMapItem)

        const matchingItems = this.editableConceptMapItem.group[0].element.filter((item) => {
          return item?.code === this.activeSourceConceptItem.code && !item?.target?.[0]?.code
        })

        for (const matchingItem of matchingItems) {
          this.onDeleteConceptMapRelation(matchingItem)
        }
      })
    },

    onAddUnmatchedConceptMapRelation () {
      const newConceptMapItem = {
        code: this.activeSourceConceptItem.code,
        displayName: this.activeSourceConceptItem.displayName,
        target: [
          {
            relationship: 'unmatched'
          }
        ],
        __meta: {
          action: 'add',
          unsaved: true
        }
      }

      this.editableConceptMapItem.group[0].element.push(newConceptMapItem)

      const matchingItems = this.editableConceptMapItem.group[0].element.filter((item) => {
        return item?.code === this.activeSourceConceptItem.code && item?.target?.[0]?.code
      })

      for (const matchingItem of matchingItems) {
        this.onDeleteConceptMapRelation(matchingItem)
      }
    },

    onCancelCommentsEditor () {
      this.modals.comments.open = false
      this.modals.comments.selected = null
    },

    onSetUnmatchedConceptMapRelation (mapping) {
      if (this.hasUnmatchedConceptMapRelation(mapping)) {
        return
      }

      this.$set(mapping, '__meta', {
        ...mapping.__meta,
        action: mapping?.__meta?.action === 'add' ? 'add' : 'edit',
        unsaved: true
      })

      this.$set(mapping.target, '0', {
        relationship: 'unmatched'
      })

      const matchingItems = this.editableConceptMapItem.group[0].element.filter((item) => {
        return item?.code === mapping.code && item?.target?.[0]?.code
      })

      for (const matchingItem of matchingItems) {
        this.onDeleteConceptMapRelation(matchingItem)
      }
    },

    onDeleteConceptMapRelation (mapping) {
      if (!mapping?.__meta?.original) {
        const index = this.editableConceptMapItem.group[0].element.indexOf(mapping)
        this.editableConceptMapItem.group[0].element.splice(index, 1)
      } else {
        const revertedMapping = this.onRevertConceptMapRelation(mapping)
        this.$set(revertedMapping, '__meta', {
          ...revertedMapping.__meta,
          action: 'delete',
          unsaved: true
        })
      }
    },

    onRevertConceptMapRelation (mapping) {
      const originalValue = {
        ...JSON.parse(JSON.stringify(mapping?.__meta?.original)),
        __meta: {
          original: JSON.parse(JSON.stringify(mapping?.__meta?.original))
        }
      }

      if (originalValue) {
        const index = this.editableConceptMapItem.group[0].element.indexOf(mapping)
        this.editableConceptMapItem.group[0].element.splice(index, 1, originalValue)
        return originalValue
      }

      return mapping
    },

    onChangeConceptMapRelation (mapping, type) {
      if (this.hasUnmatchedConceptMapRelation(mapping)) {
        return
      }

      const originalValue = !mapping?.__meta?.original
        ? JSON.parse(JSON.stringify(mapping))
        : mapping?.__meta?.original

      mapping.target[0].relationship = type
      if (!mapping?.__meta) {
        this.$set(mapping, '__meta', {})
      }

      const isUnsaved = originalValue?.target?.[0]?.relationship !== mapping?.target?.[0]?.relationship
      this.$set(mapping.__meta, 'action', 'edit')
      this.$set(mapping.__meta, 'unsaved', isUnsaved)
      this.$set(mapping.__meta, 'original', originalValue)
    },

    async onBeforeEdit () {
      // Get object id.
      const objectId = this.activeConceptMapItem?.id || null
      const effectiveDate = this.activeConceptMapItem?.effectiveDate || null
      // Check if object id is not null.
      if (objectId !== null) {
        // Lock object id.
        await LockService.lockObjectId({ objectId, effectiveDate }).then(() => {
          // Mark it as editable.
          const editable = true
          // Emit update for editable.
          this.$emit('update:editable', editable)
        })
      }

      return objectId !== null
    },
    async onAfterEdit () {
      // Get object id.
      const objectId = this.activeConceptMapItem?.id || null
      const effectiveDate = this.activeConceptMapItem?.effectiveDate || null
      // Check if object id is not null.
      if (objectId !== null) {
        // Mark it as not editable.
        const editable = !(await LockService.unlockObjectId({ objectId, effectiveDate }))
        // Reset removable mappings.
        this.removableMappings = {}
        // Emit update for editable.
        this.$emit('update:editable', editable)
        // Push back to concept maps details.
        await this.$router.push({
          name: 'concept-maps-details',
          params: {
            conceptMapId: this.activeConceptMapItem?.id,
            conceptMapVersion: this.activeConceptMapItem?.effectiveDate
          }
        })
      }

      return objectId !== null
    },

    startEditComments (mapping) {
      this.modals.comments.selected = mapping?.target?.[0]?.comment || null
      this.modals.comments.open = true

      this.modals.comments.onSave = (newComments) => {
        const originalValue = !mapping?.__meta?.original
          ? JSON.parse(JSON.stringify(mapping))
          : mapping?.__meta?.original

        mapping.target[0].comment = newComments
        if (!mapping?.__meta) {
          this.$set(mapping, '__meta', {})
        }

        const isUnsaved = JSON.stringify(originalValue?.target?.[0]?.comment || '') !== JSON.stringify(mapping?.target?.[0]?.comment || '')
        this.$set(mapping.__meta, 'action', 'edit')
        this.$set(mapping.__meta, 'unsaved', isUnsaved)
        this.$set(mapping.__meta, 'original', originalValue)
      }
    },
    deleteComments (mapping) {
      const originalValue = !mapping?.__meta?.original
        ? JSON.parse(JSON.stringify(mapping))
        : mapping?.__meta?.original

      delete mapping.target[0].comment
      if (!mapping?.__meta) {
        this.$set(mapping, '__meta', {})
      }

      const isUnsaved = JSON.stringify(originalValue?.target?.[0]?.comment || '') !== JSON.stringify(mapping?.target?.[0]?.comment || '')
      this.$set(mapping.__meta, 'action', 'edit')
      this.$set(mapping.__meta, 'unsaved', isUnsaved)
      this.$set(mapping.__meta, 'original', originalValue)
    },

    async startEditMode () {
      // Call on before edit and get lock.
      if (await this.onBeforeEdit()) {
        // Set editable concept map item.
        this.editableConceptMapItem = JSON.parse(JSON.stringify(this.activeConceptMapItem))
        if (this.editableConceptMapItem?.group) {
          this.editableConceptMapItem.group = this.editableConceptMapItem.group
            .map((group) => ({
              ...group,
              element: group.element?.map((element) => ({
                ...element,
                __meta: {
                  original: JSON.parse(JSON.stringify(element))
                }
              })) || []
            }))
        }
      }
    },

    async cancelEditMode () {
      // Call on after edit and release lock.
      if (await this.onAfterEdit()) {
        // Restore editable concept map item.
        this.editableConceptMapItem = JSON.parse(JSON.stringify(this.activeConceptMapItem))
      }
    },

    async saveEditedValues () {
      const editableConceptMapItem = JSON.parse(JSON.stringify(this.editableConceptMapItem))
      editableConceptMapItem.group = editableConceptMapItem.group.map((group) => ({
        ...group,
        element: group.element
          // Filter out deleted items.
          .filter((element) => element?.__meta?.action !== 'delete')
          // Filter out items which marked as removable and definitely are not unsaved.
          .filter((element) => {
            const isRemovableMapping = Object.keys(this.removableMappings).includes(element?.code)
            const isUnsaved = !!element.__meta?.unsaved
            return !isRemovableMapping || (isRemovableMapping && isUnsaved)
          })
          // Remove meta data.
          .map((element) => ({ ...element, __meta: undefined }))
      }))

      // Get value items from service via vuex store.
      await this.$store.dispatch('terminology/putConceptMapItem', {
        item: this.editableConceptMapItem,
        data: editableConceptMapItem
      })
        .then(async () => await this.onAfterEdit())
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
          this.$oops(errorMessage)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.concept-map-mappings-wrapper {
  position: relative;
  left: 0;
  top: 0;
  min-height: 0;
  transition: min-height 0.25s ease-in-out;

  .concept-map-details-card-header {
    height: 72px;
    background: var(--v-topbottomstrip-base);
  }

  .concept-map-mappings-drag-over-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out;
    z-index: 10;
  }

  &.drag-over {
    .concept-map-mappings-drag-over-layer {
      background-color: #d5e0ff;
      visibility: visible;
      opacity: 0.5;
    }
  }
}

.concept-mappings-item {
  position: relative;
  margin-bottom: 8px;

  .concept-mappings-item-left,
  .concept-mappings-item-right {
    display: flex;
    align-items: center;
    padding: 2px 16px;
    background-color: #e1e9f3;
    color: #2196f3;
    border-radius: 8px;
    max-width: calc(50% - 60px);
    word-wrap: break-word;
    hyphens: auto;

    &-unmapped {
      width: 40%;
    }

    .v-btn {
      margin-left: 4px;
      margin-right: -4px;

      .v-icon {
        font-weight: bold !important;
      }
    }
  }

  .concept-mappings-item-button {
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 16px);
    width: 64px;
    text-align: center;
    z-index: 2;

    .artdecorbutton {
      background-color: white !important;
      border: 1px solid #f68809;
    }
  }
}

.concept-mappings-arrow-wrapper {
  position: relative;
  left: 0;
  top: 4px;
  height: 38px;

  .concept-mappings-arrow {
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    height: 5px;
    background-color: #f68809;
    z-index: 1;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      right: -10px;
      top: -5px;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 16px solid #f68809;
      border-bottom: 8px solid transparent;
    }
  }

  &-unmatched .concept-mappings-arrow:after {
    display: none;
  }
}

//.page-drag-over {
//  .is-droppable .concept-map-mappings-drag-over-layer {
//    visibility: visible;
//    opacity: 0.5;
//  }
//}
</style>
