<template>
  <v-dialog v-model="isDialogOpen" width="500" persistent>
    <v-card>
      <AdCardTitle dialog>{{ $t('select-relationship') }}</AdCardTitle>

      <v-card-text class="mt-4">
        <v-row class="px-16">
          <v-col v-for="(icon, type) of mappingTypes" :key="type" cols="6">
            <v-chip
              class="d-block text-center"
              :color="currentSelection === type ? 'blue lighten-5 blue--text text--darken-4' : undefined"
              @click="currentSelection = type"
            >
              <v-icon left>{{ icon }}</v-icon>
              <span>{{ type }}</span>
            </v-chip>
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>

        <AdButton
          type="cancel"
          @click="closeDialog"
        />

        <AdButton
          :disabled="isDisabled"
          type="okay"
          @click="submitAndCloseDialog"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    mappingTypes: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      isDialogOpen: false,
      currentSelection: null,
      callback: null
    }
  },

  computed: {
    isDisabled () {
      return !this.currentSelection
    }
  },

  methods: {
    openDialog (callback) {
      this.currentSelection = null
      this.isDialogOpen = true
      this.callback = callback
    },

    closeDialog () {
      this.isDialogOpen = false
    },

    submitAndCloseDialog () {
      this.closeDialog()
      if (this.callback instanceof Function) {
        this.callback(this.currentSelection)
        this.currentSelection = null
      }
    }
  }
}
</script>
