<template>
  <div style="position: sticky; top: 72px; left: 0;">
    <TreeviewPanel
      :filters="filters"
      :trees="trees"
      :active-item.sync="activeItem"
      :active-tree.sync="activeTree"
    >
      <template v-slot:tree.valueSetConcepts.before-search>
        <v-card-text
          class="slot-tree-before-search"
          :class="{'pb-0': !!selectedValueSetItem}"
        >
          <v-autocomplete
            :value="activeValueSetItem"
            :items="valueSetItems"
            item-value="uuid"
            :label="$t('value-set')"
            return-object
            open-on-clear
            hide-details
            outlined
            dense
            disabled
          >
            <template v-slot:[`item`]="{ item }">
              <AdStatusDot tooltip larger class="mr-3" :status="item.statusCode" icon="mdi-heart"/>
              {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
            <template v-slot:[`selection`]="{ item }">
              <AdStatusDot class="mr-2" tooltip :status="item.statusCode" icon="mdi-heart"/>
              {{ $filters.getMatchingTranslation({ value: item.name, locale: $i18n.locale }) }}
              ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})
            </template>
          </v-autocomplete>
        </v-card-text>
      </template>

      <template v-slot:tree.valueSetConcepts.items="{ items }">
        <!--
          Concept List
          A Value Set body may have
          - a conceptList element with concept, exception, include and exclude elements
          - a completeCodeSystem element
        -->
        <v-data-table
          :value="[selectedConceptItem]"
          :items="items"
          :items-per-page="10"
          :hide-default-footer="items.length <= 10"
          :headers="['', '', '']"
          hide-default-header
          class="elevation-0"
          :footer-props="{ 'items-per-page-options': [10, 20, 30, 40, 50] }"
          single-select
          dense
        >
          <template #header>
            <ValueSetConceptListHeader :items="items" hide-level-type/>
          </template>

          <template #item="{ item }">
            <v-tooltip
              top
              :open-on-click="false"
              :open-on-focus="false"
              open-delay="1200"
              nudge-bottom="15"
              color="rgba(0,0,0, 0.9)"
            >
              <template #activator="{on}">
                <TerminologyValueSetConceptItem
                  :itemsInValueSetHasOrdinal="itemsInValueSetHasOrdinal"
                  :item="item"
                  :showEditable="false"
                  :class="{
                    'is-draggable': draggable,
                    'is-active-concept-item': isActiveConceptItem(item),
                    'orange lighten-4': highlightMappedItem ? isMappedConceptItem(item) : undefined
                  }"
                  hide-level-type
                  v-on="on"
                  @mousedown="draggable ? onMouseDown({ $event, item }) : undefined"
                  @click="!draggable ? selectActiveConceptItem(item) : undefined"
                />
              </template>

              <div class="d-flex flex-row flex-nowrap align-center">
                <div>
                  <span>{{ item.level + "-" + item.type }}</span>
                </div>
                <div class="tooltip-divider"/>
                <div>
                  <div>{{ item.displayName }}</div>
                  <div v-if="item.desc" v-html="$filters.getMatchingTranslation({ value: item.desc })"/>
                </div>
                <div class="tooltip-divider"/>
                <div>
                  <span>{{ item.codeSystem }}</span>
                </div>
              </div>
            </v-tooltip>
          </template>
        </v-data-table>
      </template>
    </TreeviewPanel>
  </div>
</template>
<script>
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'
import { mapState } from 'vuex'
import ValueSetConceptListHeader from '@/components/Terminology/ValueSetConceptListHeader'
import TerminologyValueSetConceptItem from '@/components/Terminology/TerminologyValueSetConceptItem'

export default {
  components: {
    TerminologyValueSetConceptItem,
    ValueSetConceptListHeader,
    TreeviewPanel
  },

  props: {
    title: {
      type: String,
      required: false,
      default: ''
    },
    highlightMappedItem: {
      type: Boolean,
      required: false,
      default: false
    },
    activeValueSetItem: {
      type: Object,
      required: false,
      default: () => ({})
    },
    activeConceptMapItem: {
      type: Object,
      required: false,
      default: () => ({})
    },
    isMappedConceptItem: {
      type: Function,
      required: false,
      default: () => () => false
    },
    draggable: {
      type: Boolean,
      required: false,
      default: false
    },
    selectable: {
      type: Boolean,
      required: false,
      default: false
    },
    type: {
      type: String,
      required: false,
      default: 'source'
    }
  },

  data () {
    return {
      valueSetItem: null,
      itemsInValueSetItem: [],
      selectedValueSetItem: null,
      selectedConceptItem: null,
      activeItem: null,
      activeTree: null,
      draggedItem: null,
      filters: []
    }
  },

  computed: {
    ...mapState('scenario', ['scenarioItems', 'transactionItemConcepts']),
    ...mapState('rule/template', ['templateAssociations']),

    /**
     * Tree structure for treeview.
     */
    trees () {
      return {
        valueSetConcepts: {
          artefact: 'DE',
          name: this.title,
          icon: 'mdi-heart',
          loading: this.$store.state.terminology.loading.valueSetItem,
          loaded: true,
          items: this.activeValueSetItem?.items || [],
          hideTreeviewOptions: false,
          menu: false,
          insertable: false,
          editable: false,
          expandable: false,
          unselectable: true,
          notDroppable: true,
          key: 'code',
          text: (item) => item?.displayName,
          searchableText: (item) => JSON.stringify(item),
          children: 'items',
          onSelect: (activeItem) => {
            // Set active item.
            this.activeItem = activeItem
            // Emit variables.
            this.emitVariables('value-set')
          }
        }
      }
    },

    valueSetItems () {
      return [this.activeValueSetItem]
    },

    itemsInValueSetHasOrdinal () {
      return this.itemsInValueSetItem.some((item) => item.ordinal)
    },

    watchedVariables () {
      return [this.$i18n.locale]
    }
  },

  watch: {
    /**
     * Watch item status codes.
     */
    watchedVariables: {
      immediate: true,
      deep: true,
      handler () {
        // Define filters.
        const filters = [{
          name: this.$t('mapping-state-mapped'),
          key: 'mapped',
          active: true
        }, {
          name: this.$t('mapping-state-unmapped'),
          key: 'unmapped',
          active: true
        }]

        // Apply filters.
        this.filters = filters
      }
    }
  },

  methods: {
    /**
     * On mouse down event.
     *
     * @param $event
     * @param item
     */
    onMouseDown ({ $event, item }) {
      // Set dragged item.
      this.draggedItem = item
      // Get treeview node.
      const treeviewNode = $event.target.closest('tr')
      // Define draggable handler.
      const draggableHandler = (event) => {
        // Set data transfer.
        event.dataTransfer.setData('text/plain', JSON.stringify(item))
        // Set draggable on treeview node back to false.
        treeviewNode.setAttribute('draggable', 'false')
        // Remove event listener.
        treeviewNode.removeEventListener('dragstart', draggableHandler)
      }

      // Make tree view node draggable.
      treeviewNode.setAttribute('draggable', 'true')
      // Make tree view node non draggable.
      treeviewNode.addEventListener('dragstart', draggableHandler)
    },

    selectActiveConceptItem (item) {
      if (!this.selectable) {
        return
      }

      this.selectedConceptItem = this.selectedConceptItem !== item
        ? item
        : null
      this.$emit('update:active-concept-item', this.selectedConceptItem)
    },

    isActiveConceptItem (item) {
      return this.selectedConceptItem && this.selectedConceptItem?.code === item?.code
    }
  }
}
</script>

<style lang="scss" scoped>
.is-draggable {
  cursor: move;
}

::v-deep .tooltip-divider {
  width: 1px;
  background-color: #ffffff;
  margin: 0 10px;
  align-self: stretch;
}

::v-deep .treeview-panel-item {
  padding: 16px 0;

  .v-treeview {
    padding-left: 0;
  }

  .v-data-table {
    .v-data-table__wrapper {
      overflow-x: auto;
      overflow-y: auto;
    }

    table {
      width: 100%;
      max-width: 100%;
    }

    tr {
      th:nth-child(1),
      td:nth-child(1) {
        width: 100px;
      }

      th:nth-child(2),
      td:nth-child(2) {
        width: auto;
      }

      th:nth-child(3),
      td:nth-child(3),
      th:nth-child(4),
      td:nth-child(4) {
        max-width: 120px;

        > div, div > * {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .is-active-concept-item > td {
      background: #E3F2FD;
    }
  }
}

.slot-tree-before-search ::v-deep {
  .v-select__selections {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 2px;
      bottom: 2px;
      width: 20px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      z-index: 1;
    }
  }
}
</style>
