<template>
  <v-layout
    class="component-template-panel"
    :class="{'page-drag-over': isDraggedOver}"
    @dragover="isDraggedOver = true"
    @dragleave="isDraggedOver = false"
  >
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs"/>

      <v-row class="d-flex flex-row flex-md-nowrap align-start overflow-x-auto">
        <v-col class="flex-grow-0 col-treeview" md="auto">
          <ConceptMapEditorValueSetConceptsCard
            :title="$t('source-valueset')"
            :active-value-set-item.sync="activeSourceValueSetItem"
            :active-concept-item.sync="activeSourceConceptItem"
            :selectable="true"
          />
        </v-col>

        <v-col class="flex-grow-1 col-editor overflow-hidden">
          <ConceptMapEditorDetailsCard
            ref="detailsCard"
            :active-source-value-set-item.sync="activeSourceValueSetItem"
            :active-source-concept-item.sync="activeSourceConceptItem"
            :active-target-value-set-item.sync="activeTargetValueSetItem"
            :active-target-concept-item.sync="activeTargetConceptItem"
            :active-concept-map-item.sync="conceptMapItem"
            :editable-concept-map-item.sync="editableConceptMapItem"
            :editable.sync="editable"
          />
        </v-col>

        <v-col class="flex-grow-0 col-treeview" md="auto">
          <ConceptMapEditorValueSetConceptsCard
            :title="$t('target-valueset')"
            :active-value-set-item.sync="activeTargetValueSetItem"
            :active-concept-item.sync="activeTargetConceptItem"
            :is-mapped-concept-item="isMappedConceptItem('activeSourceWithTarget')"
            :selectable="false"
            :draggable="editable"
            highlight-mapped-item
            @onDragOver="isDraggedOver = true"
            @onDragLeave="isDraggedOver = false"
          />
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>
<script>
import ConceptMapEditorValueSetConceptsCard from '@/components/Terminology/ConceptMapEditorValueSetConceptsCard'
import ConceptMapEditorDetailsCard from '@/components/Terminology/ConceptMapEditorDetailsCard'
import { mapState } from 'vuex'
import TerminologyService from '@/services/TerminologyService'
import i18n from '@/plugins/i18n'

export default {
  components: {
    ConceptMapEditorDetailsCard,
    ConceptMapEditorValueSetConceptsCard
  },

  data () {
    return {
      editable: false,
      isDraggedOver: false,
      activeSourceValueSetItem: null,
      activeSourceConceptItem: null,
      activeTargetValueSetItem: null,
      activeTargetConceptItem: null,
      editableConceptMapItem: null
    }
  },

  computed: {
    ...mapState('terminology', ['conceptMapItem']),

    /**
     * Get breadcrumb structure.
     */
    breadcrumbs () {
      // Define main breadcrumb structure.
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' }
        }, {
          exact: true,
          text: this.$t('concept-maps'),
          to: { name: 'concept-maps' }
        },
        {
          exact: true,
          text: this.conceptMapItem?.displayName || this.$route.params?.conceptMapId,
          to: {
            name: 'concept-maps-details',
            params: {
              conceptMapId: this.$route.params?.conceptMapId,
              conceptMapVersion: this.$route.params?.conceptMapVersion
            }
          },
          show: ['concept-maps-details']
        },
        {
          exact: true,
          text: this.conceptMapItem?.effectiveDate ? this.$filters.formatDateShort(this.conceptMapItem?.effectiveDate) : this.$route.params?.conceptMapVersion,
          to: {
            name: 'concept-maps-details',
            params: {
              conceptMapId: this.$route.params?.conceptMapId,
              conceptMapVersion: this.$route.params?.conceptMapVersion
            }
          },
          show: ['concept-maps-details']
        }, {
          text: this.$t('editor'),
          disabled: true
        }
      ]

      // Return breadcrumbs.
      return breadcrumbs
    }
  },

  async mounted () {
    await this.loadConceptMapItem()
    await this.loadValueSetItem('source')
    await this.loadValueSetItem('target')
  },

  methods: {
    /**
     * Load concept map item.
     * @param item
     * @returns {Promise<unknown>}
     */
    async loadConceptMapItem () {
      // Get route params.
      const { conceptMapId, conceptMapVersion } = this.$route.params
      // Return new promise.
      return new Promise((resolve, reject) => {
        const prefix = this.$store.getters['project/getProjectSelected'].prefix
        // Get value items from service via vuex store.
        this.$store.dispatch('terminology/getConceptMapItem', {
          id: conceptMapId,
          effectiveDate: conceptMapVersion,
          prefix
        }).then((conceptMapItem) => {
          // Emit variables.
          this.$emit('update:active-concept-map-item', conceptMapItem)
          // Resolve matching dataset.
          return resolve(conceptMapItem)
        }).catch((error) => reject(error))
      })
    },

    /**
     * Load value set item for scope.
     * @returns {Promise<unknown>}
     */
    async loadValueSetItem (scope) {
      // Return new promise.
      return new Promise((resolve, reject) => {
        const prefix = this.$store.getters['project/getProjectSelected'].prefix
        const language = i18n.locale
        const scopeKey = `${scope}Scope`
        return TerminologyService.getValueSet(
          this.conceptMapItem?.[scopeKey]?.[0]?.ref,
          this.conceptMapItem?.[scopeKey]?.[0]?.flexibility,
          prefix,
          language,
          null
        )
          .then((response) => {
            const item = response?.data || {}
            const propertyKey = scope === 'source'
              ? 'activeSourceValueSetItem'
              : 'activeTargetValueSetItem'
            this[propertyKey] = {
              ...item,
              items: item.items.map((item) => ({
                ...item,
                statusCode: this.isMappedConceptItem(scope)(item)
                  ? 'mapped'
                  : 'unmapped'
              }))
            }
            resolve(item)
          })
          .catch((error) => {
            reject(error)
          })
      })
    },

    /**
     * On drag over event.
     * @param $event
     */
    onDragOver ({ $event }) {
      // Prevent default.
      $event.preventDefault()
      // Set is drag over to true.
      this.isDragOver = true
      // Emit on drag over event.
      this.$emit('onDragOver')
    },

    /**
     * On drag leave event.
     * @param $event
     */
    onDragLeave ({ $event }) {
      // Prevent default.
      $event.preventDefault()
      // Set is drag over to false.
      this.isDragOver = false
      // Emit on drag leave event.
      this.$emit('onDragLeave')
    },

    /**
     * Is mapped concept item.
     * @param type
     * @returns {(function(): boolean)|(function(*): boolean)|*}
     */
    isMappedConceptItem (type) {
      const validTypes = ['source', 'target', 'activeSourceWithTarget']
      if (!validTypes.includes(type)) {
        return () => false
      }

      return (currentConceptMapItem) => {
        const conceptMapItems = (this.conceptMapItem?.group || [])
          .map((group) => group?.element || [])
          .flat()

        const editableConceptMapItems = (this.editableConceptMapItem?.group || [])
          .map((group) => group?.element || [])
          .flat()

        switch (type) {
          case 'source':
            return conceptMapItems.filter((conceptMapItem) => {
              return currentConceptMapItem &&
                conceptMapItem?.code === currentConceptMapItem?.code
            }).length > 0

          case 'target':
            return conceptMapItems.filter((conceptMapItem) => {
              return currentConceptMapItem &&
                conceptMapItem?.target?.[0]?.code === currentConceptMapItem?.code
            }).length > 0

          case 'activeSourceWithTarget':
            if (this.editable) {
              return editableConceptMapItems.filter((editableConceptMapItem) => {
                return this.activeSourceConceptItem && currentConceptMapItem &&
                  editableConceptMapItem?.code === this.activeSourceConceptItem?.code &&
                  editableConceptMapItem?.target?.[0]?.code === currentConceptMapItem?.code
              }).length > 0
            }

            return conceptMapItems.filter((conceptMapItem) => {
              return this.activeSourceConceptItem && currentConceptMapItem &&
                conceptMapItem?.code === this.activeSourceConceptItem?.code &&
                conceptMapItem?.target?.[0]?.code === currentConceptMapItem?.code
            }).length > 0

          default:
            return false
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.col-treeview {
  min-width: 450px;
  max-width: 450px;

  ::v-deep table tr {
    cursor: pointer;
  }
}

.col-editor {
  min-width: 500px;
}
</style>
