<template>
  <AdInfoOwl v-if="!conceptMapActive">{{ $t('select-concept-map') }}</AdInfoOwl>
  <v-card v-else class="concept-map-details-card">
    <div class="concept-map-details-card-header d-flex flex-row align-center backdrop-item">
      <div class="d-flex flex-column justify-center flex-grow-1">
        <v-slide-y-transition group leave-absolute>
          <AdCardTitle key="title">
            <AdStatusDot
              darker
              larger
              tooltip
              icon="mdi-map-marker-distance"
              class="mr-2 mb-1"
              :status="conceptMapActive.statusCode"
            />
            <span>{{ conceptMapActive.displayName }}</span>
          </AdCardTitle>
        </v-slide-y-transition>
      </div>
      <AdArtefactDownloads v-model="modals.artefactDownload" :title="`${$t('downloads')} - ${conceptMapActive.displayName}`" :downloadData="conceptMapDownloadData"/>
      <AdButton
        type="downloads"
        @click="modals.artefactDownload = true"
      />
    </div>

    <v-card-text>
      <PanelLoading v-if="isLoading('conceptMapItem')" :loading="isLoading('conceptMapItem')" />

      <template v-else-if="conceptMapItem">
        <AdVersionHistoryStepper
          v-if="versions.length > 1 && selectedVersion > -1"
          :value="selectedVersion"
          :versions="versions"
          @input="handleSwitchVersion"
        />
        <EditableArtefactDetailHeader
          :item="conceptMapItem"
          :service="patchConceptMapItem"
          artefact="ConceptMap"
          :locales="projectLocales"
          :hasDetails="false"
          :isEditableStatusCode="true"
        />

        <v-row class="mb-3" v-if="conceptMapItem">
          <v-col>
            <EditableDropdown
              :value="sourceScope"
              :items="conceptMapItem.sourceScope"
              item-value="ref"
              :item-text="getVSDisplayName(sourceScope)"
              :label="$t('source-valueset')"
              :error-messages="userIsProjectAuthor && !isValueSetAvailable('sourceScope') ? $t('concept-map-source-not-in-scope') : undefined"
              readonly
            />
          </v-col>
          <v-col>
            <EditableDropdown
              :value="targetScope"
              :items="conceptMapItem.targetScope"
              item-value="ref"
              :item-text="getVSDisplayName(targetScope)"
              :label="$t('target-valueset')"
              :error-messages="userIsProjectAuthor && !isValueSetAvailable('targetScope') ? $t('concept-map-target-not-in-scope') : undefined"
              readonly
            />
          </v-col>
        </v-row>

        <v-card flat class="mx-5 elevation-3">
          <AdCardTitle inline>
            Concept Map Details
            <v-spacer></v-spacer>
            <AdButton
              v-if="userIsEditor"
              :disabled="!isEditable"
              type="edit"
              @click.stop="onEditClick"
            />
          </AdCardTitle>
          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="conceptMapItems"
              :items-per-page="10"
              group-by="conceptMapGroup"
              disable-sort
            >
              <template v-slot:group.header="{items, isOpen, toggle}">
                <th colspan="6" class="blue lighten-5">
                  <v-icon @click="toggle" class="pr-2">{{ isOpen ? 'mdi-chevron-down' : 'mdi-chevron-right' }}</v-icon>
                  {{ items[0].conceptMapGroup.split('|')[0] }}
                  <v-icon class="px-3">mdi-map-marker-right-outline</v-icon>
                  {{ items[0].conceptMapGroup.split('|')[1] }}
                </th>
              </template>
              <template v-slot:[`item.target.relationship`]="{ item }">
                <v-chip color="blue lighten-5">{{ item.target[0].relationship }}</v-chip>
              </template>
              <template v-slot:[`item.target.code`]="{ item }">
                {{ item.target[0].code }}
              </template>
              <template v-slot:[`item.target.displayName`]="{ item }">
                {{ item.target[0].displayName }}
              </template>
              <template v-slot:[`item.target.comment`]="{ item }">
                <span class="text--disabled">
                  {{ $filters.getMatchingTranslation({ value: item.target[0].comment, locale: $i18n.locale }) }}
                </span>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </template>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'
import AdArtefactDownloads from '@/components/Rule/AdArtefactDownloads'
import EditableArtefactDetailHeader from '@/components/Utilities/Editable/EditableStructure/EditableArtefactDetailHeader.vue'

export default {
  name: 'ConceptMapDetailsCard',
  components: { AdArtefactDownloads, EditableArtefactDetailHeader },

  props: {
    valueSetItems: {
      type: Array,
      required: false,
      default: () => []
    }
  },

  data () {
    return {
      openedPanel: 0,
      modals: { artefactDownload: false }
    }
  },

  computed: {

    ...mapGetters({
      getCodeSystemName: ['terminology/getCodeSystemName'],
      conceptMapItem: ['terminology/conceptMapItem'],
      conceptMapActive: ['terminology/conceptMapActive'],
      isLoading: ['terminology/isLoading']

    }),

    conceptMapDownloadData () {
      if (!this.conceptMapActive) return []
      return [
        {
          categoryTitle: this.$t('FHIR'),
          color: 'blue',
          links: ['4.0', '4.3', '5.0'].flatMap(format => ([
            {
              text: `${this.$store.getters['server/getFhirLabel'](format)} - XML`,
              condition: () => this.$store.getters['project/projectHasFhirService'](format),
              href: this.getConceptMapDownloadLink(this.conceptMapActive, format)
            },
            {
              text: `${this.$store.getters['server/getFhirLabel'](format)} - JSON`,
              condition: () => this.$store.getters['project/projectHasFhirService'](format),
              href: this.getConceptMapDownloadLink(this.conceptMapActive, format, 'json')
            }
          ]))
        }
      ]
    },

    headers () {
      return [
        { text: 'Source', align: 'start', sortable: false, value: 'code', width: '10%' },
        { text: 'Display', value: 'displayName', width: '20%' },
        { text: 'Relationship', value: 'target.relationship', width: '10%' },
        { text: 'Target', value: 'target.code', width: '10%' },
        { text: 'Display', value: 'target.displayName', width: '20%' },
        { text: 'Comment', value: 'target.comment', width: '30%' }
      ]
    },

    conceptMapItems () {
      const cmap = []
      const conceptMapItem = cloneDeep(this.conceptMapItem)
      for (let i = 0; i < conceptMapItem?.group?.length || 0; i++) {
        const scs = conceptMapItem.group[i].source[0]
        const tcs = conceptMapItem.group[i].target[0]
        const sdn = scs.displayName ? scs.displayName + ' (' + scs.codeSystem + ')' : scs.codeSystem
        const tdn = tcs.displayName ? tcs.displayName + ' (' + tcs.codeSystem + ')' : tcs.codeSystem
        const conceptMapGroup = sdn + '|' + tdn
        for (const cge of conceptMapItem.group?.[i]?.element || []) {
          cge.conceptMapGroup = conceptMapGroup
        }

        cmap.push(...(conceptMapItem.group?.[i]?.element || []))
      }
      return cmap
    },

    panelIsOpen () {
      return this.openedPanel === 0
    },

    isEditable () {
      return this.userIsEditor &&
        this.isValueSetAvailable('sourceScope') &&
        this.isValueSetAvailable('targetScope')
    },

    selectedVersion: {
      get () {
        return this.$store.getters['terminology/conceptMapVersionIndex']
      },
      set (index) {
        this.$store.commit('terminology/changeConceptMapVersionIndex', index)
      }
    },

    sourceScope () {
      return this.conceptMapItem?.sourceScope?.[0]
    },

    targetScope () {
      return this.conceptMapItem?.targetScope?.[0]
    },

    versions () {
      if (!this.conceptMapActive?.id) return []
      const activeConceptMapWithVersions = this.$store.getters['terminology/conceptMapItems'].find(cm => cm.id === this.conceptMapActive.id)
      if (Array.isArray(activeConceptMapWithVersions?.conceptMap)) {
        return activeConceptMapWithVersions.conceptMap.filter((cm) => cm.id && cm.effectiveDate)
      } else {
        return []
      }
    }
  },

  methods: {
    getConceptMapDownloadLink (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.$store.getters['project/getFhirURL'](fhirFormat)
      const { id, ref, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const parsedEffectiveDate = effectiveDate?.replaceAll(/[-:T]/g, '')
      let url = `${BASE_URL}/${fhirFormat}/${prefix}/ConceptMap/${id || ref}`
      if (parsedEffectiveDate) {
        url += `--${parsedEffectiveDate}`
      }
      url += `?_format=${dataFormat}`
      return url
    },
    isValueSetAvailable (scope) {
      const currentScope = this.conceptMapItem?.[scope]?.[0]
      return this.valueSetItems.filter((valueSet) => {
        return valueSet?.id === currentScope?.ref && valueSet?.effectiveDate === currentScope?.flexibility
      }).length > 0
    },

    onEditClick () {
      // Push router url.
      this.$router.push({
        name: 'concept-maps-editor',
        params: {
          conceptMapId: this.conceptMapActive.id,
          conceptMapVersion: this.conceptMapActive.effectiveDate
        }
      }).catch(() => {
      })
    },

    /**
     * Patch concept map item.
     * @param item
     * @param data
     * @returns {Promise<any>}
     */
    patchConceptMapItem (item, data) {
      // Patch dataset.
      return this.$store.dispatch('terminology/patchConceptMapItem', { item, data })
        .catch((error) => {
          // Get error message.
          const errorMessage = error.message || error?.response?.data?.description || error?.response?.statusText || 'Error'
          // Show error message on alert dialog.
          this.$oops(errorMessage)
        })
    },

    getVSDisplayName () {
      return (item) => {
        if (item.displayName) return item.displayName
        if (item.canonicalUri) return item.canonicalUri
        return item.ref
      }
    },

    async handleSwitchVersion (index) {
      const selectedVersion = this.versions[index]
      if (!selectedVersion) return
      this.selectedVersion = index

      const { id, effectiveDate } = selectedVersion

      this.$router.push({
        name: 'concept-maps-details',
        params: {
          conceptMapId: id,
          conceptMapVersion: effectiveDate
        }
      }).catch(() => { })
    }
  }

}
</script>

<style lang="scss" scoped>
.concept-map-details-card {
  .concept-map-details-card-header {
    height: 72px;
    background: var(--v-topbottomstrip-base);
  }
}
</style>
