<template>
  <v-dialog v-model="$store.state.terminology.showNewConceptMapDialog" width="900" persistent scrollable>
    <v-card>
      <AdCardTitle dialog>{{ $t('add-concept-map') }}</AdCardTitle>
      <v-card-text class="pa-5">
        <div v-if="projectSelected" class="mb-5">
          <v-icon color="orange darken-1" class="pr-2">mdi-briefcase</v-icon>
          {{ $filters.getMatchingTranslation({ value: projectInFocus.name }) || projectSelected.name }}
          ({{ projectInFocus.prefix }})
        </div>

        <v-form ref="valusetRef" v-model="formIsValid">
          <EditableString
            v-model="newConceptMap.displayName"
            ref="displayName"
            :rules="[...rulesConceptMap.displayName]"
            :label="$t('display-name')"
            required
          />

          <v-row class="mb-3">
            <v-col>
              <EditableDropdown
                v-model="sourceScope"
                :items="valueSet"
                :rules="[...rulesConceptMap.displayName]"
                item-value="id"
                item-text="displayName"
                label="Source Value Set"
                required
              />
            </v-col>
            <v-col>
              <EditableDropdown
                v-model="targetScope"
                :items="valueSet"
                :rules="[...rulesConceptMap.displayName]"
                item-value="id"
                item-text="displayName"
                label="Target Value Set"
                required
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeDialog"/>
        <AdButton
          type="add"
          :hint="$t('add-concept-map')"
          @click="addConceptMap(false)"
          depressed
          :disabled="!formIsValid"
        />
        <AdButton
          type="add"
          :hint="$t('add-concept-map-and-open')"
          :text="$t('add-and-open')"
          @click="addConceptMap(true)"
          depressed
          :disabled="!formIsValid"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
import conceptMap from '@/models/conceptMap'
import rulesConceptMap from '@/rules/conceptMap'
import { mapState } from 'vuex'

export default {
  name: 'ConceptMapAdd',
  data () {
    return {
      conceptMap: cloneDeep(conceptMap),
      idExistsError: [],
      newConceptMap: {
        group: [{
          source: [{ codeSystem: null }],
          target: [{ codeSystem: null }],
          element: []
        }]
      },
      rulesConceptMap,
      formIsValid: false,
      initialProjectLanguage: null
    }
  },
  computed: {
    ...mapState('terminology', { valueSet: 'valueSet' }),

    sourceScope: {
      get () {
        return this.newConceptMap?.sourceScope?.[0]?.ref
      },

      set (value) {
        const matchingValueSet = this.valueSet.find(item => item.id === value)
        this.newConceptMap.group[0].source[0].codeSystem = value
        this.newConceptMap.sourceScope = [{
          ref: value,
          flexibility: matchingValueSet?.effectiveDate,
          displayName: matchingValueSet?.displayName,
          canonicalUri: matchingValueSet?.canonicalUri
        }]
      }
    },

    targetScope: {
      get () {
        return this.newConceptMap?.targetScope?.[0]?.ref
      },

      set (value) {
        const matchingValueSet = this.valueSet.find(item => item.id === value)
        this.newConceptMap.group[0].target[0].codeSystem = value
        this.newConceptMap.targetScope = [{
          ref: value,
          flexibility: matchingValueSet?.effectiveDate,
          displayName: matchingValueSet?.displayName,
          canonicalUri: matchingValueSet?.canonicalUri
        }]
      }
    }
  },

  created () {
    if (this.projectInFocus) {
      this.initialProjectLanguage = this.$store.getters['app/projectLanguage']
      this.$store.commit('app/setProjectLanguage', this.projectInFocus.defaultLanguage)
    }
    this.$store.dispatch('terminology/getValueSetList')
    this.initValueSet()
  },

  methods: {
    closeDialog () {
      this.$store.commit('app/setProjectLanguage', this.initialProjectLanguage)
      this.$store.dispatch('terminology/setShowNewConceptMapDialog', false)
    },

    initValueSet () {
      for (const key in conceptMap) {
        if (this.newConceptMap[key] === undefined) {
          if (key === 'statusCode') {
            // Status code of the value set
            // Initially populated: set to "new"
            this.$set(this.newConceptMap, key, 'new')
          } else {
            this.$set(this.newConceptMap, key, cloneDeep(conceptMap[key]))
          }
        }
      }
      this.$nextTick(() => {
        // set focus on first attribute in the form
        if (this.$refs.displayName != null) {
          this.$refs.displayName.focus()
        }
      })
    },

    addConceptMap (open) {
      if (this.$refs.valusetRef.validate()) {
        return this.$store.dispatch('terminology/createConceptMapItem', this.newConceptMap)
          .then((newConceptMap) => {
            if (newConceptMap) {
              this.$store.commit('app/setProjectLanguage', this.initialProjectLanguage)
              this.$store.dispatch('terminology/setShowNewConceptMapDialog', false)
              this.$emit('addConceptMapFinish', (open) ? newConceptMap : null)
            }
          })
          .catch((error) => {
            console.log('error', error)
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            // Show error message on alert dialog.
            this.$oops(errorMessage)
          })
      } else {
        // set the focus on the field that has the error
        const hasError = rulesConceptMap.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$refs[hasError[0]].focus()
        }
      }
    }
  }
}
</script>
