<template>
  <v-dialog
    :value="showDialog"
    width="800"
    persistent
    scrollable
  >
    <v-card>
      <AdCardTitle dialog>{{ $t('clone-concept-map') }}</AdCardTitle>
      <v-card-text >
        <v-form v-model="formIsValid" ref="form">
          <v-container>
            <v-row dense>
              <v-col cols="12">
                <AdInfoOwl>{{ $t('clone-concept-map-hint') }}</AdInfoOwl>
                <v-autocomplete
                  v-model="formInputs.conceptMap"
                  :items="conceptMaps"
                  item-value="uuid"
                  :label="$t('concept-map')"
                  return-object
                  clearable
                  open-on-clear
                  :filter="conceptMapFilter"
                >
                  <template #item="{ item }">
                    <AdStatusDot larger tooltip class="mr-3" :status="item.statusCode" icon="mdi-heart" />
                    {{ item.displayName }}
                    <span v-if="item.versionLabel || item.effectiveDate" style="white-space: break-spaces"> ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})</span>
                  </template>
                  <template #selection="{ item }">
                    <AdStatusDot class="mr-2" tooltip :status="item.statusCode" icon="mdi-heart" />
                    {{ item.displayName }}
                    <span v-if="item.versionLabel || item.effectiveDate" style="white-space: break-spaces"> ({{ item.versionLabel || $filters.formatDateShort(item.effectiveDate) }})</span>
                  </template>
                </v-autocomplete>
              </v-col>
              <!-- Keep IDs -->
              <v-col cols="9">
                <EditableSwitch
                  v-model="formInputs.keepIds"
                  :label="$t('keep-ids')"
                />
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="1" align-self="center">
                <EditableInfoIcon :infoText="$t('keep-ids-concept-map-hint')" />
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$emit('cancel')" :disabled="disabled || isCloning" />
        <AdButton type="clone" @click="handleClone" :disabled="disabled || !formIsValid || isCloning" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ConceptMapClone',
  props: {
    showDialog: {
      type: Boolean,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    autoSelect: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data () {
    return {
      formIsValid: false,
      formInputs: {
        conceptMap: null,
        keepIds: 'false'
      },
      isCloning: false
    }
  },
  computed: {
    conceptMaps () {
      return this.$store.getters['terminology/getFullConceptMapList']()
    }
  },
  methods: {
    conceptMapFilter (item, queryText, itemText) {
      const name = item.displayName?.toLowerCase()
      const search = queryText.toLowerCase()
      return name?.includes(search)
    },
    async handleClone () {
      if (this.$refs.form.validate()) {
        try {
          this.isCloning = true
          const { keepIds } = this.formInputs
          const sourceId = this.formInputs.conceptMap?.id
          const sourceEffectiveDate = this.formInputs.conceptMap?.effectiveDate

          const params = {
            keepIds,
            prefix: this.projectInFocus?.prefix,
            sourceId,
            sourceEffectiveDate
          }
          const setItem = this.autoSelect
          this.$store.commit('terminology/preserveConceptMapItemOnSelect', true)
          const newConceptMap = await this.$store.dispatch('terminology/cloneConceptMap', { params, setItem })
          this.$emit('cancel')
          this.$router.push({
            name: 'concept-maps-details',
            params: {
              conceptMapId: newConceptMap?.id,
              conceptMapVersion: newConceptMap?.effectiveDate
            }
          })
            .then(() => {
              this.$store.commit('terminology/preserveConceptMapItemOnSelect', false)
            })
            .catch(() => { })
        } catch (error) {
          this.$emit('cancel')
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
          this.$oops(errorMessage)
        }
        this.isCloning = false
      }
    }
  },
  watch: {
    showDialog: {
      immediate: true,
      handler (newVal) {
        if (newVal) {
          // Find the conceptMap that corresponds with the selected conceptMap by the user
          const id = this.$store.getters['terminology/conceptMapItem']?.id ||
                this.$store.getters['terminology/conceptMapItem']?.ref
          const effectiveDate = this.$store.getters['terminology/conceptMapItem']?.effectiveDate ||
                           this.$store.getters['terminology/conceptMapItem']?.effectiveDate
          const selectedConceptMap = this.conceptMaps.find(cm => (cm.id === id || cm.ref === id) && cm.effectiveDate === effectiveDate)

          // Reset forminputs
          this.formInputs.conceptMap = selectedConceptMap ?? (this.conceptMaps?.[0] || null)
          this.formInputs.keepIds = 'true'
        }
      }
    }
  }
}
</script>
