<template>
  <div style="position: sticky; top: 72px; left: 0;">
    <TreeviewPanel
      :filters="filters"
      :trees="trees"
      :active-item.sync="activeItem"
      :active-tree.sync="activeTree"
    >
      <template #action-buttons>
        <AdButton
          v-if="userIsEditor && serverFeature({ path: 'decor.terminology.concept-maps', crudAction: 'write' })"
          type="add"
          :hint="$t('add-concept-map')"
          list-item
          @click="$store.dispatch('terminology/setShowNewConceptMapDialog', true)"
        />
        <AdButton
          v-if="userIsEditor && serverFeature({ path: 'decor.terminology.concept-maps', crudAction: 'write' })"
          type="clone"
          :hint="$t('clone-concept-map')"
          list-item
          @click="$emit('start-clone')"
        />
      </template>
    </TreeviewPanel>
  </div>
</template>
<script>
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'
import { mapGetters } from 'vuex'

export default {
  components: {
    TreeviewPanel
  },

  data () {
    return {
      activeTree: null,
      filters: [],
      onSelectIsNeverCalled: true
    }
  },

  computed: {
    ...mapGetters('terminology', ['conceptMapItems', 'conceptMapActive', 'preserveConceptMapItemOnSelect']),
    ...mapGetters('server', ['getItemStatuses']),

    activeItem: {
      get () {
        return this.conceptMapActive
      },
      set (value) {
        this.$store.commit('terminology/setConceptMapActive', value)
      }
    },

    /**
     * Tree structure for treeview.
     */
    trees () {
      return {
        valueSetConcepts: {
          artefact: 'CM',
          name: this.$t('concept-maps'),
          icon: 'mdi-map-marker-distance',
          loading: this.$store.state.terminology.loading.conceptMapItems,
          loaded: true,
          items: this.conceptMapItems || [],
          menu: this.userIsEditor && this.serverFeature({
            path: 'decor.terminology.concept-maps',
            crudAction: 'write'
          }),
          insertable: false,
          editable: false,
          expandable: false,
          notDroppable: true,
          key: 'id',
          text: (item) => item?.displayName,
          children: null,
          onSelect: (activeItem) => {
            // Set active item.
            this.activeItem = activeItem

            if (!this.preserveConceptMapItemOnSelect) {
              this.$store.commit('terminology/setConceptMapItem', null)
            }

            // Workaround to route to the correct version when te page is loaded.
            let preferredEffectiveDate = null
            if (this.onSelectIsNeverCalled) {
              const preferredVersionIndex = this.$store.getters['terminology/conceptMapVersionIndex']
              preferredEffectiveDate = activeItem?.conceptMap?.[preferredVersionIndex]?.effectiveDate || null
              this.onSelectIsNeverCalled = false
            }

            // Push router url.
            this.$router.push({
              name: 'concept-maps-details',
              params: {
                conceptMapId: activeItem?.id,
                conceptMapVersion: preferredEffectiveDate || activeItem?.effectiveDate
              }
            }).catch(() => { })
          }
        }
      }
    },

    /**
     * Watched variables.
     * @returns {(*|string)[]}
     */
    watchedVariables () {
      return [this.getItemStatuses, this.$i18n.locale]
    }
  },

  watch: {
    /**
     * Watch item status codes.
     */
    watchedVariables: {
      immediate: true,
      deep: true,
      handler () {
        // Define filters.
        const filters = []
        // Define default actives.
        const defaultActive = ['draft', 'pending', 'final', 'new']
        // Loop each item status code.
        for (const itemStatusCode of this.getItemStatuses) {
          // Push new filter.
          filters.push({
            name: this.$filters.getMatchingTranslation({ value: itemStatusCode.label, locale: this.$i18n.locale }),
            key: itemStatusCode.value,
            active: defaultActive.includes(itemStatusCode.value)
          })
        }

        // Apply filters.
        this.filters = filters
      }
    }
  },

  methods: {
    /**
     * Get filter for dataset.
     * @param item
     * @param queryText
     * @returns {boolean}
     */
    conceptMapsFilter (item, queryText) {
      const name = this.$filters.getMatchingTranslation({ value: item.name }).toLowerCase()
      const search = queryText.toLowerCase()
      return name.includes(search)
    },

    /**
     * Keep horizontal scroll focus.
     *
     * This method is required for custom select with chips layout. After
     * focusing a select box the content is scrolled in a wrong way. This
     * functions is fixing the wrong scroll behavior.
     */
    keepHorizontalScrollFocus () {
      // Try to get selections.
      const selections = this.$el.querySelectorAll('.v-select__selections')
      // Check if selection are available.
      if (selections.length > 0) {
        // Wait for next tick.
        this.$nextTick(() => {
          // Loop each selection.
          selections.forEach(selection => {
            // Scroll to start.
            selection.scrollTo(0, 0)
          })
        })
      }
    }
  }
}
</script>
