<template>
  <v-layout class="component-concept-map-panel">
    <ConceptMapAdd
      v-if="$store.state.terminology.showNewConceptMapDialog"
      @addConceptMapFinish="addConceptMapFinish"
    />
    <ConceptMapClone
      :showDialog="modals.conceptMapClone"
      @cancel="modals.conceptMapClone = false"
    />

    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs"/>

      <v-row class="d-flex flex-row flex-md-nowrap">
        <v-col class="flex-grow-0 col-treeview" md="auto">
          <ConceptMapOverviewTreeviewCard
            @start-clone="modals.conceptMapClone = true"
          />
        </v-col>

        <v-col class="flex-grow-1 overflow-hidden">
          <ConceptMapOverviewDetailsCard
            :value-set-items="valueSetItems"
          />
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>
<script>

import ConceptMapOverviewTreeviewCard from '@/components/Terminology/ConceptMapOverviewTreeviewCard.vue'
import ConceptMapOverviewDetailsCard from '@/components/Terminology/ConceptMapOverviewDetailsCard.vue'
import { mapGetters, mapState } from 'vuex'
import ConceptMapAdd from '@/components/Terminology/ConceptMapAdd.vue'
import ConceptMapClone from '@/components/Terminology/ConceptMapClone.vue'

export default {
  components: {
    ConceptMapAdd,
    ConceptMapClone,
    ConceptMapOverviewDetailsCard,
    ConceptMapOverviewTreeviewCard
  },

  data () {
    return {
      modals: {
        conceptMapClone: false
      }
    }
  },

  computed: {
    ...mapState('terminology', { valueSetItems: 'valueSet' }),
    ...mapGetters('terminology', ['conceptMapItems']),

    conceptMapActive: {
      get () {
        return this.$store.getters['terminology/conceptMapActive']
      },
      set (value) {
        this.$store.commit('terminology/setConceptMapActive', value)
      }
    },

    /**
     * Get breadcrumb structure.
     */
    breadcrumbs () {
      // Define main breadcrumb structure.
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['concept-maps', 'concept-maps-details']
        }, {
          exact: true,
          text: this.$t('concept-maps'),
          to: { name: 'concept-maps' },
          show: ['concept-maps', 'concept-maps-details']
        },
        {
          exact: true,
          text: this.conceptMapActive?.displayName || this.$route.params?.conceptMapId,
          to: {
            name: 'concept-maps-details',
            params: {
              datasetId: this.$route.params?.conceptMapId,
              datasetVersion: this.$route.params?.conceptMapVersion
            }
          },
          show: ['concept-maps-details']
        },
        {
          exact: true,
          text: this.conceptMapActive?.effectiveDate ? this.$filters.formatDateShort(this.conceptMapActive?.effectiveDate) : this.$route.params?.conceptMapVersion,
          to: {
            name: 'concept-maps-details',
            params: {
              datasetId: this.$route.params?.conceptMapId,
              datasetVersion: this.$route.params?.conceptMapVersion
            }
          },
          show: ['concept-maps-details']
        }
      ]

      // Return breadcrumbs.
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    }
  },

  mounted () {
    if (!this.$store.state.terminology.loaded.valueSet) {
      this.loadValueSetItems()
    }
  },

  methods: {
    /**
     * Load value set items.
     * @returns {Promise<unknown>}
     */
    async loadValueSetItems () {
      // Return new promise.
      return new Promise((resolve, reject) => {
        // Get prefix from project.
        const prefix = this.$store.getters['project/getProjectSelected'].prefix
        // Get value items from service via vuex store.
        this.$store.dispatch('terminology/getValueSetList', { prefix }).catch((error) => reject(error))
      })
    },

    /**
     * Add concept map finish event.
     * @param activeItem
     * @returns {Promise<void>}
     */
    async addConceptMapFinish (activeItem) {
      // If the activeItem is parsed, the user wants to open the newly added dataset.
      if (activeItem) {
        // Set active item.
        this.conceptMapActive = this.$filters.listHelper.findItemInList({
          items: this.conceptMapItems,
          children: null,
          handler: (conceptMapItem) => conceptMapItem?.id === activeItem?.id && conceptMapItem?.effectiveDate === activeItem?.effectiveDate
        })
      }
    }
  }
}
</script>
