<template>
  <v-dialog
    :value="showDialog"
    width="1400"
    persistent
    scrollable
  >
    <v-card :loading="loading">
      <AdCardTitle dialog>{{ $t('add-identifier-association') }}</AdCardTitle>
      <v-card-text class="mt-4">
        <v-data-table
          v-model="modal.selectedIdentifiers"
          :items="filteredIdentifiers"
          :headers="headers"
          dense
          show-select
          item-key="root"
          :footer-props="{ 'items-per-page-options': [5, 10] }"
          :hide-default-footer="identifiers.length <= 5"
          :search="registriesModeIsActive ? null : modal.search"
          :custom-filter="searchFilter"
          :loading="loadingOids"

        >
          <template #top>
            <AdTableSearch
              ref="searchInput"
              v-model="modal.search"
              class="mb-4"
              @input="registriesModeIsActive ? performDebouncedSearch($event) : () => {}"
              @click:append="registriesModeIsActive ? fetchOids() : () => {}"
              @keydown.enter.prevent="registriesModeIsActive ? fetchOids() : () => {}"
            >
              <template #prepend>
                <v-col cols="auto" class="pt-5">
                  <EditableSwitch
                    v-model="modal.registriesMode"
                    class="registries-switch ml-4"
                    :label="$t('oid-registries')"
                    hide-details
                    :infoText="$t('search-in-oid-registries-hint')"
                  />
                </v-col>
              </template>
            </AdTableSearch>
          </template>

          <!-- Designation picker -->
          <template #item.designation="{ item }">
            <v-radio-group
              v-model="modal.selectedDesignations[item.root]"
              class="mx-0 my-1"
              row
              hide-details
            >
              <v-tooltip
                v-for="(designation, i) in item.designation"
                :key="`des-${item.root}-${i}`"
                top
              >
                <template #activator="{ on }">
                  <v-radio
                    :value="designation"
                    v-on="on"
                    :class="{'mb-1': item.designation.length > 2 && i < 2}"
                  >
                    <template #label>
                      <flag
                        v-if="designation.language"
                        v-on="on"
                        :squared="Boolean(0)"
                        :iso="designation.language.substring(3, 5)"
                      ></flag>
                    </template>
                  </v-radio>
                </template>
                {{ getDesignationTypeTranslation(designation.type) }}
              </v-tooltip>
            </v-radio-group>
          </template>

          <!-- Display name -->
          <template #item.displayName="{ item }">
            {{ modal.selectedDesignations[item.root].displayName }}
          </template>

          <!-- Type -->
          <template #item.type="{ item }">
            {{ getDesignationTypeTranslation(selectedDesignationType(item)) }}
          </template>

          <!-- Description -->
          <template #item.#text="{ item }">
            {{ (modal.selectedDesignations[item.root] || {})['#text'] }}
          </template>
        </v-data-table>
      </v-card-text>

      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$emit('cancel')" />
        <AdButton type="save" :disabled="loading || !hasSelectedItems" @click="save" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep, debounce } from 'lodash'
import { isCancel } from 'axios'

import ProjectService from '@/services/ProjectService'
import AdTableSearch from '../Utilities/AdTableSearch.vue'

const initialModal = {
  fetchedOids: [],
  lastSearch: '',
  registriesMode: 'false',
  search: '',
  selectedDesignations: {},
  selectedIdentifiers: []
}

export default {
  name: 'IdentifierAssociationAdd',
  components: {
    AdTableSearch
  },
  props: {
    // List of already associated identifiers. Those will be filtered out.
    associations: {
      type: Array,
      default: () => ([])
    },
    disabled: {
      type: [Boolean, Object],
      default: false,
      required: false
    },
    // Determines the state (open/closed) of the dialiog
    showDialog: {
      type: Boolean,
      required: true
    },
    loading: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal),
      loadingOids: false,
      abortController: null
    }
  },
  computed: {
    decorTypes () {
      return this.$store.getters['server/getDecorTypes']?.data
    },
    defaultLocale () {
      return item => {
        return this.$filters.getMatchingTranslation({ value: item.designation, returnObject: true })?.language
      }
    },
    designationType () {
      return this.decorTypes?.DesignationType?.[0]?.enumeration?.map((e) => {
        const text = this.$filters.getMatchingTranslation({ value: e.label, locale: this.$i18n.locale })
        return {
          '#text': text.charAt(0).toUpperCase() + text.slice(1),
          value: e.value
        }
      }) || []
    },
    filteredIdentifiers () {
      const list = this.registriesModeIsActive ? this.modal.fetchedOids : this.identifiers
      return list.filter(id => !this.associations.some(ass => ass.ref === id.root))
    },
    getDesignationTypeTranslation () {
      return type => this.designationType.find(d => d.value === type)?.['#text'] || type
    },
    hasSelectedItems () {
      return !!this.modal.selectedIdentifiers.length
    },
    headers () {
      return [
        { value: 'root', text: this.$t('id'), width: 0 },
        { value: 'designation', text: this.$t('designation'), width: '180px', sortable: false },
        { value: 'displayName', text: this.$t('display-name'), sortable: false },
        { value: 'type', text: this.$t('type'), sortable: false },
        { value: '#text', text: this.$t('description'), sortable: false }
      ]
    },
    identifiers () {
      if (!this.showDialog) {
        return []
      }
      const identifiers = cloneDeep(this.projectInFocus?.ids?.[0]?.id) || []
      identifiers.forEach(id => {
        // Provide unique property to help v-radio-group differentiate between similar designations
        id.designation = id.designation?.map(des => ({ uuid: this.getUuid(), ...des }))
      })
      return identifiers
    },
    registriesModeIsActive () {
      return this.modal.registriesMode === 'true'
    },
    selectedDesignationType () {
      return item => this.modal.selectedDesignations[item.root]?.type
    }
  },
  methods: {
    async fetchOids () {
      try {
        const search = this.modal.search
        if (!search?.length || search === this.modal.lastSearch) {
          return
        }
        this.modal.lastSearch = search

        // Abort pending request
        if (this.abortController) {
          this.abortController.abort('New codeSystem selected')
        }

        // Set up abortController
        this.abortController = new AbortController()

        const prefix = this.projectInFocus?.prefix
        const params = {
          search: this.modal.search,
          sort: 'id',
          localonly: false
        }

        this.loadingOids = true
        const list = await ProjectService.getDecorProjectIds(prefix, params, this.abortController).then(res => res.data?.id) || []
        this.modal.fetchedOids = list
        this.setDesignationRadioButtons()
      } catch (error) {
        if (isCancel(error)) {
          return
        }
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      this.loadingOids = false
    },
    performDebouncedSearch: debounce(function () {
      if (this.modal.search?.length >= 3) {
        this.fetchOids()
      }
    }, 500),
    save () {
      const associations = this.modal.selectedIdentifiers.map(identifier => ({ ref: identifier.root }))
      this.$emit('save', associations)
    },
    searchFilter (value, search, item) {
      // Match on id + displayName and description of all designations
      const id = item.root
      const query = search.toLowerCase()

      return id?.includes(query) || item.designation?.some(des => {
        const desc = des['#text']?.toLowerCase()
        const name = des.displayName?.toLowerCase()
        return desc?.includes(query) || name?.includes(query)
      })
    },
    setDesignationRadioButtons () {
      // Set default values for designation radio buttons
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const list = this.registriesModeIsActive ? this.modal.fetchedOids : this.identifiers
      list.forEach(id => {
        const designation = (
          id.designation?.find(des => des.language === projectLanguage && ['preferred', 'fsn'].includes(des.type)) ||
          id.designation?.find(des => ['preferred', 'fsn'].includes(des.type)) ||
          id.designation?.[0] ||
          null
        )
        this.$set(this.modal.selectedDesignations, id.root, designation)
      })
    }
  },
  watch: {
    showDialog: {
      immediate: true,
      async handler (dialogIsOpen) {
        if (dialogIsOpen) {
          this.setDesignationRadioButtons()
        } else {
          this.modal = cloneDeep(initialModal)
        }
      }
    },
    registriesModeIsActive (newVal) {
      if (!newVal) {
        // OID mode is turned off
        this.modal.search = ''
        this.modal.lastSearch = ''
        this.modal.fetchedOids = []
        this.setDesignationRadioButtons()

        if (this.$refs.searchInput) {
          this.$refs.searchInput.blur()
        }
      } else {
        // OID mode is activated
        if (this.modal.search?.length) {
          this.fetchOids()
        } else if (this.$refs.searchInput) {
          this.$refs.searchInput.focus()
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.registries-switch  ::v-deep .v-input--switch {
  margin-top: 0;
}
</style>
