<template>
  <v-data-table
    :headers="headers"
    :items="valueSets"
    item-key="uuid"
    :search="search"
    :custom-filter="searchFilter"
    :footer-props="{ 'items-per-page-options': [5, 10, 15, -1] }"
    dense
    group-by="grouperident"
    :loading="isLoading('valueSet')"
  >
    <template #top>
      <AdTableSearch v-model="search"/>
    </template>

    <template #group="{ items }">
      <tr v-if="items.length > 1">
        <!-- grouper row if needed -->
        <td>{{ items[0].grouperident }}</td>
        <td colspan="3" class="mr-1 green--text text-decoration-none font-weight-medium">
          {{ items[0].displayName }}
        </td>
      </tr>

      <tr v-for="item in items" :key="item.uuid">
        <!-- show all items in a customized row -->
        <td>
          <!-- item id / ref-->
          <span :class="{'pl-10 grey--text': items.length !== 1}">{{ item.id || item.ref }}</span>
        </td>
        <td>
          <!-- display name, icons and links -->
          <AdStatusDot
            class="mr-3"
            :icon="!!item.ref ? 'mdi-link-variant' : 'mdi-heart'"
            :status="item.statusCode"
            tooltip
          />

          <AdButton
            v-if="item.id && item.effectiveDate"
            link
            :to="{ name: 'terminology-value-set-version', params: { id: item.id, version: item.effectiveDate } }"
          >
            <span class="text-no-wrap">
              {{ item.displayName }}
              <span v-if="item.versionLabel">({{ item.versionLabel }})</span>
            </span>
          </AdButton>

          <template v-else>
            <span class="text-no-wrap">
              {{ item.displayName }}
              <span v-if="item.versionLabel">({{ item.versionLabel }})</span>
            </span>
          </template>
        </td>
        <td>
          <!-- Version and optional BBR -->
          <template v-if="item.effectiveDate">{{ $filters.formatDateShort(item.effectiveDate) }}</template>
          <AdRefChip v-if="item.ident !== currentProjectPrefix" :ident="item.ident" small />
        </td>
        <td>{{ item.canonicalUri }}</td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters } from 'vuex'
import AdTableSearch from '../Utilities/AdTableSearch.vue'

export default {
  name: 'IdentifiersValueset',
  components: {
    AdTableSearch
  },
  data () {
    return {
      search: ''
    }
  },
  computed: {
    ...mapGetters('terminology', ['getValueSet', 'isLoading', 'getFullValueSetList']),
    ...mapGetters('project', ['currentProjectPrefix']),

    headers () {
      return [
        { text: this.$t('id'), sortable: true, sort: this.$filters.numericStringComparator, value: 'id' },
        { text: this.$t('display-name'), sortable: false, value: 'displayName' },
        { text: this.$t('version'), sortable: false, value: 'version' },
        { text: this.$t('uri'), sortable: false, value: 'canonicalUri' }
      ]
    },
    valueSets () {
      return this.getFullValueSetList().map(obj => ({ ...obj, grouperident: obj.id || obj.ref }))
    }
  },

  methods: {
    async getValueSetList () {
      try {
        await this.$store.dispatch('terminology/getValueSetList', { resolveit: true })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    searchFilter (value, search, item) {
      const displayName = item.displayName?.toLowerCase()
      const versionLabel = item.versionLabel?.toLowerCase()
      const id = item.id
      const ref = item.ref
      const query = search.toLowerCase()
      return displayName?.includes(query) || versionLabel?.includes(query) || id?.includes(query) || ref?.includes(query)
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.$store.state.terminology.loaded.valueSet) {
        vm.getValueSetList()
      }
    })
  },
  beforeRouteUpdate (to, from, next) {
    if (!this.$store.state.terminology.loaded.valueSet) {
      this.getValueSetList()
    }
    next()
  }
}
</script>
