<template>
  <v-layout>
    <v-container fluid>
      <AdBreadcrumbs :items="breadcrumbs" />
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-numeric">
              {{ cardTitle }}
            </AdCardTitle>
            <v-card-text class="pa-5">
              <v-tabs v-model="tabIndex" optional class="mb-5">
                <v-tab v-for="(t, index) in tabs" :key="`term-ident-tab${index}`" :to="{ name: t.name }">{{ $t(t.label)}}</v-tab>
              </v-tabs>

              <router-view />
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
export default {
  name: 'IdentifiersPanel',
  data () {
    return {
      tabs: [
        {
          name: 'terminology-identifiers-valueset',
          label: 'valuesets'
        },
        {
          name: 'terminology-identifiers-concept-map',
          label: 'concept-maps'
        },
        {
          name: 'terminology-identifiers-codesystem',
          label: 'codesystems'
        }
      ],
      tabIndex: null
    }
  },
  computed: {
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['identifiers', 'terminology-identifiers-codesystem', 'terminology-identifiers-valueset', 'terminology-identifiers-concept-map']
        },
        {
          text: this.$t('terminology'),
          disabled: true,
          show: ['identifiers', 'terminology-identifiers-codesystem', 'terminology-identifiers-valueset', 'terminology-identifiers-concept-map']
        },
        {
          text: this.$t('identifiers'),
          disabled: true,
          show: ['identifiers', 'terminology-identifiers-codesystem', 'terminology-identifiers-valueset', 'terminology-identifiers-concept-map']
        },
        {
          exact: true,
          text: this.$t('valuesets'),
          disabled: true,
          show: ['terminology-identifiers-valueset']
        },
        {
          exact: true,
          text: this.$t('codesystems'),
          disabled: true,
          show: ['terminology-identifiers-codesystem']
        },
        {
          exact: true,
          text: this.$t('concept-maps'),
          disabled: true,
          show: ['terminology-identifiers-concept-map']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    cardTitle () {
      if (this.$route.name === 'terminology-identifiers-valueset') {
        return this.$t('menu_valuesetids')
      }
      if (this.$route.name === 'terminology-identifiers-codesystem') {
        return this.$t('menu_codesystemids')
      }
      if (this.$route.name === 'terminology-identifiers-concept-map') {
        return this.$t('menu_conceptmapids')
      }
      return this.$t('identifiers')
    }
  }
}
</script>
