<template>
<PanelLoading v-if="loadingInitialData" :loading="loadingInitialData" flat />
<div v-else>
  <!-- Root concept -->
  <v-row>
    <v-col cols="11">
      <v-autocomplete
        v-model="inputs.rootConcept.selected"
        :label="$t('root-concept')"
        :items="inputs.rootConcept.items"
        :loading="inputs.rootConcept.loading"
        :search-input.sync="inputs.rootConcept.search"
        @update:search-input="performDebouncedSearch($event, inputs.rootConcept)"
        item-text="displayName"
        item-value="code"
        return-object
        :hide-no-data="!inputs.rootConcept.noResults"
        clearable
        auto-select-first
        :rules="[v => !!v]"
        class="required"
        no-filter
      >
        <template #selection="{item}">
             <div class="d-flex">
              <span style="font-weight: bold">{{ item.code }}</span>
              <span style="max-width: 80ch; white-space: nowrap;" class="text-truncate">&nbsp;{{ item.displayName }}</span>
            </div>
        </template>
        <template #item="{item}">
             <div class="d-flex">
              <span style="font-weight: bold">{{ item.code }}</span>
              <span style="max-width: 80ch; white-space: nowrap;" class="text-truncate">&nbsp;{{ item.displayName }}</span>
            </div>
        </template>
      </v-autocomplete>

    </v-col>
  </v-row>

  <!-- Attribute-value codes -->
  <template v-if="inputs.rootConcept.selected">
    <v-row dense v-for="{uuid, attr, value} in inputs.codes" :key="uuid">
      <v-col offset="1" cols="5">
        <v-autocomplete
          v-model="attr.selected"
          :label="$t('attribute')"
          :items="attr.items"
          :loading="attr.loading"
          :search-input.sync="attr.search"
          @update:search-input="performDebouncedSearch($event, attr)"
          item-text="displayName"
          item-value="code"
          return-object
          :hide-no-data="!attr.noResults"
          clearable
          auto-select-first
          :rules="[v => !!v]"
          class="required"
          no-filter
        >
          <template #selection="{item}">
              <div class="d-flex">
                <span style="font-weight: bold">{{ item.code }}</span>
                <span style="max-width: 25ch; white-space: nowrap;" class="text-truncate">&nbsp;{{ item.displayName }}</span>
            </div>
          </template>
          <template #item="{item}">
               <div class="d-flex">
              <span style="font-weight: bold">{{ item.code }}</span>
              <span style="max-width: 80ch; white-space: nowrap;" class="text-truncate">&nbsp;{{ item.displayName }}</span>
            </div>
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="5">
        <v-autocomplete
          v-model="value.selected"
          :label="$t('value')"
          :items="value.items"
          :loading="value.loading"
          :search-input.sync="value.search"
          @update:search-input="performDebouncedSearch($event, value)"
          item-text="displayName"
          item-value="code"
          return-object
          :hide-no-data="!value.noResults"
          clearable
          auto-select-first
          :rules="[v => !!v]"
          class="required"
          no-filter
        >
          <template #selection="{item}">
            <div class="d-flex">
              <span style="font-weight: bold">{{ item.code }}</span>
              <span style="max-width: 25ch;" class="text-truncate text-no-wrap">&nbsp;{{ item.displayName }}</span>
            </div>
          </template>
          <template #item="{item}">
            <div class="d-flex">
              <span style="font-weight: bold">{{ item.code }}</span>
              <span style="max-width: 80ch;" class="text-truncate text-no-wrap">&nbsp;{{ item.displayName }}</span>
            </div>
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="1" class="d-flex align-center justify-end">
        <AdButton type="delete" list @click="removeCodePair(uuid)"/>
      </v-col>
    </v-row>
    <v-row dense>
      <v-spacer />
      <v-col cols="auto">
        <AdButton type="add" :hint="$t('add-attribute-value-pair')" list @click="addCodePair"/>
      </v-col>
    </v-row>
  </template>

  <!-- <div class="mt-5">
    <h3>Debug</h3>
    <div v-if="calculatedDisplayName"><span style="font-weight: bold">displayName: &nbsp;</span>{{ calculatedDisplayName}}</div>
    <div v-if="calculatedCode"><span style="font-weight: bold">code: &nbsp;</span>{{ calculatedCode }}</div>
  </div> -->
</div>
</template>

<script>
import { cloneDeep, debounce } from 'lodash'
import { v4 as uuidv4 } from 'uuid'

import ConceptsService from '@/services/ConceptsService'

const initialData = {
  rootConcept: {
    items: [],
    loading: false,
    noResults: false,
    search: null,
    selected: null
  },
  codes: [
    {
      uuid: uuidv4(),
      attr: {
        items: [],
        loading: false,
        noResults: false,
        search: null,
        selected: null
      },
      value: {
        items: [],
        loading: false,
        noResults: false,
        search: null,
        selected: null
      }
    }
  ]
}
export default {
  props: {
    code: {
      type: String,
      required: false
    },
    displayName: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      inputs: cloneDeep(initialData),
      loadingInitialData: false
    }
  },
  computed: {
    calculatedCode () {
      if (!this.inputs.rootConcept.selected?.code || !this.inputs.codes.length || !this.inputs.codes.every(({ attr, value }) => attr.selected?.code && value.selected?.code)) return null
      let code = `${this.inputs.rootConcept.selected.code}:`
      code += this.inputs.codes
        .filter(({ attr, value }) => attr.selected?.code && value.selected?.code)
        .map(({ attr, value }) => `${attr.selected.code}=${value.selected.code}`).join()
      return code
    },
    calculatedDisplayName () {
      if (!this.inputs.rootConcept.selected?.displayName || !this.inputs.codes.length || !this.inputs.codes.every(({ attr, value }) => attr.selected?.code && value.selected?.code)) return null
      let displayName = `${this.inputs.rootConcept.selected.displayName}:`
      displayName += this.inputs.codes
        .filter(({ attr, value }) => attr.selected?.displayName && value.selected?.displayName)
        .map(({ attr, value }) => `${attr.selected.displayName}=${value.selected.displayName}`).join()
      return displayName
    }
  },
  methods: {
    addCodePair () {
      const pair = {
        uuid: this.getUuid(),
        attr: {
          items: [],
          loading: false,
          noResults: false,
          search: null,
          selected: null
        },
        value: {
          items: [],
          loading: false,
          noResults: false,
          search: null,
          selected: null
        }
      }
      this.inputs.codes.push(pair)
    },
    clear () {
      this.$emit('change', {
        code: null,
        displayName: null,
        codeSystem: null
      })
    },
    async fetchCodes (val, input, force) {
      const { selected } = input
      const trimmedVal = val?.trim() || null
      if (!force && (!trimmedVal || selected?.code === trimmedVal ||
        selected?.displayName?.toLowerCase() === trimmedVal.toLowerCase()
      )) {
        return
      }

      const searchMode = /^\d+$/.test(trimmedVal) ? 'code' : 'designation'
      const searchContext = 'external/snomed'

      try {
        input.loading = true
        input.noResults = false
        let results
        if (searchMode === 'code') {
          results = (await ConceptsService.searchCode(trimmedVal, searchContext)).data.designation || []
        } else {
          results = (await ConceptsService.searchDesignation(trimmedVal, searchContext)).data.designation || []
        }
        input.items = results.map(item => ({ code: item.code, displayName: item['#text'] }))
        if (!input.items.length) {
          input.noResults = true
        } else if (input.items.length === 1) {
          input.selected = input.items[0]
        }
      } catch (error) {
        console.error(error)
      } finally {
        input.loading = false
      }
    },
    performDebouncedSearch: debounce(function (val, input) {
      this.fetchCodes(val, input)
    }, 500),
    removeCodePair (uuid) {
      this.inputs.codes = this.inputs.codes.filter(codePair => codePair.uuid !== uuid)
    }
  },
  watch: {
    calculatedCode: {
      handler () {
        this.$emit('change', {
          code: this.calculatedCode,
          displayName: this.calculatedDisplayName,
          codeSystem: '2.16.840.1.113883.6.96' // SNOMED
        })
      }
    }
  },
  async mounted () {
    const isPostCoordinated = /^[\d]+:\d+=\d+/.test(this.code) && /^[\D]+:\D+=\D+/.test(this.displayName)
    if (!isPostCoordinated) {
      this.clear()
      return
    }

    if (!this.code || !this.displayName) return
    this.inputs.codes = []

    const [rootCode, subCodesArr] = this.code.split(':')
    const promises = []

    // Fetch the root code
    promises.push(this.fetchCodes(rootCode, this.inputs.rootConcept, true))

    // Fetch the attribute-value pair codes
    const subCodes = subCodesArr.split(',')
    subCodes.forEach((pair, i) => {
      const [attrCode, valueCode] = pair.split('=')
      this.addCodePair()
      promises.push(this.fetchCodes(attrCode, this.inputs.codes[i].attr, true))
      promises.push(this.fetchCodes(valueCode, this.inputs.codes[i].value, true))
    })

    try {
      this.loadingInitialData = true
      await Promise.all(promises)
    } catch (error) {
      console.error(error)
    } finally {
      this.loadingInitialData = false
    }
  },
  beforeDestroy () {
    this.clear()
  }
}
</script>
