<template>
<PanelLoading v-if="loadingInitialData" :loading="loadingInitialData" flat />

<div v-else>
  <!-- SNO POEM select questionnaire-->
  <AdArtefactSelection
      v-if="modals.artefactSelection.tree"
      v-model="modals.artefactSelection.open"
      :tree="modals.artefactSelection.tree"
      :exclude="modals.artefactSelection.selected"
      :versionProperty="modals.artefactSelection.versionProp"
      :treeFilters="modals.artefactSelection.filters"
      :noDynamicVersions="modals.artefactSelection.noDynamicVersions"
      @selected="modals.artefactSelection.selectHandler"
      @close="resetArtefactSelectionModal"
    />
  <v-row align="center">
    <v-col>
      <div class="d-flex align-center">
        <!-- Hidden input for easy form validation -->
        <v-text-field
          type="hidden"
          class="d-none"
          :value="selectedQuestionnaire ? selectedQuestionnaire.id : null"
          :rules="[v => v != null]"
        />
        <AdButton
          :type="selectedQuestionnaire ? 'edit' : 'add'"
          :disabled="!$store.state.questionnaire.loaded.questionnaires"
          @click="startSelectQuestionnaire"
        >
          {{ $t('select-expression-template') }}
        </AdButton>
        <AdArtefactDetailsCard v-if="selectedQuestionnaire && selectedQuestionnaire.id" :object="{...selectedQuestionnaire, type: 'QQ'}">
          <template #[`activator.append`]>
            <AdButton type="erase" small list noMarginRight @click.stop="handleValueSetIncludeChange(null)" />
          </template>
        </AdArtefactDetailsCard>
      </div>
    </v-col>
    <v-col>
      <v-checkbox
      v-model="showExpression"
      :label="$t('show-expression')"
    ></v-checkbox>
    </v-col>
  </v-row>
  <!-- SNO POEM Questionnaire-->
  <v-row v-if="snoPoemQuestionnaire">
    <v-col>
        <!-- focus concept fixed-->
        <v-row dense v-if="snoPoemQuestionnaire.item[0].code">
          <v-col class="bg grey lighten-2 pl-2"><span style="font-weight: bold; color: black; font-size: 1rem;">{{ snoPoemQuestionnaire.item[0].code }}</span> <span style="color: black; font-size: 1rem;">{{ snoPoemQuestionnaire.item[0].text }}</span></v-col>
        </v-row>
        <!-- focus concept selectable-->
        <v-row align="center" dense v-if="snoPoemQuestionnaire.item[0].answerValueSet">
          <v-col class="bg grey lighten-2 pl-2"><span style="color: black; font-size: 1rem;">{{ snoPoemQuestionnaire.item[0].text }}</span></v-col>
          <v-col>
            <v-autocomplete
              v-model="snoPoemQuestionnaire.item[0].selected"
              :items="snoPoemQuestionnaire.item[0].items"
              :loading="snoPoemQuestionnaire.item[0].loading"
              :search-input.sync="snoPoemQuestionnaire.item[0].search"
              @update:search-input="performDebouncedSearch($event, snoPoemQuestionnaire.item[0])"
              item-text="displayName"
              item-value="code"
              return-object
              :hide-no-data="!snoPoemQuestionnaire.item[0].noResults"
              clearable
              auto-select-first
              :rules="[v => !!v]"
              class="required"
              no-filter
            >
              <template #selection="{item}">
                <div class="d-flex">
                  <span style="font-weight: bold">{{ item.code }}</span>
                  <span style="max-width: 25ch;" class="text-truncate text-no-wrap">&nbsp;{{ item.displayName }}</span>
                </div>
              </template>
              <template #item="{item}">
                <div class="d-flex">
                  <span style="font-weight: bold">{{ item.code }}</span>
                  <span style="max-width: 80ch;" class="text-truncate text-no-wrap">&nbsp;{{ item.displayName }}</span>
                </div>
              </template>
            </v-autocomplete>
          </v-col>
        </v-row>
        <!-- groups -->
        <v-row v-for="grp in snoPoemQuestionnaire.item.filter(itm => itm.type === 'group')" :key="grp.index">
          <v-col class="mx-2 mb-4" style="border-style:solid; border-width: 1px; border-color: rgb(163, 160, 160);">
            <v-row v-for="expr in grp.item.filter(itm => itm.type === 'exp')" :key="expr.index">
              <v-col class="ml-2">
                <v-row dense><v-col class="bg grey lighten-2 pl-2"><div class="d-flex">{{ expr.code }} {{ expr.displayName }}</div></v-col></v-row>
                <v-row dense><v-col class="pl-2">{{ expr.text }}</v-col></v-row>
              </v-col>
              <v-col v-if="expr.answerValueSet">
                <v-autocomplete
                  v-model="expr.selected"
                  :items="expr.items"
                  :loading="expr.loading"
                  :search-input.sync="expr.search"
                  @update:search-input="performDebouncedSearch($event, expr)"
                  item-text="displayName"
                  item-value="code"
                  return-object
                  :hide-no-data="!expr.noResults"
                  clearable
                  auto-select-first
                  :rules="[v => !!v]"
                  class="required"
                  no-filter
                >
                  <template #selection="{item}">
                    <div class="d-flex">
                      <span style="font-weight: bold">{{ item.code }}</span>
                      <span style="max-width: 25ch;" class="text-truncate text-no-wrap">&nbsp;{{ item.displayName }}</span>
                    </div>
                  </template>
                  <template #item="{item}">
                    <div class="d-flex">
                      <span style="font-weight: bold">{{ item.code }}</span>
                      <span style="max-width: 80ch;" class="text-truncate text-no-wrap">&nbsp;{{ item.displayName }}</span>
                    </div>
                  </template>
                </v-autocomplete>
              </v-col>
              <v-col v-if="expr.answerOption">
                <span style="font-weight: bold; color: black; font-size: 1rem;">{{ expr.answerOption.code }}</span> <span style="color: black; font-size: 1rem;">{{ expr.answerOption.displayName }}</span>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <!-- items -->
        <v-row v-for="expr in snoPoemQuestionnaire.item.filter(itm => itm.type === 'exp')" :key="expr.index">
          <v-col class="ml-4">
            <v-row dense><v-col class="bg grey lighten-2 pl-2"><div class="d-flex">{{ expr.code }} {{ expr.displayName }}</div></v-col></v-row>
            <v-row dense><v-col class="pl-2">{{ expr.text }}</v-col></v-row>
          </v-col>
          <v-col v-if="expr.answerValueSet">
            <v-autocomplete
              v-model="expr.selected"
              :items="expr.items"
              :loading="expr.loading"
              :search-input.sync="expr.search"
              @update:search-input="performDebouncedSearch($event, expr)"
              item-text="displayName"
              item-value="code"
              return-object
              :hide-no-data="!expr.noResults"
              clearable
              auto-select-first
              :rules="[v => !!v]"
              class="required"
              no-filter
            >
              <template #selection="{item}">
                <div class="d-flex">
                  <span style="font-weight: bold">{{ item.code }}</span>
                  <span style="max-width: 25ch;" class="text-truncate text-no-wrap">&nbsp;{{ item.displayName }}</span>
                </div>
              </template>
              <template #item="{item}">
                <div class="d-flex">
                  <span style="font-weight: bold">{{ item.code }}</span>
                  <span style="max-width: 80ch;" class="text-truncate text-no-wrap">&nbsp;{{ item.displayName }}</span>
                </div>
              </template>
            </v-autocomplete>
          </v-col>
          <v-col v-if="expr.answerOption">
            <span style="font-weight: bold; color: black; font-size: 1rem;">{{ expr.answerOption.code }}</span> <span style="color: black; font-size: 1rem;">{{ expr.answerOption.displayName }}</span>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-expansion-panels>
              <v-expansion-panel
                title="Title"
                text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus! Eaque cupiditate minima"
              >
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-row>
        <!-- calculated expression-->
        <v-row v-if="calculatedCode && showExpression" dense>
          <v-col>
            <strong>{{ calculatedCode }}</strong>
          </v-col>
        </v-row>
        <!-- calculated displayName-->
        <v-row v-if="calculatedDisplayName && showExpression" dense>
          <v-col>
            <strong>{{ calculatedDisplayName }}</strong>
          </v-col>
        </v-row>
    </v-col>
  </v-row>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import { debounce } from 'lodash'
import AdArtefactSelection from '@/components/Utilities/AdArtefactSelection'
import ConceptsService from '@/services/ConceptsService'
import TerminologyService from '@/services/TerminologyService'

export default {
  props: {
    code: {
      type: String,
      required: false
    },
    displayName: {
      type: String,
      required: false
    }
  },
  components: {
    AdArtefactSelection
  },
  data () {
    return {
      loadingInitialData: false,
      modals: {
        artefactSelection: {
          open: false,
          selected: null,
          tree: null,
          selectHandler: null,
          filters: []
        }
      },
      selectedQuestionnaire: null,
      snoPoemQuestionnaire: null,
      showExpression: false
    }
  },
  computed: {
    ...mapGetters('questionnaire', ['questionnaires', 'questionnaireActive', 'questionnaireItem', 'questionnairesAreEditable', 'questionnaireItemIsEditable', 'isLoading']),
    calculatedCode () {
      if (!this.snoPoemQuestionnaire) return null
      let expression = `${this.snoPoemQuestionnaire.item.filter(itm => itm.type === 'focus').map(itm => itm.code || itm.selected?.code).join('+')}:`
      expression += `${this.snoPoemQuestionnaire.item.filter(itm => itm.type === 'exp')
                    .map(itm => { if (itm.selected?.code) return `${itm.code}=${itm.selected?.code}`; else return `${itm.code}=${itm.answerOption?.code}` }).join()}`
      if (this.snoPoemQuestionnaire.item.filter(itm => itm.type === 'group').length) {
        expression += `{${this.snoPoemQuestionnaire.item.filter(itm => itm.type === 'group').map(this.calculateGroup).join()}}`
      }
      return expression
    },
    calculatedDisplayName () {
      if (!this.snoPoemQuestionnaire) return null
      let displayName = `${this.snoPoemQuestionnaire.item.filter(itm => itm.type === 'focus').map(itm => { if (itm.selected?.displayName) return itm.selected?.displayName; else return itm.text }).join('+')}:`
      displayName += `${this.snoPoemQuestionnaire.item.filter(itm => itm.type === 'exp')
                    .map(itm => { if (itm.selected?.displayName) return `${itm.displayName}=${itm.selected?.displayName}`; else return itm.answerOption?.displayName }).join()}`
      if (this.snoPoemQuestionnaire.item.filter(itm => itm.type === 'group').length) {
        displayName += `{${this.snoPoemQuestionnaire.item.filter(itm => itm.type === 'group').map(this.calculateGroupName).join()}}`
      }
      return displayName
    },
    treeQuestionnaires () {
      return {
        artefact: 'QQ',
        name: this.$t('questionnaires'),
        icon: 'mdi-heart',
        loading: this.$store.state.questionnaire.loading.questionnaireItem,
        loaded: this.$store.state.questionnaire.loaded.questionnaireItem,
        menu: false,
        insertable: false,
        editable: false,
        items: this.$store.state.questionnaire.questionnaires,
        key: 'uuid',
        text: (item) => item.versionLabel ? `${item.name['#text']} (${item.versionLabel})` : this.$filters.getMatchingTranslation({ value: item.name }),
        children: null
      }
    }
  },
  methods: {
    calculateGroup (group) {
      let expression = `${group.item.filter(itm => itm.type === 'exp').map(itm => { if (itm.selected?.code) return `${itm.code}=${itm.selected?.code}`; else return `${itm.code}=${itm.answerOption?.code}` }).join()}`
      if (group.item.filter(itm => itm.type === 'group').length) {
        expression += `{${group.item.filter(itm => itm.type === 'group').map(this.calculateGroup).join()}}`
      }
      return expression
    },
    calculateGroupName (group) {
      let displayName = `${group.item.filter(itm => itm.type === 'exp')
                        .map(itm => { if (itm.selected?.displayName) return `${itm.displayName}=${itm.selected?.displayName}`; else return itm.answerOption?.displayName }).join()}`
      if (group.item.filter(itm => itm.type === 'group').length) {
        displayName += `{${group.item.filter(itm => itm.type === 'group').map(this.calculateGroupName).join()}}`
      }
      return displayName
    },
    clear () {
      this.$emit('change', {
        code: null,
        displayName: null,
        codeSystem: null
      })
    },
    async fetchCodes (val, input, force) {
      const { selected } = input
      const trimmedVal = val?.trim() || null
      if (!force && (!trimmedVal || selected?.code === trimmedVal ||
        selected?.displayName?.toLowerCase() === trimmedVal.toLowerCase()
      )) {
        return
      }
      const searchMode = /^\d+$/.test(trimmedVal) ? 'code' : 'designation'
      const searchContext = 'external/snomed'
      let ancestor = null
      let isa = null
      if (input.answerValueSet.items[0].op === 'descendent-of') {
        ancestor = input.answerValueSet.items[0].code
      } else if (input.answerValueSet.items[0].op === 'is-a') {
        isa = input.answerValueSet.items[0].code
      }
      try {
        input.loading = true
        input.noResults = false
        let results
        if (searchMode === 'code') {
          results = (await ConceptsService.searchCode(trimmedVal, searchContext)).data.designation || []
        } else if (ancestor) {
          results = (await ConceptsService.searchDesignation(trimmedVal, searchContext, null, ancestor)).data.designation || []
        } else if (isa) {
          results = (await ConceptsService.searchDesignation(trimmedVal, searchContext, null, null, isa)).data.designation || []
        } else {
          results = (await ConceptsService.searchDesignation(trimmedVal, searchContext)).data.designation || []
        }
        input.items = results.map(item => ({ code: item.code, displayName: item['#text'] }))
        if (!input.items.length) {
          input.noResults = true
        } else if (input.items.length === 1) {
          input.selected = input.items[0]
        }
      } catch (error) {
        console.error(error)
      } finally {
        input.loading = false
      }
    },
    performDebouncedSearch: debounce(function (val, input) {
      this.fetchCodes(val, input)
    }, 500),
    resetArtefactSelectionModal () {
      this.modals.artefactSelection.tree = null
      this.modals.artefactSelection.selected = null
      this.modals.artefactSelection.versionProp = null
      this.modals.artefactSelection.selectHandler = null
      this.modals.artefactSelection.filters = []
    },
    startSelectQuestionnaire () {
      this.modals.artefactSelection.tree = this.treeQuestionnaires
      this.modals.artefactSelection.selected = []
      this.modals.artefactSelection.noDynamicVersions = false
      if (this.selectedQuestionnaire) {
        this.modals.artefactSelection.selected.push(this.selectedQuestionnaire)
      }
      this.modals.artefactSelection.versionProp = 'questionnaire'
      this.modals.artefactSelection.open = true
      this.modals.artefactSelection.selectHandler = (qq) => {
        this.selectedQuestionnaire = qq
      }
    },
    async processQuestionnaire () {
      if (this.questionnaireItem) {
        let snoPoemQuestionnaire = {}
        const snoPoemItems = []
        let snoPoemItem = {}
        // loop through the items
        for (let i = 0; i < this.questionnaireItem.item[0].item.length; i++) {
          // process focus item
          if (this.questionnaireItem.item[0].item[i].linkId.startsWith('focus')) {
            // check if focus concept is fixed or selectable
            if (this.questionnaireItem.item[0].item[i].answerOption) {
              snoPoemItem = {
                type: 'focus',
                text: this.$filters.getMatchingTranslation({ value: this.questionnaireItem.item[0].item[i].text }),
                code: this.questionnaireItem.item[0].item[i].answerOption[0].valueCoding[0].code
              }
            } else {
              snoPoemItem = {
                type: 'focus',
                text: this.$filters.getMatchingTranslation({ value: this.questionnaireItem.item[0].item[i].text }),
                answerValueSet: await this.getValueSet(this.questionnaireItem.item[0].item[i].answerValueSet[0].ref),
                selected: null,
                loading: false,
                noResults: false,
                items: null,
                search: null
              }
            }
          // process groups
          } else if (this.questionnaireItem.item[0].item[i].linkId.startsWith('group')) {
            snoPoemItem = await this.processSnoPoemGroup(this.questionnaireItem.item[0].item[i])
          // process items
          // check if fixed answer
          } else if (this.questionnaireItem.item[0].item[i].answerOption) {
            snoPoemItem = {
              type: 'exp',
              index: this.questionnaireItem.item[0].item[i].linkId.slice(this.questionnaireItem.item[0].item[i].linkId.indexOf('-') + 1),
              text: this.$filters.getMatchingTranslation({ value: this.questionnaireItem.item[0].item[i].text }),
              code: this.questionnaireItem.item[0].item[i].code[0].code,
              displayName: this.questionnaireItem.item[0].item[i].code[0].displayName,
              answerValueSet: null,
              answerOption: {
                code: this.questionnaireItem.item[0].item[i].answerOption[0].valueCoding[0].code,
                displayName: this.questionnaireItem.item[0].item[i].answerOption[0].valueCoding[0].displayName
              },
              selected: null,
              loading: false,
              noResults: false,
              items: null,
              search: null
            }
          // check if answer value set
          } else if (this.questionnaireItem.item[0].item[i].answerValueSet[0]) {
            snoPoemItem = {
              type: 'exp',
              index: this.questionnaireItem.item[0].item[i].linkId.slice(this.questionnaireItem.item[0].item[i].linkId.indexOf('-') + 1),
              text: this.$filters.getMatchingTranslation({ value: this.questionnaireItem.item[0].item[i].text }),
              code: this.questionnaireItem.item[0].item[i].code[0].code,
              displayName: this.questionnaireItem.item[0].item[i].code[0].displayName,
              answerValueSet: await this.getValueSet(this.questionnaireItem.item[0].item[i].answerValueSet[0].ref),
              anserOption: null,
              selected: null,
              loading: false,
              noResults: false,
              items: null,
              search: null
            }
          }
          snoPoemItems.push(snoPoemItem)
        }
        snoPoemQuestionnaire = {
          text: this.$filters.getMatchingTranslation({ value: this.questionnaireItem.item[0].text }),
          code: this.questionnaireItem.code[0].code,
          item: snoPoemItems
        }
        return snoPoemQuestionnaire
      } else return null
    },
    async processSnoPoemGroup (group) {
      const snoPoemItems = []
      let snoPoemItem = {}
      let groupItem = {}
      for (let i = 0; i < group.item.length; i++) {
        if (group.item[i].linkId.startsWith('group')) {
          snoPoemItem = this.processSnoPoemGroup(group.item[i])
          // process items
          // check if fixed answer
        } else if (group.item[i].answerOption) {
          snoPoemItem = {
            type: 'exp',
            index: group.item[i].linkId.slice(group.item[i].linkId.indexOf('-') + 1),
            text: this.$filters.getMatchingTranslation({ value: group.item[i].text }),
            code: group.item[i].code[0].code,
            displayName: group.item[i].code[0].displayName,
            answerValueSet: null,
            answerOption: {
              code: group.item[i].answerOption[0].valueCoding[0].code,
              displayName: group.item[i].answerOption[0].valueCoding[0].displayName
            },
            selected: null,
            loading: false,
            noResults: false,
            items: null,
            search: null
          }
          // check if fixed answer
        } else if (group.item[i].answerValueSet[0]) {
          snoPoemItem = {
            type: 'exp',
            index: group.item[i].linkId.slice(group.item[i].linkId.indexOf('-') + 1),
            text: this.$filters.getMatchingTranslation({ value: group.item[i].text }),
            code: group.item[i].code[0].code,
            displayName: group.item[i].code[0].displayName,
            answerValueSet: await this.getValueSet(group.item[i].answerValueSet[0].ref),
            answerOption: null,
            selected: null,
            loading: false,
            noResults: false,
            items: null,
            search: null
          }
        }
        snoPoemItems.push(snoPoemItem)
      }
      groupItem = {
        type: 'group',
        index: group.linkId.slice(group.linkId.indexOf('-') + 1),
        text: this.$filters.getMatchingTranslation({ value: group.text }),
        item: snoPoemItems
      }
      return groupItem
    },
    async getValueSet (id) {
      try {
        const valueSet = (await TerminologyService.getValueSet(id)).data
        return valueSet
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
    }
  },
  watch: {
    calculatedCode: {
      handler () {
        this.$emit('change', {
          code: this.calculatedCode,
          displayName: this.calculatedDisplayName,
          codeSystem: '2.16.840.1.113883.6.96' // SNOMED
        })
      }
    },
    selectedQuestionnaire: {
      handler () {
        // Fetch the questionnaire
        this.$store.dispatch('questionnaire/getQuestionnaire', {
          id: this.selectedQuestionnaire.id || this.selectedQuestionnaire.ref,
          effectiveDate: this.selectedQuestionnaire.effectiveDate
        }).catch(error => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
      }
    },
    questionnaireItem: {
      async handler () {
        this.snoPoemQuestionnaire = await this.processQuestionnaire()
      }
    }
  },
  async mounted () {
    // If questionnaire list is not available, fetch it
    if (!this.$store.getters['questionnaire/getQuestionnaire']?.length) {
      this.$store.dispatch('questionnaire/getQuestionnaireList', { resolveit: true, sort: 'displayName' })
    }
  },
  beforeDestroy () {
    this.clear()
  }
}
</script>
