<template>
  <div class="d-flex">
    <v-text-field
      v-model.trim="search"
      :label="searchLabel"
      class="mr-2"
      solo
      dense
      width="500"
      clearable
      single-line
      @input="performDebouncedSearch"
    >
      <template #prepend-inner>
        <v-menu offset-y>
          <template #activator="{ on, attrs }">
            <v-btn v-on="on" v-bind="attrs" small text>
              <v-icon color="blue lighten-2">{{ modeIcon }}</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item-group v-model="mode">
              <v-list-item value="term">
                <v-list-item-icon>
                  <v-icon color="blue lighten-2">mdi-format-letter-case</v-icon>
                </v-list-item-icon>
                <v-list-item-title>{{ $t('search-by-term') }}</v-list-item-title>
              </v-list-item>
              <v-list-item value="code">
                <v-list-item-icon>
                  <v-icon color="blue lighten-2">mdi-human-male-female</v-icon>
                </v-list-item-icon>
                <v-list-item-title>{{ $t('search-by-code') }}</v-list-item-title>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>
      </template>
      <template #append-outer>
        <v-tooltip top>
          <template #activator="{ on }">
            <v-icon
              v-show="searchIsInvalid"
              color="red lighten-2"
              v-on="on"
              size="26"
              class="align-self-start"
            >
              mdi-information-outline
            </v-icon>
          </template>
          {{ $t('code-contains-illegal-characters')}}
        </v-tooltip>
      </template>
    </v-text-field>

  </div>
</template>

<script>
import { debounce } from 'lodash'

export default {
  components: {
  },
  computed: {
    mode: {
      get () {
        return this.$store.state.terminology.searchMode
      },
      set (mode) {
        this.$store.commit('terminology/updateSearchMode', mode)
      }
    },
    modeIcon () {
      return this.mode === 'term' ? 'mdi-format-letter-case' : 'mdi-human-male-female'
    },
    search: {
      get () {
        return this.$store.state.terminology.searchTerm
      },
      set (value) {
        const valueToUpdate = value === null ? '' : value
        this.$store.commit('terminology/updateSearchTerm', valueToUpdate)
      }
    },
    searchIsInvalid () {
      const illegalCharacters = /[&]/ // probably more to be added?
      return illegalCharacters.test(this.search)
    },
    searchLabel () {
      return this.$t(`search-by-${this.mode}`)
    }
  },
  methods: {
    performDebouncedSearch: debounce(function () {
      if (this.search !== '' && !this.searchIsInvalid) {
        this.$emit('search')
      }
    }, 500)
  },
  watch: {
    mode (value) {
      localStorage.setItem('browser:searchmode', value)
      this.search = ''
    }
  },
  created () {
    const prefSearchMode = localStorage.getItem('browser:searchmode')
    if (['term', 'code'].includes(prefSearchMode)) {
      this.mode = prefSearchMode
    }
  }
}
</script>
