<template>
  <div class="terminology-details-card">
    <v-card v-if="valueSetActive">
      <div class="terminology-details-card-header d-flex flex-row align-center pr-4 backdrop-item">
        <div class="d-flex flex-column justify-center flex-grow-1">
          <v-slide-y-transition group leave-absolute>
            <AdCardTitle key="title">
              <v-fade-transition group leave-absolute>
                <span key="terminologyItemName">
                  <AdStatusDot
                    :status="valueSetActive.statusCode"
                    larger
                    darker
                    v-if="valueSetActive.statusCode"
                  />
                  <AdStatusDot icon="mdi-circle-outline" larger darker v-else />
                  <span class="pl-2" >{{ valueSetActive.displayName }}</span>
                  <AdRefChip
                    v-if="valueSetActive.ref"
                    :ident="valueSetActive.ident"
                    darker
                    small
                  />
                </span>
              </v-fade-transition>
            </AdCardTitle>
          </v-slide-y-transition>
        </div>

        <AdArtefactDownloads
          v-model="modals.artefactDownload"
          :title="`${$t('downloads')} - ${valueSetActive.displayName}`"
          :downloadData="valueSetDownloadData"
        />
        <AdButton
          type="downloads"
          @click="modals.artefactDownload = true"
        />

        <AdTempleButton
          v-if="showTempleButton"
          :id="valueSetActive.id || valueSetActive.ref"
          :effectiveDate="valueSetActive.effectiveDate || valueSetItem.effectiveDate"
          :isEditable="valueSetItemIsEditable && !valueSetActive.ref"
        />

        <AdButton
          v-if="userIsEditor && valueSetActive.ref"
          type="erase"
          :hint="$t('delete-reference')"
          @click="deleteValueSetReference"
        />

        <IssueCreationModal :object="valueSetActive" @create="handleCreateIssue" />

        <!-- Links to temple not yet supported -->
        <!-- <div v-if="userIsEditor">
          <AdButton type="temple" @click="startTemple" hideText></AdButton>
        </div> -->
      </div>

      <v-card-text>
        <PanelLoading v-if="isLoading('valueSetItem') || !valueSetItem" :loading="isLoading('valueSetItem')" />
        <template v-else>
          <AdVersionHistoryStepper
            v-if="versions.length > 1 && selectedVersion > -1"
            :value="selectedVersion"
            :versions="versions"
            @input="handleSwitchVersion"
          />

          <EditableArtefactDetailHeader
            artefact="ValueSet"
            :item="editableItem"
            :readonly="!valueSetItemIsEditable"
            :isEditableStatusCode="isEditableStatusCode"
            :locales="projectLocales"
            :service="patchItem"
            :hasDetails="true"
            :showMore.sync="metadataIsExpanded"
          >
            <ValueSetMetaInformation :readonly="!valueSetItemIsEditable"/>
          </EditableArtefactDetailHeader>

          <!-- Source Code System -->
          <v-card v-if="sourceCodeSystems.length > 0" class="my-5">
            <AdCardTitle inline>{{ $t('source-codesystems') }}</AdCardTitle>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="sourceCodeSystemHeaders"
                :items="sourceCodeSystems"
                item-key="id"
                :no-data-text="$t('no-items')"
                dense
                disable-pagination
                disable-sort
                disable-filtering
                hide-default-header
                hide-default-footer
                class="elevation-0"
              >
                <template #header>
                  <thead>
                    <tr>
                      <th width="1">{{ $t("id") }}</th>
                      <th class="text-no-wrap">
                        {{ $t("codesystem-name") }}
                      </th>
                    </tr>
                  </thead>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>

          <!--
            Concept List
            A Value Set body may have
            - a conceptList element with concept, exception, include and exclude elements
            - a completeCodeSystem element
          -->
          <v-card v-if="itemsInValueSetItem.length">
            <v-data-table
              :items="itemsInValueSetItem"
              :items-per-page="10"
              :hide-default-footer="itemsInValueSetItem.length <= 10"
              :headers="[{value: 'displayName'}]"
              hide-default-header
              class="elevation-0"
              :search="searchConcepts"
              :custom-filter="conceptSearchFilter"
              :footer-props="{ 'items-per-page-options': [10, 20, 30, 40, 50] }"
              dense
            >
              <template #top>
                <v-row no-gutters class="pb-3">
                  <v-col cols="7">
                    <AdCardTitle inline>
                      {{ $t("conceptlist") }}
                      <AdButton
                        v-if="valueSetItemIsEditable"
                        class="ml-5"
                        type="edit"
                        :hint="$t('edit-composition')"
                        @click="startEditComposition()"
                      />
                      <TerminologyExpansionSetDialog
                        v-if="hasIncludeOrExcludeOrCompleteCodeSystem"
                        :readonly="!userIsEditor"
                        :storedSets="valueSetExpansionAssociationCount"
                      />
                    </AdCardTitle>
                  </v-col>
                  <v-col cols="5">
                    <v-text-field
                      v-model="searchConcepts"
                      append-icon="mdi-magnify"
                      :label="$t('search')"
                      single-line
                      hide-details
                      solo
                      dense
                      clearable
                      class="ma-3"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </template>

              <template #header>
                <ValueSetConceptListHeader :items="itemsInValueSetItem"/>
              </template>

              <template #item="{ item }">
                <TerminologyValueSetConceptItem
                  :itemsInValueSetHasOrdinal="itemsInValueSetHasOrdinal"
                  :item="item"
                  :showEditable="false"
                />
              </template>
            </v-data-table>
          </v-card>

          <UsageSection
            v-if="valueSetItem.id && valueSetItem.effectiveDate"
            :expanded.sync="usageSectionIsExpanded"
            :objectId="valueSetItem.id"
            :objectEffectiveDate="valueSetItem.effectiveDate"
            action="terminology/getValueSetUsage"
          />
          <HistorySection
            v-if="valueSetItem.id && valueSetItem.effectiveDate"
            :expanded.sync="historySectionIsExpanded"
            :objectId="valueSetItem.id"
            :objectEffectiveDate="valueSetItem.effectiveDate"
            artefact="VS"
          />

          <IssueAssociationsSection
            ref="issueSection"
            :count="issueAssociations"
            :objectId="valueSetItem.id || valueSetItem.ref"
            :objectEffectiveDate="valueSetItem.effectiveDate || null"
          />
        </template>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { cloneDeep, isEmpty, isEqual, xorWith } from 'lodash'
import { isCancel } from 'axios'
import AdArtefactDownloads from '@/components/Rule/AdArtefactDownloads'
import UsageSection from '@/components/Utilities/UsageSection'
import HistorySection from '@/components/Utilities/HistorySection'
import IssueAssociationsSection from '@/components/Utilities/IssueAssociationsSection'
import IssueCreationModal from '@/components/Issue/IssueCreationModal'
import ValueSetMetaInformation from '@/components/Terminology/ValueSetMetaInformation'
import TerminologyExpansionSetDialog from '@/components/Terminology/TerminologyExpansionSetDialog'
import EditableArtefactDetailHeader from '@/components/Utilities/Editable/EditableStructure/EditableArtefactDetailHeader'
import TerminologyValueSetConceptItem from '@/components/Terminology/TerminologyValueSetConceptItem'
import ValueSetConceptListHeader from '@/components/Terminology/ValueSetConceptListHeader'
import AdTempleButton from '@/components/Utilities/AdTempleButton'
import LockService from '@/services/LockService'

export default {
  components: {
    AdArtefactDownloads,
    ValueSetMetaInformation,
    EditableArtefactDetailHeader,
    TerminologyValueSetConceptItem,
    UsageSection,
    HistorySection,
    IssueAssociationsSection,
    IssueCreationModal,
    TerminologyExpansionSetDialog,
    ValueSetConceptListHeader,
    AdTempleButton
  },
  name: 'TerminologyDetailsCard',
  props: {
    // not yet used
    id: {
      type: String
    },
    version: {
      type: String
    }
  },
  data () {
    return {
      addConceptListConcepSynonymtBtn: false,
      conceptExpanded: [],
      editableItem: null,
      isEmpty,
      modals: {
        artefactDownload: false
      },
      searchConcepts: null,
      sourceCodeSystemHeaders: [{ value: 'id' }, { value: 'identifierName' }]
    }
  },
  computed: {
    ...mapGetters({
      isLoading: ['terminology/isLoading'],
      itemsInValueSetItem: ['terminology/itemsInValueSetItem'],
      valueSetItemIsEditable: ['terminology/valueSetItemIsEditable'],
      valueSetItems: ['terminology/getValueSet'], // valueSet
      valueSetVersionIndex: ['terminology/valueSetVersionIndex'],
      getCodeSystemName: ['terminology/getCodeSystemName'],
      getDecorTypes: ['server/getDecorTypes']
    }),
    abortController: {
      get () {
        return this.$store.getters['terminology/abortController']
      },
      set (value) {
        this.$store.commit('terminology/setAbortController', value)
      }
    },
    copyrightChanged () {
      const originalCopyrightData = this.valueSetItem?.copyright?.map(copyright => ({ '#text': copyright['#text'], language: copyright.language })) || []
      const editedCopyrightData = this.editableItem?.copyright?.map(copyright => ({ '#text': copyright['#text'], language: copyright.language })) || []
      return !!xorWith(originalCopyrightData, editedCopyrightData, isEqual).length
    },
    publishingAuthorityChanged () {
      const originalPubAuthData = this.valueSetItem?.publishingAuthority?.map(pa => ({ addrLine: pa.addrLine, id: pa.id, name: pa.name })) || []
      const editedPubAuthData = this.editableItem?.publishingAuthority?.map(pa => {
        const result = { addrLine: pa.addrLine, id: pa.id, name: pa.name }
        if (pa.op === 'remove') {
          result.op = 'remove'
        }
        return result
      }) || []

      return !!xorWith(originalPubAuthData, editedPubAuthData, isEqual).length
    },
    hasIncludeOrExcludeOrCompleteCodeSystem () {
      return !!this.itemsInValueSetItem?.some(item => item.is === 'include' || item.is === 'exclude' || item.is === 'completeCodeSystem')
    },
    hasOnlySNOMED () {
      // *** KH 20220602: temporarily allow only single expansions of intensional value sets based on SNOMED only
      const snomedIsInstalled = this.$store.getters['server/serverInfo']?.packages?.[0]?.package?.some(pkg => pkg.abbrev === 'terminology-stable-snomed-data')
      return snomedIsInstalled && this.valueSetItem?.sourceCodeSystem?.length === 1 && this.valueSetItem?.sourceCodeSystem?.[0].id === '2.16.840.1.113883.6.96'
    },
    isEditableStatusCode () {
      return this.userIsEditor &&
      this.$store.getters['server/getServerFunction']({ path: 'decor.terminology.valuesets', crudAction: 'write' }) &&
      this.itemStatusCodeLifeCycle[this.valueSetItem?.statusCode]?.length > 1
    },
    itemStatusCodeLifeCycle () {
      return this.$store.getters['server/decorStatusMaps']?.ItemStatusCodeLifeCycle?.[0] || []
    },
    valueSetActive: {
      get () {
        return this.$store.getters['terminology/valueSetActive']
      },
      set (valueSetActive) {
        this.$store.commit('terminology/setValueSetActive', valueSetActive)
      }
    },
    valueSetItem: {
      get () {
        return this.$store.getters['terminology/valueSetItem']
      },
      set (valueSetItem) {
        this.$store.commit('terminology/setValueSetItem', valueSetItem)
      }
    },
    itemsInValueSetHasOrdinal () {
      return this.itemsInValueSetItem.some((item) => item.ordinal)
    },
    issueAssociations () {
      return parseInt(this.valueSetItem?.issueAssociation?.[0]?.count) || 0
    },
    selectedVersion: {
      get () {
        return this.$store.getters['terminology/valueSetVersionIndex']
      },
      set (index) {
        this.$store.commit('terminology/changeValueSetVersionIndex', index)
      }
    },
    showTempleButton () {
      return this.userIsEditor && (this.valueSetActive?.id || this.valueSetActive?.ref) && (this.valueSetActive.effectiveDate || this.valueSetItem?.effectiveDate)
    },
    sourceCodeSystems () {
      return this.valueSetItem?.sourceCodeSystem || []
    },
    usageSectionIsExpanded: {
      get () {
        return this.$store.state.terminology.expandedSections.valueSet.usageSection
      },
      set (value) {
        this.$store.commit('terminology/setExpandedSection', { panel: 'valueSet', section: 'usageSection', value })
      }
    },
    historySectionIsExpanded: {
      get () {
        return this.$store.state.terminology.expandedSections.valueSet.historySection
      },
      set (value) {
        this.$store.commit('terminology/setExpandedSection', { panel: 'valueSet', section: 'historySection', value })
      }
    },
    metadataIsExpanded: {
      get () {
        return this.$store.state.terminology.expandedSections.valueSet.metadata
      },
      set (value) {
        this.$store.commit('terminology/setExpandedSection', { panel: 'valueSet', section: 'metadata', value })
      }
    },
    valueSetExpansionAssociationCount () {
      return this.valueSetItem?.valueSetExpansionAssociation?.[0]?.count || '0'
    },
    valueSetDownloadData () {
      if (!this.valueSetActive) return []
      return [
        {
          categoryTitle: this.$t('DECOR'),
          color: 'blue',
          links: [
            {
              text: 'XML',
              href: this.getExtractValueSetDownloadLink(this.valueSetActive, 'xml')
            },
            {
              text: 'JSON',
              href: this.getExtractValueSetDownloadLink(this.valueSetActive, 'json')
            }
          ]
        },
        {
          categoryTitle: this.$t('FHIR'),
          color: 'blue',
          links: ['1.0', '3.0', '4.0', '4.3', '5.0'].flatMap(format => ([
            {
              text: `${this.$store.getters['server/getFhirLabel'](format)} - XML`,
              condition: () => this.$store.getters['project/projectHasFhirService'](format),
              href: this.getValueSetFhirDownloadLink(this.valueSetActive, format)
            },
            {
              text: `${this.$store.getters['server/getFhirLabel'](format)} - JSON`,
              condition: () => this.$store.getters['project/projectHasFhirService'](format),
              href: this.getValueSetFhirDownloadLink(this.valueSetActive, format, 'json')
            }
          ]))
        },
        {
          categoryTitle: this.$t('other'),
          color: 'blue',
          links: [
            {
              text: 'CSV',
              href: this.getExtractValueSetDownloadLink(this.valueSetActive, 'csv')
            },
            {
              text: 'SQL',
              href: this.getExtractValueSetDownloadLink(this.valueSetActive, 'sql')
            },
            {
              text: 'SVS',
              href: this.getExtractValueSetDownloadLink(this.valueSetActive, 'svs')
            }
          ]
        }
      ]
    },
    versions () {
      if (this.valueSetActive?.valueSet) {
        return this.valueSetActive.valueSet.filter((vs) => vs.id && vs.effectiveDate)
      } else {
        return []
      }
    },
    watchedVariables () {
      return this.valueSetItem
    }
  },
  watch: {
    watchedVariables: {
      immediate: true,
      deep: true,
      handler () {
        this.editableItem = cloneDeep(this.valueSetItem)
      }
    },
    valueSetItems (newVal) {
      if (newVal) {
        const { id, effectiveDate } = this.$route.params
        const valueSet = newVal.find(vs => vs.id === id || vs.ref === id)
        const versionIndex = valueSet?.valueSet
          ?.filter(vs => vs.id && vs.effectiveDate)
          .findIndex(vs => vs.id === id && vs.effectiveDate === effectiveDate)
        if (versionIndex > -1) {
          this.selectedVersion = versionIndex
        }
      }
    }
  },
  methods: {
    async deleteValueSetReference () {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (!agree) {
        return
      }
      const valueset = this.valueSetActive

      try {
        await this.$store.dispatch('terminology/deleteValueSet', { valueset })
        this.$notify(this.$t('submission-delete-success'), 'success')
        this.$router.push({ name: 'value-set' })
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    fetchValueSetByRouteParams () {
      // Set valueSetActive based on the route params
      const { id, version: effectiveDate } = this.$route.params
      if (!id) {
        return
      }
      const currentId = this.valueSetItem?.id || this.valueSetItem?.ref
      const currentEffectiveDate = this.valueSetItem?.effectiveDate

      // Return if the current valueSetItem is the requested valueSet
      if (currentId === id && (effectiveDate ? currentEffectiveDate === effectiveDate : true)) {
        return
      }

      const activeValueSet = this.valueSetItems?.find(vs => vs.id === id || vs.ref === id)

      if (!activeValueSet) {
        return
      }
      const version = activeValueSet.valueSet?.find(vs => vs.effectiveDate === effectiveDate)
      const versionIndex = activeValueSet.valueSet
        ?.filter(vs => vs.id && vs.effectiveDate)
        .findIndex(vs => vs.effectiveDate === effectiveDate)
      if (effectiveDate && versionIndex < 0) {
        return
      }

      this.$store.commit('terminology/setValueSetItem', null)
      this.$store.commit('terminology/changeValueSetVersionIndex', effectiveDate ? versionIndex : 0)
      this.$store.commit('terminology/setValueSetActive', activeValueSet)

      // Abort pending request
      if (this.abortController) {
        this.abortController.abort('New codeSystem selected')
      }

      // Set up abortController
      this.abortController = new AbortController()

      this.$store.dispatch('terminology/getValueSet', {
        id: version ? (version.id || version.ref) : (activeValueSet.id || activeValueSet.ref),
        effectiveDate: version ? version.effectiveDate : activeValueSet.effectiveDate,
        abortController: this.abortController
      })
        .then(() => {
          this.abortController = null
        })
        .catch(error => {
          if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
            return
          }
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    },
    getValueSetFhirDownloadLink (item, fhirFormat, dataFormat = 'xml') {
      const BASE_URL = this.$store.getters['project/getFhirURL'](fhirFormat)
      const { id, ref, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const parsedEffectiveDate = effectiveDate?.replaceAll(/[-:T]/g, '')
      let url = `${BASE_URL}/${fhirFormat}/${prefix}/ValueSet/${id || ref}`
      if (parsedEffectiveDate) {
        url += `--${parsedEffectiveDate}`
      }
      url += `?_format=${dataFormat}`
      return url
    },
    getExtractValueSetDownloadLink (item, format) {
      const { id, ref, effectiveDate } = item
      const prefix = this.projectInFocus?.prefix
      const projectLanguage = this.$store.getters['app/projectLanguage']
      const url = `${this.$store.getters['server/URL_ART_DECOR_API']}/valueset/${id || ref}${effectiveDate && !ref ? '/' + encodeURIComponent(effectiveDate) : ''}/$extract?language=${projectLanguage}&format=${format}&project=${prefix}`
      return url
    },
    async startEditComposition () {
      // store the current path in the store,
      // to be able to get back to the correct valueSet
      const path = this.$route.fullPath
      if (this.$store.state.terminology.startShopping) {
        // items already added via shopping
        const agree = await this.$confirm(
          `There are already concepts in the composition cart. Do you want to merge these with this concept ${this.valueSetItem.displayName}?`
        )
        if (agree) {
          this.$store
            .dispatch('terminology/startEditComposition', { path })
            .then(() => {
              this.$router.push({ name: 'browser-project' }).catch(() => {})
            })
            .catch((error) => {
              this.$t(error.message)
            })
        }
      } else if (
        this.$store.state.terminology.editValueSetBtn &&
        this.$store.getters['terminology/shoppingCart'].length &&
        this.$store.state.terminology.path !== this.$route.fullPath
      ) {
        const agree = await this.$confirm(
          'You are already editing a different valueset with concepts that do not belong to this valueset. Go to that valuset?'
        )
        if (agree) {
          this.$router.push(this.$store.state.terminology.path).catch(() => {})
        }
      } else if (
        !this.$store.state.terminology.editValueSetBtn &&
        this.$store.getters['terminology/shoppingCart'].length &&
        this.$store.state.terminology.valueSetItem?.id !== this.$route.params.id
      ) {
        // concepts already loaded
        const agree = await this.$confirm(
          `There are already concepts in the composition cart. Do you want to merge these with this concept ${this.valueSetItem.displayName}?`
        )
        if (agree) {
          this.$store
            .dispatch('terminology/startEditComposition', { path })
            .then(() => {
              this.$router.push({ name: 'browser-project' }).catch(() => {})
            })
            .catch((error) => {
              this.$t(error.message)
            })
        }
      } else {
        const objectId = this.valueSetItem?.id || null
        const effectiveDate = this.valueSetItem?.effectiveDate || null
        let status = false
        if (objectId != null) {
          try {
            // Try to lock object by id and get response.
            status = !!(await LockService.lockObjectId({
              effectiveDate,
              objectId
            }))
          } catch (error) {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
            this.$oops(errorMessage)
          }
        }
        if (status) {
          this.$store
            .dispatch('terminology/startEditComposition', { path })
            .then(() => {
              this.$router.push({ name: 'browser-project' }).catch(() => {})
            })
        }
      }
    },
    async startTemple () {
      this.$alert(this.$t('notyetimplemented'))
    },
    handleCreateIssue (issue) {
      this.$store.commit('terminology/incrementValueSetIssueAssociationCount')
      if (this.$refs?.issueSection?.issueList?.issue) {
        this.$refs.issueSection.issueList.issue.push(issue)
      }
    },
    async handleSwitchVersion (index) {
      // called from the AdVersionHistoryStepper component
      const selectedVersion = this.versions[index]
      if (selectedVersion) {
        this.$router.push({ name: 'terminology-value-set-version', params: { id: selectedVersion.id || selectedVersion.ref, version: selectedVersion.effectiveDate } }).catch(() => {})
      }
    },
    conceptSearchFilter (value, search, item) {
      const code = item.code?.toLowerCase()
      const displayName = item.displayName?.toLowerCase()
      const codeSystemName = item.codeSystemName?.toLowerCase()
      const query = search.toLowerCase()
      return (
        code?.includes(query) ||
        displayName?.includes(query) ||
        codeSystemName?.includes(query)
      )
    },
    patchItem (item, data) {
      return this.$store.dispatch('terminology/patchValueSet', { item, data, metadata: true })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
          this.$oops(errorMessage)
        })
    },
    restoreEditableItem () {
      this.editableItem = cloneDeep(this.valueSetItem)
    }
  },
  beforeRouteEnter (to, from, next) {
    next(async vm => {
      try {
        if (!vm.$store.getters['terminology/getValueSet']?.length) {
          await vm.$store.dispatch('terminology/getValueSetList', { resolveit: true, sort: 'displayName' })
        }
        vm.fetchValueSetByRouteParams()
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        vm.$oops(errorMessage)
      }
    })
  },
  async beforeRouteUpdate (to, from, next) {
    try {
      // Check if the valueSet list is fetched
      if (!this.valueSetItems?.length) {
        await this.$store.dispatch('terminology/getValueSetList', { resolveit: true, sort: 'displayName' })
      }
      const currentId = this.valueSetItem?.id || this.valueSetItem?.ref
      const currentEffectiveDate = this.valueSetItem?.effectiveDate

      // Check if the route params match with the currently fetched valueSetItem. If not, another valueSet should be fetched
      if (to.params.id === currentId && (to.params.version ? to.params.version === currentEffectiveDate : true)) {
        return next()
      }

      // Look for the requested valueSet based on the route params
      const valueSet = this.valueSetItems?.find(vs => vs.id === to.params.id || vs.ref === to.params.id)

      if (!valueSet) {
        this.$store.commit('terminology/initValueSet')
        return next()
      }

      // Set version index
      const versionIndex = valueSet.valueSet
        ?.filter(vs => vs.id && vs.effectiveDate)
        .findIndex(vs => vs.id === to.params.id && vs.effectiveDate === to.params.version)
      this.selectedVersion = versionIndex >= 0 ? versionIndex : 0
      // If id in route doesnt't match with valueSetItem and valueSetActive, set valueSetActive
      if (to.params.id !== currentId && to.params.id !== this.valueSetActive?.id) {
        this.$store.commit('terminology/setValueSetActive', valueSet)
      }

      // Find the version specified in the route
      const version = valueSet.valueSet?.find(vs => vs.effectiveDate === to.params.version)
      if (!version) {
        this.$store.commit('terminology/initValueSet')
        return next()
      }

      // Abort pending request
      if (this.abortController) {
        this.abortController.abort('New codeSystem selected')
      }

      // Set up abortController
      this.abortController = new AbortController()

      // Fetch the valueSet
      this.$store.dispatch('terminology/getValueSet', {
        id: version.id || version.ref,
        effectiveDate: version.effectiveDate,
        abortController: this.abortController
      })
        .then(() => {
          this.abortController = null
        })
        .catch(error => {
          if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
            return
          }
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })

      next()
    } catch (error) {
      const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
      this.$oops(errorMessage)
    }
  }
}
</script>

<style lang="scss" scoped>
.terminology-details-card {
  position: relative;
  top: 0;

  .terminology-details-card-header {
    position: sticky;
    top: 48px;
    z-index: 4;

    height: 72px;
    background: var(--v-topbottomstrip-base);

    ::v-deep .v-card__title {
      background: transparent !important;
    }
  }
}
.backdrop-layer,
.backdrop-layer-helper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.backdrop-layer-helper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.22);
}

.backdrop-item {
  position: relative;
  z-index: 3;
}
</style>
