<template>
  <v-timeline-item hide-dot small class="mb-4 terminfo">
    <v-tabs optional grow height="70px" class="elevation-3" v-if="codeSystemInfo">
      <v-tabs-slider></v-tabs-slider>
      <v-tab class="text-left" @click.stop.prevent>
        <v-row dense>
          <v-col cols="3">
            <!--old style: <img :src="require('@/assets/' + codeSystemInfo.logo['#text'])" class="py-2"/> -->
            <img v-if="codeSystemInfo.logo" v-bind:src="'data:image/png;base64,' + codeSystemInfo.logo" width="90px" class="py-2">
            <v-icon v-else class="py-2" style="width: 90px">mdi-web</v-icon>
          </v-col>
          <v-col cols="9">
            <div class="pl-7">
              <div class="title font-weight-bold text-left">
                {{ $filters.getMatchingTranslation({ value: codeSystemInfo.name }) }}
              </div>
              <div class="small">
                {{ $filters.formatDateShort(codeSystemInfo.effectiveDate) }}
              </div>
            </div>
          </v-col>
        </v-row>
      </v-tab>
      <v-tab ripple class="pl-9">{{ $t('info') }}</v-tab>
      <v-tab ripple>{{ $t('license') }}</v-tab>
      <v-tab disabled></v-tab>
      <v-tab disabled></v-tab>
      <v-tab disabled></v-tab>
      <v-tab-item>
        <!-- tab with base code system information -->
        <v-card>
          <v-card-text v-if="codeSystemInfo.desc" class="px-5 py-2">
            {{ $filters.getMatchingTranslation({ value: codeSystemInfo.desc }) }}
          </v-card-text>
          <v-card-text v-else class="px-5 py-2">
            {{ $t('no-further-description')}}
          </v-card-text>
        </v-card>
      </v-tab-item>
       <v-tab-item>
        <!-- tab with additional code system information -->
         <v-row no-gutters dense justify="space-between" class="px-5 py-2">
          <v-col cols="5" md="9">
            <v-row class="body-2 text-left" dense>
              <v-col cols="4" md="4">{{ $t('version')}}: {{codeSystemInfo.version}}</v-col>
              <v-col cols="4" md="6">{{ $t('date') }}: {{codeSystemInfo.effectiveDate}}</v-col>
              <v-col v-if="codeSystemInfo.build" cols="4" md="2">{{ $t('build') }}: {{ codeSystemInfo.build }}</v-col>
            </v-row>
            <v-row class="body-2 text-left" dense>
              <v-col cols="4" md="4">OID: {{codeSystemInfo.oid}}</v-col>
              <v-col cols="6" md="6">URL: {{codeSystemInfo.url}}</v-col>
              <v-col cols="2" md="2">Concepts: {{codeSystemInfo.count}}</v-col>
            </v-row>
          </v-col>
         </v-row>
      </v-tab-item>
      <v-tab-item>
        <!-- tab with license information -->
        <v-card-text class="px-5 py-2">
          <div v-html="codeSystemLicense"></div>
        </v-card-text>
      </v-tab-item>
     </v-tabs>
  </v-timeline-item>
</template>

<script>
import ConceptsService from '@/services/ConceptsService'

export default {
  name: 'TerminologyBrowserHeaderPanel',
  data () {
    return {
      codeSystemId: null,
      loading: false,
      codeSystemInfo: null,
      licenseDialogBtn: false,
      terminfo: false,
      license: false
    }
  },
  computed: {
    codeSystemLicense () {
      // for backward compatibility with older packages that have license.text instead of just license
      return this.codeSystemInfo?.license?.text || this.codeSystemInfo?.license
    }
  },
  methods: {
    async getCodeSystemInfo () {
      if (this.codeSystemId != null) {
        try {
          this.loading = true
          this.codeSystemInfo = (await ConceptsService.getCodeSystemInfo(this.codeSystemId)).data
          this.loading = false
        } catch (err) {
          console.log(err)
        }
      }
    }
  },
  watch: {
    '$route.params.codeSystemId': {
      immediate: true,
      handler () {
        // react to route changes...
        if (this.$route.params.codeSystemId !== null) {
          this.codeSystemId = this.$route.params.codeSystemId
          this.getCodeSystemInfo()
        }
      }
    }
  }
}
</script>
