<template>
  <v-layout>
    <v-container fluid>
      <!-- alert on pending editing work that is not yet saved -->
      <!-- the header data table with search fields, popups and choices -->
      <AdInfoOwl
        v-if="countTerminologyPackages === 0"
      >
        {{ $t('no-term-packages-installed-hint', [ $root.appinternetterminology ] ) }}
      </AdInfoOwl>
      <v-data-table
        v-else
        :headers="headers"
        :items="indexedDesignations"
        v-model="selected"
        class="elevation-1"
        fixed-header
        dense
        disable-sort
        single-select
        hide-default-header
        :hide-default-footer="indexedDesignations.length === 0"
        :items-per-page="10"
        :loading="searchLoading"
        v-on:click:row="rowClicked"
        v-on:current-items="resultsUpdated"
      >
      <!--v-on:click:row="rowClicked" v-on:current-items="resultsUpdated"-->
        <template v-slot:top>
          <v-toolbar class="topbottomstrip orange--text text--darken-2 py-0" flat>
            <v-container fluid class="pa-0 ma-0">
              <v-row justify="space-between" align="baseline" class="pt-3">
                <!-- <v-col cols="4" class="pb-0">
                  <v-text-field
                    :autofocus="$store.getters['dataset/activeAssociationType'] !== 'conceptAssociation'"
                    hide-details
                    solo
                    dense
                    clearable
                    single-line
                    :label="$t('search-by-term')"
                    v-model="searchTerm"
                    color="orange darken-2"
                    class="m-0 align-self-baseline"
                    v-on:keyup.enter="performSearchByTerm"
                  ></v-text-field>
                </v-col>
                <v-col class="pb-0">
                  <v-text-field
                    solo
                    dense
                    clearable
                    single-line
                    :label="$t('search-by-code')"
                    v-model="searchCode"
                    class="m-0 align-self-baseline"
                    v-on:keyup.enter="performSearchByCode"
                  ></v-text-field>
                </v-col> -->
                <v-col class="pb-0" cols="4">
                  <TerminologyBrowserSearch
                    @search="performSearch"
                  />
                </v-col>
                <v-col class="pb-0" cols="1">
                  <TerminologyBrowserHelper/>
                  <v-spacer> </v-spacer>
                </v-col>
                <v-col class="pb-0">
                  <v-select
                    :items="contextList"
                    item-text="short"
                    item-value="context"
                    v-model="searchContext"
                    class="m-0 align-self-baseline"
                    @change="performSearch()"
                    hide-details
                  />
                </v-col>
                <v-col v-if="searchContext==='external/regenstrief'" class="pb-0">
                  <v-menu
                    v-model="loincSearchContextMenu"
                    :close-on-content-click="false"
                    offset-y
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        class="green"
                        v-bind="attrs"
                        v-on="on"
                        color="white"
                        icon
                        outlined
                        small
                      >
                        <v-icon small>mdi-filter</v-icon>
                      </v-btn>
                    </template>
                    <v-card class="px-3">
                      <v-radio-group
                        v-model="loincSearchContext"
                      >
                        <v-radio
                            v-for="(filter, i) of loincContextList"
                            :key="i"
                            :label=" $t(filter.name)"
                            :value="filter.value"
                            @click="performSearch()"
                        ></v-radio>
                      </v-radio-group>
                    </v-card>
                  </v-menu>
                </v-col>
                <v-col v-if="searchContext==='external/snomed'" class="pb-0">
                  <v-menu
                    v-model="snomedFilterContextMenu"
                    :close-on-content-click="false"
                    offset-y
                    max-height="650"
                    min-width="1050"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        class="green"
                        v-bind="attrs"
                        v-on="on"
                        color="white"
                        icon
                        outlined
                        small
                      >
                        <v-icon small>mdi-filter</v-icon>
                      </v-btn>
                    </template>
                    <v-card class="px-3">
                      <v-row dense class="py-2">
                      <v-col v-if="snomedFilters.toplevels" cols="4">
                          <v-checkbox
                              dense
                              class="ma-0 pa-0"
                              style="height: 24px;"
                              v-for="(filter, i) of snomedFilters.toplevels.concept"
                              :key="i"
                              :label=" $filters.getMatchingTranslation({ value: filter.desc })"
                              :value="filter.conceptId"
                              v-model="snomedFilterToplevels"
                              @click="performSearch()"
                          ></v-checkbox>
                        </v-col>
                        <v-col v-if="snomedFilters.refsets" cols="8">
                          <v-checkbox
                              dense
                              class="ma-0 pa-0"
                              style="height: 24px; width: 100%;"
                              v-for="(filter, i) of snomedFilters.refsets.refset"
                              :key="i"
                              :label=" $filters.getMatchingTranslation({ value: filter.desc })"
                              :value="filter.id"
                              v-model="snomedFilterRefsets"
                              @click="performSearch()"
                          ></v-checkbox>
                        </v-col>
                      </v-row>
                    </v-card>
                  </v-menu>
                </v-col>
                <v-spacer></v-spacer>
                <v-col cols="auto" class="pb-0">
                  <AdButton type="languages" @click="languageDialog = true" />
                  <v-dialog v-model="languageDialog" width="500">
                    <v-card class="py-0 my-0">
                      <AdCardTitle dialog>
                        {{ $t('languages') }}
                      </AdCardTitle>
                      <v-data-table
                        :headers="languageListHeaders"
                        :items="languageList.language"
                        dense
                        disable-sort
                        hide-default-footer
                        :items-per-page= -1
                      >
                        <template v-slot:[`item.code`]="{ item }">
                          <div style="width:24px;float:left">{{item.code.substring(0,2)}}</div>
                          <flag :squared="Boolean(0)" :iso="item.code.substring(3,5)"></flag>
                        </template>
                        <template v-slot:[`item.preferred`]="{ item }">
                          <v-checkbox
                            class="py-0 mb-n5 mt-1"
                            off-icon="$radioOff"
                            on-icon="$radioOn"
                            v-model="item.preferred"
                            @change="setPreferredLanguage(item)" />
                        </template>
                        <template v-slot:[`item.display`]="{ item }">
                          <v-checkbox class="py-0 mb-n5 mt-1" v-model="item.display" @change="updateSelectedLanguages()"></v-checkbox>
                        </template>
                        <template v-slot:[`item.search`]="{ item }">
                          <v-checkbox class="py-0 mb-n5 mt-1" v-model="item.search"></v-checkbox>
                        </template>
                      </v-data-table>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" text @click="languageDialog = false">{{ $t('close') }}</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-col>
                <v-col class="pb-0" md="auto">
                <v-chip v-if="designations.count"
                  class="ma-2"
                  color="light-green lighten-3"
                  label
                >
                  {{$t('results')}}: {{designations.current}} {{$t('of')}} {{designations.count}}
                </v-chip>
              </v-col>
              </v-row>
            </v-container>
          </v-toolbar>
        </template>
        <template v-slot:item-not-yet="{ item }">
          <tr class="ligh-green lighten-4">
            <td width="1%">
              {{ item.code }}
            </td>
            <td width="70%">
              {{ item['#text'] }}
            </td>
            <td>
              {{ item.codeSystemName }}
            </td>
          </tr>
        </template>
        <template
          v-slot:no-data
        >
          <span class="red--text text--lighten-3">{{ $t('nothing-found-yet') }}</span>
        </template>
      </v-data-table>
    </v-container>
  </v-layout>
</template>

<script>
import ConceptsService from '@/services/ConceptsService'
import { mapState, mapGetters } from 'vuex'
import TerminologyBrowserSearch from '@/components/Terminology/TerminologyBrowserSearch'
import TerminologyBrowserHelper from '@/components/Terminology/TerminologyBrowserHelper'

export default {
  name: 'TerminologyBrowserSearchPanel',
  components: {
    TerminologyBrowserSearch,
    TerminologyBrowserHelper
  },
  data () {
    return {
      designations: [{}],
      headers: [
        {
          text: 'Code',
          value: 'code',
          width: '5%'
        },
        {
          text: 'Term',
          value: '#text'
        },
        {
          text: 'Code system',
          value: 'codeSystemName',
          width: '5%'
        }
      ],
      languageDialog: false,
      searchLoading: false,
      languageList: {},
      languageListHeaders: [
        {
          text: 'Language',
          value: 'code'
        },
        {
          text: 'Preferred',
          value: 'preferred'
        },
        {
          text: 'Display',
          value: 'display'
        }
        // {
        //   text: 'Search',
        //   value: 'search'
        // }
      ],
      loincSearchContextMenu: false,
      snomedFilterContextMenu: false,
      snomedFilterToplevels: [],
      snomedFilterRefsets: [],
      selected: [{
        code: '',
        codeSystem: ''
      }],
      snomedFilters: {},
      test: null
    }
  },
  computed: {
    ...mapState({
      preferredLanguage: state => state.terminology.preferredLanguage,
      selectedLanguages: state => state.terminology.selectedLanguages,
      projectLanguage: state => state.app.projectLanguage
    }),
    ...mapGetters({
      serverInfo: ['server/serverInfo']
    }),
    indexedDesignations () {
      if (this.designations?.designation != null) {
        return this.designations.designation.map((item, index) => ({
          id: index,
          ...item
        }))
      } else {
        return []
      }
    },
    countTerminologyPackages () {
      const x = this.serverInfo?.packages?.[0]?.package?.filter(function (p) {
        return p.collection.startsWith('terminology-')
      })
      return x.length
    },
    contextList () {
      /* THIS FIRST PART HERE IS NOT ANY LONGER USED, KEPT FOR A WHILE
      const rawList = [
        {
          context: 'external/snomed',
          title: 'SNOMED'
        },
        {
          context: 'external/regenstrief',
          title: 'LOINC'
        },
        {
          context: 'external/who',
          title: this.$t('who-family')
        },
        {
          context: 'external/rsna',
          title: 'Radlex'
        },
        {
          context: 'external/hl7intl/v3',
          title: 'HL7v3'
        },
        {
          context: 'external/hl7intl/v2',
          title: 'HL7v2'
        },
        {
          context: 'external/orphanet',
          title: 'Orphanet'
        },
        {
          context: 'external/hpo',
          title: 'HPO'
        },
        {
          context: 'external/npu',
          title: 'NPU'
        },
        {
          context: 'external/atc',
          title: 'ATC'
        },
        {
          context: 'external/kdl',
          title: 'KDL'
        }
      ].filter(item => this.installedPackages.some(p => {
        return p.collection.includes(item.context)
      }))
      */
      const rawList = this.$root.supportedThirdPartyTerminologyPackages.filter(item => this.installedPackages.some(p => {
        return p.collection.includes(item.context)
      }))

      rawList.unshift({
        context: '',
        short: this.$t('all-codesystems')
      })

      if (this.projectInFocus !== null && ['browser-project', 'browser-project-concept'].includes(this.$route.name)) {
        rawList.push({
          context: `projects/${this.projectInFocus.prefix}`,
          short: this.$t('current-project')
        })
      }
      return rawList
    },
    loincContextList () {
      return [
        {
          value: 'all',
          active: true,
          name: this.$t('all-of-loinc')
        },
        {
          value: 'codes',
          active: true,
          name: this.$t('loinc-codes')
        },
        {
          value: 'parts',
          active: true,
          name: this.$t('loinc-parts')
        },
        {
          value: 'answers',
          active: true,
          name: this.$t('loinc-answer-lists')
        }
      ]
    },
    installedPackages () {
      /*
        returns all installed terminology packages, an array of something like:
        {
          "title": "Terminology Data - HL7 International (HL7) Code Systems Version 2",
          "collection": "terminology-data/codesystem-stable-data/external/hl7intl/v2",
          "abbrev": "terminology-stable-hl7intl-v2-data",
          "version": "5.4.0+202402281024"
        }
      */
      return this.$store.getters['server/installedTerminologyPackages']
    },
    searchCode: {
      get () {
        return this.$store.state.terminology.searchCode
      },
      set (searchCode) {
        this.$store.commit('terminology/updateSearchCode', searchCode)
      }
    },
    searchMode: {
      get () {
        return this.$store.state.terminology.searchMode
      },
      set (searchMode) {
        this.$store.commit('terminology/updateSearchMode', searchMode)
      }
    },
    searchContext: {
      get () {
        return this.$store.state.terminology.searchContext
      },
      set (searchContext) {
        this.$store.commit('terminology/updateSearchContext', searchContext)
      }
    },
    loincSearchContext: {
      get () {
        return this.$store.state.terminology.loincSearchContext
      },
      set (loincSearchContext) {
        this.$store.commit('terminology/updateLoincSearchContext', loincSearchContext)
      }
    },
    searchTerm: {
      get () {
        return this.$store.state.terminology.searchTerm
      },
      set (searchTerm) {
        this.$store.commit('terminology/updateSearchTerm', searchTerm)
      }
    }
  },
  created () {
    this.getLanguageList()
    if (this.installedPackages.find(pkg => pkg.abbrev === 'terminology-stable-snomed-data')) {
      this.getSnomedFilters()
    }
  },
  methods: {
    performSearch () {
      if (this.searchMode === 'term') {
        return this.performSearchByTerm()
      }
      if (this.searchMode === 'code') {
        return this.performSearchByCode()
      }
    },
    async performSearchByTerm () {
      if ((this.searchTerm.length >= 2 && this.searchTerm[0].toUpperCase() === this.searchTerm[0]) || this.searchTerm.length >= 4) {
        try {
          this.searchLoading = true
          if (this.searchContext === 'external/snomed') {
            this.designations = (await ConceptsService.searchDesignation(this.searchTerm, this.searchContext, this.loincSearchContext, this.snomedFilterToplevels.join(' '), '', this.snomedFilterRefsets.join(' '))).data
          } else {
            this.designations = (await ConceptsService.searchDesignation(this.searchTerm, this.searchContext, this.loincSearchContext)).data
          }
          this.searchLoading = false
        } catch (err) {
          console.log(err)
        }
      }
    },
    async performSearchByCode () {
      if (this.searchTerm.length > 0) {
        try {
          this.searchLoading = true
          this.designations = (await ConceptsService.searchCode(this.searchTerm, this.searchContext)).data
          this.searchLoading = false
        } catch (err) {
          console.log(err)
        }
      }
    },
    /*
     * get list of language information on all distinct languages supported by all code systems combined
     * if serverInfo?.terminologybrowserlanguages selected is set use these server settings
     * otherwise use the default settings in the terminology store
     * then set display to true if language is in selectedLanguages (serverInfo or terminology store)
     * then set preferred to true if language is a preferred one (serverInfo or terminology store)
     */
    async getLanguageList () {
      try {
        this.languageList = (await ConceptsService.getCodeSystemLanguages()).data
        if (this.languageList.language && this.languageList.language.length > 0) {
          this.languageList.language.forEach(element => {
            // check if a project is selected
            if (this.projectInFocus != null) {
              element.display = (this.projectLocales.includes(element.code))
              element.preferred = (this.projectLanguage === element.code)
            } else if (this.preferredLanguage) {
              // otherwise set using the pre-sets from the terminology store
              element.display = (this.selectedLanguages.includes(element.code) || element.code === this.$i18n.locale)
              element.preferred = (this.preferredLanguage === element.code)
            } else {
              // else override by server info terminologybrowserlanguages
              const sellg = this.serverInfo?.terminologybrowserlanguages[0].selected
              element.display = (sellg.split(' ').includes(element.code))
              element.preferred = (this.serverInfo?.terminologybrowserlanguages[0].preferred === element.code)
            }
            if (element.preferred) { this.$store.dispatch('terminology/setPreferredLanguage', element.code) }
          })
        }
        this.updateSelectedLanguages()
      } catch (err) {
        console.log(err)
      }
    },
    async getSnomedFilters () {
      try {
        this.snomedFilters = (await ConceptsService.getSnomedFilters()).data
      } catch (err) {
        console.log(err)
      }
    },
    setPreferredLanguage (item) {
      this.test = item
      if (item.preferred === true && Array.isArray(this.languageList?.language)) {
        this.languageList.language.forEach(element => {
          if (element.code === item.code) { element.preferred = true } else { element.preferred = false }
        })
        this.$store.dispatch('terminology/setPreferredLanguage', item.code)
      }
    },
    updateSelectedLanguages () {
      const newSelection = []
      if (Array.isArray(this.languageList?.language)) {
        this.languageList.language.forEach(element => {
          if (element.display === true) { newSelection.push(element.code) }
        })
      }
      this.$store.dispatch('terminology/setSelectedLanguages', newSelection)
    },
    rowClicked (row) {
      this.selected.unshift(row)
      if (this.selected.length > 1) {
        this.selected.pop()
      }
      if (this.selected[0].codeSystem.length > 0 && this.selected[0].code.length > 0) {
        this.$router.push({
          name: this.$route.params.prefix ? 'browser-project-concept' : 'browser-concept',
          params: { codeSystemId: this.selected[0].codeSystem, conceptId: this.selected[0].code }
        }).catch(() => {})
      }
    },
    resultsUpdated (items) {
      if (items[0] !== null) {
        this.selected.unshift(items[0])
        if (this.selected.length > 1) {
          this.selected.pop()
        }
        if (
          this.selected[0] &&
          this.selected[0].codeSystem &&
          this.selected[0].codeSystem.length > 0 &&
          this.selected[0].code &&
          this.selected[0].code.length > 0
        ) {
          this.$router.push({
            name: this.$route.params.prefix ? 'browser-project-concept' : 'browser-concept',
            params: { codeSystemId: this.selected[0].codeSystem, conceptId: this.selected[0].code }
          }).catch(() => {})
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .v-data-table tbody tr {
  cursor: pointer;
}
</style>
