<template>
  <v-layout style="margin-top: 0px !important" class="mb-3">
    <v-container fluid>
      <v-row v-if="serverInfo != null">
        <!--
          walk through all termpackages category I and show a prominent elevated tile if available, grayed out if not
          use the supportedThirdPartyTerminologyPackages info file (copy at var termpackages) to show all options
        -->
        <v-col
              cols="12"
              md="3"
              v-for="tp in termpackages"
              v-bind:key="tp.pkg"
            >
            <v-card class="stats-card d-flex flex-row" :class="tp.version ? 'elevation-7' : 'disabled'">
                <v-card
                    class="stats-card-icon pa-4"
                    flat :disabled="tp.version === ''"
                  >
                    <img v-if="tp.logo" v-bind:src="'data:image/png;base64,' + tp.logo" style="width: 90px"/>
                    <v-icon v-else class="py-2" style="width: 90px">mdi-web</v-icon>
                </v-card>
                <v-card
                    class="stats-card-content d-flex align-end flex-column flex-grow-1 pa-2"
                    flat
                    :disabled="tp.version === ''">
                    <div class="pa-0 text-caption text-uppercase">{{ tp.short }}</div>
                    <div class="pa-0 text-h6">{{ mainPackageVersion(tp.version) }}</div>
                    <div class="pa-0 text-caption">{{ buildPackageVersion(tp.version) }}</div>
                </v-card>
            </v-card>
        </v-col>
        <!--
          THIS PART IS NO LONGER IN USE, KEPT FOR A WHILE
          walk through all termpackages category I and show a prominent elevated tile if available, grayed out if not
        -->
        <v-col
          cols="12"
          md="3"
          v-for="tp in []"
          v-bind:key="tp.name"
        >
          <v-card class="stats-card d-flex flex-row" :class="tp.version ? 'elevation-7' : 'disabled'">
            <v-card
              class="stats-card-icon pa-4"
              flat :disabled="tp.version === ''">
              <img v-if="tp.logo" :src="require('@/assets/' + tp.logo)"/>
              <v-icon v-else class="py-2" style="width: 90px">mdi-web</v-icon>
            </v-card>
            <v-card
              class="stats-card-content d-flex align-end flex-column flex-grow-1 pa-2"
              flat
              :disabled="tp.version === ''">
              <div class="pa-0 text-caption text-uppercase">{{ tp.name }}</div>
              <div class="pa-0 text-h6">{{ mainPackageVersion(tp.version) }}</div>
              <div class="pa-0 text-caption">{{ buildPackageVersion(tp.version) }}</div>
            </v-card>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-if="hasAnyTerminologyPackageAvailable">
        <v-col cols="12">
          <AdInfoOwl subtle>
            {{ $t('term-packages-hint', [ $root.appinternetterminology ] ) }}
          </AdInfoOwl>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'TerminologyBrowserIndexPanel',
  components: {
  },
  data () {
    return {
      termpackages: this.$root.supportedThirdPartyTerminologyPackages,
      termpackagesNOLONGERUSED: [
        {
          name: 'SNOMED CT',
          logo: 'snomed-logo40.png',
          pkg: 'terminology-stable-snomed-data'
        },
        {
          name: 'LOINC',
          logo: 'regenstrief-logo40.png',
          pkg: 'terminology-stable-loinc-data'
        },
        {
          name: 'ATC',
          logo: 'who-logo40.png',
          pkg: 'terminology-stable-atc-data'
        },
        {
          name: 'ICD-10',
          logo: 'who-logo40.png',
          pkg: 'terminology-stable-icd10intl-data'
        },
        {
          name: 'HL7 V2',
          logo: 'hl7-logo40.png',
          pkg: 'terminology-stable-hl7intl-v2-data'
        },
        {
          name: 'HL7 V3',
          logo: 'hl7-logo40.png',
          pkg: 'terminology-stable-hl7intl-v3-data'
        },
        {
          name: 'HPO',
          logo: 'hpo-logo40.png',
          pkg: 'terminology-stable-hpo-data'
        },
        {
          name: 'Orpha',
          logo: 'orphanet-40.png',
          pkg: 'terminology-stable-orpha-data'
        },
        {
          name: 'Radlex',
          logo: 'rsna-logo40.png',
          pkg: 'terminology-stable-radlex-data'
        },
        {
          name: 'ICD-10 NL',
          logo: 'rivm-logo40.png',
          pkg: 'terminology-stable-icd10-nl-data'
        },
        {
          name: 'ICD-10 DE',
          logo: 'bfarm-logo40.png',
          pkg: 'terminology-stable-icd10-de-data'
        },
        {
          name: 'NPU',
          logo: 'ifcc-iupac.png',
          pkg: 'terminology-stable-npu-data'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      serverInfo: ['server/serverInfo'],
      installedPackages: ['server/installedTerminologyPackages']
    }),
    mainPackageVersion () {
      return v => v?.split('+')[0] || ''
    },
    buildPackageVersion () {
      return v => v?.indexOf('+') > 0 ? v?.split('+')[1] || '' : '' || ''
    }
  },
  methods: {
    packageAvailable (pkg) {
      let x = 'null'
      try {
        x = this.installedPackages.find(
          (x) => x.abbrev === pkg
        ).version
        return x === null ? '' : x
      } catch (err) {
        return ''
      }
    },
    checkAvailabilities () {
      // checks all installed packages and adds package.version property if available = pkg is installed
      this.termpackages = (this.termpackages.map(item => { item.version = this.packageAvailable(item.pkg); return item }))
    },
    hasAnyTerminologyPackageAvailable () {
      return Object.keys(this.termpackages[0]).some(v => v === 'version')
    }
  },
  mounted () {
    this.checkAvailabilities()
  }
}
</script>

<style scoped>
  .v-card {
    height: 100px;
  }
  .v-card.disabled {
    opacity: 0.45;
  }
</style>
