<template>
  <v-layout class="mt-0">
    <v-container fluid>
      <v-dialog
      v-model="dialog"
      width="700"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="blue lighten-3 elevation-2"
          fab x-small
          v-bind="attrs"
          class="mb-3"
          v-on="on"
        >
          <v-icon color="blue darken-3">mdi-owl</v-icon>
        </v-btn>
      </template>

      <v-card>
        <AdCardTitle dialog>
          {{ $t('browser-search-hints') }}
        </AdCardTitle>

        <v-card-text class="pt-3">

          <div class="font-italic pb-3">{{ $t('browser-intro')}}</div>

          <h3 class="hinthead">{{ $t('browser-termorcode') }}</h3>
          <v-img max-width="210" style="float:right; margin: 7px;" :src="require('../../../src/assets/searchbytermorcode.png')"></v-img>
          <div v-html="$t('browser-termorcode-hint')"> </div>

          <h3 class="hinthead">{{ $t('browser-general') }}</h3>
          <div v-html="$t('browser-general-hint1')"> </div>

          <v-row dense v-for="(f, i) in findHints1" :key="`hints1${i}`">
            <v-col class="pl-5" cols="2">
              <v-chip
                text-color="black"
                class="text--black"
                small
                >
                <span class="tt">{{f.term}}</span>
              </v-chip>
            </v-col>
            <v-col col="3">{{ $t('finds') }} <span class="font-weight-bold font-italic">{{f.finds}}</span></v-col>
          </v-row>

          <div class="pt-3" v-html="$t('browser-general-hint2')"> </div>

          <v-row dense v-for="(f, i) in findHints2" :key="`hints2${i}`">
            <v-col class="pl-5" cols="2">
              <v-chip
                text-color="black"
                class="text--black"
                small
                >
                <span class="tt">{{f.term}}</span>
              </v-chip>
            </v-col>
            <v-col col="3">{{ $t('browser-finds') }} <span class="font-weight-bold font-italic">{{f.finds}}</span></v-col>
          </v-row>

        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
           <AdButton type="thanks" inline @click="dialog = false"/>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </v-container>
  </v-layout>
</template>

<script>

export default {
  name: 'TerminologyBrowserHelper',
  components: {
  },
  data () {
    return {
      dialog: false,
      findHints1: [
        {
          term: 'salb',
          finds: 'Salbutamol'
        },
        {
          term: 'pneu',
          finds: 'Pneumonia'
        },
        {
          term: 'acu ast',
          finds: 'Acute asthma'
        },
        {
          term: 'med rev',
          finds: 'Medication review'
        },
        {
          term: 'pa lo ba',
          finds: 'Pain lower back'
        },
        {
          term: 'ox ta 10',
          finds: 'Oxazepam tablets 10mg'
        },
        {
          term: 'hae A',
          finds: 'Haemoglobin A'
        }
      ],
      findHints2: [
        {
          term: 'Hb',
          finds: 'Hb (Hemoglobin)'
        },
        {
          term: 'FH as',
          finds: 'FH: Asthma (Family history: Asthma)'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.tt {
  font-family: 'Lucida Console', Courier, monospace;
}
.hinthead {
  margin-bottom: 0.5em;
  border-bottom: 1px solid rgb(194, 194, 194);
  max-width: 50%;
}
</style>
