<template>
  <v-card class="mb-5">
    <AdCardTitle>
      {{$t('terminology-associations')}}
      <template v-if="$store.getters['dataset/activeItem']">
        ({{$filters.getMatchingTranslation({ value: $store.getters['dataset/activeItem'].name })}})
      </template>
      <v-spacer></v-spacer>
      <AdButton type="cancel" @click="cancelUpdateAdd" />
      <template v-if="$store.getters['terminology/cartWithAssociations'].length > 0 && userIsProjectAuthor">
        <AdButton
          type="save" @click="addCartWithAssociations"
          :hint="$t('save-terminology-associations')"
        />
      </template>
    </AdCardTitle>
    <v-card-text>
      <v-data-table
        v-if="$store.getters['terminology/cartWithAssociations'].length > 0"
        :items="$store.getters['terminology/cartWithAssociations']"
        :headers="headers"
        dendse
        :hide-default-footer="true"
      >
        <template #header.level>
          <span class="text-no-wrap">{{ $t('level') }} / {{ $t('type') }}</span>
        </template>
        <template #header.displayName>
          <span v-if="hasIncludeOrExclude" class="text-no-wrap">{{ $t("display-name") }} / {{ $t("definition") }}</span>
          <template v-else>{{ $t("display-name") }}</template>
        </template>
        <template #header.code>
          <span v-if="hasIncludeOrExclude" class="text-no-wrap">{{ $t("code") }} / {{ $t("method") }}</span>
          <template v-else>{{ $t("code") }}</template>
        </template>
        <template #header.equivalence>
          {{ $t('association-equivalence')}}
        </template>
        <template #item="{ item }" >
          <TerminologyValueSetConceptItem
            :item="item"
            :actionsToHide="['add', 'edit']"
            @handleClick="handleClick"
            hideLevelType
          >
            <template #extraCells>
              <td style="max-width: 110px; min-width: 110px">
                <EditableString
                  v-if="$store.getters['dataset/activeAssociationType'] === 'questionnaire'"
                  :value="item.canonicalUri"
                  @change="updateCanonicalUri(item, $event)"
                  :label="$t('canonicalUri')"
                />
                <EditableDropdown
                  v-else
                  :value="item.equivalence"
                  @change="updateEquivalence(item, $event)"
                  item-value="value"
                  item-text="#text"
                  :items="equivalencyTypes"
                  :label="$t('association-equivalence')"
                  clearable
                />
              </td>
            </template>
          </TerminologyValueSetConceptItem>

        </template>
      </v-data-table>
      <AdInfoOwl v-else class="mt-3">{{$t('selected-codes-appear-here')}}</AdInfoOwl>
    </v-card-text>
  </v-card>
</template>

<script>
import TerminologyValueSetConceptItem from '@/components/Terminology/TerminologyValueSetConceptItem'

export default {
  name: 'TerminologyAssociationsCart',
  components: {
    TerminologyValueSetConceptItem
  },
  data () {
    return {
      headers: [
        { value: 'code', sortable: false, width: 1 },
        { value: 'displayName', sortable: false, width: 1 },
        { text: this.$t('codesystem'), value: 'codeSystem', sortable: false, width: 1 },
        { value: 'equivalence', sortable: false, width: 1 },
        { text: this.$t('codesystem'), value: 'canonicalUri', sortable: false, width: 1 },
        { text: '', value: 'actions', sortable: false, align: 'right', width: 1 }
      ].filter(h => {
        if (this.$store.getters['dataset/activeAssociationType'] === 'questionnaire') {
          return h.value !== 'equivalence'
        }
        return h.value !== 'canonicalUri'
      })

    }
  },
  computed: {
    equivalencyTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.EquivalencyType?.[0]?.enumeration?.map((e) => ({
        '#text': this.$filters.getMatchingTranslation({ value: e.label, locale: this.$i18n.locale }),
        value: e.value
      })
      ) || []
    },
    hasIncludeOrExclude () {
      return !!this.$store.getters['terminology/cartWithAssociations']?.some(item => item.is === 'include' || item.is === 'exclude')
    }
  },
  methods: {
    handleClick (action, item) {
      if (this[action]) {
        this[action](item)
      } else {
        this.$alert(this.$t('notyetimplemented'))
      }
    },
    removeConceptItem (item) {
      this.delete(item, false)
    },
    async delete (item, confirm = true) {
      if (!confirm) {
        return this.$store.dispatch('terminology/removeFromCartWithAssociations', item)
          .then(() => {
            this.$notify(this.$t('submission-update-success-label'), 'success')
          })
          .catch((error) => {
            this.$alert(this.$t(error.message))
          })
      }
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        return this.$store.dispatch('terminology/removeFromCartWithAssociations', item)
          .then(() => {
            this.$notify(this.$t('submission-update-success-label'), 'success')
          })
          .catch((error) => {
            this.$alert(this.$t(error.message))
          })
      }
    },
    async addCartWithAssociations () {
      const activeAssociationType = this.$store.getters['dataset/activeAssociationType']
      if (activeAssociationType === null) {
        this.$oops('No association type is known to store the temporary list. Please click the search button in the preferred association type.')
      }

      const addsPromises = this.$store.getters['terminology/cartWithAssociations'].map((item) => {
        return new Promise((resolve, reject) => {
          if (activeAssociationType === 'conceptAssociation') {
            return this.$store.dispatch('dataset/addAssociationToConcept', { association: item })
              .then(() => {
                return this.$store.dispatch('terminology/removeFromCartWithAssociations', item)
                  .then(() => resolve())
                  .catch((error) => reject(error))
              })
              .catch((error) => {
                reject(error)
              })
          } else if (activeAssociationType === 'transactionConceptAssociation') {
            const params = {
              transactionId: this.$store.state.scenario.transactionItem?.id,
              transactionEffectiveDate: this.$store.state.scenario.transactionItem?.effectiveDate
            }
            return this.$store.dispatch('dataset/addAssociationToConcept', { association: item, params })
              .then(() => {
                return this.$store.dispatch('terminology/removeFromCartWithAssociations', item)
                  .then(() => resolve())
                  .catch((error) => reject(error))
              })
              .catch((error) => {
                reject(error)
              })
          } else if (activeAssociationType === 'questionnaire') {
            resolve(item)
          }
        })
      })
      return Promise.all([...addsPromises])
        .then(async (items) => {
          this.$notify(this.$t('submission-insert-success-label'), 'success')
          if (activeAssociationType === 'conceptAssociation' && this.$store.getters['dataset/datasetItem'] && this.$store.getters['dataset/activeItem']) {
            const datasetId = this.$store.getters['dataset/datasetItem'].id
            const datasetVersion = this.$store.getters['dataset/datasetItem'].effectiveDate
            const conceptId = this.$store.getters['dataset/activeItem'].id
            const conceptVersion = this.$store.getters['dataset/activeItem'].effectiveDate
            // after adding the items to the concept, the circle for the mapping is closed and
            // the activeAssociationType can be set to null to start a new mapping (if needed)
            await this.$store.dispatch('dataset/changeActiveAssociationType', null)
            await this.$store.dispatch('terminology/setStartShopping', false)

            this.$router.push({ name: 'terminology-associations-data-set-concept', params: { datasetId, datasetVersion, conceptId, conceptVersion } }).catch(() => {})
          } else if (activeAssociationType === 'transactionConceptAssociation' && this.$store.state.scenario.transactionItem && this.$store.state.scenario.activeItem) {
            const { id: transactionId, effectiveDate: transactionVersion } = this.$store.state.scenario.transactionItem
            const { id: tConceptId, effectiveDate: tConceptVersion } = this.$store.state.scenario.activeItem

            await this.$store.dispatch('dataset/changeActiveAssociationType', null)
            await this.$store.dispatch('terminology/setStartShopping', false)
            this.$router.push({ name: 'terminology-associations-transaction-concepts', params: { transactionId, transactionVersion, tConceptId, tConceptVersion } }).catch(() => {})
          } else if (activeAssociationType === 'questionnaire') {
            const { id, effectiveDate } = this.$route.params.questionnairePanel.questionnaireActive
            await this.$store.dispatch('dataset/changeActiveAssociationType', null)
            await this.$store.dispatch('terminology/setStartShopping', false)
            this.$store.commit('terminology/emptyCartWithAssociations')

            this.$router.push({
              name: 'questionnaires-details-id-effectiveDate',
              params: {
                codesFromTerminologyBrowser: items,
                id,
                effectiveDate,
                questionnairePanel: this.$route.params.questionnairePanel
              }
            })
          } else {
            this.$oops('Cannot go back to the concept')
          }
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    },
    cancelUpdateAdd () {
      // no updates, simply go back to the calling Panel
      const activeAssociationType = this.$store.getters['dataset/activeAssociationType']
      if (activeAssociationType === 'conceptAssociation' && this.$store.getters['dataset/datasetItem'] && this.$store.getters['dataset/activeItem']) {
        const datasetId = this.$store.getters['dataset/datasetItem'].id
        const datasetVersion = this.$store.getters['dataset/datasetItem'].effectiveDate
        const conceptId = this.$store.getters['dataset/activeItem'].id
        const conceptVersion = this.$store.getters['dataset/activeItem'].effectiveDate
        this.$router.push({ name: 'terminology-associations-data-set-concept', params: { datasetId, datasetVersion, conceptId, conceptVersion } }).catch(() => {})
      } else if (activeAssociationType === 'transactionConceptAssociation' && this.$store.state.scenario.transactionItem && this.$store.state.scenario.activeItem) {
        const { id: transactionId, effectiveDate: transactionVersion } = this.$store.state.scenario.transactionItem
        const { id: tConceptId, effectiveDate: tConceptVersion } = this.$store.state.scenario.activeItem
        this.$router.push({ name: 'terminology-associations-transaction-concepts', params: { transactionId, transactionVersion, tConceptId, tConceptVersion } }).catch(() => {})
      } else if (activeAssociationType === 'questionnaire') {
        const { id, effectiveDate } = this.$route.params.questionnairePanel.questionnaireActive
        // await this.$store.dispatch('dataset/changeActiveAssociationType', null)
        // await this.$store.dispatch('terminology/setStartShopping', false)
        this.$store.commit('terminology/emptyCartWithAssociations')

        this.$router.push({
          name: 'questionnaires-details-id-effectiveDate',
          params: {
            codesFromTerminologyBrowser: [],
            id,
            effectiveDate,
            questionnairePanel: this.$route.params.questionnairePanel
          }
        })
      } else {
        this.$oops('Cannot go back to the concept')
      }
    },
    updateCanonicalUri (item, canonicalUri) {
      const index = this.$store.getters['terminology/cartWithAssociations']?.indexOf(item)
      if (index > -1) {
        const newItem = { ...item, canonicalUri }
        for (const prop in newItem) {
          if (newItem[prop] === null) {
            delete newItem[prop]
          }
        }
        this.$store.commit('terminology/updateItemInCartWithAssociations', { index, item: newItem })
      }
    },
    updateEquivalence (item, equivalence) {
      const index = this.$store.getters['terminology/cartWithAssociations']?.indexOf(item)
      if (index > -1) {
        const newItem = { ...item, equivalence }
        for (const prop in newItem) {
          if (newItem[prop] === null) {
            delete newItem[prop]
          }
        }
        this.$store.commit('terminology/updateItemInCartWithAssociations', { index, item: newItem })
      }
    }
  }
}
</script>
