<template>
  <v-container>
    <!-- dialog for confirming LOINC panel import, shows items to be imported-->
    <v-dialog
      v-if="importResponse"
      :value="showDialog"
      width="800"
      persistent
    >
      <v-card>
        <AdCardTitle dialog>{{ $t('confirm-import') }}</AdCardTitle>
        <v-card-text>
          <v-row>
            <v-col>{{ $t('loinc-panel-import-message') }}</v-col>
          </v-row>
          <v-row>
            <v-col class="grey lighten-3 pl-4" cols="4">
              {{ $t('concepts') }}
            </v-col>
            <v-col>{{ importResponse.concepts }}</v-col>
          </v-row>
          <v-row>
            <v-col class="grey lighten-3 pl-4" cols="4">
              {{ $t('valuesets') }}
            </v-col>
            <v-col>{{ importResponse.valueSets }}</v-col>
          </v-row>
          <v-row>
            <v-col class="grey lighten-3 pl-4" cols="4">
              {{ $t('terminology-associations') }}
            </v-col>
            <v-col>{{ importResponse.associations }}</v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="dialogbottomstrip">
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="cancelDialog"/>
          <AdButton type="save" @click="doImport"/>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card class="mb-5">
      <AdCardTitle>
        {{$t('import-loinc-panel')}}
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="cancelImport" />
        <template v-if="selectedConcept && userIsProjectAuthor">
          <AdButton
            type="save" @click="previewImport"
            :hint="$t('import-loinc-panel')"
          />
        </template>
      </AdCardTitle>
      <!-- overview of LOINC panel to import and dataset context-->
      <template v-if="selectedConcept">
        <v-card-text>
          <v-container>
            <v-row style="border-bottom:3px solid white" align="center" dense>
              <v-col class="grey text-truncate lighten-3 mr-2" cols="1">{{$t('panel')}}</v-col>
              <v-col cols="1" class="black--text font-weight-regular">{{ selectedConcept.code }}</v-col>
              <v-col cols="9" class="black--text font-weight-regular">{{ $filters.getMatchingTranslation({ value: loincPanelNames}) }}</v-col>
            </v-row>
            <v-row style="border-bottom:3px solid white" align="center" dense>
              <v-col class="grey text-truncate lighten-3 mr-2" cols="1">{{$t('dataset')}}</v-col>
              <v-col cols="10" class="black--text font-weight-regular">{{ $filters.getMatchingTranslation({ value: selectedDataset.name}) }}</v-col>
            </v-row>
            <v-row align="center" dense>
              <v-col class="grey text-truncate lighten-3 mr-2" cols="1">{{$t('import')}}</v-col>
              <v-col class="my-0 py-0">
                <v-radio-group v-model="importMode" row dense>
                  <v-radio v-for="n in importModes" :key="n.value"
                    :label="n.text"
                    :value="n.value">
                  </v-radio>
                </v-radio-group>
              </v-col>
              <v-col v-if="activeItem.ident" class="black--text font-weight-regular">
                {{$t('dataset')}}
              </v-col>
              <v-col v-else class="black--text font-weight-regular">
                {{ $filters.getMatchingTranslation({ value: activeItem.name}) }}
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </template>
    </v-card>
  </v-container>
</template>

<script>
import ProjectService from '@/services/ProjectService'
import { mapState } from 'vuex'

export default {
  name: 'TerminologyLoincImportPanel',

  data () {
    return {
      importMode: 'into',
      importParameters: {
        datasetId: null,
        effectiveDate: null,
        panelCode: null,
        baseId: null,
        insertMode: null,
        insertRef: null,
        insertFlexibility: null
      },
      importResponse: null,
      showDialog: false
    }
  },
  computed: {
    ...mapState({
      selectedConcept: state => state.terminology.selectedConcept,
      activeItem: state => state.dataset.activeItem,
      selectedDataset: state => state.dataset.datasetItem
    }),
    importModes: function () {
      if (this.activeItem.type === 'item') {
        return [
          { value: 'preceding', text: this.$t('preceding') },
          { value: 'following', text: this.$t('following') }
        ]
      } else if (this.activeItem.type === 'group') {
        return [
          { value: 'into', text: this.$t('into') },
          { value: 'preceding', text: this.$t('preceding') },
          { value: 'following', text: this.$t('following') }
        ]
      } else {
        return [
          { value: 'into', text: this.$t('into') }
        ]
      }
    },
    loincPanelNames: function () {
      if (this.selectedConcept != null) {
        return this.selectedConcept.designation.filter(desgn => desgn.use === 'pref')
      } else {
        return null
      }
    }
  },
  created () {
    if (this.activeItem.ident) {
      this.importMode = 'into'
    } else if (this.activeItem.type === 'item') {
      this.importMode = 'following'
    }
  },
  methods: {
    async previewImport () {
      // get preview of items to import to show in confirmation dialog, also tests if import is OK
      if (this.activeItem.ident) {
        this.importParameters.datasetId = this.activeItem.id
        this.importParameters.effectiveDate = this.activeItem.effectiveDate
        this.importParameters.panelCode = this.selectedConcept.code
        this.importParameters.insertMode = this.importMode
      } else {
        this.importParameters.datasetId = this.selectedDataset.id
        this.importParameters.effectiveDate = this.selectedDataset.effectiveDate
        this.importParameters.panelCode = this.selectedConcept.code
        this.importParameters.insertMode = this.importMode
        this.importParameters.insertRef = this.activeItem.id
        this.importParameters.insertFlexibility = this.activeItem.effectiveDate
      }
      try {
        this.importResponse = (await ProjectService.getImportLoincPanel(
          this.importParameters)
        ).data
        this.showDialog = true
      } catch (err) {
        const errorMessage = err?.response?.data?.description || err?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    async doImport () {
      // perform LOINC panel import and return to dataset
      const importParams = {}
      for (const [key, value] of Object.entries(this.importParameters)) {
        if (value != null) { importParams[key] = value }
      }
      try {
        this.importResponse = (await ProjectService.createImportLoincPanel(importParams).data)
        await this.$store.dispatch('terminology/getValueSetList', { resolveit: true, sort: 'displayName' })
          .catch(error => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
        this.showDialog = false
        this.importParameters = null
        this.$store.dispatch('dataset/setLoincImportActive', false)
        this.$store.dispatch('terminology/setSelectedConcept', null)
        const datasetId = this.$store.getters['dataset/datasetItem'].id
        const datasetVersion = this.$store.getters['dataset/datasetItem'].effectiveDate
        const conceptId = this.$store.getters['dataset/activeItem'].id
        const conceptVersion = this.$store.getters['dataset/activeItem'].effectiveDate
        this.$router.push({ name: 'dataset-details-version', params: { datasetId, datasetVersion, conceptId, conceptVersion } }).catch(() => {})
      } catch (err) {
        const errorMessage = err?.response?.data?.description || err?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    cancelImport () {
      // no import, simply go back to the calling Panel
      this.$store.dispatch('dataset/setLoincImportActive', false)
      this.$store.dispatch('terminology/setSelectedConcept', null)
      this.importResponse = null
      if (this.$store.getters['dataset/datasetItem'] && this.$store.getters['dataset/activeItem']) {
        const datasetId = this.$store.getters['dataset/datasetItem'].id
        const datasetVersion = this.$store.getters['dataset/datasetItem'].effectiveDate
        const conceptId = this.$store.getters['dataset/activeItem'].id
        const conceptVersion = this.$store.getters['dataset/activeItem'].effectiveDate
        this.$router.push({ name: 'dataset-details-version', params: { datasetId, datasetVersion, conceptId, conceptVersion } }).catch(() => {})
      } else {
        this.$oops('Cannot go back to the concept')
      }
    },
    cancelDialog () {
      this.showDialog = false
    }
  }
}
</script>
