<template>
  <v-layout>
    <v-container fluid>
      <!-- Modals -->
      <ValueSetClone
        :showDialog="modals.valuesetClone"
        @cancel="modals.valuesetClone = false"
      />
      <ValueSetAddReference
        ref="ValueSetAddReference"
        v-model="modals.valuesetNewReference"
      />

      <AdBreadcrumbs :items="breadcrumbs"/>
      <v-row class="d-flex flex-row flex-md-nowrap">
        <v-col cols="12" md="auto" class="flex-grow-0 col-treeview">
          <TreeviewPanel
            :filters="filters"
            :trees="trees"
            :active-item.sync="valueSetActive"
            :active-tree.sync="activeTree"
            :disable-animation="!ready"
            indicateNoData
          >
            <template v-slot:action-buttons>
              <div>
                <AdButton
                  v-if="valueSetsAreEditable"
                  type="add"
                  :hint="$t('add-valueset')"
                  list-item
                  @click="goToRoute('browser-project')"
                />
                <AdButton
                  v-if="valueSetsAreEditable"
                  type="clone"
                  :hint="$t('clone-valueset')"
                  list-item
                  @click="modals.valuesetClone = true"
                />
                <AdButton
                  v-if="valueSetsAreEditable"
                  type="inherit"
                  :text="$t('new-reference')"
                  :hint="$t('new-reference')"
                  list-item
                  @click="modals.valuesetNewReference = true"
                />

              </div>
            </template>
          </TreeviewPanel>
        </v-col>
        <v-col cols="12" md="auto" class="flex-grow-1 flex-shrink-1">

          <router-view :key="$route.fullPath"></router-view>

          <v-card v-if="$route.name === 'value-set'">
            <AdInfoOwl>{{$t('select-valueset')}}</AdInfoOwl>
          </v-card>
          <v-card v-else-if="!valueSetItem && !valueSetActive && !isLoading('valueSet') && !isLoading('valueSetItem')">
            <AdInfoOwl>
              {{$t('valueset-not-found')}}.
              <AdButton
                v-if="valueSetsAreEditable"
                type="add"
                class="ml-2"
                link
                @click="startAddValueSetReference($route.params.id)"
              >
                  {{$t('add-reference')}}
              </AdButton>
            </AdInfoOwl>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { isString } from 'lodash'
import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'
import ValueSetClone from '@/components/Terminology/ValueSetClone'
import ValueSetAddReference from '@/components/Terminology/ValueSetAddReference'

export default {
  name: 'TerminologyPanel',
  components: {
    TreeviewPanel,
    ValueSetClone,
    ValueSetAddReference
  },
  data () {
    return {
      activeTree: null,
      filters: [],
      modals: {
        valuesetClone: false,
        valuesetNewReference: false
      },
      onSelectIsNeverCalled: true,
      ready: false
    }
  },
  computed: {
    ...mapGetters({
      isUserLoggedIn: ['authentication/isUserLoggedIn'],
      getProjectSelected: ['project/getProjectSelected'],
      getProjectInFocus: ['project/getProjectInFocus'],
      getItemStatuses: ['server/getItemStatuses'],
      isLoading: ['terminology/isLoading'],
      valueSet: ['terminology/getValueSet'],
      valueSetItem: ['terminology/valueSetItem'],
      valueSetsAreEditable: ['terminology/valueSetsAreEditable'],
      preserveValueSetItemOnSelect: ['terminology/preserveValueSetItemOnSelect']
    }),
    valueSetActive: {
      get () {
        return this.$store.state.terminology.valueSetActive
      },
      set (valueSetActive) {
        this.$store.commit('terminology/setValueSetActive', valueSetActive)
      }
    },
    breadcrumbs () {
      const breadcrumbs = [
        {
          text: this.$filters.getMatchingTranslation({ value: this.projectInFocus?.name }),
          to: { name: 'project-overview' },
          show: ['value-set', 'terminology-value-set', 'terminology-value-set-version']
        },
        {
          text: this.$t('terminology'),
          disabled: true,
          show: ['value-set', 'terminology-value-set', 'terminology-value-set-version']
        },
        {
          exact: true,
          text: this.$t('value-set'),
          to: { name: 'value-set' },
          show: ['value-set', 'terminology-value-set', 'terminology-value-set-version']
        },
        {
          text: this.$filters.getMatchingTranslation({
            value: this.$store.getters['terminology/valueSetActive']?.displayName
          }) || this.$route.params?.id,
          to: {
            name: 'terminology-value-set',
            params: {
              id: this.$route.params?.id
            }
          },
          show: ['terminology-value-set', 'terminology-value-set-version']
        },
        {
          text: this.$route.params?.version ? this.$filters.formatDateShort(this.$route.params.version) : '',
          to: {
            name: 'terminology-value-set-version',
            params: {
              id: this.$route.params?.id,
              version: this.$route.params?.version
            }
          },
          show: ['terminology-value-set-version']
        }
      ]
      return breadcrumbs.filter((breadcrumb) => breadcrumb.show.includes(this.$route.name))
    },
    selectedVersion () {
      if (
        this.valueSetActive?.valueSet &&
        this.$route.params.version != null
      ) {
        return this.valueSetActive.valueSet.findIndex((valueSet) => valueSet.effectiveDate === this.$route.params.version)
      } else {
        return -1
      }
    },
    trees () {
      return {
        valuesetList: {
          artefact: 'VS',
          name: this.$t('valuesets'),
          icon: 'mdi-heart',
          loading: this.$store.state.terminology.loading.valueSet,
          loaded: this.$store.state.terminology.loaded.valueSet,
          menu: this.valueSetsAreEditable,
          insertable: false,
          editable: false,
          items: this.$store.state.terminology.valueSet,
          key: 'uuid',
          text: (item) => item.versionLabel ? `${item.displayName} (${item.versionLabel})` : item.displayName,
          children: null,
          onSelect: (activeItem) => {
            this.valueSetActive = activeItem
            if (!this.preserveValueSetItemOnSelect) {
              this.$store.commit('terminology/setValueSetItem', null)
            }

            // Workaround to route to the correct version when te page is loaded.
            let preferredEffectiveDate = null
            if (this.onSelectIsNeverCalled) {
              const preferredVersionIndex = this.$store.getters['terminology/valueSetVersionIndex']
              preferredEffectiveDate = activeItem?.valueSet?.filter(vs => vs.id && vs.effectiveDate)?.[preferredVersionIndex]?.effectiveDate || null
              this.onSelectIsNeverCalled = false
            }

            const routeName = 'terminology-value-set' + (activeItem.effectiveDate ? '-version' : '')
            this.$router.push({ name: routeName, params: { id: activeItem.id || activeItem.ref, version: preferredEffectiveDate || activeItem.effectiveDate } }).catch(() => {})
          },
          onBeforeEdit: () => {
            // Do nothing.
          },
          onAfterEdit: () => {
            // Do nothing.
          },
          onEdit: () => {
            // Do nothing.
          }
        }
      }
    },
    watchDataForFilters () {
      return [this.getItemStatuses, this.$i18n.locale]
    }
  },
  methods: {
    goToRoute (name) {
      this.$store.commit('terminology/setStartShopping', true)
      this.$router.push({ name }).catch(() => {})
    },
    async startAddValueSetReference (search) {
      this.modals.valuesetNewReference = true
      if (isString(search)) {
        this.$refs.ValueSetAddReference.setSearch(search)
      }
    }
  },
  watch: {
    watchDataForFilters: {
      immediate: true,
      deep: true,
      handler () {
        const defaultActive = ['new', 'draft', 'pending', 'final', 'undefined']
        this.filters = this.getItemStatuses?.map(status => {
          const currentlyActive = this.filters?.find(filter => filter.key === status.value)?.active
          return {
            name: this.$filters.getMatchingTranslation({ value: status.label, locale: this.$i18n.locale }),
            key: status.value,
            active: currentlyActive !== undefined
              ? currentlyActive
              : defaultActive.includes(status.value)
          }
        }) || ['']
        const referenceFilterActive = this.filters.find(filter => filter.key === undefined)?.active
        this.filters.push({
          name: this.$t('none'),
          key: undefined,
          active: referenceFilterActive !== undefined
            ? referenceFilterActive
            : defaultActive.includes('undefined')
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>

::v-deep .treeview-panel-item-not-yet-used {
  border-left: 8px solid #d3e2e8;
  padding-left: 24px;

  .v-treeview {
    padding-left: 0;
  }
}

$treeview-node-margin: 0;
$treeview-node-padding: 0;
$treeview-node-level-width: 0;
$treeview-node-height-dense: 0;

.v-stepper {
  height: 50px;
}
.v-stepper__step {
  height: 30px;
}
</style>
