<template>
  <v-layout class="mt-0">
    <v-container fluid>
      <v-timeline align-top dense>

        <TerminologyBrowserHeaderPanel />

        <v-timeline-item small icon="mdi-arrow-top-left" fill-dot color="orange lighten-3"
          v-if="concept && concept.parent">
          <!--
            concept parents list
          -->
          <v-card class="mx-auto" width="90%" transition="expand-y-transition">
            <v-data-table :headers="parentHeaders" :items="concept.parent" class="elevation-1"
              :height="parentTableHeight" dense disable-pagination disable-sort hide-default-footer
              @click:row="parentClicked">
            </v-data-table>
          </v-card>
        </v-timeline-item>

        <v-timeline-item icon="mdi-bullseye-arrow" fill-dot color="orange lighten-2">
          <!--
            details of the concept found
          -->
          <v-card class="elevation-7" width="auto" transition="expand-y-transition">
            <AdCardTitle>
              <span>
                <v-chip v-if="['D', 'retired', 'deprecated'].includes(conceptStatusType)" color="headline red lighten-3"
                  class="font-weight-bold white--text text--darken-3 py-2 mr-3">{{ conceptCode }} – {{ $t('deprecated')
                  }}
                </v-chip>
                <v-chip v-else-if="concept && ['draft', 'experimental'].includes(concept.statusCode)"
                  color="headline yellow darken-3" class="font-weight-bold white--text text--darken-3 py-2 mr-3">{{
                  conceptCode }} – {{ $t('draft') }}
                </v-chip>

                <v-chip v-else outlined color="headline orange darken-3"
                  class="font-weight-bold orange--text text--darken-3 py-2 mr-3">{{ conceptCode }}</v-chip>
                {{ conceptTitle }}
                <AdClipboardClip />
              </span>
              <v-spacer />
              <template v-if="offerIncludeAndExcludeBtns">
                <v-menu v-if="hasChildren && !singleCodeSelectionMode" offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" icon @click.stop.prevent="">
                      <v-icon color="orange darken-2">mdi-plus</v-icon>
                    </v-btn>
                  </template>

                  <v-list dense>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>{{$t('include')}}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <template v-for="(insertType, i) of compositionMethodsFiltered">
                      <v-list-item :key="i"
                        @click="actionItemWithChilderen(concept, insertType, (insertType.type === 'extensional') ? 'concept' : 'include')">
                        <v-list-item-content>
                          <v-list-item-title>
                            <v-icon v-if="insertType.ball1 === '*'" small
                              :color="insertType.type === 'extensional' ? 'green' : 'orange'">mdi-circle</v-icon>
                            <v-icon v-if="insertType.ball1 === 'o'" small>mdi-circle-outline</v-icon>
                            <v-icon v-if="insertType.sep === '/'">mdi-chevron-right</v-icon>
                            <v-icon v-if="insertType.sep === '//'">mdi-chevron-double-right</v-icon>
                            <v-icon v-if="insertType.ball2 === '*'" small
                              :color="insertType.type === 'extensional' ? 'green' : 'orange'">mdi-circle</v-icon>
                            <v-icon v-if="insertType.ball2 === 'o'" small>mdi-circle-outline</v-icon>
                            <span class="pl-2">{{ insertType.type }} – {{ insertType.text }}</span>
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </template>
                  </v-list>
                </v-menu>

                <v-btn v-else icon @click.stop.prevent="" @click.stop="actionItemChild(concept, 'concept')">
                  <v-icon color="orange darken-2">mdi-plus</v-icon>
                </v-btn>
                <v-menu v-if="hasChildren && !singleCodeSelectionMode" offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" icon @click.stop.prevent="">
                      <v-icon color="orange darken-2">mdi-minus</v-icon>
                    </v-btn>
                  </template>

                  <v-list dense>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>{{$t('exclude')}}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <template v-for="(insertType, i) of compositionMethodsFiltered">
                      <v-list-item :key="i" @click="actionItemWithChilderen(concept, insertType, 'exclude')">
                        <v-list-item-content>
                          <v-list-item-title>
                            <v-icon v-if="insertType.ball1 === '*'" small
                              :color="insertType.type === 'extensional' ? 'green' : 'orange'">mdi-circle</v-icon>
                            <v-icon v-if="insertType.ball1 === 'o'" small>mdi-circle-outline</v-icon>
                            <v-icon v-if="insertType.sep === '/'">mdi-chevron-right</v-icon>
                            <v-icon v-if="insertType.sep === '//'">mdi-chevron-double-right</v-icon>
                            <v-icon v-if="insertType.ball2 === '*'" small
                              :color="insertType.type === 'extensional' ? 'green' : 'orange'">mdi-circle</v-icon>
                            <v-icon v-if="insertType.ball2 === 'o'" small>mdi-circle-outline</v-icon>
                            <span class="pl-2">{{ insertType.type }} – {{ insertType.text }}</span>
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </template>
                  </v-list>
                </v-menu>

                <v-btn v-else-if="!singleCodeSelectionMode" icon @click.stop.prevent=""
                  @click.stop="actionItemChild(concept, 'exclude')">
                  <v-icon color="orange darken-2">mdi-minus</v-icon>
                </v-btn>
              </template>
            </AdCardTitle>
            <v-card-text class="pa-2">
              <!-- LOINC full name -->
              <v-card outlined class="mb-2" v-if="loincName">
                <v-card-text>
                  <v-row class="grey lighten-3">
                    <v-col cols="5">{{$t('component')}}</v-col>
                    <v-col cols="2">{{$t('property')}}</v-col>
                    <v-col cols="1">{{$t('timing')}}</v-col>
                    <v-col cols="2">{{$t('system')}}</v-col>
                    <v-col cols="1">{{$t('scale')}}</v-col>
                    <v-col cols="1">{{$t('method')}}</v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="5"><template v-if="loincName.component">{{loincName.component}}</template></v-col>
                    <v-col cols="2"><template v-if="loincName.property">{{loincName.property}}</template></v-col>
                    <v-col cols="1"><template v-if="loincName.timing">{{loincName.timing}}</template></v-col>
                    <v-col cols="2"><template v-if="loincName.system">{{loincName.system}}</template></v-col>
                    <v-col cols="1"><template v-if="loincName.scale">{{loincName.scale}}</template></v-col>
                    <v-col cols="1"><template v-if="loincName.method">{{loincName.method}}</template></v-col>
                  </v-row>
                </v-card-text>
              </v-card>
              <!-- Designations, synonyms, short names etc. -->
              <v-card outlined
                v-if="preferredDesignations.length || synonymDesignations || loincShortNames || loincRelatedNames || (concept && concept.loinc != null) || (concept && concept.relGrp) || conceptDefinition || conceptComment">
                <v-card-text class="pb-5">
                  <!-- preferred designations -->
                  <template v-if="preferredDesignations.length">
                    <v-row v-for="(item, i) in preferredDesignations" :key="i + 'p'"
                      style="border-bottom:3px solid white">
                      <v-col class="grey text-truncate lighten-3 pt-1 pb-1" cols="1">
                        <span v-if="i === 0">{{$t('preferred')}}</span>
                      </v-col>
                      <v-col cols="1" class="pt-1 pb-1">
                        <div style="width:24px;float:left">{{item.lang.substring(0,2)}}</div>
                        <flag :squared="false" :iso="item.lang.substring(3,5)"></flag>
                      </v-col>
                      <v-col cols="10" class="pt-1 pb-1">{{item['#text']}}</v-col>
                    </v-row>
                  </template>
                  <!-- synonyms -->
                  <template v-if="synonymDesignations">
                    <v-row v-for="(syn, j) in synonymDesignations" :key="j + 's'" style="border-bottom:3px solid white">
                      <v-col class="grey text-truncate lighten-3 pt-1 pb-1" cols="1">
                        <span v-if="j === 0">{{$t('synonym')}}</span>
                      </v-col>
                      <v-col cols="1" class="pt-1 pb-1">
                        <div style="width:24px;float:left">{{syn.language.substring(0,2)}}</div>
                        <flag :squared="false" :iso="syn.language.substring(3,5)"></flag>
                      </v-col>
                      <v-col cols="10" class="pt-1 pb-1">{{syn.text}}</v-col>
                    </v-row>
                  </template>
                  <!-- LOINC short name -->
                  <template v-if="loincShortNames">
                    <v-row v-for="(loincShort, k) in loincShortNames" :key="k + 'ls'"
                      style="border-bottom:3px solid white">
                      <v-col class="grey text-truncate lighten-3 pt-1 pb-1" cols="1">
                        <span v-if="k ==0">{{$t('short')}}</span>
                      </v-col>
                      <v-col cols="1" class="pt-1 pb-1">
                        <div style="width:24px;float:left">{{loincShort.lang.substring(0,2)}}</div>
                        <flag :squared="false" :iso="loincShort.lang.substring(3,5)"></flag>
                      </v-col>
                      <v-col cols="10" class="pt-1 pb-1">
                        {{loincShort['#text']}}
                      </v-col>
                    </v-row>
                  </template>
                  <!-- LOINC related names -->
                  <template v-if="loincRelatedNames">
                    <v-row v-for="(loincRelated, l) in loincRelatedNames" :key="l + 'r'">
                      <v-col cols="1" class="grey text-truncate lighten-3 pt-1 pb-1">
                        <span v-if="l === 0">{{$t('related')}}</span>
                      </v-col>
                      <v-col cols="1" class="pt-1 pb-1">
                        <div style="width:24px;float:left">{{loincRelated.lang.substring(0,2)}}</div>
                        <flag :squared="false" :iso="loincRelated.lang.substring(3,5)"></flag>
                      </v-col>
                      <v-col cols="10" class="pt-1 pb-1">
                        {{loincRelated['#text']}}
                      </v-col>
                    </v-row>
                  </template>
                  <!--<v-row v-if="loincRelatedNames"><v-col class="pt-0 pb pt-0"></v-col></v-row>-->
                  <!-- LOINC properties -->
                  <template v-if="concept && concept.loinc != null">
                    <v-row v-if="concept && concept.loinc != null" style="border-bottom: 3px solid white;">
                      <v-col cols="3" class="pt-1 pb-1">
                        <v-row style="border-bottom: 3px solid white;">
                          <v-col cols="4" class="grey text-truncate lighten-3 pt-1 pb-1">{{$t('class')}}</v-col>
                          <v-col cols="8" class="pt-1 pb-1">{{concept.loinc.class}}</v-col>
                        </v-row>
                        <v-row style="border-bottom: 3px solid white;">
                          <v-col cols="4" class="grey text-truncate lighten-3 pt-1 pb-1">{{$t('type')}}</v-col>
                          <v-col cols="8" class="pt-1 pb-1">{{concept.loinc.classType}}</v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="5" class="pt-1 pb-1">
                        <v-row style="border-bottom: 3px solid white;">
                          <v-col cols="6"
                            class="grey text-truncate lighten-3 pt-1 pb-1">{{$t('loinc_col_versionfirstreleased')}}</v-col>
                          <v-col cols="6" class="pt-1 pb-1">{{concept.loinc.firstRelease}}</v-col>
                        </v-row>
                        <v-row style="border-bottom: 3px solid white;">
                          <v-col cols="6"
                            class="grey text-truncate lighten-3 pt-1 pb-1">{{$t('loinc_col_versionlastchanged')}}</v-col>
                          <v-col cols="6" class="pt-1 pb-1">{{concept.loinc.lastChange}}</v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="4" class="pt-1 pb-1">
                        <v-row style="border-bottom: 3px solid white;">
                          <v-col cols="6"
                            class="grey text-truncate lighten-3 pt-1 pb-1">{{$t('loinc_col_example_units')}}</v-col>
                          <v-col cols="6" class="pt-1 pb-1">{{concept.loinc.exUnits}}</v-col>
                        </v-row>
                        <v-row style="border-bottom: 3px solid white;">
                          <v-col cols="6"
                            class="grey text-truncate lighten-3 pt-1 pb-1">{{$t('loinc_col_example_ucum_units')}}</v-col>
                          <v-col cols="6" class="pt-1 pb-1">{{concept.loinc.exUCUMunits}}</v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                  </template>
                  <!-- definition -->
                  <template v-if="conceptDefinition">
                    <v-row style="border-bottom:3px solid white">
                      <v-col class="grey text-truncate lighten-3 pt-1 pb-1" cols="1">
                        <span>{{$t('definition')}}</span>
                      </v-col>
                      <v-col cols="11" class="pt-1 pb-1">{{conceptDefinition['#text']}}</v-col>
                    </v-row>
                  </template>
                  <!-- comment -->
                  <template v-if="conceptComment">
                    <v-row style="border-bottom:3px solid white">
                      <v-col class="grey text-truncate lighten-3 pt-1 pb-1" cols="1">
                        <span>{{$t('comment')}}</span>
                      </v-col>
                      <v-col cols="11" class="pt-1 pb-1">{{conceptComment['#text']}}</v-col>
                    </v-row>
                  </template>
                  <!-- SNOMED relationship groups -->
                  <v-expansion-panels v-if="concept && concept.relGrp" class="mt-5 ml-n3 pa-0"
                    v-model="relationshipPanel">
                    <v-expansion-panel class="pa-0">
                      <v-expansion-panel-header class="px-2 py-0" style="min-height: 30px;">
                        {{ $t('relationships') }} {{ relationshipHeader }}
                      </v-expansion-panel-header>
                      <v-expansion-panel-content class="ml-n3">
                        <v-row v-for="(grp, grpIndex) in (concept.relGrp)" :key="grpIndex" class="pt-2 pb-2 px-0 ml-0"
                          dense>
                          <v-col cols="12" class="pa-0" style="border:1px solid rgb(202, 202, 202)">
                            <v-row v-for="(rel, relIndex) in grp.relation" :key="relIndex" dense
                              class="pa-0 ma-0 align-center">
                              <v-col class="grey text-truncate lighten-3 py-0 pl-2 ml-1"
                                cols="3">{{rel.typeLabel['#text']}}</v-col>
                              <v-col class="py-0">
                                <AdButton small @click="relationClicked(rel.destCode)">{{rel.label['#text']}}</AdButton>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                  <!-- SNOMED reference sets-->
                  <v-expansion-panels v-if="refsets" class="mt-3 ml-n3 pa-0">
                    <v-expansion-panel>
                      <v-expansion-panel-header class="px-2 py-0" style="min-height: 30px;">
                        {{$t('reference-sets')}}
                      </v-expansion-panel-header>
                      <v-expansion-panel-content class="ml-n3 mt-2">
                        <v-row v-for="(refset, j) in refsets" :key="j + 'r'" class="pa-0 ml-0" dense>
                          <v-col v-if="refset" class="pa-0 ma-0">
                            {{$filters.getMatchingTranslation({value: refset.desc})}}
                          </v-col>
                        </v-row>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                  <!-- SNOMED concept maps -->
                  <v-expansion-panels v-if="simpleMaps || mapGroups" class="mt-3 ml-n3 pa-0">
                    <v-expansion-panel>
                      <v-expansion-panel-header class="px-2 py-0" style="min-height: 30px;">
                        {{$t('concept-maps')}}
                      </v-expansion-panel-header>
                      <v-expansion-panel-content class="ml-n3 mt-2">
                        <div class="pb-2 mr-8">
                          <v-row v-for="(map, m) in simpleMaps" :key="m + 'm'" class="pa-0 ml-2" dense>
                            <v-col class="pa-0 ma-0" cols="9">
                              {{map.refset}}
                            </v-col>
                            <v-col class="pa-0" cols="2">
                              {{ map.mapTarget }}
                            </v-col>
                          </v-row>
                        </div>
                        <!-- Complex and extended maps-->
                        <v-expansion-panels multiple class="mt-2 ml-n1 pa-0">
                          <v-expansion-panel v-for="(group, g) in mapGroups" :key="g + 'g'" class="px-2 py-0">
                            <v-expansion-panel-header class="px-1 py-0" style="min-height: 28px;">
                              <v-row dense>
                                <v-col cols="9">{{group.refset}}</v-col>
                                <v-col cols="3">{{group.target}}</v-col>
                              </v-row>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                              <v-row v-for="(map, m) in group.map" :key="m + 'm'" dense class="rounded=md pt-2">
                                <v-col class="font-weight-normal">
                                  <v-row dense class="pb-1">
                                    <v-col class="grey text-truncate lighten-3 py-0" cols="3">{{$t('target')}}</v-col>
                                    <v-col class="py-0" cols="9">{{ map.mapTarget }}</v-col>
                                  </v-row>
                                  <v-row dense class="pb-1">
                                    <v-col class="grey text-truncate lighten-3 py-0" cols="3">{{$t('rule')}}</v-col>
                                    <v-col class="py-0" cols="9">{{ map.mapRule }}</v-col>
                                  </v-row>
                                  <v-row dense class="pb-1">
                                    <v-col class="grey text-truncate lighten-3 py-0" cols="3">{{$t('advice')}}</v-col>
                                    <v-col class="py-0" cols="9">{{ map.mapAdvice }}</v-col>
                                  </v-row>
                                  <v-row dense class="pb-1">
                                    <v-col class="grey text-truncate lighten-3 py-0"
                                      cols="3">{{$t('correlation')}}</v-col>
                                    <v-col class="py-0" cols="9">{{ map.correlation }}</v-col>
                                  </v-row>
                                </v-col>
                              </v-row>
                            </v-expansion-panel-content>
                          </v-expansion-panel>
                        </v-expansion-panels>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                  <!-- other types of (simple, flat) concept map hints -->
                  <v-expansion-panels v-if="concept && concept.mapping" class="mt-3 ml-n3 pa-0 pt-2"
                    v-model="mappinghintpanel" expand>
                    <v-expansion-panel>
                      <v-expansion-panel-header class="px-2 py-0" style="min-height: 30px;">
                        {{ $t('concept-maps') }}
                      </v-expansion-panel-header>
                      <v-expansion-panel-content class="ml-n3 mt-2">
                        <div class="pb-2 mr-8">
                          <v-row v-for="(map, m) in concept.mapping" :key="m + 'm'" class="pa-0 ml-2" dense>
                            <!--
                              simple mapping hints may be of format SYSTEM:CODE where SYSTEM is the
                              code system and CODE the matching code, check and spearate this if that format is used
                            -->
                            <template v-if="map.hint.indexOf(':')">
                              <v-col class="grey text-truncate lighten-3 py-0 pl-2 ml-1" cols="2">
                                {{ map.hint.substring(0, map.hint.indexOf(':')) }}
                              </v-col>
                              <v-col class="py-0">
                                {{ map.hint.substring(map.hint.indexOf(':')+1) }}
                              </v-col>
                            </template>
                            <template v-else>
                              <v-col class="grey text-truncate lighten-3 py-0 pl-2 ml-1" cols="2">
                                {{ map.hint }}
                              </v-col>
                            </template>
                          </v-row>
                        </div>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-card-text>
              </v-card>
              <!-- SNOMED attributeValues and associations -->
              <v-card outlined v-if="conceptAttributeValues || conceptAssociations">
                <v-card-text>
                  <v-row v-for="(item, i) in conceptAttributeValues" :key="i + 'a'"
                    style="border-bottom:3px solid white">
                    <v-col class="grey text-truncate lighten-3 pt-1 pb-1" cols="1">
                      <span v-if="i === 0">{{$t('attributes')}}</span>
                    </v-col>
                    <v-col cols="1" class="pt-1 pb-1">
                      <div style="width:24px;float:left">{{item.refsetLabel.lang.substring(0,2)}}</div>
                      <flag :squared="false" :iso="item.refsetLabel.lang.substring(3,5)"></flag>
                    </v-col>
                    <v-col cols="10" class="pt-1 pb-1">
                      {{item.refsetLabel['#text']}}
                      <v-chip v-if="item.refsetId" color="orange darken-1" dense small outlined
                        @click="chipCodeClicked(item.refsetId)">
                        <span>{{item.refsetId}}</span>
                        <span v-if="item.valueLabel">
                          <span> | </span>
                          <span>{{item.valueLabel['#text']}}</span>
                        </span>
                      </v-chip>
                      <span v-if="concept.effectiveDate">
                        ({{ concept.effectiveDate }})
                      </span>
                    </v-col>
                  </v-row>
                  <v-row v-for="(item, j) in conceptAssociations" :key="j + 'c'" style="border-bottom:3px solid white">
                    <v-col class="grey text-truncate lighten-3 pt-1 pb-1" cols="1">
                      <span v-if="j === 0">{{$t('associations')}}</span>
                    </v-col>
                    <v-col cols="1" class="pt-1 pb-1">
                      <div style="width:24px;float:left">{{item.refsetLabel.lang.substring(0,2)}}</div>
                      <flag :squared="false" :iso="item.refsetLabel.lang.substring(3,5)"></flag>
                    </v-col>
                    <v-col cols="10" class="pt-1 pb-1">
                      {{item.refsetLabel['#text']}}
                      <v-chip v-if="item.targetComponentId" color="orange darken-1" dense small outlined
                        @click="chipCodeClicked(item.targetComponentId)">
                        <span>
                          <span>{{item.targetComponentId}}</span>
                          <span v-if="item.targetLabel">
                            <span> | </span>
                            <span>{{item.targetLabel['#text']}}</span>
                          </span>
                        </span>
                      </v-chip>
                      <span v-if="concept.effectiveDate">
                        ({{ concept.effectiveDate }})
                      </span>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
              <v-card outlined class="mb-2" v-if="conceptProperties">
                <v-card-text>
                  <v-row>
                    <v-col class="grey lighten-3" cols="1">{{$t('properties')}}</v-col>
                    <v-col cols="11">
                      <v-chip v-for="(item, i) in conceptProperties" :key="i + 'p'" color="gray darken-1" class="mr-3"
                        dense small outlined>
                        <span class="font-weight-bold text--disabled">{{item.code}}</span>
                        <span class="mx-2 text--disabled">|</span>
                        <span v-if="item.valueCoding">
                          {{ item.valueCoding.code }}
                          <span class="font--italic">{{ item.valueCoding.displayName }}</span>
                          <span>(</span>
                          <span>{{ $t('system') }}: </span>
                          <span>{{ item.valueCoding.codeSystem}}</span>
                          <span v-if="item.valueCoding.canonicalUri">
                            / {{ item.valueCoding[0].canonicalUri }}
                          </span>
                          <span>)</span>
                        </span>
                        <span v-else-if="item.valueCode">
                          {{ item.valueCode.code }}
                        </span>
                        <span v-else-if="item.valueString">
                          {{ item.valueString.value }}
                        </span>
                        <span v-else-if="item.valueInteger">
                          {{ item.valueInteger.value }}
                        </span>
                        <span v-else-if="item.valueDecimal">
                          {{ item.valueDecimal.value }}
                        </span>
                        <span v-else-if="item.valueBoolean">
                          <v-simple-checkbox :value="item.valueBoolean.value === 'true'" :ripple="false" disabled />
                        </span>
                        <span v-else-if="item.valueDateTime">
                          {{ $filters.formatDate(item.valueDateTime.value) }}
                        </span>
                      </v-chip>
                    </v-col>
                  </v-row>

                </v-card-text>
              </v-card>
            </v-card-text>
          </v-card>
          <!--
            concept linked value set
          -->
          <v-row no-gutters v-if="concept != null" class="mt-5">
            <v-chip v-if="concept.valueSetLink != null" class="ma-2" color="orange" label text-color="white">
              <v-icon left>mdi-subdirectory-arrow-right</v-icon>
              {{$t('value-set')}}
            </v-chip>
            <v-col v-if="concept.valueSetLink != null && Array.isArray(concept.valueSetLink)" cols="10">
              <v-expansion-panels v-model="valueSetLinkPanel">
                <v-expansion-panel v-for="(valueSetLink, i) in concept.valueSetLink" :key="i">
                  <v-expansion-panel-header v-if="valueSetLink.context"
                    class="topbottomstrip orange--text text--darken-2 px-2 py-0" style="min-height: 32px;">
                    {{ valueSetLink.context.contextCode }} {{ valueSetLink.context.label['#text'] }} <span
                      style="float: right;text-align: end;">{{ valueSetLink.type }}</span>
                  </v-expansion-panel-header>
                  <v-expansion-panel-header v-else class="topbottomstrip orange--text text--darken-2 px-2 py-0"
                    style="min-height: 32px;">
                    {{ $t('all-contexts') }} <span style="float: right;text-align: end;">{{ valueSetLink.type }}</span>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content class="mt-2">
                    <v-data-table :headers="valuesetHeaders" :items="valueSetLink.valueSet.conceptList.concept"
                      class="elevation-1" hide-default-footer dense sort-by="seqNo">
                      <template v-slot:top>
                        <div class="grey lighten-3 "><span class="ml-4">{{ valueSetLink.valueSet.code }}</span><span
                            class="ml-4">{{ valueSetLink.valueSet.displayName }}</span></div>
                      </template>
                    </v-data-table>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-col>
          </v-row>
        </v-timeline-item>

        <v-timeline-item small icon="mdi-arrow-bottom-right" v-if="concept && concept.children.child" fill-dot
          color="orange lighten-3">
          <!-- concept children -->
          <v-card v-show="concept.children.child" class="mx-auto" width="90%" transition="expand-y-transition">
            <v-data-table :headers="childHeadersFiltered" :items="concept.children.child" class="elevation-1"
              fixed-header dense :options.sync="childrenOptions" :server-items-length="totalChildren"
              @update:items-per-page="getConceptChildren()" @update:page="getConceptChildren()" disable-sort
              single-select :hide-default-footer="totalChildren <= 10"
              :footer-props="{ itemsPerPageText: 'Items per page' }" @click:row="childClicked">
              <template v-slot:[`item.subCount`]="{ item }">
                <div v-if="item.subCount !== '0'" dense color="grey" dark>{{ item.subCount }}</div>
              </template>
              <template v-slot:[`item.action`]="{ item }" v-if="offerIncludeAndExcludeBtns">
                <!-- <v-icon
                  small
                  color="orange darken-1"
                  class="mr-2"
                  @click.stop="actionItemChild(item, 'include')"
                >mdi-plus</v-icon>
                <v-icon
                  small
                  color="orange darken-2"
                  @click.stop="actionItemChild(item, 'exclude')"
                >mdi-minus</v-icon> -->
                <v-menu v-if="hasChildren && !singleCodeSelectionMode" offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" icon @click.stop.prevent="">
                      <v-icon color="orange darken-2">mdi-plus</v-icon>
                    </v-btn>
                  </template>

                  <v-list dense>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>{{$t('include')}}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <template v-for="(insertType, i) of compositionMethodsFiltered">
                      <v-list-item :key="i"
                        @click="actionItemWithChilderen(item, insertType, (insertType.type === 'extensional') ? 'concept' : 'include')">
                        <v-list-item-content>
                          <v-list-item-title>
                            <v-icon v-if="insertType.ball1 === '*'" small
                              :color="insertType.type === 'extensional' ? 'green' : 'orange'">mdi-circle</v-icon>
                            <v-icon v-if="insertType.ball1 === 'o'" small>mdi-circle-outline</v-icon>
                            <v-icon v-if="insertType.sep === '/'">mdi-chevron-right</v-icon>
                            <v-icon v-if="insertType.sep === '//'">mdi-chevron-double-right</v-icon>
                            <v-icon v-if="insertType.ball2 === '*'" small
                              :color="insertType.type === 'extensional' ? 'green' : 'orange'">mdi-circle</v-icon>
                            <v-icon v-if="insertType.ball2 === 'o'" small>mdi-circle-outline</v-icon>
                            <span class="pl-2">{{ insertType.type }} – {{ insertType.text }}</span>
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </template>
                  </v-list>
                </v-menu>

                <v-btn v-else icon @click.stop.prevent="" @click.stop="actionItemChild(item, 'concept')">
                  <v-icon color="orange darken-2">mdi-plus</v-icon>
                </v-btn>
                <v-menu v-if="hasChildren && !singleCodeSelectionMode" offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" icon @click.stop.prevent="">
                      <v-icon color="orange darken-2">mdi-minus</v-icon>
                    </v-btn>
                  </template>

                  <v-list dense>
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>{{$t('exclude')}}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <template v-for="(insertType, i) of compositionMethodsFiltered">
                      <v-list-item :key="i" @click="actionItemWithChilderen(item, insertType, 'exclude')">
                        <v-list-item-content>
                          <v-list-item-title>
                            <v-icon v-if="insertType.ball1 === '*'" small
                              :color="insertType.type === 'extensional' ? 'green' : 'orange'">mdi-circle</v-icon>
                            <v-icon v-if="insertType.ball1 === 'o'" small>mdi-circle-outline</v-icon>
                            <v-icon v-if="insertType.sep === '/'">mdi-chevron-right</v-icon>
                            <v-icon v-if="insertType.sep === '//'">mdi-chevron-double-right</v-icon>
                            <v-icon v-if="insertType.ball2 === '*'" small
                              :color="insertType.type === 'extensional' ? 'green' : 'orange'">mdi-circle</v-icon>
                            <v-icon v-if="insertType.ball2 === 'o'" small>mdi-circle-outline</v-icon>
                            <span class="pl-2">{{ insertType.type }} – {{ insertType.text }}</span>
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </template>
                  </v-list>
                </v-menu>

                <v-btn v-else-if="!singleCodeSelectionMode" icon @click.stop.prevent=""
                  @click.stop="actionItemChild(item, 'exclude')">
                  <v-icon color="orange darken-2">mdi-minus</v-icon>
                </v-btn>
              </template>
            </v-data-table>
          </v-card>
        </v-timeline-item>
      </v-timeline>
    </v-container>
  </v-layout>
</template>

<script>
import ConceptsService from '@/services/ConceptsService'
import TerminologyBrowserHeaderPanel from '@/components/Terminology/TerminologyBrowserHeaderPanel'

import { mapState } from 'vuex'

export default {
  name: 'TerminologyBrowserConceptPanel',
  components: {
    TerminologyBrowserHeaderPanel
  },
  data () {
    return {
      childHeaders: [
        {
          text: 'Code',
          value: 'cCode',
          width: '20%'
        },
        {
          text: 'Term',
          value: 'label.#text',
          width: '60%'
        },
        {
          text: 'Children',
          value: 'subCount',
          align: 'center',
          width: '10%'
        },
        {
          text: 'Actions',
          value: 'action',
          align: 'right',
          sortable: false,
          conditions: ['offerIncludeAndExcludeBtns']
        }
      ],
      selectedChild: null,
      childrenOptions: {},
      totalChildren: 0,
      parentHeaders: [
        {
          text: 'Code',
          value: 'pCode',
          width: '20%'
        },
        {
          text: 'Term',
          value: 'label.#text',
          width: '60%'
        },
        {
          text: 'Children',
          value: 'subCount',
          align: 'center',
          width: '20%'
        }
      ],
      selectedParent: null,
      concept: null,
      conceptLoading: false,
      codeSystemId: null,
      conceptId: null,
      valuesetHeadersOld: [
        {
          text: 'Seq No',
          align: 'start',
          value: 'seqNo'
        },
        { text: 'Score', value: 'score' },
        { text: 'Code', value: 'code' },
        { text: 'Designation', value: 'designation.#text' }
      ],
      valuesetHeaders: [
        {
          text: 'Seq No',
          align: 'start',
          value: 'seqNo'
        },
        { text: 'Score', value: 'ordinal' },
        { text: 'Code', value: 'code' },
        { text: 'Designation', value: 'designation.#text' }
      ],
      compositionMethods: [
        {
          text: this.$t('composition-selected-code-only'),
          type: 'extensional',
          method: 'equal',
          ball1: '*',
          sep: '/',
          ball2: 'o',
          support: true
        },
        {
          text: this.$t('composition-code-and-immediate-children'),
          type: 'extensional',
          method: 'child-of',
          ball1: '*',
          sep: '/',
          ball2: '*',
          support: false
        },
        {
          text: this.$t('composition-code-and-all-children'),
          type: 'extensional',
          method: 'is-a',
          ball1: '*',
          sep: '//',
          ball2: '*',
          support: false
        },
        {
          text: this.$t('composition-immediate-children-only'),
          type: 'extensional',
          method: 'child-of',
          ball1: 'o',
          sep: '/',
          ball2: '*',
          support: false
        },
        {
          text: this.$t('composition-all-children-only'),
          type: 'extensional',
          method: 'descendent-of',
          ball1: 'o',
          sep: '//',
          ball2: '*',
          support: false
        },
        {
          text: this.$t('composition-code-and-all-children'),
          type: 'intensional',
          method: 'is-a',
          ball1: '*',
          sep: '//',
          ball2: '*',
          support: true
        },
        {
          text: this.$t('composition-all-children-only'),
          type: 'intensional',
          method: 'descendent-of',
          ball1: 'o',
          sep: '//',
          ball2: '*',
          support: true
        }
      ],
      snomedFilters: {},
      relationshipPanel: null,
      valueSetLinkPanel: null,
      mappinghintpanel: 0
    }
  },
  computed: {
    ...mapState({
      primaryCodeSystemId: state => state.terminology.primaryCodeSystemId,
      primaryConceptCode: state => state.terminology.primaryConceptCode,
      preferredLanguage: state => state.terminology.preferredLanguage,
      selectedLanguages: state => state.terminology.selectedLanguages
    }),
    installedPackages () {
      return this.$store.getters['server/installedTerminologyPackages']
    },
    childHeadersFiltered () {
      return this.childHeaders.filter((header) => !header.conditions || header.conditions.some((condition) => this[condition]))
    },
    conceptCode: function () {
      if (this.concept?.code) return this.concept.code
      return ''
    },
    conceptStatusType: function () {
      if (this.concept?.type) return this.concept.type
      if (this.concept?.statusCode) return this.concept.statusCode
      return ''
    },
    conceptTitle: function () {
      if (this.concept?.designation != null) {
        if (this.concept.designation.find(dsgn => dsgn.use === 'fsn')) {
          if (this.concept.designation.find(obj => { return (obj.use === 'fsn' && obj.lang === this.preferredLanguage) })) {
            return this.concept.designation.filter(obj => { return (obj.use === 'fsn' && obj.lang === this.preferredLanguage) })[0]['#text']
          } else {
            return this.concept.designation.filter(obj => { return (obj.use === 'fsn') })[0]['#text']
          }
        } else {
          if (this.concept.designation.find(obj => { return (obj.use === 'pref' && obj.lang === this.preferredLanguage) })) {
            return this.concept.designation.filter(obj => { return (obj.use === 'pref' && obj.lang === this.preferredLanguage) })[0]['#text']
          } else {
            return this.concept.designation.filter(obj => { return (obj.use === 'pref') })[0]['#text']
          }
        }
      } else {
        return ''
      }
    },
    firstExceptionInCompositionIndex () {
      const list = this.$store.getters['terminology/shoppingCart'] || []
      return list.findIndex(item => item.is === 'exception')
    },
    offerIncludeAndExcludeBtns () {
      return (
        this.$store.state.terminology.startShopping ||
        this.$store.state.terminology.editValueSetBtn
      )
    },
    preferredDesignations: function () {
      if (this.concept?.designation != null) {
        let pref = []
        pref = this.concept.designation.filter(obj => { return (obj.use === 'pref') })
        return pref
      } else {
        return []
      }
    },
    conceptDefinition: function () {
      return this.concept?.definition
    },
    conceptComment: function () {
      return this.concept?.comment
    },
    conceptAssociations: function () {
      return this.concept?.association || null
    },
    conceptAttributeValues: function () {
      return this.concept?.attributeValue || null
    },
    conceptProperties: function () {
      return this.concept?.property
    },
    synonymDesignations: function () {
      if (this.concept?.designation != null && this.concept.designation.find(dsgn => dsgn.use === 'syn')) {
        const synonymLanguages = []
        for (const x of this.selectedLanguages) {
          if (this.concept.designation.find(obj => { return (obj.use === 'syn' && obj.lang === x) })) {
            const synonymLanguage = {
              language: x,
              text: this.designationToString(this.concept.designation.filter(obj => { return (obj.use === 'syn' && obj.lang === x) }))
            }
            synonymLanguages.push(synonymLanguage)
          }
        }
        return synonymLanguages
      } else {
        return null
      }
    },
    loincName: function () {
      if (this.concept?.designation != null) {
        if (this.concept.designation.find(dsgn => dsgn.use === 'lfsn')) {
          if (this.concept.designation.find(obj => { return (obj.use === 'lfsn' && obj.lang === this.preferredLanguage) })) {
            return this.concept.designation.filter(obj => { return (obj.use === 'lfsn' && obj.lang === this.preferredLanguage) })[0]
          } else {
            return this.concept.designation.find(dsgn => dsgn.use === 'lfsn')
          }
        } else {
          return null
        }
      } else {
        return null
      }
    },
    loincShortNames: function () {
      if (this.concept?.designation != null) {
        if (this.concept.designation.find(dsgn => dsgn.use === 'prefShrt')) {
          return this.concept.designation.filter(dsgn => dsgn.use === 'prefShrt')
        } else {
          return null
        }
      } else {
        return null
      }
    },
    loincRelatedNames: function () {
      if (this.concept?.designation != null) {
        if (this.concept.designation.find(dsgn => dsgn.use === 'rel')) {
          return this.concept.designation.filter(dsgn => dsgn.use === 'rel')
        } else {
          return null
        }
      } else {
        return null
      }
    },
    refsets () {
      if (this.concept?.refset != null && this.snomedFilters != null) {
        const refsets = []
        for (let i = 0; i < this.concept.refset.length; i++) {
          refsets.push(this.snomedFilters.refsetDisplay?.refset?.find(refs => refs.id === this.concept.refset[i].refsetId))
        }
        return refsets
      } else {
        return null
      }
    },
    simpleMaps () {
      if (this.concept?.simpleMap != null && this.snomedFilters != null) {
        const mappings = []
        let map = {}
        for (let i = 0; i < this.concept.simpleMap.length; i++) {
          if (this.snomedFilters.refsetDisplay?.refset?.find(refs => refs.id === this.concept.simpleMap[i].refsetId)) {
            map = {
              mapTarget: this.concept.simpleMap[i].mapTarget,
              refset: this.$filters.getMatchingTranslation({ value: this.snomedFilters.refsetDisplay.refset.find(refs => refs.id === this.concept.simpleMap[i].refsetId).desc }),
              refsetId: this.concept.simpleMap[i].refsetId
            }
            mappings.push(map)
          }
        }
        if (mappings.length > 0) {
          return mappings
        } else {
          return null
        }
      } else {
        return null
      }
    },
    mapGroups () {
      if (this.concept?.mapGroup != null && this.snomedFilters != null) {
        const mapGroups = []
        let mapGroup = {}
        for (let i = 0; i < this.concept.mapGroup.length; i++) {
          if (this.snomedFilters.refsetDisplay?.refset?.find(refs => refs.id === this.concept.mapGroup[i].refsetId)) {
            const mappings = []
            let map = {}
            for (let j = 0; j < this.concept.mapGroup[i].map.length; j++) {
              map = {
                correlation: this.concept.mapGroup[i].map[j].correlation,
                correlationId: this.concept.mapGroup[i].map[j].correlationId,
                mapAdvice: this.concept.mapGroup[i].map[j].mapAdvice,
                mapGroup: this.concept.mapGroup[i].map[j].mapGroup,
                mapPriority: this.concept.mapGroup[i].map[j].mapPriority,
                mapRule: this.concept.mapGroup[i].map[j].mapRule,
                mapTarget: this.concept.mapGroup[i].map[j].mapTarget
              }
              mappings.push(map)
            }
            const targetString = mappings.map(function (item) {
              return item.mapTarget
            })
            mapGroup = {
              refset: this.$filters.getMatchingTranslation({ value: this.snomedFilters.refsetDisplay.refset.find(refs => refs.id === this.concept.mapGroup[i].refsetId).desc }),
              map: mappings,
              target: targetString.join(', ')
            }
            mapGroups.push(mapGroup)
          }
        }
        if (mapGroups.length > 0) {
          return mapGroups
        } else {
          return null
        }
      } else {
        return null
      }
    },
    relationshipHeader: function () {
      if (this.concept?.relGrp != null && this.concept?.relGrp.length > 2) {
        let relCount = 0
        let groupString = ''
        if (this.concept.relGrp.length === 1) {
          groupString = this.$t('group')
        } else {
          groupString = this.$t('groups')
        }
        for (let g = 0; g < this.concept.relGrp.length; g++) {
          relCount += this.concept.relGrp[g].relation.length
        }
        return '(' + relCount + ' in ' + this.concept.relGrp.length + ' ' + groupString + ')'
      } else {
        return ''
      }
    },
    parentTableHeight: function () {
      if (this.concept?.parent != null) {
        if (this.concept.parent.length > 6) {
          return '168'
        } else return 'auto'
      } else return 'auto'
    },
    hasChildren: function () {
      return this.concept?.children?.child?.length > 0
    },
    compositionMethodsFiltered () {
      return this.compositionMethods.filter((method) => method.support)
    },
    watchedVariables () {
      return [this.$route.params.codeSystemId, this.$route.params.conceptId, this.selectedLanguages, this.preferredLanguage]
    },
    singleCodeSelectionMode () {
      return ['conceptAssociation', 'transactionConceptAssociation', 'questionnaire'].includes(this.$store.getters['dataset/activeAssociationType'])
    },
    valueSetLinkConceptListConcepts () {
      return this.valueSetLink?.valueSet?.conceptList?.concept || []
    }
  },
  watch: {
    watchedVariables: {
      immediate: true,
      deep: true,
      handler () {
        if (this.$route.params.conceptId != null && this.$route.params.codeSystemId != null) {
          this.codeSystemId = this.$route.params.codeSystemId
          this.conceptId = this.$route.params.conceptId
          this.getConcept()
        }
      }
    }
  },
  created () {
    if (this.installedPackages.find(pkg => pkg.abbrev === 'terminology-stable-snomed-data')) {
      this.getSnomedFilters()
    }
  },
  methods: {
    async getConcept () {
      if (this.conceptId != null && this.codeSystemId != null) {
        if (this.conceptId.length > 0 && this.codeSystemId.length > 0) {
          this.conceptLoading = true
          try {
            this.concept = (await ConceptsService.getConcept(this.codeSystemId, this.conceptId, this.preferredLanguage, this.selectedLanguages)).data
            if (this.concept.children != null) {
              this.totalChildren = Number(this.concept.children.count)
              this.childrenOptions.page = 1
            }
          } catch (err) {
            console.log(err)
          }
          if (this.concept.relGrp?.length < 3) { this.relationshipPanel = 0 } else { this.relationshipPanel = null }
          if (this.concept.valueSetLink?.length === 1) { this.valueSetLinkPanel = 0 } else { this.valueSetLinkPanel = null }
          if (this.$store.getters['dataset/loincImportActive']) {
            if (this.concept.loinc != null) {
              if (this.concept.loinc.class?.startsWith('PANEL')) {
                this.$store.dispatch('terminology/setSelectedConcept', this.concept)
              } else {
                this.$store.dispatch('terminology/setSelectedConcept', null)
              }
            } else {
              this.$store.dispatch('terminology/setSelectedConcept', null)
            }
          }
          this.conceptLoading = false
        }
      }
    },
    async getConceptChildren () {
      if (this.concept.children != null) {
        let childCount = this.childrenOptions.itemsPerPage
        if (childCount === -1) { childCount = this.totalChildren }
        try {
          this.concept.children = (await ConceptsService.getConceptChildren(
            this.codeSystemId,
            this.conceptId,
            this.preferredLanguage,
            ((this.childrenOptions.page - 1) * childCount) + 1,
            childCount)
          ).data
        } catch (err) {
          console.log(err)
        }
        this.conceptLoading = false
      }
    },
    chipCodeClicked (conceptId) {
      if (this.$route.params.prefix) {
        this.$router.push({ name: 'browser-project-concept', params: { codeSystemId: this.codeSystemId, conceptId } }).catch(() => {})
      } else {
        this.$router.push({ name: 'browser-concept', params: { codeSystemId: this.codeSystemId, conceptId } }).catch(() => {})
      }
    },
    parentClicked (row) {
      const conceptId = row.pCode
      if (this.$route.params.prefix) {
        this.$router.push({ name: 'browser-project-concept', params: { codeSystemId: this.codeSystemId, conceptId } }).catch(() => {})
      } else {
        this.$router.push({ name: 'browser-concept', params: { codeSystemId: this.codeSystemId, conceptId } }).catch(() => {})
      }
    },
    childClicked (row) {
      const conceptId = row.cCode
      if (this.$route.params.prefix) {
        this.$router.push({ name: 'browser-project-concept', params: { codeSystemId: this.codeSystemId, conceptId } }).catch(() => {})
      } else {
        this.$router.push({ name: 'browser-concept', params: { codeSystemId: this.codeSystemId, conceptId } }).catch(() => {})
      }
    },
    relationClicked (conceptId) {
      if (this.$route.params.prefix) {
        this.$router.push({ name: 'browser-project-concept', params: { codeSystemId: this.codeSystemId, conceptId } }).catch(() => {})
      } else {
        this.$router.push({ name: 'browser-concept', params: { codeSystemId: this.codeSystemId, conceptId } }).catch(() => {})
      }
    },
    designationToString (designations) {
      const stringArray = []
      designations.forEach(function (arrayItem) {
        stringArray.push(arrayItem['#text'])
      })
      return stringArray.toString().replace(/,/g, ', ')
    },
    deleteItem (item) {
      this.$alert(this.$t('notyetimplemented'))
    },
    actionItemWithChilderen (item, insertType, is) {
      if (
        !this.$store.state.terminology.editValueSetBtn &&
        !this.$store.state.terminology.startShopping
      ) {
        this.$store.commit('terminology/setStartShopping', true)
      }
      if (!item.type) {
        this.$oops(this.$t('invalid-item-type', { item: item.type }))
        return false
      }
      let normitem = {}
      const code = item?.code || item?.cCode
      const codeSystem = this.codeSystemId
      const displayName =
        item.designation?.find(des => des.use === 'fsn' && des.lang === this.preferredLanguage)?.['#text'] ||
        item.designation?.find(des => des.use === 'pref' && des.lang === this.preferredLanguage)?.['#text'] ||
        item.designation?.find(des => des.use === 'fsn' && des.lang === 'en-US')?.['#text'] ||
        item.designation?.find(des => des.use === 'pref' && des.lang === 'en-US')?.['#text'] ||
        item?.label?.['#text'] ||
        '?'
      const level = '0'
      const op = insertType.method
      const type = item?.type || '?'
      // item.type [A, S, L, D]
      // insertType.type ['intensional', 'extensional']
      if (insertType.method === 'equal') {
        normitem = {
          code,
          codeSystem,
          displayName,
          is,
          level,
          type,
          insertType: insertType.type
        }
      } else if (['is-a', 'descendent-of', 'child-of'].includes(insertType.method)) {
        normitem = {
          code,
          codeSystem,
          displayName,
          op,
          is,
          level,
          type,
          insertType: insertType.type
        }
      }
      if (['conceptAssociation', 'transactionConceptAssociation', 'questionnaire'].includes(this.$store.getters['dataset/activeAssociationType'])) {
        return this.$store.dispatch('terminology/addCartWithAssociations', normitem)
          .then(() => {
            this.$notify(this.$t('successful-added-item-to-composition', { code: item.code, method: insertType.method }), 'info')
          })
          .catch(() => {
            this.$notify('Problems adding item to the composition')
          })
      } else {
        const position = this.firstExceptionInCompositionIndex > -1
          ? this.firstExceptionInCompositionIndex
          : null
        return this.$store.dispatch('terminology/addToShoppingCart', { item: normitem, position })
          .then(() => {
            this.$notify(this.$t('successful-added-item-to-composition', { code: item.code, method: insertType.method }), 'info')
          })
          .catch((error) => {
            console.log(error)
            this.$notify('Problems adding item to the composition')
          })
      }
    },
    actionItemChild (item, is) {
      if (
        !this.$store.state.terminology.editValueSetBtn &&
        !this.$store.state.terminology.startShopping
      ) {
        this.$store.commit('terminology/setStartShopping', true)
      }
      if (!item.type) {
        this.$oops(this.$t('no-item-type'))
        return false
      }
      let normitem = {}
      const codeSystem = this.codeSystemId
      const level = '0'
      const type = item?.type || '?'
      if (item?.pCode) {
        normitem = {
          code: item?.pCode,
          codeSystem,
          displayName: item?.label['#text'],
          is,
          level,
          type
        }
      } else if (item?.cCode) {
        normitem = {
          code: item?.pCode || item?.cCode || '?',
          codeSystem,
          displayName: item?.designatiom || item?.label['#text'] || '?',
          is,
          level,
          type
        }
      } else if (item?.code) {
        normitem = {
          code: item?.code,
          codeSystem: this.codeSystemId,
          displayName:
            item.designation?.find(des => des.use === 'fsn' && des.lang === this.preferredLanguage)?.['#text'] ||
            item.designation?.find(des => des.use === 'pref' && des.lang === this.preferredLanguage)?.['#text'] ||
            item.designation?.find(des => des.use === 'fsn' && des.lang === 'en-US')?.['#text'] ||
            item.designation?.find(des => des.use === 'pref' && des.lang === 'en-US')?.['#text'] ||
            '?',
          is,
          level,
          type
        }
      }
      if (['conceptAssociation', 'transactionConceptAssociation', 'questionnaire'].includes(this.$store.getters['dataset/activeAssociationType'])) {
        return this.$store.dispatch('terminology/addCartWithAssociations', normitem)
          .then(() => {
            this.$notify(this.$t('successful-added-item-to-composition',
              { code: normitem.code, method: normitem.level + ' ' + normitem.type }), 'info')
          })
          .catch((error) => {
            console.log(error)
            this.$notify(this.$t('problems-adding-item-to-composition'))
          })
      } else {
        const position = this.firstExceptionInCompositionIndex > -1
          ? this.firstExceptionInCompositionIndex
          : null
        return this.$store.dispatch('terminology/addToShoppingCart', { item: normitem, position })
          .then(() => {
            this.$notify(this.$t('successful-added-item-to-composition',
              { code: normitem.code, method: normitem.level + ' ' + normitem.type }), 'info')
          })
          .catch(() => {
            this.$notify(this.$t('problems-adding-item-to-composition'))
          })
      }
    },
    async getSnomedFilters () {
      try {
        this.snomedFilters = (await ConceptsService.getSnomedFilters()).data
      } catch (err) {
        console.log(err)
      }
    }

  }
}
</script>

<style lang="scss" scoped>
::v-deep .v-data-table tbody tr {
  cursor: pointer;
}

.terminfo {
  margin-left: -60px !important;

  .v-card:before {
    color:red;
  }
}
.v-card:before {
    border:red;
  }

</style>
