<template>
  <div v-if="editableItem">
    <div v-if="editingCopyrightCrud" class="backdrop-layer"></div>

    <!-- Name, cannonical URI -->
    <v-row dense>
      <v-col cols="6">
        <EditableShortFormalName
          v-model="editableItem.name"
          :label="$t('name')"
          @change="updateString('name')"
          :loading="loading.name"
          :disabled="loading.name"
          confirmation-required
          :readonly="readonly || loading.name"
        />
      </v-col>
      <v-col cols="6">
        <EditableString
          v-model="editableItem.canonicalUri"
          :label="$t('canonicalUri')"
          @change="updateString('canonicalUri')"
          show-delete-icon
          :loading="loading.canonicalUri"
          :disabled="loading.canonicalUri"
          confirmation-required
          :readonly="readonly || loading.canonicalUri"
          :rules="rulesValueSet['canonicalUri']"
        />
      </v-col>
    </v-row>

    <!-- Official release date, expiration date -->
    <v-row dense>
      <v-col cols="4">
        <EditableDate
          v-model="officialReleaseDate"
          :label="$t('official-release-date')"
          @change="updateString('officialReleaseDate')"
          :loading="loading.officialReleaseDate"
          :disabled="loading.officialReleaseDate"
          :readonly="readonly"
          :clearable="true"
          @click:clear="officialReleaseDate = null; updateString('officialReleaseDate', 'remove')"
        />
      </v-col>
      <v-col cols="4" class="pl-8">
        <EditableDate
          v-model="expirationDate"
          :label="$t('expiration-date')"
          @change="updateString('expirationDate')"
          :loading="loading.expirationDate"
          :disabled="loading.expirationDate"
          :readonly="readonly"
          :clearable="true"
          @click:clear="expirationDate = null; updateString('expirationDate', 'remove')"
        />
      </v-col>
    </v-row>
    <!-- Purpose -->
    <v-row dense>
      <v-col cols="12">
        <v-progress-linear :active="loading.purpose" indeterminate color="primary" class="mb-2"/>
        <EditableTextArea
          v-model="purpose"
          :label="$t('purpose')"
          :locales="projectLocales"
          :readonly="readonly || loading.purpose"
          @change="updateObject('purpose')"
          show-dialog
          showLabelWhenReadOnly
        />
      </v-col>
    </v-row>
    <!-- Copyright and authority -->
    <v-row>
      <v-col>
        <AdCopyrightCrud
            v-model="editableItem"
            :style="{ position: 'relative', zIndex: editingCopyrightCrud ? 3 : 1}"
            :showRouterlinkToPublishingAuthority="false"
            :enableAddCopyright="userIsEditor"
            :enableEditCopyright="userIsEditor"
            :enableRemoveCopyright="userIsEditor"
            :enableAddPublishingAuthority="userIsEditor"
            :enableEditPublishingAuthority="userIsEditor"
            :enableRemovePublishingAuthority="userIsEditor"
            :readonly="!editingCopyrightCrud || loading.copyrightCrud"
            :loading="loading.copyrightCrud"
            class="backdrop-item"
        >
            <template #header>
            <AdCardTitle inline>
                {{ $t('copyright-and-authorities') }}
                <v-spacer />
                <AdButton type="edit" v-if="valueSetItemIsEditable && !editingCopyrightCrud" @click="editingCopyrightCrud = true"/>
                <AdButton type="cancel" v-if="editingCopyrightCrud" @click="handleCancelCopyrightCrud"/>
                <AdButton type="save"
                v-if="editingCopyrightCrud & (copyrightChanged || publishingAuthorityChanged)"
                @click="handleSaveCopyrightCrud"
                />
            </AdCardTitle>
            </template>
        </AdCopyrightCrud>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { cloneDeep, xorWith, isEqual } from 'lodash'
import AdCopyrightCrud from '@/components/Utilities/AdCopyrightCrud'
import rulesValueSet from '@/rules/valueSet'

export default {
  name: 'ValueSetMetaInformation',
  components: {
    AdCopyrightCrud
  },
  props: {
    readonly: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      editableItem: null,
      editingCopyrightCrud: false,
      loading: {
        canonicalUri: false,
        copyrightCrud: false,
        expirationDate: false,
        name: false,
        officialReleaseDate: false,
        purpose: false
      },
      rulesValueSet
    }
  },
  computed: {
    ...mapGetters('terminology', ['valueSetItem', 'valueSetActive', 'valueSetItemIsEditable', 'getValueSet']),

    copyrightChanged () {
      const originalCopyrightData = this.valueSetItem?.copyright?.map(copyright => ({ '#text': copyright['#text'], language: copyright.language })) || []
      const editedCopyrightData = this.editableItem?.copyright?.map(copyright => ({ '#text': copyright['#text'], language: copyright.language })) || []
      return !!xorWith(originalCopyrightData, editedCopyrightData, isEqual).length
    },
    publishingAuthorityChanged () {
      const originalPubAuthData = this.valueSetItem?.publishingAuthority?.map(pa => ({ addrLine: pa.addrLine, id: pa.id, name: pa.name })) || []
      const editedPubAuthData = this.editableItem?.publishingAuthority?.map(pa => {
        const result = { addrLine: pa.addrLine, id: pa.id, name: pa.name }
        if (pa.op === 'remove') {
          result.op = 'remove'
        }
        return result
      }) || []

      return !!xorWith(originalPubAuthData, editedPubAuthData, isEqual).length
    },
    expirationDate: {
      get () {
        return this.editableItem.expirationDate?.split('T')?.[0] || null
      },
      set (value) {
        const dateTime = value === null ? null : `${value}T00:00:00`
        this.editableItem.expirationDate = dateTime
      }
    },
    officialReleaseDate: {
      get () {
        return this.editableItem.officialReleaseDate?.split('T')?.[0] || null
      },
      set (value) {
        const dateTime = value === null ? null : `${value}T00:00:00`
        this.editableItem.officialReleaseDate = dateTime
      }
    },
    purpose: {
      get () {
        return this.editableItem.purpose
      },
      set (value) {
        if (!this.editableItem.purpose) {
          return this.$set(this.editableItem, 'purpose', value)
        }
        this.editableItem.purpose = value
      }
    }
  },
  methods: {
    handleCancelCopyrightCrud () {
      this.restoreEditableItem()
      this.editingCopyrightCrud = false
    },
    restoreEditableItem () {
      this.$nextTick(() => {
        this.editableItem = cloneDeep(this.valueSetItem)
      })
    },

    async handleSaveCopyrightCrud () {
      try {
        const data = { parameter: [] }
        // updates all languages of the copyright
        if (this.copyrightChanged && this.editableItem.copyright) {
          this.editableItem.copyright.forEach((copyright) => {
            if (!this.$filters.htmlHasTextContent(copyright['#text'])) {
              const copyrightToRemove = this.valueSetItem?.copyright?.find(item => item.language === copyright.language)
              if (copyrightToRemove) {
                data.parameter.push({
                  op: 'remove',
                  path: '/copyright',
                  value: {
                    copyright: copyrightToRemove
                  }
                })
              }
            } else {
              data.parameter.push({
                op: 'replace',
                path: '/copyright',
                value: {
                  copyright
                }
              })
            }
          })
        }
        // Handle changes to publishingAuthority
        if (this.publishingAuthorityChanged && this.editableItem.publishingAuthority) {
          this.editableItem.publishingAuthority.filter((pa) => Object.prototype.hasOwnProperty.call(pa, 'op'))
            .forEach(pa => {
              data.parameter.push({
                op: pa.op,
                path: '/publishingAuthority',
                value: {
                  publishingAuthority: pa
                }
              })
            })
        }

        if (!data.parameter.length) {
          return this.handleCancelCopyrightCrud()
        }
        this.loading.copyrightCrud = true
        await this.$store.dispatch('terminology/patchValueSet', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
        this.editingCopyrightCrud = false
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.loading.copyrightCrud = false
    },
    // General method for patching (switch values)
    async updateSwitchValue (key, value, valueIfTrue = 'true', valueIfFalse = 'false') {
      try {
        const data = {
          parameter: [
            {
              op: 'replace',
              path: '/' + key,
              value: value === 'true' ? valueIfTrue : valueIfFalse
            }
          ]
        }
        if (this.loading[key] !== undefined) {
          this.loading[key] = true
        }
        await this.$store.dispatch('terminology/patchValueSet', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      if (this.loading[key] !== undefined) {
        this.loading[key] = false
      }
    },
    // General method for patching string values
    async updateString (key, op = 'replace') {
      try {
        const data = {
          parameter: [
            {
              op: !this.editableItem[key] ? 'remove' : op,
              path: `/${key}`,
              value: this.editableItem[key]
            }
          ]
        }
        if (this.loading[key] !== undefined) {
          this.loading[key] = true
        }

        await this.$store.dispatch('terminology/patchValueSet', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      if (this.loading[key] !== undefined) {
        this.loading[key] = false
      }
    },
    // General method for patching array & object values
    async updateObject (key) {
      try {
        const data = {
          parameter: []
        }
        if (Array.isArray(this.editableItem[key])) {
          this.editableItem[key].forEach(item => {
            data.parameter.push({
              op: 'replace',
              path: `/${key}`,
              value: {
                [key]: item
              }
            })
          })
        } else if (typeof this.editableItem[key] === 'object') {
          data.parameter.push({
            op: 'replace',
            path: `/${key}`,
            value: {
              [key]: this.editableItem[key]
            }
          })
        } else {
          throw new Error(`editableItem.${key} is not an object`)
        }
        if (this.loading[key] !== undefined) {
          this.loading[key] = true
        }

        await this.$store.dispatch('terminology/patchValueSet', { item: this.editableItem, data })
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        this.restoreEditableItem()
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error.message || 'Error'
        this.$oops(errorMessage)
      }
      if (this.loading[key] !== undefined) {
        this.loading[key] = false
      }
    }

  },
  watch: {
    valueSetItem: {
      immediate: true,
      deep: true,
      handler (newVal, oldVal) {
        this.editableItem = cloneDeep(newVal)
      }
    }
  }

}
</script>

<style lang="scss" scoped>

.backdrop-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
}

</style>
