<template>
  <v-dialog v-model="$store.getters['terminology/showNewValueSetDialog']" width="900" persistent scrollable>
    <v-card>
      <AdCardTitle dialog>{{ $t('add-valueset') }}</AdCardTitle>
      <v-card-text class="pa-0">
        <v-stepper v-model="tabIndex" non-linear>
          <v-stepper-header>
            <template v-for="n in valueSet.steps.length">
              <v-stepper-step editable :key="n" :step="n">{{ $t('step') }} {{ n }}</v-stepper-step>
              <v-divider v-if="n < valueSet.steps.length" :key="`step-divider-${n}`"></v-divider>
            </template>
          </v-stepper-header>

          <v-stepper-items>
            <v-form ref="valuesetRef" >
              <template v-for="(attrs, stepIndex) in valueSet.steps">
                <v-stepper-content :key="`addValueSetForm${stepIndex}`" :step="stepIndex + 1">
                  <AdInfoOwl v-if="stepIndex === 0">{{ $t('add-valueset-metadata-hint')}}</AdInfoOwl>
                  <v-card outlined>
                    <v-card-text v-show="stepIndex === tabIndex - 1" class="py-5">
                        <template v-for="(attr, attrIndex) in attrs">
                          <template v-if="stepIndex > 0 && attrIndex === 0 && newValueSet.displayName">
                            <AdCardTitle :key="`${stepIndex}-${attrIndex}`" dialog class="mb-5">
                              <AdStatusDot :status="newValueSet.statusCode" tooltip class="pa-1"></AdStatusDot>
                              {{ newValueSet.displayName }}
                            </AdCardTitle>
                          </template>
                          <EditableString
                            v-if="attr === 'displayName'"
                            :key="attr"
                            v-model="newValueSet[attr]"
                            :ref="attr"
                            :required="rulesValueSet.requiredAttributes.includes(attr)"
                            :rules="rulesValueSet[attr]"
                            :label="inputLabel(attr)"
                            @blur="handleDisplayName"
                          />
                          <EditableTranslationEditor
                            v-else-if="['desc', 'purpose'].includes(attr)"
                            :editor="true"
                            :key="attr"
                            v-model="newValueSet[attr]"
                            :ref="attr"
                            :required="rulesValueSet.requiredAttributes.includes(attr)"
                            :rules="rulesValueSet[attr]"
                            :label="inputLabel(attr)"
                          />
                          <EditableDate
                          v-else-if="attr.includes('Date')"
                          :key="attr"
                          :value="formattedDate(attr)"
                          @input="storeFormattedDate($event, attr)"
                          :ref="attr"
                          :required="rulesValueSet.requiredAttributes.includes(attr)"
                          :rules="rulesValueSet[attr]"
                          :label="inputLabel(attr)"
                          />
                          <div v-else-if="attr === 'id'" :key="attr">
                            <AdInfoOwl>{{ $t('instruction-valueset-ids-optional') }}</AdInfoOwl>
                            <v-switch v-model="addIdManually" :label="$t('add-id-manually')"></v-switch>
                            <EditableOID
                              :disabled="!addIdManually"
                              v-model="newValueSet[attr]"
                              :ref="attr"
                              :error-messages="idExistsError"
                              :required="rulesValueSet.requiredAttributes.includes(attr)"
                              :rules="rulesValueSet[attr]"
                              :label="inputLabel(attr)"
                            /></div>
                            <div v-else-if="attr === 'name'" :key="attr">
                              <AdInfoOwl>{{ $t('instruction-valueset-name') }}</AdInfoOwl>
                              <EditableShortFormalName
                                v-model="newValueSet[attr]"
                                :ref="attr"
                                :label="inputLabel(attr)"
                              />
                            </div>
                          <AdCopyrightCrud
                            v-else-if="attr === 'publishingAuthority'"
                            :key="attr"
                            v-model="newValueSet"
                            :style="{ position: 'relative', zIndex: editingCopyrightCrud ? 3 : 1}"
                            :showRouterlinkToPublishingAuthority="false"
                            :enableAddCopyright="userIsEditor"
                            :enableEditCopyright="userIsEditor"
                            :enableRemoveCopyright="userIsEditor"
                            :enableAddPublishingAuthority="userIsEditor"
                            :enableEditPublishingAuthority="userIsEditor"
                            :enableRemovePublishingAuthority="userIsEditor"
                            :readonly="false"
                            inline
                          >
                             <template #header>
                               <AdInfoOwl>{{ $t('authority-copyright-inherited-automatic') }}</AdInfoOwl>
                             </template>

                          </AdCopyrightCrud>
                          <EditableString
                            v-else-if="attr !== 'id'"
                            :key="attr"
                            v-model="newValueSet[attr]"
                            :ref="attr"
                            :required="rulesValueSet.requiredAttributes.includes(attr)"
                            :rules="rulesValueSet[attr]"
                            :label="inputLabel(attr)"
                          />
                        </template>
                    </v-card-text>
                  </v-card>
                </v-stepper-content>
              </template>
            </v-form>
          </v-stepper-items>
        </v-stepper>
      </v-card-text>
      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$store.dispatch('terminology/setShowNewValueSetDialog', false)" />
        <AdButton
          v-if="tabIndex === valueSet.steps.length"
          type="add"
          :hint="$t('add')"
          @click="saveOrUpdateValueSet"
          depressed
        />
        <AdButton v-else :text="$t('next')" @click="tabIndex++" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'
import valueSet from '@/models/valueSet'
import AdCopyrightCrud from '@/components/Utilities/AdCopyrightCrud'
import rulesValueSet from '@/rules/valueSet'
import { mapGetters } from 'vuex'

export default {
  name: 'ValueSetAddWizard',
  components: {
    AdCopyrightCrud
  },
  data () {
    return {
      editingCopyrightCrud: false,
      headers: [
        { text: this.$t('select'), value: 'select', align: 'center' },
        { text: this.$t('code'), value: 'code' },
        { text: this.$t('codeSystem'), value: 'codeSystem' },
        { text: this.$t('display-name'), value: 'displayName' },
        { text: this.$t('remove'), value: 'remove', sortable: false, align: 'center' }
      ],
      idExistsError: [],
      newValueSet: {},
      rulesValueSet,
      showAddBtn: false,
      tabIndex: 1,
      valueSet: cloneDeep(valueSet),
      addIdManually: false
    }
  },
  computed: {
    ...mapGetters({
      getItemStatuses: ['server/getItemStatuses']
    }),
    formattedDate () {
      return attr => this.newValueSet[attr]?.split('T')?.[0] || this.newValueSet[attr]
    },
    inputLabel () {
      return input => {
        if (input === 'desc') {
          return this.$t('description')
        }
        const shouldBeKebabCase = [
          'displayName',
          'expirationDate',
          'officialReleaseDate',
          'publishingAuthority',
          'endorsingAuthority'
        ]
        if (shouldBeKebabCase.includes(input)) {
          return this.$t(this.camelToKebab(input))
        }

        return this.$t(input)
      }
    }
  },
  created () {
    this.initValueSet()
  },
  methods: {
    camelToKebab (string) {
      return string.replace(/([a-z])([A-Z])/g, '$1-$2').toLowerCase()
    },
    initValueSet () {
      for (const key in valueSet.model) {
        if (this.newValueSet[key] === undefined) {
          if (key === 'statusCode') {
            // Status code of the value set
            // Initially populated: set to "new"
            this.$set(this.newValueSet, key, 'new')
          } else if (key === 'id') {
            this.$set(this.newValueSet, key, '')
          } else {
            this.$set(this.newValueSet, key, cloneDeep(valueSet.model[key]))
          }
        }
      }
    },
    handleDisplayName () {
      if (!this.newValueSet.name && typeof this.newValueSet.displayName === 'string' && this.newValueSet.displayName !== '') {
        const sanatizedDisplayName = this.newValueSet.displayName
          .replace(/^[0-9,._-\s]+/g, '') // remove digits, spaces and special characters at the start
          .replace(/\s([a-z])/g, v => v[1].toUpperCase()) // make words camelCase
          .replace(/[^a-zA-Z0-9,._-]/g, '') // remove anything that is not allowed
        this.newValueSet.name = sanatizedDisplayName
      }
    },
    async saveOrUpdateValueSet () {
      try {
        if (this.$refs.valuesetRef.validate()) {
          const valueSetData = Object.fromEntries(Object.entries(this.newValueSet).filter(([k, v]) => ![null, undefined, ''].includes(v)))
          const data = { ...valueSetData, items: this.$store.getters['terminology/shoppingCart'] }

          this.$store.commit('terminology/preserveValueSetItemOnSelect', true)
          const newValueSet = await this.$store.dispatch('terminology/postValueSet', { data })
          this.$store.commit('terminology/setShowNewValueSetDialog', false)
          this.$notify(this.$t('submission-save-success-label'), 'success')

          const routeToGoBackTo = this.$store.state.terminology.createValuesetFrom
          if (routeToGoBackTo) {
            if (routeToGoBackTo.name?.includes('terminology-associations-')) {
              this.$store.commit('terminology/setOpenAddValuesetAssociationModalOnEnter', true)
            }
            this.$router.push(routeToGoBackTo)
          } else {
            this.$router.push({
              name: newValueSet?.id && newValueSet?.effectiveDate ? 'terminology-value-set-version' : 'value-set',
              params: {
                id: newValueSet?.id,
                version: newValueSet?.effectiveDate
              }
            })
              .then(() => this.$store.commit('terminology/preserveValueSetItemOnSelect', false))
              .catch(() => {})
          }
        } else {
          // Get fields that could have a validation error
          const attributes = Object.keys(rulesValueSet).filter(k => k !== 'requiredAttributes')
          // Get fields that do have a validation error
          const hasError = attributes.filter(attr => this.$refs[attr]?.[0]?.hasError)
          // Select the correct tab
          const index = valueSet.steps.findIndex(step => step.some(item => item === hasError[0]))
          if (index > -1) {
            this.tabIndex = index + 1
          }
          // Focus on the input
          this.$nextTick(() => {
            if (hasError && hasError[0] && this.$refs[hasError[0]]) {
              this.$refs[hasError[0]][0].focus()
            }
          })
        }
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error || 'Error'
        this.$oops(errorMessage)
      }
    },
    storeFormattedDate (value, attr) {
      if (!value) {
        return null
      }
      const formatted = `${value}T00:00:00`
      this.newValueSet[attr] = formatted
    }
  }
}
</script>
