<template>
  <thead>
    <tr :class="{'blue lighten-5': coloredHeaders}">
      <th v-if="!hideLevelType" width="1">{{ $t('level') }}/{{ $t('type') }}</th>
      <th width="1">
        <span v-if="hasIncludeOrExclude" class="text-no-wrap">{{ $t('code') }} / {{ $t('method') }}</span>
        <template v-else>{{ $t('code') }}</template>
      </th>
      <th width="1" v-if="hasOrdinal">{{ $t('ordinal') }}</th>
      <th>
        <span v-if="hasIncludeOrExclude" class="text-no-wrap">{{ $t('display-name') }} / {{$t('definition') }}</span>
        <template v-else>{{ $t('display-name') }}</template>
      </th>
      <th class="text-no-wrap">
        {{ $t('codesystem') }}
      </th>
    </tr>
  </thead>
</template>

<script>
export default {
  props: {
    // used to determine if extra headers are needed
    items: {
      type: Array,
      default: () => ([])
    },
    coloredHeaders: {
      type: Boolean,
      default: false
    },
    hideLevelType: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    hasIncludeOrExclude () {
      return !!this.items?.some(item => item.is === 'include' || item.is === 'exclude')
    },
    hasOrdinal () {
      return this.items.some((item) => item.ordinal)
    }
  }
}
</script>
