<template>
  <v-dialog
    :value="showDialog"
    max-width="1100"
    scrollable
    persistent
  >
    <AdArtefactSelection
      v-if="modals.artefactSelection.tree"
      v-model="modals.artefactSelection.open"
      :tree="modals.artefactSelection.tree"
      :exclude="modals.artefactSelection.selected"
      :versionProperty="modals.artefactSelection.versionProp"
      :treeFilters="modals.artefactSelection.filters"
      :noDynamicVersions="modals.artefactSelection.noDynamicVersions"
      @selected="modals.artefactSelection.selectHandler"
      @close="resetArtefactSelectionModal"
    />
    <v-card :loading="loading">
      <AdCardTitle dialog>{{(crudAction === 'U') ? $t('edit') : $t('add')}}</AdCardTitle>
      <v-card-text v-if="!loading" class="pa-5">

        <v-radio-group v-if="crudAction === 'C' || crudAction === 'U'" v-model="selector" row mandatory>
          <v-radio :label="$t('complete-codesystem')" value="completeCodeSystem"></v-radio>
          <v-radio :label="$t('include-valueset')" value="includeValueSet"></v-radio>
          <v-radio v-for="concept in valueSetConceptList" :key="concept.name" :label="valueSetConceptLabel(concept.name)" :value="concept.name" />
          <v-radio :label="$t('postcoordinated')" value="postCoordinated" />
          <v-radio :label="$t('sno-poem')" value="snoPoem" />
        </v-radio-group>
        <v-fade-transition hide-on-leave>
          <v-card outlined v-if="['C', 'U'].includes(crudAction) && !['includeValueSet', 'postCoordinated', 'snoPoem'].includes(selector)" class="mb-5" :loading="$store.state.terminology.loading.codeSystemItems">
            <v-card-text class="pa-5">
              <div class="d-flex align-center">
                <!-- Hidden input for easy form validation -->
                <v-text-field
                  type="hidden"
                  class="d-none"
                  :value="selectedCodeSystem ? selectedCodeSystem.id : null"
                  :rules="[v => v != null]"
                />
                <AdButton
                  :type="selectedCodeSystem ? 'edit' : 'add'"
                  :disabled="!$store.state.terminology.loaded.codeSystemItems"
                  @click="startSelectCodesystem"
                >
                  {{ `${$t('select-codesystem')}${(activeItem.is !== 'completeCodeSystem') ? ` ${$t('for')} ${$t('context')}` : ''}` }}
                </AdButton>
                <AdArtefactDetailsCard v-if="selectedCodeSystem && selectedCodeSystem.id" :object="{...selectedCodeSystem, type: 'CS'}">
                  <template #activator.append>
                    <AdButton type="erase" small list noMarginRight @click.stop="handleDeSelectCodeSystem" />
                  </template>
                </AdArtefactDetailsCard>
              </div>
            </v-card-text>
          </v-card>
        </v-fade-transition>

        <v-form
          v-if="showDialog"
          ref="activeItemRef"
          v-model="formIsValid"
          @submit.prevent
        >
          <template v-for="(supportedAttrs, key) in meta">
            <div :key="key" v-if="selector && selector === key">
              <v-card outlined class="mb-5">
                <v-card-text class="pa-5">
                  <v-row>
                    <v-col v-if="supportedAttrs.includes('type') && key === 'completeCodeSystem'">
                      <EditableDropdown
                        v-model="activeItem.type"
                        item-value="value"
                        item-text="text"
                        :items="decorTypesCompleteCodestems"
                        :label="$t('type')"
                        clearable
                        @click:clear="handleDeleteCompleteCodeSystemType"
                      />
                    </v-col>
                    <v-col v-if="key === 'includeValueSet'">
                      <div class="d-flex align-center">
                        <!-- Hidden input for easy form validation -->
                        <v-text-field
                          type="hidden"
                          class="d-none"
                          :value="valueSetInclude ? valueSetInclude.id : null"
                          :rules="[v => v != null]"
                        />
                        <AdButton
                          :type="valueSetInclude ? 'edit' : 'add'"
                          :disabled="!$store.state.terminology.loaded.valueSet"
                          @click="startSelectValueset"
                        >
                          {{ $t('select-valueset') }}
                        </AdButton>
                        <AdArtefactDetailsCard v-if="valueSetInclude && valueSetInclude.id" :object="{...valueSetInclude, type: 'VS'}">
                          <template #activator.append>
                            <AdButton type="erase" small list noMarginRight @click.stop="handleValueSetIncludeChange(null)" />
                          </template>
                        </AdArtefactDetailsCard>
                      </div>
                    </v-col>
                    <v-col v-if="supportedAttrs.includes('level')">
                      <EditableLevel
                        v-model="activeItem.level"
                        :label="$t('level')"
                        :required="valueSetConceptRules.requiredAttributes.includes('level')"
                      />
                    </v-col>
                    <v-col v-if="supportedAttrs.includes('type') && key !== 'completeCodeSystem'">
                      <EditableDropdown
                        v-model="activeItem.type"
                        :items="vocabTypes"
                        :label="$t('type')"
                        :required="valueSetConceptRules.requiredAttributes.includes('type')"
                        :rules="valueSetConceptRules.type"
                      />
                    </v-col>
                    <v-col v-if="supportedAttrs.includes('op')">
                      <EditableDropdown
                        v-model="activeItem.op"
                        item-value="value"
                        item-text="text"
                        :items="intensionalOperators"
                        :label="$t('intensional-op')"
                        :required="valueSetConceptRules.requiredAttributes.includes('op')"
                        :rules="valueSetConceptRules.op"
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <PostCoordinatedCodeEditor
                        v-if="selector === 'postCoordinated' && !$store.state.terminology.loading.codeSystemItems"
                        @change="updateActivePostCoordinatedItem"
                        :code="initialCode"
                        :displayName="initialDisplayName"
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <SnoPoemEditor
                        v-if="selector === 'snoPoem' && !$store.state.terminology.loading.questionnaireItems"
                        @change="updateActivePostCoordinatedItem"
                        :code="initialCode"
                        :displayName="initialDisplayName"
                      />
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col v-if="supportedAttrs.includes('code') && !['postCoordinated', 'snoPoem'].includes(key)">
                      <EditableString
                        v-model="activeItem.code"
                        ref="code"
                        :label="$t('code')"
                        :rules="valueSetConceptRules.code"
                        :required="valueSetConceptRules.requiredAttributes.includes('code')"
                      />
                    </v-col>
                    <v-col v-if="activeItem.is === 'concept' && !['postCoordinated', 'snoPoem'].includes(key)" cols="1">
                      <AdButton
                        class="float-left"
                        v-if="activeItem.is === 'concept'"
                        :icon= validateCodeIcon
                        :hint="$t('validate-code')"
                        list
                        :color=validateCodeColor
                        @click="validateConcept(activeItem.codeSystem,activeItem.code,activeItem.displayName)"
                      />
                    </v-col>
                    <v-col v-if="supportedAttrs.includes('displayName') && !['postCoordinated', 'snoPoem'].includes(key)">
                      <EditableString
                        v-model.trim="activeItem.displayName"
                        ref="displayName"
                        :label="$t('display-name')"
                        :rules="valueSetConceptRules.displayName"
                        :required="valueSetConceptRules.requiredAttributes.includes('displayName')"
                      />
                    </v-col>
                    <v-col v-if="supportedAttrs.includes('ordinal')">
                      <EditableString
                        v-model.trim="activeItem.ordinal"
                        ref="ordinal"
                        :label="$t('ordinal')"
                        :required="valueSetConceptRules.requiredAttributes.includes('ordinal')"
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col v-if="supportedAttrs.includes('codeSystem') && !['postCoordinated', 'snoPoem'].includes(key)">
                      <EditableString
                        v-model="activeItem.codeSystem"
                        ref="codeSystem"
                        :label="$t('codesystem')"
                        :rules="valueSetConceptRules.codeSystem"
                        :required="valueSetConceptRules.requiredAttributes.includes('codeSystem')"
                        @change="handleChange('codeSystem')"
                        :disabled="!!selectedCodeSystem"
                      />
                    </v-col>
                    <v-col v-if="supportedAttrs.includes('flexibility') && key !== 'includeValueSet'">
                      <EditableString
                        v-if="!!selectedCodeSystem"
                        :value="flexibilityForDisplay(activeItem.flexibility)"
                        ref="flexibility"
                        :label="$t('flexibility')"
                        :required="valueSetConceptRules.requiredAttributes.includes('flexibility')"
                        :disabled="true"
                      />
                      <EditableString
                        v-else
                        v-model="activeItem.flexibility"
                        ref="flexibility"
                        :label="$t('flexibility')"
                        :required="valueSetConceptRules.requiredAttributes.includes('flexibility')"
                      />
                    </v-col>
                    <v-col v-if="supportedAttrs.includes('codeSystemName')">
                      <EditableString
                        v-model="activeItem.codeSystemName"
                        ref="codeSystemName"
                        :rules="valueSetConceptRules.codeSystemName"
                        :required="valueSetConceptRules.requiredAttributes.includes('codeSystemName')"
                        :label="$t('codesystem-name')"
                        :disabled="!!selectedCodeSystem"
                      />
                    </v-col>
                    <v-col v-if="supportedAttrs.includes('exception')">
                      <EditableSwitch
                        v-model="activeItem.exception"
                        ref="exception"
                        :label="$t('exception')"
                      />
                    </v-col>
                  </v-row>
                      <AdInfoOwl error  v-if="activeItem.is === 'concept' && showValidationResult">
                        <v-row v-for="(message, m) in validationResult.message" :key="m" align="center" dense>
                          <v-col cols="3" class="text-body-1 font-weight-medium">
                            {{ $t(message.type) }}
                          </v-col>
                          <v-col v-if="message.designation">
                            <v-simple-table dense class="pt-2" light>
                              <tbody>
                                <tr
                                  v-for="(designation, d) in message.designation"
                                  :key="d" class="d-flex"
                                >
                                  <td>
                                    <div style="width: 24px; float: left">
                                      {{ designation.lang.substring(0, 2) }}
                                    </div>
                                    <flag :squared="false" :iso="designation.lang.substring(3,5)"></flag>
                                  </td>
                                  <td class="text-left">{{designation['#text']}}</td>
                                </tr>
                              </tbody>
                            </v-simple-table>
                          </v-col>
                          <v-col v-if="message.association">
                            <v-simple-table dense light class="pt-2">
                              <tr
                                  v-for="(association, a) in message.association"
                                  :key="a" class="d-flex"
                                >
                                <td class="pl-2">
                                  {{ $filters.getMatchingTranslation({ value: association.refsetLabel }) }}:
                                </td>
                                <td class="pl-2">
                                  <strong>{{association.targetComponentId}}</strong>
                                  | {{ $filters.getMatchingTranslation({ value: association.targetLabel }) }}
                                </td>
                              </tr>
                            </v-simple-table>
                          </v-col>
                        </v-row>
                      </AdInfoOwl>
                  <!-- Filter definitions for complete code systems -->
                  <template v-if="key === 'completeCodeSystem' && supportedAttrs.includes('filter') &&  hasFilterDefinitions">
                    <v-card outlined v-for="(filter, i) in activeItem.filter" :key="`filterDef-${i}`" class="mb-5">
                      <v-card-text class="pa-5">
                        <v-row>
                          <!-- Property -->
                          <v-col>
                            <v-autocomplete
                              class="required"
                              v-model="filter.property"
                              :items="completeCodeSystemProperties"
                              :label="$t('property')"
                              item-value="code"
                              :rules="[v => !!v]"
                              :loading="$store.state.terminology.loading.codeSystemItem"
                            >
                              <template #selection="{ item }">
                                {{ item.code }}
                              </template>

                              <template #item="{ item }">
                                {{ item.code }}
                              </template>
                            </v-autocomplete>
                          </v-col>
                          <!-- Operator -->
                          <v-col>
                            <EditableDropdown
                              v-model="filter.op"
                              item-value="value"
                              item-text="text"
                              :items="intensionalOperators"
                              :label="$t('intensional-op')"
                              :required="true"
                            />
                          </v-col>
                          <!-- Value -->
                          <v-col>
                            <EditableString
                              v-model="filter.value"
                              :label="$t('value')"
                              required
                            />
                          </v-col>

                          <v-col :cols="1" class="d-flex align-center justify-end">
                            <AdButton
                              type="delete"
                              list
                              @click="removeFilterDefinition(filter)"
                            />
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </template>
                </v-card-text>
              </v-card>
              <template v-if="supportedAttrs.includes('designation')">
                <template v-for="dType in designationType">
                  <AdButton
                    v-if="!activeItem.designation || projectLocalesAvailable(dType.value).length > 0"
                    :key="dType.value"
                    type="add"
                    small
                    @click="addDesignation(dType.value)"
                  >{{dType['#text']}}
                  </AdButton>
                </template>
                <template v-for="(designation, i) in activeItem.designation">
                  <v-card outlined :key="`designation-${i}`" class="mb-5">
                    <v-card-text class="pa-5">
                      <v-row>
                        <v-col>
                          <v-select
                            v-model="designation.type"
                            :items="designationType"
                            ref="type"
                            item-text="#text"
                            item-value="value"
                            :required="true"
                            :disabled="projectLocalesAvailable(designation.type).length === 0"
                            :label="$t('type')"
                          ></v-select>
                        </v-col>
                        <v-col>
                          <v-combobox
                            v-model="designation.language"
                            :clearable="false"
                            :items="projectLocalesAvailable(designation.type)"
                            :required="true"
                            :label="$t('language')"
                            :readonly="false"
                          >
                            <template v-slot:item="{ item }">
                              <div>
                                <div style="width: 24px; float: left">
                                  {{ item.substring(0, 2) }}
                                </div>
                                <flag
                                  :squared="Boolean(0)"
                                  :iso="item.substring(3, 5)"
                                ></flag>
                              </div>
                            </template>
                          </v-combobox>
                        </v-col>
                        <v-col :cols="2">
                          <AdButton
                            type="delete"
                            small
                            @click="removeDesignation(designation)"
                          />
                        </v-col>
                      </v-row>
                      <EditableString
                        v-model="designation.displayName"
                        ref="desc"
                        :required="true"
                        :label="$t('display-name')"
                      />
                    </v-card-text>
                  </v-card>
                </template>
              </template>
              <template v-if="supportedAttrs.includes('desc')">
                <v-spacer/>
                <AdButton v-if="!activeItem.desc && enableAddDesciption" type="add" small @click="addDescription">{{$t('add-description')}}</AdButton>
                <EditableTranslationEditor
                  v-if="activeItem.desc"
                  v-model="activeItem.desc"
                  editor
                  ref="desc"
                  :label="$t('description')"
                  :locales="projectLocales"
                />
              </template>
              <template v-if="supportedAttrs.includes('filter')">
                <AdButton
                  type="add"
                  :text="$t('filter-definition')"
                  small
                  @click="addFilterDefinition"
                />
              </template>
            </div>
          </template>
        </v-form>
      </v-card-text>
      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="$emit('cancel')"/>
        <AdButton v-if="crudAction === 'C'" type="add" @click="addItem('activeItemRef')" :disabled="!formIsValid" />
        <AdButton v-if="crudAction === 'C'" type="add" :text="$t('add-another-item')" @click="addItem('activeItemRef', true)" :disabled="!formIsValid" />
        <AdButton v-if="crudAction === 'U'" type="save" @click="updateItem('activeItemRef')" :disabled="!formIsValid" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import EditableLevel from '@/components/Utilities/Editable/EditableString/EditableLevel'
import AdArtefactSelection from '@/components/Utilities/AdArtefactSelection'
import { mapGetters } from 'vuex'
import { cloneDeep } from 'lodash'
import { isCancel } from 'axios'
import valueSetConceptRules from '@/rules/valueSetConcept.js'
import PostCoordinatedCodeEditor from '@/components/Terminology/PostCoordinatedCodeEditor'
import SnoPoemEditor from '@/components/Terminology/SnoPoemEditor'
import ConceptsService from '@/services/ConceptsService'

export default {
  name: 'ValueSetConceptCrud',
  props: {
    propItem: {
      type: Object
    },
    showDialog: {
      type: Boolean,
      required: false
    },
    crudAction: {
      type: String,
      default: 'C'
    }
  },
  components: {
    AdArtefactSelection,
    EditableLevel,
    PostCoordinatedCodeEditor,
    SnoPoemEditor
  },
  data () {
    return {
      activeItem: {
        is: null
      },
      // option to determine if a type should have default values
      // for now, only type 'concept' has default values
      // in the handler of showDialog, only in case of crudAction === 'C' (create)
      default: {
        concept: {
          level: '0',
          type: 'L'
        },
        postCoordinated: {
          level: '0',
          type: 'L'
        },
        exception: {
          level: '0',
          type: 'L'
        }
      },
      initialCode: null,
      initialDisplayName: null,
      selectedCodeSystem: null,
      // meta is used for
      // 1. show/hide inputs in the view
      // 2. and to cleanup on save / add
      meta: {
        completeCodeSystem: ['is', 'type', 'codeSystem', 'flexibility', 'codeSystemName', 'filter'],
        includeValueSet: ['is', 'ref', 'flexibility', 'exception'],
        concept: ['is', 'level', 'type', 'code', 'displayName', 'ordinal', 'codeSystem', 'desc', 'designation'],
        include: ['is', 'op', 'code', 'displayName', 'codeSystem', 'desc', 'designation'],
        exclude: ['is', 'op', 'code', 'displayName', 'codeSystem', 'desc', 'designation'],
        exception: ['is', 'level', 'type', 'code', 'displayName', 'codeSystem', 'desc', 'designation'],
        postCoordinated: ['is', 'code', 'displayName', 'codeSystem', 'level', 'type'],
        snoPoem: ['is', 'code', 'displayName', 'codeSystem', 'level', 'type']
      },
      modals: {
        artefactSelection: {
          open: false,
          selected: null,
          tree: null,
          selectHandler: null,
          filters: []
        }
      },
      selector: 'concept',
      formIsValid: false,
      valueSetConceptRules,
      valueSetInclude: null,
      validationResult: null,
      validateCodeColor: 'grey',
      validateCodeIcon: 'mdi-check-circle',
      showValidationResult: false
    }
  },
  computed: {
    ...mapGetters({
      getDecorTypes: ['server/getDecorTypes']
    }),
    abortController: {
      get () {
        return this.$store.getters['terminology/abortController']
      },
      set (value) {
        this.$store.commit('terminology/setAbortController', value)
      }
    },
    completeCodeSystemProperties () {
      const codesystemProps = this.$store.getters['terminology/codeSystemItem']?.property || []
      const additional = [
        {
          code: 'child'
        },
        {
          code: 'parent'
        }
      ]
      return [...codesystemProps, ...additional]
    },
    decorTypes () {
      return this.getDecorTypes?.data
    },
    decorTypesCompleteCodestems () {
      return this.vocabTypes.filter((vocabType) => vocabType.value === 'D')
    },
    designationType () {
      return this.decorTypes?.DesignationType?.[0]?.enumeration?.map((e) => ({
        '#text': this.$filters.getMatchingTranslation({ value: e.label, locale: this.$i18n.locale }),
        value: e.value
      })
      ) || []
    },
    enableAddDesciption () {
      return ['concept', 'include', 'exclude', 'exception'].includes(this.selector)
    },
    enableIntensionalOperators () {
      return ['include', 'exclude'].includes(this.selector)
    },
    flexibilityForDisplay () {
      return flex => {
        if (!flex) return ''
        if (flex === 'dynamic') return this.$t('dynamic')
        return this.$filters.formatDate(flex)
      }
    },
    fullValueSetList () {
      const list = this.$store.getters['terminology/getFullValueSetList']({ includeDynamic: true })
      const currentValueSet = this.$store.getters['terminology/valueSetItem']
      return list.filter(vs => currentValueSet?.id !== vs.id)
    },
    hasFilterDefinitions () {
      return this.activeItem?.filter?.length
    },
    intensionalOperators () {
      return this.decorTypes?.IntensionalOperators?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    },
    loading () {
      return this.$store.state.terminology.loading.codeSystemItems
    },
    projectLocalesAvailable () {
      // return avaiable locale per type of designation
      // only needed for fully specified name (fsn)
      return (type) => {
        return this.projectLocales.filter((locale) => !this.activeItem.designation || !this.activeItem.designation.some((designation) => type === 'fsn' && designation.type === type && designation.language === locale))
      }
    },
    valueSetConceptLabel () {
      return input => input === 'include' ? this.$t('inclusion') : this.$t(input)
    },
    valueSetConceptList () {
      if (this.decorTypes?.ValueSetConceptList?.[0]?.element) {
        return this.decorTypes.ValueSetConceptList[0].element
      } else {
        return []
      }
    },
    vocabTypes () {
      return this.decorTypes?.VocabType?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    },
    treeCodesystems () {
      return {
        artefact: 'CS',
        name: this.$t('codesystems'),
        icon: 'mdi-format-list-bulleted-type',
        loading: this.$store.state.terminology.loading.codeSystemItems,
        loaded: this.$store.state.terminology.loaded.codeSystemItems,
        editable: false,
        menu: false,
        items: this.$store.getters['terminology/codeSystemItems'],
        key: 'uuid',
        text: (item) => item.versionLabel ? `${item.displayName} (${item.versionLabel})` : item.displayName,
        children: null
      }
    },
    treeValuesets () {
      return {
        artefact: 'VS',
        name: this.$t('valuesets'),
        icon: 'mdi-heart',
        loading: this.$store.state.terminology.loading.valueSet,
        loaded: this.$store.state.terminology.loaded.valueSet,
        menu: false,
        insertable: false,
        editable: false,
        items: this.$store.state.terminology.valueSet,
        key: 'uuid',
        text: (item) => item.versionLabel ? `${item.displayName} (${item.versionLabel})` : item.displayName,
        children: null
      }
    }
  },
  watch: {
    selectedCodeSystem: {
      immediate: true,
      handler (newVal) {
        if (newVal) {
          // lookup and set the codeSystemName for the choosen codesystem
          // only in case of Complete Code System
          const codeSystemId = newVal.id || newVal.ref
          const codeSystemFlexibility = newVal.flexibility || newVal.effectiveDate || null
          const codeSystemName = newVal.name ? this.$filters.getMatchingTranslation({ value: newVal.name }) : ''
          this.$set(this.activeItem, 'codeSystem', codeSystemId)
          this.$set(this.activeItem, 'flexibility', codeSystemFlexibility)
          this.$set(this.activeItem, 'codeSystemName', codeSystemName)
          if (this.selector === 'completeCodeSystem') {
            // // Fetch details of the codesystem (needed for completeCodeSystemProperties)
            if (this.$store.getters['terminology/codeSystemItem']?.id !== codeSystemId) {
              this.fetchSelectedCodeSystem()
            }
          }
        }
      }
    },
    selector: {
      immediate: true,
      async handler (newVal, oldVal) {
        if (!newVal) {
          return
        }
        if (oldVal === 'postCoordinated' && this.$refs.activeItemRef) {
          await this.$nextTick()
          this.$refs.activeItemRef.resetValidation()
        }

        if (['includeValueSet', 'completeCodeSystem'].includes(newVal)) {
          this.$set(this.activeItem, 'is', 'include')
        } else if (newVal === 'postCoordinated') {
          this.$set(this.activeItem, 'is', 'concept')
        } else if (newVal === 'snoPoem') {
          this.$set(this.activeItem, 'is', 'concept')
        } else {
          this.$set(this.activeItem, 'is', newVal)
        }

        if (newVal === 'completeCodeSystem') {
          if (this.activeItem?.type !== 'D') {
            delete this.activeItem.type // prevent sending unallowed types to API
          }
          // Fetch details of the codesystem (needed for completeCodeSystemProperties)
          const { id: currentCsId, ref: currentCsRef } = this.$store.getters['terminology/codeSystemItem'] || {}
          if (
            oldVal &&
            this.selectedCodeSystem &&
            (
              !(currentCsId || currentCsRef) ||
              ![currentCsId, currentCsRef].includes(this.activeItem.codeSystem)
            )
          ) {
            this.fetchSelectedCodeSystem()
          }
          this.setDefaultsForSelector()
        }
      }
    },
    showDialog: {
      immediate: true,
      async handler (newVal) {
        if (newVal) {
          if (!this.$store.getters['terminology/codeSystemItems'] || this.$store.getters['terminology/codeSystemItems']?.length === 0) {
            // only collect when no codesystems are loaded (yet)
            await this.$store.dispatch('terminology/getCodeSystemList', { prefix: this.projectInFocus.prefix })
              .catch(error => {
                const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
                this.$oops(errorMessage)
              })
          }
          if (this.crudAction === 'C') {
            this.$set(this.activeItem, 'is', ['includeValueSet', 'completeCodeSystem'].includes(this.selector) ? 'include' : this.selector)
            this.setDefaultsForSelector()
          } else if (this.crudAction === 'U') {
            if (this.propItem) {
              // already cloned in parent component
              const isValueSetInclude = this.propItem.is === 'include' && this.propItem.ref
              const isCompleteCodeSystemInclude = this.propItem.is === 'include' && !this.propItem.ref && !this.propItem.op && !this.propItem.code
              const isPostCoordinated = this.propItem.is === 'concept' && /^[\d]+:\d+=\d+/.test(this.propItem.code)
              if (isValueSetInclude) {
                this.selector = 'includeValueSet'
              } else if (isCompleteCodeSystemInclude) {
                this.selector = 'completeCodeSystem'
              } else if (isPostCoordinated) {
                this.selector = 'postCoordinated'
              } else {
                this.selector = this.propItem.is
              }
              this.activeItem = this.propItem
              this.initialDisplayName = this.propItem.displayName
              this.initialCode = this.propItem.code
            }
          }

          // If value set list is not available, fetch it
          if (!this.$store.getters['terminology/getValueSet']?.length) {
            this.$store.dispatch('terminology/getValueSetList', { resolveit: true, sort: 'displayName' })
          }
        } else {
          // The dialog is closed
          this.activeItem = {
            is: null
          }
          this.selectedCodeSystem = null
          this.clearValidationResult()
        }
      }
    }
  },
  methods: {
    async addItem (formName, keepOpen = false) {
      if (this.$refs[formName].validate() === true) {
        this.checkAndCleanupActiveItemBeforeUpdateOrAdd()
        this.$emit('add', { item: cloneDeep(this.activeItem), keepOpen })

        if (!keepOpen) {
          return
        }

        if (this.$refs.activeItemRef) {
          this.$refs.activeItemRef.resetValidation()
        }

        if (this.selector === 'concept') {
          const toDelete = ['code', 'displayName', 'ordinal', 'designation']

          toDelete.forEach(prop => {
            this.$delete(this.activeItem, prop)
          })
        } else if (this.selector === 'completeCodeSystem') {
          this.selectedCodeSystem = null
          this.activeItem = {
            is: 'include'
          }
        } else if (this.selector === 'includeValueSet') {
          this.valueSetInclude = null
          this.activeItem = {
            is: 'include'
          }
        } else if (['include', 'exclude', 'exception'].includes(this.selector)) {
          const toDelete = ['code', 'displayName', 'designation']
          toDelete.forEach(prop => {
            this.$delete(this.activeItem, prop)
          })
        }
        this.setDefaultsForSelector()
      }
    },
    updateItem (formName) {
      if (this.$refs[formName].validate() === true) {
        this.checkAndCleanupActiveItemBeforeUpdateOrAdd()
        this.$emit('update', cloneDeep(this.activeItem))
      }
    },
    async handleDeleteCompleteCodeSystemType () {
      // Backend api does not allow null or '', only valid values or nothing at all
      await this.$nextTick()
      delete this.activeItem.type
    },
    handleValueSetIncludeChange (vs) {
      this.valueSetInclude = vs
      if (vs == null) {
        this.$delete(this.activeItem, 'ref')
        this.$delete(this.activeItem, 'flexibility')
        return
      }
      const { id, effectiveDate, flexibility } = vs
      this.activeItem.ref = id
      this.activeItem.flexibility = flexibility === 'dynamic' ? 'dynamic' : effectiveDate
    },
    setDefaultsForSelector () {
      if (this.default[this.selector] != null) {
        // set defaults for selected selector (type )
        Object.keys(this.default[this.selector]).forEach((attr) => {
          if (this.activeItem[attr] == null) {
            this.$set(this.activeItem, attr, cloneDeep(this.default[this.selector][attr]))
          }
        })
      }
    },
    fetchSelectedCodeSystem () {
      if (!this.selectedCodeSystem) {
        console.error('No selectedCodeSystem')
        return
      }
      // Abort pending request
      if (this.abortController) {
        this.abortController.abort('New codeSystem selected')
      }

      // Set up abortController
      this.abortController = new AbortController()
      return this.$store.dispatch('terminology/getCodeSystem', {
        id: this.selectedCodeSystem.id,
        ref: this.selectedCodeSystem.ref || null,
        effectiveDate: this.selectedCodeSystem.effectiveDate,
        abortController: this.abortController
      }).then(() => {
        this.abortController = null
      })
        .catch(error => {
          if (isCancel(error)) {
            // Don´t show an error message if the user aborts the request
            return
          }
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    },

    checkAndCleanupActiveItemBeforeUpdateOrAdd () {
      // Avoid adding inputs that are not allowed
      // Caused by adding inputs and last minute change of selector (type of concept)
      if (this.meta[this.selector] != null && this.meta[this.selector] instanceof Array) {
        Object.keys(this.activeItem).forEach((attr) => {
          if (!this.meta[this.selector].includes(attr)) {
            // not included, so remove if from the activeItem and do not offer to backend
            this.$delete(this.activeItem, attr)
          }
        })
      }
    },
    addDescription () {
      if (this.activeItem.desc == null) {
        this.$set(this.activeItem, 'desc', [])
      }
    },
    codesystemsFilter (item, queryText) {
      const name = this.$filters.getMatchingTranslation({ value: item.name }).toLowerCase()
      const search = queryText.toLowerCase()
      return name.includes(search)
    },
    handleChange (attribute) {
      /**
       * For now lookup the codeSystemName for the convenience of the user
       * Only for Create completeCodeSystem.
       */
      if (
        attribute === 'codeSystem' &&
        this.crudAction === 'C' &&
        this.activeItem.codeSystem
      ) {
        if (this.activeItem.codeSystemName == null) this.$set(this.activeItem, 'codeSystemName', null)
        const foundCodeSystemItemDisplayName = this.$store.state.terminology.codeSystemItems.find((set) => set.id === this.activeItem.codeSystem)?.displayName
        if (this.activeItem.codeSystemName !== foundCodeSystemItemDisplayName) {
          this.activeItem.codeSystemName = foundCodeSystemItemDisplayName
        }
      }
    },
    addDesignation (type) {
      if (this.activeItem?.designation == null) {
        this.$set(this.activeItem, 'designation', [])
      }
      const language = this.projectLocalesAvailable(type)?.[0] || this.projectInFocus?.defaultLanguage || null
      this.activeItem.designation.push({
        displayName: null,
        language,
        type
      })
    },
    addFilterDefinition () {
      if (this.activeItem?.filter == null) {
        this.$set(this.activeItem, 'filter', [])
      }
      this.activeItem.filter.push({
        property: null,
        op: null,
        value: null
      })
    },
    removeDesignation (designation) {
      const index = this.activeItem.designation.indexOf(designation)
      if (index > -1) {
        this.activeItem.designation.splice(index, 1)
      }
    },
    removeFilterDefinition (filter) {
      const index = this.activeItem?.filter?.indexOf(filter)
      if (index > -1) {
        this.activeItem.filter.splice(index, 1)
      }
    },
    valueSetFilter (item, queryText) {
      const name = this.$filters.getMatchingTranslation({ value: item.name })?.toLowerCase()
      const flexibility = item.flexibility?.toLowerCase() || item.effectiveDate
      const search = queryText.toLowerCase()
      return name?.includes(search) || flexibility?.includes(search)
    },
    resetArtefactSelectionModal () {
      this.modals.artefactSelection.tree = null
      this.modals.artefactSelection.selected = null
      this.modals.artefactSelection.versionProp = null
      this.modals.artefactSelection.selectHandler = null
      this.modals.artefactSelection.filters = []
    },
    startSelectValueset () {
      this.modals.artefactSelection.tree = this.treeValuesets
      this.modals.artefactSelection.selected = []
      if (this.$store.getters['terminology/valueSetItem']) {
        this.modals.artefactSelection.selected.push(this.$store.getters['terminology/valueSetItem'])
      }
      this.modals.artefactSelection.noDynamicVersions = true
      if (this.valueSetInclude) {
        this.modals.artefactSelection.selected.push(this.valueSetInclude)
      }
      this.modals.artefactSelection.versionProp = 'valueSet'
      this.modals.artefactSelection.open = true
      this.modals.artefactSelection.selectHandler = this.handleValueSetIncludeChange
    },
    startSelectCodesystem () {
      this.modals.artefactSelection.tree = this.treeCodesystems
      this.modals.artefactSelection.selected = []
      this.modals.artefactSelection.noDynamicVersions = false
      if (this.selectedCodeSystem) {
        this.modals.artefactSelection.selected.push(this.selectedCodeSystem)
      }
      this.modals.artefactSelection.versionProp = 'codeSystem'
      this.modals.artefactSelection.open = true
      this.modals.artefactSelection.selectHandler = (cs) => {
        this.selectedCodeSystem = cs
      }
    },
    handleDeSelectCodeSystem () {
      this.selectedCodeSystem = null
    },
    updateActivePostCoordinatedItem ({ code, displayName, codeSystem }) {
      this.activeItem.code = code
      this.activeItem.displayName = displayName
      this.activeItem.codeSystem = codeSystem
    },
    async validateConcept (codeSystemId, code, displayName) {
      try {
        this.validationResult = (await ConceptsService.validateCode({ codeSystemId, code, displayName })).data
        if (this.validationResult.message) {
          if (this.validationResult.message[0].type === 'ok') {
            this.validateCodeColor = 'green'
            this.validateCodeIcon = 'check'
            this.showValidationResult = false
          } else if (this.validationResult.message[0].type === 'codesystemNotfound') {
            this.validateCodeColor = 'orange'
            this.showValidationResult = true
          } else {
            this.validateCodeColor = 'red'
            this.validateCodeIcon = 'warning'
            this.showValidationResult = true
          }
        }
      } catch (err) {
        console.log(err)
      }
    },
    clearValidationResult () {
      this.validationResult = null
      this.validateCodeColor = 'grey'
      this.validateCodeIcon = 'mdi-check-circle'
      this.showValidationResult = false
    }
  }
}
</script>
<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
