<template>
  <v-container>
    <ValueSetConceptCrud
      :showDialog="addConceptBtn"
      crudAction="C"
      @cancel="addConceptBtn = false"
      @add="addConceptItem"
    />
    <ValueSetConceptCrud
      :propItem="activeItem"
      :showDialog="editConceptBtn"
      crudAction="U"
      @cancel="editConceptBtn = false"
      @update="updateConceptItem"
    />
    <v-card class="mx-5 elevation-7" transition="expand-y-transition">
      <ValueSetAddWizard/>

      <AdCardTitle class="pt-3">
        {{ $t('composition') }}
        ({{ $t('value-set') }})
        <template v-if="$store.state.terminology.editValueSetBtn && $store.state.terminology.valueSetItem.displayName">
          <span class="ml-2">'{{ $store.state.terminology.valueSetItem.displayName }}'</span>
        </template>
        <div class="pb-0 pl-5" md="auto" v-if="$store.getters['terminology/shoppingCart'].length > 0">
          <!--
          <v-badge
            color="grey"
            :content="$store.getters['terminology/shoppingCart'].length"
          >
          </v-badge>
          -->
          <v-chip
            class="ml-1 mb-1"
            color="light-green lighten-3"
            label
          >
            {{$t('entries')}} {{$store.getters['terminology/shoppingCart'].length}}
          </v-chip>
        </div>
        <v-spacer></v-spacer>
        <AdButton v-if="$store.state.terminology.startShopping && $store.getters['terminology/shoppingCart'].length" medium type="add" :text="$t('add-valueset')" @click="$store.dispatch('terminology/setShowNewValueSetDialog', true)"/>
        <AdButton v-if="$store.state.terminology.startShopping" type="cancel" medium @click="cancelCreateValueSet"/>
        <AdButton v-if="$store.state.terminology.editValueSetBtn" type="cancel" medium @click="cancelStartEditComposition"/>
        <AdButton v-if="$store.state.terminology.editValueSetBtn" type="save" medium @click="patchValueSetComposition"/>
      </AdCardTitle>

      <v-card-text>
        <v-data-table
          :headers="compositionHeadersFiltered"
          :items="compositionItems"
          dense
          item-key="uuid"
        >
          <template #header.level>
            <span class="text-no-wrap">{{ $t('level') }} / {{ $t('type') }}</span>
          </template>
          <template #header.displayName>
            <span v-if="hasIncludeOrExclude" class="text-no-wrap">{{ $t("display-name") }} / {{ $t("definition") }}</span>
            <template v-else>{{ $t("display-name") }}</template>
          </template>
          <template #header.code>
            <span v-if="hasIncludeOrExclude" class="text-no-wrap">{{ $t("code") }} / {{ $t("method") }}</span>
            <template v-else>{{ $t("code") }}</template>
          </template>
          <template #item="{ item }">
            <TerminologyValueSetConceptItem
              :item="item"
              @handleClick="handleClick"
              draggable
              @mouseenter="dragging = item"
              @dragover="handleDragOver"
              @dragstart="handleDragStart"
              @dragend="handleDragEnd"
              @dragleave="handleDragLeave"
              @drop="handleDrop($event, {target: item, source: dragging})"
              :class="{ moving: isMoving }"
              :data-insertable="allowInsert(item)"
              :data-allowbelow="allowBelow(item)"
              :data-allowabove="allowAbove(item)"
              style="position: relative; cursor: move"
            />
          </template>

          <template #no-data>
            <AdButton
              class="my-2"
              @click="addConceptToCompositionStart(null)"
              type="add"
            />
          </template>
          <template #no-results>
            <AdButton
              class="my-2"
              @click="addConceptToCompositionStart(null)"
              type="add"
            />
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import TerminologyValueSetConceptItem from '@/components/Terminology/TerminologyValueSetConceptItem'
import ValueSetAddWizard from '@/components/Terminology/ValueSetAddWizard.vue'
import ValueSetConceptCrud from '@/components/Terminology/ValueSetConceptCrud'
import valueSetRules from '@/rules/valueSet'
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'

export default {
  name: 'ValueSetCompositionCard',
  components: {
    TerminologyValueSetConceptItem,
    ValueSetAddWizard,
    ValueSetConceptCrud
  },
  data () {
    return {
      activeItem: {},
      activeItemBackup: {},
      addConceptBtn: false,
      compositionHeaders: [
        { value: 'level', sortable: false, width: '10%' },
        { value: 'code', sortable: false, width: '10%' },
        { value: 'displayName', sortable: false, width: '50%' },
        { text: this.$t('codesystem'), value: 'codeSystem', sortable: false, width: '20%' },
        { text: '', value: 'actions', sortable: false, align: 'right', width: '10%', condition: ['startShopping', 'editValueSetBtn'] },
        { value: 'placeholderWhenMoving', sortable: false, width: '0px', condition: ['isMoving'], class: 'pa-0' }
      ],
      dragging: null, // the source being dragged
      dragPosition: null, // before, in, after
      editConceptBtn: false,
      isMoving: true,
      position: null,
      valid: true,
      valueSetRules
    }
  },
  computed: {
    ...mapGetters({
      getDecorTypes: ['server/getDecorTypes']
    }),
    compositionItems () {
      return this.$store.getters['terminology/shoppingCart'] || []
    },
    allowAbove () {
      return item => {
        if (this.dragging?.uuid === item.uuid) {
          // Don´t allow if the item is the item being dragged
          return false
        }
        if (
          (this.dragging?.is === 'exception' && item.is !== 'exception') ||
          (this.dragging?.is !== 'exception' && item.is === 'exception')
        ) {
          return false
        }

        const index = this.compositionItems.indexOf(item)
        const prev = this.compositionItems[index - 1]
        return !prev || +prev.level < +this.dragging?.level
      }
    },
    allowBelow () {
      return item => {
        if (this.dragging?.uuid === item.uuid) {
          // Don´t allow if the item is the item being dragged
          return false
        }
        if (
          (this.dragging?.is === 'exception' && item.is !== 'exception') ||
          (this.dragging?.is !== 'exception' && item.is === 'exception')
        ) {
          return false
        }

        if (!['A', 'S'].includes(item.type)) {
          // Always allow if type is anything other than A or S
          return true
        }

        // When type is A or S, only allow below when no 'children'
        const index = this.compositionItems.indexOf(item)
        const next = this.compositionItems[index + 1]
        return !next || +next.level === +item.level
      }
    },
    allowInsert () {
      return item => (
        !(this.dragging?.is === 'exception' && item.is !== 'exception') &&
        !(this.dragging?.is !== 'exception' && item.is === 'exception') &&
        ['A', 'S'].includes(item.type)
      )
    },
    editValueSetBtn () {
      return this.$store.state.terminology.editValueSetBtn
    },
    startShopping () {
      return this.$store.state.terminology.startShopping
    },
    compositionHeadersFiltered () {
      return this.compositionHeaders.filter((header) => !header.condition || header.condition.some((condition) => this[condition]))
    },
    decorTypes () {
      return this.getDecorTypes?.data
    },
    designationType () {
      return this.decorTypes?.DesignationType?.[0]?.enumeration?.map((e) => ({
        '#text': this.$filters.getMatchingTranslation({ value: e.label, locale: this.$i18n.locale }),
        value: e.value
      })
      ) || []
    },
    hasIncludeOrExclude () {
      return !!this.compositionItems.some(item => item.is === 'include' || item.is === 'exclude')
    },
    vocabTypes () {
      return this.decorTypes?.VocabType?.[0]?.enumeration?.map((e) => ({
        text: this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    }
  },
  methods: {
    async removeCodeFromCart (item) {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        return this.$store.dispatch('terminology/removeFromShoppingCart', item)
          .then(() => {
            this.$notify(this.$t('submission-delete-success'), 'success')
          })
          .catch((error) => {
            this.$notify(error.message, 'error')
          })
      }
    },
    handleChangeConceptAttribute (attribute) {
      if (attribute === 'isException') {
        this.activeItem.is = (this.activeItem[attribute]) ? 'exception' : 'concept'
      }
    },
    handleClick (action, item) {
      if (this[action]) {
        // 1. request a lock
        // 2. get a editable concept
        this[action](item)
      } else {
        this.$alert(this.$t('notyetimplemented'))
      }
    },
    handleDragOver (ev) {
      ev.preventDefault()

      const row = ev.target.closest('tr')
      const insertable = !!row.dataset.insertable
      const allowBelow = !!row.dataset.allowbelow
      const allowAbove = !!row.dataset.allowabove

      const { height, y } = ev.target.closest('tr').getBoundingClientRect()
      if (allowAbove && ev.clientY - y <= (height / (insertable ? 3 : 2))) {
        row.classList.remove('in')
        row.classList.add('above')
        this.dragPosition = 'before'
        return
      }
      if (insertable && ev.clientY - y < (height / 3 * 2)) {
        row.classList.remove('above', 'below')
        row.classList.add('in')
        this.dragPosition = 'in'
        return
      }
      row.classList.remove('in')
      if (allowBelow) {
        row.classList.add('below')
        this.dragPosition = 'after'
        return
      }
      this.dragPosition = null
    },

    handleDragLeave (ev) {
      ev.stopPropagation()

      const classesToRemove = ['above', 'below']
      if (ev.target.tagName === 'TR' || !ev.relatedTarget?.tagName?.includes('TR', 'TD')) {
        classesToRemove.push('in')
      }
      ev.target.closest('tr').classList.remove(...classesToRemove)
    },
    handleDragStart (ev) {
      this.isMoving = true
    },
    handleDragEnd (ev) {
      this.isMoving = false
      this.dragPosition = null
      this.dragging = null
    },
    handleDrop (ev, { target, source }) {
      if (this.dragPosition === null) {
        return
      }

      const targetIndex = this.compositionItems.indexOf(target)
      const sourceIndex = this.compositionItems.indexOf(source)

      if (targetIndex === sourceIndex || [targetIndex, sourceIndex].includes(-1)) {
        return
      }

      try {
        this.$store.commit('terminology/moveItemInShoppingCart', {
          oldIndex: sourceIndex,
          newIndex: targetIndex,
          position: this.dragPosition
        })
      } catch (error) {
        this.$oops(error.message)
      }
    },
    editConceptItemStart (item) {
      this.activeItemBackup = item
      this.activeItem = cloneDeep(item)
      this.$nextTick(() => {
        this.editConceptBtn = true
      })
    },
    cancelEditConceptItemStart () {
      this.editConceptBtn = false
      this.$nextTick(() => {
        this.activeItem = {}
        this.activeItemBackup = {}
      })
    },
    saveConceptItem (formName) {
      if (this.$refs[formName].validate() === true) {
        // update shopping cart item
        const index = this.compositionItems.indexOf(this.activeItemBackup)
        if (index > -1) {
          this.$store.dispatch('terminology/updateItemInShoppingCart', { index, item: this.activeItem })
            .then(() => {
              // close the dialog
              // do not the default $notify, because it's not saved to the database yet
              this.editConceptBtn = false
            })
            .catch((error) => {
              const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
              this.$oops(errorMessage)
            })
        }
      }
    },
    async cancelStartEditComposition () {
      const agree = await this.$confirm(this.$t('confirm-cancel'))
      if (agree) {
        this.$store.dispatch('terminology/startEditComposition', { start: false })
          .then(() => {
            if (this.$store.state.terminology.backupCompleteCodeSystemPath) {
              this.$router.push(this.$store.state.terminology.backupCompleteCodeSystemPath).catch(() => {})
              this.$nextTick(() => {
                this.$store.commit('terminology/backupCompleteCodeSystemPath', null)
              })
            }
          })
      }
    },
    async cancelCreateValueSet () {
      this.$router.push({ name: 'value-set' })
    },
    patchValueSetComposition () {
      this.$store.dispatch('terminology/patchValueSetComposition')
        .then(() => {
          this.$notify(this.$t('submission-save-success-label'), 'success')
          if (this.$store.state.terminology.backupCompleteCodeSystemPath) {
            this.$router.push(this.$store.state.terminology.backupCompleteCodeSystemPath)
            this.$nextTick(() => {
              this.$store.commit('terminology/backupCompleteCodeSystemPath', null)
            })
          }
        })
        .catch((error) => {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        })
    },
    async removeConceptItem (item) {
      const message = this.$t('remove') + ' ' + this.$filters.getMatchingTranslation({ value: item.displayName }) + '?'
      const agree = await this.$confirm(message)
      if (agree) {
        return this.$store.dispatch('terminology/removeFromShoppingCart', item)
          .then(() => {
            // ignore feedback
            // this.$notify(this.$t('submission-save-success-label'), 'success')
          })
          .catch((error) => {
            console.log({ error })
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
            this.$oops(errorMessage)
          })
      }
    },
    addConceptToCompositionStart (position) {
      this.activeItem = {}
      this.$nextTick(() => {
        this.addConceptBtn = true
        if (position != null) {
          this.position = position
        }
      })
    },
    addConceptItem ({ item, keepOpen = false }) {
      if (this.position && item.is !== 'exception') {
        const index = this.compositionItems.findIndex((item) => item === this.position.item)
        if (!keepOpen) {
          this.addConceptBtn = false
        }
        const position = (this.position.mode === 'following') ? index + 1 : index
        this.$store.commit('terminology/addToShoppingCart', { item, position })
        this.$notify(this.$t('item-added-to-the-requested-location'), 'success')
      } else {
        this.$store.commit('terminology/addToShoppingCart', { item })
        if (!keepOpen) {
          this.addConceptBtn = false
        }
        this.$nextTick(() => {
          this.$notify(this.$t('item-added-to-the-end'), 'success')
        })
      }
    },
    updateConceptItem () {
      const index = this.compositionItems.findIndex((item) => item === this.activeItemBackup)
      if (index > -1) {
        this.$nextTick(() => {
          this.editConceptBtn = false
        })
        this.$store.dispatch('terminology/updateItemInShoppingCart', { item: this.activeItem, index })
          .then(() => {
            this.$notify(this.$t('item-updated'), 'success')

            const exceptionToNonException = this.activeItemBackup?.is === 'exception' && this.activeItem?.is !== 'exception'
            const nonExceptionToException = this.activeItemBackup?.is !== 'exception' && this.activeItem?.is === 'exception'
            if (!exceptionToNonException && !nonExceptionToException) {
              return
            }

            // Handle positioning of exceptions
            let newIndex = this.compositionItems.length - 1

            if (exceptionToNonException) {
              const firstExceptionIndex = this.compositionItems.findIndex(item => item.is === 'exception')
              newIndex = firstExceptionIndex > -1 ? firstExceptionIndex - 1 : newIndex
            }

            this.$store.commit('terminology/moveItemInShoppingCart', {
              oldIndex: index,
              newIndex
            })
          })
          .catch((error) => {
            const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
            this.$oops(errorMessage)
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.moving::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
}

.below::after,
.above::after,
.in::after {
  background: rgba(255, 0, 0, 0.25);
  border-bottom: 2px solid rgba(255, 0, 0, 0.5);
}

.below::after {
  bottom: -2px;
}
.below:last-child::after {
  bottom: 0;
}

.above::after {
  top: -2px;
}
.above:first-child::after {
  top: 0px;
}

.in::after {
  --indent: 50px;
  top: 50%;
  left: var(--indent);
  width: calc(100% - var(--indent));
  border-bottom: 4px dotted rgba(255, 0, 0, 0.5);
}
</style>
