<template>
  <div class="ad-api-loading-spinner">
    <v-slide-x-reverse-transition>
      <div
        v-if="hasActiveRequests"
        class="ad-api-loading-spinner-item d-flex align-center"
      >
        <v-progress-circular
          indeterminate
          size="24"
          width="2"
          color="primary"
        />
        <span class="ml-3 body-2 text-uppercase">{{$t('Loading')}}</span>
      </div>
    </v-slide-x-reverse-transition>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      hasActiveRequestsTest: true
    }
  },
  computed: {
    ...mapGetters('axios', ['hasActiveRequests'])
  },

  mounted () {
    setInterval(() => {
      this.hasActiveRequestsTest = !this.hasActiveRequestsTest
    }, 2000)
  }
}
</script>

<style lang="scss" scoped>
.ad-api-loading-spinner {
  position: fixed;
  bottom: 50px;
  right: 12px;
  z-index: 500;

  .ad-api-loading-spinner-item {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 14px;
    border-radius: 15px;
  }
}
</style>
