<template>
  <span>
    <div v-if="concerns !== null" class="mb-1">
      <v-menu
        v-for="(c, ix) in concerns"
        :key="ix"
        bottom
        right
        transition="scale-transition"
        origin="top left"
      >
        <template v-slot:activator="{ on }">
          <v-chip v-on="on" :color="$filters.getArtefactColor(c.type)">
            <span v-if="c.linkedartefactmissing === 'true'"
              >{{ c.id }} ({{ $t("missing") }}
            </span>
            <span v-else>{{ c.displayName }} </span>
            <span class="pl-1">
              ({{
                $filters.getMatchingTranslation({
                  value: getDecorObjectType(c.type, "label"),
                })
              }})
            </span>
          </v-chip>
        </template>
        <v-card class="pa-3 ref-info">
          <v-row dense>
            <v-col cols="10">
              <b>{{ c.displayName }}</b>
            </v-col>
            <v-col cols="2">
              <v-card-actions>
                <v-btn icon @click="menu = false">
                  <v-icon>mdi-close-circle</v-icon>
                </v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
          <v-row dense v-if="c.desc">
            <v-col cols="12">
              <EditableTextArea v-model="c.desc" readonly/>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="3">
              <b>Id: </b>
            </v-col>
            <v-col cols="9">
              <i>{{ c.id }}</i>
              <span v-if="c.iddisplay">
                <br />
                <i>{{ c.iddisplay }}</i>
              </span>
            </v-col>
          </v-row>
          <v-row dense v-if="c.effectiveDate">
            <v-col cols="3">
              <b>Version: </b>
            </v-col>
            <v-col cols="9" v-if="c.effectiveDate === 'dynamic'">
              <span v-if="c.effectiveDate === 'dynamic'">dynamic</span>
              <span v-else>{{ formatDate(c.effectiveDate) }}</span>
              <span v-if="c.versionLabel"> ({{ c.versionLabel }}) </span>
            </v-col>
          </v-row>
          <v-row dense v-if="c.statusCode">
            <v-col cols="3">
              <b>Status: </b>
            </v-col>
            <v-col cols="9">
              {{ c.statusCode }}
            </v-col>
          </v-row>
        </v-card>
      </v-menu>
    </div>
    <div v-else-if="inherit !== null" class="mb-1">
      <v-menu
        v-for="(c, ix) in inherit"
        v-model="menu"
        :key="ix"
        bottom
        right
        transition="scale-transition"
        origin="top left"
      >
        <template v-slot:activator="{ on }">
          <v-chip v-on="on" :color="$filters.getArtefactColor('DE')">
            <span>
              <AdStatusDot :status="c.iStatusCode" />
              {{ c.iddisplay }} {{ $t("as-of") }}
              {{ $filters.formatDateShort(c.iEffectiveDate || c.effectiveDate) }}
            </span>
          </v-chip>
        </template>
        <v-card class="pa-3 ref-info">
          <v-row dense>
            <v-col cols="10">
              <b>{{ c.iddisplay }}</b>
            </v-col>
            <v-col cols="2">
              <v-card-actions>
                <v-btn icon @click="menu = false">
                  <v-icon>mdi-close-circle</v-icon>
                </v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="3">
              <b>Id: </b>
            </v-col>
            <v-col cols="9">
              <i>{{ c.ref }}</i>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="3">
              <b>Version: </b>
            </v-col>
            <v-col cols="9">
              {{ formatDate(c.iEffectiveDate || c.effectiveDate) }}
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="3">
              <b>Status: </b>
            </v-col>
            <v-col cols="9">
              {{ c.iStatusCode }}
            </v-col>
          </v-row>
        </v-card>
      </v-menu>
    </div>
    <div v-else-if="representing !== null" class="mb-1">
      <v-menu
        v-for="(c, ix) in representing"
        :key="ix"
        bottom
        right
        transition="scale-transition"
        origin="top left"
      >
        <template v-slot:activator="{ on }">
          <v-chip v-on="on" :color="$filters.getArtefactColor(c.type)">
            <span>
              <AdStatusDot class="pr-1" v-if="c.statusCode" :status="c.statusCode" />
              <span v-if="c.name">
                {{
                  $filters.getMatchingTranslation({
                    value: c.name,
                  })
                }}
              </span>
              <span v-if="c.displayName">{{ c.displayName }}</span>
              -
              <span v-if="c.id">{{ c.id }}</span>
              <span v-if="c.flexibility">
                <span v-if="c.flexibility === 'dynamic'"> dynamic</span>
                <span v-else>
                  {{ $t("as-of") }}
                  {{ $filters.formatDateShort(c.flexibility) }}
                </span>
              </span>
            </span>
          </v-chip>
        </template>
        <v-card class="pa-3 ref-info">
          <v-row dense>
            <v-col cols="10">
              <b>
                <span v-if="c.name">
                  {{
                    $filters.getMatchingTranslation({
                      value: c.name,
                    })
                  }}
                </span>
                <span v-if="c.displayName">{{ c.displayName }}</span>
              </b>
            </v-col>
            <v-col cols="2">
              <v-card-actions>
                <v-btn icon @click="menu = false">
                  <v-icon>mdi-close-circle</v-icon>
                </v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
          <v-row dense v-if="c.id">
            <v-col cols="3">
              <b>Id: </b>
            </v-col>
            <v-col cols="9">
              {{ c.id }}
            </v-col>
          </v-row>
          <v-row dense v-if="c.flexibility">
            <v-col cols="3">
              <b>Version: </b>
            </v-col>
            <v-col cols="9">
              <span v-if="c.flexibility === 'dynamic'">dynamic</span>
              <span v-else>
                {{ formatDate(c.flexibility) }}
              </span>
            </v-col>
          </v-row>
          <v-row dense v-if="c.statusCode">
            <v-col cols="3">
              <b>Status: </b>
            </v-col>
            <v-col cols="9">
              {{ c.statusCode }}
            </v-col>
          </v-row>
        </v-card>
      </v-menu>
    </div>
    <div v-else-if="relationship !== null" class="mb-1">
      <v-menu
        v-for="(c, ix) in relationship"
        :key="ix"
        bottom
        right
        transition="scale-transition"
        origin="top left"
      >
        <template v-slot:activator="{ on }">
          <v-chip v-on="on" :color="$filters.getArtefactColor(c.type)">
            <span>
              {{ getRelationshipTypes(c.type, "label") }}
              <AdStatusDot v-if="c.iStatusCode" :status="c.iStatusCode" />
              {{
                $filters.getMatchingTranslation({
                  value: c.name,
                })
              }}
              –
              <span v-if="c.iddisplay">{{ c.iddisplay }}</span>
              <span v-if="c.flexibility">
                <span v-if="c.flexibility === 'dynamic'">dynamic</span>
                <span v-else>
                  {{ $t("as-of") }}
                  {{ $filters.formatDateShort(c.flexibility) }}
                </span>
              </span>
            </span>
          </v-chip>
        </template>
        <v-card class="pa-3 ref-info">
          <v-row dense>
            <v-col cols="10">
              <b>{{
                $filters.getMatchingTranslation({
                  value: c.name,
                })
              }}</b>
            </v-col>
            <v-col cols="2">
              <v-card-actions>
                <v-btn icon @click="menu = false">
                  <v-icon>mdi-close-circle</v-icon>
                </v-btn>
              </v-card-actions>
            </v-col>
          </v-row>
          <v-row dense v-if="c.desc">
            <v-col cols="12">
              <EditableTextArea v-model="c.desc" readonly />
            </v-col>
          </v-row>
          <v-row dense v-if="c.ref">
            <v-col cols="3">
              <b>Id: </b>
            </v-col>
            <v-col cols="9">
              {{ c.ref }}
              <br />
              <i>{{ c.iddisplay }}</i>
            </v-col>
          </v-row>
          <v-row dense v-if="c.flexibility">
            <v-col cols="3">
              <b>Version: </b>
            </v-col>
            <span v-if="c.flexibility === 'dynamic'">dynamic</span>
            <span v-else>
              {{ formatDate(c.flexibility) }}
            </span>
          </v-row>
          <v-row dense>
            <v-col cols="3">
              <b>Status: </b>
            </v-col>
            <v-col cols="9">
              {{ c.iStatusCode }}
              {{ c.statusCode }}
            </v-col>
          </v-row>
        </v-card>
      </v-menu>
    </div>
  </span>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'AdArtefactRefInfo',
  props: {
    concerns: {
      type: Array,
      required: false,
      default: null
    },
    inherit: {
      type: Array,
      required: false,
      default: null
    },
    relationship: {
      type: Array,
      required: false,
      default: null
    },
    representing: {
      type: Array,
      required: false,
      default: null
    }
  },
  data () {
    return {
      menu: false
    }
  },
  /**
   * Computed variables.
   */
  computed: {
    ...mapState({
      decorTypes: (state) => state.server.decorTypes
    }),
    getDecorObjectType () {
      return (decorObjectType, attribute) => {
        const foundDecorType = this.$store.getters[
          'server/getDecorObjectTypes'
        ](decorObjectType)
        if (foundDecorType) {
          return foundDecorType[attribute].find(
            (v) => v.language === this.$i18n.locale
          )['#text']
        } else {
          return decorObjectType
        }
      }
    },
    getRelationshipTypes () {
      return (relationshipType, attribute) => {
        const foundDecorType = this.$store.getters[
          'server/getRelationshipTypes'
        ](relationshipType)
        if (foundDecorType) {
          return foundDecorType[attribute].find(
            (v) => v.language === this.$i18n.locale
          )['#text']
        } else {
          return relationshipType
        }
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.ref-info {
  width: 59ex !important;
}
</style>
