<template>
  <!------------------------------------- Slots overview -----------------------------------------
    activator               This slot can be used to replace the default chip to activate the modal.
                            Slot props: object, title, click
    activator.append        This slot can be used to append content to the default activator chip.
                            Slot props: object
    modal.header            This slot can be used to replace the default modal header.
                            Slot props: object, to (the route object)
    modal.content           This slot can be used to replace the complete modal content.
                            Slot props: object, details, to (the route object)
    modal.content.meta      This slot can be used to replace the default metadata content.
                            Slot props: object, details, to (the route object)
    modal.content.append    This slot can be used to replace the default appended content.
                            Slot props: object, details, to (the route object)
    modal.footer            This slot can be used to replace the default dialog footer content.
                            Slot props: close (function to close the modal), object, to (the route object)
    inline.header           This slot can be used to replace the default inline card header.
                            Slot props: object, details, to (the route object)
    inline.content          This slot can be used to replace the default inline card content.
                            Slot props: object, details, to (the route object)
    inline.content.meta     This slot can be used to replace the default inline card metadata content.
                            Slot props: object, details, to (the route object)
    inline.content.append   This slot can be used to append  to the default inline card content.
                            Slot props: object, details, to (the route object)
   ----------------------------------------------------------------------------------------------->
  <!-- Modal template -->
  <span v-if="object && !inline">
    <slot name="activator" :object="object" :title="objectTitle" :click="showObjectDetails">
      <v-chip @click="showObjectDetails" :disabled="disabled" :small="small" :color="$filters.getArtefactColor(object.type || 'DE')">
        <span>
          <AdStatusDot
            v-if="objectStatusCode"
            :status="objectStatusCode"
          />
          <AdStatusDot
            v-else-if="object.conceptStatusCode"
            :status="object.conceptStatusCode"
            darker
            icon="mdi-bullseye-arrow"
          />
          {{ objectTitle }}
          <slot name="activator.append" :object="object"></slot>
        </span>
      </v-chip>
    </slot>
    <v-dialog v-model="modal.state" width="1000" persistent>
      <v-card>
        <slot name="modal.header" :object="object" :to="routeObject()">
          <AdCardTitle dialog>
            <AdStatusDot
              v-if="objectStatusCode"
              larger
              :status="objectStatusCode"
              class="mr-2"
            />
            <AdStatusDot
              v-else-if="objectConceptStatusCode"
              :status="objectConceptStatusCode"
              larger
              darker
              icon="mdi-bullseye-arrow"
              class="mr-2"
            />
            {{ objectTitle }}
          </AdCardTitle>
        </slot>
        <v-card-text class="mt-4">
          <!--
            prepend a section with dataset info if this is a target ref concept in a staticAssociation
          -->
          <div v-if="object.datasetName" class="font-weight-bold my-3">
            <AdStatusDot v-if="object.datasetStatusCode" tooltip :status="object.datasetStatusCode" larger icon="mdi-book-open-blank-variant" class="mr-1" />
            {{ $t('dataset')}}: {{ object.datasetName }}
            <span v-if="object.datasetVersionLabel">
              ({{object.datasetVersionLabel}})
            </span>
            <span v-if="object.datasetId">
              – {{object.datasetId}}
              <span v-if="object.datasetEffectiveDate">
                {{$t('as-of')}}
                {{ $filters.formatDateShort(object.datasetEffectiveDate)}}
              </span>
            </span>
          </div>
          <!--
            prepend a section with path name info if this is a target ref concept in a staticAssociation
          -->
          <div v-if="object.path" class="my-3">
            <span v-if="object.refdisplay">
              <AdStatusDot
                v-if="objectConceptStatusCode"
                :status="objectConceptStatusCode"
                larger
                tooltip
                icon="mdi-cube"
                class="mr-2"
              />
              <span>{{object.refdisplay}}</span>
            </span>
            <v-icon color="grey lighten-1" class="ml-3 mr-2">mdi-file-tree-outline</v-icon>
            <span>{{$t('path')}}: {{object.path}}</span>
          </div>
          <PanelLoading :loading="modal.loading" linear />
          <template v-if="!modal.loading && fetchedDetails">
            <slot name="modal.content" :object="object" :details="fetchedDetails" :to="routeObject()">
              <slot name="modal.content.meta" :object="object" :details="fetchedDetails" :to="routeObject()">
                <EditableArtefactDetailHeader
                  :item="fetchedDetails"
                  :locales="projectLocales"
                  :artefact="artefactName"
                  readonly
                  :hasDetails="false"
                />
              </slot>
              <slot name="modal.content.append" :object="object" :details="fetchedDetails" :to="routeObject()">
                <v-row v-if="fetchedDetails.valueDomain" dense class="mt-4">
                  <v-expansion-panels v-if="!short" v-model="modal.panels" dense disabled>
                    <v-expansion-panel>
                      <v-expansion-panel-header>
                        <AdCardTitle inline style="padding: 0 !important">
                          {{ $t('value') }}
                          <v-icon v-if="modal.panels === undefined" class="pl-3" style="justify-content: left">
                            {{ $filters.getValueDomainTypeIcon(valueDomain.type) }}
                          </v-icon>
                        </AdCardTitle>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <EditableValueDomain
                          :value="valueDomain.type"
                          :label="$t('type')"
                          readonly
                        />
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                  <div v-else>
                    <EditableValueDomain
                      :value="valueDomain.type"
                      :label="$t('value-type')"
                      readonly
                    />
                  </div>
                </v-row>
              </slot>
            </slot>
          </template>
        </v-card-text>
        <v-card-actions class="dialogbottomstrip">
          <slot name="modal.footer" :close="closeObjectDetails" :object="object">
            <v-spacer />
            <AdButton v-if="routeObject() !== null" :text="$t('go-to')" :hint="$t('go-to')" icon="mdi-open-in-new" :to="routeObject()" target="_blank"/>
            <AdButton type="close" @click="closeObjectDetails" />
          </slot>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
  <!-- Inline template -->
  <v-card v-else>
    <slot name="inline.header" :object="object" :to="routeObject()">
      <AdCardTitle>
        <div>
          <AdStatusDot larger :status="objectStatusCode" class="mr-2"/>
          {{ objectTitle }}
        </div>
        <template v-if="routeObject() !== null">
          <v-spacer />
          <AdButton :text="$t('go-to')" :hint="$t('go-to')" icon="mdi-open-in-new" :to="routeObject()" target="_blank"/>
        </template>
      </AdCardTitle>
    </slot>
    <v-card-text class="mt-2">
      <PanelLoading :loading="modal.loading" linear />
      <template v-if="!modal.loading && fetchedDetails">
        <slot name="inline.content" :object="object" :details="fetchedDetails" :to="routeObject()">
          <slot name="inline.content.meta" :object="object" :details="fetchedDetails" :to="routeObject()">
            <EditableArtefactDetailHeader
              :item="fetchedDetails"
              :locales="projectLocales"
              :artefact="artefactName"
              readonly
              :hasDetails="false"
            />
          </slot>

          <slot name="inline.content.append" :object="object" :details="fetchedDetails" :to="routeObject()"/>
        </slot>
      </template>
    </v-card-text>
  </v-card>
</template>

<script>
import DataSetService from '@/services/DataSetService'
import ScenarioService from '@/services/ScenarioService'
import TerminologyService from '@/services/TerminologyService'
import ImplementationGuideService from '@/services/ImplementationGuideService'
import QuestionnaireService from '@/services/QuestionnaireService'
import IssueService from '@/services/IssueService'
import TemplateService from '@/services/TemplateService'
import { getConceptFromUrl } from '@/listeners/helpers'

import EditableArtefactDetailHeader from '@/components/Utilities/Editable/EditableStructure/EditableArtefactDetailHeader'

import { cloneDeep, uniqBy } from 'lodash'
import { isCancel } from 'axios'

const initialModalState = {
  state: false,
  loading: false,
  panels: 0
}

export default {
  name: 'AdArtefactDetailsCard',
  components: {
    EditableArtefactDetailHeader
  },
  props: {
    // Provide a custom service function. Id,  effectiveDate and abortController are passed as arguments.
    // Function should return a promise that resolves an object.
    customService: {
      type: Function,
      required: false
    },
    // The component will not fetch object details, but instead use the passed object.
    disableFetching: {
      type: Boolean,
      required: false,
      default: false
    },
    // Renders the component inline instead of a modal.
    inline: {
      type: Boolean,
      required: false,
      default: false
    },
    // Renders the component as short as possible.
    short: {
      type: Boolean,
      required: false,
      default: false
    },
    // The artefact to display. Should have at least an 'id' or 'ref' property.
    object: {
      type: Object,
      required: true,
      validator: (object) => !!object.id || !!object.ref
    },
    // Append the object type to the name (if available).
    showTypeInName: {
      type: Boolean,
      required: false,
      default: false
    },
    // Small chip text if possible.
    small: {
      type: Boolean,
      required: false,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      abortController: null,
      fetchedDetails: null,
      modal: cloneDeep(initialModalState),
      /**
       ************************************** How to use the routes object *****************************************
       * routes[key]                                          Key is the decor object type
       * routes[key]['idAndVersion']                          For routes that use id and effectiveDate params
       * routes[key]['id']                                    For routes that use only the id as a param
       * routes[key]['id']['name']                            The name of the route
       * routes[key][<id or idAndVersion>]['props]            Array with details for the route params
       * routes[key][<id or idAndVersion>]['props]['name']    The name of the param used in the route
       * routes[key][<id or idAndVersion>]['props]['prop']    The property on the object to use for this param
       *                                                      Nesting is supported. E.g. dataset[0].id
       *************************************************************************************************************/
      routes: {
        // Datasets
        DS: {
          idAndVersion: {
            name: 'dataset-details',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'datasetId',
                prop: 'id'
              },
              {
                name: 'datasetVersion',
                prop: 'effectiveDate'
              }
            ]
          }
        },
        // Dataset concepts
        DE: {
          idAndVersion: {
            name: 'dataset-details-version',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'datasetId',
                prop: 'dataset[0].id'
              },
              {
                name: 'datasetVersion',
                prop: 'dataset[0].effectiveDate'
              },
              {
                name: 'conceptId',
                prop: 'id'
              },
              {
                name: 'conceptVersion',
                prop: 'effectiveDate'
              }
            ]
          }
        },
        // Scenarios
        SC: {
          idAndVersion: {
            name: 'scenarios-details',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'scenarioId',
                prop: 'id'
              },
              {
                name: 'scenarioVersion',
                prop: 'effectiveDate'
              }
            ]
          }
        },
        // Transactions
        TR: {
          idAndVersion: {
            name: 'scenarios-details',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'scenarioId',
                prop: 'id'
              },
              {
                name: 'scenarioVersion',
                prop: 'effectiveDate'
              }
            ]
          }
        },
        // Valueset
        VS: {
          idAndVersion: {
            name: 'terminology-value-set-version',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'id',
                prop: 'id'
              },
              {
                name: 'version',
                prop: 'effectiveDate'
              }
            ]
          },
          id: {
            name: 'terminology-value-set',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'id',
                prop: 'id'
              }
            ]
          }
        },
        // Template
        TM: {
          idAndVersion: {
            name: 'templates-details-id-effectiveDate',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'id',
                prop: 'id'
              },
              {
                name: 'effectiveDate',
                prop: 'effectiveDate'
              }
            ]
          },
          id: {
            name: 'templates-details-id',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'id',
                prop: 'id'
              }
            ]
          }
        },
        CS: {
          idAndVersion: {
            name: 'codesystems-details-id-effectiveDate',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'id',
                prop: 'id'
              },
              {
                name: 'effectiveDate',
                prop: 'effectiveDate'
              }
            ]
          },
          id: {
            name: 'codesystems-details-id',
            props: [
              {
                name: 'prefix',
                prop: 'ident'
              },
              {
                name: 'id',
                prop: 'id'
              }
            ]
          }
        }, // Code systems
        INHERIT: {
          idAndVersion: {
            name: 'dataset-details-version',
            props: [
              {
                name: 'prefix',
                prop: 'prefix'
              },
              {
                name: 'datasetId',
                prop: 'datasetId'
              },
              {
                name: 'datasetVersion',
                prop: 'datasetEffectiveDate'
              },
              {
                name: 'conceptId',
                prop: 'ref'
              },
              {
                name: 'conceptVersion',
                prop: 'iEffectiveDate'
              }
            ]
          }
        }, // Inherits
        IG: {
          idAndVersion: {
            name: 'project-implementation-guide-pages',
            props: [
              {
                name: 'igId',
                prop: 'id'
              },
              {
                name: 'igEffectiveDate',
                prop: 'effectiveDate'
              }
            ]
          }
        }, // Implementation guides
        IS: {
          id: {
            name: 'issue',
            props: [
              {
                name: 'issueId',
                prop: 'id'
              }
            ]
          }
        },
        QQ: {
          idAndVersion: {
            name: 'questionnaires-details-id-effectiveDate',
            props: [
              {
                name: 'id',
                prop: 'id'
              },
              {
                name: 'effectiveDate',
                prop: 'effectiveDate'
              }
            ]
          },
          id: {
            name: 'questionnaires-details-id',
            props: [
              {
                name: 'id',
                prop: 'id'
              }
            ]
          }
        }, // Questionnaire
        QR: {
          idAndVersion: {
            name: 'questionnaires-details-id-effectiveDate',
            props: [
              {
                name: 'id',
                prop: 'id'
              },
              {
                name: 'effectiveDate',
                prop: 'effectiveDate'
              }
            ]
          },
          id: {
            name: 'questionnaires-details-id',
            props: [
              {
                name: 'id',
                prop: 'id'
              }
            ]
          }
        }, // Questionnaire Response
        QE: {
          idAndVersion: {
            name: 'questionnaires-details-id-effectiveDate',
            props: [
              {
                name: 'id',
                prop: 'id'
              },
              {
                name: 'effectiveDate',
                prop: 'effectiveDate'
              }
            ]
          },
          id: {
            name: 'questionnaires-details-id',
            props: [
              {
                name: 'id',
                prop: 'id'
              }
            ]
          }
        } // Questionnaire Response
      },
      /**
       * services[key]                      Key is the decor object type
       * services[key]                      Points to a function that will recieve two arguments: id and effectiveDate
       */
      services: {
        DS: DataSetService.getDataset, // Datasets
        DE: DataSetService.getDatasetConceptWithAssociations, // Dataset concepts
        SC: ScenarioService.getScenarioItem, // Scenarios
        TR: ScenarioService.getTransactionItem, // Transactions
        VS: TerminologyService.getValueSet, // Valueset
        TM: TemplateService.getTemplate, // Template
        CS: TerminologyService.getCodeSystem, // Code systems
        IG: ImplementationGuideService.getImplementationGuide, // Implementation guides
        IS: IssueService.getIssue, // Issues
        QQ: QuestionnaireService.getQuestionnaire, // Questionnaires
        QE: QuestionnaireService.getQuestionnaire, // Questionnaires
        QR: QuestionnaireService.getQuestionnaireResponse // Questionnaire responses
      }
    }
  },
  computed: {
    artefactName () {
      switch (this.object.type) {
        case 'DS':
          return 'Dataset'
        case 'DE':
          return 'DatasetConcept'
        case 'SC':
          return 'Scenario'
        case 'TR':
          return 'Transaction'
        case 'VS':
          return 'ValueSet'
        case 'TM':
          return 'Templates'
        case 'CS':
          return 'CodeSystem'
        case 'IG':
          return 'Implementationguide'
        case 'IS':
          return 'Issue'
        case 'QQ':
          return 'Questionnaire'
        case 'QR':
          return 'Questionnaire'
        case 'QE':
          return 'Questionnaire'
        default:
          return 'DatasetConcept'
      }
    },
    getDecorObjectType () {
      return (decorObjectType, attribute) => {
        const foundDecorType = this.$store.getters[
          'server/getDecorObjectTypes'
        ](decorObjectType)
        if (foundDecorType) {
          return foundDecorType[attribute].find(
            (v) => v.language === this.$i18n.locale
          )?.['#text'] || decorObjectType
        } else {
          return decorObjectType
        }
      }
    },
    objectStatusCode () {
      return this.object?.statusCode || this.object?.iStatusCode || null
    },
    objectConceptStatusCode () {
      return this.object?.conceptStatusCode || null
    },
    objectTitle () {
      let title =
          this.object?.displayName ||
          this.$filters.getMatchingTranslation({ value: this.object?.name }) ||
          this.object?.iddisplay ||
          this.object?.id ||
          this.object?.ref

      const flexibility = this.object?.flexibility || this.object?.iEffectiveDate
      if (flexibility) {
        flexibility === 'dynamic'
          ? title += ` (${this.$t('dynamic')})`
          : title += ` ${this.$t('as-of')} ${this.$filters.formatDateShort(flexibility)}`
      }

      if (this.showTypeInName && this.object.type) {
        const objectType = this.$filters.getMatchingTranslation({
          value: this.getDecorObjectType(this.object?.type, 'label'),
          locale: this.$i18n.locale
        })
        title += ` (${objectType})`
      }

      return title
    },
    objectType () {
      return this.object?.type
    },
    valueDomain () {
      return this.fetchedDetails?.valueDomain?.[0] || {}
    }
  },
  methods: {
    closeObjectDetails () {
      this.modal = cloneDeep(initialModalState)
      this.fetchedDetails = null
    },
    async fetchObjectDetails () {
      try {
        this.modal.loading = true
        const id = this.object.id || this.object.ref
        const effectiveDate = this.object.iEffectiveDate || this.object.effectiveDate
        const service = this.customService ||
          (this.object?.type
            ? this.services[this.object.type] || null
            : this.services.DE) // Fallback to dataset concept (for inherits)
        if (!service) {
          throw new Error(`Not implemented for object type ${this.object.type}`)
        }

        if (this.customService) {
          // Abort pending request
          if (this.abortController) {
            this.abortController.abort('New object selected')
          }

          // Set up abortController
          this.abortController = new AbortController()
        }

        let payload = [id, effectiveDate, this.customService ? this.abortController : undefined]

        if (this.objectType === 'IG') {
          payload = [{ id, effectiveDate }]
        }

        const response = await service(...payload)
        this.abortController = null
        this.fetchedDetails = this.parseResponse(response)
        this.modal.loading = false
      } catch (error) {
        this.closeObjectDetails()
        if (isCancel(error)) {
          return
          // Don´t show an error message if the user aborts the request
        }
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
        this.$oops(errorMessage)
      }
    },
    routeObject () {
      const key = this.object.type || (this.object.ref ? 'INHERIT' : null) // Fallback for inherits
      const routeType = ((this.object?.id || this.object?.ref) && (this.object?.effectiveDate || this.object?.iEffectiveDate))
        ? 'idAndVersion'
        : (this.object?.id || this.object?.ref) && this.routes[key]?.id
            ? 'id'
            : null

      if (key && routeType) {
        const params = {}
        this.routes[key][routeType].props.forEach(prop => {
          // eslint-disable-next-line
          const propLevels = prop.prop.replace(/\[([\d]+)\]./g, '.$1.').split('.')
          const propValue = propLevels.reduce(function (value, prop, index) {
            return value?.[prop]
          }, this.object)

          params[prop.name] = propValue
        })
        // If all parameters are set, return the route object
        if (!Object.entries(params).some(([key, value]) => value === undefined)) {
          return {
            name: this.routes[key][routeType].name,
            params
          }
        }
      }
      return null
    },
    parseResponse (response) {
      if (this.customService) {
        return response
      }
      return response?.data || null
    },
    showObjectDetails () {
      this.modal.state = true
      this.disableFetching
        ? this.fetchedDetails = cloneDeep(this.object)
        : this.fetchObjectDetails()
    },
    // Handle updates of different type of terminology associations for Dataset Elements
    patchConceptAssociation ({ silent = false, associationType = null } = {}, data) {
      const { response, request } = data

      if (request.emitter === this.socketId) {
        return
      }

      // transactionContext: the context of the client
      // associationMode: the context in which the update is done
      const transactionContext = !!this.object.transactionContext
      const associationMode = response.mode // 'normal' for dataset context, 'all' for transaction context

      if (!transactionContext && associationMode === 'all') {
        return
      }

      const associationsList = (
        associationType === 'identifier'
          ? response.identifierAssociation
          : response.terminologyAssociation
      ) || []
      const activeItem = this.object
      const conceptItem = this.fetchedDetails

      const { conceptId } = getConceptFromUrl(request.originalUrl)

      if (!activeItem || activeItem.id !== conceptId) {
        return
      }

      // Default settings
      let mutation = (associations) => {
        if (!conceptItem.terminologyAssociation) {
          this.$set(conceptItem, 'terminologyAssociation', associations)
        } else {
          conceptItem.terminologyAssociation = associations
        }
      }
      let assocFilter = item => item.conceptId === activeItem.id
      let uniqueProp = 'code'
      let currentConceptAssociations = conceptItem?.terminologyAssociation

      // Association type specific settings that overwrite (part of) the defaults
      switch (associationType) {
        case 'valueset':
          mutation = (associations) => {
            if (!conceptItem.valueDomain?.[0]) {
              this.$set(conceptItem, 'valueDomain', [{ conceptList: [{ terminologyAssociation: [] }] }])
            }
            if (conceptItem.valueDomain[0].conceptList?.[0] && !conceptItem.valueDomain[0].conceptList[0].terminologyAssociation) {
              const newValueDomain = cloneDeep(conceptItem.valueDomain)
              newValueDomain[0].conceptList[0].terminologyAssociation = []
              this.$set(conceptItem, 'valueDomain', newValueDomain)
            }
            conceptItem.valueDomain[0].conceptList[0].terminologyAssociation = associations
          }
          assocFilter = item => item.valueSet
          uniqueProp = 'valueSet'
          currentConceptAssociations = conceptItem?.valueDomain?.[0]?.conceptList?.[0]?.terminologyAssociation
          break
        case 'identifier':
          mutation = (associations) => {
            if (!conceptItem.identifierAssociation) {
              this.$set(conceptItem, 'identifierAssociation', [])
            }
            conceptItem.identifierAssociation = associations
          }
          uniqueProp = 'ref'
          currentConceptAssociations = conceptItem?.identifierAssociation
          break
        case 'valuesetCode':
          mutation = (associations) => {
            if (!conceptItem.valueDomain) {
              this.$set(conceptItem, 'valueDomain', [])
            }
            if (!conceptItem.valueDomain[0]) {
              this.$set(conceptItem.valueDomain, 0, [])
            }
            if (!conceptItem.valueDomain[0].conceptList) {
              this.$set(conceptItem.valueDomain[0], 'conceptList', [])
            }
            if (!conceptItem.valueDomain[0].conceptList[0]) {
              this.$set(conceptItem.valueDomain[0].conceptList, 0, [])
            }
            if (!conceptItem.valueDomain[0].conceptList[0].concept) {
              this.$set(conceptItem.valueDomain[0].conceptList[0], 'concept', [])
            }

            const newConceptList = conceptItem.valueDomain[0].conceptList[0].concept.map(concept => ({ ...concept, terminologyAssociation: [] }))
            associations.forEach(association => {
              const concept = newConceptList.find(con => con.id === association.conceptId)
              if (concept) {
                concept.terminologyAssociation.push(association)
              }
            })
            conceptItem.valueDomain[0].conceptList[0].concept = newConceptList
          }

          currentConceptAssociations = conceptItem?.valueDomain?.[0]?.conceptList?.[0]?.concept
            ?.reduce((prev, curr) => {
              const associations = Array.isArray(curr.terminologyAssociation) ? curr.terminologyAssociation : []
              return [...prev, ...associations]
            }, [])

          assocFilter = () => true
          break
      }

      const newConceptAssociations = associationsList.filter(assocFilter)

      // If the user is in transaction context, but the update is done in dataset context
      if (transactionContext && associationMode === 'normal') {
      // If there is an overwrite already, mark the new associations with 'active: false'
        if (currentConceptAssociations?.some(item => item.active === 'true' && item.transactionId)) {
          const inactiveAssociations = newConceptAssociations.map(item => ({ ...item, active: 'false' }))
          const overwrites = currentConceptAssociations.filter(item => item.active === 'true')
          const mergedAssociations = uniqBy([...inactiveAssociations, ...overwrites], uniqueProp)

          // If an overwrite exists, and the same association is added in the dataset context
          const allowedDuplicate = overwrites.find(overwrite => inactiveAssociations.some(inactive => inactive[uniqueProp] === overwrite[uniqueProp]))
          if (allowedDuplicate) {
            mergedAssociations.push(allowedDuplicate)
          }

          mutation(mergedAssociations)
        } else {
        // There are no transaction overwrites, mark all new associations with 'active: true'
          const parsedNewAssociations = newConceptAssociations.map(item => ({ ...item, active: 'true' }))
          mutation(parsedNewAssociations)
        }
      } else {
      // The update is done in the same context as the user is currently in.
        mutation(newConceptAssociations)
      }
    },
    registerConceptListeners () {
      const prefix = this.projectInFocus?.prefix
      // PATCH concept
      this.sockets.subscribe(`PATCH/${prefix}/concept`, (data) => {
        const { response: updatedItem, request } = data

        if (request.emitter === this.socketId) {
          return
        }
        if (!this.fetchedDetails) {
          return
        }

        const { id, effectiveDate } = this.fetchedDetails
        if (updatedItem.id !== id || updatedItem.effectiveDate !== effectiveDate) {
          return
        }

        if (this.object.transactionContext) {
          // only update specific props
          const propsToUpdate = ['name', 'statusCode', 'versionLabel', 'valueDomain', 'lastModifiedDate', 'desc']

          propsToUpdate.forEach(prop => {
            this.fetchedDetails[prop] = updatedItem[prop]
          })
        } else {
          // Update everything
          this.fetchedDetails = updatedItem
        }
      })

      this.sockets.subscribe(`POST/${prefix}/conceptStatus`, (data) => {
        const { response: conceptItem, request } = data

        if (request.emitter === this.socketId) {
          return
        }

        // update conceptItem
        const affectedConceptItem = this.$filters.listHelper.findItemInList({
          items: [conceptItem],
          children: 'concept',
          handler: match => match.id === this.fetchedDetails.id && match.effectiveDate === this.fetchedDetails.effectiveDate
        })

        if (affectedConceptItem) {
          const fieldsToUpdate = ['statusCode', 'versionLabel', 'expirationDate', 'lastModifiedDate']

          fieldsToUpdate.forEach(prop => {
            this.fetchedDetails[prop] = affectedConceptItem[prop]
          })
        }
      })

      this.sockets.subscribe(`POST/${prefix}/datasetStatus`, (data) => {
        const { response: report, request } = data

        if (request.emitter === this.socketId) {
          return
        }
        if (!this.fetchedDetails) {
          return
        }

        const successfulChanges = report.success
        if (!Array.isArray(successfulChanges)) {
          return
        }

        const relevantChange = successfulChanges.find(change => (
          change.itemcode === 'DE' &&
          change.id === this.fetchedDetails.id &&
          change.effectiveDate === this.fetchedDetails.effectiveDate
        ))

        if (!relevantChange) {
          return
        }

        // only update specific props
        const propsToUpdate = ['statusCode', 'versionLabel', 'expirationDate', 'lastModifiedDate']

        propsToUpdate.forEach(prop => {
          this.fetchedDetails[prop] = relevantChange[prop]
        })
      })

      this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationConcept`, (data) => this.patchConceptAssociation({ silent: false }, data))
      this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationValueset`, (data) => this.patchConceptAssociation({ silent: false, associationType: 'valueset' }, data))
      this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationIdentifier`, (data) => this.patchConceptAssociation({ silent: false, associationType: 'identifier' }, data))
      this.sockets.subscribe(`PATCH/${prefix}/conceptAssociationValuesetCode`, (data) => this.patchConceptAssociation({ silent: false, associationType: 'valuesetCode' }, data))
    },
    registerListeners (type) {
      if (type === 'DE') {
        this.registerConceptListeners()
      }
    },
    unregisterListeners () {
      const prefix = this.projectInFocus?.prefix

      this.sockets.unsubscribe(`PATCH/${prefix}/concept`)
      this.sockets.unsubscribe(`POST/${prefix}/datasetStatus`)
      this.sockets.unsubscribe(`POST/${prefix}/conceptStatus`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationConcept`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationValueset`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationIdentifier`)
      this.sockets.unsubscribe(`PATCH/${prefix}/conceptAssociationValuesetCode`)
    }
  },
  watch: {
    objectType: {
      immediate: true,
      handler (type, oldType) {
        if (this.inline && type && type !== oldType) {
          this.unregisterListeners()
          this.registerListeners(type)
        }
      }
    },
    object: {
      immediate: true,
      handler (obj) {
        // Prevent fetching the same object twice
        if (
          !this.abortController &&
          (this.modal.loading || (
            this.fetchedDetails != null &&
            (obj.id === this.fetchedDetails.id || (obj.ref && obj.ref === this.fetchedDetails.ref)) &&
            obj.effectiveDate === this.fetchedDetails.effectiveDate
          ))
        ) {
          return
        }
        if (this.inline) {
          this.disableFetching
            ? this.fetchedDetails = cloneDeep(this.object)
            : this.fetchObjectDetails()
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
