<template>
<!------------------------------------- Slots overview -----------------------------------------
    title:append              This slot can be used to append content after the card title.
    details.header            This slot can be used to replace the header of the details card.
                              Slot props: item
    details.header:prepend    This slot can be used to prepend to the content of the header of the details card.
                              Slot props: item
    details.header:append     This slot can be used to append to the content of the header of the details card.
                              Slot props: item
    details.content           This slot can be used to replace the content of the details card.
                              Slot props: item, versions, selectedVersion, versionIndex
    details.content:prepend   This slot can be used to prepend to the content of the details card.
                              Slot props: item, versions, selectedVersion, versionIndex
    details.content:append    This slot can be used to append to the content of the details card.
                              Slot props: item, versions, selectedVersion, versionIndex
    tree.search:before        This slot can be used to prepend to the TreeviewPanel search bar.
                              Slot content gets passed to TreeviewPanel's tree.[key].before-search slot.
    actions                   This slot can be used to replace the actions in the card.
                              Slot props: addButtonType, close, loading, save, selectedVersion, selectionBasket, selectedVersionIsDisabled, selectionBasketContainsVersion
   ----------------------------------------------------------------------------------------------->
<!------------------------------------- Emits overview -----------------------------------------
    event name                value                 description
    search                    string                Value of the treeview panel search bar when it
                                                    changes. Can be useful for callbacks.
    selected                  object | array        When the 'add' button is clicked, the
                                                    selectedVersion object is emitted. Emits an array of
                                                    objects when the 'multiple' prop is set to true.
    close                     undefined             Event emitted when the modal closes
    unselect                  object                Event emitted when an object is removed from the selectionBasket.
                                                    Only applicable when prop 'multiple' is set to true.
   ----------------------------------------------------------------------------------------------->

  <v-dialog :value="value" :width="dialogWidth" persistent>
    <v-card :loading="loading">
      <AdCardTitle dialog>
          {{ cardTitle }}
          <slot name="title:append"/>
      </AdCardTitle>
      <v-card-text class="pt-4 details">
        <!-- Selection basket for multiple selections -->
        <v-row v-if="multiple">
          <v-col >
            <v-card outlined class="pa-2 pt-0">
              <v-fade-transition group hide-on-leave>
                <AdInfoOwl v-if="!selectionBasket.length" class="ma-0 mt-2" key="selectionHint">{{ $t('selected-items-will-appear-here-hint')}}</AdInfoOwl>
                <v-chip v-for="(item, i) in visibleSelectionChips" :key="item.uuid"
                  :class="{ 'mr-2': i < visibleSelectionChips.length - 1 }"
                  class="mt-2"
                  :color="item.flexibility === 'dynamic' ? 'warning' : ''"
                  close
                  @click:close="removeFromSelectionBasket(item)"
                >
                  {{ chipTitle(item) }}
                </v-chip>

                <v-chip
                  v-if="selectionBasket.length > visibleSelectionChips.length || showAllSelectionChips"
                  key="showMoreChip"
                  color="info"
                  class="ml-2 mt-2"
                  @click="showAllSelectionChips = !showAllSelectionChips"
                >
                  {{ !showAllSelectionChips ? `${$t('showmore')} (+${selectionBasket.length - visibleSelectionChips.length})` : $t('showless') }}
                </v-chip>
              </v-fade-transition>
            </v-card>
          </v-col>
        </v-row>

        <v-row>
          <v-col :cols="`${12 - selectionCols}`" class="my-4 elevation-1 artefact-selection-treeview" >
            <TreeviewPanel
              ref="treeviewPanel"
              :key="treeviewPanelKey"
              hideTabs
              :trees="treeviewData"
              :filters="treeFilters"
              :editable="false"
              @search="handleSearch"
              :active-item.sync="selectedTreeviewItem"
            >
              <template #tree.0.before-search>
               <slot name="tree.search:before" />
              </template>
            </TreeviewPanel>
          </v-col>
          <v-col :cols="`${selectionCols}`">
            <v-card v-if="selectedTreeviewItem" :color="selectedVersionIsDisabled ? 'grey lighten-5' : ''">
              <slot name="details.header" :item="selectedTreeviewItem">
                <AdCardTitle>
                  <slot name="details.header:prepend" :item="selectedTreeviewItem"/>
                  {{ detailCardTitle }}
                  <slot name="details.header:append" :item="selectedTreeviewItem"/>
                </AdCardTitle>
              </slot>
              <v-card-text class="pt-4">
                <slot name="details.content" :item="selectedTreeviewItem" :selectedVersion="selectedVersion" :versions="versions" :versionIndex="versionIndex">
                  <slot name="details.content:prepend" :item="selectedTreeviewItem" :selectedVersion="selectedVersion" :versions="versions" :versionIndex="versionIndex"/>

                  <AdVersionHistoryStepper
                    v-if="versions.length > 1 && versionIndex > -1"
                    :value="versionIndex"
                    :versions="versions"
                    @input="handleSwitchVersion"
                    :stepperTitle="getVersionStepTitle"
                  />
                  <AdInfoOwl v-if="selectedVersionIsDisabled || selectionBasketContainsVersion" warning>{{ versionNotSelectableWarning }}</AdInfoOwl>
                  <AdInfoOwl v-else-if="selectedVersion.flexibility === 'dynamic'" info>{{ $t('dynamic-selection-hint') }}</AdInfoOwl>

                  <EditableArtefactDetailHeader
                    :artefact="artefact"
                    :item="selectedVersion"
                    :locales="projectLocales"
                    readonly
                    :hasDetails="false"
                  />

                  <slot name="details.content:append" :item="selectedTreeviewItem" :selectedVersion="selectedVersion" :versions="versions" :versionIndex="versionIndex"/>
                </slot>
              </v-card-text>
            </v-card>
            <AdInfoOwl v-else>{{ nothingSelected }}</AdInfoOwl>
            <slot name="details.content:after" :item="selectedTreeviewItem" :treeviewItems="treeviewItems" :selectedVersion="selectedVersion" :versions="versions" :versionIndex="versionIndex"/>
         </v-col>
        </v-row>
      </v-card-text>

      <v-divider/>

      <v-card-actions>
        <slot
          name="actions"
          v-bind="{
            addButtonType,
            close,
            loading,
            save,
            selectedVersion,
            selectionBasket,
            selectedVersionIsDisabled,
            selectionBasketContainsVersion
          }"
        >
          <v-spacer/>
          <AdButton type="cancel" @click="close"/>
          <AdButton :type="addButtonType" @click="multiple ? addToSelectionBasket() : save()" :disabled="loading || !selectedVersion || selectedVersionIsDisabled || selectionBasketContainsVersion"/>
          <AdButton v-if="multiple" type="save" :disabled="!selectionBasket.length && disableSaveEmpty" @click="save"/>
        </slot>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

import TreeviewPanel from '@/components/Utilities/Treeview/TreeviewPanel'
import EditableArtefactDetailHeader from '../Utilities/Editable/EditableStructure/EditableArtefactDetailHeader.vue'

export default {
  name: 'AdArtefactSelection',
  components: {
    EditableArtefactDetailHeader,
    TreeviewPanel
  },

  props: {
    // Configure the type of the add button. Only when property 'multiple' is set to false. Must be one of AdButton accepted types.
    addButtonType: {
      type: String,
      required: false,
      default: 'add'
    },
    // Width of the dialog
    dialogWidth: {
      type: [String, Number],
      default: 1400
    },
    // By default, the modal closes after an object is selected. Set to true to disable this behaviour
    disableAutoClose: {
      type: Boolean,
      required: false,
      default: false
    },
    // In combination with the 'multiple' prop. By default, saving empty selections is allowed. Set this prop to true to change that behaviour.
    disableSaveEmpty: {
      type: Boolean,
      default: false,
      required: false
    },
    // Items to exclude from being selectable
    exclude: {
      type: Array,
      required: false,
      default: () => []
    },
    // Loading indicators are shown if true
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    // Allow selection of multiple artefacts
    multiple: {
      type: Boolean,
      required: false,
      default: false
    },
    // By default the components offers 'Dynamic' in addition to the specific versions (if applicable). Setting this to true will disable this behaviour.
    noDynamicVersions: {
      type: Boolean,
      required: false,
      default: false
    },
    // Text to display when no item is selected
    nothingSelectedText: {
      type: String,
      required: false
    },
    // In combination with the 'multiple' and 'exclude' prop. By default, items in the 'exclude' prop are automatically added to the selectionBasket
    // on modal open when 'multiple' is set to true. This property can disable that behaviour
    disablePreselection: {
      type: Boolean,
      default: false,
      required: false
    },
    // Function that recieves the selectedTreeviewItem as an argument. Should return a string
    selectedItemTitle: {
      type: Function,
      required: false
    },
    // Number of columns the selection panel should take
    selectionCols: {
      type: [String, Number],
      default: 7
    },
    // Title of the modal
    title: {
      type: String,
      required: false
    },
    // Data that will be passed to the TreeviewPanel component as a 'trees' property.
    tree: {
      type: Object,
      required: true
    },
    // Data that will be passed to the TreeviewPanel component as a 'filters' property.
    treeFilters: {
      type: Array,
      required: false,
      default: () => []
    },
    // The item in the tree that will be selected when modal opens.
    // { tree: { prop: 'thatShouldMatch', anotherProp: 'thatShouldAlsoMatch'}, version: { ...propsThatShouldMatch }}
    treeSelectOnOpen: {
      type: Object,
      required: false,
      default: null
    },
    // Open / close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    },
    // Text to be shown in the detail card for unselectable versions
    versionNotSelectableText: {
      type: String,
      required: false
    },
    // Property on treeview items that holds an array of version objects
    versionProperty: {
      type: String,
      required: false,
      default: null
    }
  },
  data () {
    return {
      selectedTreeviewItem: null, // Reference to selected item in the treeview
      selectedVersion: null, // The selected version, which will be emitted to the parent component (@selected)
      selectionBasket: [], // All selected versions, will be emitted to the parent component when the 'multiple' prop is set to true
      showAllSelectionChips: false,
      treeviewPanelKey: null,
      versionIndex: null
    }
  },
  computed: {
    addButtonTypeChecked () {
      if (!this.multiple) {
        return this.addButtonType
      }
      return 'add'
    },
    artefact () {
      return this.tree.artefact
    },
    cardTitle () {
      return this.title ?? (this.multiple ? this.$t('select-objects') : this.$t('select-object'))
    },
    chipTitle () {
      return item => {
        let title
        if (typeof this.tree.text === 'function') {
          title = this.tree.text(item)
        } else if (typeof this.tree.text === 'string') {
          title = item[this.tree.text]
        } else {
          title = this.$t('unknown')
        }

        if (item.flexibility === 'dynamic') {
          title += ` (${this.$t('dynamic')})`
        } else {
          title += ` (${item.versionLabel || this.$filters.formatDateShort(item.effectiveDate)})`
        }

        return title
      }
    },
    detailCardTitle () {
      if (typeof this.selectedItemTitle === 'function') {
        const customTitle = this.selectedItemTitle(this.selectedTreeviewItem)
        return typeof customTitle === 'string' ? customTitle : this.$t('selection')
      }
      return this.selectedTreeviewItem.displayName || this.$filters.getMatchingTranslation({ value: this.selectedTreeviewItem.name })
    },
    nothingSelected () {
      return this.nothingSelectedText ?? this.$t('no-object-selected')
    },
    selectionBasketContainsVersion () {
      const version = this.versions[this.versionIndex]
      if (!version) return false
      return this.selectionBasket.some(item => item.id === version.id)
    },
    selectionBasketContainsExactVersion () {
      const version = this.versions[this.versionIndex]
      if (!version) return false
      return this.selectionBasket.some(item => item.id === version.id && (
        (version.flexibility !== 'dynamic' && version.effectiveDate === item.effectiveDate && item.flexibility !== 'dynamic') ||
          (version.flexibility === 'dynamic' && item.flexibility === 'dynamic')
      ))
    },
    selectedVersionIsDisabled () {
      return this.versions[this.versionIndex]?.disabled
    },
    treeviewData () {
      return [this.prepareTree(this.tree)]
    },
    treeviewItems () {
      return this.treeviewData?.[0]?.items || []
    },
    versionNotSelectableWarning () {
      return this.versionNotSelectableText ?? this.$t('not-selectable')
    },
    versions () {
      if (!this.versionProperty) {
        return []
      }
      return this.selectedTreeviewItem?.[this.versionProperty]?.filter(obj => obj.id && obj.effectiveDate) || []
    },
    visibleSelectionChips () {
      return this.showAllSelectionChips ? this.selectionBasket : this.selectionBasket.slice(0, 4)
    }
  },
  methods: {
    addToSelectionBasket () {
      const item = { ...this.selectedVersion, uuid: this.getUuid() }
      this.selectionBasket.push(cloneDeep(item))
    },
    close () {
      this.$emit('input', false)
      this.$emit('close')
    },
    getVersionStepTitle (version) {
      if (version.flexibility === 'dynamic') return this.$t('dynamic')

      let title = this.$filters.formatDateShort(version.effectiveDate)
      if (version.versionLabel) {
        title += ` (${version.versionLabel})`
      }
      return title
    },
    handleSearch (search) {
      this.$emit('search', search)
    },
    handleSwitchVersion (index) {
      this.versionIndex = index
      const version = this.versions[index]
      this.selectedVersion = version
    },
    prepareTree (tree) {
      const preparedTree = cloneDeep(tree)
      // Process tree items
      preparedTree.items = this.prepareTreeviewItems({ items: preparedTree.items, children: tree.children })

      // onSelect handler
      preparedTree.onSelect = (activeItem) => {
        if (!this.versionProperty) {
          this.selectedVersion = activeItem
        } else if (this.selectedTreeviewItem?.id !== activeItem.id) {
          // Check is because version index might be set in watcher. This would overwrite
          const filteredVersions = activeItem[this.versionProperty]?.filter(version => version.id && version.effectiveDate) || []
          this.versionIndex = filteredVersions
            .findIndex(version => version.id === activeItem.id && version.effectiveDate === activeItem.effectiveDate && version.flexibility !== 'dynamic')
          this.selectedVersion = filteredVersions[this.versionIndex] ?? activeItem
        }

        // Call handler defined in the original tree
        if (typeof tree.onSelect === 'function') {
          tree.onSelect(activeItem)
        }
      }

      return preparedTree
    },
    prepareTreeviewItems ({ items, children }) {
      if (!Array.isArray(items)) {
        return []
      }
      return items.map(obj => {
        const preparedObj = { ...obj }
        if (children && Array.isArray(obj[children])) {
          preparedObj[children] = this.prepareTreeviewItems({ items: obj[children], children })
        }
        if (this.versionProperty && Array.isArray(obj[this.versionProperty])) {
          if (!this.noDynamicVersions) {
            const dynamic = { ...obj }
            delete dynamic[this.versionProperty]
            dynamic.flexibility = 'dynamic'
            obj[this.versionProperty].unshift(dynamic)
          }
          preparedObj[this.versionProperty] = this.prepareTreeviewItems({ items: obj[this.versionProperty], children })
        }

        preparedObj.disabled = obj.disabled ?? this.shouldExclude(obj)

        return preparedObj
      })
    },
    removeFromSelectionBasket (itemToRemove) {
      this.selectionBasket = this.selectionBasket.filter(item => item !== itemToRemove)
      this.$emit('unselect', itemToRemove)
    },
    save () {
      if (this.multiple) {
        this.$emit('selected', cloneDeep(this.selectionBasket))
      } else {
        this.$emit('selected', cloneDeep(this.selectedVersion))
      }

      if (!this.disableAutoClose) {
        this.close()
      }
    },
    shouldExclude (obj) {
      const { id, effectiveDate, ref, flexibility } = obj
      const hasMultipleVersions = obj[this.versionProperty]?.length > 1
      return !hasMultipleVersions && !!this.exclude.some(excl => excl.id && [id, ref].includes(excl.id) && (
        (flexibility !== 'dynamic' && effectiveDate === excl.effectiveDate && excl.flexibility !== 'dynamic') ||
        (flexibility === 'dynamic' && excl.flexibility === 'dynamic')
      ))
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (!modalIsOpen) {
          this.treeviewPanelKey = this.getUuid()
          this.selectedTreeviewItem = null
          this.selectedVersion = null
        }
        if (modalIsOpen && this.multiple && !this.disablePreselection && this.exclude.length) {
          // Add excluded items to selectionBasket
          this.exclude.forEach(excl => {
            let itemInList

            this.$filters.listHelper.listHelper({
              items: this.treeviewData?.[0]?.items || [],
              children: this.tree.children || 'children',
              handler: match => {
                const version = this.$filters.listHelper.listHelper({
                  items: [match],
                  children: this.versionProperty,
                  handler: vmatch => {
                    return vmatch.id === excl.id && (
                      (vmatch.flexibility !== 'dynamic' && excl.flexibility !== 'dynamic' && vmatch.effectiveDate === excl.effectiveDate) ||
                    (excl.flexibility === 'dynamic' && vmatch.flexibility === 'dynamic')
                    )
                  }
                })?.item || null
                if (version) {
                  itemInList = version
                  return true
                }
                return false
              }
            })
            if (itemInList) {
              this.selectionBasket.push({ ...itemInList, uuid: this.getUuid() })
            }
          })
        }
        if (modalIsOpen && this.treeSelectOnOpen) {
          // Select the correct tree item and version
          const { tree, version } = this.treeSelectOnOpen
          if (tree === null || typeof tree !== 'object') {
            console.error('treeSelectOnOpen property should be an object with a tree property')
            return
          }
          const treeItem = this.$filters.listHelper.listHelper({
            items: this.treeviewData?.[0]?.items || [],
            children: this.tree.children,
            handler: match => Object.keys(tree)?.every(prop => tree[prop] === match[prop])
          })?.item || null

          if (!treeItem) {
            return
          }
          if (version && typeof version === 'object') {
            const filteredVersions = treeItem[this.versionProperty]?.filter(version => version.id && version.effectiveDate) || []
            this.versionIndex = filteredVersions
              .findIndex(match => Object.keys(version)?.every(prop => version[prop] === match[prop]))
            this.selectedVersion = filteredVersions[this.versionIndex] || null
          } else {
            const handler = this.treeviewData?.[0]?.onSelect
            handler(treeItem)
          }

          this.selectedTreeviewItem = treeItem
        }
      }
    },
    exclude: {
      deep: true,
      handler () {
        // Make sure the selected treeview item gets updated when exclude changes
        if (!this.selectedTreeviewItem) {
          return
        }
        this.selectedTreeviewItem = this.$filters.listHelper.findItemInList({
          items: this.treeviewData?.[0]?.items || [],
          children: this.tree.children || null,
          handler: match => match.id === this.selectedTreeviewItem.id && match.effectiveDate === this.selectedTreeviewItem.effectiveDate
        })
      }
    },
    selectedVersion: {
      deep: true,
      handler (newSelected, oldSelected) {
        if (this.selectionBasketContainsExactVersion) {
          // Update item in basket if changes are made to selectedVersion
          const index = this.selectionBasket.findIndex(item => item.id === oldSelected.id && (
            (oldSelected.flexibility !== 'dynamic' && oldSelected.effectiveDate === item.effectiveDate && item.flexibility !== 'dynamic') ||
          (oldSelected.flexibility === 'dynamic' && item.flexibility === 'dynamic')
          ))
          if (index > -1) {
            this.selectionBasket[index] = newSelected
          }
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.artefact-selection-treeview ::v-deep .v-treeview {
  max-height: 300px;
  min-height: 30px;
  overflow: auto;
}

.details {
  max-height: calc(90vh - 120px);
  overflow-y: auto;
}
</style>
