<template>
  <v-menu
    :close-on-content-click="false"
    offset-y
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        :disabled="!availableFilters.length"
        :class="{'green': hasActiveFilters}"
        v-bind="attrs"
        v-on="on"
        :color="hasActiveFilters ? 'white' : 'light-green darken-2'"
        icon
        outlined
        small
      >
        <v-icon small>mdi-filter</v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-item-group>
        <v-list-item
          v-for="(filter, i) of availableFilters"
          :key="`artefact-filter-${i}`"
          @click="filter.active = !filter.active"
        >
          <v-list-item-action>
            <v-checkbox
              :input-value="filter.active"
              color="primary"
            />
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ artefactLabel(filter.name) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: 'AdArtefactFilter',
  props: {
    // The list of filters. Example [{ name: 'DS', active: true }]
    value: {
      type: Array,
      required: true
    },
    // Only offer filters specified in this array. Example: ['DS', 'AC', 'TM']
    filtersToOffer: {
      type: Array,
      default: null
    }
  },

  computed: {
    // List of all filters that could be applied (Including all decor object types)
    allFilters () {
      return this.decorObjectTypes.map(item => ({ name: item.value, active: false }))
    },

    artefactLabel () {
      return artefact => {
        const label = this.decorObjectTypes.find(obj => obj.value === artefact)?.label
        if (!label) {
          return artefact
        }
        return this.$filters.getMatchingTranslation({ value: label, locale: this.$i18n.locale })
      }
    },

    // Filters that are available for the dropdown menu
    availableFilters () {
      if (!Array.isArray(this.filtersToOffer)) {
        return this.allFilters
      }
      return this.allFilters.filter(item => this.filtersToOffer.includes(item.name))
    },

    decorObjectTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.DecorObjectType?.[0]?.enumeration || []
    },

    hasActiveFilters () {
      return this.availableFilters.some(filter => filter.active)
    }
  },

  watch: {
    availableFilters: {
      immediate: true,
      handler (filters) {
        // Sync the availableFilters list with the list passed via v-model
        this.$emit('input', filters)
      }
    }
  }
}
</script>
