<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-icon v-bind="{...attrs, ...$attrs}" v-on="on" class="ml-2" color="grey" dark  :class="{ 'dataset-icon': !transaction}">
        {{ transaction ? 'mdi-movie' : 'mdi-book-open-blank-variant' }}
      </v-icon>
    </template>
    <span>{{ transaction ? $t('transaction-specific') : $t('defined-in-dataset') }}</span>
  </v-tooltip>
</template>

<script>
export default {
  name: 'AdAssociationSpecificIcon',
  props: {
    transaction: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.dataset-icon {
  margin-bottom: 3px;
}
</style>
