<template>
  <v-row>
    <!-- homeItem.concat(items) -->
    <v-breadcrumbs :items="items">
      <template v-slot:divider>
          <v-icon>mdi-chevron-right</v-icon>
      </template>
        <!--
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item
            :to="item.to"
            :disabled="item.disabled"
          >
            <span v-if="item.text === 'Home'">
              <v-icon size="20px" color="orange lighten-2">mdi-home</v-icon>
            </span>
            <span v-else>
              {{ item.text }}
            </span>
          </v-breadcrumbs-item>
        </template>
        -->
    </v-breadcrumbs>
    <AdClipboardClip small class="pl-2"/>
  </v-row>
</template>

<script>
export default {
  name: 'AdBreadcrumb',
  props: {
    items: {
      type: Array,
      required: false
    }
  },
  computed: {
    homeItem () {
      return [{
        exact: true,
        text: 'Home',
        disabled: false,
        to: '/home'
      }]
    }
  }
}
</script>
<style lang="css" scoped>
  .v-breadcrumbs {
    padding: 0 0 16px 18px;
  }
</style>
