<template>
  <v-card-title
    :class="
      dialog ?
      'dialogtopstrip font-weight-bold grey--text text--darken-2 pt-2 pb-2 pl-4 pr-4' :
      (
        inline ? 'grey--text pt-2 pb-2 pl-4 pr-4':
        'topbottomstrip font-weight-bold orange--text text--darken-3 pt-2 pb-2 pl-4 pr-4'
      )"
    bold
  >
    <v-icon v-if="prependicon" :color="dialog || inline ? 'grey' : 'orange darken-2'" right class="pr-3">{{prependicon}}</v-icon>
    <slot></slot>
    <v-icon v-if="appendicon" :color="dialog || inline ? 'grey' : 'orange darken-2'" right class="pl-3">{{appendicon}}</v-icon>
  </v-card-title>
</template>

<script>
export default {
  name: 'AdCardTitle',
  props: {
    dense: {
      type: Boolean,
      required: false
    },
    prependicon: {
      type: String,
      required: false
    },
    appendicon: {
      type: String,
      required: false
    },
    dialog: {
      type: Boolean,
      required: false
    },
    inline: {
      type: Boolean,
      required: false
    }
  }
}
</script>
