<template>
  <span>
    <v-icon
      class="px-2 pb-1 mdi-rotate-45"
      color="light-green darken-2"
      :size="small ? '20px' : '28px'"
      @click="onClick2Clipboard()"
    >mdi-paperclip</v-icon>
  </span>
</template>

<script>
export default {
  name: 'AdClipboardClip',
  props: {
    small: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    onClick2Clipboard () {
      navigator.clipboard.writeText(window.location.href)
      this.$notify(this.$t('copied-to-clipboard'), 'info')
    }
  }
}
</script>
