<template>
  <div v-if="!readonly || contains(editableItem, 'copyright') || contains(editableItem, 'publishingAuthority')" class="ad-copyright-crud">
    <v-card :flat="inline" :class="inline ? 'ma-0' : 'mb-3'" :loading="loading">
      <slot name="header"/>
      <v-card-text :class="inline ? 'pa-0 pt-5' : 'pt-5'">
        <AdInfoOwl
          v-if="showHint('copyright') || canAddPublishingAuthority"
          type="info"
          class="pb-3"
        >
          <span v-if="copyrightIsInherited">{{ $t('copyright-inherited-only-yet') }}</span>
          <span v-else-if="showHint('copyright')">{{ $t('no-copyright-added-yet') }}</span>
          <br v-if="copyrightIsInherited || showHint('copyright')">
          <span v-if="publishingAuthorityIsInherited">{{ $t('publishing-authority-inherited-only-yet') }}</span>
          <span v-else-if="canAddPublishingAuthority">{{ $t('no-publishing-authority-added-yet') }}</span>
        </AdInfoOwl>
        <v-row v-if="!readonly || contains(editableItem, 'copyright')">
          <v-col>
            <div v-if="canAddCopyright">
              <div v-if="copyrightIsInherited" class="pb-3">
                <div class="font-weight-bold">{{ $t('copyright') }} - {{ $t("inherited-from") }} {{ editableItem.copyright[0].inherited }}</div>
                <span class="text--disabled" v-html="$filters.getMatchingTranslation({value: editableItem.copyright})"/>
              </div>
              <span class="valueDomainLabel">{{ $t('copyright') }}</span>
              <AdButton
                v-if="!readonly"
                type="add"
                @click="addMetaItem('copyright')"
              />
            </div>
            <v-card v-else outlined>
              <div class="copyright-title">
                <v-icon>mdi-copyright</v-icon><span>{{$t('copyright')}}</span>
                <template v-if="copyrightIsInherited">
                  <v-tooltip top>
                    <template #activator="{on}">
                      <v-icon v-on="on" v-if="copyrightIsInherited" class="mx-0">{{$filters.getCascadedArtifactIcon(editableItem.copyright[0]?.inherited)}}</v-icon>
                      <v-icon v-on="on" v-if="copyrightIsInherited" class="mx-0 pl-2 mdi-rotate-135">mdi-link</v-icon>
                    </template>
                    <span v-if="copyrightIsInherited">{{ $t("inherited-from") }} {{ $t("parent") }} {{ $t(editableItem.copyright[0]?.inherited) }}</span>
                  </v-tooltip>
                </template>
              </div>
              <v-card-text class="pa-5">
                <EditableTranslationEditor
                  v-model="editableItem.copyright"
                  emitOnInput
                  ref="copyright"
                  :locales="projectLocales"
                  :readonly="readonly"
                  editor
                  dense
                  :minHeight="editorMinHeight"
                  @change="saveEditedValue('copyright', $event)"
                />
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

        <v-card v-if="canAddPublishingAuthority || hasUnremovedPublishingAuthority" outlined class="mt-5 mb-5 copyright-title">
          <v-row>
            <v-col cols="3">
              <v-icon>mdi-bank</v-icon><span>{{$t('publishing-authority')}}</span>
              <v-spacer></v-spacer>
            </v-col>
            <v-col v-if="canAddPublishingAuthority">
              <AdButton
                type="add"
                @click="addNewPublishingAuthorityStart"
                :hint="$t('add-publishing-authority')"
              />
              <AdButton
                type="copy"
                @click="selectPublishingAuthorityStart"
                :hint="$t('add-publishing-authority-from-project-governance-groups')"
              />
            </v-col>
          </v-row>

          <v-card-text class="pa-5">
            <template v-if="editableItem.publishingAuthority.length > 0">
              <template v-for="(pa, crIndex) in editableItem.publishingAuthority">
                <v-row :key="`pa-${crIndex}`" class="d-flex" v-if="!Object.prototype.hasOwnProperty.call(pa, 'op') || pa.op !== 'remove'">
                  <v-col>
                    <!-- name -->
                    <h3 class="publishing-inheritance">
                      <router-link v-if="showRouteLink(pa)" :to="{ name: 'server-governancegroup-details', params: { governancegroupId: pa.id } }">{{pa.name}}</router-link>
                      <template v-else>{{pa.name}}</template>
                      <v-tooltip top>
                        <template #activator="{on}">
                          <v-icon v-on="on" v-if="pa.inherited" class="mx-0">{{$filters.getCascadedArtifactIcon(pa.inherited)}}</v-icon>
                          <v-icon v-on="on" v-if="pa.inherited" class="mx-0 pl-2 mdi-rotate-135">mdi-link</v-icon>
                        </template>
                        <span v-if="pa.inherited">{{ $t("inherited-from") }} {{ $t("parent") }} {{ $t(pa.inherited) }}</span>
                      </v-tooltip>
                    </h3>
                    <!-- addrLines -->
                    <v-simple-table v-if="pa.addrLine" class="publishing-authority-list">
                      <div>
                        <template v-for="(addrLine, addrLineIndex) in pa.addrLine">
                          <tr :key="`${addrLineIndex}`">
                            <template v-if="addrLine.type === 'uri'">
                              <td>
                                <v-icon small>mdi-network</v-icon>
                              </td>
                              <td>
                                <a
                                  :href="addrLine['#text']"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                >
                                  {{addrLine['#text']}}
                                </a>
                              </td>
                            </template>
                            <template v-else-if="addrLine.type === 'email'">
                              <td>
                                <v-icon small>mdi-email</v-icon>
                              </td>
                              <td>
                                <a
                                  :href="`mailto:${addrLine['#text']}`"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                >
                                  {{addrLine['#text']}}
                                </a>
                              </td>
                            </template>
                            <template v-else-if="addrLine.type === 'linkedin'">
                              <td>
                                <v-icon small>mdi-linkedin</v-icon>
                              </td>
                              <td>
                                <a
                                  :href="addrLine['#text']"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                >
                                  {{addrLine['#text']}}
                                </a>
                              </td>
                            </template>
                            <template v-else-if="addrLine.type === 'facebook'">
                              <td>
                                <v-icon small>mdi-facebook</v-icon>
                              </td>
                              <td>
                                <a
                                  :href="addrLine['#text']"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                >
                                  {{addrLine['#text']}}
                                </a>
                              </td>
                            </template>
                            <template v-else-if="addrLine.type === 'twitter'">
                              <td>
                                <v-icon small>mdi-twitter</v-icon>
                              </td>
                              <td>
                                <a
                                  :href="addrLine['#text']"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                >
                                  {{addrLine['#text']}}
                                </a>
                              </td>
                            </template>
                            <template v-else-if="addrLine['#text']">
                              <td>
                              </td>
                              <td>
                                {{addrLine['#text']}}
                                <template v-if="addrLine.type && addrLine.type !== ''">
                                  <span class="ml-1">({{$t(addrLine.type)}})</span>
                                </template>
                              </td>
                            </template>
                            <template v-else>
                              <td colspan="2">
                                {{addrLine}}
                              </td>
                            </template>
                          </tr>
                        </template>
                      </div>
                    </v-simple-table>
                  </v-col>
                  <template v-if="!readonly">
                    <v-spacer></v-spacer>
                    <v-col cols="1">
                      <AdSpeedDial
                        v-if="!publishingAuthorityIsInherited && (enableRemovePublishingAuthority || enableEditPublishingAuthority)"
                        v-model="pa.speeddial"
                        direction="left"
                      >
                        <AdSpeedOption
                          v-if="enableRemovePublishingAuthority"
                          type="delete"
                          :hint="$t('delete-publishing-authority')"
                          @click="handleClickPublishingAuthority('removePublishingAuthority', pa)"
                        />
                        <AdSpeedOption
                          v-if="enableEditPublishingAuthority"
                          type="edit"
                          :hint="$t('edit-publishing-authority')"
                          @click="handleClickPublishingAuthority('updatePublishingAuthorityStart', pa)"
                        />
                      </AdSpeedDial>
                    </v-col>
                  </template>
                </v-row>
              </template>
            </template>
          </v-card-text>
        </v-card>
      </v-card-text>
    </v-card>

    <v-dialog
      v-model="showSelectPublishingAuthorityBtn"
      scrollable
      max-width="600"
    >
      <v-card>
        <AdCardTitle dialog>{{ cardTitle('publishing-authority') }}</AdCardTitle>
        <v-card-text class="pt-5">
          <v-data-table
            v-model="selectedGovernancegroups"
            :headers="headers"
            item-key="id"
            :items="projectGroups"
            :items-per-page="5"
            :hide-default-footer="projectGroups.length < 6"
            show-select
            class="elevation-0"
          >
            <template v-slot:[`item.name`]="{ item }">
              {{$filters.getMatchingTranslation({ value: governancegroup(item.id).name })}}
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions class="dialogbottomstrip">
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="cancelSelectPublishingAuthority"/>
          <AdButton type="save" @click="selectPublishingAuthority"/>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="showDialogPublishingAuthorityBtn"
      scrollable
      max-width="600"
    >
      <v-card>
        <AdCardTitle dialog>{{ cardTitle('publishing-authority') }}</AdCardTitle>
        <v-card-text class="pt-5">

          <v-form
            v-if="showDialogPublishingAuthorityBtn"
            ref="publishingAuthorityRef"
          >
            <EditableString
              v-model="publishingAuthority.name"
              ref="publishingAuthority"
              :rules="rulesPublishingAuthority.name"
              :required="rulesPublishingAuthority.requiredAttributes.includes('name')"
              :label="$t('name')"
              :disabled="op === 'replace'"
            ></EditableString>
            <EditableString
              v-model="publishingAuthority.id"
              ref="id"
              :error-messages="publishingAuthorityIdExistsError"
              :rules="rulesPublishingAuthority.id"
              required
              :label="$t('id')"
            />
            <AdCardTitle class="d-flex mt-5 mb-5">{{ $t('address')}}
              <template v-if="!readonly">
                <v-spacer></v-spacer>
                <AdButton type="add" :small="true" :fab="true" @click="addAddress" />
              </template>
            </AdCardTitle>

            <template v-if="publishingAuthority.addrLine && publishingAuthority.addrLine.length > 0">
              <v-row
                v-for="(addrLine, addrLineIndex) in publishingAuthority.addrLine"
                :key="`addrLine-${addrLineIndex}`"
              >
                <v-col :cols="(addressLineType || addrLine.type) ? 8 : 11">
                  <EditableString
                    v-model="addrLine['#text']"
                    :value="addrLine['#text']"
                    :required="rulesPublishingAuthorityAddress.requiredAttributes.includes('#text')"
                    :label="$t('address')"
                    :rules="rulesPublishingAuthorityAddress['#text']"
                  />
                </v-col>
                <v-col cols="3" v-if="addressLineType || addrLine.type">
                  <EditableDropdown
                    v-model="addrLine.type"
                    item-value="value"
                    item-text="#text"
                    :items="addressLineTypes"
                    :label="$t('type')"
                    :required="rulesPublishingAuthorityAddress.requiredAttributes.includes('type')"
                  />
                </v-col>
                <v-col cols="1" class="pt-5">
                  <AdButton
                    type="erase"
                    small
                    list
                    @click="deleteAddress(addrLineIndex)"
                  />
                </v-col>
              </v-row>
            </template>

          </v-form>
        </v-card-text>
        <v-card-actions class="dialogbottomstrip">
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="cancelAddOrUpdatePublishingAuthority"/>
          <AdButton type="save" @click="addOrUpdatePublishingAuthority"/>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import rulesPublishingAuthority from '@/rules/publishingAuthority'
import rulesPublishingAuthorityAddress from '@/rules/publishingAuthorityAddress'
import rulesCopyright from '@/rules/copyright'
import modelPublishingAuthority from '@/models/publishingAuthority'
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'

export default {
  name: 'AdCopyrightCrud',
  props: {
    allowMultiplePublishingAuthority: {
      type: Boolean,
      default: true
    },
    // addressLineType contains address with type
    addressLineType: {
      type: Boolean,
      default: true
    },
    // sourced copyright
    value: {
      type: Object,
      default: () => {}
    },
    enableAddCopyright: {
      type: Boolean,
      default: false
    },
    enableAddPublishingAuthority: {
      type: Boolean,
      default: false
    },
    showRouterlinkToPublishingAuthority: {
      type: Boolean,
      default: false
    },
    enableEditCopyright: {
      type: Boolean,
      default: false
    },
    enableEditPublishingAuthority: {
      type: Boolean,
      default: false
    },
    enableRemovePublishingAuthority: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: true
    },
    loading: {
      type: Boolean,
      default: false
    },
    // Used for 'inline' rendering. Removes card elevation, padding, etc.
    inline: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      editableItem: {},
      headers: [
        {
          text: this.$t('display-name'),
          value: 'name',
          sortable: true
        },
        {
          text: this.$t('id'),
          value: 'id',
          sortable: true
        }
      ],
      metaItems: {},
      op: null, // CRUD > only CU are used
      publishingAuthority: cloneDeep(modelPublishingAuthority),
      publishingAuthorityIdExistsError: [],
      rulesCopyright,
      rulesPublishingAuthority,
      rulesPublishingAuthorityAddress,
      selectedGovernancegroups: [],
      showDialogAddCopyrightBtn: false,
      showSelectPublishingAuthorityBtn: false,
      showDialogPublishingAuthorityBtn: false,
      valid: true
    }
  },
  computed: {
    ...mapGetters({
      governancegroups: ['server/getGovernancegroups']
    }),
    addressLineTypes () {
      return this.$store.getters['server/getDecorTypes']?.data?.AddressLineType?.[0]?.enumeration?.map((e) => ({
        '#text': this.$filters.getMatchingTranslation({ value: e.label }),
        value: e.value
      })
      ) || []
    },
    canAddCopyright () {
      return !this.readonly && this.enableAddCopyright && (!this.contains(this.editableItem, 'copyright') || this.copyrightIsInherited)
    },
    canAddPublishingAuthority () {
      return !this.readonly &&
      this.enableAddPublishingAuthority && (
        !this.hasUnremovedPublishingAuthority ||
        this.publishingAuthorityIsInherited ||
        this.allowMultiplePublishingAuthority
      )
    },
    cardTitle () {
      return (attr) => {
        if (this.op === 'add') {
          return this.$t(`add-${attr}`)
        } else if (this.op === 'replace') {
          return this.$t(`edit-${attr}`)
        } else {
          // never happens
          return this.$t(attr)
        }
      }
    },
    governancegroup () {
      return (groupId) => {
        return this.governancegroups.find((g) => g.id === groupId)
      }
    },
    hasUnremovedPublishingAuthority () {
      return this.editableItem?.publishingAuthority?.some(pa => pa.op !== 'remove')
    },
    projectGroups () {
      if (this.projectInFocus?.group) {
        return this.projectInFocus.group
      } else {
        return []
      }
    },
    copyrightIsInherited () {
      return !!this.editableItem?.copyright?.[0]?.inherited
    },
    publishingAuthorityIsInherited () {
      return !!this.editableItem?.publishingAuthority?.[0]?.inherited
    },
    showRouteLink () {
      return (publishingAuthority) => {
        return this.showRouterlinkToPublishingAuthority && this.$store.getters['server/getGovernancegroups']
          .some((gg) => gg.id === publishingAuthority?.id)
      }
    },
    editorMinHeight () {
      return this.readonly ? 0 : 30
    }
  },
  watch: {
    value: {
      immediate: true,
      deep: true,
      handler (value) {
        // Clone item.
        this.editableItem = cloneDeep(value)
      }
    }
  },
  methods: {
    addMetaItem (type) {
      // used for Copyright and PublishingAuthority
      this.op = 'add'
      if (type === 'copyright') {
        this.$set(this.editableItem, type, [])
      } else {
        // activate model, do not manipulate 'editableItem' yet
        this.showDialogPublishingAuthorityBtn = true
      }
      this.metaItems[type] = true
      this.$nextTick(() => {
        if (this.$refs[type]) {
          this.$refs[type].focus()
        }
      })
    },
    contains (item, type) {
      if (type === 'copyright') {
        return Array.isArray(item?.[type]) === true &&
          (
            item?.[type].filter((i) => String(i?.['#text'] || '').length > 0).length > 0 ||
            this.metaItems?.[type] === true
          )
      } else {
        return Array.isArray(item?.[type]) === true &&
          (
            item?.[type].filter((pa) => {
              return (!Object.prototype.hasOwnProperty.call(pa, 'op') || pa.op !== 'remove')
            }).length > 0 ||
            this.metaItems?.[type] === true
          )
      }
    },
    restoreLocale (locale) {
      const editor = this.$refs.copyright
      if (!editor) return
      editor.setCurrentLocale(locale ?? this.$store.getters['app/projectLanguage'])
    },
    showHint (type) {
      return this.readonly !== true &&
        this.contains(this.editableItem, type) === false
    },
    saveEditedValue (type, value) {
      this.editableItem[type] = value
      this.$emit('input', this.editableItem)
      this.metaItems[type] = false
    },
    /**
     * PublishingAuthority related
     */
    handleClickPublishingAuthority (action, publishingAuthority) {
      if (this[action]) {
        this[action](publishingAuthority)
      } else {
        this.$alert(this.$t('notyetimplemented'))
      }
    },
    selectPublishingAuthorityStart () {
      this.initPublishingAuthority()
      this.op = 'add'
      this.selectedGovernancegroups = []
      this.showSelectPublishingAuthorityBtn = true
    },
    selectPublishingAuthority () {
      if (this.selectedGovernancegroups[0]?.id) {
        const governancegroupId = this.selectedGovernancegroups[0]?.id
        const governancegroup = cloneDeep(this.governancegroup(governancegroupId))
        if (governancegroup) {
          const newPublishingAuthority = cloneDeep(modelPublishingAuthority)
          newPublishingAuthority.id = governancegroup.id
          newPublishingAuthority.op = 'add'
          newPublishingAuthority.name = this.$filters.getMatchingTranslation({ value: governancegroup.name })
          if (governancegroup?.copyright[0]?.addrLine) {
            newPublishingAuthority.addrLine = governancegroup?.copyright[0]?.addrLine
          }
          if (this.editableItem.publishingAuthority == null) {
            this.$set(this.editableItem, 'publishingAuthority', [])
          }
          if (this.allowMultiplePublishingAuthority && !this.publishingAuthorityIsInherited) {
            this.editableItem.publishingAuthority.push(newPublishingAuthority)
          } else {
            this.editableItem.publishingAuthority = [newPublishingAuthority]
          }
        }
      }
      this.$emit('input', this.editableItem)
      this.showSelectPublishingAuthorityBtn = false
      this.$nextTick(() => {
        this.op = null
        this.initPublishingAuthority()
      })
    },
    cancelSelectPublishingAuthority () {
      this.showSelectPublishingAuthorityBtn = false
      this.$nextTick(() => {
        this.initPublishingAuthority()
      })
    },
    addNewPublishingAuthorityStart () {
      this.op = 'add'
      this.showDialogPublishingAuthorityBtn = true
    },
    addAddress () {
      if (this.publishingAuthority.addrLine == null) {
        this.$set(this.publishingAuthority, 'addrLine', [])
      }
      this.publishingAuthority.addrLine.push({
        '#text': null,
        type: null
      })
      this.$emit('input', this.editableItem)
    },
    deleteAddress (addrLineIndex) {
      this.publishingAuthority.addrLine.splice(addrLineIndex, 1)
      this.$emit('input', this.editableItem)
    },
    updatePublishingAuthorityStart (publishingAuthority) {
      this.publishingAuthority = cloneDeep(publishingAuthority)
      this.op = 'replace'
      this.showDialogPublishingAuthorityBtn = true
    },
    addOrUpdatePublishingAuthority () {
      if (this.$refs.publishingAuthorityRef.validate()) {
        if (this.op === 'add') {
          if (this.editableItem.publishingAuthority == null) {
            this.$set(this.editableItem, 'publishingAuthority', [])
          }
          this.$set(this.publishingAuthority, 'op', this.op)
          if (this.allowMultiplePublishingAuthority && !this.publishingAuthorityIsInherited) {
            this.editableItem.publishingAuthority.push(this.publishingAuthority)
          } else {
            this.editableItem.publishingAuthority = [this.publishingAuthority]
          }
        } else {
          const index = this.editableItem.publishingAuthority.indexOf(this.publishingAuthority)
          this.$set(this.publishingAuthority, 'op', this.op)
          this.editableItem.publishingAuthority.splice(index, 1, this.publishingAuthority)
        }
        // update prop value, to update data in parent
        this.$emit('input', this.editableItem)
        this.showDialogPublishingAuthorityBtn = false
        this.$nextTick(() => {
          this.op = null
          this.initPublishingAuthority()
        })
      } else {
        const hasError = rulesPublishingAuthority.requiredAttributes.filter(attr => this.$refs[attr]?.hasError)
        if (hasError && hasError[0] && this.$refs[hasError[0]]) {
          this.$nextTick(() => {
            this.$refs[hasError[0]].focus()
          })
        }
      }
    },
    cancelAddOrUpdatePublishingAuthority () {
      this.showDialogPublishingAuthorityBtn = false
      this.$nextTick(() => {
        this.op = null
        this.initPublishingAuthority()
      })
    },
    async removePublishingAuthority (pa) {
      const index = this.editableItem.publishingAuthority.indexOf(pa)
      if (index > -1) {
        this.$set(pa, 'op', 'remove')
        this.editableItem.publishingAuthority.splice(index, 1, pa)
      }
      this.$emit('input', this.editableItem)
    },
    initPublishingAuthority () {
      this.publishingAuthority = cloneDeep(modelPublishingAuthority)
    }
  }
}
</script>
<style lang="scss" scoped>
.copyright-title {
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: -15px;
  i {
    margin: 3px;
  }
}
.publishing-inheritance .v-icon.v-icon {
  margin: 3px;
}
</style>
