<template>
  <!--
    Offers a circled button link to docs.art-decor.org or a specific page there
    based on hintCode (see funtion hurl for all codes and path/url)

    hintCode property required, shall be the hint code h_xxxxx listed below
    leading to a permanent link string to the documents with icon and extra text
    example: permalink: /introduction/project - so hintCode is "h_inpr"
    external true opens a new window, which is the default
  -->
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        class="ma-1"
        v-bind="attrs"
        v-on="on"
        icon
      >
        <a class="nounderlink" :href="href" :target="target">
          <v-icon color="blue lighten-2">{{ icon }}</v-icon>
        </a>
      </v-btn>
    </template>
    <span>{{ $t(message) }}</span>
  </v-tooltip>
</template>

<script>

export default {
  name: 'AdDocs',
  props: {
    hintCode: {
      type: String,
      required: true
    },
    external: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  components: {},
  computed: {
    href () {
      const eurl = this.docsserverurl + this.escapeHTML(this.hurl)
      return eurl
    },
    target () {
      return this.external ? '_blank' : ''
    },
    icon () {
      if (this.hintCode === 'h_unlk') return 'mdi-information-outline'
      return 'mdi-help-circle-outline'
    },
    message () {
      if (this.hintCode === 'h_unlk') return 'click-for-unlock-info'
      return 'click-for-docs'
    },
    hurl () {
      if (this.hintCode === 'h_publ') return '/documentation/project/#publications'
      if (this.hintCode === 'h_adm') return '/administration'
      if (this.hintCode === 'h_inpr') return '/introduction/project'
      if (this.hintCode === 'h_unlk') return '/documentation/project/#decor-locks'
      return ''
    }
  },
  data () {
    return {
      docsserverurl: 'https://docs.art-decor.org'
    }
  },
  methods: {
    escapeHTML (s) {
      return s.replace(/&/g, '&amp;')
        .replace(/"/g, '&quot;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
    }
  }
}
</script>

<style lang="scss" scoped>
    a {
      text-decoration: none;
    }
</style>
