<template>
    <v-dialog
      :value="showDialog"
      width="800"
      persistent
    >
      <v-card>
        <AdCardTitle dialog>{{ title }}</AdCardTitle>
        <v-card-text class="pa-5">
          <v-form ref="form" v-if="showDialog">
            <EditableString
              v-model="inputValue"
              ref="input"
              :label="$t('url')"
              :rules="rulesProject.url"
              :required="rulesProject.requiredAttributes.includes('url')"
              :readonly="readonly"
              :placeholder="placeholder"
            ></EditableString>
          </v-form>
        </v-card-text>

        <v-card-actions class="dialogbottomstrip">
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="cancelEdit" />
          <AdButton
            :type="saveButtonType"
            :hint="$t('save')"
            @click="saveURI"
            depressed
            :disabled="readonly"
          />
       </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import rulesProject from '@/rules/project'

export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    value: {
      type: String,
      default: ''
    },
    readonly: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String
    },
    title: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      rulesProject,
      newValue: ''
    }
  },
  computed: {
    saveButtonType () {
      return this.value && this.value !== '' ? 'save' : 'add'
    },
    inputValue: {
      get () {
        return this.newValue === '' ? this.value : this.newValue
      },
      set (value) {
        this.newValue = value
      }
    }
  },
  methods: {
    cancelEdit () {
      this.newValue = ''
      this.$emit('cancelEdit')
    },
    saveURI () {
      if (this.$refs.form.validate()) {
        return this.$emit('saveEdit', this.inputValue)
      }
      this.$refs.input.focus()
    }
  },
  watch: {
    value (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.newValue = ''
      }
    }
  }
}
</script>
