<template>
  <v-expansion-panels dense multiple>
    <v-expansion-panel v-for="(e, ix) in examples" v-bind:key="ix"
      class="mx-3 mb-1"
      :class="$filters.getExampleBackgroundColor(e.type)">
      <v-expansion-panel-header>
        <span v-if="e.caption">{{ e.caption }}</span>
        <span v-else>{{ $t('example')}}</span>
        <v-spacer></v-spacer>
        <slot name="actions" />
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <CodeMirror
          :class="$filters.getExampleBackgroundColor(e.type)"
          :code="$filters.get(e, '#text', '...')"
          :language="language"
        ></CodeMirror>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import CodeMirror from '@/components/Utilities/CodeMirror'

export default {
  name: 'AdExample',
  components: {
    CodeMirror
  },
  props: {
    examples: {
      type: Array,
      required: false,
      default: null
    },
    xml: {
      type: Boolean,
      required: false,
      default: null
    },
    json: {
      type: Boolean,
      required: false,
      default: null
    }
  },
  computed: {
    language () {
      if (this.json) return 'application/json'
      return 'application/xml'
    }
  }
}
</script>
