<template>
  <v-chip
    pill
    :small="!large"
    :color="color"
    class="ma-1"
    :href="href"
    :target="external ? '_blank' : ''"
  >
    <slot></slot>
    <v-icon v-if="external" right size="18px">mdi-open-in-new</v-icon>
  </v-chip>
</template>

<script>
export default {
  name: 'AdGoTo',
  props: {
    href: {
      type: String,
      required: true
    },
    external: {
      type: Boolean,
      required: false
    },
    large: {
      type: Boolean,
      required: false
    },
    red: {
      type: Boolean,
      required: false
    },
    green: {
      type: Boolean,
      required: false
    },
    blue: {
      type: Boolean,
      required: false
    }
  },
  computed: {
    color () {
      if (this.red) return 'red lighten-4'
      if (this.green) return 'green lighten-4'
      if (this.blue) return 'blue lighten-4'
      return 'gray ligthen-4'
    }
  }
}
</script>
