<template>
  <div>{{finalValue}}</div>
</template>

<script>
import mermaid from 'mermaid'
import addClickEvent from './addCallbackToMermaidClassString.js'

export default {
  name: 'AdMermaid',
  props: {
    options: {
      default: () => ({}),
      type: Object
    },
    value: {
      required: true,
      type: String
    }
  },
  watch: {
    finalValue: {
      flush: 'post',
      async handler () {
        await this.update()
      }
    }
  },
  data () {
    return {
      id: `ad${this.getUuid().replace(/-/g, '')}` // make sure the id does not start with a digit
    }
  },
  beforeDestroy () {
    delete window[`mermaidClick_${this.id}`]
  },
  computed: {
    finalValue () {
      return addClickEvent(this.value, { id: this.id })
    }
  },
  methods: {
    update () {
      if (typeof window === 'undefined') return
      const container = this.$el
      if (!container) return

      container.removeAttribute('data-processed')
      if (container.firstChild.nodeName !== '#text') {
        container.replaceChild(
          document.createTextNode(this.finalValue),
          container.firstChild
        )
      }
      mermaid.run({ nodes: [container] })
    },
    async renderChart () {
      const mermaidConfig = {
        securityLevel: 'loose',
        startOnLoad: false,
        theme: 'default',
        ...this.options
      }
      mermaid.initialize(mermaidConfig)
      this.update()
    }
  },
  async mounted () {
    await this.renderChart()
    if (typeof window !== 'undefined') {
      window[`mermaidClick_${this.id}`] = id => this.$emit('node-click', id)
    }
  }
}
</script>

<style lang="scss">
  .cssClass > rect{
    fill:#FF0000;
    stroke:#FFFF00;
    stroke-width:4px;
  }
  .nodeLabel2 {
    position: fixed;
    top: -5px;
  }
  .containment .classTitle  {
    font-style: italic;
  }
  .containment .classTitle .nodeLabel  {
    color: rgb(223, 100, 100) !important;
  }
  .inheritance .classTitle  {
    font-style: italic;
  }
  .inheritance .classTitle .nodeLabel  {
    color: rgb(100, 123, 223) !important;
  }
  foreignobject .classTitle {
    border: 8px solid #FF0000;
  }
  foreignobject.classTitle > div > span.nodeLabel {
    color:#FF0000;
    font-size: 18px;
  }
</style>
