<template>
  <v-layout v-if="!isAvailable">
    <v-flex>
      <AdInfoOwl warning>{{ $t('page-unavailable') }}</AdInfoOwl>
    </v-flex>
  </v-layout>
  <div v-else>
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    path: {
      type: [String, Array],
      required: true
    }
  },
  computed: {
    isAvailable () {
      if (Array.isArray(this.path)) {
        return this.path.every(path => this.serverFeature({ path, crudAction: 'read' }))
      }
      return this.serverFeature({ path: this.path, crudAction: 'read' })
    }
  }
}
</script>
