<template>
  <v-chip v-if="ident" v-bind="$attrs" class="ml-3 px-4" :color="darker ? 'purple lighten-4' : 'purple lighten-5'" :small="small">
    <v-icon :small="small" left :color="darker ? 'purple lighten-2' : 'purple lighten-3'">{{ iconType }}</v-icon>
    {{ ident }}
  </v-chip>
</template>

<script>
export default {
  name: 'AdRefChip',
  props: {
    ident: {
      type: String,
      required: false
    },
    small: {
      type: Boolean,
      required: false,
      default: false
    },
    darker: {
      type: Boolean,
      required: false,
      default: false
    },
    github: {
      type: Boolean,
      required: false,
      default: false
    },
    gitlab: {
      type: Boolean,
      required: false,
      default: false
    },
    bitbucket: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    iconType () {
      if (this.github) return 'mdi-github'
      if (this.gitlab) return 'mdi-gitlab'
      if (this.bitbucket) return 'mdi-bitbucket'
      return 'mdi-cloud'
    }
  }
}
</script>
