<template>
  <v-tooltip top>
    <template v-slot:activator="{ on }">
      <v-chip v-if="pill" :color="color" v-on="on">…{{ shortId(id) }}</v-chip>
      <span v-else v-on="on">…{{ shortId(id) }}</span>
    </template>
    <span>{{ id }}</span>
  </v-tooltip>
</template>

<script>
export default {
  name: 'AdShortId',
  props: {
    id: {
      type: String,
      required: true
    },
    pill: {
      type: Boolean,
      required: false
    },
    color: {
      type: String,
      required: false
    }
  }
}
</script>
