<template>
  <AdButton
    v-bind="{...$props, ...$attrs}"
    v-on="$listeners"
    :list="list"
  />
</template>

<script>
export default {
  props: {
    list: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>
