<template>
  <div>
    <v-speed-dial
      v-if="!dropdown"
      v-model="active"
      class="d-inline"
      :direction="direction"
      :disabled="disabled"
      :open-on-hover="openOnHover"
    >
      <template v-slot:activator>
        <v-btn icon>
          <v-icon :color="color">{{ icon }}</v-icon>
        </v-btn>
      </template>
      <slot></slot>
    </v-speed-dial>

    <v-menu
      v-else
      :disabled="disabled"
      :open-on-hover="openOnHover"
      offset-x
      right
      bottom>
      <template v-slot:activator="{ on, attrs }">
        <slot name="activator" v-bind:attrs="attrs" v-bind:on="on">
          <v-btn v-bind="attrs" v-on="on" icon>
            <v-icon :color="color">{{ icon }}</v-icon>
          </v-btn>
        </slot>
      </template>

      <div class="white" :class="{'elevation-2': dropdown}">
        <slot></slot>
      </div>
    </v-menu>
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: false,
      default: 'mdi-dots-vertical'
    },
    color: {
      type: String,
      required: false
    },
    direction: {
      type: String,
      required: false,
      default: 'right'
    },
    openOnHover: {
      type: Boolean,
      required: false,
      default: true
    },
    dropdown: {
      type: Boolean,
      required: false,
      default: false
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      active: false
    }
  }
}
</script>

<style lang="scss" scoped>

.v-speed-dial--direction-left, .v-speed-dial--direction-right {
  ::v-deep {
    .v-speed-dial__list {
      padding: 0 4px !important;
      background-color: transparent;
    }
  }
}
</style>
