<template>
  <span v-if="textField">
    <v-text-field :label="textField" :value="status" readonly>
      <template v-slot:prepend>
        <v-icon
          :class="larger === true ? 'mdi-24px pa-0' : 'mdi-18px pa-0'"
          :color="$filters.getStatusColor(status, darker)"
          >{{ icon }}</v-icon
        >
      </template>
    </v-text-field>
  </span>
  <span v-else-if="tooltip && status">
    <v-tooltip top open-delay="300">
      <template v-slot:activator="{ on }">
        <v-icon
          v-on="on"
          :class="larger === true ? 'mdi-24px pa-0' : 'mdi-18px pa-0'"
          :color="$filters.getStatusColor(status, darker)"
          >{{ icon }}</v-icon
        >
      </template>
      <span>{{ $t('status')}}: {{ getStatusText(status) }}</span>
    </v-tooltip>
  </span>
  <span v-else>
    <v-icon
      :class="larger === true ? 'mdi-24px pa-0' : 'mdi-18px pa-0'"
      :color="$filters.getStatusColor(status, darker)"
      >{{ icon }}</v-icon
    >
  </span>
</template>

<script>
export default {
  name: 'AdStatusDot',
  props: {
    status: {
      type: String,
      required: false
    },
    icon: {
      type: String,
      required: false,
      default: 'mdi-checkbox-blank-circle'
    },
    darker: {
      type: Boolean,
      required: false,
      default: false
    },
    larger: {
      type: Boolean,
      required: false,
      default: false
    },
    textField: {
      type: String,
      required: false
    },
    tooltip: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    statusList () {
      const statusList = [
        ...(this.$store.getters['server/getItemStatuses'] || []),
        ...(this.$store.getters['server/getTemplateStatuses'] || []),
        ...(this.$store.getters['server/getIssueStatuses'] || [])
      ]
      return statusList.map((item) => ({
        ...item,
        translatedLabel: !!item.label === true
          ? this.$filters.getMatchingTranslation({ value: item.label, locale: this.$i18n.locale })
          : item.value
      })) || []
    }
  },
  methods: {
    getStatusText (status) {
      return this.statusList.find((item) => item.value === status)?.translatedLabel || this.$t(status)
    }
  }
}
</script>
