<template>
  <v-row class="mb-2">
    <slot name="prepend"/>
    <v-spacer />
    <v-col cols="4">
      <v-text-field
        ref="input"
        :value="value"
        @input="$emit('input', $event)"
        v-on="$listeners"
        v-bind="$attrs"
        append-icon="mdi-magnify"
        :label="$t('search')"
        single-line
        hide-details
        solo
        dense
        clearable
      />
    </v-col>
    <slot name="append"/>
  </v-row>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      required: false
    }

  },
  methods: {
    blur () {
      if (this.$refs.input) {
        this.$refs.input.blur()
      }
    },
    focus () {
      if (this.$refs.input) {
        this.$refs.input.focus()
      }
    }
  }
}
</script>

<style>

</style>
