<template>
  <div v-if="userIsDecorAdmin && templeIsInstalled && (id || ref) && effectiveDate">
    <AdButton type="temple" @click="handleStartTemple"/>

    <v-dialog v-model="modal.state" width="900" persistent scrollable>
      <v-card>
        <AdCardTitle dialog>
          {{ $t('edit-temple') }}
        </AdCardTitle>

        <v-card-text>
          <AdInfoOwl warning class="mt-4">{{ $t('edit-warning-1') }}</AdInfoOwl>
          <p>{{ $t('edit-warning-2') }}</p>
          <ul>
            <li>{{ $t('edit-warning-3') }}</li>
            <li>{{ $t('edit-warning-4') }}</li>
          </ul>
        </v-card-text>

        <v-card-actions class="dialogbottomstrip">
          <v-spacer></v-spacer>
          <AdButton type="cancel" @click="closeModal"/>
          <AdButton
            type="clone"
            :text="$t('create-new-version')"
            target="_blank"
            :href="templeLink({ mode: 'version'})"
            @click="closeModal"
          />
          <AdButton
            type="clone"
            :text="$t('create-adaptation')"
            target="_blank"
            :href="templeLink({ mode: 'adapt'})"
            @click="closeModal"
          />
          <AdButton
            color="green"
            icon="mdi-eye-outline"
            :text="$t('readonly')"
            target="_blank"
            :href="templeLink({ mode: 'readonly'})"
            @click="closeModal"
          />
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
const initialModal = {
  state: false
}
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    effectiveDate: {
      type: String,
      required: true
    },
    language: {
      type: String,
      default () {
        return this.$store.getters['app/projectLanguage']
      }
    },
    prefix: {
      type: String,
      default () {
        return this.$store.getters['project/getProjectInFocus']?.prefix
      }
    },
    // If true, will go to template in edit mode. If false, a dialog is shown with other options.
    isEditable: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    templeIsInstalled () {
      return !!this.$store.getters['server/serverInfo']?.packages?.[0]?.package.find(
        (p) => p.abbrev === 'temple'
      )
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
    },
    handleStartTemple () {
      if (!this.isEditable) {
        this.modal.state = true
      } else {
        window.open(this.templeLink({ mode: 'edit' }), '_blank')
      }
    },
    templeLink ({ mode = 'readonly' } = {}) {
      const ORIGIN = process.env.NODE_ENV === 'development'
        ? process.env.VUE_APP_EXIST_ORIGIN || 'http://localhost:8877'
        : window.location.origin
      return `${ORIGIN}/temple/views/temple.html?id=${this.id}&effectiveDate=${encodeURIComponent(this.effectiveDate)}&prefix=${this.prefix}&language=${this.language}&mode=${mode}`
    }
  }
}
</script>

<style>

</style>
