<template>
  <div>
    <div v-if="!show && !isHTML">
      <span :class="textClass">
        {{ truncate(text) }}
      </span>
      <button
        v-if="showToggle && text.length >= length"
        :class="actionClass"
        @click.stop="toggle">{{ clamp }}</button>
    </div>
    <div v-else-if="!show && isHTML">
      <span
        :class="textClass"
        v-html="truncate(text)" />
      <button
        v-if="showToggle && text.length >= length"
        :class="actionClass"
        @click.stop="toggle">{{ clamp }}</button>
    </div>
    <div v-if="show && !isHTML">
      <span>{{ text }}</span>
      <button
        v-if="showToggle && text.length >= length"
        :class="actionClass"
        @click.stop="toggle">{{ less }}</button>
    </div>
    <div v-else-if="show && isHTML">
      <div
        v-if="text.length >= length"
        v-html="text" />
      <button
        v-if="showToggle && text.length >= length"
        :class="actionClass"
        @click.stop="toggle">{{ less }}</button>
      <p v-else>
        {{ h2p(text) }}
      </p>
    </div>
  </div>
</template>

<script>
/**
 * This component is a temporary solution to work around 'vue-truncate-collapsed' bugs.
 * It is a copy of the 'vue-truncate-collapsed' component with some modifications.
 * Use this component if you need to control the 'truncated' state from the parent component.
 * Once migrated to ART-DECOR 4, we have a different solution.
 * If more issues with 'vue-truncate-collapsed' arise, we should consider porting back the AdTextClamp component, which is already a part of the ART-DECOR 4 repo.
 */
const h2p = require('html-truncate') // This is a dependency of 'vue-truncate-collapsed'

export default {
  name: 'AdTruncate',

  props: {
    truncated: {
      type: Boolean,
      default: true
    },
    collapsedTextClass: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      required: true
    },
    clamp: {
      type: String,
      default: 'Read More'
    },
    length: {
      type: Number,
      default: 100
    },
    less: {
      type: String,
      default: 'Show Less'
    },
    type: {
      type: String,
      default: 'text'
    },
    actionClass: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      show: false
    }
  },
  computed: {
    isHTML () {
      return this.type === 'html'
    },
    textClass () {
      return (this.textLength > this.length && this.collapsedTextClass) ? this.collapsedTextClass : ''
    },
    textLength () {
      if (this.isHTML) {
        // We need the length of the text without the html being considered
        // This ensures we provide the right calculation for when to show/hide the more link
        const text = this.text.replace(/<[^>]*>/g, '')
        return text.length
      }

      return this.text.length
    },
    showToggle () {
      return this.textLength > this.length
    }
  },
  methods: {
    truncate (string) {
      if (string) {
        if (this.type === 'html') return h2p(string, this.length)

        return string.toString().substring(0, this.length)
      }

      return ''
    },
    toggle (override) {
      // use the override value if it is set as a boolean
      const toggled = typeof override === 'boolean' ? override : !this.show

      this.show = toggled
      this.$emit('toggle', toggled)
    }
  },
  watch: {
    truncated: {
      immediate: true,
      handler (value) {
        this.toggle(!value)
      }
    }
  }
}
</script>
