<template>
  <v-stepper
    v-if="filteredVersions.length > 1"
    non-linear
    v-model="selected"
    @change="changeSelected"
    class="mb-5"
  >
    <v-stepper-header>
      <v-stepper-step
        v-for="(v, i) in filteredVersions"
        complete
        editable
        edit-icon="mdi-clock-outline"
        :key="i"
        :color="$filters.getStatusColor(v.statusCode, false)"
        :step="i"
        class="pa-3"
      >
        <span :class="selected === i ? 'font-weight-bold' : ''">
          <template v-if="typeof stepperTitle === 'function'">
            {{ stepperTitle(v) }}
          </template>
          <template v-else>
            {{ $filters.formatDateShort(v.effectiveDate) }}
            <span v-if="v.versionLabel"> ({{v.versionLabel}})</span>
          </template>
        </span>
        <v-divider></v-divider>
      </v-stepper-step>
      <v-spacer></v-spacer>
    </v-stepper-header>
  </v-stepper>
</template>

<script>
export default {
  name: 'AdVersionHistoryStepper',
  props: {
    stepperTitle: {
      type: Function,
      required: false
    },
    value: {
      type: Number,
      required: false
    },
    versions: {
      type: Array,
      required: false
    },
    dense: {
      type: Boolean,
      required: false
    }
  },

  /**
   * Data variables.
   */
  data () {
    return {
      selected: 0
    }
  },
  computed: {
    filteredVersions () {
      return this.versions.filter(version => version.effectiveDate)
    }
  },

  /**
   * Watchers.
   */
  watch: {
    /**
     * Watch changes of current value.
     */
    value: {
      immediate: true,
      handler: function () {
        this.selected = this.value
      }
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Save edit value.
     */
    changeSelected () {
      // Emit current selected value.
      this.$emit('input', this.selected)
    }
  }
}
</script>

<style lang="scss" scoped>
  .v-stepper__header {
    // overrule the default 72px from Vuetify
    height: initial;
  }
</style>
