<template>
    <v-card>
      <AdCardTitle dialog>
        {{ $t('edit-oid') }}
        <span v-if="object.displayName">&nbsp;({{ object.displayName }})</span>
        <span v-else-if="object.name || object.title">&nbsp;({{ $filters.getMatchingTranslation({ value: object.name || object.title }) }})</span>
      </AdCardTitle>

      <v-card-text class="pt-4">
        <AdInfoOwl v-if="!objectId || !objectEffectiveDate">{{ $t('artefactmissing') }}</AdInfoOwl>
        <v-form v-else ref="form">
          <v-row>
            <v-col cols="5">
              <EditableString readonly :value="objectId" :label="$t('current')"/>
            </v-col>
            <v-col cols="2" style="display: flex; justify-content: center; align-items: center;">
              <v-icon style="margin-top: -14px; font-size: 2rem;">mdi-transfer-right</v-icon>
            </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="newOidValue"
                :label="$t('new')"
                autofocus
                :rules="[v => isValidOID(v) || $t('invalid-input')]"
                class="mb-4"
                @input="getEffects(); effectsData = null"
              />
            </v-col>
          </v-row>

          <v-fade-transition hide-on-leave>
            <v-card v-if="matchingArefacts.length" outlined class="mb-4">
              <v-data-table
                :items="matchingArefacts"
                :headers="matchingArtefactHeaders"
                :item-key="uniqueKey"
                :footer-props="{ 'items-per-page-options': [5, 10] }"
                :hide-default-footer="matchingArefacts.length <= 5"
                dense
              >
                <template #top>
                  <AdCardTitle>{{ $t('existing-artefacts-with-new-id') }}</AdCardTitle>
                </template>
                <template #item.id="{ item }">{{ item.id || item.ref }}</template>
                <template #item.name="{item}">
                  <div style="white-space: nowrap;">
                    <AdStatusDot v-if="item.statusCode || item.ref" class="pr-1" :status="item.statusCode" :icon="item.ref ? 'mdi-link-variant' : undefined"/>

                    <span v-if="item.displayName">{{ item.displayName }}</span>
                    <span v-else>{{$filters.getMatchingTranslation({ value: item.name || item.title }) }}</span>
                    <span v-if="item.versionLabel">&nbsp;({{ item.versionLabel }})</span>
                  </div>
                </template>

                <template #item.effectiveDate="{ item }">
                  <template v-if="item.effectiveDate">
                    <span class="text-no-wrap">{{ $filters.formatDate(item.effectiveDate) }}</span>
                  </template>
                </template>
              </v-data-table>
            </v-card>
          </v-fade-transition>

          <v-fade-transition hide-on-leave>
            <AdInfoOwl v-if="showInvalidOIDHint" class="mt-4"><span v-html="$t('oid-non-reserved')"/></AdInfoOwl>
          </v-fade-transition>
          <v-fade-transition hide-on-leave>
            <IdUsageList v-if="effectsData || loading.effectsData" :items="effectsData?.item" :loading="loading.effectsData"/>
          </v-fade-transition>
        </v-form>
      </v-card-text>
    </v-card>
</template>

<script>
import ProjectService from '@/services/ProjectService'
import EditableString from './Editable/EditableString/EditableString.vue'
import IdUsageList from './IdUsageList.vue'
import { debounce } from 'lodash'

export default {
  components: { EditableString, IdUsageList },
  props: {
    artefact: {
      type: String,
      default: null
    },
    // Object width an 'id' and 'effectiveDate' property.
    object: {
      type: Object,
      default: null
    },
    // List with artefacts to match against.
    existingArtefacts: {
      type: Array,
      default: () => []
    },
    // unique key for the list with existingArtefacts
    uniqueKey: {
      type: String,
      default: 'uuid'
    }
  },
  data () {
    return {
      effectsData: null,
      loading: {
        effectsData: false
      },
      newOidValue: ''
    }
  },
  computed: {
    allowSaveOID () {
      return !(this.matchingArtefactHasSameEffectiveDate || this.newOidValueMatchesRef) && this.newOidValueIsValid && !this.loading.effectsData
    },
    effectsPayload () {
      return {
        project: this.projectInFocus?.prefix,
        artefact: this.parsedArtefact,
        id: this.objectId,
        effectiveDate: this.objectEffectiveDate,
        newId: this.newOidValue
      }
    },
    matchingArtefactHasSameEffectiveDate () {
      return this.matchingArefacts.some(art => art.effectiveDate === this.objectEffectiveDate)
    },
    matchingArtefactHeaders () {
      return [
        {
          value: 'name',
          text: this.$t('name'),
          sortable: false
        },
        { text: this.$t('id'), sortable: true, value: 'id', sort: this.$filters.numericStringComparator },
        {
          value: 'effectiveDate',
          text: this.$t('version')
        }
      ]
    },
    matchingArefacts () {
      return this.existingArtefacts.filter(artefact => artefact.id === this.newOidValue || artefact.ref === this.newOidValue)
    },
    modalIsOpen: {
      get () {
        return this.value
      },
      set (v) {
        this.$emit('input', v)
      }
    },
    newOidValueIsValid () {
      return this.isValidOID(this.newOidValue)
    },
    newOidValueMatchesRef () {
      return !!this.newOidValue && this.matchingArefacts.some(art => art.ref === this.newOidValue)
    },
    objectEffectiveDate () {
      return this.object?.effectiveDate
    },
    objectId () {
      return this.object?.id
    },
    parsedArtefact () {
      if (this.artefact === 'VS') return 'valueSet'
      if (this.artefact === 'CS') return 'codeSystem'
      if (['QQ', 'QE', 'QR'].includes(this.artefact)) return 'questionnaire'
      if (this.artefact === 'TM') return 'template'
      if (this.artefact === 'MP') return 'conceptMap'
      return this.artefact
    },
    showInvalidOIDHint () {
      return !!this.newOidValue && (this.matchingArtefactHasSameEffectiveDate || this.newOidValueMatchesRef || !this.newOidValueIsValid)
    }
  },
  methods: {
    close () {
      this.modalIsOpen = false
      this.$emit('close')
    },
    getEffects: debounce(async function () {
      this.effectsData = null
      if (!this.allowSaveOID) return

      this.loading.effectsData = true
      try {
        const res = await ProjectService.getChangeProjectArtifactIdEffects(this.effectsPayload)
        const effectsData = res.data?.[0]
        if (Array.isArray(effectsData?.item)) {
          effectsData.item.forEach(item => {
            item.uuid = this.getUuid()
          })
        }
        this.effectsData = res.data?.[0]
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || error?.message || 'Error'
        this.$oops(errorMessage)
      }
      this.loading.effectsData = false
    }, 500, { leading: true, trailing: true }),
    isValidOID (v) {
      return /^[0-2](\.(0|[1-9][0-9]*)){4,}$/.test(v)
    }
  },
  watch: {
    allowSaveOID (allow) {
      this.$emit('update:allow-save-oid', allow)
    },
    effectsPayload: {
      immediate: true,
      handler (v) {
        this.$emit('update:effectsPayload', v)
      }
    },
    modalIsOpen (isOpen) {
      if (!isOpen) {
        this.newOidValue = ''
        if (this.$refs.form) {
          this.$refs.form.resetValidation()
        }
      }
    }
  }
}
</script>
