<template>
  <div class="codemirror-component" v-bind="$attrs" v-on="{ ...$listeners, change: () => {} }" ref="codemirror"></div>
</template>

<script>
import CodeMirror from 'codemirror/lib/codemirror.js'
import 'codemirror/addon/display/autorefresh.js'
import 'codemirror/lib/codemirror.css'
import 'codemirror/mode/xml/xml'
import 'codemirror/mode/javascript/javascript'
import vkbeautify from 'vkbeautify'

export default {
  props: {
    code: {
      type: String,
      required: false,
      default: ''
    },
    language: {
      type: String,
      required: false,
      default: 'en'
    },
    lineNumbers: {
      type: Boolean,
      required: false,
      default: false
    },
    readOnly: {
      type: [Boolean, String],
      default: 'nocursor'
    }
  },

  data () {
    return {
      codeMirrorInstance: null
    }
  },

  mounted () {
    const indentPattern = 2 // number of white spaces
    let beautifulCode = this.code
    if (this.language === 'application/xml') {
      beautifulCode = vkbeautify.xml(this.code, indentPattern)
    } else if (this.language === 'application/json') {
      beautifulCode = vkbeautify.json(this.code, indentPattern)
    }

    // Generate code mirror instance.
    const codeMirror = CodeMirror(document.body, {
      value: beautifulCode,
      mode: this.language,
      lineNumbers: this.lineNumbers,
      lineWrapping: true,
      readOnly: this.readOnly,
      autoRefresh: true,
      smartIndent: true,
      scrollbarStyle: 'null',
      viewportMargin: Infinity
    })

    // Get code mirror wrapper element.
    const codeMirrorWrapper = codeMirror.getWrapperElement()
    // Clean code mirror div.
    this.$refs.codemirror.innerHTML = ''
    // Append code mirror wrapper to code mirror div.
    this.$refs.codemirror.append(codeMirrorWrapper)

    codeMirror.on('change', (ev, changeObj) => {
      const newVal = codeMirror.getValue()
      this.$emit('change', newVal)
    })

    this.codeMirrorInstance = codeMirror
  }
}
</script>

<style lang="scss">
.codemirror-component {
  overflow: scroll;
  background: #fff;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
  display: none;
}

  .CodeMirror {
    height: auto;
    background: transparent;
  }
}
</style>
