<template>
  <v-dialog :value="value" :width="availableFhirFormats.length ? '400' : '600'" persistent>
    <v-card style="position: relative" :loading="loading">
      <AdCardTitle dialog>
        <slot name="title">
          {{ title || $t('select') }}
        </slot>
      </AdCardTitle>

      <v-card-text class="pa-4">
        <template v-if="!availableFhirFormats.length">
          <AdInfoOwl >
            {{ $t('questionnaire-transform-warning') }}<br/>
            <AdButton class="mt-4" link :to="{ name: 'project-overview'}">{{ $t('project-overview')}}</AdButton>
          </AdInfoOwl>
        </template>

        <template v-else >
          <v-row>
            <v-col v-if="!noVersionInput" cols="6">
              <v-select
                v-model="modal.fhirFormat"
                :label="$t('version')"
                :items="availableFhirFormats"
                item-value="value"
                :disabled="disabled"
                :readonly="loading"
                hide-details
              >
                <template #item="{ item }">
                  {{ $filters.getMatchingTranslation({ value: item.label }) }}
                </template>
                <template #selection="{ item }">
                  {{ $filters.getMatchingTranslation({ value: item.label }) }}
                </template>
              </v-select>
            </v-col>
            <v-col v-if="!noFormatInput" cols="6">
              <v-select
                v-model="modal.dataFormat"
                :label="$t('format')"
                :items="['xml', 'json']"
                :disabled="disabled"
                :readonly="loading"
                hide-details
              />
            </v-col>
          </v-row>
        </template>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <slot name="actions" :closeModal="closeModal">
          <AdButton type="cancel" @click="closeModal"/>
          <slot name="actions.confirm" :values="{...modal}">
            <AdButton v-if="availableFhirFormats.length" type="ok" :disabled="disabled || loading" @click="onConfirm({...modal})" />
          </slot>
        </slot>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  dataFormat: null,
  fhirFormat: null
}
export default {
  name: 'FhirVersionFormatSelection',
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: false
    },
    noVersionInput: {
      type: Boolean,
      default: false
    },
    noFormatInput: {
      type: Boolean,
      default: false
    },
    onConfirm: {
      type: Function,
      default: () => {}
    },
    title: {
      type: String,
      default: null
    },
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      modal: cloneDeep(initialModal)
    }
  },
  computed: {
    availableFhirFormats () {
      const formatsInProject = this.projectInFocus?.restURI?.filter(item => item.for === 'FHIR').map(item => item.format) || []
      const blacklist = ['1.0', '3.0']
      const results = this.fhirObjectFormats
        .filter(item => formatsInProject.includes(item.value))
        .filter(item => !blacklist.includes(item.value))
        .sort(this.$filters.numericStringComparator)
        .reverse()

      return results
    },
    fhirObjectFormats () {
      return this.$store.getters['server/getDecorTypes']?.data?.FhirObjectFormat?.[0]?.enumeration || []
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
      this.$emit('close')
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (modalIsOpen) {
        if (modalIsOpen) {
          // Pre-select default fhir format
          if (this.availableFhirFormats.length) {
            this.modal.fhirFormat = this.availableFhirFormats[0]?.value || null
          }
          this.modal.dataFormat = 'json'
        }
      }
    }

  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
