<template>
  <v-expansion-panels class="my-5" v-model="panelIsExpanded">
    <v-expansion-panel @change="fetchHistory">
      <v-expansion-panel-header>
        {{$t('history')}}
        <v-spacer />
        <v-scale-transition hide-on-leave>
          <AdButton v-if="panelIsOpen" class="flex-grow-0" type="refresh" list
            @click.stop="fetchHistory({ refresh: true })" :spinning="refreshing" :loading="refreshing" />
        </v-scale-transition>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-data-table :items="history" :headers="headers" :footer-props="{ 'items-per-page-options': [5, 10] }"
          :hide-default-footer="history.length < 5" :loading="loading" dense>
          <template #item.artefactStatusCode="{ item }">
            <AdStatusDot :status="item.artefactStatusCode" />
            {{ statusLabel(item.artefactStatusCode) }}
            <v-tooltip bottom v-if="item.hoovered === 'true'">
              <template v-slot:activator="{ on: tooltip }">
                <v-icon small color="blue lighten-2" v-on="tooltip">mdi-timer-sand</v-icon>
              </template>
              <span>{{ $t('hoovered-item') }}</span>
            </v-tooltip>
          </template>

          <template #item.date="{ item }">
            <template v-if="item.date">
              {{ $filters.formatDate(item.date) }}
            </template>
          </template>

          <template #item.intention="{ item }">
            {{ $filters.getIntention(item.intention) }}
          </template>
        </v-data-table>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import DataSetService from '@/services/DataSetService'
import TerminologyService from '@/services/TerminologyService'
import ScenarioService from '@/services/ScenarioService'
import TemplateService from '@/services/TemplateService'
import ImplementationGuideService from '@/services/ImplementationGuideService'

import { mapGetters } from 'vuex'

export default {
  name: 'HistorySection',
  props: {
    expanded: {
      type: Boolean,
      default: false
    },
    // Id of the associated object
    objectId: {
      type: String,
      required: true
    },
    // Effective date of the associated object
    objectEffectiveDate: {
      type: String,
      default: null
    },
    // Artefact type, used to determine which service to use
    artefact: {
      type: String,
      required: true,
      validator (value) {
        return ['DS', 'DE', 'VS', 'SC', 'TR', 'CS', 'TM', 'IG'].includes(value)
      }
    }
  },
  data () {
    return {
      history: [],
      loading: false,
      refreshing: false,
      services: {
        DS: DataSetService.getDatasetHistory,
        DE: DataSetService.getConceptHistory,
        VS: TerminologyService.getValueSetHistory,
        SC: ScenarioService.getScenarioHistory,
        TR: ScenarioService.getTransactionHistory,
        CS: TerminologyService.getCodeSystemHistory,
        TM: TemplateService.getTemplateHistory,
        IG: ImplementationGuideService.getTemplateHistory
      }
    }
  },
  computed: {
    ...mapGetters('server', ['getItemStatuses']),

    headers () {
      return [
        { value: 'artefactStatusCode', text: this.$t('status') },
        { value: 'author', text: this.$t('Performer'), cellClass: 'font-italic' },
        { value: 'date', text: this.$t('When') },
        { value: 'intention', text: this.$t('intention-for-edit') }
      ].filter(h => this.userIsEditor || !['author'].includes(h.value))
    },
    panelIsExpanded: {
      get () {
        return this.expanded ? 0 : null
      },
      set (value) {
        const expanded = value === 0
        this.$emit('update:expanded', expanded)
      }
    },
    panelIsOpen () {
      return this.panelIsExpanded === 0
    },
    statusLabel () {
      return status => {
        const statusObj = this.getItemStatuses?.find(item => item.value === status)
        if (!statusObj.label) {
          return status
        }
        return this.$filters.getMatchingTranslation({ value: statusObj.label, locale: this.$i18n.locale })
      }
    }
  },
  methods: {
    async fetchHistory ({ refresh = false } = {}) {
      if (this.panelIsOpen && !refresh) return
      if (typeof this.services[this.artefact] !== 'function') return
      if (!this.objectId || !this.objectEffectiveDate) return

      this.loading = true
      if (refresh) {
        this.refreshing = true
      }

      try {
        const response = await this.services[this.artefact]({ id: this.objectId, effectiveDate: this.objectEffectiveDate })
        this.history = Array.isArray(response.data.history)
          ? response.data.history
          : []
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }

      this.loading = false
      if (refresh) {
        this.refreshing = false
      }
    }
  },
  created () {
    if (this.expanded) {
      this.fetchHistory({ refresh: true })
    }
  }
}
</script>
