<template>
  <v-card outlined>
    <v-data-table
      :items="items"
      :headers="headers"
      item-key="uuid"
      :footer-props="{ 'items-per-page-options': [5, 10] }"
      :hide-default-footer="items.length <= 5"
      dense
      :loading="loading"
    >
      <template #top>
        <AdCardTitle>
          {{ $t('affected-artefacts') }}
          <EditableInfoIcon activatorClass="infoButton" :infoText="$t('affected-artefacts-hint')"/>
        </AdCardTitle>
      </template>
      <template #item.displayName="{ item }">{{ item.displayName ?? item.name }}</template>
      <template #item.attribute="{ item }">
        <span class="text--disabled">{{ item.name }}</span>@<span class="font-weight-bold">{{ item.attribute }}</span>
      </template>
      <template #item.effectiveDate="{ item }"><span v-if="item.effectiveDate" class="text-no-wrap">{{ $filters.formatDateShort(item.effectiveDate) }}</span></template>
      </v-data-table>
  </v-card>
</template>

<script>
import AdCardTitle from './AdCardTitle.vue'
export default {
  components: { AdCardTitle },
  name: 'IdUsageList',
  props: {
    items: {
      type: Array,
      default: () => []
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    headers () {
      return [
        {
          value: 'displayName',
          text: this.$t('display-name'),
          sortable: true
        },
        { text: this.$t('id'), sortable: true, value: 'id', sort: this.$filters.numericStringComparator },
        {
          value: 'effectiveDate',
          text: this.$t('version')
        },
        {
          value: 'artifact',
          text: this.$t('artefact'),
          sortable: true
        },
        {
          value: 'attribute',
          text: this.$t('attribute'),
          sortable: true
        },
        {
          value: 'path',
          text: this.$t('path'),
          sortable: false
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .infoButton {
  margin-left: 5px;
  top: 0;
}
</style>
