<template>
  <v-expansion-panels v-if="count > 0 || count === null" v-model="issueSectionIsOpen" class="my-5">
    <v-expansion-panel @change="fetchIssueList()">
      <v-expansion-panel-header>
        <div>{{$t('issues')}} <span v-if="count !== null">({{ count }})</span></div>

        <v-spacer/>
        <v-scale-transition hide-on-leave>
          <AdButton
            v-if="issueSectionIsOpen === 0"
            class="flex-grow-0"
            type="refresh"
            list
            @click.stop="fetchIssueList({ refresh: true })"
             :spinning="refreshing"
            :loading="refreshing"
          />
        </v-scale-transition>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <div style="height: 5px" class="mb-2 px-4">
          <v-progress-linear
            v-if="loadingIssueList"
            indeterminate
            color="orange darken-2"
          />
        </div>

        <v-expansion-panels
          v-model="openPanelsIssues"
          v-if="issuesCount > 0"
          multiple
          popout
          focusable>
          <v-expansion-panel
              v-for="(issue, tabIndex) in issuesAssociations"
              :key="issue.targetId"
              hide-actions
              @change="fetchIssueData(tabIndex, issue.id)"
          >
            <v-expansion-panel-header class="py-0">
              <v-row class="spacer" >
                <v-col cols="5" class="pa-0 d-flex align-center">
                  <AdButton
                    link
                    :to="{ name: 'issue', params: { issueId: issue.id} }"
                    @click.stop
                  >
                    {{ issue.displayName }}
                  </AdButton>
                </v-col>
                <v-col cols="7" class="px-0">
                  <span class="mr-4 my-1 d-inline-block">
                    <AdStatusDot :status="issue.currentStatusCode"/> {{ issueStatus(issue.currentStatusCode) }}
                  </span>
                  <v-chip outlined class="mr-4 my-1">{{ issueType(issue.type) }}</v-chip>
                  <v-chip class="mr-4 my-1">
                    {{ issuePriority(issue.priority)}}
                  </v-chip>
                </v-col>
              </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <template v-if="indexOfIssueFetching !== tabIndex && (fetchedIssues[tabIndex] && fetchedIssues[tabIndex] !== 'undefined')">
                <v-row>
                  <v-col cols="8">
                    <v-timeline align-top dense >
                      <template v-for="(event, index) of events(tabIndex)">
                        <AdIssueTimelineEvent :event="event" :eventList="events(tabIndex)" :key="`timelineEvent-${index}`"/>
                      </template>
                    </v-timeline>
                  </v-col>
                  <v-col v-if="isUserLoggedIn" cols="3" class="ml-auto mr-8">
                    <EditableSwitch
                      v-if="fetchedIssues[tabIndex].loggedInWhenFetched"
                      :value="fetchedIssues[tabIndex].currentUserIsSubscribed"
                      :label="$t('subscribe')"
                      :disabled="!userIsIssueEditor"
                      @input="updateIssueSubscribtion(tabIndex, $event)"
                    />
                    <AdButton chat v-else @click="fetchIssueData(tabIndex, issue.id, true)">
                      {{ $t('resync-issue') }}
                    </AdButton>
                  </v-col>
                </v-row>
              </template>
              <PanelLoading v-else-if="indexOfIssueFetching === tabIndex" loading linear/>
              <AdInfoOwl v-else type="info" chat warning class="mt-5">{{ $t('error')}}</AdInfoOwl>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <AdInfoOwl v-else-if="count === 0 || !fetchedIssues.length" type="info" chat class="mt-5">{{$t('no-issues')}}</AdInfoOwl>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script>
import IssueService from '@/services/IssueService'
import AdIssueTimelineEvent from '@/components/Issue/AdIssueTimelineEvent'

export default {
  name: 'IssueAssociationsSection',
  components: { AdIssueTimelineEvent },
  props: {
    // Id of the associated object
    objectId: {
      type: String,
      required: true
    },
    // Effective date of the associated object
    objectEffectiveDate: {
      type: String,
      default: null
    },
    // If count is a number, the component will only be redered if count > 0. If count === null, the component will always be rendered.
    count: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      issueList: null,
      loadingIssueList: false,
      issueSectionIsOpen: false,
      openPanelsIssues: [],
      fetchedIssues: [],
      indexOfIssueFetching: null,
      refreshing: false,
      targetIssuesHeader: [
        { text: this.$t('description'), value: 'displayName', width: '50%' },
        { text: this.$t('status'), value: 'status', width: '10%' },
        { text: this.$t('type'), value: 'type', width: '20%' },
        { text: this.$t('priority'), value: 'priority', width: '20%' }
      ]
    }
  },
  computed: {
    events () {
      return (index) => {
        const tracking = this.fetchedIssues?.[index]?.tracking || []
        tracking.forEach(t => {
          t.type = 'tracking'
        })
        const assignment = this.fetchedIssues?.[index]?.assignment || []
        assignment.forEach(t => {
          t.type = 'assignment'
        })

        const events = [...tracking, ...assignment]
        return events.sort((a, b) => (a.effectiveDate > b.effectiveDate ? -1 : 1))
      }
    },
    issuesAssociations () {
      return this.issueList?.issue || []
    },
    issuesCount () {
      return this.issuesAssociations?.length || 0
    },
    issueMetaData () {
      return {
        statuses: this.$store.getters['server/getIssueStatuses'],
        types: this.$store.getters['server/getIssueTypes'],
        priorities: this.$store.getters['server/getIssuePriorities']
      }
    },
    issueType () {
      return (targetType) => {
        const labels = this.issueMetaData?.types?.find(type => type.value === targetType).label || []
        return labels.length > 0 ? this.$filters.getMatchingTranslation({ value: labels, locale: this.$i18n.locale }) : ''
      }
    },
    issuePriority () {
      return (targetPriority) => {
        const labels = this.issueMetaData?.priorities?.find(type => type.value === targetPriority).label || []
        return labels.length > 0 ? this.$filters.getMatchingTranslation({ value: labels, locale: this.$i18n.locale }) : ''
      }
    },
    issueStatus () {
      return (targetStatus) => {
        const labels = this.issueMetaData?.statuses?.find(type => type.value === targetStatus).label || []
        return labels.length > 0 ? this.$filters.getMatchingTranslation({ value: labels, locale: this.$i18n.locale }) : ''
      }
    }
  },
  methods: {
    async fetchIssueList ({ refresh = false } = {}) {
      if (this.issueSectionIsOpen === 0 && !refresh) {
        return
      }

      this.loadingIssueList = true
      if (refresh) {
        this.refreshing = true
      }

      try {
        const project = this.projectInFocus.prefix
        const response = await IssueService.getIssueList({ project, objectId: this.objectId, objectEffectiveDate: this.objectEffectiveDate })
        if (response?.data) {
          const issueList = response.data
          if (!Array.isArray(issueList.issue)) {
            issueList.issue = []
          }
          this.issueList = issueList
        }
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error.message || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
      this.loadingIssueList = false
      if (refresh) {
        this.refreshing = false
      }
    },
    async fetchIssueData (index, id, force) {
      // Fetch data if panel is opened
      if (!this.openPanelsIssues.includes(index) || force) {
        this.indexOfIssueFetching = index
        try {
          const issue = await IssueService.getIssue(id)

          this.fetchedIssues[index] = issue.data
          this.fetchedIssues[index].loggedInWhenFetched = this.isUserLoggedIn
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error.message || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        }
        this.indexOfIssueFetching = null
      }
    },
    async updateIssueSubscribtion (index, value) {
      try {
        const project = this.fetchedIssues[index].ident
        const id = this.fetchedIssues[index].id
        const issue = await IssueService.subscribeIssue(project, id, value)

        this.fetchedIssues[index] = issue.data
        this.fetchedIssues[index].loggedInWhenFetched = this.isUserLoggedIn
        this.$notify(this.$t('submission-save-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error.message || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    }
  }

}
</script>
