<template>
  <v-dialog :value="value" width="450" persistent>
    <v-card>
      <AdCardTitle dialog>
        {{ $t('change-status') }}
      </AdCardTitle>

      <v-card-text class="pt-4">
        <v-row dense>
          <v-col cols="12">
            <!-- Status input -->
            <component :is="statusInput" :value="status" :readonly="true" :label="$t('status')" :hideDetails="true"/>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col>
            <EditableSwitch
              v-model="modal.options.versionLabel"
              :label="$t('versionLabel')"
              :hideDetails="true"
            />
          </v-col>
          <v-col>
            <EditableSwitch
              v-model="modal.options.expirationDate"
              :label="$t('expiration-date')"
              :hideDetails="true"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-text-field
              :disabled="modal.options.versionLabel !== 'true'"
              :class="{ required: modal.options.versionLabel === 'true' }"
              v-model="modal.inputs.versionLabel"
              :label="$t('versionLabel')"
              :hideDetails="true"
            />
          </v-col>
          <v-col cols="6">
            <EditableDate
              :class="{ required: modal.options.expirationDate === 'true' }"
              :disabled="modal.options.expirationDate !== 'true'"
              v-model="expirationDate"
              :label="$t('expiration-date')"
              :hideDetails="true"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <EditableSwitch
              v-model="modal.inputs.recursive"
              :label="$t('recursive')"
              :infoText="$t('apply-status-properties')"
              :hideDetails="true"
            />
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer />
        <AdButton type="cancel" @click="closeModal(false, $event)"/>
        <AdButton type="save" @click="save" :disabled="!canBeSaved" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { cloneDeep } from 'lodash'

const initialModal = {
  inputs: {
    recursive: 'true',
    versionLabel: null,
    expirationDate: null
  },
  options: {
    versionLabel: 'false',
    expirationDate: 'false'
  }
}
export default {
  name: 'RecursiveStatusChange',

  props: {
    onSave: {
      type: Function,
      required: true
    },
    // The item status
    status: {
      type: String
    },
    // Configure the status input
    statusInput: {
      type: [String, Object],
      required: false,
      default: () => 'EditableItemStatusCode'
    },
    // Open/close state of the modal
    value: {
      type: Boolean,
      required: false,
      default: false
    }

  },
  data () {
    return {
      modal: cloneDeep(initialModal)

    }
  },
  computed: {
    canBeSaved () {
      const validData = []
      if (this.modal.options.versionLabel === 'true') {
        validData.push(!!this.modal.inputs.versionLabel)
      }
      if (this.modal.options.expirationDate === 'true') {
        validData.push(!!this.modal.inputs.expirationDate)
      }
      return validData.every(value => value === true)
    },
    expirationDate: {
      get () {
        return this.modal.inputs.expirationDate?.split('T')?.[0] || null
      },
      set (value) {
        const dateTime = value === null ? null : `${value}T00:00:00`
        // if (!this.modal.inputs.expirationDate) {
        //   this.$set(this.modal.inputs, 'expirationDate', null)
        // }
        this.modal.inputs.expirationDate = dateTime
      }
    }
  },
  methods: {
    closeModal (withSuccess = false) {
      this.modal = cloneDeep(initialModal)
      this.$emit('input', false)
      this.$emit('close', withSuccess)
    },
    async save () {
      const data = {
        statusCode: this.status,
        recurse: this.modal.inputs.recursive
      }
      if (this.modal.options.versionLabel === 'true') {
        data.versionLabel = this.modal.inputs.versionLabel
      }
      if (this.modal.options.expirationDate === 'true') {
        data.expirationDate = this.modal.inputs.expirationDate
      }

      try {
        await this.onSave(data)
        const successFull = true
        this.closeModal(successFull)
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    }
  },
  watch: {
    'modal.options.versionLabel': {
      handler (newVal) {
        if (newVal === 'false') {
          this.modal.inputs.versionLabel = null
        }
      }
    },
    'modal.options.expirationDate': {
      handler (newVal) {
        if (newVal === 'false') {
          this.expirationDate = null
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}
</style>
