<template>
<div>
  <!-- Dialog for adding / editing a relationship -->
  <v-dialog
    v-model="modal.state"
    width="800"
    persistent
  >
    <v-card>
      <AdCardTitle dialog>{{ modalTitle }}</AdCardTitle>
      <v-card-text class="pa-5">
        <v-row v-if="modal.mode === 'add'">
          <v-col>
            <v-data-table
              v-model="modal.selectedObject"
              :headers="modalHeaders"
              :items="objects"
              item-key="uuid"
              :loading="modal.loading.objects"
              show-select
              single-select
              :items-per-page="5"
              :hide-default-footer="objects.length <= 5"
            >
              <template #top>
                <v-row dense>
                  <v-spacer />
                  <!-- Object search -->
                  <v-col cols="6">
                    <v-text-field
                      v-model.trim="modal.search"
                      :label="$t('search')"
                      @input="performDebouncedSearch"
                      @click:append="fetchObjects"
                      @keydown.enter.prevent="fetchObjects"
                      append-icon="mdi-magnify"
                      single-line
                      dense
                      solo
                      hide-details
                      autofocus
                    />
                  </v-col>
                  <!-- Filter for project idents -->
                  <v-col cols="auto" >
                    <v-menu
                      :close-on-content-click="false"
                      offset-y
                    >
                      <template #activator="{ on, attrs }">
                        <v-btn
                          v-bind="attrs"
                          v-on="on"
                          :class="{'green': hasActiveProjectFilters}"
                          :color="hasActiveProjectFilters ? 'white' : 'light-green darken-2'"
                          icon
                          outlined
                          small
                          :disabled="!modal.projectFilters.length"
                        >
                          <v-icon small>mdi-filter</v-icon>
                        </v-btn>
                      </template>
                      <v-list v-if="modal.projectFilters.length">
                        <v-list-item-group>
                          <v-list-item
                            v-for="(filter, key) of modal.projectFilters"
                            :key="key"
                            @click="filter.active = !filter.active"
                          >
                            <v-list-item-action>
                              <v-checkbox
                                :input-value="filter.active"
                                color="primary"
                              />
                            </v-list-item-action>

                            <v-list-item-content>
                              <v-list-item-title>{{ filter.name }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                      </v-list>
                    </v-menu>
                  </v-col>
                </v-row>
              </template>
              <template #item.name="{ item }">
                <div class="d-flex">
                  <AdStatusDot
                    :status="item.statusCode"
                    :icon="getIcon(item)"
                    larger
                    tooltip
                    class="mr-2"
                  />
                  <div>
                    {{ $filters.getMatchingTranslation({ value: item.name }) }}
                    <span v-if="item.versionLabel && item.versionLabel !== ''">({{ item.versionLabel }})</span>
                  </div>
                </div>
              </template>
              <template #item.version="{ item }">
                {{ $filters.formatDateShort(item.effectiveDate) }}
              </template>
              <template #item.prefix="{ item }">
                {{ item.ident }}
              </template>
            </v-data-table>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6" v-if="modal.mode === 'edit'">
            <v-text-field
              :value="getEditableItemName"
              readonly
            >
              <template #prepend-inner>
                <AdStatusDot
                  :icon="getEditableItemIcon"
                  :status="getEditableItemStatusCode"
                  larger
                  tooltip
                />
              </template>
            </v-text-field>
          </v-col>
          <v-col cols="6" v-if="modal.mode === 'edit' || modal.selectedObject.length">
            <v-autocomplete
              v-model="modal.selectedType"
              :label="$t('type')"
              :items="sortedRelationshipTypes"
              auto-select-first
              item-value="value"
              :filter="filterRelationshipTypes"
              :disabled="sortedRelationshipTypes.length <= 1"
            >
              <template #item="{ item }">
                {{ $filters.getMatchingTranslation({ value: item.label, locale: $i18n.locale })}}
              </template>
              <template #selection="{ item }">
                {{ $filters.getMatchingTranslation({ value: item.label, locale: $i18n.locale })}}
              </template>
            </v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="dialogbottomstrip">
        <v-spacer></v-spacer>
        <AdButton type="cancel" @click="closeModal" />
        <AdButton
          :type="$t('save')"
          :disabled="(modal.mode === 'add' && !modal.selectedObject.length )|| !modal.selectedType || this.modal.loading.patch"
          @click="handleSave"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>

  <!-- Relationships Panel -->
  <v-expansion-panels v-model="panelIsExpanded" class="my-5">
    <v-expansion-panel>
      <v-expansion-panel-header>{{$t('relationships')}} ({{ relationshipCounter }})</v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-data-table
          :headers="headers"
          :items="relationships"
          item-key="ref"
          hide-default-footer
        >
          <template #top >
            <div v-if="!readonly && userIsEditor" class="d-flex">
              <v-spacer/>
              <AdButton type="add" @click="startAddRelationship" />
            </div>
          </template>
          <template #item.type="{ item }">
            {{ getRelationshipLabel(item.type) }}
          </template>
          <template #item.name="{ item }">
            <AdButton
              v-if="showLinkForItem(item)"
              link
              :to="getRouteObject(item)"
            >
              {{ $filters.getMatchingTranslation({ value: item.name || item.tmdisplayName }) || $t('go-to')}}
            </AdButton>
            <span v-else>
              {{ itemNameOrFallback(item) }}
              <v-tooltip v-if="item.linkedartefactmissing === 'true'" bottom>
                <template #activator="{ on, attrs }">
                  <v-icon color="warning" dark v-bind="attrs" v-on="on" small class="ml-2">mdi-alert</v-icon>
                </template>
                <span>{{ $t('artifact-missing') }}</span>
              </v-tooltip>
            </span>
          </template>
          <template #item.version="{ item }">
            <span v-if="item.flexibility">
              {{ item.flexibility === 'dynamic' ? $t('dynamic') : $filters.formatDateShort(item.flexibility) }}
            </span>
          </template>
          <template #item.prefix="{ item }">
            {{ item.prefix || item.ident }}
          </template>
          <template #item.actions="{ item }">
            <AdSpeedDial v-if="!readonly && userIsEditor" direction="left">
              <AdSpeedOption v-if="item.linkedartefactmissing !== 'true'" type="edit" @click="startEditRelationship(item)"/>
              <AdSpeedOption type="delete" @click="deleteRelationship(item)"/>
            </AdSpeedDial>
          </template>
        </v-data-table>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</div>
</template>

<script>
import DataSetService from '@/services/DataSetService'
import TemplateService from '@/services/TemplateService'
import QuestionnaireService from '@/services/QuestionnaireService'
import { cloneDeep, debounce } from 'lodash'
import { isCancel } from 'axios'

const initialModalState = {
  editableItem: null,
  fetchedObjects: [],
  lastSearch: '',
  loading: { objects: false, patch: false },
  mode: null, // 'add' or 'edit'
  projectFilters: [],
  search: '',
  selectedObject: [],
  selectedType: 'ADAPT',
  state: false
}
export default {
  name: 'RelationshipSection',
  props: {
    expanded: {
      type: Boolean,
      default: false
    },
    // The dataset or concept object. Expected is that item.relationship is present and is an array.
    item: {
      type: Object,
      required: true
    },
    objectType: {
      type: String,
      default: 'concept',
      validator: value => ['concept', 'dataset', 'profile', 'template', 'questionnaire', 'questionnaireResponse'].includes(value)
    },
    readonly: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      abortController: null,
      modal: cloneDeep(initialModalState),
      patchService: {
        concept: 'dataset/patchConceptItem',
        dataset: 'dataset/patchDatasetItem',
        template: 'rule/template/patchTemplate',
        profile: 'rule/profile/patchProfile',
        questionnaireResponse: 'questionnaire/patchQuestionnaire'
      },
      searchService: {
        concept: DataSetService.getDatasetConceptList,
        dataset: DataSetService.getDataSetList,
        template: TemplateService.getTemplateList,
        profile: TemplateService.getTemplateList,
        questionnaireResponse: QuestionnaireService.getQuestionnaireList
      }
    }
  },
  computed: {
    // activeItemIsLoading () {
    //   return this.$store.state.dataset.loading.activeItem
    // },
    getEditableItemIcon () {
      return ['concept', 'dataset'].includes(this.objectType)
        ? this.$filters.getDatasetIcon(this.modal.editableItem.type)
        : undefined
    },
    getEditableItemName () {
      const value = this.modal.editableItem.name || this.modal.editableItem.tmdisplayName
      return this.$filters.getMatchingTranslation({ value })
    },
    getEditableItemStatusCode () {
      return this.modal.editableItem.iStatusCode || this.modal.editableItem.tmstatusCode || null
    },
    // @TODO Check if this is needed
    getRelationshipHint () {
      return type => {
        const allTypes = [...this.$store.getters['server/getDecorTypes']?.data?.RelationshipTypes?.[0]?.enumeration || [], { value: 'ANSW', label: this.$t('answer') }]
        const requestedType = allTypes.find(t => t.value === type)
        return requestedType.hint ? this.$filters.getMatchingTranslation({ value: requestedType.hint, locale: this.$i18n.locale }) : ''
      }
    },
    getRelationshipLabel () {
      return type => {
        const allTypes = [...this.$store.getters['server/getDecorTypes']?.data?.RelationshipTypes?.[0]?.enumeration || [], { value: 'ANSW', label: this.$t('answer') }]
        const requestedType = allTypes.find(t => t.value === type)
        return requestedType.label ? this.$filters.getMatchingTranslation({ value: requestedType.label, locale: this.$i18n.locale }) : type
      }
    },
    hasActiveProjectFilters () {
      return !!this.modal.projectFilters.find(f => f.active)
    },
    headers () {
      return [
        { value: 'name', text: this.$t('name'), sortable: false },
        { value: 'type', text: this.$t('type'), sortable: false },
        { value: 'version', text: this.$t('version'), sortable: false },
        { value: 'prefix', text: this.$t('prefix'), sortable: false },
        { value: 'actions', sortable: false, align: 'right' }
      ]
    },
    itemNameOrFallback () {
      return item => item.name || item.tmdisplayName || item.ref || item.template
    },
    modalHeaders () {
      return [
        { value: 'name', text: this.$t('name'), sortable: false },
        { value: 'version', text: this.$t('version'), sortable: false },
        { value: 'prefix', text: this.$t('prefix'), sortable: false }
      ]
    },
    modalTitle () {
      return this.$t(`${this.modal.mode}-relationship`)
    },
    objects () {
      if (this.hasActiveProjectFilters) {
        const activeFilters = this.modal.projectFilters
          .filter((filter) => filter.active)
          .map((filter) => filter.name)
        return this.modal.fetchedObjects?.filter(obj => activeFilters.includes(obj.prefix || obj.ident))
      }
      return this.modal.fetchedObjects || []
    },
    panelIsExpanded: {
      get () {
        return this.expanded ? 0 : null
      },
      set (value) {
        const expanded = value === 0
        this.$emit('update:expanded', expanded)
      }
    },
    relationships () {
      return this.item?.relationship || []
    },
    relationshipCounter () {
      return this.item?.relationship?.length || 0
    },
    relationshipTypes () {
      if (this.objectType === 'questionnaireResponse') {
        return [{ value: 'ANSW', label: this.$t('answer') }]
      }
      return this.$store.getters['server/getDecorTypes']?.data?.RelationshipTypes?.[0]?.enumeration || []
    },
    showLinkForItem () {
      return item => {
        const hasNameToDisplay = !!(item.name || item.tmdisplayName)

        if (['template', 'profile'].includes(this.objectType)) {
          const projects = this.$store.getters['project/getProjects'] ?? []
          return hasNameToDisplay && projects.some(project => project.prefix === item.ident)
        }

        return hasNameToDisplay
      }
    },
    sortedRelationshipTypes () {
      const types = cloneDeep(this.relationshipTypes)
      return types.sort((a, b) => {
        const nameA = this.$filters.getMatchingTranslation({ value: a.label, locale: this.$i18n.locale })
        const nameB = this.$filters.getMatchingTranslation({ value: b.label, locale: this.$i18n.locale })
        if (nameA < nameB) {
          return -1
        }
        if (nameA > nameB) {
          return 1
        }
        return 0
      })
    }
  },
  methods: {
    closeModal () {
      this.modal = cloneDeep(initialModalState)
    },
    async addRelationship (item) {
      try {
        const id = this.modal.selectedObject?.[0]?.id
        const effectiveDate = this.modal.selectedObject?.[0]?.effectiveDate

        if (!id && !effectiveDate) {
          throw new Error('submission-save-error-label')
        }

        const data = {
          parameter: [
            {
              op: 'add',
              path: '/relationship',
              value: {
                relationship: {
                  [this.getPropNameForPatch('id')]: id,
                  [this.getPropNameForPatch('effectiveDate')]: effectiveDate,
                  type: this.modal.selectedType
                }
              }
            }
          ]
        }

        const params = {}
        if (this.objectType === 'concept') {
          params.associations = true
        }
        this.modal.loading.patch = true
        const payload = { item: this.item, data, params }
        if (this.objectType === 'questionnaireResponse') {
          payload.QR = true
        }
        await this.$store.dispatch(this.patchService[this.objectType], payload)
        this.closeModal()
      } catch (error) {
        console.log(error)
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      } finally {
        this.modal.loading.patch = false
      }
    },
    async deleteRelationship (item) {
      const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
      if (agree) {
        try {
          const data = {
            parameter: [
              {
                op: 'remove',
                path: '/relationship',
                value: {
                  relationship: item
                }
              }
            ]
          }
          await this.$store.dispatch(this.patchService[this.objectType], { item: this.item, data })
          this.$notify(this.$t('submission-update-success-label'), 'success')
        } catch (error) {
          const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
          this.$oops(errorMessage)
        }
      }
    },
    async editRelationship () {
      try {
        const data = {
          parameter: [
            {
              op: 'replace',
              path: '/relationship',
              value: {
                relationship: { ...this.modal.editableItem, type: this.modal.selectedType }
              }
            }
          ]
        }
        this.modal.loading.patch = true
        await this.$store.dispatch(this.patchService[this.objectType], { item: this.item, data })
        this.closeModal()
        this.$notify(this.$t('submission-update-success-label'), 'success')
      } catch (error) {
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      } finally {
        this.modal.loading.patch = false
      }
    },
    async fetchObjects () {
      try {
        const search = this.modal.search
        if (!search.length || search === this.modal.lastSearch) {
          return
        }
        this.modal.lastSearch = search

        // Abort pending request
        if (this.abortController) {
          this.abortController.abort('A new search is performed')
        }

        // Set up abortController
        this.abortController = new AbortController()

        const searchService = this.searchService[this.objectType]
        this.modal.loading.objects = true
        const response = await searchService(
          {
            prefix: this.projectInFocus?.prefix,
            includebbr: true,
            search: this.modal.search
          },
          this.abortController
        )
        this.modal.fetchedObjects = this.parseSearchResponse(response)

        // Set projectFilters without duplicates
        const projects = [...new Map(this.modal.fetchedObjects.map(obj => [obj.prefix || obj.ident, obj])).values()]
        this.modal.projectFilters = projects.map(obj => ({ name: obj.prefix || obj.ident, active: false })).filter(obj => obj.name !== undefined)

        this.modal.loading.objects = false
      } catch (error) {
        if (isCancel(error)) {
          // Don´t show an error message if the user aborts the request
          return
        }
        this.modal.loading.objects = false
        const errorMessage = error?.response?.data?.description || error?.response?.statusText || 'Error'
        this.$oops(errorMessage)
      }
    },
    filterRelationshipTypes (item, search) {
      const name = this.$filters.getMatchingTranslation({ value: item.label, locale: this.$i18n.locale })?.toLowerCase()
      const query = search.toLowerCase()
      return name?.includes(query)
    },
    getIcon (item) {
      switch (this.objectType) {
        case 'dataset':
          return this.$filters.getDatasetIcon(item)
        case 'concept':
          return this.$filters.getDatasetIcon(item)
        case 'questionnaireResponse':
          return this.$filters.getQuestionnaireIcon(item)
        case 'questionnaire':
          return item.artifact === 'TR'
            ? this.$filters.getScenarioIcon(item)
            : this.$filters.getQuestionnaireIcon(item)
        case 'template':
          return this.$filters.getTemplateIcon(item)
        case 'profile':
          return this.$filters.getTemplateIcon(item)
        default:
          return null
      }
    },
    // Get the name of the property for the patch. 'prop' can be 'id', 'effectiveDate'
    getPropNameForPatch (prop) {
      switch (this.objectType) {
        case 'template':
          if (prop === 'id') {
            return 'template'
          }
          if (prop === 'effectiveDate') {
            return 'flexibility'
          }
          return null
        case 'profile':
          if (prop === 'id') {
            return 'template'
          }
          if (prop === 'effectiveDate') {
            return 'flexibility'
          }
          return null
        default:
          if (prop === 'id') {
            return 'ref'
          }
          if (prop === 'effectiveDate') {
            return 'flexibility'
          }
          return null
      }
    },
    getRouteObject (item) {
      if (this.objectType === 'concept') {
        return {
          name: 'dataset-details-version',
          params: {
            prefix: item.prefix,
            datasetId: item.datasetId,
            datasetVersion: item.datasetEffectiveDate,
            conceptId: item.ref,
            conceptVersion: item.flexibility
          }
        }
      }
      if (this.objectType === 'dataset') {
        return {
          name: 'dataset-details',
          params: {
            prefix: item.prefix,
            datasetId: item.ref,
            datasetVersion: item.flexibility
          }
        }
      }
      if (this.objectType === 'template') {
        return {
          name: 'templates-details-id-effectiveDate',
          params: {
            prefix: item.ident,
            id: item.tmid,
            effectiveDate: item.tmeffectiveDate
          }
        }
      }
      if (this.objectType === 'profile') {
        return {
          name: 'profiles-details-id-effectiveDate',
          params: {
            prefix: item.ident,
            id: item.tmid,
            effectiveDate: item.tmeffectiveDate
          }
        }
      }
      if (this.objectType === 'questionnaire' && item.artifact === 'TR') {
        return {
          name: 'scenarios-details',
          params: {
            prefix: item.ident || this.projectInFocus?.prefix,
            scenarioId: item.ref,
            scenarioVersion: item.flexibility
          }
        }
      }
      if (['questionnaireResponse', 'questionnaire'].includes(this.objectType)) {
        return {
          name: 'questionnaires-details-id-effectiveDate',
          params: {
            prefix: item.ident || this.projectInFocus?.prefix,
            id: item.ref,
            effectiveDate: item.flexibility
          }
        }
      }
    },
    handleSave () {
      this[this.modal.mode + 'Relationship']()
    },
    parseSearchResponse (response) {
      if (['template', 'profile'].includes(this.objectType)) {
        const list = []
        if (response.data?.category && Array.isArray(response.data.category)) {
          response.data.category.forEach(cat => {
            if (cat.template && Array.isArray(cat.template)) {
              cat.template.forEach(tm => {
                list.push(tm)
              })
            }
          })
        }
        return list
      }
      if (this.objectType === 'questionnaireResponse') {
        return response?.data?.questionnaire
      }
      return response?.data?.[this.objectType] || []
    },
    performDebouncedSearch: debounce(function () {
      if (this.modal.search?.length >= 3) {
        this.fetchObjects()
      }
    }, 500),
    startAddRelationship () {
      this.modal.mode = 'add'
      this.modal.state = true
    },
    startEditRelationship (item) {
      this.modal.mode = 'edit'
      this.modal.editableItem = cloneDeep(item)
      this.modal.selectedType = item.type
      this.modal.state = true
    }
  },
  watch: {
    objectType: {
      immediate: true,
      handler (value) {
        if (value === 'questionnaireResponse') {
          this.modal.selectedType = 'ANSW'
        }
      }
    }
  }
}
</script>
