<template>
  <v-card class="stats-card d-flex flex-row" :color="color" :to="to">
    <v-card class="stats-card-icon d-flex flex-shrink-1 pa-4" :color="color" dark flat>
      <v-icon x-large>{{ icon }}</v-icon>
    </v-card>

    <v-card class="stats-card-content d-flex align-end flex-column flex-grow-1 pa-2" flat>
      <div class="pa-0 text-caption text-uppercase">
        <AdStatusDot v-if="status != null" class="pr-2 pb-3" :status="status" tooltip/>
        {{ title }}
      </div>
      <div class="pa-0 text-h5">
        {{ (isNaN(count) ? count : $n(count)) }}
        </div>
    </v-card>
  </v-card>
</template>

<script>
export default {
  name: 'StatsCard',

  props: {
    title: {
      type: String,
      required: true
    },
    count: {
      type: [String, Number],
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    color: {
      type: String,
      required: false,
      default: null
    },
    to: {
      type: [String, Object],
      required: false,
      default: null
    },
    status: {
      type: String,
      required: false,
      default: null
    }
  }
}
</script>

<style lang="scss">
.stats-card {
  .stats-card-icon {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .stats-card-content {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  &:hover .stats-card-content {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
  }
}
</style>
