<template>
  <div v-if="keepTrack">
    <slot :undo="undo" :redo="redo" :canUndo="canUndo" :canRedo="canRedo">
      <AdButton
      type="undo"
      list
      @click="undo"
      :disabled="!canUndo"
    />
    <AdButton
      v-if="enableRedo"
      type="redo"
      list
      @click="redo"
      :disabled="!canRedo"
    />
    </slot>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash'
export default {
  name: 'UndoRedo',
  props: {
    // Enable redo functionality
    enableRedo: {
      type: Boolean,
      default: true
    },
    // Optional prop to turn on/off tracking. When switching to false, the stack will be cleared.
    keepTrack: {
      type: Boolean,
      default: true
    },
    // Set the maximum length of the undo / redo stack
    maxStackLength: {
      type: Number,
      default: 3
    },
    // The state to be controlled by the UndoRedo component
    value: {
      required: true
    }
  },
  data () {
    return {
      undoStack: [],
      redoStack: []
    }
  },
  computed: {
    canRedo () {
      return this.keepTrack && this.enableRedo && this.redoStack.length
    },
    canUndo () {
      return this.keepTrack && this.undoStack.length
    }
  },
  methods: {
    // If passed stack exceeds its limit, remove items from the start of the array
    // Mutates the stack passed as an argument
    clipStack (stack) {
      const stackLength = stack.length
      if (stackLength > this.maxStackLength) {
        stack.splice(0, stackLength - this.maxStackLength)
      }
    },
    // To be called from outside the component, before mutating the state
    trackState () {
      if (!this.keepTrack) {
        return
      }
      // Add current state to the undo stack
      const currentState = cloneDeep(this.value)
      this.undoStack.push(currentState)
      // If undo stack exceeds its limit, clip it
      this.clipStack(this.undoStack)
      // Clear the redo stack
      if (this.enableRedo) {
        this.redoStack = []
      }
    },
    redo () {
      if (!this.canRedo) {
        return
      }
      // Add current state to the undo stack
      const currentState = cloneDeep(this.value)
      this.undoStack.push(currentState)
      // If undo stack exceeds its limit, clip it
      this.clipStack(this.undoStack)
      // Restore the state
      const previousState = this.redoStack.pop()
      this.$emit('input', previousState)
    },
    undo () {
      if (!this.canUndo) {
        return
      }
      if (this.enableRedo) {
        // Add current state to the redo stack
        const currentState = cloneDeep(this.value)
        this.redoStack.push(currentState)
        // If redo stack exceeds its limit, clip it
        this.clipStack(this.redoStack)
      }
      // Restore the state
      const previousState = this.undoStack.pop()
      this.$emit('input', previousState)
    }
  },
  watch: {
    keepTrack (trackingEnabled) {
      if (!trackingEnabled) {
        this.undoStack.length = 0
        this.redoStack.length = 0
      }
    }
  }
}
</script>
