<script>
export default {
  /**
   * Data variables.
   *
   * Contains validation rules for form fields.
   */
  data () {
    return {
      validationRules: {
        issueType: [v => !!v || this.$t('required-field')],
        issueTitle: [v => !!v || this.$t('required-field')],
        issuePriority: [v => !!v || this.$t('required-field')],
        issueLabels: [v => !!v || this.$t('required-field')],
        issueDescription: [v => (!!v && !/^<p><\/p>$/.test(v)) || this.$t('required-field')]
      }
    }
  }
}
</script>
