<template>
  <v-layout>
    <v-container fluid>
      <v-row>
        <v-col>
          The following buttons are all test buttons. They demonstrate what
          buttons look like.
          <p></p>
          <v-card>
            <AdCardTitle> Panel Buttons</AdCardTitle>
            <v-card-text class="pt-4">
              <v-row>
                <v-col>
                  Buttons for Normal User Panels, simple and iconized. Saturized
                  color, text to the left, icon to the right.
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <AdButton type="add" @click="clickEvent"/>
                  <AdButton type="filter" @click="clickEvent"/>
                  <AdButton type="change-status" @click="clickEvent"/>
                  <AdButton type="new" @click="clickEvent"/>
                  <AdButton type="diagram" @click="clickEvent"/>
                  <AdButton type="graph" @click="clickEvent"/>
                  <AdButton type="table" @click="clickEvent"/>
                  <AdButton type="edit" @click="clickEvent"/>
                  <AdButton type="clone" @click="clickEvent"/>
                  <AdButton type="temple" @click="clickEvent"/>
                  <AdButton type="issue" @click="clickEvent"/>
                  <AdButton type="compare" @click="clickEvent"/>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  Buttons for Server Admin Panels, heavier and more prominent
                  than the rest. Lighter color, text to the left, icon to the
                  right.
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <AdButton type="add" admin/>
                  <AdButton type="filter" admin/>
                  <AdButton type="change-status" admin/>
                  <AdButton type="new" admin/>
                  <AdButton type="diagram" admin/>
                  <AdButton type="graph" admin/>
                  <AdButton type="table" admin/>
                  <AdButton type="edit" admin/>
                  <AdButton type="clone" admin/>
                  <AdButton type="temple" admin/>
                  <AdButton type="issue" admin/>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <p></p>
          <v-card>
            <AdCardTitle> Dialog Buttons</AdCardTitle>
            <v-card-text class="pt-4">
              <v-row>
                <v-col>
                  Buttons for Normal User Panels, simple and iconized. Saturized
                  color, text to the left, icon to the right.
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <AdButton type="validate"/>
                  <AdButton type="cancel"/>
                  <AdButton type="new-issue"/>
                  <AdButton type="save"/>
                  <AdButton type="delete"/>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  Buttons for Server Admin Panels, heavier and more prominent
                  than the rest. Lighter color, text to the left, icon to the
                  right.
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <AdButton type="validate" admin/>
                  <AdButton type="cancel" admin/>
                  <AdButton type="new-issue" admin/>
                  <AdButton type="save" admin/>
                  <AdButton type="delete" admin/>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <p></p>
          <v-card>
            <AdCardTitle> List Item Buttons</AdCardTitle>
            <v-card-text class="pt-4">
              <AdButton type="edit" list/>
              <AdButton type="delete" list/>
              <AdButton type="actions" list/>
              <AdButton type="maintenance" list/>
            </v-card-text>
          </v-card>
          <p></p>
          <v-card>
            <AdCardTitle> Speed Dial Buttons</AdCardTitle>
            <v-card-text class="pt-4">
              <AdSpeedDial>
                <AdSpeedOption type="edit" @click="onClick('I am an edit button')"/>
                <AdSpeedOption type="erase" @click="onClick('I am an erase button')"/>
              </AdSpeedDial>
            </v-card-text>
          </v-card>
          <p></p>
          <v-card>
            <v-card-title class="topbottomstrip font-weight-bold orange--text">
              <v-layout>
                <v-spacer></v-spacer>
                <AdButton type="issue" fab medium/>
              </v-layout>
            </v-card-title>
          </v-card>
          <v-card>
            <v-card-title class="topbottomstrip font-weight-bold orange--text">
              <v-layout>
                <v-spacer>
                  <AdButton type="new"/>
                </v-spacer>
              </v-layout>
            </v-card-title>
          </v-card>
          <p></p>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import AdCardTitle from '@/components/Utilities/AdCardTitle'
import AdButton from '@/components/Utilities/AdButton'

export default {
  name: 'ButtonsDesignPanel',
  components: {
    AdCardTitle,
    AdButton
  },
  data () {
    return {
      // add/edit system user
      testfield: 'undef'
    }
  },
  methods: {
    clickEvent (event) {
      alert(`I am a "${event.target.innerText}" button :)`)
    },

    onClick (text) {
      alert(text)
    }
  }
  /*
  watch: {
    addGovernanceGroupDialog: function (val) {
      if (val) {
        this.addGovernanceGroup.model = {
          id: "1.2.3.4.5.6.7.8",
          defaultLanguage: "en-US",
          name: [
            {
              language: "en-US",
            },
            {
              "#text": "A name",
            },
          ],
          desc: [
            {
              language: "en-US",
            },
            {
              "#text": "A description",
            },
          ],
          copyright: [
            {
              addrLine: [
                {
                  type: "uri",
                  "#text": "art-decor.org",
                },
              ],
              by: "dr Kai Heitmann",
              type: "author",
              years: "2020-2021",
            },
          ],
        };
      }
    },
    addSystemUserDialog: function (val) {
      if (val) {
        this.addSystemUser.model = {
          active: true,
          defaultLanguage: "en-US",
          groups: ["bbb", "ddd", "eee"],
          primarygroup: ["bbb"],
          name: "kai",
          displayName: "Dr. Kai",
          email: "info@kheitmann.de",
          password: "1234567890",
          confirmPassword: "1234567890",
        };
      }
    },
  },
  */
}
</script>

<style lang="scss" scoped>
::v-deep .artdecorbutton {
  margin-right: 16px;
}

.v-btn.v-btn--disabled {
  background-color: initial;
}

.headline {
  background: var(--v-topbottomstrip-base);
}
</style>
