<template>
  <v-layout>
    <v-container fluid>
      <v-row>
        <v-col>
          Shows forms using some of the components described in
          <a href="#/dialogs-design-panel">Dialog Design Panel</a>
          with validation
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-form ref="form">
            <v-card>
              <AdCardTitle>Forms</AdCardTitle>

              <v-card-text class="grey lighten-3">
                <strong>EditableLanguage</strong><br />
                <EditableLanguage
                  v-model="fields.EditableLanguage.value"
                  :rules="fields.EditableLanguage.rule"
                  label="editable text field"
                  info-text="testing"
                  confirmation-required
                />
              </v-card-text>

              <v-card-text class="grey lighten-3">
                <strong>EditableTranslationEditor</strong><br />
                <EditableTranslationEditor
                  v-model="fields.EditableTranslationEditor.value"
                  :rules="fields.EditableTranslationEditor.rule"
                  label="editable text field"
                  info-text="testing"
                  confirmation-required
                />
              </v-card-text>

              <v-card-text class="grey lighten-3">
                <strong>EditableDropdown</strong><br />
                <EditableDropdown
                  v-model="fields.EditableDropdown.value"
                  :rules="fields.EditableDropdown.rule"
                  :items="fields.EditableDropdown.items"
                  item-value="value"
                  item-text="value"
                  label="editable text field"
                />
              </v-card-text>

              <v-card-text>
                <strong>EditableColorLabels</strong><br />
                <EditableColorLabels
                  v-model="fields.EditableColorLabels.value"
                  :rules="fields.EditableColorLabels.rule"
                  :items="fields.EditableColorLabels.items"
                  item-color="color"
                  item-value="code"
                  item-text="name"
                  label="editable text field"
                  readonly
                />
              </v-card-text>

              <v-card-text class="grey lighten-3">
                <strong>EditableIssueStatusCode</strong><br />
                <EditableIssueStatusCode
                  v-model="fields.EditableIssueStatusCode.value"
                  :rules="fields.EditableIssueStatusCode.rule"
                  label="editable text field"
                />
              </v-card-text>

              <v-card-text>
                <strong>EditableSwitch</strong><br />
                <EditableSwitch
                  v-model="fields.EditableSwitch.value"
                  :rules="fields.EditableSwitch.rule"
                  label="editable text field"
                />
              </v-card-text>

              <v-card-text class="grey lighten-3">
                <strong>EditableTextArea</strong><br />
                <EditableTextArea
                  v-model="fields.EditableTextArea.value"
                  :rules="fields.EditableTextArea.rule"
                  label="editable text field"
                />
              </v-card-text>

              <v-card-text>
                <strong>EditableString</strong><br />
                <EditableString
                  v-model="fields.EditableString.value"
                  :rules="fields.EditableString.rule"
                  required
                  label="editable text field"
                />
              </v-card-text>

              <v-card-text class="grey lighten-3">
                <strong>EditableTranslationEditor</strong><br />
                <EditableTranslationEditor
                  v-model="fields.EditableTranslationEditor.value"
                  :rules="fields.EditableTranslationEditor.rule"
                  label="editable text field"
                  placeholder="my placeholder"
                  editor
                />
              </v-card-text>

              <v-card-text>
                <strong>PasswordStrengthMeter</strong><br />
                <PasswordStrengthMeter
                  v-model="fields.PasswordStrengthMeter.value"
                  :rules="fields.PasswordStrengthMeter.rule"
                  label="editable text field"
                />
              </v-card-text>

              <v-card-text class="grey lighten-3">
                <strong>PasswordStrengthMeterMatch</strong><br />
                <PasswordStrengthMeter
                  v-model="fields.PasswordStrengthMeterMatch.value"
                  :rules="fields.PasswordStrengthMeterMatch.rule"
                  :match="fields.PasswordStrengthMeter.value"
                  label="editable text field"
                />
              </v-card-text>

              <v-card-actions>
                <v-spacer />
                <v-btn color="primary" @click="validate" depressed
                  >Submit</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-form>
        </v-col>
      </v-row>
      <v-row>
        <v-card id="create">
          <v-card-text class="grey lighten-3">
            <strong>Speed Dials</strong>
          </v-card-text>
          <v-card-text>
            Last Speed dial choice <b>{{ speedbtn }}</b>
            <v-row>
              <v-col cols="8">
                For more than one option of action on an item like "add", "edit"
                and "delete" we can make use of spped dials.
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="3" class="mt-3 green lighten-5">
                <div class="pa-4">
                  Placeholder Textbox. The button to the right is offering a
                  menu with several options
                </div>
              </v-col>
              <v-col cols="1">
                <AdSpeedDial
                  :open-on-hover="Boolean(1)"
                  direction="top"
                >
                  <AdButton
                    type="edit"
                    list
                    medium
                    @click="speedbtn = 'edit'"
                  />
                  <AdButton type="add" list medium @click="speedbtn = 'add'" />
                  <AdButton
                    type="erase"
                    list
                    medium
                    @click="speedbtn = 'delete'"
                  />
                </AdSpeedDial>
              </v-col>
              <v-col cols="1"> </v-col>
              <v-col cols="3" class="mt-3 green lighten-5">
                <div class="pa-4">
                  Placeholder Textbox. The button to the right is the only
                  option here and thus is shown directly
                </div>
              </v-col>
              <v-col cols="1">
                <AdButton
                  type="erase"
                  list
                  medium
                  @click="speedbtn = 'delete'"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import AdCardTitle from '@/components/Utilities/AdCardTitle'
import EditableDropdown from '@/components/Utilities/Editable/EditableDropdown/EditableDropdown'
import EditableColorLabels from '@/components/Utilities/Editable/EditableColorLabels'
import EditableIssueStatusCode from '@/components/Utilities/Editable/EditableStatusCode/EditableIssueStatusCode'
import EditableSwitch from '@/components/Utilities/Editable/EditableSwitch'
import EditableTextArea from '@/components/Utilities/Editable/EditableTextArea'
import EditableString from '@/components/Utilities/Editable/EditableString/EditableString'
import EditableTranslationEditor from '@/components/Utilities/Editable/EditableTranslationEditor'
import PasswordStrengthMeter from '@/components/Utilities/PasswordStrengthMeter'
import EditableLanguage from '@/components/Utilities/Editable/EditableDropdown/EditableLanguage'

export default {
  name: 'FormDesignPanel',
  components: {
    EditableLanguage,
    AdCardTitle,
    EditableDropdown,
    EditableColorLabels,
    EditableIssueStatusCode,
    EditableSwitch,
    EditableTextArea,
    EditableString,
    EditableTranslationEditor,
    PasswordStrengthMeter
  },
  data () {
    return {
      fields: {
        EditableLanguage: {
          value: 'de',
          rule: []
        },
        EditableDropdown: {
          value: 'Hamburg',
          rule: [(v) => v.length > 4 || 'too short'],
          items: [{ value: 'Hamburg' }, { value: 'Berlin' }, { value: 'Test' }]
        },
        EditableColorLabels: {
          value: [{ color: '#ff0000', code: 'tst', name: 'test' }],
          rule: [(v) => !v.includes('tst') || 'wrong choise'],
          items: [
            { color: '#ff0000', code: 'tst', name: 'test' },
            { color: '#00ff00', code: 'yay', name: 'Testing' },
            { color: '#0000ff', code: 'ade', name: 'ArtDecor' }
          ]
        },
        EditableIssueStatusCode: {
          value: 'open',
          rule: [(v) => !v.includes('rejected') || 'wrong choise']
        },
        EditableSwitch: {
          value: false,
          rule: [(v) => !!v || 'wrong choise']
        },
        EditableTextArea: {
          value: [
            {
              language: 'de-DE',
              lastTranslated: '2021-02-09T13:15:19',
              '#text':
                '\n <h3>Verbundforschungsprojekt "Verbesserung der Versorgungsforschung in der Akutmedizin in Deutschland durch den Aufbau eines Nationalen Notaufnahmeregisters" (AKTIN)</h3> Anhand von Daten aus der Notfallmedizin werden Gefahren für die öffentliche Gesundheit, wie etwa der Ausbruch von ansteckenden Infektionskrankheiten, frühzeitig erkennbar. Dennoch stehen diese Daten bislang auf\n Bundes- und Landesebene weder in ausreichendem Umfang noch in ausreichender Qualität zur Verfügung. Wissenschaftliche Untersuchungen im Rahmen der Versorgungsforschung sind deshalb aktuell im Bereich der innerklinischen Notfallmedizin kaum möglich. Mit dem Verbundforschungsprojekt "Verbesserung der Versorgungsforschung in der Akutmedizin in Deutschland durch den Aufbau eines Nationalen\n Notaufnahmeregisters", kurz AKTIN, soll sich das ändern. <br/> Die Basis des Projektes ist das von der Sektion Notaufnahmeprotokoll der Deutschen Interdisziplinären Vereinigung für Intensiv- und Notfallmedizin e.V. (DIVI) entwickelte Protokoll für eine standardisierte strukturierte Dokumentation in der Notaufnahme. Um für die verschiedenen Fragestellungen die relevanten Daten\n zusammenführen zu können, ist der Aufbau einer dezentralen IT-Infrastruktur geplant. Bei dieser IT-Architektur bleiben die Daten in den einzelnen Kliniken und damit im Behandlungskontext. Erfolgt eine Anfrage für eine wissenschaftliche Fragestellung, so werden unter Wahrung des Datenschutzes nur die erforderlichen Daten zusammengeführt. In dem Projekt soll mit anonymisierten Daten\n gearbeitet werden. '
            },
            {
              language: 'pl-PL',
              lastTranslated: '2021-02-09T13:15:19',
              '#text':
                '\n <span style="color: grey;">Description only available in other languages</span>\n '
            },
            {
              language: 'nl-NL',
              lastTranslated: '2021-02-09T13:15:19',
              '#text':
                '\n <span style="color: grey;">Geen beschrijving in het Nederlands (nl-NL) beschikbaar</span>\n '
            },
            {
              language: 'en-US',
              lastTranslated: '2021-02-09T13:15:19',
              '#text':
                '\n <span style="color: grey;">Description only available in other languages</span>\n '
            }
          ],
          rule: [(v) => v.length > 10 || 'too short']
        },
        EditableString: {
          value: 'test',
          rule: [(v) => v.length > 4 || 'too short']
        },
        EditableTranslationEditor: {
          value: [
            {
              language: 'de-DE',
              lastTranslated: '2021-02-09T13:15:19',
              '#text':
                '\n <h3>Verbundforschungsprojekt "Verbesserung der Versorgungsforschung in der Akutmedizin in Deutschland durch den Aufbau eines Nationalen Notaufnahmeregisters" (AKTIN)</h3> Anhand von Daten aus der Notfallmedizin werden Gefahren für die öffentliche Gesundheit, wie etwa der Ausbruch von ansteckenden Infektionskrankheiten, frühzeitig erkennbar. Dennoch stehen diese Daten bislang auf\n Bundes- und Landesebene weder in ausreichendem Umfang noch in ausreichender Qualität zur Verfügung. Wissenschaftliche Untersuchungen im Rahmen der Versorgungsforschung sind deshalb aktuell im Bereich der innerklinischen Notfallmedizin kaum möglich. Mit dem Verbundforschungsprojekt "Verbesserung der Versorgungsforschung in der Akutmedizin in Deutschland durch den Aufbau eines Nationalen\n Notaufnahmeregisters", kurz AKTIN, soll sich das ändern. <br/> Die Basis des Projektes ist das von der Sektion Notaufnahmeprotokoll der Deutschen Interdisziplinären Vereinigung für Intensiv- und Notfallmedizin e.V. (DIVI) entwickelte Protokoll für eine standardisierte strukturierte Dokumentation in der Notaufnahme. Um für die verschiedenen Fragestellungen die relevanten Daten\n zusammenführen zu können, ist der Aufbau einer dezentralen IT-Infrastruktur geplant. Bei dieser IT-Architektur bleiben die Daten in den einzelnen Kliniken und damit im Behandlungskontext. Erfolgt eine Anfrage für eine wissenschaftliche Fragestellung, so werden unter Wahrung des Datenschutzes nur die erforderlichen Daten zusammengeführt. In dem Projekt soll mit anonymisierten Daten\n gearbeitet werden. '
            },
            {
              language: 'pl-PL',
              lastTranslated: '2021-02-09T13:15:19',
              '#text':
                '\n <span style="color: grey;">Description only available in other languages</span>\n '
            },
            {
              language: 'nl-NL',
              lastTranslated: '2021-02-09T13:15:19',
              '#text':
                '\n <span style="color: grey;">Geen beschrijving in het Nederlands (nl-NL) beschikbaar</span>\n '
            },
            {
              language: 'en-US',
              lastTranslated: '2021-02-09T13:15:19',
              '#text':
                '\n <span style="color: grey;">Description only available in other languages</span>\n '
            }
          ],
          rule: [(v) => v.length > 4 || 'too short']
        },
        PasswordStrengthMeter: {
          value: 'test',
          rule: [(v) => v.length > 2 || 'too short']
        },
        PasswordStrengthMeterMatch: {
          value: 'test',
          rule: [(v) => v.length > 2 || 'too short']
        }
      },
      speeddial1: false,
      speeddial2: false,
      speedbtn: 'undef'
    }
  },

  methods: {
    validate () {
      this.$refs.form.validate()
    }
  }
}
</script>

<style>
/* This is for documentation purposes and will not be needed in your application */
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
</style>
