<template>
  <v-layout>
    <v-container fluid>
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-image"> Icons </AdCardTitle>
            <v-card-text class="mt-5">
              <v-row class="mb-2">
                <v-col
                  cols="12"
                  md="2"
                  class="ma-2 grey lighten-3"
                  v-for="(icon, i) in icons"
                  v-bind:key="i"
                >
                  <v-card-text class="pa-1">
                    <v-icon large :class="icon.class"> {{ icon.name }}</v-icon>
                    <span class="pl-3">{{ icon.name }} {{ icon.class }}</span>
                    <p></p>
                    {{ icon.desc }}
                  </v-card-text>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <p></p>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle prependicon="mdi-status-machine">
              Status Dots
            </AdCardTitle>
            <v-card-text class="pa-5">
              <v-row>
                <v-col>
                  <AdStatusDot class="pa-3" status="draft" larger />
                  <AdStatusDot class="pa-3" status="active" larger />
                  <AdStatusDot class="pa-3" status="deprecated" larger />

                  <span class="pr-7"></span>
                  <AdStatusDot class="pa-3" status="open" larger />
                  <AdStatusDot class="pa-3" status="closed" larger />
                  <AdStatusDot class="pa-3" status="pending" larger />
                  <AdStatusDot class="pa-3" status="rejected" larger />
                  <AdStatusDot class="pa-3" status="feedback" larger />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <AdStatusDot
                    class="pa-3"
                    icon="mdi-folder"
                    status="draft"
                    larger
                  />
                  <AdStatusDot
                    class="pa-3"
                    icon="mdi-folder-open"
                    status="draft"
                    larger
                  />
                  <AdStatusDot
                    class="pa-3"
                    icon="mdi-link-variant"
                    status="ref"
                    larger
                  />
                  <AdStatusDot
                    class="pa-3"
                    icon="mdi-toy-brick-outline"
                    status="ref"
                    larger
                  />
                  <AdStatusDot class="pa-3" status="open" larger />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card>
            <AdCardTitle> Old collection of icons</AdCardTitle>
            <v-card-text>
              <div class="pa-3">
                target loading xml json tree
                <v-icon color="orange lighten-2" right>mdi-bullseye</v-icon>
                <v-icon color="orange lighten-2" class="mdi-spin" right
                  >mdi-loading</v-icon
                >
                <v-icon color="green lighten-2" right>mdi-xml</v-icon>
                <v-icon color="green lighten-2" right>mdi-code-braces</v-icon>
                <v-icon color="orange lighten-2" right>mdi-file-tree</v-icon>
              </div>
              <div class="pa-3">
                cube bank account-question comment-question comment-text recycle
                circle
                <v-icon color="orange lighten-2" right>mdi-cube</v-icon>
                <v-icon color="orange lighten-2" right>mdi-cube-outline</v-icon>
                <v-icon color="green lighten-2" right>mdi-bank</v-icon>
                <v-icon color="green lighten-2" right
                  >mdi-account-question</v-icon
                >
                <v-icon color="green lighten-2" right
                  >mdi-account-question-outline</v-icon
                >
                <v-icon color="orange lighten-2" right
                  >mdi-comment-question</v-icon
                >
                <v-icon color="orange lighten-2" right
                  >mdi-comment-question-outline</v-icon
                >
                <v-icon color="orange lighten-2" right>mdi-comment-text</v-icon>
                <v-icon color="orange lighten-2" right
                  >mdi-comment-text-multiple</v-icon
                >
                <v-icon color="orange lighten-2" right>mdi-recycle</v-icon>
                <v-icon color="orange lighten-2" right
                  >mdi-checkbox-blank-circle</v-icon
                >
              </div>
            </v-card-text>
          </v-card>
          <p />
          <v-card>
            <AdCardTitle> Conditional Constructions Proposal (Scenarios) </AdCardTitle>
            <v-card-text>
                <v-row class="pa-3 pl-7">
                  <v-col cols="2">
                    General structure
                  </v-col>
                  <v-col cols="10">
                <v-chip color="green lighten-3"> QUESTION </v-chip>
                <v-chip color="red lighten-3"> OPERATOR exists | = | !== | > | &lt; | >= | &lt;= </v-chip>
                 <v-chip color="blue lighten-3"> ANSWER boolean decimal integer date dateTime time string Coding Quantity</v-chip>
                  </v-col>
                </v-row>
                <v-row class="pa-3 pl-7">
                  <v-col cols="2">
                  IF item # 1234 is equal to 'Female' THEN item # 678 is required ELSE item # 678 is not permitted
                  </v-col>
               <v-col cols="10">
                  <v-chip color="green lighten-3"> 1234 </v-chip>
                  <v-icon color="red lighten-3" large>mdi-code-equal</v-icon>
                  <v-chip color="grey lighten-2"> Female </v-chip>
                  <v-icon color="grey" large>mdi-comment-plus</v-icon>
                  <v-chip color="green lighten-3"> 678 R </v-chip>
                  <v-icon color="grey" large>mdi-comment-minus</v-icon>
                   <v-chip color="green lighten-3"> 678 NP </v-chip>
                  </v-col>
                </v-row>
                <v-row class="pa-3 pl-7">
                   <v-col cols="2">
                     CONDITION Question 3456 greater than or equal 12
                   </v-col>
                  <v-col cols="10">
                  <v-chip color="green lighten-3"> 3456 </v-chip>
                  <v-icon color="red lighten-3" large>mdi-code-greater-than-or-equal</v-icon>
                  <v-chip color="grey lighten-2"> 12 </v-chip>
                  </v-col></v-row>

            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>

export default {
  name: 'IconsDesignPanel',
  components: {
  },
  data () {
    return {
      icons: [
        { name: 'mdi-account', desc: 'User Account' },
        { name: 'mdi-account-cog', desc: '-' },
        { name: 'mdi-account-edit-outline', desc: '-' },
        { name: 'mdi-account-group', desc: '-' },
        { name: 'mdi-account-multiple', desc: '-' },
        { name: 'mdi-account-multiple', desc: 'Group' },
        { name: 'mdi-account-multiple-outline', desc: '-' },
        { name: 'mdi-account-plus', desc: 'Add User' },
        { name: 'mdi-account-question', desc: '-' },
        { name: 'mdi-account-question-outline', desc: '-' },
        { name: 'mdi-account-tie', desc: '-' },
        { name: 'mdi-alert', desc: '-' },
        { name: 'mdi-alphabet-latin', desc: '-' },
        { name: 'mdi-anchor', desc: '-' },
        { name: 'mdi-animation-outline', desc: '-' },
        { name: 'mdi-application-brackets', desc: '-' },
        { name: 'mdi-arrow-bottom-right', desc: '-' },
        { name: 'mdi-arrow-collapse-all', desc: '-' },
        { name: 'mdi-arrow-decision', desc: 'CDA / FHIR choice' },
        { name: 'mdi-arrow-decision-auto', desc: '-' },
        { name: 'mdi-arrow-down', desc: '-' },
        { name: 'mdi-arrow-down-bold', desc: 'Transaction stationary' },
        { name: 'mdi-arrow-expand-all', desc: '-' },
        { name: 'mdi-arrow-left-bold', desc: '-' },
        { name: 'mdi-arrow-left-bold', desc: 'Transaction back' },
        { name: 'mdi-arrow-right', desc: '-' },
        { name: 'mdi-arrow-right-bold', desc: 'Transaction initial' },
        { name: 'mdi-arrow-right-thin', desc: '-' },
        { name: 'mdi-arrow-top-left', desc: '-' },
        { name: 'mdi-arrow-top-right', desc: 'FHIR reference' },
        { name: 'mdi-arrow-up', desc: '-' },
        { name: 'mdi-attachment', desc: '-' },
        { name: 'mdi-auto-fix', desc: '-' },
        { name: 'mdi-bank', desc: 'Temple' },
        { name: 'mdi-beaker-outline', desc: '-' },
        { name: 'mdi-bitbucket', desc: '-' },
        { name: 'mdi-book-information-variant', desc: '-' },
        { name: 'mdi-bookshelf', desc: '-' },
        { name: 'mdi-bookshelf', desc: 'Publications' },
        { name: 'mdi-briefcase', desc: 'Project' },
        { name: 'mdi-briefcase-search-outline', desc: '-' },
        { name: 'mdi-bullseye', desc: '-' },
        { name: 'mdi-bullseye-arrow', desc: '-' },
        { name: 'mdi-cached', desc: '-' },
        { name: 'mdi-calendar', desc: '-' },
        { name: 'mdi-calendar-clock', desc: '-' },
        { name: 'mdi-calendar-outline', desc: '-' },
        { name: 'mdi-call-split', desc: '-' },
        { name: 'mdi-camera', desc: '-' },
        { name: 'mdi-camera-plus-outline', desc: '-' },
        { name: 'mdi-cancel', desc: '-' },
        { name: 'mdi-card-bulleted-settings-outline', desc: '-' },
        { name: 'mdi-chart-timeline-variant', desc: '-' },
        { name: 'mdi-chat-alert-outline', desc: '-' },
        { name: 'mdi-check', desc: 'Validation' },
        { name: 'mdi-check-circle', desc: 'Profiles' },
        { name: 'mdi-checkbox-blank-circle', desc: '-' },
        { name: 'mdi-checkbox-marked-circle', desc: '-' },
        { name: 'mdi-checkbox-marked-circle-outline', desc: '-' },
        { name: 'mdi-checkbox-multiple-blank-outline', desc: '-' },
        { name: 'mdi-checkbox-multiple-marked', desc: '-' },
        { name: 'mdi-chevron-double-right', desc: '-' },
        { name: 'mdi-chevron-left', desc: '-' },
        { name: 'mdi-chevron-right', desc: '-' },
        { name: 'mdi-chevron-up', desc: '-' },
        { name: 'mdi-circle', desc: 'Status Dots' },
        { name: 'mdi-circle-outline', desc: '-' },
        { name: 'mdi-circle-slice-3', desc: '-' },
        { name: 'mdi-clipboard-text-play', desc: '-' },
        { name: 'mdi-clock', desc: '-' },
        { name: 'mdi-clock-alert', desc: '-' },
        { name: 'mdi-clock-outline', desc: '-' },
        { name: 'mdi-close', desc: '-' },
        { name: 'mdi-close-circle', desc: '-' },
        { name: 'mdi-close-circle-outline', desc: 'Close Field' },
        { name: 'mdi-cloud', desc: 'Building Block Repository' },
        { name: 'mdi-cloud-check-outline', desc: '-' },
        { name: 'mdi-cloud-outline', desc: '-' },
        { name: 'mdi-cloud-print', desc: '-' },
        { name: 'mdi-cloud-refresh', desc: 'Cache Cloud Refresh' },
        { name: 'mdi-code-braces', desc: '-' },
        { name: 'mdi-code-equal', desc: '-' },
        { name: 'mdi-code-greater', desc: '-' },
        { name: 'mdi-code-greater-than-or-equal', desc: '-' },
        { name: 'mdi-code-less', desc: '-' },
        { name: 'mdi-code-less-than-or-equal', desc: '-' },
        { name: 'mdi-code-not-equal', desc: '-' },
        { name: 'mdi-code-tags', desc: '-' },
        { name: 'mdi-cog', desc: '-' },
        { name: 'mdi-cog-outline', desc: '-' },
        { name: 'mdi-cog-transfer-outline', desc: '-' },
        { name: 'mdi-comment-check', desc: '-' },
        { name: 'mdi-comment-edit', desc: '-' },
        { name: 'mdi-comment-minus', desc: '-' },
        { name: 'mdi-comment-plus', desc: '-' },
        { name: 'mdi-comment-question', desc: 'Questionnaire' },
        { name: 'mdi-comment-question-outline', desc: '-' },
        { name: 'mdi-comment-text', desc: '-' },
        { name: 'mdi-comment-text-multiple', desc: '-' },
        { name: 'mdi-content-copy', desc: '-' },
        { name: 'mdi-content-duplicate', desc: '-' },
        { name: 'mdi-content-save', desc: '-' },
        { name: 'mdi-content-save-outline', desc: '-' },
        { name: 'mdi-copyright', desc: '-' },
        { name: 'mdi-counter', desc: '-' },
        { name: 'mdi-cube', desc: 'FHIR complex type' },
        { name: 'mdi-cube-outline', desc: '-' },
        { name: 'mdi-currency-eur', desc: '-' },
        { name: 'mdi-cursor-move', desc: '-' },
        { name: 'mdi-database', desc: '-' },
        { name: 'mdi-database-check-outline', desc: '-' },
        { name: 'mdi-decimal', desc: '-' },
        { name: 'mdi-delete', desc: 'Button' },
        { name: 'mdi-delta', desc: '-' },
        { name: 'mdi-doctor', desc: '-' },
        { name: 'mdi-dots-horizontal', desc: '-' },
        { name: 'mdi-dots-vertical', desc: '-' },
        { name: 'mdi-download', desc: '-' },
        { name: 'mdi-email-check-outline ', desc: '-' },
        { name: 'mdi-email-outline', desc: '-' },
        { name: 'mdi-email-send', desc: '-' },
        { name: 'mdi-eye', desc: '-' },
        { name: 'mdi-eye-outline', desc: '-' },
        { name: 'mdi-eyedropper', desc: '-' },
        { name: 'mdi-facebook', desc: '-' },
        { name: 'mdi-file', desc: '-' },
        { name: 'mdi-file-document', desc: '-' },
        { name: 'mdi-file-document-outline', desc: '-' },
        { name: 'mdi-file-tree', desc: '-' },
        { name: 'mdi-file-tree-outline', desc: '-' },
        { name: 'mdi-filter', desc: 'Button' },
        { name: 'mdi-fire', desc: 'FHIR' },
        { name: 'mdi-flag', desc: 'Issue' },
        { name: 'mdi-flip-v', desc: '-' },
        { name: 'mdi-folder', desc: 'Folder, closed' },
        { name: 'mdi-folder-cog-outline', desc: '-' },
        { name: 'mdi-folder-multiple', desc: 'FHIR base resource' },
        { name: 'mdi-folder-open', desc: 'Folder, open' },
        { name: 'mdi-folder-open-outline', desc: '-' },
        { name: 'mdi-folder-outline', desc: '-' },
        { name: 'mdi-folder-settings-outline', desc: '-' },
        { name: 'mdi-form-textbox', desc: 'FHIR primitive' },
        { name: 'mdi-form-textbox-password', desc: '-' },
        { name: 'mdi-format-align-justify', desc: 'Text Editor' },
        { name: 'mdi-format-bold', desc: 'Text Editor' },
        { name: 'mdi-format-clear', desc: 'Text Editor' },
        { name: 'mdi-format-header-1', desc: 'Text Editor' },
        { name: 'mdi-format-header-2', desc: 'Text Editor' },
        { name: 'mdi-format-header-3', desc: 'Text Editor' },
        { name: 'mdi-format-header-4', desc: '-' },
        { name: 'mdi-format-header-5', desc: '-' },
        { name: 'mdi-format-italic', desc: 'Text Editor' },
        { name: 'mdi-format-letter-case', desc: '-' },
        { name: 'mdi-format-list-bulleted', desc: 'Text Editor' },
        { name: 'mdi-format-list-bulleted-type', desc: '-' },
        { name: 'mdi-format-list-numbered', desc: 'Text Editor' },
        { name: 'mdi-format-paragraph', desc: 'Text Editor' },
        { name: 'mdi-format-quote-close', desc: '-' },
        { name: 'mdi-format-strikethrough', desc: 'Text Editor' },
        { name: 'mdi-format-subscript', desc: 'Text Editor' },
        { name: 'mdi-format-superscript', desc: 'Text Editor' },
        { name: 'mdi-format-underline', desc: 'Text Editor' },
        { name: 'mdi-forwardburger', desc: '-' },
        { name: 'mdi-function', desc: '-' },
        { name: 'mdi-gamepad-circle-right', desc: '-' },
        { name: 'mdi-github', desc: '-' },
        { name: 'mdi-gitlab', desc: '-' },
        { name: 'mdi-gondola', desc: '-' },
        { name: 'mdi-graph', desc: '-' },
        { name: 'mdi-hammer-wrench', desc: '-' },
        { name: 'mdi-hammer-wrench', desc: 'Work in progress' },
        { name: 'mdi-hand', desc: '-' },
        { name: 'mdi-head-question-outline', desc: '-' },
        { name: 'mdi-heart', desc: '-' },
        { name: 'mdi-heart', desc: 'Value Set' },
        { name: 'mdi-help-circle-outline', desc: '-' },
        { name: 'mdi-history', desc: '-' },
        { name: 'mdi-history', desc: 'History' },
        { name: 'mdi-home', desc: '-' },
        { name: 'mdi-home-city-outline', desc: 'Governance Groups' },
        { name: 'mdi-hospital-building', desc: '-' },
        { name: 'mdi-human-male-female', desc: '-' },
        { name: 'mdi-image', desc: 'Text Editor' },
        { name: 'mdi-image-outline', desc: '-' },
        { name: 'mdi-inbox-arrow-down', desc: '-' },
        { name: 'mdi-inbox-full', desc: '-' },
        { name: 'mdi-information', desc: 'Info' },
        { name: 'mdi-information-outline', desc: '-' },
        { name: 'mdi-key', desc: '-' },
        { name: 'mdi-lan', desc: 'Diagram ,class: mdi-flip-v' },
        { name: 'mdi-lan ', desc: '-' },
        { name: 'mdi-lead-pencil', desc: 'Edit' },
        { name: 'mdi-license', desc: '-' },
        { name: 'mdi-lightbulb-outline', desc: '-' },
        { name: 'mdi-link', desc: 'Text Editor' },
        { name: 'mdi-link-variant', desc: 'Link/Reference' },
        { name: 'mdi-link-variant-off', desc: '-' },
        { name: 'mdi-linkedin', desc: '-' },
        { name: 'mdi-loading', desc: 'Loading ,class: mdi-spin' },
        { name: 'mdi-lock', desc: '-' },
        { name: 'mdi-login', desc: '-' },
        { name: 'mdi-magnify', desc: 'Search' },
        { name: 'mdi-map-legend', desc: 'Concept Map' },
        { name: 'mdi-menu-down', desc: '-' },
        { name: 'mdi-menu-right', desc: '-' },
        { name: 'mdi-microphone', desc: '-' },
        { name: 'mdi-minus', desc: '-' },
        { name: 'mdi-monitor', desc: '-' },
        { name: 'mdi-more', desc: '-' },
        { name: 'mdi-movie', desc: 'Scenario' },
        { name: 'mdi-movie-open', desc: 'Scenario, open' },
        { name: 'mdi-music-accidental-double-flat', desc: '-' },
        { name: 'mdi-network', desc: '-' },
        { name: 'mdi-network-outline', desc: '-' },
        { name: 'mdi-newspaper-variant-multiple-outline', desc: '-' },
        { name: 'mdi-numeric', desc: 'Identifier' },
        { name: 'mdi-open-in-new', desc: '-' },
        { name: 'mdi-order-bool-ascending', desc: '-' },
        { name: 'mdi-owl', desc: '-' },
        { name: 'mdi-package-variant', desc: '-' },
        { name: 'mdi-palm-tree', desc: '-' },
        { name: 'mdi-paperclip', desc: '-' },
        { name: 'mdi-playlist-edit', desc: '-' },
        { name: 'mdi-plus', desc: 'Add' },
        { name: 'mdi-plus-circle', desc: '-' },
        { name: 'mdi-progress-clock', desc: '-' },
        { name: 'mdi-radio-tower', desc: '-' },
        { name: 'mdi-radiobox-blank', desc: '-' },
        { name: 'mdi-ray-end-arrow', desc: '-' },
        { name: 'mdi-ray-start-arrow', desc: '-' },
        { name: 'mdi-recycle', desc: 'CDA Template' },
        { name: 'mdi-redo', desc: 'Text Editor' },
        { name: 'mdi-redo-variant', desc: '-' },
        { name: 'mdi-refresh', desc: '-' },
        { name: 'mdi-ruler-square-compass', desc: '-' },
        { name: 'mdi-server', desc: '-' },
        { name: 'mdi-server-network', desc: '-' },
        { name: 'mdi-shape', desc: 'Implementation Guides' },
        { name: 'mdi-share-all', desc: '-' },
        { name: 'mdi-sort-variant', desc: 'Graph' },
        { name: 'mdi-stack-exchange', desc: 'CDA predicate / FHIR slice' },
        { name: 'mdi-star', desc: 'FHIR extension' },
        { name: 'mdi-state-machine', desc: 'Status Machine' },
        { name: 'mdi-status-machine', desc: '-' },
        { name: 'mdi-stethoscope', desc: '-' },
        { name: 'mdi-stop-circle-outline', desc: '-' },
        { name: 'mdi-subtitles-outline', desc: '-' },
        { name: 'mdi-swap-horizontal-bold', desc: 'Transaction group' },
        { name: 'mdi-table', desc: 'Table' },
        { name: 'mdi-table-column-plus-after', desc: 'Text Editor' },
        { name: 'mdi-table-column-plus-before', desc: 'Text Editor' },
        { name: 'mdi-table-column-remove', desc: 'Text Editor' },
        { name: 'mdi-table-merge-cells', desc: 'Text Editor' },
        { name: 'mdi-table-of-contents', desc: '-' },
        { name: 'mdi-table-remove', desc: 'Text Editor' },
        { name: 'mdi-table-row-plus-after', desc: 'Text Editor' },
        { name: 'mdi-table-row-plus-before', desc: 'Text Editor' },
        { name: 'mdi-table-row-remove', desc: 'Text Editor' },
        { name: 'mdi-tag-outline', desc: '-' },
        { name: 'mdi-tag-text', desc: '-' },
        { name: 'mdi-tag-text-outline', desc: '-' },
        { name: 'mdi-test-tube', desc: 'experimental' },
        { name: 'mdi-text', desc: 'Text Editor' },
        { name: 'mdi-text-box-plus-outline', desc: 'Text Editor' },
        { name: 'mdi-text-short', desc: '-' },
        { name: 'mdi-thumb-down', desc: '-' },
        { name: 'mdi-thumb-up', desc: '-' },
        { name: 'mdi-thumb-up-outline', desc: '-' },
        { name: 'mdi-timelapse', desc: '-' },
        { name: 'mdi-timetable', desc: '-' },
        { name: 'mdi-toggle-switch-outline', desc: '-' },
        { name: 'mdi-toy-brick-outline', desc: 'Dataset' },
        { name: 'mdi-tray-full', desc: '-' },
        { name: 'mdi-tree', desc: '-' },
        { name: 'mdi-tune', desc: '-' },
        { name: 'mdi-twitter', desc: '-' },
        { name: 'mdi-undo', desc: 'Text Editor' },
        { name: 'mdi-undo-variant', desc: '-' },
        { name: 'mdi-update', desc: '-' },
        { name: 'mdi-upload', desc: '-' },
        { name: 'mdi-vector-polyline-plus', desc: '-' },
        { name: 'mdi-vector-polyline-remove', desc: '-' },
        { name: 'mdi-view-dashboard', desc: '-' },
        { name: 'mdi-view-list', desc: '-' },
        { name: 'mdi-vuejs', desc: '-' },
        { name: 'mdi-vuetify', desc: '-' },
        { name: 'mdi-web', desc: 'Terminology' },
        { name: 'mdi-wikipedia', desc: '-' },
        { name: 'mdi-window-close', desc: '-' },
        { name: 'mdi-wrench', desc: 'Maintenance' },
        { name: 'mdi-wrench ', desc: '-' },
        { name: 'mdi-xml', desc: '-' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn.v-btn--disabled {
  background-color: initial;
}

.headline {
  background: var(--v-topbottomstrip-base);
}
</style>
