<template>
  <v-layout>
    <v-container fluid>
      <v-card class="mt-5">
        <AdCardTitle prependicon="mdi-tree">
          {{ $t('Treetable') }}
        </AdCardTitle>
        <v-card-text>
          <v-expansion-panels popout focusable>
            <v-expansion-panel class="mt-7">
              <v-expansion-panel-header>
                CDA template example
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="mb-10">
                  <TemplateDesignBody :template="templateExampleItem"></TemplateDesignBody>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>
                Editable profile
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <TreeTable
                  :items="profileItems"
                  :headers="headersProfile"
                  item-children="element">
                >
                  <template v-slot:[`item.name`]="{ item }">
                    <v-icon class="pr-2">{{ getIconFromType(item.type) }}</v-icon>
                    <span>{{ item.name }}</span>
                  </template>

                  <template v-slot:[`item.flags`]="{ item }">
                    <span v-for="(v, i) in item.flags" :key="i">
                      <v-chip v-if="v==='N'" class="mr-1" small label color="green lighten-4">N</v-chip>
                      <v-chip v-if="v==='∑'" class="mr-1" small color="red lighten-5">∑</v-chip>
                      <v-chip v-if="v==='?!'" class="mr-1" small color="red lighten-5">?!</v-chip>
                    </span>
                    <v-select
                      v-if="editmode"
                      :items="flagItems"
                      :value="item.flags"
                      chips
                      multiple
                      dense
                      readonly
                    ></v-select>
                  </template>

                  <template v-slot:[`item.card`]="{ item }">
                    {{ [item.min, '..', item.max].join('') }}
                    <v-select
                       v-if="editmode"
                      :value="[min, '..', max].join('')"
                      style="width: 90px"
                      :items="cardItems"
                      dense
                    />
                  </template>

                  <template v-slot:[`item.item`]="{ type }">
                    <EditableDropdown
                      dense
                      :value="type"
                      :items="typeItems"
                      item-value="value"
                      item-text="translatedLabel"
                      @input="alert($event)"
                    />
                  </template>

                  <template v-slot:[`item.desc`]="{ item }">
                    <span>{{ item.desc }}</span>
                  </template>
                </TreeTable>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card-text>
      </v-card>
    </v-container>
  </v-layout>
</template>

<script>
import TemplateDesignBody from '@/components/Rule/TemplateDesignBody'
import TreeTable from '@/components/Utilities/TreeTable/TreeTable.vue'
import EditableDropdown from '@/components/Utilities/Editable/EditableDropdown/EditableDropdown'
import TemplateService from '@/services/TemplateService'

export default {
  name: 'TreetableDesignPanel',
  components: {
    TemplateDesignBody,
    TreeTable,
    EditableDropdown
  },
  data () {
    return {
      dialog: false,
      editmode: false,
      templateExampleItem: null,
      profileItems: [
        {
          name: 'Patient',
          type: 'DomainResource',
          flags: ['N'],
          desc:
            'Information about an individual or animal receiving health care services',
          __meta: {
            parent: null,
            pointer: 1,
            level: 0,
            isExpandable: true,
            isExpanded: true
          },
          element: [
            {
              name: 'identifier',
              min: '0',
              max: '*',
              type: 'Identifier',
              flags: ['∑'],
              desc: 'An identifier for this patient',
              __meta: {
                parent: 1,
                pointer: 2,
                level: 1,
                isElement: true
              }
            },
            {
              name: 'active',
              min: '0',
              max: '1',
              type: 'boolean',
              flags: ['?!', '∑'],
              desc: 'Whether this patient\'s record is in active use',
              __meta: {
                parent: 1,
                pointer: 3,
                level: 1
              }
            },
            {
              name: 'name',
              min: '0',
              max: '*',
              type: 'HumanName',
              flags: ['∑'],
              desc: 'A name associated with the patient',
              __meta: {
                parent: 1,
                pointer: 4,
                level: 1
              }
            },
            {
              name: 'telecom',
              min: '0',
              max: '*',
              type: 'ContactPoint',
              flags: ['∑'],
              desc: 'A contact detail for the individual',
              __meta: {
                parent: 1,
                pointer: 5,
                level: 1
              }
            },
            {
              name: 'gender',
              min: '0',
              max: '1',
              type: 'code',
              flags: ['∑'],
              desc: 'male | female | other | unknown',
              __meta: {
                parent: 1,
                pointer: 6,
                level: 1
              }
            },
            {
              name: 'birthDate',
              min: '0',
              max: '1',
              type: 'date',
              flags: ['∑'],
              desc: 'The date of birth for the individual',
              __meta: {
                level: 1,
                pointer: 7,
                parent: 1
              }
            },
            {
              name: 'multipleBirth[x]',
              min: '0',
              max: '1',
              flags: ['?!', '∑'],
              desc: 'Whether patient is part of a multiple birth',
              __meta: {
                level: 1,
                pointer: 8,
                parent: 1,
                isExpandable: true,
                isExpanded: true
              },
              element: [
                {
                  name: 'multipleBirthBoolean',
                  type: 'boolean',
                  desc: 'The date of birth for the individual',
                  __meta: {
                    level: 2,
                    pointer: 9,
                    parent: 8
                  }
                },
                {
                  name: 'multipleBirthInteger',
                  type: 'integer',
                  desc: 'The date of birth for the individual',
                  __meta: {
                    level: 2,
                    pointer: 10,
                    parent: 8
                  }
                }
              ]
            }
          ]
        }
      ],
      headersProfile: [
        { text: 'Name', value: 'name', width: 300 },
        { text: 'Flags', value: 'flags', width: 50 },
        { text: 'Card', value: 'card', width: 70 },
        { text: 'Type', value: 'type', width: 70 },
        { text: 'Description and Constraints', value: 'desc', width: 300 }
      ],
      headersScenario: [
        { text: 'Name', value: 'name', width: 300 },
        { text: 'Selection', value: 'selection', width: 70 },
        { text: 'Card', value: 'card', width: 70 },
        { text: 'Conf', value: 'conformance', width: 70 }
      ],
      typeItems: [
        {
          value: 'DomainResource',
          label: [
            {
              language: 'en-US',
              '#text': 'DomainResource'
            }
          ],
          translatedLabel: 'DomainRessource',
          disabled: false
        },
        {
          value: 'Identifier',
          label: [
            {
              language: 'en-US',
              '#text': 'Identifier'
            }
          ],
          translatedLabel: 'Identifier',
          disabled: false
        },
        {
          value: 'boolean',
          label: [
            {
              language: 'en-US',
              '#text': 'boolean'
            }
          ],
          translatedLabel: 'boolean',
          disabled: false
        },
        {
          value: 'code',
          label: [
            {
              language: 'en-US',
              '#text': 'code'
            }
          ],
          translatedLabel: 'code',
          disabled: false
        },
        {
          value: 'HumanName',
          label: [
            {
              language: 'en-US',
              '#text': 'HumanName'
            }
          ],
          translatedLabel: 'HumanName',
          disabled: false
        },
        {
          value: 'ContactPoint',
          label: [
            {
              language: 'en-US',
              '#text': 'ContactPoint'
            }
          ],
          translatedLabel: 'ContactPoint',
          disabled: false
        },
        {
          value: 'date',
          label: [
            {
              language: 'en-US',
              '#text': 'date'
            }
          ],
          translatedLabel: 'date',
          disabled: false
        }
      ],
      cardItems: ['0..0', '0..1', '0..*', '1..1', '1..*'],
      confItems: ['M', 'R', 'O', 'NP', 'C'],
      flagItems: ['?!', 'S', '∑', 'I', 'A', 'I', 'TU', 'N', 'D'],

      getIconFromType: function (type) {
        if (type === 'Identifier') return 'mdi-cube'
        if (type === 'ContactPoint') return 'mdi-cube'
        if (type === 'HumanName') return 'mdi-cube'
        if (type === 'DomainResource') return 'mdi-folder-multiple'
        if (type === 'boolean') return 'mdi-form-textbox'
        if (type === 'integer') return 'mdi-form-textbox'
        if (type === 'code') return 'mdi-form-textbox'
        if (type === 'date') return 'mdi-form-textbox'
        return 'mdi-arrow-decision'
      }
    }
  },
  computed: {
    classDiagram () {
      return 'classDiagram\nAnimal <|-- Duck\nAnimal <|-- Fish\nAnimal <|-- Zebra\nAnimal : +int age\nAnimal : +String gender\nAnimal: +isMammal()\nAnimal: +mate()\nclass Duck{\n+String beakColor\n+swim()\n+quack()\n}\nclass Fish{\n-int sizeInFeet\n-canEat()\n}\nclass Zebra{\n+bool is_wild\n+run()\n}'
    },
    classDiagram2 () {
      return '%%{init: {"theme": "base",\n"themeVariables":\n{ \n "primaryColor": "#ffeeff"\n }\n}}%%\nclassDiagram\nTemplatenameinsgesamt "1" --* "1" author: 1..1 M\nclass Templatenameinsgesamt {\n@classCode ~cs~\n@moodCode ~cs~\ntemplateId ~II~ 1..1 M\n\u2027\u2027\u2027@root~uid~ = 1.2.40.0.34.11.15.3.5\ncode ~CE~ 1..1 M\neffectiveTime ~TS~ 1..1 R\nauthor\nperformer\n}\nclass author {\n time ~TS~ 1..1 R\n      assignedAuthor 1..1\n    }\n    \nauthor --* "1..1" assignedAuthor\nclass assignedAuthor{\n      id ~II~ 1..1M\n      telecom ~TEL~ 1..*R\n      assignedPerson 1..1R\n}\nassignedAuthor --* "1..*" assignedPerson\n\nclass assignedPerson {\n name ~PN~ 1..1R\n}\nTemplatenameinsgesamt --* "1..*" performer\n\nclass performer{\n time <TS> 1..1R\n assignedPerson <> 1..1M\n}\nperformer --* "1..*" assignedPerson\n'
    },
    classDiagram3 () {
      return '%%{init: {"theme": "base",\n"themeVariables":\n{ \n "primaryColor": "#ffeeff"\n }\n}}%%\nclassDiagram\nclass Templatenameinsgesamt\nTemplatenameinsgesamt --* "1..1" author\nclass author\n    \nauthor --* "1..1" assignedAuthor\nclass assignedAuthor\nassignedAuthor --* "1..*" assignedPerson\n\nclass assignedPerson\nTemplatenameinsgesamt --* "1..*" performer\n\nclass performer\nperformer --* "1..*" assignedPerson\nperformer --* "0..*" performer\n'
    },
    classDiagram4 () {
      return '%%{init: { "themeVariables": \n{ \n "primaryColor": "#eeffff"\n }\n}}%%\nclassDiagram\nclass Root\nRoot -- Patient\nclass Patient {\nName\nBirthdate ~Date~ 0..1R\nGender ~Code~ 0..1R\nMedication\n}\nPatient --* "1..1" Name\nclass Name{\nGiven\u2027Name ~String~ 1..1R\nFamily\u2027Name ~String~ 1..1R\n}\nPatient --* "1..*" Medication\nclass Medication{\nMedication\u2027Name\u2027Package ~String~ 1..1R\nInital\u2027Dose ~Quantity~ 1..1R\n}'
    },
    classDiagram5 () {
      return '%%{init: { "theme": "base" } }%%\nclassDiagram\nPerson <|-- Student\nPerson <|-- Professor\nPerson : +String name\nPerson : +String phoneNumber\nPerson : +String emailAddress\nPerson: +purchaseParkingPass()\nAddress "1" <-- "0..1" Person:lives at\nclass Student{\n+int studentNumber\n+int averageMark\n+isEligibleToEnrol()\n+getSeminarsTaken()\n}\nclass Professor{\n+int salary\n}\nclass Address{\n+String street\n+String city\n+String state\n+int postalCode\n+String country\n-validate()\n+outputAsLabel()  \n}'
    },
    dataNetworkNodes () {
      return {
        node1: { name: 'N1' },
        node2: { name: 'N2' },
        node3: { name: 'N3' },
        node4: { name: 'N4' },
        node5: { name: 'N5' },
        node6: { name: 'N6' }
      }
    },
    dataNetworkEdges () {
      return {
        edge1: { source: 'node1', target: 'node2' },
        edge2: { source: 'node2', target: 'node3' },
        edge3: { source: 'node2', target: 'node4' },
        edge4: { source: 'node4', target: 'node5' },
        edge5: { source: 'node4', target: 'node6' }
      }
    }
  },

  async mounted () {
    // 2.16.840.1.113883.3.1937.99.60.5.10.900002
    // 2.16.840.1.113883.3.1937.99.60.5.10.900202
    // 2.16.840.1.113883.3.1937.99.60.3.10.3001
    // 2.16.840.1.113883.3.1937.99.60.7.10.9.8
    // 2.16.840.1.113883.3.1937.99.60.10.10.1
    // 2.16.840.1.113883.3.1937.99.60.7.10.9.10
    // 1.2.276.0.76.10.4042
    this.templateExampleItem = (await TemplateService.getTemplate('2.16.840.1.113883.3.1937.99.60.3.10.3001')).data
  },

  created () {
    // this is a design start of the callback function that is called upon clicking
    // on a class diagram class of a dataset/scenario
    // idea is to re-build the graph using id as the "root" of the graoh
    // id shall be the navkey returned by the API (not yet implemented) rather then id or ref of the concept...
    window.callbackFunction = (id) => {
      alert('This will re-render the graph with this id as the root: ' + id)
    }
  },

  methods: {
    /**
     * Set cardinalities and conformance
     */
    setCardConf (item, min, max, conf) {
      item.minimumMultiplicity = min
      item.maximumMultiplicity = max
      item.conformance = conf
    }
  }
}
</script>

<style lang="scss" scoped>
.element-information {
  .table-row-element {
    background-color: #ffe6e7;
  }
}

.backdrop-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.backdrop-item {
  position: relative;
  z-index: 3;
}

::v-deep .v-data-table td {
  p, h1, h2, h3 {
    margin: 0;
  }
  p:first-child {
    display: inline-block;
  }
  li p:first-child {
    display: inline !important;
  }
}
</style>
