<template>
  <div
    class="editable-switch"
    v-bind:class="{'is-authenticated': isAuthenticated}"
  >
    <v-switch
      ref="input"
      v-model="editableValue"
      v-bind="{...$props, ...$attrs}"
      false-value="false"
      true-value="true"
      v-on="{...$listeners, input: () => {}, change: () => {}}"
      :disabled="!isAuthenticated || disabled"
      :style="noTopSpace ? 'margin-top: 0px !important; padding-top: 0px !important;' : ''"
      @change="saveEditValue"
    >
    </v-switch>
    <div v-if="!!infoText" class="info-button">
      <EditableInfoIcon  :infoText="infoText"/>
    </div>
  </div>
</template>

<script>
import EditableInfoIcon from '@/components/Utilities/Editable/Helper/EditableInfoIcon'
import AbstractInput from '@/components/Utilities/Editable/Helper/AbstractInput'

export default {
  /**
   * Extends.
   */
  extends: AbstractInput,

  /**
   * Required components.
   */
  components: {
    EditableInfoIcon
  },

  /**
   * Properties.
   */
  props: {
    value: {
      type: [String, Boolean],
      required: false,
      default: 'false'
    },
    label: {
      type: String,
      required: false,
      default: ''
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    },
    noTopSpace: {
      type: Boolean,
      required: false,
      default: true
    },
    confirm: {
      type: Boolean
    }
  },

  /**
   * Data variables.
   */
  data () {
    return {
      editableValue: String(this.value)
    }
  },

  /**
   * Watchers.
   */
  watch: {
    /**
     * Watch changes of current value.
     */
    value: {
      handler (value) {
        // Stop edit mode.
        this.editableValue = value
      },
      immediate: true
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Save edit value.
     */
    async saveEditValue (changedTo) {
      if (this.confirmationRequired) {
        await this.$nextTick()
        this.editableValue = changedTo === 'false'
          ? 'true'
          : 'false'
        const agree = await this.$confirm(this.$t('are-you-sure-this-action-cannot-be-undone'))
        if (!agree) return
        this.editableValue = changedTo
      }
      // Check if current user is authenticated.
      if (this.isAuthenticated === true && this.isReadonly === false && this.$refs.input.validate() === true) {
        // Emit current input value.
        this.$emit('input', this.editableValue)
        // Emit current change value.
        this.$emit('change', this.editableValue)
      }
    }
  }
}
</script>

<style lang="scss">
.editable-switch {
  display: flex;
}
.info-button {
  margin-left: 9px;
}
</style>
