<template>
  <div>
    <v-btn v-if="!showFileInputBtn" @click="showFileInputBtn = !showFileInputBtn">{{$t(labelBtn)}}</v-btn>
    <v-row>
      <v-col cols="6">
        <v-file-input
          ref="input"
          v-if="showFileInputBtn"
          v-model="fileValue"
          :accept="accept"
          :label="$t(label)"
          show-size
          :prepend-icon="icon"
          @change="handleFile"
          :rules="rules"
        />
      </v-col>
      <v-col cols="6" v-if="file.base64">
        <v-img :src="file.base64" max-width="350px" max-height="60px"></v-img>
      </v-col>
      <v-col cols="6" v-else-if="showExistingLogo">
        <v-img
          v-if="value"
          max-height="60px"
          max-width="350px"
          :src="getProjectIcon(projectSelected.prefix, value)"
          contain
        ></v-img>
      </v-col>
    </v-row>
  </div>
</template>

<script>
/**
 * Generic component for uploading files
 * The accept prop can exclude/include specific files
 * On upload, an object with 4 attributes are returned
 */
export default {
  name: 'EditableFileInput',
  props: {
    accept: {
      type: String,
      default: 'image/*'
    },
    getProjectIcon: {
      type: Function,
      required: true
    },
    icon: {
      type: String,
      default: 'mdi-camera'
    },
    imageSupport: {
      type: Array,
      default: () => {
        return [
          'image/apng',
          'image/avif',
          'image/gif',
          'image/jpeg',
          'image/png',
          'image/svg+xml',
          'image/webp'
        ]
      }
    },
    label: {
      type: String,
      default: 'copyright-logo'
    },
    labelBtn: {
      type: String,
      default: 'add-change-logo'
    },
    value: {
      type: [Object, String]
    }
  },
  data () {
    return {
      file: {
        base64: null,
        height: null,
        name: null,
        size: null,
        type: null,
        width: null
      },
      fileValue: null,
      showFileInputBtn: false,
      rules: [
        v => !v || v.size <= 500000 || this.$t('max-file-size-exceeded', { max: '500kb' }),
        v => !v || this.imageSupport.includes(v.type) || this.$t('unsupported-file-type')
      ]
    }
  },
  computed: {
    showExistingLogo () {
      return typeof this.value === 'string'
    }
  },
  created () {
    /**
     * If value is a String,
     * a file (logo) is already there
     * In case of a new file (logo),
     * value is an empty Object (like file in data)
     */
    if (
      this.value instanceof Object &&
      Object.values(this.value).every((attr) => attr === null)
    ) {
      this.showFileInputBtn = true
    } else if (
      this.value instanceof String &&
      this.value === ''
    ) {
      this.showFileInputBtn = true
    }
  },
  methods: {
    handleFile (file) {
      if (file != null) {
        if (!this.imageSupport.includes(file.type)) {
          this.initFile()
          // this.$emit('change', null)
          return false
        }
        const { name, size, type } = file
        this.file.name = name
        this.file.size = size
        this.file.type = type
        if (size > 500000) {
          this.initFile()
          // this.$emit('change', null)
          return false
        }
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onloadend = () => {
          // new Image to get the width and height attributes
          const image = new Image()
          // add result to file object
          this.file.base64 = reader.result
          image.src = this.file.base64
          image.onload = () => {
            this.file.width = image.width
            this.file.height = image.height
          }
          // communicate value change to parent component
          this.$emit('change', this.file)
        }
      } else {
        this.initFile()
        // communicate value change to parent component
        this.$emit('change', null)
      }
    },
    initFile () {
      this.file = {
        base64: null,
        name: null,
        size: null,
        type: null
      }
      // empty the file input
      this.fileValue = null
    }
  }
}
</script>
