<template>
  <div>
    <EditableValueDomain v-model="valueDomain" :label="$t('type')" />

    <div v-if="valueDomain">
      You selected {{ valueDomain }}

      <v-row v-if="setting">
        <template v-for="(property, key) of setting.properties">
          <v-col :key="key">
            <v-text-field
              :label="property.label"
              :rules="property.rules"
            />
          </v-col>
        </template>
      </v-row>
    </div>
  </div>
</template>

<script>
import EditableValueDomain from '@/components/Utilities/Editable/EditableDropdown/EditableValueDomain'

const rules = {
  alpha: [(v) => (!!v && /^[a-z]+$/.test(v)) || 'wrong'],
  numeric: [(v) => (!!v && /^[0-9]+$/.test(v)) || 'wrong']
}
export default {
  components: {
    EditableValueDomain
  },

  data () {
    return {
      valueDomain: null,
      settings: {
        string: {
          properties: []
        },
        text: {
          properties: []
        },
        code: {
          properties: [
            { key: 'conceptList', label: 'Concept List', rules: null }
          ]
        },
        identifier: {
          properties: []
        },
        quantity: {
          properties: [
            { key: 'unit', label: 'Unit', rules: rules.alpha }
          ]
        },
        duration: {
          properties: [
            { key: 'minimum', label: 'Minimum', rules: rules.numeric },
            { key: 'maximum', label: 'Maximum', rules: rules.numeric },
            { key: 'default', label: 'Default', rules: rules.numeric },
            { key: 'fixed', label: 'Fixed', rules: rules.numeric }
          ]
        },
        currency: {
          properties: []
        },
        date: {
          properties: []
        },
        datetime: {
          properties: [
            { key: 'timeStampPrecision', label: 'Timestamp Precision', rules: rules.alpha }
          ]
        },
        time: {
          properties: []
        },
        count: {
          properties: [
            { key: 'minimum', label: 'Minimum', rules: rules.numeric },
            { key: 'maximum', label: 'Maximum', rules: rules.numeric },
            { key: 'default', label: 'Default', rules: rules.numeric },
            { key: 'fixed', label: 'Fixed', rules: rules.numeric }
          ]
        },
        boolean: {
          properties: []
        },
        decimal: {
          properties: [
            { key: 'minimum', label: 'Minimum', rules: rules.numeric },
            { key: 'maximum', label: 'Maximum', rules: rules.numeric },
            { key: 'default', label: 'Default', rules: rules.numeric },
            { key: 'fixed', label: 'Fixed', rules: rules.numeric }
          ]
        },
        ordinal: {
          properties: []
        },
        blob: {
          properties: []
        },
        complex: {
          properties: []
        }
      }
    }
  },

  computed: {
    setting () {
      return this?.settings?.[this.valueDomain] || null
    }
  }
}
</script>
