<template>
  <div
    class="editable-labels"
    v-bind:class="{'is-authenticated': isAuthenticated}"
  >
    <v-select
      ref="select"
      v-model.lazy="editableValue"
      v-bind="{...$props, ...$attrs}"
      v-on="{...$listeners, input: () => {}, change: () => {}}"
      :class="{'required': !!isRequired && !isReadonly, 'readonly': !!isReadonly }"
      :readonly="isReadonly"
      :append-icon="!isEditable ? null : undefined"
      :item-color="itemColor"
      :rules="parsedRules"
      item-text="name"
      item-value="code"
      multiple
      @focus="startEditMode"
      @click:clear="cancelEditMode"
      @keydown.esc="cancelEditMode"
      @blur="saveEditValue"
    >
      <template v-slot:item="{ item, attrs, on }">
        <v-list-item v-on="on" v-bind="attrs" v-slot:default="{ active }">
          <v-list-item-action>
            <v-checkbox :input-value="active"></v-checkbox>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="d-flex align-center">
              <v-chip
                class="mr-1"
                :color="item[itemColor]"
                :text-color="$filters.getDarkOrLightFontColor(item[itemColor])"
                v-text="item[itemValue]"
                label
                small
              ></v-chip>
              <span v-text="item[itemText]"></span>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>

      <template v-slot:selection="{ item }">
        <v-chip
          class="mr-1"
          :color="item[itemColor]"
          :text-color="$filters.getDarkOrLightFontColor(item[itemColor])"
          v-text="item[itemValue]"
          label
          small
        ></v-chip>
      </template>
      <template v-if="!!infoText" v-slot:append-outer>
        <EditableInfoIcon :infoText="infoText" />
      </template>
    </v-select>
  </div>
</template>

<script>
import EditableInfoIcon from '@/components/Utilities/Editable/Helper/EditableInfoIcon'
import AbstractInput from '@/components/Utilities/Editable/Helper/AbstractInput'

export default {
  /**
   * Extends.
   */
  extends: AbstractInput,

  /**
   * Required components.
   */
  components: {
    EditableInfoIcon
  },

  /**
   * Properties.
   */
  props: {
    value: {
      type: Array,
      required: false,
      default: () => []
    },
    items: {
      type: Array,
      required: true,
      default: () => []
    },
    itemValue: {
      type: String,
      required: true,
      default: undefined
    },
    itemText: {
      type: String,
      required: true,
      default: undefined
    },
    itemColor: {
      type: String,
      required: true,
      default: undefined
    },
    infoText: {
      type: [String, Array],
      required: false,
      default: null
    },
    rules: {
      type: Array,
      required: false
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },

    appendIcon: String,
    attach: Promise,
    cacheItems: Boolean,
    chips: Boolean,
    clearable: Boolean,
    deletableChips: Boolean,
    disableLookup: Boolean,
    eager: Boolean,
    hideSelected: Boolean,
    itemDisabled: [String, Array, Function],
    menuProps: [String, Array, Object],
    multiple: Boolean,
    openOnClear: Boolean,
    returnObject: Boolean,
    smallChips: Boolean
  },

  /**
   * Data variables.
   */
  data () {
    return {
      edit: false,
      editableValue: null
    }
  },

  /**
   * Watchers.
   */
  watch: {
    /**
     * Watch changes of current value.
     */
    value: {
      immediate: true,
      handler (value) {
        // Set editable value in base of value.
        this.editableValue = value
          .map(item => item?.[this.itemValue])
          .filter(item => !!item)
        // Set edit to false.
        this.edit = false
      }
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Start edit mode.
     */
    startEditMode () {
      // Check if current user is authenticated.
      if (this.isAuthenticated === true) {
        // Set edit to true.
        this.edit = true
        // Wait for the next tick.
        this.$nextTick(() => {
          // Focus input element.
          this.$refs.select.activateMenu()
          // Focus input element.
          this.$refs.select.focus()
        })
      }
    },

    /**
     * Cancel edit mode.
     */
    cancelEditMode () {
      // Check if current user is authenticated.
      if (this.isAuthenticated === true) {
        // Set editable value in base of value.
        this.editableValue = this.value
          .map(item => item?.[this.itemValue])
          .filter(item => !!item)
        // Set edit back to false.
        this.edit = false
        // Blur input element.
        this.$refs.select.blur()
      }
    },

    /**
     * Save edit value.
     */
    saveEditValue () {
      // Get mapped original value.
      const originalValue = this.value.map(item => item?.[this.itemValue])
      // Check if value has changed.
      const hasChanged = JSON.stringify(originalValue) !== JSON.stringify(this.editableValue)
      // Check if current user is authenticated and value has changed.
      if (this.isAuthenticated === true && this.isReadonly === false && hasChanged === true && this.$refs.select.validate() === true) {
        // Get matching values.
        const matchingValues = this.items.filter((item) => this.editableValue.includes(item?.[this.itemValue]))
        // Emit current input value.
        this.$emit('input', matchingValues)
        // Emit current change value.
        this.$emit('change', matchingValues)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}

::v-deep .readonly.v-input--is-focused .v-label:after {
  font-family: 'Material Design Icons';
  -webkit-font-feature-settings: 'liga';
  content: "\F0341";
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}
</style>
