<template>
  <v-menu class="editable-language-button" :bottom="!!editor" :left="!!editor" offset-y ref="menu" @input="resetForm">
    <template v-slot:activator="{ on, attrs }">
      <v-btn :small="!!editor" text v-bind="attrs" v-on="on">
        <span>{{ getLanguageCode(value) }}</span>

        <v-icon v-if="editor">mdi-web</v-icon>
        <flag
          v-else
          :squared="false"
          :iso="getCountryCode(value)"
          class="ml-1"
        />
      </v-btn>
    </template>

    <v-list>
      <v-list-item-group v-model="selectedLocale" color="primary">
        <v-list-item v-for="(locale, i) in locales" :key="i">
          <v-list-item-title>
            <span class="mr-2">{{ getLanguageCode(locale) }}</span>
            <flag :squared="false" :iso="getCountryCode(locale)"></flag>
          </v-list-item-title>
        </v-list-item>
      </v-list-item-group>
      <v-list-item v-if="addLanguage">
      <v-list-item-title>
        <v-form ref="form">
          <EditableString
            @click.stop
            v-model="otherLanguageInput"
            :label="$t('other')"
            placeholder="en-US"
            confirmation-required
            @change="addToLocales"
            :rules="validLocaleString"
          />
        </v-form>
      </v-list-item-title>
    </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    value: {
      required: false,
      type: String,
      default: 'en-US'
    },
    editor: {
      required: false,
      type: Boolean,
      default: false
    },
    locales: {
      required: false,
      type: Array,
      default () {
        return this.$root.langs
      }
    },
    addLanguage: {
      required: false,
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      selectedLocale: 0,
      otherLanguageInput: null,
      validLocaleString: [(v) => /^[a-z]{2}-[A-Z]{2}$/.test(v) || this.$t('not-a-valid-locale')]
    }
  },

  computed: {
    /**
     * Get current locale.
     *
     * @return {string}
     */
    // locale () {
    //   // Return locale code.
    //   return this.$i18n.locale
    // },
    projectLanguage () {
      return this.$store.getters['app/projectLanguage']
    }
  },

  watch: {
    /**
     * Watch selected locale changes.
     */
    selectedLocale: {
      immediate: false,
      handler (selectedLocale) {
        // Get matching locale.
        const matchingLocale = this.locales?.[selectedLocale] || this.locales?.[0]
        // Check if matching locale is not nil and differs from current value.
        if (!!matchingLocale === true && matchingLocale !== this.value) {
          // Emit input change.
          this.$emit('input', matchingLocale)
        }
      }
    },
    value (value) {
      this.selectedLocale = this.locales.findIndex((locale) => locale === this.value)
    },

    /**
     * Watch locale changes.
     */
    projectLanguage: {
      immediate: true,
      handler (value) {
        // Try to find matching locale.
        const matchingLocale = this.locales.indexOf(value)
        // Set selected locale.
        this.selectedLocale = matchingLocale !== -1
          ? matchingLocale
          : 0
      }
    }
  },

  created () {
    // Set selected locale by current matching index.
    this.selectedLocale = this.locales.findIndex((locale) => locale === this.value)
  },

  methods: {
    addToLocales (value) {
      if (this.$refs.form.validate()) {
        this.locales.push(value)
        this.selectedLocale = this.locales.findIndex(locale => locale === value)
        this.$refs.menu.save()
        this.otherLanguageInput = null
      }
    },
    /**
     * Get language code in base of locale.
     *
     * @param locale
     * @return {string}
     */
    getLanguageCode (locale) {
      // Return upper case language code.
      return String((locale || '').split('-')?.[0]).toUpperCase()
    },

    /**
     * Get country code in base of locale.
     *
     * @param locale
     * @return {string}
     */
    getCountryCode (locale) {
      // Return upper case country code.
      return String((locale || '').split('-')?.[1]).toUpperCase()
    },
    resetForm () {
      if (this.$refs.form) {
        this.$refs.form.reset()
      }
    }
  }
}
</script>
