<template>
  <div class="editable-translation-editor" v-click-outside="{handler: onClickOutside, closeConditional}">
    <TextEditor
      v-if="editor"
      ref="input"
      v-model.lazy="editableValue"
      v-bind="{...$props, ...$attrs}"
      v-on="{...$listeners, input: () => {}, change: () => {}, blur: () => {}}"
      :class="{'required': !!required}"
      :placeholder="placeholder"
      :label="label"
      :rules="parsedRules"
      :readonly="readonly"
      :emitOnInput="emitOnInput"
      :required="isRequired"
      :stickyOffset="stickyOffset"
      :minHeight="minHeight"
    >
      <template v-if="!!infoText" v-slot:append-outer>
        <EditableInfoIcon :infoText="infoText"/>
      </template>

      <template v-slot:append>
        <EditableLanguageButton
          ref="menu"
          v-model.lazy="currentLocale"
          :locales="availableLocales"
          editor
          :addLanguage="addLanguage"
        />
      </template>
    </TextEditor>

    <v-textarea
      v-else-if="textarea"
      ref="input"
      v-model.lazy="editableValue"
      v-bind="{...$props, ...$attrs}"
      v-on="{...$listeners, input: () => {}, change: () => {}, blur: () => {}}"
      :class="{'required': !!required}"
      :rules="parsedRules"
      :placeholder="placeholder"
      :label="label"
      :readonly="readonly"
    >
      <template v-if="!!infoText" v-slot:append-outer>
        <EditableInfoIcon :infoText="infoText"/>
      </template>

      <template v-slot:append>
        <EditableLanguageButton
          ref="menu"
          v-model.lazy="currentLocale"
          :locales="availableLocales"
          editor
          :addLanguage="addLanguage"
        />
      </template>
    </v-textarea>

    <EditableString
      v-else
      ref="input"
      v-model.lazy="editableValue"
      v-bind="{...$props, ...$attrs}"
      v-on="{...$listeners, input: () => {}, change: () => {}, blur: () => {}}"
      :class="{'required': !!required}"
      :placeholder="placeholder"
      :label="label"
      :rules="parsedRules"
      :readonly="readonly"
      :required="isRequired"
    >
      <template v-slot:language-button>
        <EditableLanguageButton
          ref="menu"
          v-model.lazy="currentLocale"
          :locales="availableLocales"
          editor
          :addLanguage="addLanguage"
        />
      </template>
    </EditableString>
  </div>
</template>

<script>
import EditableLanguageButton from '@/components/Utilities/Editable/EditableLanguageButton'
import EditableInfoIcon from '@/components/Utilities/Editable/Helper/EditableInfoIcon'
import EditableString from '@/components/Utilities/Editable/EditableString/EditableString'
import AbstractInput from '@/components/Utilities/Editable/Helper/AbstractInput'

export default {
  /**
   * Extends.
   */
  extends: AbstractInput,

  /**
   * Required components.
   */
  components: {
    EditableInfoIcon,
    EditableLanguageButton,
    EditableString
  },

  /**
   * Properties.
   */
  props: {
    value: {
      required: true
    },
    // TextEditor will emit on input if true
    emitOnInput: {
      type: Boolean,
      required: false,
      default: false
    },
    label: {
      required: false,
      type: String,
      default: null
    },
    placeholder: {
      required: false,
      type: String,
      default: null
    },
    locales: {
      required: false,
      type: Array,
      default () {
        return this.$root.langs
      }
    },
    textarea: {
      required: false,
      type: Boolean,
      default: false
    },
    editor: {
      required: false,
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      required: false,
      default: false
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    },
    defaultLocale: {
      type: String,
      required: false,
      default () {
        return this.$store.getters['app/projectLanguage']
      }
    },
    addLanguage: {
      required: false,
      type: Boolean,
      default: false
    },
    requiredLocales: {
      type: Array,
      default: () => ([])
    },
    stickyOffset: {
      required: false,
      type: Number,
      default: 0
    },
    // Min height, option when editor = true
    minHeight: {
      type: Number,
      required: false
    }
  },

  /**
   * Data variables.
   */
  data () {
    return {
      currentLocale: this.$i18n.locale,
      availableLocales: [this.$root.langs],
      initialFocus: false
    }
  },

  /**
   * Variables watchers.
   */
  watch: {
    /**
     * Watch default locale changes.
     */
    defaultLocale: {
      immediate: true,
      handler (defaultLocale) {
        // Set current locale.
        this.setCurrentLocale(defaultLocale)
      }
    },
    projectLanguage: {
      immediate: true,
      handler (language) {
        this.setCurrentLocale(language)
      }
    },

    /**
     * Watch value changes.
     */
    value: {
      immediate: true,
      handler (value) {
        // Check if value is instance of array.
        if (this.locales.length === 0 && value instanceof Array) {
          // Get all available locales in base of current value.
          this.availableLocales = value.map(item => item.language)
        }
      }
    },

    /**
     * Watch locales changes.
     */
    locales: {
      immediate: true,
      handler (value) {
        // Check if values are available.
        if (value.length > 0) {
          // Get all available locales in base of current value.
          this.availableLocales = value
        }
      }
    }
  },

  /**
   * Computed variables.
   */
  computed: {
    /**
     * Editable value.
     */
    editableValue: {
      /**
       * Getter.
       * @return {string}
       */
      get () {
        return this.$filters.getMatchingTranslation({
          value: this.value,
          locale: this.currentLocale,
          disableFallback: true
        })
      },

      /**
       * Setter.
       * @param value
       */
      set (value) {
        // Get original value.
        const originalValue = Array.isArray(this.value) === true
          ? this.value
          : []

        // Get prepared value.
        const preparedValue = this.$filters.updateMatchingTranslation({
          value: originalValue,
          text: value,
          locale: this.currentLocale
        })

        // Emit input event.
        this.$emit('input', preparedValue)
        // Emit input event.
        this.$emit('change', preparedValue)
      }
    },
    projectLanguage () {
      return this.$store.getters['app/projectLanguage']
    },
    isRequired () {
      return this.requiredLocales.includes(this.currentLocale) || this.required
    }
  },

  /**
   * Methods.
   */
  methods: {
    /**
     * Get language code in base of locale.
     *
     * @param locale
     * @return {string}
     */
    getLanguageCode (locale) {
      // Return upper case language code.
      return String((locale || []).split('-')?.[0]).toUpperCase()
    },

    /**
     * Get country code in base of locale.
     *
     * @param locale
     * @return {string}
     */
    getCountryCode (locale) {
      // Return upper case country code.
      return String((locale || []).split('-')?.[1]).toUpperCase()
    },

    /**
     * Define close conditional for click outside event.
     */
    closeConditional () {
      // Return state.
      return this.initialFocus === true
    },

    /**
     * Handle on click outside event.
     *
     * @param event
     */
    onClickOutside (event) {
      // Check if initial focus is true.
      if (this.initialFocus === true) {
        // Set initial focus to false.
        this.initialFocus = false
        // Emit blur event.
        this.$emit('blur', event)
      }
    },

    /**
     * Focus editor.
     */
    focus () {
      // Wait for next tick.
      this.$nextTick(() => {
        // Check if input exists.
        if (this.$refs?.input) {
          // Focus input.
          this.$refs.input.focus()
          // Set initial focus to true.
          this.initialFocus = true
        }
      })
    },
    setCurrentLocale (locale) {
      this.currentLocale = locale
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .required .v-label:after {
  content: "*";
  font-weight: bold;
  color: var(--v-error-base);
}

::v-deep .editable-text-field .v-input--dense .language-button {
  top: -4px;

  > .v-btn {
    height: 24px;
  }
}
</style>
