<template>
  <div class="text-editor-renderer" :class="{'disabled': disabled}">
    <slot/>
  </div>
</template>

<script>

export default {
  name: 'TextEditorRenderer',

  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>

.text-editor-renderer:not(.disabled) ::v-deep {
  word-break: break-word;

  blockquote {
    border-left: 5px solid rgba(0, 0, 0, .1);
    padding-left: 0.8rem;
  }

  pre {
    white-space: pre-wrap;
    padding: 0.7rem 1rem;
    margin-bottom: 0.7rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);

    code {
      background: transparent;
      font-size: 0.8rem;
      font-weight: 400;
      padding: 0;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin: 0 0 16px 0;
    overflow: hidden;
  }

  td, th {
    min-width: 1em;
    border: 2px solid #ddd;
    padding: 3px 5px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

    > * {
      margin-bottom: 0;
    }
  }

  .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
  }

  p.is-editor-empty:first-child::before {
    content: attr(data-empty-text);
    position: absolute;
    left: 0;
    top: 0;
    color: darkgrey;
    pointer-events: none;
    height: 0;
    font-size: 16px;
  }

  ul, li {
    p {
      margin: 0;
    }
  }

  ul, ol, p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
  }

  .__artdecor__a__inline__artifact {
    border-radius: 16px;
    color: gray !important;
    padding: .3rem .6rem .3rem .6rem;
    // pointer-events: none;
    text-decoration: none;
  }
  .__artdecor_ds {
     background-color: #E8F5E9; // green lighten 5
  }
  .__artdecor_ds::before {
    font-family: 'Material Design Icons';
    content: "\F00BE\ ";
  }
  .__artdecor_vs {
    background-color: #E3F2FD; // blue lighten 5
  }
  .__artdecor_vs::before {
    font-family: 'Material Design Icons';
    content: "\F02D1\ ";
  }
  .__artdecor_cs {
    background-color: #E3F2FD; // blue lighten 5
  }
  .__artdecor_cs::before {
    font-family: 'Material Design Icons';
    content: "\F027A\ ";
  }

  .__artdecor_cm {
    background-color: #E3F2FD; // blue lighten 5
  }
  .__artdecor_cm::before {
    font-family: 'Material Design Icons';
    content: "\F08F0\ ";
  }

  .__artdecor_tm {
    background-color: #FFEBEE; // red lighten 5
  }
  .__artdecor_tm::before {
    font-family: 'Material Design Icons';
    content: "\F044C\ ";
  }

  img {
    max-width: 100%;
  }

}
</style>
