<template>
  <v-card class="elevation-0" :class="{compactTreetable: compact}">
    <v-card-title class="px-0">
      <AdButton type="expand" list medium @click="expandAll" darker :disabled="!allowExpandAll"/>
      <AdButton type="collapse" list medium @click="collapseAll" darker :disabled="!allowExpandAll"/>

      <slot name="buttons"></slot>

      <v-spacer></v-spacer>

      <v-text-field
        :value="search"
        class="xmax-300"
        append-icon="mdi-magnify"
        :label="$t('search')"
        single-line
        hide-details
        solo
        dense
        clearable
        @click:clear="search = ''"
        @input="onSearch"
      ></v-text-field>
    </v-card-title>

    <div class="d-flex flex-row table-layer-wrapper" :class="{'select-mode': selectMode}">
      <div ref="tableLayer"
           class="table-layer"
           :class="{
             'fixed-header': fixedHeader,
             'auto-grow': tableHeightAutoGrow,
           }"
           :style="`
             --width: ${resize.width}px;
             --overflow: ${tableHeight ? 'auto' : 'hidden'};
             --offset: ${tableHeightAutoGrow || '0px'};
             --height: ${!tableHeightAutoGrow ? (tableHeight || 'auto') : '100%'};
             --min-height: ${tableHeight || '0px'};
           `">
        <div v-if="selectMode" ref="resizeHandle" class="tree-table-resize-handle" :class="{ 'active': resize.active }"/>
        <v-data-table
          v-if="visible"
          v-model="selected"
          :headers="headers"
          :items="visibleFlattenItemsLimited"
          class="tree-table"
          :item-key="`data.${itemKey}`"
          hide-default-footer
          disable-pagination
          disable-sort
          single-select
          :fixed-header="fixedHeader"
          :loading="loading"
        >
          <template
            v-if="tableHeight && startHeight > 0"
            v-slot:body.prepend
          >
            <tr>
              <td
                :colspan="headers.length"
                :style="`padding-top: ${startHeight}px;`"
              />
            </tr>
          </template>

          <template
            v-if="tableHeight && startIndex + perPage < this.visibleFlattenItems.length"
            v-slot:body.append
          >
            <tr>
              <td
                :colspan="headers.length"
                :style="`padding-top: ${endHeight}px;`"
              />
            </tr>
          </template>

          <template v-for="(_, slot) of $scopedSlots" v-slot:[slot]="scope">
            <slot :name="slot" v-bind="scope"/>
          </template>

          <template #no-data>
            <slot name="no-data"/>
          </template>

          <template v-slot:item="{item}">
            <tr
              :data-id="item.data.id"
              @click="selectActiveItem(item)"
            >
              <td :class="{'grey lighten-4': isActiveItem(item)}" :style="`--level: ${item.level || 0}`">
                <v-tooltip
                  top
                  :open-on-click="false"
                  :open-on-focus="false"
                  open-delay="1200"
                  nudge-bottom="15"
                  color="rgba(0,0,0, 0.9)"
                  :disabled="!tooltipIds[getIndex(item)]"
                >
                  <template #activator="{on}">
                    <div v-on="on" class="tree-table-toggle" :data-tree-table-activator="getIndex(item)">
                      <div class="tree-table-toggle-levels">
                        <template v-for="level of item.level">
                          <div :key="level" class="tree-table-toggle-level"/>
                        </template>
                      </div>

                      <div class="tree-table-toggle-content" :class="{ 'contains-children': item.containsChildren }">
                        <div class="tree-table-toggle-content-levels">
                          <v-btn
                            v-if="item.containsChildren"
                            class="tree-table-toggle-button"
                            small
                            icon
                            @click.stop="toggleOpen(item)"
                          >
                            <v-icon v-if="isItemOpen(item)">mdi-menu-down</v-icon>
                            <v-icon v-else>mdi-menu-right</v-icon>
                          </v-btn>
                          <div
                            v-else
                            class="tree-table-toggle-level-last"
                            :class="{'tree-table-toggle-level-last-final': item.isLastItem}"
                          />
                        </div>

                        <div class="tree-table-toggle-content-value"
                             :class="{'tree-table-toggle-content-value': !item.containsChildren}">
                          <slot :name="`item.${firstHeaderColumn.value}`" :item="item.data">
                            {{ $filters.get(item.data, firstHeaderColumn.value) }}
                          </slot>
                        </div>
                      </div>
                    </div>
                  </template>
                  <slot :name="`item.${firstHeaderColumn.value}`" :item="item.data">
                    {{ $filters.get(item.data, firstHeaderColumn.value) }}
                  </slot>
                </v-tooltip>
              </td>

              <template v-for="(header, index) of additionalHeaderColumns">
                <td v-if="header.visible(item.data)" :key="index" :colspan="header.colspan(item.data)">
                  <slot :name="`item.${header.value}`" :item="$filters.get(item, 'data', {})">
                    {{ $filters.get(item.data, header.value) }}
                  </slot>
                </td>
              </template>
            </tr>
          </template>
        </v-data-table>
      </div>
      <div v-if="selectMode" class="active-item-layer">
        <div class="active-item-inner">
          <slot name="active-item" :item="activeItem"/>
        </div>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  /**
   * Component properties.
   */
  props: {
    value: {
      type: Object,
      default: undefined
    },
    compact: {
      type: Boolean,
      default: false
    },
    fixedHeader: {
      type: Boolean,
      default: false
    },
    headers: {
      type: Array,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    itemKey: {
      type: String,
      required: false,
      default: 'id'
    },
    itemText: {
      type: String,
      required: false,
      default: 'name'
    },
    itemChildren: {
      type: String,
      required: false,
      default: undefined
    },
    selectMode: {
      type: Boolean,
      required: false,
      default: false
    },
    itemVisible: {
      type: Function,
      required: false,
      default: undefined
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    tableHeight: {
      type: String,
      required: false
    },
    tableHeightAutoGrow: {
      type: String,
      required: false,
      default: undefined
    }
  },

  data () {
    return {
      openIdCount: 0,
      openIds: new Map(),
      search: '',
      searchTimeout: null,
      visible: true,
      selected: [],
      activeItem: null,
      initialLoaded: false,
      timeoutHandler: null,
      resize: { width: 400 },
      tooltipIds: {},
      wrapper: null,
      // virtual scrolling variables.
      startIndex: 0,
      endIndex: 0,
      rowHeight: 49,
      containerHeight: 400,
      perPage: 25,
      offsetCount: 50
    }
  },

  computed: {
    /**
     * Calculates the starting height based on the current state of the object.
     * @returns {number} The calculated starting height.
     */
    startHeight () {
      const startHeight = (this.startIndex - this.offsetCount) * this.rowHeight
      return Math.max(0, startHeight)
    },

    /**
     * Returns the end height of a container based on various parameters.
     * @returns {number} The calculated end height of the container.
     */
    endHeight () {
      const endHeight = (this.rowHeight * (this.endIndex - this.offsetCount))
      const startAndContainerHeight = this.startHeight - this.containerHeight
      return Math.max(0, endHeight - startAndContainerHeight)
    },

    /**
     * Determines whether the expand all functionality is allowed.
     * @returns {boolean} True if expand all is allowed, false otherwise.
     */
    allowExpandAll () {
      return (this.allIds?.length || 0) > 0
    },

    /**
     * Get first header column.
     */
    firstHeaderColumn () {
      return this.headers?.[0]
    },

    /**
     * Get additional header column.
     */
    additionalHeaderColumns () {
      // Return additional header column names.
      return this.headers.slice(1).map((header) => ({
        ...header,
        visible: header?.visible instanceof Function
          ? header?.visible
          : () => !!header?.visible || true,
        colspan: header?.colspan instanceof Function
          ? header?.colspan
          : () => header?.colspan || 1
      }))
    },

    /**
     * Get flatten item structure.
     * @returns {FlatArray<*[], 1>[]}
     */
    flattenItems () {
      return this.items.map((item) => {
        return this.getFlattenItem(item)
      }).flat()
    },

    /**
     * Get visible flatten items.
     * @returns {FlatArray<*[], 1>[]}
     */
    visibleFlattenItems () {
      // Check if search is active.
      const isSearch = !!this.search && this.search.length > 0

      // Only return visible flatten items.
      return this.flattenItems.filter((item) => {
        // Get item text.
        const itemText = JSON.stringify(this.getFlattenItem(item?.data).map((item) => item?.data?.[this.itemText]))
        // Check if search is matching.
        const isVisible = String(itemText).toLowerCase().search(String(this.search).toLowerCase()) >= 0
        // Check if item is visible by function.
        const itemIsVisible = this.itemVisible instanceof Function
          ? this.itemVisible(item?.data)
          : true

        // Return state if item is visible.
        return (
          (item?.parentId === null || this.isParentOpen(item?.parentId)) && itemIsVisible && (
            isSearch === false || (isSearch === true && isVisible === true)
          )
        )
      })
    },

    /**
     * Returns a limited subset of flattened visible items.
     * @returns {FlatArray<*[], 1>[]} Array containing a limited subset of flattened visible items.
     */
    visibleFlattenItemsLimited () {
      if (!this.tableHeight) return this.visibleFlattenItems
      const startIndex = Math.max(0, this.startIndex - this.offsetCount)
      const endIndex = startIndex + this.perPage + (this.offsetCount * 2)
      return this.visibleFlattenItems.slice(startIndex, endIndex)
    },

    /**
     * Get all available ids.
     * @return {[]}
     */
    allIds () {
      // Return list of all ids.
      return this.flattenItems.map((item) => ({
        itemId: item?.data?.[this.itemKey],
        parentId: item?.parentId
      }))
    }
  },

  watch: {
    value: {
      immediate: false,
      deep: true,
      handler (activeItem) {
        // Set active item.
        this.activeItem = activeItem

        // Check if initial loaded is false.
        if (!this.initialLoaded) {
          // Set initial loaded.
          this.initialLoaded = true
          // Get active flatten item.
          const activeFlattenItem = this.flattenItems.find((item) => item?.data?.[this.itemKey] === this.activeItem?.[this.itemKey])
          // Generate open ids for current active item.
          if (activeFlattenItem?.parentIds && !this.openIds.has(activeFlattenItem?.parentIds)) {
            this.openIds.set(activeFlattenItem?.parentIds, null)
          }
        }
      }
    },

    flattenItems: {
      immediate: true,
      deep: true,
      handler () {
        // Calculate current end count.
        this.calculateCurrentEndCount()
      }
    }
  },

  updated () {
    // Wait for next tick.
    this.$nextTick(() => {
      // Clear existing timeout.
      window.clearTimeout(this.timeoutHandler)
      // Wait a second.
      this.timeoutHandler = window.setTimeout(() => {
        // Reset tooltip ids.
        this.tooltipIds = {}
        // Get all activators.
        const activators = document.querySelectorAll('[data-tree-table-activator]')
        // Loop all activators.
        for (const activator of Array.from(activators)) {
          // Get content value.
          const contentValue = activator?.querySelector('.tree-table-toggle-content-value')
          // Check if ellipsis is active.
          const isEllipsis = contentValue.offsetWidth < contentValue.scrollWidth
          // Get id of activator.
          const id = activator.getAttribute('data-tree-table-activator')
          // Set information if text is larger than available space to tooltip ids.
          this.$set(this.tooltipIds, id, isEllipsis)
        }
      }, 1000)
    })
  },

  /**
   * Attaches event listeners and initializes calculations
   * @return {void}
   */
  mounted () {
    this.wrapper = this.$el.querySelector('.v-data-table__wrapper')
    this.wrapper.addEventListener('scroll', this.onScroll)
    window.addEventListener('resize', this.calculatePerPageCount)
    window.addEventListener('mousemove', this.onResize)
    window.addEventListener('mousedown', this.onResizeStart)
    window.addEventListener('mouseup', this.onResizeEnd)
    this.calculatePerPageCount()
  },

  /**
   * Executes before the component is destroyed.
   * This method removes event listeners and performs cleanup tasks specific to the component's functionality.
   * @return {void}
   */
  beforeDestroy () {
    this.wrapper = this.$el.querySelector('.v-data-table__wrapper')
    this.wrapper.removeEventListener('scroll', this.onScroll)
    window.removeEventListener('resize', this.calculatePerPageCount)
    window.removeEventListener('mousemove', this.onResize)
    window.removeEventListener('mousedown', this.onResizeStart)
    window.removeEventListener('mouseup', this.onResizeEnd)
  },

  methods: {
    onResizeStart (event) {
      if (event.target === this.$refs.resizeHandle) {
        const resize = { ...(this.resize || {}) }
        resize.active = true
        resize.startX = event.clientX
        resize.startWidth = this.$refs.tableLayer?.offsetWidth
        resize.maxWidth = Math.round(this.$el?.offsetWidth * 0.8)
        this.$set(this, 'resize', resize)
        this.$refs.tableLayer.style.pointerEvents = 'none'
        this.$refs.tableLayer.style.userSelect = 'none'
      }
    },

    onResizeEnd () {
      const resize = { ...(this.resize || {}) }
      if (resize.active) {
        resize.active = false
        this.$set(this, 'resize', resize)
        this.$refs.tableLayer.style.pointerEvents = 'auto'
        this.$refs.tableLayer.style.userSelect = 'auto'
      }
    },

    onResize (event) {
      window.requestAnimationFrame(() => {
        const resize = { ...(this.resize || {}) }
        if (resize.active) {
          event.preventDefault()
          resize.diffX = event.clientX - resize.startX
          resize.diffWidth = resize.startWidth + resize.diffX
          resize.width = Math.min(resize.maxWidth, Math.max(400, resize.diffWidth))
          this.$set(this, 'resize', resize)
        }
      })
    },

    /**
     * Get index of item based on level and index.
     * @param item
     * @returns {string}
     */
    getIndex (item) {
      // Get item info via list helper.
      const itemInfo = this.$filters.listHelper.listHelper({
        items: this.visibleFlattenItems,
        children: this.itemChildren,
        handler: (currentItem) => currentItem === item
      })

      // Return index.
      return `index-tree-table-${itemInfo?.level}-${itemInfo?.index}`
    },

    /**
     * Calculate the number of items per page based on the height of the container and the height of each row.
     * @return {void}
     */
    calculatePerPageCount () {
      const container = this.$el.querySelector('.v-data-table__wrapper')
      this.containerHeight = container.getBoundingClientRect().height
      this.perPage = Math.ceil(this.containerHeight / this.rowHeight)
    },

    /**
     * Calculate the current end count of the visibleFlattenItems array.
     * @return {void}
     */
    calculateCurrentEndCount () {
      this.$nextTick(() => {
        this.endIndex = this.visibleFlattenItems.length
      })
    },

    /**
     * Handles the scroll event.
     * @param {Event} e - The scroll event object.
     */
    onScroll (e) {
      console.log(this.containerHeight)
      // Request animation frame to not block the main thread.
      window.requestAnimationFrame(() => {
        // Recalculate the number of items per page.
        // This is important because the tree table can have auto grow
        // for the height. To avoid side effects, we need to recalculate.
        this.calculatePerPageCount()
        // Get the current scroll position.
        const { scrollTop } = e.target
        // Calculate the current row index.
        const rows = Math.ceil(scrollTop / this.rowHeight)
        // Set the start index based on the current scroll position.
        this.startIndex = rows + this.perPage > this.visibleFlattenItems.length
          ? this.visibleFlattenItems.length - this.perPage
          : rows

        // Set scroll position to the current start index.
        this.$nextTick(() => {
          e.target.scrollTop = scrollTop
        })
      })
    },

    /**
     * Get flatten item structure.
     * @param item
     * @param parentId
     * @param parentIds
     * @param level
     * @returns {[(*&{level: (*|number)})]}
     */
    getFlattenItem (item, parentId, parentIds, level) {
      // Define children.
      const children = []
      // Get the item id.
      const itemId = item?.[this.itemKey] || null
      // Check if current item contains children.
      const containsChildren = !!this.itemChildren === true &&
        Array.isArray(item?.[this.itemChildren]) === true &&
        item?.[this.itemChildren].length > 0

      // Get parsed parent id.
      const parsedParentId = parentId !== undefined
        ? parentId
        : null

      // Get parsed parent ids.
      const parsedParentIds = Array.isArray(parentIds) === true
        ? [...parentIds, parentId]
        : []

      // Get parsed level.
      const parsedLevel = level !== undefined
        ? (level + 1)
        : 0

      // Check if item contains children.
      if (containsChildren === true) {
        // Push each flatten children item.
        children.push(...item?.[this.itemChildren].map((subItem) => {
          return [...this.getFlattenItem(subItem, itemId, parsedParentIds, parsedLevel)]
        }).flat())

        // Get last children index.
        const lastIndex = children.length - 1
        // Set is last item to true on last index.
        children[lastIndex].isLastItem = true
      }

      // Return flatten item structure.
      return [{
        data: item,
        parentId: parsedParentId,
        parentIds: parsedParentIds,
        level: parsedLevel,
        containsChildren,
        isLastItem: false
      }, ...children]
    },

    /**
     * Check if parent is open.
     * @param id
     * @returns {boolean|*}
     */
    isParentOpen (id) {
      // Try to find parent id.
      const parentId = this.openIdCount > 0 && this.openIds.get(id)
      // Return state if id is open.
      return parentId
        ? this.isParentOpen(parentId)
        : this.openIds.has(id)
    },

    /**
     * Check if item is open.
     * @param item
     * @returns {boolean}
     */
    isItemOpen (item) {
      return this.openIds.has(item?.data?.[this.itemKey])
    },

    /**
     * Toggle item open state.
     * @param item
     */
    toggleOpen (item) {
      // Get item id.
      const itemId = item?.data?.[this.itemKey]
      // Get parent id.
      const parentId = item?.parentId

      // Check if index is not undefined.
      if (this.openIds.has(itemId)) {
        // Remove open id.
        this.openIds.delete(itemId)
      } else {
        // Check if item id is not in open ids.
        if (!this.openIds.has(itemId)) {
          // Push item id to open ids.
          this.openIds.set(itemId, parentId)
        }
      }

      // Set open id count.
      this.openIdCount = this.openIds.size
      // Calculate current end count.
      this.calculateCurrentEndCount()
    },

    /**
     * On search event.
     */
    onSearch (search) {
      // Clear timeout.
      clearTimeout(this.searchTimeout)
      // Get search length.
      const length = Math.min(String(search).length, 10)
      // Define default delay.
      let delay = length > 0 ? 2000 : 0
      // Loop search length.
      for (let i = 1; i <= length; i++) {
        // Divide delay.
        delay /= i
      }

      // Register timeout.
      this.searchTimeout = setTimeout(() => {
        // Check if is search is true.
        if (!!search && search.length > 0) {
          // Set open ids in base of current search term.
          this.flattenItems.filter((item) => {
            // Get item text.
            const itemText = JSON.stringify(this.getFlattenItem(item?.data).map((item) => item?.data?.[this.itemText]))
            // Check if search is matching.
            const isVisible = String(itemText).toLowerCase().search(String(search).toLowerCase()) >= 0

            // Return state if item is visible.
            return isVisible === true
          }).forEach((item) => item?.data?.[this.itemKey])
        } else {
          // Clear open ids.
          this.openIds.clear()
        }

        // Set search.
        this.search = search
        // Calculate current end count.
        this.calculateCurrentEndCount()
      }, delay)
    },

    /**
     * Expands all items in the tree.
     * @return {void}
     */
    expandAll () {
      // Loop all ids and set open ids.
      this.allIds.forEach(({ itemId, parentId }) => {
        if (!this.openIds.has(itemId)) {
          this.openIds.set(itemId, parentId)
        }
      })

      // Set open id count.
      this.openIdCount = this.openIds.size
      // Calculate current end count.
      this.calculateCurrentEndCount()
    },

    /**
     * Collapses all items in a list.
     * @return {void}
     */
    collapseAll () {
      // Clear open ids.
      this.openIds.clear()
      // Set open id count.
      this.openIdCount = this.openIds.size
      // Calculate current end count.
      this.calculateCurrentEndCount()
    },

    /**
     * Selects an active item and triggers the 'selected' and 'input' events.
     * @param {Object} item - The item to be selected.
     * @returns {void}
     */
    selectActiveItem (item) {
      if (this.selectMode) {
        this.activeItem = item?.data
        this.selected = [item]
        this.$emit('selected', this.activeItem)
        this.$emit('input', this.activeItem)
      }
    },

    /**
     * Checks if the provided item is the active item.
     * @param {object} item - The item to be checked for active status.
     * @returns {boolean} - True if the provided item is active, otherwise false.
     */
    isActiveItem (item) {
      // return this.activeItem?.id === item?.data?.id
      return this.activeItem?.[this.itemKey] === item?.data?.[this.itemKey]
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .table-layer table {
  tr td:first-child {
    padding-left: 0 !important;
  }
}

.tree-table-toggle {
  height: 100%;
  min-height: 48px;
  display: flex;

  .tree-table-toggle-content {
    display: flex;
    align-items: center;

    .tree-table-toggle-button {
      width: 24px;
      height: 24px;
    }
  }

  .tree-table-toggle-levels {
    position: relative;
    display: flex;

    &:before {
      content: '';
      position: absolute;
      left: -24px;
      top: 0;
      width: calc(100% + 24px);
      height: calc(100% + 2px);
      background-color: #ffffff;
    }
  }

  .tree-table-toggle-content-levels {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100% + 2px);
      background-color: #ffffff;
    }
  }

  .tree-table-toggle-level,
  .tree-table-toggle-level-last {
    position: relative;
    width: 24px;
    height: 100%;

    &:before {
      content: "";
      position: absolute;
      left: 11px;
      top: 0;
      height: 100%;
      border-left: 1px dotted #aaaaaa;
    }
  }

  .tree-table-toggle-level-last-final {
    top: 0;
    height: 50%;
    align-self: start;
  }

  .tree-table-toggle-content:not(.contains-children) {
    .tree-table-toggle-content-value {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -12px;
        top: 50%;
        width: 10px;
        border-top: 1px dotted #aaaaaa;
      }
    }
  }
}

.table-layer-wrapper {
  position: relative;
  width: 100%;

  .table-layer {
    position: sticky;
    top: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: min(calc(100vh - var(--offset)), var(--min-height));
    max-height: calc(100vh - var(--offset));
    overflow: auto;

    ::v-deep .v-data-table__wrapper {
      height: var(--height);
      overflow-x: hidden;
      overflow-y: var(--overflow);
    }

    &:not(.auto-grow) {
      max-height: var(--height);
    }

    &.auto-grow .tree-table {
      position: absolute;
      right: 2px;
      width: 100%;
      height: 100%;
    }

    .v-data-table {
      ::v-deep tr.v-data-table__selected {
        background: transparent;
      }
    }
  }
}

.select-mode {
  .table-layer {
    width: var(--width);
    flex: 0 0 var(--width);
  }

  .table-layer .tree-table-toggle,
  .table-layer .tree-table-toggle .tree-table-toggle-content {
    max-width: calc(var(--width) - calc(var(--level) * 24px) - 20px);
  }

  .table-layer {
    position: sticky;
    top: 130px;
    margin-right: 20px;
    padding-right: 2px;
    flex-grow: 0;

    ::v-deep .v-data-table__wrapper {
      padding-right: 20px;

      td {
        padding-right: 0;
      }
    }

    ::v-deep .tree-table table {
      .tree-table-toggle-content-value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }

    .tree-table-resize-handle {
      position: absolute;
      top: 0;
      right: 0;
      border-left: 2px solid #eeeeee;
      width: 4px;
      height: 100%;
      cursor: ew-resize;
      z-index: 10;
      transition: background ease-in-out 0.2s;

      &.active,
      &:hover {
        background: #88888844;
      }
    }

    ::v-deep tr {
      cursor: pointer;

      &.v-data-table__selected {
        background: #f5f5f5;
      }

      td {
        white-space: nowrap;
      }
    }
  }

  .active-item-layer {
    flex-grow: 1;
  }
}

.compactTreetable ::v-deep .v-data-table {
  --row-height: 26px;

  > .v-data-table__wrapper > table > thead > tr > th {
    height: var(--row-height);
  }

  > .v-data-table__wrapper > table > tbody > tr > td {
    height: var(--row-height);
    padding-block: 2px;

    &:has(.tree-table-toggle) {
      padding-block: 0;
    }

    .tree-table-toggle {
      min-height: var(--row-height);

      .tree-table-toggle-levels::before {
        height: calc(100% + 4px);
      }

      .v-icon {
        font-size: 20px;
      }
    }

    > * {
      margin: unset !important;
    }
  }
}
</style>
